Repository stackrox/stackrox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stackrox/core-workflows, @stackrox/sensor-ecosystem, @zivnevo, @adisos, @shireenf-ibm, @janisz, @stackrox/ui, @stackrox/install, @stackrox/scanner, @stackrox/rhtap-maintainers

Revert "enable real time logs"
  tests/e2e/run-scanner-v4-install.sh
Owners: none

format utils
  roxctl/main.go
  roxctl/utils/help_formatter.go
  roxctl/utils/help_formatter_test.go
  roxctl/utils/indent_writer.go
  roxctl/utils/utils.go
  roxctl/utils/utils_test.go
Owners: @stackrox/sensor-ecosystem

Remove default boolean patch
  roxctl/main.go
  roxctl/main_test.go
  roxctl/patch_flag_usage.go
Owners: @stackrox/sensor-ecosystem

format command groups
  roxctl/utils/help_formatter.go
  roxctl/utils/help_formatter_test.go
Owners: @stackrox/sensor-ecosystem

Added unit tests for null, wildcard, and empty string
  pkg/search/postgres/query/test/uuid_query_test.go
Owners: @stackrox/core-workflows

rewritten bats tests
  roxctl/maincommand/command.go
  tests/roxctl/bats-tests/local/central-boolean-defaults.bats
  tests/roxctl/bats-tests/local/central-help-output.bats
  tests/roxctl/bats-tests/local/expect/roxctl--help.txt
  tests/roxctl/bats-tests/local/expect/roxctl_central_whoami--help.txt
  tests/roxctl/bats-tests/local/expect/roxctl_declarative-config_create_notifier_generic--help.txt
Owners: @stackrox/sensor-ecosystem

ignore trailing whitespaces in roxctl output
  tests/roxctl/bats-tests/local/expect/.gitattributes
Owners: @stackrox/sensor-ecosystem

fixed some bats tests
  tests/roxctl/bats-tests/local/roxctl-helm-output-central-development.bats
  tests/roxctl/bats-tests/local/roxctl-helm-output-central-release.bats
Owners: @stackrox/sensor-ecosystem

ignore main command help captialization check
  roxctl/maincommand/command_test.go
Owners: @stackrox/sensor-ecosystem

Fixed style error
  pkg/search/postgres/query/test/uuid_query_test.go
Owners: @stackrox/core-workflows

ROX_COLLECTOR_INTROSPECTION_ENABLE should be set in dev from environent variable
  deploy/common/k8sbased.sh
Owners: none

a nightly update script
  .github/workflows/tagged-ci.yaml
  .openshift-ci/nightlies.sh
Owners: none

Removed some asserts
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Owners: @janisz

Update SCANNER_VERSION
  SCANNER_VERSION
Owners: @stackrox/scanner

use merged commit
  go.mod
  go.sum
Owners: none

ROX-28156: Remove reassess code in Sensor (#14328)
  generated/internalapi/central/sensor_iservice.pb.go
  generated/internalapi/central/sensor_iservice_vtproto.pb.go
  proto/internalapi/central/sensor_iservice.proto
  sensor/common/detector/detector.go
  sensor/common/detector/mocks/detector.go
  sensor/kubernetes/eventpipeline/pipeline_impl.go
  sensor/kubernetes/eventpipeline/pipeline_test.go
Owners: @stackrox/sensor-ecosystem

Update deploy/common/k8sbased.sh
  deploy/common/k8sbased.sh
Owners: none

Renamed prio class for collector to stackrox-collector-dev.
  deploy/common/k8sbased.sh
Owners: none

Enable image prefetching for scanner V4 install tests.
  scripts/ci/lib.sh
Owners: none

tests the command tree and flags
  roxctl/maincommand/command_test.go
  roxctl/maincommand/commands_tree.yaml
Owners: @stackrox/sensor-ecosystem

add global flags to the command tree test
  roxctl/maincommand/command_test.go
  roxctl/maincommand/commands_tree.yaml
Owners: @stackrox/sensor-ecosystem

original commands_tree.yaml
  roxctl/maincommand/commands_tree.yaml
Owners: @stackrox/sensor-ecosystem

fix bats tests
  tests/roxctl/bats-tests/helpers.bash
  tests/roxctl/bats-tests/local/expect/roxctl--help.txt
  tests/roxctl/bats-tests/local/expect/roxctl_declarative-config_create_notifier_generic--help.txt
Owners: @stackrox/sensor-ecosystem

don't hide inherited flags
  roxctl/central/central.go
  roxctl/central/debug/download_diagnostics_test.go
  roxctl/cluster/delete/delete.go
  roxctl/common/auth/token_test.go
  roxctl/common/flags/api_token_file.go
  roxctl/common/flags/auth_flags.go
  roxctl/common/flags/endpoint.go
  roxctl/common/flags/env_flag_test.go
  roxctl/common/flags/hide.go
  roxctl/common/flags/password.go
  roxctl/completion/completion.go
  roxctl/declarativeconfig/create/access_scope.go
  roxctl/declarativeconfig/create/auth_provider.go
  roxctl/declarativeconfig/create/create.go
  roxctl/declarativeconfig/create/permission_set.go
  roxctl/declarativeconfig/create/role.go
  roxctl/declarativeconfig/declarativeconfig.go
  roxctl/declarativeconfig/lint/lint.go
  roxctl/doc/generate.go
  roxctl/image/sbom/sbom_test.go
  roxctl/logconvert/logconvert.go
  roxctl/maincommand/command.go
  roxctl/scanner/downloaddb/downloaddb_test.go
  roxctl/scanner/uploaddb/uploaddb_test.go
  roxctl/utils/help_formatter_test.go
Owners: @stackrox/sensor-ecosystem

new commands tree
  roxctl/maincommand/commands_tree.yaml
Owners: @stackrox/sensor-ecosystem

ROX-27526: CVE data model create read only datastores pr 4 (#14335)
  central/cve/image/v2/datastore/datastore.go
  central/cve/image/v2/datastore/datastore_impl.go
  central/cve/image/v2/datastore/mocks/datastore.go
  central/cve/image/v2/datastore/search/mocks/searcher.go
  central/cve/image/v2/datastore/search/searcher.go
  central/cve/image/v2/datastore/search/searcher_impl.go
  central/cve/image/v2/datastore/singleton.go
  central/cve/image/v2/datastore/store/mocks/store.go
  central/cve/image/v2/datastore/store/store.go
  central/imagecomponent/v2/datastore/datastore.go
  central/imagecomponent/v2/datastore/datastore_impl.go
  central/imagecomponent/v2/datastore/mocks/datastore.go
  central/imagecomponent/v2/datastore/search/mocks/searcher.go
  central/imagecomponent/v2/datastore/search/searcher.go
  central/imagecomponent/v2/datastore/search/searcher_impl_v2.go
  central/imagecomponent/v2/datastore/singleton.go
Owners: none

refactor: extract access control pattern common to 3 write operations (#14326)
  central/vulnmgmt/vulnerabilityrequest/datastore/datastore_impl.go
Owners: @stackrox/core-workflows

update image store
  central/image/datastore/store/common/metrics.go
  central/image/datastore/store/v2/postgres/store.go
  central/image/datastore/store/v2/postgres/store_test.go
Owners: none

fix store
  central/image/datastore/store/common/v2/metrics.go
  central/image/datastore/store/v2/postgres/store.go
Owners: none

some test fixes
  central/image/datastore/store/postgres/store_test.go
  central/image/datastore/store/v2/postgres/store_test.go
Owners: none

ROX-28184: prune expired API tokens (#14340)
  central/apitoken/datastore/datastore.go
  central/postgres/pruning.go
  central/postgres/pruning_test.go
  central/pruning/pruning.go
  pkg/env/api_token.go
Owners: none

ROX-7442: check generated admin password (#14337)
  operator/tests/central/central-misc/010-central-cr.yaml
  operator/tests/central/central-misc/020-verify-password.yaml
  operator/tests/common/central-cr.yaml
Owners: @stackrox/install

pick up a fix
  go.mod
  go.sum
Owners: none

ROX-28206: Extract go version for local arm64 builds from go.mod
  Makefile
Owners: none

Support deployment outside of PR/nightly context.
  tests/e2e/lib.sh
Owners: none

Create image pull secrets if running outside of CI context.
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Fail gracefully if roxctl cannot be found with the correct version.
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Note on local execution
  tests/e2e/run-scanner-v4-install.bats
Owners: none

perf(pool): MsgFromSensor Pool
  central/sensor/service/connection/connection_impl.go
  generated/internalapi/central/sensor_iservice_vtproto.pb.go
  make/protogen.mk
Owners: none

Update tests/e2e/run-scanner-v4-install.bats
  tests/e2e/run-scanner-v4-install.bats
Owners: none

.github/CODEOWNERS:

# For further documentation on CODEOWNERS, visit
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
# This will automatically assign a team / people as reviewers for PRs based on the files changed within the PR.

# Core team's main responsibilities include policies including default policies and policy management workflows,
# detection and alerting, integrations and notifiers, risk, vulnerability management and reporting, migrator and
# interactions with Postgres.
pkg/detection/**/*                  @stackrox/core-workflows
pkg/booleanpolicy/**/*              @stackrox/core-workflows
pkg/defaults/policies/**/*          @stackrox/core-workflows
central/policy/**/*                 @stackrox/core-workflows
central/reports/**/*                @stackrox/core-workflows
central/reportconfiguration/**/*    @stackrox/core-workflows
central/vulnmgmt/**/*               @stackrox/core-workflows
proto/storage/*                     @stackrox/core-workflows
migrator/**/*                       @stackrox/core-workflows
pkg/postgres/**/*                   @stackrox/core-workflows
tests/upgrade/*                     @stackrox/core-workflows
pkg/search/**/*                     @stackrox/core-workflows

# sensor-ecosystem main responsibilities include:
# administration events, authN (authproviders), authZ (SAC)
# cloud sources, declarative config, image signatures, images, netpol,
# observability, performance testing, roxctl, sensor and telemetry.
*/administration/**/*       @stackrox/sensor-ecosystem
*/auth/**/*                 @stackrox/sensor-ecosystem
*/cloudsources/**/*         @stackrox/sensor-ecosystem
*/declarativeconfig/**/*    @stackrox/sensor-ecosystem
*/discoveredclusters/**/    @stackrox/sensor-ecosystem
*/signatureintegration/**/* @stackrox/sensor-ecosystem
pkg/features/**/*           @stackrox/sensor-ecosystem
pkg/images/defaults/**/*    @stackrox/sensor-ecosystem
pkg/sac/**/*                @stackrox/sensor-ecosystem
pkg/signatures/**/*         @stackrox/sensor-ecosystem
roxctl/**/*                 @stackrox/sensor-ecosystem
sensor/**/*                 @stackrox/sensor-ecosystem
tests/performance/**/*      @stackrox/sensor-ecosystem
tests/roxctl/**/*           @stackrox/sensor-ecosystem

# Listing all users as "Outside collaborators cannot be added to a team"
bats-tests/local/roxctl-netpol-*               @zivnevo @adisos @shireenf-ibm
roxctl/netpol/**/*                             @zivnevo @adisos @shireenf-ibm
tests/roxctl/bats-tests/test-data/np-guard/    @zivnevo @adisos @shireenf-ibm

qa-tests-backend/**/*       @janisz

/ui/**/* @stackrox/ui

operator/**/* @stackrox/install

# Scanner team's responsibilities include anything related to the scanner itself and scanning utilities
# such as vulnerability uploading and image integrations.
/.github/workflows/scanner*                               @stackrox/scanner
/.github/workflows/update_scanner_periodic.yaml           @stackrox/scanner
/central/image/service/                                   @stackrox/scanner
/central/imageintegration/service/                        @stackrox/scanner
/central/imageintegration/store/defaults.go               @stackrox/scanner
/central/scannerdefinitions/                              @stackrox/scanner
/central/sensor/service/pipeline/imageintegrations/       @stackrox/scanner
/pkg/images/enricher/                                     @stackrox/scanner
/pkg/nodes/                                               @stackrox/scanner
/pkg/registries/                                          @stackrox/scanner
/pkg/registrymirror/                                      @stackrox/scanner
/pkg/scanners/                                            @stackrox/scanner
/pkg/scannerv4/                                           @stackrox/scanner
/pkg/scans/                                               @stackrox/scanner
/proto/internalapi/scanner/                               @stackrox/scanner
/proto/storage/delegated_registry_config.proto            @stackrox/scanner
/proto/storage/image.proto                                @stackrox/scanner
/proto/storage/image_integration.proto                    @stackrox/scanner
/scanner/                                                 @stackrox/scanner
/sensor/common/registry/                                  @stackrox/scanner
/sensor/common/scan/                                      @stackrox/scanner
/sensor/common/scannerclient/                             @stackrox/scanner
/sensor/common/scannerdefinitions/                        @stackrox/scanner
/sensor/kubernetes/listener/resources/registrymirrorsets* @stackrox/scanner
/sensor/kubernetes/listener/resources/secrets*            @stackrox/scanner
/SCANNER_VERSION                                          @stackrox/scanner

# The RHTAP maintainers for ACS review all changes related to the RHTAP pipelines, such as new pipelines,
# parameter changes or automated task updates.
/.tekton/   @stackrox/rhtap-maintainers
