Repository stackrox/stackrox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stackrox/core-workflows, @stackrox/sensor-ecosystem, @zivnevo, @adisos, @shireenf-ibm, @janisz, @stackrox/ui, @stackrox/install, @stackrox/scanner, @stackrox/rhtap-maintainers

Only spawn single post-processor
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Don't rewrite ERROR severity to INFO
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Remove empty function
  tests/e2e/run-scanner-v4-install.bats
Owners: none

fix alma
  go.mod
  go.sum
Owners: none

go mod
  tools/linters/go.mod
Owners: none

Remove logic to shorten ContainerID because ID is used in other places
  sensor/kubernetes/fake/deployment.go
Owners: @stackrox/sensor-ecosystem

disable entity store memory
  sensor/kubernetes/listener/resources/store_provider.go
Owners: @stackrox/sensor-ecosystem

Define interfaces and boilerplate stuff
  central/debugactions/env.go
  central/debugactions/manager/manager.go
  central/debugactions/manager/manager_impl.go
  central/debugactions/manager/mocks/manager.go
  central/debugactions/manager/singleton.go
  central/debugactions/service/service.go
  central/debugactions/service/service_impl.go
  central/debugactions/service/singleton.go
  central/main.go
  generated/api/v2/debug_action_service.swagger.json
  generated/api/v2/debug_action_service_grpc.pb.go
  proto/api/v2/debug_action_service.proto
Owners: none

Implement and refactor
  central/debugactions/manager/manager.go
  central/debugactions/manager/manager_impl.go
  central/debugactions/manager/mocks/manager.go
  central/debugactions/service/service_impl.go
  generated/api/v2/debug_action_service.pb.go
  generated/api/v2/debug_action_service.swagger.json
  generated/api/v2/debug_action_service_vtproto.pb.go
  proto/api/v2/debug_action_service.proto
Owners: none

Fix style and add test action
  central/debugactions/exec.go
  central/debugactions/manager/manager_impl.go
  central/reports/scheduler/v2/scheduler_impl.go
  proto/api/v2/debug_action_service.proto
Owners: @stackrox/core-workflows

define service protos
  generated/api/v2/debug_action_service.pb.go
  generated/api/v2/debug_action_service.pb.gw.go
  generated/api/v2/debug_action_service.swagger.json
  generated/api/v2/debug_action_service_grpc.pb.go
  generated/api/v2/debug_action_service_vtproto.pb.go
  proto/api/v2/debug_action_service.proto
Owners: none

chore(deps): upgrade go-jose to v4
  central/auth/m2m/kube_service_account.go
  pkg/auth/authproviders/iap/backend_impl.go
  pkg/auth/authproviders/validate_test.go
  pkg/auth/tokens/claims.go
  pkg/auth/tokens/issuer_factory.go
  pkg/auth/tokens/options.go
  pkg/cloudproviders/gcp/identity_token.go
  pkg/grpc/authn/extractor.go
  pkg/grpc/authn/extractor_test.go
  pkg/jwt/facade.go
  pkg/jwt/keys.go
  pkg/jwt/tokens.go
  sensor/common/certdistribution/service_impl.go
  sensor/kubernetes/sensor/deployment_identification.go
Owners: @stackrox/sensor-ecosystem

Fix cyclic dependency
  central/debugactions/manager/singleton.go
  central/debugactions/service/singleton.go
Owners: none

Exclude example rpmdb from SBOMs
  .syft.yaml
Owners: none

Extend the check script to validate syft exclusions
  .syft.yaml
  scripts/ci/jobs/check-konflux-setup.sh
Owners: none

Rename check-konflux-pipelines.sh
  .github/workflows/style.yaml
  .tekton/operator-bundle-pipeline.yaml
  scripts/ci/jobs/check-konflux-setup.sh
Owners: @stackrox/rhtap-maintainers

Refactor earlier checks for consistency
  scripts/ci/jobs/check-konflux-setup.sh
Owners: none

chore: use kuttl determine-ns-early branch
  operator/tools/kuttl/go.mod
  operator/tools/kuttl/go.sum
Owners: @stackrox/install

ROX-13493: Add admission controller support for Scale subresource (#1… (#14349)
  CHANGELOG.md
  sensor/admission-control/manager/evaluate_deploytime.go
  sensor/admission-control/manager/images.go
  sensor/admission-control/manager/responses.go
  sensor/admission-control/resources/deployment.go
Owners: @stackrox/sensor-ecosystem

ROX-27347: backport(release-4.6): Fix for new rep job failing (#13791)
  central/reports/scheduler/v2/scheduler_impl.go
Owners: @stackrox/core-workflows

ROX-26908: set operator fips-compliant:true [Backport release-4.6] (#13866)
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/config/ui-metadata/bases/rhacs-operator.clusterserviceversion.yaml
Owners: @stackrox/install

test: (scanner-v4-install) Use pretty real-time logging (#14424)
  tests/e2e/run-scanner-v4-install.bats
  tests/e2e/run-scanner-v4-install.sh
  tests/scripts/setup-certs.sh
Owners: none

ROX-28258: Fix segfault on Stop on stopped TLS issuer
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer.go
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer_test.go
Owners: @stackrox/sensor-ecosystem

set mem size to zero
  sensor/kubernetes/listener/resources/store_provider.go
Owners: @stackrox/sensor-ecosystem

ROX-28116: add POD_NAME to all components (#14397)
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml.htpl
  operator/tests/central/central-misc/080-assert-non-openshift.yaml
  operator/tests/central/central-misc/080-assert-openshift.yaml
  operator/tests/central/central-misc/081-assert-non-openshift.yaml
  operator/tests/central/central-misc/081-assert-openshift.yaml
Owners: @stackrox/install

allow all algs
  central/auth/m2m/kube_service_account.go
  go.mod
  pkg/cloudproviders/gcp/identity_token.go
  pkg/jwt/parser.go
  pkg/jwt/tokens.go
  sensor/common/certdistribution/service_impl.go
Owners: @stackrox/sensor-ecosystem

Fix up namespace and CRS generators
  installer/manifest/ca.go
  installer/manifest/crs.go
  installer/manifest/manifest.go
  installer/manifest/namespace.go
Owners: none

Remove printlines
  pkg/gjson/row.go
Owners: none

Fix typo
  pkg/printers/csv.go
Owners: none

use correct syntax for passing optional args
  pkg/printers/csv.go
  pkg/printers/table.go
Owners: none

Add an option --required-headers to mark headers as required for a row to be displayed in the table
  pkg/gjson/row.go
  pkg/gjson/row_test.go
  pkg/printers/csv.go
  pkg/printers/table.go
  roxctl/common/printer/tabularprinter_factory.go
Owners: @stackrox/sensor-ecosystem

Address some feedback
  pkg/gjson/row.go
Owners: none

Refactor sensor
  installer/manifest/manifest.go
  installer/manifest/namespace.go
  installer/manifest/sensor.go
Owners: none

ROX-28260: pass parent context to scan semaphore
  central/image/service/service_impl.go
Owners: @stackrox/scanner

Remove dead code
  installer/manifest/manifest.go
Owners: none

style
  sensor/kubernetes/listener/resources/env.go
  sensor/kubernetes/listener/resources/store_provider.go
Owners: @stackrox/sensor-ecosystem

chore(roxctl): Test `roxctl` command tree (#14387)
  roxctl/maincommand/command_test.go
  roxctl/maincommand/command_tree_debug.yaml
  roxctl/maincommand/command_tree_release.yaml
  roxctl/maincommand/embed_tree_debug_test.go
  roxctl/maincommand/embed_tree_release_test.go
Owners: @stackrox/sensor-ecosystem

Revert "Add some more syntax-rich debug information for exceptions thrown in loop"
  qa-tests-backend/src/test/groovy/Services.groovy
Owners: @janisz

fix
  sensor/kubernetes/sensor/deployment_identification.go
Owners: @stackrox/sensor-ecosystem

bump glog
  go.mod
  go.sum
Owners: none

.github/CODEOWNERS:

# For further documentation on CODEOWNERS, visit
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
# This will automatically assign a team / people as reviewers for PRs based on the files changed within the PR.

# Core team's main responsibilities include policies including default policies and policy management workflows,
# detection and alerting, integrations and notifiers, risk, vulnerability management and reporting, migrator and
# interactions with Postgres.
pkg/detection/**/*                  @stackrox/core-workflows
pkg/booleanpolicy/**/*              @stackrox/core-workflows
pkg/defaults/policies/**/*          @stackrox/core-workflows
central/policy/**/*                 @stackrox/core-workflows
central/reports/**/*                @stackrox/core-workflows
central/reportconfiguration/**/*    @stackrox/core-workflows
central/vulnmgmt/**/*               @stackrox/core-workflows
proto/storage/*                     @stackrox/core-workflows
migrator/**/*                       @stackrox/core-workflows
pkg/postgres/**/*                   @stackrox/core-workflows
tests/upgrade/*                     @stackrox/core-workflows
pkg/search/**/*                     @stackrox/core-workflows

# sensor-ecosystem main responsibilities include:
# administration events, authN (authproviders), authZ (SAC)
# cloud sources, declarative config, image signatures, images, netpol,
# observability, performance testing, roxctl, sensor and telemetry.
*/administration/**/*       @stackrox/sensor-ecosystem
*/auth/**/*                 @stackrox/sensor-ecosystem
*/cloudsources/**/*         @stackrox/sensor-ecosystem
*/declarativeconfig/**/*    @stackrox/sensor-ecosystem
*/discoveredclusters/**/    @stackrox/sensor-ecosystem
*/signatureintegration/**/* @stackrox/sensor-ecosystem
pkg/features/**/*           @stackrox/sensor-ecosystem
pkg/images/defaults/**/*    @stackrox/sensor-ecosystem
pkg/sac/**/*                @stackrox/sensor-ecosystem
pkg/signatures/**/*         @stackrox/sensor-ecosystem
roxctl/**/*                 @stackrox/sensor-ecosystem
sensor/**/*                 @stackrox/sensor-ecosystem
tests/performance/**/*      @stackrox/sensor-ecosystem
tests/roxctl/**/*           @stackrox/sensor-ecosystem

# Listing all users as "Outside collaborators cannot be added to a team"
bats-tests/local/roxctl-netpol-*               @zivnevo @adisos @shireenf-ibm
roxctl/netpol/**/*                             @zivnevo @adisos @shireenf-ibm
tests/roxctl/bats-tests/test-data/np-guard/    @zivnevo @adisos @shireenf-ibm

qa-tests-backend/**/*       @janisz

/ui/**/* @stackrox/ui

operator/**/* @stackrox/install

# Scanner team's responsibilities include anything related to the scanner itself and scanning utilities
# such as vulnerability uploading and image integrations.
/.github/workflows/scanner*                               @stackrox/scanner
/.github/workflows/update_scanner_periodic.yaml           @stackrox/scanner
/central/image/service/                                   @stackrox/scanner
/central/imageintegration/service/                        @stackrox/scanner
/central/imageintegration/store/defaults.go               @stackrox/scanner
/central/scannerdefinitions/                              @stackrox/scanner
/central/sensor/service/pipeline/imageintegrations/       @stackrox/scanner
/pkg/images/enricher/                                     @stackrox/scanner
/pkg/nodes/                                               @stackrox/scanner
/pkg/registries/                                          @stackrox/scanner
/pkg/registrymirror/                                      @stackrox/scanner
/pkg/scanners/                                            @stackrox/scanner
/pkg/scannerv4/                                           @stackrox/scanner
/pkg/scans/                                               @stackrox/scanner
/proto/internalapi/scanner/                               @stackrox/scanner
/proto/storage/delegated_registry_config.proto            @stackrox/scanner
/proto/storage/image.proto                                @stackrox/scanner
/proto/storage/image_integration.proto                    @stackrox/scanner
/scanner/                                                 @stackrox/scanner
/sensor/common/registry/                                  @stackrox/scanner
/sensor/common/scan/                                      @stackrox/scanner
/sensor/common/scannerclient/                             @stackrox/scanner
/sensor/common/scannerdefinitions/                        @stackrox/scanner
/sensor/kubernetes/listener/resources/registrymirrorsets* @stackrox/scanner
/sensor/kubernetes/listener/resources/secrets*            @stackrox/scanner
/SCANNER_VERSION                                          @stackrox/scanner

# The RHTAP maintainers for ACS review all changes related to the RHTAP pipelines, such as new pipelines,
# parameter changes or automated task updates.
/.tekton/   @stackrox/rhtap-maintainers
