Repository stackrox/stackrox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stackrox/core-workflows, @stackrox/sensor-ecosystem, @zivnevo, @adisos, @shireenf-ibm, @janisz, @stackrox/ui, @stackrox/install, @stackrox/scanner, @stackrox/rhtap-maintainers

ROC-28224: wait longer for compliance
  qa-tests-backend/src/main/groovy/services/ComplianceManagementService.groovy
Owners: @janisz

more debug and fixes
  central/alert/service/service_impl.go
  pkg/search/postgres/common.go
Owners: @stackrox/core-workflows

bytes
  tools/proto/protoc-gen-go-json/main.go
Owners: none

ROX-27734: Remove local scanner cert refresh from Sensor (#14398)
  pkg/centralsensor/caps_list.go
  sensor/kubernetes/certrefresh/localscanner/cert_repo_init.go
  sensor/kubernetes/certrefresh/localscanner/cert_repo_init_test.go
  sensor/kubernetes/certrefresh/localscanner_tls_issuer.go
  sensor/kubernetes/certrefresh/localscanner_tls_issuer_test.go
  sensor/kubernetes/certrefresh/response.go
  sensor/kubernetes/certrefresh/response_test.go
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer.go
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer_test.go
  sensor/kubernetes/certrefresh/tls_issuer_common.go
  sensor/kubernetes/certrefresh/tls_issuer_common_test.go
  sensor/kubernetes/sensor/sensor.go
Owners: @stackrox/sensor-ecosystem

some clean up
  central/image/datastore/store/v2/postgres/store.go
  central/image/datastore/store/v2/postgres/store_test.go
Owners: none

hackathon: add OpenShift reencrypt route
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/templates/01-central-15-exposure.yaml
Owners: none

update
  sensor/common/scan/scan.go
Owners: @stackrox/scanner

update
  sensor/common/scan/scan.go
Owners: @stackrox/scanner

set delegated scan Semaphore
  pkg/env/max_parallel_scans.go
  sensor/common/scan/scan.go
Owners: @stackrox/scanner

update singleton
  central/image/datastore/singleton.go
  central/image/datastore/store/v2/postgres/store.go
Owners: none

Made pruning more performant
  central/blob/datastore/test_utils.go
  central/pod/datastore/datastore.go
  central/pod/datastore/datastore_impl.go
  central/pod/datastore/internal/store/mocks/store.go
  central/pod/datastore/internal/store/store.go
  central/pod/datastore/mocks/datastore.go
  central/processindicator/datastore/datastore.go
  central/processindicator/datastore/datastore_impl.go
  central/processindicator/datastore/mocks/datastore.go
  central/processlisteningonport/datastore/datastore.go
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/datastore/mocks/datastore.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
  pkg/process/filter/filter.go
  pkg/process/filter/mocks/filter.go
Owners: none

Remove logic to shorten ContainerID because ID is used in other places
  sensor/kubernetes/fake/deployment.go
Owners: @stackrox/sensor-ecosystem

ROX-28177: log sensor stop as context cancellation cause
  central/image/service/service_impl.go
  central/main.go
  go.mod
  pkg/contextutil/contextmerge.go
  pkg/contextutil/contextmerge_test.go
  pkg/grpc/trace/interceptor.go
  pkg/logging/fields.go
  sensor/common/centralclient/client.go
  sensor/common/centralclient/grpc_connection.go
  sensor/common/delegatedregistry/delegated_registry_handler.go
  sensor/common/detector/enricher.go
  sensor/common/message/message.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/processsignal/pipeline.go
  sensor/common/scannerclient/grpc_client.go
  sensor/common/sensor/central_communication_impl.go
  sensor/common/trace/trace.go
  sensor/common/types/errors.go
  sensor/kubernetes/clusterhealth/updater.go
  sensor/kubernetes/clusterstatus/updater.go
  sensor/kubernetes/eventpipeline/component/message.go
  sensor/kubernetes/eventpipeline/output/output_impl.go
  sensor/kubernetes/eventpipeline/pipeline_impl.go
Owners: @stackrox/scanner, @stackrox/sensor-ecosystem

adjustment
  central/image/datastore/store/v2/postgres/store.go
Owners: none

Add environment flag for whether load test should run
  central/pruning/pruning_test.go
  pkg/env/pruning_load_testing.go
Owners: none

Remove unused method in test file
  central/pruning/pruning_test.go
Owners: none

Fix test failures
  central/pruning/pruning_test.go
Owners: none

chore(postgres): inherit latest upstream changes (#14173)
  image/postgres/scripts/docker-entrypoint.sh
  scanner/image/db/scripts/docker-entrypoint.sh
Owners: @stackrox/scanner

add POD_NAME in operator tests
  operator/tests/central/central-misc/080-assert-non-openshift.yaml
  operator/tests/central/central-misc/080-assert-openshift.yaml
  operator/tests/central/central-misc/081-assert-non-openshift.yaml
  operator/tests/central/central-misc/081-assert-openshift.yaml
Owners: @stackrox/install

Refactor
  Makefile
  installer/main.go
  installer/manifest/central.go
  installer/manifest/config.go
  installer/manifest/manifest.go
  installer/manifest/scanner.go
  installer/manifest/scannerv4.go
  installer/manifest/sensor.go
  pkg/manifest/central.go
Owners: none

a nightly update script
  .github/workflows/tagged-ci.yaml
  .openshift-ci/nightlies.sh
Owners: none

More refactor
  installer/manifest/central.go
  installer/manifest/central_db.go
  installer/manifest/manifest.go
  installer/manifest/scanner.go
  installer/manifest/scanner_db.go
Owners: none

More refactoring; cli work
  installer/main.go
  installer/manifest/ca.go
  installer/manifest/central.go
  installer/manifest/crs.go
  installer/manifest/manifest.go
  installer/manifest/scanner.go
  installer/manifest/scannerv4.go
  installer/manifest/scannerv4_db.go
Owners: none

test: try and fix ROX-28246
  tests/e2e/run-scanner-v4-install.bats
Owners: none

update
  pkg/scannerv4/mappers/mappers_test.go
Owners: @stackrox/scanner

turn on kev enricher
  scanner/matcher/matcher.go
Owners: @stackrox/scanner

fix export
  scanner/updater/export.go
Owners: @stackrox/scanner

no versino
  pkg/scanners/scannerv4/convert.go
Owners: @stackrox/scanner

fix
  pkg/scannerv4/mappers/mappers.go
Owners: @stackrox/scanner

hackathon
  central/cve/converter/utils/convert_utils.go
  central/cve/converter/utils/convert_utils_v2.go
  central/graphql/resolvers/generated.go
  generated/api/v1/image_service.swagger.json
  generated/api/v1/node_service.swagger.json
  generated/api/v1/vuln_mgmt_service.swagger.json
  generated/internalapi/scanner/v4/vulnerability_report.pb.go
  generated/internalapi/scanner/v4/vulnerability_report_vtproto.pb.go
  generated/storage/cve.pb.go
  generated/storage/cve_vtproto.pb.go
  generated/storage/vulnerability.pb.go
  generated/storage/vulnerability_vtproto.pb.go
  go.mod
  go.sum
  pkg/scanners/scannerv4/convert.go
  pkg/scannerv4/mappers/mappers.go
  proto/internalapi/scanner/v4/vulnerability_report.proto
  proto/storage/cve.proto
  proto/storage/vulnerability.proto
  scanner/indexer/indexer.go
  scanner/matcher/matcher.go
  scanner/updater/export.go
Owners: @stackrox/scanner, @stackrox/core-workflows

testing
  image/templates/helm/shared/config-templates/scanner-v4/matcher-config.yaml.tpl
Owners: none

alma
  go.mod
  go.sum
Owners: none

alma again
  scanner/matcher/matcher.go
  scanner/updater/export.go
Owners: @stackrox/scanner

Only collect service logs if SCANNER_V4_LOG_DIR is set.
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Less noisy git checkout
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Use pretty real-time logging.
  tests/e2e/run-scanner-v4-install.sh
Owners: none

Implement pretty real-time logging.
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Less noisy cert generation
  tests/scripts/setup-certs.sh
Owners: none

Remove superfluous logging.
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Remove trap alltogether
  tests/e2e/run-scanner-v4-install.bats
Owners: none

.github/CODEOWNERS:

# For further documentation on CODEOWNERS, visit
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
# This will automatically assign a team / people as reviewers for PRs based on the files changed within the PR.

# Core team's main responsibilities include policies including default policies and policy management workflows,
# detection and alerting, integrations and notifiers, risk, vulnerability management and reporting, migrator and
# interactions with Postgres.
pkg/detection/**/*                  @stackrox/core-workflows
pkg/booleanpolicy/**/*              @stackrox/core-workflows
pkg/defaults/policies/**/*          @stackrox/core-workflows
central/policy/**/*                 @stackrox/core-workflows
central/reports/**/*                @stackrox/core-workflows
central/reportconfiguration/**/*    @stackrox/core-workflows
central/vulnmgmt/**/*               @stackrox/core-workflows
proto/storage/*                     @stackrox/core-workflows
migrator/**/*                       @stackrox/core-workflows
pkg/postgres/**/*                   @stackrox/core-workflows
tests/upgrade/*                     @stackrox/core-workflows
pkg/search/**/*                     @stackrox/core-workflows

# sensor-ecosystem main responsibilities include:
# administration events, authN (authproviders), authZ (SAC)
# cloud sources, declarative config, image signatures, images, netpol,
# observability, performance testing, roxctl, sensor and telemetry.
*/administration/**/*       @stackrox/sensor-ecosystem
*/auth/**/*                 @stackrox/sensor-ecosystem
*/cloudsources/**/*         @stackrox/sensor-ecosystem
*/declarativeconfig/**/*    @stackrox/sensor-ecosystem
*/discoveredclusters/**/    @stackrox/sensor-ecosystem
*/signatureintegration/**/* @stackrox/sensor-ecosystem
pkg/features/**/*           @stackrox/sensor-ecosystem
pkg/images/defaults/**/*    @stackrox/sensor-ecosystem
pkg/sac/**/*                @stackrox/sensor-ecosystem
pkg/signatures/**/*         @stackrox/sensor-ecosystem
roxctl/**/*                 @stackrox/sensor-ecosystem
sensor/**/*                 @stackrox/sensor-ecosystem
tests/performance/**/*      @stackrox/sensor-ecosystem
tests/roxctl/**/*           @stackrox/sensor-ecosystem

# Listing all users as "Outside collaborators cannot be added to a team"
bats-tests/local/roxctl-netpol-*               @zivnevo @adisos @shireenf-ibm
roxctl/netpol/**/*                             @zivnevo @adisos @shireenf-ibm
tests/roxctl/bats-tests/test-data/np-guard/    @zivnevo @adisos @shireenf-ibm

qa-tests-backend/**/*       @janisz

/ui/**/* @stackrox/ui

operator/**/* @stackrox/install

# Scanner team's responsibilities include anything related to the scanner itself and scanning utilities
# such as vulnerability uploading and image integrations.
/.github/workflows/scanner*                               @stackrox/scanner
/.github/workflows/update_scanner_periodic.yaml           @stackrox/scanner
/central/image/service/                                   @stackrox/scanner
/central/imageintegration/service/                        @stackrox/scanner
/central/imageintegration/store/defaults.go               @stackrox/scanner
/central/scannerdefinitions/                              @stackrox/scanner
/central/sensor/service/pipeline/imageintegrations/       @stackrox/scanner
/pkg/images/enricher/                                     @stackrox/scanner
/pkg/nodes/                                               @stackrox/scanner
/pkg/registries/                                          @stackrox/scanner
/pkg/registrymirror/                                      @stackrox/scanner
/pkg/scanners/                                            @stackrox/scanner
/pkg/scannerv4/                                           @stackrox/scanner
/pkg/scans/                                               @stackrox/scanner
/proto/internalapi/scanner/                               @stackrox/scanner
/proto/storage/delegated_registry_config.proto            @stackrox/scanner
/proto/storage/image.proto                                @stackrox/scanner
/proto/storage/image_integration.proto                    @stackrox/scanner
/scanner/                                                 @stackrox/scanner
/sensor/common/registry/                                  @stackrox/scanner
/sensor/common/scan/                                      @stackrox/scanner
/sensor/common/scannerclient/                             @stackrox/scanner
/sensor/common/scannerdefinitions/                        @stackrox/scanner
/sensor/kubernetes/listener/resources/registrymirrorsets* @stackrox/scanner
/sensor/kubernetes/listener/resources/secrets*            @stackrox/scanner
/SCANNER_VERSION                                          @stackrox/scanner

# The RHTAP maintainers for ACS review all changes related to the RHTAP pipelines, such as new pipelines,
# parameter changes or automated task updates.
/.tekton/   @stackrox/rhtap-maintainers
