Repository stackrox/stackrox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stackrox/core-workflows, @stackrox/sensor-ecosystem, @zivnevo, @adisos, @shireenf-ibm, @janisz, @stackrox/ui, @stackrox/install, @stackrox/scanner, @stackrox/rhtap-maintainers

.github/CODEOWNERS:

# For further documentation on CODEOWNERS, visit
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
# This will automatically assign a team / people as reviewers for PRs based on the files changed within the PR.

# Core team's main responsibilities include policies including default policies and policy management workflows,
# detection and alerting, integrations and notifiers, risk, vulnerability management and reporting, migrator and
# interactions with Postgres.
pkg/detection/**/*                  @stackrox/core-workflows
pkg/booleanpolicy/**/*              @stackrox/core-workflows
pkg/defaults/policies/**/*          @stackrox/core-workflows
central/policy/**/*                 @stackrox/core-workflows
central/reports/**/*                @stackrox/core-workflows
central/reportconfiguration/**/*    @stackrox/core-workflows
central/vulnmgmt/**/*               @stackrox/core-workflows
proto/storage/*                     @stackrox/core-workflows
migrator/**/*                       @stackrox/core-workflows
pkg/postgres/**/*                   @stackrox/core-workflows
tests/upgrade/*                     @stackrox/core-workflows
pkg/search/**/*                     @stackrox/core-workflows

# sensor-ecosystem main responsibilities include:
# administration events, authN (authproviders), authZ (SAC)
# cloud sources, declarative config, image signatures, images, netpol,
# observability, performance testing, roxctl, sensor and telemetry.
*/administration/**/*       @stackrox/sensor-ecosystem
*/auth/**/*                 @stackrox/sensor-ecosystem
*/cloudsources/**/*         @stackrox/sensor-ecosystem
*/declarativeconfig/**/*    @stackrox/sensor-ecosystem
*/discoveredclusters/**/    @stackrox/sensor-ecosystem
*/signatureintegration/**/* @stackrox/sensor-ecosystem
pkg/features/**/*           @stackrox/sensor-ecosystem
pkg/images/defaults/**/*    @stackrox/sensor-ecosystem
pkg/sac/**/*                @stackrox/sensor-ecosystem
pkg/signatures/**/*         @stackrox/sensor-ecosystem
roxctl/**/*                 @stackrox/sensor-ecosystem
sensor/**/*                 @stackrox/sensor-ecosystem
tests/performance/**/*      @stackrox/sensor-ecosystem
tests/roxctl/**/*           @stackrox/sensor-ecosystem

# Listing all users as "Outside collaborators cannot be added to a team"
bats-tests/local/roxctl-netpol-*               @zivnevo @adisos @shireenf-ibm
roxctl/netpol/**/*                             @zivnevo @adisos @shireenf-ibm
tests/roxctl/bats-tests/test-data/np-guard/    @zivnevo @adisos @shireenf-ibm

qa-tests-backend/**/*       @janisz

/ui/**/* @stackrox/ui

operator/**/* @stackrox/install

# Scanner team's responsibilities include anything related to the scanner itself and scanning utilities
# such as vulnerability uploading and image integrations.
/.github/workflows/scanner*                               @stackrox/scanner
/.github/workflows/update_scanner_periodic.yaml           @stackrox/scanner
/central/image/service/                                   @stackrox/scanner
/central/imageintegration/service/                        @stackrox/scanner
/central/imageintegration/store/defaults.go               @stackrox/scanner
/central/scannerdefinitions/                              @stackrox/scanner
/central/sensor/service/pipeline/imageintegrations/       @stackrox/scanner
/pkg/images/enricher/                                     @stackrox/scanner
/pkg/nodes/                                               @stackrox/scanner
/pkg/registries/                                          @stackrox/scanner
/pkg/registrymirror/                                      @stackrox/scanner
/pkg/scanners/                                            @stackrox/scanner
/pkg/scannerv4/                                           @stackrox/scanner
/pkg/scans/                                               @stackrox/scanner
/proto/internalapi/scanner/                               @stackrox/scanner
/proto/storage/delegated_registry_config.proto            @stackrox/scanner
/proto/storage/image.proto                                @stackrox/scanner
/proto/storage/image_integration.proto                    @stackrox/scanner
/scanner/                                                 @stackrox/scanner
/sensor/common/registry/                                  @stackrox/scanner
/sensor/common/scan/                                      @stackrox/scanner
/sensor/common/scannerclient/                             @stackrox/scanner
/sensor/common/scannerdefinitions/                        @stackrox/scanner
/sensor/kubernetes/listener/resources/registrymirrorsets* @stackrox/scanner
/sensor/kubernetes/listener/resources/secrets*            @stackrox/scanner
/SCANNER_VERSION                                          @stackrox/scanner

# The RHTAP maintainers for ACS review all changes related to the RHTAP pipelines, such as new pipelines,
# parameter changes or automated task updates.
/.tekton/   @stackrox/rhtap-maintainers

Address direct review comments
  central/declarativeconfig/manager_impl.go
  central/declarativeconfig/updater/access_scope_updater.go
  central/declarativeconfig/updater/auth_provider_updater.go
  central/declarativeconfig/updater/group_updater.go
  central/declarativeconfig/updater/notifier_updater.go
  central/declarativeconfig/updater/permission_set_updater.go
  central/declarativeconfig/updater/role_updater.go
Owners: @stackrox/sensor-ecosystem

Trace triggers for reconciliation loop runs
  central/declarativeconfig/manager_impl.go
Owners: @stackrox/sensor-ecosystem

chore: sort fixxxers and mod tidy everywhere (#14463)
  scripts/fixxxer.sh
  scripts/fixxxers/10-deps-go-mod-tidy.sh
  scripts/fixxxers/operator/30-manifests.sh
Owners: none

Running scripts/fixxxers/10-deps-go-mod-tidy.sh
  operator/tools/envtest/go.sum
  operator/tools/operator-sdk/go.mod
  tools/check-workflow-run/go.mod
  tools/check-workflow-run/go.sum
  tools/linters/go.sum
Owners: @stackrox/install

investigation
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/networkflow/service/service_impl.go
  sensor/kubernetes/listener/resources/env.go
  sensor/kubernetes/listener/resources/store_provider.go
  sensor/kubernetes/sensor/options.go
  sensor/kubernetes/sensor/sensor.go
  sensor/tests/collector/flows_test.go
  sensor/tests/collector/yaml/nginx-service.yaml
  sensor/tests/collector/yaml/nginx.yaml
  sensor/tests/collector/yaml/talk.yaml
  sensor/tests/helper/collector.go
  sensor/tests/helper/helper.go
Owners: @stackrox/sensor-ecosystem

chore(deps): bump oauth2 fork (#14460)
  go.mod
  go.sum
Owners: none

Running scripts/fixxxers/operator/40-bundle.sh
  operator/bundle/tests/scorecard/config.yaml
  operator/config/scorecard-versioned/kustomization.yaml
Owners: @stackrox/install

chore(deps): bump oauth2 fork (#14460)
  go.mod
  go.sum
Owners: none

use WithDefault in ROX_CONTINUOUS_PROFILING_APP_NAME definition
  pkg/continuousprofiling/profiler.go
  pkg/env/continuous_profiling.go
Owners: none

push back the client initialization to after the log initialization
  scanner/cmd/scanner/main.go
Owners: @stackrox/scanner

setup the pyroscope client in compliance, scanner, and admission-control
  compliance/cmd/compliance/main.go
  scanner/cmd/scanner/main.go
  sensor/admission-control/main.go
Owners: @stackrox/scanner, @stackrox/sensor-ecosystem

use POD_NAME if ROX_CONTINUOUS_PROFILING_APP_NAME is not set
  pkg/continuousprofiling/profiler.go
Owners: none

ROX-24433: bump github.com/np-guard/netpol-analyzer from 1.2.0 to 1.3.1
  go.mod
  go.sum
  roxctl/netpol/connectivity/diff/README.md
  roxctl/netpol/connectivity/map/README.md
  roxctl/netpol/connectivity/map/testdata/acs-security-demos/output.txt
  tests/roxctl/bats-tests/local/roxctl-netpol-connectivity-diff-development.bats
  tests/roxctl/bats-tests/local/roxctl-netpol-connectivity-diff-release.bats
  tests/roxctl/bats-tests/local/roxctl-netpol-connectivity-map-development.bats
  tests/roxctl/bats-tests/local/roxctl-netpol-connectivity-map-release.bats
  tests/roxctl/bats-tests/test-data/np-guard/anp_banp_demo/ns.yaml
  tests/roxctl/bats-tests/test-data/np-guard/anp_banp_demo/policies.yaml
  tests/roxctl/bats-tests/test-data/np-guard/anp_banp_demo/workloads.yaml
  tests/roxctl/bats-tests/test-data/np-guard/anp_banp_diff_demo/ns.yaml
  tests/roxctl/bats-tests/test-data/np-guard/anp_banp_diff_demo/policies.yaml
  tests/roxctl/bats-tests/test-data/np-guard/anp_banp_diff_demo/workloads.yaml
Owners: @zivnevo, @adisos, @shireenf-ibm, @stackrox/sensor-ecosystem

chore(deps): bump oauth2 fork (#14465)
  go.mod
  go.sum
Owners: none

chore(docs): Changelog entry for 4.5.7 (#14457)
  CHANGELOG.md
Owners: none

Fix link to the docs in the UI
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodeCvesOverviewPage.tsx
Owners: @stackrox/ui

chore(docs): add changelog entry for 4.6.3 (#14458)
  CHANGELOG.md
Owners: none

fix go.mod
  go.mod
Owners: none

bump github.com/np-guard/netpol-analyzer from 1.2.0 to 1.3.1
  go.mod
  go.sum
  roxctl/netpol/connectivity/diff/README.md
  roxctl/netpol/connectivity/map/README.md
  roxctl/netpol/connectivity/map/testdata/acs-security-demos/output.txt
  tests/roxctl/bats-tests/local/roxctl-netpol-connectivity-diff-development.bats
  tests/roxctl/bats-tests/local/roxctl-netpol-connectivity-diff-release.bats
  tests/roxctl/bats-tests/local/roxctl-netpol-connectivity-map-development.bats
  tests/roxctl/bats-tests/local/roxctl-netpol-connectivity-map-release.bats
  tests/roxctl/bats-tests/test-data/np-guard/anp_banp_demo/ns.yaml
  tests/roxctl/bats-tests/test-data/np-guard/anp_banp_demo/policies.yaml
  tests/roxctl/bats-tests/test-data/np-guard/anp_banp_demo/workloads.yaml
  tests/roxctl/bats-tests/test-data/np-guard/anp_banp_diff_demo/ns.yaml
  tests/roxctl/bats-tests/test-data/np-guard/anp_banp_diff_demo/policies.yaml
  tests/roxctl/bats-tests/test-data/np-guard/anp_banp_diff_demo/workloads.yaml
Owners: @zivnevo, @adisos, @shireenf-ibm, @stackrox/sensor-ecosystem

fix test
  tests/roxctl/token-file.sh
Owners: @stackrox/sensor-ecosystem

set imageScanLowerBound
  pkg/env/max_parallel_scans.go
  sensor/common/scan/scan.go
  sensor/common/scan/scan_test.go
Owners: @stackrox/scanner

update
  sensor/common/scan/scan.go
Owners: @stackrox/scanner

set delegated scan Semaphore
  pkg/env/max_parallel_scans.go
  sensor/common/scan/scan.go
Owners: @stackrox/scanner

fix style
  central/image/datastore/store/v2/postgres/store.go
Owners: none

some test fixes
  central/image/datastore/store/postgres/store_test.go
  central/image/datastore/store/v2/postgres/store_test.go
Owners: none

style
  central/image/datastore/store/v2/postgres/store.go
Owners: none

comment responses
  central/image/datastore/store/v2/postgres/store.go
Owners: none

adding some more tests get the coverage respectable
  central/image/datastore/store/v2/postgres/store.go
  central/image/datastore/store/v2/postgres/store_test.go
Owners: none

some clean up
  central/image/datastore/store/v2/postgres/store.go
  central/image/datastore/store/v2/postgres/store_test.go
Owners: none

times and test
  central/image/datastore/store/v2/postgres/store.go
  central/image/datastore/store/v2/postgres/store_test.go
Owners: none

style
  central/image/datastore/store/v2/postgres/store_test.go
Owners: none

more time and test
  central/image/datastore/store/v2/postgres/store.go
  central/image/datastore/store/v2/postgres/store_test.go
Owners: none

fix store
  central/image/datastore/store/common/v2/metrics.go
  central/image/datastore/store/v2/postgres/store.go
Owners: none

more tests and times
  central/image/datastore/store/v2/postgres/store.go
  central/image/datastore/store/v2/postgres/store_test.go
Owners: none

update image store
  central/image/datastore/store/common/metrics.go
  central/image/datastore/store/v2/postgres/store.go
  central/image/datastore/store/v2/postgres/store_test.go
Owners: none

adjustment
  central/image/datastore/store/v2/postgres/store.go
Owners: none

update singleton
  central/image/datastore/singleton.go
  central/image/datastore/store/v2/postgres/store.go
Owners: none

update
  pkg/env/max_parallel_scans.go
  sensor/common/scan/scan.go
  sensor/common/scan/scan_test.go
Owners: @stackrox/scanner

Added debug logging
  config-controller/pkg/client/client.go
Owners: none

add log entry when registry store cleared
  sensor/common/registry/registry_store.go
Owners: @stackrox/scanner
