Repository stackrox/stackrox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stackrox/core-workflows, @stackrox/sensor-ecosystem, @zivnevo, @adisos, @shireenf-ibm, @janisz, @stackrox/ui, @stackrox/install, @stackrox/scanner, @stackrox/rhtap-maintainers

.github/CODEOWNERS:

# For further documentation on CODEOWNERS, visit
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
# This will automatically assign a team / people as reviewers for PRs based on the files changed within the PR.

# Core team's main responsibilities include policies including default policies and policy management workflows,
# detection and alerting, integrations and notifiers, risk, vulnerability management and reporting, migrator and
# interactions with Postgres.
pkg/detection/**/*                  @stackrox/core-workflows
pkg/booleanpolicy/**/*              @stackrox/core-workflows
pkg/defaults/policies/**/*          @stackrox/core-workflows
central/policy/**/*                 @stackrox/core-workflows
central/reports/**/*                @stackrox/core-workflows
central/reportconfiguration/**/*    @stackrox/core-workflows
central/vulnmgmt/**/*               @stackrox/core-workflows
proto/storage/*                     @stackrox/core-workflows
migrator/**/*                       @stackrox/core-workflows
pkg/postgres/**/*                   @stackrox/core-workflows
tests/upgrade/*                     @stackrox/core-workflows
pkg/search/**/*                     @stackrox/core-workflows

# sensor-ecosystem main responsibilities include:
# administration events, authN (authproviders), authZ (SAC)
# cloud sources, declarative config, image signatures, images, netpol,
# observability, performance testing, roxctl, sensor and telemetry.
*/administration/**/*       @stackrox/sensor-ecosystem
*/auth/**/*                 @stackrox/sensor-ecosystem
*/cloudsources/**/*         @stackrox/sensor-ecosystem
*/declarativeconfig/**/*    @stackrox/sensor-ecosystem
*/discoveredclusters/**/    @stackrox/sensor-ecosystem
*/signatureintegration/**/* @stackrox/sensor-ecosystem
pkg/features/**/*           @stackrox/sensor-ecosystem
pkg/images/defaults/**/*    @stackrox/sensor-ecosystem
pkg/sac/**/*                @stackrox/sensor-ecosystem
pkg/signatures/**/*         @stackrox/sensor-ecosystem
roxctl/**/*                 @stackrox/sensor-ecosystem
sensor/**/*                 @stackrox/sensor-ecosystem
tests/performance/**/*      @stackrox/sensor-ecosystem
tests/roxctl/**/*           @stackrox/sensor-ecosystem

# Listing all users as "Outside collaborators cannot be added to a team"
bats-tests/local/roxctl-netpol-*               @zivnevo @adisos @shireenf-ibm
roxctl/netpol/**/*                             @zivnevo @adisos @shireenf-ibm
tests/roxctl/bats-tests/test-data/np-guard/    @zivnevo @adisos @shireenf-ibm

qa-tests-backend/**/*       @janisz

/ui/**/* @stackrox/ui

operator/**/* @stackrox/install

# Scanner team's responsibilities include anything related to the scanner itself and scanning utilities
# such as vulnerability uploading and image integrations.
/.github/workflows/scanner*                               @stackrox/scanner
/.github/workflows/update_scanner_periodic.yaml           @stackrox/scanner
/central/image/service/                                   @stackrox/scanner
/central/imageintegration/service/                        @stackrox/scanner
/central/imageintegration/store/defaults.go               @stackrox/scanner
/central/scannerdefinitions/                              @stackrox/scanner
/central/sensor/service/pipeline/imageintegrations/       @stackrox/scanner
/pkg/images/enricher/                                     @stackrox/scanner
/pkg/nodes/                                               @stackrox/scanner
/pkg/registries/                                          @stackrox/scanner
/pkg/registrymirror/                                      @stackrox/scanner
/pkg/scanners/                                            @stackrox/scanner
/pkg/scannerv4/                                           @stackrox/scanner
/pkg/scans/                                               @stackrox/scanner
/proto/internalapi/scanner/                               @stackrox/scanner
/proto/storage/delegated_registry_config.proto            @stackrox/scanner
/proto/storage/image.proto                                @stackrox/scanner
/proto/storage/image_integration.proto                    @stackrox/scanner
/scanner/                                                 @stackrox/scanner
/sensor/common/registry/                                  @stackrox/scanner
/sensor/common/scan/                                      @stackrox/scanner
/sensor/common/scannerclient/                             @stackrox/scanner
/sensor/common/scannerdefinitions/                        @stackrox/scanner
/sensor/kubernetes/listener/resources/registrymirrorsets* @stackrox/scanner
/sensor/kubernetes/listener/resources/secrets*            @stackrox/scanner
/SCANNER_VERSION                                          @stackrox/scanner

# The RHTAP maintainers for ACS review all changes related to the RHTAP pipelines, such as new pipelines,
# parameter changes or automated task updates.
/.tekton/   @stackrox/rhtap-maintainers

Only collect service logs if SCANNER_V4_LOG_DIR is set.
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Remove superfluous logging.
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Implement pretty real-time logging.
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Use pretty real-time logging.
  tests/e2e/run-scanner-v4-install.sh
Owners: none

remove mocked test after port to postgres
  central/vulnmgmt/vulnerabilityrequest/datastore/datastore_impl_test.go
Owners: @stackrox/core-workflows

Don't attempt to trap KILL.
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Remove empty function
  tests/e2e/run-scanner-v4-install.bats
Owners: none

ROX-27053: Fix subjects handling for user and group kind (#13410)
  central/compliance/checks/common/rbac.go
  central/compliance/checks/nist80053/check_ac_14/check.go
  central/rbac/service/get_subject.go
  central/sensor/service/pipeline/rolebindings/pipeline_test.go
  pkg/k8srbac/evaluator_impl.go
  pkg/k8srbac/subjects.go
  pkg/k8srbac/subjects_test.go
  qa-tests-backend/src/test/groovy/K8sRbacTest.groovy
Owners: @janisz

Add back missing variables
  central/vulnmgmt/vulnerabilityrequest/datastore/datastore_impl_postgres_test.go
Owners: @stackrox/core-workflows

Revert "Fix flawed writer-can-read assumption in postgres tests"
  central/vulnmgmt/vulnerabilityrequest/datastore/datastore_impl_postgres_test.go
Owners: @stackrox/core-workflows

adjust contexts post-rebase
  central/vulnmgmt/vulnerabilityrequest/datastore/datastore_impl.go
Owners: @stackrox/core-workflows

chore(sac): Create internal request for Vulnerability Request store access
  central/vulnmgmt/vulnerabilityrequest/datastore/datastore_impl.go
  central/vulnmgmt/vulnerabilityrequest/datastore/internal/searcher/searcher_impl.go
  central/vulnmgmt/vulnerabilityrequest/datastore/internal/store/postgres/gen.go
  central/vulnmgmt/vulnerabilityrequest/datastore/internal/store/postgres/store.go
  pkg/postgres/schema/vulnerability_requests.go
  pkg/sac/resources/list.go
Owners: @stackrox/core-workflows, @stackrox/sensor-ecosystem

chore(sac): use new resource for migration VM stores & schemas
  migrator/migrations/m_189_to_m_190_vulnerability_requests_add_name/schema/new/vulnerability_requests.go
  migrator/migrations/m_189_to_m_190_vulnerability_requests_add_name/schema/old/vulnerability_requests.go
  migrator/migrations/m_189_to_m_190_vulnerability_requests_add_name/store/previous/store.go
  migrator/migrations/m_189_to_m_190_vulnerability_requests_add_name/store/updated/store.go
  migrator/migrations/m_191_to_m_192_vulnerability_requests_searchable_scope/schema/new/vulnerability_requests.go
  migrator/migrations/m_191_to_m_192_vulnerability_requests_searchable_scope/schema/old/vulnerability_requests.go
  migrator/migrations/m_191_to_m_192_vulnerability_requests_searchable_scope/store/previous/store.go
  migrator/migrations/m_191_to_m_192_vulnerability_requests_searchable_scope/store/updated/store.go
  migrator/migrations/m_201_to_m_202_vuln_request_v1_to_v2/schema/vulnerability_requests.go
  migrator/migrations/m_201_to_m_202_vuln_request_v1_to_v2/store/store.go
  migrator/migrations/m_202_to_m_203_vuln_requests_for_suppressed_cves/schema/vulnerability_requests.go
  migrator/migrations/m_202_to_m_203_vuln_requests_for_suppressed_cves/store/vulnerabilityrequests/store.go
Owners: @stackrox/core-workflows

quote
  pkg/jsonutil/json_test.go
  tools/proto/protoc-gen-go-json/main.go
Owners: none

comments, minor refactorings
  roxctl/utils/formatting_writer.go
  roxctl/utils/formatting_writer_test.go
  roxctl/utils/help_formatter.go
  roxctl/utils/help_formatter_test.go
  roxctl/utils/help_writer.go
  roxctl/utils/help_writer_test.go
  roxctl/utils/utils.go
Owners: @stackrox/sensor-ecosystem

ROX-13493: Add admission controller support for Scale subresource (#14296)
  CHANGELOG.md
  sensor/admission-control/manager/evaluate_deploytime.go
  sensor/admission-control/manager/images.go
  sensor/admission-control/manager/responses.go
  sensor/admission-control/resources/deployment.go
Owners: @stackrox/sensor-ecosystem

Disable zip output when not running in container
  roxctl/central/generate/generate.go
Owners: @stackrox/sensor-ecosystem

time
  tools/proto/protoc-gen-go-json/main.go
Owners: none

Fix typo
  pkg/printers/csv.go
Owners: none

bench
  pkg/jsonutil/json_test.go
  tools/proto/protoc-gen-go-json/main.go
Owners: none

Remove tls_issuer_common
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer.go
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer_test.go
  sensor/kubernetes/certrefresh/tls_issuer_common.go
  sensor/kubernetes/certrefresh/tls_issuer_common_test.go
Owners: @stackrox/sensor-ecosystem

ROX-27734: Remove local scanner cert refresh from Sensor
  pkg/centralsensor/caps_list.go
  sensor/kubernetes/certrefresh/localscanner/cert_repo_init.go
  sensor/kubernetes/certrefresh/localscanner/cert_repo_init_test.go
  sensor/kubernetes/certrefresh/localscanner_tls_issuer.go
  sensor/kubernetes/certrefresh/localscanner_tls_issuer_test.go
  sensor/kubernetes/certrefresh/response.go
  sensor/kubernetes/certrefresh/response_test.go
  sensor/kubernetes/sensor/sensor.go
Owners: @stackrox/sensor-ecosystem

use correct syntax for passing optional args
  pkg/printers/csv.go
  pkg/printers/table.go
Owners: none

pass buf
  pkg/jsonutil/json_test.go
  tools/proto/protoc-gen-go-json/main.go
Owners: none

Extend the check script to validate syft exclusions
  .syft.yaml
  scripts/ci/jobs/check-konflux-setup.sh
Owners: none

Rename check-konflux-pipelines.sh
  .github/workflows/style.yaml
  .tekton/operator-bundle-pipeline.yaml
  scripts/ci/jobs/check-konflux-setup.sh
Owners: @stackrox/rhtap-maintainers

Exclude example rpmdb from SBOMs
  .syft.yaml
Owners: none

Refactor earlier checks for consistency
  scripts/ci/jobs/check-konflux-setup.sh
Owners: none

ROX-28249: Disable new roxctl zip output (#14415)
  roxctl/central/generate/generate.go
Owners: @stackrox/sensor-ecosystem

better tracing of countBy queries
  pkg/search/postgres/common.go
Owners: @stackrox/core-workflows

some more tracing
  central/alert/service/service_impl.go
Owners: none

debug
  pkg/search/postgres/common.go
Owners: @stackrox/core-workflows

debug
  pkg/search/postgres/common.go
Owners: @stackrox/core-workflows

CloneVT to Clone
  pkg/k8srbac/subjects.go
Owners: none

ROX-27347: Fix for new rep job failing because previous rep is in a p… (#13656)
  central/reports/scheduler/v2/scheduler_impl.go
Owners: @stackrox/core-workflows

ROX-26763: add changelog entry (zombie process errors) (#14406)
  CHANGELOG.md
Owners: none

Remove printlines
  pkg/gjson/row.go
Owners: none

change row scanning
  pkg/search/postgres/common.go
Owners: @stackrox/core-workflows

add POD_NAME to all components
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml.htpl
Owners: none

add POD_NAMESPACE to compliance and node-inventory containers
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml.htpl
Owners: none
