Repository stackrox/stackrox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stackrox/core-workflows, @stackrox/sensor-ecosystem, @zivnevo, @adisos, @shireenf-ibm, @janisz, @stackrox/ui, @stackrox/install, @stackrox/scanner, @stackrox/rhtap-maintainers

.github/CODEOWNERS:

# For further documentation on CODEOWNERS, visit
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
# This will automatically assign a team / people as reviewers for PRs based on the files changed within the PR.

# Core team's main responsibilities include policies including default policies and policy management workflows,
# detection and alerting, integrations and notifiers, risk, vulnerability management and reporting, migrator and
# interactions with Postgres.
pkg/detection/**/*                  @stackrox/core-workflows
pkg/booleanpolicy/**/*              @stackrox/core-workflows
pkg/defaults/policies/**/*          @stackrox/core-workflows
central/policy/**/*                 @stackrox/core-workflows
central/reports/**/*                @stackrox/core-workflows
central/reportconfiguration/**/*    @stackrox/core-workflows
central/vulnmgmt/**/*               @stackrox/core-workflows
proto/storage/*                     @stackrox/core-workflows
migrator/**/*                       @stackrox/core-workflows
pkg/postgres/**/*                   @stackrox/core-workflows
tests/upgrade/*                     @stackrox/core-workflows
pkg/search/**/*                     @stackrox/core-workflows

# sensor-ecosystem main responsibilities include:
# administration events, authN (authproviders), authZ (SAC)
# cloud sources, declarative config, image signatures, images, netpol,
# observability, performance testing, roxctl, sensor and telemetry.
*/administration/**/*       @stackrox/sensor-ecosystem
*/auth/**/*                 @stackrox/sensor-ecosystem
*/cloudsources/**/*         @stackrox/sensor-ecosystem
*/declarativeconfig/**/*    @stackrox/sensor-ecosystem
*/discoveredclusters/**/    @stackrox/sensor-ecosystem
*/signatureintegration/**/* @stackrox/sensor-ecosystem
pkg/features/**/*           @stackrox/sensor-ecosystem
pkg/images/defaults/**/*    @stackrox/sensor-ecosystem
pkg/sac/**/*                @stackrox/sensor-ecosystem
pkg/signatures/**/*         @stackrox/sensor-ecosystem
roxctl/**/*                 @stackrox/sensor-ecosystem
sensor/**/*                 @stackrox/sensor-ecosystem
tests/performance/**/*      @stackrox/sensor-ecosystem
tests/roxctl/**/*           @stackrox/sensor-ecosystem

# Listing all users as "Outside collaborators cannot be added to a team"
bats-tests/local/roxctl-netpol-*               @zivnevo @adisos @shireenf-ibm
roxctl/netpol/**/*                             @zivnevo @adisos @shireenf-ibm
tests/roxctl/bats-tests/test-data/np-guard/    @zivnevo @adisos @shireenf-ibm

qa-tests-backend/**/*       @janisz

/ui/**/* @stackrox/ui

operator/**/* @stackrox/install

# Scanner team's responsibilities include anything related to the scanner itself and scanning utilities
# such as vulnerability uploading and image integrations.
/.github/workflows/scanner*                               @stackrox/scanner
/.github/workflows/update_scanner_periodic.yaml           @stackrox/scanner
/central/image/service/                                   @stackrox/scanner
/central/imageintegration/service/                        @stackrox/scanner
/central/imageintegration/store/defaults.go               @stackrox/scanner
/central/scannerdefinitions/                              @stackrox/scanner
/central/sensor/service/pipeline/imageintegrations/       @stackrox/scanner
/pkg/images/enricher/                                     @stackrox/scanner
/pkg/nodes/                                               @stackrox/scanner
/pkg/registries/                                          @stackrox/scanner
/pkg/registrymirror/                                      @stackrox/scanner
/pkg/scanners/                                            @stackrox/scanner
/pkg/scannerv4/                                           @stackrox/scanner
/pkg/scans/                                               @stackrox/scanner
/proto/internalapi/scanner/                               @stackrox/scanner
/proto/storage/delegated_registry_config.proto            @stackrox/scanner
/proto/storage/image.proto                                @stackrox/scanner
/proto/storage/image_integration.proto                    @stackrox/scanner
/scanner/                                                 @stackrox/scanner
/sensor/common/registry/                                  @stackrox/scanner
/sensor/common/scan/                                      @stackrox/scanner
/sensor/common/scannerclient/                             @stackrox/scanner
/sensor/common/scannerdefinitions/                        @stackrox/scanner
/sensor/kubernetes/listener/resources/registrymirrorsets* @stackrox/scanner
/sensor/kubernetes/listener/resources/secrets*            @stackrox/scanner
/SCANNER_VERSION                                          @stackrox/scanner

# The RHTAP maintainers for ACS review all changes related to the RHTAP pipelines, such as new pipelines,
# parameter changes or automated task updates.
/.tekton/   @stackrox/rhtap-maintainers

Removed outer goroutine spawning to prevent race conditions
  central/pruning/pruning.go
Owners: none

fix
  sensor/common/certdistribution/service_impl.go
  sensor/kubernetes/sensor/deployment_identification.go
Owners: @stackrox/sensor-ecosystem

adding some more tests get the coverage respectable
  central/image/datastore/store/v2/postgres/store.go
  central/image/datastore/store/v2/postgres/store_test.go
Owners: none

WIP: Remove Sensor certdistribution API
  generated/internalapi/sensor/cert_distribution_iservice.pb.go
  generated/internalapi/sensor/cert_distribution_iservice_grpc.pb.go
  generated/internalapi/sensor/cert_distribution_iservice_vtproto.pb.go
  proto/internalapi/sensor/cert_distribution_iservice.proto
  sensor/admission-control/certs.go
  sensor/admission-control/fetchcerts/fetch_certs.go
  sensor/common/certdistribution/env.go
  sensor/common/certdistribution/persist.go
  sensor/common/certdistribution/service.go
  sensor/common/certdistribution/service_impl.go
  sensor/common/sensor/central_communication_impl.go
  sensor/kubernetes/sensor/sensor.go
Owners: @stackrox/sensor-ecosystem

Try fix build errors
  central/debugactions/manager/manager_impl.go
Owners: none

Propagate datastore/searcher extra parameter to include resolved alerts
  central/alert/datastore/datastore.go
  central/alert/datastore/datastore_impl.go
  central/alert/datastore/internal/search/searcher_impl.go
Owners: none

Adjust postgres query generator code
  pkg/search/postgres/common.go
Owners: @stackrox/core-workflows

ROX-28177: log sensor stop as context cancellation cause
  central/image/service/service_impl.go
  go.mod
  pkg/contextutil/contextmerge.go
  pkg/contextutil/contextmerge_test.go
  pkg/logging/fields.go
  sensor/common/centralclient/client.go
  sensor/common/centralclient/grpc_connection.go
  sensor/common/delegatedregistry/delegated_registry_handler.go
  sensor/common/detector/enricher.go
  sensor/common/message/message.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/processsignal/pipeline.go
  sensor/common/scannerclient/grpc_client.go
  sensor/common/sensor/central_communication_impl.go
  sensor/common/trace/trace.go
  sensor/common/types/errors.go
  sensor/kubernetes/clusterhealth/updater.go
  sensor/kubernetes/clusterstatus/updater.go
  sensor/kubernetes/eventpipeline/component/message.go
  sensor/kubernetes/eventpipeline/output/output_impl.go
  sensor/kubernetes/eventpipeline/pipeline_impl.go
Owners: @stackrox/scanner, @stackrox/sensor-ecosystem

starting graphql stuff
  central/globalindex/mapping/mapping.go
  central/graphql/resolvers/gen/main.go
  central/graphql/resolvers/generated.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_cve_core.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/loaders/componentsV2.go
  central/graphql/resolvers/loaders/image_cves_v2.go
  central/graphql/resolvers/resolver.go
  central/views/imagecve/singleton.go
  central/views/imagecve/view_impl.go
Owners: none

style
  central/image/datastore/store/v2/postgres/store.go
Owners: none

ROX-28258: Fix segfault when calling deactivate on stopped TLS issuer (#14429)
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer.go
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer_test.go
Owners: @stackrox/sensor-ecosystem

Update build.yaml
  .github/workflows/build.yaml
Owners: none

Revert build.yaml
  .github/workflows/build.yaml
Owners: none

export; error handling
  installer/main.go
  installer/manifest/crs.go
  installer/manifest/manifest.go
  installer/manifest/sensor.go
Owners: none

some updates
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_cve_core.go
  central/graphql/resolvers/image_vulnerabilities.go
Owners: none

ROX-14054: Re-enable violations sort by severity test (#14310)
  ui/apps/platform/cypress/integration/violations/Violations.helpers.js
  ui/apps/platform/cypress/integration/violations/violations.test.js
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePanel.tsx
Owners: @stackrox/ui

fix(gha-disk): free more space on the gha runner (#11621)
  .github/workflows/build.yaml
Owners: none

copy space hack to main build
  .github/workflows/build.yaml
Owners: none

some debugging
  central/graphql/resolvers/image_cve_core.go
  central/views/imagecve/view_impl.go
Owners: none

check disk space between build steps
  .github/workflows/build.yaml
Owners: none

fix(gha-disk): free more space on the gha runner (#11621)
  .github/workflows/build.yaml
Owners: none

copy space hack to main build
  .github/workflows/build.yaml
Owners: none

Revert "check disk space between build steps"
  .github/workflows/build.yaml
Owners: none

delete ruby cache also
  .github/workflows/build.yaml
Owners: none

disk usage before deletes
  .github/workflows/build.yaml
Owners: none

fix ruby path
  .github/workflows/build.yaml
Owners: none

chore(ui): Reduce effort to add search filter config in ui (#14347)
  ui/apps/platform/src/Containers/ComplianceEnhanced/searchFilterConfig.ts
  ui/apps/platform/src/Containers/Vulnerabilities/searchFilterConfig.ts
Owners: @stackrox/ui

ROX-28037: Render Advisories column without GraphQL data (#14333)
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/table.utils.ts
Owners: @stackrox/ui

fix bats tests
  tests/roxctl/bats-tests/helpers.bash
  tests/roxctl/bats-tests/local/expect/roxctl--help.txt
  tests/roxctl/bats-tests/local/expect/roxctl_declarative-config_create_notifier_generic--help.txt
Owners: @stackrox/sensor-ecosystem

Remove default boolean patch
  roxctl/main.go
  roxctl/main_test.go
  roxctl/patch_flag_usage.go
Owners: @stackrox/sensor-ecosystem

comment about kubectl
  roxctl/utils/help_formatter.go
Owners: @stackrox/sensor-ecosystem

fixed some bats tests
  tests/roxctl/bats-tests/local/roxctl-helm-output-central-development.bats
  tests/roxctl/bats-tests/local/roxctl-helm-output-central-release.bats
Owners: @stackrox/sensor-ecosystem

format command groups
  roxctl/utils/help_formatter.go
  roxctl/utils/help_formatter_test.go
Owners: @stackrox/sensor-ecosystem

rewritten bats tests
  roxctl/maincommand/command.go
  tests/roxctl/bats-tests/local/central-boolean-defaults.bats
  tests/roxctl/bats-tests/local/central-help-output.bats
  tests/roxctl/bats-tests/local/expect/roxctl--help.txt
  tests/roxctl/bats-tests/local/expect/roxctl_central_whoami--help.txt
  tests/roxctl/bats-tests/local/expect/roxctl_declarative-config_create_notifier_generic--help.txt
Owners: @stackrox/sensor-ecosystem

ignore trailing whitespaces in roxctl output
  tests/roxctl/bats-tests/local/expect/.gitattributes
Owners: @stackrox/sensor-ecosystem

format utils
  roxctl/main.go
  roxctl/utils/help_formatter.go
  roxctl/utils/help_formatter_test.go
  roxctl/utils/indent_writer.go
  roxctl/utils/utils.go
  roxctl/utils/utils_test.go
Owners: @stackrox/sensor-ecosystem

ignore main command help captialization check
  roxctl/maincommand/command_test.go
Owners: @stackrox/sensor-ecosystem

fix tabs
  roxctl/utils/formatting_writer.go
  roxctl/utils/formatting_writer_test.go
Owners: @stackrox/sensor-ecosystem

formatting_writer refactoring
  roxctl/utils/formatting_writer.go
Owners: @stackrox/sensor-ecosystem

test formatting of flags from a flagset
  roxctl/utils/help_formatter_test.go
Owners: @stackrox/sensor-ecosystem
