Repository stackrox/stackrox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stackrox/core-workflows, @stackrox/sensor-ecosystem, @zivnevo, @adisos, @shireenf-ibm, @janisz, @stackrox/ui, @stackrox/install, @stackrox/scanner, @stackrox/rhtap-maintainers

.github/CODEOWNERS:

# For further documentation on CODEOWNERS, visit
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
# This will automatically assign a team / people as reviewers for PRs based on the files changed within the PR.

# Core team's main responsibilities include policies including default policies and policy management workflows,
# detection and alerting, integrations and notifiers, risk, vulnerability management and reporting, migrator and
# interactions with Postgres.
pkg/detection/**/*                  @stackrox/core-workflows
pkg/booleanpolicy/**/*              @stackrox/core-workflows
pkg/defaults/policies/**/*          @stackrox/core-workflows
central/policy/**/*                 @stackrox/core-workflows
central/reports/**/*                @stackrox/core-workflows
central/reportconfiguration/**/*    @stackrox/core-workflows
central/vulnmgmt/**/*               @stackrox/core-workflows
proto/storage/*                     @stackrox/core-workflows
migrator/**/*                       @stackrox/core-workflows
pkg/postgres/**/*                   @stackrox/core-workflows
tests/upgrade/*                     @stackrox/core-workflows
pkg/search/**/*                     @stackrox/core-workflows

# sensor-ecosystem main responsibilities include:
# administration events, authN (authproviders), authZ (SAC)
# cloud sources, declarative config, image signatures, images, netpol,
# observability, performance testing, roxctl, sensor and telemetry.
*/administration/**/*       @stackrox/sensor-ecosystem
*/auth/**/*                 @stackrox/sensor-ecosystem
*/cloudsources/**/*         @stackrox/sensor-ecosystem
*/declarativeconfig/**/*    @stackrox/sensor-ecosystem
*/discoveredclusters/**/    @stackrox/sensor-ecosystem
*/signatureintegration/**/* @stackrox/sensor-ecosystem
pkg/features/**/*           @stackrox/sensor-ecosystem
pkg/images/defaults/**/*    @stackrox/sensor-ecosystem
pkg/sac/**/*                @stackrox/sensor-ecosystem
pkg/signatures/**/*         @stackrox/sensor-ecosystem
roxctl/**/*                 @stackrox/sensor-ecosystem
sensor/**/*                 @stackrox/sensor-ecosystem
tests/performance/**/*      @stackrox/sensor-ecosystem
tests/roxctl/**/*           @stackrox/sensor-ecosystem

# Listing all users as "Outside collaborators cannot be added to a team"
bats-tests/local/roxctl-netpol-*               @zivnevo @adisos @shireenf-ibm
roxctl/netpol/**/*                             @zivnevo @adisos @shireenf-ibm
tests/roxctl/bats-tests/test-data/np-guard/    @zivnevo @adisos @shireenf-ibm

qa-tests-backend/**/*       @janisz

/ui/**/* @stackrox/ui

operator/**/* @stackrox/install

# Scanner team's responsibilities include anything related to the scanner itself and scanning utilities
# such as vulnerability uploading and image integrations.
/.github/workflows/scanner*                               @stackrox/scanner
/.github/workflows/update_scanner_periodic.yaml           @stackrox/scanner
/central/image/service/                                   @stackrox/scanner
/central/imageintegration/service/                        @stackrox/scanner
/central/imageintegration/store/defaults.go               @stackrox/scanner
/central/scannerdefinitions/                              @stackrox/scanner
/central/sensor/service/pipeline/imageintegrations/       @stackrox/scanner
/pkg/images/enricher/                                     @stackrox/scanner
/pkg/nodes/                                               @stackrox/scanner
/pkg/registries/                                          @stackrox/scanner
/pkg/registrymirror/                                      @stackrox/scanner
/pkg/scanners/                                            @stackrox/scanner
/pkg/scannerv4/                                           @stackrox/scanner
/pkg/scans/                                               @stackrox/scanner
/proto/internalapi/scanner/                               @stackrox/scanner
/proto/storage/delegated_registry_config.proto            @stackrox/scanner
/proto/storage/image.proto                                @stackrox/scanner
/proto/storage/image_integration.proto                    @stackrox/scanner
/scanner/                                                 @stackrox/scanner
/sensor/common/registry/                                  @stackrox/scanner
/sensor/common/scan/                                      @stackrox/scanner
/sensor/common/scannerclient/                             @stackrox/scanner
/sensor/common/scannerdefinitions/                        @stackrox/scanner
/sensor/kubernetes/listener/resources/registrymirrorsets* @stackrox/scanner
/sensor/kubernetes/listener/resources/secrets*            @stackrox/scanner
/SCANNER_VERSION                                          @stackrox/scanner

# The RHTAP maintainers for ACS review all changes related to the RHTAP pipelines, such as new pipelines,
# parameter changes or automated task updates.
/.tekton/   @stackrox/rhtap-maintainers

use commandTreeFilename variable
  roxctl/maincommand/command_test.go
Owners: @stackrox/sensor-ecosystem

format command groups
  roxctl/utils/help_formatter.go
  roxctl/utils/help_formatter_test.go
Owners: @stackrox/sensor-ecosystem

Remove default boolean patch
  roxctl/main.go
  roxctl/main_test.go
  roxctl/patch_flag_usage.go
Owners: @stackrox/sensor-ecosystem

rewritten bats tests
  roxctl/maincommand/command.go
  tests/roxctl/bats-tests/local/central-boolean-defaults.bats
  tests/roxctl/bats-tests/local/central-help-output.bats
  tests/roxctl/bats-tests/local/expect/roxctl--help.txt
  tests/roxctl/bats-tests/local/expect/roxctl_central_whoami--help.txt
  tests/roxctl/bats-tests/local/expect/roxctl_declarative-config_create_notifier_generic--help.txt
Owners: @stackrox/sensor-ecosystem

format utils
  roxctl/main.go
  roxctl/utils/help_formatter.go
  roxctl/utils/help_formatter_test.go
  roxctl/utils/indent_writer.go
  roxctl/utils/utils.go
  roxctl/utils/utils_test.go
Owners: @stackrox/sensor-ecosystem

fixed some bats tests
  tests/roxctl/bats-tests/local/roxctl-helm-output-central-development.bats
  tests/roxctl/bats-tests/local/roxctl-helm-output-central-release.bats
Owners: @stackrox/sensor-ecosystem

comment about kubectl
  roxctl/utils/help_formatter.go
Owners: @stackrox/sensor-ecosystem

fix bats tests
  tests/roxctl/bats-tests/helpers.bash
  tests/roxctl/bats-tests/local/expect/roxctl--help.txt
  tests/roxctl/bats-tests/local/expect/roxctl_declarative-config_create_notifier_generic--help.txt
Owners: @stackrox/sensor-ecosystem

formatting_writer refactoring
  roxctl/utils/formatting_writer.go
Owners: @stackrox/sensor-ecosystem

reset command_tree_debug.yaml
  roxctl/maincommand/command_tree_debug.yaml
Owners: @stackrox/sensor-ecosystem

fixes
  roxctl/utils/formatting_writer.go
  roxctl/utils/formatting_writer_test.go
  tests/roxctl/bats-tests/helpers.bash
  tests/roxctl/bats-tests/local/expect/roxctl--help.txt
Owners: @stackrox/sensor-ecosystem

refactoring
  roxctl/utils/formatting_writer.go
  roxctl/utils/formatting_writer_test.go
  roxctl/utils/help_formatter.go
  roxctl/utils/help_formatter_test.go
  roxctl/utils/help_writer.go
  roxctl/utils/help_writer_test.go
Owners: @stackrox/sensor-ecosystem

ignore main command help captialization check
  roxctl/maincommand/command_test.go
Owners: @stackrox/sensor-ecosystem

fix tabs
  roxctl/utils/formatting_writer.go
  roxctl/utils/formatting_writer_test.go
Owners: @stackrox/sensor-ecosystem

test formatting of flags from a flagset
  roxctl/utils/help_formatter_test.go
Owners: @stackrox/sensor-ecosystem

new commands tree
  roxctl/maincommand/command_tree_debug.yaml
Owners: @stackrox/sensor-ecosystem

ignore trailing whitespaces in roxctl output
  tests/roxctl/bats-tests/local/expect/.gitattributes
Owners: @stackrox/sensor-ecosystem

Add config object to installer
  installer/main.go
  pkg/manifest/central.go
  pkg/manifest/config.go
  pkg/manifest/manifest.go
  pkg/manifest/scanner.go
Owners: none

fix bats tests
  tests/roxctl/bats-tests/local/expect/roxctl--help.txt
  tests/roxctl/bats-tests/local/expect/roxctl_declarative-config_create_notifier_generic--help.txt
Owners: @stackrox/sensor-ecosystem

Fix AllowFixedScopes access behaviour
  pkg/sac/allow_fixed_scopes_checker_core.go
Owners: @stackrox/sensor-ecosystem

chore(scanner): Update SCANNER_VERSION (#14378)
  SCANNER_VERSION
Owners: @stackrox/scanner

test: Support local execution for scanner V4 install tests (#14386)
  tests/e2e/lib.sh
  tests/e2e/run-scanner-v4-install.bats
Owners: none

ROX-28098: explicitly set advisory
  generated/api/v1/image_service.swagger.json
  generated/api/v1/node_service.swagger.json
  generated/api/v1/vuln_mgmt_service.swagger.json
  generated/internalapi/scanner/v4/vulnerability_report.pb.go
  generated/internalapi/scanner/v4/vulnerability_report_vtproto.pb.go
  generated/storage/vulnerability.pb.go
  generated/storage/vulnerability_vtproto.pb.go
  pkg/scanners/scannerv4/convert.go
  pkg/scannerv4/mappers/mappers.go
  pkg/scannerv4/mappers/mappers_test.go
  proto/internalapi/scanner/v4/vulnerability_report.proto
  proto/storage/proto.lock
  proto/storage/vulnerability.proto
Owners: @stackrox/scanner, @stackrox/core-workflows

make proto-generated-srcs
  generated/internalapi/scanner/v4/vulnerability_report_vtproto.pb.go
  generated/storage/vulnerability_vtproto.pb.go
Owners: none

fix mapper test
  pkg/scannerv4/mappers/mappers_test.go
Owners: @stackrox/scanner

ignore advisory in image store test
  central/image/datastore/store/postgres/store_test.go
Owners: none

ROX-28113: make language support configurable
  CHANGELOG.md
  pkg/features/list.go
  scanner/indexer/indexer.go
  scanner/matcher/matcher.go
Owners: @stackrox/sensor-ecosystem, @stackrox/scanner

invert feature flag
  CHANGELOG.md
  pkg/features/list.go
  scanner/indexer/indexer.go
  scanner/matcher/matcher.go
Owners: @stackrox/sensor-ecosystem, @stackrox/scanner

re-add UTF-8 encoding
  image/postgres/scripts/docker-entrypoint.sh
Owners: none

update debian release name
  scanner/image/db/scripts/docker-entrypoint.sh
Owners: @stackrox/scanner

chore(postgres): inherit latest upstream changes
  image/postgres/scripts/docker-entrypoint.sh
  scanner/image/db/scripts/docker-entrypoint.sh
Owners: @stackrox/scanner

ROX-28192: skip TLS verification for insecure registries
  scanner/indexer/indexer.go
  scanner/indexer/indexer_bench_test.go
  scanner/indexer/indexer_integration_test.go
  scanner/internal/httputil/doc.go
  scanner/internal/httputil/transport.go
  scanner/internal/httputil/transport_mux.go
  scanner/internal/httputil/transport_test.go
  scanner/matcher/matcher.go
Owners: @stackrox/scanner

chore(scanner): group Scanner V4 feature flags together (#14293)
  pkg/env/scannerv4.go
  pkg/features/list.go
  pkg/scannerv4/mappers/mappers.go
  pkg/scannerv4/mappers/mappers_test.go
Owners: @stackrox/sensor-ecosystem, @stackrox/scanner

a nightly update script
  .github/workflows/tagged-ci.yaml
  .openshift-ci/nightlies.sh
Owners: none

Improved comment
  central/pruning/pruning.go
Owners: none

tests: Enable image prefetching for Scanner V4 Install Tests (#14383)
  scripts/ci/lib.sh
Owners: none

Use ORCH_CMD instead of kubectl, for retries
  tests/e2e/run-scanner-v4-install.bats
Owners: none

initial fixxxers
  scripts/fixxxers/operator/deps-go-mod-tidy.sh
  scripts/fixxxers/operator/generate.sh
Owners: none

trigger
  .github/workflows/fixxxer.yaml
Owners: none

Revert "Fix AllowFixedScopes access behaviour"
  pkg/sac/allow_fixed_scopes_checker_core.go
Owners: @stackrox/sensor-ecosystem
