Repository stackrox/stackrox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stackrox/core-workflows, @stackrox/sensor-ecosystem, @zivnevo, @adisos, @shireenf-ibm, @janisz, @stackrox/ui, @stackrox/install, @stackrox/scanner, @stackrox/rhtap-maintainers

.github/CODEOWNERS:

# For further documentation on CODEOWNERS, visit
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
# This will automatically assign a team / people as reviewers for PRs based on the files changed within the PR.

# Core team's main responsibilities include policies including default policies and policy management workflows,
# detection and alerting, integrations and notifiers, risk, vulnerability management and reporting, migrator and
# interactions with Postgres.
pkg/detection/**/*                  @stackrox/core-workflows
pkg/booleanpolicy/**/*              @stackrox/core-workflows
pkg/defaults/policies/**/*          @stackrox/core-workflows
central/policy/**/*                 @stackrox/core-workflows
central/reports/**/*                @stackrox/core-workflows
central/reportconfiguration/**/*    @stackrox/core-workflows
central/vulnmgmt/**/*               @stackrox/core-workflows
proto/storage/*                     @stackrox/core-workflows
migrator/**/*                       @stackrox/core-workflows
pkg/postgres/**/*                   @stackrox/core-workflows
tests/upgrade/*                     @stackrox/core-workflows
pkg/search/**/*                     @stackrox/core-workflows

# sensor-ecosystem main responsibilities include:
# administration events, authN (authproviders), authZ (SAC)
# cloud sources, declarative config, image signatures, images, netpol,
# observability, performance testing, roxctl, sensor and telemetry.
*/administration/**/*       @stackrox/sensor-ecosystem
*/auth/**/*                 @stackrox/sensor-ecosystem
*/cloudsources/**/*         @stackrox/sensor-ecosystem
*/declarativeconfig/**/*    @stackrox/sensor-ecosystem
*/discoveredclusters/**/    @stackrox/sensor-ecosystem
*/signatureintegration/**/* @stackrox/sensor-ecosystem
pkg/features/**/*           @stackrox/sensor-ecosystem
pkg/images/defaults/**/*    @stackrox/sensor-ecosystem
pkg/sac/**/*                @stackrox/sensor-ecosystem
pkg/signatures/**/*         @stackrox/sensor-ecosystem
roxctl/**/*                 @stackrox/sensor-ecosystem
sensor/**/*                 @stackrox/sensor-ecosystem
tests/performance/**/*      @stackrox/sensor-ecosystem
tests/roxctl/**/*           @stackrox/sensor-ecosystem

# Listing all users as "Outside collaborators cannot be added to a team"
bats-tests/local/roxctl-netpol-*               @zivnevo @adisos @shireenf-ibm
roxctl/netpol/**/*                             @zivnevo @adisos @shireenf-ibm
tests/roxctl/bats-tests/test-data/np-guard/    @zivnevo @adisos @shireenf-ibm

qa-tests-backend/**/*       @janisz

/ui/**/* @stackrox/ui

operator/**/* @stackrox/install

# Scanner team's responsibilities include anything related to the scanner itself and scanning utilities
# such as vulnerability uploading and image integrations.
/.github/workflows/scanner*                               @stackrox/scanner
/.github/workflows/update_scanner_periodic.yaml           @stackrox/scanner
/central/image/service/                                   @stackrox/scanner
/central/imageintegration/service/                        @stackrox/scanner
/central/imageintegration/store/defaults.go               @stackrox/scanner
/central/scannerdefinitions/                              @stackrox/scanner
/central/sensor/service/pipeline/imageintegrations/       @stackrox/scanner
/pkg/images/enricher/                                     @stackrox/scanner
/pkg/nodes/                                               @stackrox/scanner
/pkg/registries/                                          @stackrox/scanner
/pkg/registrymirror/                                      @stackrox/scanner
/pkg/scanners/                                            @stackrox/scanner
/pkg/scannerv4/                                           @stackrox/scanner
/pkg/scans/                                               @stackrox/scanner
/proto/internalapi/scanner/                               @stackrox/scanner
/proto/storage/delegated_registry_config.proto            @stackrox/scanner
/proto/storage/image.proto                                @stackrox/scanner
/proto/storage/image_integration.proto                    @stackrox/scanner
/scanner/                                                 @stackrox/scanner
/sensor/common/registry/                                  @stackrox/scanner
/sensor/common/scan/                                      @stackrox/scanner
/sensor/common/scannerclient/                             @stackrox/scanner
/sensor/common/scannerdefinitions/                        @stackrox/scanner
/sensor/kubernetes/listener/resources/registrymirrorsets* @stackrox/scanner
/sensor/kubernetes/listener/resources/secrets*            @stackrox/scanner
/SCANNER_VERSION                                          @stackrox/scanner

# The RHTAP maintainers for ACS review all changes related to the RHTAP pipelines, such as new pipelines,
# parameter changes or automated task updates.
/.tekton/   @stackrox/rhtap-maintainers

Update tests/e2e/run-scanner-v4-install.bats
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Update tests/e2e/run-scanner-v4-install.bats
  tests/e2e/run-scanner-v4-install.bats
Owners: none

early roxctl check
  tests/e2e/run-scanner-v4-install.bats
Owners: none

ROX-27727: Use dedicated priority class for collector pods (#14360)
  deploy/common/env.sh
  deploy/common/k8sbased.sh
Owners: none

@SuppressWarnings('BuilderMethodWithSideEffects')
  qa-tests-backend/codenarc-rules.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/OpenShift.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/OrchestratorMain.groovy
Owners: @janisz

refactoring
  roxctl/utils/formatting_writer.go
  roxctl/utils/formatting_writer_test.go
  roxctl/utils/help_formatter.go
  roxctl/utils/help_formatter_test.go
  roxctl/utils/help_writer.go
  roxctl/utils/help_writer_test.go
Owners: @stackrox/sensor-ecosystem

tests the command tree and flags
  roxctl/maincommand/command_test.go
  roxctl/maincommand/commands_tree.yaml
Owners: @stackrox/sensor-ecosystem

add global flags to the command tree test
  roxctl/maincommand/command_test.go
  roxctl/maincommand/commands_tree.yaml
Owners: @stackrox/sensor-ecosystem

original commands_tree.yaml
  roxctl/maincommand/commands_tree.yaml
Owners: @stackrox/sensor-ecosystem

Update roxctl/maincommand/command_test.go
  roxctl/maincommand/command_test.go
Owners: @stackrox/sensor-ecosystem

Add mutex for activate/deactivate
  sensor/kubernetes/certrefresh/tls_issuer_common.go
Owners: @stackrox/sensor-ecosystem

Add tests for RetryTicker ctx cancelation
  pkg/concurrency/retry_ticker.go
  pkg/concurrency/retry_ticker_test.go
Owners: none

chore(qa): add types to Kubernetes helpers (#14330)
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/OpenShift.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/OrchestratorMain.groovy
  qa-tests-backend/src/main/groovy/util/Env.groovy
Owners: @janisz

chore(qa): add types to Kubernetes lib
  qa-tests-backend/codenarc-rules.groovy
Owners: @janisz

@CompileStatic
  qa-tests-backend/src/main/groovy/common/Constants.groovy
  qa-tests-backend/src/main/groovy/objects/ConfigMap.groovy
  qa-tests-backend/src/main/groovy/objects/ConfigMapKeyRef.groovy
  qa-tests-backend/src/main/groovy/objects/Deployment.groovy
  qa-tests-backend/src/main/groovy/objects/K8sRbacObjects.groovy
  qa-tests-backend/src/main/groovy/objects/K8sServiceAccount.groovy
  qa-tests-backend/src/main/groovy/objects/NetworkPolicy.groovy
  qa-tests-backend/src/main/groovy/objects/Secret.groovy
  qa-tests-backend/src/main/groovy/objects/SecretKeyRef.groovy
  qa-tests-backend/src/main/groovy/util/Env.groovy
  qa-tests-backend/src/main/groovy/util/Helpers.groovy
  qa-tests-backend/src/main/groovy/util/Timer.groovy
  qa-tests-backend/src/test/groovy/AuthServiceTest.groovy
Owners: @janisz

style
  qa-tests-backend/src/main/groovy/common/Constants.groovy
  qa-tests-backend/src/main/groovy/util/Env.groovy
Owners: @janisz

WIP
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
Owners: @janisz

style
  qa-tests-backend/src/main/groovy/common/Constants.groovy
  qa-tests-backend/src/main/groovy/util/Env.groovy
Owners: @janisz

fix
  qa-tests-backend/codenarc-rules.groovy
Owners: @janisz

fix
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
Owners: @janisz

fix
  qa-tests-backend/src/main/groovy/util/Helpers.groovy
Owners: @janisz

fix style
  qa-tests-backend/src/main/groovy/util/Helpers.groovy
Owners: @janisz

fix
  qa-tests-backend/src/main/groovy/util/Helpers.groovy
Owners: @janisz

fix style
  qa-tests-backend/src/main/groovy/util/Helpers.groovy
Owners: @janisz

fix
  qa-tests-backend/src/main/groovy/util/Helpers.groovy
Owners: @janisz

ROX-26663: Dele Scan Tests - add retries for common errors (#14350)
  tests/delegated_scanning_test.go
Owners: none

ROX-27607: create swagger doc for SBOM custom route (#14334)
  central/docs/api_custom_routes/.gitignore
  central/docs/api_custom_routes/README.md
  central/docs/api_custom_routes/image_service_swagger.yaml
  pkg/apiparams/sbom.go
Owners: none

kickstart
  make/protogen.mk
  tools/clean_autogen_protos.py
  tools/proto/go.mod
Owners: none

tests: Add postgres tests to Vulnerability Request datastore
  central/vulnmgmt/vulnerabilityrequest/datastore/datastore_impl_postgres_test.go
  central/vulnmgmt/vulnerabilityrequest/datastore/datastore_impl_test.go
  pkg/uuid/uuid.go
Owners: @stackrox/core-workflows

Style fix
  central/vulnmgmt/vulnerabilityrequest/datastore/datastore_impl_test.go
Owners: @stackrox/core-workflows

Isolate object ID for tests
  central/vulnmgmt/vulnerabilityrequest/datastore/datastore_impl_postgres_test.go
Owners: @stackrox/core-workflows

Fix UUID test
  pkg/uuid/uuid_test.go
Owners: none

ROX-28141: fix race with scanner integration registration (#14357)
  qa-tests-backend/src/test/groovy/CertExpiryTest.groovy
Owners: @janisz

feat(operator): support verbatim overlay values (#14336)
  go.mod
  go.sum
  operator/api/v1alpha1/overlay_types.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/internal/overlays/postrenderer.go
Owners: @stackrox/install

separate metrics calculation
  pkg/scannerv4/mappers/mappers.go
Owners: @stackrox/scanner

update
  pkg/scannerv4/mappers/scores.go
Owners: @stackrox/scanner

wip
  tools/proto/protoc-gen-go-json/main.go
Owners: none

Trying to check for the number of out edges
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Owners: @janisz

fix command tree tests
  roxctl/maincommand/command_test.go
  roxctl/maincommand/command_tree_debug.yaml
  roxctl/maincommand/command_tree_release.yaml
  roxctl/maincommand/embed_tree_debug.go
  roxctl/maincommand/embed_tree_release.go
Owners: @stackrox/sensor-ecosystem

ROX-28206: Extract go version for local arm64 builds from go.mod (#14385)
  Makefile
Owners: none
