Repository stackrox/stackrox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stackrox/core-workflows, @stackrox/sensor-ecosystem, @zivnevo, @adisos, @shireenf-ibm, @janisz, @stackrox/ui, @stackrox/install, @stackrox/scanner, @stackrox/rhtap-maintainers

.github/CODEOWNERS:

# For further documentation on CODEOWNERS, visit
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
# This will automatically assign a team / people as reviewers for PRs based on the files changed within the PR.

# Core team's main responsibilities include policies including default policies and policy management workflows,
# detection and alerting, integrations and notifiers, risk, vulnerability management and reporting, migrator and
# interactions with Postgres.
pkg/detection/**/*                  @stackrox/core-workflows
pkg/booleanpolicy/**/*              @stackrox/core-workflows
pkg/defaults/policies/**/*          @stackrox/core-workflows
central/policy/**/*                 @stackrox/core-workflows
central/reports/**/*                @stackrox/core-workflows
central/reportconfiguration/**/*    @stackrox/core-workflows
central/vulnmgmt/**/*               @stackrox/core-workflows
proto/storage/*                     @stackrox/core-workflows
migrator/**/*                       @stackrox/core-workflows
pkg/postgres/**/*                   @stackrox/core-workflows
tests/upgrade/*                     @stackrox/core-workflows
pkg/search/**/*                     @stackrox/core-workflows

# sensor-ecosystem main responsibilities include:
# administration events, authN (authproviders), authZ (SAC)
# cloud sources, declarative config, image signatures, images, netpol,
# observability, performance testing, roxctl, sensor and telemetry.
*/administration/**/*       @stackrox/sensor-ecosystem
*/auth/**/*                 @stackrox/sensor-ecosystem
*/cloudsources/**/*         @stackrox/sensor-ecosystem
*/declarativeconfig/**/*    @stackrox/sensor-ecosystem
*/discoveredclusters/**/    @stackrox/sensor-ecosystem
*/signatureintegration/**/* @stackrox/sensor-ecosystem
pkg/features/**/*           @stackrox/sensor-ecosystem
pkg/images/defaults/**/*    @stackrox/sensor-ecosystem
pkg/sac/**/*                @stackrox/sensor-ecosystem
pkg/signatures/**/*         @stackrox/sensor-ecosystem
roxctl/**/*                 @stackrox/sensor-ecosystem
sensor/**/*                 @stackrox/sensor-ecosystem
tests/performance/**/*      @stackrox/sensor-ecosystem
tests/roxctl/**/*           @stackrox/sensor-ecosystem

# Listing all users as "Outside collaborators cannot be added to a team"
bats-tests/local/roxctl-netpol-*               @zivnevo @adisos @shireenf-ibm
roxctl/netpol/**/*                             @zivnevo @adisos @shireenf-ibm
tests/roxctl/bats-tests/test-data/np-guard/    @zivnevo @adisos @shireenf-ibm

qa-tests-backend/**/*       @janisz

/ui/**/* @stackrox/ui

operator/**/* @stackrox/install

# Scanner team's responsibilities include anything related to the scanner itself and scanning utilities
# such as vulnerability uploading and image integrations.
/.github/workflows/scanner*                               @stackrox/scanner
/.github/workflows/update_scanner_periodic.yaml           @stackrox/scanner
/central/image/service/                                   @stackrox/scanner
/central/imageintegration/service/                        @stackrox/scanner
/central/imageintegration/store/defaults.go               @stackrox/scanner
/central/scannerdefinitions/                              @stackrox/scanner
/central/sensor/service/pipeline/imageintegrations/       @stackrox/scanner
/pkg/images/enricher/                                     @stackrox/scanner
/pkg/nodes/                                               @stackrox/scanner
/pkg/registries/                                          @stackrox/scanner
/pkg/registrymirror/                                      @stackrox/scanner
/pkg/scanners/                                            @stackrox/scanner
/pkg/scannerv4/                                           @stackrox/scanner
/pkg/scans/                                               @stackrox/scanner
/proto/internalapi/scanner/                               @stackrox/scanner
/proto/storage/delegated_registry_config.proto            @stackrox/scanner
/proto/storage/image.proto                                @stackrox/scanner
/proto/storage/image_integration.proto                    @stackrox/scanner
/scanner/                                                 @stackrox/scanner
/sensor/common/registry/                                  @stackrox/scanner
/sensor/common/scan/                                      @stackrox/scanner
/sensor/common/scannerclient/                             @stackrox/scanner
/sensor/common/scannerdefinitions/                        @stackrox/scanner
/sensor/kubernetes/listener/resources/registrymirrorsets* @stackrox/scanner
/sensor/kubernetes/listener/resources/secrets*            @stackrox/scanner
/SCANNER_VERSION                                          @stackrox/scanner

# The RHTAP maintainers for ACS review all changes related to the RHTAP pipelines, such as new pipelines,
# parameter changes or automated task updates.
/.tekton/   @stackrox/rhtap-maintainers

refactoring
  roxctl/utils/formatting_writer.go
  roxctl/utils/formatting_writer_test.go
  roxctl/utils/help_formatter.go
  roxctl/utils/help_formatter_test.go
  roxctl/utils/help_writer.go
  roxctl/utils/help_writer_test.go
Owners: @stackrox/sensor-ecosystem

fixes
  roxctl/utils/formatting_writer.go
  roxctl/utils/formatting_writer_test.go
  tests/roxctl/bats-tests/helpers.bash
  tests/roxctl/bats-tests/local/expect/roxctl--help.txt
Owners: @stackrox/sensor-ecosystem

new commands tree
  roxctl/maincommand/command_tree_debug.yaml
Owners: @stackrox/sensor-ecosystem

reset command_tree_debug.yaml
  roxctl/maincommand/command_tree_debug.yaml
Owners: @stackrox/sensor-ecosystem

fix bats tests
  tests/roxctl/bats-tests/local/expect/roxctl--help.txt
  tests/roxctl/bats-tests/local/expect/roxctl_declarative-config_create_notifier_generic--help.txt
Owners: @stackrox/sensor-ecosystem

CHANGELOG.md
  CHANGELOG.md
Owners: none

get terminal width
  roxctl/utils/help_formatter.go
Owners: @stackrox/sensor-ecosystem

comments, minor refactorings
  roxctl/utils/formatting_writer.go
  roxctl/utils/formatting_writer_test.go
  roxctl/utils/help_formatter.go
  roxctl/utils/help_formatter_test.go
  roxctl/utils/help_writer.go
  roxctl/utils/help_writer_test.go
  roxctl/utils/utils.go
Owners: @stackrox/sensor-ecosystem

format deprecated commands
  roxctl/central/db/backup/backup.go
  roxctl/central/db/restore/v2.go
  roxctl/utils/formatting_writer.go
  roxctl/utils/formatting_writer_test.go
  roxctl/utils/help_formatter.go
  roxctl/utils/help_formatter_test.go
Owners: @stackrox/sensor-ecosystem

revert bats' helpers.bash
  tests/roxctl/bats-tests/helpers.bash
Owners: @stackrox/sensor-ecosystem

wordsAndDelimeters bufio.SplitFunc
  roxctl/utils/formatting_writer.go
  roxctl/utils/utils.go
  roxctl/utils/utils_test.go
Owners: @stackrox/sensor-ecosystem

tests the command tree and flags
  roxctl/maincommand/command_test.go
  roxctl/maincommand/commands_tree.yaml
Owners: @stackrox/sensor-ecosystem

add global flags to the command tree test
  roxctl/maincommand/command_test.go
  roxctl/maincommand/commands_tree.yaml
Owners: @stackrox/sensor-ecosystem

original commands_tree.yaml
  roxctl/maincommand/commands_tree.yaml
Owners: @stackrox/sensor-ecosystem

fix command tree tests
  roxctl/maincommand/command_test.go
  roxctl/maincommand/commands_tree.yaml
  roxctl/maincommand/embed_tree_debug.go
  roxctl/maincommand/embed_tree_release.go
Owners: @stackrox/sensor-ecosystem

fix missing persistent flags in command tree
  roxctl/maincommand/command_test.go
Owners: @stackrox/sensor-ecosystem

oops
  roxctl/maincommand/command_test.go
Owners: @stackrox/sensor-ecosystem

don't hide inherited flags
  roxctl/central/central.go
  roxctl/central/debug/download_diagnostics_test.go
  roxctl/cluster/delete/delete.go
  roxctl/common/auth/token_test.go
  roxctl/common/flags/api_token_file.go
  roxctl/common/flags/auth_flags.go
  roxctl/common/flags/endpoint.go
  roxctl/common/flags/env_flag_test.go
  roxctl/common/flags/hide.go
  roxctl/common/flags/password.go
  roxctl/completion/completion.go
  roxctl/declarativeconfig/create/access_scope.go
  roxctl/declarativeconfig/create/auth_provider.go
  roxctl/declarativeconfig/create/create.go
  roxctl/declarativeconfig/create/permission_set.go
  roxctl/declarativeconfig/create/role.go
  roxctl/declarativeconfig/declarativeconfig.go
  roxctl/declarativeconfig/lint/lint.go
  roxctl/doc/generate.go
  roxctl/image/sbom/sbom_test.go
  roxctl/logconvert/logconvert.go
  roxctl/maincommand/command.go
  roxctl/scanner/downloaddb/downloaddb_test.go
  roxctl/scanner/uploaddb/uploaddb_test.go
Owners: @stackrox/sensor-ecosystem

new commands tree
  roxctl/maincommand/command_tree_debug.yaml
  roxctl/maincommand/command_tree_release.yaml
Owners: @stackrox/sensor-ecosystem

style
  roxctl/declarativeconfig/create/auth_provider.go
Owners: @stackrox/sensor-ecosystem

fix token_test
  roxctl/common/auth/token_test.go
  roxctl/common/flags/auth_flags.go
Owners: @stackrox/sensor-ecosystem

bring back central connection flags to proper commands
  roxctl/central/central.go
  roxctl/central/debug/download_diagnostics_test.go
  roxctl/cluster/cluster.go
  roxctl/cluster/delete/delete.go
  roxctl/collector/supportpackages/upload/command.go
  roxctl/common/flags/endpoint.go
  roxctl/common/flags/env_flag_test.go
  roxctl/deployment/deployment.go
  roxctl/image/image.go
  roxctl/maincommand/command_tree_debug.yaml
  roxctl/maincommand/command_tree_release.yaml
  roxctl/scanner/scanner.go
  roxctl/scanner/uploaddb/uploaddb_test.go
  roxctl/sensor/sensor.go
Owners: @stackrox/sensor-ecosystem

fix auth flags tests
  roxctl/common/flags/auth_flags.go
Owners: @stackrox/sensor-ecosystem

fix bats tests
  roxctl/patch_flag_usage.go
  tests/roxctl/bats-tests/local/central-boolean-defaults.bats
Owners: @stackrox/sensor-ecosystem

add together central auth and connection flags
  roxctl/central/central.go
  roxctl/central/debug/download_diagnostics_test.go
  roxctl/cluster/cluster.go
  roxctl/cluster/delete/delete.go
  roxctl/collector/supportpackages/upload/command.go
  roxctl/common/auth/token_test.go
  roxctl/common/flags/api_token_file.go
  roxctl/common/flags/auth_flags.go
  roxctl/common/flags/endpoint.go
  roxctl/common/flags/env_flag_test.go
  roxctl/common/flags/password.go
  roxctl/deployment/deployment.go
  roxctl/image/image.go
  roxctl/image/sbom/sbom_test.go
  roxctl/scanner/downloaddb/downloaddb_test.go
  roxctl/scanner/scanner.go
  roxctl/scanner/uploaddb/uploaddb_test.go
  roxctl/sensor/sensor.go
Owners: @stackrox/sensor-ecosystem

CHANGELOG.md
  CHANGELOG.md
Owners: none

fix rebase
  roxctl/maincommand/command_test.go
  roxctl/maincommand/embed_tree_debug.go
  roxctl/maincommand/embed_tree_release.go
Owners: @stackrox/sensor-ecosystem

a nightly update script
  .github/workflows/tagged-ci.yaml
  .openshift-ci/nightlies.sh
Owners: none

wip
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml.htpl
Owners: none

chore(deps): update konflux references
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Owners: @stackrox/rhtap-maintainers

chore(deps): update konflux references
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Owners: @stackrox/rhtap-maintainers

Update COLLECTOR_VERSION
  COLLECTOR_VERSION
Owners: none

ci: delete unused tools to free space for builds (#14438)
  .github/workflows/build.yaml
Owners: none

ROX-28242: Disable entity store memory (#14426)
  sensor/kubernetes/listener/resources/env.go
  sensor/kubernetes/listener/resources/store_provider.go
Owners: @stackrox/sensor-ecosystem

ROX-26763: add changelog entry (zombie process errors) (#14406)
  CHANGELOG.md
Owners: none

ROX-28242: Disable entity store memory (#14426)
  sensor/kubernetes/listener/resources/env.go
  sensor/kubernetes/listener/resources/store_provider.go
Owners: @stackrox/sensor-ecosystem

use POD_NAME if ROX_CONTINUOUS_PROFILING_APP_NAME is not set
  pkg/continuousprofiling/profiler.go
Owners: none

setup the pyroscope client in compliance, scanner, and admission-control
  compliance/cmd/compliance/main.go
  scanner/cmd/scanner/main.go
  sensor/admission-control/main.go
Owners: @stackrox/scanner, @stackrox/sensor-ecosystem

return proper gRPC errors in all cases
  central/image/service/service_impl.go
Owners: @stackrox/scanner

copy short command hint to long, if missing
  roxctl/patch_flag_usage.go
Owners: @stackrox/sensor-ecosystem
