Repository stackrox/stackrox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stackrox/core-workflows, @stackrox/sensor-ecosystem, @zivnevo, @adisos, @shireenf-ibm, @janisz, @stackrox/ui, @stackrox/install, @stackrox/scanner, @stackrox/rhtap-maintainers

Added unit tests for null, wildcard, and empty string
  pkg/search/postgres/query/test/uuid_query_test.go
Owners: @stackrox/core-workflows

Fixed style errors
  central/processlisteningonport/datastore/datastore_impl.go
Owners: none

Fixed style error
  pkg/search/postgres/query/test/uuid_query_test.go
Owners: @stackrox/core-workflows

Updated pruning tests
  central/pruning/pruning_test.go
Owners: none

Should not look at the same entry multiple times
  central/processlisteningonport/datastore/pruning.go
Owners: none

Improved comment
  central/pruning/pruning.go
Owners: none

Pruning in batches without returning data to central
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/datastore/pruning.go
Owners: none

Running the pruner at every pruning interval
  central/pruning/pruning.go
Owners: none

Fixed style
  central/processlisteningonport/datastore/datastore_impl.go
Owners: none

Fixed style error
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Owners: @janisz

Update SCANNER_VERSION
  SCANNER_VERSION
Owners: @stackrox/scanner

chore(deps): bump glog to 1.2.4 (#14448)
  go.mod
  go.sum
Owners: none

ROX-27347: backport(release-4.5): Fix for new rep job failing (#13790)
  central/reports/scheduler/v2/scheduler_impl.go
Owners: @stackrox/core-workflows

chore(docs): Changelog entry for 4.5.7
  CHANGELOG.md
Owners: none

chore(docs): add changelog entry
  CHANGELOG.md
Owners: none

Update CHANGELOG.md
  CHANGELOG.md
Owners: none

Emit timing data for test steps
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Emit timing data for the complete test suite run
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Faster/more reliable logic for detecting deletion of deployments incorporating .metadata.deletionTimestamp
  tests/e2e/run-scanner-v4-install.bats
Owners: none

chore(deps): bump oauth2 fork
  go.mod
  go.sum
Owners: none

Log namespace when verifying that scanner V4 is not deployed
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Improve logging
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Flip scannerV4.disable to false in default-config of central-services chart.
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
Owners: none

ROX-28296: add OpenShift reencrypt route to Helm chart
  CHANGELOG.md
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/templates/01-central-15-exposure.yaml
  image/templates/helm/stackrox-central/values-public.yaml.example.htpl
Owners: none

Initialize ROX_SCANNER_V4 to be empty instead of false
  deploy/common/env.sh
  deploy/common/k8sbased.sh
Owners: none

Enable Scanner V4 by default for e2e tests.
  tests/e2e/lib.sh
Owners: none

Keep ROX_SCANNER_V4 unset to leverage the defaulting to true.
  tests/e2e/run-scanner-v4-install.bats
Owners: none

test: Emit time profiling data in scanner-v4-install test suite (#14459)
  tests/e2e/run-scanner-v4-install.bats
Owners: none

chore: PR Fixxxer chatops bot 🤘🏻 (#14400)
  .github/workflows/fixxxer.yaml
  scripts/fixxxer.sh
  scripts/fixxxers/README.md
  scripts/fixxxers/operator/10-deps-go-mod-tidy.sh
  scripts/fixxxers/operator/20-generate.sh
  scripts/fixxxers/operator/30-manifests.sh
  scripts/fixxxers/operator/40-bundle.sh
Owners: none

chore: sort fixxxers and mod tidy everywhere
  scripts/fixxxer.sh
  scripts/fixxxers/10-deps-go-mod-tidy.sh
  scripts/fixxxers/operator/30-manifests.sh
Owners: none

Adjust Helm test
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner-v4.test.yaml
Owners: none

Adjust mock returns
  central/declarativeconfig/manager_impl_test.go
Owners: @stackrox/sensor-ecosystem

Trace transformed messages and transformation error counts
  central/declarativeconfig/manager_impl.go
Owners: @stackrox/sensor-ecosystem

chore(declarativeconfig): log reconciliated object counts
  central/declarativeconfig/manager_impl.go
  central/declarativeconfig/updater/access_scope_updater.go
  central/declarativeconfig/updater/access_scope_updater_test.go
  central/declarativeconfig/updater/auth_provider_updater.go
  central/declarativeconfig/updater/group_updater.go
  central/declarativeconfig/updater/notifier_updater.go
  central/declarativeconfig/updater/permission_set_updater.go
  central/declarativeconfig/updater/permission_set_updater_test.go
  central/declarativeconfig/updater/role_updater.go
  central/declarativeconfig/updater/role_updater_test.go
  central/declarativeconfig/updater/updater.go
  central/declarativeconfig/watch_handler.go
Owners: @stackrox/sensor-ecosystem

re-generate mocks
  central/declarativeconfig/updater/mocks/updater.go
Owners: @stackrox/sensor-ecosystem

More traces
  central/declarativeconfig/health/datastore/datastore_impl.go
Owners: @stackrox/sensor-ecosystem

Cleanup unnecessary traces
  central/declarativeconfig/health/datastore/datastore_impl.go
  central/declarativeconfig/manager_impl.go
  central/declarativeconfig/watch_handler.go
Owners: @stackrox/sensor-ecosystem

Revert deletion error handling
  central/declarativeconfig/manager_impl.go
Owners: @stackrox/sensor-ecosystem

Fix log and unit tests
  central/declarativeconfig/manager_impl.go
  central/declarativeconfig/updater/access_scope_updater_test.go
Owners: @stackrox/sensor-ecosystem

Only trace declarative config loop report on changes
  central/declarativeconfig/manager_impl.go
Owners: @stackrox/sensor-ecosystem

.github/CODEOWNERS:

# For further documentation on CODEOWNERS, visit
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
# This will automatically assign a team / people as reviewers for PRs based on the files changed within the PR.

# Core team's main responsibilities include policies including default policies and policy management workflows,
# detection and alerting, integrations and notifiers, risk, vulnerability management and reporting, migrator and
# interactions with Postgres.
pkg/detection/**/*                  @stackrox/core-workflows
pkg/booleanpolicy/**/*              @stackrox/core-workflows
pkg/defaults/policies/**/*          @stackrox/core-workflows
central/policy/**/*                 @stackrox/core-workflows
central/reports/**/*                @stackrox/core-workflows
central/reportconfiguration/**/*    @stackrox/core-workflows
central/vulnmgmt/**/*               @stackrox/core-workflows
proto/storage/*                     @stackrox/core-workflows
migrator/**/*                       @stackrox/core-workflows
pkg/postgres/**/*                   @stackrox/core-workflows
tests/upgrade/*                     @stackrox/core-workflows
pkg/search/**/*                     @stackrox/core-workflows

# sensor-ecosystem main responsibilities include:
# administration events, authN (authproviders), authZ (SAC)
# cloud sources, declarative config, image signatures, images, netpol,
# observability, performance testing, roxctl, sensor and telemetry.
*/administration/**/*       @stackrox/sensor-ecosystem
*/auth/**/*                 @stackrox/sensor-ecosystem
*/cloudsources/**/*         @stackrox/sensor-ecosystem
*/declarativeconfig/**/*    @stackrox/sensor-ecosystem
*/discoveredclusters/**/    @stackrox/sensor-ecosystem
*/signatureintegration/**/* @stackrox/sensor-ecosystem
pkg/features/**/*           @stackrox/sensor-ecosystem
pkg/images/defaults/**/*    @stackrox/sensor-ecosystem
pkg/sac/**/*                @stackrox/sensor-ecosystem
pkg/signatures/**/*         @stackrox/sensor-ecosystem
roxctl/**/*                 @stackrox/sensor-ecosystem
sensor/**/*                 @stackrox/sensor-ecosystem
tests/performance/**/*      @stackrox/sensor-ecosystem
tests/roxctl/**/*           @stackrox/sensor-ecosystem

# Listing all users as "Outside collaborators cannot be added to a team"
bats-tests/local/roxctl-netpol-*               @zivnevo @adisos @shireenf-ibm
roxctl/netpol/**/*                             @zivnevo @adisos @shireenf-ibm
tests/roxctl/bats-tests/test-data/np-guard/    @zivnevo @adisos @shireenf-ibm

qa-tests-backend/**/*       @janisz

/ui/**/* @stackrox/ui

operator/**/* @stackrox/install

# Scanner team's responsibilities include anything related to the scanner itself and scanning utilities
# such as vulnerability uploading and image integrations.
/.github/workflows/scanner*                               @stackrox/scanner
/.github/workflows/update_scanner_periodic.yaml           @stackrox/scanner
/central/image/service/                                   @stackrox/scanner
/central/imageintegration/service/                        @stackrox/scanner
/central/imageintegration/store/defaults.go               @stackrox/scanner
/central/scannerdefinitions/                              @stackrox/scanner
/central/sensor/service/pipeline/imageintegrations/       @stackrox/scanner
/pkg/images/enricher/                                     @stackrox/scanner
/pkg/nodes/                                               @stackrox/scanner
/pkg/registries/                                          @stackrox/scanner
/pkg/registrymirror/                                      @stackrox/scanner
/pkg/scanners/                                            @stackrox/scanner
/pkg/scannerv4/                                           @stackrox/scanner
/pkg/scans/                                               @stackrox/scanner
/proto/internalapi/scanner/                               @stackrox/scanner
/proto/storage/delegated_registry_config.proto            @stackrox/scanner
/proto/storage/image.proto                                @stackrox/scanner
/proto/storage/image_integration.proto                    @stackrox/scanner
/scanner/                                                 @stackrox/scanner
/sensor/common/registry/                                  @stackrox/scanner
/sensor/common/scan/                                      @stackrox/scanner
/sensor/common/scannerclient/                             @stackrox/scanner
/sensor/common/scannerdefinitions/                        @stackrox/scanner
/sensor/kubernetes/listener/resources/registrymirrorsets* @stackrox/scanner
/sensor/kubernetes/listener/resources/secrets*            @stackrox/scanner
/SCANNER_VERSION                                          @stackrox/scanner

# The RHTAP maintainers for ACS review all changes related to the RHTAP pipelines, such as new pipelines,
# parameter changes or automated task updates.
/.tekton/   @stackrox/rhtap-maintainers
