Repository stackrox/stackrox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stackrox/core-workflows, @stackrox/sensor-ecosystem, @zivnevo, @adisos, @shireenf-ibm, @janisz, @stackrox/ui, @stackrox/install, @stackrox/scanner, @stackrox/rhtap-maintainers

name
  .github/workflows/fixxxer.yaml
Owners: none

.
  .github/workflows/fixxxer.yaml
Owners: none

change, commit, push
  .github/workflows/fixxxer.yaml
  operator/tools/operator-sdk/go.mod
Owners: @stackrox/install

dummy
  .github/workflows/fixxxer.yaml
Owners: none

rm others
  .github/workflows/README.md
  .github/workflows/add-new-pr-to-oss-triaging.yml
  .github/workflows/auto-merge.yml
  .github/workflows/backport-pr.yaml
  .github/workflows/batch-load-test-metrics.yml
  .github/workflows/build.yaml
  .github/workflows/check-image-vulnerabilities.yml
  .github/workflows/check-pr-title.yaml
  .github/workflows/ci-failures-report.yml
  .github/workflows/create-clusters.yml
  .github/workflows/cut-rc.yml
  .github/workflows/emailsender-central-compatibility.yaml
  .github/workflows/finish-release.yml
  .github/workflows/labeler.yaml
  .github/workflows/lint.yml
  .github/workflows/nightly-tag.yml
  .github/workflows/notify-milestone-change.yml
  .github/workflows/performance-tests.yml
  .github/workflows/release-ci.yaml
  .github/workflows/retest_periodic.yml
  .github/workflows/scanner-build.yaml
  .github/workflows/scanner-db-integration-tests.yaml
  .github/workflows/scanner-e2e-test.yaml
  .github/workflows/scanner-mapping-update.yaml
  .github/workflows/scanner-nvd-update.yaml
  .github/workflows/scanner-offline-bundle-update.yaml
  .github/workflows/scanner-versioned-definitions-update.yaml
  .github/workflows/start-release.yml
  .github/workflows/style.yaml
  .github/workflows/tagged-ci.yaml
  .github/workflows/triage-report_periodic.yml
  .github/workflows/unit-tests.yaml
  .github/workflows/update_collector_periodic.yaml
  .github/workflows/update_scanner_periodic.yaml
  .github/workflows/upgrade-test.yml
  .github/workflows/variables.yml
  .github/workflows/verify-release.yml
Owners: @stackrox/scanner

dummy
  .github/workflows/fixxxer.yaml
Owners: none

debug
  .github/workflows/fixxxer.yaml
Owners: none

dummy
  .github/workflows/fixxxer.yaml
Owners: none

name
  .github/workflows/fixxxer.yaml
Owners: none

dummy
  .github/workflows/fixxxer.yaml
Owners: none

perms
  .github/workflows/fixxxer.yaml
Owners: none

dummy
  .github/workflows/fixxxer.yaml
Owners: none

ROX-27394: Sensor offline mode support in TLS issuer (#13596)
  pkg/concurrency/retry_ticker.go
  pkg/concurrency/retry_ticker_test.go
  sensor/kubernetes/certrefresh/localscanner_tls_issuer.go
  sensor/kubernetes/certrefresh/localscanner_tls_issuer_test.go
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer.go
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer_test.go
  sensor/kubernetes/certrefresh/tls_issuer_common.go
  sensor/kubernetes/certrefresh/tls_issuer_common_test.go
Owners: @stackrox/sensor-ecosystem

fix missing persistent flags in command tree
  roxctl/maincommand/command_test.go
  roxctl/maincommand/command_tree_debug.yaml
  roxctl/maincommand/command_tree_release.yaml
Owners: @stackrox/sensor-ecosystem

Fix flawed writer-can-read assumption in postgres tests
  central/vulnmgmt/vulnerabilityrequest/datastore/datastore_impl_postgres_test.go
Owners: @stackrox/core-workflows

oops
  roxctl/maincommand/command_test.go
Owners: @stackrox/sensor-ecosystem

don't hide inherited flags
  roxctl/central/central.go
  roxctl/central/debug/download_diagnostics_test.go
  roxctl/cluster/delete/delete.go
  roxctl/common/auth/token_test.go
  roxctl/common/flags/api_token_file.go
  roxctl/common/flags/auth_flags.go
  roxctl/common/flags/endpoint.go
  roxctl/common/flags/env_flag_test.go
  roxctl/common/flags/hide.go
  roxctl/common/flags/password.go
  roxctl/completion/completion.go
  roxctl/declarativeconfig/create/access_scope.go
  roxctl/declarativeconfig/create/auth_provider.go
  roxctl/declarativeconfig/create/create.go
  roxctl/declarativeconfig/create/permission_set.go
  roxctl/declarativeconfig/create/role.go
  roxctl/declarativeconfig/declarativeconfig.go
  roxctl/declarativeconfig/lint/lint.go
  roxctl/doc/generate.go
  roxctl/image/sbom/sbom_test.go
  roxctl/logconvert/logconvert.go
  roxctl/maincommand/command.go
  roxctl/scanner/downloaddb/downloaddb_test.go
  roxctl/scanner/uploaddb/uploaddb_test.go
Owners: @stackrox/sensor-ecosystem

new commands tree
  roxctl/maincommand/command_tree_debug.yaml
  roxctl/maincommand/command_tree_release.yaml
Owners: @stackrox/sensor-ecosystem

style
  roxctl/declarativeconfig/create/auth_provider.go
Owners: @stackrox/sensor-ecosystem

fix auth flags tests
  roxctl/common/flags/auth_flags.go
Owners: @stackrox/sensor-ecosystem

test: (scanner-v4-install) Use ORCH_CMD instead of kubectl (#14394)
  tests/e2e/run-scanner-v4-install.bats
Owners: none

use image name in the logs instead of id
  central/reprocessor/reprocessor.go
Owners: none

dummy
  .github/workflows/fixxxer.yaml
Owners: none

bring back central connection flags to proper commands
  roxctl/central/central.go
  roxctl/central/debug/download_diagnostics_test.go
  roxctl/cluster/cluster.go
  roxctl/cluster/delete/delete.go
  roxctl/collector/supportpackages/upload/command.go
  roxctl/common/flags/endpoint.go
  roxctl/common/flags/env_flag_test.go
  roxctl/deployment/deployment.go
  roxctl/image/image.go
  roxctl/maincommand/command_tree_debug.yaml
  roxctl/maincommand/command_tree_release.yaml
  roxctl/scanner/scanner.go
  roxctl/scanner/uploaddb/uploaddb_test.go
  roxctl/sensor/sensor.go
Owners: @stackrox/sensor-ecosystem

ROX-27053: Fix subjects handling for user and group kind [Backport release-4.6] (#14348)
  central/compliance/checks/common/rbac.go
  central/compliance/checks/nist80053/check_ac_14/check.go
  central/rbac/service/get_subject.go
  central/sensor/service/pipeline/rolebindings/pipeline_test.go
  pkg/k8srbac/evaluator_impl.go
  pkg/k8srbac/subjects.go
  pkg/k8srbac/subjects_test.go
  qa-tests-backend/src/test/groovy/K8sRbacTest.groovy
Owners: @janisz

wip
  tools/proto/protoc-gen-go-json/main.go
Owners: none

chore: PR Fixxxer chatops bot
  .github/workflows/fixxxer.yaml
  scripts/fixxxer.sh
  scripts/fixxxers/README.md
  scripts/fixxxers/operator/10-deps-go-mod-tidy.sh
  scripts/fixxxers/operator/20-generate.sh
  scripts/fixxxers/operator/30-manifests.sh
  scripts/fixxxers/operator/40-bundle.sh
Owners: none

lint
  .github/workflows/fixxxer.yaml
Owners: none

Simplify handling of old roxctl version: don't attempt to delete it anymore.
  tests/e2e/run-scanner-v4-install.bats
Owners: none

chmod +x
  scripts/fixxxer.sh
  scripts/fixxxers/operator/20-generate.sh
  scripts/fixxxers/operator/30-manifests.sh
  scripts/fixxxers/operator/40-bundle.sh
Owners: none

fix name
  .github/workflows/fixxxer.yaml
Owners: none

handle failures more gracefully
  scripts/fixxxer.sh
Owners: none

tune a fixer
  scripts/fixxxers/operator/30-manifests.sh
Owners: none

Feature flag
  pkg/features/list.go
Owners: @stackrox/sensor-ecosystem

times and test
  central/image/datastore/store/v2/postgres/store.go
  central/image/datastore/store/v2/postgres/store_test.go
Owners: none

Revert "ROX-27697: update postgres defaults (#13805)"
  image/templates/helm/stackrox-central/config/centraldb/postgresql.conf.default
Owners: none

ROX-21497: Re-fech image if the scan was updated (#14342)
  central/reprocessor/reprocessor.go
  central/reprocessor/reprocessor_unit_test.go
Owners: none

wip
  pkg/jsonutil/json_test.go
  tools/proto/protoc-gen-go-json/main.go
Owners: none

Check if test results folder exists before copying
  scripts/ci/lib.sh
Owners: none

fix token_test
  roxctl/common/auth/token_test.go
  roxctl/common/flags/auth_flags.go
Owners: @stackrox/sensor-ecosystem

.github/CODEOWNERS:

# For further documentation on CODEOWNERS, visit
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
# This will automatically assign a team / people as reviewers for PRs based on the files changed within the PR.

# Core team's main responsibilities include policies including default policies and policy management workflows,
# detection and alerting, integrations and notifiers, risk, vulnerability management and reporting, migrator and
# interactions with Postgres.
pkg/detection/**/*                  @stackrox/core-workflows
pkg/booleanpolicy/**/*              @stackrox/core-workflows
pkg/defaults/policies/**/*          @stackrox/core-workflows
central/policy/**/*                 @stackrox/core-workflows
central/reports/**/*                @stackrox/core-workflows
central/reportconfiguration/**/*    @stackrox/core-workflows
central/vulnmgmt/**/*               @stackrox/core-workflows
proto/storage/*                     @stackrox/core-workflows
migrator/**/*                       @stackrox/core-workflows
pkg/postgres/**/*                   @stackrox/core-workflows
tests/upgrade/*                     @stackrox/core-workflows
pkg/search/**/*                     @stackrox/core-workflows

# sensor-ecosystem main responsibilities include:
# administration events, authN (authproviders), authZ (SAC)
# cloud sources, declarative config, image signatures, images, netpol,
# observability, performance testing, roxctl, sensor and telemetry.
*/administration/**/*       @stackrox/sensor-ecosystem
*/auth/**/*                 @stackrox/sensor-ecosystem
*/cloudsources/**/*         @stackrox/sensor-ecosystem
*/declarativeconfig/**/*    @stackrox/sensor-ecosystem
*/discoveredclusters/**/    @stackrox/sensor-ecosystem
*/signatureintegration/**/* @stackrox/sensor-ecosystem
pkg/features/**/*           @stackrox/sensor-ecosystem
pkg/images/defaults/**/*    @stackrox/sensor-ecosystem
pkg/sac/**/*                @stackrox/sensor-ecosystem
pkg/signatures/**/*         @stackrox/sensor-ecosystem
roxctl/**/*                 @stackrox/sensor-ecosystem
sensor/**/*                 @stackrox/sensor-ecosystem
tests/performance/**/*      @stackrox/sensor-ecosystem
tests/roxctl/**/*           @stackrox/sensor-ecosystem

# Listing all users as "Outside collaborators cannot be added to a team"
bats-tests/local/roxctl-netpol-*               @zivnevo @adisos @shireenf-ibm
roxctl/netpol/**/*                             @zivnevo @adisos @shireenf-ibm
tests/roxctl/bats-tests/test-data/np-guard/    @zivnevo @adisos @shireenf-ibm

qa-tests-backend/**/*       @janisz

/ui/**/* @stackrox/ui

operator/**/* @stackrox/install

# Scanner team's responsibilities include anything related to the scanner itself and scanning utilities
# such as vulnerability uploading and image integrations.
/.github/workflows/scanner*                               @stackrox/scanner
/.github/workflows/update_scanner_periodic.yaml           @stackrox/scanner
/central/image/service/                                   @stackrox/scanner
/central/imageintegration/service/                        @stackrox/scanner
/central/imageintegration/store/defaults.go               @stackrox/scanner
/central/scannerdefinitions/                              @stackrox/scanner
/central/sensor/service/pipeline/imageintegrations/       @stackrox/scanner
/pkg/images/enricher/                                     @stackrox/scanner
/pkg/nodes/                                               @stackrox/scanner
/pkg/registries/                                          @stackrox/scanner
/pkg/registrymirror/                                      @stackrox/scanner
/pkg/scanners/                                            @stackrox/scanner
/pkg/scannerv4/                                           @stackrox/scanner
/pkg/scans/                                               @stackrox/scanner
/proto/internalapi/scanner/                               @stackrox/scanner
/proto/storage/delegated_registry_config.proto            @stackrox/scanner
/proto/storage/image.proto                                @stackrox/scanner
/proto/storage/image_integration.proto                    @stackrox/scanner
/scanner/                                                 @stackrox/scanner
/sensor/common/registry/                                  @stackrox/scanner
/sensor/common/scan/                                      @stackrox/scanner
/sensor/common/scannerclient/                             @stackrox/scanner
/sensor/common/scannerdefinitions/                        @stackrox/scanner
/sensor/kubernetes/listener/resources/registrymirrorsets* @stackrox/scanner
/sensor/kubernetes/listener/resources/secrets*            @stackrox/scanner
/SCANNER_VERSION                                          @stackrox/scanner

# The RHTAP maintainers for ACS review all changes related to the RHTAP pipelines, such as new pipelines,
# parameter changes or automated task updates.
/.tekton/   @stackrox/rhtap-maintainers
