Repository stackrox/stackrox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stackrox/core-workflows, @stackrox/sensor-ecosystem, @zivnevo, @adisos, @shireenf-ibm, @janisz, @stackrox/ui, @stackrox/install, @stackrox/scanner, @stackrox/rhtap-maintainers

default suffix fix
  tests/roxctl/bats-tests/local/central-boolean-defaults.bats
Owners: @stackrox/sensor-ecosystem

merge after rebase
  roxctl/common/flags/auth_flags.go
Owners: @stackrox/sensor-ecosystem

ROX-27905: Exclude example rpmdb from SBOMs (#14065)
  .github/workflows/style.yaml
  .syft.yaml
  .tekton/operator-bundle-pipeline.yaml
  scripts/ci/jobs/check-konflux-pipelines.sh
  scripts/ci/jobs/check-konflux-setup.sh
Owners: @stackrox/rhtap-maintainers

ROX-28260: pass parent context to sensor scan semaphore
  sensor/common/scan/scan.go
Owners: @stackrox/scanner

ROX-27053: Fix subjects handling for user and group kind [backport] (#14414)
  central/compliance/checks/common/rbac.go
  central/compliance/checks/nist80053/check_ac_14/check.go
  central/rbac/service/get_subject.go
  central/sensor/service/pipeline/rolebindings/pipeline_test.go
  pkg/k8srbac/evaluator_impl.go
  pkg/k8srbac/subjects.go
  pkg/k8srbac/subjects_test.go
  qa-tests-backend/src/test/groovy/K8sRbacTest.groovy
Owners: @janisz

Add gorm-snapshot tool
  tools/gorm-snapshot/main.go
Owners: none

chore(deps): bump glog to 1.2.4 (#14433)
  go.mod
  go.sum
Owners: none

chore(deps): use upstream cosign instead of fork
  go.mod
  go.sum
Owners: none

upgrade go
  .devcontainer/devcontainer.json
  .github/workflows/batch-load-test-metrics.yml
  .github/workflows/build.yaml
  .github/workflows/ci-failures-report.yml
  .github/workflows/lint.yml
  .github/workflows/scanner-build.yaml
  .github/workflows/scanner-db-integration-tests.yaml
  .github/workflows/scanner-versioned-definitions-update.yaml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
  .openshift-ci/Dockerfile.build_root
  operator/bundle_helpers/requirements-gha.txt
  tests/e2e/run-e2e-tests.sh
Owners: @stackrox/scanner, @stackrox/install

Introduce DEPLOY_CENTRAL_INTERACTIVELY in deployment script to prevent unwanted interactive prompting in case CI is empty.
  deploy/common/k8sbased.sh
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Change translation of 'Default' value from 'Disabled' to 'Enabled'
  operator/internal/central/values/translation/translation_test.go
  operator/internal/values/translation/translation.go
Owners: @stackrox/install

Change usage of CI environment variable to fit expected semantics of deployment scripts: use CI="" instead if CI="false".
  tests/e2e/run-scanner-v4-install.bats
Owners: none

WIP: flipping
  deploy/common/env.sh
  deploy/common/k8sbased.sh
  tests/e2e/lib.sh
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Flip scannerV4.disable to false for central deployment bundles.
  pkg/renderer/templates/public_values.yaml.tpl
Owners: none

CRD update
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
Owners: @stackrox/install

Change description of 'Default' value in central CRD
  operator/api/v1alpha1/central_types.go
Owners: @stackrox/install

Flip scannerV4.disable to false in default-config of central-services chart.
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
Owners: none

ROX-28128: Add gorm-snapshot tool (#14444)
  tools/gorm-snapshot/main.go
Owners: none

Address direct review comments
  central/declarativeconfig/manager_impl.go
  central/declarativeconfig/updater/access_scope_updater.go
  central/declarativeconfig/updater/auth_provider_updater.go
  central/declarativeconfig/updater/group_updater.go
  central/declarativeconfig/updater/notifier_updater.go
  central/declarativeconfig/updater/permission_set_updater.go
  central/declarativeconfig/updater/role_updater.go
Owners: @stackrox/sensor-ecosystem

Adjust scannerV4Component test
  operator/internal/values/translation/translation_test.go
Owners: @stackrox/install

Adjust Helm test for Scanner V4 default setting
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner-v4.test.yaml
Owners: none

make bundle
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
Owners: @stackrox/install

Add script for plotting test profiling
  test-timing-plot.py
Owners: none

Emit timing data for test steps
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Emit timing data for the complete test suite run
  tests/e2e/run-scanner-v4-install.bats
Owners: none

ROX-27626: DeploymentTest CI Flakes (#14345)
  qa-tests-backend/src/test/groovy/CSVTest.groovy
  qa-tests-backend/src/test/groovy/DeploymentTest.groovy
  qa-tests-backend/src/test/groovy/Services.groovy
Owners: @janisz

ROX-28296: add OpenShift reencrypt route to Helm chart
  CHANGELOG.md
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/templates/01-central-15-exposure.yaml
  image/templates/helm/stackrox-central/values-public.yaml.example.htpl
Owners: none

Update everything to stackrox-test-0.4.6
  .github/workflows/batch-load-test-metrics.yml
  .github/workflows/build.yaml
  .github/workflows/ci-failures-report.yml
  .github/workflows/lint.yml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
  scale/signatures/deploy.yaml
  tests/e2e/run-e2e-tests.sh
Owners: none

Bump scanner-test image
  .github/workflows/scanner-build.yaml
  .github/workflows/scanner-db-integration-tests.yaml
  .github/workflows/scanner-versioned-definitions-update.yaml
Owners: @stackrox/scanner

Use latest PostgreSQL version for go-bench
  .github/workflows/unit-tests.yaml
Owners: none

ROX-27347: Fix for new rep job failing because previous rep is in a p… (#13656)
  central/reports/scheduler/v2/scheduler_impl.go
Owners: @stackrox/core-workflows

chore(deps): bump glog
  go.mod
  go.sum
Owners: none

Added NetworkPolicy for config-controller
  image/templates/helm/stackrox-central/templates/02-config-controller-03-networkpolicy.yaml
Owners: none

Revert deletion error handling
  central/declarativeconfig/manager_impl.go
Owners: @stackrox/sensor-ecosystem

Added cluster id -> name switch
  config-controller/api/v1alpha1/policy_types.go
  config-controller/internal/controller/policy_controller.go
Owners: none

Added utility methods to list clusters from central
  config-controller/pkg/client/client.go
Owners: none

[PoC] Use pg_upgrade in init-entrypoint
  image/postgres/Dockerfile
  image/postgres/scripts/init-entrypoint.sh
Owners: none

Convert to map of caches
  config-controller/api/v1alpha1/policy_types.go
  config-controller/internal/controller/policy_controller.go
Owners: none

fix: remove pacakges with deps
  image/rhel/Dockerfile
  scanner/image/scanner/Dockerfile
  scanner/image/scanner/konflux.Dockerfile
Owners: @stackrox/scanner

Fix incorrect if check
  config-controller/api/v1alpha1/policy_types.go
Owners: none

.github/CODEOWNERS:

# For further documentation on CODEOWNERS, visit
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
# This will automatically assign a team / people as reviewers for PRs based on the files changed within the PR.

# Core team's main responsibilities include policies including default policies and policy management workflows,
# detection and alerting, integrations and notifiers, risk, vulnerability management and reporting, migrator and
# interactions with Postgres.
pkg/detection/**/*                  @stackrox/core-workflows
pkg/booleanpolicy/**/*              @stackrox/core-workflows
pkg/defaults/policies/**/*          @stackrox/core-workflows
central/policy/**/*                 @stackrox/core-workflows
central/reports/**/*                @stackrox/core-workflows
central/reportconfiguration/**/*    @stackrox/core-workflows
central/vulnmgmt/**/*               @stackrox/core-workflows
proto/storage/*                     @stackrox/core-workflows
migrator/**/*                       @stackrox/core-workflows
pkg/postgres/**/*                   @stackrox/core-workflows
tests/upgrade/*                     @stackrox/core-workflows
pkg/search/**/*                     @stackrox/core-workflows

# sensor-ecosystem main responsibilities include:
# administration events, authN (authproviders), authZ (SAC)
# cloud sources, declarative config, image signatures, images, netpol,
# observability, performance testing, roxctl, sensor and telemetry.
*/administration/**/*       @stackrox/sensor-ecosystem
*/auth/**/*                 @stackrox/sensor-ecosystem
*/cloudsources/**/*         @stackrox/sensor-ecosystem
*/declarativeconfig/**/*    @stackrox/sensor-ecosystem
*/discoveredclusters/**/    @stackrox/sensor-ecosystem
*/signatureintegration/**/* @stackrox/sensor-ecosystem
pkg/features/**/*           @stackrox/sensor-ecosystem
pkg/images/defaults/**/*    @stackrox/sensor-ecosystem
pkg/sac/**/*                @stackrox/sensor-ecosystem
pkg/signatures/**/*         @stackrox/sensor-ecosystem
roxctl/**/*                 @stackrox/sensor-ecosystem
sensor/**/*                 @stackrox/sensor-ecosystem
tests/performance/**/*      @stackrox/sensor-ecosystem
tests/roxctl/**/*           @stackrox/sensor-ecosystem

# Listing all users as "Outside collaborators cannot be added to a team"
bats-tests/local/roxctl-netpol-*               @zivnevo @adisos @shireenf-ibm
roxctl/netpol/**/*                             @zivnevo @adisos @shireenf-ibm
tests/roxctl/bats-tests/test-data/np-guard/    @zivnevo @adisos @shireenf-ibm

qa-tests-backend/**/*       @janisz

/ui/**/* @stackrox/ui

operator/**/* @stackrox/install

# Scanner team's responsibilities include anything related to the scanner itself and scanning utilities
# such as vulnerability uploading and image integrations.
/.github/workflows/scanner*                               @stackrox/scanner
/.github/workflows/update_scanner_periodic.yaml           @stackrox/scanner
/central/image/service/                                   @stackrox/scanner
/central/imageintegration/service/                        @stackrox/scanner
/central/imageintegration/store/defaults.go               @stackrox/scanner
/central/scannerdefinitions/                              @stackrox/scanner
/central/sensor/service/pipeline/imageintegrations/       @stackrox/scanner
/pkg/images/enricher/                                     @stackrox/scanner
/pkg/nodes/                                               @stackrox/scanner
/pkg/registries/                                          @stackrox/scanner
/pkg/registrymirror/                                      @stackrox/scanner
/pkg/scanners/                                            @stackrox/scanner
/pkg/scannerv4/                                           @stackrox/scanner
/pkg/scans/                                               @stackrox/scanner
/proto/internalapi/scanner/                               @stackrox/scanner
/proto/storage/delegated_registry_config.proto            @stackrox/scanner
/proto/storage/image.proto                                @stackrox/scanner
/proto/storage/image_integration.proto                    @stackrox/scanner
/scanner/                                                 @stackrox/scanner
/sensor/common/registry/                                  @stackrox/scanner
/sensor/common/scan/                                      @stackrox/scanner
/sensor/common/scannerclient/                             @stackrox/scanner
/sensor/common/scannerdefinitions/                        @stackrox/scanner
/sensor/kubernetes/listener/resources/registrymirrorsets* @stackrox/scanner
/sensor/kubernetes/listener/resources/secrets*            @stackrox/scanner
/SCANNER_VERSION                                          @stackrox/scanner

# The RHTAP maintainers for ACS review all changes related to the RHTAP pipelines, such as new pipelines,
# parameter changes or automated task updates.
/.tekton/   @stackrox/rhtap-maintainers
