Repository stackrox/stackrox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stackrox/core-workflows, @stackrox/sensor-ecosystem, @zivnevo, @adisos, @shireenf-ibm, @janisz, @stackrox/ui, @stackrox/install, @stackrox/scanner, @stackrox/rhtap-maintainers

.github/CODEOWNERS:

# For further documentation on CODEOWNERS, visit
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
# This will automatically assign a team / people as reviewers for PRs based on the files changed within the PR.

# Core team's main responsibilities include policies including default policies and policy management workflows,
# detection and alerting, integrations and notifiers, risk, vulnerability management and reporting, migrator and
# interactions with Postgres.
pkg/detection/**/*                  @stackrox/core-workflows
pkg/booleanpolicy/**/*              @stackrox/core-workflows
pkg/defaults/policies/**/*          @stackrox/core-workflows
central/policy/**/*                 @stackrox/core-workflows
central/reports/**/*                @stackrox/core-workflows
central/reportconfiguration/**/*    @stackrox/core-workflows
central/vulnmgmt/**/*               @stackrox/core-workflows
proto/storage/*                     @stackrox/core-workflows
migrator/**/*                       @stackrox/core-workflows
pkg/postgres/**/*                   @stackrox/core-workflows
tests/upgrade/*                     @stackrox/core-workflows
pkg/search/**/*                     @stackrox/core-workflows

# sensor-ecosystem main responsibilities include:
# administration events, authN (authproviders), authZ (SAC)
# cloud sources, declarative config, image signatures, images, netpol,
# observability, performance testing, roxctl, sensor and telemetry.
*/administration/**/*       @stackrox/sensor-ecosystem
*/auth/**/*                 @stackrox/sensor-ecosystem
*/cloudsources/**/*         @stackrox/sensor-ecosystem
*/declarativeconfig/**/*    @stackrox/sensor-ecosystem
*/discoveredclusters/**/    @stackrox/sensor-ecosystem
*/signatureintegration/**/* @stackrox/sensor-ecosystem
pkg/features/**/*           @stackrox/sensor-ecosystem
pkg/images/defaults/**/*    @stackrox/sensor-ecosystem
pkg/sac/**/*                @stackrox/sensor-ecosystem
pkg/signatures/**/*         @stackrox/sensor-ecosystem
roxctl/**/*                 @stackrox/sensor-ecosystem
sensor/**/*                 @stackrox/sensor-ecosystem
tests/performance/**/*      @stackrox/sensor-ecosystem
tests/roxctl/**/*           @stackrox/sensor-ecosystem

# Listing all users as "Outside collaborators cannot be added to a team"
bats-tests/local/roxctl-netpol-*               @zivnevo @adisos @shireenf-ibm
roxctl/netpol/**/*                             @zivnevo @adisos @shireenf-ibm
tests/roxctl/bats-tests/test-data/np-guard/    @zivnevo @adisos @shireenf-ibm

qa-tests-backend/**/*       @janisz

/ui/**/* @stackrox/ui

operator/**/* @stackrox/install

# Scanner team's responsibilities include anything related to the scanner itself and scanning utilities
# such as vulnerability uploading and image integrations.
/.github/workflows/scanner*                               @stackrox/scanner
/.github/workflows/update_scanner_periodic.yaml           @stackrox/scanner
/central/image/service/                                   @stackrox/scanner
/central/imageintegration/service/                        @stackrox/scanner
/central/imageintegration/store/defaults.go               @stackrox/scanner
/central/scannerdefinitions/                              @stackrox/scanner
/central/sensor/service/pipeline/imageintegrations/       @stackrox/scanner
/pkg/images/enricher/                                     @stackrox/scanner
/pkg/nodes/                                               @stackrox/scanner
/pkg/registries/                                          @stackrox/scanner
/pkg/registrymirror/                                      @stackrox/scanner
/pkg/scanners/                                            @stackrox/scanner
/pkg/scannerv4/                                           @stackrox/scanner
/pkg/scans/                                               @stackrox/scanner
/proto/internalapi/scanner/                               @stackrox/scanner
/proto/storage/delegated_registry_config.proto            @stackrox/scanner
/proto/storage/image.proto                                @stackrox/scanner
/proto/storage/image_integration.proto                    @stackrox/scanner
/scanner/                                                 @stackrox/scanner
/sensor/common/registry/                                  @stackrox/scanner
/sensor/common/scan/                                      @stackrox/scanner
/sensor/common/scannerclient/                             @stackrox/scanner
/sensor/common/scannerdefinitions/                        @stackrox/scanner
/sensor/kubernetes/listener/resources/registrymirrorsets* @stackrox/scanner
/sensor/kubernetes/listener/resources/secrets*            @stackrox/scanner
/SCANNER_VERSION                                          @stackrox/scanner

# The RHTAP maintainers for ACS review all changes related to the RHTAP pipelines, such as new pipelines,
# parameter changes or automated task updates.
/.tekton/   @stackrox/rhtap-maintainers

Add permissions
  image/postgres/scripts/init-entrypoint.sh
Owners: none

ROX-27943: Fix link to the docs (Node vulns banner) (#14468)
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodeCvesOverviewPage.tsx
Owners: @stackrox/ui

chore(deps): upgrade go-jose to v4
  central/auth/m2m/kube_service_account.go
  pkg/auth/authproviders/iap/backend_impl.go
  pkg/auth/authproviders/validate_test.go
  pkg/auth/tokens/claims.go
  pkg/auth/tokens/issuer_factory.go
  pkg/auth/tokens/options.go
  pkg/cloudproviders/gcp/identity_token.go
  pkg/grpc/authn/extractor.go
  pkg/grpc/authn/extractor_test.go
  pkg/jwt/facade.go
  pkg/jwt/keys.go
  pkg/jwt/tokens.go
  sensor/common/certdistribution/service_impl.go
  sensor/kubernetes/sensor/deployment_identification.go
Owners: @stackrox/sensor-ecosystem

allow all algs
  central/auth/m2m/kube_service_account.go
  go.mod
  pkg/cloudproviders/gcp/identity_token.go
  pkg/jwt/parser.go
  pkg/jwt/tokens.go
  sensor/common/certdistribution/service_impl.go
Owners: @stackrox/sensor-ecosystem

fix
  sensor/common/certdistribution/service_impl.go
  sensor/kubernetes/sensor/deployment_identification.go
Owners: @stackrox/sensor-ecosystem

fix
  sensor/kubernetes/sensor/deployment_identification.go
Owners: @stackrox/sensor-ecosystem

fix
  go.mod
Owners: none

ROX-28273: bump oauth2 fork
  go.mod
  go.sum
Owners: none

ROX-28272: bump oauth2 fork
  go.mod
  go.sum
Owners: none

Give config-controller access to view clusters
  central/role/datastore/defaults.go
Owners: none

ROX-20769: Update everything to stackrox-test-0.4.6 (#14432)
  .github/workflows/batch-load-test-metrics.yml
  .github/workflows/build.yaml
  .github/workflows/ci-failures-report.yml
  .github/workflows/lint.yml
  .github/workflows/scanner-build.yaml
  .github/workflows/scanner-db-integration-tests.yaml
  .github/workflows/scanner-versioned-definitions-update.yaml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
  scale/signatures/deploy.yaml
  tests/e2e/run-e2e-tests.sh
Owners: @stackrox/scanner
