Repository stackrox/stackrox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stackrox/core-workflows, @stackrox/sensor-ecosystem, @zivnevo, @adisos, @shireenf-ibm, @janisz, @stackrox/ui, @stackrox/install, @stackrox/scanner, @stackrox/rhtap-maintainers

Fix test issues and add coverage for cluster name to id checking
  config-controller/api/v1alpha1/policy_types_test.go
Owners: none

Re-generate go srcs
  config-controller/pkg/client/mocks/client.go
Owners: none

use WithDefault in ROX_CONTINUOUS_PROFILING_APP_NAME definition
  pkg/continuousprofiling/profiler.go
  pkg/env/continuous_profiling.go
Owners: none

Add egress block to spec
  image/templates/helm/stackrox-central/templates/02-config-controller-03-networkpolicy.yaml
Owners: none

ROX-28297: adds benchmarks for flow store queries
  central/networkgraph/flow/datastore/internal/store/postgres/flow_impl_benchmark_test.go
Owners: none

set delegated scan Semaphore
  pkg/env/max_parallel_scans.go
  sensor/common/scan/scan.go
Owners: @stackrox/scanner

update
  sensor/common/scan/scan.go
Owners: @stackrox/scanner

set imageScanLowerBound
  pkg/env/max_parallel_scans.go
  sensor/common/scan/scan.go
  sensor/common/scan/scan_test.go
Owners: @stackrox/scanner

Added expects for ListClusters calls
  config-controller/pkg/client/client_test.go
Owners: none

ROX-28260: pass parent context to scan semaphore (#14431)
  central/image/service/service_impl.go
Owners: @stackrox/scanner

Update expects for multiple calls
  config-controller/pkg/client/client_test.go
Owners: none

ROX-28192: skip TLS verification for insecure registries
  scanner/indexer/indexer.go
  scanner/internal/httputil/doc.go
  scanner/internal/httputil/transport.go
  scanner/internal/httputil/transport_mux.go
  scanner/internal/httputil/transport_test.go
  scanner/matcher/matcher.go
Owners: @stackrox/scanner

Pruning in batches without returning data to central
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/datastore/pruning.go
Owners: none

ROX-28260: pass parent context to sensor scan semaphore (#14443)
  sensor/common/scan/scan.go
Owners: @stackrox/scanner

chore(deps): update konflux references
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retag-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Owners: @stackrox/rhtap-maintainers

chore(deps): update konflux references
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Owners: @stackrox/rhtap-maintainers

Log namespace when verifying that scanner V4 is not deployed
  tests/e2e/run-scanner-v4-install.bats
Owners: none

New asserts
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Owners: @janisz

Cleaned up and added comments
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Owners: @janisz

Removed new test without asserts
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Owners: @janisz

Improve logging
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Improve logging
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Faster/more reliable logic for detecting deletion of deployments incorporating .metadata.deletionTimestamp
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Enable scanner V4 by default for secured-cluster-services chart.
  image/templates/helm/stackrox-secured-cluster/internal/defaults/70-scanner-v4.yaml.htpl
Owners: none

Temporarily increase waiting time in test until new verification logic is merged
  tests/e2e/run-scanner-v4-install.bats
Owners: none

Adjust operator test after scanner V4 has ben set to be enabled by default
  operator/tests/upgrade/upgrade/030-errors.yaml
Owners: @stackrox/install

a nightly update script
  .github/workflows/tagged-ci.yaml
  .openshift-ci/nightlies.sh
Owners: none

Added asserts for the number of edges. Removed asserts for edge updates
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Owners: @janisz

Can now search for null uuids
  central/processlisteningonport/datastore/datastore_impl.go
  pkg/search/postgres/query/uuid_query.go
Owners: @stackrox/core-workflows

Getting ids and then deleting in batches
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/store/postgres/store.go
  central/processlisteningonport/store/store.go
Owners: none

Fixed style error
  central/pruning/pruning.go
Owners: none

Cleaned test code
  central/processlisteningonport/datastore/datastore_impl_test.go
Owners: none

Returning error correctly
  central/processlisteningonport/datastore/datastore_impl.go
Owners: none

Added a pruner to remove plops without poduids. Also added a unit test
  central/processlisteningonport/datastore/datastore.go
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/datastore/datastore_impl_test.go
  central/processlisteningonport/datastore/pruning.go
  central/pruning/pruning.go
Owners: none

Deleting using batches
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/datastore/datastore_impl_test.go
  central/processlisteningonport/datastore/pruning.go
Owners: none

Removed blank line
  central/processlisteningonport/datastore/datastore_impl.go
Owners: none

Removed unused prunedNullPoduid
  central/processlisteningonport/datastore/datastore_impl.go
Owners: none

make generated-srcs
  central/processlisteningonport/datastore/mocks/datastore.go
Owners: none

Fixed error
  central/pruning/pruning.go
Owners: none

Not using GetIDsByQuery
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/store/postgres/store.go
  central/processlisteningonport/store/store.go
Owners: none

.github/CODEOWNERS:

# For further documentation on CODEOWNERS, visit
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
# This will automatically assign a team / people as reviewers for PRs based on the files changed within the PR.

# Core team's main responsibilities include policies including default policies and policy management workflows,
# detection and alerting, integrations and notifiers, risk, vulnerability management and reporting, migrator and
# interactions with Postgres.
pkg/detection/**/*                  @stackrox/core-workflows
pkg/booleanpolicy/**/*              @stackrox/core-workflows
pkg/defaults/policies/**/*          @stackrox/core-workflows
central/policy/**/*                 @stackrox/core-workflows
central/reports/**/*                @stackrox/core-workflows
central/reportconfiguration/**/*    @stackrox/core-workflows
central/vulnmgmt/**/*               @stackrox/core-workflows
proto/storage/*                     @stackrox/core-workflows
migrator/**/*                       @stackrox/core-workflows
pkg/postgres/**/*                   @stackrox/core-workflows
tests/upgrade/*                     @stackrox/core-workflows
pkg/search/**/*                     @stackrox/core-workflows

# sensor-ecosystem main responsibilities include:
# administration events, authN (authproviders), authZ (SAC)
# cloud sources, declarative config, image signatures, images, netpol,
# observability, performance testing, roxctl, sensor and telemetry.
*/administration/**/*       @stackrox/sensor-ecosystem
*/auth/**/*                 @stackrox/sensor-ecosystem
*/cloudsources/**/*         @stackrox/sensor-ecosystem
*/declarativeconfig/**/*    @stackrox/sensor-ecosystem
*/discoveredclusters/**/    @stackrox/sensor-ecosystem
*/signatureintegration/**/* @stackrox/sensor-ecosystem
pkg/features/**/*           @stackrox/sensor-ecosystem
pkg/images/defaults/**/*    @stackrox/sensor-ecosystem
pkg/sac/**/*                @stackrox/sensor-ecosystem
pkg/signatures/**/*         @stackrox/sensor-ecosystem
roxctl/**/*                 @stackrox/sensor-ecosystem
sensor/**/*                 @stackrox/sensor-ecosystem
tests/performance/**/*      @stackrox/sensor-ecosystem
tests/roxctl/**/*           @stackrox/sensor-ecosystem

# Listing all users as "Outside collaborators cannot be added to a team"
bats-tests/local/roxctl-netpol-*               @zivnevo @adisos @shireenf-ibm
roxctl/netpol/**/*                             @zivnevo @adisos @shireenf-ibm
tests/roxctl/bats-tests/test-data/np-guard/    @zivnevo @adisos @shireenf-ibm

qa-tests-backend/**/*       @janisz

/ui/**/* @stackrox/ui

operator/**/* @stackrox/install

# Scanner team's responsibilities include anything related to the scanner itself and scanning utilities
# such as vulnerability uploading and image integrations.
/.github/workflows/scanner*                               @stackrox/scanner
/.github/workflows/update_scanner_periodic.yaml           @stackrox/scanner
/central/image/service/                                   @stackrox/scanner
/central/imageintegration/service/                        @stackrox/scanner
/central/imageintegration/store/defaults.go               @stackrox/scanner
/central/scannerdefinitions/                              @stackrox/scanner
/central/sensor/service/pipeline/imageintegrations/       @stackrox/scanner
/pkg/images/enricher/                                     @stackrox/scanner
/pkg/nodes/                                               @stackrox/scanner
/pkg/registries/                                          @stackrox/scanner
/pkg/registrymirror/                                      @stackrox/scanner
/pkg/scanners/                                            @stackrox/scanner
/pkg/scannerv4/                                           @stackrox/scanner
/pkg/scans/                                               @stackrox/scanner
/proto/internalapi/scanner/                               @stackrox/scanner
/proto/storage/delegated_registry_config.proto            @stackrox/scanner
/proto/storage/image.proto                                @stackrox/scanner
/proto/storage/image_integration.proto                    @stackrox/scanner
/scanner/                                                 @stackrox/scanner
/sensor/common/registry/                                  @stackrox/scanner
/sensor/common/scan/                                      @stackrox/scanner
/sensor/common/scannerclient/                             @stackrox/scanner
/sensor/common/scannerdefinitions/                        @stackrox/scanner
/sensor/kubernetes/listener/resources/registrymirrorsets* @stackrox/scanner
/sensor/kubernetes/listener/resources/secrets*            @stackrox/scanner
/SCANNER_VERSION                                          @stackrox/scanner

# The RHTAP maintainers for ACS review all changes related to the RHTAP pipelines, such as new pipelines,
# parameter changes or automated task updates.
/.tekton/   @stackrox/rhtap-maintainers
