Repository stackrox/stackrox, changes with the owners that .github/CODEOWNERS names for each.
All owners: @stackrox/core-workflows, @stackrox/sensor-ecosystem, @zivnevo, @adisos, @shireenf-ibm, @janisz, @stackrox/ui, @stackrox/install, @stackrox/scanner, @stackrox/rhtap-maintainers

fix bats tests
  roxctl/patch_flag_usage.go
  tests/roxctl/bats-tests/local/central-boolean-defaults.bats
Owners: @stackrox/sensor-ecosystem

rename test embedding files
  roxctl/maincommand/embed_tree_debug_test.go
  roxctl/maincommand/embed_tree_release_test.go
Owners: @stackrox/sensor-ecosystem

Add scanner v4
  Makefile
  pkg/manifest/central.go
  pkg/manifest/config.go
  pkg/manifest/manifest.go
  pkg/manifest/scannerv4.go
Owners: none

format deprecated commands
  roxctl/central/db/backup/backup.go
  roxctl/central/db/restore/v2.go
  roxctl/utils/formatting_writer.go
  roxctl/utils/formatting_writer_test.go
  roxctl/utils/help_formatter.go
  roxctl/utils/help_formatter_test.go
Owners: @stackrox/sensor-ecosystem

feat: Add ability to count grouping by column values
  pkg/search/postgres/common.go
  pkg/search/postgres/common_test.go
  pkg/search/postgres/group_by.go
  pkg/search/postgres/store.go
  pkg/search/postgres/store_cache.go
  pkg/search/result.go
Owners: @stackrox/core-workflows

Running the pruner at every pruning interval
  central/pruning/pruning.go
Owners: none

large test file
  tools/allowed-large-files
Owners: none

ROX-26763: add changelog entry (zombie process errors)
  CHANGELOG.md
Owners: none

more time and test
  central/image/datastore/store/v2/postgres/store.go
  central/image/datastore/store/v2/postgres/store_test.go
Owners: none

re-generate files
  pkg/search/postgres/querytype_string.go
Owners: @stackrox/core-workflows

large test file
  tools/allowed-large-files
Owners: none

wip
  pkg/jsonutil/json_test.go
  tools/proto/protoc-gen-go-json/main.go
Owners: none

Updated pruning tests
  central/pruning/pruning_test.go
Owners: none

image & deployment
  pkg/jsonutil/json_test.go
  tools/proto/protoc-gen-go-json/main.go
Owners: none

Add an option --required-headers to mark headers as required for a row to be displayed in the table
  pkg/gjson/row.go
  pkg/gjson/row_test.go
  pkg/printers/csv.go
  pkg/printers/table.go
  roxctl/common/printer/tabularprinter_factory.go
Owners: @stackrox/sensor-ecosystem

hackathon
  central/cve/converter/utils/convert_utils.go
  central/cve/converter/utils/convert_utils_v2.go
  central/graphql/resolvers/generated.go
  generated/api/v1/image_service.swagger.json
  generated/api/v1/node_service.swagger.json
  generated/api/v1/vuln_mgmt_service.swagger.json
  generated/internalapi/scanner/v4/vulnerability_report.pb.go
  generated/internalapi/scanner/v4/vulnerability_report_vtproto.pb.go
  generated/storage/cve.pb.go
  generated/storage/cve_vtproto.pb.go
  generated/storage/vulnerability.pb.go
  generated/storage/vulnerability_vtproto.pb.go
  go.mod
  go.sum
  pkg/scanners/scannerv4/convert.go
  pkg/scannerv4/mappers/mappers.go
  proto/internalapi/scanner/v4/vulnerability_report.proto
  proto/storage/cve.proto
  proto/storage/vulnerability.proto
  scanner/indexer/indexer.go
  scanner/matcher/matcher.go
  scanner/updater/export.go
Owners: @stackrox/scanner, @stackrox/core-workflows

update
  pkg/scannerv4/mappers/mappers_test.go
Owners: @stackrox/scanner

more tests and times
  central/image/datastore/store/v2/postgres/store.go
  central/image/datastore/store/v2/postgres/store_test.go
Owners: none

style
  central/image/datastore/store/v2/postgres/store_test.go
Owners: none

fix
  pkg/scannerv4/mappers/mappers.go
Owners: @stackrox/scanner

fix export
  scanner/updater/export.go
Owners: @stackrox/scanner

testing
  image/templates/helm/shared/config-templates/scanner-v4/matcher-config.yaml.tpl
Owners: none

turn on kev enricher
  scanner/matcher/matcher.go
Owners: @stackrox/scanner

a nightly update script
  .github/workflows/tagged-ci.yaml
  .openshift-ci/nightlies.sh
Owners: none

no versino
  pkg/scanners/scannerv4/convert.go
Owners: @stackrox/scanner

Deploy sensor; use CRS for auth
  installer/main.go
  pkg/manifest/central.go
  pkg/manifest/manifest.go
  pkg/manifest/scanner.go
  pkg/manifest/sensor.go
Owners: none

Update COLLECTOR_VERSION
  COLLECTOR_VERSION
Owners: none

lint
  .github/workflows/fixxxer.yaml
Owners: none

define service protos
  generated/api/v2/debug_action_service.pb.go
  generated/api/v2/debug_action_service.pb.gw.go
  generated/api/v2/debug_action_service.swagger.json
  generated/api/v2/debug_action_service_grpc.pb.go
  generated/api/v2/debug_action_service_vtproto.pb.go
  proto/api/v2/debug_action_service.proto
Owners: none

Define interfaces and boilerplate stuff
  central/debugactions/env.go
  central/debugactions/manager/manager.go
  central/debugactions/manager/manager_impl.go
  central/debugactions/manager/mocks/manager.go
  central/debugactions/manager/singleton.go
  central/debugactions/service/service.go
  central/debugactions/service/service_impl.go
  central/debugactions/service/singleton.go
  central/main.go
  generated/api/v2/debug_action_service.swagger.json
  generated/api/v2/debug_action_service_grpc.pb.go
  proto/api/v2/debug_action_service.proto
Owners: none

test: (scanner-v4-install) Simplify handling of old roxctl version (#14399)
  tests/e2e/run-scanner-v4-install.bats
Owners: none

wip
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/templates/01-central-05-db-tls-secret.yaml
  image/templates/helm/stackrox-central/templates/01-central-05-tls-secret.yaml
  image/templates/helm/stackrox-central/templates/01-central-12-central-db.yaml
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
Owners: none

wip
  image/templates/helm/shared/templates/_spire.tpl
Owners: none

Adjust expected queries
  pkg/search/postgres/common_test.go
Owners: @stackrox/core-workflows

re-generate mocks
  central/processlisteningonport/store/mocks/store.go
Owners: none

style fix
  central/processlisteningonport/store/store.go
Owners: none

feat: new alert count service using DB CountBy
  central/alert/datastore/datastore.go
  central/alert/datastore/datastore_impl.go
  central/alert/datastore/internal/store/mocks/store.go
  central/alert/datastore/internal/store/store.go
  central/alert/datastore/mocks/datastore.go
  central/alert/service/service_impl.go
  generated/api/v1/alert_service.pb.go
  generated/api/v1/alert_service.pb.gw.go
  generated/api/v1/alert_service.swagger.json
  generated/api/v1/alert_service_grpc.pb.go
  proto/api/v1/alert_service.proto
Owners: none

style fix
  central/alert/service/service_impl.go
Owners: none

Less noisy cert generation
  tests/scripts/setup-certs.sh
Owners: none

Less noisy git checkout
  tests/e2e/run-scanner-v4-install.bats
Owners: none

.github/CODEOWNERS:

# For further documentation on CODEOWNERS, visit
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners#about-code-owners
# This will automatically assign a team / people as reviewers for PRs based on the files changed within the PR.

# Core team's main responsibilities include policies including default policies and policy management workflows,
# detection and alerting, integrations and notifiers, risk, vulnerability management and reporting, migrator and
# interactions with Postgres.
pkg/detection/**/*                  @stackrox/core-workflows
pkg/booleanpolicy/**/*              @stackrox/core-workflows
pkg/defaults/policies/**/*          @stackrox/core-workflows
central/policy/**/*                 @stackrox/core-workflows
central/reports/**/*                @stackrox/core-workflows
central/reportconfiguration/**/*    @stackrox/core-workflows
central/vulnmgmt/**/*               @stackrox/core-workflows
proto/storage/*                     @stackrox/core-workflows
migrator/**/*                       @stackrox/core-workflows
pkg/postgres/**/*                   @stackrox/core-workflows
tests/upgrade/*                     @stackrox/core-workflows
pkg/search/**/*                     @stackrox/core-workflows

# sensor-ecosystem main responsibilities include:
# administration events, authN (authproviders), authZ (SAC)
# cloud sources, declarative config, image signatures, images, netpol,
# observability, performance testing, roxctl, sensor and telemetry.
*/administration/**/*       @stackrox/sensor-ecosystem
*/auth/**/*                 @stackrox/sensor-ecosystem
*/cloudsources/**/*         @stackrox/sensor-ecosystem
*/declarativeconfig/**/*    @stackrox/sensor-ecosystem
*/discoveredclusters/**/    @stackrox/sensor-ecosystem
*/signatureintegration/**/* @stackrox/sensor-ecosystem
pkg/features/**/*           @stackrox/sensor-ecosystem
pkg/images/defaults/**/*    @stackrox/sensor-ecosystem
pkg/sac/**/*                @stackrox/sensor-ecosystem
pkg/signatures/**/*         @stackrox/sensor-ecosystem
roxctl/**/*                 @stackrox/sensor-ecosystem
sensor/**/*                 @stackrox/sensor-ecosystem
tests/performance/**/*      @stackrox/sensor-ecosystem
tests/roxctl/**/*           @stackrox/sensor-ecosystem

# Listing all users as "Outside collaborators cannot be added to a team"
bats-tests/local/roxctl-netpol-*               @zivnevo @adisos @shireenf-ibm
roxctl/netpol/**/*                             @zivnevo @adisos @shireenf-ibm
tests/roxctl/bats-tests/test-data/np-guard/    @zivnevo @adisos @shireenf-ibm

qa-tests-backend/**/*       @janisz

/ui/**/* @stackrox/ui

operator/**/* @stackrox/install

# Scanner team's responsibilities include anything related to the scanner itself and scanning utilities
# such as vulnerability uploading and image integrations.
/.github/workflows/scanner*                               @stackrox/scanner
/.github/workflows/update_scanner_periodic.yaml           @stackrox/scanner
/central/image/service/                                   @stackrox/scanner
/central/imageintegration/service/                        @stackrox/scanner
/central/imageintegration/store/defaults.go               @stackrox/scanner
/central/scannerdefinitions/                              @stackrox/scanner
/central/sensor/service/pipeline/imageintegrations/       @stackrox/scanner
/pkg/images/enricher/                                     @stackrox/scanner
/pkg/nodes/                                               @stackrox/scanner
/pkg/registries/                                          @stackrox/scanner
/pkg/registrymirror/                                      @stackrox/scanner
/pkg/scanners/                                            @stackrox/scanner
/pkg/scannerv4/                                           @stackrox/scanner
/pkg/scans/                                               @stackrox/scanner
/proto/internalapi/scanner/                               @stackrox/scanner
/proto/storage/delegated_registry_config.proto            @stackrox/scanner
/proto/storage/image.proto                                @stackrox/scanner
/proto/storage/image_integration.proto                    @stackrox/scanner
/scanner/                                                 @stackrox/scanner
/sensor/common/registry/                                  @stackrox/scanner
/sensor/common/scan/                                      @stackrox/scanner
/sensor/common/scannerclient/                             @stackrox/scanner
/sensor/common/scannerdefinitions/                        @stackrox/scanner
/sensor/kubernetes/listener/resources/registrymirrorsets* @stackrox/scanner
/sensor/kubernetes/listener/resources/secrets*            @stackrox/scanner
/SCANNER_VERSION                                          @stackrox/scanner

# The RHTAP maintainers for ACS review all changes related to the RHTAP pipelines, such as new pipelines,
# parameter changes or automated task updates.
/.tekton/   @stackrox/rhtap-maintainers
