Repository stackrox/stackrox, changes with the labels that .github/labeler.yml gives for each.
All labels: area/roxctl, area/auth, area/ui, area/operator, area/helm, area/sensor, area/central, area/admission-controller, area/postgres

ROX-8466: Enable OpenShift internal image scanning support (#831)
  CHANGELOG.md
  operator/pkg/securedcluster/values/translation/translation_test.go
  pkg/features/list.go
Labels: area/operator

ssl
  image/postgres/pg_hba.conf
Labels: area/helm, area/postgres

Wire up singletons for a majority of generated stores (#877)
  central/alert/datastore/bench_test.go
  central/alert/datastore/datastore.go
  central/alert/datastore/internal/store/postgres/list_index.go
  central/alert/datastore/internal/store/rocksdb/store_impl.go
  central/alert/datastore/internal/store/store.go
  central/alert/datastore/internal/store/store_impl_test.go
  central/alert/datastore/singleton.go
  central/apitoken/datastore/singleton.go
  central/globaldb/postgres.go
  central/namespace/datastore/singleton.go
  central/networkbaseline/datastore/singleton.go
  central/networkgraph/entity/datastore/singleton.go
  central/pod/datastore/datastore.go
  central/pod/datastore/singleton.go
  central/processbaselineresults/datastore/singleton.go
  central/processindicator/datastore/singleton.go
  central/rbac/k8srole/datastore/singleton.go
  central/rbac/k8srolebinding/datastore/datastore_impl.go
  central/rbac/k8srolebinding/datastore/singleton.go
  central/rbac/k8srolebinding/internal/index/gen.go
  central/rbac/k8srolebinding/internal/index/indexer.go
  central/rbac/k8srolebinding/internal/index/indexer_impl.go
  central/rbac/k8srolebinding/internal/index/mocks/indexer.go
  central/reportconfigurations/datastore/singleton.go
  central/risk/datastore/singleton.go
  central/secret/datastore/singleton.go
  central/serviceaccount/datastore/singleton.go
  central/signatureintegration/datastore/singleton.go
  central/vulnerabilityrequest/datastore/internal/store/postgres/gen.go
  central/vulnerabilityrequest/datastore/internal/store/postgres/index.go
  central/vulnerabilityrequest/datastore/internal/store/postgres/store_test.go
  central/vulnerabilityrequest/datastore/singleton.go
  central/watchedimage/datastore/singleton.go
Labels: area/central, area/postgres

Wire up singletons for a majority of generated stores (#877)
  central/alert/datastore/bench_test.go
  central/alert/datastore/datastore.go
  central/alert/datastore/internal/store/postgres/list_index.go
  central/alert/datastore/internal/store/rocksdb/store_impl.go
  central/alert/datastore/internal/store/store.go
  central/alert/datastore/internal/store/store_impl_test.go
  central/alert/datastore/singleton.go
  central/apitoken/datastore/singleton.go
  central/globaldb/postgres.go
  central/namespace/datastore/singleton.go
  central/networkbaseline/datastore/singleton.go
  central/networkgraph/entity/datastore/singleton.go
  central/pod/datastore/datastore.go
  central/pod/datastore/singleton.go
  central/processbaselineresults/datastore/singleton.go
  central/processindicator/datastore/singleton.go
  central/rbac/k8srole/datastore/singleton.go
  central/rbac/k8srolebinding/datastore/datastore_impl.go
  central/rbac/k8srolebinding/datastore/singleton.go
  central/rbac/k8srolebinding/internal/index/gen.go
  central/rbac/k8srolebinding/internal/index/indexer.go
  central/rbac/k8srolebinding/internal/index/indexer_impl.go
  central/rbac/k8srolebinding/internal/index/mocks/indexer.go
  central/reportconfigurations/datastore/singleton.go
  central/risk/datastore/singleton.go
  central/secret/datastore/singleton.go
  central/serviceaccount/datastore/singleton.go
  central/signatureintegration/datastore/singleton.go
  central/vulnerabilityrequest/datastore/internal/store/postgres/gen.go
  central/vulnerabilityrequest/datastore/internal/store/postgres/index.go
  central/vulnerabilityrequest/datastore/internal/store/postgres/store_test.go
  central/vulnerabilityrequest/datastore/singleton.go
  central/watchedimage/datastore/singleton.go
Labels: area/central, area/postgres

Generate stores for roles in Postgres
  central/role/datastore/singleton.go
  central/role/store/permissionset/postgres/gen.go
  central/role/store/permissionset/postgres/store.go
  central/role/store/permissionset/postgres/store_test.go
  central/role/store/role/postgres/gen.go
  central/role/store/role/postgres/store.go
  central/role/store/role/postgres/store_test.go
  central/role/store/simpleaccessscope/postgres/gen.go
  central/role/store/simpleaccessscope/postgres/store.go
  central/role/store/simpleaccessscope/postgres/store_test.go
  generated/storage/role.pb.go
  proto/storage/role.proto
Labels: area/central

update
  sensor/kubernetes/sensor/sensor.go
Labels: area/sensor

.github/labeler.yml:

# This file provides the list of labels to apply on PRs based on files changed
# More information on the supported syntax can be found here: https://github.com/actions/labeler

area/roxctl:
- roxctl/**/*
area/auth:
- pkg/auth/**/*
- pkg/sac/**/*
area/ui:
- ui/**/*
area/operator:
- operator/**/*
area/helm:
- image/**/*
- central/helm/**/*
- central/helmcharts/**/*
- pkg/helm/**/*
area/sensor:
- sensor/**/*
area/central:
- central/**/*
area/admission-controller:
- sensor/admission-control/**/*
area/postgres:
- central/globaldb/postgres.go
- image/postgres/**/*
- pkg/postgres/**/*
- pkg/search/postgres/**/*
- tools/generate-helpers/pg-table-bindings/**/*
- tools/generate-helpers/pg-table-bindings-wrapper
