Repository stackrox/stackrox, changes with the labels that .github/labeler.yml gives for each.
All labels: area/roxctl, area/auth, area/ui

.github/labeler.yml:

# This file provides the list of labels to apply on PRs based on files changed
# More information on the supported syntax can be found here: https://github.com/actions/labeler

area/roxctl:
- roxctl/**/*
area/auth:
- pkg/auth/**/*
- pkg/sac/**/*
area/ui:
- ui/**/*

Dummy change to check for correct label.
  roxctl/test
Labels: area/roxctl

Label PRs when they are opened, ready for review and the HEAD of the branch changes.
  .github/workflows/labeler.yaml
Labels: none

Add CODEOWNERS to automatically assign teams for reviews based on files changed within the PR. (#191)
  .github/CODEOWNERS
Labels: none

Add CODEOWNERS to automatically assign teams for reviews based on files changed within the PR. (#191)
  .github/CODEOWNERS
Labels: none

Testing assigning of reviews.
  roxctl/hello
Labels: area/roxctl

Refactor tests to use suite.Run() instead of t.Run()
  roxctl/helm/output/output_lint_test.go
Labels: area/roxctl

Fix CODEOWNERS syntax to enable it within the repo.
  .github/CODEOWNERS
Labels: none

Remove unnecessary function
  central/clusters/identity.go
Labels: none

Minor: Rephrase comment [ci skip]
  pkg/helm/charts/meta.go
Labels: none

ROX-8130 Make Central operator issue init bundle if a SecuredCluster is present in the same namespace (#97)
  central/clusters/identity.go
  operator/pkg/central/extensions/common_test.go
  operator/pkg/central/extensions/reconcile_tls.go
  operator/pkg/central/extensions/reconcile_tls_test.go
  operator/pkg/central/reconciler/reconciler.go
  operator/pkg/central/reconciler/securedcluster_watch.go
  pkg/centralsensor/init_cert.go
Labels: none

ROX-8130 Make Central operator issue init bundle if a SecuredCluster is present in the same namespace (#97)
  central/clusters/identity.go
  operator/pkg/central/extensions/common_test.go
  operator/pkg/central/extensions/reconcile_tls.go
  operator/pkg/central/extensions/reconcile_tls_test.go
  operator/pkg/central/reconciler/reconciler.go
  operator/pkg/central/reconciler/securedcluster_watch.go
  pkg/centralsensor/init_cert.go
Labels: none

Remove unnecessary function (#199)
  central/clusters/identity.go
Labels: none

Remove unnecessary function (#199)
  central/clusters/identity.go
Labels: none

Use pointers to compare RoxErrors.
  pkg/dberrors/errors.go
  pkg/errox/errors.go
  pkg/errox/roxerror.go
  pkg/errox/roxerror_test.go
  pkg/sac/err_permission_denied.go
Labels: area/auth

fix build
  central/clusters/identity.go
Labels: none

Fix build due to previous code refactoring
  central/clusters/identity.go
Labels: none

Fix build due to previous code refactoring
  central/clusters/identity.go
Labels: none
