Repository stackrox/stackrox, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ci, area/roxctl, area/auth, area/ui, area/operator, area/helm, area/sensor, area/central, area/scanner, area/admission-controller, area/postgres, ci-all-qa-tests

Added vuln report filter to report snapshot (#8853)
  migrator/migrations/m_192_to_m_193_report_config_migrations/migration_impl.go
Labels: none

Added vuln report filter to report snapshot (#8853)
  migrator/migrations/m_192_to_m_193_report_config_migrations/migration_impl.go
Labels: none

m
  central/compliance/manager/manager.go
  central/compliance/manager/manager_impl.go
  central/compliance/manager/service/service_impl.go
  central/graphql/resolvers/compliance_management.go
  generated/api/v1/compliance_management_service.pb.go
  generated/api/v1/compliance_management_service.swagger.json
  proto/api/v1/compliance_management_service.proto
Labels: area/central

oops
  central/graphql/resolvers/compliance_management.go
Labels: area/central

and more
  central/compliance/manager/run.go
  central/graphql/resolvers/compliance_management.go
  ui/apps/platform/src/Containers/Compliance/ScanButton.js
  ui/apps/platform/src/queries/standard.js
Labels: area/ui, area/central

use semaphore
  central/compliance/manager/manager_impl.go
Labels: area/central

no need to check if the env var is set
  sensor/kubernetes/listener/resources/deployment_store_test.go
Labels: area/sensor

ROX-20664: Compliance config cluster selection (#8835)
  ui/apps/platform/src/Containers/ComplianceEnhanced/MockData/complianceProfileServiceMocks.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/MockData/complianceResultsServiceMocks.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Table/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ProfileSelection.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ReviewConfig.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ScanConfigOptions.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ScanConfigWizardForm.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/useFormikScanConfig.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/MockData/complianceScanResultsOverview.js
  ui/apps/platform/src/services/ComplianceEnhancedService.ts
Labels: area/ui

ROX-20664: Compliance config cluster selection (#8835)
  ui/apps/platform/src/Containers/ComplianceEnhanced/MockData/complianceProfileServiceMocks.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/MockData/complianceResultsServiceMocks.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Table/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ProfileSelection.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ReviewConfig.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ScanConfigOptions.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ScanConfigWizardForm.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/useFormikScanConfig.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/MockData/complianceScanResultsOverview.js
  ui/apps/platform/src/services/ComplianceEnhancedService.ts
Labels: area/ui

Correct typo
  image/rhel/download.sh
Labels: area/helm

chore(deps): update rhtap references
  .tekton/central-db-pull-request.yaml
  .tekton/central-db-push.yaml
  .tekton/roxctl-pull-request.yaml
  .tekton/roxctl-push.yaml
Labels: none

fix(leak): Deployment snapshots were not being deleted (#8919)
  sensor/kubernetes/listener/resources/deployment_store.go
  sensor/kubernetes/listener/resources/deployment_store_test.go
Labels: area/sensor

fix(leak): Deployment snapshots were not being deleted (#8919)
  sensor/kubernetes/listener/resources/deployment_store.go
  sensor/kubernetes/listener/resources/deployment_store_test.go
Labels: area/sensor

ROX-9156: another round of pre-factoring (#8839)
  image/templates/helm/shared/templates/_image-pull-secrets.tpl
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  pkg/helm/charts/tests/centralservices/testdata/helmtest/image-pull-secrets.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/image-pull-secrets.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-slim.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/suite.yaml
Labels: area/helm

ROX-9156: another round of pre-factoring (#8839)
  image/templates/helm/shared/templates/_image-pull-secrets.tpl
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  pkg/helm/charts/tests/centralservices/testdata/helmtest/image-pull-secrets.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/image-pull-secrets.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-slim.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/suite.yaml
Labels: area/helm

try two archs in parallel
  .tekton/central-db-pull-request.yaml
Labels: none

fix build-container task name
  .tekton/central-db-pull-request.yaml
Labels: none

chore(ci): add codecove integration (#8933)
  .github/workflows/unit-tests.yaml
Labels: area/ci

chore(ci): add codecove integration (#8933)
  .github/workflows/unit-tests.yaml
Labels: area/ci

chore(ci): enable code coverage for UI
  ui/Makefile
Labels: area/ui

fix(debug): Install missing golang required for debug builds (#8935)
  image/rhel/download.sh
Labels: area/helm

fix(debug): Install missing golang required for debug builds (#8935)
  image/rhel/download.sh
Labels: area/helm

only the other arch job
  .tekton/central-db-pull-request.yaml
Labels: none

update task digest
  .tekton/central-db-pull-request.yaml
Labels: none

push to same tag, does it work?
  .tekton/central-db-pull-request.yaml
Labels: none

IBM arches
  .tekton/central-db-pull-request.yaml
Labels: none

ROX-12982: Switch to stock SCCs for Helm charts and Operator (#8781)
  CHANGELOG.md
  central/clusters/zip/render_test.go
  deploy/charts/monitoring/templates/00-serviceaccount.yaml
  deploy/openshift/env.sh
  image/templates/helm/shared/templates/02-scanner-01-security.yaml
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/templates/01-central-02-db-security.yaml
  image/templates/helm/stackrox-central/templates/01-central-02-security.yaml
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/internal/defaults/60-sccs.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller-scc.yaml
  image/templates/helm/stackrox-secured-cluster/templates/collector-scc.yaml
  image/templates/helm/stackrox-secured-cluster/templates/sensor-scc.yaml
  image/templates/sensor/openshift/sensor.sh
  operator/apis/platform/v1alpha1/central_types.go
  operator/apis/platform/v1alpha1/common_types.go
  operator/apis/platform/v1alpha1/securedcluster_types.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/pkg/central/values/translation/translation.go
  operator/pkg/central/values/translation/translation_test.go
  operator/pkg/securedcluster/values/translation/translation.go
  operator/pkg/securedcluster/values/translation/translation_test.go
  operator/pkg/values/translation/translation.go
  pkg/helm/charts/tests/centralservices/testdata/helmtest/central.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/sccs.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/env.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/legacy-settings.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-slim.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/sccs.test.yaml
  tests/roxctl/bats-tests/cluster/centraldb-generate.bats
  tests/roxctl/bats-tests/cluster/scanner-generate.bats
  tests/roxctl/bats-tests/helpers.bash
Labels: area/operator, area/helm, area/central

ROX-12982: Switch to stock SCCs for Helm charts and Operator (#8781)
  CHANGELOG.md
  central/clusters/zip/render_test.go
  deploy/charts/monitoring/templates/00-serviceaccount.yaml
  deploy/openshift/env.sh
  image/templates/helm/shared/templates/02-scanner-01-security.yaml
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/templates/01-central-02-db-security.yaml
  image/templates/helm/stackrox-central/templates/01-central-02-security.yaml
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/internal/defaults/60-sccs.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller-scc.yaml
  image/templates/helm/stackrox-secured-cluster/templates/collector-scc.yaml
  image/templates/helm/stackrox-secured-cluster/templates/sensor-scc.yaml
  image/templates/sensor/openshift/sensor.sh
  operator/apis/platform/v1alpha1/central_types.go
  operator/apis/platform/v1alpha1/common_types.go
  operator/apis/platform/v1alpha1/securedcluster_types.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/pkg/central/values/translation/translation.go
  operator/pkg/central/values/translation/translation_test.go
  operator/pkg/securedcluster/values/translation/translation.go
  operator/pkg/securedcluster/values/translation/translation_test.go
  operator/pkg/values/translation/translation.go
  pkg/helm/charts/tests/centralservices/testdata/helmtest/central.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/sccs.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/env.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/legacy-settings.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-slim.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/sccs.test.yaml
  tests/roxctl/bats-tests/cluster/centraldb-generate.bats
  tests/roxctl/bats-tests/cluster/scanner-generate.bats
  tests/roxctl/bats-tests/helpers.bash
Labels: area/operator, area/helm, area/central

Update ui/Makefile
  ui/Makefile
Labels: area/ui

move ref param to end
  .tekton/enterprise-contract/acs-enterprise-contract-allow-quay-registry.yaml
  .tekton/enterprise-contract/policy.yaml
Labels: none

some rework
  central/complianceoperator/v2/profiles/service/service_impl.go
  central/complianceoperator/v2/scanconfigurations/service/convert.go
  central/convert/storagetov2/compliance_profile_service.go
  generated/api/v2/compliance_profile_service.pb.go
  proto/api/v2/compliance_profile_service.proto
Labels: area/central

chore(deps): bump github.com/go-jose/go-jose/v3 from 3.0.0 to 3.0.1 (#8946)
  go.mod
  go.sum
Labels: none

chore(deps): bump github.com/cyphar/filepath-securejoin (#8895)
  go.mod
  go.sum
Labels: none

chore(ci): collect coverage for UI unittests (#8936)
  ui/Makefile
Labels: area/ui

chore(ci): collect coverage for UI unittests (#8936)
  ui/Makefile
Labels: area/ui

fix(ci): junit report for UI tests
  .github/workflows/unit-tests.yaml
Labels: area/ci

fix(ci): junit report for UI tests (#8948)
  .github/workflows/unit-tests.yaml
Labels: area/ci

fix(ci): junit report for UI tests (#8948)
  .github/workflows/unit-tests.yaml
Labels: area/ci

[ROX-19540] Central Implement a workflow to delete scheduled compliance configs
  central/complianceoperator/v2/compliancemanager/manager.go
  central/complianceoperator/v2/compliancemanager/manager_impl.go
  central/complianceoperator/v2/compliancemanager/manager_impl_test.go
  central/complianceoperator/v2/compliancemanager/mocks/manager.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl_test.go
  central/complianceoperator/v2/scanconfigurations/datastore/mocks/datastore.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  central/sensor/service/connection/connection_impl.go
Labels: area/central

fix(docs): Show Compliance V2 API docs (#8943)
  generated/api/v2/compliance_integration_service.swagger.json
  generated/api/v2/compliance_profile_service.swagger.json
  generated/api/v2/compliance_results_service.swagger.json
  generated/api/v2/compliance_scan_configuration_service.swagger.json
  make/protogen.mk
Labels: none

.github/labeler.yml:

# This file provides the list of labels to apply on PRs based on files changed
# More information on the supported syntax can be found here: https://github.com/actions/labeler

area/ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
    - .openshift-ci/**/*
    - scripts/ci/**/
area/roxctl:
- changed-files:
  - any-glob-to-any-file:
    - roxctl/**/*
area/auth:
- changed-files:
  - any-glob-to-any-file:
    - pkg/auth/**/*
    - pkg/sac/**/*
area/ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**/*
area/operator:
- changed-files:
  - any-glob-to-any-file:
    - operator/**/*
area/helm:
- changed-files:
  - any-glob-to-any-file:
    - image/**/*
    - central/helm/**/*
    - central/helmcharts/**/*
    - pkg/helm/**/*
area/sensor:
- changed-files:
  - any-glob-to-any-file:
    - sensor/**/*
area/central:
- changed-files:
  - any-glob-to-any-file:
    - central/**/*
area/scanner:
- changed-files:
  - any-glob-to-any-file:
    - scanner/**/*
area/admission-controller:
- changed-files:
  - any-glob-to-any-file:
    - sensor/admission-control/**/*
area/postgres:
- changed-files:
  - any-glob-to-any-file:
    - central/globaldb/postgres.go
    - image/postgres/**/*
    - pkg/postgres/**/*
    - pkg/search/postgres/**/*
    - tools/generate-helpers/pg-table-bindings/**/*
    - tools/generate-helpers/pg-table-bindings-wrapper
ci-all-qa-tests:
- changed-files:
  - any-glob-to-any-file:
    - COLLECTOR_VERSION
    - SCANNER_VERSION

backport:
- base-branch: 'release-*'
