Repository stackrox/stackrox, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ci, area/roxctl, area/auth, area/ui, area/operator, area/helm, area/sensor, area/central, area/scanner, area/admission-controller, area/postgres, ci-all-qa-tests

bump labeler
  .github/workflows/labeler.yaml
Labels: area/ci

Update central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/datastore/datastore_impl.go
Labels: area/central

ROX-20868: Keychain parsing util functions (#8882)
  central/notifier/processor/singleton.go
  central/notifier/service/singleton.go
  central/notifiers/awssh/notifier.go
  central/notifiers/cscc/cscc.go
  central/notifiers/email/email.go
  central/notifiers/generic/generic.go
  central/notifiers/jira/jira.go
  central/notifiers/pagerduty/pagerduty.go
  central/notifiers/splunk/splunk.go
  central/notifiers/utils/encryption.go
  central/notifiers/utils/encryption_test.go
Labels: area/central

ROX-20868: Keychain parsing util functions (#8882)
  central/notifier/processor/singleton.go
  central/notifier/service/singleton.go
  central/notifiers/awssh/notifier.go
  central/notifiers/cscc/cscc.go
  central/notifiers/email/email.go
  central/notifiers/generic/generic.go
  central/notifiers/jira/jira.go
  central/notifiers/pagerduty/pagerduty.go
  central/notifiers/splunk/splunk.go
  central/notifiers/utils/encryption.go
  central/notifiers/utils/encryption_test.go
Labels: area/central

ROX-20555: Adding a flow for updating a request
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCancelButtonModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestDenialButtonModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestUpdateButtonModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/hooks/useAffectedImagesCount.ts
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/hooks/useRequestCVEsDetails.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/CVESelectionTd.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/CVESelectionTh.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/CompletedExceptionRequestModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/CveSelections.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/ExceptionRequestForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/ExceptionRequestModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/hooks/useExceptionRequestModal.ts
  ui/apps/platform/src/services/VulnerabilityExceptionService.ts
Labels: area/ui

fix(test): Fix RBAC test by making it order agnostic (#8926)
  qa-tests-backend/src/test/groovy/K8sRbacTest.groovy
Labels: none

fix(test): Fix RBAC test by making it order agnostic (#8926)
  qa-tests-backend/src/test/groovy/K8sRbacTest.groovy
Labels: none

updates
  scripts/ci/govulncheck.sh
Labels: none

Fixed style errors
  central/processlisteningonport/datastore/datastore_impl_test.go
Labels: area/central

more allowlist
  govulncheck-allowlist.json
Labels: none

shellcheck
  scripts/ci/govulncheck.sh
Labels: none

ROX-19053: Wrap up first Scanner V4 Deployment test executing in CI (#8898)
  scripts/ci/jobs/gke_scanner_v4_tests.py
  scripts/ci/logcheck/restart-ok-patterns.json
  tests/e2e/run-scanner-v4.sh
Labels: none

ROX-19053: Wrap up first Scanner V4 Deployment test executing in CI (#8898)
  scripts/ci/jobs/gke_scanner_v4_tests.py
  scripts/ci/logcheck/restart-ok-patterns.json
  tests/e2e/run-scanner-v4.sh
Labels: none

and again
  scripts/ci/govulncheck.sh
Labels: none

addressing linting errors
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestUpdateButtonModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/hooks/useRequestCVEsDetails.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/CompletedExceptionRequestModal.tsx
Labels: area/ui

ROX-20015: Wait for deployment before getting process baseline (#8921)
  qa-tests-backend/src/test/groovy/ProcessBaselinesTest.groovy
Labels: none

ROX-20015: Wait for deployment before getting process baseline (#8921)
  qa-tests-backend/src/test/groovy/ProcessBaselinesTest.groovy
Labels: none

fix style error
  pkg/images/integration/set_impl.go
Labels: none

fix(scannerv4): Move ScannerV4 client into `pkg` (#8896)
  pkg/scannerv4/client/client.go
  pkg/scannerv4/client/mocks/client.go
  pkg/scannerv4/client/options.go
  pkg/scannerv4/client/options_test.go
  scanner/cmd/scannerctl/main.go
  scanner/e2etests/image_test.go
  sensor/common/scannerclient/grpc_client.go
  sensor/common/scannerclient/grpc_client_test.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/sensor, area/scanner

fix(scannerv4): Move ScannerV4 client into `pkg` (#8896)
  pkg/scannerv4/client/client.go
  pkg/scannerv4/client/mocks/client.go
  pkg/scannerv4/client/options.go
  pkg/scannerv4/client/options_test.go
  scanner/cmd/scannerctl/main.go
  scanner/e2etests/image_test.go
  sensor/common/scannerclient/grpc_client.go
  sensor/common/scannerclient/grpc_client_test.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/sensor, area/scanner

ROX-19944: Fix autocomplete for workload cve search bar (#8905)
  ui/apps/platform/src/Containers/Vulnerabilities/components/FilterAutocomplete.tsx
Labels: area/ui

ROX-19944: Fix autocomplete for workload cve search bar (#8905)
  ui/apps/platform/src/Containers/Vulnerabilities/components/FilterAutocomplete.tsx
Labels: area/ui

add back
  .github/workflows/build.yaml
Labels: area/ci

adjust client import
  pkg/scanners/scannerv4/scannerv4.go
Labels: none

get all runs when no ids are specified
  central/compliance/manager/manager_impl.go
Labels: area/central

chore(deps): update rhtap references
  .tekton/central-db-pull-request.yaml
  .tekton/central-db-push.yaml
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
  .tekton/roxctl-pull-request.yaml
  .tekton/roxctl-push.yaml
Labels: none

fix(ui): Add type aasertion in postFormatImageSigningPolicyGroup
  ui/apps/platform/src/Containers/Policies/policies.utils.ts
Labels: area/ui

fix(ui): Add type aasertion in postFormatImageSigningPolicyGroup
  ui/apps/platform/src/Containers/Policies/policies.utils.ts
Labels: area/ui

cleanup and add errorlist
  pkg/images/integration/set_impl.go
Labels: none

chore(scanner): copy postgres configs from new location (#8923)
  scanner/Makefile
Labels: area/scanner

chore(scanner): copy postgres configs from new location (#8923)
  scanner/Makefile
Labels: area/scanner

chore(scanner): upgrade Scanner v4 DB to PostgreSQL 15
  scanner/Makefile
  scanner/image/db/.gitignore
  scanner/image/db/Dockerfile
  scanner/image/db/download.sh
  scanner/image/db/scripts/docker-entrypoint.sh
  scanner/image/db/signatures/RPM-GPG-KEY-PGDG-15
Labels: area/scanner

remove nogpgcheck for arm64
  scanner/image/db/download.sh
Labels: area/scanner

update comments
  scanner/image/db/Dockerfile
  scanner/image/db/download.sh
Labels: area/scanner

remove extra newline
  scanner/image/db/signatures/RPM-GPG-KEY-PGDG-15
Labels: area/scanner

fix(docs): Show Compliance V2 API docs
  generated/api/v2/compliance_integration_service.swagger.json
  generated/api/v2/compliance_profile_service.swagger.json
  generated/api/v2/compliance_results_service.swagger.json
  generated/api/v2/compliance_scan_configuration_service.swagger.json
  make/protogen.mk
Labels: none

fix(ui): Add type assertion in postFormatImageSigningPolicyGroup (#8940)
  ui/apps/platform/src/Containers/Policies/policies.utils.ts
Labels: area/ui

fix(ui): Add type assertion in postFormatImageSigningPolicyGroup (#8940)
  ui/apps/platform/src/Containers/Policies/policies.utils.ts
Labels: area/ui

chore(scanner): upgrade Scanner v4 DB to PostgreSQL 15 (#8924)
  scanner/Makefile
  scanner/image/db/.gitignore
  scanner/image/db/Dockerfile
  scanner/image/db/download.sh
  scanner/image/db/scripts/docker-entrypoint.sh
  scanner/image/db/signatures/RPM-GPG-KEY-PGDG-15
Labels: area/scanner

chore(scanner): upgrade Scanner v4 DB to PostgreSQL 15 (#8924)
  scanner/Makefile
  scanner/image/db/.gitignore
  scanner/image/db/Dockerfile
  scanner/image/db/download.sh
  scanner/image/db/scripts/docker-entrypoint.sh
  scanner/image/db/signatures/RPM-GPG-KEY-PGDG-15
Labels: area/scanner

.github/labeler.yml:

# This file provides the list of labels to apply on PRs based on files changed
# More information on the supported syntax can be found here: https://github.com/actions/labeler

area/ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
    - .openshift-ci/**/*
    - scripts/ci/**/
area/roxctl:
- changed-files:
  - any-glob-to-any-file:
    - roxctl/**/*
area/auth:
- changed-files:
  - any-glob-to-any-file:
    - pkg/auth/**/*
    - pkg/sac/**/*
area/ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**/*
area/operator:
- changed-files:
  - any-glob-to-any-file:
    - operator/**/*
area/helm:
- changed-files:
  - any-glob-to-any-file:
    - image/**/*
    - central/helm/**/*
    - central/helmcharts/**/*
    - pkg/helm/**/*
area/sensor:
- changed-files:
  - any-glob-to-any-file:
    - sensor/**/*
area/central:
- changed-files:
  - any-glob-to-any-file:
    - central/**/*
area/scanner:
- changed-files:
  - any-glob-to-any-file:
    - scanner/**/*
area/admission-controller:
- changed-files:
  - any-glob-to-any-file:
    - sensor/admission-control/**/*
area/postgres:
- changed-files:
  - any-glob-to-any-file:
    - central/globaldb/postgres.go
    - image/postgres/**/*
    - pkg/postgres/**/*
    - pkg/search/postgres/**/*
    - tools/generate-helpers/pg-table-bindings/**/*
    - tools/generate-helpers/pg-table-bindings-wrapper
ci-all-qa-tests:
- changed-files:
  - any-glob-to-any-file:
    - COLLECTOR_VERSION
    - SCANNER_VERSION

backport:
- base-branch: 'release-*'
