Repository stackrox/stackrox, changes with the labels that .github/labeler.yml gives for each.
All labels: area/roxctl, area/auth, area/ui, area/operator, area/helm, area/sensor, area/central, area/admission-controller, area/postgres

.github/labeler.yml:

# This file provides the list of labels to apply on PRs based on files changed
# More information on the supported syntax can be found here: https://github.com/actions/labeler

area/roxctl:
- roxctl/**/*
area/auth:
- pkg/auth/**/*
- pkg/sac/**/*
area/ui:
- ui/**/*
area/operator:
- operator/**/*
area/helm:
- image/**/*
- central/helm/**/*
- central/helmcharts/**/*
- pkg/helm/**/*
area/sensor:
- sensor/**/*
area/central:
- central/**/*
area/admission-controller:
- sensor/admission-control/**/*
area/postgres:
- central/globaldb/postgres.go
- image/postgres/**/*
- pkg/postgres/**/*
- pkg/search/postgres/**/*
- tools/generate-helpers/pg-table-bindings/**/*
- tools/generate-helpers/pg-table-bindings-wrapper

Fix
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
Labels: area/helm

ROX-9627: SQL join generator for registered DB schema (#856)
  central/postgres/joins/generator.go
  central/postgres/joins/generator_impl.go
  central/postgres/joins/generator_impl_test.go
  central/postgres/joins/singleton.go
  pkg/postgres/registry/schemas.go
  pkg/postgres/walker/schema.go
  pkg/search/postgres/mapping/mapping.go
Labels: area/central, area/postgres

ROX-9627: SQL join generator for registered DB schema (#856)
  central/postgres/joins/generator.go
  central/postgres/joins/generator_impl.go
  central/postgres/joins/generator_impl_test.go
  central/postgres/joins/singleton.go
  pkg/postgres/registry/schemas.go
  pkg/postgres/walker/schema.go
  pkg/search/postgres/mapping/mapping.go
Labels: area/central, area/postgres

Push scanner-slim and scanner-db-slim images (#830)
  .circleci/config.yml
Labels: none

Push scanner-slim and scanner-db-slim images (#830)
  .circleci/config.yml
Labels: none

Update SR logo size.
  ui/apps/platform/src/images/StackRox-Logo.svg
Labels: area/ui

fix
  Makefile
  tests/roxctl/bats-tests/helpers.bash
Labels: none

update CHANGELOG
  CHANGELOG.md
Labels: none

Rename ACSEmptyState as EmptyStateTemplate and move to PatternFly folder
  ui/apps/platform/src/Components/ACSEmptyState/index.ts
  ui/apps/platform/src/Components/PatternFly/EmptyStateTemplate/EmptyStateTemplate.tsx
  ui/apps/platform/src/Components/PatternFly/EmptyStateTemplate/index.ts
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviders.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsTable.tsx
  ui/apps/platform/src/Containers/Search/SearchResults.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportTablePage.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ApprovedDeferrals/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ApprovedFalsePositives/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/DeferredCVEs/DeferredCVEsTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/FalsePositiveCVEs/FalsePositiveCVEsTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ObservedCVEs/ObservedCVEsTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/PendingApprovals/PendingApprovals.tsx
Labels: area/ui

Bump Scanner to 2.23.1 (#860)
  SCANNER_VERSION
Labels: none

Bump Scanner to 2.23.1 (#860)
  SCANNER_VERSION
Labels: none

ROX-9630: Migrating the policy table over to postgres
  central/alert/datastore/internal/store/postgres/store.go
  central/policy/store/postgres/gen.go
  central/policy/store/postgres/index.go
  central/policy/store/postgres/store.go
  central/policy/store/postgres/store_test.go
  generated/storage/alert.pb.go
  generated/storage/policy.pb.go
  pkg/postgres/walker/schema.go
  pkg/postgres/walker/walker.go
  proto/storage/alert.proto
  proto/storage/policy.proto
Labels: area/central, area/postgres

Wire up singletons for a majority of generated stores
  central/alert/datastore/bench_test.go
  central/alert/datastore/datastore.go
  central/alert/datastore/internal/store/postgres/list_index.go
  central/alert/datastore/internal/store/rocksdb/store_impl.go
  central/alert/datastore/internal/store/store.go
  central/alert/datastore/internal/store/store_impl_test.go
  central/alert/datastore/singleton.go
  central/apitoken/datastore/singleton.go
  central/globaldb/postgres.go
  central/namespace/datastore/singleton.go
  central/networkbaseline/datastore/singleton.go
  central/networkgraph/entity/datastore/singleton.go
  central/pod/datastore/datastore.go
  central/pod/datastore/singleton.go
  central/processbaseline/index/gen.go
  central/processbaselineresults/datastore/singleton.go
  central/processindicator/datastore/singleton.go
  central/rbac/k8srole/datastore/singleton.go
  central/rbac/k8srole/internal/store/postgres/index.go
  central/rbac/k8srole/internal/store/postgres/store.go
  central/rbac/k8srole/internal/store/postgres/store_test.go
  central/rbac/k8srolebinding/datastore/singleton.go
  central/rbac/k8srolebinding/internal/store/postgres/store.go
  central/rbac/k8srolebinding/internal/store/postgres/store_test.go
  central/reportconfigurations/datastore/singleton.go
  central/risk/datastore/singleton.go
  central/secret/datastore/singleton.go
  central/serviceaccount/datastore/singleton.go
  central/signatureintegration/datastore/singleton.go
  central/vulnerabilityrequest/datastore/internal/store/postgres/gen.go
  central/vulnerabilityrequest/datastore/internal/store/postgres/index.go
  central/vulnerabilityrequest/datastore/singleton.go
  central/watchedimage/datastore/singleton.go
  tools/generate-helpers/pg-table-bindings/main.go
Labels: area/central, area/postgres

ROX-9630: Migrating the policy table over to postgres (#811)
  central/alert/datastore/internal/store/postgres/store.go
  central/policy/store/postgres/gen.go
  central/policy/store/postgres/index.go
  central/policy/store/postgres/store.go
  central/policy/store/postgres/store_test.go
  generated/storage/alert.pb.go
  generated/storage/policy.pb.go
  pkg/postgres/walker/schema.go
  pkg/postgres/walker/walker.go
  proto/storage/alert.proto
  proto/storage/policy.proto
Labels: area/central, area/postgres

ROX-9630: Migrating the policy table over to postgres (#811)
  central/alert/datastore/internal/store/postgres/store.go
  central/policy/store/postgres/gen.go
  central/policy/store/postgres/index.go
  central/policy/store/postgres/store.go
  central/policy/store/postgres/store_test.go
  generated/storage/alert.pb.go
  generated/storage/policy.pb.go
  pkg/postgres/walker/schema.go
  pkg/postgres/walker/walker.go
  proto/storage/alert.proto
  proto/storage/policy.proto
Labels: area/central, area/postgres

Replace div with heading for deployment name in policy preview violations (#813)
  ui/apps/platform/src/Containers/Policies/PatternFly/Wizard/Step5/PreviewViolations.tsx
Labels: area/ui

Remove validation requirement for policy criteria values (#815)
  ui/apps/platform/src/Containers/Policies/PatternFly/Wizard/policyValidationSchemas.ts
Labels: area/ui

PF Policies UX Fixes Pt 2 (#817)
  ui/apps/platform/src/Containers/Policies/PatternFly/Wizard/Step3/PolicyCriteriaFieldSubInput.tsx
  ui/apps/platform/src/Containers/Policies/PatternFly/Wizard/Step3/PolicySection.css
  ui/apps/platform/src/Containers/Policies/PatternFly/Wizard/Step5/ReviewPolicyForm.tsx
Labels: area/ui

ROX-9558: Allow user to save cloned policy without making any changes (#814)
  ui/apps/platform/src/Containers/Policies/PatternFly/Wizard/PolicyWizard.tsx
Labels: area/ui

ROX-7305: Implement an afterglow behavior for network flows (#639)
  .circleci/config.yml
  COLLECTOR_VERSION
  deploy/common/k8sbased.sh
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Labels: none

PF Policies UX Fixes Pt. 1 (#796)
  ui/apps/platform/src/Containers/MitreAttackVectors/MitreAttackVectorsView.tsx
  ui/apps/platform/src/Containers/MitreAttackVectors/MitreAttackVectorsViewContainer.tsx
  ui/apps/platform/src/Containers/Policies/PatternFly/Detail/PolicyOverview.tsx
  ui/apps/platform/src/Containers/Policies/PatternFly/Wizard/PolicyWizard.tsx
  ui/apps/platform/src/Containers/Policies/PatternFly/Wizard/Step1/PolicyDetailsForm.css
  ui/apps/platform/src/Containers/Policies/PatternFly/Wizard/Step1/PolicyDetailsForm.tsx
  ui/apps/platform/src/Containers/Policies/PatternFly/Wizard/Step3/PolicyCriteriaForm.tsx
  ui/apps/platform/src/Containers/Policies/PatternFly/Wizard/Step4/PolicyScopeForm.tsx
  ui/apps/platform/src/Containers/Policies/PatternFly/Wizard/Step5/ReviewPolicyForm.tsx
  ui/apps/platform/src/Containers/Violations/Details/PolicyDetails.tsx
Labels: area/ui

Add onTimeout prop for toast Alert elements in policies pages (#808)
  ui/apps/platform/src/Containers/Policies/PatternFly/Detail/PolicyDetail.tsx
  ui/apps/platform/src/Containers/Policies/PatternFly/Table/PoliciesTablePage.tsx
Labels: area/ui

Increase visual contrast for toggle group button that is selected but disabled (#834)
  ui/apps/platform/src/css/acs.css
Labels: area/ui

PF Policies Fixes (#833)
  ui/apps/platform/src/Containers/Policies/PatternFly/Detail/PolicyScopeSection.tsx
  ui/apps/platform/src/Containers/Policies/PatternFly/Wizard/Step3/PolicyCriteriaFieldInput.tsx
  ui/apps/platform/src/Containers/Policies/PatternFly/Wizard/Step3/PolicySection.css
  ui/apps/platform/src/Containers/Policies/PatternFly/Wizard/Step5/ReviewPolicyForm.tsx
  ui/apps/platform/src/Containers/Policies/PatternFly/policies.utils.ts
  ui/apps/platform/src/types/policy.proto.ts
Labels: area/ui

ROX-9559: Cancel clone from policies table should go back to table (#818)
  ui/apps/platform/src/Containers/Policies/PatternFly/Table/PoliciesTable.tsx
Labels: area/ui

ROX-9589 - Remove scanner slim prefixes (#820)
  image/templates/helm/shared/config-templates/scanner/config.yaml.tpl
  image/templates/helm/shared/templates/02-scanner-00-serviceaccount.yaml
  image/templates/helm/shared/templates/02-scanner-01-security.yaml
  image/templates/helm/shared/templates/02-scanner-02-db-password-secret.yaml
  image/templates/helm/shared/templates/02-scanner-03-tls-secret.yaml
  image/templates/helm/shared/templates/02-scanner-04-scanner-config.yaml
  image/templates/helm/shared/templates/02-scanner-05-network-policy.yaml
  image/templates/helm/shared/templates/02-scanner-06-deployment.yaml.htpl
  image/templates/helm/shared/templates/02-scanner-07-service.yaml
  image/templates/helm/shared/templates/02-scanner-08-hpa.yaml
  image/templates/helm/shared/templates/_scanner_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/values-scanner.yaml.example
  pkg/env/sensor.go
  pkg/helm/charts/tests/securedclusterservices/testdata/scanner-slim/scanner-slim.test.yaml
  sensor/kubernetes/localscanner/service_certificates_repository.go
  sensor/kubernetes/localscanner/tls_issuer_test.go
Labels: area/helm, area/sensor

ROX-9277 - Add Helm test for scanner-slim customize support (#835)
  pkg/helm/charts/tests/securedclusterservices/testdata/scanner-slim/scanner-slim.test.yaml
Labels: area/helm

ROX-9487: Define Sensor env vars for connecting to local scanner (#807)
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
  pkg/helm/charts/tests/securedclusterservices/testdata/scanner-slim/scanner-slim.test.yaml
Labels: area/helm

Push scanner-slim and scanner-db-slim images (#830)
  .circleci/config.yml
Labels: none

ROX-8825 - Add Operator support for Local Scanner in SecuredCluster CR (#691)
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  operator/apis/platform/v1alpha1/central_types.go
  operator/apis/platform/v1alpha1/common_types.go
  operator/apis/platform/v1alpha1/securedcluster_types.go
  operator/apis/platform/v1alpha1/zz_generated.deepcopy.go
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/pkg/central/reconciler/securedcluster_watch.go
  operator/pkg/securedcluster/extensions/reconcile_scanner_db_password.go
  operator/pkg/securedcluster/reconciler/central_watch.go
  operator/pkg/securedcluster/reconciler/reconciler.go
  operator/pkg/securedcluster/scanner/auto_sense.go
  operator/pkg/securedcluster/scanner/auto_sense_test.go
  operator/pkg/securedcluster/scanner/defaults.go
  operator/pkg/securedcluster/values/translation/image_overrides.go
  operator/pkg/securedcluster/values/translation/translation.go
  operator/pkg/securedcluster/values/translation/translation_test.go
  operator/pkg/utils/testutils/client.go
  pkg/helm/charts/tests/securedclusterservices/testdata/scanner-slim/scanner-slim.test.yaml
Labels: area/operator, area/helm

ROX-9524: add scanner slim image overrides to operator (#836)
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/manager/manager.yaml
  operator/pkg/images/env.go
  operator/pkg/securedcluster/values/translation/image_overrides.go
Labels: area/operator

ROX-9602: PF Policies Exclusions fix (#843)
  ui/apps/platform/src/Containers/Policies/PatternFly/Detail/PolicyScopeSection.tsx
  ui/apps/platform/src/Containers/Policies/PatternFly/Wizard/Step4/PolicyScopeCard.tsx
  ui/apps/platform/src/Containers/Policies/PatternFly/Wizard/Step5/ReviewPolicyForm.tsx
  ui/apps/platform/src/Containers/Policies/PatternFly/policies.utils.ts
Labels: area/ui

ROX-9454 - Only enable scanner TLS issuer if Local Scanner is enabled (#840)
  sensor/kubernetes/sensor/sensor.go
Labels: area/sensor

ROX-9615: Add quotes to value for ROX_USE_LOCAL_SCANNER (#845)
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
  pkg/helm/charts/tests/securedclusterservices/testdata/scanner-slim/scanner-slim.test.yaml
Labels: area/helm

Bump Scanner to 2.23.1 (#860)
  SCANNER_VERSION
Labels: none

fix up
  central/globaldb/postgres.go
  central/processbaseline/index/gen.go
  central/rbac/k8srole/internal/store/postgres/index.go
  central/rbac/k8srole/internal/store/postgres/store.go
  central/rbac/k8srole/internal/store/postgres/store_test.go
  central/rbac/k8srolebinding/datastore/datastore_impl.go
  central/rbac/k8srolebinding/internal/index/gen.go
  central/rbac/k8srolebinding/internal/index/indexer.go
  central/rbac/k8srolebinding/internal/index/indexer_impl.go
  central/rbac/k8srolebinding/internal/index/mocks/indexer.go
  central/rbac/k8srolebinding/internal/store/postgres/index.go
  central/rbac/k8srolebinding/internal/store/postgres/store.go
  central/rbac/k8srolebinding/internal/store/postgres/store_test.go
  central/vulnerabilityrequest/datastore/internal/store/postgres/store_test.go
  tools/generate-helpers/pg-table-bindings/main.go
Labels: area/central, area/postgres

Remove flag and values example
  deploy/README.md
  deploy/common/env.sh
  deploy/common/k8sbased.sh
  image/templates/helm/stackrox-central/values-public.yaml.example
  roxctl/central/generate/k8s.go
Labels: area/roxctl, area/helm

please the transformed searcher in image component
  central/deployment/datastore/internal/search/searcher_impl.go
  central/image/index/indexer_impl.go
  central/node/datastore/internal/search/searcher_impl.go
  generated/storage/image.pb.go
  proto/storage/image.proto
Labels: area/central

Add specific risk priority search field for resources
  central/activecomponent/datastore/search/searcher_impl.go
  central/cluster/datastore/internal/search/searcher_impl.go
  central/deployment/datastore/internal/search/searcher_impl.go
  central/image/datastore/internal/search/searcher_impl.go
  central/image/datastore/internal/search/searcher_impl_test.go
  central/namespace/datastore/datastore.go
  central/node/datastore/internal/search/searcher_impl.go
  generated/storage/deployment.pb.go
  generated/storage/image.pb.go
  generated/storage/image_component.pb.go
  generated/storage/node.pb.go
  pkg/search/options.go
  pkg/search/sortfields/fields_map.go
  proto/storage/deployment.proto
  proto/storage/image.proto
  proto/storage/image_component.proto
  proto/storage/node.proto
  ui/apps/platform/src/Containers/Risk/RiskTablePanel.js
  ui/apps/platform/src/Containers/Risk/riskTableColumnDescriptors.js
  ui/apps/platform/src/constants/sortFields.js
Labels: area/ui, area/central

ROX-8466: Enable OpenShift internal image scanning support (#831)
  CHANGELOG.md
  operator/pkg/securedcluster/values/translation/translation_test.go
  pkg/features/list.go
Labels: area/operator
