Repository stackrox/stackrox, changes with the labels that .github/labeler.yml gives for each.
All labels: area/ci, area/roxctl, area/auth, area/ui, area/operator, area/helm, area/sensor, area/central, area/scanner, area/admission-controller, area/postgres, ci-all-qa-tests

.github/labeler.yml:

# This file provides the list of labels to apply on PRs based on files changed
# More information on the supported syntax can be found here: https://github.com/actions/labeler

area/ci:
- changed-files:
  - any-glob-to-any-file:
    - .github/**/*
    - .openshift-ci/**/*
    - scripts/ci/**/
area/roxctl:
- changed-files:
  - any-glob-to-any-file:
    - roxctl/**/*
area/auth:
- changed-files:
  - any-glob-to-any-file:
    - pkg/auth/**/*
    - pkg/sac/**/*
area/ui:
- changed-files:
  - any-glob-to-any-file:
    - ui/**/*
area/operator:
- changed-files:
  - any-glob-to-any-file:
    - operator/**/*
area/helm:
- changed-files:
  - any-glob-to-any-file:
    - image/**/*
    - central/helm/**/*
    - central/helmcharts/**/*
    - pkg/helm/**/*
area/sensor:
- changed-files:
  - any-glob-to-any-file:
    - sensor/**/*
area/central:
- changed-files:
  - any-glob-to-any-file:
    - central/**/*
area/scanner:
- changed-files:
  - any-glob-to-any-file:
    - scanner/**/*
area/admission-controller:
- changed-files:
  - any-glob-to-any-file:
    - sensor/admission-control/**/*
area/postgres:
- changed-files:
  - any-glob-to-any-file:
    - central/globaldb/postgres.go
    - image/postgres/**/*
    - pkg/postgres/**/*
    - pkg/search/postgres/**/*
    - tools/generate-helpers/pg-table-bindings/**/*
    - tools/generate-helpers/pg-table-bindings-wrapper
ci-all-qa-tests:
- changed-files:
  - any-glob-to-any-file:
    - COLLECTOR_VERSION
    - SCANNER_VERSION

backport:
- base-branch: 'release-*'

fix(docs): Show Compliance V2 API docs (#8943)
  generated/api/v2/compliance_integration_service.swagger.json
  generated/api/v2/compliance_profile_service.swagger.json
  generated/api/v2/compliance_results_service.swagger.json
  generated/api/v2/compliance_scan_configuration_service.swagger.json
  make/protogen.mk
Labels: none

clone
  central/image/service/service_impl.go
Labels: area/central

space
  central/image/service/service_impl.go
Labels: area/central

chore(govulncheck): Allow for exceptions to govulncheck (#8925)
  .github/workflows/build.yaml
  .golangci.yml
  govulncheck-allowlist.json
  govulncheck/main.go
  scripts/ci/govulncheck.sh
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/ci

chore(govulncheck): Allow for exceptions to govulncheck (#8925)
  .github/workflows/build.yaml
  .golangci.yml
  govulncheck-allowlist.json
  govulncheck/main.go
  scripts/ci/govulncheck.sh
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/ci

space
  central/image/service/service_impl.go
Labels: area/central

chore(deps): bump cosign (#8934)
  go.mod
  go.sum
Labels: none

chore(deps): bump cosign (#8934)
  go.mod
  go.sum
Labels: none

fix(arm64): Fix CGO_ENABLED setting
  Makefile
Labels: none

clone other shared img
  central/image/service/service_impl.go
Labels: area/central

move clone
  central/image/service/service_impl.go
Labels: area/central

remove unnecessary nil check
  central/image/service/service_impl.go
Labels: area/central

why is this generally failing
  central/scrape/controller_impl.go
Labels: area/central

addressing comments
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/hooks/useRequestCVEsDetails.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/CompletedExceptionRequestModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/ExceptionRequestForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/ExceptionRequestModal.tsx
Labels: area/ui

fix(delegator): Clone image built in enricher (#8951)
  central/image/service/service_impl.go
Labels: area/central

fix(delegator): Clone image built in enricher (#8951)
  central/image/service/service_impl.go
Labels: area/central

fix(arm64): Fix CGO_ENABLED setting (#8954)
  Makefile
Labels: none

fix(arm64): Fix CGO_ENABLED setting (#8954)
  Makefile
Labels: none

fix(ff): Make compliance FF changeable on release builds
  pkg/features/list.go
Labels: none

some review comments
  central/complianceoperator/v2/profiles/datastore/datastore_impl_test.go
  central/complianceoperator/v2/profiles/datastore/search/search.go
  central/complianceoperator/v2/profiles/datastore/search/search_impl.go
Labels: area/central

only set RACE=true for amd64
  .github/workflows/build.yaml
Labels: area/ci

fix(ff): Make compliance FF changeable on release builds (#8956)
  pkg/features/list.go
Labels: none

fix(ff): Make compliance FF changeable on release builds (#8956)
  pkg/features/list.go
Labels: none

fix(test): Increase time out for process baseline delete test
  qa-tests-backend/src/test/groovy/ProcessBaselinesTest.groovy
Labels: none

Debugging
  central/processlisteningonport/datastore/datastore_impl.go
Labels: area/central

ROX-20555: Adding a flow for updating a request (#8920)
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCancelButtonModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestDenialButtonModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestUpdateButtonModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/hooks/useAffectedImagesCount.ts
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/hooks/useRequestCVEsDetails.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/CVESelectionTd.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/CVESelectionTh.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/CompletedExceptionRequestModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/CveSelections.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/ExceptionRequestForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/ExceptionRequestModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/hooks/useExceptionRequestModal.ts
  ui/apps/platform/src/services/VulnerabilityExceptionService.ts
Labels: area/ui

ROX-20555: Adding a flow for updating a request (#8920)
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCancelButtonModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestDenialButtonModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestUpdateButtonModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/hooks/useAffectedImagesCount.ts
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/hooks/useRequestCVEsDetails.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/CVESelectionTd.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/CVESelectionTh.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/CompletedExceptionRequestModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/CveSelections.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/ExceptionRequestForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/ExceptionRequestModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/hooks/useExceptionRequestModal.ts
  ui/apps/platform/src/services/VulnerabilityExceptionService.ts
Labels: area/ui

chore(scanner): misc Scanner v4 DB updates
  image/templates/helm/shared/templates/02-scanner-v4-07-db-deployment.yaml
  scanner/Makefile
  scanner/e2etests/helmchart/templates/db-deployment.yaml
  scanner/image/db/.gitignore
  scanner/image/db/Dockerfile
  scanner/image/db/scripts/docker-entrypoint.sh
  scanner/image/db/scripts/init-entrypoint.sh
Labels: area/helm, area/scanner

fix(scanner): Fix fixedIn parsing
  scanner/e2etests/testdata/image_tests.json
  scanner/mappers/mappers.go
  scanner/mappers/mappers_test.go
Labels: area/scanner

fix(scanner): Fix FixedInVersion parsing (#8961)
  scanner/e2etests/testdata/image_tests.json
  scanner/mappers/mappers.go
  scanner/mappers/mappers_test.go
Labels: area/scanner

fix(scanner): Fix FixedInVersion parsing (#8961)
  scanner/e2etests/testdata/image_tests.json
  scanner/mappers/mappers.go
  scanner/mappers/mappers_test.go
Labels: area/scanner

ROX-20007: add poduid to the listening endpoints table update poduid (#8177)
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/datastore/datastore_impl_test.go
Labels: area/central

ROX-20007: add poduid to the listening endpoints table update poduid (#8177)
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/datastore/datastore_impl_test.go
Labels: area/central

Test install v4.3.0 with Helm
  tests/e2e/run-scanner-v4.sh
Labels: none
