Repository stackrox/stackrox, pull requests merged in 2022-09, with the labels that each got.

#2907 ROX-11537: workaround a race in admission controller test
  sensor/admission-control/service/service_test.go
Labels: area/sensor, area/admission-controller

#2905 [Rox-12234] : NodeComponent GraphQL endpoint tests
  central/graphql/resolvers/node_components_test.go
  central/graphql/resolvers/node_vulnerabilities_test.go
  central/graphql/resolvers/test_utils.go
Labels: area/central

#2890 Manage SYNC_RESOURCE action in local-sensor
  sensor/debugger/k8s/fake.go
Labels: team/maple, area/sensor

#2906 ROX-12015: Make osci config depend on release branch
  .github/workflows/start-release.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests, turbo-build

#2820 Support multi-arch binaries
  .openshift-ci/build/build-main-and-bundle.sh
  Makefile
  deploy/common/k8sbased.sh
  dev-tools/roxctl.sh
  image/rhel/Dockerfile.envsubst
  image/roxctl/Dockerfile
  image/templates/README.md
  make/env.mk
  operator/Dockerfile
  qa-tests-backend/local-test-example/step1-setup-macos.sh
  scripts/ci/lib.sh
  scripts/ci/roxctl-publish/prepare.sh
  scripts/go-tool.sh
  tests/roxctl/bats-tests/helpers.bash
  tests/upgrade/run.sh
  ui/apps/platform/src/Containers/MainPage/Header/CLIDownloadMenu.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step2/DownloadCLIDropdown.tsx
  ui/apps/platform/src/services/CLIService.js
Labels: ok-to-test

#2565 ROX-11188: create quick installation script for oss helm charts
  README.md
  scripts/quick-helm-install.sh
Labels: team/maple, area/helm

#2933 ROX-12005: Remove UI validation for Watched Image name
  ui/apps/platform/src/Containers/VulnMgmt/List/Images/WatchedImagesDialog.tsx
Labels: area/ui

#2806 Add Postgres upgrade test
  tests/upgrade/lib.sh
  tests/upgrade/postgres_run.sh
  tests/upgrade/pvc.yaml
  tests/upgrade/run.sh
Labels: turbo-build

#2920 ROX-12372: Fix Search categories autocomplete params for Postgres
  ui/apps/platform/src/Containers/VulnMgmt/List/ImageComponents/VulnMgmtListImageComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/NodeComponents/VulnMgmtListNodeComponents.js
  ui/apps/platform/src/constants/entityTypes.ts
Labels: area/ui

#2942 Revert "Change AddStrings queries to AddExactMatches where possible (…
  central/alert/datastore/datastore_impl.go
  central/alert/datastore/datastore_test.go
  central/alert/datastore/internal/search/searcher_impl.go
  central/alert/service/service_impl.go
  central/cluster/datastore/datastore_impl.go
  central/compliance/data/repository.go
  central/compliance/manager/manager_impl.go
  central/detection/alertmanager/alert_manager_impl.go
  central/detection/alertmanager/filter_options.go
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/violations.go
  central/graphql/resolvers/vulnerabilities_v1.go
  central/graphql/resolvers/vulnerabilities_v2.go
  central/image/datastore/datastore_impl.go
  central/namespace/resolver.go
  central/node/datastore/dackbox/datastore/datastore_impl.go
  central/pruning/pruning.go
  central/reports/common/query_builder.go
  central/reports/common/query_builder_test.go
  central/reports/service/singleton.go
  central/risk/getters/alert_mock.go
  central/risk/multipliers/deployment/violations.go
Labels: area/central

#2945 Revert "Support multi-arch binaries (#2820)"
  .openshift-ci/build/build-main-and-bundle.sh
  Makefile
  deploy/common/k8sbased.sh
  dev-tools/roxctl.sh
  image/rhel/Dockerfile.envsubst
  image/roxctl/Dockerfile
  image/templates/README.md
  make/env.mk
  operator/Dockerfile
  qa-tests-backend/local-test-example/step1-setup-macos.sh
  scripts/ci/lib.sh
  scripts/ci/roxctl-publish/prepare.sh
  scripts/go-tool.sh
  tests/roxctl/bats-tests/helpers.bash
  tests/upgrade/run.sh
  ui/apps/platform/src/Containers/MainPage/Header/CLIDownloadMenu.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step2/DownloadCLIDropdown.tsx
  ui/apps/platform/src/services/CLIService.js
Labels: area/ui, area/helm, area/operator

#2946 Support multi-arch binaries
  .openshift-ci/build/build-main-and-bundle.sh
  Makefile
  deploy/common/k8sbased.sh
  dev-tools/roxctl.sh
  image/rhel/Dockerfile.envsubst
  image/templates/README.md
  make/env.mk
  operator/Dockerfile
  qa-tests-backend/local-test-example/step1-setup-macos.sh
  scripts/ci/lib.sh
  scripts/ci/roxctl-publish/prepare.sh
  scripts/go-tool.sh
  tests/roxctl/bats-tests/helpers.bash
  tests/upgrade/run.sh
  ui/apps/platform/src/Containers/MainPage/Header/CLIDownloadMenu.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step2/DownloadCLIDropdown.tsx
  ui/apps/platform/src/services/CLIService.js
Labels: ok-to-test

#2919 Dashrews/ROX-12415 upgrade db copy fails
  central/globaldb/v2backuprestore/restore/postgres.go
  migrator/clone/postgres/db_clone_manager_impl.go
  migrator/clone/postgres/db_clone_manager_impl_test.go
  pkg/postgres/pgadmin/admin_utils.go
Labels: area/central, area/postgres, ci-postgres-tests

#2949 BUGFIX: quick install script commands in readme
  README.md
Labels: team/maple

#2950 Fix local operator build/start
  operator/Makefile
  operator/hack/ensure-rox-image-exist.sh
Labels: area/operator

#2951 Delete spec.relatedImages from operator CSV
  operator/bundle_helpers/patch-csv.py
Labels: area/operator

#2763 Add comment about redirect for deprecated policies path in UI
  ui/apps/platform/src/Containers/MainPage/Body.tsx
Labels: area/ui

#2932 ROX-12431: Tag the branching point
  .github/workflows/start-release.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests, turbo-build

#2927 Upstream automation: polishing OSCI configuration automation
  .github/workflows/start-release.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests, turbo-build

#2914 ROX-9663 Replace context.TODO
  central/config/datastore/singleton.go
  central/deployment/datastore/datastore.go
  central/deployment/service/service_impl_test.go
  central/deployment/store/postgres/full_store.go
  central/globaldb/postgres.go
  central/installation/store/singleton.go
  central/main.go
  central/networkgraph/entity/datastore/datastore_impl.go
  central/pod/datastore/datastore.go
  central/pruning/pruning_test.go
  central/reprocessor/reprocessor_test.go
  central/search/service/service_impl_test.go
  central/sensorupgradeconfig/datastore/singleton.go
  central/version/ensure_test.go
  central/version/store/store.go
  central/version/store/store_impl_test.go
Labels: area/roxctl, area/central, area/postgres, ci-postgres-tests

#2911 ROX-12365: Remove FixedIn column from NODE COMPONENTS list
  ui/apps/platform/cypress/integration/vulnmanagement/componentsListPages.test.js
  ui/apps/platform/src/Containers/VulnMgmt/List/NodeComponents/VulnMgmtListNodeComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.fragments.js
Labels: area/ui

#2922 ROX-11699, ROX-11700: Onboard ARO and ROSA
  scripts/ci/jobs/aro_qa_e2e_tests.py
  scripts/ci/jobs/rosa_qa_e2e_tests.py
Labels: turbo-build

#2956 ROX-12383, ROX-12426: Remove vuln stuff from Config Mgmt and Compliance node GraphQL query
  ui/apps/platform/src/Components/IconWidget.js
  ui/apps/platform/src/queries/node.js
Labels: area/ui

#2957 Fix variable unbound in upgrade
  tests/upgrade/lib.sh
Labels: ci-upgrade-tests

#2856 ROX-12318: QA compatibility test parameterized sensor version
  deploy/common/k8sbased.sh
  qa-tests-backend/Makefile
  qa-tests-backend/scripts/lib.sh
  qa-tests-backend/scripts/run-compatibility.sh
  qa-tests-backend/scripts/run-part-1.sh
  tests/e2e/lib.sh
Labels: team/maple, ci-upgrade-tests, ci-race-condition-tests

#2888 ROX-11891: Add an empty commit when retagging
  .github/workflows/cut-rc.yml
  .github/workflows/scripts/local-env.sh
  .github/workflows/scripts/tag-rc.sh
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests, turbo-build

#2972 Upstream automation: exclude managed services and feature requests from JIRA issues query
  .github/workflows/scripts/check-jira-issues.sh
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests, turbo-build

#2760 Dashrews/ROX-12271 check postgres for replica space
  central/centralhealth/service/service_impl.go
  central/globaldb/export/backup.go
  central/globaldb/v2backuprestore/backup/generators/dbs/postgres_size.go
  central/globaldb/v2backuprestore/formats/postgresv1/format.go
  central/globaldb/v2backuprestore/formats/postgresv1/postgres.go
  migrator/clone/postgres/db_clone_manager_impl.go
  pkg/backup/backup_bundle.go
  pkg/postgres/pgadmin/admin_utils.go
  pkg/postgres/pgconfig/config.go
  pkg/version/postgres/store.go
Labels: area/central, area/postgres, ci-postgres-tests

#2892 Add Postgres query tracer that logs the GraphQL query and the resulting queries
  central/graphql/handler/handler.go
  pkg/env/postgres_query_tracer.go
  pkg/postgres/postgres.go
  pkg/search/postgres/common.go
Labels: area/central, area/postgres, ci-postgres-tests

#2578 ROX-12037: Support Quay Robot Accounts for registry integration
  CHANGELOG.md
  generated/api/v1/image_integration_service.swagger.json
  generated/storage/image_integration.pb.go
  pkg/features/list.go
  pkg/registries/quay/quay.go
  pkg/registries/quay/quay_test.go
  proto/storage/image_integration.proto
  qa-tests-backend/src/main/groovy/objects/ImageIntegration.groovy
  qa-tests-backend/src/main/groovy/services/ImageService.groovy
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
  qa-tests-backend/src/test/groovy/PolicyConfigurationTest.groovy
Labels: area/central

#2974 ROX-12450: Support robot accounts in Quay integration form
  ui/apps/platform/cypress/integration/integrations/imageIntegrations.test.js
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/QuayIntegrationForm.tsx
  ui/apps/platform/src/types/imageIntegration.proto.ts
Labels: area/ui

#2980 Set metadata when enriching local images.
  sensor/common/scan/scan.go
  sensor/common/scan/scan_test.go
Labels: team/merlin

#2973 Improve JQL queries for spotting unfinished issues
  .github/workflows/scripts/check-jira-issues.sh
  scripts/release-tools/jira.sh
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests, turbo-build

#2600 ROX-11748: Add SAC tests for Node datastore and globaldatastore
  central/node/datastore/dackbox/datastore/datastore_sac_test.go
  central/node/globaldatastore/datastore_sac_test.go
  pkg/fixtures/node.go
Labels: area/central, area/postgres, ci-postgres-tests

#2978 Add rows retrieved to query tracer
  central/graphql/handler/handler.go
  pkg/postgres/postgres.go
  pkg/search/postgres/common.go
Labels: area/central, area/postgres, ci-postgres-tests

#2990 Add type password for Robot password input box for Quay integration
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/QuayIntegrationForm.tsx
Labels: area/ui

#2984 ROX-12343: unauthenticated email integration
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/EmailIntegrationForm.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/Form/EmailIntegrationForm.tsx
  ui/apps/platform/src/types/notifier.proto.ts
Labels: area/ui

#2975 Fix dashboard slicing of compliance data when there are more than 6 standards
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ComplianceLevelsByStandard.tsx
Labels: area/ui

#2814 Dedupe dackbox index writes
  central/deployment/datastoretest/datastore_sac_test.go
  go.mod
  go.sum
  pkg/dackbox/indexer/lazy.go
  pkg/dackbox/indexer/metrics.go
Labels: ci-scale-tests, area/central

#2999 ROX-12489: ImageScanningTest flake in "Validate image deletion does not affect other images"
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
Labels: ci-all-qa-tests

#3009 Fix turbo-build
  .github/workflows/build.yaml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests, turbo-build

#2985 Clarify what new resources are for
  central/role/resources/list.go
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/ResourceDescription.tsx
Labels: area/central, area/ui

#2889 Dashrews/ROX-12289 cleanup rocks after postgres upgrade
  central/main.go
  migrator/clone/clone_test.go
  migrator/clone/db_clone_manager_impl.go
  migrator/clone/mock_central.go
  migrator/clone/postgres/db_clone_manager.go
  migrator/clone/postgres/db_clone_manager_impl.go
  migrator/clone/rocksdb/db_clone_manager.go
  migrator/clone/rocksdb/db_clone_manager_impl.go
Labels: ci-upgrade-tests, area/central, area/postgres, ci-postgres-tests

#3021 ROX-12510: Optimize VM widget queries
  ui/apps/platform/src/Containers/VulnMgmt/Dashboard/VulnMgmtDashboardPage.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/ClustersWithMostClusterVulnerabilities.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/MostCommonVulnerabilities.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/MostCommonVulnerabiltiesInDeployment.js
Labels: area/ui

#2991 Add a visual indicator to dashboard option menus when the defaults have changed
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/AgingImages.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/AgingImages.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ComplianceLevelsByStandard.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ComplianceLevelsByStandard.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ImagesAtMostRisk.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ImagesAtMostRisk.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/WidgetOptionsMenu.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/WidgetOptionsResetButton.tsx
Labels: area/ui

#2968 Prefactor for fixes to autocomplete feature
  central/imageintegration/store/postgres/gen.go
  central/imageintegration/store/postgres/store.go
  central/processbaseline/datastore/datastore_impl_test.go
  central/serviceaccount/datastore/datastore_impl_test.go
  migrator/migrations/n_23_to_n_24_postgres_image_integrations/postgres/postgres_plugin.go
  pkg/postgres/schema/image_integrations.go
Labels: team/merlin, area/central, area/postgres, ci-postgres-tests

#2989 Ensure read from dackbox join tables is scoped-access-controlled in postgres mode
  central/clustercveedge/datastore/store/postgres/store.go
  central/componentcveedge/datastore/store/postgres/store.go
  central/imagecomponentedge/datastore/internal/store/postgres/store.go
  central/imagecveedge/datastore/postgres/store.go
  central/nodecomponentcveedge/datastore/store/postgres/store.go
  central/nodecomponentedge/store/postgres/store.go
  tools/generate-helpers/pg-table-bindings/list.go
  tools/generate-helpers/pg-table-bindings/main.go
  tools/generate-helpers/pg-table-bindings/resource_type_test.go
Labels: team/merlin, area/central, area/postgres, ci-postgres-tests

#3031 Update compliance widget test to be more robust against larger data input
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ComplianceLevelsByStandard.test.tsx
Labels: area/ui

#3022 Create legacy symlink for roxctl
  image/rhel/Dockerfile.envsubst
Labels: area/helm

#3001 Fix Mac ARM64 local build that broke due to multiarch
  Makefile
  image/postgres/create-bundle.sh
  image/rhel/Dockerfile.envsubst
Labels: area/helm, area/postgres, ci-postgres-tests

#3011 Dashrews/ROX-12538-flows use union2
  central/networkgraph/flow/datastore/internal/store/postgres/store.go
  central/networkgraph/flow/datastore/internal/store/postgres/store_test.go
Labels: ci-all-qa-tests, area/central, area/postgres, ci-postgres-tests, ci-postgres-scale-tests, turbo-build

#3053 Wait 40m for quay images
  .github/workflows/scripts/wait-for-image.sh
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#3039 ROX-12375: Disable sort on Images count until after Postgres launch
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Component/VulnMgmtEntityNodeComponent.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Components/ListComponents.utils.test.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Components/VulnMgmtListComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Deployments/VulnMgmtListDeployments.js
  ui/apps/platform/src/Containers/VulnMgmt/List/ImageComponents/ListImageComponents.utils.test.js
  ui/apps/platform/src/Containers/VulnMgmt/List/ImageComponents/VulnMgmtListImageComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Namespaces/VulnMgmtListNamespaces.js
  ui/apps/platform/src/Containers/VulnMgmt/List/NodeComponents/ListNodeComponents.utils.test.js
Labels: area/ui

#2918 ROX-12232: Add e2e tests on Cluster Vulnerability Resolver
  central/graphql/resolvers/cluster_vulnerabilities.go
  central/graphql/resolvers/cluster_vulnerabilities_test.go
  central/graphql/resolvers/image_vulnerabilities_test.go
  central/graphql/resolvers/test_utils.go
Labels: area/central

#3012 Improve operator build QoL
  operator/Makefile
Labels: area/operator

#2941 [ROX-12563][FE][PERFORMANCE] Optimize list image graphQL query
  central/graphql/resolvers/image_scan_benchmark_test.go
  ui/apps/platform/src/Components/CVEStackedPill/CVEStackedPill.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Images/VulnMgmtListImages.js
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.fragments.js
Labels: area/central, area/ui

#2955 Revert "Revert "Change AddStrings queries to AddExactMatches where possible
  central/alert/datastore/datastore_impl.go
  central/alert/datastore/datastore_test.go
  central/alert/datastore/internal/search/searcher_impl.go
  central/alert/service/service_impl.go
  central/cluster/datastore/datastore_impl.go
  central/compliance/data/repository.go
  central/compliance/manager/manager_impl.go
  central/detection/alertmanager/alert_manager_impl.go
  central/detection/alertmanager/filter_options.go
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/violations.go
  central/graphql/resolvers/vulnerabilities_v1.go
  central/graphql/resolvers/vulnerabilities_v2.go
  central/image/datastore/datastore_impl.go
  central/namespace/resolver.go
  central/node/datastore/dackbox/datastore/datastore_impl.go
  central/pruning/pruning.go
  central/reports/common/query_builder.go
  central/reports/common/query_builder_test.go
  central/reports/service/singleton.go
  central/risk/getters/alert_mock.go
  central/risk/multipliers/deployment/violations.go
Labels: ci-all-qa-tests, area/central

#2928 ROX-12428: [refactor] Limit scope of the `edit` role and move the control over SCCs to a separate role
  image/templates/helm/stackrox-secured-cluster/templates/sensor-rbac.yaml
  image/templates/helm/stackrox-secured-cluster/templates/sensor-scc.yaml
Labels: team/maple, area/helm, area/operator

#3024 ROX-12182: Do not enable OpenShift Auth provider for managed centrals
  deploy/common/env.sh
  deploy/common/k8sbased.sh
  image/templates/helm/stackrox-central/templates/01-central-00-serviceaccount.yaml
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  operator/pkg/central/values/translation/translation.go
  operator/pkg/central/values/translation/translation_test.go
  pkg/helm/charts/tests/centralservices/testdata/helmtest/openshift-auth.yaml
Labels: team/merlin, area/central, area/helm, area/operator

#3057 Remove ROX_SECURITY_METRICS_PHASE_ONE feature flag
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/cypress/constants/DashboardPage.js
  ui/apps/platform/cypress/helpers/main.js
  ui/apps/platform/cypress/integration/dashboard.test.js
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#3000 ROX-12233: e2e tests on image component resolver
  central/deployment/datastore/datastore.go
  central/graphql/resolvers/image_components_test.go
  central/graphql/resolvers/test_utils.go
Labels: area/central

#3069 Scanner 2.26.0
  SCANNER_VERSION
Labels: ci-all-qa-tests, ci-openshift-4-tests

#3067 ROX-12516: Use Cloudflare IP instead of Google
  qa-tests-backend/src/test/groovy/ExternalNetworkSourcesTest.groovy
Labels: ci-all-qa-tests, turbo-build

#3071 [Perf][GraphQL] Use count instead of search
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/policies.go
  central/graphql/resolvers/violations.go
Labels: ci-all-qa-tests, area/central

#2891 Replace assertions about DOM elements in risk sort priority integration test
  ui/apps/platform/cypress/integration/risk/risk.test.js
Labels: area/ui

#2977 Remove 'Fixable' search field from query to IsFixable sub-resolver in post-postgres csv export handlers
  central/cve/cluster/csv/handler.go
  central/cve/image/csv/handler.go
  central/cve/node/csv/handler.go
  central/graphql/resolvers/utils.go
Labels: area/central

#2637 ROX-11776: Integrate with NP-Guard including error handling
  go.mod
  go.sum
  roxctl/generate/README.md
  roxctl/generate/netpol/cta.go
  roxctl/generate/netpol/netpol.go
  roxctl/generate/netpol/netpol_test.go
  roxctl/generate/netpol/npgLogger.go
  roxctl/generate/netpol/testdata/dirty/backend.yaml
  roxctl/generate/netpol/testdata/dirty/frontend.yaml
  roxctl/generate/netpol/testdata/empty-yamls/empty.yaml
  roxctl/generate/netpol/testdata/empty-yamls/empty2.yaml
  roxctl/generate/netpol/testdata/minimal/backend.yaml
  roxctl/generate/netpol/testdata/minimal/frontend.yaml
  tests/roxctl/bats-tests/local/roxctl-netpol-generate-development.bats
  tests/roxctl/bats-tests/test-data/np-guard/empty-yamls/empty.yaml
  tests/roxctl/bats-tests/test-data/np-guard/empty-yamls/empty2.yaml
Labels: team/maple, area/roxctl

#3050 Use retry in DeploymentEventGraphQLTest
  qa-tests-backend/src/test/groovy/DeploymentEventGraphQLTest.groovy
Labels: turbo-build

#3077 ROX-11717: GitHub workflow use proper gh env vars
  .github/workflows/create-cluster.yml
  .github/workflows/cut-rc.yml
  .github/workflows/labeler.yaml
  .github/workflows/start-release.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#3049 Replace deprecated api usage
  qa-tests-backend/build.gradle
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/OrchestratorMain.groovy
Labels: turbo-build

#2994 Add debug logs
  central/deployment/datastore/datastore_impl.go
  central/reprocessor/reprocessor.go
  central/risk/manager/manager.go
  central/risk/scorer/deployment/scorer.go
  pkg/debug/verbose_log.go
  pkg/debug/verbose_log_test.go
Labels: area/central, turbo-build

#3078 Bump kuttl to new upstream release.
  operator/Makefile
Labels: area/operator

#3070 Disabling hovering on user events in flaky dashboard tests
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/AgingImages.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ComplianceLevelsByStandard.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ImagesAtMostRisk.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.test.tsx
Labels: area/ui

#2992 Generate code for complianceoperator
  Makefile
  go.mod
  go.sum
  pkg/complianceoperator/api/v1alpha1/compliancecheckresult_types.go
  pkg/complianceoperator/api/v1alpha1/complianceremediation_types.go
  pkg/complianceoperator/api/v1alpha1/compliancescan_types.go
  pkg/complianceoperator/api/v1alpha1/compliancesuite_types.go
  pkg/complianceoperator/api/v1alpha1/profile_types.go
  pkg/complianceoperator/api/v1alpha1/profilebundle_types.go
  pkg/complianceoperator/api/v1alpha1/rule_types.go
  pkg/complianceoperator/api/v1alpha1/scansetting_types.go
  pkg/complianceoperator/api/v1alpha1/scansettingbinding_types.go
  pkg/complianceoperator/api/v1alpha1/tailoredprofile_types.go
  pkg/complianceoperator/api/v1alpha1/variable_types.go
  pkg/complianceoperator/api/v1alpha1/zz_generated.deepcopy.go
  tools/boilerplate.go.txt
  tools/tools-import.go
Labels: area/operator, turbo-build

#3065 ROX-11670 Delete orphaned dashboard code and dependencies
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/integration/auth.test.js
  ui/apps/platform/package.json
  ui/apps/platform/src/Components/SummaryTileCount.tsx
  ui/apps/platform/src/Components/visuals/CustomLineChart.js
  ui/apps/platform/src/Components/visuals/TwoLevelPieChart.js
  ui/apps/platform/src/Containers/Dashboard/AlertsByTimeseriesChart.js
  ui/apps/platform/src/Containers/Dashboard/DashboardCompliance.js
  ui/apps/platform/src/Containers/Dashboard/DashboardPage.js
  ui/apps/platform/src/Containers/Dashboard/EnvironmentRisk.js
  ui/apps/platform/src/Containers/Dashboard/SeverityTile.js
  ui/apps/platform/src/Containers/Dashboard/SummaryCounts.tsx
  ui/apps/platform/src/Containers/Dashboard/TopRiskyDeployments.js
  ui/apps/platform/src/Containers/Dashboard/ViolationsByClusterChart.js
  ui/apps/platform/src/Containers/Dashboard/ViolationsByPolicyCategory.js
  ui/apps/platform/src/Containers/Dashboard/severityPropTypes.js
  ui/apps/platform/src/app.tw.css
  ui/apps/platform/src/constants/slickSettings.js
  ui/apps/platform/src/services/AlertsService.ts
  ui/apps/platform/src/setupTests.js
  ui/yarn.lock
Labels: area/ui

#3072 Update TypeScript 4.8.3 devDependencies in ui
  ui/apps/platform/package.json
  ui/packages/ui-components/package.json
  ui/yarn.lock
Labels: area/ui

#3083 Remove private fork for pkcs7
  go.mod
  go.sum
Labels: team/merlin

#3088 Revert policy graphQL changes that have affected CI healthiness
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/policies.go
  central/graphql/resolvers/violations.go
Labels: area/central

#3058 ROX-12436: Updating CVE CSV export endpoints
  ui/apps/platform/src/Components/ExportButton.js
  ui/apps/platform/src/Containers/Workflow/WorkflowListPageLayout.js
  ui/apps/platform/src/services/VulnerabilitiesService.js
Labels: area/ui

#3094 ROX-10928: Deprecate release-tools scripts
  scripts/release-tools/README.md
  scripts/release-tools/clusters.sh
  scripts/release-tools/jira.sh
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests, turbo-build

#3084 Move dashboard code from PF folder to Container root level
  ui/apps/platform/src/Containers/Dashboard/ClusterSelect.tsx
  ui/apps/platform/src/Containers/Dashboard/DashboardPage.tsx
  ui/apps/platform/src/Containers/Dashboard/NamespaceSelect.css
  ui/apps/platform/src/Containers/Dashboard/NamespaceSelect.tsx
  ui/apps/platform/src/Containers/Dashboard/ScopeBar.test.tsx
  ui/apps/platform/src/Containers/Dashboard/ScopeBar.tsx
  ui/apps/platform/src/Containers/Dashboard/SummaryCounts.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/AgingImages.test.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/AgingImages.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/AgingImagesChart.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ComplianceLevelsByStandard.test.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ComplianceLevelsByStandard.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ComplianceLevelsByStandardChart.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/DeploymentsAtMostRisk.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/DeploymentsAtMostRiskTable.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ImagesAtMostRisk.test.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ImagesAtMostRisk.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ImagesAtMostRiskTable.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/MostRecentViolations.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/NoDataEmptyState.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/PolicyViolationTiles.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/SeverityTile.css
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicyCategory.test.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicyCategory.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicyCategoryChart.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicySeverity.test.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicySeverity.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/WidgetCard.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/WidgetErrorEmptyState.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/WidgetOptionsMenu.css
  ui/apps/platform/src/Containers/Dashboard/Widgets/WidgetOptionsMenu.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/WidgetOptionsResetButton.tsx
  ui/apps/platform/src/Containers/Dashboard/hooks/useAlertGroups.ts
  ui/apps/platform/src/Containers/Dashboard/hooks/useDeploymentsAtRisk.ts
  ui/apps/platform/src/Containers/Dashboard/hooks/useRestQuery.ts
  ui/apps/platform/src/Containers/Dashboard/types.ts
  ui/apps/platform/src/Containers/Dashboard/utils.ts
  ui/apps/platform/src/Containers/MainPage/Body.tsx
Labels: area/ui

#3074 Fix incorrect counts in Postgres Vuln Mgmt
  ui/apps/platform/src/Containers/VulnMgmt/List/Clusters/VulnMgmtListClusters.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Nodes/VulnMgmtListNodes.js
Labels: area/ui

#3068 ROX-8674: Replace vmWorkflowUtils helper functions to fix timing problems in integration tests
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/helpers/vulnmanagement/entities.js
  ui/apps/platform/cypress/integration/vulnmanagement/clusterCvesListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/clustersListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/componentsListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/cvesListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/deploymentsListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/imageComponentsListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/imageCvesListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/imagesListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/namespacesListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/nodeComponentsListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/nodeCvesListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/policiesListpages.test.js
Labels: area/ui

#2931 Wait for more requests in helper function for Network Graph integration tests
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/helpers/networkGraph.js
  ui/apps/platform/cypress/helpers/policiesPatternFly.js
Labels: area/ui

#2879 ROX-12341: Add support for creating resolver instance with context
  central/graphql/resolvers/cluster_vulnerabilities.go
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/components_v2.go
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/node_components.go
  central/graphql/resolvers/node_vulnerabilities.go
  central/graphql/resolvers/nodes.go
  central/graphql/resolvers/plotted_image_vulnerabilities.go
  central/graphql/resolvers/plotted_node_vulnerabilities.go
Labels: area/central

#3097 Add object collections feature flag
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#2939 ROX-12246: Config Management -> Users and Groups list not loading when using postgres
  central/graphql/resolvers/subjects.go
  central/rbac/service/list_subjects.go
Labels: area/central, area/ui, turbo-build

#3103 ROX-12672: Fix auth providers shown as immutable
  ui/apps/platform/cypress/fixtures/auth/authProviders-id1.json
  ui/apps/platform/cypress/fixtures/auth/authProvidersWithClientSecret.json
  ui/apps/platform/cypress/fixtures/auth/groupsWithClientSecret.json
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/RuleGroups.tsx
  ui/apps/platform/src/services/AuthService/AuthService.ts
Labels: team/merlin, area/ui

#2969 Remove operator-sdk dependency
  go.mod
  go.sum
  pkg/complianceoperator/api/v1alpha1/compliancesuite_types.go
  pkg/complianceoperator/api/v1alpha1/profilebundle_types.go
  pkg/complianceoperator/api/v1alpha1/scansettingbinding_types.go
  pkg/complianceoperator/api/v1alpha1/zz_generated.deepcopy.go
Labels: turbo-build

#3101 Force resolution of autoprefixer to 10.4.5
  ui/package.json
  ui/packages/tailwind-config/package.json
  ui/packages/ui-components/package.json
  ui/yarn.lock
Labels: area/ui

#3117 ROX-12694: Revert ROX-12341 to revisit changes
  central/graphql/resolvers/cluster_vulnerabilities.go
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/components_v2.go
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/node_components.go
  central/graphql/resolvers/node_vulnerabilities.go
  central/graphql/resolvers/nodes.go
  central/graphql/resolvers/plotted_image_vulnerabilities.go
  central/graphql/resolvers/plotted_node_vulnerabilities.go
Labels: area/central

#3081 ROX-12434: do not use stackrox.io flavor for tagged builds
  Makefile
  pkg/helm/charts/tests/centralservices/flavor/flavor_test.go
  pkg/helm/charts/tests/centralservices/flavor/testdata/helmtest/development_build-non-release/development_build.test.yaml
  pkg/helm/charts/tests/centralservices/flavor/testdata/helmtest/development_build-release/development_build.test.yaml
  pkg/helm/charts/tests/centralservices/flavor/testdata/helmtest/opensource-non-release/opensource.test.yaml
  pkg/helm/charts/tests/securedclusterservices/flavor/flavor_test.go
  pkg/helm/charts/tests/securedclusterservices/flavor/testdata/helmtest/development_build-non-release/development_build.test.yaml
  pkg/helm/charts/tests/securedclusterservices/flavor/testdata/helmtest/development_build-release/development_build.test.yaml
  pkg/helm/charts/tests/securedclusterservices/flavor/testdata/helmtest/opensource-non-release/opensource.test.yaml
  pkg/images/defaults/env.go
  pkg/images/defaults/flavor.go
  pkg/images/defaults/flavor_test.go
  roxctl/common/flags/imageFlavor.go
  roxctl/helm/output/output_lint_test.go
  tests/roxctl/bats-tests/helpers.bash
  tests/roxctl/bats-tests/local/central-generate-development-postgres.bats
  tests/roxctl/bats-tests/local/central-generate-development.bats
  tests/roxctl/bats-tests/local/central-generate-interactive-flavors-postgres.bats
  tests/roxctl/bats-tests/local/central-generate-interactive-flavors.bats
  tests/roxctl/bats-tests/local/central-generate-release.bats
  tests/roxctl/bats-tests/local/roxctl-helm-output-central-development.bats
  tests/roxctl/bats-tests/local/roxctl-helm-output-central-release.bats
  tests/roxctl/bats-tests/local/roxctl-helm-output-secured-cluster-services-development.bats
  tests/roxctl/bats-tests/local/roxctl-helm-output-secured-cluster-services-release.bats
  tests/roxctl/bats-tests/local/roxctl-netpol-generate-development.bats
  tests/roxctl/bats-tests/local/roxctl-netpol-generate-release.bats
Labels: ci-no-ui-tests, area/roxctl, area/helm

#3080 Generate JUnit report for sensor tests
  Makefile
  tests/e2e/run.sh
Labels: turbo-build

#3105 Call assertSortedItems in policies and risk integration tests
  ui/apps/platform/cypress/helpers/policiesPatternFly.js
  ui/apps/platform/cypress/helpers/risk.js
  ui/apps/platform/cypress/helpers/sort.js
  ui/apps/platform/cypress/integration/policies/policiesTable.test.js
  ui/apps/platform/cypress/integration/risk/risk.test.js
Labels: area/ui

#3118 ROX-12588 Add collections sidebar link gated behind flag
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/routePaths.js
Labels: area/ui

#3107 ROX-12670,ROX-12671: Fix Postgres dry-run by propagating proper context
  central/policy/service/service_impl.go
Labels: area/auth, area/central

#3133 ROX-12562: enable running Github action scripts to run from non-main branch
  .github/workflows/create-cluster.yml
  .github/workflows/cut-rc.yml
  .github/workflows/scripts/common.sh
  .github/workflows/start-release.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests, turbo-build

#3121 ROX-10206: Use modified alerts option map on Postgres to fix autocomplete
  central/alert/datastore/internal/search/searcher_impl.go
  central/alert/mappings/options.go
  generated/storage/alert.pb.go
  pkg/postgres/schema/alerts.go
  proto/storage/alert.proto
  tools/generate-helpers/pg-table-bindings/schema.go.tpl
Labels: area/central, area/postgres, ci-postgres-tests

#3125 ROX-12219: use helm operator with pause reconcile
  go.mod
  go.sum
  operator/pkg/central/reconciler/reconciler.go
Labels: area/operator

#3113 Dashrews/ROX-12662 no postgres space check when managed
  central/centralhealth/service/service_impl.go
  central/globaldb/v2backuprestore/formats/postgresv1/postgres.go
  migrator/clone/postgres/db_clone_manager_impl.go
  pkg/postgres/pgadmin/admin_utils.go
Labels: area/central, area/postgres, ci-postgres-tests

#3135 ROX-6194: Removed deprecations related to whitelist cleanup
  CHANGELOG.md
  central/deployment/service/service_impl.go
  central/graphql/resolvers/deploymentevents.go
  central/graphql/resolvers/gen/main.go
  generated/api/v1/deployment_service.pb.go
  generated/api/v1/deployment_service.swagger.json
  pkg/env/baseline.go
  proto/api/v1/deployment_service.proto
  qa-tests-backend/src/test/groovy/DeploymentEventGraphQLTest.groovy
  qa-tests-backend/src/test/groovy/RiskTest.groovy
Labels: area/central

#3120 Add basic shell and header for main collections page
  ui/apps/platform/src/Containers/Collections/CollectionsPage.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTablePage.tsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
Labels: area/ui

#3138 ROX-12010, ROX-12535: better release notes, prepare gosec scanner, finish-release automation
  .github/workflows/README.md
  .github/workflows/cut-rc.yml
  .github/workflows/finish-release.yml
  .github/workflows/scripts/check-jira-issues.sh
  .github/workflows/scripts/cherry-pick.sh
  .github/workflows/scripts/common.sh
  .github/workflows/scripts/create-cluster.sh
  .github/workflows/scripts/draft-release-notes.sh
  .github/workflows/scripts/local-env.sh
  .github/workflows/scripts/tag-rc.sh
  .github/workflows/start-release.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests, turbo-build

#3131 Replace endpoint address constants with helper functions in vulnmanagement integration tests
  ui/apps/platform/cypress/constants/VulnManagementPage.js
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/helpers/compliance.js
  ui/apps/platform/cypress/helpers/vulnmanagement/entities.js
  ui/apps/platform/cypress/integration/vulnmanagement/dashboard.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/entitypages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/imageSection/imageOverview.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/nodeSection/nodeOverview.test.js
Labels: area/ui

#3010 ROX-11937: Splunk TA not receiving ocp4-cis-node data
  CHANGELOG.md
  central/splunk/compliance.go
  central/splunk/compliance_test.go
Labels: team/maple, area/central

#3142 Update cypress 10.8.0 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#3136 ROX-12611: Add support to Postgres store generator for ON DELETE RESTRICT
  pkg/postgres/walker/schema.go
  pkg/postgres/walker/walker.go
  tools/generate-helpers/pg-table-bindings/schema.go.tpl
Labels: area/postgres, ci-postgres-tests

#1294 Convert compliance domain to a significantly slimmer version
  central/compliance/aggregation/aggregation_test.go
  central/compliance/datastore/internal/store/postgres/domain/store.go
  central/compliance/datastore/internal/store/postgres/domain/store_test.go
  central/compliance/datastore/internal/store/rocksdb/rocksdb_store_test.go
  central/compliance/datastore/internal/store/test_util.go
  central/compliance/datastore/sac_filter.go
  central/compliance/datastore/test/sac_filter_test.go
  central/compliance/manager/collect_results.go
  central/graphql/resolvers/compliance.go
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/gen/main.go
  central/graphql/resolvers/generated.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/nodes.go
  generated/api/v1/compliance_service.swagger.json
  generated/storage/compliance.pb.go
  migrator/migrations/n_12_to_n_13_postgres_compliance_domains/postgres/postgres_plugin.go
  pkg/postgres/schema/compliance_domains.go
  proto/storage/compliance.proto
  ui/apps/platform/src/queries/controls.js
  ui/apps/platform/src/queries/standard.js
  ui/apps/platform/src/queries/table.js
Labels: area/central, area/ui, area/postgres, ci-postgres-tests, needs-rebase

#3145 Fix merge conflict by using new domain objects
  central/splunk/compliance_test.go
Labels: area/central

#2987 ROX-11751: Implement SAC tests for ComponentCVEEdge and NodeComponentCVEEdge
  central/componentcveedge/datastore/datastore.go
  central/componentcveedge/datastore/datastore_sac_test.go
  central/dackbox/testutils/datastore.go
  central/nodecomponentcveedge/datastore/datastore.go
  central/nodecomponentcveedge/datastore/datastore_sac_test.go
Labels: team/merlin, area/central, area/postgres, ci-postgres-tests

#2678 Re-enable CSV end-to-end test in postgres mode
  central/graphql/resolvers/utils.go
  qa-tests-backend/src/test/groovy/CSVTest.groovy
Labels: team/merlin, area/central, area/postgres, ci-postgres-tests

#3137 ROX-12709: Build operator using apollo-ci
  EXPECTED_GO_VERSION
  operator/Dockerfile
  operator/Makefile
  scripts/ci/jobs/check-generated.sh
Labels: area/operator

#3146 Remove Compliance Schedules that were never released
  central/compliance/manager/manager.go
  central/compliance/manager/manager_impl.go
  central/compliance/manager/mocks/schedule_store.go
  central/compliance/manager/run.go
  central/compliance/manager/schedule.go
  central/compliance/manager/schedule_store.go
  central/compliance/manager/schedule_store_singleton.go
  central/compliance/manager/singleton.go
  central/compliance/manager/test/manager_test.go
  central/graphql/resolvers/gen/main.go
  central/graphql/resolvers/generated.go
  central/main.go
  generated/api/v1/compliance_management_service.pb.go
  generated/api/v1/compliance_management_service.swagger.json
  proto/api/v1/compliance_management_service.proto
  qa-tests-backend/src/main/groovy/services/ComplianceManagementService.groovy
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
Labels: area/central, area/ui

#3158 Revert "Add jemalloc to main Dockerfile (#2832)"
  image/rhel/Dockerfile.envsubst
Labels: area/helm

#3109 Move upstream Postgres to 13 to align with downstream
  image/postgres/Dockerfile.envsubst
  image/postgres/create-bundle.sh
  image/postgres/scripts/init-entrypoint.sh
  image/postgres/signatures/RPM-GPG-KEY-PGDG-13
  image/templates/helm/stackrox-central/templates/01-central-12-central-db.yaml
Labels: area/helm, area/postgres, ci-postgres-tests, ci-postgres-scale-tests

#3156 Delete obsolete form components from UI
  ui/apps/platform/src/Components/SaveButton.js
  ui/apps/platform/src/Components/forms/FormFieldLabel/FormFieldLabel.js
  ui/apps/platform/src/Components/forms/FormFieldLabel/index.js
  ui/apps/platform/src/Components/forms/ReduxCheckboxField.js
  ui/apps/platform/src/Components/forms/ReduxColorPickerField.js
  ui/apps/platform/src/Components/forms/ReduxMultiSelectCreatableField.js
  ui/apps/platform/src/Components/forms/ReduxMultiSelectField.js
  ui/apps/platform/src/Components/forms/ReduxNumericInputField.js
  ui/apps/platform/src/Components/forms/ReduxRadioButtonGroupField.js
  ui/apps/platform/src/Components/forms/ReduxRadioField.js
  ui/apps/platform/src/Components/forms/ReduxSelectCreatableField.js
  ui/apps/platform/src/Components/forms/ReduxTextAreaField.js
  ui/apps/platform/src/Components/forms/ReduxToggleField.js
  ui/apps/platform/src/Containers/Clusters/Components/FormFieldRequired.js
  ui/apps/platform/src/Containers/Clusters/StaticConfigurationSection.js
Labels: area/ui

#2849 [ROX-12357] Follow up on suppress API change
  CHANGELOG.md
  central/cve/cluster/datastore/datastore.go
  central/cve/cluster/datastore/mocks/datastore.go
  central/cve/cluster/service/service_impl.go
  central/cve/common/utils.go
  central/cve/image/service/service_impl.go
  central/cve/node/service/service_impl.go
  central/cve/service/service_impl.go
  generated/api/v1/cve_service.pb.go
  generated/api/v1/cve_service.swagger.json
  proto/api/v1/cve_service.proto
  qa-tests-backend/src/main/groovy/services/CVEService.groovy
  ui/apps/platform/src/services/VulnerabilitiesService.js
Labels: area/central, area/ui

#3164 Delete miscellaneous obsolete components in UI
  ui/apps/platform/src/Components/CarouselArrows.js
  ui/apps/platform/src/Components/CollapsibleCountsButton/CollapsibleCountsButton.js
  ui/apps/platform/src/Components/CollapsibleCountsButton/index.js
  ui/apps/platform/src/Components/CollapsibleText/CollapsibleText.js
  ui/apps/platform/src/Components/CollapsibleText/index.js
  ui/apps/platform/src/Components/CommentThread/Comment/Comment.js
  ui/apps/platform/src/Components/CommentThread/Comment/Comment.test.js
  ui/apps/platform/src/Components/CommentThread/Comment/CommentActionButtons.js
  ui/apps/platform/src/Components/CommentThread/Comment/CommentForm.js
  ui/apps/platform/src/Components/CommentThread/Comment/CommentMessage.js
  ui/apps/platform/src/Components/CommentThread/Comment/index.js
  ui/apps/platform/src/Components/CommentThread/CommentThread.js
  ui/apps/platform/src/Components/CommentThread/index.js
  ui/apps/platform/src/Components/Development.js
  ui/apps/platform/src/Components/FormField.js
  ui/apps/platform/src/Components/IconWithCount/IconWithCount.js
  ui/apps/platform/src/Components/IconWithCount/index.js
  ui/apps/platform/src/Components/LabeledValue.js
  ui/apps/platform/src/Components/MessageBanner.js
  ui/apps/platform/src/Components/PDFExportButton/PDFExportButton.tsx
  ui/apps/platform/src/Components/PDFExportButton/index.js
  ui/apps/platform/src/Components/Pills.js
  ui/apps/platform/src/Components/PolicyBuilderKey/PolicyBuilderKey.js
  ui/apps/platform/src/Components/PolicyBuilderKey/index.js
  ui/apps/platform/src/Components/SectionHeaderInput/SectionHeaderInput.js
  ui/apps/platform/src/Components/SectionHeaderInput/index.js
  ui/apps/platform/src/Components/TablePaginationV2.js
  ui/apps/platform/src/Components/Tags/Tags.js
  ui/apps/platform/src/Components/Tags/index.js
  ui/apps/platform/src/Components/UploadButton.js
  ui/apps/platform/src/Components/visuals/GaugeWithDetail.js
  ui/apps/platform/src/Components/visuals/MultiGaugeDetailSection.js
  ui/apps/platform/src/Containers/ReduxPDFExportButton.js
Labels: area/ui

#3165 Mirror versions for Postgres utilities in main image
  image/postgres/Dockerfile.envsubst
  image/postgres/create-bundle.sh
  image/rhel/create-bundle.sh
Labels: area/helm, area/postgres, ci-postgres-tests

#3168 Build with go1.18.4 by updating CI image version to 0.3.49
  .github/workflows/build.yaml
  .openshift-ci/Dockerfile.build_root
  .openshift-ci/build/Dockerfile.build-central-db-bundle
  .openshift-ci/build/Dockerfile.build-main-and-bundle
  .openshift-ci/build/Dockerfile.build-operator-artifacts
  BUILD_IMAGE_VERSION
  EXPECTED_GO_VERSION
  Makefile
  docs/Dockerfile
  operator/Dockerfile
  pkg/mtls/testutils/testdata/central-certs/ca-key.pem
  pkg/mtls/testutils/testdata/central-certs/ca.pem
  pkg/mtls/testutils/testdata/central-certs/leaf-cert.pem
  pkg/mtls/testutils/testdata/central-certs/leaf-key.pem
  pkg/mtls/testutils/testdata/generate-certs.sh
  qa-tests-backend/artifacts/tls-challenge-test/nginx-lb-certs/ca-key.pem
  qa-tests-backend/artifacts/tls-challenge-test/nginx-lb-certs/ca.pem
  qa-tests-backend/artifacts/tls-challenge-test/nginx-lb-certs/generate-certs.sh
  qa-tests-backend/artifacts/tls-challenge-test/nginx-lb-certs/leaf-cert.pem
  qa-tests-backend/artifacts/tls-challenge-test/nginx-lb-certs/leaf-key.pem
  scale/signatures/deploy.yaml
  scripts/ci/lib.sh
Labels: area/operator

#3163 Enable setting extra arch labels for operator
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/bundle_helpers/patch-csv.py
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
Labels: ok-to-test

#3098 ROX-11101: Remove deprecated resources from UI
  ui/apps/platform/cypress/fixtures/auth/adminUserStatus.json
  ui/apps/platform/cypress/fixtures/auth/basicAuthAdminStatus.json
  ui/apps/platform/cypress/fixtures/auth/multiRolesUserStatus.json
  ui/apps/platform/cypress/fixtures/auth/mypermissionsMinimalAccess.json
  ui/apps/platform/cypress/fixtures/auth/mypermissionsNoAccess.json
  ui/apps/platform/cypress/integration/userinfo.test.js
  ui/apps/platform/src/Containers/AccessControl/AccessControl.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviders.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/ResourceDescription.tsx
  ui/apps/platform/src/Containers/Integrations/hooks/useIntegrationPermissions.test.js
  ui/apps/platform/src/Containers/Integrations/hooks/useIntegrationPermissions.ts
  ui/apps/platform/src/Containers/VulnMgmt/Reports/Detail/VulnMgmtReportDetail.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportForm.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportTablePage.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportTablePanel.tsx
  ui/apps/platform/src/hooks/usePermissions.ts
  ui/apps/platform/src/reducers/roles.js
  ui/apps/platform/src/types/roleResources.ts
Labels: team/merlin, area/ui

#3127 ROX-12569 Change local-sensor cluster id
  sensor/tests/replay/README.md
  sensor/tests/replay/data/safety-net-alerts-central-out.bin
  sensor/tests/replay/data/safety-net-alerts-k8s-trace.jsonl
  sensor/tests/replay/data/safety-net-resources-central-out.bin
  sensor/tests/replay/data/safety-net-resources-k8s-trace.jsonl
  sensor/tests/replay/replay_test.go
  sensor/tests/resource/helper.go
  tools/local-sensor/certs/caCert.pem
  tools/local-sensor/certs/caKey.pem
  tools/local-sensor/certs/cert.pem
  tools/local-sensor/certs/key.pem
  tools/local-sensor/main.go
Labels: team/maple, area/sensor

#3182 Delete impure component unit tests in Vulnerability Management
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cve/VulnMgmtComponentCveOverview.test.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/RecentlyDetectedImageVulnerabilities.test.js
Labels: ci-no-ui-tests, area/ui

#3180 Add operator architectures explicitly in Makefile
  operator/Makefile
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/bundle_helpers/patch-csv.py
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
Labels: area/operator

#3170 ROX-11292 re-sync test for services
  sensor/tests/resource/helper.go
  sensor/tests/resource/service/service_test.go
  sensor/tests/resource/service/yaml/nginx-pod.yaml
  sensor/tests/resource/service/yaml/nginx-service-cluster-ip.yaml
  sensor/tests/resource/service/yaml/nginx-service-load-balancer.yaml
  sensor/tests/resource/service/yaml/nginx-service-node-port.yaml
  sensor/tests/resource/service/yaml/nginx.yaml
Labels: team/maple, area/sensor

#2921 [ROX-6895] Remove Label search option ambiguity
  CHANGELOG.md
  central/deployment/index/indexer_impl_test.go
  central/deployment/service/service_impl.go
  central/policy/service/service_impl.go
  central/policy/service/service_impl_test.go
  central/search/service/service_impl_test.go
  generated/api/v1/deployment_service.swagger.json
  generated/api/v1/detection_service.swagger.json
  generated/api/v1/namespace_service.swagger.json
  generated/api/v1/node_service.swagger.json
  generated/api/v1/rbac_service.swagger.json
  generated/api/v1/service_account_service.swagger.json
  generated/storage/deployment.pb.go
  generated/storage/namespace_metadata.pb.go
  generated/storage/node.pb.go
  generated/storage/rbac.pb.go
  generated/storage/service_account.pb.go
  pkg/booleanpolicy/field_metadata.go
  pkg/booleanpolicy/query_to_field_value_mappers.go
  pkg/booleanpolicy/query_to_field_value_mappers_test.go
  pkg/booleanpolicy/violationmessages/printer.go
  pkg/booleanpolicy/violationmessages/printer/map.go
  pkg/policyutils/scope.go
  pkg/search/options.go
  pkg/search/options/images/options.go
  pkg/search/parser_test.go
  pkg/search/predicate/predicate_test.go
  proto/storage/deployment.proto
  proto/storage/namespace_metadata.proto
  proto/storage/node.proto
  proto/storage/rbac.proto
  proto/storage/service_account.proto
Labels: ci-all-qa-tests, area/central

#3186 ROX-12777: Add feature flag and section of Patternfly Network Graph
  pkg/features/list.go
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/routePaths.js
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#3159 ROX-12627: Add postgres store for collections
  central/resourcecollection/store/mocks/store.go
  central/resourcecollection/store/postgres/gen.go
  central/resourcecollection/store/postgres/index.go
  central/resourcecollection/store/postgres/store.go
  central/resourcecollection/store/postgres/store_test.go
  central/resourcecollection/store/store.go
  central/role/resources/list.go
  generated/api/v1/search_service.pb.go
  generated/api/v1/search_service.swagger.json
  generated/storage/resource_collection.pb.go
  pkg/postgres/schema/collections.go
  pkg/search/options.go
  proto/api/v1/search_service.proto
  proto/storage/resource_collection.proto
  tools/generate-helpers/pg-table-bindings/list.go
  tools/generate-helpers/pg-table-bindings/resource_type_test.go
Labels: area/central, area/postgres, ci-postgres-tests, epic/resource-collections

#3201 ROX-12735: add automation to enter new community PRs to OSS Triage board automatically
  .github/workflows/add-new-pr-to-oss-triaging.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#2681 Re-enable remaining SAC autocomplete test in postgres mode
  central/globalindex/mapping/mapping.go
  central/processbaseline/datastore/datastore_impl_test.go
  qa-tests-backend/src/test/groovy/AutocompleteTest.groovy
  qa-tests-backend/src/test/groovy/SACTest.groovy
Labels: team/merlin, area/central, area/postgres, ci-postgres-tests

#3193 Use protobuf getter for pagination
  central/deployment/service/service_impl.go
  central/image/service/service_impl.go
  central/secret/service/service_impl.go
  central/vulnerabilityrequest/service/service_impl.go
Labels: area/central

#3211 ROX-12823: Fix links in Most Common Image Vulnerabilities
  ui/apps/platform/src/Containers/VulnMgmt/widgets/MostCommonVulnerabilities.js
Labels: area/ui

#3187 Delete feature flag and obsolete policies constants for integration tests in UI
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/cypress/constants/PoliciesPage.js
  ui/apps/platform/cypress/integration/risk/riskSearchToPolicy.test.js
Labels: area/ui

#3152 Build out service functions for collections API
  ui/apps/platform/src/services/AlertsService.ts
  ui/apps/platform/src/services/CollectionsService.ts
  ui/apps/platform/src/services/types.ts
  ui/apps/platform/src/utils/searchUtils.ts
Labels: area/ui, epic/resource-collections

#3154 Refactor service api `Record<string, never>` to use exported `Empty` type
  ui/apps/platform/src/services/AccessScopesService.ts
  ui/apps/platform/src/services/AlertsService.ts
  ui/apps/platform/src/services/AuthService/AuthService.ts
  ui/apps/platform/src/services/BackupIntegrationsService.ts
  ui/apps/platform/src/services/ClustersService.ts
  ui/apps/platform/src/services/ImageIntegrationsService.ts
  ui/apps/platform/src/services/IntegrationsService.ts
  ui/apps/platform/src/services/NotifierIntegrationsService.ts
  ui/apps/platform/src/services/PoliciesService.ts
  ui/apps/platform/src/services/PolicyCategoriesService.ts
  ui/apps/platform/src/services/ReportsService.ts
  ui/apps/platform/src/services/RolesService.ts
  ui/apps/platform/src/services/imageService.ts
Labels: area/ui

#3176 ROX-12568: Fix array and enum autocomplete
  pkg/search/postgres/query/array_query.go
  pkg/search/postgres/query/common.go
  pkg/search/postgres/query/map_query.go
  pkg/search/postgres/query/query_functions.go
  pkg/search/postgres/query/string_query.go
  pkg/search/postgres/query/test/index_test.go
Labels: area/postgres, ci-postgres-tests

#3181 Add basic collections data loading and table display
  ui/apps/platform/src/Containers/Collections/CollectionsTable.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTablePage.tsx
Labels: area/ui, epic/resource-collections

#3214 Set Postgres connect timeout to 15s instead of 2m
  pkg/postgres/pgconfig/config.go
Labels: area/postgres, ci-postgres-tests

#3132 Dashrews/ROX-12547 migration remove certain foreign keys
  central/activecomponent/datastore/datastore.go
  central/activecomponent/datastore/internal/store/postgres/store_test.go
  central/cluster/store/clusterhealth/postgres/store_test.go
  central/postgres/pruning.go
  central/postgres/pruning_test.go
  central/pruning/pruning.go
  generated/storage/active_component.pb.go
  generated/storage/cluster.pb.go
  pkg/postgres/schema/active_components.go
  pkg/postgres/schema/cluster_health_statuses.go
  pkg/postgres/walker/walker.go
  proto/storage/active_component.proto
  proto/storage/cluster.proto
Labels: area/roxctl, area/central, area/helm, area/postgres, ci-postgres-tests

#3196 go 1.18 follow up
  .golangci.yml
  qa-tests-backend/local-test-example/step1-setup-macos.sh
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/roxctl, area/auth, area/central, area/helm, area/operator, area/sensor, area/postgres, ci-postgres-tests

#3185 Add sorting to collections table.
  ui/apps/platform/src/Containers/Collections/CollectionsTable.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTablePage.tsx
Labels: area/ui, epic/resource-collections

#3221 RS-321: Bump collector version post-jsoncpp move
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#3235 ROX-12585: Fix link to next milestone in cut-rc workflow
  .github/workflows/cut-rc.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#3212 Implement toolbar with search and pagination for collections table.
  ui/apps/platform/src/Containers/Collections/CollectionsTable.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTablePage.tsx
  ui/apps/platform/src/hooks/useURLPagination.ts
Labels: area/ui, epic/resource-collections

#3228 Fixes useURLParameter hook to allow multiple sequential mutations.
  ui/apps/platform/src/hooks/useURLParameter.test.tsx
  ui/apps/platform/src/hooks/useURLParameter.ts
Labels: area/ui

#3124 ROX-11592: Remove support to retrieve groups without ID
  CHANGELOG.md
  central/group/datastore/datastore_impl.go
  central/group/datastore/datastore_test.go
  central/group/datastore/validate.go
  central/group/datastore/validate_test.go
  central/group/service/service_impl.go
Labels: area/central

#3213 Rename policies files for integration tests
  ui/apps/platform/cypress/constants/PoliciesPage.js
  ui/apps/platform/cypress/helpers/policies.js
  ui/apps/platform/cypress/integration/policies/exportPolicy.test.js
  ui/apps/platform/cypress/integration/policies/importPolicy.test.js
  ui/apps/platform/cypress/integration/policies/policiesTable.test.js
  ui/apps/platform/cypress/integration/policies/policyWizardStep3.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/policiesListpages.test.js
Labels: area/ui

#3240 Fixes useToasts hook to allow multiple toasts to display
  ui/apps/platform/src/hooks/patternfly/useToasts.test.ts
  ui/apps/platform/src/hooks/patternfly/useToasts.tsx
Labels: area/ui

#3232 Separate central-db yaml's from Central
  image/templates/helm/stackrox-central/templates/01-central-00-db-serviceaccount.yaml
  image/templates/helm/stackrox-central/templates/01-central-00-serviceaccount.yaml
  image/templates/helm/stackrox-central/templates/01-central-10-db-networkpolicy.yaml
  image/templates/helm/stackrox-central/templates/01-central-10-networkpolicy.yaml
Labels: area/helm
