Repository stackrox/stackrox, pull requests merged in 2022-12, with the labels that each got.

#3966 Delete the test namespace before creating if already exists
  sensor/tests/resource/helper.go
Labels: team/maple, area/sensor

#3971 Visit System Configuration instead of Dashboard in auth integration tests
  ui/apps/platform/cypress/integration/auth.test.js
Labels: area/ui

#3961 Add Cypress tests for collection CRUD operations
  ui/apps/platform/cypress/integration/collections/collectionsCrudWorkflow.test.js
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByLabelSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByNameSelector.tsx
Labels: area/ui, epic/resource-collections

#3904 ROX-13013: Add query string search parsing to PF Network Graph
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkGraphIcons.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/ClusterSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NamespaceSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NetworkBreadcrumbs.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/getScopeHierarchy.ts
  ui/apps/platform/src/hooks/useFetchClusterNamespaces.ts
  ui/apps/platform/src/hooks/useFetchClusters.ts
  ui/apps/platform/src/services/NetworkService.js
Labels: area/ui

#3969 ROX-13673 + ROX-13674 + ROX-13675: Create cidr block side panel layout
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/cidr/CidrBlockSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkGraphIcons.tsx
Labels: area/ui

#3949 ROX-13685: Add query field to deployment matching on collections
  central/resourcecollection/service/service_impl.go
  central/resourcecollection/service/service_impl_test.go
  generated/api/v1/resource_collection_service.pb.go
  generated/api/v1/resource_collection_service.swagger.json
  proto/api/v1/resource_collection_service.proto
Labels: area/central, epic/resource-collections

#3897 ROX-12626: Collections E2E Tests
  central/resourcecollection/service/service_impl.go
  tests/common_test.go
  tests/resourcecollection_test.go
Labels: area/central, epic/resource-collections

#3985 Call localStorage removeItem in first of auth integration tests
  ui/apps/platform/cypress/integration/auth.test.js
Labels: area/ui

#3968 Dashrews/ROX-13662 make sure tests run pg
  Makefile
  central/image/datastore/store/common/v2/parts_test.go
  central/reprocessor/reprocessor_test.go
  central/resourcecollection/datastore/datastore_bench_postgres_test.go
  central/resourcecollection/datastore/datastore_impl_postgres_test.go
  central/search/service/service_impl_test.go
  central/version/ensure_test.go
  central/version/store/store_impl_test.go
  pkg/nodes/enricher/enricher_impl_test.go
Labels: area/central, area/postgres

#3982 Extract form submission logic for collection form
  ui/apps/platform/src/Containers/Collections/CollectionsFormPage.tsx
  ui/apps/platform/src/Containers/Collections/hooks/useCollectionFormSubmission.ts
Labels: area/ui

#3863 Dashrews/ROX-11248 add capability to prune log imbues
  Makefile
  central/logimbue/store/bolt/store_impl.go
  central/logimbue/store/mocks/store.go
  central/logimbue/store/singleton.go
  central/logimbue/store/store.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
  central/pruning/pruning_vuln_req_test.go
  central/pruning/singleton.go
  central/vulnerabilityrequest/datastore/datastore.go
  pkg/fixtures/fixtureconsts/fixture_consts.go
  pkg/postgres/pgtest/postgres.go
Labels: area/central, area/postgres

#3987 Disable Edit button for uneditable integrations
  ui/apps/platform/src/Containers/Integrations/IntegrationPage.tsx
  ui/apps/platform/src/Containers/Integrations/utils/integrationUtils.ts
Labels: area/ui

#3997 ROX-13469: Skip auth integration tests
  ui/apps/platform/cypress/integration/auth.test.js
Labels: area/ui

#3999 Fix losing search params on node opening/clsoing in PF Network Graph
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
Labels: area/ui

#3992 ROX-12440: Use a fixed kuttl
  operator/Makefile
Labels: area/operator

#3926 ROX-13640: Build docs image on GHA
  .github/workflows/build.yaml
Labels: turbo-build

#3998 Maple: comments and changes from the CI flake session
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Labels: team/maple

#4017 Move collection form cancel callback higher in the component tree
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/CollectionFormDrawer.tsx
  ui/apps/platform/src/Containers/Collections/CollectionFormModal.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsFormPage.tsx
Labels: area/ui

#4026 ROX-13755: Trim leading and trailing spaces in given policy name duri…
  central/policy/service/validator.go
  central/policy/service/validator_test.go
Labels: area/central

#3808 Rox 13089 Backend changes for syslog extra fields
  central/notifiers/syslog/syslog.go
  central/notifiers/syslog/syslog_test.go
  generated/api/v1/notifier_service.swagger.json
  generated/storage/notifier.pb.go
  pkg/features/list.go
  proto/storage/notifier.proto
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/central, area/ui

#3907 ROX-12844: Refactor sensor image enrichment with multiple image names
  central/image/service/service_impl.go
  pkg/images/enricher/enricher_impl.go
  pkg/protoutils/slice_contains.go
  sensor/common/detector/enricher.go
Labels: area/central, area/sensor

#3981 Tie user agents with StackRox
  central/main.go
  compliance/collection/main.go
  pkg/clientconn/useragent.go
  roxctl/main.go
  sensor/admission-control/main.go
  sensor/kubernetes/main.go
  sensor/upgrader/main.go
Labels: area/roxctl, area/central, area/sensor, area/admission-controller

#4024 Only show blank collection name error on field touch
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
Labels: area/ui

#3986 ROX-13735: create consistent data structure for network graph node
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/cidr/CidrBlockSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/FlowsTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentBaselines.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/namespace/NamespaceSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/flow.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/networkGraphUtils.ts
  ui/apps/platform/src/utils/type.utils.ts
Labels: area/ui

#4014 Dashrews/ROX-13703 fix autocomplete test
  Makefile
  central/search/service/service_impl_test.go
Labels: area/central

#4000 Factor out helpers for Access Control integration tests
  ui/apps/platform/cypress/helpers/request.js
  ui/apps/platform/cypress/integration/accessControl/accessControl.helpers.js
  ui/apps/platform/cypress/integration/accessControl/accessControl.selectors.js
  ui/apps/platform/cypress/integration/accessControl/accessControlAccessScopes.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlAuthProviders.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlPermissionSets.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlRoles.test.js
Labels: area/ui

#4005 ROX-13676: Create external entities side panel layout
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/cidr/CidrBlockSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/FlowsTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkGraphIcons.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentBaselines.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalEntitiesSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
Labels: area/ui

#4021 ROX-13686: regex matching and filter query in collections e2e
  tests/resourcecollection_test.go
Labels: epic/resource-collections

#4029 Move helpers and selectors into same subfolder as integrations integration tests
  ui/apps/platform/cypress/integration/integrations/apiTokens.test.js
  ui/apps/platform/cypress/integration/integrations/clusterInitBundles.test.js
  ui/apps/platform/cypress/integration/integrations/externalBackups.test.js
  ui/apps/platform/cypress/integration/integrations/general.test.js
  ui/apps/platform/cypress/integration/integrations/imageIntegrations.test.js
  ui/apps/platform/cypress/integration/integrations/integrations.helpers.js
  ui/apps/platform/cypress/integration/integrations/integrations.selectors.js
  ui/apps/platform/cypress/integration/integrations/notifiers.test.js
  ui/apps/platform/cypress/integration/integrations/signatureIntegrations.test.js
  ui/apps/platform/cypress/integration/systemHealth/integrations.test.js
Labels: area/ui

#4039 fix autogenerated image integration insecure setting
  central/sensor/service/pipeline/imageintegrations/pipeline.go
Labels: area/central

#3909 Fix image signature query in reprocessor
  central/reprocessor/reprocessor.go
Labels: area/central

#4040 remove unused proto import in resource collection service api
  generated/api/v1/resource_collection_service.pb.go
  proto/api/v1/resource_collection_service.proto
Labels: epic/resource-collections

#4043 ROX-13782: Fix Compliance crash with operator standards
  ui/apps/platform/src/queries/standard.js
Labels: area/ui

#4048 Fix whitespace below collection attacher table
  ui/apps/platform/src/Containers/Collections/CollectionsFormPage.tsx
Labels: area/ui

#4001 Create collection results component
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/CollectionFormDrawer.tsx
  ui/apps/platform/src/Containers/Collections/CollectionResults.tsx
  ui/apps/platform/src/Containers/Collections/hooks/useDryRunConfiguration.ts
  ui/apps/platform/src/services/CollectionsService.ts
  ui/apps/platform/src/services/types.ts
Labels: area/ui, epic/resource-collections

#4028 ROX-13433: Adding Extraneous Flows graph
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleNode.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/defaultComponentFactory.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/stylesComponentFactory.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
Labels: area/ui

#4035 ROX-13360: Create deployment query by service account on Sensor in-memory store
  sensor/common/store/mocks/types.go
  sensor/common/store/resolver/resolver.go
  sensor/common/store/types.go
  sensor/kubernetes/listener/resources/deployment_store.go
  sensor/kubernetes/listener/resources/deployment_store_test.go
Labels: team/maple, area/sensor

#4054 Refactor front end types for collection responses
  ui/apps/platform/src/Containers/Collections/CollectionAttacher.tsx
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/CollectionFormDrawer.tsx
  ui/apps/platform/src/Containers/Collections/CollectionFormModal.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTable.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTablePage.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByNameSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.tsx
  ui/apps/platform/src/Containers/Collections/converter.test.ts
  ui/apps/platform/src/Containers/Collections/converter.ts
  ui/apps/platform/src/Containers/Collections/hooks/useCollection.ts
  ui/apps/platform/src/Containers/Collections/hooks/useCollectionFormSubmission.ts
  ui/apps/platform/src/Containers/Collections/hooks/useDryRunConfiguration.ts
  ui/apps/platform/src/Containers/Collections/hooks/useEmbeddedCollections.ts
  ui/apps/platform/src/Containers/Collections/types.ts
  ui/apps/platform/src/services/CollectionsService.ts
Labels: area/ui

#3839 ROX-11750: SAC tests for imagecomponentedge datastore
  central/imagecomponentedge/datastore/datastore_sac_test.go
  central/imagecomponentedge/datastore/datastore_test_constructors.go
Labels: area/central

#4012 ROX-11756: Add SAC tests for cluster CVE object
  central/cluster/datastore/datastore.go
  central/cluster/datastore/datastore_test_constructors.go
  central/clustercveedge/datastore/datastore_test_constructors.go
  central/cve/cluster/datastore/datastore.go
  central/cve/cluster/datastore/datastore_impl.go
  central/cve/cluster/datastore/datastore_test_constructors.go
  central/cve/cluster/datastoretest/datastore_sac_test.go
  central/dackbox/testutils/datastore.go
  pkg/fixtures/dackbox.go
  tools/allowed-large-files
Labels: area/central

#4049 Fix cci-export usage in GHA
  .github/workflows/build.yaml
Labels: ci-release-build, turbo-build

#4063 Fix turbo build image generation
  image/rhel/create-bundle.sh
Labels: turbo-build

#4065 Upgrade cypress 12.0.2 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#4064 Minor style and performace improvements
  central/cve/fetcher/orchestrator.go
  central/cve/matcher/matcher.go
Labels: area/central

#4050 ROX-13786: Use SAC search helper FilteredSearcher and associated Search and Count functions instead of Apply and ApplyCount
  central/processbaseline/search/searcher_impl.go
  central/processindicator/search/searcher_impl.go
  central/rbac/k8srole/datastore/datastore_sac_test.go
  central/rbac/k8srole/search/searcher_impl.go
  central/rbac/k8srolebinding/datastore/datastore_sac_test.go
  central/rbac/k8srolebinding/search/searcher_impl.go
  central/serviceaccount/datastore/datastore_sac_test.go
  central/serviceaccount/search/searcher_impl.go
  pkg/sac/search_helper.go
  pkg/sac/tests/search_helper_test.go
Labels: area/auth, area/central

#4077 Call triggerScan in configmanagement ciscontrol integration test
  ui/apps/platform/cypress/integration/configmanagement/ciscontrols.test.js
Labels: area/ui

#3942 ROX-13640: Build mock-grpc-server image on GHA
  .github/workflows/build.yaml
Labels: area/helm, turbo-build

#4082 Remove unnecessary ResetTimer() for symmetry
  sensor/kubernetes/listener/resources/networkpolicy_store_bench_test.go
Labels: team/maple, area/sensor

#4022 ROX-13680: Add external to cluster side panel
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkGraphIcons.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalGroupSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/externalEntities/ExternalEntitiesSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/networkGraphUtils.ts
Labels: area/ui

#4089 Jv update collector version to use falco for processes listening on ports
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#4030 ROX-13593: Add telemetry options to central Helm chart
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  image/templates/helm/stackrox-central/values-public.yaml.example.htpl
  image/templates/helm/stackrox-central/values.yaml.htpl
  pkg/helm/charts/tests/centralservices/testdata/helmtest/telemetry.test.yaml
  pkg/renderer/helm_values.go
  pkg/renderer/templater.go
  roxctl/central/generate/generate.go
  roxctl/central/generate/k8s.go
  roxctl/helm/derivelocalvalues/derivelocalvalues.go
Labels: area/roxctl, area/helm

#2916 ROX-13805: Add check-style to GHA
  .github/actions/cache-go-dependencies/action.yaml
  .github/actions/cache-gradle-dependencies/action.yaml
  .github/actions/cache-ui-dependencies/action.yaml
  .github/workflows/style.yaml
  .golangci.yml
Labels: turbo-build

#4093 ROX-13746: Add Deployments to Network Graph filter
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/ClusterSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/DeploymentSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NamespaceSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NetworkBreadcrumbs.tsx
  ui/apps/platform/src/hooks/useFetchClusterNamespaces.ts
  ui/apps/platform/src/hooks/useFetchNamespaceDeployments.ts
  ui/apps/platform/src/sagas/networkSagas.js
  ui/apps/platform/src/services/NetworkService.js
Labels: area/ui

#4106 Move helpers into same subfolder as Vulnerability Management Reporting integration tests
  ui/apps/platform/cypress/constants/VulnManagementPage.js
  ui/apps/platform/cypress/helpers/vulnmanagement/reporting.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/displayReports.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/manageReports.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/reporting.helpers.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/reportingForm.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/reportingTable.test.js
Labels: area/ui

#4020 ROX-12574: make grpc client to retry on errors
  roxctl/common/connection.go
  roxctl/common/connection_test.go
  roxctl/common/environment/environment-impl.go
  roxctl/common/flags.go
  roxctl/common/tls.go
Labels: area/roxctl

#4036 ROX-13023: Use database count rather than result count in postgres scoped access control context
  pkg/sac/search_helper.go
Labels: area/auth

#4113 ROX-13901: Add empty state to new NG when no namespaces selected
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/EmptyUnscopedState.tsx
Labels: area/ui

#4069 ROX-13479: Add simulate network policies tab
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/SimulateNetworkPolicyButton.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/getSimulation.ts
Labels: area/ui

#4076 ROX-13482 + ROX-13483: Add boilerplate for 'Simulate network policies' tab
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
Labels: area/ui

#4110 Adds loading indicator to collection results panel
  ui/apps/platform/src/Containers/Collections/CollectionResults.tsx
Labels: area/ui

#3920 Bump collector version
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#4090 ROX-13480: Add view active yamls tab
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/hooks/apis/useFetchActiveYAMLs.ts
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/ViewActiveYAMLs.tsx
  ui/apps/platform/src/services/NetworkService.js
Labels: area/ui

#4122 ROX-13433: Adding extraneous node/flows count to extraneous graph
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/DefaultFakeGroup.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleFakeGroup.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/stylesComponentFactory.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
  ui/apps/platform/src/hooks/useFetchDeploymentCount.ts
Labels: area/ui

#4034 ROX-11755: SAC tests for ClusterCVEEdge object
  central/clustercveedge/datastore/datastore_test_constructors.go
  central/clustercveedge/datastoretest/datastore_sac_test.go
Labels: area/central

#4160 ROX-13943: Hide "sourced" autogenerated image integrations behind a feature flag
  CHANGELOG.md
  central/enrichment/singleton.go
  central/image/service/service_impl.go
  central/imageintegration/datastore/datastore_impl.go
  central/imageintegration/datastore/singleton.go
  central/sensor/service/pipeline/imageintegrations/pipeline.go
  pkg/features/list.go
  pkg/images/enricher/enricher_impl.go
  pkg/registries/factory_impl.go
  pkg/registries/set_impl_test.go
  pkg/registries/types/types.go
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
  sensor/common/detector/enricher.go
  sensor/kubernetes/listener/resources/secrets.go
  sensor/kubernetes/listener/resources/serviceaccount.go
Labels: area/central, area/sensor, turbo-build

#4146 ROX-13898: Fix selected deployment checkboxes not checked
  ui/apps/platform/src/Containers/NetworkGraph/components/DeploymentSelector.tsx
Labels: area/ui

#4159 ROX-13582: New API method `/v1.TelemetryService/GetConfig` of the old telemetry service
  central/graphql/resolvers/generated.go
  central/metadata/service/service_impl.go
  central/telemetry/service/service_impl.go
  generated/api/v1/metadata_service.pb.go
  generated/api/v1/metadata_service.swagger.json
  generated/api/v1/telemetry_service.pb.go
  generated/api/v1/telemetry_service.pb.gw.go
  generated/api/v1/telemetry_service.swagger.json
  generated/internalapi/central/telemetry.pb.go
  proto/api/v1/metadata_service.proto
  proto/api/v1/telemetry_service.proto
  proto/internalapi/central/telemetry.proto
Labels: area/central

#4165 ROX-13946: Add ability to set `spec.skips` in the operator CSV
  operator/bundle_helpers/patch-csv.py
Labels: area/operator

#4132 Fix vuln test
  qa-tests-backend/src/test/groovy/VulnMgmtSACTest.groovy
Labels: turbo-build

#4173 fix image integration deletion log
  central/imageintegration/datastore/singleton.go
Labels: area/central

#4169 Move helpers and selectors into same subfolder as clusters integration tests
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/helpers/main.js
  ui/apps/platform/cypress/integration/clusters/Clusters.helpers.js
  ui/apps/platform/cypress/integration/clusters/Clusters.selectors.js
  ui/apps/platform/cypress/integration/clusters/clusterDeletion.test.js
  ui/apps/platform/cypress/integration/clusters/clusters.test.js
  ui/apps/platform/cypress/integration/clusters/clustersCertificateExpiration.test.js
  ui/apps/platform/cypress/integration/clusters/clustersHealthStatus.test.js
  ui/apps/platform/cypress/integration/clusters/clustersManager.test.js
  ui/apps/platform/cypress/integration/clusters/redirectFromDashboard.test.js
  ui/apps/platform/cypress/integration/systemHealth/clusters.test.js
Labels: area/ui

#4163 Dashrews/ROX-13102 Telemetry gatherer was using rocks/bolt on startup and no gatherer for Postgres
  central/globaldb/postgres.go
  central/telemetry/gatherers/central.go
  central/telemetry/gatherers/database.go
  central/telemetry/gatherers/gatherer_test.go
  central/telemetry/gatherers/postgres.go
  central/telemetry/gatherers/singleton.go
  pkg/telemetry/data/central.go
Labels: area/central, area/postgres

#4136 ROX-13729: Add Central DB values to the public and private examples
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/values-private.yaml.example
  image/templates/helm/stackrox-central/values-public.yaml.example.htpl
Labels: area/helm

#4164 Dashrews/ROX-13103 move v1 db/restore api route to legacy DB only routes
  central/main.go
Labels: area/central

#4178 Fixed reinit issue w topology controller
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
Labels: area/ui

#4187 ROX-12924: Mitigate network fetch issues in imaging
  .openshift-ci/build/build-main-and-bundle.sh
  scripts/lib.sh
  ui/Makefile
Labels: area/ui

#4184 Do not create issues for CI failures
  scripts/ci/lib.sh
Labels: turbo-build

#4101 ROX-11752: Add SAC tests for ImageCVEEdge objects
  central/imagecveedge/datastore/datastore_sac_test.go
Labels: area/central

#4112 Move helpers and selectors into same subfolders as credentialExpiry and systemConfig integration tests
  ui/apps/platform/cypress/constants/CertExpiration.js
  ui/apps/platform/cypress/integration/credentialExpiry/credentialExpiry.helpers.js
  ui/apps/platform/cypress/integration/credentialExpiry/credentialExpiry.test.js
  ui/apps/platform/cypress/integration/systemConfig/systemConfig.helpers.js
  ui/apps/platform/cypress/integration/systemConfig/systemConfig.selectors.js
  ui/apps/platform/cypress/integration/systemConfig/systemConfig.test.js
Labels: area/ui

#4144 Move helpers and selectors into same subfolder as Configuration Management integration tests
  ui/apps/platform/cypress/constants/ConfigManagementPage.js
  ui/apps/platform/cypress/integration/configmanagement/ConfigurationManagement.helpers.js
  ui/apps/platform/cypress/integration/configmanagement/ConfigurationManagement.selectors.js
  ui/apps/platform/cypress/integration/configmanagement/ciscontrols.test.js
  ui/apps/platform/cypress/integration/configmanagement/clusters.test.js
  ui/apps/platform/cypress/integration/configmanagement/dashboard.test.js
  ui/apps/platform/cypress/integration/configmanagement/deployments.test.js
  ui/apps/platform/cypress/integration/configmanagement/images.test.js
  ui/apps/platform/cypress/integration/configmanagement/namespaces.test.js
  ui/apps/platform/cypress/integration/configmanagement/nodes.test.js
  ui/apps/platform/cypress/integration/configmanagement/policies.test.js
  ui/apps/platform/cypress/integration/configmanagement/roles.test.js
  ui/apps/platform/cypress/integration/configmanagement/secrets.test.js
  ui/apps/platform/cypress/integration/configmanagement/serviceaccount.test.js
  ui/apps/platform/cypress/integration/configmanagement/usersandgroups.test.js
Labels: area/ui

#4070 ROX-13582: Central telemetry configuration. Metadata response update.
  central/graphql/resolvers/generated.go
  central/telemetry/centralclient/instance_config.go
  central/telemetry/service/service_impl.go
  generated/api/v1/telemetry_service.pb.go
  generated/api/v1/telemetry_service.pb.gw.go
  generated/api/v1/telemetry_service.swagger.json
  generated/internalapi/central/telemetry.pb.go
  pkg/env/telemetry.go
  pkg/telemetry/phonehome/client_config.go
  pkg/telemetry/phonehome/client_config_test.go
  pkg/telemetry/phonehome/hash.go
  pkg/telemetry/phonehome/hash_test.go
  proto/api/v1/telemetry_service.proto
  proto/internalapi/central/telemetry.proto
Labels: area/central

#4057 ROX-13764 Added error check for invalid charecters in syslog hostname
  central/notifiers/syslog/syslog_test.go
  central/notifiers/syslog/tcp_sender.go
Labels: area/central

#4071 ROX-13582: Gathering central datastore properties
  central/authprovider/datastore/telemetry.go
  central/main.go
  central/role/datastore/telemetry.go
  central/signatureintegration/datastore/telemetry.go
  central/telemetry/centralclient/instance_config.go
  go.mod
  go.sum
  pkg/telemetry/phonehome/client_config.go
  pkg/telemetry/phonehome/gatherer.go
  pkg/telemetry/phonehome/gatherer_test.go
  pkg/telemetry/phonehome/mocks/telemeter.go
  pkg/telemetry/phonehome/segment/segment.go
  pkg/telemetry/phonehome/telemeter.go
Labels: area/central

#4197 Add usePaginatedQuery hook to abstract over infinite list queries
  ui/apps/platform/src/hooks/usePaginatedQuery.test.ts
  ui/apps/platform/src/hooks/usePaginatedQuery.ts
Labels: area/ui

#4198 Update collection results to use `usePaginatedQuery` hook
  ui/apps/platform/src/Containers/Collections/CollectionResults.tsx
Labels: area/ui

#4166 ROX-13481: Adding hook for useNetworkPolicySimulator
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/hooks/apis/useFetchActiveYAMLs.ts
  ui/apps/platform/src/Containers/NetworkGraph/hooks/useNetworkPolicySimulator.ts
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/SimulateNetworkPolicyButton.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/ViewActiveYAMLs.tsx
  ui/apps/platform/src/services/NetworkService.js
Labels: area/ui

#4170 ROX-13882: Generate and simulate network policies integration
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPoliciesYAML.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/ViewActiveYAMLs.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/simulatorUtils.ts
Labels: area/ui

#3912 ROX-12936: added pprof profiling option to operator
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/manager/manager.yaml
  operator/main.go
  pkg/profiling/fifo_dir.go
  pkg/profiling/fifo_dir_test.go
  pkg/profiling/profiling.go
  pkg/profiling/profiling_test.go
Labels: area/operator, area/sensor

#4201 Revert eslint caching for apps/platform
  ui/apps/platform/package.json
  ui/packages/tailwind-config/package.json
  ui/packages/ui-components/package.json
Labels: area/ui

#4125 ROX-13671: Add API users to the tenant group
  central/role/mapper/store_based_mapper_impl.go
  pkg/telemetry/phonehome/hash.go
  pkg/telemetry/phonehome/hash_test.go
Labels: area/central

#4072 ROX-13582: Intercepting API calls
  central/main.go
  central/role/mapper/store_based_mapper_impl.go
  central/telemetry/centralclient/instance_config.go
  central/telemetry/centralclient/interceptors.go
  central/telemetry/centralclient/interceptors_test.go
  pkg/telemetry/phonehome/client_config.go
  pkg/telemetry/phonehome/hash.go
  pkg/telemetry/phonehome/hash_test.go
  pkg/telemetry/phonehome/interceptor.go
  pkg/telemetry/phonehome/interceptor_test.go
  pkg/telemetry/phonehome/request_params.go
  pkg/telemetry/phonehome/request_params_test.go
Labels: area/central

#4195 Dashrews/ROX-13964 central db accessible flag in metadata
  central/metadata/service/service.go
  central/metadata/service/service_impl.go
  central/metadata/service/service_impl_test.go
  generated/api/v1/metadata_service.pb.go
  generated/api/v1/metadata_service.swagger.json
  proto/api/v1/metadata_service.proto
Labels: area/central

#4181 ROX-13887: Revert rules to previously applied YAML
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPoliciesYAML.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/ViewActiveYAMLs.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/simulatorUtils.ts
Labels: area/ui

#4202 ROX-14013: VM perf improvements for release 74 (ROX-14014, ROX-14017, ROX-14021, ROX-14022)
  ui/apps/platform/cypress/helpers/vulnmanagement/entities.js
  ui/apps/platform/cypress/integration/vulnmanagement/dashboard.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/dashboardToEntityPage.test.js
  ui/apps/platform/src/Containers/VulnMgmt/Dashboard/VulnMgmtDashboardPage.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cluster/VulnMgmtClusterOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Deployment/VulnMgmtDeploymentOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Namespace/VulnMgmtNamespaceOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/DeploymentsWithMostSeverePolicyViolations.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/PolicyViolationsBySeverity.js
Labels: area/ui

#4225 Skip sort by Severity in Violations integration tests
  ui/apps/platform/cypress/integration/violations/violations.test.js
Labels: area/ui

#4218 ROX-13963: Show banner when db unavailable
  ui/apps/platform/src/Containers/MainPage/DatabaseUnavailableBanner.tsx
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
Labels: area/ui

#4199 ROX-13729: Unhide central db generate and add CLI unit tests
  roxctl/central/db/db.go
  roxctl/central/db/generate/generate.go
  roxctl/central/db/generate/generate_test.go
  roxctl/central/db/generate/k8s.go
  roxctl/central/db/generate/volumes.go
  roxctl/common/patch_pre_run_hooks.go
  roxctl/main.go
Labels: area/roxctl

#4207 ROX-13420: Enable postgres on non-goovy test
  .openshift-ci/dispatch.sh
  tests/active_vuln_test.go
  tests/backup_test.go
  tests/container_instances_test.go
  tests/excluded_scopes_test.go
  tests/feature_flag_test.go
  tests/networkpolicy_test.go
  tests/pods_test.go
  tests/roxctl/istio-support.sh
Labels: turbo-build

#4228 ROX-13554: adding deployment policy status decorator shield
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleNode.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
  ui/apps/platform/src/images/network-graph/both-policy-rules.svg
  ui/apps/platform/src/images/network-graph/egress-only.svg
  ui/apps/platform/src/images/network-graph/ingress-only.svg
  ui/apps/platform/src/images/network-graph/no-policy-rules.svg
Labels: area/ui

#4229 Minor collection fixes
  ui/apps/platform/src/Containers/Collections/CollectionResults.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTablePage.tsx
Labels: area/ui

#4220 ROX-13883: upload network policy yaml
  ui/apps/platform/src/Containers/NetworkGraph/hooks/useNetworkPolicySimulator.ts
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPoliciesYAML.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkSimulatorActions.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/UploadYAMLButton.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/ViewActiveYAMLs.tsx
Labels: area/ui

#4226 ROX-13885: applying network policies in network simulator
  ui/apps/platform/src/Containers/NetworkGraph/hooks/useNetworkPolicySimulator.ts
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkSimulatorActions.tsx
  ui/apps/platform/src/hooks/patternfly/useTabs.ts
Labels: area/ui

#4242 ROX-14082: Bump scanner version to prevent breaking Cachito
  SCANNER_VERSION
Labels: ci-all-qa-tests

#4240 ROX-13899: Clear selected deployments when namespace deselected in new Network Graph
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NamespaceSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NetworkBreadcrumbs.tsx
  ui/apps/platform/src/services/NetworkService.js
Labels: area/ui

#4214 ROX-13582: Follow-up. Limit context access scope, comments, naming
  central/authprovider/datastore/telemetry.go
  central/role/datastore/telemetry.go
  central/signatureintegration/datastore/telemetry.go
  central/telemetry/centralclient/instance_config.go
  central/telemetry/centralclient/interceptors.go
  pkg/telemetry/phonehome/client_config.go
  pkg/telemetry/phonehome/interceptor.go
  pkg/telemetry/phonehome/segment/segment.go
Labels: area/central
