Repository stackrox/stackrox, pull requests merged in 2022-11, with the labels that each got.

#3625 Fix vulnmanagement opname exceptions and inconsistencies for integration tests
  ui/apps/platform/cypress/helpers/vulnmanagement/entities.js
  ui/apps/platform/cypress/integration/vulnmanagement/dashboardToEntityPage.test.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cluster/VulnMgmtEntityCluster.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Component/VulnMgmtEntityComponent.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Component/VulnMgmtEntityImageComponent.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Component/VulnMgmtEntityNodeComponent.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cve/VulnMgmtEntityCve.js
Labels: area/ui

#3626 Fix configmanagement opname exceptions and inconsistencies for integration tests
  ui/apps/platform/cypress/helpers/configWorkflowUtils.js
  ui/apps/platform/src/Containers/ConfigManagement/Entity/Control.js
  ui/apps/platform/src/Containers/ConfigManagement/Entity/Deployment/Deployment.js
  ui/apps/platform/src/Containers/ConfigManagement/Entity/Role.js
  ui/apps/platform/src/Containers/ConfigManagement/Entity/Subject.js
  ui/apps/platform/src/queries/deployment.js
  ui/apps/platform/src/queries/role.js
  ui/apps/platform/src/queries/serviceAccount.js
Labels: area/ui

#3532 ROX-13226: Improve handling of NVD CVEs
  central/cve/converter/utils/convert_utils.go
  central/cve/converter/utils/convert_utils_test.go
  central/cve/converter/utils/test-fixture-cve-list.json
  tools/allowed-large-files
Labels: area/central

#3643 ROX-9858: Add central-db to the list of related images
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/manager/manager.yaml
  pkg/images/defaults/flavor.go
Labels: area/operator

#3599 Implement collection attacher component.
  ui/apps/platform/src/Components/PatternFly/BacklogListSelector.tsx
  ui/apps/platform/src/Containers/Collections/CollectionAttacher.tsx
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsFormPage.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTable.tsx
  ui/apps/platform/src/Containers/Collections/hooks/useEmbeddedCollections.ts
  ui/apps/platform/src/Containers/Collections/parser.ts
  ui/apps/platform/src/Containers/Collections/types.ts
  ui/apps/platform/src/services/CollectionsService.ts
  ui/apps/platform/src/utils/searchUtils.ts
  ui/apps/platform/src/utils/type.utils.ts
Labels: area/ui, epic/resource-collections

#3638 ROX-13377: Network Graph selection for namespace doesn't work
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils.tsx
Labels: area/ui

#3645 Add ignoreErrors option for ResizeObserver to Raven config
  ui/apps/platform/src/installRaven.js
Labels: area/ui

#3621 Scanner 2.25.5
  SCANNER_VERSION
Labels: ci-all-qa-tests

#3620 Scanner 2.26.2
  SCANNER_VERSION
Labels: ci-all-qa-tests

#3587 ROX-13204: Create endpoint to generate central db certificates
  central/certgen/central_scanner.go
  central/certgen/service.go
  pkg/mtls/crypto.go
Labels: area/central

#3534 ROX-12948 Test_DeploymentExposure: provided port is already allocated fix
  sensor/tests/resource/helper.go
  sensor/tests/resource/service/data/policies.json
  sensor/tests/resource/service/service_test.go
  sensor/tests/resource/service/yaml/nginx-service-load-balancer-30011.yaml
  sensor/tests/resource/service/yaml/nginx-service-load-balancer-30012.yaml
  sensor/tests/resource/service/yaml/nginx-service-node-port-30006.yaml
  sensor/tests/resource/service/yaml/nginx-service-node-port-30007.yaml
  sensor/tests/resource/service/yaml/nginx-service-node-port-30008.yaml
  sensor/tests/resource/service/yaml/nginx-service-node-port-30009.yaml
  sensor/tests/resource/service/yaml/nginx-service-node-port-30010.yaml
Labels: team/maple, area/sensor

#3555 ROX-12502 Add re-sync feature flag
  pkg/features/list.go
Labels: team/maple, area/sensor

#3618 Bump github.com/np-guard/cluster-topology-analyzer to 1.3.2
  go.mod
  go.sum
Labels: ok-to-test, external-contributor

#3629 :rotating_light: G111 gosec rule enabled
  .golangci.yml
Labels: ok-to-test, external-contributor

#3636 Implement read-only view of individual collection page
  ui/apps/platform/src/Components/PatternFly/BacklogListSelector.tsx
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/AutoCompleteSelect.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByLabelSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByNameSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.tsx
  ui/apps/platform/src/css/trumps.css
Labels: area/ui, epic/resource-collections

#3650 CI: Switch to containerd for k8s v1.23 support
  scripts/ci/gke.sh
Labels: ci-all-qa-tests

#3539 ROX-12623: ListCollections rest endpoint
  central/resourcecollection/service/service_impl.go
  generated/api/v1/resource_collection_service.pb.go
  generated/api/v1/resource_collection_service.pb.gw.go
  generated/api/v1/resource_collection_service.swagger.json
  proto/api/v1/resource_collection_service.proto
Labels: area/central, epic/resource-collections

#3382 ROX-13020: Propagate pagination information in SAC search helper
  central/resourcecollection/datastore/search/searcher.go
  pkg/sac/query_helper_test.go
  pkg/sac/query_testutils.go
  pkg/sac/search_helper.go
  pkg/sac/search_helper_test.go
  pkg/search/parser.go
Labels: area/auth, area/central, area/postgres

#3662 [ROX-12923] Add retries to postgres Walk op
  central/alert/datastore/datastore_impl.go
  central/apitoken/datastore/datastore_impl.go
  central/cluster/datastore/datastore_impl.go
  central/compliance/data/repository.go
  central/complianceoperator/checkresults/datastore/datastore.go
  central/detection/lifecycle/manager_impl.go
  central/group/datastore/datastore_impl.go
  central/integrationhealth/datastore/datastore_impl.go
  central/namespace/datastore/datastore.go
  central/networkbaseline/datastore/datastore_impl.go
  central/networkbaseline/manager/manager_impl.go
  central/networkgraph/entity/datastore/datastore_impl.go
  central/networkpolicies/datastore/datastore_impl.go
  central/pod/datastore/datastore_impl.go
  central/policycategory/datastore/datastore_impl.go
  central/processbaseline/datastore/datastore_impl.go
  central/pruning/pruning.go
  central/rbac/k8srole/datastore/datastore_impl.go
  central/rbac/k8srolebinding/datastore/datastore_impl.go
  central/reportconfigurations/datastore/datastore_impl.go
  central/risk/datastore/datastore_impl.go
  central/role/datastore/datastore_impl.go
  central/secret/datastore/datastore_impl.go
  central/sensor/service/connection/connection_impl.go
  central/sensor/service/pipeline/complianceoperatorresults/pipeline.go
  central/serviceaccount/datastore/datastore_impl.go
  central/signatureintegration/datastore/datastore_impl.go
  central/watchedimage/datastore/datastore_impl.go
  pkg/postgres/pgutils/retry.go
Labels: area/central, area/postgres

#3528 ROX-12614: Collection Update Workflow
  central/resourcecollection/datastore/datastore.go
  central/resourcecollection/datastore/datastore_impl.go
  central/resourcecollection/datastore/datastore_impl_test.go
  central/resourcecollection/datastore/mocks/datastore.go
Labels: area/central, epic/resource-collections

#3460 ROX-12763: Forward claims from IdP to Rox token
  generated/api/v1/auth_service.swagger.json
  generated/api/v1/authprovider_service.swagger.json
  generated/storage/auth_provider.pb.go
  pkg/auth/authproviders/backend_factory.go
  pkg/auth/authproviders/basic/backend_factory_impl.go
  pkg/auth/authproviders/iap/backend_factory_impl.go
  pkg/auth/authproviders/oidc/backend_factory_impl.go
  pkg/auth/authproviders/oidc/backend_impl.go
  pkg/auth/authproviders/oidc/backend_impl_test.go
  pkg/auth/authproviders/oidc/map_claims_test.go
  pkg/auth/authproviders/oidc/wrappers.go
  pkg/auth/authproviders/openshift/backend_factory_impl.go
  pkg/auth/authproviders/provider_default_options.go
  pkg/auth/authproviders/provider_impl.go
  pkg/auth/authproviders/provider_options.go
  pkg/auth/authproviders/registry_httphandler_test.go
  pkg/auth/authproviders/saml/backend_factory_impl.go
  pkg/auth/authproviders/userpki/backend_factory_impl.go
  proto/storage/auth_provider.proto
Labels: area/auth

#2683 ROX-11009: Re-enable Vulnerability management SAC end-to-end test "Verify role based scoping on vuln mgmt" in postgres mode
  qa-tests-backend/src/test/groovy/VulnMgmtSACTest.groovy
Labels: team/merlin, area/postgres

#3322 ROX-12934: Fix operator reconciliation when external DB is in use
  operator/apis/platform/v1alpha1/central_types.go
  operator/apis/platform/v1alpha1/zz_generated.deepcopy.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/pkg/central/extensions/common_test.go
  operator/pkg/central/extensions/reconcile_central_db_password.go
  operator/pkg/central/extensions/reconcile_central_db_password_test.go
  operator/pkg/central/extensions/reconcile_pvc.go
  operator/pkg/central/extensions/reconcile_pvc_test.go
  operator/pkg/central/extensions/reconcile_tls.go
  operator/pkg/central/values/translation/translation.go
  operator/tests/central/basic/75-assert.yaml
  operator/tests/central/basic/75-enable-central-db-external.yaml
  operator/tests/central/basic/75-errors.yaml
  operator/tests/central/basic/76-assert.yaml
  operator/tests/central/basic/76-switch-central-db-to-internal.yaml
Labels: area/operator

#3666 ROX-13402: Filter by pass or fail in Configuration Management Controls integration tests
  ui/apps/platform/cypress/constants/ConfigManagementPage.js
  ui/apps/platform/cypress/helpers/configWorkflowUtils.js
  ui/apps/platform/cypress/integration/configmanagement/ciscontrols.test.js
Labels: area/ui

#3613 bump collector (3.11.2) to update base image and fix CVEs
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#3655 ROX-13405: Prevent exception from groupsbatch request in auth providers integration test
  ui/apps/platform/cypress/integration/accessControl/accessControlAuthProviders.test.js
Labels: area/ui

#3104 Revert "Add debug logs"
  central/deployment/datastore/datastore_impl.go
  central/reprocessor/reprocessor.go
  central/risk/manager/manager.go
  central/risk/scorer/deployment/scorer.go
  pkg/debug/verbose_log.go
  pkg/debug/verbose_log_test.go
Labels: area/central

#3685 Fix AddCluster error with cluster exists
  central/cluster/datastore/datastore_impl.go
  central/cluster/datastore/datastore_impl_test.go
Labels: area/central

#3598 Fully remove envisolator package
  central/detection/alertmanager/alert_manager_impl_test.go
  central/networkgraph/flow/datastore/internal/store/postgres/flow_impl_test.go
  central/sensorupgrade/service/service_impl_test.go
  pkg/testutils/envisolator/env_isolator.go
Labels: area/auth, area/central, area/ui, area/operator, area/sensor, area/postgres

#3656 Add benchmark to sensor message processing
  Makefile
  sensor/debugger/central/communicate_server.go
  sensor/tests/pipeline/bench_test.go
Labels: area/sensor

#3693 Porridge/rox 12487 elliminate error
  operator/pkg/proxy/translation.go
  operator/pkg/proxy/translation_test.go
  operator/pkg/securedcluster/reconciler/reconciler.go
Labels: area/operator

#406 Avoid creating a new HTTP client and transport for each Splunk request
  central/notifiers/splunk/splunk.go
Labels: area/central

#3673 Bump collector version
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#3692 ROX-12934: Add a comment from review thread.
  operator/pkg/central/values/translation/translation.go
Labels: area/operator

#3169 ROX-12320: Update the list of tests that should be considered "version compatibility"
  qa-tests-backend/Makefile
  qa-tests-backend/scripts/run-compatibility.sh
  qa-tests-backend/src/test/groovy/AuthServiceTest.groovy
  qa-tests-backend/src/test/groovy/AutocompleteTest.groovy
  qa-tests-backend/src/test/groovy/CertExpiryTest.groovy
  qa-tests-backend/src/test/groovy/DefaultPoliciesTest.groovy
  qa-tests-backend/src/test/groovy/DiagnosticBundleTest.groovy
  qa-tests-backend/src/test/groovy/K8sRbacTest.groovy
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
  qa-tests-backend/src/test/groovy/ProcessBaselinesTest.groovy
  qa-tests-backend/src/test/groovy/ReconciliationTest.groovy
  qa-tests-backend/src/test/groovy/RuntimeViolationLifecycleTest.groovy
  qa-tests-backend/src/test/groovy/SecretsTest.groovy
  qa-tests-backend/src/test/groovy/SummaryTest.groovy
  qa-tests-backend/src/test/groovy/UpgradesTest.groovy
  qa-tests-backend/src/test/groovy/groups/groups.groovy
Labels: team/maple

#3615 ROX-13263: Add namespaces to deployments search options
  central/globalindex/mapping/mapping.go
  tests/options_test.go
  ui/apps/platform/cypress/integration/networkGraph/networkGraph.test.js
  ui/apps/platform/cypress/integration/risk/risk.test.js
Labels: area/central, area/ui

#3654 ROX-13263: Remove unecessary options from search categories
  central/globalindex/mapping/mapping.go
  tests/options_test.go
Labels: area/central, area/ui

#3653 ROX-12503 implement sensor's pipeline component
  pkg/env/sensor.go
  sensor/kubernetes/eventpipeline/component/component.go
  sensor/kubernetes/eventpipeline/component/message.go
  sensor/kubernetes/eventpipeline/component/mocks/component.go
  sensor/kubernetes/eventpipeline/output/output.go
  sensor/kubernetes/eventpipeline/output/output_impl.go
  sensor/kubernetes/eventpipeline/pipeline.go
  sensor/kubernetes/eventpipeline/pipeline_impl.go
  sensor/kubernetes/listener/listener.go
  sensor/kubernetes/listener/listener_impl.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/resource_event_handler_impl.go
  sensor/kubernetes/listener/resource_event_handler_impl_test.go
  sensor/kubernetes/listener/resources/clusteroperator.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorprofiles.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorresults.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorrules.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorscans.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorscansettingbindings.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatortailoredprofiles.go
  sensor/kubernetes/listener/resources/convert.go
  sensor/kubernetes/listener/resources/deployments.go
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/kubernetes/listener/resources/jobs.go
  sensor/kubernetes/listener/resources/mocks/dispatcher.go
  sensor/kubernetes/listener/resources/namespace.go
  sensor/kubernetes/listener/resources/networkpolicy.go
  sensor/kubernetes/listener/resources/networkpolicy_test.go
  sensor/kubernetes/listener/resources/node.go
  sensor/kubernetes/listener/resources/rbac/dispatcher.go
  sensor/kubernetes/listener/resources/rbac/store_impl_test.go
  sensor/kubernetes/listener/resources/route.go
  sensor/kubernetes/listener/resources/secrets.go
  sensor/kubernetes/listener/resources/service.go
  sensor/kubernetes/listener/resources/serviceaccount.go
  sensor/kubernetes/sensor/sensor.go
Labels: team/maple, area/sensor

#3674 Bump scanner to 2.26.x-17-gff99348b0d
  SCANNER_VERSION
Labels: ci-all-qa-tests

#3649 ROX-13169: Adding flows table
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.css
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
Labels: area/ui

#3684 ROX-13362: Add search label to collection's Id field
  generated/storage/resource_collection.pb.go
  pkg/search/options.go
  proto/storage/resource_collection.proto
Labels: epic/resource-collections

#3646 ROX-11829: Diagnostic bundles generated contain info about central's environment if flag is set
  central/debug/service/diagnostics.go
  central/debug/service/service.go
  central/telemetry/gatherers/rox.go
  image/templates/helm/stackrox-central/templates/01-central-03-diagnostics-rbac.yaml
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  pkg/env/central_diagnostics.go
Labels: area/central, area/helm

#3668 ROX-13171: Add bulk actions for flows table
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.css
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
Labels: area/ui

#3644 Implement create/clone/edit functionality for collection form
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsFormPage.tsx
Labels: area/ui, epic/resource-collections

#3637 Add collection request generating function
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsFormPage.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByLabelSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByNameSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.test.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.tsx
  ui/apps/platform/src/Containers/Collections/converter.test.ts
  ui/apps/platform/src/Containers/Collections/converter.ts
  ui/apps/platform/src/Containers/Collections/parser.ts
  ui/apps/platform/src/Containers/Collections/types.ts
Labels: area/ui, epic/resource-collections

#3699 ROX-13368: Skip failing nongroovy tests
  tests/active_vuln_test.go
  tests/backup_test.go
  tests/feature_flag_test.go
  tests/roxctl/istio-support.sh
Labels: area/postgres

#3678 ROX-13170: Adding table row actions for flows table
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
Labels: area/ui

#3703 ROX-13427: Fix network graph side panel height issue
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.css
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
Labels: area/ui

#3541 ROX-13123, ROX-13124: Redirect to clusters page when no secured clusters detected
  ui/apps/platform/cypress/helpers/clusters.js
  ui/apps/platform/cypress/integration/clusters/clusters.test.js
  ui/apps/platform/src/Containers/Clusters/AddClusterPrompt.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.js
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
  ui/apps/platform/src/images/Security_FullColor_Pink.svg
Labels: area/ui

#3469 ROX-13034: fix gRPC scanner
  CHANGELOG.md
  central/imageintegration/store/defaults.go
  pkg/env/sensor.go
  pkg/scanners/clairify/clairify.go
Labels: area/central

#3671 ROX-13226: Add panic handler for Istio updateCVEs
  central/cve/fetcher/istio.go
  central/cve/fetcher/istio_test.go
Labels: area/central

#3718 ROX-9858: Override central-db img with RELATED_IMAGE_CENTRAL_DB
  operator/pkg/central/values/translation/image_overrides.go
  operator/pkg/images/env.go
Labels: area/operator

#3701 Implement permission checks for Collection UI routes and functionality
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/ResourceDescription.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsPage.tsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/types/roleResources.ts
Labels: area/ui, epic/resource-collections

#3116 ROX-11101: Remove deprecated resources from QA tests
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
  qa-tests-backend/src/test/groovy/DiagnosticBundleTest.groovy
  qa-tests-backend/src/test/groovy/RbacAuthTest.groovy
  qa-tests-backend/src/test/groovy/SACTest.groovy
Labels: area/ui

#3648 [ROX-13030] : Add delete collection API endpoint and service implementation
  central/resourcecollection/service/service_impl.go
  central/resourcecollection/service/service_impl_test.go
  generated/api/v1/resource_collection_service.pb.go
  generated/api/v1/resource_collection_service.pb.gw.go
  generated/api/v1/resource_collection_service.swagger.json
  proto/api/v1/resource_collection_service.proto
Labels: area/central, epic/resource-collections

#3537 Dashrews/ROX-13253 wait for central-db to come back after bounce and allow FATAL connection lost error
  tests/e2e/lib.sh
  tests/upgrade/postgres_run.sh
Labels: area/postgres

#3540 ROX-13231: use passed context when non-postgres
  central/graphql/resolvers/cluster_vulnerabilities.go
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/node_components.go
  central/graphql/resolvers/node_vulnerabilities.go
  central/graphql/resolvers/nodes.go
Labels: area/central

#3707 Add centralDBOnly mode in render
  image/templates/common/deploy-central-db.sh.tpl
  image/templates/helm/stackrox-central/.helmtplignore.htpl
  image/templates/helm/stackrox-central/templates/01-central-05-db-tls-secret.yaml
  image/templates/helm/stackrox-central/templates/01-central-05-tls-secret.yaml
  image/templates/helm/stackrox-central/templates/01-central-11-db-pvc.yaml
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  image/templates/helm/stackrox-central/templates/_central_setup.tpl
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  pkg/renderer/central_db_test.go
  pkg/renderer/helm_values.go
  pkg/renderer/images.go
  pkg/renderer/kubernetes.go
  pkg/renderer/mode_string.go
  pkg/renderer/readme.go
  pkg/renderer/render_new.go
Labels: area/helm

#3679 Dashrews/ROX-13082 UUID searcher and common updates to set allow use of postgres UUID PR 1 of 4
  pkg/postgres/pgutils/utils.go
  pkg/postgres/walker/types.go
  pkg/search/postgres/common.go
  pkg/search/postgres/query/common.go
  pkg/search/postgres/query/query_functions.go
  pkg/search/postgres/query/uuid_query.go
  pkg/search/postgres/query_metadata.go
Labels: area/postgres

#3705 ROX-13259: graphInit called during init time
  central/main.go
  central/resourcecollection/datastore/datastore.go
  central/resourcecollection/datastore/datastore_impl.go
  central/resourcecollection/datastore/datastore_impl_test.go
  central/resourcecollection/datastore/singleton.go
  central/resourcecollection/service/singleton.go
Labels: area/central, epic/resource-collections

#3641 ROX-13380: Conditional rendering edges for deployments and namespaces
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils.tsx
Labels: area/ui

#3220 ROX-12319: implement smoke test step with groovy test filter
  .openshift-ci/ci_tests.py
  .openshift-ci/compatibility_test.py
  qa-tests-backend/src/test/groovy/AutocompleteTest.groovy
  scripts/ci/jobs/gke_version_compatibility_tests.py
Labels: team/maple

#3661 ROX-11826: Disable kernel support package uploads for managed central
  central/main.go
  central/probeupload/service/service_impl.go
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  pkg/env/kernel_package_upload.go
  pkg/httputil/handler.go
  pkg/utils/if_then_else.go
Labels: area/central, area/helm

#3036 ROX-11101: Remove deprecated resources
  CHANGELOG.md
  migrator/migrations/m_110_to_m_111_replace_deprecated_resources/migration.go
  migrator/migrations/m_110_to_m_111_replace_deprecated_resources/migration_test.go
  migrator/runner/all.go
  pkg/migrations/internal/seq_num.go
Labels: area/central

#3672 Generalize User-Agent setup
  central/main.go
  compliance/collection/main.go
  pkg/clientconn/client.go
  pkg/clientconn/useragent.go
  pkg/grpc/server.go
  roxctl/common/client.go
  roxctl/common/flags.go
  roxctl/common/useragent.go
  roxctl/main.go
  sensor/admission-control/main.go
  sensor/common/centralclient/client.go
  sensor/kubernetes/main.go
  sensor/upgrader/main.go
  sensor/upgrader/upgradectx/context.go
Labels: area/roxctl, area/central, area/sensor, area/admission-controller

#3736 Bumps collector version to 3.11.x-145-gc345f72f5e
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#3730 ROX-13440: Replace ambiguous central with sensor in networkGraph integration test
  ui/apps/platform/cypress/integration/networkGraph/networkGraph.test.js
Labels: area/ui

#3706 ensure CVSS is present for istio vulns
  central/cve/converter/utils/convert_utils.go
  central/cve/converter/utils/convert_utils_test.go
  central/cve/converter/utils/testdata/istio/README.md
  central/cve/converter/utils/testdata/istio/cve-list-panic.json
  central/cve/converter/utils/testdata/istio/cve-list.json
  central/cve/fetcher/istio.go
  central/cve/fetcher/manager_impl_postgres_test.go
  central/cve/fetcher/manager_impl_test.go
  central/cve/fetcher/mock_scanner.go
  tools/allowed-large-files
Labels: area/central

#3748 ROX-13452: don't always clobber scoped ctx when non-postgres
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/node_components.go
  central/graphql/resolvers/nodes.go
Labels: area/central

#3687 ROX-13261: DryRunUpdate on collection datastore
  central/resourcecollection/datastore/datastore.go
  central/resourcecollection/datastore/datastore_impl.go
  central/resourcecollection/datastore/datastore_impl_test.go
  central/resourcecollection/datastore/mocks/datastore.go
Labels: area/central, epic/resource-collections

#3690 ROX-13378: Group new resources with deprecated in UI
  central/main.go
  ui/apps/platform/cypress/integration/accessControl/accessControlPermissionSets.test.js
  ui/apps/platform/src/Containers/AccessControl/AccessControl.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionsTable.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/ResourceDescription.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsNoPermission.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsPage.tsx
  ui/apps/platform/src/Containers/User/UserPermissionsTable.tsx
  ui/apps/platform/src/constants/accessControl.ts
  ui/apps/platform/src/hooks/usePermissions.ts
  ui/apps/platform/src/reducers/roles.js
  ui/apps/platform/src/types/roleResources.ts
Labels: area/auth, area/central, area/ui

#3740 ROX-13421: Enable roxctl netpol generate and add tech-preview messages
  pkg/features/list.go
  roxctl/generate/README.md
  roxctl/generate/netpol/netpol.go
  roxctl/help/help.properties
  tests/roxctl/bats-tests/local/roxctl-netpol-generate-development.bats
  tests/roxctl/bats-tests/local/roxctl-netpol-generate-release.bats
Labels: area/roxctl

#3582 Fixing deploy/k8s/deploy.sh and deploy/k8s/deploy-local.sh
  deploy/k8s/deploy-local.sh
  deploy/k8s/deploy.sh
  scripts/style/shellcheck_skip.txt
Labels: ok-to-test, external-contributor

#3694 Dashrews/ROX-13082 UUID test updates PR 3 of 4
  central/alert/datastore/datastore_sac_test.go
  central/alerttest/alert.go
  central/cluster/datastore/datastore_sac_test.go
  central/deployment/datastore/datastore_impl_postgres_test.go
  central/deployment/datastoretest/datastore_sac_test.go
  central/networkbaseline/datastore/datastore_impl_test.go
  central/node/datastore/dackbox/datastore/datastore_impl_postgres_test.go
  central/node/datastore/dackbox/datastore/datastore_sac_test.go
  central/node/globaldatastore/datastore_sac_test.go
  central/notifiers/common_test.go
  central/notifiers/format_test.go
  central/postgres/pruning_test.go
  central/processbaseline/datastore/datastore_impl_test.go
  central/processindicator/datastore/datastore_impl_test.go
  central/search/service/service_impl_test.go
  central/serviceaccount/datastore/datastore_impl_test.go
  pkg/fixtures/alert.go
  pkg/fixtures/deployment.go
  pkg/fixtures/fixtureconsts/fixture_consts.go
  pkg/fixtures/network_baseline.go
  pkg/fixtures/node.go
  pkg/fixtures/service_account.go
  pkg/sac/testconsts/sac_consts.go
Labels: area/auth, area/central, area/postgres

#3675 Move integration tests for page title from general to specific containers
  ui/apps/platform/cypress/helpers/title.js
  ui/apps/platform/cypress/integration/accessControl/accessControlAccessScopes.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlAuthProviders.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlPermissionSets.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlRoles.test.js
  ui/apps/platform/cypress/integration/apiReference.test.js
  ui/apps/platform/cypress/integration/clusters/clusters.test.js
  ui/apps/platform/cypress/integration/collections/collectionsTable.test.js
  ui/apps/platform/cypress/integration/compliance/complianceDashboard.test.js
  ui/apps/platform/cypress/integration/configmanagement/dashboard.test.js
  ui/apps/platform/cypress/integration/general.test.js
  ui/apps/platform/cypress/integration/integrations/general.test.js
  ui/apps/platform/cypress/integration/networkGraph/network.test.js
  ui/apps/platform/cypress/integration/risk/risk.test.js
  ui/apps/platform/cypress/integration/systemHealth/systemHealthGeneral.test.js
  ui/apps/platform/cypress/integration/systemHealthPatternFly/systemHealthGeneral.test.js
  ui/apps/platform/cypress/integration/systemconfig.test.js
  ui/apps/platform/cypress/integration/userinfo.test.js
  ui/apps/platform/cypress/integration/violations/violations.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/dashboard.test.js
Labels: area/ui

#3602 ROX-12824: Add roxctl commands to generate Central DB bundle
  roxctl/central/db/db.go
  roxctl/central/db/generate/generate.go
  roxctl/central/db/generate/k8s.go
  roxctl/central/db/generate/validate.go
  roxctl/central/db/generate/volumes.go
  roxctl/central/generate/k8s.go
  roxctl/common/output_dir.go
  roxctl/common/zipdownload/download_zip.go
  roxctl/help/help.properties
  roxctl/properties/properties_test.go
  tests/roxctl/bats-tests/cluster/centraldb-generate.bats
Labels: area/roxctl, area/central, area/helm

#3764 cleanup image digest utilities
  central/detection/service/service_impl.go
  central/image/service/service_impl.go
  central/reprocessor/reprocessor.go
  pkg/images/enricher/enricher_impl.go
  pkg/images/types/digest.go
  pkg/images/types/digest_test.go
  pkg/images/utils/utils.go
  pkg/images/utils/utils_test.go
  sensor/common/scan/scan.go
Labels: area/central, area/sensor

#3438 ROX-11931: Convert junit failure artifacts to Slack attachments
  scripts/ci/lib.sh
Labels: area/central

#3750 ROX-13432: Cleaning up unused code copied/pasted from topology demo
  ui/apps/platform/src/Containers/NetworkGraph/components/DefaultEdge.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/DefaultGroup.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/DemoDefaultNode.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleEdge.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleGroup.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/defaultComponentFactory.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/stylesComponentFactory.tsx
Labels: area/ui

#3744 Refactor collection form page for better composition
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsFormPage.tsx
  ui/apps/platform/src/Containers/Collections/converter.ts
Labels: area/ui

#3761 Remove babel devDependencies in ui-components
  ui/packages/ui-components/package.json
  ui/yarn.lock
Labels: area/ui

#3746 Extract collection fetching code into hook
  ui/apps/platform/src/Containers/Collections/CollectionsFormPage.tsx
  ui/apps/platform/src/Containers/Collections/hooks/useCollection.ts
Labels: area/ui

#3745 Extract collection form from drawer wrapper layout
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/CollectionFormDrawer.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsFormPage.tsx
  ui/apps/platform/src/Containers/Collections/hooks/useCollection.ts
Labels: area/ui

#3749 [ROX-12625 + ROX-13032] : Add GetCollectionCount and UpdateCollection endpoints and services
  central/resourcecollection/datastore/datastore.go
  central/resourcecollection/datastore/datastore_impl.go
  central/resourcecollection/datastore/datastore_impl_test.go
  central/resourcecollection/service/service_impl.go
  central/resourcecollection/service/service_impl_test.go
  generated/api/v1/resource_collection_service.pb.go
  generated/api/v1/resource_collection_service.pb.gw.go
  generated/api/v1/resource_collection_service.swagger.json
  proto/api/v1/resource_collection_service.proto
Labels: area/central, epic/resource-collections

#3760 Upgrade cypress 11.0.0 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#3688 ROX-13068: Use real data for deployment details
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/networkGraphUtils.ts
  ui/apps/platform/src/hooks/useFetchDeployment.ts
Labels: area/ui

#3683 ROX-12617: Collection to search query converter
  central/resourcecollection/datastore/datastore.go
  central/resourcecollection/datastore/datastore_impl.go
  central/resourcecollection/datastore/datastore_impl_test.go
  central/resourcecollection/datastore/mocks/datastore.go
Labels: area/central, epic/resource-collections

#3714 ROX-13067: fill out port configurations section of deployment details
  ui/apps/platform/src/Components/DeploymentPortConfig.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.tsx
Labels: area/ui

#3533 ROX-12835: Add support for NodeScanV2 to Sensor
  central/sensor/service/pipeline/all/factory.go
  central/sensor/service/pipeline/nodescansv2/pipeline.go
  generated/internalapi/central/sensor_events.pb.go
  go.mod
  go.sum
  pkg/centralsensor/caps_list.go
  pkg/metrics/resource_string.go
  pkg/metrics/resources.go
  proto/internalapi/central/sensor_events.proto
  sensor/common/compliance/auditlog_manager_impl.go
  sensor/common/compliance/auditlog_manager_test.go
  sensor/common/compliance/nodescan_handler.go
  sensor/common/compliance/nodescan_handler_impl.go
  sensor/common/compliance/nodescan_handler_test.go
  sensor/common/compliance/service.go
  sensor/common/compliance/service_impl.go
  sensor/kubernetes/sensor/sensor.go
Labels: team/maple, area/central, area/sensor

#3756 ROX-13466: Fix deletion of groups with empty properties
  central/group/datastore/datastore.go
  central/group/datastore/datastore_impl.go
  central/group/datastore/datastore_test.go
  central/group/datastore/mocks/datastore.go
  central/group/datastore/singleton.go
Labels: area/central

#3676 Add autocomplete for name selector dropdowns
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/AutoCompleteSelect.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByLabelSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByNameSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.test.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.tsx
  ui/apps/platform/src/Containers/Dashboard/hooks/useRestQuery.ts
  ui/apps/platform/src/services/CollectionsService.ts
  ui/apps/platform/src/test-utils/mocks/@patternfly/react-core.tsx
Labels: area/ui, epic/resource-collections

#3787 [ROX-13500] Perform type check for V1 CronJob
  CHANGELOG.md
  central/detection/service/service_impl_test.go
  pkg/protoconv/resources/resources.go
  pkg/protoconv/resources/resources_test.go
Labels: area/central

#3776 Remove bulk delete from collections table
  ui/apps/platform/src/Containers/Collections/CollectionsTable.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTablePage.tsx
Labels: area/ui

#3788 Add more info in migration log
  migrator/main.go
Labels: do-not-merge/work-in-progress

#3790 ROX-13502: Remove the circular dependency between cluster datastore init and cscc notifier init
  central/notifiers/cscc/cscc.go
  central/notifiers/cscc/cscc_test.go
Labels: area/central

#3774 Update SCANNER_VERSION
  SCANNER_VERSION
Labels: ci-all-qa-tests

#3754 Bump controller-gen version to 0.10.0
  operator/Makefile
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
Labels: area/operator

#3799 Untie documentation link from the product version
  ui/apps/platform/src/Containers/Clusters/AddClusterPrompt.tsx
Labels: area/ui

#3777 Validate that label keys are valid k8s labels and ensure correct key splitting
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/converter.test.ts
  ui/apps/platform/src/Containers/Collections/converter.ts
Labels: area/ui, epic/resource-collections

#3657 Rename variable ScannerGRPCEndpoint to ScannerSlimGRPCEndpoint
  pkg/env/sensor.go
  sensor/common/scannerclient/singleton.go
Labels: area/sensor

#3720 ROX-13378: Access Control page permissions
  ui/apps/platform/cypress/integration/accessControl/accessControlAccessScopes.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlAuthProviders.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlPermissionSets.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlRoles.test.js
  ui/apps/platform/src/Containers/AccessControl/AccessControl.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessControlNoPermission.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopeFormWrapper.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopes.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopesList.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviders.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionSetForm.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionSets.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionSetsList.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/ResourceDescription.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/RoleForm.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/Roles.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/RolesList.tsx
Labels: area/ui

#3796 fix Operator reconciliation for external Central DB
  operator/pkg/central/extensions/reconcile_tls.go
  pkg/mtls/cn_test.go
Labels: area/operator

#3795 ROX-13505: Fix error log scanning the postgres stat collection
  central/globaldb/postgres.go
Labels: area/central, area/postgres, turbo-build

#3778 Prevent the collection being edited from displaying in its own embedded list
  ui/apps/platform/src/Containers/Collections/CollectionAttacher.tsx
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/hooks/useEmbeddedCollections.ts
Labels: area/ui

#3793 [ROX-13441][POSTGRES] Propagate context correctly in retries
  pkg/search/postgres/common.go
Labels: area/postgres

#3792 [ROX-13525] : Change getCollectionCount endpoint and updateCollection request type
  generated/api/v1/resource_collection_service.pb.go
  generated/api/v1/resource_collection_service.pb.gw.go
  generated/api/v1/resource_collection_service.swagger.json
  proto/api/v1/resource_collection_service.proto
Labels: epic/resource-collections

#3747 Add ability to view embedded collections in a pop up modal
  ui/apps/platform/src/Containers/Collections/CollectionAttacher.tsx
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/CollectionFormDrawer.tsx
  ui/apps/platform/src/Containers/Collections/CollectionFormModal.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsFormPage.tsx
Labels: area/ui, epic/resource-collections

#3704 ROX-13240: fix scanner-slim updates when WebSockets are used
  pkg/clientconn/client.go
  pkg/clientconn/client_test.go
  sensor/common/scannerdefinitions/http_handler.go
  sensor/common/scannerdefinitions/http_handler_test.go
Labels: area/sensor

#3812 Add more context to jira notifier logs
  central/notifiers/jira/jira.go
Labels: area/central

#3766 ROX-13031: DryRun Collection API
  central/resourcecollection/service/service_impl.go
  generated/api/v1/resource_collection_service.pb.go
  generated/api/v1/resource_collection_service.pb.gw.go
  generated/api/v1/resource_collection_service.swagger.json
  proto/api/v1/resource_collection_service.proto
Labels: area/central, epic/resource-collections

#3762 Update UI Collection requests for BE compatibiltiy
  ui/apps/platform/cypress/helpers/collections.js
  ui/apps/platform/src/Containers/Collections/CollectionsTable.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTablePage.tsx
  ui/apps/platform/src/Containers/Collections/hooks/useCollection.ts
  ui/apps/platform/src/Containers/Collections/hooks/useEmbeddedCollections.ts
  ui/apps/platform/src/services/CollectionsService.ts
Labels: area/ui, epic/resource-collections

#3816 Bugfixes for collection autocomplete
  ui/apps/platform/src/Containers/Collections/RuleSelector/AutoCompleteSelect.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.tsx
Labels: area/ui

#2479 ROX-9350 Use fine-grained host paths for compliance mounts
  CHANGELOG.md
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml
Labels: ci-all-qa-tests, area/helm

#3826 Fix collector volumeMounts
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml
Labels: area/helm

#3611 ROX-12953: figure out last 4 versions of sensor automatically
  .openshift-ci/get_latest_release_versions.py
  scripts/ci/jobs/gke_version_compatibility_tests.py
Labels: team/maple

#3686 Replace requestConfig with routeMatcherMap in helper functions for integration tests
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/helpers/clusters.js
  ui/apps/platform/cypress/helpers/collections.js
  ui/apps/platform/cypress/helpers/compliance.js
  ui/apps/platform/cypress/helpers/configWorkflowUtils.js
  ui/apps/platform/cypress/helpers/credentialExpiry.js
  ui/apps/platform/cypress/helpers/main.js
  ui/apps/platform/cypress/helpers/nav.js
  ui/apps/platform/cypress/helpers/networkGraph.js
  ui/apps/platform/cypress/helpers/policies.js
  ui/apps/platform/cypress/helpers/request.js
  ui/apps/platform/cypress/helpers/risk.js
  ui/apps/platform/cypress/helpers/systemConfig.js
  ui/apps/platform/cypress/helpers/systemHealth.js
  ui/apps/platform/cypress/helpers/violations.js
  ui/apps/platform/cypress/helpers/visit.js
  ui/apps/platform/cypress/helpers/vulnmanagement/entities.js
  ui/apps/platform/cypress/helpers/vulnmanagement/reporting.js
  ui/apps/platform/cypress/integration/accessControl/accessControlAuthProviders.test.js
  ui/apps/platform/cypress/integration/apiReference.test.js
  ui/apps/platform/cypress/integration/logout.test.js
  ui/apps/platform/cypress/integration/risk/risk.test.js
Labels: area/ui

#3830 `gosec` G104: Add `ShouldErr(err)` that returns `err`
  central/clustercveedge/datastore/datastore_impl.go
  central/clustercveedge/datastore/store/postgres/full_store.go
  central/globaldb/v2backuprestore/manager/restore_process.go
  central/graphql/resolvers/cluster_vulnerabilities.go
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/node_components.go
  central/graphql/resolvers/node_vulnerabilities.go
  central/graphql/resolvers/nodes.go
  central/image/service/service_impl.go
  central/integrationhealth/datastore/datastore_impl.go
  central/networkbaseline/manager/manager_impl.go
  central/policy/service/service_impl.go
  central/risk/handlers/timeline/csv.go
  central/sac/authorizer/builtin_scoped_authorizer.go
  central/sensor/service/connection/upgradecontroller/upgrade_controller.go
  central/sensor/telemetry/controller_impl.go
  central/sensorupgrade/controlservice/service_impl.go
  compliance/collection/main.go
  operator/pkg/common/extensions/secret_reconciliator.go
  pkg/auth/authproviders/provider_impl.go
  pkg/auth/authproviders/userpki/backend_factory_impl.go
  pkg/auth/authproviders/userpki/backend_impl.go
  pkg/booleanpolicy/augmentedobjs/construct.go
  pkg/booleanpolicy/evaluator/pathutil/filter_linked.go
  pkg/cloudproviders/azure/attested_vmid.go
  pkg/cloudproviders/gcp/cert_set.go
  pkg/cloudproviders/gcp/identity_token.go
  pkg/grpc/metrics/grpc_metrics_impl.go
  pkg/httputil/proxy/dial.go
  pkg/httputil/proxy/proxy.go
  pkg/k8sutil/unstructured.go
  pkg/renderer/kubernetes.go
  pkg/renderer/readme.go
  pkg/safe/run.go
  pkg/search/blevesearch/common.go
  pkg/utils/must.go
  roxctl/collector/supportpackages/upload/upload.go
  sensor/admission-control/certs.go
  sensor/admission-control/fetchcerts/fetch_certs.go
  sensor/common/scannerclient/singleton.go
  sensor/common/sensor/sensor.go
  sensor/kubernetes/listener/resources/rbac/evaluator.go
  sensor/kubernetes/listener/resources/secrets.go
  sensor/kubernetes/upgrade/process.go
  sensor/upgrader/bundle/fetcher.go
  sensor/upgrader/resources/metadata.go
  sensor/upgrader/snapshot/snapshotter.go
Labels: area/roxctl, area/auth, area/central, area/operator, area/sensor, area/admission-controller

#3785 Delete unneeded react-is devDependencies in ui-components
  ui/packages/ui-components/package.json
Labels: area/ui

#3818 ROX-13326: Access control UUID support in the UI
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopeForm.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopeFormWrapper.tsx
  ui/apps/platform/src/services/AccessScopesService.ts
Labels: area/ui

#3843 Fix TLSChallenge certificate test flake and increase cert expiry date
  central/tlsconfig/tlsconfig.go
  sensor/common/centralclient/client_test.go
  sensor/common/centralclient/testdata/additional-ca.yaml
  sensor/common/centralclient/testdata/central-ca.pem
Labels: area/central, area/operator, area/sensor

#3780 ROX-13168: Add traffic filters
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.css
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/flows/AdvancedFlowsFilter.tsx
  ui/apps/platform/src/Containers/NetworkGraph/flows/advancedFlowsFilterUtils.test.ts
  ui/apps/platform/src/Containers/NetworkGraph/flows/advancedFlowsFilterUtils.ts
  ui/apps/platform/src/Containers/NetworkGraph/flows/types.ts
Labels: area/ui

#3822 ROX-13172: Add toggle to alert on baseline violations
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentBaselines.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
Labels: area/ui

#3813 Scanner 2.27.2
  SCANNER_VERSION
Labels: ci-all-qa-tests

#3850 Revert fine-grained host paths for compliance mounts
  CHANGELOG.md
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml
Labels: pls-merge, area/helm

#3791 ROX-13167: Adding search filter by entity
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
Labels: area/ui

#3814 ROX-13228: Performance benchmarking baselines for collection workflows
  central/resourcecollection/datastore/datastore_bench_test.go
Labels: area/central, epic/resource-collections

#3855 CI: Use COS for some E2E
  scripts/ci/jobs/gke_postgres_qa_e2e_tests.py
  scripts/ci/jobs/gke_qa_e2e_tests.py
  scripts/ci/jobs/gke_race_condition_qa_e2e_tests.py
  tests/e2e/lib.sh
Labels: ci-all-qa-tests

#3802 ROX-13326: Use UUID columns for roles, permissionsets and simpleaccessscopes in postgres mode.
  central/role/accessscope_ids.go
  central/role/datastore/permissionset_ids.go
  central/role/datastore/singleton.go
  central/role/default.go
  central/role/store/permissionset/postgres/store.go
  central/role/store/simpleaccessscope/postgres/store.go
  central/role/validate.go
  central/role/validate_test.go
  generated/storage/role.pb.go
  migrator/migrations/frozenschema/v73/permission_sets.go
  migrator/migrations/frozenschema/v73/simple_access_scopes.go
  migrator/migrations/n_37_to_n_38_postgres_permission_sets/migration.go
  migrator/migrations/n_37_to_n_38_postgres_permission_sets/migration_test.go
  migrator/migrations/n_46_to_n_47_postgres_roles/migration.go
  migrator/migrations/n_46_to_n_47_postgres_roles/migration_test.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/legacypermissionsets/rocksdb_plugin.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/legacyroles/rocksdb_plugin.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/legacysimpleaccessscopes/rocksdb_plugin.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/migration.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/migration_test.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/postgrespermissionsets/postgres_plugin.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/postgresroles/postgres_plugin.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/postgressimpleaccessscopes/postgres_plugin.go
  pkg/postgres/schema/permission_sets.go
  pkg/postgres/schema/simple_access_scopes.go
  proto/storage/role.proto
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/SACTest.groovy
  ui/apps/platform/cypress/integration/accessControl/accessControlPermissionSets.test.js
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopeForm.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopeFormWrapper.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/Roles.tsx
  ui/apps/platform/src/services/AccessScopesService.ts
Labels: area/central, area/ui, area/postgres

#3786 Delete unneeded node types devDependencies in ui
  ui/apps/platform/package.json
  ui/packages/ui-components/package.json
  ui/yarn.lock
Labels: area/ui

#3856 UI dev dependencies typescript 4.9.3
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/Clusters/ClustersSidePanel.tsx
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.tsx
  ui/packages/ui-components/package.json
  ui/yarn.lock
Labels: area/ui

#3824 Add more descriptive validation and errors to collection form
  ui/apps/platform/src/Components/PatternFly/BacklogListSelector.tsx
  ui/apps/platform/src/Containers/Collections/CollectionAttacher.tsx
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/CollectionFormDrawer.tsx
  ui/apps/platform/src/Containers/Collections/CollectionFormModal.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsFormPage.tsx
  ui/apps/platform/src/Containers/Collections/errorUtils.ts
  ui/apps/platform/src/css/trumps.css
Labels: area/ui, epic/resource-collections

#3807 ROX-13495: using real data for namespace deployments
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkGraphIcons.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/namespace/NamespaceDeployments.tsx
  ui/apps/platform/src/Containers/NetworkGraph/namespace/NamespaceSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/networkGraphUtils.ts
Labels: area/ui

#3810 ROX-13189: using real data for namespace network policies
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkPolicies.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentNetworkPolicies.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/namespace/NamespaceNetworkPolicies.tsx
  ui/apps/platform/src/Containers/NetworkGraph/namespace/NamespaceSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/networkGraphUtils.ts
  ui/apps/platform/src/hooks/useFetchNetworkPolicies.ts
  ui/apps/platform/src/types/networkPolicy.proto.ts
Labels: area/ui

#3864 Fix TLSChallenge certificate test flake and increase cert expiry date…
  central/tlsconfig/tlsconfig.go
  sensor/common/centralclient/client_test.go
  sensor/common/centralclient/testdata/additional-ca.yaml
  sensor/common/centralclient/testdata/central-ca.pem
Labels: area/central, area/sensor

#3731 ROX-13417: use real data for port config section
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.tsx
Labels: area/ui

#3862 ROX-13326: Use UUID columns for roles, permissionsets and simpleaccessscopes in postgres mode.
  central/role/accessscope_ids.go
  central/role/datastore/permissionset_ids.go
  central/role/datastore/singleton.go
  central/role/default.go
  central/role/store/permissionset/postgres/store.go
  central/role/store/simpleaccessscope/postgres/store.go
  central/role/validate.go
  central/role/validate_test.go
  generated/storage/role.pb.go
  migrator/migrations/n_37_to_n_38_postgres_permission_sets/migration.go
  migrator/migrations/n_37_to_n_38_postgres_permission_sets/migration_test.go
  migrator/migrations/n_46_to_n_47_postgres_roles/migration.go
  migrator/migrations/n_46_to_n_47_postgres_roles/migration_test.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/legacypermissionsets/rocksdb_plugin.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/legacyroles/rocksdb_plugin.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/legacysimpleaccessscopes/rocksdb_plugin.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/migration.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/migration_test.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/postgrespermissionsets/postgres_plugin.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/postgresroles/postgres_plugin.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/postgressimpleaccessscopes/postgres_plugin.go
  pkg/postgres/schema/permission_sets.go
  pkg/postgres/schema/simple_access_scopes.go
  proto/storage/role.proto
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/SACTest.groovy
  ui/apps/platform/cypress/integration/accessControl/accessControlPermissionSets.test.js
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopeForm.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopeFormWrapper.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/Roles.tsx
  ui/apps/platform/src/services/AccessScopesService.ts
Labels: area/central, area/ui, area/postgres

#3860 Revert fine-grained host paths for compliance mounts
  CHANGELOG.md
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml
Labels: area/helm

#3851 ROX-13357: store refactor
  sensor/common/rbac/namespaced_service_account.go
  sensor/common/service/port_ref.go
  sensor/common/store/deployment_dependency.go
  sensor/common/store/mocks/types.go
  sensor/common/store/types.go
  sensor/kubernetes/eventpipeline/pipeline.go
  sensor/kubernetes/listener/listener.go
  sensor/kubernetes/listener/listener_impl.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/resources/convert.go
  sensor/kubernetes/listener/resources/deployment_store.go
  sensor/kubernetes/listener/resources/deployment_store_test.go
  sensor/kubernetes/listener/resources/deployments.go
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/kubernetes/listener/resources/endpoints.go
  sensor/kubernetes/listener/resources/node.go
  sensor/kubernetes/listener/resources/port.go
  sensor/kubernetes/listener/resources/port_exposure_reconciler.go
  sensor/kubernetes/listener/resources/rbac/store.go
  sensor/kubernetes/listener/resources/rbac/store_impl.go
  sensor/kubernetes/listener/resources/service.go
  sensor/kubernetes/listener/resources/service_store.go
  sensor/kubernetes/listener/resources/store_provider.go
  sensor/kubernetes/sensor/sensor.go
Labels: team/maple, area/sensor

#3866 Replace cypress visit method with helper in product branding integration tests
  ui/apps/platform/cypress/integration/productBranding.test.js
Labels: area/ui

#3867 Dynamically determine directory for UI auth token script
  ui/apps/platform/scripts/get-auth-token.sh
Labels: area/ui

#3868 Fix duplicate fetch requests in collections view more button
  ui/apps/platform/src/Containers/Collections/hooks/useEmbeddedCollections.ts
Labels: area/ui

#3697 ROX-13355 Resolver component
  sensor/kubernetes/eventpipeline/component/component.go
  sensor/kubernetes/eventpipeline/component/mocks/component.go
  sensor/kubernetes/eventpipeline/pipeline.go
  sensor/kubernetes/eventpipeline/pipeline_impl.go
  sensor/kubernetes/eventpipeline/resolver/resolver.go
  sensor/kubernetes/eventpipeline/resolver/resolver_impl.go
  sensor/kubernetes/listener/listener.go
  sensor/kubernetes/listener/listener_impl.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/resource_event_handler_impl.go
  sensor/kubernetes/listener/resource_event_handler_impl_test.go
Labels: team/maple, area/sensor

#3870 ROX-13326: (release 3.73) disable migration code generation for role stores.
  central/role/store/permissionset/postgres/gen.go
  central/role/store/permissionset/rocksdb/gen.go
  central/role/store/role/postgres/gen.go
  central/role/store/role/rocksdb/gen.go
  central/role/store/simpleaccessscope/postgres/gen.go
  central/role/store/simpleaccessscope/rocksdb/gen.go
Labels: area/central

#3635 ROX-12380: Scope subjects to cluster role for Most Cluster Admin Roles widget
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/widgets/UsersWithMostClusterAdminRoles.js
Labels: area/ui

#3873 ROX-13178: add simulate baseline as network policy button
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentBaselines.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
Labels: area/ui

#3865 ROX-13173 + ROX-13174: Add advanced filters and entity name search input in baselines tab
  ui/apps/platform/src/Containers/NetworkGraph/common/AdvancedFlowsFilter/AdvancedFlowsFilter.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/AdvancedFlowsFilter/advancedFlowsFilterUtils.test.ts
  ui/apps/platform/src/Containers/NetworkGraph/common/AdvancedFlowsFilter/advancedFlowsFilterUtils.ts
  ui/apps/platform/src/Containers/NetworkGraph/common/AdvancedFlowsFilter/types.ts
  ui/apps/platform/src/Containers/NetworkGraph/common/EntityNameSearchInput.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentBaselines.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.ts
Labels: area/ui

#3823 ROX-13497: Utilize Deployment matching on Collection API endpoints
  central/resourcecollection/datastore/datastore.go
  central/resourcecollection/datastore/datastore_bench_test.go
  central/resourcecollection/datastore/datastore_impl.go
  central/resourcecollection/datastore/datastore_impl_test.go
  central/resourcecollection/datastore/mocks/datastore.go
  central/resourcecollection/datastore/singleton.go
  central/resourcecollection/service/service.go
  central/resourcecollection/service/service_impl.go
  central/resourcecollection/service/service_impl_test.go
  central/resourcecollection/service/singleton.go
  generated/api/v1/policy_service.swagger.json
  generated/api/v1/resource_collection_service.pb.go
  generated/api/v1/resource_collection_service.swagger.json
  proto/api/v1/resource_collection_service.proto
Labels: area/central, epic/resource-collections

#3515 ROX-12844: Refactor image enricher with multiple image names
  pkg/images/enricher/enricher_impl.go
  pkg/images/enricher/enricher_impl_test.go
  pkg/images/integration/util.go
  pkg/images/integration/util_test.go
  pkg/signatures/factory.go
  pkg/signatures/public_key_fetcher.go
  pkg/signatures/public_key_fetcher_test.go
  sensor/common/scan/scan.go
  sensor/common/scan/scan_test.go
Labels: area/sensor

#3881 Add error screen for collections with configurations unsupported by the UI
  ui/apps/platform/src/Containers/Collections/CollectionFormDrawer.tsx
  ui/apps/platform/src/Containers/Collections/UnsupportedCollectionState.tsx
  ui/apps/platform/src/Containers/Collections/converter.test.ts
  ui/apps/platform/src/Containers/Collections/converter.ts
  ui/apps/platform/src/utils/type.utils.ts
Labels: area/ui

#3894 Revert "Bump ubi8-micro from 8.7 to 8.7-1 in /operator (#3889)"
  operator/Dockerfile
Labels: area/operator
