Repository stackrox/stackrox, pull requests merged in 2022-07, with the labels that each got.

#2165 Add resource replacements within UI
  ui/apps/platform/src/hooks/usePermissions.ts
  ui/apps/platform/src/reducers/roles.js
Labels: ci-no-qa-tests, team/merlin, ci-no-api-tests, area/ui, ci-no-upgrade-tests

#2236 Consolidate calls to globaldb
  central/cve/datastore/singleton.go
  central/globaldb/dackbox/initialize.go
  central/globaldb/rocksdb.go
Labels: area/central

#2268 Force chart axis format to string to avoid floating point interpolation
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/AgingImagesChart.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.tsx
Labels: area/ui

#2104 ROX-8051: make eBPF the default collection method
  CHANGELOG.md
  deploy/k8s/deploy-local.sh
  image/templates/helm/stackrox-secured-cluster/README.md.htpl
  image/templates/helm/stackrox-secured-cluster/internal/defaults/30-base-config.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/values-public.yaml.example
  image/templates/helm/stackrox-secured-cluster/values.yaml.htpl
  operator/apis/platform/v1alpha1/securedcluster_types.go
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.tsx
Labels: area/ui, area/helm, area/operator

#2282 Fix dashboard layout breakages at scale
  ui/apps/platform/src/Containers/Dashboard/PatternFly/DashboardPage.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/AgingImagesChart.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/DeploymentsAtMostRiskTable.tsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/routePaths.js
Labels: area/ui

#2039 ROX-11335: Move Scanner DB secret out of main Scanner DB container
  SCANNER_VERSION
  image/templates/helm/shared/templates/02-scanner-06-deployment.yaml.htpl
Labels: ci-all-qa-tests, ci-openshift-4-tests, area/helm

#2278 Minor Image store refactor
  central/image/datastore/datastore_impl_postgres_test.go
  central/image/datastore/store/common/v2/split.go
  central/image/datastore/store/mocks/store.go
  central/image/datastore/store/postgres/store.go
  central/image/datastore/store/store.go
  central/node/datastore/dackbox/datastore/datastore.go
  central/node/datastore/dackbox/datastore/datastore_impl.go
  central/node/datastore/internal/store/common/v2/merge.go
  central/node/datastore/internal/store/postgres/store.go
Labels: area/central, ci-postgres-tests

#2281 ROX-11284: Map dackbox object types to existing resources
  CHANGELOG.md
  central/cve/image/datastore/store/postgres/store.go
  central/cve/node/datastore/internal/store/postgres/store.go
  central/imagecomponent/datastore/internal/store/postgres/store.go
  central/nodecomponent/datastore/store/postgres/store.go
  central/role/resources/list.go
  tools/generate-helpers/pg-table-bindings/list.go
Labels: team/merlin, area/central, area/postgres, ci-postgres-tests

#2275 Fix deletion of active components when deployments are deleted
  central/activecomponent/datastore/internal/store/postgres/store_test.go
  central/deployment/datastore/datastore_impl.go
  generated/storage/active_component.pb.go
  pkg/postgres/schema/active_components.go
  proto/storage/active_component.proto
Labels: area/central, area/postgres, ci-postgres-tests, ci-postgres-scale-tests

#2284 Move legacy cve datastore usages in graphQL behind feature flag
  central/graphql/resolvers/components_v2.go
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/loaders/cves.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/nodes.go
  central/graphql/resolvers/resolver.go
  central/graphql/resolvers/search.go
  central/graphql/resolvers/search_test.go
  central/graphql/resolvers/vulnerabilities.go
  central/graphql/resolvers/vulnerabilities_v2.go
  central/graphql/resolvers/vulnerability_requests_test.go
Labels: area/central, ci-postgres-tests

#2264 Disable medium and low severities by default in violations widget
  ui/apps/platform/cypress/integration/dashboard/dashboardSecurityMetrics.test.js
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.tsx
Labels: area/ui

#2269 Clean up heading hierarchy for empty states
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ComplianceLevelsByStandard.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/NoDataEmptyState.tsx
Labels: area/ui

#2272 ROX-10847: Add decommissioned cluster retention to System Configuration in UI
  ui/apps/platform/cypress/constants/SystemConfigPage.js
  ui/apps/platform/src/Containers/Clusters/ClusterLabelsTable.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details/PrivateConfigDataRetentionDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details/PublicConfigBannerDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details/PublicConfigLoginDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details/SystemConfigDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Form/SystemConfigForm.tsx
  ui/apps/platform/src/Containers/SystemConfig/SystemConfigPage.tsx
  ui/apps/platform/src/types/config.proto.ts
  ui/apps/platform/src/utils/labels.ts
Labels: area/ui

#2273 [ROX-11609] Add concept of namespaced search to graph search
  central/componentcveedge/datastore/internal/postgres/gen.go
  central/deployment/store/postgres/gen.go
  central/image/datastore/store/postgres/gen.go
  central/imagecomponent/datastore/internal/store/postgres/gen.go
  central/imagecomponentedge/datastore/internal/store/postgres/gen.go
  central/imagecveedge/datastore/internal/postgres/gen.go
  central/namespace/store/postgres/gen.go
  central/node/datastore/internal/store/postgres/gen.go
  central/nodecomponent/datastore/store/postgres/gen.go
  central/nodecomponentcveedge/datastore/store/postgres/gen.go
  central/nodecomponentedge/store/postgres/gen.go
  generated/storage/test.pb.go
  pkg/postgres/schema/deployments.go
  pkg/postgres/schema/image_component_cve_edges.go
  pkg/postgres/schema/image_component_edges.go
  pkg/postgres/schema/image_components.go
  pkg/postgres/schema/image_cve_edges.go
  pkg/postgres/schema/images.go
  pkg/postgres/schema/namespaces.go
  pkg/postgres/schema/node_component_edges.go
  pkg/postgres/schema/node_components.go
  pkg/postgres/schema/node_components_cves_edges.go
  pkg/postgres/schema/nodes.go
  pkg/postgres/schema/test_child1_p4.go
  pkg/postgres/schema/test_parent4.go
  pkg/postgres/walker/schema.go
  pkg/search/options.go
  pkg/search/postgres/graph_queries_test.go
  pkg/search/postgres/joins.go
  proto/storage/test.proto
  tools/generate-helpers/pg-table-bindings/list.go
  tools/generate-helpers/pg-table-bindings/main.go
  tools/generate-helpers/pg-table-bindings/schema.go.tpl
  tools/generate-helpers/pg-table-bindings/testgraphtables/testchild1p4/gen.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testchild1p4/index.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testchild1p4/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testchild1p4/store_test.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testparent4/gen.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testparent4/index.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testparent4/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testparent4/store_test.go
Labels: area/central, area/postgres, ci-postgres-tests

#2289 Minor fixes to policy category sort fields and sac
  central/policycategory/store/postgres/store.go
  pkg/search/sortfields/fields_map.go
  tools/generate-helpers/pg-table-bindings/list.go
Labels: area/central, area/postgres, ci-postgres-tests

#2062 ROX-11070: Add ID to group proto.
  central/graphql/resolvers/generated.go
  generated/api/v1/group_service.pb.go
  generated/api/v1/group_service.swagger.json
  generated/storage/group.pb.go
  proto/api/v1/group_service.proto
  proto/storage/group.proto
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/central, ci-no-upgrade-tests

#2297 Extend non-release tag expiration on quay.io to 13 weeks
  Makefile
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#2195 ROX-7875: Retry connection if Groovy K8s client fails for a networking reason
  qa-tests-backend/README.md
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/main/groovy/util/Helpers.groovy
  qa-tests-backend/src/test/groovy/AdmissionControllerTest.groovy
Labels: ci-all-qa-tests, team/maple

#2063 ROX-11070: Update group service and datastore to use ID instead of composite key.
  central/graphql/resolvers/groups.go
  central/group/datastore/datastore.go
  central/group/datastore/datastore_impl.go
  central/group/datastore/datastore_test.go
  central/group/datastore/internal/store/mocks/store.go
  central/group/datastore/internal/store/store.go
  central/group/datastore/internal/store/store_impl.go
  central/group/datastore/internal/store/store_test.go
  central/group/datastore/mocks/datastore.go
  central/group/datastore/validate.go
  central/group/datastore/validate_test.go
  central/group/service/service_impl.go
  central/group/service/service_test.go
  central/group/service/validate.go
  qa-tests-backend/src/test/groovy/GroupsTest.groovy
  ui/apps/platform/cypress/integration/accessControl/accessControlAuthProviders.test.js
Labels: team/merlin, area/central, area/ui, ci-postgres-tests, ci-no-upgrade-tests

#2160 ROX-11070: Remove unused de-serialization of groups
  central/group/datastore/internal/store/serialize.go
  central/group/datastore/serialize/deserialize.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/central, ci-no-upgrade-tests

#2296 ROX-11070: Only allow a single default group per auth provider
  central/group/datastore/internal/store/store_impl.go
  central/group/datastore/internal/store/store_test.go
Labels: team/merlin, area/central

#2066 ROX-11070: Add migration for groups bucket.
  CHANGELOG.md
  migrator/migrations/m_105_to_m_106_group_id/binenc/byte_slice_list.go
  migrator/migrations/m_105_to_m_106_group_id/binenc/ints.go
  migrator/migrations/m_105_to_m_106_group_id/binenc/varint.go
  migrator/migrations/m_105_to_m_106_group_id/migration.go
  migrator/migrations/m_105_to_m_106_group_id/migration_test.go
  migrator/migrations/m_105_to_m_106_group_id/serialize.go
  migrator/runner/all.go
  pkg/migrations/internal/seq_num.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-upgrade-tests, ci-no-api-tests, area/postgres, ci-postgres-tests

#2300 Bump collector version
  COLLECTOR_VERSION
Labels: ci-all-qa-tests, ci-openshift-4-tests, ci-openshift-tests

#2286 Wrap exact query values individually in dbl quotes instead of as a single string
  ui/apps/platform/src/utils/queryService.js
  ui/apps/platform/src/utils/queryService.test.js
Labels: area/ui

#2287 ROX-11605: Display clusterIdToRetentionInfo in clusters list and cluster panel
  ui/apps/platform/cypress/fixtures/clusters/health.json
  ui/apps/platform/cypress/helpers/clusters.js
  ui/apps/platform/cypress/integration/clusters/clusterDeletion.test.js
  ui/apps/platform/cypress/integration/clusters/clusters.test.js
  ui/apps/platform/src/Containers/Clusters/ClusterEditForm.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersSidePanel.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.js
  ui/apps/platform/src/Containers/Clusters/Components/ClusterDeletion.tsx
  ui/apps/platform/src/Containers/Clusters/Components/ClusterSummary.js
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.tsx
  ui/apps/platform/src/Containers/Clusters/clusterTypes.ts
  ui/apps/platform/src/Containers/Clusters/clustersTableColumnDescriptors.js
  ui/apps/platform/src/services/ClustersService.ts
  ui/apps/platform/src/types/cluster.proto.ts
  ui/apps/platform/src/types/clusterService.proto.ts
Labels: area/ui

#2293 ROX-11008: Changing RecentlyDetectedVulnerabilities to RecentlyDetectedImageVulnerabilities
  ui/apps/platform/cypress/helpers/vulnmanagement/entities.js
  ui/apps/platform/src/Containers/VulnMgmt/Dashboard/VulnMgmtDashboardPage.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cluster/VulnMgmtClusterOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Deployment/VulnMgmtDeploymentOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Namespace/VulnMgmtNamespaceOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/RecentlyDetectedImageVulnerabilities.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/RecentlyDetectedImageVulnerabilities.test.js
  ui/apps/platform/src/queries/namespace.js
  ui/apps/platform/src/utils/queryService.js
  ui/apps/platform/src/utils/vulnerabilityUtils.js
Labels: pls-merge, area/ui

#2318 Convert cypress test to RTL for Violations by category widget
  ui/apps/platform/cypress/constants/DashboardPage.js
  ui/apps/platform/cypress/helpers/main.js
  ui/apps/platform/cypress/integration/dashboard/dashboardSecurityMetrics.test.js
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.test.tsx
Labels: area/ui

#2308 CI: Onboard postgres-e2e to OSCI
  scripts/ci/gate-jobs-config.json
  scripts/ci/jobs/gke_postgres_qa_e2e_tests.py
  tests/e2e/lib.sh
Labels: ci-postgres-tests

#2319 Use roxbot PAT to do git push
  .github/workflows/cut-rc.yml
  .github/workflows/start-release.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#1948 ROX-11111: Fix inability to scan internal images with SHA specified in name
  pkg/images/utils/utils.go
  sensor/common/image/service_impl.go
  sensor/common/imageutil/util.go
  sensor/common/registry/registry_store.go
  sensor/common/registry/registry_store_test.go
  sensor/kubernetes/listener/resources/convert.go
  sensor/kubernetes/listener/resources/convert_mutating_test.go
  sensor/kubernetes/listener/resources/convert_override_test.go
  sensor/kubernetes/listener/resources/convert_test.go
  sensor/kubernetes/listener/resources/deployments.go
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/kubernetes/sensor/sensor.go
Labels: area/sensor

#2320 Test out mocking PF react-charts to disable animation.
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/AgingImages.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ComplianceLevelsByStandard.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.test.tsx
Labels: area/ui

#2311 Namespace GraphQL resolvers should not return deployment, secrets or net pol count
  central/graphql/handler/namespace_test.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/resolver.go
  central/namespace/resolver.go
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Namespace/VulnMgmtEntityNamespace.js
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.fragments.js
  ui/apps/platform/src/queries/namespace.js
Labels: area/central, area/ui

#2323 Write frontend group proto for UI
  ui/apps/platform/src/types/group.proto.ts
Labels: ci-no-ui-tests, area/ui

#2310 Dv/dashboard tweaks
  ui/apps/platform/src/Components/PatternFly/ResourceIcon/ResourceIcon.css
  ui/apps/platform/src/Components/PatternFly/ResourceIcon/ResourceIcon.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/ClusterSelect.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/NamespaceSelect.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/AgingImages.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/AgingImagesChart.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/DeploymentsAtMostRisk.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ImagesAtMostRisk.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ImagesAtMostRisk.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/MostRecentViolations.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/PolicyViolationTiles.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/SeverityTile.css
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicySeverity.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicySeverity.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/WidgetCard.tsx
  ui/apps/platform/src/css/acs.css
  ui/apps/platform/src/css/trumps.css
Labels: area/ui

#2279 ROX-9994: Add CIS OCP numbers to CO rule name
  central/compliance/standards/metadata/metadata.go
  central/complianceoperator/manager/manager.go
Labels: area/central

#2321 Add uid and gid to monitoring pod security context
  deploy/charts/monitoring/templates/deployment.yaml
Labels: team/merlin

#2307 upgrade-test: use helm for install and upgrade
  scripts/ci/lib.sh
  tests/upgrade/run.sh
Labels: ci-upgrade-tests

#2330 Remove unused fields from storage.CVE
  central/cve/converter/utils/convert_utils.go
  central/cve/fetcher/manager_impl_test.go
  central/graphql/resolvers/generated.go
  central/graphql/resolvers/vulnerabilities_v2.go
  central/image/datastore/store/common/parts_test.go
  central/node/datastore/internal/store/common/parts_test.go
  generated/storage/cve.pb.go
  proto/storage/cve.proto
Labels: ci-all-qa-tests, area/central, ci-postgres-tests

#2333 Scanner 2.25.1
  CHANGELOG.md
  SCANNER_VERSION
Labels: ci-all-qa-tests

#2346 ROX-11659: Remove reference of deprecated registry in roxctl
  roxctl/helm/output/output.go
  tests/roxctl/bats-tests/helpers.bash
  tests/roxctl/bats-tests/local/roxctl-helm-output-central-development.bats
  tests/roxctl/bats-tests/local/roxctl-helm-output-central-release.bats
Labels: team/merlin, area/roxctl

#2336 Dashrews/ROX-11660 dedupe process baseline
  central/processbaseline/datastore/datastore_impl.go
  central/processbaseline/datastore/datastore_impl_test.go
Labels: ci-no-ui-tests, ci-no-api-tests, area/central, ci-no-upgrade-tests

#2342 Enforce lock on Image and Node ops
  central/cve/image/datastore/datastore.go
  central/cve/image/datastore/datastore_impl.go
  central/cve/image/datastore/datastore_impl_test.go
  central/cve/image/datastore/singleton.go
  central/cve/node/datastore/datastore.go
  central/cve/node/datastore/datastore_impl.go
  central/cve/node/datastore/datastore_impl_test.go
  central/cve/node/datastore/singleton.go
  central/cve/suppress/reprocessor_postgres_test.go
  central/image/datastore/datastore.go
  central/image/datastore/datastore_impl.go
  central/image/datastore/singleton.go
  central/image/datastore/store/postgres/store.go
  central/node/datastore/dackbox/datastore/datastore.go
  central/node/datastore/dackbox/datastore/singleton.go
  central/node/datastore/internal/store/postgres/store.go
Labels: ci-all-qa-tests, area/central, ci-postgres-tests

#2350 CI: Fix the upgrade test for release builds
  tests/upgrade/run.sh
Labels: ci-upgrade-tests

#2358 ROX-11711: various fixes on Cut RC
  .github/workflows/create-cluster.yml
  .github/workflows/cut-rc.yml
  .github/workflows/scripts/create-cluster.sh
  .github/workflows/start-release.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#2253 ROX-11257: GraphQL Support for Postgres in Image Vulnerability Resolvers
  central/graphql/resolvers/Makefile
  central/graphql/resolvers/components_v2.go
  central/graphql/resolvers/gen/main.go
  central/graphql/resolvers/generated.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/loaders/image_cves.go
  central/graphql/resolvers/loaders/image_cves_test.go
  central/graphql/resolvers/vulnerabilities_v2.go
  central/graphql/resolvers/vulnerability_counter.go
Labels: area/central

#2288 ROX-11281: Update pruning to remove clusters that have been unhealthy for a configurable period of time
  CHANGELOG.md
  central/cluster/service/service_impl.go
  central/cluster/service/service_impl_test.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
  pkg/sliceutils/map.go
Labels: area/central

#2331 Fix alert deduping by moving scoping info to the pipeline
  central/alert/datastore/datastore_impl.go
  central/sensor/service/pipeline/alerts/pipeline.go
  pkg/fixtures/alert.go
Labels: area/central

#2292 Honor isDefault while creating, renaming and deleting policy categories
  central/policy/datastore/datastore_impl.go
  central/policycategory/datastore/datastore_impl.go
  central/policycategory/datastore/datastore_impl_test.go
Labels: area/central

#2360 Add remaining count derived fields
  pkg/search/options.go
Labels: ci-postgres-tests

#2372 Don't declare GITHUB_TOKEN in workflow_call
  .github/workflows/create-cluster.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#2374 Setup `main_branch` env var in `create-cluster.yml`
  .github/workflows/create-cluster.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#2380 GraphQL counter helper function fix
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/vulnerabilities_v2.go
Labels: area/central

#2366 Risk priority derived fields
  generated/storage/test.pb.go
  pkg/postgres/schema/test_grandparents.go
  pkg/postgres/walker/schema.go
  pkg/postgres/walker/walker.go
  pkg/search/options.go
  pkg/search/postgres/common.go
  pkg/search/postgres/graph_queries_test.go
  pkg/search/postgres/joins.go
  proto/storage/test.proto
  tools/generate-helpers/pg-table-bindings/testgraphtables/testgrandparent/store.go
Labels: area/postgres, ci-postgres-tests

#2329 ROX-10990: Split Cluster Overview Findings tabs into 3 CVE types
  ui/apps/platform/cypress/helpers/vmWorkflowUtils.js
  ui/apps/platform/src/Components/workflow/TableCountLinks/TableCountLinks.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cluster/VulnMgmtClusterOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Component/VulnMgmtComponentOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cve/VulnMgmtCveOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cve/VulnMgmtEntityCve.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/RelatedEntitiesSideList.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/TableWidgetFixableCves.js
  ui/apps/platform/src/constants/workflowPages.constants.js
  ui/apps/platform/src/utils/__snapshots__/WorkflowState.test.js.snap
  ui/apps/platform/src/utils/entityRelationships.ts
  ui/apps/platform/src/utils/queryService.js
Labels: pls-merge, area/ui

#2386 Pass correct value to vuln req mgr from graphQL
  central/graphql/resolvers/image_vulnerabilities.go
  central/vulnerabilityrequest/manager/querymgr/query_manager.go
Labels: area/central

#2201 Enable summary e2e
  qa-tests-backend/src/test/groovy/SummaryTest.groovy
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-postgres-tests, ci-no-upgrade-tests

#2314 ROX-11631: The 'Clusters With Most Orchestrator & Istio Vulnerabilities' widget should link to the Platform CVEs list
  ui/apps/platform/cypress/constants/VulnManagementPage.js
  ui/apps/platform/cypress/helpers/vmWorkflowUtils.js
  ui/apps/platform/cypress/integration/vulnmanagement/cvesListPages.test.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cluster/VulnMgmtEntityCluster.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/ClustersWithMostOrchestratorIstioVulnerabilities.js
  ui/apps/platform/src/utils/queryService.js
Labels: area/ui

#2370 Policy category PUT API to return newly renamed category object.
  central/policycategory/datastore/datastore.go
  central/policycategory/datastore/datastore_impl.go
  central/policycategory/datastore/datastore_impl_test.go
  central/policycategory/datastore/mocks/datastore.go
  central/policycategory/service/service_impl.go
  generated/api/v1/policy_category_service.pb.go
  generated/api/v1/policy_category_service.swagger.json
  proto/api/v1/policy_category_service.proto
Labels: area/central

#2362 Build with PR/commit ref tags
  .circleci/config.yml
  scripts/ci/lib.sh
Labels: ci-upgrade-tests

#2383 GraphQL Guard on Legacy Datastore Invocations
  central/graphql/resolvers/components.go
  central/graphql/resolvers/components_v2.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/plotted_image_vulnerabilities.go
  central/graphql/resolvers/vulnerabilities.go
  central/graphql/resolvers/vulnerabilities_v2.go
Labels: area/central

#2315 ROX-11632: The “Most Common Vulnerabilities” widget should be renamed to “Most Common Image Vulnerabilities” and scoped to Image CVEs
  ui/apps/platform/src/Containers/VulnMgmt/widgets/MostCommonVulnerabilities.js
Labels: area/ui

#2202 ROX-11014: New sensor integration tests
  Makefile
  go.mod
  go.sum
  sensor/debugger/k8s/k8sclient.go
  sensor/kubernetes/client/client.go
  sensor/tests/replay/replay_test.go
  sensor/tests/resource/helper.go
  sensor/tests/resource/role/role_test.go
  sensor/tests/resource/yaml/nginx-binding.yaml
  sensor/tests/resource/yaml/nginx-role.yaml
  sensor/tests/resource/yaml/nginx.yaml
  sensor/tests/resync_test.go
  tests/e2e/run.sh
Labels: area/sensor

#2337 ROX-11672 fix race condition in sensor
  sensor/debugger/k8s/fake.go
  sensor/tests/replay/replay_test.go
Labels: team/maple, area/sensor

#2377 Upstream release automation: local scripts run improvements
  .github/workflows/scripts/common.sh
  .github/workflows/scripts/create-cluster.sh
  .github/workflows/scripts/local-env.sh
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#2376 Improve assertion for risk sort priority integration test in UI
  ui/apps/platform/cypress/integration/risk/risk.test.js
Labels: area/ui

#2378 Ensure `REACT_APP_ROX_PRODUCT_BRANDING` is set for UI in CI
  .circleci/config.yml
  Makefile
  ui/Makefile
Labels: ci-no-qa-tests, ci-no-api-tests, area/ui, ci-no-upgrade-tests

#1924 ROX-9652: Version port to Postgres
  central/main.go
  central/role/resources/list.go
  central/version/ensure.go
  central/version/ensure_test.go
  central/version/store/postgres/gen.go
  central/version/store/postgres/store.go
  central/version/store/postgres/store_test.go
  central/version/store/store.go
  central/version/store/store_impl.go
  pkg/postgres/schema/versions.go
  tools/generate-helpers/pg-table-bindings/list.go
Labels: area/central, area/postgres, ci-postgres-tests

#2384 Consistently display policy YAML in Network Graph
  ui/apps/platform/src/Containers/Network/SidePanel/NetworkDeploymentOverlay/NetworkPoliciesDetail/NetworkPoliciesDetail.tsx
  ui/apps/platform/src/Containers/Network/SidePanel/Simulator/SuccessViewTabs.tsx
Labels: area/ui

#2382 ROX-11476: Remove license key from QA tests
  .circleci/config.yml
Labels: ci-eks-tests

#2364 ROX-11666 build out dashboard test cases
  ui/apps/platform/src/Containers/Dashboard/PatternFly/ClusterSelect.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/NamespaceSelect.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/ScopeBar.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/ScopeBar.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/AgingImages.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicySeverity.test.tsx
Labels: area/ui

#2387 Enable Global e2e
  qa-tests-backend/src/test/groovy/GlobalSearch.groovy
Labels: ci-postgres-tests

#2327 fix: Node/Image Component bug fixes
  ui/apps/platform/cypress/integration/vulnmanagement/cvesListPages.test.js
  ui/apps/platform/src/Components/workflow/EntityTabs/EntityTabs.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Component/VulnMgmtEntityImageComponent.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Component/VulnMgmtEntityNodeComponent.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/RelatedEntitiesSideList.js
  ui/apps/platform/src/Containers/VulnMgmt/List/ImageComponents/VulnMgmtListImageComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/NodeComponents/VulnMgmtListNodeComponents.js
  ui/apps/platform/src/constants/workflowPages.constants.js
  ui/apps/platform/src/utils/__snapshots__/entityRelationships.test.js.snap
  ui/apps/platform/src/utils/entityRelationships.ts
  ui/apps/platform/src/utils/queryService.js
Labels: area/ui

#2341 Write frontend policyCategory service for UI
  ui/apps/platform/src/services/policyCategoryService.ts
Labels: area/ui

#2214 [ROX-11258] : Add node vulnerability resolver for postgres and wire it in cluster and node graphQL; Update PlottedNodeVulnerabilities resolvers to use Postgres
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/common_vulnerabilities.go
  central/graphql/resolvers/components_v2.go
  central/graphql/resolvers/gen/main.go
  central/graphql/resolvers/generated.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/loaders/images.go
  central/graphql/resolvers/loaders/node_cves.go
  central/graphql/resolvers/loaders/node_cves_test.go
  central/graphql/resolvers/loaders/utils.go
  central/graphql/resolvers/node_vulnerabilities.go
  central/graphql/resolvers/nodes.go
  central/graphql/resolvers/plotted_node_vulnerabilities.go
  central/graphql/resolvers/plotted_vulnerabilities_common.go
  central/graphql/resolvers/resolver.go
  central/graphql/resolvers/search.go
  central/graphql/resolvers/utils.go
  central/graphql/resolvers/vulnerability_counter.go
  central/node/datastore/internal/search/searcher_impl_v2.go
Labels: area/central

#2406 CI: Fix the upgrader version in nightlies
  .openshift-ci/dispatch.sh
  scripts/ci/lib.sh
Labels: ci-upgrade-tests

#2400 Add new priority search fields
  central/imagecomponent/datastore/internal/store/postgres/store.go
  central/nodecomponent/datastore/store/postgres/store.go
  generated/storage/image.pb.go
  generated/storage/image_component.pb.go
  generated/storage/node.pb.go
  generated/storage/node_component.pb.go
  pkg/postgres/schema/image_components.go
  pkg/postgres/schema/images.go
  pkg/postgres/schema/node_components.go
  pkg/postgres/schema/nodes.go
  proto/storage/image.proto
  proto/storage/image_component.proto
  proto/storage/node.proto
  proto/storage/node_component.proto
Labels: area/central, area/postgres, ci-postgres-tests

#2373 ROX-10964: Improve helm operator resource deletion logs.
  go.mod
  go.sum
  operator/pkg/reconciler/reconciler_factory.go
  operator/tests/common/delete-securedcluster-errors.yaml
Labels: area/operator

#2409 Lint readme
  README.md
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#2395 Prefactor: wire dackbox postgres sac search
  central/cluster/datastore/internal/search/searcher_impl_v2.go
  central/clustercveedge/search/searcher_impl_v2.go
  central/componentcveedge/search/searcher_impl_v2.go
  central/cve/cluster/datastore/search/searcher.go
  central/cve/image/datastore/search/searcher.go
  central/cve/node/datastore/internal/search/searcher.go
  central/deployment/datastore/internal/search/searcher_impl_v2.go
  central/image/datastore/search/searcher_impl_v2.go
  central/imagecomponent/search/searcher_impl_v2.go
  central/imagecomponentedge/search/searcher_impl_v2.go
  central/imagecveedge/search/searcher_impl_v2.go
  central/namespace/datastore/datastore.go
  central/node/datastore/internal/search/searcher_impl_v2.go
  central/nodecomponent/datastore/search/searcher.go
  central/nodecomponentcveedge/datastore/search/searcher.go
  central/nodecomponentedge/search/searcher.go
Labels: team/merlin, area/central, area/postgres, ci-postgres-tests

#2349 Delete obsolete functions from policies service in UI
  ui/apps/platform/src/Containers/Policies/Wizard/Step5/ReviewPolicyForm.tsx
  ui/apps/platform/src/services/PoliciesService.ts
  ui/apps/platform/src/services/schemas.js
Labels: area/ui

#2235 Postgres Dackbox CVE SAC read tests
  central/cve/datastoretest/datastore_sac_test.go
  central/dackbox/testutils/datastore.go
  central/deployment/store/postgres/full_store.go
  central/networkgraph/flow/datastore/cluster.go
  pkg/fixtures/dackbox.go
  pkg/sac/test_scope_checker_core.go
Labels: team/merlin, area/auth, area/central, area/ui, area/postgres, ci-postgres-tests

#2408 ROX-11767: Client side crash when viewing Image -> CVE (#2404)
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cve/VulnMgmtEntityCve.js
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/DeferredCVEs/DeferredCVEs.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/DeferredCVEs/DeferredCVEsTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/FalsePositiveCVEs/FalsePositiveCVEs.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/FalsePositiveCVEs/FalsePositiveCVEsTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ObservedCVEs/ObservedCVEs.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ObservedCVEs/ObservedCVEsTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/imageVulnerabilities.graphql.ts
  ui/apps/platform/src/utils/WorkflowState.js
Labels: area/ui

#2413 Dashrews rox 11771 turnoff migrations when postgres for now
  central/version/ensure_test.go
  central/version/store/store_impl_test.go
  migrator/main.go
  migrator/postgreshelper/load.go
Labels: ci-no-ui-tests, area/central, area/postgres

#2416 CI: Onboard race condition debug tests
  .openshift-ci/build/Dockerfile.build-main-and-bundle
  .openshift-ci/build/build-main-and-bundle.sh
  deploy/common/deploy.sh
  deploy/common/k8sbased.sh
  scripts/ci/bats/fixtures/a_pr.json
  scripts/ci/bats/lib_pr_has_label.bats
  scripts/ci/gate-jobs-config.json
  scripts/ci/jobs/gke_postgres_qa_e2e_tests.py
  scripts/ci/jobs/gke_race_condition_qa_e2e_tests.py
  scripts/ci/jobs/push-images.sh
  scripts/ci/lib.sh
  scripts/ci/roxctl.sh
  scripts/grab-data-from-central.sh
  tests/e2e/lib.sh
Labels: area/central

#2390 ROX-11633, ROX-11634, ROX-11635: Changing Top Riskiest Images/Nodes widget in VM to Top Riskiest Image/Node Vulns
  ui/apps/platform/src/Containers/VulnMgmt/widgets/TopRiskiestEntities.js
  ui/apps/platform/src/constants/sortFields.js
Labels: area/ui

#2422 ROX-11785: VM Updates - Fixes for Node/Image sections
  ui/apps/platform/src/Components/workflow/EntityTabs/EntityTabs.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Image/VulnMgmtEntityImage.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Node/VulnMgmtEntityNode.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Node/VulnMgmtNodeOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/RelatedEntitiesSideList.js
  ui/apps/platform/src/Containers/VulnMgmt/List/ImageComponents/VulnMgmtListImageComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Images/VulnMgmtListImages.js
  ui/apps/platform/src/Containers/VulnMgmt/List/NodeComponents/VulnMgmtListNodeComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Nodes/VulnMgmtListNodes.js
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/CVESummaryLink.tsx
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.fragments.js
  ui/apps/platform/src/constants/workflowPages.constants.js
  ui/apps/platform/src/utils/queryService.js
Labels: area/ui

#2407 Replace wrap with retryable selectors in policies integration tests
  ui/apps/platform/cypress/helpers/policiesPatternFly.js
  ui/apps/platform/cypress/integration/policies/policiesTable.test.js
Labels: area/ui

#2412 Delete obsolete schema and functions for images service in UI
  ui/apps/platform/src/Containers/Policies/Wizard/Step4/PolicyScopeForm.tsx
  ui/apps/platform/src/Containers/VulnMgmt/List/Images/WatchedImagesDialog.tsx
  ui/apps/platform/src/services/ImagesService.js
  ui/apps/platform/src/services/imageService.ts
  ui/apps/platform/src/services/schemas.js
  ui/apps/platform/src/types/image.proto.ts
Labels: area/ui

#2401 ROX-11289: GraphQL Image Component Resolver Postgres Support
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/components_v2.go
  central/graphql/resolvers/components_v2_test.go
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/nodes.go
  central/graphql/resolvers/plotted_image_vulnerabilities.go
  central/graphql/resolvers/plotted_node_vulnerabilities.go
Labels: area/central

#2426 ROX-11668 fix dashboard visual glitches
  ui/apps/platform/src/Containers/Dashboard/PatternFly/ClusterSelect.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/DashboardPage.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/NamespaceSelect.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/WidgetCard.tsx
Labels: area/ui

#2365 ROX-11317, ROX-11316: Adding filter select and default category functionality to Policy Categories
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategoriesFilterSelect.tsx
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategoriesList.tsx
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategoriesListSection.tsx
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategoriesPage.tsx
  ui/apps/platform/src/types/policy.proto.ts
Labels: area/ui

#2430 CI: Ensure race condition debug catches race conditions
  scripts/ci/gate-jobs-config.json
  tests/e2e/lib.sh
Labels: area/central

#2375 Dackbox CVE SAC search tests
  central/cve/datastoretest/datastore_sac_test.go
  central/dackbox/testutils/datastore.go
  central/pruning/pruning.go
  pkg/sac/query_helper.go
  pkg/sac/testutils/test_contexts.go
  proto/storage/proto.lock
  proto/storage/relations.proto
Labels: team/merlin, area/auth, area/central, area/ui, area/postgres, ci-postgres-tests

#2397 ROX-10967: Fix quay.io/rhacs-eng operator & /stackrox-io images
  .circleci/config.yml
  operator/Makefile
  operator/README.md
  operator/hack/common.sh
  operator/hack/olm-operator-install.sh
  operator/hack/operator.envsubst.yaml
  operator/pkg/reconciler/env.go
  operator/pkg/reconciler/reconciler_factory.go
  operator/tests/common/image-pull-secrets.yaml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-openshift-4-operator-tests, ci-no-api-tests, area/operator, ci-no-upgrade-tests

#2421 Delete obsolete search reducers and sagas for policies in UI
  ui/apps/platform/src/Containers/Search/SearchResults.tsx
  ui/apps/platform/src/reducers/globalSearch.js
  ui/apps/platform/src/reducers/policies/reducer.js
  ui/apps/platform/src/reducers/policies/search.js
  ui/apps/platform/src/sagas/globalSearchSagas.js
  ui/apps/platform/src/sagas/searchSagas.js
  ui/apps/platform/src/sagas/searchSagas.test.js
Labels: area/ui

#2266 Dackbox imagecomponent and nodecomponent read tests
  central/imagecomponent/datastore/datastore.go
  central/imagecomponent/datastoretest/datastore_sac_test.go
  central/imagecomponent/datastoretest/nodecomponent_from_imagecomponent_datastore.go
  central/nodecomponent/datastore/datastore.go
Labels: team/merlin, area/auth, area/central, area/ui, area/postgres, ci-postgres-tests

#2425 Activate replay tests in CI
  sensor/tests/replay/replay_test.go
Labels: team/maple, area/sensor

#2448 Add transformed sorts field searcher
  central/cve/node/datastore/internal/search/searcher.go
  central/node/datastore/dackbox/datastore/datastore_impl_postgres_test.go
  central/nodecomponent/datastore/datastore.go
  central/nodecomponent/datastore/search/searcher.go
  central/nodecomponent/datastore/singleton.go
  central/nodecomponentcveedge/datastore/search/searcher.go
  central/nodecomponentedge/search/searcher.go
  pkg/fixtures/node.go
Labels: area/central

#2450 Add transformed sorts field searcher - Part 2
  central/componentcveedge/search/searcher_impl_v2.go
  central/cve/image/datastore/search/searcher.go
  central/image/datastore/datastore_impl_postgres_test.go
  central/image/datastore/search/searcher_impl_v2.go
  central/imagecomponent/datastore/datastore.go
  central/imagecomponent/datastore/singleton.go
  central/imagecomponent/datastore/store/postgres/gen.go
  central/imagecomponent/datastore/store/postgres/index.go
  central/imagecomponent/datastore/store/postgres/store.go
  central/imagecomponent/datastore/store/postgres/store_test.go
  central/imagecomponent/search/searcher_impl_v2.go
  central/imagecomponentedge/search/searcher_impl_v2.go
  central/imagecveedge/search/searcher_impl_v2.go
Labels: area/central

#2445 Delete unused pollingReduxRoutines from utils in UI
  ui/apps/platform/src/utils/pollingReduxRoutines.js
Labels: ci-no-ui-tests, area/ui

#2455 Fixing count of default categories added by default
  central/policycategory/datastore/singleton.go
Labels: area/central

#2438 ROX-11784: Remove deprecated endpoints to rename and delete policy categories from the policy service, and policy service, datastore and store layers.
  CHANGELOG.md
  central/policy/datastore/datastore.go
  central/policy/datastore/datastore_impl.go
  central/policy/datastore/mocks/datastore.go
  central/policy/service/service_impl.go
  central/policy/store/boltdb/mocks/store.go
  central/policy/store/boltdb/store.go
  central/policy/store/boltdb/store_impl.go
  central/policy/store/mocks/store.go
  central/policy/store/postgres/store.go
  central/policy/store/store.go
  central/policycategory/service/service_impl.go
  central/policycategory/service/service_impl_test.go
  generated/api/v1/policy_category_service.pb.go
  generated/api/v1/policy_category_service.pb.gw.go
  generated/api/v1/policy_category_service.swagger.json
  generated/api/v1/policy_service.pb.go
  generated/api/v1/policy_service.pb.gw.go
  generated/api/v1/policy_service.swagger.json
  proto/api/v1/policy_category_service.proto
  proto/api/v1/policy_service.proto
  tools/generate-helpers/pg-table-bindings/store.go.tpl
Labels: area/central, area/postgres, ci-postgres-tests

#2446 Add force to click because network zoom buttons can cover Navigate button in UI
  ui/apps/platform/cypress/integration/networkGraph/networkFlows.test.js
Labels: area/ui

#2429 Display Imminent instead of zero or negative days for Cluster Deletion in UI
  ui/apps/platform/cypress/integration/clusters/clusterDeletion.test.js
  ui/apps/platform/src/Containers/Clusters/Components/ClusterDeletion.tsx
  ui/apps/platform/src/types/clusterService.proto.ts
Labels: area/central, area/ui

#2411 ROX-11543: Re-sync pod tests
  sensor/tests/resource/helper.go
  sensor/tests/resource/pod/pod_test.go
  sensor/tests/resource/pod/yaml/nginx-pod.yaml
  sensor/tests/resource/pod/yaml/nginx.yaml
  sensor/tests/resource/role/role_test.go
  sensor/tests/resource/role/yaml/nginx-binding.yaml
  sensor/tests/resource/role/yaml/nginx-pod.yaml
  sensor/tests/resource/role/yaml/nginx-role.yaml
  sensor/tests/resource/role/yaml/nginx.yaml
  tools/local-sensor/main.go
Labels: team/maple, area/sensor

#2056 Dashrews/ROX-10903 ROX-11357 flaky process baseline deletion test
  qa-tests-backend/src/test/groovy/ProcessBaselinesTest.groovy
Labels: ci-no-ui-tests, ci-openshift-4-tests, ci-no-api-tests, ci-race-tests, ci-postgres-tests, ci-postgres-scale-tests, ci-no-upgrade-tests

#2452 ROX-11799: Combine entities into one column in VM Images list
  ui/apps/platform/src/Components/workflow/ClusterTableCountLinks/ClusterTableCountLinks.tsx
  ui/apps/platform/src/Components/workflow/ImageTableCountLinks/ImageTableCountLinks.tsx
  ui/apps/platform/src/Components/workflow/ImageTableCountLinks/index.ts
  ui/apps/platform/src/Containers/VulnMgmt/List/Images/VulnMgmtListImages.js
Labels: area/ui

#2427 ROX-11259: Cluster Vulnerability Postgres Support
  central/graphql/resolvers/cluster_vulnerabilities.go
  central/graphql/resolvers/gen/main.go
  central/graphql/resolvers/generated.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/loaders/cluster_cves.go
  central/graphql/resolvers/loaders/cluster_cves_test.go
  central/graphql/resolvers/resolver.go
  central/graphql/resolvers/vulnerabilities_v2.go
Labels: area/central

#2454 Fix minor issue with certificate validation error display
  roxctl/common/tls.go
Labels: area/roxctl

#2437 Delete obsolete processes reducers and sagas in UI
  ui/apps/platform/src/reducers/index.js
  ui/apps/platform/src/reducers/processes.js
  ui/apps/platform/src/sagas/index.js
  ui/apps/platform/src/sagas/processSagas.js
Labels: area/ui

#2433 VM Demo Bug Fixes
  ui/apps/platform/cypress/integration/vulnmanagement/dashboard.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/entitypages.test.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cve/VulnMgmtEntityCve.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/RelatedEntitiesSideList.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/TableWidgetFixableCves.js
  ui/apps/platform/src/Containers/VulnMgmt/List/ImageComponents/VulnMgmtListImageComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/NodeComponents/VulnMgmtListNodeComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Nodes/VulnMgmtListNodes.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/TopRiskiestEntities.js
  ui/apps/platform/src/Containers/Workflow/WorkflowEntityPageLayout.js
  ui/apps/platform/src/Containers/Workflow/WorkflowListPageLayout.js
  ui/apps/platform/src/constants/workflowPages.constants.js
Labels: area/ui

#2451 Optimize dashboard tests and avoid querying that may cause act errors
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/AgingImages.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ComplianceLevelsByStandard.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ImagesAtMostRisk.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicySeverity.test.tsx
  ui/apps/platform/src/test-utils/queryUtils.ts
Labels: area/ui

#2466 GraphQL without Postgres to use old TopImageVulnerability flow
  central/graphql/resolvers/image_components.go
Labels: area/central

#2467 Add cluster cve tests
  central/clustercveedge/datastore/store/postgres/full_store.go
  central/clustercveedge/datastore/store/postgres/gen.go
  central/cve/cluster/datastore/datastore_impl.go
  central/cve/cluster/datastore/index/index.go
  central/cve/cluster/datastore/store/postgres/full_store.go
  central/cve/cluster/datastore/store/postgres/gen.go
  central/cve/converter/v2/parts.go
  central/cve/fetcher/manager_impl_postgres_test.go
  central/cve/fetcher/orchestrator.go
  central/cve/image/datastore/store/postgres/gen.go
  central/cve/node/datastore/internal/store/postgres/gen.go
  pkg/postgres/schema/cluster_cve_edges.go
  pkg/postgres/schema/cluster_cves.go
  pkg/postgres/schema/image_cves.go
  pkg/postgres/schema/node_cves.go
Labels: area/central, area/postgres, ci-postgres-tests

#2464 Import base paths from routePaths for Search links in UI
  ui/apps/platform/cypress/integration/search.test.js
  ui/apps/platform/src/Components/SearchFilterInput/SearchFilterInput.tsx
  ui/apps/platform/src/Containers/Search/RelatedLink.tsx
  ui/apps/platform/src/Containers/Search/SearchResults.tsx
  ui/apps/platform/src/Containers/Search/searchCategoryDescriptorMap.ts
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/constants/searchOptions.ts
  ui/apps/platform/src/reducers/globalSearch.js
  ui/apps/platform/src/sagas/globalSearchSagas.js
  ui/apps/platform/src/sagas/searchSagas.js
  ui/apps/platform/src/sagas/searchSagas.test.js
  ui/apps/platform/src/services/SearchService.ts
Labels: area/ui

#2476 CI: Bump timeout for race-condition-debug tests
  deploy/common/k8sbased.sh
Labels: ci-race-condition-tests

#2478 Update spelling of VM frontend updates feature flag
  pkg/features/list.go
  ui/apps/platform/cypress/helpers/vulnmanagement/entities.js
  ui/apps/platform/cypress/integration/vulnmanagement/clustersListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/dashboard.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/entitypages.test.js
  ui/apps/platform/src/Components/workflow/EntityTabs/EntityTabs.js
  ui/apps/platform/src/Components/workflow/ImageTableCountLinks/ImageTableCountLinks.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Dashboard/VulnMgmtDashboardPage.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cluster/VulnMgmtClusterOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Component/VulnMgmtComponentOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Image/VulnMgmtEntityImage.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Node/VulnMgmtEntityNode.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Node/VulnMgmtNodeOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/RelatedEntitiesSideList.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Clusters/VulnMgmtListClusters.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Deployments/VulnMgmtListDeployments.js
  ui/apps/platform/src/Containers/VulnMgmt/List/ImageComponents/VulnMgmtListImageComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Images/VulnMgmtListImages.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Namespaces/VulnMgmtListNamespaces.js
  ui/apps/platform/src/Containers/VulnMgmt/List/NodeComponents/VulnMgmtListNodeComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Nodes/VulnMgmtListNodes.js
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/CVESummaryLink.tsx
  ui/apps/platform/src/Containers/VulnMgmt/widgets/ClustersWithMostOrchestratorIstioVulnerabilities.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/MostCommonVulnerabilities.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/RecentlyDetectedImageVulnerabilities.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/TopRiskiestEntities.js
  ui/apps/platform/src/Containers/Workflow/WorkflowEntityPageLayout.js
  ui/apps/platform/src/Containers/Workflow/WorkflowListPageLayout.js
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#2488 Delete unused UI imports
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTablePage.tsx
Labels: area/ui

#2491 Fix nightly build for VM updates
  ui/apps/platform/cypress/helpers/vulnmanagement/entities.js
Labels: area/ui

#2486 [ROX-11908] Cleanup orphaned image dependencies
  central/cve/converter/utils/convert_utils.go
  central/cve/image/datastore/singleton.go
  central/image/datastore/datastore_impl_postgres_test.go
  central/image/datastore/keyfence/singleton.go
  central/image/datastore/singleton.go
  central/image/datastore/store/postgres/store.go
  pkg/fixtures/image.go
Labels: area/central

#2487 [ROX-11910] Cleanup orphaned node dependencies
  central/cve/node/datastore/datastore.go
  central/cve/node/datastore/datastore_impl.go
  central/cve/node/datastore/datastore_impl_test.go
  central/cve/node/datastore/index/index.go
  central/cve/node/datastore/index/mocks/index.go
  central/cve/node/datastore/search/mocks/searcher.go
  central/cve/node/datastore/search/searcher.go
  central/cve/node/datastore/search/searcher_impl.go
  central/cve/node/datastore/singleton.go
  central/cve/node/datastore/store/mocks/store.go
  central/cve/node/datastore/store/postgres/gen.go
  central/cve/node/datastore/store/postgres/index.go
  central/cve/node/datastore/store/postgres/store.go
  central/cve/node/datastore/store/postgres/store_test.go
  central/cve/node/datastore/store/store.go
  central/node/datastore/dackbox/datastore/datastore_impl_postgres_test.go
  central/node/datastore/dackbox/datastore/keyfence/singleton.go
  central/node/datastore/dackbox/datastore/singleton.go
  central/node/datastore/internal/store/postgres/store.go
  pkg/nodes/converter/convert_utils.go
Labels: area/central

#2490 Add temporary fix for search duplicates issue
  central/node/datastore/dackbox/datastore/datastore_impl_postgres_test.go
  pkg/search/postgres/common.go
Labels: area/central, area/postgres, ci-postgres-tests

#2493 CI: (Re)enable style checks
  .openshift-ci/dispatch.sh
  central/graphql/resolvers/plotted_image_vulnerabilities.go
  central/graphql/resolvers/plotted_node_vulnerabilities.go
  central/imagecomponent/datastoretest/datastore_sac_test.go
  central/pruning/pruning.go
  central/version/ensure_test.go
  central/version/store/store_impl_test.go
  pkg/defaults/policies/files/external_exposure.json
  pkg/postgres/pgconfig/config.go
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/test/groovy/GlobalSearch.groovy
  qa-tests-backend/src/test/groovy/GroupsTest.groovy
  qa-tests-backend/src/test/groovy/IntegrationsSplunkViolationsTest.groovy
  qa-tests-backend/src/test/groovy/ProcessVisualizationTest.groovy
  qa-tests-backend/src/test/groovy/SummaryTest.groovy
  scripts/ci/jobs/gke-kernel-qa-e2e-tests.sh
  scripts/ci/jobs/gke-postgres-scale-tests.sh
  scripts/ci/jobs/gke-scale-tests.sh
  scripts/ci/jobs/mitre-bundles-checks.sh
  scripts/ci/jobs/policy-checks.sh
  scripts/ci/jobs/style-checks.sh
  sensor/debugger/k8s/k8sclient.go
  sensor/tests/replay/replay_test.go
  sensor/tests/resource/helper.go
  tools/allowed-large-files
  tools/local-sensor/main.go
Labels: ci-upgrade-tests, area/central, area/sensor, area/postgres, ci-postgres-tests

#2457 Bump collector version
  COLLECTOR_VERSION
Labels: ci-all-qa-tests, ci-openshift-4-tests, ci-openshift-aro-tests, ci-openshift-tests

#2441 Delete ROX_VERIFY_IMAGE_SIGNATURE feature flag in UI
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/helpers/integrations.js
  ui/apps/platform/cypress/integration/integrations/signatureIntegrations.test.js
  ui/apps/platform/src/Containers/Integrations/IntegrationTilesPage/IntegrationTilesPage.js
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#2389 Introduce sync resource to evaluate impact of resync
  central/sensor/service/pipeline/deploymentevents/pipeline.go
  central/sensor/service/pipeline/namespaces/pipeline.go
  central/sensor/service/pipeline/networkpolicies/pipeline.go
  central/sensor/service/pipeline/rolebindings/pipeline.go
  central/sensor/service/pipeline/roles/pipeline.go
  central/sensor/service/pipeline/secrets/pipeline.go
  central/sensor/service/pipeline/serviceaccounts/pipeline.go
  central/sensor/service/pipeline/utils.go
  generated/internalapi/central/sensor_events.pb.go
  pkg/metrics/op_string.go
  pkg/metrics/operations.go
  proto/internalapi/central/sensor_events.proto
  sensor/admission-control/resources/deployment.go
  sensor/admission-control/resources/namespace.go
  sensor/admission-control/resources/pod.go
  sensor/common/detector/detector.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/resource_event_handler_impl.go
  sensor/kubernetes/listener/resource_event_handler_impl_test.go
  sensor/kubernetes/listener/resources/service.go
Labels: area/central, area/sensor, area/admission-controller

#2480 ROX-6473 Fix parent hierarchy for autogrouped pods
  pkg/uuid/uuid.go
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/OrchestratorMain.groovy
  qa-tests-backend/src/test/groovy/IntegrationsSplunkViolationsTest.groovy
  qa-tests-backend/src/test/groovy/ProcessVisualizationTest.groovy
  sensor/kubernetes/listener/resources/convert.go
  sensor/kubernetes/listener/resources/deployments.go
  sensor/kubernetes/listener/resources/references/parent_hierarchy.go
  sensor/tests/replay/data/safety-net-central-out.bin
Labels: area/sensor

#2449 [ROX-11299] : Add node components resolvers and sub-resolvers that use Postgres datastores
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/components_v2.go
  central/graphql/resolvers/gen/main.go
  central/graphql/resolvers/generated.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/loaders/node_components.go
  central/graphql/resolvers/loaders/node_components_test.go
  central/graphql/resolvers/loaders/node_cves_test.go
  central/graphql/resolvers/node_components.go
  central/graphql/resolvers/node_vulnerabilities.go
  central/graphql/resolvers/nodes.go
  central/graphql/resolvers/resolver.go
  central/graphql/resolvers/utils.go
  central/graphql/resolvers/vulnerabilities_v2.go
Labels: area/central

#2501 ROX-11136 persist dashboard widget config
  ui/apps/platform/src/hooks/useWidgetConfig.test.tsx
  ui/apps/platform/src/hooks/useWidgetConfig.ts
  ui/apps/platform/src/types/widgetConfig.ts
Labels: area/ui

#2498 Separate CVE tiles and tabs for VM update
  ui/apps/platform/cypress/constants/VulnManagementPage.js
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/helpers/vmWorkflowUtils.js
  ui/apps/platform/cypress/helpers/vulnmanagement/entities.js
  ui/apps/platform/cypress/integration/vulnmanagement/componentsListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/cvesListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/deploymentsListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/entitypages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/namespacesListPages.test.js
  ui/apps/platform/src/Components/GroupedTabs.js
  ui/apps/platform/src/Components/workflow/EntityTabs/EntityTabs.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/RelatedEntitiesSideList.js
  ui/apps/platform/src/Containers/VulnMgmt/List/ImageComponents/VulnMgmtListImageComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.utils/filterEntityRelationship.ts
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.utils/filterEntityRelationships.test.ts
  ui/apps/platform/src/utils/__snapshots__/WorkflowState.test.js.snap
  ui/apps/platform/src/utils/__snapshots__/entityRelationships.test.js.snap
  ui/apps/platform/src/utils/entityRelationships.ts
Labels: area/ui

#2340 ROX-11342 Improve user-facing Artifacthub info
  central/clusters/deployer.go
  central/clusters/deployer_test.go
  image/templates/helm/shared/assets/Red_Hat-Hat_icon.png
  image/templates/helm/shared/assets/StackRox_icon.png
  image/templates/helm/stackrox-central/Chart.yaml.htpl
  image/templates/helm/stackrox-central/README.md.htpl
  image/templates/helm/stackrox-central/templates/00-stackrox-application.yaml
  image/templates/helm/stackrox-secured-cluster/Chart.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/README.md.htpl
  image/templates/helm/stackrox-secured-cluster/assets/icon.png
  pkg/helm/charts/tests/centralservices/flavor/flavor_test.go
  pkg/images/defaults/flavor.go
  pkg/images/defaults/flavor_test.go
  pkg/images/defaults/testutils/flavor.go
  pkg/renderer/kubernetes_helm_test.go
  scripts/ci/artifacthub/artifacthub-repo.yml
  scripts/ci/publish-helm-charts.sh
  sensor/upgrader/common/bundle_resources_completeness_test.go
Labels: area/central, area/helm, area/sensor

#2504 Revert "Introduce sync resource action to evaluate impact of Sensor s…
  central/sensor/service/pipeline/deploymentevents/pipeline.go
  central/sensor/service/pipeline/namespaces/pipeline.go
  central/sensor/service/pipeline/networkpolicies/pipeline.go
  central/sensor/service/pipeline/rolebindings/pipeline.go
  central/sensor/service/pipeline/roles/pipeline.go
  central/sensor/service/pipeline/secrets/pipeline.go
  central/sensor/service/pipeline/serviceaccounts/pipeline.go
  central/sensor/service/pipeline/utils.go
  generated/internalapi/central/sensor_events.pb.go
  pkg/metrics/op_string.go
  pkg/metrics/operations.go
  proto/internalapi/central/sensor_events.proto
  sensor/admission-control/resources/deployment.go
  sensor/admission-control/resources/namespace.go
  sensor/admission-control/resources/pod.go
  sensor/common/detector/detector.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/resource_event_handler_impl.go
  sensor/kubernetes/listener/resource_event_handler_impl_test.go
  sensor/kubernetes/listener/resources/service.go
Labels: area/central, area/sensor, area/admission-controller

#2510 [ROX-11949] : Add operating system to NodeVulnerability and ImageVulnerability graphQL schema
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/node_vulnerabilities.go
  central/graphql/resolvers/vulnerabilities_v2.go
Labels: area/central

#2505 Treat SYNC as CREATE for in namespace pipeline
  central/sensor/service/pipeline/deploymentevents/pipeline.go
  central/sensor/service/pipeline/namespaces/pipeline.go
  central/sensor/service/pipeline/networkpolicies/pipeline.go
  central/sensor/service/pipeline/rolebindings/pipeline.go
  central/sensor/service/pipeline/roles/pipeline.go
  central/sensor/service/pipeline/secrets/pipeline.go
  central/sensor/service/pipeline/serviceaccounts/pipeline.go
  central/sensor/service/pipeline/utils.go
  generated/internalapi/central/sensor_events.pb.go
  pkg/metrics/op_string.go
  pkg/metrics/operations.go
  proto/internalapi/central/sensor_events.proto
  sensor/admission-control/resources/deployment.go
  sensor/admission-control/resources/namespace.go
  sensor/admission-control/resources/pod.go
  sensor/common/detector/detector.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/resource_event_handler_impl.go
  sensor/kubernetes/listener/resource_event_handler_impl_test.go
  sensor/kubernetes/listener/resources/service.go
Labels: area/central, area/sensor, area/admission-controller

#2502 [ROX-11954] Add support for nested scoping in Postgres
  central/cluster/datastore/datastore_impl_postgres_test.go
  pkg/postgres/walker/schema.go
  pkg/search/scoped/context.go
  pkg/search/scoped/context_test.go
  pkg/search/scoped/postgres/searcher.go
  pkg/search/scoped/postgres/searcher_test.go
Labels: area/central, area/postgres, ci-postgres-tests

#2424 ROX-11296: set redirect_uri for the OAuth exchange
  pkg/auth/authproviders/openshift/backend_impl.go
  pkg/auth/authproviders/openshift/internal/dexconnector/openshift.go
Labels: area/auth

#2459 ROX-11142: Proposal to mitigate Network Baseline Flake
  qa-tests-backend/src/main/groovy/util/NetworkGraphUtil.groovy
  qa-tests-backend/src/test/groovy/NetworkBaselineTest.groovy
Labels: ci-all-qa-tests, ci-no-ui-tests, ci-openshift-4-tests, team/maple, ci-openshift-aro-tests, ci-openshift-rosa-tests, ci-osd-aws-tests, ci-osd-gcp-tests

#2512 ROX-11511: Wait for expected requests to reach a destination integration tests
  ui/apps/platform/cypress/helpers/clusters.js
  ui/apps/platform/cypress/helpers/request.js
  ui/apps/platform/cypress/integration/systemHealth/clusters.test.js
Labels: area/ui

#2513 ROX-11136 implementation for action widget config persistence
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/AgingImages.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/AgingImages.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ComplianceLevelsByStandard.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ComplianceLevelsByStandard.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ImagesAtMostRisk.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ImagesAtMostRisk.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.tsx
  ui/apps/platform/src/types/widgetConfig.ts
Labels: area/ui

#2522 Un-reverse order of legend in Violations by policy category widget.
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.tsx
Labels: area/ui

#2511 make gke-upgrade-test fail with message on value comparison
  scripts/lib.sh
  tests/upgrade/run.sh
Labels: ci-upgrade-tests

#2514 LayerIndex resolver for image component
  central/graphql/resolvers/components.go
  central/graphql/resolvers/components_v1.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/images.go
Labels: area/central

#2523 [ROX-11912] Add support for clusters and cluster count for cluster vulnerabilities
  central/graphql/resolvers/cluster_vulnerabilities.go
  central/graphql/resolvers/vulnerabilities.go
  central/graphql/resolvers/vulnerabilities_v1.go
  central/graphql/resolvers/vulnerabilities_v2.go
Labels: area/central

#2515 Fix scoping of counts in tile sidebar for VM updates
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cluster/VulnMgmtEntityCluster.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Component/VulnMgmtEntityImageComponent.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Component/VulnMgmtEntityNodeComponent.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Deployment/VulnMgmtDeploymentOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Deployment/VulnMgmtEntityDeployment.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Image/VulnMgmtEntityImage.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Image/VulnMgmtImageOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Namespace/VulnMgmtEntityNamespace.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Namespace/VulnMgmtNamespaceOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Node/VulnMgmtEntityNode.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Node/VulnMgmtNodeOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/RelatedEntitiesSideList.js
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.fragments.js
  ui/apps/platform/src/constants/workflowPages.constants.js
Labels: area/ui

#2428 ROX-11228: Centralize CRUD SAC test case definitions
  central/alert/datastore/datastore.go
  central/alert/datastore/datastore_sac_test.go
  central/networkbaseline/datastore/datastore_impl.go
  central/networkbaseline/datastore/datastore_sac_test.go
  central/networkpolicies/datastore/datastore_sac_test.go
  central/pod/datastore/datastore.go
  central/pod/datastore/datastore_sac_test.go
  central/processbaseline/datastore/datastore_sac_test.go
  central/processbaselineresults/datastore/datastore_sac_test.go
  central/processindicator/datastore/datastore_sac_test.go
  central/rbac/k8srole/datastore/datastore.go
  central/rbac/k8srole/datastore/datastore_sac_test.go
  central/rbac/k8srolebinding/datastore/datastore.go
  central/rbac/k8srolebinding/datastore/datastore_sac_test.go
  central/risk/datastore/datastore_sac_test.go
  central/secret/datastore/datastore.go
  central/secret/datastore/datastore_sac_test.go
  central/serviceaccount/datastore/datastore.go
  central/serviceaccount/datastore/datastore_sac_test.go
  pkg/sac/testutils/crud_test_cases.go
Labels: team/merlin, area/auth, area/central, area/postgres, ci-postgres-tests

#2484 Quickfix: Change `cd` into a pair of `pushd` and `popd` to fix release failures
  scripts/ci/lib.sh
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#1528 Delete leftover SHOW_DISALLOWED_CONNECTIONS from Network Graph
  ui/apps/platform/src/Components/LegendTile.js
  ui/apps/platform/src/Components/NetworkGraph/baselineSimulationUtils/enhanceLinksWithSimulatedStatus.ts
  ui/apps/platform/src/Containers/Network/Graph/Overlays/Legend.tsx
  ui/apps/platform/src/Containers/Network/Graph/networkGraphStyles.js
  ui/apps/platform/src/Containers/Network/networkTypes.ts
  ui/apps/platform/src/constants/networkGraph.js
  ui/apps/platform/src/images/legend-icons/disallowed-connection.svg
  ui/apps/platform/src/images/legend-icons/namespace-disallowed-connection.svg
  ui/apps/platform/src/utils/featureFlags.ts
  ui/apps/platform/src/utils/networkGraphUtils.js
  ui/apps/platform/src/utils/networkGraphUtils.test.constants.ts
  ui/apps/platform/src/utils/networkLink.utils.js
  ui/apps/platform/src/utils/networkNode.utils.js
Labels: area/ui

#2463 Dv/jest mock implementation explicit
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/AgingImages.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ComplianceLevelsByStandard.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ImagesAtMostRisk.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicySeverity.test.tsx
  ui/apps/platform/src/test-utils/mocks/@patternfly/react-charts.tsx
Labels: area/ui

#2530 [Rox-11968] : Add ImageComponents and ImageComponentCount sub resolvers to ImageScan
  central/graphql/resolvers/components.go
  central/graphql/resolvers/gen/main.go
  central/graphql/resolvers/generated.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_scan.go
  central/graphql/resolvers/images.go
Labels: area/central

#2472 ROX-11318: Adding side panel to policy categories page
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategoriesFilterSelect.tsx
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategoriesList.tsx
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategoriesListSection.tsx
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategoriesPage.tsx
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategorySidePanel.tsx
  ui/apps/platform/src/services/PolicyCategoriesService.ts
  ui/apps/platform/src/types/policy.proto.ts
Labels: area/ui
