Repository stackrox/stackrox, pull requests merged in 2022-10, with the labels that each got.

#3270 ROX-12884: Add retries to handrolled stores
  central/image/datastore/store/mocks/store.go
  central/image/datastore/store/postgres/store.go
  central/image/datastore/store/store.go
  central/networkgraph/flow/datastore/internal/store/postgres/store.go
  central/node/datastore/store/postgres/store.go
  pkg/version/postgres/store.go
Labels: area/central

#3238 ROX-12875: Add indexes for SAC filters
  pkg/postgres/schema/alerts.go
  pkg/postgres/schema/compliance_run_metadata.go
  pkg/postgres/schema/compliance_run_results.go
  pkg/postgres/schema/deployments.go
  pkg/postgres/schema/image_integrations.go
  pkg/postgres/schema/k8s_roles.go
  pkg/postgres/schema/namespaces.go
  pkg/postgres/schema/network_baselines.go
  pkg/postgres/schema/networkpolicies.go
  pkg/postgres/schema/nodes.go
  pkg/postgres/schema/pods.go
  pkg/postgres/schema/process_baseline_results.go
  pkg/postgres/schema/process_baselines.go
  pkg/postgres/schema/process_indicators.go
  pkg/postgres/schema/risks.go
  pkg/postgres/schema/role_bindings.go
  pkg/postgres/schema/secrets.go
  pkg/postgres/schema/service_accounts.go
  tools/generate-helpers/pg-table-bindings/funcs.go
  tools/generate-helpers/pg-table-bindings/list.go
  tools/generate-helpers/pg-table-bindings/main.go
  tools/generate-helpers/pg-table-bindings/schema.go.tpl
Labels: area/postgres, ci-postgres-tests, ci-postgres-scale-tests, turbo-build

#3224 ROX-11323 Enable fake workloads in local-sensor
  sensor/debugger/k8s/fake.go
  sensor/kubernetes/fake/fake.go
  sensor/kubernetes/main.go
  tools/local-sensor/main.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: team/maple, area/sensor

#3272 Re-org migration conversion tool
  migrator/migrations/postgreshelper/schema/convert_images.go
  migrator/migrations/postgreshelper/schema/convert_images_test.go
  migrator/migrations/postgreshelper/schema/convert_test_child1.go
  migrator/migrations/postgreshelper/schema/convert_test_child1_p4.go
  migrator/migrations/postgreshelper/schema/convert_test_child1_p4_test.go
  migrator/migrations/postgreshelper/schema/convert_test_child1_test.go
  migrator/migrations/postgreshelper/schema/convert_test_child2.go
  migrator/migrations/postgreshelper/schema/convert_test_child2_test.go
  migrator/migrations/postgreshelper/schema/convert_test_g2_grand_child1.go
  migrator/migrations/postgreshelper/schema/convert_test_g2_grand_child1_test.go
  migrator/migrations/postgreshelper/schema/convert_test_g3_grand_child1.go
  migrator/migrations/postgreshelper/schema/convert_test_g3_grand_child1_test.go
  migrator/migrations/postgreshelper/schema/convert_test_g_grand_child1.go
  migrator/migrations/postgreshelper/schema/convert_test_g_grand_child1_test.go
  migrator/migrations/postgreshelper/schema/convert_test_grand_child1.go
  migrator/migrations/postgreshelper/schema/convert_test_grand_child1_test.go
  migrator/migrations/postgreshelper/schema/convert_test_grandparents.go
  migrator/migrations/postgreshelper/schema/convert_test_grandparents_test.go
  migrator/migrations/postgreshelper/schema/convert_test_multi_key_structs.go
  migrator/migrations/postgreshelper/schema/convert_test_multi_key_structs_test.go
  migrator/migrations/postgreshelper/schema/convert_test_parent1.go
  migrator/migrations/postgreshelper/schema/convert_test_parent1_test.go
  migrator/migrations/postgreshelper/schema/convert_test_parent2.go
  migrator/migrations/postgreshelper/schema/convert_test_parent2_test.go
  migrator/migrations/postgreshelper/schema/convert_test_parent3.go
  migrator/migrations/postgreshelper/schema/convert_test_parent3_test.go
  migrator/migrations/postgreshelper/schema/convert_test_parent4.go
  migrator/migrations/postgreshelper/schema/convert_test_parent4_test.go
  migrator/migrations/postgreshelper/schema/convert_test_short_circuits.go
  migrator/migrations/postgreshelper/schema/convert_test_short_circuits_test.go
  migrator/migrations/postgreshelper/schema/convert_test_single_key_structs.go
  migrator/migrations/postgreshelper/schema/convert_test_single_key_structs_test.go
  tools/generate-helpers/pg-table-bindings/main.go
  tools/generate-helpers/pg-table-bindings/migration_tool.go.tpl
  tools/generate-helpers/pg-table-bindings/migration_tool_test.go.tpl
Labels: area/postgres, ci-postgres-tests

#3288 ROX-12932: Hide NaN in new Cluster Counts dropdown links while loading
  ui/apps/platform/src/Containers/VulnMgmt/Dashboard/CvesMenu.js
Labels: area/ui

#3223 Implement deletion functionalty for collections table
  ui/apps/platform/src/Containers/Collections/CollectionsTable.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTablePage.tsx
  ui/apps/platform/src/Containers/Dashboard/hooks/useRestQuery.ts
  ui/apps/platform/src/css/trumps.css
Labels: area/ui, epic/resource-collections

#3268 ROX-12893: Wait for more requests in configmanagement integration tests
  ui/apps/platform/cypress/constants/ConfigManagementPage.js
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/helpers/configWorkflowUtils.js
  ui/apps/platform/cypress/integration/configmanagement/ciscontrols.test.js
  ui/apps/platform/cypress/integration/configmanagement/clusters.test.js
  ui/apps/platform/cypress/integration/configmanagement/dashboard.test.js
  ui/apps/platform/cypress/integration/configmanagement/deployments.test.js
  ui/apps/platform/cypress/integration/configmanagement/entitiespage.test.js
  ui/apps/platform/cypress/integration/configmanagement/images.test.js
  ui/apps/platform/cypress/integration/configmanagement/namespaces.test.js
  ui/apps/platform/cypress/integration/configmanagement/nodes.test.js
  ui/apps/platform/cypress/integration/configmanagement/policies.test.js
  ui/apps/platform/cypress/integration/configmanagement/roles.test.js
  ui/apps/platform/cypress/integration/configmanagement/secrets.test.js
  ui/apps/platform/cypress/integration/configmanagement/serviceaccount.test.js
  ui/apps/platform/cypress/integration/configmanagement/usersandgroups.test.js
Labels: area/ui

#3276 Unknown errors and some pgx errors should be treated as transient
  pkg/postgres/pgutils/error.go
  pkg/postgres/pgutils/retry.go
Labels: area/postgres, ci-postgres-tests

#3229 Dashrews/ROX-10199 delete stale network flows
  central/postgres/pruning.go
  central/postgres/pruning_test.go
  central/pruning/pruning.go
Labels: area/central

#3230 ROX-12856: roxctl: Make sure that PSPs are not rendered for deployment bundles
  deploy/common/k8sbased.sh
  pkg/helm/charts/tests/centralservices/testdata/helmtest/central.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/sensor-psp.yaml
  pkg/renderer/render_new.go
  tests/roxctl/bats-tests/cluster/deployment-bundles-psps.bats
  tests/roxctl/bats-tests/local/deployment-bundles-psps.bats
Labels: area/helm

#3267 Add page parameter parsing and component shell for collection form page
  ui/apps/platform/src/Containers/Collections/CollectionFormPage.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsPage.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTable.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTablePage.tsx
  ui/apps/platform/src/Containers/Collections/collections.utils.ts
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/routePaths.js
Labels: area/ui, epic/resource-collections

#3291 ROX-12937: Remove skip from cluster certificate expiration and health integration tests
  ui/apps/platform/cypress/integration/clusters/clusters.test.js
Labels: area/ui

#3295 Simplify configmanagement integration tests
  ui/apps/platform/cypress/integration/configmanagement/ciscontrols.test.js
  ui/apps/platform/cypress/integration/configmanagement/clusters.test.js
  ui/apps/platform/cypress/integration/configmanagement/dashboard.test.js
  ui/apps/platform/cypress/integration/configmanagement/deployments.test.js
  ui/apps/platform/cypress/integration/configmanagement/images.test.js
  ui/apps/platform/cypress/integration/configmanagement/namespaces.test.js
  ui/apps/platform/cypress/integration/configmanagement/nodes.test.js
  ui/apps/platform/cypress/integration/configmanagement/policies.test.js
  ui/apps/platform/cypress/integration/configmanagement/roles.test.js
  ui/apps/platform/cypress/integration/configmanagement/secrets.test.js
  ui/apps/platform/cypress/integration/configmanagement/serviceaccount.test.js
  ui/apps/platform/cypress/integration/configmanagement/usersandgroups.test.js
Labels: area/ui

#3208 ROX-12826: Improve sensor integration tests to remove `time.Sleep`
  sensor/tests/resource/helper.go
  sensor/tests/resource/networkpolicy/networkpolicy_test.go
  sensor/tests/resource/pod/pod_test.go
  sensor/tests/resource/role/role_test.go
Labels: team/maple, area/sensor

#3299 Dashrews/ROX-12944 connect non existing clone error
  central/centralhealth/service/service_impl.go
Labels: area/central, area/postgres, ci-postgres-tests

#3283 Bump collector version to 3.11.x latest
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#3284 ROX-12808: Increase diagnostic bundle timeouts
  central/debug/service/service.go
  roxctl/central/debug/download_diagnostics.go
Labels: area/roxctl, area/central

#3307 ROX-12956: Increase requestTimeout and disable colors for integration tests
  ui/apps/platform/cypress.config.js
  ui/apps/platform/cypress/helpers/compliance.js
  ui/apps/platform/cypress/helpers/configWorkflowUtils.js
  ui/apps/platform/scripts/cypress.sh
Labels: area/ui

#3302 ROX-12826 improve re-sync service tests
  sensor/tests/resource/helper.go
  sensor/tests/resource/service/service_test.go
  sensor/tests/resource/service/yaml/nginx.yaml
Labels: team/maple, area/sensor

#3294 ROX-11927:Remove unsupported 'License' sub resolver from NodeComponent graphQL
  central/graphql/resolvers/node_components.go
  ui/apps/platform/src/Containers/ConfigManagement/Entity/Image.js
  ui/apps/platform/src/queries/image.js
Labels: area/central, area/ui

#3317 Tag team member member in Slack on CI failure in `master` branch
  scripts/ci/get-slack-user-id.sh
  scripts/ci/lib.sh
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#2929 ROX-12032: Don't show edges for other deployments if Network Policy CIDR block is in public range
  central/compliance/checks/common/insecure_registries.go
  central/networkpolicies/graph/evaluator_test.go
  central/networkpolicies/graph/graph_builder.go
  central/networkpolicies/graph/graph_builder_test.go
  pkg/compliance/checks/common/insecure_registries.go
  pkg/net/addr.go
  pkg/netutil/cidr.go
  pkg/netutil/private_subnet.go
Labels: team/maple, area/central

#3300 ROX-12397: add transient retry to Makefile kuttl
  operator/Makefile
Labels: ok-to-test, external-contributor

#3334 Inform colleagues what to do on messages in `#test-failures`
  scripts/ci/lib.sh
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#3255 Bump K8s deps to 0.24.6
  Makefile
  go.mod
  go.sum
  sensor/kubernetes/listener/resources/rbac/conversions.go
  sensor/kubernetes/listener/resources/serviceaccount.go
  sensor/upgrader/common/patch_schema.go
  sensor/upgrader/plan/normalize_object.go
Labels: area/sensor

#3313 [ROX-12955] : Add CVE field query instead of VULNERABILITY scoping in vuln request manager when Postgres is enabled
  central/vulnerabilityrequest/manager/requestmgr/manager_impl.go
Labels: area/central

#3323 ROX-12895: Scaffold out PatternFly Network Graph
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.css
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/Topology.css
  ui/apps/platform/src/Containers/NetworkGraph/components/DefaultEdge.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/DefaultGroup.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/DemoDefaultNode.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleEdge.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleGroup.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleNode.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/defaultComponentFactory.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/stylesComponentFactory.tsx
  ui/apps/platform/src/Containers/NetworkGraph/layouts/defaultLayoutFactory.ts
  ui/yarn.lock
Labels: area/ui

#3347 Move imageComponents and imageVulnerabilities usage behind postgres flag in vuln reporting
  central/reports/common/report_formatter.go
  central/reports/scheduler/schedule.go
Labels: area/central

#3286 ROX-12576 bump collector to fix segfault after arena allocation
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#3205 Add meta templating documentation for feature flags and ignore file
  image/templates/README.md
Labels: area/helm

#3198 ROX-12272: Don't allow auto-upgrades in managed centrals
  central/sensorupgradeconfig/datastore/datastore_impl.go
  central/sensorupgradeconfig/datastore/datastore_test.go
  central/sensorupgradeconfig/datastore/singleton.go
Labels: team/maple, area/central

#3333 Clarify the difference between debug dump and diagnostic bundle
  central/debug/service/service.go
  roxctl/help/help.properties
Labels: area/roxctl, area/central

#3337 Move network integration test file into subfolder
  ui/apps/platform/cypress/integration/networkGraph/network.test.js
Labels: area/ui

#3357 Move imageComponents and imageVulnerabilities usage behind postgres flag in vuln reporting
  central/reports/common/report_formatter.go
  central/reports/scheduler/schedule.go
Labels: area/central

#3305 ROX-12612,ROX-12613,ROX-12618: Collections Add and Delete workflows
  central/resourcecollection/datastore/datastore.go
  central/resourcecollection/datastore/datastore_impl.go
  central/resourcecollection/datastore/datastore_impl_test.go
  central/resourcecollection/datastore/mocks/datastore.go
  central/resourcecollection/datastore/singleton.go
  central/resourcecollection/datastore/store/mocks/store.go
  central/resourcecollection/datastore/store/store.go
  generated/storage/resource_collection.pb.go
  go.mod
  go.sum
  pkg/postgres/schema/collections.go
  proto/storage/resource_collection.proto
Labels: area/central, area/postgres, ci-postgres-tests, epic/resource-collections

#3356 ROX-12981: Add wait for networkbaseline status request in networkFlows integration tests
  ui/apps/platform/cypress/constants/NetworkPage.js
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/helpers/networkGraph.js
  ui/apps/platform/cypress/integration/networkGraph/networkFlows.test.js
Labels: area/ui

#3358 ROX-13011: Prevent failures because no controls in configmanagement integration tests
  ui/apps/platform/cypress/helpers/configWorkflowUtils.js
  ui/apps/platform/cypress/integration/configmanagement/clusters.test.js
Labels: area/ui

#3350 Remove not existing label from dependabot PRs
  .github/dependabot.yaml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#3319 Dashrews/ROX-12926 Fix query building parse issue that manifested in a broken graphql postgres tests
  pkg/search/parser.go
  pkg/search/parser_test.go
  qa-tests-backend/src/test/groovy/DeploymentEventGraphQLTest.groovy
Labels: area/central

#2562 ROX-11909: save kuttl JUnit XML to artifacts
  .openshift-ci/ci_tests.py
  .openshift-ci/post_tests.py
  .openshift-ci/runners.py
Labels: area/operator

#3332 Replace createText with "Images starting with ..."
  ui/apps/platform/src/Containers/Policies/Wizard/Step4/PolicyScopeForm.tsx
Labels: area/ui

#3359 Update TypeScript 4.8.4 devDependencies in ui
  ui/apps/platform/package.json
  ui/packages/ui-components/package.json
  ui/yarn.lock
Labels: area/ui

#3374 ROX-12827: Use a more generous timeout in local scanner TLS issuer test
  sensor/kubernetes/localscanner/tls_issuer_test.go
Labels: area/sensor

#3360 CI: Expose check-generated.sh failures in prow/spyglass
  .github/workflows/scripts/cherry-pick.sh
  scripts/ci/jobs/check-generated.sh
  scripts/style/shellcheck_skip.txt
Labels: area/operator

#3367 ROX-11323 Hide FakeEventsManager logs behind the verbose flag
  sensor/debugger/k8s/fake.go
  tools/local-sensor/main.go
Labels: team/maple, area/sensor

#3314 Dashrews/ROX-12094 cleanup postgres after rollback to rocks
  Makefile
  migrator/clone/mock_central.go
  migrator/clone/postgres/db_clone_manager_impl.go
  migrator/clone/postgres/db_clone_manager_impl_test.go
Labels: area/postgres, ci-postgres-tests

#3366 ROX-12875: Prefix SAC indexes with the target table name
  pkg/postgres/schema/alerts.go
  pkg/postgres/schema/compliance_run_metadata.go
  pkg/postgres/schema/compliance_run_results.go
  pkg/postgres/schema/deployments.go
  pkg/postgres/schema/image_integrations.go
  pkg/postgres/schema/k8s_roles.go
  pkg/postgres/schema/namespaces.go
  pkg/postgres/schema/network_baselines.go
  pkg/postgres/schema/networkpolicies.go
  pkg/postgres/schema/nodes.go
  pkg/postgres/schema/pods.go
  pkg/postgres/schema/process_baseline_results.go
  pkg/postgres/schema/process_baselines.go
  pkg/postgres/schema/process_indicators.go
  pkg/postgres/schema/risks.go
  pkg/postgres/schema/role_bindings.go
  pkg/postgres/schema/secrets.go
  pkg/postgres/schema/service_accounts.go
  tools/generate-helpers/pg-table-bindings/schema.go.tpl
Labels: area/postgres, ci-postgres-tests

#3341 ROX-11323 Allow the fake workloads to create services
  sensor/kubernetes/fake/fake.go
  sensor/kubernetes/fake/service.go
  sensor/kubernetes/fake/workload.go
Labels: team/maple, area/sensor

#3348 Implement basic markup structure of collection form
  ui/apps/platform/src/Containers/Collections/CollectionAttacher.tsx
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/CollectionFormPage.tsx
  ui/apps/platform/src/Containers/Collections/CollectionResults.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsFormPage.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsPage.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector.tsx
Labels: area/ui, epic/resource-collections

#3378 CI: Housekeeping: remove Circle CI scripts
  .circleci/bash-wrapper
  .circleci/check-pr-fixes.sh
  .circleci/check-workflow-live.sh
  .circleci/collect-tests-stats.sh
  .circleci/comment-template.tpl
  .circleci/gke-refresh-token-forever.sh
  .circleci/is-nightly-tag.sh
  .circleci/pr_has_label.sh
  .circleci/wait-for-jobs-completion.sh
  .github/CODEOWNERS
  scripts/ci/gke.sh
  tests/e2e/lib.sh
  tests/e2e/yaml/endpoints-test-lb-patch.yaml
  tests/e2e/yaml/endpoints-test-netpol.yaml
  tools/allowed-large-files
  ui/README.md
Labels: area/ui

#3370 ROX-10890: add monitoring for long running cluster (upstream release)
  deploy/charts/monitoring/.gitignore
  deploy/charts/monitoring/Chart.yaml
  deploy/charts/monitoring/README.md
  deploy/charts/monitoring/dashboards/central.json
  deploy/charts/monitoring/dashboards/cluster-health.json
  deploy/charts/monitoring/requirements.lock
  deploy/charts/monitoring/templates/grafana.yaml
  deploy/charts/monitoring/templates/prometheus.yaml
  deploy/charts/monitoring/values.yaml
  deploy/common/k8sbased.sh
  scale/launch_workload.sh
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#3033 Dashrews/ROX-11730 add Rocks to Postgres upgrade and rollback tests
  .openshift-ci/ci_tests.py
  .openshift-ci/dispatch.sh
  qa-tests-backend/src/test/groovy/UpgradesTest.groovy
  scripts/ci/jobs/gke-postgres-upgrade-tests.sh
  scripts/ci/jobs/gke_postgres_upgrade_tests.py
  scripts/lib.sh
  tests/upgrade/lib.sh
  tests/upgrade/postgres_run.sh
  tests/upgrade/run.sh
  tests/upgrade/validation.sh
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-upgrade-tests, ci-no-api-tests, area/central, area/postgres, ci-postgres-tests

#3298 Introduce Compliance Full Node Scan message
  generated/internalapi/sensor/compliance_iservice.pb.go
  generated/storage/node.pb.go
  proto/internalapi/sensor/compliance_iservice.proto
  proto/storage/node.proto
Labels: ci-no-ui-tests, team/maple

#3355 Bump collector to the latest version
  COLLECTOR_VERSION
Labels: ci-all-qa-tests, ¯\_(ツ)_/¯

#3390 ROX-13028: Skip Configuration Management Controls tests which have intermittent failures
  ui/apps/platform/cypress/integration/configmanagement/ciscontrols.test.js
Labels: area/ui

#3400 Eliminate use of genny for SAC test resource set fixtures
  central/deployment/datastoretest/datastore_sac_test.go
  central/namespace/datastore/datastore_sac_test.go
  central/pod/datastore/datastore_sac_test.go
  central/processbaseline/datastore/datastore_sac_test.go
  central/processbaselineresults/datastore/datastore_sac_test.go
  central/processindicator/datastore/datastore_sac_test.go
  central/rbac/k8srole/datastore/datastore_sac_test.go
  central/rbac/k8srolebinding/datastore/datastore_sac_test.go
  central/risk/datastore/datastore_sac_test.go
  central/serviceaccount/datastore/datastore_sac_test.go
  pkg/fixtures/deployment_gen_sac_fixture.go
  pkg/fixtures/gen_sac_fixture.go
  pkg/fixtures/indicator_gen_sac_fixture.go
  pkg/fixtures/namespace_gen_sac_fixture.go
  pkg/fixtures/pod_gen_sac_fixture.go
  pkg/fixtures/process_baseline_gen_sac_fixture.go
  pkg/fixtures/process_baseline_result_gen_sac_fixture.go
  pkg/fixtures/risk_gen_sac_fixture.go
  pkg/fixtures/role_bindings_gen_sac_fixture.go
  pkg/fixtures/role_gen_sac_fixture.go
  pkg/fixtures/service_account_gen_sac_fixture.go
Labels: area/central

#3394 Fix permissions in central service account to allow diagnostic bundle to retrieve pod data
  CHANGELOG.md
  image/templates/helm/stackrox-central/templates/01-central-03-diagnostics-rbac.yaml
Labels: area/helm

#3346 Move version store to gorm on migrator
  central/centralhealth/service/service_impl.go
  central/main.go
  central/version/ensure_test.go
  central/version/postgres/gen.go
  central/version/postgres/store.go
  central/version/postgres/store_test.go
  central/version/store/store.go
  central/version/store/store_impl.go
  central/version/store/store_impl_test.go
  central/version/utils/utils.go
  migrator/clone/mock_central.go
  migrator/clone/postgres/db_clone_manager_impl.go
  migrator/clone/postgres/db_clone_manager_impl_test.go
  migrator/main.go
  migrator/migrations/postgreshelper/schema/convert_versions.go
  migrator/migrations/postgreshelper/schema/convert_versions_test.go
  migrator/migrations/postgreshelper/schema/gen.go
  migrator/migrations/postgreshelper/test.go
  migrator/postgres/gorm/config.go
  migrator/postgres/gorm/mock.go
  migrator/postgreshelper/load.go
  migrator/runner/version.go
  migrator/version/version.go
  pkg/migrations/migration_version.go
  pkg/postgres/pgtest/conn/conn.go
  pkg/postgres/pgtest/postgres.go
  pkg/postgres/schema/schema_test.go
Labels: area/central, area/postgres, ci-postgres-tests, turbo-build

#3285 ROX-12759: Remove ComplianceRunSchedule completely
  CHANGELOG.md
  central/compliance/manager/manager_impl.go
  central/graphql/resolvers/resolver.go
  central/role/resources/list.go
  generated/api/v1/compliance_management_service.pb.go
  generated/storage/compliance_management.pb.go
  migrator/migrations/m_108_to_m_109_compliance_run_schedules/migration.go
  migrator/migrations/m_108_to_m_109_compliance_run_schedules/migration_test.go
  migrator/runner/all.go
  pkg/migrations/internal/seq_num.go
  proto/api/v1/compliance_management_service.proto
  proto/storage/compliance_management.proto
  proto/storage/proto.lock
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
  ui/apps/platform/cypress/fixtures/auth/mypermissionsMinimalAccess.json
  ui/apps/platform/cypress/fixtures/auth/mypermissionsNoAccess.json
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/ResourceDescription.tsx
  ui/apps/platform/src/hooks/usePermissions.ts
  ui/apps/platform/src/reducers/roles.js
  ui/apps/platform/src/types/roleResources.ts
Labels: pls-merge, area/central, area/ui

#3371 ROX-13001, ROX-12813: (Almost) Exclusively use unstructured objects in the updater
  pkg/k8sutil/k8sobjects/object.go
  sensor/upgrader/bundle/context.go
  sensor/upgrader/bundle/dynamic_objects.go
  sensor/upgrader/bundle/instantiate.go
  sensor/upgrader/bundle/instantiator.go
  sensor/upgrader/bundle/instantiator_test.go
  sensor/upgrader/common/filter.go
  sensor/upgrader/common/filter_test.go
  sensor/upgrader/common/patch_schema.go
  sensor/upgrader/common/schema_validator.go
  sensor/upgrader/common/yaml_validator.go
  sensor/upgrader/execution/executor.go
  sensor/upgrader/plan/actions.go
  sensor/upgrader/plan/convert.go
  sensor/upgrader/plan/order.go
  sensor/upgrader/plan/plan.go
  sensor/upgrader/plan/planner.go
  sensor/upgrader/plan/preserve.go
  sensor/upgrader/plan/preserve_test.go
  sensor/upgrader/plan/unstructured_util.go
  sensor/upgrader/preflight/schema_validation.go
  sensor/upgrader/preflight/schema_validation_test.go
  sensor/upgrader/preflight/testdata/k8s-1.22.json.gz
  sensor/upgrader/runner/metadata_transfer.go
  sensor/upgrader/runner/runner.go
  sensor/upgrader/snapshot/snapshot.go
  sensor/upgrader/snapshot/snapshotter.go
  sensor/upgrader/upgradectx/context.go
  sensor/upgrader/upgradectx/fallback_decoder.go
  sensor/upgrader/upgradectx/list.go
  sensor/upgrader/upgradectx/yaml_decoder.go
  tests/upgrade/run.sh
  tools/allowed-large-files
Labels: ci-upgrade-tests, area/sensor

#3376 Distinguish helper functions with and without feature flag in vulnmanagement integration tests
  ui/apps/platform/cypress/helpers/vulnmanagement/entities.js
  ui/apps/platform/cypress/integration/vulnmanagement/clusterCvesListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/clustersListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/deploymentsListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/imageComponentsListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/imageCvesListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/imagesListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/namespacesListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/nodeComponentsListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/nodeCvesListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/nodesListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/policiesListpages.test.js
Labels: area/ui

#3372 Implement core state and data flow for collections form
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsFormPage.tsx
  ui/apps/platform/src/Containers/Collections/parser.ts
  ui/apps/platform/src/Containers/Collections/types.ts
  ui/apps/platform/src/services/CollectionsService.ts
Labels: area/ui, epic/resource-collections

#3418 ROX-13079: collections store test failures fix
  central/resourcecollection/datastore/store/postgres/store_test.go
  tools/generate-helpers/pg-table-bindings/store_test.go.tpl
Labels: area/central, area/postgres, ci-postgres-tests

#3401 Replace genny code generation in pkg/maputil with generics
  central/detection/alertmanager/alert_manager_impl.go
  operator/pkg/proxy/extension.go
  pkg/auth/authproviders/oidc/backend_factory_impl.go
  pkg/detection/generate.go
  pkg/detection/map_gen.go
  pkg/detection/policy_set.go
  pkg/detection/policy_set_impl.go
  pkg/helm/charts/tests/centralservices/customize_test.go
  pkg/helm/charts/tests/securedclusterservices/customize_test.go
  pkg/kubernetes/annotations_test.go
  pkg/maputil/gen-string-maputil.go
  pkg/maputil/maputil.go
  pkg/maputil/maputil_test.go
  pkg/protoutils/gen-slice_equal.go
  pkg/protoutils/slice_equal.go
  pkg/protoutils/wrapper.go
Labels: area/auth, area/central, area/helm, area/operator

#3361 rox 13014 mock grpc server should record process info of endpoints
  integration-tests/mock-grpc-server/main.go
Labels: ci-all-qa-tests

#3424 Scanner 2.26.1
  SCANNER_VERSION
Labels: ci-all-qa-tests

#3408 ROX-12925: Increase timeout for Network Baseline test
  qa-tests-backend/src/test/groovy/NetworkBaselineTest.groovy
Labels: ci-all-qa-tests, team/maple

#3398 Bump sensor integration tests creation timeout
  sensor/tests/resource/helper.go
Labels: team/maple, area/sensor

#3335 ROX-11058: fix: remove deprecated flag license
  roxctl/central/central.go
  roxctl/central/generate/generate.go
  roxctl/central/license/add/add.go
  roxctl/central/license/info/info.go
  roxctl/central/license/info/info_test.go
  roxctl/central/license/license.go
  roxctl/common/flags/license.go
  roxctl/help/help.properties
Labels: ok-to-test, external-contributor, hacktoberfest-accepted

#3387 ROX-12962 PLoP sensor implementation
  pkg/features/list.go
  sensor/common/metrics/metrics.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/networkflow/metrics/metrics.go
Labels: area/sensor

#3259 ROX-12505 Bump hashstructure to v2.0.2
  central/sensor/service/pipeline/deploymentevents/pipeline.go
  generated/storage/deployment.pb.go
  go.mod
  go.sum
  pkg/images/enricher/metadata.go
  proto/storage/deployment.proto
  sensor/common/deduper/deduper.go
  sensor/common/detector/deduper.go
Labels: team/maple, area/central, area/sensor

#3425 ROX-13080: Remove unnecessary logs in unit test
  pkg/postgres/pgtest/conn/conn.go
Labels: area/postgres, ci-postgres-tests

#3392 Add retries to migrations and connections
  migrator/main.go
  migrator/migrations/n_04_to_n_05_postgres_images/postgres/store.go
  migrator/migrations/n_05_to_n_06_postgres_active_components/postgres/postgres_plugin.go
  migrator/migrations/n_09_to_n_10_postgres_cluster_cves/postgres/postgres_plugin.go
  migrator/migrations/n_27_to_n_28_postgres_log_imbues/migration.go
  migrator/migrations/n_27_to_n_28_postgres_log_imbues/postgres/postgres_plugin.go
  migrator/migrations/n_30_to_n_31_postgres_network_flows/postgres/flow_impl.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/postgres/store_impl.go
  migrator/postgreshelper/load.go
  pkg/postgres/pgadmin/admin_utils.go
  pkg/postgres/pgutils/utils.go
Labels: area/central, area/postgres, ci-postgres-tests

#3391 ROX-13065: Adding skeleton of DeploymentDetails component
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/Topology.css
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
Labels: area/ui

#3377 ROX-12624: GetCollection REST endpoint and service framework
  central/main.go
  central/resourcecollection/datastore/datastore.go
  central/resourcecollection/datastore/datastore_impl.go
  central/resourcecollection/datastore/datastore_impl_test.go
  central/resourcecollection/datastore/singleton.go
  central/resourcecollection/service/service.go
  central/resourcecollection/service/service_impl.go
  central/resourcecollection/service/service_impl_test.go
  central/resourcecollection/service/singleton.go
  generated/api/v1/policy_service.swagger.json
  generated/api/v1/resource_collection_service.pb.go
  generated/api/v1/resource_collection_service.pb.gw.go
  generated/api/v1/resource_collection_service.swagger.json
  proto/api/v1/resource_collection_service.proto
Labels: area/central, epic/resource-collections

#3287 ROX-12760: Use passed context if nested resolver context is null
  central/graphql/resolvers/cluster_vulnerabilities.go
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/components_v2.go
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/node_components.go
  central/graphql/resolvers/node_vulnerabilities.go
  central/graphql/resolvers/nodes.go
  central/graphql/resolvers/plotted_image_vulnerabilities.go
  central/graphql/resolvers/plotted_node_vulnerabilities.go
Labels: area/central

#3393 ROX-13066: Add links and icons for description list descriptions
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.tsx
Labels: area/ui

#3085 [ROX-12565] : Update legacy CVE csv export handler to call CVE type specific handler
  CHANGELOG.md
  central/cve/cluster/csv/handler.go
  central/cve/csv/handler.go
  central/cve/image/csv/handler.go
  central/cve/node/csv/handler.go
  pkg/search/parser.go
  qa-tests-backend/src/test/groovy/CSVTest.groovy
Labels: area/central

#3423 Remove the last use of genny-style codegeneration by moving sliceutils to generics
  Makefile
  central/apitoken/service/service_impl.go
  central/compliance/checks/nist800-190/check412/check.go
  central/compliance/checks/nist800-190/check422/check.go
  central/dackbox/shared_object_sac_filter_test.go
  central/debug/service/diagnostics.go
  central/deployment/index/indexer_impl_test.go
  central/deploymentenvs/manager_impl.go
  central/networkpolicies/graph/diff.go
  central/networkpolicies/graph/diff_test.go
  central/processbaseline/service/service_impl_test.go
  central/pruning/pruning_test.go
  go.mod
  migrator/migrations/m_91_to_m_92_write_edges_to_graph/sortedkeys/serialization.go
  pkg/auth/authproviders/iap/backend_impl.go
  pkg/auth/authproviders/oidc/provider.go
  pkg/auth/user/required_attribute_verifier.go
  pkg/csv/writer.go
  pkg/dackbox/concurrency/key_fence.go
  pkg/dackbox/crud/reader_impl.go
  pkg/dackbox/dackbox.go
  pkg/dackbox/graph/graph.go
  pkg/dackbox/sortedkeys/serialization.go
  pkg/dackbox/utils/copy.go
  pkg/dbhelper/db.go
  pkg/grpc/alpn/alpn.go
  pkg/grpc/client/authn/servicecerttoken/client_creds.go
  pkg/grpc/endpoints.go
  pkg/httputil/proxy/config.go
  pkg/ioutils/chan_writer.go
  pkg/istioutils/istio_api_resources.go
  pkg/k8srbac/policy_rule_field.go
  pkg/mtls/ca.go
  pkg/printers/csv.go
  pkg/search/filtered/searcher.go
  pkg/set/frozen_set_test.go
  pkg/set/set_test.go
  pkg/signatures/public_key_fetcher.go
  pkg/sliceutils/clone.go
  pkg/sliceutils/clone_test.go
  pkg/sliceutils/concat.go
  pkg/sliceutils/diff.go
  pkg/sliceutils/diff_test.go
  pkg/sliceutils/equal.go
  pkg/sliceutils/gen-builtins-generic.go
  pkg/sliceutils/gen-builtins-generic_base.go
  pkg/sliceutils/gen-builtins-generic_comparable.go
  pkg/sliceutils/generic.go
  pkg/sliceutils/generic_base.go
  pkg/sliceutils/generic_comparable.go
  pkg/sliceutils/generic_test.go
  pkg/sliceutils/select.go
  pkg/sliceutils/select_test.go
  pkg/sliceutils/sort.go
  roxctl/central/db/restore/v2_restorer.go
  roxctl/central/generate/interactive.go
  sensor/common/externalsrcs/handler.go
  sensor/common/networkflow/manager/public_ips.go
  sensor/upgrader/preflight/perform.go
  tools/tools-import.go
Labels: area/roxctl, area/auth, area/central, area/sensor

#3447 ROX-13112: Fix a race condition in setting the sensor hash
  sensor/common/detector/deduper.go
  sensor/kubernetes/listener/resources/convert.go
  sensor/kubernetes/listener/resources/deployments.go
Labels: area/sensor

#3430 Update cypress 10.10.0 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#3407 Jv update collector version disable afterglow for endpoints
  COLLECTOR_VERSION
  qa-tests-backend/src/main/groovy/util/ApplicationHealth.groovy
Labels: ci-all-qa-tests

#3351 ROX-11323 Enable metrics in local-sensor
  tools/local-sensor/main.go
Labels: team/maple

#3432 Delete work-around function from vulnmanagement clusterCves integration test
  ui/apps/platform/cypress/integration/vulnmanagement/clusterCvesListPages.test.js
Labels: area/ui

#3441 Replace ambiguous central deployment name in integration tests
  ui/apps/platform/cypress/helpers/networkGraph.js
  ui/apps/platform/cypress/integration/networkGraph/network.test.js
  ui/apps/platform/cypress/integration/networkGraph/networkFlows.test.js
  ui/apps/platform/cypress/integration/risk/risk.test.js
Labels: area/ui

#3442 ROX-13079: fix for postgres deletion tests
  central/resourcecollection/datastore/store/postgres/gen.go
  central/resourcecollection/datastore/store/postgres/store_test.go
  tools/generate-helpers/pg-table-bindings/main.go
  tools/generate-helpers/pg-table-bindings/store_test.go.tpl
Labels: area/central, area/postgres, ci-postgres-tests

#3431 Remove retries options from cluster health integration tests
  ui/apps/platform/cypress/integration/clusters/clusters.test.js
Labels: area/ui

#3436 ROX-12858: Evaluate usages of query.Data in logs and remove on releases to avoid logging secrets
  pkg/search/postgres/common.go
  scripts/check-log-query-data.sh
  scripts/ci/jobs/check-log-query-data.sh
Labels: area/postgres, ci-postgres-tests

#3440 CI: Cleanup dangling processes
  .openshift-ci/clusters.py
  scripts/ci/gke.sh
  scripts/ci/lib.sh
Labels: area/helm

#3216 Bump Scanner pre 73 release
  SCANNER_VERSION
  image/templates/helm/shared/templates/02-scanner-06-deployment.yaml.htpl
Labels: ci-all-qa-tests, area/helm

#3456 Jv update collector version processes listening on ports
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#3465 Revert "Bump Scanner pre 73 release (#3216)"
  SCANNER_VERSION
  image/templates/helm/shared/templates/02-scanner-06-deployment.yaml.htpl
Labels: ci-all-qa-tests, area/helm

#3463 Consolidate set uses
  central/policy/service/validator.go
  go.mod
  go.sum
  pkg/secret/convert/convert.go
Labels: area/central

#2572 ROX-11657: Scope autogenerated image integrations by the image pull secrets
  central/image/service/service_impl.go
  central/imageintegration/datastore/datastore_impl.go
  central/sensor/service/pipeline/imageintegrations/pipeline.go
  generated/api/v1/compliance_service.swagger.json
  generated/api/v1/image_integration_service.swagger.json
  generated/api/v1/image_service.pb.go
  generated/api/v1/image_service.swagger.json
  generated/storage/image_integration.pb.go
  pkg/centralsensor/caps_list.go
  pkg/images/enricher/enricher.go
  pkg/images/enricher/enricher_impl.go
  pkg/images/enricher/enricher_impl_test.go
  pkg/protoconv/resources/resources.go
  pkg/registries/factory_impl.go
  pkg/registries/set_impl_test.go
  pkg/registries/types/types.go
  proto/api/v1/image_service.proto
  proto/storage/image_integration.proto
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
  sensor/common/detector/detector.go
  sensor/common/detector/enricher.go
  sensor/common/store/mocks/types.go
  sensor/common/store/types.go
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/kubernetes/listener/resources/secrets.go
  sensor/kubernetes/listener/resources/serviceaccount.go
  sensor/kubernetes/listener/resources/serviceaccount_store.go
  sensor/kubernetes/listener/resources/singleton.go
  sensor/kubernetes/sensor/sensor.go
  tests/scan_test.go
Labels: pls-merge, area/central, area/ui, area/helm, area/operator, area/sensor, area/postgres

#3457 ROX-13126: Use mock response for both systemHealth vulnDefinitions integration tests
  ui/apps/platform/cypress/helpers/systemHealth.js
  ui/apps/platform/cypress/integration/systemHealth/vulnDefinitions.test.js
Labels: area/ui

#3278 Special case the global OpenShift image pull secret
  pkg/images/enricher/enricher_impl.go
Labels: pls-merge, area/central, area/sensor

#3477 Scanner pre-73 update
  SCANNER_VERSION
  image/templates/helm/shared/templates/02-scanner-06-deployment.yaml.htpl
Labels: ci-all-qa-tests, area/helm

#3467 Dashrews/ROX-13131 network flow walk needs cluster
  central/networkgraph/flow/datastore/internal/store/postgres/store.go
  central/networkgraph/flow/datastore/internal/store/postgres/store_test.go
Labels: area/central

#3449 Use gogo Un/Marshal for node store
  central/node/datastore/store/postgres/store.go
Labels: area/central

#3082 ROX-11323: Local-Sensor resource consumption monitoring: recording pprof
  tools/local-sensor/main.go
Labels: team/maple, turbo-build

#3450 Use gogo Un/Marshal for version and cve store
  central/cve/cluster/datastore/store/postgres/full_store.go
  central/version/postgres/store.go
Labels: area/central

#3474 ROX-13165: Removing security overview section and redesigning network security section
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
Labels: area/ui

#3478 ROX-13181: Fix more production config to central db
  image/postgres/Dockerfile.envsubst
  image/postgres/scripts/init-entrypoint.sh
Labels: area/helm, area/postgres

#3141 ROX-12692: Remove pods/attach resource from admission controller resources, and fail open on unsupported request kinds/api verbs
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
  pkg/kubernetes/event.go
  sensor/admission-control/manager/evaluate_runtime.go
Labels: area/helm, area/sensor, area/admission-controller

#3493 `roxctl` refactoring
  roxctl/common/client.go
  roxctl/common/http.go
Labels: area/roxctl

#3494 ROX-12987: Set `User-Agent` header in `roxctl`
  roxctl/common/client.go
  roxctl/common/flags.go
  roxctl/common/useragent.go
Labels: area/roxctl

#3498 Align hierarchical titles at the left when integration tests fail
  ui/apps/platform/cypress/mocha.config.js
Labels: area/ui

#3480 ROX-9316: Fix missing permissions for diagnostic bundle
  CHANGELOG.md
  image/templates/helm/stackrox-central/templates/01-central-03-diagnostics-rbac.yaml
Labels: area/helm

#3476 ROX-13184: Adding filter for deployments in the namespace side panel
  ui/apps/platform/src/Containers/NetworkGraph/namespace/NamespaceDeployments.tsx
Labels: area/ui

#3504 ROX-13225: Add nil checks for impact metrics
  central/cve/converter/utils/convert_utils.go
Labels: area/central

#3518 ROX-8392: Remove unused files.
  operator/tests/central/basic/70-injected-cabundle.yaml
  operator/tests/securedcluster/basic-sc/40-injected-cabundle.yaml
Labels: area/operator

#3413 ROX-11323 Add local-sensor.sh script and README.md
  tools/local-sensor/scripts/README.md
  tools/local-sensor/scripts/local-sensor.sh
Labels: team/maple

#3409 ROX-11323 Add labels pool in fake workloads
  sensor/kubernetes/fake/deployment.go
  sensor/kubernetes/fake/fake.go
  sensor/kubernetes/fake/labels.go
  sensor/kubernetes/fake/namespace.go
  sensor/kubernetes/fake/networkpolicy.go
  sensor/kubernetes/fake/service.go
  sensor/kubernetes/fake/workload.go
Labels: team/maple, area/sensor

#3403 Dashrews/ROX-13063 fix network flow deadlock when we have overlapping delete calls
  central/networkgraph/flow/datastore/flow.go
  central/networkgraph/flow/datastore/flow_impl.go
  central/networkgraph/flow/datastore/internal/store/flow.go
  central/networkgraph/flow/datastore/internal/store/mocks/flow.go
  central/networkgraph/flow/datastore/internal/store/postgres/cluster_impl.go
  central/networkgraph/flow/datastore/internal/store/postgres/store.go
  central/networkgraph/flow/datastore/internal/store/postgres/store_test.go
  central/networkgraph/flow/datastore/internal/store/rocksdb/flow_impl.go
  central/networkgraph/flow/datastore/mocks/flow.go
  central/postgres/pruning.go
  central/postgres/pruning_test.go
  central/pruning/pruning.go
Labels: area/central

#3510 Delete mocha devDependencies in UI
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#3462 ROX-12615: Collections DryRun workflow
  central/resourcecollection/datastore/datastore.go
  central/resourcecollection/datastore/datastore_impl.go
  central/resourcecollection/datastore/datastore_impl_test.go
  central/resourcecollection/datastore/mocks/datastore.go
  central/resourcecollection/datastore/singleton.go
  central/resourcecollection/service/singleton.go
Labels: area/central, epic/resource-collections

#3497 ROX-13134: Make sidebar conditional on URL params
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/cidr/CidrBlockSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalEntitiesSideBar.tsx
  ui/apps/platform/src/routePaths.js
Labels: area/ui

#3411 ROX-11754: SAC integration tests for image datastore
  central/image/datastore/datastore.go
  central/image/datastore/datastore_impl.go
  central/image/datastore/datastore_test_constructors.go
  central/image/datastore/store/postgres/store.go
  central/image/datastoretest/datastore_sac_test.go
  central/imagecveedge/datastore/datastore_test_constructors.go
Labels: area/central, area/postgres, ci-postgres-tests

#3523 ROX-13037 Remove unmaintained script
  image/templates/helm/stackrox-central/scripts/prepare-resource-metadata-for-helm-migration.sh
  scripts/style/shellcheck_skip.txt
Labels: area/helm

#3514 ROX-13201: Create dedicated config for db settings
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/templates/01-central-08-configmap.yaml.htpl
  image/templates/helm/stackrox-central/templates/01-central-08-external-db-configmap.yaml
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  migrator/postgres/gorm/config.go
  pkg/config/config.go
  pkg/config/config_test.go
  pkg/config/testdata/malformed_case/central-external-db.yaml
  pkg/config/testdata/valid_case/central-config.yaml
  pkg/config/testdata/valid_case/central-external-db.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/central.test.yaml
  roxctl/helm/derivelocalvalues/derivelocalvalues.go
Labels: area/roxctl, area/helm

#3312 [ROX-12384] : Scope namespace query for evaluating service account scope permissions to enclosing cluster; Add namespace loader to cache previously queried results
  central/graphql/handler/handler_test.go
  central/graphql/handler/namespace_test.go
  central/graphql/resolvers/loaders/context.go
  central/graphql/resolvers/loaders/namespaces.go
  central/graphql/resolvers/loaders/namespaces_test.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/service_accounts.go
  central/namespace/datastore/datastore.go
  central/namespace/datastore/datastore_sac_test.go
  central/namespace/datastore/mocks/datastore.go
  central/namespace/resolver.go
  central/namespace/store/mocks/store.go
  central/namespace/store/store.go
  central/networkpolicies/graph/evaluator.go
  central/networkpolicies/graph/evaluator_test.go
  central/networkpolicies/graph/mocks/evaluator.go
  central/reports/scheduler/schedule.go
  central/role/service/service_impl.go
  central/sac/authorizer/builtin_scoped_authorizer.go
Labels: area/central, area/postgres

#3488 ROX-11009: Re-enable VulnMgmtTest in postgres mode
  central/graphql/resolvers/images.go
  qa-tests-backend/src/test/groovy/VulnMgmtTest.groovy
Labels: area/central

#3535 dashrews/ROX-13182 clean up central logging when central-db is bounced
  pkg/postgres/pgutils/error.go
  pkg/postgres/pgutils/retry.go
  pkg/search/postgres/common.go
Labels: area/postgres

#3550 ROX-13125: Show error if CVE CSV download in non-Postgres env
  ui/apps/platform/src/Components/ExportButton.js
  ui/apps/platform/src/services/DownloadService.js
Labels: area/ui

#3554 Fixed shellcheck lint for get-lb-ip.sh
  scripts/k8s/get-lb-ip.sh
  scripts/style/shellcheck_skip.txt
Labels: ok-to-test, external-contributor

#3552 shellcheck fixes for k8s/cleanup.sh
  scripts/k8s/cleanup.sh
  scripts/style/shellcheck_skip.txt
Labels: ok-to-test, external-contributor

#3444 Implementation for RuleSelector collection component
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsFormPage.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/AutoCompleteSelect.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByLabelSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByNameSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.test.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/index.tsx
  ui/apps/platform/src/Containers/Collections/parser.ts
  ui/apps/platform/src/Containers/Collections/types.ts
  ui/apps/platform/src/services/CollectionsService.ts
Labels: area/ui, epic/resource-collections

#3553 shellcheck fixes for expand-db.sh
  local/expand-db.sh
  scripts/style/shellcheck_skip.txt
Labels: ok-to-test, external-contributor

#3557 Move skipped test from auth to separate logout integration test file
  ui/apps/platform/cypress/integration/auth.test.js
  ui/apps/platform/cypress/integration/logout.test.js
Labels: area/ui

#3500 Impl name and description fields for collection form.
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
Labels: area/ui, epic/resource-collections

#3573 Update cypress 10.11.0 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#3576 ROX-11323 Add link to sensor's recorded metrics
  tools/local-sensor/scripts/README.md
Labels: team/maple

#3551 shellcheck fixes for helmdiff.sh
  dev-tools/helmdiff.sh
  scripts/style/shellcheck_skip.txt
Labels: ok-to-test, external-contributor

#3560 :rotating_light: G303 gosec rule enabled
  .golangci.yml
Labels: ok-to-test, external-contributor

#3344 ROX-7273 Google SCC Integration Does Not Map Severity Properly
  central/notifiers/cscc/client/client.go
  central/notifiers/cscc/cscc.go
  central/notifiers/cscc/cscc_test.go
  central/notifiers/cscc/findings/findings.go
Labels: area/central

#3491 Add fix for unstable component key and fill out tests
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByLabelSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByNameSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.test.tsx
  ui/apps/platform/src/hooks/useIndexKey.tsx
Labels: area/ui

#3556 Add field IDs to name and label selector components
  ui/apps/platform/src/Containers/Collections/RuleSelector/AutoCompleteSelect.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByLabelSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByNameSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.test.tsx
Labels: area/ui

#3572 ROX-13266: Use new CVE list
  central/cve/fetcher/fetch_utils.go
  image/fetch-stackrox-data.sh
Labels: area/central, area/helm

#3579 Reduce the batch size for image and node postgres migration
  central/cve/cluster/datastore/store/postgres/gen.go
  central/image/datastore/store/postgres/gen.go
  central/image/datastore/store/postgres/store.go
  central/node/datastore/store/postgres/gen.go
  central/node/datastore/store/postgres/store.go
  migrator/migrations/n_04_to_n_05_postgres_images/migration.go
  migrator/migrations/n_04_to_n_05_postgres_images/postgres/store.go
  migrator/migrations/n_09_to_n_10_postgres_cluster_cves/migration.go
  migrator/migrations/n_09_to_n_10_postgres_cluster_cves/postgres/postgres_plugin.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/migration.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/postgres/store_impl.go
  tools/generate-helpers/pg-table-bindings/main.go
  tools/generate-helpers/pg-table-bindings/migration.go
  tools/generate-helpers/pg-table-bindings/migration.go.tpl
Labels: area/central, area/postgres

#3568 feat: added gosec G103
  .golangci.yml
  central/idmap/shared_storage.go
  pkg/concurrency/error_signal.go
  pkg/concurrency/signal.go
  pkg/concurrency/value_stream.go
  pkg/grpc/authn/basic/manager.go
  pkg/grpc/util/lazy_conn.go
  pkg/protoreflect/slice_id.go
  pkg/sac/effectiveaccessscope/conversion.go
  pkg/testutils/full_init.go
  sensor/admission-control/manager/manager_impl.go
Labels: ok-to-test, external-contributor

#3577 ROX-13300: Remove certexpiry request from generic wait in integration tests
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/helpers/visit.js
  ui/apps/platform/cypress/integration/accessControl/accessControlAuthProviders.test.js
Labels: area/ui

#3479 ROX-13187 + ROX-13188: Adding the YAML display and export button to the namespace side panel
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/NetworkGraph/namespace/NamespaceNetworkPolicies.tsx
  ui/apps/platform/src/Containers/NetworkGraph/namespace/NamespaceSideBar.tsx
  ui/yarn.lock
Labels: area/ui

#3020 [ROX-13346] Add autocomplete option for new vulnerability search categories in graphQL
  central/cve/cluster/datastore/datastore.go
  central/cve/cluster/datastore/datastore_impl.go
  central/cve/cluster/datastore/mocks/datastore.go
  central/cve/datastoretest/datastore_sac_test.go
  central/cve/datastoretest/node_cve_from_generic_cve_datastore.go
  central/cve/node/datastore/datastore.go
  central/cve/node/datastore/datastore_impl.go
  central/cve/node/datastore/mocks/datastore.go
  central/graphql/resolvers/search.go
Labels: area/central

#3331 ROX-12983: Add flag to disallow auto-upgrade toggle
  central/main.go
  central/sensorupgrade/service/service.go
  central/sensorupgrade/service/service_impl.go
  central/sensorupgrade/service/service_impl_test.go
  central/sensorupgrade/service/singleton.go
  central/sensorupgradeconfig/datastore/datastore.go
  central/sensorupgradeconfig/datastore/datastore_impl.go
  central/sensorupgradeconfig/datastore/datastore_test.go
  central/sensorupgradeconfig/datastore/mocks/datastore.go
  central/sensorupgradeconfig/datastore/singleton.go
  generated/api/v1/sensor_upgrade_service.pb.go
  generated/api/v1/sensor_upgrade_service.swagger.json
  proto/api/v1/sensor_upgrade_service.proto
  ui/apps/platform/src/Containers/Clusters/Components/AutoUpgradeToggle.tsx
  ui/apps/platform/src/Containers/Clusters/PF/ClustersTable/AutoUpgradeToggle.tsx
  ui/apps/platform/src/services/ClustersService.ts
Labels: team/maple, area/central, area/ui

#3399 ROX-12834: Introduce fake nodescan generator
  compliance/collection/main.go
  compliance/collection/nodescanv2/fake_nodescan.go
  compliance/collection/nodescanv2/nodescan.go
  compliance/collection/nodescanv2/nodescan_test.go
  pkg/env/node_scan.go
  proto/internalapi/sensor/compliance_iservice.proto
  sensor/common/compliance/service_impl.go
Labels: ci-all-qa-tests, team/maple, ci-race-tests, area/sensor

#3596 ROX-13223: Cherry pick fix for CVE list update
  central/cve/converter/utils/convert_utils.go
  central/cve/fetcher/fetch_utils.go
  image/fetch-stackrox-data.sh
Labels: area/central, area/helm

#3607 Fix config-shape to be consistent with templates
  image/templates/helm/stackrox-central/internal/config-shape.yaml
Labels: area/helm

#3584 Remove references to k8s/cve-list.json and k8s/checksum
  central/cve/fetcher/fetch_utils.go
  central/cve/fetcher/istio.go
  central/cve/fetcher/manager_impl.go
  central/cve/fetcher/manager_impl_test.go
  central/cve/fetcher/testdata/checksum
  central/cve/fetcher/testdata/correct_cves.json
  central/cve/fetcher/testdata/cve-list.json
  central/cve/fetcher/testdata/cve_checksum
  tools/allowed-large-files
Labels: area/central

#3605 ROX-13318: Fix skipTLSVerify property on Generic Webhook integration form
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GenericWebhookIntegrationForm.tsx
Labels: area/ui

#3578 Fix: Shell scripts to pass shellcheck linter for sensor.sh and central.sh
  deploy/k8s/central.sh
  deploy/k8s/sensor.sh
  deploy/openshift/central.sh
  scripts/style/shellcheck_skip.txt
Labels: ok-to-test, external-contributor
