Repository stackrox/stackrox, pull requests merged in 2022-06, with the labels that each got.

#1669 ROX-10731: wire postgres SAC search for alerts
  central/alert/datastore/datastore_sac_test.go
  central/alert/datastore/internal/search/searcher_impl.go
  central/alert/datastore/internal/store/postgres/store.go
  central/alert/mappings/options.go
  generated/storage/alert.pb.go
  pkg/postgres/schema/alerts.go
  proto/storage/alert.proto
Labels: team/merlin, area/central, area/postgres, ci-postgres-tests

#1770 GraphQL Schema test
  central/graphql/resolvers/resolver.go
  central/graphql/schema/test/schema_test.go
Labels: area/central

#1782 ROX-11028: GraphQL subresolvers to include image/cluster prefix
  central/graphql/resolvers/cluster_vulnerabilities.go
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/node_vulnerabilities.go
Labels: area/central

#1902 ROX-10845: Move notifier scrubbing to datastore - port to 3.69
  central/graphql/resolvers/notifiers.go
  central/notifier/datastore/datastore.go
  central/notifier/datastore/datastore_impl.go
  central/notifier/datastore/datastsore_test.go
  central/notifier/datastore/mocks/datastore.go
  central/notifier/service/service_impl.go
Labels: area/central

#1905 ROX-10845: Move notifier scrubbing to datastore - port to 3.68
  central/graphql/resolvers/notifiers.go
  central/notifier/datastore/datastore.go
  central/notifier/datastore/datastore_impl.go
  central/notifier/datastore/datastsore_test.go
  central/notifier/datastore/mocks/datastore.go
  central/notifier/service/service_impl.go
Labels: area/central

#1907 Remove unused node stores
  central/node/datastore/datastore.go
  central/node/store/mocks/store.go
  central/node/store/store.go
  central/node/store/store_impl.go
  central/sensor/service/pipeline/nodes/pipeline.go
Labels: area/central

#1876 Improve duration of image signature verification tests.
  qa-tests-backend/src/test/groovy/ImageSignatureVerificationTest.groovy
Labels: ci-no-ui-tests, team/merlin, ci-no-api-tests, ci-race-tests, ci-no-upgrade-tests

#1850 ROX-10984: Adding Policy Management layer above Policies
  ui/apps/platform/cypress/constants/PoliciesPagePatternFly.js
  ui/apps/platform/cypress/helpers/policies.js
  ui/apps/platform/cypress/helpers/policiesPatternFly.js
  ui/apps/platform/cypress/integration/policies/exportPolicy.test.js
  ui/apps/platform/cypress/integration/policies/importPolicy.test.js
  ui/apps/platform/cypress/integration/policies/policies-basic.test.js
  ui/apps/platform/cypress/integration/policies/policies-boolean-policy-logic.test.js
  ui/apps/platform/cypress/integration/policies/policies-import-export.test.js
  ui/apps/platform/cypress/integration/policies/policiesTable.test.js
  ui/apps/platform/cypress/integration/policies/policyWizardStep3.test.js
  ui/apps/platform/cypress/integration/risk/riskSearchToPolicy.test.js
  ui/apps/platform/cypress/integration/search.test.js
  ui/apps/platform/src/Components/TabNav.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessControlNav.tsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/Policies/PoliciesPage.tsx
  ui/apps/platform/src/Containers/Policies/PolicyManagementPage.tsx
  ui/apps/platform/src/Containers/Policies/PolicyPage.tsx
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTable.css
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTable.tsx
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTablePage.tsx
  ui/apps/platform/src/routePaths.js
  ui/apps/platform/src/sagas/searchSagas.test.js
Labels: area/ui

#1904 Local sensor: use flag.Duration instead of parsing it as a string
  tools/local-sensor/main.go
Labels: team/maple

#1894 ROX-9644: Port image integrations over to Postgres
  central/imageintegration/datastore/datastore_impl.go
  central/imageintegration/datastore/datastore_impl_test.go
  central/imageintegration/datastore/singleton.go
  central/imageintegration/store/bolt/store.go
  central/imageintegration/store/bolt/store_impl.go
  central/imageintegration/store/bolt/store_impl_test.go
  central/imageintegration/store/postgres/gen.go
  central/imageintegration/store/postgres/store.go
  central/imageintegration/store/postgres/store_test.go
  central/imageintegration/store/store.go
  central/imageintegration/store/store_impl.go
  generated/storage/image_integration.pb.go
  pkg/postgres/schema/image_integrations.go
  pkg/postgres/schema/schema_test.go
  proto/storage/image_integration.proto
Labels: area/central, area/postgres, ci-postgres-tests

#1919 ROX-11107: Test docs branch create access
  .github/workflows/test-token.yaml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#1911 Port singleton stores over to Postgres
  central/config/datastore/datastore.go
  central/config/datastore/datastore_test.go
  central/config/datastore/singleton.go
  central/config/store/bolt/store.go
  central/config/store/bolt/store_test.go
  central/config/store/gen.go
  central/config/store/mocks/store.go
  central/config/store/postgres/gen.go
  central/config/store/postgres/store.go
  central/config/store/postgres/store_test.go
  central/config/store/store.go
  central/installation/store/bolt/store.go
  central/installation/store/gen.go
  central/installation/store/postgres/gen.go
  central/installation/store/postgres/store.go
  central/installation/store/postgres/store_test.go
  central/installation/store/singleton.go
  central/installation/store/store.go
  central/role/resources/list.go
  central/sensorupgradeconfig/datastore/datastore_impl.go
  central/sensorupgradeconfig/datastore/datastore_test.go
  central/sensorupgradeconfig/datastore/internal/store/bolt/store.go
  central/sensorupgradeconfig/datastore/internal/store/gen.go
  central/sensorupgradeconfig/datastore/internal/store/mocks/store.go
  central/sensorupgradeconfig/datastore/internal/store/postgres/gen.go
  central/sensorupgradeconfig/datastore/internal/store/postgres/store.go
  central/sensorupgradeconfig/datastore/internal/store/postgres/store_test.go
  central/sensorupgradeconfig/datastore/internal/store/store.go
  central/sensorupgradeconfig/datastore/singleton.go
  central/telemetry/gatherers/central.go
  central/telemetry/gatherers/gatherer_test.go
  pkg/postgres/schema/configs.go
  pkg/postgres/schema/installation_infos.go
  pkg/postgres/schema/schema_test.go
  pkg/postgres/schema/sensor_upgrade_configs.go
  tools/generate-helpers/pg-table-bindings/main.go
  tools/generate-helpers/pg-table-bindings/schema.go.tpl
  tools/generate-helpers/pg-table-bindings/singleton.go.tpl
  tools/generate-helpers/pg-table-bindings/singleton_test.go.tpl
  tools/generate-helpers/singletonstore-wrapper
  tools/generate-helpers/singletonstore/main.go
  tools/generate-helpers/singletonstore/operations/add.go
  tools/generate-helpers/singletonstore/operations/get.go
  tools/generate-helpers/singletonstore/operations/props.go
  tools/generate-helpers/singletonstore/operations/upsert.go
Labels: area/central, area/postgres, ci-postgres-tests

#1870 Dashrews/rox-10085 postgres backup capability
  .circleci/config.yml
  central/externalbackups/scheduler/schedule.go
  central/globaldb/export/backup.go
  central/globaldb/handlers/http_handler.go
  central/globaldb/v2backuprestore/backup/generators/dbs/common.go
  central/globaldb/v2backuprestore/backup/generators/dbs/postgres.go
  central/globaldb/v2backuprestore/backup/generators/dbs/rocks.go
  central/main.go
  image/rhel/Dockerfile.envsubst
  image/rhel/create-bundle.sh
  pkg/backup/backup_bundle.go
  scripts/grab-data-from-central.sh
Labels: area/central, area/helm, area/postgres, ci-postgres-tests

#1710 Add PatternFly summary counts to security metrics dashboard.
  ui/apps/platform/src/Containers/Dashboard/PatternFly/DashboardPage.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/SummaryCounts.tsx
Labels: area/ui

#1653 ROX-11053: When multiple PKs then require PK to be searchable as FK
  generated/storage/test.pb.go
  pkg/postgres/walker/schema.go
  pkg/search/options.go
  proto/storage/test.proto
  tools/generate-helpers/pg-table-bindings/main.go
Labels: area/postgres, ci-postgres-tests

#1926 OSCI: Get bin/ps
  .openshift-ci/Dockerfile.build_root
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#1766 [ROX-10204 + ROX-10773] : Add node components top level resolvers and sub resolvers to relevant schema types ; Add "node" prefix to sub-resolvers related to node vulns and components
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/components.go
  central/graphql/resolvers/components_v2.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/node_components.go
  central/graphql/resolvers/node_vulnerabilities.go
  central/graphql/resolvers/nodes.go
  central/graphql/resolvers/vulnerabilities_v2.go
Labels: area/central

#1944 OSCI: Get junit XML results on unit test failures
  scripts/ci/jobs/go-unit-tests.sh
  scripts/ci/jobs/integration-unit-tests.sh
  scripts/ci/jobs/shell-unit-tests.sh
  scripts/ci/jobs/ui-unit-tests.sh
Labels: area/sensor, area/admission-controller

#1949 Add retries to gorm connection
  migrator/postgreshelper/load.go
  pkg/postgres/schema/schema_test.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/postgres, ci-postgres-tests

#1935 Update TypeScript 4.7.3 devDependencies in ui
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/RuleGroups.tsx
  ui/apps/platform/src/Containers/Policies/Modal/PolicyImport.utils.test.ts
  ui/apps/platform/src/Containers/Policies/PolicyPage.tsx
  ui/apps/platform/src/Containers/Violations/types/violationTypes.ts
  ui/apps/platform/src/types/policy.proto.ts
  ui/packages/ui-components/package.json
  ui/yarn.lock
Labels: area/ui

#1941 ROX-11260: graphQL resolver for cluster types (k8s, istio, openshift)
  central/graphql/resolvers/cluster_vulnerabilities.go
  central/graphql/resolvers/vulnerabilities.go
Labels: area/central

#1951 CI: Avoid flaky repos during install
  image/postgres/create-bundle.sh
Labels: area/helm, area/postgres, ci-postgres-tests

#1953 CI: Set QA test group for merge and periodics
  qa-tests-backend/scripts/run-part-1.sh
Labels: ci-all-qa-tests

#1930 ROX-11250: Scan images during admission request for image signature policy field
  pkg/booleanpolicy/policyfields/fields.go
  qa-tests-backend/src/test/groovy/AdmissionControllerNoImageScanTest.groovy
  sensor/admission-control/manager/evaluate_deploytime.go
  sensor/admission-control/manager/manager_impl.go
Labels: ci-no-ui-tests, team/merlin, ci-no-api-tests, area/sensor, area/admission-controller, ci-no-upgrade-tests

#1917 ROX-11053: Use v1.Query for for multikey resources
  central/componentcveedge/datastore/internal/postgres/store.go
  central/imagecomponentedge/datastore/internal/store/postgres/store.go
  central/imagecveedge/datastore/internal/postgres/store.go
  central/nodecomponentedge/store/postgres/store.go
  central/relations/nodecomponenttocve/datastore/store/postgres/store.go
  pkg/search/postgres/common.go
  tools/generate-helpers/pg-table-bindings/funcs.go
  tools/generate-helpers/pg-table-bindings/list.go
  tools/generate-helpers/pg-table-bindings/multitest/postgres/store.go
  tools/generate-helpers/pg-table-bindings/store.go.tpl
  tools/generate-helpers/pg-table-bindings/store_test.go.tpl
Labels: team/merlin, area/central, area/helm, area/postgres, ci-postgres-tests

#1961 Delete fixture from Configuration Management dashboard integration test
  ui/apps/platform/cypress/fixtures/subjects/subject.json
  ui/apps/platform/cypress/fixtures/subjects/subjects.json
  ui/apps/platform/cypress/integration/configmanagement/dashboard.test.js
Labels: area/ui

#1965 ROX-11059: Use errox sentinel errors within roxctl.
  roxctl/central/backup/backup.go
  roxctl/central/cert/cert.go
  roxctl/central/db/restore/v2.go
  roxctl/central/db/restore/v2_cancel.go
  roxctl/central/db/restore/v2_restorer.go
  roxctl/central/db/transfer/transfer.go
  roxctl/central/generate/file_format.go
  roxctl/central/generate/generate.go
  roxctl/central/generate/istio.go
  roxctl/central/generate/k8s.go
  roxctl/central/generate/loadbalancer.go
  roxctl/central/generate/output_dir.go
  roxctl/central/generate/validate.go
  roxctl/central/initbundles/fetch_ca.go
  roxctl/central/initbundles/generate.go
  roxctl/central/initbundles/revoke.go
  roxctl/central/userpki/create/create.go
  roxctl/central/userpki/delete/delete.go
  roxctl/collector/supportpackages/upload/command.go
  roxctl/collector/supportpackages/upload/upload.go
  roxctl/common/auth.go
  roxctl/common/client.go
  roxctl/common/download/parse_filename.go
  roxctl/common/exact_args.go
  roxctl/common/flags.go
  roxctl/common/flags/api_token_file.go
  roxctl/common/flags/confirm.go
  roxctl/common/flags/endpoint.go
  roxctl/common/flags/imageFlavor.go
  roxctl/common/flags/persistence.go
  roxctl/common/util/wrap.go
  roxctl/completion/completion_test.go
  roxctl/helm/derivelocalvalues/derivelocalvalues.go
  roxctl/helm/derivelocalvalues/local.go
  roxctl/logconvert/logconvert.go
  roxctl/scanner/clustertype/wrapper.go
  roxctl/sensor/generate/collection_method.go
  roxctl/sensor/getbundle/get_bundle.go
  roxctl/sensor/util/resolve_id_or_name.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, area/roxctl, ci-no-upgrade-tests

#1960 OSCI: Fix UI e2e failure
  tests/e2e/run-ui-e2e.sh
Labels: area/ui, ¯\_(ツ)_/¯

#1971 ROX-11246: Remove redux state from Raven logimbue POST calls
  ui/apps/platform/src/store/configureStore.js
Labels: area/ui

#1963 Apply schemas after upgrade
  migrator/main.go
  migrator/postgreshelper/load.go
  pkg/postgres/schema/all.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/postgres, ci-postgres-tests

#1987 Ignore io package after refactoring
  .golangci.yml
  roxctl/helm/derivelocalvalues/derivelocalvalues.go
Labels: area/roxctl

#1954 ROX-10947: Empty name under spec.customresourcedefinitions.owned.resources
  operator/apis/platform/v1alpha1/central_types.go
  operator/apis/platform/v1alpha1/securedcluster_types.go
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
Labels: area/operator

#1979 Migrate flags package to environment
  .golangci.yml
  roxctl/central/db/restore/v2.go
  roxctl/central/db/restore/v2_cancel.go
  roxctl/central/generate/generate.go
  roxctl/central/userpki/delete/delete.go
  roxctl/common/flags/confirm.go
  roxctl/common/flags/settings_var.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, area/roxctl, ci-no-upgrade-tests

#1861 Extend resource type identification coverage for easier datastore SAC classification
  central/networkbaseline/datastore/datastore_impl.go
  central/networkbaseline/store/postgres/gen.go
  central/networkbaseline/store/postgres/index.go
  central/networkbaseline/store/postgres/store.go
  central/networkbaseline/store/postgres/store_test.go
  central/networkpolicies/datastore/internal/store/postgres/gen.go
  central/networkpolicies/datastore/internal/store/postgres/index.go
  central/networkpolicies/datastore/internal/store/postgres/store.go
  central/networkpolicies/datastore/internal/store/postgres/store_test.go
  central/processbaselineresults/datastore/datastore_impl.go
  central/processbaselineresults/datastore/internal/store/postgres/gen.go
  central/processbaselineresults/datastore/internal/store/postgres/index.go
  central/processbaselineresults/datastore/internal/store/postgres/store.go
  central/processbaselineresults/datastore/internal/store/postgres/store_test.go
  generated/api/v1/search_service.pb.go
  generated/api/v1/search_service.swagger.json
  generated/storage/compliance.pb.go
  generated/storage/network_baseline.pb.go
  generated/storage/network_policy.pb.go
  generated/storage/process_baseline.pb.go
  pkg/postgres/schema/network_baselines.go
  pkg/postgres/schema/networkpolicies.go
  pkg/postgres/schema/process_baseline_results.go
  proto/api/v1/search_service.proto
  proto/storage/compliance.proto
  proto/storage/network_baseline.proto
  proto/storage/network_policy.proto
  proto/storage/process_baseline.proto
  tools/generate-helpers/pg-table-bindings/list.go
  tools/generate-helpers/pg-table-bindings/object.go
  tools/generate-helpers/pg-table-bindings/resource_type_test.go
  tools/generate-helpers/pg-table-bindings/store.go.tpl
  tools/generate-helpers/pg-table-bindings/store_test.go.tpl
Labels: area/central, area/postgres, ci-postgres-tests

#1970 Do not print missing signature errors.
  pkg/signatures/public_key_fetcher.go
  pkg/signatures/public_key_fetcher_test.go
Labels: ci-no-ui-tests, ci-no-api-tests, ci-postgres-tests, ci-no-upgrade-tests

#1888 Integration tests for NetworkPolicy
  central/networkpolicies/datastore/datastore_impl.go
  central/networkpolicies/datastore/datastore_impl_test.go
  central/networkpolicies/datastore/datastore_sac_test.go
  pkg/fixtures/network_policy.go
Labels: team/merlin, area/central, area/postgres, ci-postgres-tests

#1918 ROX-9735: Enable SAC for Upsert on indirectly scoped resources
  central/cluster/store/clusterhealth/postgres/store.go
  central/cve/datastore/cluster/internal/store/postgres/store.go
  central/cve/image/datastore/internal/store/postgres/store.go
  central/cve/node/internal/store/postgres/store.go
  central/imagecomponent/datastore/internal/store/postgres/store.go
  central/networkgraph/entity/datastore/internal/store/postgres/store.go
  central/networkpolicies/datastore/internal/undodeploymentstore/postgres/store.go
  central/networkpolicies/datastore/internal/undostore/postgres/store.go
  central/nodecomponent/datastore/postgres/store.go
  tools/generate-helpers/pg-table-bindings/multitest/postgres/store.go
  tools/generate-helpers/pg-table-bindings/object.go
  tools/generate-helpers/pg-table-bindings/store.go.tpl
  tools/generate-helpers/pg-table-bindings/test/postgres/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testchild1/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testchild2/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testg2grandchild1/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testg3grandchild1/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testggrandchild1/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testgrandchild1/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testgrandparent/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testparent1/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testparent2/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testparent3/store.go
Labels: team/merlin, area/central, area/postgres, ci-postgres-tests

#1701 [ROX-10811] : Add PlottedNodeVulnerabilities resolver and tie it to sub-resolvers in cluster and node
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/components_v2.go
  central/graphql/resolvers/node_components.go
  central/graphql/resolvers/node_vulnerabilities.go
  central/graphql/resolvers/nodes.go
  central/graphql/resolvers/plotted_node_vulnerabilities.go
  central/graphql/resolvers/plotted_vulnerabilities.go
  central/graphql/resolvers/plotted_vulnerabilities_common.go
Labels: area/central

#1997 Replace requests via sagas with requests from System Configuration in UI
  ui/apps/platform/src/Containers/SystemConfig/ConfigTelemetryDetailWidget.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details.tsx
  ui/apps/platform/src/Containers/SystemConfig/Page.tsx
  ui/apps/platform/src/Containers/SystemConfig/SystemConfigForm/SystemConfigForm.tsx
  ui/apps/platform/src/reducers/index.js
  ui/apps/platform/src/reducers/systemConfig.js
  ui/apps/platform/src/reducers/telemetryConfig.js
  ui/apps/platform/src/sagas/index.js
  ui/apps/platform/src/sagas/systemConfig.js
  ui/apps/platform/src/sagas/telemetryConfig.js
  ui/apps/platform/src/services/SystemConfigService.ts
  ui/apps/platform/src/services/TelemetryService.ts
  ui/apps/platform/src/types/telemetry.proto.ts
Labels: area/ui

#1980 [ROX-11301] Add new datastore for node components
  central/graphql/resolvers/resolver.go
  central/nodecomponent/datastore/datastore.go
  central/nodecomponent/datastore/datastore_impl.go
  central/nodecomponent/datastore/index/index.go
  central/nodecomponent/datastore/mocks/datastore.go
  central/nodecomponent/datastore/search/mocks/searcher.go
  central/nodecomponent/datastore/search/searcher.go
  central/nodecomponent/datastore/search/searcher_impl.go
  central/nodecomponent/datastore/singleton.go
  central/nodecomponent/datastore/store/postgres/gen.go
  central/nodecomponent/datastore/store/postgres/index.go
  central/nodecomponent/datastore/store/postgres/store.go
  central/nodecomponent/datastore/store/postgres/store_test.go
  central/ranking/singleton.go
  central/risk/manager/manager.go
  central/risk/manager/singleton.go
  central/search/service/service.go
  central/search/service/service_impl_test.go
Labels: area/central, ci-postgres-tests

#1958 Add initial dashboard chart for Policy Violations by Category
  ui/apps/platform/package.json
  ui/apps/platform/src/Components/PatternFly/Charts/LinkableChartLabel.tsx
  ui/apps/platform/src/Containers/Dashboard/DashboardPage.js
  ui/apps/platform/src/Containers/Dashboard/PatternFly/DashboardPage.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/SummaryCounts.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/WidgetCard.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/WidgetErrorEmptyState.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/hooks/useAlertGroups.ts
  ui/apps/platform/src/constants/visuals/colors.js
  ui/apps/platform/src/hooks/useResizeObserver.ts
  ui/apps/platform/src/services/AlertsService.ts
  ui/apps/platform/src/utils/chartUtils.ts
  ui/yarn.lock
Labels: area/ui

#1995 [ROX-11280] : Add decommissioned cluster retention config and default value
  central/config/datastore/singleton.go
  generated/api/v1/config_service.swagger.json
  generated/storage/config.pb.go
  proto/storage/config.proto
Labels: area/central

#2002 Move and rename System Configuration files in UI
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details/PrivateConfigDataRetentionDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details/PublicConfigBannerDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details/PublicConfigLoginDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details/SystemConfigDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Form/FormSelect.tsx
  ui/apps/platform/src/Containers/SystemConfig/Form/SystemConfigForm.tsx
  ui/apps/platform/src/Containers/SystemConfig/SystemConfigForm/index.ts
  ui/apps/platform/src/Containers/SystemConfig/SystemConfigPage.tsx
Labels: area/ui

#1947 Delete unused code coverage for integration tests in UI
  ui/Makefile
  ui/apps/platform/cypress.json
  ui/apps/platform/cypress/plugins/index.js
  ui/apps/platform/cypress/support/index.js
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#2017 Fix master build by adding correct generated srcs
  central/networkpolicies/datastore/internal/store/postgres/index.go
Labels: area/central

#2016 Add tracing when Postgres is enabled for legacy storage
  central/globaldb/bolt.go
  central/globaldb/dackbox/singleton.go
  central/globaldb/rocksdb.go
  central/globalindex/singleton.go
  pkg/postgres/log.go
Labels: area/central, area/postgres, ci-postgres-tests

#2009 Datastores for node graph edges
  central/nodecomponentcveedge/datastore/datastore.go
  central/nodecomponentcveedge/datastore/datastore_impl.go
  central/nodecomponentcveedge/datastore/index/index.go
  central/nodecomponentcveedge/datastore/mocks/datastore.go
  central/nodecomponentcveedge/datastore/search/mocks/searcher.go
  central/nodecomponentcveedge/datastore/search/searcher.go
  central/nodecomponentcveedge/datastore/search/searcher_impl.go
  central/nodecomponentcveedge/datastore/singleton.go
  central/nodecomponentedge/datastore/datastore_impl.go
  central/nodecomponentedge/datastore/singleton.go
  central/nodecomponentedge/search/searcher.go
  central/nodecomponentedge/search/searcher_impl.go
  central/nodecomponentedge/store/dackbox/store_impl.go
  central/nodecomponentedge/store/mocks/store.go
  central/nodecomponentedge/store/store.go
Labels: area/central, ci-postgres-tests

#2015 Fix SAC errors in Postgres now that SAC is in the store
  central/activecomponent/updater/updater_impl.go
  central/processindicator/datastore/datastore.go
  central/processindicator/datastore/datastore_impl_test.go
Labels: area/central

#1982 ROX-11193, ROX-11305: CI: Fix EKS & OSD password leaks
  .circleci/config.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-openshift-aro-tests, ci-openshift-rosa-tests, ci-no-api-tests, ci-no-upgrade-tests

#2014 fix GetNumObjectsDeleted typo
  central/sensor/service/pipeline/reconciliation/reconciliation.go
Labels: area/central

#1989 ROX-11061: option to disable offline_access scope request in OIDC auth provider
  pkg/auth/authproviders/oidc/backend_impl.go
  pkg/auth/authproviders/oidc/backend_impl_test.go
Labels: area/auth

#2012 Update SearchFilter to increase type saftey against undefined keys
  ui/apps/platform/src/Components/SearchFilterInput/SearchFilterInput.tsx
  ui/apps/platform/src/types/search.ts
  ui/apps/platform/src/utils/searchUtils.ts
Labels: area/ui

#1885 Dashrews/ROX-11143 optimize timing in flaky process baseline test for nightly tests
  qa-tests-backend/src/test/groovy/ProcessBaselinesTest.groovy
Labels: ci-no-ui-tests, ci-no-api-tests, area/central, ci-openshift-crio-tests, ci-no-upgrade-tests, bug

#2005 ROX-11138: fix splunk e2e test
  qa-tests-backend/src/test/groovy/IntegrationsSplunkViolationsTest.groovy
Labels: team/merlin, ci-postgres-tests

#2007 Move Navigation components to MainPage folder in UI
  ui/apps/platform/src/Containers/MainPage/Header/CLIDownloadMenu.tsx
  ui/apps/platform/src/Containers/MainPage/Header/Masthead.tsx
  ui/apps/platform/src/Containers/MainPage/Header/MastheadToolbar.tsx
  ui/apps/platform/src/Containers/MainPage/Header/OrchestratorComponentsToggle.tsx
  ui/apps/platform/src/Containers/MainPage/Header/UserMenu.js
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/LeftNavItem.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/Navigation/NavigationSideBar/index.ts
  ui/apps/platform/src/Containers/Network/Header/NetworkSearch.js
  ui/apps/platform/src/Containers/Risk/RiskPageHeader.js
  ui/apps/platform/src/services/DeploymentsService.ts
  ui/apps/platform/src/services/NetworkService.js
  ui/apps/platform/src/utils/orchestratorComponents.ts
Labels: area/ui

#2032 Fix the node search options in global search
  central/globalindex/mapping/mapping.go
  central/search/service/service.go
  central/search/service/service_impl.go
  central/search/service/service_impl_test.go
Labels: area/central

#1976 ROX-10205, ROX-10774, ROX-10776: Add a graphQL resolver that returns image components only
  central/graphql/resolvers/cluster_vulnerabilities.go
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/components_v2.go
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/vulnerabilities_v2.go
Labels: area/central

#2048 Cleanup unused vars / funcs
  central/detection/service/service_impl_test.go
  central/role/resources/list.go
  pkg/sac/tests/testutils.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/auth, area/central, ci-no-upgrade-tests

#2046 Clean up compliance datastore and service
  CHANGELOG.md
  central/compliance/datastore/datastore.go
  central/compliance/datastore/datastore_impl.go
  central/compliance/datastore/internal/store/mocks/store.go
  central/compliance/datastore/internal/store/postgres/store.go
  central/compliance/datastore/internal/store/postgres/store_test.go
  central/compliance/datastore/internal/store/rocksdb/rocksdb_store.go
  central/compliance/datastore/internal/store/rocksdb/rocksdb_store_test.go
  central/compliance/datastore/internal/store/store.go
  central/compliance/datastore/mocks/datastore.go
  central/compliance/datastore/test/datastore_test.go
  central/compliance/handlers/csv.go
  central/compliance/service/service_impl.go
  central/graphql/resolvers/compliance.go
  central/splunk/compliance.go
  generated/api/v1/compliance_service.pb.go
  generated/api/v1/compliance_service.pb.gw.go
  generated/api/v1/compliance_service.swagger.json
  proto/api/v1/compliance_service.proto
Labels: area/central

#2022 ROX-11165: Use sentinel errors instead of `fmt.Errorf`
  central/group/datastore/internal/store/store_impl.go
  central/group/service/validate.go
Labels: area/central

#1939 ROX-10966 local-sensor: record and replay k8s events
  sensor/debugger/k8s/fake.go
  sensor/debugger/k8s/trace.go
  sensor/kubernetes/listener/listener.go
  sensor/kubernetes/listener/listener_impl.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/kubernetes/sensor/options.go
  sensor/kubernetes/sensor/sensor.go
  tools/local-sensor/main.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: team/maple, area/sensor

#1999 Add hash indexes for commonly used fields in image graph
  generated/storage/relations.pb.go
  pkg/postgres/schema/image_component_cve_edges.go
  pkg/postgres/schema/image_component_edges.go
  pkg/postgres/schema/image_cve_edges.go
  proto/storage/relations.proto
Labels: area/postgres, ci-postgres-tests, ci-postgres-scale-tests

#2052 Jv/3.68.x update collector xz vuln
  COLLECTOR_VERSION
Labels: needs-rebase

#1929 Port LogImbue to Postgres
  central/debug/service/service.go
  central/logimbue/handler/handler_impl.go
  central/logimbue/handler/handler_test.go
  central/logimbue/handler/singleton.go
  central/logimbue/store/bolt/store_impl.go
  central/logimbue/store/mocks/store.go
  central/logimbue/store/postgres/gen.go
  central/logimbue/store/postgres/store.go
  central/logimbue/store/postgres/store_test.go
  central/logimbue/store/singleton.go
  central/logimbue/store/store.go
  central/logimbue/store/store_impl.go
  central/logimbue/writer/writer.go
  central/logimbue/writer/writer_test.go
  generated/storage/log.pb.go
  pkg/postgres/schema/log_imbues.go
  proto/storage/log.proto
  tools/generate-helpers/pg-table-bindings/list.go
Labels: area/central, area/postgres, ci-postgres-tests

#2069 Regen LogImbue to pick up new changes
  central/logimbue/store/postgres/store_test.go
Labels: area/central

#2064 Scanner 2.21.7
  SCANNER_VERSION
Labels: ci-all-qa-tests, ci-openshift-4-tests, ci-openshift-crio-tests

#2065 Scanner 2.23.7
  SCANNER_VERSION
Labels: ci-all-qa-tests, ci-openshift-4-tests, ci-openshift-crio-tests

#2071 Scanner 2.24.1
  SCANNER_VERSION
Labels: ci-all-qa-tests, ci-openshift-4-tests, ci-openshift-crio-tests

#2033 Add options dropdown to violated policies widget
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/WidgetCard.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/WidgetErrorEmptyState.tsx
  ui/apps/platform/src/css/trumps.css
  ui/apps/platform/src/utils/chartUtils.ts
Labels: area/ui

#2023 ROX-11159: SAC delete for indirectly scoped resources
  central/cluster/store/clusterhealth/postgres/store.go
  central/cve/datastore/cluster/internal/store/postgres/store.go
  central/cve/image/datastore/internal/store/postgres/store.go
  central/cve/node/datastore/internal/store/postgres/store.go
  central/imagecomponent/datastore/internal/store/postgres/store.go
  central/networkgraph/entity/datastore/internal/store/postgres/store.go
  central/networkpolicies/datastore/internal/undodeploymentstore/postgres/store.go
  central/networkpolicies/datastore/internal/undostore/postgres/store.go
  central/nodecomponent/datastore/store/postgres/store.go
  pkg/search/postgres/common.go
  tools/generate-helpers/pg-table-bindings/multitest/postgres/store.go
  tools/generate-helpers/pg-table-bindings/store.go.tpl
  tools/generate-helpers/pg-table-bindings/test/postgres/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testchild1/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testchild2/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testg2grandchild1/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testg3grandchild1/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testggrandchild1/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testgrandchild1/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testgrandparent/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testparent1/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testparent2/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testparent3/store.go
Labels: team/merlin, area/central, area/postgres, ci-postgres-tests

#2072 Align compliance stores with contexts
  central/compliance/datastore/datastore_impl.go
  central/compliance/datastore/internal/store/mocks/store.go
  central/compliance/datastore/internal/store/rocksdb/rocksdb_store.go
  central/compliance/datastore/internal/store/rocksdb/rocksdb_store_test.go
  central/compliance/datastore/internal/store/store.go
  central/compliance/datastore/test/datastore_test.go
Labels: area/central

#2074 Generate compliance stores for Postgres
  central/compliance/datastore/internal/store/postgres/domain/gen.go
  central/compliance/datastore/internal/store/postgres/domain/index.go
  central/compliance/datastore/internal/store/postgres/domain/store.go
  central/compliance/datastore/internal/store/postgres/domain/store_test.go
  central/compliance/datastore/internal/store/postgres/metadata/gen.go
  central/compliance/datastore/internal/store/postgres/metadata/index.go
  central/compliance/datastore/internal/store/postgres/metadata/store.go
  central/compliance/datastore/internal/store/postgres/metadata/store_test.go
  central/compliance/datastore/internal/store/postgres/results/gen.go
  central/compliance/datastore/internal/store/postgres/results/index.go
  central/compliance/datastore/internal/store/postgres/results/store.go
  central/compliance/datastore/internal/store/postgres/results/store_test.go
  central/compliance/datastore/internal/store/postgres/strings/gen.go
  central/compliance/datastore/internal/store/postgres/strings/store.go
  central/compliance/datastore/internal/store/postgres/strings/store_test.go
  central/compliance/datastore/sac_filter.go
  generated/api/v1/search_service.pb.go
  generated/api/v1/search_service.swagger.json
  generated/storage/compliance.pb.go
  pkg/postgres/schema/compliance_domains.go
  pkg/postgres/schema/compliance_run_metadata.go
  pkg/postgres/schema/compliance_run_results.go
  pkg/postgres/schema/compliance_strings.go
  pkg/search/options.go
  pkg/search/postgres/query/common.go
  proto/api/v1/search_service.proto
  proto/storage/compliance.proto
  tools/generate-helpers/pg-table-bindings/list.go
Labels: area/central, area/postgres, ci-postgres-tests

#2013 OSCI: Onboard non groovy e2e tests
  .circleci/config.yml
  .openshift-ci/ci_tests.py
  .openshift-ci/clusters.py
  .openshift-ci/dispatch.sh
  .openshift-ci/gke_nongroovy_e2e_test.py
  scripts/ci/gate-jobs-config.json
  scripts/ci/gke.sh
  scripts/ci/lib.sh
  scripts/ci/proxy/deploy.sh
  scripts/ci/proxy/nginx-proxy-plain-http.conf
  scripts/ci/proxy/nginx-proxy-tls-grpc.conf
  scripts/ci/proxy/nginx-proxy-tls-http1.conf
  scripts/ci/proxy/nginx-proxy-tls-http2.conf
  scripts/ci/proxy/nginx-proxy-tls-multiplexed.conf
  tests/compliance_operator_test.go
  tests/e2e/lib.sh
  tests/e2e/run.sh
  tests/external_backup_test.go
Labels: ci-upgrade-tests, area/ui

#2090 Regen compliance Postgres stores
  central/compliance/datastore/internal/store/postgres/strings/store.go
Labels: area/central

#2073 Add pagination options to query builder
  pkg/search/postgres/index_test.go
  pkg/search/query_builder.go
Labels: area/postgres, ci-postgres-tests

#2050 OSCI: Onboard openshift-4-e2e with a cluster claim
  .openshift-ci/base_qa_e2e_test.py
  .openshift-ci/dispatch.sh
  .openshift-ci/gke_qa_e2e_test.py
  .openshift-ci/openshift_4_qa_e2e_test.py
  .openshift-ci/post_tests.py
  .openshift-ci/pre_tests.py
  qa-tests-backend/scripts/run-part-1.sh
  qa-tests-backend/src/test/groovy/SummaryTest.groovy
Labels: ci-openshift-4-tests, ci-openshift-tests, ci-openshift-crio-tests

#2060 ROX-10813: plotted image vulnerabilities
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/plotted_image_vulnerabilities.go
  central/graphql/resolvers/plotted_node_vulnerabilities.go
Labels: area/central

#2049 ROX-9640: Port Compliance over to Postgres
  central/compliance/common.go
  central/compliance/datastore/internal/store/postgres/store.go
  central/compliance/datastore/internal/store/strings.go
  central/compliance/datastore/singleton.go
Labels: area/central, area/helm, area/postgres, ci-postgres-tests

#2095 Adding an empty set of DocIDs should result in an empty search
  pkg/search/postgres/query/test/index_test.go
  pkg/search/postgres/query/test/test.go
  pkg/search/query_builder.go
  pkg/search/querybuilder_test.go
Labels: area/postgres, ci-postgres-tests

#2081 ROX-11341 Dump sensor's messages in binary format
  tools/local-sensor/main.go
Labels: team/maple

#1846 Dashrews/rox-10086 ROX-11144 add postgres restore capability
  .circleci/config.yml
  CHANGELOG.md
  central/globaldb/export/backup.go
  central/globaldb/handlers/http_handler.go
  central/globaldb/postgres.go
  central/globaldb/postgres_test.go
  central/globaldb/v2backuprestore/backup/generators/dbs/postgres.go
  central/globaldb/v2backuprestore/backup/generators/dbs/rocks.go
  central/globaldb/v2backuprestore/common/common.go
  central/globaldb/v2backuprestore/formats/all/all.go
  central/globaldb/v2backuprestore/formats/postgresv1/format.go
  central/globaldb/v2backuprestore/formats/postgresv1/postgres.go
  central/globaldb/v2backuprestore/restore/postgres.go
  central/globaldb/v2backuprestore/restore/postgres_test.go
  central/main.go
  pkg/backup/backup_bundle.go
  pkg/postgres/pgadmin/admin_utils.go
  pkg/postgres/pgadmin/postgres_command_utils.go
  roxctl/central/db/db.go
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, area/roxctl, area/central, area/helm, area/postgres, ci-postgres-tests, ci-no-upgrade-tests

#2059 Derived fields part 1: support counts
  pkg/postgres/walker/schema.go
  pkg/postgres/walker/walker.go
  pkg/search/general_query_parser.go
  pkg/search/options.go
  pkg/search/postgres/common.go
  pkg/search/postgres/graph_queries_test.go
  pkg/search/postgres/joins.go
  pkg/search/postgres/query/common.go
  pkg/search/queryutils.go
  pkg/search/queryutils_test.go
  pkg/search/walker.go
Labels: area/postgres, ci-postgres-tests

#2103 Disable Splunk TA for Postgres until search after is implemented
  qa-tests-backend/src/test/groovy/IntegrationsSplunkViolationsTest.groovy
Labels: ci-all-qa-tests, ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-postgres-tests

#2098 [ROX-10969] : Change Vuln reporting to use imageComponents and imageVulnerabilities graphQL resolvers
  central/reports/common/report_formatter.go
  central/reports/scheduler/schedule.go
Labels: area/central

#2097 [ROX-11249] : Remove plottedVulns sub resolver from cluster
  central/graphql/resolvers/clusters.go
Labels: area/central

#2057 ROX-11266 Add severity toggle to Policy Category widget
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.tsx
  ui/apps/platform/src/types/policy.proto.ts
Labels: area/ui

#2110 Remove unused instances of cve datastore
  central/graphql/resolvers/vulnerability_requests_test.go
  central/image/service/service.go
  central/image/service/service_impl.go
  central/image/service/singleton.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl_test.go
  central/vulnerabilityrequest/manager/requestmgr/singleton.go
Labels: area/central, ci-postgres-tests

#2101 ROX-11427 fix remove events
  sensor/debugger/k8s/fake.go
Labels: team/maple, area/sensor

#2093 ROX-11131 Add deployments at most risk widget
  ui/apps/platform/src/Containers/Dashboard/DashboardPage.js
  ui/apps/platform/src/Containers/Dashboard/PatternFly/DashboardPage.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/DeploymentsAtMostRisk.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/DeploymentsAtMostRiskTable.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/WidgetCard.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/hooks/useAlertGroups.ts
  ui/apps/platform/src/Containers/Dashboard/PatternFly/hooks/useDeploymentsAtRisk.ts
  ui/apps/platform/src/Containers/Dashboard/PatternFly/hooks/useRestQuery.ts
  ui/apps/platform/src/Containers/Policies/Wizard/Step4/PolicyScopeForm.tsx
  ui/apps/platform/src/Containers/Risk/RiskTablePanel.js
  ui/apps/platform/src/services/DeploymentsService.ts
Labels: area/ui

#2116 Exclude more buckets from dackbox init
  central/globaldb/dackbox/initialize.go
Labels: area/central, ci-postgres-tests

#2067 Add Cypress test suite for Policy Violations by Category widget
  ui/apps/platform/cypress/constants/DashboardPage.js
  ui/apps/platform/cypress/helpers/main.js
  ui/apps/platform/cypress/integration/dashboard/dashboardSecurityMetrics.test.js
  ui/apps/platform/cypress/support/index.js
Labels: area/ui

#2112 Ensure cve unsnooze loop picks cves from correct datastore
  central/cve/image/datastore/datastore.go
  central/cve/image/datastore/datastore_impl.go
  central/cve/image/datastore/datastore_impl_test.go
  central/cve/image/datastore/search/mocks/searcher.go
  central/cve/image/datastore/search/searcher.go
  central/cve/image/datastore/search/searcher_impl.go
  central/cve/image/datastore/singleton.go
  central/cve/image/datastore/store/mocks/store.go
  central/cve/image/datastore/store/postgres/gen.go
  central/cve/image/datastore/store/postgres/index.go
  central/cve/image/datastore/store/postgres/store.go
  central/cve/image/datastore/store/postgres/store_test.go
  central/cve/image/datastore/store/store.go
  central/cve/suppress/reprocessor.go
  central/cve/suppress/reprocessor_postgres_test.go
  central/image/datastore/datastore.go
  central/image/datastore/datastore_impl.go
  central/image/datastore/datastore_impl_postgres_test.go
  central/image/datastore/search/mocks/searcher.go
  central/image/datastore/search/searcher.go
  central/image/datastore/search/searcher_impl.go
  central/image/datastore/search/searcher_impl_test.go
  central/image/datastore/search/searcher_impl_v2.go
  central/image/datastore/singleton.go
  central/image/datastore/store/common/merge.go
  central/image/datastore/store/common/parts.go
  central/image/datastore/store/common/parts_test.go
  central/image/datastore/store/common/split.go
  central/image/datastore/store/dackbox/store_impl.go
  central/image/datastore/store/dackbox/store_impl_test.go
  central/image/datastore/store/mocks/store.go
  central/image/datastore/store/postgres/gen.go
  central/image/datastore/store/postgres/index.go
  central/image/datastore/store/postgres/store.go
  central/image/datastore/store/postgres/store_test.go
  central/image/datastore/store/store.go
  central/main.go
  pkg/cve/cve.go
Labels: area/central, ci-postgres-tests

#2089 Add cluster and namespace parameters to outbound widget links
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.tsx
Labels: area/ui

#2119 ROX-10925 Block creating/editing policies that contain 'FROM' in Dockerfile Line
  central/policy/service/service_impl.go
  central/policy/service/validator_test.go
  pkg/booleanpolicy/field_metadata.go
  pkg/booleanpolicy/validate.go
  pkg/booleanpolicy/value_regex.go
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
Labels: area/central, area/ui

#2018 ROX-11024: Draft cluster and node CVEs lists
  ui/apps/platform/cypress/integration/vulnmanagement/cvesListPages.test.js
  ui/apps/platform/src/Components/workflow/TableCountLinks/TableCountLinks.tsx
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/ListCVEs.utils.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/VulnMgmtListCves.js
  ui/apps/platform/src/Containers/VulnMgmt/List/VulnMgmtList.js
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.fragments.js
  ui/apps/platform/src/constants/entityTypes.ts
  ui/apps/platform/src/messages/common.ts
  ui/apps/platform/src/routePaths.js
Labels: area/ui

#2121 Update prettier 2.7.1 devDependencies in ui
  ui/apps/platform/package.json
  ui/packages/tailwind-config/package.json
  ui/packages/ui-components/package.json
  ui/yarn.lock
Labels: ci-no-ui-tests, area/ui

#2006 ROX-9760: Display Network Policies for namespace in violation deployment tab
  CHANGELOG.md
  pkg/booleanpolicy/violationmessages/printer/network_policy.go
  ui/apps/platform/src/Containers/Violations/Details/DeploymentDetails.tsx
  ui/apps/platform/src/services/NetworkService.js
Labels: team/maple, area/ui

#2128 Allow running ignored postgres e2e tests locally
  qa-tests-backend/src/main/groovy/util/Env.groovy
Labels: team/merlin

#2125 ROX-11274: Increase no output timeout for e2e test
  .circleci/config.yml
Labels: ci-aks-tests

#1747 ROX-10034: Deactivate PodSecurityPolicies by default
  .circleci/config.yml
  CHANGELOG.md
  central/clusters/deployer.go
  deploy/common/k8sbased.sh
  image/templates/helm/shared/templates/_psp.tpl
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/internal/defaults/00-bootstrap.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/internal/defaults/10-env.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  pkg/helm/charts/meta.go
  pkg/helm/charts/tests/centralservices/base_suite_test.go
  pkg/helm/charts/tests/centralservices/testdata/helmtest/central.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/psp-autosense.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner.test.yaml
  pkg/helm/charts/tests/securedclusterservices/base_suite_test.go
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/psp-autosense.test.yaml
  roxctl/central/generate/generate.go
  roxctl/common/psp.go
  roxctl/scanner/generate/generate.go
  roxctl/sensor/generate/generate.go
Labels: ci-openshift-4-operator-tests, ci-openshift-4-tests, area/roxctl, area/central, area/helm, ci-openshift-tests

#2025 RXO-11159: Add SAC tests for no access
  central/alert/datastore/internal/store/postgres/store_test.go
  central/cluster/store/cluster/postgres/store_test.go
  central/compliance/datastore/internal/store/postgres/domain/store_test.go
  central/compliance/datastore/internal/store/postgres/metadata/store_test.go
  central/compliance/datastore/internal/store/postgres/results/store_test.go
  central/compliance/datastore/internal/store/postgres/strings/store_test.go
  central/cve/datastore/cluster/internal/store/postgres/store_test.go
  central/cve/image/datastore/store/postgres/store_test.go
  central/cve/node/datastore/internal/store/postgres/store_test.go
  central/deployment/store/postgres/store_test.go
  central/imagecomponent/datastore/internal/store/postgres/store_test.go
  central/namespace/store/postgres/store_test.go
  central/networkbaseline/store/postgres/store_test.go
  central/networkgraph/entity/datastore/internal/store/postgres/store_test.go
  central/networkpolicies/datastore/internal/store/postgres/store_test.go
  central/networkpolicies/datastore/internal/undodeploymentstore/postgres/store_test.go
  central/networkpolicies/datastore/internal/undostore/postgres/store_test.go
  central/nodecomponent/datastore/store/postgres/store_test.go
  central/pod/store/postgres/store_test.go
  central/processbaseline/store/postgres/store_test.go
  central/processbaselineresults/datastore/internal/store/postgres/store_test.go
  central/processindicator/store/postgres/store_test.go
  central/rbac/k8srole/internal/store/postgres/store_test.go
  central/rbac/k8srolebinding/internal/store/postgres/store_test.go
  central/risk/datastore/internal/store/postgres/store_test.go
  central/secret/internal/store/postgres/store_test.go
  central/serviceaccount/internal/store/postgres/store_test.go
  tools/generate-helpers/pg-table-bindings/multitest/postgres/store_test.go
  tools/generate-helpers/pg-table-bindings/store_test.go.tpl
  tools/generate-helpers/pg-table-bindings/test/postgres/store_test.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testchild1/store_test.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testg3grandchild1/store_test.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testggrandchild1/store_test.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testgrandparent/store_test.go
Labels: area/central, area/postgres, ci-postgres-tests

#2127 Use setup func in SAC test
  qa-tests-backend/src/test/groovy/SACTest.groovy
  qa-tests-backend/src/test/groovy/SACv2Test.groovy
Labels: ci-no-ui-tests, team/merlin, ci-no-api-tests, ci-no-upgrade-tests

#2092 [ROX-11046] : Add label selector and last updated timestamp fields to decommissioned clusters retention config
  central/config/datastore/datastore.go
  central/config/datastore/singleton.go
  generated/api/v1/config_service.swagger.json
  generated/storage/config.pb.go
  proto/storage/config.proto
Labels: area/central

#2084 ROX-11169: Remove external plugin e2e test
  qa-tests-backend/src/test/groovy/SACTest.groovy
  qa-tests-backend/src/test/groovy/SACv2Test.groovy
Labels: ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#2136 ROX-11461 Fix race condition in dry-run service
  central/policy/service/service_impl.go
Labels: area/central

#2139 Revert "Bump gorm.io/driver/postgres from 1.3.5 to 1.3.7 (#2124)"
  go.mod
  go.sum
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-postgres-tests, ci-no-upgrade-tests

#2126 ROX-11443: Change default value for roxctl image scan --include-snoozed
  CHANGELOG.md
  roxctl/image/scan/scan.go
  roxctl/image/scan/scan_test.go
Labels: area/roxctl

#2118 ROX-11436: Add ROX_DECOMMISSIONED_CLUSTER_RETENTION feature flag
  .circleci/config.yml
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#1942 Add more metrics to the scale comparison
  scripts/ci/compare-debug-metrics.sh
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-postgres-scale-tests, ci-no-upgrade-tests

#2141 Update Scanner
  SCANNER_VERSION
Labels: ci-all-qa-tests, ci-openshift-4-tests

#2083 ROX-11169: Remove external plugin service
  central/main.go
  central/sac/service/service.go
  central/sac/service/service_impl.go
  central/sac/service/service_impl_test.go
  central/sac/service/singleton.go
  central/sac/service/validator.go
  generated/api/v1/scoped_access_control_service.pb.go
  generated/api/v1/scoped_access_control_service.pb.gw.go
  generated/api/v1/scoped_access_control_service.swagger.json
  proto/api/v1/scoped_access_control_service.proto
Labels: team/merlin, area/auth, area/central

#2153 Move more dackbox db inits behind feature flag
  central/cluster/datastore/singleton.go
  central/cve/service/service.go
  central/cve/service/service_impl.go
  central/cve/service/singleton.go
  central/deployment/datastore/singleton.go
  central/namespace/datastore/singleton.go
  central/reprocessor/reprocessor.go
Labels: area/central, ci-postgres-tests

#2162 Optimize var replacement
  pkg/search/postgres/common.go
  pkg/search/postgres/common_test.go
Labels: area/postgres, ci-postgres-tests

#2161 Update OCI image scan test
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
Labels: ci-all-qa-tests

#2117 ROX-9843: Add expose monitoring flag to operator
  operator/apis/platform/v1alpha1/central_types.go
  operator/apis/platform/v1alpha1/zz_generated.deepcopy.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/pkg/central/values/translation/translation.go
  operator/pkg/central/values/translation/translation_test.go
  operator/tests/central/basic/61-assert.yaml
  operator/tests/central/basic/61-set-expose-monitoring.yaml
  operator/tests/central/basic/62-assert.yaml
  operator/tests/central/basic/62-errors.yaml
  operator/tests/central/basic/62-unset-expose-monitoring.yaml
Labels: ci-openshift-4-operator-tests, area/operator

#2152 Use denyall access scope in SAC test
  qa-tests-backend/src/test/groovy/SACTest.groovy
Labels: team/merlin

#2151 ROX-11442: Increase default roxctl timeout
  roxctl/common/flags/timeout.go
Labels: team/merlin, area/roxctl

#2171 Optionally unsilence some make commands.
  Makefile
  make/protogen.mk
  make/stackrox.mk
  operator/Makefile
Labels: area/operator

#2173 ROX-11515: Support custom names in release versions
  .github/workflows/cut-rc.yml
  .github/workflows/start-release.yml
  .github/workflows/variables.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#2096 ROX-11405: Add functionality to Postgres for search after
  central/compliance/datastore/internal/store/postgres/store.go
  pkg/search/postgres/common.go
  pkg/search/postgres/index_test.go
  pkg/search/postgres/query/test/index_test.go
  pkg/search/query_builder.go
  qa-tests-backend/src/test/groovy/IntegrationsSplunkViolationsTest.groovy
Labels: ci-all-qa-tests, area/central, area/postgres, ci-postgres-tests

#2164 CI: Get roxctl for e2e
  .openshift-ci/dispatch.sh
  qa-tests-backend/scripts/run-part-1.sh
  scripts/ci/jobs/test-binary-build-commands.sh
  tests/e2e/run-ui-e2e.sh
  tests/e2e/run.sh
  tests/upgrade/run.sh
  ui/README.md
Labels: ci-upgrade-tests, area/ui

#2187 Take MachineConfig results into account for aggregations
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
Labels: ci-openshift-4-tests, ¯\_(ツ)_/¯

#2184 Minor fixes in upstream release workflows
  .github/workflows/scripts/patch-changelog.sh
  .github/workflows/start-release.yml
  .github/workflows/variables.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#2169 Unskip pg e2e tests
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
  qa-tests-backend/src/test/groovy/GraphQLResourcePaginationTest.groovy
  qa-tests-backend/src/test/groovy/K8sRbacTest.groovy
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
  qa-tests-backend/src/test/groovy/PolicyConfigurationTest.groovy
Labels: ci-all-qa-tests, area/postgres, ci-postgres-tests

#2181 Unskip some e2e SAC Tests on postres
  qa-tests-backend/src/test/groovy/SACTest.groovy
Labels: team/merlin, area/postgres, ci-postgres-tests

#2167 Optimize replaceVars a little bit more using strings.Builder
  pkg/search/postgres/common.go
  pkg/search/postgres/common_test.go
  tools/roxvet/analyzers/uncheckederrors/analyzer.go
Labels: area/postgres, ci-postgres-tests

#2159 Support range queries for numeric fields
  pkg/search/blevesearch/numeric_query.go
  pkg/search/blevesearch/numeric_query_test.go
  pkg/search/blevesearch/time_query.go
  pkg/search/blevesearch/time_query_test.go
  pkg/search/postgres/common.go
  pkg/search/postgres/index_test.go
  pkg/search/postgres/query/common.go
  pkg/search/postgres/query/enum_query.go
  pkg/search/postgres/query/numeric_query.go
  pkg/search/postgres/query/numeric_query_test.go
  pkg/search/postgres/query/query_functions.go
  pkg/search/postgres/query/time_query.go
  pkg/search/postgres/query/time_query_test.go
Labels: area/postgres, ci-postgres-tests

#2188 Ensure no parallel reprocessing runs are triggered
  central/reprocessor/reprocessor.go
Labels: ci-no-ui-tests, team/merlin, area/central

#2109 ROX-10980: Use CVE and not CVE ID in vulnerability requests
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/DeferredCVEs/DeferredCVEs.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/DeferredCVEs/DeferredCVEsTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/FalsePositiveCVEs/FalsePositiveCVEs.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/FalsePositiveCVEs/FalsePositiveCVEsTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ObservedCVEs/ObservedCVEs.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ObservedCVEs/ObservedCVEsTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/imageVulnerabilities.graphql.ts
Labels: area/ui

#2175 Improvements on upstream release communications
  .github/workflows/cut-rc.yml
  .github/workflows/finish-release.yml
  .github/workflows/start-release.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#2138 Add Aging Images widget to main dashboard
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/Dashboard/PatternFly/DashboardPage.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/AgingImages.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/AgingImages.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/AgingImagesChart.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/WidgetCard.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/hooks/useRestQuery.ts
  ui/apps/platform/src/utils/chartUtils.ts
  ui/packages/ui-components/package.json
  ui/packages/ui-components/src/HelpIcon/HelpIcon.test.tsx
  ui/packages/ui-components/src/ToggleButtonGroup/ToggleButtonGroup.test.tsx
  ui/yarn.lock
Labels: area/ui

#2205 Reverse chart legend in policy violations by category chart
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.tsx
  ui/apps/platform/src/utils/chartUtils.ts
Labels: area/ui

#2166 Add "Images at most risk" widget
  ui/apps/platform/src/Components/CollapsibleSection/CollapsibleSection.js
  ui/apps/platform/src/Containers/Dashboard/PatternFly/DashboardPage.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/AgingImages.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/AgingImagesChart.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ImagesAtMostRisk.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ImagesAtMostRisk.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ImagesAtMostRiskTable.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/utils.ts
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Image/VulnMgmtImageOverview.js
Labels: area/ui

#2215 Scan collector-full, scanner-slim and scanner-db-slim in quay
  release/scripts/vuln_check.sh
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#2168 Add last updated time display at top of dashboard
  ui/apps/platform/src/Containers/Dashboard/PatternFly/SummaryCounts.tsx
Labels: area/ui

#2190 Add "Policy violations by severity" widget
  ui/apps/platform/src/Containers/Dashboard/PatternFly/DashboardPage.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ImagesAtMostRiskTable.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/MostRecentViolations.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/PolicyViolationTiles.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/SeverityTile.css
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicySeverity.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicySeverity.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/hooks/useAlertGroups.ts
  ui/apps/platform/src/Containers/Dashboard/PatternFly/hooks/useRestQuery.ts
  ui/apps/platform/src/constants/visuals/colors.ts
  ui/apps/platform/src/css/acs.css
  ui/apps/platform/src/services/AlertsService.ts
Labels: area/ui

#2209 ROX-11024b: Follow up to add new IMAGE_CVE only list
  ui/apps/platform/cypress/constants/VulnManagementPage.js
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/helpers/vmWorkflowUtils.js
  ui/apps/platform/cypress/integration/vulnmanagement/cvesListPages.test.js
  ui/apps/platform/src/Components/EntityIcon.js
  ui/apps/platform/src/Components/workflow/TableCountLinks/TableCountLinks.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cve/VulnMgmtCveOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cve/VulnMgmtEntityCve.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/VulnMgmtEntity.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/ListCVEs.utils.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/VulnMgmtListCves.js
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.fragments.js
  ui/apps/platform/src/queries/cve.js
  ui/apps/platform/src/utils/entityRelationships.ts
  ui/apps/platform/src/utils/queryMap.js
Labels: area/ui

#2182 [ROX-11282 + ROX-11517] : Update ClusterResponse and ClusterList response to include cluster retention metadata; Make clusters searchable by last contact time.
  central/cluster/index/indexer_impl_test.go
  central/cluster/service/service.go
  central/cluster/service/service_impl.go
  central/cluster/service/service_impl_test.go
  central/cluster/service/singleton.go
  central/cluster/store/clusterhealth/postgres/store.go
  central/config/datastore/datastore.go
  central/config/datastore/singleton.go
  central/config/service/service.go
  generated/api/v1/cluster_service.pb.go
  generated/api/v1/cluster_service.swagger.json
  generated/api/v1/config_service.swagger.json
  generated/storage/cluster.pb.go
  generated/storage/config.pb.go
  pkg/postgres/schema/cluster_health_statuses.go
  pkg/search/options.go
  pkg/timeutil/date.go
  proto/api/v1/cluster_service.proto
  proto/storage/cluster.proto
  proto/storage/config.proto
Labels: area/central, area/postgres, ci-postgres-tests

#2180 Extract a couple of scripts from github workflow file
  .github/workflows/scripts/check-jira-release.sh
  .github/workflows/scripts/patch-changelog.sh
  .github/workflows/start-release.yml
  .github/workflows/variables.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#2218 Fix severity show/hide functionality in violations by category widget
  ui/apps/platform/cypress/integration/dashboard/dashboardSecurityMetrics.test.js
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.tsx
Labels: area/ui

#2226 Add the concept of directional graph nodes
  generated/storage/test.pb.go
  pkg/postgres/schema/test_short_circuits.go
  pkg/postgres/walker/schema.go
  pkg/postgres/walker/walker.go
  pkg/search/options.go
  pkg/search/postgres/graph_queries_test.go
  proto/storage/test.proto
  tools/generate-helpers/pg-table-bindings/list.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testshortcircuit/gen.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testshortcircuit/index.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testshortcircuit/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testshortcircuit/store_test.go
Labels: area/postgres, ci-postgres-tests

#2229 ROX-10920: Fix ComplianceTest aggregation
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
Labels: ci-openshift-aro-tests

#2224 RS-443: Handle nightly runs
  .openshift-ci/build/build-central-db-bundle.sh
  .openshift-ci/build/build-main-and-bundle.sh
  .openshift-ci/dispatch.sh
  qa-tests-backend/src/main/groovy/util/Helpers.groovy
  scripts/ci/bats/lib_is_in_PR_context.bats
  scripts/ci/lib.sh
  scripts/ci/store-artifacts.sh
  tests/e2e/lib.sh
Labels: simulate-nightly-run

#2233 Fix semantic merge conflict with short circuit store
  tools/generate-helpers/pg-table-bindings/testgraphtables/testshortcircuit/store_test.go
Labels: area/postgres, ci-postgres-tests

#2221 ROX-10821: Don't alias ID from CVE name
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/CveBulkActionDialogue.js
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.fragments.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/MostCommonVulnerabiltiesInDeployment.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/RecentlyDetectedVulnerabilities.js
  ui/apps/platform/src/queries/cve.js
Labels: area/ui

#2210 Move dackbox from globaldb to pkg
  central/globaldb/dackbox/initialize.go
  central/globaldb/dackbox/singleton.go
  central/globaldb/rocksdb.go
  pkg/dackbox/raw/singleton.go
  pkg/rocksdb/instance/singleton.go
Labels: area/central

#2189 Short-circuit in image enricher if an error occurred fetching image metadata.
  pkg/images/enricher/enricher_impl.go
  pkg/images/enricher/enricher_impl_test.go
Labels: ci-no-ui-tests, team/merlin

#2234 CI: Misc refactor
  .openshift-ci/README.md
  .openshift-ci/dispatch.sh
  scripts/ci/jobs/gke_nongroovy_e2e_tests.py
  scripts/ci/jobs/gke_qa_e2e_tests.py
  scripts/ci/jobs/gke_ui_e2e_tests.py
  scripts/ci/jobs/gke_upgrade_tests.py
  scripts/ci/jobs/openshift_4_qa_e2e_tests.py
  tests/e2e/lib.sh
  tests/e2e/run.sh
  tests/upgrade/run.sh
Labels: ci-upgrade-tests

#2216 ROX-11533: Fix `nodeAffinity` to `Exists`/`DoesNotExist`
  CHANGELOG.md
  deploy/charts/monitoring/templates/deployment.yaml
  image/templates/helm/shared/templates/02-scanner-06-deployment.yaml.htpl
  image/templates/helm/stackrox-central/templates/01-central-12-central-db.yaml
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
  pkg/helm/charts/tests/centralservices/testdata/helmtest/central.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/suite.yaml
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
  sensor/kubernetes/orchestrator/kubernetes.go
Labels: ci-all-qa-tests, ci-openshift-4-operator-tests, team/maple, area/helm, area/sensor

#2232 Ensure cluster health search does not fail because of missing options map.
  central/cluster/datastore/datastore_impl_postgres_test.go
  central/cluster/store/clusterhealth/postgres/gen.go
  central/cluster/store/clusterhealth/postgres/index.go
  generated/api/v1/search_service.pb.go
  generated/api/v1/search_service.swagger.json
  pkg/postgres/schema/cluster_health_statuses.go
  proto/api/v1/search_service.proto
Labels: team/merlin, area/central, area/postgres, ci-postgres-tests
