Repository stackrox/stackrox, pull requests merged in 2022-08, with the labels that each got.

#2495 ROX-11919: Get rid of the GO_VERSION operator build arg.
  EXPECTED_GO_VERSION
  Makefile
  operator/Dockerfile
  operator/Makefile
  scripts/ci/jobs/check-generated.sh
  scripts/ci/lib.sh
Labels: area/operator

#2508 ROX-11899: Network Policy integration test
  sensor/tests/resource/helper.go
  sensor/tests/resource/networkpolicy/networkpolicy_test.go
  sensor/tests/resource/networkpolicy/yaml/netpol-allow-443.yaml
  sensor/tests/resource/networkpolicy/yaml/nginx.yaml
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: team/maple, area/sensor

#2558 Clear executables in cached case to ensure they aren't propagated to roxctl or Sensor
  central/activecomponent/updater/updater_impl.go
Labels: area/central, area/sensor

#2563 Dashrews/rox-11971 create context after connect
  pkg/postgres/pgadmin/admin_utils.go
Labels: area/postgres, ci-postgres-tests

#2542 ROX-12029 Update the images at most risk dashboard query to not use deprecated gql sub-resolver.
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ImagesAtMostRisk.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ImagesAtMostRisk.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ImagesAtMostRiskTable.tsx
Labels: area/ui

#2566 Split Violations by category chart and card components.
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategoryChart.tsx
Labels: area/ui

#1844 Dashrews/ROX-11126 fix flaky network baseline test
  qa-tests-backend/src/test/groovy/NetworkBaselineTest.groovy
Labels: ci-all-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-race-tests, area/central, ci-kernel-module-tests, ci-postgres-tests, ci-no-upgrade-tests

#2521 ROX-11307: Sort auth provider types in API response
  central/authprovider/service/service_impl.go
Labels: area/central

#2570 ROX-11995: Fix Component entities e2e test for vuln management
  ui/apps/platform/cypress/integration/vulnmanagement/entitypages.test.js
Labels: area/ui

#2559 Fix nested CVE counts for VM updates
  ui/apps/platform/cypress/integration/vulnmanagement/dashboard.test.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Deployment/VulnMgmtEntityDeployment.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Image/VulnMgmtEntityImage.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Nodes/VulnMgmtListNodes.js
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.fragments.js
  ui/apps/platform/src/Containers/Workflow/WorkflowEntityPage.js
  ui/apps/platform/src/utils/queryService.js
Labels: area/ui

#2577 ROX-10982: Increase z-index so Search modal overlaps banners in UI
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
  ui/apps/platform/src/Containers/MainPage/VersionOutOfDate.tsx
  ui/apps/platform/src/Containers/Search/SearchModal.js
Labels: area/ui

#2581 ROX-11526: Re-enable some E2E tests in postgres mode
  qa-tests-backend/src/test/groovy/DeploymentEventGraphQLTest.groovy
  qa-tests-backend/src/test/groovy/SACTest.groovy
Labels: team/merlin, area/postgres, ci-postgres-tests

#844 A faster build option
  .github/actions/cache-go-dependencies/action.yaml
  .github/actions/cache-ui-dependencies/action.yaml
  .github/actions/create-concatenated-ui-monorepo-lock/action.yaml
  .github/workflows/build.yaml
  operator/Makefile
  scripts/ci/jobs/push-images.sh
  scripts/ci/lib.sh
  scripts/lib.sh
Labels: ci-upgrade-tests, area/operator

#2591 Remove dead codes in migration tests
  migrator/migrations/n_01_to_n_02_postgres_clusters/migration_test.go
  migrator/migrations/n_02_to_n_03_postgres_namespaces/migration_test.go
  migrator/migrations/n_03_to_n_04_postgres_deployments/migration_test.go
  migrator/migrations/n_06_to_n_07_postgres_alerts/migration_test.go
  migrator/migrations/n_07_to_n_08_postgres_api_tokens/migration_test.go
  migrator/migrations/n_08_to_n_09_postgres_auth_providers/migration_test.go
  migrator/migrations/n_10_to_n_11_postgres_cluster_health_statuses/migration_test.go
  migrator/migrations/n_11_to_n_12_postgres_cluster_init_bundles/migration_test.go
  migrator/migrations/n_12_to_n_13_postgres_compliance_domains/migration_test.go
  migrator/migrations/n_13_to_n_14_postgres_compliance_operator_check_results/migration_test.go
  migrator/migrations/n_14_to_n_15_postgres_compliance_operator_profiles/migration_test.go
  migrator/migrations/n_15_to_n_16_postgres_compliance_operator_rules/migration_test.go
  migrator/migrations/n_16_to_n_17_postgres_compliance_operator_scan_setting_bindings/migration_test.go
  migrator/migrations/n_17_to_n_18_postgres_compliance_operator_scans/migration_test.go
  migrator/migrations/n_18_to_n_19_postgres_compliance_run_metadata/migration_test.go
  migrator/migrations/n_19_to_n_20_postgres_compliance_run_results/migration_test.go
  migrator/migrations/n_20_to_n_21_postgres_compliance_strings/migration_test.go
  migrator/migrations/n_22_to_n_23_postgres_external_backups/migration_test.go
  migrator/migrations/n_23_to_n_24_postgres_image_integrations/migration_test.go
  migrator/migrations/n_25_to_n_26_postgres_integration_healths/migration_test.go
  migrator/migrations/n_26_to_n_27_postgres_k8s_roles/migration_test.go
  migrator/migrations/n_28_to_n_29_postgres_network_baselines/migration_test.go
  migrator/migrations/n_29_to_n_30_postgres_network_entities/migration_test.go
  migrator/migrations/n_31_to_n_32_postgres_network_graph_configs/migration_test.go
  migrator/migrations/n_32_to_n_33_postgres_networkpolicies/migration_test.go
  migrator/migrations/n_33_to_n_34_postgres_networkpoliciesundodeployments/migration_test.go
  migrator/migrations/n_34_to_n_35_postgres_networkpolicyapplicationundorecords/migration_test.go
  migrator/migrations/n_36_to_n_37_postgres_notifiers/migration_test.go
  migrator/migrations/n_37_to_n_38_postgres_permission_sets/migration_test.go
  migrator/migrations/n_38_to_n_39_postgres_pods/migration_test.go
  migrator/migrations/n_39_to_n_40_postgres_policies/migration_test.go
  migrator/migrations/n_40_to_n_41_postgres_process_baseline_results/migration_test.go
  migrator/migrations/n_41_to_n_42_postgres_process_baselines/migration_test.go
  migrator/migrations/n_42_to_n_43_postgres_process_indicators/migration_test.go
  migrator/migrations/n_43_to_n_44_postgres_report_configurations/migration_test.go
  migrator/migrations/n_44_to_n_45_postgres_risks/migration_test.go
  migrator/migrations/n_45_to_n_46_postgres_role_bindings/migration_test.go
  migrator/migrations/n_46_to_n_47_postgres_roles/migration_test.go
  migrator/migrations/n_47_to_n_48_postgres_secrets/migration_test.go
  migrator/migrations/n_49_to_n_50_postgres_service_accounts/migration_test.go
  migrator/migrations/n_50_to_n_51_postgres_service_identities/migration_test.go
  migrator/migrations/n_51_to_n_52_postgres_signature_integrations/migration_test.go
  migrator/migrations/n_52_to_n_53_postgres_simple_access_scopes/migration_test.go
  migrator/migrations/n_53_to_n_54_postgres_vulnerability_requests/migration_test.go
  migrator/migrations/n_54_to_n_55_postgres_watched_images/migration_test.go
  migrator/migrations/n_55_to_n_56_postgres_policy_categories/migration_test.go
  tools/generate-helpers/pg-table-bindings/migration_test.go.tpl
Labels: area/postgres, ci-postgres-tests

#2550 UI unit test debugging enhancements
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/Dashboard/PatternFly/ScopeBar.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/AgingImages.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ComplianceLevelsByStandard.test.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.test.tsx
  ui/apps/platform/src/setupTests.js
  ui/packages/ui-components/package.json
Labels: area/ui

#2579 Enable local building on Mac M1s using custom builder image
  Makefile
  image/postgres/create-bundle.sh
  image/rhel/create-bundle.sh
  make/env.mk
Labels: area/helm, area/postgres, ci-postgres-tests

#2528 [ROX-12056] Avoid loading full Image object into GraphQL image cache when postgres
  central/graphql/resolvers/loaders/images.go
  central/image/datastore/datastore.go
  central/image/datastore/datastore_bench_postgres_test.go
  central/image/datastore/datastore_impl.go
  central/image/datastore/datastore_impl_postgres_test.go
  central/image/datastore/mocks/datastore.go
  central/image/datastore/store/dackbox/store_impl.go
  central/image/datastore/store/mocks/store.go
  central/image/datastore/store/postgres/store.go
  central/image/datastore/store/store.go
  pkg/postgres/pgtest/postgres.go
Labels: area/central, area/postgres, ci-postgres-tests

#2568 CI: Bring back EKS
  .openshift-ci/post_tests.py
Labels: ci-all-qa-tests

#2586 Update go-junit-report
  Makefile
  make/stackrox.mk
  pkg/dackbox/indexer/lazy.go
  tools/test/go.mod
  tools/test/go.sum
  tools/test/tools-import.go
Labels: dependencies, ci-no-qa-tests, ci-no-ui-tests, team/merlin

#2192 ROX-11836: Network Policy Recommendation
  go.mod
  go.sum
  roxctl/generate/generate.go
  roxctl/generate/netpol/cta.go
  roxctl/generate/netpol/netpol.go
  roxctl/help/help.properties
  roxctl/maincommand/command.go
Labels: area/roxctl

#2458 ROX-11746: SAC integration tests for namespace datastore
  central/namespace/datastore/datastore_sac_test.go
  pkg/fixtures/gen_sac_fixture.go
  pkg/fixtures/namespace.go
  pkg/fixtures/namespace_gen_sac_fixture.go
Labels: team/merlin, area/central, area/postgres, ci-postgres-tests

#2496 ROX-11740: dackbox cluster sac tests
  central/cluster/datastore/datastore.go
  central/cluster/datastore/datastore_sac_test.go
  central/networkbaseline/manager/manager_impl.go
  central/networkgraph/entity/datastore/datastore_impl.go
  central/networkpolicies/datastore/datastore.go
  pkg/fixtures/cluster.go
  pkg/sac/testutils/crud_test_cases.go
Labels: team/merlin, area/auth, area/central, area/postgres, ci-postgres-tests

#2518 ROX-11745: deployment SAC tests
  central/deployment/datastoretest/datastore_sac_test.go
  pkg/fixtures/deployment.go
  pkg/fixtures/deployment_gen_sac_fixture.go
  pkg/fixtures/gen_sac_fixture.go
  pkg/sac/testutils/testresult_distribution.go
Labels: team/merlin, area/auth, area/central, area/postgres, ci-postgres-tests

#2587 Move dedicated components to MainPage Header folder in UI
  ui/apps/platform/src/Components/ClusterStatusProblems/index.ts
  ui/apps/platform/src/Containers/MainPage/Header/ClusterStatusButton.tsx
  ui/apps/platform/src/Containers/MainPage/Header/ClusterStatusProblems.tsx
  ui/apps/platform/src/Containers/MainPage/Header/GlobalSearchButton.tsx
  ui/apps/platform/src/Containers/MainPage/Header/HelpMenu.tsx
  ui/apps/platform/src/Containers/MainPage/Header/MastheadToolbar.tsx
  ui/apps/platform/src/Containers/MainPage/Header/ThemeToggleButton.tsx
Labels: area/ui

#2603 Fix searchOptions query in which categories has invalid value null
  ui/apps/platform/src/constants/entityTypes.ts
Labels: area/ui

#2594 Ensure that only orphaned cluster cves are cleaned up during reconciliation
  central/cve/cluster/datastore/datastore_impl.go
  central/cve/cluster/datastore/store/mocks/store.go
  central/cve/cluster/datastore/store/postgres/full_store.go
  central/cve/cluster/datastore/store/store.go
  central/cve/fetcher/manager_impl_postgres_test.go
  central/image/datastore/datastore_impl_postgres_test.go
Labels: area/central

#2590 Update CVEs-By-CVSS-Score widget to use new GraphQL queries
  ui/apps/platform/src/Containers/VulnMgmt/widgets/CvesByCvssScore.js
  ui/apps/platform/src/utils/queryService.js
Labels: area/ui

#2608 Fix Vuln Mgmt scatterplot for Postgres
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cluster/VulnMgmtClusterOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Namespace/VulnMgmtNamespaceOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Images/VulnMgmtListImages.js
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.fragments.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/TopRiskyEntitiesByVulnerabilities.js
  ui/apps/platform/src/utils/queryService.js
Labels: area/ui

#2601 ROX-11774: Add basic BATS tests for roxctl netpol generate
  tests/roxctl/bats-tests/local/roxctl-netpol-generate.bats
  tests/roxctl/bats-tests/test-data/np-guard/scenario-minimal-service/backend.yaml
  tests/roxctl/bats-tests/test-data/np-guard/scenario-minimal-service/frontend.yaml
Labels: team/maple

#2616 ROX-11524: (Part 1/4) Remove AuthPlugin resource from UI
  ui/apps/platform/cypress/fixtures/auth/mypermissionsMinimalAccess.json
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/ResourceDescription.tsx
  ui/apps/platform/src/hooks/usePermissions.ts
  ui/apps/platform/src/reducers/roles.js
  ui/apps/platform/src/types/roleResources.ts
Labels: ci-no-qa-tests, ci-no-api-tests, area/ui, ci-no-upgrade-tests

#2620 Add ROX_QUAY_ROBOT_ACCOUNTS feature flag
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#2567 Postgres data migration: manual migations
  central/activecomponent/datastore/internal/store/postgres/gen.go
  central/cve/cluster/datastore/store/postgres/gen.go
  central/image/datastore/store/postgres/gen.go
  central/logimbue/store/postgres/gen.go
  central/node/datastore/internal/store/postgres/gen.go
  migrator/migrations/cvehelper/convert_utils.go
  migrator/migrations/cvehelper/cve_types.go
  migrator/migrations/cvehelper/id.go
  migrator/migrations/n_04_to_n_05_postgres_images/common/gen.go
  migrator/migrations/n_04_to_n_05_postgres_images/common/merge.go
  migrator/migrations/n_04_to_n_05_postgres_images/common/parts.go
  migrator/migrations/n_04_to_n_05_postgres_images/common/split.go
  migrator/migrations/n_04_to_n_05_postgres_images/common/v2/merge.go
  migrator/migrations/n_04_to_n_05_postgres_images/common/v2/parts.go
  migrator/migrations/n_04_to_n_05_postgres_images/common/v2/split.go
  migrator/migrations/n_04_to_n_05_postgres_images/legacy/store_impl.go
  migrator/migrations/n_04_to_n_05_postgres_images/migration.go
  migrator/migrations/n_04_to_n_05_postgres_images/migration_test.go
  migrator/migrations/n_04_to_n_05_postgres_images/postgres/store.go
  migrator/migrations/n_04_to_n_05_postgres_images/store/store.go
  migrator/migrations/n_05_to_n_06_postgres_active_components/legacy/store.go
  migrator/migrations/n_05_to_n_06_postgres_active_components/legacy/store_impl.go
  migrator/migrations/n_05_to_n_06_postgres_active_components/migration.go
  migrator/migrations/n_05_to_n_06_postgres_active_components/migration_test.go
  migrator/migrations/n_05_to_n_06_postgres_active_components/plugin.go
  migrator/migrations/n_05_to_n_06_postgres_active_components/postgres/postgres_plugin.go
  migrator/migrations/n_09_to_n_10_postgres_cluster_cves/legacy/store.go
  migrator/migrations/n_09_to_n_10_postgres_cluster_cves/legacy/store_impl.go
  migrator/migrations/n_09_to_n_10_postgres_cluster_cves/migration.go
  migrator/migrations/n_09_to_n_10_postgres_cluster_cves/migration_test.go
  migrator/migrations/n_09_to_n_10_postgres_cluster_cves/postgres/postgres_plugin.go
  migrator/migrations/n_27_to_n_28_postgres_log_imbues/legacy/store.go
  migrator/migrations/n_27_to_n_28_postgres_log_imbues/legacy/store_impl.go
  migrator/migrations/n_27_to_n_28_postgres_log_imbues/migration.go
  migrator/migrations/n_27_to_n_28_postgres_log_imbues/migration_test.go
  migrator/migrations/n_27_to_n_28_postgres_log_imbues/postgres/postgres_plugin.go
  migrator/migrations/n_30_to_n_31_postgres_network_flows/common/common.go
  migrator/migrations/n_30_to_n_31_postgres_network_flows/legacy/cluster_impl.go
  migrator/migrations/n_30_to_n_31_postgres_network_flows/legacy/flow_impl.go
  migrator/migrations/n_30_to_n_31_postgres_network_flows/migration.go
  migrator/migrations/n_30_to_n_31_postgres_network_flows/migration_test.go
  migrator/migrations/n_30_to_n_31_postgres_network_flows/postgres/cluster_impl.go
  migrator/migrations/n_30_to_n_31_postgres_network_flows/postgres/flow_impl.go
  migrator/migrations/n_30_to_n_31_postgres_network_flows/store/store.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/common/gen.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/common/merge.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/common/parts.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/common/split.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/common/v2/merge.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/common/v2/parts.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/common/v2/split.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/legacy/store.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/legacy/store_impl.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/migration.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/migration_test.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/postgres/store_impl.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/central

#2571 ROX-11320: Adding create policy category modal
  ui/apps/platform/src/Containers/PolicyCategories/CreatePolicyCategoryModal.tsx
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategoriesList.tsx
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategoriesListSection.tsx
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategoriesPage.tsx
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategorySidePanel.tsx
Labels: area/ui

#2631 Replace `grpc.WithInsecure()`
  pkg/clientconn/client.go
  pkg/clientconn/dial_tls.go
  pkg/grpc/server.go
  pkg/grpc/util/lazy_conn_test.go
  roxctl/central/whoami/whoami_test.go
  roxctl/cluster/delete/delete_test.go
  roxctl/deployment/check/check_test.go
  roxctl/image/check/check_test.go
  roxctl/image/scan/scan_test.go
  roxctl/sensor/generate/generate_test.go
  tests/endpoints_test.go
Labels: area/roxctl

#2630 Postgres data migration: groups
  central/group/datastore/internal/store/postgres/gen.go
  migrator/migrations/n_56_to_n_57_postgres_groups/legacy/store.go
  migrator/migrations/n_56_to_n_57_postgres_groups/legacy/store_impl.go
  migrator/migrations/n_56_to_n_57_postgres_groups/migration.go
  migrator/migrations/n_56_to_n_57_postgres_groups/migration_test.go
  migrator/migrations/n_56_to_n_57_postgres_groups/postgres/postgres_plugin.go
Labels: area/central

#600 ROX-8601: Fix Sensor data race in process indicator enrichment
  sensor/common/processsignal/enricher.go
Labels: ci-race-tests, area/sensor

#2625 CI: Only run when the turbo label is added
  .github/workflows/build.yaml
Labels: turbo-build

#2612 Add environment variable for Postgres port in tests
  pkg/postgres/pgtest/conn/conn.go
Labels: area/postgres, ci-postgres-tests

#2626 ROX-11832: Don't log exception msg twice
  qa-tests-backend/src/main/groovy/util/Helpers.groovy
Labels: ci-openshift-crio-tests

#2627 Simplify selector for failing loading indicator test for Vulnerability Management Dashboard in UI
  ui/apps/platform/cypress/integration/vulnmanagement/dashboard.test.js
Labels: area/ui

#2554 refactor graphql deprecations on various components
  central/graphql/resolvers/cluster_vulnerabilities.go
  central/graphql/resolvers/common_vulnerabilities.go
  central/graphql/resolvers/components.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/vulnerabilities_v2.go
Labels: area/central

#2628 Prune cluster cves when cluster is removed
  central/cluster/datastore/datastore.go
  central/cluster/datastore/datastore_impl.go
  central/cluster/datastore/datastore_impl_postgres_test.go
  central/cluster/datastore/datastore_impl_test.go
  central/cluster/datastore/singleton.go
  central/cve/cluster/datastore/datastore.go
  central/cve/fetcher/manager_impl_postgres_test.go
  central/pruning/pruning_test.go
Labels: area/central

#2632 ROX-11697: Add OSD GCP e2e tests
  .openshift-ci/clusters.py
  .openshift-ci/dispatch.sh
  qa-tests-backend/src/main/groovy/util/Env.groovy
  scripts/ci/jobs/osd-gcp-qa-e2e-tests.sh
  scripts/ci/jobs/osd_gcp_qa_e2e_tests.py
  scripts/ci/lib.sh
  tests/e2e/lib.sh
Labels: ci-all-qa-tests, turbo-build

#2589 ROX-11894: Skip unauthorized error messages when fetching image signatures
  pkg/signatures/public_key_fetcher.go
  pkg/signatures/public_key_fetcher_test.go
Labels: team/merlin

#2611 ROX-11319: Adding delete modal to policy categories
  ui/apps/platform/src/Containers/PolicyCategories/DeletePolicyCategoryModal.tsx
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategoriesListSection.tsx
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategorySidePanel.tsx
  ui/apps/platform/src/css/trumps.css
Labels: area/ui

#2553 ROX-11748: Enabled Postgres functionality for Node datastore and globaldatastore
  central/node/datastore/dackbox/datastore/datastore_impl.go
  central/node/datastore/dackbox/globaldatastore/datastore.go
Labels: area/central, area/postgres, ci-postgres-tests

#2634 ROX-12113: Adding a boolean config to the email notifier, to allow unauthenticated SMTP and relevant changes to notifier to process the config element.
  CHANGELOG.md
  central/graphql/resolvers/generated.go
  central/notifiers/email/email.go
  central/notifiers/email/email_integration_test.go
  generated/api/v1/notifier_service.swagger.json
  generated/storage/notifier.pb.go
  proto/storage/notifier.proto
Labels: area/central

#2642 Delete failing loading indicator test for Vulnerability Management Dashboard
  ui/apps/platform/cypress/integration/vulnmanagement/dashboard.test.js
Labels: area/ui

#2576 ROX-9770: adding operating system to the vulnerability table columns
  ui/apps/platform/cypress/constants/VulnManagementPage.js
  ui/apps/platform/cypress/helpers/vulnmanagement/entities.js
  ui/apps/platform/cypress/integration/vulnmanagement/componentsListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/cvesListPages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/entitypages.test.js
  ui/apps/platform/src/Components/Metadata/Metadata.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Component/VulnMgmtComponentOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Component/VulnMgmtEntityImageComponent.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Component/VulnMgmtEntityNodeComponent.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cve/VulnMgmtCveOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/VulnMgmtListCves.js
  ui/apps/platform/src/Containers/VulnMgmt/List/ImageComponents/VulnMgmtListImageComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/NodeComponents/VulnMgmtListNodeComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.fragments.js
  ui/apps/platform/src/constants/sortFields.js
Labels: area/ui

#2648 Dependency hygiene: reduce transitive imports of gRPC client-related code
  central/clusterinit/backend/backend_impl.go
  central/clusterinit/backend/backend_test.go
  central/clusterinit/backend/mocks/backend.go
  central/sensor/service/service_impl_test.go
  operator/pkg/central/extensions/reconcile_admin_password.go
  operator/pkg/central/extensions/reconcile_admin_password_test.go
  pkg/auth/authproviders/userpki/backend_impl.go
  pkg/clientconn/client.go
  pkg/grpc/authn/extractor.go
  pkg/grpc/authn/servicecerttoken/extractor.go
  pkg/grpc/authn/userpki/extractor.go
  pkg/grpc/authn/userpki/identity.go
  pkg/grpc/client/authn/basic/credentials.go
  pkg/grpc/client/authn/basic/username.go
  pkg/grpc/client/authn/servicecerttoken/client_creds.go
  pkg/grpc/client/authn/tokenbased/credentials.go
  pkg/grpc/common/authn/servicecerttoken/common.go
  pkg/grpc/common/authn/servicecerttoken/token.go
  pkg/grpc/requestinfo/requestinfo.go
  pkg/mtls/cert_info.go
  pkg/mtls/cn.go
  pkg/renderer/auth.go
  pkg/renderer/templater.go
  roxctl/common/auth.go
  roxctl/common/flags.go
  roxctl/common/http.go
  scale/tests/utils_test.go
  tests/client_ca_test.go
Labels: area/roxctl, area/auth, area/central, area/operator

#2658 Add ROX_SEARCH_PAGE_UI feature flag
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: ci-no-ui-tests, area/ui

#2257 mfoster readme update
  README.md
Labels: documentation

#2643 ROX-11698: Add OSD AWS e2e tests
  scripts/ci/jobs/osd-aws-qa-e2e-tests.sh
  scripts/ci/jobs/osd_aws_qa_e2e_tests.py
Labels: ci-all-qa-tests

#2638 Fix CVE id parsing for VM updates
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/VulnMgmtListCves.js
  ui/apps/platform/src/utils/queryService.js
Labels: area/ui

#2664 Make pod and deployment caches consistent
  central/deployment/datastore/datastore.go
  central/deployment/datastore/datastore_impl_postgres_test.go
  central/deployment/datastore/singleton.go
  central/deployment/service/service_impl_test.go
  central/deployment/store/cache/cache.go
  central/deployment/store/cache/cache_test.go
  central/deployment/store/cache/metrics.go
  central/deployment/store/dackbox/store_impl.go
  central/deployment/store/mocks/store.go
  central/deployment/store/store.go
  central/pod/datastore/datastore.go
  central/pod/store/cache/cache.go
  central/pod/store/cache/cache_test.go
  central/pod/store/cache/metrics.go
  central/pruning/pruning_test.go
  central/reprocessor/reprocessor_test.go
  central/search/service/service_impl_test.go
Labels: area/central

#2621 ROX-11918 Operator / Helm chart must allow to change the Route hostname
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/templates/01-central-15-exposure.yaml
  image/templates/helm/stackrox-central/values.yaml
  operator/apis/platform/v1alpha1/central_types.go
  operator/apis/platform/v1alpha1/zz_generated.deepcopy.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/pkg/central/values/translation/translation.go
  operator/pkg/central/values/translation/translation_test.go
Labels: ok-to-test

#2679 Re-enable CVE end-to-end test "Verify IsFixable for entities when scoped by CVE is still correct" in postgres mode
  qa-tests-backend/src/test/groovy/CVETest.groovy
Labels: team/merlin, area/postgres, ci-postgres-tests

#2682 Re-enable Vulnerability management SAC test "Verify permissions on vuln mgmt: role with no CVE permissions is rejected" in postgres mode
  qa-tests-backend/src/test/groovy/VulnMgmtSACTest.groovy
Labels: team/merlin, area/postgres, ci-postgres-tests

#2684 Re-enable VulnScanWithGraphQL end-to-end test in posgres mode
  qa-tests-backend/src/test/groovy/VulnScanWithGraphQLTest.groovy
Labels: team/merlin, area/postgres, ci-postgres-tests

#2687 Update Observed, Deferred, and False Positive tabs to use updated vuln fields
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/DeferredCVEs/DeferredCVEs.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/FalsePositiveCVEs/FalsePositiveCVEs.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ObservedCVEs/ObservedCVEs.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/imageVulnerabilities.graphql.ts
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/useImageVulnerabilities.ts
Labels: area/ui

#2665 Fix CVE counts in Clusters with Most CVEs widget for updated Vuln Mgmt
  ui/apps/platform/cypress/helpers/vulnmanagement/entities.js
  ui/apps/platform/src/Components/ExportButton.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cluster/VulnMgmtEntityCluster.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/ClustersWithMostOrchestratorIstioVulnerabilities.js
Labels: area/ui

#2680 Re-enable CVE test "Verify IsFixable is correct when scoped (#digest, #fixable)" in postgres mode
  qa-tests-backend/src/test/groovy/CVETest.groovy
Labels: team/merlin, area/postgres, ci-postgres-tests

#2602 ROX-11775: Introduce different file outputs for roxctl generate netpol
  roxctl/generate/netpol/cta.go
  roxctl/generate/netpol/netpol.go
  roxctl/help/help.properties
Labels: team/maple, area/roxctl

#2659 Update README
  README.md
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#2656 ROX-12106: Replace FormMultiSelect with ToggleGroup for Type field in image integration forms
  ui/apps/platform/cypress/helpers/formHelpers.js
  ui/apps/platform/cypress/integration/integrations/imageIntegrations.test.js
  ui/apps/platform/src/Components/PatternFly/FormMultiSelect.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ClairifyIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GoogleIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/QuayIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/utils/integrationUtils.ts
  ui/apps/platform/src/css/acs.css
  ui/apps/platform/src/css/trumps.css
Labels: area/ui

#2696 ROX-12171-Fix CVE type UI e2e tests
  ui/apps/platform/cypress/constants/VulnManagementPage.js
  ui/apps/platform/cypress/integration/vulnmanagement/entitypages.test.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cve/VulnMgmtCveOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Policy/VulnMgmtEntityPolicy.js
  ui/apps/platform/src/utils/URLParser.ts
Labels: area/ui

#2645 ROX-10979: Change suppress/unsuppress APIs
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/VulnMgmtListCves.js
  ui/apps/platform/src/services/VulnerabilitiesService.js
Labels: area/ui

#2662 Always GetAndPrune in avm update function
  central/activecomponent/updater/updater_impl.go
Labels: area/central

#2701 ROX-12186: Add Type column to image integration tables for Clairify, Google, Quay
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ClairifyIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GoogleIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/QuayIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/utils/integrationUtils.ts
  ui/apps/platform/src/Containers/Integrations/utils/tableColumnDescriptor.ts
  ui/apps/platform/src/types/imageIntegration.proto.ts
Labels: area/ui

#2705 [ROX-12200] Add a postgres store generation flag for CopyFrom operation
  central/cluster/store/cluster/postgres/gen.go
  central/cluster/store/cluster/postgres/store.go
  migrator/migrations/n_01_to_n_02_postgres_clusters/postgres/postgres_plugin.go
  tools/generate-helpers/pg-table-bindings/main.go
  tools/generate-helpers/pg-table-bindings/store.go.tpl
Labels: area/central, area/postgres, ci-postgres-tests

#2704 Add back the type column for cluster CVEs
  ui/apps/platform/cypress/integration/vulnmanagement/cvesListPages.test.js
  ui/apps/platform/src/Components/PatternFly/DateTimeFormat.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Entity/TableWidgetFixableCves.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/ListCVEs.utils.js
  ui/apps/platform/src/utils/queryService.js
Labels: area/ui

#2686 Change nodeComponentLastScanned to lastScanned in node_components graphQL
  central/graphql/resolvers/node_components.go
  ui/apps/platform/src/Containers/VulnMgmt/widgets/TopRiskiestEntities.js
Labels: area/central, area/ui

#2619 ROX-11524: (Part 4/4) Migrate PermissionSet to remove AuthPlugins
  migrator/migrations/m_107_to_m_108_remove_auth_plugin/migration.go
  migrator/migrations/m_107_to_m_108_remove_auth_plugin/migration_test.go
  migrator/runner/all.go
  pkg/migrations/internal/seq_num.go
Labels: ci-no-ui-tests, ci-upgrade-tests, area/central, turbo-build

#2545 ROX-9398: auto-delete image integrations associate with a deleted cluster
  central/cluster/datastore/datastore.go
  central/cluster/datastore/datastore_impl.go
  central/cluster/datastore/datastore_impl_postgres_test.go
  central/cluster/datastore/datastore_impl_test.go
  central/cluster/datastore/singleton.go
  central/cve/fetcher/manager_impl_postgres_test.go
  central/enrichment/singleton.go
  central/globalindex/mapping/mapping.go
  central/graphql/resolvers/search_test.go
  central/imageintegration/datastore/datastore.go
  central/imageintegration/datastore/datastore_impl.go
  central/imageintegration/datastore/datastore_impl_test.go
  central/imageintegration/datastore/mocks/datastore.go
  central/imageintegration/datastore/singleton.go
  central/imageintegration/index/gen.go
  central/imageintegration/index/indexer.go
  central/imageintegration/index/indexer_impl.go
  central/imageintegration/index/mappings/options.go
  central/imageintegration/index/mocks/indexer.go
  central/imageintegration/search/mocks/searcher.go
  central/imageintegration/search/searcher.go
  central/imageintegration/search/searcher_impl.go
  central/imageintegration/store/postgres/index.go
  central/imageintegration/store/postgres/store.go
  central/pruning/pruning_test.go
  central/search/category.go
  central/search/service/service.go
  central/search/service/service_impl.go
  central/search/service/service_impl_test.go
  generated/api/v1/search_service.pb.go
  generated/api/v1/search_service.swagger.json
  generated/storage/image_integration.pb.go
  migrator/migrations/n_23_to_n_24_postgres_image_integrations/postgres/postgres_plugin.go
  pkg/postgres/schema/image_integrations.go
  proto/api/v1/search_service.proto
  proto/storage/image_integration.proto
  qa-tests-backend/src/test/groovy/SACTest.groovy
Labels: area/central, area/postgres, ci-postgres-tests

#2609 Update UI to react-scripts v5
  ui/apps/platform/package.json
  ui/apps/platform/src/Components/BinderTabs/Binder.test.tsx
  ui/apps/platform/src/index.tsx
  ui/apps/platform/src/services/AuthService/AccessTokenManager.test.js
  ui/scripts/patch-deps.sh
  ui/scripts/webpack.config.js.patch
  ui/yarn.lock
Labels: area/ui

#2657 Bump Scanner
  SCANNER_VERSION
Labels: ci-all-qa-tests

#2706 Fix Observed, Deferred, False Positive CVE links, and Dockerfile
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Image/VulnMgmtEntityImage.js
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/CVESummaryLink.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/DeferredCVEs/DeferredCVEsTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/FalsePositiveCVEs/FalsePositiveCVEsTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ObservedCVEs/ObservedCVEsTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.fragments.js
Labels: area/ui

#2666 [ROX-12209] Populate alert's first occurrence ts from violation time
  central/detection/alertmanager/alert_manager_impl.go
  pkg/detection/runtime/utils.go
Labels: area/central

#2633 Postgres data migration: hook up
  migrator/main.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/migration.go
  migrator/migrations/registry.go
  migrator/postgreshelper/load.go
  migrator/rockshelper/rocksdb.go
  migrator/runner/all.go
  pkg/migrations/seq_num.go
Labels: area/central, area/postgres, ci-postgres-tests

#2698 Remove ECRAutoIntegration feature flag
  pkg/features/list.go
  sensor/kubernetes/listener/listener.go
Labels: area/sensor

#2442 Delete ROX_ECR_AUTO_INTEGRATION feature flag in UI
  ui/apps/platform/src/Containers/Integrations/utils/tableColumnDescriptor.ts
  ui/apps/platform/src/types/featureFlag.ts
Labels: ci-no-ui-tests, area/ui

#2714 ROX-12062: Fix crash when closing single views with TopRiskyEntities widget
  ui/apps/platform/src/Components/Menu.tsx
  ui/apps/platform/src/Containers/VulnMgmt/widgets/TopRiskiestEntities.js
  ui/apps/platform/src/Containers/Workflow/WorkflowListPageLayout.js
Labels: area/ui

#2593 ROX-10667: ImageVulnerability GraphQL Endpoint Tests
  central/componentcveedge/datastore/postgres/gen.go
  central/componentcveedge/datastore/postgres/index.go
  central/componentcveedge/datastore/postgres/store.go
  central/componentcveedge/datastore/postgres/store_test.go
  central/componentcveedge/datastore/singleton.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/image_vulnerabilities_test.go
  central/graphql/resolvers/test_utils.go
  central/graphql/resolvers/vulnerability_counter_test.go
  central/imagecveedge/datastore/postgres/gen.go
  central/imagecveedge/datastore/postgres/index.go
  central/imagecveedge/datastore/postgres/store.go
  central/imagecveedge/datastore/postgres/store_test.go
  central/imagecveedge/datastore/singleton.go
Labels: area/central

#2655 [ROX-12211] Optimize image graphQL resolver
  central/componentcveedge/datastore/datastore.go
  central/componentcveedge/datastore/singleton.go
  central/componentcveedge/datastore/store/postgres/gen.go
  central/componentcveedge/datastore/store/postgres/index.go
  central/componentcveedge/datastore/store/postgres/store.go
  central/componentcveedge/datastore/store/postgres/store_test.go
  central/cve/suppress/reprocessor_postgres_test.go
  central/deployment/datastore/datastore_impl_postgres_test.go
  central/graphql/resolvers/embeddedobjs/component_context.go
  central/graphql/resolvers/embeddedobjs/vuln_context.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_scan.go
  central/graphql/resolvers/image_scan_benchmark_test.go
  central/graphql/resolvers/image_scan_test.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/image_vulnerabilities_test.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/loaders/images.go
  central/graphql/resolvers/testutils.go
  central/graphql/resolvers/vulnerability_requests_test.go
  central/image/datastore/datastore_bench_postgres_test.go
  central/image/datastore/datastore_impl_postgres_test.go
  central/image/datastore/store/common/v2/split.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl_test.go
  pkg/fixtures/image.go
  pkg/grpc/authn/context.go
Labels: area/central

#2711 Run dependabot daily for main codebase
  .github/dependabot.yaml
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, ci-no-upgrade-tests

#2723 ROX-12225: Restore Fixed In column for CVE lists scoped under components
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/ListCVEs.utils.js
Labels: area/ui

#2721 Update PatternFly to 2022.10
  ui/apps/platform/cypress/constants/PoliciesPagePatternFly.js
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#2700 ROX-11693: Port scale tests to OSCI
  .openshift-ci/ci_tests.py
  .openshift-ci/clusters.py
  .openshift-ci/post_tests.py
  .openshift-ci/runners.py
  .openshift-ci/tests/test_runners.py
  scripts/ci/gate-jobs-config.json
  scripts/ci/gcp.sh
  scripts/ci/jobs/gke-postgres-scale-tests.sh
  scripts/ci/jobs/gke-scale-tests.sh
  scripts/ci/jobs/gke_postgres_scale_tests.py
  scripts/ci/jobs/gke_scale_tests.py
  scripts/ci/jobs/openshift_4_operator_e2e_tests.py
  tests/e2e/run-scale.sh
Labels: ci-scale-tests, ci-postgres-scale-tests, turbo-build

#2610 ROX-11018: Add option to make auth providers unmodifiable
  central/auth/userpass/auth.go
  central/authprovider/datastore/datastore_impl.go
  central/authprovider/datastore/datastore_impl_test.go
  central/authprovider/datastore/internal/store/bolt/store_impl.go
  central/authprovider/datastore/internal/store/bolt/store_impl_test.go
  central/authprovider/datastore/internal/store/mocks/store.go
  central/authprovider/datastore/internal/store/store.go
  central/authprovider/service/service_impl.go
  generated/api/v1/auth_service.swagger.json
  generated/api/v1/authprovider_service.pb.go
  generated/api/v1/authprovider_service.pb.gw.go
  generated/api/v1/authprovider_service.swagger.json
  generated/api/v1/common.pb.go
  generated/storage/auth_provider.pb.go
  generated/storage/traits.pb.go
  pkg/auth/authproviders/provider_commands.go
  pkg/auth/authproviders/registry.go
  pkg/auth/authproviders/registry_httphandler_test.go
  pkg/auth/authproviders/registry_impl.go
  pkg/auth/authproviders/store.go
  proto/api/v1/authprovider_service.proto
  proto/api/v1/common.proto
  proto/storage/auth_provider.proto
  proto/storage/traits.proto
  qa-tests-backend/src/main/groovy/services/AuthProviderService.groovy
  roxctl/central/userpki/delete/delete.go
  tests/client_ca_test.go
  ui/apps/platform/cypress/fixtures/auth/authProviders-id1.json
  ui/apps/platform/cypress/fixtures/auth/authProvidersWithClientSecret.json
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviderForm.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProvidersList.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/authProviders.utils.ts
  ui/apps/platform/src/sagas/authSagas.js
  ui/apps/platform/src/services/AuthService/AuthService.ts
Labels: area/roxctl, area/auth, area/central, area/ui

#2675 ROX-11018: remove admin password login option for ACSMS
  central/auth/userpass/auth.go
  central/authprovider/service/service_impl.go
  central/main.go
  deploy/common/k8sbased.sh
  generated/api/v1/auth_service.swagger.json
  generated/api/v1/authprovider_service.swagger.json
  generated/storage/auth_provider.pb.go
  generated/storage/traits.pb.go
  pkg/auth/authproviders/provider_default_options.go
  pkg/auth/authproviders/provider_options.go
  pkg/env/managed.go
  proto/storage/auth_provider.proto
  proto/storage/traits.proto
Labels: area/auth, area/central

#2710 Replace type assertions with generic type parameters in tableColumnDescriptor for integrations
  ui/apps/platform/src/Containers/Integrations/utils/tableColumnDescriptor.ts
Labels: ci-no-ui-tests, area/ui

#2729 [ROX-12242] New risk ranker for node components
  central/graphql/resolvers/images.go
  central/node/datastore/internal/store/common/v2/split.go
  central/ranking/singleton.go
  central/risk/datastore/datastore.go
  central/risk/datastore/datastore_impl.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/common/v2/split.go
Labels: area/central

#2663 ROX-11018: Add immutable groups
  central/authprovider/service/service_impl.go
  central/graphql/resolvers/generated.go
  central/group/datastore/datastore.go
  central/group/datastore/datastore_impl.go
  central/group/datastore/datastore_test.go
  central/group/datastore/mocks/datastore.go
  central/group/datastore/singleton.go
  central/group/datastore/validate.go
  central/group/service/service_impl.go
  central/group/service/service_test.go
  generated/api/v1/group_service.pb.go
  generated/api/v1/group_service.pb.gw.go
  generated/api/v1/group_service.swagger.json
  generated/storage/group.pb.go
  pkg/fixtures/group.go
  proto/api/v1/group_service.proto
  proto/storage/group.proto
  qa-tests-backend/src/main/groovy/services/GroupService.groovy
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/RuleGroups.tsx
  ui/apps/platform/src/services/AuthService/AuthService.ts
Labels: area/central, area/ui, turbo-build

#2724 Correct image names in Helm README.md.htpl
  image/templates/helm/stackrox-secured-cluster/README.md.htpl
Labels: area/helm

#2736 Ignore unknown mime type error when fetching signatures
  central/graphql/resolvers/generated.go
  generated/api/v1/group_service.swagger.json
  pkg/signatures/public_key_fetcher.go
  pkg/signatures/public_key_fetcher_test.go
Labels: area/central

#2715 Fix scope lookups in image and cluster Vulnerabilities sub-resolvers
  central/graphql/resolvers/cluster_vulnerabilities.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/node_vulnerabilities.go
Labels: area/central

#2733 ROX-11693: Add scale comparison to spyglass view
  scripts/ci/compare-debug-metrics.sh
  tests/e2e/run-scale.sh
Labels: ci-scale-tests, ci-postgres-scale-tests, turbo-build

#2756 Set operating system for node components from scan
  central/imagecomponent/datastoretest/datastore_sac_test.go
  central/node/datastore/dackbox/datastore/datastore_impl_postgres_test.go
  central/node/datastore/internal/store/common/split.go
  central/node/datastore/internal/store/common/v2/split.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/common/split.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/common/v2/split.go
  pkg/fixtures/dackbox.go
  sensor/kubernetes/listener/resources/node.go
Labels: area/central, area/sensor

#2764 Delete obsolete Containers MainPage index file
  ui/apps/platform/src/Containers/MainPage/index.ts
Labels: ci-no-ui-tests, area/ui

#2761 ROX-12257: Fixed GraphQL fields: DiscoveredInImage in Image CVES, and Op.System in CVEs list
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.fragments.js
Labels: area/ui

#2766 Fix dependency conflict leading to failing tests.
  ui/packages/ui-components/package.json
  ui/yarn.lock
Labels: area/ui

#2747 ROX-11727: Don't reopen milestone on cut RC failure
  .github/workflows/cut-rc.yml
  .github/workflows/start-release.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#2743 Upgrade cypress 10.6.0 devDependencies in ui
  ui/apps/platform/cypress.config.js
  ui/apps/platform/cypress.json
  ui/apps/platform/cypress/integration/mainmenu.test.js
  ui/apps/platform/cypress/integration/network.test.js
  ui/apps/platform/cypress/integration/policies/importPolicy.test.js
  ui/apps/platform/cypress/support/commands.js
  ui/apps/platform/cypress/support/e2e.js
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#2689 ROX-12190: [Hackathon] Replace search modal with search page in UI
  ui/apps/platform/cypress/integration/search.test.js
  ui/apps/platform/src/Components/SearchFilterInput/SearchFilterInput.tsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/Header/GlobalSearchButton.tsx
  ui/apps/platform/src/Containers/MainPage/Header/MastheadToolbar.tsx
  ui/apps/platform/src/Containers/Search/FilterLinks.tsx
  ui/apps/platform/src/Containers/Search/NotApplicable.tsx
  ui/apps/platform/src/Containers/Search/SearchNavAndTable.tsx
  ui/apps/platform/src/Containers/Search/SearchPage.css
  ui/apps/platform/src/Containers/Search/SearchPage.tsx
  ui/apps/platform/src/Containers/Search/SearchTable.tsx
  ui/apps/platform/src/Containers/Search/ViewLinks.tsx
  ui/apps/platform/src/Containers/Search/searchCategories.ts
  ui/apps/platform/src/Containers/Search/searchQuery.ts
  ui/apps/platform/src/routePaths.js
  ui/apps/platform/src/services/SearchService.ts
Labels: area/ui

#2677 Re-enable image management e2e tests in postgres mode
  qa-tests-backend/src/main/groovy/services/CVEService.groovy
  qa-tests-backend/src/test/groovy/ImageManagementTest.groovy
Labels: team/merlin, area/postgres, ci-postgres-tests

#2772 ROX-12281 Fix deploy.sh not creating upgrader SA
  deploy/common/deploy.sh
Labels: team/maple

#2755 Replace docker.io with quay.io in operator readme
  operator/README.md
Labels: area/operator

#2785 Rename postgres generator flag
  central/clustercveedge/datastore/store/postgres/gen.go
  central/componentcveedge/datastore/store/postgres/gen.go
  central/imagecomponentedge/datastore/internal/store/postgres/gen.go
  central/imagecveedge/datastore/postgres/gen.go
  central/nodecomponentcveedge/datastore/store/postgres/gen.go
  central/nodecomponentedge/store/postgres/gen.go
  tools/generate-helpers/pg-table-bindings/main.go
Labels: area/central, area/postgres, ci-postgres-tests

#2768 ROX-9766: Add severity column to Image CVEs and Node CVEs tables
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/ListCVEs.utils.js
Labels: area/ui

#2769 ROX-10068: VM deployment policies table data changes when switching tabs
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Deployment/VulnMgmtEntityDeployment.js
Labels: area/ui

#2771 ROX-11770: Add prow step stub for version compatibility test
  scripts/ci/jobs/gke_version_compatibility_tests.py
Labels: team/maple

#2748 ROX-11939: Expose scanner monitoring
  image/templates/helm/shared/config-templates/scanner/config.yaml.tpl
  image/templates/helm/shared/internal/scanner-config-shape.yaml
  image/templates/helm/shared/templates/02-scanner-05-network-policy.yaml
  image/templates/helm/shared/templates/02-scanner-06-deployment.yaml.htpl
  image/templates/helm/shared/templates/02-scanner-07-service.yaml
  operator/apis/platform/v1alpha1/central_types.go
  operator/apis/platform/v1alpha1/common_types.go
  operator/apis/platform/v1alpha1/zz_generated.deepcopy.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/pkg/central/values/translation/translation.go
  operator/pkg/central/values/translation/translation_test.go
  operator/tests/central/basic/61-assert.yaml
  operator/tests/central/basic/61-set-expose-monitoring.yaml
  operator/tests/central/basic/62-assert.yaml
  operator/tests/central/basic/62-errors.yaml
  operator/tests/central/basic/62-unset-expose-monitoring.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/monitoring.test.yaml
Labels: team/merlin, area/helm, area/operator

#2773 CI: handle upgrade deployment path
  tests/upgrade/run.sh
Labels: ci-upgrade-tests

#2745 CI: Bump -rcd wait timeout
  deploy/common/k8sbased.sh
Labels: ci-race-condition-tests

#2765 ROX-12276: Update vuln refs to new GraphQL identifiers
  ui/apps/platform/cypress/fixtures/vulnerabilities/fixableCvesForEntity.json
  ui/apps/platform/cypress/fixtures/vulnerabilities/fixableCvesForEntityLegacy.json
  ui/apps/platform/cypress/integration/vulnmanagement/entitypages.test.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/TableWidgetFixableCves.js
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.fragments.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/MostCommonVulnerabiltiesInDeployment.js
Labels: area/ui

#2792 RS-555: Onboard GKE kernel-module tests
  scripts/ci/gate-jobs-config.json
  scripts/ci/jobs/gke-kernel-qa-e2e-tests.sh
  scripts/ci/jobs/gke_kernel_qa_e2e_tests.py
Labels: ci-kernel-module-tests

#2797 fix: updating node and image cves table tests
  ui/apps/platform/cypress/integration/vulnmanagement/cvesListPages.test.js
Labels: area/ui

#2732 ROX-12057: collect operator e2e test artifacts
  .openshift-ci/ci_tests.py
  .openshift-ci/post_tests.py
  operator/Makefile
  scripts/ci/jobs/openshift_4_operator_e2e_tests.py
Labels: area/operator

#2800 Handle internal resources in builtin scoped authorizer
  central/role/resources/list.go
  central/sac/authorizer/builtin_scoped_authorizer.go
  central/sac/authorizer/builtin_scoped_authorizer_test.go
  pkg/sac/tests/test_scope_checker_core_test.go
Labels: area/auth, area/central, turbo-build

#2795 Upstream release automation: minor fixes
  .github/workflows/cut-rc.yml
  .github/workflows/scripts/check-jira-issues.sh
  .github/workflows/scripts/patch-changelog.sh
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests, turbo-build

#2799 Add triggerScan call to configmanagement integration tests which depend on it
  ui/apps/platform/cypress/helpers/compliance.js
  ui/apps/platform/cypress/integration/configmanagement/ciscontrols.test.js
  ui/apps/platform/cypress/integration/configmanagement/clusters.test.js
  ui/apps/platform/cypress/integration/configmanagement/dashboard.test.js
  ui/apps/platform/cypress/integration/configmanagement/entitiespage.test.js
  ui/apps/platform/cypress/integration/configmanagement/nodes.test.js
Labels: area/ui

#2789 ROX-12307 Disable TLS test on postgres
  qa-tests-backend/src/test/groovy/TLSChallengeTest.groovy
Labels: area/postgres, ci-postgres-tests, turbo-build

#2722 Remove PerformChecks method
  central/node/datastore/dackbox/globaldatastore/datastore.go
  central/sac/authorizer/builtin_scoped_authorizer.go
  central/sac/authorizer/builtin_scoped_authorizer_test.go
  pkg/sac/allow_fixed_scopes_checker_core.go
  pkg/sac/error_scope_checker_core.go
  pkg/sac/mocks/scope_checker.go
  pkg/sac/mocks/scope_checker_core.go
  pkg/sac/scope_checker.go
  pkg/sac/scope_checker_core.go
  pkg/sac/scope_checker_or.go
  pkg/sac/test_scope_checker_core.go
  pkg/sac/tests/scope_checker_or_test.go
  pkg/sac/uniform_scope_checker_core.go
Labels: area/auth, area/central, turbo-build

#2782 [Rox-12255] : Disable decommissioned cluster removal by default
  CHANGELOG.md
  central/cluster/service/service_impl.go
  central/cluster/service/service_impl_test.go
  central/config/datastore/singleton.go
  pkg/sliceutils/map.go
Labels: area/central

#2804 Update CVE links in more Finding sections
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Deployment/VulnMgmtDeploymentOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Namespace/VulnMgmtNamespaceOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/TableWidgetFixableCves.js
Labels: area/ui

#2750 Remove TryAnyAllowed
  pkg/sac/mocks/scope_checker.go
  pkg/sac/scope_checker.go
  pkg/sac/scope_checker_or.go
  pkg/sac/tests/scope_checker_or_test.go
Labels: area/auth, turbo-build

#2660 Disable store level SAC for network graph
  central/networkgraph/entity/datastore/internal/store/postgres/gen.go
  central/networkgraph/entity/datastore/internal/store/postgres/permission_checker.go
  central/networkgraph/entity/datastore/internal/store/postgres/permission_checker_impl.go
  central/networkgraph/entity/datastore/internal/store/postgres/store.go
  central/networkgraph/entity/datastore/internal/store/postgres/store_test.go
  qa-tests-backend/src/test/groovy/SACTest.groovy
Labels: team/merlin, area/central, area/postgres, ci-postgres-tests

#2751 Remove TryAllAllowed
  pkg/sac/mocks/scope_checker.go
  pkg/sac/scope_checker.go
  pkg/sac/scope_checker_or.go
  pkg/sac/tests/scope_checker_or_test.go
Labels: area/auth, turbo-build

#2749 Upgrade Operator SDK to v1.20.1
  operator/Makefile
  operator/README.md
  operator/bundle.Dockerfile
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/bundle/metadata/annotations.yaml
  operator/bundle/tests/scorecard/config.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/config/default/manager_auth_proxy_patch.yaml
  operator/config/manager/manager.yaml
  operator/config/rbac/role.yaml
  operator/config/scorecard-versioned/kustomization.yaml
  operator/config/webhook/manifests.yaml
Labels: area/operator

#2752 Replace TryAllowedResult with bool
  central/compliance/datastore/sac_filter.go
  central/networkpolicies/datastore/datastore_impl.go
  central/node/datastore/dackbox/globaldatastore/datastore.go
  central/sac/authorizer/builtin_scoped_authorizer.go
  central/sac/authorizer/builtin_scoped_authorizer_test.go
  pkg/sac/allow_fixed_scopes_checker_core.go
  pkg/sac/error_scope_checker_core.go
  pkg/sac/filter.go
  pkg/sac/mocks/scope_checker.go
  pkg/sac/mocks/scope_checker_core.go
  pkg/sac/scope_checker.go
  pkg/sac/scope_checker_core.go
  pkg/sac/scope_checker_or.go
  pkg/sac/scope_key.go
  pkg/sac/search_helper.go
  pkg/sac/test_scope_checker_core.go
  pkg/sac/tests/allow_fixed_scopes_checker_core_test.go
  pkg/sac/tests/scope_checker_or_test.go
  pkg/sac/tests/test_scope_checker_core_test.go
  pkg/sac/tryallowedresult_string.go
  pkg/sac/uniform_scope_checker_core.go
Labels: area/auth, area/central, turbo-build

#2730 Add FocusTrap to Dashboard menus to allow tab navigation through option elements.
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/AgingImages.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ComplianceLevelsByStandard.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ImagesAtMostRisk.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/ViolationsByPolicyCategory.tsx
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/WidgetOptionsMenu.css
  ui/apps/platform/src/Containers/Dashboard/PatternFly/Widgets/WidgetOptionsMenu.tsx
  ui/apps/platform/src/css/trumps.css
Labels: area/ui

#2819 [ROX-12313][Dackbox] Fill severity when reading out the records
  central/cve/converter/utils/convert_utils.go
  central/node/datastore/internal/store/common/merge.go
  central/node/datastore/internal/store/common/parts_test.go
  migrator/migrations/cvehelper/convert_utils.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/common/merge.go
Labels: area/central

#2805 Prevent timing failures in auth providers integration tests
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/fixtures/auth/mypermissionsMinimalAccess.json
  ui/apps/platform/cypress/helpers/request.js
  ui/apps/platform/cypress/helpers/visit.js
  ui/apps/platform/cypress/integration/accessControl/accessControlAuthProviders.test.js
Labels: area/ui

#2816 Dashrews/ROX-12307 turn on tls test
  qa-tests-backend/src/test/groovy/TLSChallengeTest.groovy
Labels: ci-no-api-tests, ci-postgres-tests, ci-postgres-scale-tests

#2812 Explicitly click to close actions menu in integration test for violations
  ui/apps/platform/cypress/constants/ViolationsPage.js
  ui/apps/platform/cypress/integration/violations/violations.test.js
Labels: area/ui

#2831 Ensure that the postgres env var is reset in tests
  central/networkgraph/flow/datastore/internal/store/postgres/flow_impl_test.go
  central/networkgraph/flow/datastore/internal/store/postgres/store.go
Labels: area/central

#2832 Add jemalloc to main Dockerfile
  image/rhel/Dockerfile.envsubst
Labels: area/helm

#2774 Replace error scope checker core with panic
  central/networkgraph/entity/datastore/datastore_impl.go
  central/sac/authorizer/builtin_scoped_authorizer.go
  central/sac/authorizer/builtin_scoped_authorizer_test.go
  pkg/sac/context.go
  pkg/sac/error_scope_checker_core.go
Labels: area/auth, area/central, turbo-build

#2775 Remove TryAllowed from scope checker
  central/compliance/datastore/sac_filter.go
  central/networkpolicies/datastore/datastore_impl.go
  central/node/datastore/dackbox/globaldatastore/datastore.go
  pkg/sac/mocks/scope_checker.go
  pkg/sac/scope_checker.go
  pkg/sac/scope_checker_or.go
  pkg/sac/scope_key.go
  pkg/sac/search_helper.go
  pkg/sac/tests/allow_fixed_scopes_checker_core_test.go
  pkg/sac/tests/scope_checker_or_test.go
Labels: area/auth, area/central

#2834 Several related fixes for VM Postgres display
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/ListCVEs.utils.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/TopRiskiestEntities.js
  ui/apps/platform/src/utils/queryService.js
  ui/apps/platform/src/utils/queryService.test.js
Labels: area/ui

#2794 ROX-11741: Wait for images on Quay.io before creating clusters
  .github/workflows/cut-rc.yml
  .github/workflows/scripts/wait-for-image.sh
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#2833 Remove import of classic policies selectors from violations integration test
  ui/apps/platform/cypress/integration/violations/violations.test.js
Labels: area/ui

#2827 ROX-12322: Use image from quay to test scan
  tests/scan_test.go
Labels: team/merlin

#2740 Dashrews/ROX-12252 postgres analyze after restore
  migrator/clone/postgres/db_clone_manager_impl.go
  pkg/postgres/pgadmin/admin_utils.go
Labels: ci-no-ui-tests, area/central, area/postgres, ci-postgres-tests, ci-no-upgrade-tests

#2836 Optimize violation count in policies resolver
  central/graphql/resolvers/policies.go
  central/graphql/resolvers/violations.go
Labels: area/central

#2821 ROX-12293: Disable DB backup and restore for managed central
  central/main.go
Labels: area/central

#2798 ROX-12015: Configure OSCI branch for stackrox upstream build
  .github/workflows/start-release.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests, turbo-build

#2843 Update TypeScript 4.8.2 devDependencies in ui
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/useIntegrationForm.ts
  ui/apps/platform/src/hooks/patternfly/useFormModal.ts
  ui/apps/platform/src/hooks/useWidgetConfig.ts
  ui/packages/ui-components/package.json
  ui/yarn.lock
Labels: area/ui

#2846 ROX-12339: Untangle entities column in fixable CVEs tables (with updated queries)
  ui/apps/platform/src/Components/workflow/TableCountLinks/TableCountLinks.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Entity/TableWidgetFixableCves.js
  ui/apps/platform/src/Containers/VulnMgmt/fixableVulnTypeContext.js
  ui/apps/platform/src/constants/entityTypes.ts
  ui/apps/platform/src/utils/queryService.js
  ui/apps/platform/src/utils/queryService.test.js
Labels: area/ui

#2862 Disable updates for patch releases updates for aws-sdk-go
  .github/dependabot.yaml
Labels: team/merlin
