Repository stackrox/stackrox, pull requests merged in 2022-05, with the labels that each got.

#1493 ROX-9535: Effective access scope merge - merge cluster ID to cluster name map as well
  pkg/sac/effectiveaccessscope/effective_access_scope.go
  pkg/sac/effectiveaccessscope/effective_access_scope_test.go
Labels: team/merlin, area/auth, area/postgres, ci-postgres-tests

#1502 ROX-10208: integrate branding env into ci attempt 2
  .circleci/config.yml
  Makefile
  image/rhel/Dockerfile
  pkg/branding/brandedtext_test.go
  pkg/branding/env.go
Labels: team/maple, area/helm

#1449 ROX-10628: Further cleanup of errors
  central/apitoken/service/service_impl.go
  central/authprovider/service/service_impl.go
  central/compliance/standards/utils.go
  central/signatureintegration/datastore/datastore_impl.go
  pkg/gjson/row.go
  pkg/grpc/authn/interceptor.go
  pkg/grpc/authz/user/role.go
  pkg/grpc/authz/user/user.go
  pkg/images/enricher/enricher_impl.go
  pkg/printers/junit.go
  roxctl/central/db/restore/v2.go
  roxctl/central/generate/generate.go
  roxctl/cluster/delete/delete.go
  roxctl/common/errors.go
  roxctl/common/flags/opt_bool.go
  roxctl/common/printer/junitprinter_factory.go
  roxctl/common/printer/tabularprinter_factory.go
  roxctl/completion/completion.go
  roxctl/deployment/check/check.go
  roxctl/helm/derivelocalvalues/command.go
  roxctl/helm/derivelocalvalues/command_test.go
  roxctl/image/scan/scan.go
  roxctl/pflag/autobool/autobool.go
  roxctl/scanner/generate/generate.go
  roxctl/sensor/generate/generate.go
  tests/roxctl/bats-tests/helpers.bash
Labels: team/merlin, area/roxctl, area/central

#1513 ROX-10673: Increase timeout for OpenShift environments for SAC tests.
  qa-tests-backend/src/test/groovy/SACTest.groovy
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-openshift-rosa-tests, ci-no-api-tests, ci-no-upgrade-tests

#1521 Use 's' instead of 'search' as the default key for URL search parameters
  ui/apps/platform/cypress/integration/dashboard.test.js
  ui/apps/platform/src/hooks/useURLSearch.ts
  ui/apps/platform/src/utils/searchUtils.ts
Labels: area/ui

#1519 ROX-10072: Prevent panic when postgres tests are skipped
  central/alert/datastore/internal/store/postgres/store_test.go
  central/apitoken/datastore/internal/store/postgres/store_test.go
  central/cluster/store/cluster/postgres/store_test.go
  central/cluster/store/clusterhealth/postgres/store_test.go
  central/clusterinit/store/postgres/store_test.go
  central/componentcveedge/datastore/internal/postgres/store_test.go
  central/cve/datastore/cluster/internal/store/postgres/store_test.go
  central/cve/datastore/node/internal/store/postgres/store_test.go
  central/cve/image/datastore/internal/store/postgres/store_test.go
  central/deployment/store/postgres/store_test.go
  central/imagecomponent/datastore/internal/store/postgres/store_test.go
  central/imagecomponentedge/datastore/internal/store/postgres/store_test.go
  central/imagecveedge/datastore/internal/postgres/store_test.go
  central/integrationhealth/store/postgres/store_test.go
  central/namespace/store/postgres/store_test.go
  central/networkbaseline/store/postgres/store_test.go
  central/networkgraph/entity/datastore/internal/store/postgres/store_test.go
  central/pod/store/postgres/store_test.go
  central/policy/store/postgres/store_test.go
  central/processbaseline/store/postgres/store_test.go
  central/processbaselineresults/datastore/internal/store/postgres/store_test.go
  central/processindicator/store/postgres/store_test.go
  central/rbac/k8srole/internal/store/postgres/store_test.go
  central/rbac/k8srolebinding/internal/store/postgres/store_test.go
  central/reportconfigurations/store/postgres/store_test.go
  central/risk/datastore/internal/store/postgres/store_test.go
  central/role/store/permissionset/postgres/store_test.go
  central/role/store/role/postgres/store_test.go
  central/role/store/simpleaccessscope/postgres/store_test.go
  central/secret/internal/store/postgres/store_test.go
  central/serviceaccount/internal/store/postgres/store_test.go
  central/signatureintegration/store/postgres/store_test.go
  central/vulnerabilityrequest/datastore/internal/store/postgres/store_test.go
  central/watchedimage/datastore/internal/store/postgres/store_test.go
  tools/generate-helpers/pg-table-bindings/multitest/postgres/store_test.go
  tools/generate-helpers/pg-table-bindings/store_test.go.tpl
  tools/generate-helpers/pg-table-bindings/test/postgres/store_test.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testchild1/store_test.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testchild2/store_test.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testg2grandchild1/store_test.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testg3grandchild1/store_test.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testggrandchild1/store_test.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testgrandchild1/store_test.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testgrandparent/store_test.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testparent1/store_test.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testparent2/store_test.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testparent3/store_test.go
Labels: area/central, area/postgres, ci-postgres-tests

#1522 ROX-10201: Define more restrictive API for image vulnerability graphql resolver
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/vulnerabilities_v2.go
Labels: area/central

#1492 Prefactor: Add OrScopeChecker.
  pkg/sac/mocks/scope_checker.go
  pkg/sac/scope_checker.go
  pkg/sac/scope_checker_or.go
  pkg/sac/tests/scope_checker_or_test.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/auth, ci-no-upgrade-tests

#1515 Image signature tests should be ignored for cri-o.
  qa-tests-backend/src/test/groovy/ImageSignatureVerificationTest.groovy
Labels: ci-no-ui-tests, ci-no-api-tests, ci-openshift-crio-tests, ci-no-upgrade-tests

#1524 [ROX-10236] Link deployments and namespace table
  central/deployment/store/postgres/gen.go
  central/deployment/store/postgres/store.go
  central/deployment/store/postgres/store_test.go
  central/postgres/schema/deployments.go
  generated/storage/deployment.pb.go
  proto/storage/deployment.proto
Labels: area/central

#1501 Delete leftover clusters selected and wizard reducers in UI
  ui/apps/platform/src/Containers/Clusters/ClustersPage.js
  ui/apps/platform/src/reducers/clusters.js
  ui/apps/platform/src/sagas/clusterSagas.js
  ui/apps/platform/src/sagas/searchSagas.js
Labels: area/ui

#1448 ROX-10249: Enable network policy system policy and update changelog
  CHANGELOG.md
  pkg/features/list.go
  qa-tests-backend/src/test/groovy/UpgradesTest.groovy
Labels: team/maple, ci-upgrade-tests

#1355 ROX-10013 - NetworkPolicy Workload
  scale/workloads/np-load.yaml
  sensor/kubernetes/fake/deployment.go
  sensor/kubernetes/fake/fake.go
  sensor/kubernetes/fake/networkpolicy.go
  sensor/kubernetes/fake/workload.go
  sensor/kubernetes/listener/resources/networkpolicy.go
Labels: team/maple, area/sensor

#1507 ROX-10664: Precise that `errox.CausedBy(err)` drops the `err` class
  pkg/errox/roxerror.go
  pkg/errox/roxerror_test.go
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#1462 Update Policies to use URL search hook
  ui/apps/platform/src/Containers/Policies/PoliciesPage.tsx
  ui/apps/platform/src/Containers/Policies/policies.utils.ts
Labels: area/ui

#1510 ROX-10694 Fix "Filter On" links in global search for Violations, Risk
  ui/apps/platform/src/Containers/Search/SearchResults.tsx
  ui/apps/platform/src/utils/searchUtils.test.js
  ui/apps/platform/src/utils/searchUtils.ts
Labels: area/ui

#1523 Consolidate duplicate uses of test util `getEntityState`.
  ui/apps/platform/src/Containers/VulnMgmt/List/Components/ListComponents.utils.test.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/ListCVEs.utils.test.js
  ui/apps/platform/src/test-utils/workflowUtils.js
  ui/apps/platform/src/utils/WorkflowState.test.js
  ui/apps/platform/src/utils/workflowUtils.test.ts
Labels: area/ui

#1517 ROX-10309: Add optional featureFlagDependency property to policy criteria descriptors
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/BooleanPolicyLogicSection.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicyCriteriaForm.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
  ui/apps/platform/src/hooks/useFeatureFlagEnabled.js
  ui/apps/platform/src/hooks/useFeatureFlagEnabled.test.js
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#1473 ROX-10066: improve label matching with selectors
  sensor/kubernetes/listener/resources/convert.go
  sensor/kubernetes/listener/resources/deployment_store.go
  sensor/kubernetes/listener/resources/networkpolicy.go
  sensor/kubernetes/listener/resources/route_test.go
  sensor/kubernetes/listener/resources/selector.go
  sensor/kubernetes/listener/resources/selector_test.go
  sensor/kubernetes/listener/resources/service.go
  sensor/kubernetes/listener/resources/service_store.go
Labels: team/maple, area/sensor

#1518 Update TypeScript 4.6.4 devDependencies in ui
  ui/apps/platform/package.json
  ui/packages/ui-components/package.json
  ui/yarn.lock
Labels: area/ui

#1530 Remove referential constraints from deployment and pod
  central/deployment/store/postgres/store_test.go
  central/pod/store/postgres/store_test.go
  central/postgres/schema/deployments.go
  central/postgres/schema/pods.go
  generated/storage/deployment.pb.go
  proto/storage/deployment.proto
Labels: area/central

#1468 ROX-9745: Making the policy boltdb store less bespoke, and ensuring it has interface parity with the generated postgres store (categories methods TBD).
  central/policy/datastore/datastore_impl.go
  central/policy/datastore/datastore_impl_test.go
  central/policy/search/searcher_impl.go
  central/policy/store/mocks/store.go
  central/policy/store/store.go
  central/policy/store/store_impl.go
  central/policy/store/store_impl_test.go
  central/search/service/service_impl_test.go
  tests/policy_test.go
Labels: area/central

#1533 ROX-9669: Press enter as alternative to click Generate on Cluster Init Bundle form
  ui/apps/platform/src/Components/PatternFly/FormSaveButton.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ClusterInitBundleIntegrationForm/ClusterInitBundleIntegrationForm.tsx
Labels: area/ui

#1535 Update collector version to 3.8.0
  COLLECTOR_VERSION
Labels: ci-openshift-4-tests

#1542 Add more memory to gradle
  qa-tests-backend/gradle.properties
  qa-tests-backend/gradle/wrapper/gradle-wrapper.jar
  qa-tests-backend/gradle/wrapper/gradle-wrapper.properties
  qa-tests-backend/gradlew
Labels: team/merlin

#1529 ROX-10695: CI: Fix for unbound rvm var
  scripts/ci/gcp.sh
  scripts/ci/gke.sh
  scripts/ci/lib.sh
  scripts/ci/store-artifacts.sh
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-openshift-tests, ci-openshift-crio-tests, ci-no-upgrade-tests

#1543 Fix get getter func in pg generator
  central/namespace/store/postgres/store.go
  central/namespace/store/postgres/store_test.go
  tools/generate-helpers/pg-table-bindings/list.go
  tools/generate-helpers/pg-table-bindings/list_test.go
Labels: team/merlin, area/central, area/postgres, ci-postgres-tests

#1555 ROX-6284: Replace beforeEach in risk integration tests
  ui/apps/platform/cypress/constants/RiskPage.js
  ui/apps/platform/cypress/helpers/risk.js
  ui/apps/platform/cypress/integration/risk/risk.test.js
Labels: area/ui

#1554 Scanner 2.24.0
  SCANNER_VERSION
Labels: ci-all-qa-tests, ci-openshift-4-tests, ci-openshift-tests, ci-openshift-crio-tests

#1534 ROX-9639: Migrate auth provider store to Postgres
  central/authprovider/datastore/datastore_impl.go
  central/authprovider/datastore/datastore_impl_test.go
  central/authprovider/datastore/internal/store/bolt/store_impl.go
  central/authprovider/datastore/internal/store/bolt/store_impl_test.go
  central/authprovider/datastore/internal/store/mocks/store.go
  central/authprovider/datastore/internal/store/postgres/gen.go
  central/authprovider/datastore/internal/store/postgres/store.go
  central/authprovider/datastore/internal/store/postgres/store_test.go
  central/authprovider/datastore/internal/store/store.go
  central/authprovider/datastore/internal/store/store_impl.go
  central/authprovider/datastore/singleton.go
  central/postgres/schema/authproviders.go
  generated/storage/auth_provider.pb.go
  pkg/auth/authproviders/registry_httphandler_test.go
  pkg/auth/authproviders/registry_impl.go
  pkg/auth/authproviders/store.go
  proto/storage/auth_provider.proto
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, area/auth, area/central, area/postgres, ci-postgres-tests, ci-no-upgrade-tests

#1549 Fix postgres object counts
  central/globaldb/postgres.go
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, area/central, area/postgres, ci-postgres-tests, ci-no-upgrade-tests

#1525 ROX-10308: Separating ClientPolicy and server Policy types
  ui/apps/platform/src/Containers/Policies/PolicyPage.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/PolicyWizard.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step2/PolicyBehaviorForm.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step4/PolicyScopeForm.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step5/ReviewPolicyForm.tsx
  ui/apps/platform/src/Containers/Policies/policies.utils.ts
  ui/apps/platform/src/types/policy.proto.ts
  ui/apps/platform/src/utils/policyUtils.js
  ui/apps/platform/src/utils/policyUtils.test.js
Labels: area/ui

#1556 ROX-10810: Add back trigger backup for S3 and GCS
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsListPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsTable.tsx
Labels: area/ui

#1567 Bugfix/declaration comment case mismatch
  central/activecomponent/updater/updater_impl.go
  central/alert/datastore/internal/search/searcher_impl.go
  central/compliance/checks/common/rbac.go
  central/cve/fetcher/mock_scanner.go
  central/deployment/datastore/datastore_impl.go
  central/deployment/datastore/internal/search/searcher_impl.go
  central/detection/alertmanager/alert_manager_impl.go
  central/graphql/resolvers/utils.go
  central/image/datastore/internal/search/searcher_impl_v2.go
  central/logimbue/handler/handler_impl.go
  central/notifiers/jira/jira.go
  central/notifiers/slack/slack.go
  central/policy/search/searcher_impl.go
  central/processindicator/service/service_impl.go
  central/sensor/service/connection/deduping_queue.go
  central/sensor/service/connection/worker_queue.go
  central/telemetry/gatherers/rox.go
  migrator/rockshelper/rocksdb.go
  operator/pkg/securedcluster/values/translation/translation.go
  pkg/booleanpolicy/field_metadata.go
  pkg/centralsensor/legacy_caps.go
  pkg/jsonutil/conversion.go
  pkg/search/autocomplete_query_parser.go
  pkg/search/compound/build.go
  pkg/search/general_query_parser.go
  pkg/search/parser.go
  roxctl/central/debug/debug.go
  roxctl/common/printer/jsonprinter_factory.go
  roxctl/common/printer/tabularprinter_factory.go
  sensor/common/sensor/helmconfig/load.go
Labels: team/maple, area/roxctl, area/central, area/operator, area/sensor

#1566 ROX-10786: Add PgSearchHelper for ProcessIndicator.
  central/processindicator/search/searcher_impl.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/central, ci-no-upgrade-tests

#1445 ROX-9476 ROX-8533: Show health info of a local scanner
  central/cluster/store/cluster/postgres/store.go
  central/cluster/store/clusterhealth/postgres/store.go
  central/graphql/resolvers/generated.go
  central/postgres/schema/cluster_health_status.go
  central/postgres/schema/clusters.go
  central/sensor/service/pipeline/clusterhealthupdate/pipeline.go
  generated/api/v1/cluster_service.swagger.json
  generated/api/v1/compliance_service.swagger.json
  generated/internalapi/central/cluster_status.pb.go
  generated/storage/cluster.pb.go
  pkg/clusterhealth/status.go
  pkg/search/options.go
  proto/internalapi/central/cluster_status.proto
  proto/storage/cluster.proto
  sensor/kubernetes/clusterhealth/updater.go
  ui/apps/platform/src/Containers/Clusters/Components/ClusterStatusPill.tsx
  ui/apps/platform/src/Containers/Clusters/Components/ClusterSummary.js
  ui/apps/platform/src/Containers/Clusters/Components/Scanner/ScannerStatus.tsx
  ui/apps/platform/src/Containers/Clusters/Components/Scanner/ScannerStatusTotals.tsx
  ui/apps/platform/src/Containers/Clusters/Components/Scanner/ScannerUnavailableStatus.tsx
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.tsx
  ui/apps/platform/src/Containers/Clusters/clusterTypes.ts
Labels: area/central, area/ui, area/sensor

#1562 Delete leftover images reducers and sagas in UI
  ui/apps/platform/src/reducers/images.js
  ui/apps/platform/src/reducers/index.js
  ui/apps/platform/src/routePaths.js
  ui/apps/platform/src/sagas/globalSearchSagas.js
  ui/apps/platform/src/sagas/imageSagas.js
  ui/apps/platform/src/sagas/index.js
  ui/apps/platform/src/sagas/searchSagas.js
  ui/apps/platform/src/services/ImagesService.js
Labels: area/ui

#1578 Re-generate code to fix CI.
  central/authprovider/datastore/internal/store/postgres/store.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/central, ci-no-upgrade-tests

#1561 ROX-9649, ROX-10819: Migrate notifiers to postgres
  CHANGELOG.md
  central/compliance/data/repository.go
  central/graphql/resolvers/notifiers.go
  central/notifier/datastore/datastore.go
  central/notifier/datastore/datastore_impl.go
  central/notifier/datastore/datastsore_test.go
  central/notifier/datastore/internal/store/bolt/store_impl.go
  central/notifier/datastore/internal/store/bolt/store_impl_test.go
  central/notifier/datastore/internal/store/mocks/store.go
  central/notifier/datastore/internal/store/postgres/gen.go
  central/notifier/datastore/internal/store/postgres/store.go
  central/notifier/datastore/internal/store/postgres/store_test.go
  central/notifier/datastore/internal/store/singleton.go
  central/notifier/datastore/internal/store/store.go
  central/notifier/datastore/internal/store/store_impl.go
  central/notifier/datastore/mocks/datastore.go
  central/notifier/datastore/scrub.go
  central/notifier/datastore/singleton.go
  central/notifier/processor/singleton.go
  central/notifier/service/service_impl.go
  central/postgres/schema/notifiers.go
  generated/api/v1/notifier_service.pb.go
  generated/api/v1/notifier_service.pb.gw.go
  generated/api/v1/notifier_service.swagger.json
  generated/storage/notifier.pb.go
  proto/api/v1/notifier_service.proto
  proto/storage/notifier.proto
Labels: area/central

#1583 Temporarily add policy "Deployments should have at least one ingress Network Policy" to MITRE exception list
  pkg/defaults/policies/mitre_exception_list
Labels: ci-upgrade-tests

#1579 ROX-10799: Quickfix: enable correct feature flag
  pkg/defaults/policies/policies_test.go
  pkg/features/list.go
Labels: ci-upgrade-tests

#1568 ROX-10730: comment function case mismatch linting
  tools/roxvet/analyzers/godoccapitalizationmismatch/analyzer.go
  tools/roxvet/roxvet.go
Labels: team/maple

#1569 Skip E2E tests on postgres
  qa-tests-backend/src/test/groovy/AdmissionControllerTest.groovy
  qa-tests-backend/src/test/groovy/CSVTest.groovy
  qa-tests-backend/src/test/groovy/CVETest.groovy
  qa-tests-backend/src/test/groovy/DefaultPoliciesTest.groovy
  qa-tests-backend/src/test/groovy/DeploymentTest.groovy
  qa-tests-backend/src/test/groovy/ImageManagementTest.groovy
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
  qa-tests-backend/src/test/groovy/K8sRbacTest.groovy
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
  qa-tests-backend/src/test/groovy/PolicyFieldsTest.groovy
  qa-tests-backend/src/test/groovy/SummaryTest.groovy
  qa-tests-backend/src/test/groovy/VulnMgmtTest.groovy
Labels: team/merlin, area/postgres, ci-postgres-tests

#1511 Remove duplicate type definition for old style global search option
  ui/apps/platform/src/Containers/Search/SearchResults.tsx
  ui/apps/platform/src/types/search.ts
  ui/apps/platform/src/utils/searchUtils.ts
Labels: area/ui

#1588 OSCI: hold jobs based on file presence
  .openshift-ci/dispatch.sh
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#1605 Keep the CVE search tag on ID field for now
  central/image/datastore/datastore_impl_postgres_test.go
  central/image/datastore/datastore_impl_test.go
  generated/storage/cve.pb.go
  proto/storage/cve.proto
Labels: area/central

#1591 ROX-10836 add NetworkpoliciesStore to namespaceDispatcher listeners
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/kubernetes/listener/resources/networkpolicy.go
  sensor/kubernetes/listener/resources/networkpolicy_store.go
  sensor/kubernetes/listener/resources/networkpolicy_store_test.go
Labels: team/maple, area/sensor

#1563 OpenShift CI: Some common handling for job gating
  .circleci/config.yml
  .openshift-ci/dispatch.sh
  scripts/ci/gate-jobs-config.json
  scripts/ci/lib.sh
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-upgrade-tests, ci-no-api-tests

#1585 Fix network flow test by handling new default namespace label in 1.21
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Labels: ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#1611 Include fields that are marked with unique
  central/authprovider/datastore/internal/store/postgres/store.go
  central/notifier/datastore/internal/store/postgres/store.go
  central/postgres/schema/authproviders.go
  central/postgres/schema/notifiers.go
  central/postgres/schema/permissionsets.go
  central/postgres/schema/signatureintegrations.go
  central/postgres/schema/simpleaccessscopes.go
  central/role/store/permissionset/postgres/store.go
  central/role/store/simpleaccessscope/postgres/store.go
  central/signatureintegration/store/postgres/store.go
  pkg/postgres/walker/schema.go
Labels: area/central, area/postgres, ci-postgres-tests

#1475 Fix unintended invalid command execution
  image/templates/sensor/openshift/sensor.sh
Labels: area/helm

#1574 ROX-10287 - Bump helm operator version
  go.mod
  go.sum
  operator/pkg/central/extensions/common.go
  operator/pkg/central/extensions/reconcile_admin_password.go
  operator/pkg/central/extensions/reconcile_pvc.go
  operator/pkg/central/extensions/reconcile_scanner_db_password.go
  operator/pkg/central/extensions/reconcile_tls.go
  operator/pkg/central/reconciler/reconciler.go
  operator/pkg/common/extensions/forbidden_namespaces.go
  operator/pkg/common/extensions/product_version_status.go
  operator/pkg/proxy/extension.go
  operator/pkg/proxy/translation.go
  operator/pkg/reconciler/reconciler_factory.go
  operator/pkg/securedcluster/extensions/cluster_name.go
  operator/pkg/securedcluster/extensions/common.go
  operator/pkg/securedcluster/extensions/reconcile_scanner_db_password.go
  operator/pkg/securedcluster/reconciler/reconciler.go
  operator/pkg/utils/status_condition.go
Labels: ci-openshift-4-operator-tests, ci-openshift-4-tests, area/operator

#1589 ROX-10785: Add integration tests for ProcessIndicators store.
  central/processindicator/datastore/datastore_sac_test.go
  pkg/fixtures/indicator.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/central, ci-postgres-tests, ci-no-upgrade-tests

#1602 Match non query should generate false
  pkg/search/postgres/common.go
  pkg/search/postgres/common_test.go
Labels: area/postgres, ci-postgres-tests

#1384 ROX-10822: Group resources, deprecating fine-grained ones.
  central/apitoken/datastore/datastore_test.go
  central/apitoken/datastore/internal/store/postgres/store.go
  central/clusterinit/backend/backend.go
  central/role/resources/list.go
  pkg/auth/permissions/resource.go
  pkg/grpc/authz/user/user.go
  pkg/sac/for_resource_helpers.go
  tools/generate-helpers/pg-table-bindings/list.go
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/ResourceDescription.tsx
  ui/apps/platform/src/types/roleResources.ts
Labels: team/merlin, area/auth, area/central, area/ui, area/postgres, ci-postgres-tests, ci-no-upgrade-tests

#1624 Dashrews/disable flaky process baseline test
  qa-tests-backend/src/test/groovy/ProcessBaselinesTest.groovy
Labels: ci-no-api-tests, area/central, ci-kernel-module-tests

#1538 Re-use ScopeChecker within SearchHelper
  pkg/sac/for_resource_helpers.go
  pkg/sac/search_helper.go
  pkg/sac/tests/search_helper_test.go
Labels: ci-no-ui-tests, team/merlin, ci-no-api-tests, area/auth, ci-no-upgrade-tests

#1615 test: use `T.TempDir` to create temporary test directory
  central/deployment/datastore/datastore_bench_test.go
  central/globalindex/bleveindex_test.go
  central/image/datastore/datastore_bench_test.go
  central/image/datastore/datastore_impl_test.go
  central/imagecomponent/search/searcher_impl_test.go
  central/node/datastore/dackbox/datastore/datastore_bench_test.go
  central/node/datastore/dackbox/datastore/datastore_impl_test.go
  central/pod/datastore/datastore_bench_test.go
  central/probeupload/manager/manager_impl_test.go
  central/tlsconfig/manager_impl_test.go
  compliance/collection/auditlog/auditlog_impl_test.go
  pkg/fileutils/dir_empty_test.go
  pkg/migrations/migration_version_test.go
  pkg/rocksdb/crud/generic_impl_test.go
  pkg/rocksdb/crud/unique_key_crud_test.go
  pkg/search/blevesearch/query_bench_test.go
  pkg/tar/tar_test.go
  roxctl/central/backup/backup_test.go
  roxctl/central/generate/generate_test.go
  roxctl/helm/output/output_lint_test.go
  roxctl/helm/output/output_test.go
  sensor/common/centralclient/client_test.go
  tests/backup_test.go
Labels: ok-to-test

#1630 Add Changelog entry stating that alert and process tags are deprecated
  CHANGELOG.md
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#1062 Enable scanner-slim tests by default
  pkg/helm/charts/tests/centralservices/helmtest_test.go
  pkg/helm/charts/tests/securedclusterservices/helmtest_test.go
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-slim.test.yaml
Labels: area/helm

#1565 ROX-10823: Add tests for replaced resources.
  central/analystnotes/access_control_test.go
  central/authprovider/datastore/datastore_impl_test.go
  central/config/datastore/datastore_test.go
  central/externalbackups/datastore/datastore_impl_test.go
  central/group/datastore/datastore_test.go
  central/imageintegration/datastore/datastore_impl_test.go
  central/license/datastore/datastore_impl_test.go
  central/notifier/datastore/datastsore_test.go
  central/sensorupgradeconfig/datastore/datastore_test.go
  central/serviceidentities/datastore/datastore_impl_test.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/central, ci-no-upgrade-tests

#1628 Additional review comments for ProcessIndicator integration tests.
  central/processindicator/datastore/datastore_sac_test.go
  pkg/fixtures/indicator.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/central, ci-no-upgrade-tests

#1634 ROX-10734: Add PgSearchHelper for Pod searcher.
  central/pod/datastore/internal/search/searcher_impl.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/central, ci-no-upgrade-tests

#1635 Update cypress 9.6.1 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#1631 ROX-9785: Fix RiskTest flake.
  qa-tests-backend/src/test/groovy/RiskTest.groovy
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, ci-race-tests, ci-no-upgrade-tests

#1633 Replace beforeEach in System Health integration tests
  ui/apps/platform/cypress/constants/SystemHealthPatternFly.js
  ui/apps/platform/cypress/helpers/systemHealth.js
  ui/apps/platform/cypress/helpers/systemHealthPatternFly.js
  ui/apps/platform/cypress/integration/systemHealth/bundle.test.js
  ui/apps/platform/cypress/integration/systemHealth/clusters.test.js
  ui/apps/platform/cypress/integration/systemHealth/integrations.test.js
  ui/apps/platform/cypress/integration/systemHealth/systemHealthGeneral.test.js
  ui/apps/platform/cypress/integration/systemHealth/vulnDefinitions.test.js
  ui/apps/platform/cypress/integration/systemHealthPatternFly/systemHealthGeneral.test.js
Labels: area/ui

#1641 Address post-merge review comments for or scope checker.
  pkg/sac/scope_checker_or.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/auth, ci-no-upgrade-tests

#1654 Dashrews/fix busted nongroovy test
  .circleci/config.yml
  tests/container_instances_test.go
  tests/pods_test.go
Labels: ci-no-qa-tests, ci-no-ui-tests, area/central, ci-no-upgrade-tests

#1623 OSCI: Onboard gke-upgrade-tests
  .openshift-ci/ci_tests.py
  qa-tests-backend/build.gradle
  scripts/ci/lib.sh
  tests/upgrade/run.sh
Labels: ci-no-ui-tests, ci-upgrade-tests

#1646 Update GlobalSearch E2E
  qa-tests-backend/src/test/groovy/GlobalSearch.groovy
Labels: ci-postgres-tests

#1613 RS-521: Set stackrox:main dynamic image labels for OpenShift CI builds
  .openshift-ci/build/build-main-and-bundles.sh
  Makefile
  image/rhel/.gitignore
  image/rhel/Dockerfile.envsubst
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, area/helm, ci-no-upgrade-tests

#1657 fix central-db-image build
  image/postgres/Dockerfile
Labels: area/helm, area/postgres, ci-postgres-tests

#1632 Enable ImageScanningTest E2E Test
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
Labels: ci-no-ui-tests, ci-no-api-tests, area/central, ci-postgres-tests

#1609 Disable RBAC risk due to performance instability
  CHANGELOG.md
  central/risk/scorer/deployment/scorer.go
  pkg/env/rbac_risk.go
  pkg/env/setting.go
  pkg/env/setting_test.go
Labels: ci-scale-tests, area/central

#1553 Apply PF search widget overrides to Violations and Policy pages.
  ui/apps/platform/src/Containers/Network/Header/NetworkSearch.css
  ui/apps/platform/src/Containers/Network/Header/NetworkSearch.js
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTable.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
Labels: area/ui

#1604 Add ability to push history state when updating URL parameters via hook.
  ui/apps/platform/src/Containers/Clusters/ClustersPage.js
  ui/apps/platform/src/hooks/useURLParameter.test.tsx
  ui/apps/platform/src/hooks/useURLParameter.ts
Labels: area/ui

#1636 ROX-10733: Add SAC integration tests for Pod Datastore.
  central/pod/datastore/datastore_sac_test.go
  central/processindicator/datastore/datastore_sac_test.go
  pkg/fixtures/pod.go
  pkg/sac/testutils/search_test_cases.go
Labels: ci-no-ui-tests, team/merlin, ci-no-api-tests, area/auth, area/central, ci-postgres-tests, ci-no-upgrade-tests

#1662 ROX-10784: Add PgSearchHelper for K8S Rolebindings.
  central/rbac/k8srolebinding/search/searcher_impl.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/central, ci-postgres-tests, ci-no-upgrade-tests

#1656 ROX-10894: Remove extra namespace selection in Network Graph integration test
  ui/apps/platform/cypress/helpers/networkGraph.js
  ui/apps/platform/cypress/integration/general.test.js
  ui/apps/platform/cypress/integration/network.test.js
  ui/apps/platform/cypress/integration/networkGraph/networkFlows.test.js
  ui/apps/platform/cypress/integration/networkGraph/networkGraph.test.js
  ui/apps/platform/cypress/support/commands.js
Labels: area/ui

#1674 OSCI: fix merge checks
  scripts/ci/lib.sh
Labels: ci-upgrade-tests

#1673 ROX-10920: Fix ComplianceTests
  central/role/resources/list.go
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-openshift-4-tests, team/merlin, ci-no-api-tests, area/central, ci-no-upgrade-tests

#1664 Jv/update collector version to 3.8.1
  COLLECTOR_VERSION
Labels: ci-openshift-4-tests

#1676 Update chalk-cli to allow for vuln updates on transitive dependencies
  ui/package.json
  ui/yarn.lock
Labels: area/ui

#1663 ROX-10783: Add integration tests for K8S role bindings datastore.
  central/rbac/k8srolebinding/datastore/datastore_sac_test.go
  pkg/fixtures/role_bindings.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/auth, area/central, ci-postgres-tests, ci-no-upgrade-tests

#1675 Enable ImageManagementTest
  qa-tests-backend/src/test/groovy/ImageManagementTest.groovy
Labels: ci-no-ui-tests, ci-no-api-tests, ci-postgres-tests, ci-no-upgrade-tests

#1637 ROX-10065: oss vulnerability email report logo
  central/notifiers/email/email.go
  central/reports/common/embed_logo.go
  pkg/branding/brandedlogo.go
  pkg/branding/brandedlogo_test.go
  pkg/branding/files/red_hat_acs_logo_rgb.png
  pkg/branding/files/stackrox_integration_logo.png
  tools/allowed-large-files
Labels: team/maple, area/central

#1679 Bump `ubi8-minimal` base image version to 8.6
  image/rhel/Dockerfile.envsubst
Labels: area/helm

#1652 Remove unneeded replace in go.mod
  go.mod
  go.sum
Labels: team/merlin

#1670 Only wait for risks within namespace for SAC Tests.
  qa-tests-backend/src/test/groovy/RiskTest.groovy
  qa-tests-backend/src/test/groovy/SACTest.groovy
  qa-tests-backend/src/test/groovy/SACv2Test.groovy
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, ci-postgres-tests, ci-no-upgrade-tests

#1580 [ROX-9699][ROX-9702][ROX-9704][ROX-10238] Generate node stores
  central/cve/node/internal/store/postgres/gen.go
  central/cve/node/internal/store/postgres/index.go
  central/cve/node/internal/store/postgres/store.go
  central/cve/node/internal/store/postgres/store_test.go
  central/node/datastore/internal/store/postgres/gen.go
  central/nodecomponent/datastore/postgres/gen.go
  central/nodecomponent/datastore/postgres/index.go
  central/nodecomponent/datastore/postgres/store.go
  central/nodecomponent/datastore/postgres/store_test.go
  central/nodecomponentedge/store/postgres/gen.go
  central/nodecomponentedge/store/postgres/index.go
  central/nodecomponentedge/store/postgres/store.go
  central/nodecomponentedge/store/postgres/store_test.go
  central/postgres/schema/node_components.go
  central/postgres/schema/node_components_to_cves.go
  central/postgres/schema/nodes.go
  central/postgres/schema/nodes_to_components.go
  central/postgres/schema/nodes_to_cves.go
  central/relations/nodecomponenttocve/datastore/store/postgres/gen.go
  central/relations/nodecomponenttocve/datastore/store/postgres/index.go
  central/relations/nodecomponenttocve/datastore/store/postgres/store.go
  central/relations/nodecomponenttocve/datastore/store/postgres/store_test.go
  generated/api/v1/search_service.pb.go
  generated/api/v1/search_service.swagger.json
  generated/storage/node.pb.go
  generated/storage/relations.pb.go
  proto/api/v1/search_service.proto
  proto/storage/node.proto
  proto/storage/proto.lock
  proto/storage/relations.proto
Labels: area/central

#1683 Remove SimulatedBaselineSearch file with no imports.
  ui/apps/platform/src/Containers/Network/SidePanel/NetworkDeploymentOverlay/BaselineSimulation/SimulatedBaselinesSearch.js
Labels: area/ui

#1696 Fix NullPointerException in SACTest.
  qa-tests-backend/src/test/groovy/SACTest.groovy
Labels: ci-no-ui-tests, ci-openshift-4-operator-tests, ci-no-api-tests, ci-no-upgrade-tests

#1704 Fix missing logs in tests
  qa-tests-backend/codenarc-rules.groovy
  qa-tests-backend/src/test/groovy/AdmissionControllerTest.groovy
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/TLSChallengeTest.groovy
  qa-tests-backend/src/test/resources/logback-test.xml
Labels: team/merlin

#1697 OSCI: Run tests against the PR branch
  scripts/ci/lib.sh
Labels: ci-upgrade-tests

#1537 ROX-10651: use image vuln graphQL resolver in sub resolvers
  central/graphql/generator/schema2.go
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/namespaces.go
Labels: area/central

#1692 OSCI: Improve upgrade failure debug
  .openshift-ci/runners.py
  scripts/ci/gke.sh
  scripts/ci/lib.sh
  tests/e2e/lib.sh
Labels: ci-upgrade-tests

#1700 Delete residue schema nodes_to_cves
  central/postgres/schema/nodes_to_cves.go
Labels: area/central

#1713 Use message type name for option map prefix
  central/postgres/schema/alerts.go
  central/postgres/schema/cluster_cves.go
  central/postgres/schema/clusters.go
  central/postgres/schema/deployments.go
  central/postgres/schema/image_component_cve_relations.go
  central/postgres/schema/image_component_relations.go
  central/postgres/schema/image_components.go
  central/postgres/schema/image_cve_relations.go
  central/postgres/schema/image_cves.go
  central/postgres/schema/images.go
  central/postgres/schema/k8sroles.go
  central/postgres/schema/multikey.go
  central/postgres/schema/namespaces.go
  central/postgres/schema/node_components.go
  central/postgres/schema/node_components_to_cves.go
  central/postgres/schema/node_cves.go
  central/postgres/schema/nodes.go
  central/postgres/schema/nodes_to_components.go
  central/postgres/schema/pods.go
  central/postgres/schema/process_indicators.go
  central/postgres/schema/processbaselines.go
  central/postgres/schema/reportconfigs.go
  central/postgres/schema/rolebindings.go
  central/postgres/schema/secrets.go
  central/postgres/schema/serviceaccounts.go
  central/postgres/schema/singlekey.go
  central/postgres/schema/vulnreq.go
  pkg/search/postgres/index_test.go
  tools/generate-helpers/pg-table-bindings/schema.go.tpl
Labels: area/central, area/postgres, ci-postgres-tests

#1714 Restore arbitrary wait for cytoscape in Network Graph integration tests
  ui/apps/platform/cypress/support/commands.js
Labels: area/ui

#1694 ROX-9871: Adding a foreign key relationship between cluster health id…
  central/cluster/store/cluster/postgres/store.go
  central/cluster/store/clusterhealth/postgres/gen.go
  central/cluster/store/clusterhealth/postgres/store.go
  central/cluster/store/clusterhealth/postgres/store_test.go
  central/postgres/schema/cluster_health_status.go
  central/postgres/schema/clusters.go
  generated/storage/cluster.pb.go
  proto/api/v1/search_service.proto
  proto/storage/cluster.proto
Labels: area/central

#1707 ROX-10080: Ensure circle ci sets image flavor
  .circleci/config.yml
  pkg/images/defaults/env.go
  pkg/images/defaults/flavor.go
  pkg/images/defaults/flavor_test.go
Labels: team/maple

#1706 ROX-10781: Added SAC tests for rbac K8sRole
  central/rbac/k8srole/datastore/datastore_sac_test.go
  pkg/fixtures/roles.go
Labels: area/central

#1655 ROX-8277: UserAgent header malformed
  CHANGELOG.md
  operator/README.md
  operator/main.go
  operator/pkg/utils/rest_config.go
  pkg/images/defaults/flavor.go
Labels: area/operator

#1719 ROX-10732: SAC NetworkBaseline tests
  central/networkbaseline/datastore/datastore_impl_test.go
  central/networkbaseline/datastore/datastore_sac_test.go
  pkg/fixtures/network_baseline.go
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, area/central, ci-no-upgrade-tests

#1693 Dashrews/ROX-10936 baseline gen duration env
  .circleci/config.yml
  qa-tests-backend/src/test/groovy/ProcessBaselinesTest.groovy
Labels: ci-no-ui-tests, ci-openshift-aro-tests, ci-no-api-tests, area/central, ci-kernel-module-tests

#1678 Enable Policy E2E Tests on postgres
  qa-tests-backend/src/test/groovy/DefaultPoliciesTest.groovy
  qa-tests-backend/src/test/groovy/PolicyFieldsTest.groovy
Labels: ci-no-ui-tests, ci-no-api-tests, area/central, ci-postgres-tests, ci-no-upgrade-tests

#1718 ROX-10080: Derive `opensource` image flavor from branding
  .circleci/config.yml
  Makefile
Labels: team/maple

#1685 Replace beforeEach in Violations integration test
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/fixtures/alerts/alertFirstInAlerts.json
  ui/apps/platform/cypress/fixtures/alerts/alertsCount.json
  ui/apps/platform/cypress/fixtures/alerts/deploymentForAlertFirstInAlerts.json
  ui/apps/platform/cypress/fixtures/alerts/deploymentWithEmptyContainerConfig.json
  ui/apps/platform/cypress/helpers/main.js
  ui/apps/platform/cypress/helpers/violations.js
  ui/apps/platform/cypress/integration/dashboard.test.js
  ui/apps/platform/cypress/integration/general.test.js
  ui/apps/platform/cypress/integration/violations/violations.test.js
Labels: area/ui

#1691 ROX-10922: Set QA test timeout
  qa-tests-backend/build.gradle
Labels: team/merlin

#1733 Write frontend config and telemetry proto and rewrite services in TypeScript
  ui/apps/platform/src/Containers/SystemConfig/ConfigBannerDetailWidget.tsx
  ui/apps/platform/src/Containers/SystemConfig/ConfigDataRetentionDetailWidget.tsx
  ui/apps/platform/src/Containers/SystemConfig/ConfigLoginDetailWidget.tsx
  ui/apps/platform/src/Containers/SystemConfig/ConfigTelemetryDetailWidget.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details.tsx
  ui/apps/platform/src/Containers/SystemConfig/Page.tsx
  ui/apps/platform/src/Containers/SystemConfig/SystemConfigForm/SystemConfigForm.tsx
  ui/apps/platform/src/Containers/SystemConfig/SystemConfigTypes.ts
  ui/apps/platform/src/services/SystemConfigService.js
  ui/apps/platform/src/services/SystemConfigService.ts
  ui/apps/platform/src/services/TelemetryService.js
  ui/apps/platform/src/services/TelemetryService.ts
  ui/apps/platform/src/types/config.proto.ts
  ui/apps/platform/src/types/telemetry.proto.ts
Labels: area/ui

#1603 ROX-10846: Add sentence to DebugLogs resource description about additional information
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/ResourceDescription.tsx
Labels: area/ui

#1731 ROX-10974: Clarify vuln reporting by adding Image to page title
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/manageReports.test.js
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtCreateReportPage.tsx
Labels: area/ui

#1743 Run e2e postgres tests on master and tags
  .circleci/config.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#1698 Bump Scanner version
  SCANNER_VERSION
Labels: ci-all-qa-tests, ci-openshift-4-tests, ci-openshift-crio-tests

#1746 Simplify integration tests for violations
  ui/apps/platform/cypress/constants/ViolationsPage.js
  ui/apps/platform/cypress/integration/violations/violations.test.js
Labels: area/ui

#1744 sensor/central communication: remove license check
  sensor/common/sensor/sensor.go
Labels: team/maple, area/sensor

#1737 Add logger in qa-test services
  qa-tests-backend/src/main/groovy/services/ImageService.groovy
  qa-tests-backend/src/test/groovy/Services.groovy
Labels: ci-aks-tests, ci-all-qa-tests, ci-eks-tests, ci-openshift-4-tests

#1757 ROX-10790: Wire postgres service account search.
  central/pod/datastore/internal/search/searcher_impl.go
  central/processindicator/search/searcher_impl.go
  central/rbac/k8srolebinding/search/searcher_impl.go
  central/secret/search/searcher_impl.go
  central/serviceaccount/search/searcher_impl.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/central, ci-no-upgrade-tests

#1606 ROX-10693 Update Risk page URL search
  ui/apps/platform/src/Components/SearchFilterInput/SearchFilterInput.tsx
  ui/apps/platform/src/Containers/Risk/RiskPage.js
  ui/apps/platform/src/Containers/Risk/RiskPageHeader.js
Labels: area/ui

#1745 Rewrite metadata service in TypeScript
  ui/apps/platform/src/services/MetadataService.js
  ui/apps/platform/src/services/MetadataService.ts
Labels: area/ui

#1725 Add postgresac integration tests to CI postgres unit tests
  Makefile
  central/cluster/datastore/datastore_impl_test.go
  central/networkgraph/flow/datastore/internal/store/testcommon/flow.go
  central/pod/datastore/datastore_sac_test.go
  central/processindicator/datastore/datastore_sac_test.go
  central/rbac/k8srolebinding/datastore/datastore_sac_test.go
  qa-tests-backend/src/test/groovy/GraphQLResourcePaginationTest.groovy
  qa-tests-backend/src/test/groovy/PolicyConfigurationTest.groovy
Labels: team/merlin, area/central, ci-postgres-tests

#1732 ROX-10771: create common vulnerability struct
  central/graphql/resolvers/common_vulnerabilities.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/node_vulnerabilities.go
Labels: area/central

#1755 CI: more rate limit avoidance
  qa-tests-backend/src/test/groovy/DeploymentEventGraphQLTest.groovy
  qa-tests-backend/src/test/groovy/RuntimePolicyTest.groovy
  qa-tests-backend/src/test/groovy/RuntimeViolationLifecycleTest.groovy
Labels: ci-no-ui-tests, ci-upgrade-tests, ci-no-api-tests, ci-openshift-crio-tests

#1680 ROX-10644: add account_id and is_org_admin attributes to OIDC auth provider
  pkg/auth/authproviders/oidc/backend_impl.go
  ui/apps/platform/src/Containers/Login/TestLoginResultsPage.js
Labels: team/merlin, area/auth, area/central, area/ui

#1735 ROX-10975: Enhance resource deletion check in operator e2e tests
  operator/Makefile
  operator/tests/central/basic/80-assert-deleted.yaml
  operator/tests/common/delete-central-assert.yaml
  operator/tests/common/delete-central-errors-cluster.envsubst.yaml
  operator/tests/common/delete-central-errors.yaml
  operator/tests/common/delete-securedcluster-errors.yaml
  operator/tests/upgrade/upgrade/90-assert-deleted.yaml
Labels: area/operator

#1597 ROX-9358: Add auth providers, groups, roles, notifiers and config to diagnostic bundle
  CHANGELOG.md
  central/debug/service/service.go
  central/debug/service/service_test.go
  central/main.go
  pkg/auth/permissions/mocks/resolved_role.go
  pkg/auth/permissions/resolved_role.go
Labels: area/auth, area/central

#1722 ROX-10782: Add support for search with PostgresDB for k8sRole
  central/rbac/k8srole/datastore/datastore_sac_test.go
  central/rbac/k8srole/search/searcher_impl.go
Labels: area/central, ci-postgres-tests

#1761 Do not enable authz plugin on pg test
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
Labels: team/merlin, area/postgres, ci-postgres-tests

#1709 ROX-10965: extract gRPC connections creation from sensor
  sensor/common/centralclient/grpc_connection.go
  sensor/common/sensor/sensor.go
  sensor/kubernetes/main.go
  sensor/kubernetes/sensor/sensor.go
Labels: team/maple, area/sensor

#1717 ROX-9944 / ROX-10648: Collect metrics from secured clusters
  central/metrics/central.go
  central/metrics/init.go
  central/sensor/service/common/common.go
  central/sensor/service/pipeline/all/factory.go
  central/sensor/service/pipeline/clustermetrics/pipeline.go
  generated/internalapi/central/cluster_metrics.pb.go
  generated/internalapi/central/sensor_iservice.pb.go
  proto/internalapi/central/cluster_metrics.proto
  proto/internalapi/central/sensor_iservice.proto
  sensor/kubernetes/clustermetrics/cluster_metrics.go
  sensor/kubernetes/clustermetrics/cluster_metrics_test.go
  sensor/kubernetes/sensor/sensor.go
Labels: team/merlin, area/central, area/sensor

#1716 ROX-10665: required attributes auth provider
  central/apitoken/backend/source_impl.go
  central/authprovider/service/service_impl.go
  generated/api/v1/auth_service.swagger.json
  generated/api/v1/authprovider_service.swagger.json
  generated/storage/auth_provider.pb.go
  pkg/auth/authproviders/identity.go
  pkg/auth/authproviders/provider.go
  pkg/auth/authproviders/provider_impl.go
  pkg/auth/authproviders/provider_options.go
  pkg/auth/authproviders/registry_httphandler.go
  pkg/auth/authproviders/registry_httphandler_test.go
  pkg/auth/authproviders/registry_impl.go
  pkg/auth/user/attribute_verifier.go
  pkg/auth/user/required_attribute_verifier.go
  pkg/auth/user/required_attribute_verifier_test.go
  proto/storage/auth_provider.proto
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviderForm.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/authProviders.utils.ts
  ui/apps/platform/src/services/AuthService/AuthService.ts
Labels: team/merlin, ci-no-api-tests, area/auth, area/central, area/ui, ci-no-upgrade-tests

#1780 Fix: Revert to old access resources in diagnostic bundle dump
  central/debug/service/service.go
Labels: area/central, ci-postgres-tests

#1736 Do not print stack trace in qa test
  qa-tests-backend/codenarc-rules.groovy
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/CSVTest.groovy
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
  qa-tests-backend/src/test/groovy/ProcessBaselinesTest.groovy
Labels: ci-aks-tests, ci-all-qa-tests, ci-eks-tests, ci-openshift-4-tests

#1689 ROX-9588: Limit email lines length to RFC 5322 specification
  central/notifiers/email/email.go
  central/notifiers/email/email_test.go
Labels: area/central

#1769 Write frontend credential expiry proto and rewrite services in TypeScript
  ui/apps/platform/cypress/integration/certexpiration.test.js
  ui/apps/platform/src/Containers/CredentialExpiryBanners/CredentialExpiryBanners.js
  ui/apps/platform/src/Containers/MainPage/CredentialExpiryBanner.tsx
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
  ui/apps/platform/src/services/CertGenerationService.js
  ui/apps/platform/src/services/CertGenerationService.ts
  ui/apps/platform/src/services/CredentialExpiryService.js
  ui/apps/platform/src/services/CredentialExpiryService.ts
  ui/apps/platform/src/types/credentialExpiryService.proto.ts
Labels: area/ui

#1767 ROX-11005, ROX-11006: Fix race-condition-tests, add Groovy style
  .gitignore
  qa-tests-backend/.idea/codeStyles/Project.xml
  qa-tests-backend/.idea/codeStyles/codeStyleConfig.xml
  qa-tests-backend/build.gradle
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/test/groovy/ReconciliationTest.groovy
Labels: ci-all-qa-tests

#1715 OSCI: onboard gke-qa-e2e-tests
  .openshift-ci/README.md
  .openshift-ci/ci_tests.py
  .openshift-ci/dispatch.sh
  .openshift-ci/gke_qa_e2e_test.py
  .openshift-ci/gke_upgrade_test.py
  .openshift-ci/post_tests.py
  .openshift-ci/posts.py
  .openshift-ci/runners.py
  .openshift-ci/tests/test_runners.py
  qa-tests-backend/scripts/run-part-1.sh
  qa-tests-backend/scripts/run-part-2.sh
  scripts/ci/collect-service-logs.sh
  scripts/ci/create-webhookserver.sh
  scripts/ci/gate-jobs-config.json
  scripts/ci/lib.sh
  scripts/ci/store-artifacts.bats
  scripts/ci/store-artifacts.sh
  tests/e2e/lib.sh
  tests/upgrade/run.sh
Labels: ci-upgrade-tests

#1798 ROX-10788: Add PostgresSearchHelper to risk searcher.
  central/risk/datastore/internal/search/searcher_impl.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/central, ci-no-upgrade-tests

#1795 Remove deprecation notes for resources.
  central/role/resources/list.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/central, ci-no-upgrade-tests

#1787 Small follow-ups for required attributes in auth providers.
  pkg/auth/authproviders/registry_httphandler_test.go
  pkg/auth/user/required_attribute_verifier.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/auth, ci-no-upgrade-tests

#1756 ROX-10993: Respect replaced resources within built-in scope checker.
  central/sac/authorizer/builtin_scoped_authorizer.go
  central/sac/authorizer/builtin_scoped_authorizer_test.go
  pkg/auth/permissions/resource.go
  pkg/auth/permissions/resource_test.go
  pkg/grpc/authz/user/user.go
Labels: team/merlin, area/auth, area/central, ci-no-upgrade-tests

#1793 ROX-11019: Only run postgres tests on master.
  .circleci/config.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#1764 Move Formik state from page to form in System Configuration
  ui/apps/platform/cypress/constants/SystemConfigPage.js
  ui/apps/platform/src/Containers/SystemConfig/Page.tsx
  ui/apps/platform/src/Containers/SystemConfig/SystemConfigForm/SystemConfigForm.tsx
Labels: area/ui

#1781 Update action text in Access Control to match UX mocks.
  ui/apps/platform/cypress/constants/AccessControlPage.js
  ui/apps/platform/cypress/integration/accessControl/accessControlAccessScopes.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlAuthProviders.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlPermissionSets.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlRoles.test.js
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopeFormWrapper.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopes.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviderForm.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviders.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionSetForm.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionSets.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/RoleForm.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/Roles.tsx
Labels: area/ui

#1807 ROX-11042: Fix typo in run-openshift-tests.
  .circleci/config.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-openshift-4-tests, team/merlin, ci-no-api-tests, ci-openshift-crio-tests, ci-no-upgrade-tests

#1805 Additional check for resolved role in diagnostic bundle export
  central/debug/service/service.go
Labels: area/central

#1812 Do not provision gke-postgres-tests on tags.
  .circleci/config.yml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, ci-no-upgrade-tests

#1760 Use logger instead of print in qa tests
  qa-tests-backend/codenarc-rules.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/OrchestratorMain.groovy
  qa-tests-backend/src/test/groovy/AdmissionControllerNoImageScanTest.groovy
  qa-tests-backend/src/test/groovy/AdmissionControllerTest.groovy
  qa-tests-backend/src/test/groovy/AttemptedAlertsTest.groovy
  qa-tests-backend/src/test/groovy/AuditLogAlertsTest.groovy
  qa-tests-backend/src/test/groovy/AuditScrubbingTest.groovy
  qa-tests-backend/src/test/groovy/AuthServiceTest.groovy
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/BuiltinPoliciesTest.groovy
  qa-tests-backend/src/test/groovy/CSVTest.groovy
  qa-tests-backend/src/test/groovy/CVETest.groovy
  qa-tests-backend/src/test/groovy/CertRotationTest.groovy
  qa-tests-backend/src/test/groovy/ClientCertAuthTest.groovy
  qa-tests-backend/src/test/groovy/ClusterInitBundleTest.groovy
  qa-tests-backend/src/test/groovy/ClustersTest.groovy
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
  qa-tests-backend/src/test/groovy/DefaultPoliciesTest.groovy
  qa-tests-backend/src/test/groovy/DeploymentEventGraphQLTest.groovy
  qa-tests-backend/src/test/groovy/DeploymentTest.groovy
  qa-tests-backend/src/test/groovy/DiagnosticBundleTest.groovy
  qa-tests-backend/src/test/groovy/Enforcement.groovy
  qa-tests-backend/src/test/groovy/ExternalNetworkSourcesTest.groovy
  qa-tests-backend/src/test/groovy/GlobalSearch.groovy
  qa-tests-backend/src/test/groovy/GraphQLResourcePaginationTest.groovy
  qa-tests-backend/src/test/groovy/GroupsTest.groovy
  qa-tests-backend/src/test/groovy/ImageManagementTest.groovy
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
  qa-tests-backend/src/test/groovy/ImageSignatureVerificationTest.groovy
  qa-tests-backend/src/test/groovy/IntegrationsSplunkViolationsTest.groovy
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
  qa-tests-backend/src/test/groovy/K8sEventDetectionTest.groovy
  qa-tests-backend/src/test/groovy/K8sRbacTest.groovy
  qa-tests-backend/src/test/groovy/LocalQaPropsTest.groovy
  qa-tests-backend/src/test/groovy/NetworkBaselineTest.groovy
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
  qa-tests-backend/src/test/groovy/NetworkSimulator.groovy
  qa-tests-backend/src/test/groovy/PolicyConfigurationTest.groovy
  qa-tests-backend/src/test/groovy/PolicyFieldsTest.groovy
  qa-tests-backend/src/test/groovy/ProcessBaselinesTest.groovy
  qa-tests-backend/src/test/groovy/ProcessVisualizationReplicaTest.groovy
  qa-tests-backend/src/test/groovy/ProcessVisualizationTest.groovy
  qa-tests-backend/src/test/groovy/RbacAuthTest.groovy
  qa-tests-backend/src/test/groovy/ReconciliationTest.groovy
  qa-tests-backend/src/test/groovy/RiskTest.groovy
  qa-tests-backend/src/test/groovy/RuntimePolicyTest.groovy
  qa-tests-backend/src/test/groovy/RuntimeViolationLifecycleTest.groovy
  qa-tests-backend/src/test/groovy/SACTest.groovy
  qa-tests-backend/src/test/groovy/SACv2Test.groovy
  qa-tests-backend/src/test/groovy/SecretsTest.groovy
  qa-tests-backend/src/test/groovy/Services.groovy
  qa-tests-backend/src/test/groovy/SummaryTest.groovy
  qa-tests-backend/src/test/groovy/TLSChallengeTest.groovy
  qa-tests-backend/src/test/groovy/UpgradesTest.groovy
  qa-tests-backend/src/test/groovy/VulnMgmtSACTest.groovy
  qa-tests-backend/src/test/groovy/VulnMgmtTest.groovy
  qa-tests-backend/src/test/groovy/VulnScanWithGraphQLTest.groovy
Labels: ci-aks-tests, ci-all-qa-tests, ci-eks-tests, ci-openshift-4-tests

#1796 ROX-10935: Switch to a kuttl build which logs more details of unexpected resources.
  operator/Makefile
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-openshift-4-operator-tests, ci-no-api-tests, area/operator, ci-no-upgrade-tests

#1762 ROX-10081: update development build image flavor from docker to quay
  pkg/helm/charts/tests/centralservices/flavor/testdata/helmtest/development/development.test.yaml
  pkg/helm/charts/tests/securedclusterservices/flavor/testdata/helmtest/development/development.test.yaml
  pkg/images/defaults/flavor.go
  tests/roxctl/bats-tests/helpers.bash
  tests/roxctl/bats-tests/local/central-generate-development-postgres.bats
  tests/roxctl/bats-tests/local/central-generate-development.bats
  tests/roxctl/bats-tests/local/central-generate-interactive-flavors-postgres.bats
  tests/roxctl/bats-tests/local/central-generate-interactive-flavors.bats
  tests/roxctl/bats-tests/local/roxctl-helm-output-central-development.bats
  tests/roxctl/bats-tests/local/roxctl-helm-output-secured-cluster-services-development.bats
Labels: team/maple, area/helm
