Repository stackrox/stackrox, pull requests merged in 2022-04, with the labels that each got.

#1143 Scale: Increase namespace configuration and allow for multiple copies of scale framework
  central/networkgraph/flow/datastore/internal/store/postgres/store.go
  deploy/common/k8sbased.sh
  image/templates/sensor/kubernetes/sensor.sh
  scale/launch_workload.sh
  scale/workloads/xlarge.yaml
  sensor/kubernetes/fake/fake.go
  sensor/kubernetes/fake/namespace.go
  sensor/kubernetes/fake/workload.go
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, area/central, area/helm, area/sensor, area/postgres

#995 Move Alert scoping information to the object root
  central/alert/datastore/datastore_impl.go
  central/alert/datastore/internal/store/postgres/store.go
  central/graphql/resolvers/generated.go
  generated/api/v1/alert_service.swagger.json
  generated/api/v1/detection_service.swagger.json
  generated/storage/alert.pb.go
  migrator/migrations/m_95_to_m_96_alert_scoping_information_at_root/migration.go
  migrator/migrations/m_95_to_m_96_alert_scoping_information_at_root/migration_test.go
  migrator/runner/all.go
  pkg/migrations/internal/seq_num.go
  proto/storage/alert.proto
Labels: team/merlin, area/central, area/postgres

#1079 ROX-9822: Implement in-memory store for network policies
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/kubernetes/listener/resources/networkpolicy.go
  sensor/kubernetes/listener/resources/networkpolicy_store.go
  sensor/kubernetes/listener/resources/networkpolicy_store_bench_test.go
  sensor/kubernetes/listener/resources/networkpolicy_store_test.go
Labels: team/maple, area/sensor

#1160 Fix broken auth provider test now that open-source code has no auth0 in CI
  ui/apps/platform/cypress/integration/accessControl/accessControlAuthProviders.test.js
Labels: area/ui

#1031 Extend ListSecret for sac test validation
  central/graphql/resolvers/generated.go
  generated/api/v1/secret_service.swagger.json
  generated/storage/secret.pb.go
  pkg/secret/convert/convert.go
  proto/storage/secret.proto
Labels: team/merlin, area/central

#1109 Only reprocess images with verification results on signature integration changes
  central/graphql/resolvers/generated.go
  central/image/datastore/internal/store/postgres/store.go
  central/imagecomponentedge/datastore/internal/store/postgres/store.go
  central/reprocessor/reprocessor.go
  generated/api/v1/image_service.swagger.json
  generated/storage/image.pb.go
  pkg/images/enricher/enricher_impl.go
  pkg/search/options.go
  proto/storage/image.proto
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/central

#1145 ROX-9945: Fix permission checks for Vulnerability Report creation in UI
  CHANGELOG.md
  ui/apps/platform/src/Containers/VulnMgmt/Reports/Form/NotifierSelection.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/Form/ResourceScopeSelection.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportForm.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportTablePage.tsx
Labels: area/ui

#1157 Convert search-related code to TypeScript.
  ui/apps/platform/src/Components/SearchFilterInput/SearchFilterInput.tsx
  ui/apps/platform/src/Containers/Policies/PatternFly/Table/PoliciesTablePage.tsx
  ui/apps/platform/src/Containers/Policies/PatternFly/policies.utils.ts
  ui/apps/platform/src/Containers/Search/SearchResults.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/constants/searchOptions.ts
  ui/apps/platform/src/reducers/pageSearch.ts
  ui/apps/platform/src/services/SearchService.ts
  ui/apps/platform/src/types/search.ts
  ui/apps/platform/src/utils/queryStringUtils.ts
  ui/apps/platform/src/utils/searchUtils.ts
Labels: area/ui

#967 ROX-9201: Fix sorting by CVE and Impact Score on Image sub-page
  central/graphql/resolvers/vulnerabilities_v2.go
Labels: area/central

#1099 ROX-9898: Prevent clicking on a Delete table action for default policies
  ui/apps/platform/cypress/integration/policies/PatternFly/policiesTable.test.js
  ui/apps/platform/src/Containers/Policies/PatternFly/Detail/PolicyDetail.tsx
  ui/apps/platform/src/Containers/Policies/PatternFly/Table/PoliciesTable.tsx
Labels: area/ui

#1168 ROX-9962: Fix import policy error display when not a duplicate
  ui/apps/platform/src/Containers/Policies/PatternFly/Modal/ImportPolicyJSONModalError.tsx
  ui/apps/platform/src/Containers/Policies/Table/PolicyImport.utils.js
Labels: area/ui

#1169 Scanner 2.23.4
  SCANNER_VERSION
Labels: ci-all-qa-tests, ci-openshift-4-tests, ci-openshift-tests, ci-openshift-crio-tests

#1174 Update the number of components in struts-app due to new scanner
  qa-tests-backend/src/test/groovy/DefaultPoliciesTest.groovy
Labels: ci-all-qa-tests

#601 ROX-7282 add OSD nightly testing to CircleCI
  .circleci/config.yml
  qa-tests-backend/build.gradle
  qa-tests-backend/local-test-example/README.md
  qa-tests-backend/local-test-example/common.sh
  qa-tests-backend/local-test-example/config.sh
  qa-tests-backend/local-test-example/step1-setup-macos.sh
  qa-tests-backend/local-test-example/step2-install-acs.sh
  qa-tests-backend/local-test-example/step3-run-qa-tests-backend.sh
  qa-tests-backend/src/k8s/scc-qatest-anyuid.yaml
  qa-tests-backend/src/main/groovy/orchestratormanager/OpenShift.groovy
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
  qa-tests-backend/src/test/groovy/LocalQaPropsTest.groovy
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
  qa-tests-backend/src/test/groovy/ReconciliationTest.groovy
  scripts/ci/sensor-wait.sh
  tests/e2e/lib.sh
Labels: ci-openshift-4-tests, ci-openshift-rosa-tests, ci-osd-aws-tests, ci-osd-gcp-tests

#1183 Clean up processes to reduce unexpected runtime alerts
  sensor/kubernetes/fake/deployment.go
  sensor/kubernetes/fake/process.go
Labels: ci-scale-tests, ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, area/sensor, ci-postgres-scale-tests

#1162 Add registry rate limiter for signature fetching.
  pkg/images/enricher/enricher.go
  pkg/images/enricher/enricher_impl.go
  pkg/images/enricher/enricher_impl_test.go
  pkg/signatures/public_key_fetcher.go
  pkg/signatures/public_key_fetcher_test.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests

#1149 Add debug log statements for signature fetching / verification.
  pkg/images/enricher/enricher_impl.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests

#1188 ROX-8550: Retry on failed operator bundle scorecard tests
  .circleci/config.yml
  operator/scripts/retry.sh
Labels: ci-openshift-4-operator-tests, area/operator

#1186 Fix reprocess of verification results for existing images.
  pkg/images/enricher/enricher_impl.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests

#1176 ROX-9823: Triggering evaluation from deployment updates
  sensor/common/detector/detector.go
  sensor/common/detector/enricher.go
  sensor/common/detector/networkpolicy/networkpolicy.go
  sensor/common/detector/networkpolicy/networkpolicy_test.go
  sensor/common/store/mocks/types.go
  sensor/common/store/types.go
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/kubernetes/listener/resources/networkpolicy.go
  sensor/kubernetes/listener/resources/networkpolicy_store.go
  sensor/kubernetes/listener/resources/networkpolicy_store_bench_test.go
  sensor/kubernetes/listener/resources/singleton.go
  sensor/kubernetes/sensor/sensor.go
Labels: team/maple, area/sensor

#1170 Apply Namespace filters to autocomplete search result in Net Graph filter bar.
  ui/apps/platform/src/Containers/Network/Header/NetworkSearch.js
Labels: pls-merge, area/ui

#1147 Delete unused code for featureFlags in ui
  ui/apps/platform/src/Containers/FeatureEnabled/FeatureEnabled.js
  ui/apps/platform/src/Containers/FeatureEnabled/FeatureEnabled.test.js
  ui/apps/platform/src/Containers/FeatureEnabled/index.js
  ui/apps/platform/src/Containers/Integrations/hooks/useIntegrations.ts
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
Labels: area/ui

#1192 ROX-9992: CI: SCC for OpenShift
  .circleci/config.yml
  qa-tests-backend/src/main/groovy/orchestratormanager/OpenShift.groovy
  qa-tests-backend/src/main/groovy/services/ClusterService.groovy
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-openshift-4-operator-tests, ci-openshift-4-tests, ci-openshift-aro-tests, ci-openshift-rosa-tests, ci-no-api-tests, ci-osd-aws-tests, ci-osd-gcp-tests, ci-openshift-tests, ci-openshift-crio-tests

#1171 ROX-9896: Refactor authenticated routes to solve integration test failures in UI
  ui/apps/platform/src/Components/ProtectedRoute.js
  ui/apps/platform/src/Containers/AppPage.tsx
  ui/apps/platform/src/Containers/MainPage/AuthenticatedRoutes.tsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
  ui/apps/platform/src/Containers/Navigation/NavigationSideBar/NavigationSideBar.tsx
  ui/apps/platform/src/hooks/useFeatureFlags.ts
  ui/apps/platform/src/hooks/usePermissions.ts
  ui/apps/platform/src/reducers/featureFlags.js
  ui/apps/platform/src/reducers/roles.js
  ui/apps/platform/src/reducers/roles.test.js
  ui/apps/platform/src/sagas/authSagas.js
  ui/apps/platform/src/sagas/featureFlagSagas.js
Labels: area/ui

#1199 Add signature_integrations bucket.
  tools/rocksdbdump/main.go
Labels: team/merlin

#1197 ROX-9942: Fix deployment label and annotation overlap
  ui/apps/platform/src/css/trumps.css
Labels: area/ui

#1187 Create service for SignatureIntegration for usage within QA-tests.
  qa-tests-backend/src/main/groovy/services/SignatureIntegrationService.groovy
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests

#961 ROX-9739: Add global scope check
  central/alert/datastore/internal/store/postgres/index_test.go
  central/apitoken/datastore/internal/store/postgres/store.go
  central/apitoken/datastore/internal/store/postgres/store_test.go
  central/policy/store/postgres/store.go
  central/policy/store/postgres/store_test.go
  central/reportconfigurations/store/postgres/store.go
  central/reportconfigurations/store/postgres/store_test.go
  central/role/store/permissionset/postgres/store.go
  central/role/store/permissionset/postgres/store_test.go
  central/role/store/role/postgres/store.go
  central/role/store/role/postgres/store_test.go
  central/role/store/simpleaccessscope/postgres/store.go
  central/role/store/simpleaccessscope/postgres/store_test.go
  central/vulnerabilityrequest/datastore/internal/store/postgres/gen.go
  central/vulnerabilityrequest/datastore/internal/store/postgres/permission_checker.go
  central/vulnerabilityrequest/datastore/internal/store/postgres/permission_checker_impl.go
  central/vulnerabilityrequest/datastore/internal/store/postgres/store.go
  central/vulnerabilityrequest/datastore/internal/store/postgres/store_test.go
  central/watchedimage/datastore/internal/store/postgres/store.go
  central/watchedimage/datastore/internal/store/postgres/store_test.go
  pkg/search/postgres/index_test.go
  tools/generate-helpers/pg-table-bindings/funcs.go
  tools/generate-helpers/pg-table-bindings/list.go
  tools/generate-helpers/pg-table-bindings/list_test.go
  tools/generate-helpers/pg-table-bindings/main.go
  tools/generate-helpers/pg-table-bindings/multitest/postgres/codegen_test.go
  tools/generate-helpers/pg-table-bindings/multitest/postgres/gen.go
  tools/generate-helpers/pg-table-bindings/permission_checker.go.tpl
  tools/generate-helpers/pg-table-bindings/store.go.tpl
  tools/generate-helpers/pg-table-bindings/store_test.go.tpl
  tools/generate-helpers/pg-table-bindings/test/postgres/codegen_test.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: team/merlin, area/central, area/postgres

#1207 Add CSS override for PatternFly form style that is broken by TW in prod.
  ui/apps/platform/src/css/trumps.css
Labels: area/ui

#1195 Filter out graph links that contain a source or target that does not have a corresponding node.
  ui/apps/platform/src/utils/networkLink.utils.js
Labels: area/ui

#1208 CI: OSD: Fix the job name match
  qa-tests-backend/src/main/groovy/orchestratormanager/OpenShift.groovy
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-openshift-4-tests, ci-no-api-tests, ci-osd-gcp-tests

#1106 ROX-9539: ScopeCheckerCore for tests
  central/compliance/datastore/test/sac_filter_test.go
  central/config/datastore/singleton.go
  central/networkgraph/service/service_impl_test.go
  central/networkpolicies/generator/generator_impl_test.go
  central/pruning/pruning_test.go
  pkg/sac/effectiveaccessscope/effective_access_scope.go
  pkg/sac/one_step_scope_checker_core.go
  pkg/sac/test_scope_checker_core.go
  pkg/sac/tests/search_helper_test.go
  pkg/sac/tests/test_scope_checker_core_test.go
Labels: team/merlin, area/auth, area/central, area/postgres

#1088 Update `import-additional-cas` script to copy the injected CAs as well
  image/static-bin/import-additional-cas
Labels: area/helm

#1214 ROX-10001: Fix default role flag for Vulnerability Report Creator role
  ui/apps/platform/src/constants/accessControl.ts
Labels: area/ui

#1211 Use official golang image to build operator
  operator/Dockerfile
Labels: area/operator

#1184 ROX-9946: Removing the requirement to have notifier modify permissions for the default vuln reporter role (migration included)
  CHANGELOG.md
  central/role/datastore/singleton.go
  migrator/migrations/m_96_to_m_97_modify_default_vulnreportcreator_role/migration.go
  migrator/migrations/m_96_to_m_97_modify_default_vulnreportcreator_role/migration_test.go
  migrator/runner/all.go
  pkg/migrations/internal/seq_num.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/auth, area/central

#1209 Use staticcheck form golangci-lint
  .circleci/config.yml
  .golangci.yml
  Makefile
  central/globalindex/bleveindex.go
  pkg/concurrency/value_stream_bench_test.go
  roxctl/central/generate/interactive.go
  tools/linters/go.mod
  tools/linters/tools-import.go
  tools/staticcheck-wrap.sh
Labels: ci-no-ui-tests, team/merlin, area/roxctl, area/central

#1228 Add permissions for store singleton for startup writes
  central/role/datastore/singleton.go
  central/vulnerabilityrequest/datastore/datastore.go
Labels: team/merlin, area/central, area/postgres

#1132 ROX-9824 Triggering evaluation from networkpolicy updates
  sensor/kubernetes/listener/resources/convert.go
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/kubernetes/listener/resources/networkpolicy.go
  sensor/kubernetes/listener/resources/networkpolicy_test.go
  sensor/kubernetes/listener/resources/selector.go
Labels: team/maple, area/sensor

#1061 Cleanup allowed_vulns.json
  release/scripts/allowed_vulns.json
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests

#1134 ROX-9536 Implement effective access scope extraction for AllowFixedScopesCheckerCore
  pkg/sac/allow_fixed_scopes_checker_core.go
  pkg/sac/tests/allow_fixed_scopes_checker_core_test.go
  pkg/sac/tests/test_scope_checker_core_test.go
  pkg/sac/tests/testutils.go
Labels: team/merlin, area/auth, area/central, area/sensor, area/postgres

#1203 ROX-8799: Refactoring of roxctl scanner command
  roxctl/maincommand/command.go
  roxctl/scanner/generate/generate.go
  roxctl/scanner/generate/generate_test.go
  roxctl/scanner/scanner.go
  roxctl/scanner/uploaddb/uploaddb.go
  roxctl/scanner/uploaddb/uploaddb_test.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/roxctl

#1233 ROX-9824: Fix panic
  sensor/kubernetes/listener/resources/networkpolicy.go
  sensor/kubernetes/listener/resources/networkpolicy_test.go
Labels: team/maple, area/sensor

#1163 ROX-9537 Implement effective access scope extraction for built-in scope checker
  central/sac/authorizer/builtin_scoped_authorizer.go
  central/sac/authorizer/builtin_scoped_authorizer_test.go
Labels: team/merlin, area/auth, area/central, area/postgres

#1229 ROX-9901: Use moderate instead of medium in VM report form
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportForm.tsx
Labels: area/ui

#1230 Replace cypress server and route with intercept in network integration tests
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/helpers/networkGraph.js
  ui/apps/platform/cypress/helpers/risk.js
  ui/apps/platform/cypress/integration/network.test.js
Labels: area/ui

#1232 Rename label and short-/longname of policy to be more precise.
  ui/apps/platform/src/Containers/Policies/Wizard/Form/descriptors.tsx
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/ui

#1231 Only run image signature tests when feature flag is provided
  .circleci/config.yml
  qa-tests-backend/src/test/groovy/ImageSignatureVerificationTest.groovy
Labels: ci-no-ui-tests, team/merlin, ci-no-api-tests, ci-race-tests

#1236 Prevent panic when running nil/empty search queries against Postgres
  pkg/search/postgres/common.go
  pkg/search/postgres/common_test.go
Labels: area/postgres

#1227 Add tests for multiple signature integrations per policy and multiple verifiers on deployments.
  qa-tests-backend/src/test/groovy/ImageSignatureVerificationTest.groovy
Labels: ci-no-ui-tests, team/merlin, ci-no-api-tests

#1240 ui-devDependencies-typescript-4.6.3
  ui/apps/platform/package.json
  ui/packages/ui-components/package.json
  ui/yarn.lock
Labels: area/ui

#1242 Update prettier 2.6.2 devDependencies in ui
  ui/apps/platform/package.json
  ui/packages/tailwind-config/package.json
  ui/packages/ui-components/package.json
  ui/yarn.lock
Labels: ci-no-ui-tests, area/ui

#1245 Increase the size of the pod cache
  central/pod/store/cache/cache.go
Labels: area/central

#1239 Replace cypress server and route with intercept in networkGraph part 3
  ui/apps/platform/cypress/constants/NetworkPage.js
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/helpers/networkGraph.js
  ui/apps/platform/cypress/integration/networkGraph/networkFlows.test.js
Labels: area/ui

#1181 [ROX-8023] : Added Allow Privilege Escalation Policy criteria
  CHANGELOG.md
  pkg/booleanpolicy/default_policies_test.go
  pkg/booleanpolicy/field_metadata.go
  pkg/booleanpolicy/fieldnames/list.go
  pkg/booleanpolicy/violationmessages/printer.go
  pkg/booleanpolicy/violationmessages/printer/container.go
  pkg/booleanpolicy/violationmessages/printer/gen-registrations.go
  pkg/search/options.go
  ui/apps/platform/src/Containers/Policies/Wizard/Form/descriptors.tsx
Labels: area/ui

#1213 Redirect to Not Found page instead of main dashboard for unmatched paths in UI
  ui/apps/platform/src/Components/PageNotFound.tsx
  ui/apps/platform/src/Containers/AppPage.tsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/routePaths.js
Labels: area/ui

#1234 ROX-10022: Ensure Scope query filters trigger echo back of the scoping fields in search results
  pkg/sac/query_helper.go
  pkg/sac/query_helper_test.go
Labels: team/merlin, area/auth, area/postgres

#1218 ROX-9754: Required ingress network policy default policy
  pkg/defaults/policies/files/deployment_has_ingress_network_policy.json
  pkg/defaults/policies/policies.go
  pkg/defaults/policies/policies_test.go
Labels: team/maple

#1204 ROX-9606: Disable local Scanner for non OpenShift k8s
  operator/pkg/securedcluster/scanner/auto_sense.go
  operator/pkg/securedcluster/scanner/auto_sense_test.go
  operator/pkg/securedcluster/values/translation/translation_test.go
  operator/pkg/utils/testutils/const.go
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, area/operator

#1243 Handle unregistered resources
  central/clusterinit/store/postgres/store.go
  central/clusterinit/store/postgres/store_test.go
  central/integrationhealth/store/postgres/gen.go
  central/integrationhealth/store/postgres/permission_checker.go
  central/integrationhealth/store/postgres/permission_checker_impl.go
  central/integrationhealth/store/postgres/store.go
  central/integrationhealth/store/postgres/store_test.go
  central/role/resources/list.go
  central/signatureintegration/store/postgres/store.go
  central/signatureintegration/store/postgres/store_test.go
  tools/generate-helpers/pg-table-bindings/funcs.go
  tools/generate-helpers/pg-table-bindings/list.go
  tools/generate-helpers/pg-table-bindings/list_test.go
  tools/generate-helpers/pg-table-bindings/main.go
  tools/generate-helpers/pg-table-bindings/store.go.tpl
  tools/generate-helpers/pg-table-bindings/store_test.go.tpl
Labels: ci-no-ui-tests, area/central, area/postgres

#1222 ROX-10016: CI: Avoid rate limiting
  qa-tests-backend/src/main/groovy/objects/Deployment.groovy
  qa-tests-backend/src/main/groovy/sampleScripts/reproAdmissionControllerTestFailure.groovy
  qa-tests-backend/src/main/groovy/util/SplunkUtil.groovy
  qa-tests-backend/src/test/groovy/AdmissionControllerTest.groovy
  qa-tests-backend/src/test/groovy/IntegrationsSplunkViolationsTest.groovy
  qa-tests-backend/src/test/groovy/PaginationTest.groovy
Labels: ci-all-qa-tests, ci-no-ui-tests, ci-no-api-tests

#1161 ROX-9967: Temporary switch off init-bundle rotation in the operator
  operator/pkg/central/extensions/reconcile_tls.go
  operator/pkg/central/extensions/reconcile_tls_test.go
  operator/tests/securedcluster/basic-sc/07-fetch-bundle.yaml
Labels: area/operator

#1250 Replace cypress server and route with intercept in auth
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/integration/auth.test.js
Labels: area/ui

#1114 Update Violations page to track search parameters in URL
  ui/apps/platform/cypress/integration/violations/violations.test.js
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ApprovedDeferrals/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ApprovedFalsePositives/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/PendingApprovals/PendingApprovals.tsx
  ui/apps/platform/src/hooks/useEffectAfterFirstRender.test.ts
  ui/apps/platform/src/hooks/useEffectAfterFirstRender.ts
  ui/apps/platform/src/hooks/useSearch.ts
  ui/apps/platform/src/hooks/useURLPagination.ts
  ui/apps/platform/src/hooks/useURLParameter.test.tsx
  ui/apps/platform/src/hooks/useURLParameter.ts
  ui/apps/platform/src/hooks/useURLSearch.ts
  ui/apps/platform/src/services/AlertsService.ts
  ui/apps/platform/src/utils/searchUtils.ts
Labels: area/ui

#1103 RS-454: Run gke-upgrade-test under OpenShift CI
  .circleci/config.yml
  .openshift-ci-migration/README.md
  .openshift-ci-migration/lib.sh
  .openshift-ci-migration/migrate.sh
  .openshift-ci/README.md
  .openshift-ci/dispatch.sh
  .openshift-ci/gke_upgrade_test.py
  .openshift-ci/posts.py
  .openshift-ci/runners.py
  qa-tests-backend/build.gradle
  qa-tests-backend/settings.gradle
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  scripts/ci/gke.sh
  scripts/ci/lib.sh
  tests/upgrade/run.sh
Labels: ci-upgrade-tests

#942 ROX-9723: Integration Scoped access control tests for secret resource type
  central/secret/datastore/datastore_sac_test.go
  pkg/fixtures/secret.go
  pkg/sac/testconsts/sac_consts.go
  pkg/sac/testutils/test_contexts.go
  pkg/sac/testutils/testresult_distribution.go
Labels: team/merlin, area/auth, area/central

#1251 ROX-10043: Mark deployments to be reprocessed on NetworkPolicy updates
  sensor/kubernetes/listener/resources/networkpolicy.go
  sensor/kubernetes/listener/resources/networkpolicy_test.go
Labels: team/maple, area/sensor

#1235 ROX-10025: Implement scoped search for secrets
  central/secret/search/searcher_impl.go
  pkg/sac/for_resource_helpers.go
  pkg/sac/search_helper.go
Labels: team/merlin, area/auth, area/central, area/postgres

#1193 ROX-9989 API Tests for Network Policy violations
  .circleci/config.yml
  tests/common_test.go
  tests/networkpolicy_test.go
  tests/testdata/allow-egress-netpol.yaml
  tests/testdata/allow-ingress-netpol.yaml
  tests/testdata/nginx.yaml
  tests/yamls/roxctl_verification.sh
Labels: team/maple

#1254 Update yup 1.0.0-beta.4 dependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#1257 Update initials 3.1.2 dependencies in UI
  ui/packages/ui-components/package.json
  ui/packages/ui-components/src/Avatar/Avatar.tsx
  ui/yarn.lock
Labels: area/ui

#1027 ROX-9788: Set ROX_ENABLE_LOCAL_IMAGE_SCANNING var
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/internal/defaults/30-base-config.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
  operator/pkg/securedcluster/extensions/reconcile_scanner_db_password.go
  operator/pkg/securedcluster/scanner/auto_sense.go
  operator/pkg/securedcluster/scanner/auto_sense_test.go
  operator/pkg/securedcluster/values/translation/translation.go
  operator/pkg/securedcluster/values/translation/translation_test.go
  operator/pkg/values/translation/values_builder.go
  operator/pkg/values/translation/values_builder_test.go
  pkg/env/sensor.go
  pkg/helm/charts/tests/securedclusterservices/testdata/scanner-slim/scanner-slim.test.yaml
  sensor/common/scannerclient/singleton.go
  sensor/kubernetes/sensor/sensor.go
Labels: area/helm, area/operator, area/sensor

#1067 ROX-9859: Increase timeout for ImageScanningTest.
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
Labels: ci-race-tests

#1219 ROX-9919 Make Central provide additional alert info about related network policies
  generated/api/v1/alert_service.swagger.json
  generated/api/v1/detection_service.swagger.json
  generated/storage/alert.pb.go
  pkg/booleanpolicy/augmentedobjs/custom_types.go
  pkg/booleanpolicy/default_policies_test.go
  pkg/booleanpolicy/matcher_impl.go
  pkg/booleanpolicy/violationmessages/printer.go
  pkg/booleanpolicy/violationmessages/printer/network_policy.go
  pkg/detection/deploytime/detector_impl.go
  pkg/detection/runtime/detector.go
  proto/storage/alert.proto
  sensor/common/detector/networkpolicy/networkpolicy.go
  sensor/common/detector/networkpolicy/networkpolicy_test.go
  sensor/common/detector/unified/detector_impl.go
Labels: team/maple, area/sensor

#1272 ROX-9964: Mount memory tmpfs as share memory
  image/postgres/postgresql.conf
  image/templates/helm/stackrox-central/templates/01-central-12-central-db.yaml
Labels: area/helm, area/postgres, ci-postgres-tests, ci-postgres-scale-tests

#1255 Update PatternFly 2022.04 dependencies in UI
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#1274 Fix accessibility errors on report form modals
  ui/apps/platform/src/Containers/VulnMgmt/Reports/Form/EmailNotifierFormModal.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/Form/ResourceScopeFormModal.tsx
Labels: area/ui

#1263 Update cypress 9.5.4 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#1279 Fix panic in Istio CVE attribution
  central/cve/fetcher/istio.go
  central/cve/matcher/matcher.go
Labels: area/central

#1221 ROX-9813 set enforcement not supported for Network Policy fields
  central/policy/service/validator.go
  central/policy/service/validator_test.go
Labels: team/maple, area/central

#1261 ROX-9737: Add function that checks if object is in scope
  central/alert/datastore/internal/store/postgres/store.go
  central/cluster/store/cluster/postgres/store.go
  central/namespace/store/postgres/store.go
  central/pod/store/postgres/store.go
  central/processbaseline/store/postgres/store.go
  central/processindicator/store/postgres/store.go
  central/rbac/k8srole/internal/store/postgres/store.go
  central/rbac/k8srolebinding/internal/store/postgres/store.go
  central/risk/datastore/internal/store/postgres/store.go
  central/secret/internal/store/postgres/store.go
  central/serviceaccount/internal/store/postgres/store.go
  tools/generate-helpers/pg-table-bindings/list.go
  tools/generate-helpers/pg-table-bindings/list_test.go
  tools/generate-helpers/pg-table-bindings/main.go
  tools/generate-helpers/pg-table-bindings/store.go.tpl
Labels: team/merlin, area/central, area/postgres

#1284 Fix feature flag in test
  central/policy/service/validator_test.go
Labels: team/maple, area/central

#1283 Extract resource to variable in pg store
  central/apitoken/datastore/internal/store/postgres/store.go
  central/policy/store/postgres/store.go
  central/reportconfigurations/store/postgres/store.go
  central/role/store/permissionset/postgres/store.go
  central/role/store/role/postgres/store.go
  central/role/store/simpleaccessscope/postgres/store.go
  central/signatureintegration/store/postgres/store.go
  central/watchedimage/datastore/internal/store/postgres/store.go
  tools/generate-helpers/pg-table-bindings/store.go.tpl
Labels: team/merlin, area/central, area/postgres

#1278 Wait before cytoscape assertions in Network Graph integration tests
  ui/apps/platform/cypress/support/commands.js
Labels: area/ui

#1262 Add sort parameters to URL for Violations page
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePanel.tsx
  ui/apps/platform/src/hooks/patternfly/useURLSort.test.js
  ui/apps/platform/src/hooks/patternfly/useURLSort.ts
Labels: area/ui

#1269 Enable feature flag for upgrade test
  .github/labeler.yml
  central/policy/service/service_impl.go
  qa-tests-backend/src/test/groovy/UpgradesTest.groovy
  tests/upgrade/run.sh
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-upgrade-tests, ci-no-api-tests, area/central

#1291 Use GetCve for cluster cves when using postgres
  central/cve/fetcher/istio.go
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, area/central

#1289 Replace cypress server and route with intercept in search
  ui/apps/platform/cypress/constants/SearchPage.js
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/integration/search.test.js
Labels: area/ui

#1268 Fix prop type errors for port and state in NetworkBaselinesSearch
  ui/apps/platform/src/Containers/Network/SidePanel/NetworkDeploymentOverlay/Flows/NetworkBaselines/NetworkBaselinesSearch.js
  ui/apps/platform/src/types/networkBaseline.proto.ts
  ui/apps/platform/src/types/networkFlow.proto.ts
Labels: area/ui

#1271 Delete unused sagas/reducers for network graph.
  ui/apps/platform/cypress/helpers/networkGraph.js
  ui/apps/platform/cypress/helpers/risk.js
  ui/apps/platform/src/Containers/Network/Graph/Graph.js
  ui/apps/platform/src/reducers/deployments.js
  ui/apps/platform/src/reducers/deployments.test.js
  ui/apps/platform/src/reducers/network/sidepanel.js
  ui/apps/platform/src/sagas/deploymentSagas.js
  ui/apps/platform/src/sagas/networkSagas.js
  ui/apps/platform/src/services/DeploymentsService.ts
Labels: area/ui

#1287 Table and sorting related type-level cleanup
  ui/apps/platform/src/Containers/Policies/PatternFly/Table/PoliciesTable.tsx
  ui/apps/platform/src/Containers/Search/SearchResults.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePanel.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportTablePanel.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/DeferredCVEs/DeferredCVEs.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/FalsePositiveCVEs/FalsePositiveCVEs.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ObservedCVEs/ObservedCVEs.tsx
  ui/apps/platform/src/hooks/patternfly/useTableSort.ts
  ui/apps/platform/src/hooks/useFetchReports.ts
  ui/apps/platform/src/hooks/useTableSort.ts
  ui/apps/platform/src/hooks/useURLSort.test.js
  ui/apps/platform/src/hooks/useURLSort.ts
  ui/apps/platform/src/services/AlertsService.ts
  ui/apps/platform/src/services/ReportsService.ts
  ui/apps/platform/src/services/sortOption.ts
  ui/apps/platform/src/types/search.ts
  ui/apps/platform/src/types/table.ts
  ui/apps/platform/src/utils/searchUtils.ts
Labels: area/ui

#1296 [ROX-10089] : Change AllowPrivilegeEscalation policy criteria name in UI to match fieldnames list on backend
  ui/apps/platform/src/Containers/Policies/Wizard/Form/descriptors.tsx
Labels: area/ui

#1295 Update clusters health fixture for integration tests
  ui/apps/platform/cypress/fixtures/clusters/health.json
  ui/apps/platform/cypress/integration/clusters.test.js
Labels: area/ui

#1260 Add eks and kops for dependabot e2e labels
  .github/dependabot.yaml
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests

#1256 ROX-9404: Migrate monitoring to Prometheus
  .circleci/config.yml
  MONITORING_VERSION
  Makefile
  deploy/charts/monitoring/dashboards/central.json
  deploy/charts/monitoring/templates/deployment.yaml
  deploy/charts/monitoring/templates/grafana.yaml
  deploy/charts/monitoring/templates/influxdb.yaml
  deploy/charts/monitoring/templates/pod-security-policy.yaml
  deploy/charts/monitoring/templates/prometheus.yaml
  deploy/charts/monitoring/templates/secret.yaml
  deploy/charts/monitoring/templates/telegraf-proxy.yaml
  deploy/charts/monitoring/values.yaml
  deploy/common/deploy.sh
  deploy/common/k8sbased.sh
  deploy/common/monitoring-values.yaml
  deploy/openshift/monitoring-resources-patch.yaml
  monitoring/.gitignore
  monitoring/Dockerfile
  monitoring/grafana/dashboard-config.yaml
  monitoring/grafana/dashboards/central.json
  monitoring/grafana/datasources/influxdb.yaml
  monitoring/grafana/entrypoint.sh
  monitoring/grafana/fetch-core-images.sh
  monitoring/influxdb/influx-post-start.sh
  scripts/ci/lib.sh
  scripts/ci/logcheck/check-restart-logs.sh
Labels: ci-all-qa-tests, ci-eks-tests, ci-scale-tests, team/merlin, ci-openshift-tests

#1301 ROX-9987: Register more openshift schemes
  central/detection/service/service_impl.go
  central/detection/service/service_impl_test.go
  pkg/k8sutil/legacy_openshift_apps_scheme.go
  pkg/k8sutil/openshift_schemes.go
  tests/yamls/multi-deployment-route.yaml
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, area/central

#1307 Run postgres test for pg related change
  .github/labeler.yml
Labels: ci-all-qa-tests, ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/postgres

#1308 Error on missing key in pg template
  tools/generate-helpers/pg-table-bindings/main.go
  tools/generate-helpers/pg-table-bindings/permission_checker.go.tpl
  tools/generate-helpers/pg-table-bindings/store.go.tpl
Labels: ci-all-qa-tests, ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/postgres

#1241 ROX-10010: Improved unit tests for roxctl scanner update-db
  roxctl/scanner/uploaddb/uploaddb_test.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/roxctl

#1300 Make 3.0.56.0 the lowest version that can be upgraded from
  migrator/migrations/m_44_to_m_45_rocksdb_clusters/migration.go
  migrator/migrations/m_44_to_m_45_rocksdb_clusters/migration_test.go
  migrator/migrations/m_44_to_m_45_rocksdb_clusters/status.go
  migrator/migrations/m_45_to_m_46_imagecveedge/migration.go
  migrator/migrations/m_45_to_m_46_imagecveedge/migration_test.go
  migrator/migrations/m_46_to_m_47_compliance_in_rocksdb/migration.go
  migrator/migrations/m_46_to_m_47_compliance_in_rocksdb/migration_test.go
  migrator/migrations/m_47_to_m_48_drop_bolt_buckets/migration.go
  migrator/migrations/m_47_to_m_48_drop_bolt_buckets/migration_test.go
  migrator/migrations/m_48_to_m_49_externalize_compliance_domains/migration.go
  migrator/migrations/m_48_to_m_49_externalize_compliance_domains/migration_test.go
  migrator/migrations/m_49_to_m_50_deprecate_email_label_policy/migration.go
  migrator/migrations/m_49_to_m_50_deprecate_email_label_policy/migration_test.go
  migrator/migrations/m_50_to_m_51_default_integration_health/migration.go
  migrator/migrations/m_50_to_m_51_default_integration_health/migration_test.go
  migrator/migrations/m_51_to_m_52_remove_invalid_transactions/migration.go
  migrator/migrations/m_51_to_m_52_remove_invalid_transactions/migration_test.go
  migrator/migrations/m_52_to_m_53_aws_endpoints/migration.go
  migrator/migrations/m_52_to_m_53_aws_endpoints/migration_test.go
  migrator/migrations/m_53_to_m_54_enable_exec_webhook/migration.go
  migrator/migrations/m_53_to_m_54_enable_exec_webhook/migration_test.go
  migrator/migrations/m_54_to_m_55_deprecate_policy_whitelist/migration.go
  migrator/migrations/m_54_to_m_55_deprecate_policy_whitelist/migration_test.go
  migrator/runner/all.go
  migrator/runner/registry_test.go
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests

#1297 ROX-9932: Add network policy for central-db
  image/templates/helm/stackrox-central/templates/01-central-10-networkpolicy.yaml
Labels: area/helm

#1259 Do not delete signature integrations that are referenced by policies.
  central/signatureintegration/datastore/datastore.go
  central/signatureintegration/datastore/datastore_impl.go
  central/signatureintegration/datastore/datastore_test.go
  central/signatureintegration/datastore/singleton.go
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/central

#1305 ROX-9931: Fix NetworkFlowTest flake
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Labels: team/maple, ci-openshift-tests

#1310 ROX-9976: Don't assume kubectl
  deploy/common/env.sh
  deploy/common/k8sbased.sh
Labels: ci-openshift-crio-tests

#1312 Remove Bolt-based compliance stores
  central/compliance/datastore/internal/store/bolt/bolt_store.go
  central/compliance/datastore/internal/store/bolt/bolt_store_test.go
  central/compliance/datastore/singleton.go
  pkg/features/list.go
Labels: ci-upgrade-tests, area/central

#1281 ROX-9985: Adding enable/disable notifications bulk action to policies table
  ui/apps/platform/src/Components/PatternFly/ConfirmationModal/ConfirmationModal.css
  ui/apps/platform/src/Components/PatternFly/ConfirmationModal/ConfirmationModal.tsx
  ui/apps/platform/src/Components/PatternFly/ConfirmationModal/index.ts
  ui/apps/platform/src/Containers/Policies/PatternFly/Modal/EnableDisableNotificationModal.tsx
  ui/apps/platform/src/Containers/Policies/PatternFly/Table/PoliciesTable.tsx
  ui/apps/platform/src/Containers/Policies/PatternFly/Table/PoliciesTablePage.tsx
  ui/apps/platform/src/hooks/patternfly/useToasts.tsx
Labels: area/ui

#1302 OSCI: Build scaffolding
  .openshift-ci-migration/binary_build_commands.sh
  .openshift-ci-migration/lib.sh
  .openshift-ci-migration/migrate.sh
  .openshift-ci/build/Dockerfile.build-main
  .openshift-ci/build/Dockerfile.main
  .openshift-ci/build/Dockerfile.pre-build-cli
  .openshift-ci/build/Dockerfile.pre-build-go-binaries
  .openshift-ci/build/Dockerfile.pre-build-ui
  .openshift-ci/dispatch.sh
  scripts/ci/lib.sh
  scripts/lib.sh
Labels: ci-upgrade-tests, area/central

#1313 ROX-10095: Do not use fixture for networkGraph integration test
  ui/apps/platform/cypress/integration/networkGraph/networkGraph.test.js
Labels: area/ui

#1293 Fix sorting of Violations page by Enforcement count.
  ui/apps/platform/src/Containers/Violations/violationTableColumnDescriptors.tsx
Labels: pls-merge, area/ui

#1288 CI: Avoid docker rate limits (again)
  qa-tests-backend/src/test/groovy/AttemptedAlertsTest.groovy
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/CSVTest.groovy
  qa-tests-backend/src/test/groovy/CVETest.groovy
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
  qa-tests-backend/src/test/groovy/DefaultPoliciesTest.groovy
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
  qa-tests-backend/src/test/groovy/K8sRbacTest.groovy
  qa-tests-backend/src/test/groovy/PolicyConfigurationTest.groovy
  qa-tests-backend/src/test/groovy/SACTest.groovy
  qa-tests-backend/src/test/groovy/TLSChallengeTest.groovy
Labels: ci-all-qa-tests, ci-no-ui-tests, ci-openshift-4-tests, ci-no-api-tests

#1325 ROX-10038: Remove limit on inclusions and exclusions in policy form
  CHANGELOG.md
  ui/apps/platform/src/Containers/Policies/PatternFly/Wizard/Step4/PolicyScopeForm.tsx
Labels: area/ui

#1334 Add context and rename deployment store functions
  central/deployment/datastore/datastore_impl.go
  central/deployment/datastore/datastore_impl_test.go
  central/deployment/datastore/internal/search/searcher_impl.go
  central/deployment/store/cache/cache.go
  central/deployment/store/cache/cache_test.go
  central/deployment/store/dackbox/bench_test.go
  central/deployment/store/dackbox/store_impl.go
  central/deployment/store/dackbox/store_impl_test.go
  central/deployment/store/mocks/store.go
  central/deployment/store/store.go
Labels: area/central

#1335 ROX-10090: Remove UI validation for Artifactory integration auth in form
  CHANGELOG.md
  ui/apps/platform/cypress/integration/integrations/imageIntegrations.test.js
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ArtifactoryIntegrationForm.tsx
Labels: area/ui

#1329 Replace redirect with unmatched path for Not Found page
  ui/apps/platform/src/Containers/AppPage.tsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/routePaths.js
Labels: area/ui

#1331 Update cytoscape 3.21.1 dependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#1330 ROX-9797: Delete leftover classic integrations code in ui
  ui/apps/platform/src/Containers/Integrations/APITokens/APITokenDetails.js
  ui/apps/platform/src/Containers/Integrations/APITokens/APITokenForm.js
  ui/apps/platform/src/Containers/Integrations/APITokens/APITokensModal.js
  ui/apps/platform/src/Containers/Integrations/ClusterInitBundles/ClusterInitBundleDetails.tsx
  ui/apps/platform/src/Containers/Integrations/ClusterInitBundles/ClusterInitBundleForm.tsx
  ui/apps/platform/src/Containers/Integrations/ClusterInitBundles/ClusterInitBundlesModal.tsx
  ui/apps/platform/src/Containers/Integrations/Form/Form.js
  ui/apps/platform/src/Containers/Integrations/Form/Schedule.js
  ui/apps/platform/src/Containers/Integrations/Form/index.ts
  ui/apps/platform/src/Containers/Integrations/GenericNotifier/GenericNotifier.js
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/FormSchedule/ScheduleDailyOptions.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/FormSchedule/ScheduleWeeklyOptions.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationModal.js
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/DownloadCAConfigBundle.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsTable.tsx
  ui/apps/platform/src/Containers/Integrations/Jira/Jira.js
  ui/apps/platform/src/Containers/Integrations/utils/formDescriptors.js
  ui/apps/platform/src/Containers/Integrations/utils/integrationFormUtils.js
  ui/apps/platform/src/Containers/Integrations/utils/integrationFormUtils.test.js
  ui/apps/platform/src/Containers/Integrations/utils/integrationUtils.ts
  ui/apps/platform/src/Containers/Integrations/utils/tableColumnDescriptor.js
Labels: area/ui

#1311 Create resource properties holder for pg template
  tools/generate-helpers/pg-table-bindings/list.go
  tools/generate-helpers/pg-table-bindings/list_test.go
  tools/generate-helpers/pg-table-bindings/main.go
  tools/generate-helpers/pg-table-bindings/object.go
  tools/generate-helpers/pg-table-bindings/store.go.tpl
  tools/generate-helpers/pg-table-bindings/store_test.go.tpl
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, ci-no-api-tests, area/postgres, ci-postgres-tests

#1342 ROX-10217: Remove format validation from URL field of generic webhook integration form
  CHANGELOG.md
  ui/apps/platform/cypress/integration/integrations/notifiers.test.js
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GenericWebhookIntegrationForm.tsx
Labels: area/ui

#1332 Delete ROX_VULN_REPORTING feature flag
  central/main.go
  central/reports/manager/manager_impl.go
  central/reports/manager/singleton.go
  central/reports/scheduler/schedule.go
  central/role/datastore/singleton.go
  central/role/resources/list.go
  pkg/features/list.go
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/Navigation/NavigationSideBar/NavigationSideBar.tsx
  ui/apps/platform/src/Containers/SystemConfig/ConfigDataRetentionDetailWidget.tsx
  ui/apps/platform/src/Containers/SystemConfig/SystemConfigForm/SystemConfigForm.tsx
  ui/apps/platform/src/utils/featureFlags.ts
Labels: area/central, area/ui

#1341 Request deployment only if needed for filters in Network Graph
  ui/apps/platform/cypress/helpers/risk.js
  ui/apps/platform/cypress/integration/risk/risk.test.js
  ui/apps/platform/src/Containers/Network/Page.js
Labels: area/ui

#1346 ROX-8331: Increase the front-end limit on rendered nodes in the Network Graph from 1100 to 2000
  CHANGELOG.md
  ui/apps/platform/src/Containers/Network/Graph/Graph.js
Labels: area/ui

#1347 [ROX-10235] Link namespaces and clusters in postgres
  central/cluster/datastore/datastore.go
  central/cluster/datastore/datastore_impl.go
  central/cluster/datastore/datastore_impl_postgres_test.go
  central/cluster/datastore/datastore_impl_test.go
  central/cluster/datastore/singleton.go
  central/cluster/store/clusterhealth/mocks/store.go
  central/cluster/store/clusterhealth/postgres/gen.go
  central/cluster/store/clusterhealth/postgres/store.go
  central/cluster/store/clusterhealth/postgres/store_test.go
  central/cluster/store/clusterhealth/rocksdb/gen.go
  central/cluster/store/clusterhealth/rocksdb/store.go
  central/cluster/store/clusterhealth/store.go
  central/namespace/store/postgres/gen.go
  central/namespace/store/postgres/store.go
  central/postgres/schema/namespaces.go
  generated/storage/namespace_metadata.pb.go
  pkg/fixtures/namespace.go
  proto/storage/namespace_metadata.proto
  tools/generate-helpers/pg-table-bindings/store.go.tpl
Labels: area/central, area/postgres, ci-postgres-tests

#1344 Disable monitoring support in CI
  .circleci/config.yml
  tests/e2e/run.sh
Labels: ci-all-qa-tests, ci-scale-tests, ci-openshift-4-tests, team/merlin, ci-openshift-tests, ci-postgres-scale-tests

#1340 Bugfix: Instances of TeardownTest() --> TearDownTest()
  central/apitoken/datastore/datastore_test.go
  central/notifier/datastore/datastsore_test.go
  pkg/helm/charts/tests/securedclusterservices/base_suite_test.go
Labels: team/maple, area/central, area/helm

#1320 Use template to generate checker
  tools/generate-helpers/pg-table-bindings/store.go.tpl
Labels: team/merlin, area/postgres, ci-postgres-tests

#1328 Edit cve proto and add node and vulnerability proto to types in UI
  ui/apps/platform/src/types/cve.proto.ts
  ui/apps/platform/src/types/node.proto.ts
  ui/apps/platform/src/types/vulnerability.proto.ts
Labels: ci-no-ui-tests, area/ui

#1319 ROX-8735: Do not fail on unrecognized resources during deployment check.
  central/detection/service/service_impl.go
  central/detection/service/service_impl_test.go
  generated/api/v1/detection_service.pb.go
  generated/api/v1/detection_service.swagger.json
  proto/api/v1/detection_service.proto
  roxctl/deployment/check/check.go
  roxctl/deployment/check/check_test.go
  tests/yamls/cronjob.yaml
  tests/yamls/daemonset.yaml
  tests/yamls/deployment.yaml
  tests/yamls/deploymentconfig.yaml
  tests/yamls/job.yaml
  tests/yamls/legacy-deploymentconfig.yaml
  tests/yamls/list-deployment.yaml
  tests/yamls/multi-container-pod.yaml
  tests/yamls/multi-deployment-crd.yaml
  tests/yamls/multi-deployment-route.yaml
  tests/yamls/multi-deployment.yaml
  tests/yamls/pod.yaml
  tests/yamls/replicaset.yaml
  tests/yamls/replicationcontroller.yaml
  tests/yamls/roxctl_verification.sh
  tests/yamls/statefulset.yaml
Labels: ci-no-qa-tests, ci-no-ui-tests, team/merlin, area/roxctl, area/central

#1343 ROX-7999: Fix SACv2 flake.
  qa-tests-backend/src/test/groovy/SACTest.groovy
Labels: ci-no-ui-tests, team/merlin, ci-no-api-tests

#1303 ROX-8789: Change operator index to file based catalog
  CHANGELOG.md
  operator/Makefile
  operator/hack/build-index-image.sh
  operator/hack/get-github-release.sh
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-openshift-4-operator-tests, ci-no-api-tests, area/operator

#1362 Replace assertion for exposure and label with name in network integration test
  ui/apps/platform/cypress/integration/network.test.js
Labels: area/ui

#1368 [ROX-10198] Scoped context in postgres
  central/cve/datastore/image/internal/store/postgres/gen.go
  central/cve/datastore/image/internal/store/postgres/index.go
  central/globaldb/postgres.go
  central/image/datastore/datastore_impl_postgres_test.go
  central/image/datastore/datastore_impl_test.go
  central/image/datastore/internal/search/searcher_impl_v2.go
  generated/storage/cve.pb.go
  pkg/search/options.go
  pkg/search/postgres/common.go
  pkg/search/scoped/postgres/searcher.go
  proto/storage/cve.proto
Labels: area/central, area/postgres, ci-postgres-tests

#1357 ROX-10012: Added e2e tests for roxctl scanner upload-db
  tests/roxctl/bats-tests/cluster/scanner-upload-db.bats
Labels: ci-no-ui-tests, team/merlin, area/roxctl

#1370 Update Grafana image
  deploy/charts/monitoring/values.yaml
Labels: team/merlin

#1267 ROX-10025: Scoped access control for resource Secret - enable integration SAC search tests
  central/secret/datastore/datastore_sac_test.go
Labels: team/merlin, area/central, area/postgres, ci-postgres-tests

#1365 Rewrite integrationsList file in TypeScript
  ui/apps/platform/src/Containers/Integrations/utils/integrationUtils.ts
  ui/apps/platform/src/Containers/Integrations/utils/integrationsList.ts
  ui/apps/platform/src/types/integration.ts
Labels: area/ui

#1194 ROX-9756: Add policy descriptor for Network Policy System Policy fields
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/BooleanPolicyLogicSection.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicyCriteriaForm.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
Labels: team/maple, area/ui

#1345 Add size and row count metrics
  central/globaldb/metrics/metrics.go
  central/globaldb/postgres.go
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, area/central, area/postgres, ci-postgres-tests

#1363 ROX-10215 Update Dashboard to use URL Search params instead of redux
  ui/apps/platform/cypress/integration/dashboard.test.js
  ui/apps/platform/src/Components/SearchFilterInput/SearchFilterInput.tsx
  ui/apps/platform/src/Containers/Dashboard/AlertsByTimeseriesChart.js
  ui/apps/platform/src/Containers/Dashboard/DashboardPage.js
  ui/apps/platform/src/Containers/Dashboard/EnvironmentRisk.js
  ui/apps/platform/src/Containers/Dashboard/TopRiskyDeployments.js
  ui/apps/platform/src/Containers/Dashboard/ViolationsByClusterChart.js
  ui/apps/platform/src/Containers/Dashboard/ViolationsByPolicyCategory.js
  ui/apps/platform/src/Containers/Policies/PoliciesPage.tsx
  ui/apps/platform/src/Containers/Policies/policies.utils.ts
  ui/apps/platform/src/Containers/Search/ReduxSearchInput.js
  ui/apps/platform/src/sagas/alertSagas.js
  ui/apps/platform/src/sagas/index.js
  ui/apps/platform/src/services/AlertsService.ts
  ui/apps/platform/src/utils/searchUtils.ts
Labels: area/ui

#1366 Fix links to Violations page from Dashboard severity tiles.
  ui/apps/platform/cypress/integration/dashboard.test.js
  ui/apps/platform/src/Containers/Dashboard/DashboardPage.js
  ui/apps/platform/src/Containers/Dashboard/EnvironmentRisk.js
  ui/apps/platform/src/Containers/Dashboard/SeverityTile.js
Labels: area/ui

#1376 ROX-8550 bump scorecard wait time to 5 minutes
  operator/Makefile
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-openshift-4-operator-tests, ci-no-api-tests, area/operator

#1282 ROX-9929: Conditional vuln report template
  central/reports/scheduler/schedule.go
  central/reports/scheduler/schedule_test.go
  pkg/branding/brandedtext.go
  pkg/branding/brandedtext_test.go
  pkg/branding/env.go
Labels: team/maple, area/central

#1385 ROX-10211: quickfix to skip policy if feature flag is enabled
  qa-tests-backend/src/test/groovy/UpgradesTest.groovy
Labels: team/maple, ci-upgrade-tests

#1388 ROX-10296: Add feature flag for ROX_NEW_POLICY_CATEGORIES
  .circleci/config.yml
  pkg/features/list.go
  ui/apps/platform/src/utils/featureFlags.ts
Labels: area/ui

#1316 [Rox-9435] : Always perform a dry-run even if the policy is marked disabled
  CHANGELOG.md
  central/policy/service/service_impl.go
  qa-tests-backend/src/main/groovy/services/PolicyService.groovy
  qa-tests-backend/src/test/groovy/PolicyConfigurationTest.groovy
  ui/apps/platform/src/Containers/Policies/Wizard/Step5/PreviewViolations.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step5/ReviewPolicyForm.tsx
Labels: area/central, area/ui

#1367 Remove dead redux code after changes to Dashboard and Violations
  ui/apps/platform/src/Containers/Network/SidePanel/NamespaceDetails/NamespaceDeployments.tsx
  ui/apps/platform/src/reducers/alerts.js
  ui/apps/platform/src/reducers/dashboard.js
  ui/apps/platform/src/reducers/deployments.js
  ui/apps/platform/src/reducers/deployments.test.js
  ui/apps/platform/src/reducers/index.js
  ui/apps/platform/src/sagas/deploymentSagas.js
  ui/apps/platform/src/sagas/deploymentSagas.test.js
  ui/apps/platform/src/sagas/globalSearchSagas.js
  ui/apps/platform/src/sagas/index.js
  ui/apps/platform/src/sagas/searchSagas.js
  ui/apps/platform/src/sagas/searchSagas.test.js
  ui/apps/platform/src/services/DeploymentsService.ts
  ui/apps/platform/src/services/schemas.js
Labels: area/ui

#1373 ROX-10014: Update preferred node affinity for central
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/central.test.yaml
Labels: ci-no-qa-tests, ci-no-ui-tests, ci-no-api-tests, area/helm

#1364 Delete leftover NetworkPoliciesDetails component and networkPolicies reducer
  ui/apps/platform/src/Containers/Network/Graph/Graph.js
  ui/apps/platform/src/Containers/Network/SidePanel/Details/NetworkPoliciesDetails.js
  ui/apps/platform/src/reducers/network/backend.js
  ui/apps/platform/src/sagas/networkSagas.js
Labels: area/ui

#1383 [ROX-10609] Align component-cve relation datastore for postgres
  central/componentcveedge/datastore/datastore.go
  central/componentcveedge/datastore/datastore_impl.go
  central/componentcveedge/datastore/internal/postgres/store.go
  central/componentcveedge/datastore/mocks/datastore.go
  central/componentcveedge/datastore/singleton.go
  central/componentcveedge/search/searcher_impl.go
  central/componentcveedge/search/searcher_impl_v2.go
  central/componentcveedge/store/dackbox/store_impl.go
  central/componentcveedge/store/mocks/store.go
  central/componentcveedge/store/store.go
  central/cve/datastore/cluster/internal/store/postgres/store.go
  central/cve/datastore/image/internal/store/postgres/store.go
  central/cve/datastore/node/internal/store/postgres/store.go
  central/image/datastore/internal/store/common/merge.go
  central/image/datastore/internal/store/common/split.go
  central/imagecomponent/datastore/internal/store/postgres/store.go
  central/imagecomponentedge/datastore/internal/store/postgres/store.go
  central/imagecveedge/datastore/internal/postgres/store.go
  generated/storage/cve.pb.go
  generated/storage/image_component.pb.go
  generated/storage/relations.pb.go
  generated/storage/test.pb.go
  pkg/cve/cve.go
  pkg/postgres/walker/schema.go
  pkg/postgres/walker/walker.go
  pkg/scancomponent/component_id.go
  pkg/search/postgres/common.go
  pkg/search/postgres/index_test.go
  pkg/search/postgres/utils.go
  proto/storage/cve.proto
  proto/storage/image_component.proto
  proto/storage/relations.proto
  proto/storage/test.proto
  tools/generate-helpers/pg-table-bindings/multitest/postgres/store.go
  tools/generate-helpers/pg-table-bindings/store.go.tpl
Labels: area/central, area/postgres, ci-postgres-tests

#1392 Delete leftover resources from Redux reducers in ui
  ui/apps/platform/src/Containers/AccessControl/AccessControl.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionSets.tsx
  ui/apps/platform/src/reducers/roles.js
  ui/apps/platform/src/reducers/roles.test.js
  ui/apps/platform/src/sagas/roleSagas.js
  ui/apps/platform/src/services/RolesService.ts
Labels: area/ui

#1396 [ROX-10607] Align image-component relation datastore for postgres
  central/imagecomponentedge/datastore/datastore_impl.go
  central/imagecomponentedge/datastore/singleton.go
  central/imagecomponentedge/search/searcher_impl.go
  central/imagecomponentedge/search/searcher_impl_v2.go
  central/imagecomponentedge/store/dackbox/store_impl.go
  central/imagecomponentedge/store/mocks/store.go
  central/imagecomponentedge/store/store.go
Labels: area/central
