Repository stackrox/stackrox, pull requests merged in 2023-09, with the labels that each got.

#7669 chore: update junit2jira
  .github/actions/junit2jira/action.yaml
  scripts/ci/lib.sh
Labels: area/ci

#7418 ROX-18308: compliance operator info wire central and sensor
  central/complianceoperator/v2/compliancemanager/manager.go
  central/complianceoperator/v2/compliancemanager/manager_impl.go
  central/complianceoperator/v2/compliancemanager/manager_impl_test.go
  central/complianceoperator/v2/compliancemanager/mocks/manager.go
  central/complianceoperator/v2/compliancemanager/singleton.go
  central/sensor/service/pipeline/complianceoperator/complianceoperatorinfo/pipeline.go
  central/sensor/service/pipeline/complianceoperator/complianceoperatorinfo/pipeline_test.go
  sensor/kubernetes/complianceoperator/updater.go
Labels: area/central, area/sensor, epic/compliance-2.0/mvp

#7619 chore(ui): Update non-breaking eslint-related packages
  ui/apps/platform/.eslintrc.js
  ui/apps/platform/package.json
  ui/packages/tailwind-config/.eslintignore
  ui/packages/tailwind-config/.eslintrc.js
  ui/packages/tailwind-config/.prettierignore
  ui/packages/tailwind-config/.prettierrc.js
  ui/packages/tailwind-config/package.json
  ui/packages/ui-components/.eslintignore
  ui/packages/ui-components/.eslintrc.js
  ui/packages/ui-components/package.json
  ui/yarn.lock
Labels: area/ui

#7673 ROX-18276: adapt telemetry metrics to Telemeter feedback
  image/templates/helm/stackrox-central/templates/99-openshift-monitoring.yaml
  image/templates/helm/stackrox-secured-cluster/templates/openshift-monitoring.yaml
Labels: area/central, area/helm, area/sensor

#7635 ROX-17417: Fix incorrect collection method in ocp tests
  tests/e2e/lib.sh
  tests/e2e/yaml/secured-cluster-cr.envsubst.yaml
Labels: area/operator

#7649 ROX-18772: use quay registry
  qa-tests-backend/src/test/groovy/ImageManagementTest.groovy
Labels: ci-all-qa-tests

#7628 ROX-17369: Adding more k8s resources to audit log event detection
  compliance/collection/auditlog/auditevent.go
  compliance/collection/auditlog/auditlog_impl.go
  compliance/collection/auditlog/auditlog_impl_test.go
  generated/api/v1/alert_service.swagger.json
  generated/api/v1/detection_service.swagger.json
  generated/storage/alert.pb.go
  generated/storage/kube_event.pb.go
  pkg/booleanpolicy/value_regex.go
  pkg/booleanpolicy/violationmessages/printer/kube_event.go
  pkg/booleanpolicy/violationmessages/printer/kube_event_test.go
  proto/storage/alert.proto
  proto/storage/kube_event.proto
  ui/apps/platform/src/Components/PatternFly/ResourceIcon/ResourceIcon.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/MostRecentViolations.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
  ui/apps/platform/src/types/alert.proto.ts
Labels: area/ui

#7618 ROX-16981: Add database dumps to graphDB SAC tests
  central/componentcveedge/datastore/datastore_sac_test.go
  central/cve/datastoretest/datastore_sac_test.go
  central/graphdb/testutils/graphdump.go
  central/image/datastoretest/datastore_sac_test.go
  central/imagecomponent/datastoretest/datastore_sac_test.go
  central/imagecomponentedge/datastore/datastore_sac_test.go
  central/imagecveedge/datastore/datastore_sac_test.go
  central/nodecomponentcveedge/datastore/datastore_sac_test.go
  central/nodecomponentedge/datastore/datastore_sac_test.go
Labels: area/central

#7683 chore: bump qa-test gRPC version
  qa-tests-backend/build.gradle
Labels: ci-all-qa-tests

#7651 ROX-19316: use nginx-unprivileged image
  qa-tests-backend/src/test/groovy/SACTest.groovy
Labels: ci-all-qa-tests

#5821 ROX-16724: Operator testing on GKE
  .openshift-ci/ci_tests.py
  operator/Makefile
  operator/README.md
  operator/hack/envsubst-kuttl.sh
  operator/tests/central/basic-central/10-assert-openshift.yaml
  operator/tests/central/basic-central/10-assert.yaml
  operator/tests/central/basic-central/100-errors-openshift.yaml
  operator/tests/central/basic-central/61-assert.yaml
  operator/tests/central/basic-central/61-set-expose-monitoring.yaml
  operator/tests/central/basic-central/62-unset-expose-monitoring.yaml
  operator/tests/central/basic-central/80-assert-non-openshift.yaml
  operator/tests/central/basic-central/80-assert-openshift.yaml
  operator/tests/central/basic-central/81-assert-non-openshift.yaml
  operator/tests/central/basic-central/81-assert-openshift.yaml
  operator/tests/central/basic-central/90-assert-non-openshift.yaml
  operator/tests/central/basic-central/90-assert-openshift.yaml
  operator/tests/central/basic-central/91-assert-non-openshift.yaml
  operator/tests/central/basic-central/91-assert-openshift.yaml
  operator/tests/common/central-cr-assert.yaml
  operator/tests/common/delete-central-assert.yaml
  operator/tests/common/delete-central-errors-cluster-openshift.envsubst.yaml
  operator/tests/common/delete-central-errors-cluster.envsubst.yaml
  operator/tests/common/delete-central-errors-openshift.yaml
  operator/tests/common/delete-central-errors.yaml
  operator/tests/common/delete-securedcluster-errors-openshift.yaml
  operator/tests/common/delete-securedcluster-errors.yaml
  operator/tests/common/secured-cluster-cr-assert.yaml
  operator/tests/scripts/validate-crs.sh
  operator/tests/securedcluster/basic-sc/40-assert.yaml
  operator/tests/securedcluster/basic-sc/40-enable-monitoring.yaml
  operator/tests/securedcluster/basic-sc/41-disable-monitoring.yaml
  operator/tests/securedcluster/basic-sc/70-assert-openshift.yaml
  operator/tests/securedcluster/basic-sc/70-errors-non-openshift.yaml
  operator/tests/upgrade/upgrade/90-errors-central-openshift.yaml
  operator/tools/go.mod
  operator/tools/go.sum
  scripts/ci/jobs/gke_operator_e2e_tests.py
Labels: area/operator, area/ci

#7624 ROX-19283: Validate only stackrox CRs
  operator/Makefile
  operator/hack/build-index-image.sh
  operator/tests/scripts/validate-crs.sh
  operator/tools/go.mod
  operator/tools/go.sum
  operator/tools/tools-import.go
Labels: area/operator, area/ci

#7678 chore(ui): Fix jest no-alias-methods lint errors
  ui/apps/platform/src/hooks/useTimeout.test.ts
Labels: area/ui

#7676 ROX-19526: Rewrite ClustersTablePanel in TypeScript
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.tsx
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.tsx
  ui/apps/platform/src/services/ClustersService.ts
  ui/apps/platform/src/utils/searchUtils.ts
Labels: area/ui

#7677 ROX-19527: Rewrite ClusterDeployment in TypeScript
  ui/apps/platform/src/Containers/Clusters/ClusterDeployment.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterEditForm.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersSidePanel.tsx
  ui/apps/platform/src/Containers/Clusters/clusterTypes.ts
Labels: area/ui

#7608 ROX-15972: Fix del rep
  central/reports/service/v2/config_separation_test.go
  central/reports/service/v2/service_impl.go
  central/reports/service/v2/service_impl_test.go
Labels: area/central

#7660 chore(e2e): Update cypress 13.0.0 devDependencies in ui
  ui/apps/platform/cypress.config.js
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#7702 chore(cleanup): Add ui team as codeowners for ui/ directory
  .github/CODEOWNERS
Labels: area/ci

#7652 feat(ui): VM Reporting 2.0 GA Major Fixes
  ui/apps/platform/src/Components/PatternFly/RepeatScheduleDropdown.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/VulnReportsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/DeliveryDestinationsForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/NotifierSelection.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportParametersForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/useReportFormValues.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.ts
  ui/apps/platform/src/hooks/useURLPagination.ts
Labels: area/ui, epic/vm2.0/reports

#7664 ROX-19485: Change create button into a dropdown footer
  ui/apps/platform/src/Components/SelectSingle/SelectSingle.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/CollectionSelection.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/NotifierSelection.tsx
Labels: area/ui

#7705 ROX-19094: Changed SUCCESS to DELIVERED and GENERATED
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobStatus.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/LastRunStatusState.test.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/LastRunStatusState.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/MyActiveJobStatus.test.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.ts
  ui/apps/platform/src/services/ReportsService.types.ts
Labels: area/ui, epic/vm2.0/reports

#7704 ROX-19335: Add manage watched images button
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/watchedImagesFlow.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
Labels: area/ui

#7661 ROX-19296: Vulnerability deferral configuration API
  central/config/datastore/datastore.go
  central/config/datastore/singleton.go
  central/config/service/convert.go
  central/config/service/service.go
  central/config/service/service_test.go
  generated/api/v1/config_service.pb.go
  generated/api/v1/config_service.pb.gw.go
  generated/api/v1/config_service.swagger.json
  generated/storage/config.pb.go
  proto/api/v1/config_service.proto
  proto/storage/config.proto
Labels: area/central, epic/vm2.0/unified-deferral

#7696 refactor(csv): Rely on `http.Error` in 'pkg/csv'
  central/compliance/handlers/csv.go
  central/cve/cluster/csv/handler.go
  central/cve/csv/handler.go
  central/cve/image/csv/handler.go
  central/cve/node/csv/handler.go
  central/risk/handlers/timeline/csv.go
  pkg/csv/http_writer.go
  pkg/csv/http_writer_test.go
  pkg/csv/utils.go
  pkg/csv/utils_test.go
Labels: area/central

#7600 ROX-19233: Fix verify connections from external sources
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Labels: ci-all-qa-tests

#7726 fix: monitoring in manifest download
  image/templates/helm/stackrox-secured-cluster/.helmtplignore.htpl
  image/templates/sensor/openshift/delete-sensor.sh
  image/templates/sensor/openshift/sensor.sh
Labels: area/helm

#7717 ROX-16345: Fix graphQL error navigating from node_compoenent to nodes
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Component/VulnMgmtComponentOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/TableWidgetFixableCves.js
Labels: area/ui

#7697 refactor(csv): One function to write CSV headers.
  central/compliance/handlers/csv.go
  central/cve/cluster/csv/handler.go
  central/cve/csv/handler.go
  central/cve/image/csv/handler.go
  central/cve/node/csv/handler.go
  central/risk/handlers/timeline/csv.go
  pkg/csv/http_writer.go
  pkg/csv/utils.go
  pkg/csv/writer.go
Labels: area/central

#7638 ROX-16914: Onboard scanner-v4 as a local scanner in Sensor
  generated/api/v1/image_service.pb.go
  generated/api/v1/image_service.swagger.json
  pkg/env/sensor.go
  proto/api/v1/image_service.proto
  sensor/common/scan/scan.go
  sensor/common/scan/scan_test.go
  sensor/common/scannerclient/grpc_client.go
  sensor/common/scannerclient/grpc_client_test.go
  sensor/common/scannerclient/singleton.go
Labels: area/sensor

#7698 refactor(csv): Use same constants in both CSV writers
  pkg/csv/http_writer.go
  pkg/csv/http_writer_test.go
  pkg/csv/utils.go
  pkg/csv/writer.go
Labels: area/central

#7634 ROX-19093: Replace success state with generated delivered in rep history
  central/reports/common/searcher.go
  central/reports/common/searcher_test.go
  central/reports/config/search/search_impl.go
  central/reports/service/v2/convert.go
  central/reports/snapshot/datastore/search/searcher.go
  generated/api/v2/report_service.pb.go
  proto/api/v2/report_service.proto
Labels: area/central, epic/vm2.0/reports

#7703 ROX-19541: Rewrite IntegrationTilesPage in TypeScript
  ui/apps/platform/src/Containers/Integrations/IntegrationTilesPage/IntegrationTile.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTilesPage/IntegrationTilesPage.js
  ui/apps/platform/src/Containers/Integrations/IntegrationTilesPage/IntegrationTilesPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTilesPage/IntegrationsSection.tsx
  ui/apps/platform/src/services/IntegrationsService.ts
Labels: area/ui

#7736 chore(doc): Add concurrency section
  .github/go-coding-style.md
Labels: area/ci

#7735 chore(cleanup): Adjust position of ui team codeowners
  .github/CODEOWNERS
Labels: area/ci

#7718 feat(ui): VM Reporting 2.0 GA Fixes Pt 2
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/AnnotationKeyLabelIcon.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details/PrivateConfigDataRetentionDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobStatus.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/ReportParametersDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportParametersForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/useReportFormValues.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.ts
Labels: area/ui

#7733 chore: check unsupported derived fields data types are supported
  generated/storage/test.pb.go
  migrator/migrations/postgreshelper/schema/convert_test_parent1.go
  migrator/migrations/postgreshelper/schema/test_parent1.go
  pkg/postgres/schema/test_parent1.go
  pkg/postgres/types.go
  pkg/search/options.go
  pkg/search/postgres/common.go
  pkg/search/postgres/graph_queries_test.go
  proto/storage/test.proto
  tools/generate-helpers/pg-table-bindings/testgraphtables/testparent1/store.go
Labels: area/postgres

#7554 chore(roxctl): roxctl guidelines
  roxctl/README.md
Labels: area/roxctl

#7739 fix(roxctl): improve whoami command
  roxctl/central/whoami/whoami.go
  roxctl/central/whoami/whoami_test.go
Labels: area/roxctl

#7737 ROX-19573: Change UI for new audit log options
  ui/apps/platform/cypress/fixtures/alerts/alerts.json
  ui/apps/platform/cypress/integration/violations/violations.test.js
  ui/apps/platform/src/Containers/Violations/Details/ViolationDetailsPage.tsx
  ui/apps/platform/src/Containers/Violations/types/violationTypes.ts
  ui/apps/platform/src/Containers/Violations/violationTableColumnDescriptors.tsx
  ui/apps/platform/src/utils/textUtils.ts
Labels: area/ui

#7715 [ROX-19482] : Add data model changes, conversion and validation support for custom email subject and body
  central/reports/service/v2/convert.go
  central/reports/service/v2/convert_test.go
  central/reports/service/v2/service_impl_test.go
  central/reports/validation/validate.go
  generated/api/v1/report_configuration_service.swagger.json
  generated/api/v2/report_service.pb.go
  generated/storage/report_configuration.pb.go
  proto/api/v2/report_service.proto
  proto/storage/report_configuration.proto
Labels: area/central

#7716 ROX-19548: Make notifiers more resilient to missing namespace in alert
  central/notifiers/metadatagetter/datastore_impl.go
  central/notifiers/metadatagetter/datastore_impl_test.go
  pkg/fixtures/alert.go
  pkg/notifiers/format.go
  pkg/notifiers/format_test.go
  pkg/notifiers/pagerduty/pagerduty.go
  pkg/notifiers/syslog/syslog.go
  pkg/notifiers/teams/teams.go
Labels: area/central

#7714 ROX-19337: Add watch image functionality to workload cve modal
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/watchedImagesFlow.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WatchedImages/WatchedImagesForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WatchedImages/WatchedImagesModal.tsx
  ui/apps/platform/src/hooks/useRestMutation.test.ts
  ui/apps/platform/src/hooks/useRestMutation.ts
Labels: area/ui, epic/vm2.0/workload-cves

#7679 fix: Scanner NetworkPolicy only allow traffic from Central to select …
  image/templates/helm/shared/templates/02-scanner-05-network-policy.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner.test.yaml
Labels: area/helm

#7662 ROX-18115: Compliance scan results overview table
  ui/apps/platform/src/Containers/ComplianceEnhanced/Dashboard/ComplianceDashboardPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Dashboard/MockData/complianceScanResultsOverview.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/Dashboard/ScanResultsOverviewTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Dashboard/ScanResultsToolbar.tsx
  ui/apps/platform/src/services/ComplianceEnhancedService.ts
Labels: area/ui, epic/compliance-2.0/mvp

#7684 ROX-18772: fix scanImage retry
  qa-tests-backend/src/main/groovy/services/ImageService.groovy
  qa-tests-backend/src/test/groovy/ImageManagementTest.groovy
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
  qa-tests-backend/src/test/groovy/RiskTest.groovy
  qa-tests-backend/src/test/groovy/SACTest.groovy
  qa-tests-backend/src/test/groovy/Services.groovy
Labels: ci-all-qa-tests

#7734 ROX-18276: Central info metric
  central/metrics/telemetry/gauges.go
  central/metrics/telemetry/telemetry.go
  image/templates/helm/stackrox-central/templates/99-openshift-monitoring.yaml
  image/templates/helm/stackrox-secured-cluster/templates/openshift-monitoring.yaml
  sensor/common/metrics/init.go
  sensor/common/metrics/metrics.go
Labels: area/central, area/helm, area/sensor

#7680 ROX-19008: Add scanner config and use it
  scanner/cmd/scanner/main.go
  scanner/config/config.go
  scanner/config/config_test.go
  scanner/indexer/indexer.go
  scanner/matcher/matcher.go
Labels: area/scanner

#7752 fix(plop): use the correct counters
  sensor/common/metrics/init.go
  sensor/common/metrics/metrics.go
Labels: area/sensor

#7707 ROX-19159 Added report config name to report csv name
  central/reports/common/report_formatter.go
  central/reports/scheduler/schedule.go
  central/reports/scheduler/v2/reportgenerator/report_gen.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
  central/reports/scheduler/v2/reportgenerator/singleton.go
Labels: area/central

#7764 chore(e2e): Update cypress 13.1.0 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#7540 ROX-19140: require authentication for some public endpoints
  central/auth/service/service_impl.go
  central/auth/service/service_impl_test.go
  central/development/service/service_impl.go
  central/development/service/service_impl_test.go
  central/role/service/service_impl.go
  central/role/service/service_impl_test.go
  pkg/grpc/authn/basic/identity_test_constructors.go
  pkg/grpc/authz/or/or.go
  qa-tests-backend/src/test/groovy/ReconciliationTest.groovy
Labels: area/central

#7769 fix(scan): set scanner-slim URL back to original value
  sensor/common/scannerclient/grpc_client.go
Labels: area/sensor

#7763 ROX-19530: Add conditional rendering in AuthenticationTokensSection
  ui/apps/platform/src/Containers/Integrations/IntegrationPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/APITokensTile.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/AuthenticationTokensSection.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/BackupIntegrationsSection.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/ClusterInitBundlesTile.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/ImageIntegrationsSection.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/IntegrationTile.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/IntegrationTilesPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/IntegrationsSection.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/NotifierIntegrationsSection.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/SignatureIntegrationsSection.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/integrationTiles.utils.ts
  ui/apps/platform/src/Containers/Integrations/IntegrationTilesPage/IntegrationTile.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTilesPage/IntegrationTilesPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTilesPage/IntegrationsSection.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTilesPage/index.ts
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsListPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsPage.tsx
  ui/apps/platform/src/Containers/Integrations/utils/integrationUtils.ts
  ui/apps/platform/src/Containers/Integrations/utils/integrationsList.ts
  ui/apps/platform/src/Containers/Policies/policies.utils.ts
  ui/apps/platform/src/Containers/SystemHealth/Components/BackupIntegrationHealthWidget.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/ImageIntegrationHealthWidget.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/NotifierIntegrationHealthWidget.tsx
  ui/apps/platform/src/Containers/SystemHealth/utils/integrations.ts
Labels: area/ui

#7773 fix(CI): operator build out of space
  .github/actions/cache-go-dependencies/action.yaml
Labels: area/ci

#7730 feat(ui): Add updated 'watched image' label to workload cve table
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WatchedImages/WatchedImagesModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageNameTd.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/types.ts
Labels: area/ui, epic/vm2.0/workload-cves

#7782 chore(ui): Delete unit tests from ui-components package
  ui/packages/ui-components/package.json
  ui/packages/ui-components/src/Avatar/Avatar.test.tsx
  ui/packages/ui-components/src/Button/Button.test.tsx
  ui/packages/ui-components/src/CheckboxWithLabel/CheckboxWithLabel.test.tsx
  ui/packages/ui-components/src/CondensedAlertButton/CondensedAlertButton.test.tsx
  ui/packages/ui-components/src/CondensedAlertButton/__snapshots__/CondensedAlertButton.test.tsx.snap
  ui/packages/ui-components/src/CondensedButton/CondensedButton.test.tsx
  ui/packages/ui-components/src/CondensedButton/__snapshots__/CondensedButton.test.tsx.snap
  ui/packages/ui-components/src/DetailedTooltipOverlay/DetailedTooltipOverlay.test.tsx
  ui/packages/ui-components/src/FormErrorMessage/FormErrorMessage.test.tsx
  ui/packages/ui-components/src/FormLabel/FormLabel.test.tsx
  ui/packages/ui-components/src/HelpIcon/HelpIcon.test.tsx
  ui/packages/ui-components/src/HoverHint/HoverHint.test.tsx
  ui/packages/ui-components/src/Message/Message.test.tsx
  ui/packages/ui-components/src/PrimaryButton/PrimaryButton.test.tsx
  ui/packages/ui-components/src/PrimaryButton/__snapshots__/PrimaryButton.test.tsx.snap
  ui/packages/ui-components/src/SuccessButton/SuccessButton.test.tsx
  ui/packages/ui-components/src/SuccessButton/__snapshots__/SuccessButton.test.tsx.snap
  ui/packages/ui-components/src/ToggleButtonGroup/ToggleButtonGroup.test.tsx
  ui/packages/ui-components/src/ToggleButtonGroup/__snapshots__/ToggleButtonGroup.test.tsx.snap
  ui/packages/ui-components/src/TooltipOverlay/TooltipOverlay.test.tsx
Labels: area/ui

#7756 ROX-18117: Compliance reports page
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/ComplianceStatusPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/ScanResultsOverviewTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/Widgets/ComplianceByCluster.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/Widgets/ComplianceByProfile.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/Widgets/HorizontalBarChart.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/MockData/complianceScanResultsOverview.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Reports/ComplianceReports.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Reports/ComplianceReportsClusterPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Reports/ComplianceReportsProfilePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Reports/ComplianceReportsScanPage.tsx
  ui/apps/platform/src/routePaths.ts
  ui/apps/platform/src/services/ComplianceEnhancedService.ts
Labels: area/ui, epic/compliance-2.0/mvp

#7650 ROX-19156: Infer namespace for delegated scans
  central/delegatedregistryconfig/delegator/delegator.go
  central/delegatedregistryconfig/delegator/delegator_test.go
  central/enrichment/singleton.go
  generated/internalapi/central/image.pb.go
  proto/internalapi/central/image.proto
  sensor/common/delegatedregistry/delegated_registry_handler.go
Labels: area/central, area/sensor

#7745 chore(ui): Update compliance v2 routing
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/ComplianceStatusPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/ComplianceDashboardPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/ScanResultsOverviewTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/ScanResultsToolbar.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/Widgets/ColorsForCompliance.ts
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/Widgets/ComplianceByCluster.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/Widgets/ComplianceByProfile.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/Widgets/HorizontalBarChart.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/MockData/complianceScanResultsOverview.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Reports/ComplianceReports.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Reports/ComplianceReportsClusterPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Reports/ComplianceReportsProfilePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Reports/ComplianceReportsScanPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/types.ts
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/routePaths.ts
  ui/apps/platform/src/services/ComplianceEnhancedService.ts
Labels: area/ui, epic/compliance-2.0/mvp

#7592 ROX-13802: Test RHCOS with two central pipelines together
  central/sensor/service/pipeline/nodeinventory/two_pipelines_test.go
  pkg/nodes/enricher/enricher.go
Labels: team/maple, pls-merge, area/central

#7766 ROX-9510: Require access scope ID for any role
  CHANGELOG.md
  central/group/datastore/filter/filter.go
  central/group/datastore/filter/filter_test_constructors.go
  central/role/datastore/datastore_test_constructors.go
  central/role/service/service_impl.go
  central/role/service/service_impl_test.go
  central/role/validate_test.go
Labels: area/central

#7789 fix(gosec): G601
  central/sensor/service/pipeline/nodeinventory/two_pipelines_test.go
Labels: team/maple, area/central

#7744 ROX-19337: Add watched images table to modal
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/watchedImagesFlow.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WatchedImages/WatchedImagesForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WatchedImages/WatchedImagesModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WatchedImages/WatchedImagesTable.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#7594 ROX-18480: rename feature flag
  deploy/common/env.sh
  pkg/administration/events/singleton.go
  pkg/administration/events/stream.go
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#7793 fix(ui): Swap COMPONENT->IMAGE_COMPONENT in affected components modal
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/AffectedComponents/AffectedComponentsModal.tsx
Labels: area/ui

#7595 ROX-18480: datastore implementation
  central/administration/events/datastore/datastore.go
  central/administration/events/datastore/datastore_impl.go
  central/administration/events/datastore/datastore_impl_test.go
  central/administration/events/datastore/internal/index/indexer.go
  central/administration/events/datastore/internal/index/mocks/indexer.go
  central/administration/events/datastore/internal/search/mocks/searcher.go
  central/administration/events/datastore/internal/search/searcher.go
  central/administration/events/datastore/internal/search/searcher_impl.go
  central/administration/events/datastore/internal/store/mocks/store.go
  central/administration/events/datastore/internal/store/postgres/gen.go
  central/administration/events/datastore/internal/store/postgres/index.go
  central/administration/events/datastore/internal/store/postgres/store.go
  central/administration/events/datastore/internal/store/postgres/store_test.go
  central/administration/events/datastore/internal/store/store.go
  central/administration/events/datastore/internal/writer/mocks/writer.go
  central/administration/events/datastore/internal/writer/writer.go
  central/administration/events/datastore/mocks/datastore.go
  central/administration/events/datastore/singleton.go
  pkg/administration/events/converter.go
  pkg/administration/events/event.go
  pkg/administration/events/singleton.go
  pkg/administration/events/stream.go
  pkg/logging/log_converter_impl.go
  pkg/logging/log_converter_impl_test.go
  pkg/logging/logger.go
  pkg/logging/options.go
  pkg/postgres/schema/administration_events.go
Labels: area/central, area/postgres

#7768 ROX-16600: Fix audit log layout bug in Safari
  ui/apps/platform/src/Containers/Policies/Wizard/Step2/PolicyBehaviorForm.tsx
Labels: area/ui

#7791 chore(ui): Fix lint errors before eslint-plugin-react upgrade
  ui/apps/platform/.eslintrc.js
  ui/apps/platform/src/Components/CheckboxTable.js
  ui/apps/platform/src/Components/InfoList/InfoList.js
  ui/apps/platform/src/Components/InfoList/index.js
  ui/apps/platform/src/Components/MultiSelect/MultiSelect.js
  ui/apps/platform/src/Components/MultiSelect/index.js
  ui/apps/platform/src/Components/PagerControls.js
  ui/apps/platform/src/Components/Widget/Widget.js
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopeForm.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopeFormWrapper.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionSets.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionSetsList.tsx
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/widgets/DeploymentsWithFailedPolicies.js
  ui/apps/platform/src/Containers/Login/TestLoginResultsPage.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/CveBulkActionDialogue.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/CveToPolicyShortForm.js
Labels: area/ui

#7758 ROX-19158: Add cluster parameter to roxctl image scan requests
  roxctl/deployment/check/check.go
  roxctl/image/check/check.go
  roxctl/image/scan/scan.go
Labels: area/roxctl

#7675 chore(docs): ACS API guidelines - Part 2: Decoupling
  .github/api_guidelines.md
Labels: area/ci

#7800 fix(ci): ensure errors are logged for curl
  image/rhel/download.sh
Labels: area/helm

#7599 ROX-18480: writer implementation
  central/administration/events/datastore/datastore_impl.go
  central/administration/events/datastore/datastore_impl_postgres_test.go
  central/administration/events/datastore/datastore_impl_test.go
  central/administration/events/datastore/internal/writer/writer.go
  central/administration/events/datastore/internal/writer/writer_impl.go
  pkg/administration/events/event.go
  pkg/administration/events/event_test.go
Labels: area/central

#7808 chore(ui): Update eslint-plugin-testing-library to 5.11.1
  ui/apps/platform/package.json
  ui/packages/ui-components/package.json
  ui/yarn.lock
Labels: area/ui

#7596 ROX-18480: service implementation
  central/administration/events/datastore/datastore.go
  central/administration/events/datastore/datastore_impl_postgres_test.go
  central/administration/events/service/convertor.go
  central/administration/events/service/service.go
  central/administration/events/service/service_impl.go
  central/administration/events/service/service_impl_postgres_test.go
  central/administration/events/service/service_impl_test.go
  central/administration/events/service/singleton.go
  central/main.go
  generated/storage/administration_event.pb.go
  pkg/fixtures/administration_event.go
  proto/storage/administration_event.proto
Labels: area/central

#7585 ROX-18455: NVD data updater
  .github/workflows/scanner-update-NVD-data.yaml
  .github/workflows/scripts/scanner-fetch-update-nvd.sh
Labels: area/scanner, area/ci

#7597 ROX-18480: handler implementation
  central/administration/events/handler/handler.go
  central/administration/events/handler/handler_test.go
  central/administration/events/handler/singleton.go
  central/main.go
  pkg/administration/events/stream.go
  pkg/administration/events/stream/queue.go
  pkg/administration/events/stream/singleton.go
  pkg/administration/events/stream/stream.go
  pkg/env/administration_events.go
  pkg/logging/logger.go
  pkg/logging/options.go
Labels: area/central

#7810 fix(scanner): Removed branch restriction
  .github/workflows/scanner-update-NVD-data.yaml
Labels: area/ci

#7765 ROX-19004: NVD CVSS data updating pipeline ADR
  scanner/decisions/0004-scannerv4-read-vulneralbilities.md
Labels: area/scanner

#7806 ROX-19716: Introduce DeduperState message type to MsgToSensor
  generated/internalapi/central/sensor_iservice.pb.go
  proto/internalapi/central/sensor_iservice.proto
Labels: team/maple

#7555 feat(central): add central capabilities
  central/sensor/service/connection/connection_impl.go
  central/sensor/service/pipeline/alerts/pipeline.go
  central/sensor/service/pipeline/all/pipeline.go
  central/sensor/service/pipeline/auditlogstateupdate/pipeline.go
  central/sensor/service/pipeline/clusterhealthupdate/pipeline.go
  central/sensor/service/pipeline/clustermetrics/pipeline.go
  central/sensor/service/pipeline/clusterstatusupdate/pipeline.go
  central/sensor/service/pipeline/complianceoperator/complianceoperatorinfo/pipeline.go
  central/sensor/service/pipeline/complianceoperatorprofiles/pipeline.go
  central/sensor/service/pipeline/complianceoperatorresults/pipeline.go
  central/sensor/service/pipeline/complianceoperatorrules/pipeline.go
  central/sensor/service/pipeline/complianceoperatorscans/pipeline.go
  central/sensor/service/pipeline/complianceoperatorscansettingbinding/pipeline.go
  central/sensor/service/pipeline/deploymentevents/pipeline.go
  central/sensor/service/pipeline/imageintegrations/pipeline.go
  central/sensor/service/pipeline/mocks/pipeline.go
  central/sensor/service/pipeline/namespaces/pipeline.go
  central/sensor/service/pipeline/networkflowupdate/pipeline.go
  central/sensor/service/pipeline/networkpolicies/pipeline.go
  central/sensor/service/pipeline/nodeinventory/pipeline.go
  central/sensor/service/pipeline/nodes/pipeline.go
  central/sensor/service/pipeline/pipeline.go
  central/sensor/service/pipeline/podevents/pipeline.go
  central/sensor/service/pipeline/processindicators/pipeline.go
  central/sensor/service/pipeline/processlisteningonport/pipeline.go
  central/sensor/service/pipeline/reprocessing/pipeline.go
  central/sensor/service/pipeline/rolebindings/pipeline.go
  central/sensor/service/pipeline/roles/pipeline.go
  central/sensor/service/pipeline/secrets/pipeline.go
  central/sensor/service/pipeline/serviceaccounts/pipeline.go
  central/sensor/service/service_impl.go
  generated/internalapi/central/hello.pb.go
  pkg/centralsensor/caps.go
  pkg/centralsensor/sensor_hello.go
  pkg/sliceutils/string.go
  pkg/sliceutils/string_test.go
  proto/internalapi/central/hello.proto
  sensor/common/centralcaps/caps.go
  sensor/common/sensor/central_communication_impl.go
Labels: area/central, area/sensor

#7799 ROX-19706: Add init-bundles to clusters route
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundleForm.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundleView.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundlesRoute.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundlesTable.tsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/routePaths.ts
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#7784 chore: Remove vulnerability request creation race
  central/vulnerabilityrequest/datastore/datastore.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl_benchmark_test.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl_cache_test.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl_create_req_test.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl_test.go
  central/vulnerabilityrequest/manager/requestmgr/singleton.go
  central/vulnerabilityrequest/utils/util.go
  central/vulnerabilityrequest/validator/validate.go
  pkg/testutils/verify_in_test_only.go
Labels: area/central

#7818 ROX-10345: Change registry label in ECR integration
  ui/apps/platform/cypress/integration/integrations/imageIntegrations.test.js
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/EcrIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/utils/tableColumnDescriptor.ts
Labels: area/ui

#7792 ROX-19312: Rename ROX_NAMESPACE to POD_NAMESPACE in remaining places.
  operator/tests/central/basic-central/80-assert-non-openshift.yaml
  operator/tests/central/basic-central/81-assert-non-openshift.yaml
Labels: area/operator

#7731 fix: Fix 4.2.0 stuck operator upgrade when 4.1.0 is skipped
  operator/Makefile
  operator/bundle_helpers/patch-csv.py
  operator/bundle_helpers/requirements.txt
  operator/bundle_helpers/test_patch-csv.py
Labels: area/operator

#7819 chore(e2e): Update cypress 13.2.0 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#7691 ROX-19524: add debug logs to diag bundle
  central/debug/service/diagnostics.go
  central/debug/service/service.go
Labels: area/central

#7821 ROX-19767: Auto-decline similar scoped vuln requests
  central/vulnerabilityrequest/manager/requestmgr/manager_impl.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl_cache_test.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl_create_req_test.go
  central/vulnerabilityrequest/utils/util.go
  central/vulnerabilityrequest/utils/util_test.go
Labels: area/central, epic/vm2.0/unified-deferral

#7832 chore(ui): Delete obsolete entitypages integration test
  ui/apps/platform/cypress/integration/vulnmanagement/entitypages.test.js
Labels: area/ui

#7770 ROX-19484:Added changes for custom body/subject for report email
  central/reports/scheduler/schedule.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
  central/reports/scheduler/v2/reportgenerator/singleton.go
  pkg/notifiers/email/email.go
  pkg/notifiers/mocks/report_notifier.go
  pkg/notifiers/report_notifier.go
Labels: area/central

#7801 ROX-19613: Retry http calls in roxctl
  central/scannerdefinitions/handler/handler.go
  go.mod
  go.sum
  pkg/httputil/error.go
  roxctl/central/debug/download_diagnostics.go
  roxctl/central/debug/download_diagnostics_test.go
  roxctl/common/client.go
  roxctl/scanner/uploaddb/uploaddb_test.go
Labels: area/roxctl, area/central

#7798 ROX-18486: Prune administration events
  central/administration/events/datastore/datastore.go
  central/administration/events/datastore/datastore_impl_postgres_test.go
  central/administration/events/datastore/internal/index/indexer.go
  central/administration/events/datastore/internal/search/searcher.go
  central/administration/events/datastore/internal/search/searcher_impl.go
  central/administration/events/datastore/internal/store/store.go
  central/administration/events/datastore/singleton.go
  central/config/datastore/singleton.go
  central/postgres/pruning.go
  central/postgres/pruning_test.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
  generated/api/v1/config_service.swagger.json
  generated/storage/config.pb.go
  proto/storage/config.proto
  ui/apps/platform/src/Containers/SystemConfig/Details/PrivateConfigDataRetentionDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Form/SystemConfigForm.tsx
  ui/apps/platform/src/types/config.proto.ts
Labels: area/central, area/ui

#7824 ROX-19738: Fix policy categories filter
  CHANGELOG.md
  central/detection/buildtime/detector_impl_test.go
  central/detection/utils.go
  central/detection/utils_test.go
Labels: area/central

#7833 refactor: change plop log to debug
  central/processlisteningonport/datastore/datastore_impl.go
Labels: area/central

#7812 ROX-18485: Emit administration events from reprocessor
  central/administration/events/option.go
  central/administration/events/service/converter.go
  central/image/service/service.go
  central/image/service/service_impl.go
  central/reprocessor/reprocessor.go
  go.mod
  go.sum
  pkg/logging/encoder.go
  pkg/logging/log_converter_impl.go
  pkg/logging/log_converter_impl_test.go
  pkg/logging/options.go
  scripts/ci/logcheck/allowlist-patterns
Labels: area/central

#7834 fix(ci): revert policy category PR
  CHANGELOG.md
  central/detection/buildtime/detector_impl_test.go
  central/detection/utils.go
  central/detection/utils_test.go
Labels: area/central

#7826 ROX-19729: Add label selector for secured cluster
  operator/main.go
  operator/pkg/central/reconciler/reconciler.go
  operator/pkg/common/extensions/label_selector.go
  operator/pkg/common/extensions/label_selector_test.go
  operator/pkg/securedcluster/reconciler/reconciler.go
Labels: area/operator

#7816 ROX-19344: Add deferral configuration page
  ui/apps/platform/src/Containers/DeferralConfiguration/DeferralConfigurationPage.tsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/routePaths.ts
Labels: area/ui, epic/vm2.0/unified-deferral

#7695 ROX-17298: Bump controller-runtime to 0.16
  go.mod
  go.sum
  operator/apis/platform/v1alpha1/central_webhook.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/main.go
  operator/pkg/central/extensions/common_test.go
  operator/pkg/central/extensions/reconcile_tls_test.go
  operator/pkg/central/reconciler/reconciler.go
  operator/pkg/reconciler/reconciler_factory.go
  operator/pkg/securedcluster/reconciler/reconciler.go
  operator/pkg/utils/testutils/intercept.go
  operator/pkg/utils/watch.go
  operator/tests/reconcile/mapkubeapis_test.go
  sensor/admission-control/settingswatch/k8s.go
  sensor/kubernetes/listener/namespace_patcher.go
  sensor/kubernetes/listener/resource_event_handler_impl.go
  sensor/kubernetes/listener/resource_event_handler_impl_test.go
  sensor/upgrader/common/patch_schema.go
  sensor/upgrader/common/schema_validator.go
  sensor/upgrader/preflight/schema_validation_test.go
Labels: area/operator, area/sensor, area/admission-controller

#7797 ROX-19474: Edit email subject/body template for reports
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/DeliveryDestinationsDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/EmailTemplatePreview.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/DeliveryDestinationsForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/EmailTemplateFormModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/NotifierSelection.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportParametersForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/emailTemplateFormUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/useReportFormValues.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/hooks/useEmailTemplateModal.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.ts
  ui/apps/platform/src/constants/productBranding.ts
  ui/apps/platform/src/services/ReportsService.types.ts
Labels: area/ui, epic/vm2.0/reports

#7127 feat(CI): qa e2e tests on ppc64le/s390x using midstream images
  .openshift-ci/base_qa_e2e_test.py
  .openshift-ci/ci_tests.py
  operator/Makefile
  operator/hack/common.sh
  operator/hack/olm-operator-install.sh
  operator/hack/operator-midstream.envsubst.yaml
  operator/midstream/iib.json
  qa-tests-backend/build.gradle
  qa-tests-backend/scripts/run-custom-pz.sh
  scripts/ci/jobs/ibmcloudz_qa_e2e_tests.py
  scripts/ci/jobs/powervs-qa-e2e-tests.sh
  scripts/ci/jobs/powervs_qa_e2e_tests.py
  tests/e2e/lib.sh
  tests/e2e/yaml/central-cr-midstream.envsubst.yaml
  webhookserver/chart/templates/server.yaml
Labels: ci-all-qa-tests, area/operator, do-not-merge, area/ci

#7360 ROX-14380: Increase Cypress request timeout when scanning compliance
  ui/apps/platform/cypress/helpers/request.js
  ui/apps/platform/cypress/integration/compliance/Compliance.helpers.js
  ui/apps/platform/cypress/integration/compliance/complianceDashboard.test.js
  ui/apps/platform/cypress/integration/compliance/hideScanResults.test.js
Labels: area/ui

#7825 ROX-19344: Add tabs and vuln deferral config container
  ui/apps/platform/src/Containers/DeferralConfiguration/DeferralConfigurationPage.tsx
  ui/apps/platform/src/Containers/DeferralConfiguration/VulnerabilitiesConfiguration.tsx
Labels: area/ui, epic/vm2.0/unified-deferral

#7836 ROX-19344: Add deferral config form layout
  ui/apps/platform/src/Containers/DeferralConfiguration/VulnerabilitiesConfiguration.tsx
Labels: area/ui, epic/vm2.0/unified-deferral

#7811 test(ui): Add Cypress tests for Workload CVE overview page
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadTableToolbar.tsx
Labels: area/ui

#7854 ROX-19825: Sensor panics when invalid image passed to local enricher
  sensor/common/detector/enricher.go
  sensor/common/scan/scan.go
  sensor/common/scan/scan_test.go
Labels: area/sensor

#7504 ROX-18407: add support for s390x
  .github/workflows/build.yaml
  Makefile
  image/postgres/Dockerfile
  image/postgres/download.sh
  image/rhel/Dockerfile
  image/rhel/download.sh
  make/protogen.mk
Labels: area/helm, area/postgres, area/ci

#7829 chore(ui): Write instructions how to add a route
  ui/apps/platform/README.md
Labels: area/ui

#7865 chore(codeowners): Combine data shepherds and core workflows teams
  .github/CODEOWNERS
Labels: area/ci

#7863 ROX-19824: Fix severity count selector in UI e2e test
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.js
Labels: area/ui

#7852 ROX-19819: Add flags to disable central and secured cluster reconciler
  operator/main.go
Labels: area/operator

#7848 refactor: Flip a condition for readability.
  operator/main.go
Labels: area/operator

#7849 ROX-19138: `/v1/resources` and `/v1/featureflags` authentication doc
  central/featureflags/service/service_impl.go
  central/role/service/service_impl.go
Labels: area/central

#7868 feat(ui): Expand code blocks in PatternFly ErrorBoundary
  ui/apps/platform/src/Components/PatternFly/ErrorBoundary/ErrorBoundary.tsx
  ui/apps/platform/src/Components/PatternFly/ErrorBoundary/ErrorBoundaryCodeBlock.tsx
  ui/apps/platform/src/Components/PatternFly/ErrorBoundary/ErrorBoundaryPage.css
  ui/apps/platform/src/Components/PatternFly/ErrorBoundary/ErrorBoundaryPage.tsx
  ui/apps/platform/src/Components/Widget/Widget.js
  ui/apps/platform/src/Containers/ErrorBoundary.js
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/index.tsx
Labels: area/ui

#7771 ROX-19483: Add default email subject, body and config details to emailed reports
  central/reports/common/report_formatter.go
  central/reports/scheduler/schedule.go
  central/reports/scheduler/v2/reportgenerator/consts.go
  central/reports/scheduler/v2/reportgenerator/email_formatter.go
  central/reports/scheduler/v2/reportgenerator/email_formatter_test.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
  central/reports/scheduler/v2/reportgenerator/types.go
  pkg/fixtures/report_snapshot.go
  pkg/notifiers/email/email.go
  pkg/notifiers/report_notifier.go
Labels: area/central

#7864 fix(detection): update build time policies for detection
  central/detection/buildtime/detector.go
  central/detection/buildtime/detector_impl.go
  central/detection/deploytime/detector_impl.go
  central/detection/lifecycle/manager.go
  central/detection/lifecycle/manager_impl.go
  central/detection/lifecycle/singleton.go
  central/detection/runtime/detector_impl.go
Labels: area/central

#7881 chore(events): extend / improve API
  central/administration/events/datastore/internal/store/postgres/store.go
  central/administration/events/service/service_impl.go
  central/administration/events/service/service_impl_postgres_test.go
  central/administration/events/service/service_impl_test.go
  generated/api/v1/administration_events_service.pb.go
  generated/api/v1/administration_events_service.swagger.json
  generated/storage/administration_event.pb.go
  pkg/postgres/schema/administration_events.go
  pkg/search/options.go
  proto/api/v1/administration_events_service.proto
  proto/storage/administration_event.proto
Labels: area/central, area/postgres

#7879 ROX-14483: Add operator subscription annotation
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
Labels: area/operator

#7840 ROX-19738: Fix policy categories
  CHANGELOG.md
  central/detection/buildtime/detector_impl_test.go
  central/detection/utils.go
  central/detection/utils_test.go
Labels: area/central

#7890 feat(hackathon): CI: Enhance K6 output formatting
  .github/workflows/performance-tests.yml
  tests/performance/tests/testK6Integration.js
Labels: area/ci, ci-performance-tests

#7910 fix: nil evaluation in central endpoint Helm template
  image/templates/helm/stackrox-central/templates/_central_endpoints.tpl
Labels: area/helm

#7913 feat(hackathon): Upload performance tests to Opensearch
  .github/workflows/performance-tests.yml
  tests/performance/scripts/opensearch-upload/opensearch-json-import.py
  tests/performance/scripts/opensearch-upload/requirements.txt
  tests/performance/tests/testK6Integration.js
Labels: area/ci, ci-performance-tests

#7915 feat(hackathon): debug performance tags
  .github/workflows/performance-tests.yml
Labels: area/ci, ci-performance-tests

#7837 ROX-19344: Add service for vuln deferral config
  ui/apps/platform/src/Containers/DeferralConfiguration/useVulnerabilitiesDeferralConfig.ts
  ui/apps/platform/src/services/DeferralConfigService.ts
Labels: area/ui, epic/vm2.0/unified-deferral

#7920 chore(e2e): Downgrade to cypress 12.17.4 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#7844 fix(scanner-v4-db): Fix scanner-v4-db init
  scanner/Makefile
  scanner/image/db/.gitignore
  scanner/image/db/Dockerfile
Labels: area/scanner

#7909 ROX-19860: Reduce RBAC resource requirements for routes
  ui/apps/platform/src/routePaths.ts
Labels: area/ui

#7857 ROX-17815: Bulk report deletion
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ViewVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/VulnReportsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/DeleteModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/hooks/useDeleteModal.ts
Labels: area/ui

#7924 fix(scanner): Accept args in entrypoint.sh
  scanner/image/scanner/scripts/entrypoint.sh
Labels: area/scanner

#7876 feat(qa): Add more QA tests to be executed on P/Z
  qa-tests-backend/scripts/run-custom-pz.sh
Labels: ci-all-qa-tests

#7919 feat(metrics): Add dedupe metrics to detector
  sensor/common/detector/detector.go
  sensor/common/metrics/metrics.go
Labels: team/maple, area/sensor

#7926 ROX-19873: Delete policy properties in Vulnerability Management 1.0
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cluster/VulnMgmtEntityCluster.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Namespace/VulnMgmtEntityNamespace.js
Labels: area/ui

#7935 fix(build): Get space for `-rcd` build
  .github/workflows/build.yaml
Labels: area/ci, ci-build-race-condition-debug
