Repository stackrox/stackrox, pull requests merged in 2023-01, with the labels that each got.

#4245 ROX-14102: Use downward API to get tenant ID, ignore apiserver access error
  central/telemetry/centralclient/instance_config.go
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  pkg/env/managed.go
  pkg/helm/charts/tests/centralservices/testdata/helmtest/central.test.yaml
Labels: area/central, area/helm

#4235 Telemetry: improve gRPC request details from wrapped HTTP
  central/telemetry/centralclient/interceptors.go
  central/telemetry/centralclient/interceptors_test.go
  pkg/telemetry/phonehome/interceptor.go
  pkg/telemetry/phonehome/interceptor_test.go
  pkg/telemetry/phonehome/request_params.go
  pkg/telemetry/phonehome/request_params_test.go
Labels: area/central

#4222 ROX-13272: Label JUnit test with sensor version prefix on compatibility tests
  qa-tests-backend/scripts/run-compatibility.sh
Labels: team/maple

#3931 ROX-13661: Refactor `Stopper` and use it more
  central/cve/suppress/reprocessor.go
  central/processindicator/datastore/datastore.go
  central/processindicator/datastore/datastore_impl.go
  central/processindicator/datastore/mocks/datastore.go
  central/pruning/pruning.go
  central/reports/scheduler/schedule.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl_test.go
  central/vulnerabilityrequest/manager/requestmgr/singleton.go
  compliance/collection/auditlog/auditlog.go
  compliance/collection/auditlog/auditlog_impl.go
  compliance/collection/auditlog/auditlog_impl_test.go
  pkg/concurrency/stopper.go
  pkg/concurrency/stopper_test.go
  sensor/admission-control/main.go
  sensor/admission-control/manager/evaluate_runtime.go
  sensor/admission-control/manager/manager.go
  sensor/admission-control/manager/manager_impl.go
  sensor/admission-control/service/service_test.go
  sensor/common/admissioncontroller/message_forwarder.go
  sensor/common/compliance/command_handler.go
  sensor/common/compliance/command_handler_impl.go
  sensor/common/compliance/node_inventory_handler.go
  sensor/common/compliance/node_inventory_handler_impl.go
  sensor/common/compliance/node_inventory_handler_test.go
  sensor/common/component.go
  sensor/common/detector/detector.go
  sensor/common/enforcer/enforcer.go
  sensor/common/sensor/central_communication.go
  sensor/common/sensor/central_communication_impl.go
  sensor/common/sensor/central_receiver.go
  sensor/common/sensor/central_receiver_impl.go
  sensor/common/sensor/central_sender.go
  sensor/common/sensor/central_sender_impl.go
  sensor/kubernetes/clustermetrics/cluster_metrics.go
Labels: area/central, area/sensor, area/admission-controller

#4258 Log expected event in replay tests
  sensor/debugger/k8s/fake.go
Labels: team/maple, area/sensor

#4078 ROX-10895: Ensure namespaced bindings specify cluster role correctly
  central/graphql/resolvers/generated.go
  central/rbac/service/get_subject.go
  generated/api/v1/rbac_service.swagger.json
  generated/storage/rbac.pb.go
  proto/storage/rbac.proto
  sensor/kubernetes/listener/resources/rbac/conversions.go
  sensor/kubernetes/listener/resources/rbac/dispatcher.go
  sensor/kubernetes/listener/resources/rbac/namespaced_binding.go
  sensor/kubernetes/listener/resources/rbac/namespaced_role.go
  sensor/kubernetes/listener/resources/rbac/store_impl.go
  sensor/kubernetes/listener/resources/rbac/store_impl_test.go
Labels: area/central, area/sensor

#3722 ROX-12967: Replace fake NodeScan with real NodeInventory
  CHANGELOG.md
  compliance/collection/main.go
  compliance/collection/nodeinventorizer/fake_nodeinventory.go
  compliance/collection/nodeinventorizer/nodeinventory.go
  compliance/collection/nodescanv2/nodescan.go
  compliance/collection/nodescanv2/nodescan_test.go
  image/rhel/Dockerfile.envsubst
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml
  pkg/features/list.go
Labels: ci-all-qa-tests, team/maple, area/helm

#4002 ROX-13708 Fix pagination of violating deployments in VM Policy table
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Policy/VulnMgmtEntityPolicy.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Policy/VulnMgmtPolicyOverview.js
Labels: area/ui

#4233 Dashrews/ROX-14073 nongroovy backup postgres
  central/globaldb/export/backup.go
  central/globaldb/v2backuprestore/backup/generators/dbs/postgres_version.go
  central/globaldb/v2backuprestore/formats/postgresv1/format.go
  tests/backup_test.go
Labels: area/central

#4269 ROX-14172: Fix Configmanagement UI test.
  central/compliance/checks/nist80053/check_ac_14/check.go
  central/graphql/resolvers/generated.go
  central/rbac/service/get_subject.go
  central/rbac/utils/cluster_permission_evaluator.go
  central/rbac/utils/cluster_permission_evaluator_test.go
  central/rbac/utils/common.go
  central/rbac/utils/namespace_permission_evaluator.go
  central/risk/multipliers/deployment/service_account_permissions_test.go
  central/serviceaccount/service/service_impl_test.go
  pkg/k8srbac/evaluator.go
  pkg/k8srbac/utils.go
Labels: area/central

#4270 Dashrews/revert metadata service change that breaks old sensors
  central/graphql/resolvers/generated.go
  central/metadata/service/service.go
  central/metadata/service/service_impl.go
  central/metadata/service/service_impl_test.go
  generated/api/v1/metadata_service.pb.go
  generated/api/v1/metadata_service.swagger.json
  proto/api/v1/metadata_service.proto
  scripts/ci/jobs/gke_version_compatibility_tests.py
  ui/apps/platform/src/Containers/MainPage/DatabaseUnavailableBanner.tsx
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
Labels: area/central, area/ui

#4283 Remove collection inUse flag from UI
  ui/apps/platform/cypress/integration/collections/collectionsTable.test.js
  ui/apps/platform/src/Containers/Collections/CollectionsFormPage.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTable.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.test.tsx
  ui/apps/platform/src/Containers/Collections/converter.test.ts
  ui/apps/platform/src/Containers/Collections/converter.ts
  ui/apps/platform/src/Containers/Collections/hooks/useCollection.ts
  ui/apps/platform/src/Containers/Collections/types.ts
  ui/apps/platform/src/services/CollectionsService.ts
Labels: area/ui

#4288 [ROX-14191] Pull IDs instead of full objects during cluster datastore init
  central/cluster/datastore/datastore_impl.go
Labels: area/central

#4295 ROX-14195: Resync Prefactor quick fixes for follow-up PRs
  sensor/kubernetes/eventpipeline/component/message.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/resources/deployment_store.go
Labels: team/maple, area/sensor

#4279 Remove hardcoded Postgres minor version
  .openshift-ci/build/build-main-and-bundle.sh
  image/rhel/create-bundle.sh
Labels: area/helm

#4296 ROX-14197: Resync Prefactor RBAC integration tests
  sensor/tests/resource/helper.go
  sensor/tests/resource/role/role_test.go
  sensor/tests/resource/role/yaml/nginx-binding-group.yaml
Labels: team/maple, area/sensor

#4303 Quickfix: Add lock in build deployment dependencies
  sensor/kubernetes/listener/resources/deployment_store.go
Labels: team/maple, area/sensor

#4297 [ROX-13701] Handle deployment label parsing correctly in GetLabels API
  Makefile
  central/deployment/service/service_impl.go
  central/deployment/service/service_impl_test.go
  central/search/service/service_impl.go
  pkg/search/postgres/query/map_query.go
Labels: area/central, area/postgres

#4271 ROX-13742: Add notes to node inventory
  compliance/collection/nodeinventorizer/fake_nodeinventory.go
  compliance/collection/nodeinventorizer/nodeinventory.go
Labels: area/sensor

#4272 CI: Slack on merge build failure
  .github/workflows/build.yaml
Labels: area/roxctl

#4241 ROX-13555: adding externally connected decorator to deployments
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleNode.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalGroupSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
Labels: area/ui

#4276 ROX-14176: retry protoc download
  make/github.mk
  make/protogen.mk
  operator/Makefile
Labels: area/operator

#4308 Replay tests do not wait on specific events
  sensor/debugger/k8s/fake.go
  sensor/tests/replay/replay_test.go
Labels: team/maple, area/sensor

#4323 ROX-13634 move selector package to common
  sensor/common/selector/selector.go
  sensor/common/selector/selector_test.go
  sensor/kubernetes/listener/resources/deployment_store.go
  sensor/kubernetes/listener/resources/endpoints.go
  sensor/kubernetes/listener/resources/networkpolicy.go
  sensor/kubernetes/listener/resources/port_exposure_reconciler.go
  sensor/kubernetes/listener/resources/route_test.go
  sensor/kubernetes/listener/resources/service.go
  sensor/kubernetes/listener/resources/service_store.go
Labels: team/maple, area/sensor

#4216 Remove DashboardPage file from constants folder for integration tests
  ui/apps/platform/cypress/constants/DashboardPage.js
  ui/apps/platform/cypress/helpers/main.js
Labels: area/ui

#4324 ROX-13634 resolve deployments by labels
  sensor/common/store/mocks/types.go
  sensor/common/store/resolver/resolver.go
  sensor/common/store/types.go
  sensor/kubernetes/listener/resources/deployment_store.go
  sensor/kubernetes/listener/resources/deployment_store_bench_test.go
  sensor/kubernetes/listener/resources/deployment_store_test.go
Labels: team/maple, area/sensor

#4309 Consolidate node datastores: part 1
  central/node/service/service_impl.go
  central/node/service/singleton.go
Labels: area/roxctl, area/auth, area/central, area/sensor

#4315 Consolidate node datastores: part 2
  central/graphql/resolvers/resolver.go
  central/graphql/resolvers/search.go
  central/graphql/resolvers/search_test.go
  central/node/globaldatastore/datastore.go
  central/search/service/service.go
  central/search/service/service_impl.go
  central/search/service/service_impl_test.go
Labels: area/central

#4334 Consolidate node datastores: part 3
  central/sensor/service/pipeline/nodes/pipeline.go
Labels: area/central

#4332 Fix nil pointer panic in telemetry config
  central/telemetry/centralclient/instance_config.go
Labels: area/central

#4335 Consolidate node datastores: part 4
  central/pruning/pruning.go
  central/pruning/pruning_test.go
  central/pruning/singleton.go
Labels: area/central

#4275 ROX-13740: use upstream fixed kuttl and cleanup workarounds
  operator/Makefile
  operator/tests/central/basic/20-verify-password.yaml
  operator/tests/central/basic/60-use-new-password.yaml
  operator/tests/common/delete-central-assert.yaml
  operator/tests/common/fetch-bundle.yaml
  operator/tests/common/image-pull-secrets.yaml
  operator/tests/upgrade/upgrade/20-assert.yaml
  operator/tests/upgrade/upgrade/20-upgrade-operator.yaml
Labels: area/operator

#4277 ROX-14177: Retry `go mod download`.
  operator/Dockerfile
Labels: area/operator

#4343 Use GOPROXY fallback in operator builds
  operator/Dockerfile
Labels: area/operator

#4200 Update Vuln Reporting UI to use collections instead of resource scopes
  ui/apps/platform/cypress/fixtures/collections/collections.json
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/reporting.helpers.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/reportingForm.test.js
  ui/apps/platform/src/Containers/Collections/CollectionFormModal.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsFormPage.tsx
  ui/apps/platform/src/Containers/Collections/errorUtils.ts
  ui/apps/platform/src/Containers/VulnMgmt/Reports/Components/ScopeName.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/Detail/VulnMgmtReportDetail.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/Form/CollectionSelection.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportForm.tsx
Labels: area/ui, epic/resource-collections

#4248 ROX-13900: Customize network breadcrumb triggers
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkGraphIcons.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/ClusterSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/DeploymentSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NamespaceSelector.tsx
  ui/apps/platform/src/css/trumps.css
Labels: area/ui

#4337 ROX-14239: Fix VM report search when no results returned
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportTablePage.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportTablePanel.tsx
  ui/apps/platform/src/css/trumps.css
Labels: area/ui

#4338 Show filters in Risk Acceptance even when no results
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ApprovedDeferrals/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ApprovedDeferrals/ApprovedDeferralsTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ApprovedFalsePositives/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ApprovedFalsePositives/ApprovedFalsePositivesTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/PendingApprovals/PendingApprovals.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/PendingApprovals/PendingApprovalsTable.tsx
Labels: area/ui

#4127 ROX-13912: Migrate UI unit tests
  .github/workflows/unit-tests.yaml
Labels: area/central

#4247 ROX-14108: Adding simulation frame
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/hooks/useNetworkPolicySimulator.ts
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/SimulationFrame.tsx
Labels: area/ui

#4317 Dashrews/ROX-14166 postgres version to diag bundle
  central/debug/service/service.go
  central/globaldb/postgres.go
  pkg/version/version.go
Labels: area/central, area/postgres

#4336 Update cypress 12.3.0 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#4100 [ROX-13890] Update Vuln reporting to use collections to match deployments when collections' feature flag is enabled
  central/reportconfigurations/service/service.go
  central/reportconfigurations/service/service_impl.go
  central/reportconfigurations/service/service_impl_test.go
  central/reportconfigurations/service/singleton.go
  central/reports/common/query_builder.go
  central/reports/common/query_builder_test.go
  central/reports/common/report_formatter.go
  central/reports/manager/singleton.go
  central/reports/scheduler/schedule.go
Labels: area/central, epic/resource-collections

#4352 Consolidate node datastores: part 5
  central/compliance/aggregation/aggregation.go
  central/compliance/aggregation/singleton.go
  central/compliance/manager/manager.go
  central/compliance/manager/manager_impl.go
  central/compliance/manager/singleton.go
  central/compliance/manager/test/manager_test.go
  central/cve/common/csv/handler_test.go
  central/cve/csv/handler.go
  central/cve/node/csv/handler.go
  central/node/globaldatastore/datastore.go
  central/node/globaldatastore/datastore_sac_test.go
  central/node/globaldatastore/mocks/datastore.go
Labels: area/central

#4340 ROX-12908: adding external entities/cidr block svg to network graph
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleNode.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
Labels: area/ui

#4339 ROX-12902: adding legend to network graph
  ui/apps/platform/src/Components/DescriptionListItem.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/LegendContent.tsx
Labels: area/ui

#4244 Update Violations by severity widget to use search
  ui/apps/platform/cypress/helpers/main.js
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicySeverity.test.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicySeverity.tsx
  ui/apps/platform/src/constants/severities.ts
Labels: area/ui

#4307 ROX-14217: Disable resync for RoleBindings and ClusterRoleBindings
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/kubernetes/listener/resources/rbac/binding_fetcher.go
  sensor/kubernetes/listener/resources/rbac/binding_fetcher_test.go
  sensor/kubernetes/listener/resources/rbac/dispatcher.go
  sensor/kubernetes/listener/resources/rbac/namespaced_binding.go
  sensor/kubernetes/listener/resources/rbac/store.go
  sensor/kubernetes/listener/resources/rbac/store_impl.go
  sensor/kubernetes/listener/resources/rbac/store_impl_test.go
  sensor/tests/resource/helper.go
Labels: team/maple, area/sensor

#4286 ROX-13936: Introduce ID for RHELComponents
  compliance/collection/nodeinventorizer/nodeinventory.go
  compliance/collection/nodeinventorizer/nodeinventory_test.go
Labels: team/maple

#4356 CI: Fix image integration test
  qa-tests-backend/src/main/groovy/objects/ImageIntegration.groovy
Labels: ci-all-qa-tests

#4364 Add an explicit sidebar scroll in e2e collections test
  ui/apps/platform/cypress/integration/collections/deploymentMatching.test.js
Labels: area/ui

#4363 Do not refresh collection results if a form value is empty
  ui/apps/platform/src/Containers/Collections/hooks/useDryRunConfiguration.ts
Labels: area/ui

#4365 ROX-14286: Prevent VM report form submission when no days selected
  ui/apps/platform/src/Components/PatternFly/DayPickerDropdown.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportForm.tsx
Labels: area/ui

#4348 ROX-14278: External groups side bar not showing properly
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
Labels: area/ui

#4238 ROX-13345: Enable back previously flaked test for debugging
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
Labels: ci-all-qa-tests

#4290 ROX-14179: Adjust traits message
  central/graphql/resolvers/generated.go
  generated/api/v1/auth_service.swagger.json
  generated/api/v1/authprovider_service.swagger.json
  generated/api/v1/group_service.swagger.json
  generated/storage/traits.pb.go
  proto/storage/traits.proto
Labels: area/central

#4347 Dashrews/ROX-14211 jsonpb allow unknown pkg utilities
  pkg/defaults/categories/categories.go
  pkg/defaults/policies/policies.go
  pkg/helm/config/roundtrip_test.go
  pkg/jsonutil/conversion.go
  pkg/jsonutil/conversion_test.go
  pkg/telemetry/data/central.go
Labels: area/helm

#4331 Add e2e tests for vm report config creation with collections
  ui/apps/platform/cypress/helpers/formHelpers.js
  ui/apps/platform/cypress/integration/integrations/integrations.helpers.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/reporting.helpers.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/reportingForm.test.js
  ui/apps/platform/src/Components/SelectSingle/SelectSingle.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/Form/NotifierSelection.tsx
Labels: area/ui

#4291 ROX-14181: Add traits message to proto message for declarative resources
  central/graphql/resolvers/generated.go
  generated/api/v1/role_service.swagger.json
  generated/storage/role.pb.go
  proto/storage/role.proto
Labels: area/central

#4294 ROX-14181: Add default origin to default resources
  central/role/datastore/datastore_impl.go
  central/role/datastore/singleton.go
  central/role/default.go
  central/role/default_test.go
Labels: area/central

#4266 Telemetry: get request body from request parameters
  central/telemetry/centralclient/interceptors.go
  pkg/telemetry/phonehome/client_config.go
  pkg/telemetry/phonehome/interceptor.go
  pkg/telemetry/phonehome/interceptor_test.go
  pkg/telemetry/phonehome/request_params.go
Labels: area/central

#4368 ROX-13920: Render central db node selector config
  image/templates/helm/stackrox-central/templates/01-central-12-central-db.yaml
  pkg/renderer/central_db_test.go
Labels: area/helm

#4354 ROX-13705: Use real data for CIDR block side panel
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/cidr/CidrBlockSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalGroupSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/externalEntities/ExternalEntitiesSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/namespace/NamespaceSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/networkGraphUtils.ts
  ui/apps/platform/src/types/networkFlow.proto.ts
Labels: area/ui

#4367 ROX-14313: Use real data for External entities side panel
  ui/apps/platform/src/Containers/NetworkGraph/externalEntities/ExternalEntitiesSideBar.tsx
Labels: area/ui

#4329 ROX-3635 use resolver in service and networkPolicy dispatchers
  sensor/kubernetes/eventpipeline/component/message.go
  sensor/kubernetes/eventpipeline/output/output_impl.go
  sensor/kubernetes/eventpipeline/resolver/resolver_impl.go
  sensor/kubernetes/eventpipeline/resolver/resolver_test.go
  sensor/kubernetes/listener/resources/deployment_store.go
  sensor/kubernetes/listener/resources/deployments.go
  sensor/kubernetes/listener/resources/networkpolicy.go
  sensor/kubernetes/listener/resources/networkpolicy_test.go
  sensor/kubernetes/listener/resources/route_test.go
  sensor/kubernetes/listener/resources/service.go
  sensor/tests/resource/service/service_test.go
Labels: team/maple, area/sensor

#4359 Telemetry: "Updated Identity" event to wake up the central analytics
  pkg/telemetry/phonehome/gatherer.go
  pkg/telemetry/phonehome/gatherer_test.go
Labels: area/central

#4389 Dashrews/ROX-14210 update central to ensure jsonpb unmarshal has AllowUnknownFields set to true
  central/cluster/datastore/datastore_impl_test.go
  central/externalbackups/manager/backup_from_config_manager.go
  central/notifiers/pagerduty/pagerduty.go
Labels: area/central

#4382 ROX-13344: Show real baseline flows in table with filtering
  ui/apps/platform/src/Containers/NetworkGraph/api/useFetchNetworkBaselines.ts
  ui/apps/platform/src/Containers/NetworkGraph/common/FlowsBulkActions.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/FlowsTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentBaselines.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.ts
Labels: area/ui

#4391 Dashrews/ROX-14209 update sensor to ensure jsonpb unmarshal has AllowUnknownFields set to true
  pkg/jsonutil/conversion.go
  pkg/jsonutil/conversion_test.go
  sensor/common/centralclient/client.go
  sensor/common/sensor/helmconfig/load.go
  sensor/testutils/policies.go
Labels: area/sensor

#4346 ROX-13361: RBAC deployments relationship
  sensor/kubernetes/eventpipeline/component/message.go
  sensor/kubernetes/eventpipeline/resolver/resolver_impl.go
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/kubernetes/listener/resources/rbac/dispatcher.go
  sensor/kubernetes/listener/resources/rbac/evaluator.go
  sensor/kubernetes/listener/resources/rbac/store.go
  sensor/kubernetes/listener/resources/rbac/store_impl.go
  sensor/kubernetes/listener/resources/rbac/store_impl_test.go
Labels: team/maple, area/sensor

#4366 Describe the upcoming `stable` operator channel
  CHANGELOG.md
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
Labels: area/operator

#4400 Scope plain stlying for disabled select to NG header breadcrumbs
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.css
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/css/trumps.css
Labels: area/ui

#4281 Add e2e tests for Collection permissions
  ui/apps/platform/cypress/integration/collections/Collections.helpers.js
  ui/apps/platform/cypress/integration/collections/Collections.selectors.js
  ui/apps/platform/cypress/integration/collections/permissions.test.js
Labels: area/ui

#3984 ROX-13714: Implement a new rate limited logger, and use it to log failed auth messages.
  go.mod
  go.sum
  pkg/grpc/authn/basic/extractor.go
  pkg/grpc/authn/interceptor.go
  pkg/grpc/authn/tokenbased/extractor.go
  pkg/grpc/authn/userpki/extractor.go
  pkg/logging/rate_limited_logger.go
Labels: area/ui

#4383 ROX-12898: Adding Display Options dropdown select for Network Graph
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/DisplayOptionsSelect.css
  ui/apps/platform/src/Containers/NetworkGraph/components/DisplayOptionsSelect.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/EdgeStateSelect.tsx
Labels: area/ui

#4403 ROX-13963: Third time the charm for showing banner when DB unavailable
  ui/apps/platform/src/Containers/MainPage/DatabaseBanner.tsx
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
  ui/apps/platform/src/services/DatabaseService.ts
  ui/apps/platform/src/types/databaseService.proto.ts
Labels: area/ui

#4393 Bump kustomize version to 4.5.7
  operator/Makefile
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/manifests/kustomization.yaml
Labels: area/operator

#4062 ROX-13814: s/k8s.gcr.io/registry.k8s.io/g
  CHANGELOG.md
  central/imageintegration/store/defaults.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl_create_req_test.go
  pkg/images/utils/utils_test.go
  pkg/registries/docker/docker_integration_test.go
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
  sensor/tests/replay/data/safety-net-alerts-k8s-trace.jsonl
  sensor/tests/replay/data/safety-net-resources-k8s-trace.jsonl
  ui/apps/platform/cypress/fixtures/images/vmImageOverview.json
  ui/apps/platform/src/utils/policyUtils.test.js
Labels: ci-all-qa-tests, area/central, area/ui, area/sensor, ¯\_(ツ)_/¯

#4108 ROX-12620: Deprecate Policy and VulnerabilityReports resources
  CHANGELOG.md
  central/detection/buildtime/singleton.go
  central/detection/lifecycle/manager_impl.go
  central/detection/policy_set_impl.go
  central/graphql/resolvers/resolver.go
  central/policy/datastore/datastore_impl.go
  central/policy/datastore/datastore_impl_test.go
  central/policy/search/searcher_impl.go
  central/policy/service/service_impl.go
  central/policycategory/datastore/datastore_impl.go
  central/policycategory/datastore/datastore_impl_test.go
  central/policycategory/search/searcher_impl.go
  central/policycategory/service/service_impl.go
  central/reportconfigurations/datastore/datastore.go
  central/reportconfigurations/datastore/datastore_impl.go
  central/reportconfigurations/datastore/datastore_impl_test.go
  central/reportconfigurations/service/service_impl.go
  central/reports/manager/manager_impl.go
  central/reports/service/service_impl.go
  central/reports/service/singleton.go
  central/role/datastore/singleton.go
  central/role/resources/list.go
  central/signatureintegration/datastore/datastore_impl.go
  tools/generate-helpers/pg-table-bindings/list.go
  ui/apps/platform/src/Containers/AccessControl/AccessControl.tsx
  ui/apps/platform/src/constants/accessControl.ts
Labels: area/central, area/ui, area/postgres

#4378 Do not install recomended packages
  image/postgres/Dockerfile.envsubst
  image/rhel/Dockerfile.envsubst
Labels: ci-all-qa-tests, area/helm, area/postgres

#4355 ROX-14507: Fix validation check getting skipped on missing daysOfWeek in reportConfig
  central/reportconfigurations/service/service_impl.go
  central/reportconfigurations/service/service_impl_test.go
  pkg/fixtures/report_configuration.go
Labels: area/central

#4379 Consolidate node datastores: Final part
  central/cluster/datastore/datastore.go
  central/cluster/datastore/datastore_impl.go
  central/cluster/datastore/datastore_impl_postgres_test.go
  central/cluster/datastore/datastore_impl_test.go
  central/cluster/datastore/datastore_test_constructors.go
  central/cluster/datastore/singleton.go
  central/cve/common/csv/handler_test.go
  central/cve/fetcher/manager_impl_postgres_test.go
  central/graphql/resolvers/cluster_vulnerabilities_postgres_test.go
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/compliance.go
  central/graphql/resolvers/node_components_postgres_test.go
  central/graphql/resolvers/node_vulnerabilities_postgres_test.go
  central/graphql/resolvers/resolver.go
  central/graphql/resolvers/test_setup_utils.go
  central/graphql/resolvers/vulnerabilities_v1.go
  central/graphql/resolvers/vulnerabilities_v2.go
  central/node/datastore/dackbox/datastore/datastore.go
  central/node/datastore/dackbox/datastore/datastore_impl.go
  central/node/datastore/dackbox/datastore/mocks/datastore.go
  central/node/datastore/dackbox/globaldatastore/datastore.go
  central/node/datastore/dackbox/globaldatastore/datastore_shim.go
  central/node/datastore/datastore.go
  central/node/globaldatastore/datastore.go
  central/node/globaldatastore/datastore_sac_test.go
  central/node/globaldatastore/mocks/datastore.go
  central/node/globaldatastore/singleton.go
  central/pruning/pruning_test.go
  central/risk/manager/manager.go
  central/risk/manager/singleton.go
  central/summary/service/service.go
  central/summary/service/service_impl.go
  central/summary/service/singleton.go
  central/telemetry/gatherers/cluster.go
  central/telemetry/gatherers/cluster_test.go
  central/telemetry/gatherers/node.go
  central/telemetry/gatherers/singleton.go
Labels: area/central

#4404 ROX-14346: Allowing ability to add to baseline and mark as anomalous
  ui/apps/platform/src/Containers/NetworkGraph/api/useFetchNetworkBaselines.ts
  ui/apps/platform/src/Containers/NetworkGraph/api/useModifyBaselineStatuses.ts
  ui/apps/platform/src/Containers/NetworkGraph/common/AdvancedFlowsFilter/AdvancedFlowsFilter.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/AdvancedFlowsFilter/advancedFlowsFilterUtils.test.ts
  ui/apps/platform/src/Containers/NetworkGraph/common/AdvancedFlowsFilter/advancedFlowsFilterUtils.ts
  ui/apps/platform/src/Containers/NetworkGraph/common/AdvancedFlowsFilter/types.ts
  ui/apps/platform/src/Containers/NetworkGraph/common/FlowsBulkActions.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/FlowsTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentBaselines.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/flow.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.ts
Labels: area/ui

#4376 ROX-13841,ROX-13190,ROX-7026: Preparatory changes for troubleshooting AdmissionControllerTest issues.
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/main/groovy/sampleScripts/reproROX13841.groovy
  qa-tests-backend/src/main/groovy/util/ChaosMonkey.groovy
  sensor/admission-control/main.go
Labels: ci-all-qa-tests, area/sensor, area/admission-controller

#4392 ROX-13722: [Prefactor] Do not use scanner protos in node.proto
  central/sensor/service/pipeline/nodescansv2/pipeline.go
  compliance/collection/nodeinventorizer/fake_nodeinventory.go
  compliance/collection/nodeinventorizer/nodeinventory.go
  compliance/collection/nodeinventorizer/nodeinventory_test.go
  generated/storage/node.pb.go
  proto/storage/node.proto
  proto/storage/proto.lock
  sensor/common/compliance/node_inventory_handler_test.go
Labels: area/central, area/sensor

#4326 ROX-13912: Migrate GO PG unit tests
  .github/workflows/unit-tests.yaml
Labels: area/helm, area/postgres

#4358 Groovy test changes to add multi-arch support
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/main/groovy/util/MailServer.groovy
  qa-tests-backend/src/test/groovy/AdmissionControllerTest.groovy
  qa-tests-backend/src/test/groovy/AttemptedAlertsTest.groovy
  qa-tests-backend/src/test/groovy/DeploymentEventGraphQLTest.groovy
  qa-tests-backend/src/test/groovy/DeploymentTest.groovy
  qa-tests-backend/src/test/groovy/Enforcement.groovy
  qa-tests-backend/src/test/groovy/ExternalNetworkSourcesTest.groovy
  qa-tests-backend/src/test/groovy/ImageManagementTest.groovy
  qa-tests-backend/src/test/groovy/K8sRbacTest.groovy
  qa-tests-backend/src/test/groovy/NetworkBaselineTest.groovy
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
  qa-tests-backend/src/test/groovy/NetworkSimulator.groovy
  qa-tests-backend/src/test/groovy/PaginationTest.groovy
  qa-tests-backend/src/test/groovy/RoutesTest.groovy
  qa-tests-backend/src/test/groovy/RuntimePolicyTest.groovy
  qa-tests-backend/src/test/groovy/RuntimeViolationLifecycleTest.groovy
  qa-tests-backend/src/test/groovy/SecretsTest.groovy
  qa-tests-backend/src/test/groovy/TLSChallengeTest.groovy
Labels: ci-all-qa-tests

#4396 Fix ClusterInitBundleTest and DiagnosticBundleTest tests
  qa-tests-backend/src/test/groovy/ClusterInitBundleTest.groovy
  qa-tests-backend/src/test/groovy/DiagnosticBundleTest.groovy
Labels: ci-all-qa-tests

#4357 POC to handle P/Z changes using REMOTE_CLUSTER_ARCH env variable
  qa-tests-backend/src/main/groovy/util/Env.groovy
  qa-tests-backend/src/test/groovy/AuditScrubbingTest.groovy
  qa-tests-backend/src/test/groovy/CertExpiryTest.groovy
  qa-tests-backend/src/test/groovy/CertRotationTest.groovy
  qa-tests-backend/src/test/groovy/IntegrationsSplunkViolationsTest.groovy
  qa-tests-backend/src/test/groovy/TLSChallengeTest.groovy
  qa-tests-backend/src/test/groovy/UpgradesTest.groovy
Labels: ci-all-qa-tests

#4219 Dashrews/ROX-14026 add metric to state whether central is connected to Postgres or not
  central/globaldb/metrics/metrics.go
  central/globaldb/postgres.go
  central/globaldb/postgres_test.go
  central/telemetry/gatherers/postgres.go
  pkg/postgres/pgadmin/admin_utils.go
  pkg/telemetry/data/central.go
Labels: area/central, area/postgres

#3473 Use redux thunk for handling async code
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/SystemConfig/Form/SystemConfigForm.tsx
  ui/apps/platform/src/index.tsx
  ui/apps/platform/src/reducers/featureFlags.js
  ui/apps/platform/src/reducers/systemConfig.js
  ui/apps/platform/src/sagas/featureFlagSagas.js
  ui/apps/platform/src/sagas/index.js
  ui/apps/platform/src/sagas/systemConfig.js
  ui/apps/platform/src/store/configureStore.js
  ui/yarn.lock
Labels: area/ui

#4420 [ROX-14238] Use correct indexer when running with postgres
  central/reportconfigurations/datastore/datastore.go
  central/reportconfigurations/datastore/datastore_impl_postgres_test.go
  central/reportconfigurations/datastore/datastore_impl_test.go
  central/reportconfigurations/datastore/singleton.go
Labels: area/central

#4439 Skip few qa sub-tests not applicable for P/Z
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
  qa-tests-backend/src/test/groovy/NetworkSimulator.groovy
Labels: ci-all-qa-tests

#4406 Track datastore for secured cluster creation.
  central/cluster/datastore/datastore_impl.go
  central/cluster/datastore/telemetry.go
  central/telemetry/centralclient/interceptors.go
  central/telemetry/centralclient/interceptors_test.go
Labels: area/central

#4410 ROX-14036: Emit JUnit output for operator test steps.
  .openshift-ci/ci_tests.py
  operator/hack/junit_wrap.sh
Labels: area/operator

#4418 Merge API Reference and Help Center integration tests
  ui/apps/platform/cypress/constants/Docs.js
  ui/apps/platform/cypress/integration/apiReference.test.js
  ui/apps/platform/cypress/integration/docs.test.js
  ui/apps/platform/cypress/integration/main/HelpMenu.test.js
  ui/apps/platform/src/Containers/MainPage/Header/HelpMenu.tsx
Labels: area/ui

#4407 Add "Total Secured Clusters" property
  central/cluster/datastore/telemetry.go
  central/main.go
Labels: area/central

#4413 ROX-14381: Add nodes and cpu capacity to the secured cluster identity
  central/cluster/datastore/telemetry.go
  central/sensor/service/pipeline/clustermetrics/pipeline.go
Labels: area/central

#4436 ROX-14345: Added ability to toggle alerting on baseline violations
  ui/apps/platform/src/Containers/NetworkGraph/api/useFetchNetworkBaselines.ts
  ui/apps/platform/src/Containers/NetworkGraph/api/useToggleAlertingOnBaselineViolation.ts
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentBaselines.tsx
Labels: area/ui

#4441 ROX-10298: Support new policy categories on Policy Wizard step 1
  ui/apps/platform/src/Containers/Policies/Wizard/Step1/PolicyCategoriesSelectField.tsx
  ui/apps/platform/src/Containers/PolicyManagement/PolicyManagementHeader.tsx
  ui/apps/platform/src/Containers/PolicyManagement/PolicyManagementPage.tsx
Labels: area/ui

#4442 ROX-13343: Use real data for flows tab of deployment side bar
  ui/apps/platform/src/Containers/NetworkGraph/api/useFetchNetworkFlows.ts
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/flow.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.ts
Labels: area/ui

#4305 Rework collection rule selectors to contain an explicit match type
  ui/apps/platform/cypress/integration/collections/Collections.helpers.js
  ui/apps/platform/cypress/integration/collections/collectionsCrudWorkflow.test.js
  ui/apps/platform/cypress/integration/collections/deploymentMatching.test.js
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/AutoCompleteSelect.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByLabelSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByNameSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/MatchTypeSelect.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.css
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.test.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.tsx
  ui/apps/platform/src/Containers/Collections/converter.test.ts
  ui/apps/platform/src/Containers/Collections/converter.ts
  ui/apps/platform/src/Containers/Collections/types.ts
  ui/apps/platform/src/services/CollectionsService.ts
Labels: area/ui

#4412 ROX-14253: Do not allow upgrades when Sensor version is ahead of Central for Helm based installation
  central/sensor/service/connection/upgradecontroller/register_connection.go
  central/sensor/service/connection/upgradecontroller/register_connection_test.go
Labels: area/central

#4327 ROX-13912: Migrate Go unit tests
  .github/workflows/unit-tests.yaml
  Makefile
  central/cluster/datastore/datastore_impl_test.go
  central/cluster/service/service_impl_test.go
  central/clusters/zip/render_test.go
  central/pruning/pruning_test.go
  central/scanner/handler_test.go
  compliance/collection/auditlog/auditlog_impl_test.go
  pkg/images/defaults/env.go
  pkg/images/defaults/flavor.go
  pkg/images/defaults/flavor_test.go
Labels: area/central

#4449 Encapsulate version string in HelpMenu component
  ui/apps/platform/src/Containers/MainPage/Header/HelpMenu.tsx
  ui/apps/platform/src/hooks/useMetadata.ts
  ui/apps/platform/src/types/metadataService.proto.ts
Labels: area/ui

#4460 Add scroll in Cypress test to debug collection failures
  ui/apps/platform/cypress/integration/collections/deploymentMatching.test.js
  ui/apps/platform/src/Containers/Collections/CollectionResults.tsx
  ui/apps/platform/src/hooks/usePaginatedQuery.ts
Labels: area/ui

#4453 ROX-12900: Add filter autocomplete to PR Network Graph
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.css
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NetworkSearch.css
  ui/apps/platform/src/Containers/NetworkGraph/components/NetworkSearch.tsx
Labels: area/ui

#4361 Minor UI fixes for collections
  ui/apps/platform/src/Components/PatternFly/BacklogListSelector.tsx
  ui/apps/platform/src/Containers/Collections/CollectionForm.css
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/CollectionFormDrawer.tsx
  ui/apps/platform/src/Containers/Collections/CollectionFormModal.tsx
  ui/apps/platform/src/Containers/Collections/CollectionResults.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsFormPage.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTable.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByNameSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.css
  ui/apps/platform/src/css/acs.css
  ui/apps/platform/src/css/trumps.css
Labels: area/ui

#4457 ROX-12916: Adding ports/protocols edge labels to Network Graph
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/DisplayOptionsSelect.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
  ui/apps/platform/src/images/network-graph/tcp-icon.svg
Labels: area/ui

#4395 Implement better error handling for collections form
  ui/apps/platform/cypress/integration/collections/collectionsCrudWorkflow.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/reportingForm.test.js
  ui/apps/platform/src/Containers/Collections/CollectionAttacher.tsx
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/CollectionFormModal.tsx
  ui/apps/platform/src/Containers/Collections/CollectionLoadError.tsx
  ui/apps/platform/src/Containers/Collections/CollectionResults.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsFormPage.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTable.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTablePage.tsx
Labels: area/ui

#4467 ROX-14357: Correct the No Clusters message when empty results in cluster search
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.js
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportTablePage.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ApprovedDeferrals/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ApprovedFalsePositives/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/PendingApprovals/PendingApprovals.tsx
  ui/apps/platform/src/utils/searchUtils.ts
Labels: area/ui

#4456 Add benchmark tests to node datastore
  central/cluster/datastore/datastore.go
  central/cluster/datastore/datastore_impl.go
  central/cluster/datastore/datastore_impl_test.go
  central/cluster/datastore/datastore_test_constructors.go
  central/cluster/datastore/singleton.go
  central/compliance/aggregation/aggregation.go
  central/compliance/aggregation/singleton.go
  central/compliance/manager/manager.go
  central/compliance/manager/manager_impl.go
  central/compliance/manager/singleton.go
  central/compliance/manager/test/manager_test.go
  central/cve/common/csv/handler_test.go
  central/cve/fetcher/manager_impl_postgres_test.go
  central/cve/node/datastore/singleton.go
  central/dackbox/testutils/datastore.go
  central/graphql/resolvers/loaders/nodes.go
  central/graphql/resolvers/node_vulnerabilities_postgres_test.go
  central/graphql/resolvers/resolver.go
  central/graphql/resolvers/search_test.go
  central/graphql/resolvers/test_setup_utils.go
  central/imagecomponent/search/searcher_impl_test.go
  central/node/datastore/dackbox/datastore/datastore_bench_test.go
  central/node/datastore/dackbox/datastore/mocks/datastore.go
  central/node/datastore/datastore.go
  central/node/datastore/datastore_bench_test.go
  central/node/datastore/datastore_impl.go
  central/node/datastore/datastore_impl_postgres_test.go
  central/node/datastore/datastore_impl_test.go
  central/node/datastore/datastore_sac_test.go
  central/node/datastore/keyfence/singleton.go
  central/node/datastore/mocks/datastore.go
  central/node/datastore/singleton.go
  central/node/service/service_impl.go
  central/node/service/singleton.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
  central/pruning/singleton.go
  central/reprocessor/reprocessor.go
  central/risk/datastore/datastore.go
  central/risk/manager/manager.go
  central/risk/manager/singleton.go
  central/search/service/service.go
  central/search/service/service_impl.go
  central/search/service/service_impl_test.go
  central/sensor/service/pipeline/nodes/pipeline.go
  central/summary/service/service.go
  central/summary/service/service_impl.go
  central/summary/service/singleton.go
  central/telemetry/gatherers/cluster.go
  central/telemetry/gatherers/cluster_test.go
  central/telemetry/gatherers/node.go
  central/telemetry/gatherers/singleton.go
  pkg/fixtures/image.go
  pkg/fixtures/node.go
Labels: area/central

#4471 Disable trouble collections e2e tests
  ui/apps/platform/cypress/integration/collections/deploymentMatching.test.js
Labels: pls-merge, area/ui

#4398 Switch collections table search to use an explicit submit button instead of debouncing
  ui/apps/platform/cypress/integration/collections/Collections.selectors.js
  ui/apps/platform/cypress/integration/collections/deploymentMatching.test.js
  ui/apps/platform/src/Containers/Collections/CollectionAttacher.tsx
  ui/apps/platform/src/Containers/Collections/CollectionResults.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTable.tsx
  ui/apps/platform/src/Containers/Collections/hooks/useEmbeddedCollections.ts
Labels: area/ui

#4380 Telemetry refactoring: extract adding default properties
  central/telemetry/centralclient/interceptors.go
Labels: area/central

#4321 ROX-14143,ROX-14144: Add declarative configuration settings to Helm chart.
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/declarative-configuration.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/openshift-auth.test.yaml
Labels: area/helm

#4431 ROX-14284 add resync environment variable
  pkg/env/sensor.go
  pkg/features/list.go
  sensor/kubernetes/eventpipeline/pipeline.go
  sensor/kubernetes/eventpipeline/pipeline_impl.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/resources/deployments.go
  sensor/kubernetes/listener/resources/networkpolicy.go
  sensor/kubernetes/listener/resources/networkpolicy_test.go
  sensor/kubernetes/listener/resources/rbac/dispatcher.go
  sensor/kubernetes/listener/resources/rbac/store_impl_test.go
  sensor/kubernetes/listener/resources/route_test.go
  sensor/kubernetes/listener/resources/service.go
Labels: team/maple, area/sensor

#4466 Swap collections UI autocomplete dropdowns with plain text inputs
  ui/apps/platform/cypress/integration/collections/Collections.helpers.js
  ui/apps/platform/cypress/integration/collections/collectionsCrudWorkflow.test.js
  ui/apps/platform/cypress/integration/collections/deploymentMatching.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/reportingForm.test.js
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/AutoCompleteSelect.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByLabelSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByNameSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.test.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.tsx
  ui/apps/platform/src/hooks/usePaginatedQuery.ts
  ui/apps/platform/src/services/CollectionsService.ts
Labels: area/ui

#4491 Add key prop in ApplicationLauncherGroup of HelpMenu
  ui/apps/platform/src/Containers/MainPage/Header/HelpMenu.tsx
Labels: area/ui

#4470 Network Graph PF edge performance improvement
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
Labels: area/ui

#4493 ROX-14066 Fix sorting of client side attached collection cache
  ui/apps/platform/src/Containers/Collections/hooks/useEmbeddedCollections.ts
  ui/apps/platform/src/Containers/VulnMgmt/Reports/Form/CollectionSelection.tsx
Labels: area/ui

#4483 ROX-13722: Readd nodeID to NodeInventory proto
  central/sensor/service/pipeline/all/factory.go
  central/sensor/service/pipeline/nodeinventory/pipeline.go
  compliance/collection/nodeinventorizer/fake_nodeinventory.go
  compliance/collection/nodeinventorizer/nodeinventory.go
  generated/storage/node.pb.go
  proto/storage/node.proto
  proto/storage/proto.lock
  sensor/common/compliance/node_inventory_handler_test.go
Labels: area/central, area/sensor

#4495 Reduce imports from apiEndpoints in integration tests (part 1)
  ui/apps/platform/cypress/constants/GeneralPage.js
  ui/apps/platform/cypress/constants/SystemHealth.js
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/helpers/networkGraph.js
  ui/apps/platform/cypress/helpers/systemHealth.js
  ui/apps/platform/cypress/helpers/systemHealthPatternFly.js
  ui/apps/platform/cypress/helpers/visit.js
  ui/apps/platform/cypress/integration/access.test.js
  ui/apps/platform/cypress/integration/auth.test.js
  ui/apps/platform/cypress/integration/productBranding.test.js
  ui/apps/platform/cypress/integration/systemHealth/bundle.test.js
Labels: area/ui

#4246 ROX-13629 Add delete pod/deployment integration tests
  sensor/tests/resource/helper.go
  sensor/tests/resource/pod/pod_test.go
  sensor/tests/resource/role/role_test.go
  sensor/tests/resource/service/service_test.go
Labels: team/maple, area/sensor

#4513 Fix styles in PF network graph filters
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.css
  ui/apps/platform/src/Containers/NetworkGraph/components/NetworkSearch.tsx
Labels: area/ui

#2592 ROX-12066: Policy category edge store, datastore, searcher and indexer. Policy insert and update workflows changed to process categories differently under feature flag
  central/deployment/datastore/datastore.go
  central/main.go
  central/policy/datastore/datastore.go
  central/policy/datastore/datastore_impl.go
  central/policy/datastore/datastore_impl_postgres_test.go
  central/policy/datastore/datastore_impl_test.go
  central/policy/datastore/singleton.go
  central/policy/search/searcher_impl.go
  central/policycategory/datastore/datastore.go
  central/policycategory/datastore/datastore_impl.go
  central/policycategory/datastore/datastore_impl_postgres_test.go
  central/policycategory/datastore/datastore_impl_test.go
  central/policycategory/datastore/mocks/datastore.go
  central/policycategory/datastore/singleton.go
  central/policycategory/search/searcher_impl.go
  central/policycategory/utils/utils.go
  central/policycategoryedge/datastore/datastore.go
  central/policycategoryedge/datastore/datastore_impl.go
  central/policycategoryedge/datastore/mocks/datastore.go
  central/policycategoryedge/datastore/singleton.go
  central/policycategoryedge/index/index.go
  central/policycategoryedge/search/mocks/searcher.go
  central/policycategoryedge/search/searcher.go
  central/policycategoryedge/search/searcher_impl.go
  central/policycategoryedge/store/postgres/gen.go
  central/policycategoryedge/store/postgres/index.go
  central/policycategoryedge/store/postgres/store.go
  central/policycategoryedge/store/postgres/store_test.go
  central/policycategoryedge/store/store.go
  central/search/category.go
  central/search/service/service.go
  central/search/service/service_impl.go
  central/search/service/service_impl_test.go
  generated/api/v1/search_service.pb.go
  generated/api/v1/search_service.swagger.json
  generated/storage/policy_category.pb.go
  generated/storage/relations.pb.go
  pkg/postgres/schema/policy_category_edges.go
  pkg/search/options.go
  pkg/search/policycategory/transform.go
  proto/api/v1/search_service.proto
  proto/storage/policy_category.proto
  proto/storage/relations.proto
  qa-tests-backend/src/test/groovy/DefaultPoliciesTest.groovy
  qa-tests-backend/src/test/groovy/GlobalSearch.groovy
  scripts/ci/jobs/gke_postgres_qa_e2e_tests.py
  tests/admctrl_configmap_test.go
  tests/policy_test.go
Labels: area/central, area/postgres

#4498 Track database backups and store database backup metadata
  Makefile
  central/externalbackups/manager/manager.go
  central/externalbackups/scheduler/schedule.go
  central/externalbackups/service/singleton.go
  central/globaldb/export/backup.go
  central/globaldb/handlers/http_handler.go
  central/main.go
  central/metadata/service/service.go
  central/metadata/service/service_impl.go
  central/metadata/service/service_impl_test.go
  central/resourcecollection/service/service_impl.go
  central/systeminfo/listener/listener.go
  central/systeminfo/listener/listener_test.go
  central/systeminfo/listener/singleton.go
  central/systeminfo/store/postgres/gen.go
  central/systeminfo/store/postgres/singleton.go
  central/systeminfo/store/postgres/store.go
  central/systeminfo/store/postgres/store_test.go
  central/vulnerabilityrequest/datastore/datastore_impl.go
  central/vulnerabilityrequest/utils/util.go
  generated/api/v1/metadata_service.pb.go
  generated/api/v1/metadata_service.pb.gw.go
  generated/api/v1/metadata_service.swagger.json
  generated/storage/operation_status.pb.go
  generated/storage/system_info.pb.go
  pkg/grpc/authn/util.go
  pkg/postgres/schema/system_infos.go
  proto/api/v1/metadata_service.proto
  proto/storage/operation_status.proto
  proto/storage/system_info.proto
Labels: area/central, area/postgres

#4500 ROX-14061, ROX-14277: collection deletion error message, default sorting options
  central/resourcecollection/datastore/datastore_impl.go
  central/resourcecollection/service/service_impl.go
Labels: area/central, epic/resource-collections

#4427 [ROX-14516] Standardize postgres search query parser steps
  pkg/postgres/walker/schema.go
  pkg/postgres/walker/walker.go
  pkg/search/postgres/common.go
  pkg/search/postgres/joins.go
  pkg/search/postgres/query/common.go
Labels: area/postgres

#4518 Specify toggleAriaLabel prop for Select elements in Network Graph
  ui/apps/platform/src/Containers/NetworkGraph/common/AdvancedFlowsFilter/AdvancedFlowsFilter.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/ClusterSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/DeploymentSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/DisplayOptionsSelect.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NamespaceSelector.tsx
Labels: area/ui

#4486 Postgres connection string replace UTF-8 with UTF8
  migrator/postgres/gorm/config.go
  pkg/config/config.go
  pkg/postgres/pgtest/conn/conn.go
Labels: area/postgres

#4508 ROX-14335: PVC extension should not touch PVCs that are not its target
  operator/pkg/central/extensions/common.go
  operator/pkg/central/extensions/reconcile_pvc.go
  operator/pkg/central/extensions/reconcile_pvc_test.go
  operator/tests/central/basic/10-assert.yaml
Labels: area/operator

#4502 ROX-14372: Add PF version of time window dropdown
  ui/apps/platform/src/Containers/Network/Header/TimeWindowSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/TimeWindowSelector.tsx
  ui/apps/platform/src/constants/timeWindows.ts
Labels: area/ui

#4111 ROX-13757: Workflow Administration Migration
  central/reportconfigurations/service/service_impl.go
  central/role/datastore/singleton.go
  migrator/migrations/m_169_to_m_170_collections_sac_resource_migration/migration.go
  migrator/migrations/m_169_to_m_170_collections_sac_resource_migration/migration_test.go
  migrator/migrations/m_169_to_m_170_collections_sac_resource_migration/permissionsetpostgresstore/postgres_plugin.go
  migrator/runner/all.go
  pkg/migrations/internal/seq_num.go
Labels: area/central, area/ui, epic/resource-collections

#4473 Network Graph PF: Adding reverse properties for bidirectional edges
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
Labels: area/ui

#4519 ROX-14347: Adding baseline simulation to new network graph
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/FlowsTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/FlowsTableHeaderText.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentBaselines.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentBaselinesSimulated.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/SimulateBaselinesButton.tsx
  ui/apps/platform/src/Containers/NetworkGraph/hooks/useSimulation.ts
  ui/apps/platform/src/Containers/NetworkGraph/simulation/SimulationFrame.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/getSimulation.ts
Labels: area/ui

#4523 ROX-14335: Remediate bug and verify in operator upgrade test
  operator/tests/common/upgrade-assert.envsubst.yaml
  operator/tests/upgrade/upgrade/20-upgrade-operator.yaml
Labels: area/operator

#4488 ROX-14427: set PSPs for CI to false for k8s version 1.25 and higher
  qa-tests-backend/scripts/lib.sh
  qa-tests-backend/scripts/run-compatibility.sh
  qa-tests-backend/scripts/run-part-1.sh
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  scripts/ci/clair/deploy.sh
  tests/e2e/lib.sh
Labels: ci-all-qa-tests

#4212 ROX-13689: Bump operator SDK to 1.24.1 version
  operator/Makefile
  operator/README.md
  operator/bundle.Dockerfile
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/bundle/metadata/annotations.yaml
  operator/bundle/tests/scorecard/config.yaml
  operator/config/default/kustomization.yaml
  operator/config/default/manager_auth_proxy_patch.yaml
  operator/config/scorecard-versioned/kustomization.yaml
Labels: area/operator

#4306 [ROX-13891] : Unit test vuln reports with collections
  central/graphql/resolvers/cluster_vulnerabilities_postgres_test.go
  central/graphql/resolvers/image_components_postgres_test.go
  central/graphql/resolvers/image_scan_benchmark_test.go
  central/graphql/resolvers/image_scan_test.go
  central/graphql/resolvers/image_vulnerabilities_test.go
  central/graphql/resolvers/node_components_postgres_test.go
  central/graphql/resolvers/node_vulnerabilities_postgres_test.go
  central/graphql/resolvers/test_setup_utils.go
  central/reports/common/report_formatter.go
  central/reports/scheduler/schedule.go
  central/reports/scheduler/vuln_report_collections_test.go
Labels: area/central, epic/resource-collections

#4536 Fix make go-generated-srcs
  central/policycategoryedge/store/postgres/store.go
  tools/generate-helpers/pg-table-bindings/list.go
Labels: area/central, area/postgres

#4534 ROX-14280: Revert "Describe the `stable` operator channel"
  CHANGELOG.md
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
Labels: area/operator

#2926 [ROX-12212] : Optimize node and related GraphQL resolvers; Avoid pulling full node with scan and vulns by default in node datastore
  central/graphql/resolvers/embeddedobjs/node_component_context.go
  central/graphql/resolvers/embeddedobjs/node_vuln_context.go
  central/graphql/resolvers/loaders/nodes.go
  central/graphql/resolvers/node_components.go
  central/graphql/resolvers/node_scan.go
  central/graphql/resolvers/node_scan_benchmark_test.go
  central/graphql/resolvers/node_scan_test.go
  central/graphql/resolvers/node_vulnerabilities.go
  central/graphql/resolvers/nodes.go
  central/graphql/resolvers/test_utils.go
  central/node/datastore/datastore.go
  central/node/datastore/datastore_bench_postgres_test.go
  central/node/datastore/datastore_impl.go
  central/node/datastore/datastore_impl_postgres_test.go
  central/node/datastore/mocks/datastore.go
  central/node/datastore/store/common/v2/split.go
  central/node/datastore/store/dackbox/store_impl.go
  central/node/datastore/store/mocks/store.go
  central/node/datastore/store/postgres/store.go
  central/node/datastore/store/store.go
  central/node/mappings/options.go
  pkg/fixtures/node.go
Labels: area/central

#4528 Network Graph PF edge perf improvement and refactor
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphContainer.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
Labels: area/ui

#4527 ROX-14514: Add functionality to get simulated baselines
  ui/apps/platform/src/Containers/NetworkGraph/api/useFetchSimulatedBaselines.ts
  ui/apps/platform/src/Containers/NetworkGraph/common/FlowsTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentBaselinesSimulated.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/flow.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.ts
  ui/apps/platform/src/types/networkPolicyService.ts
Labels: area/ui

#4539 Fix incorrect call to a changed function in tests
  central/graphql/resolvers/node_scan_benchmark_test.go
  central/graphql/resolvers/node_scan_test.go
Labels: area/central

#4319 ROX-13247, ROX-13248: Clair v4 scanner integration UI
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ClairV4IntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/IntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/utils/integrationsList.ts
  ui/apps/platform/src/Containers/Integrations/utils/tableColumnDescriptor.ts
  ui/apps/platform/src/types/featureFlag.ts
  ui/apps/platform/src/types/imageIntegration.proto.ts
  ui/apps/platform/src/types/integration.ts
Labels: area/ui

#4541 ROX-14555: Show extraneous flows and allowed ingress/egress flows
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphContainer.tsx
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
  ui/apps/platform/src/Containers/NetworkGraph/api/useFetchNetworkFlows.ts
  ui/apps/platform/src/Containers/NetworkGraph/common/FlowsTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.ts
Labels: area/ui

#4543 Collections UI minor fixes
  ui/apps/platform/src/Containers/Collections/CollectionForm.css
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
Labels: area/ui

#4550 ROX-12914: Network Graph PF CIDR block form
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/CIDRForm.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/CIDRFormModal.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/CIDRFormRow.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/DefaultCIDRToggle.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/cidrFormUtils.tsx
Labels: area/ui
