Repository stackrox/stackrox, pull requests merged in 2023-08, with the labels that each got.

#7194 fix(ci): handle multiple report artifacts
  .openshift-ci/post_tests.py
Labels: area/ci

#6993 ROX-9981: Refactor AllowFixedScopeCheckerCore
  central/role/sachelper/sachelper.go
  central/role/service/service_impl_test.go
  pkg/sac/allow_fixed_scopes_checker_core.go
  pkg/sac/resources/list.go
Labels: area/auth, area/central, area/scanner

#7154 test(netpol): check netpol generated output
  roxctl/connectivity-map/netpol_test.go
  roxctl/connectivity-map/testdata/minimal/output.json
  roxctl/connectivity-map/testdata/minimal/output.txt
Labels: area/roxctl

#7187 fix(ui): Don't render network graph when no namespace is selected
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
Labels: area/ui

#7199 ROX-17643: Detector Cleanup
  sensor/tests/connection/alerts/alert_test.go
  sensor/tests/connection/alerts/data/policies.json
  sensor/tests/connection/alerts/yaml/nginx.yaml
Labels: team/maple, area/sensor

#7193 ROX-17819: Allow sending a report now and generating a download
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ViewVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/VulnReportsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/useRunReport.ts
  ui/apps/platform/src/services/ReportsService.ts
  ui/apps/platform/src/services/ReportsService.types.ts
Labels: area/ui, do-not-merge/work-in-progress

#7036 ROX-17225: expose global monitoring in secured cluster
  operator/apis/platform/v1alpha1/securedcluster_types.go
  operator/apis/platform/v1alpha1/zz_generated.deepcopy.go
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/pkg/central/values/translation/translation.go
  operator/pkg/securedcluster/values/translation/translation.go
  operator/pkg/securedcluster/values/translation/translation_test.go
  operator/pkg/values/translation/translation.go
  operator/tests/securedcluster/basic-sc/40-assert.yaml
  operator/tests/securedcluster/basic-sc/40-enable-monitoring.yaml
  operator/tests/securedcluster/basic-sc/41-disable-monitoring.yaml
  operator/tests/securedcluster/basic-sc/41-errors.yaml
Labels: area/operator

#7190 chore(ui): Adjust imports from severityColors and SeverityIcons files
  ui/apps/platform/src/Components/CVEStackedPill/SeverityStackedPill.tsx
  ui/apps/platform/src/Components/PatternFly/SeverityIcons.tsx
  ui/apps/platform/src/Containers/Compliance/widgets/ComplianceByStandard.js
  ui/apps/platform/src/Containers/Compliance/widgets/VerticalBarChart.js
  ui/apps/platform/src/Containers/Compliance/widgets/VerticalClusterBar.js
  ui/apps/platform/src/Containers/Compliance/widgets/colorsForCompliance.ts
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/widgets/ComplianceByControls.js
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/widgets/PolicyViolationsBySeverity.js
  ui/apps/platform/src/Containers/Dashboard/Widgets/ImagesAtMostRiskTable.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/PolicyViolationTiles.tsx
  ui/apps/platform/src/Containers/VulnMgmt/widgets/CvesByCvssScore.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/TopRiskyEntitiesByVulnerabilities.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/SeverityCountLabels.tsx
  ui/apps/platform/src/constants/severityColors.js
  ui/apps/platform/src/constants/severityColors.ts
  ui/apps/platform/src/utils/chartUtils.ts
Labels: area/ui

#7205 chore(cleanup): remove bleve generated files
  central/alert/datastore/internal/index/gen.go
  central/alert/datastore/internal/index/indexer.go
  central/imageintegration/index/gen.go
  central/imageintegration/index/indexer.go
  central/pod/index/gen.go
  central/pod/index/indexer.go
  central/policy/index/gen.go
  central/policy/index/indexer.go
  central/policycategory/index/gen.go
  central/policycategory/index/indexer.go
  central/rbac/k8srole/internal/index/gen.go
  central/rbac/k8srole/internal/index/indexer.go
  central/rbac/k8srolebinding/internal/index/gen.go
  central/rbac/k8srolebinding/internal/index/indexer.go
  central/reportconfigurations/index/gen.go
  central/reportconfigurations/index/indexer.go
  central/risk/datastore/internal/index/gen.go
  central/risk/datastore/internal/index/indexer.go
  central/secret/internal/index/gen.go
  central/secret/internal/index/indexer.go
  central/serviceaccount/internal/index/gen.go
  central/serviceaccount/internal/index/indexer.go
  central/vulnerabilityrequest/index/gen.go
  central/vulnerabilityrequest/index/indexer.go
Labels: area/central

#7168 ROX-18275: add central_id to `rox_sensor_info`
  central/main.go
  central/metrics/info/gauge.go
  central/metrics/info/info.go
  central/sensor/service/service_impl.go
  generated/internalapi/central/hello.pb.go
  proto/internalapi/central/hello.proto
  sensor/common/centralid/centralid.go
  sensor/common/metrics/metrics.go
  sensor/common/sensor/central_communication_impl.go
Labels: area/central, area/sensor

#6979 build(dockerfile): Build Central and Central-DB for power and arm
  .github/workflows/build.yaml
  Makefile
  deploy/common/k8sbased.sh
  image/postgres/download.sh
  make/env.mk
  scripts/ci/lib.sh
  scripts/ci/pull-retag-push.sh
  scripts/ci/push-as-multiarch-manifest-list.sh
  scripts/docker-build.sh
  tools/allowed-large-files
Labels: area/helm, area/postgres, area/ci

#7219 ROX-0000: reset the exponential back-off on reconnect
  sensor/common/sensor/sensor.go
Labels: team/maple, area/sensor

#7011 ROX-17396: Enable offline behavior for process indicators
  integration-tests/mock-grpc-server/main.go
  sensor/common/admissioncontroller/alert_handler.go
  sensor/common/compliance/auditlog_manager_impl.go
  sensor/common/compliance/node_inventory_handler_impl.go
  sensor/common/component.go
  sensor/common/image/service_impl.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/processsignal/enricher.go
  sensor/common/processsignal/pipeline.go
  sensor/common/processsignal/pipeline_test.go
  sensor/common/scannerdefinitions/http_handler.go
  sensor/common/signal/pipeline.go
  sensor/common/signal/signal_service.go
  sensor/kubernetes/eventpipeline/pipeline_impl.go
Labels: team/maple, area/sensor

#7182 ROX-17324: clusterhealth offline v1
  sensor/kubernetes/clusterhealth/updater.go
  sensor/kubernetes/clusterhealth/updater_test.go
Labels: team/maple, area/sensor

#6793 refactor: extract LRU package
  pkg/logging/internal/lru/cache.go
  pkg/logging/internal/lru/expirable_lru.go
  pkg/logging/internal/lru/expirable_lru_test.go
  pkg/logging/internal/lru/list.go
  pkg/logging/internal/lru/test_expirable_lru.go
Labels: area/sensor

#7149 ROX-18250: Listen for Mirroring CRs
  sensor/debugger/k8s/k8sclient.go
  sensor/kubernetes/client/client.go
  sensor/kubernetes/fake/fake.go
  sensor/kubernetes/listener/compliance.go
  sensor/kubernetes/listener/listener_impl.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/kubernetes/listener/resources/mocks/dispatcher.go
  sensor/kubernetes/listener/resources/registrymirrorsets.go
Labels: area/sensor

#7192 ROX-18113: Create compliance by cluster widget
  ui/apps/platform/src/Containers/ComplianceEnhanced/CompliancePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Dashboard/ComplianceDashboardPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Dashboard/Widgets/ColorsForCompliance.ts
  ui/apps/platform/src/Containers/ComplianceEnhanced/Dashboard/Widgets/ComplianceByCluster.tsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
Labels: area/ui, epic/compliance-2.0/mvp

#7120 ROX-18639: Added changes for report history pruning task
  central/pruning/pruning.go
  central/pruning/pruning_test.go
  central/pruning/singleton.go
Labels: area/central, epic/vm2.0/reports

#7209 ROX-12724: Verify external source and password
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
Labels: area/helm

#7228 chore(ui): Move widget and empty widget for reuse
  ui/apps/platform/src/Components/PatternFly/WidgetCard.tsx
  ui/apps/platform/src/Components/PatternFly/WidgetErrorEmptyState.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Dashboard/Widgets/ComplianceByCluster.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/AgingImages.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ComplianceLevelsByStandard.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/DeploymentsAtMostRisk.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ImagesAtMostRisk.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicyCategory.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicySeverity.tsx
Labels: area/ui, epic/compliance-2.0/mvp

#7232 fix(builds): exclude arm64, ppc64le from -race builds
  .github/workflows/build.yaml
Labels: area/ci, ci-build-prerelease, ci-build-race-condition-debug

#7226 ROX-18770: compliance table behind flag
  central/complianceoperator/v2/checkresults/store/postgres/gen.go
  central/complianceoperator/v2/checkresults/store/postgres/store_test.go
  central/complianceoperator/v2/profiles/store/postgres/gen.go
  central/complianceoperator/v2/profiles/store/postgres/store_test.go
  central/complianceoperator/v2/rules/store/postgres/gen.go
  central/complianceoperator/v2/rules/store/postgres/store_test.go
  central/complianceoperator/v2/scans/store/postgres/gen.go
  central/complianceoperator/v2/scans/store/postgres/store_test.go
  central/complianceoperator/v2/scansettings/store/postgres/gen.go
  central/complianceoperator/v2/scansettings/store/postgres/store_test.go
  pkg/postgres/schema/compliance_operator_check_result_v2.go
  pkg/postgres/schema/compliance_operator_profile_v2.go
  pkg/postgres/schema/compliance_operator_rule_v2.go
  pkg/postgres/schema/compliance_operator_scan_setting_v2.go
  pkg/postgres/schema/compliance_operator_scan_v2.go
Labels: area/central, area/postgres, epic/compliance-2.0/mvp

#7234 ROX-18760: Rename GetReportConfigurations to ListReportConfigurations
  central/reportconfigurations/service/v2/service_impl.go
  central/reportconfigurations/service/v2/service_impl_test.go
  generated/api/v2/report_configuration_service.pb.go
  generated/api/v2/report_configuration_service.pb.gw.go
  proto/api/v2/report_configuration_service.proto
Labels: area/central, epic/vm2.0/reports

#7212 fix(operator): fix openshift-monitoring tests
  operator/tests/central/basic-central/10-assert.yaml
  operator/tests/common/delete-central-errors-cluster.envsubst.yaml
  operator/tests/common/delete-central-errors.yaml
  operator/tests/securedcluster/basic-sc/40-assert.yaml
  operator/tests/securedcluster/basic-sc/40-enable-monitoring.yaml
  operator/tests/securedcluster/basic-sc/41-disable-monitoring.yaml
  operator/tests/securedcluster/basic-sc/41-errors.yaml
Labels: area/helm, area/operator

#7223 ROX-18767: add lock in Cleanup
  sensor/common/registry/registry_store.go
  sensor/common/registry/registry_store_test.go
Labels: team/maple, area/sensor

#5854 ROX-14948: Improve rate-limited logger
  pkg/grpc/authn/basic/extractor.go
  pkg/grpc/authn/interceptor.go
  pkg/grpc/authn/tokenbased/extractor.go
  pkg/grpc/authn/userpki/extractor.go
  pkg/logging/logger.go
  pkg/logging/mocks/logger.go
  pkg/logging/rate_limited_logger.go
  pkg/logging/rate_limited_logger_test.go
Labels: area/sensor

#7248 ROX-12724: Revert "Verify external source and password"
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
Labels: area/helm

#7225 ROX-18322: Mask deployments for network graph in a deterministic way
  central/networkgraph/service/masker.go
  central/networkgraph/service/service_impl.go
  central/networkgraph/service/service_impl_test.go
Labels: area/central

#7211 ROX-17816: Add filtering and pagination to reports table
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/VulnReportsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/useFetchReports.ts
  ui/apps/platform/src/services/ReportsService.ts
Labels: area/ui, epic/vm2.0/reports

#7229 ROX-18824: size stats only for specified db when external
  central/globaldb/postgres.go
  central/telemetry/gatherers/postgres.go
Labels: area/central, area/postgres

#7222 [ROX-18761] : Remove report metadata table
  central/globalindex/mapping/mapping.go
  central/notifier/datastore/datastore.go
  central/notifier/datastore/datastore_impl.go
  central/notifier/datastore/internal/store/mocks/store.go
  central/notifier/datastore/internal/store/store.go
  central/notifier/datastore/mocks/datastore.go
  central/pruning/pruning_test.go
  central/reportconfigurations/datastore/datastore_impl_v2_test.go
  central/reportconfigurations/store/postgres/gen.go
  central/reports/metadata/datastore/datastore.go
  central/reports/metadata/datastore/datastore_impl.go
  central/reports/metadata/datastore/datastore_impl_test.go
  central/reports/metadata/datastore/index/index.go
  central/reports/metadata/datastore/mocks/datastore.go
  central/reports/metadata/datastore/search/mocks/searcher.go
  central/reports/metadata/datastore/search/searcher.go
  central/reports/metadata/datastore/search/searcher_impl.go
  central/reports/metadata/datastore/singleton.go
  central/reports/metadata/datastore/store/postgres/gen.go
  central/reports/metadata/datastore/store/postgres/index.go
  central/reports/metadata/datastore/store/postgres/store.go
  central/reports/metadata/datastore/store/postgres/store_test.go
  central/reports/scheduler/v2/reportgenerator/report_gen.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl_test.go
  central/reports/scheduler/v2/reportgenerator/singleton.go
  central/reports/scheduler/v2/reportgenerator/types.go
  central/reports/scheduler/v2/reportgenerator/validate.go
  central/reports/scheduler/v2/scheduler_impl.go
  central/reports/scheduler/v2/singleton.go
  central/reports/service/v2/convert.go
  central/reports/service/v2/service.go
  central/reports/service/v2/service_impl.go
  central/reports/service/v2/service_impl_test.go
  central/reports/service/v2/singleton.go
  central/reports/snapshot/datastore/datastore.go
  central/reports/snapshot/datastore/datastore_impl.go
  central/reports/snapshot/datastore/datastore_impl_test.go
  central/reports/snapshot/datastore/mocks/datastore.go
  central/reports/validation/validate.go
  generated/api/v2/report_service.pb.go
  generated/storage/report.pb.go
  generated/storage/report_snapshot.pb.go
  pkg/fixtures/report_metadata.go
  pkg/fixtures/report_snapshot.go
  pkg/postgres/schema/report_configurations.go
  pkg/postgres/schema/report_metadata.go
  proto/api/v2/report_service.proto
  proto/storage/report.proto
  proto/storage/report_snapshot.proto
  tools/generate-helpers/pg-table-bindings/list.go
Labels: area/central, area/postgres, epic/vm2.0/reports

#7256 fix(build): Add support for tagged builds to manifest push
  .github/workflows/build.yaml
Labels: area/ci

#7144 feat(helm): enable OpenShift monitoring by default
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-central/values-public.yaml.example.htpl
  image/templates/helm/stackrox-central/values.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/internal/defaults/30-base-config.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/values-public.yaml.example
  pkg/helm/charts/tests/centralservices/testdata/helmtest/central.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/injected-cabundle-cm.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/openshift-auth.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/openshift-autosense.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/openshift-monitoring.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/sccs.test.yaml
  pkg/helm/charts/tests/securedclusterservices/flavor/testdata/helmtest/suite.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/admission-control.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/audit-logs.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/env.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/injected-cabundle-cm.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/legacy-settings.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/openshift-monitoring.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-slim.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/sccs.test.yaml
Labels: area/helm

#7203 feat(operator): enable OpenShift monitoring by default in CRD
  operator/apis/platform/v1alpha1/central_types.go
  operator/apis/platform/v1alpha1/common_types.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
Labels: area/operator

#7195 ROX-16834: create Scanner images
  .github/workflows/build-scanner.yml
  image/rhel/static-bin/import-additional-cas
  image/rhel/static-bin/restore-all-dir-contents
  image/rhel/static-bin/save-dir-contents
  scanner/.gitignore
  scanner/.ossls.yml
  scanner/Makefile
  scanner/README.md
  scanner/cmd/scanner/main.go
  scanner/image/db/Dockerfile
  scanner/image/db/README.md
  scanner/image/db/pg_hba.conf
  scanner/image/db/postgresql.conf
  scanner/image/db/scripts/docker-entrypoint.sh
  scanner/image/scanner/.gitignore
  scanner/image/scanner/Dockerfile
  scanner/image/scanner/bin/.gitignore
  scanner/image/scanner/scripts/.gitignore
  scanner/image/scanner/scripts/entrypoint.sh
  scanner/internal/version/version.go
  scanner/tools/go.mod
  scanner/tools/go.sum
  scanner/tools/tools-import.go
  scripts/style/shellcheck_skip.txt
Labels: area/helm, area/scanner, area/ci

#7254 fix(bug): Fix authorizer with new service name
  central/reportconfigurations/service/common/authorizer.go
Labels: area/central

#7269 chore(scanner): fast shutdown scanner-db
  scanner/image/db/scripts/docker-entrypoint.sh
Labels: area/scanner

#7264 ROX-18864: Change vuln reporting feature flag to env var
  central/featureflags/service/service_impl.go
  central/globalindex/mapping/mapping.go
  central/main.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
  central/reportconfigurations/datastore/datastore_impl_postgres_test.go
  central/reportconfigurations/datastore/datastore_impl_v2_test.go
  central/reportconfigurations/service/v2/service_impl.go
  central/reportconfigurations/service/v2/service_impl_test.go
  central/reports/common/query_builder.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl_test.go
  central/reports/scheduler/v2/reportgenerator/singleton.go
  central/reports/scheduler/v2/singleton.go
  central/reports/service/v2/service.go
  central/reports/service/v2/service_impl.go
  central/reports/service/v2/service_impl_test.go
  central/reports/service/v2/singleton.go
  central/reports/snapshot/datastore/datastore.go
  central/reports/snapshot/datastore/datastore_impl_test.go
  central/reports/snapshot/datastore/search/searcher.go
  central/reports/snapshot/datastore/singleton.go
  pkg/env/vuln_report_enhancements.go
  pkg/features/list.go
  pkg/grpc/server.go
  tests/feature_flag_test.go
Labels: area/central, epic/vm2.0/reports

#7265 ROX-18757: Update GetReportHistory url path
  central/reports/service/v2/service_impl.go
  central/reports/service/v2/service_impl_test.go
  generated/api/v2/report_service.pb.go
  generated/api/v2/report_service.pb.gw.go
  proto/api/v2/report_service.proto
  ui/apps/platform/src/services/ReportsService.ts
Labels: area/central, area/ui, epic/vm2.0/reports

#7270 chore(scanner): initialize tag once in Makefile
  scanner/Makefile
Labels: area/scanner

#7274 ROX-18756: Update GetReportStatus and CancelReport URL path
  generated/api/v2/report_service.pb.go
  generated/api/v2/report_service.pb.gw.go
  pkg/env/vuln_report_enhancements.go
  pkg/env/vuln_reporting.go
  proto/api/v2/report_service.proto
  ui/apps/platform/src/services/ReportsService.ts
Labels: area/ui, epic/vm2.0/reports

#7213 ROX-18248: Store Registry Mirror Sets in Sensor mem
  sensor/common/registry/registry_store.go
  sensor/common/registry/registry_store_test.go
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/kubernetes/listener/resources/registrymirrorsets.go
  sensor/kubernetes/listener/resources/registrymirrorsets_test.go
Labels: area/sensor

#7273 fix(deps): update `helmtest`
  go.mod
  go.sum
Labels: area/sensor

#7227 ROX-18844: Fix sensor integration test harness
  sensor/tests/connection/alerts/alert_test.go
  sensor/tests/connection/connection_test.go
  sensor/tests/connection/k8sreconciliation/reconcile_test.go
  sensor/tests/helper/helper.go
  sensor/tests/resource/imagescan/imagescan_test.go
  sensor/tests/resource/networkpolicy/networkpolicy_test.go
  sensor/tests/resource/pod/pod_test.go
  sensor/tests/resource/role/role_test.go
  sensor/tests/resource/service/service_test.go
Labels: area/sensor

#7277 ROX-18900: Consolidate v2 report APIs into one service
  central/main.go
  central/pruning/pruning_test.go
  central/reportconfigurations/service/common/authorizer.go
  central/reportconfigurations/service/v2/convert.go
  central/reportconfigurations/service/v2/service.go
  central/reportconfigurations/service/v2/service_impl.go
  central/reportconfigurations/service/v2/service_impl_test.go
  central/reportconfigurations/service/v2/singleton.go
  central/reports/config/datastore/datastore.go
  central/reports/config/datastore/datastore_impl.go
  central/reports/config/datastore/datastore_impl_postgres_test.go
  central/reports/config/datastore/datastore_impl_v2_test.go
  central/reports/config/datastore/mocks/datastore.go
  central/reports/config/datastore/singleton.go
  central/reports/config/index/indexer.go
  central/reports/config/index/mocks/indexer.go
  central/reports/config/search/mocks/search.go
  central/reports/config/search/search.go
  central/reports/config/search/search_impl.go
  central/reports/config/service/service.go
  central/reports/config/service/service_impl.go
  central/reports/config/service/service_impl_postgres_test.go
  central/reports/config/service/singleton.go
  central/reports/config/service/validate.go
  central/reports/config/store/mocks/store.go
  central/reports/config/store/postgres/gen.go
  central/reports/config/store/postgres/index.go
  central/reports/config/store/postgres/store.go
  central/reports/config/store/postgres/store_test.go
  central/reports/config/store/store.go
  central/reports/manager/singleton.go
  central/reports/scheduler/schedule.go
  central/reports/scheduler/v2/reportgenerator/report_gen.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
  central/reports/scheduler/v2/reportgenerator/singleton.go
  central/reports/scheduler/v2/scheduler_impl.go
  central/reports/scheduler/v2/singleton.go
  central/reports/service/service.go
  central/reports/service/service_impl.go
  central/reports/service/singleton.go
  central/reports/service/v2/convert.go
  central/reports/service/v2/convert_test.go
  central/reports/service/v2/service.go
  central/reports/service/v2/service_impl.go
  central/reports/service/v2/service_impl_test.go
  central/reports/service/v2/singleton.go
  central/reports/service/v2/validate.go
  central/reports/snapshot/datastore/datastore_impl_test.go
  central/reports/validation/validate.go
  central/resourcecollection/service/service.go
  central/resourcecollection/service/service_impl.go
  central/resourcecollection/service/service_impl_test.go
  central/resourcecollection/service/singleton.go
  generated/api/v2/report_configuration_service.pb.go
  generated/api/v2/report_configuration_service.pb.gw.go
  generated/api/v2/report_service.pb.go
  generated/api/v2/report_service.pb.gw.go
  proto/api/v2/report_configuration_service.proto
  proto/api/v2/report_service.proto
Labels: area/central, epic/vm2.0/reports

#7263 chore(e2e): Update cypress 12.17.3 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#7272 ROX-18565: Add download report API
  central/blob/datastore/datastore.go
  central/blob/datastore/mocks/datastore.go
  central/reports/service/v2/service.go
  central/reports/service/v2/service_impl.go
  central/reports/service/v2/service_impl_test.go
  central/reports/service/v2/singleton.go
  generated/api/v2/report_service.pb.go
  generated/api/v2/report_service.pb.gw.go
  pkg/fixtures/blob.go
  proto/api/v2/report_service.proto
Labels: area/central, epic/vm2.0/reports

#7253 Changed column name to CVE Fixed In
  CHANGELOG.md
  central/reports/common/report_formatter.go
Labels: area/central

#7210 [ROX-18804] : Remove usages of report service's context from scheduler and report generator; Prevent v1 scheduler from running when v2 reporting is enabled
  central/reports/common/query_builder.go
  central/reports/manager/manager_impl.go
  central/reports/scheduler/v2/mocks/scheduler.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl_test.go
  central/reports/scheduler/v2/reportgenerator/types.go
  central/reports/scheduler/v2/scheduler.go
  central/reports/scheduler/v2/scheduler_impl.go
  central/reports/service/singleton.go
  central/reports/service/v2/service_impl.go
  central/reports/service/v2/service_impl_test.go
Labels: area/central, epic/vm2.0/reports

#7285 ROX-18566: Delete Downloadable Report API
  central/reports/service/v2/service_impl.go
  central/reports/service/v2/service_impl_test.go
  generated/api/v2/report_service.pb.go
  generated/api/v2/report_service.pb.gw.go
  proto/api/v2/report_service.proto
Labels: area/central, epic/vm2.0/reports

#7236 ROX-18686: Add missing resourceAccessRequirements in routePaths
  ui/apps/platform/cypress/helpers/visit.js
  ui/apps/platform/cypress/integration/accessControl/accessControl.helpers.js
  ui/apps/platform/cypress/integration/accessControl/accessControlAccessScopes.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlAuthProviders.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlPermissionSets.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlRoles.test.js
  ui/apps/platform/cypress/integration/collections/permissions.test.js
  ui/apps/platform/cypress/integration/credentialExpiry/credentialExpiry.test.js
  ui/apps/platform/cypress/integration/systemConfig/systemConfig.test.js
  ui/apps/platform/src/Components/NotFoundMessage/NotFoundMessage.tsx
  ui/apps/platform/src/Components/PageNotFound.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersPage.js
  ui/apps/platform/src/Containers/Clusters/ClustersSidePanel.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.js
  ui/apps/platform/src/Containers/Clusters/clustersTableColumnDescriptors.js
  ui/apps/platform/src/Containers/Dashboard/DashboardPage.tsx
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTable.tsx
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTablePage.tsx
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategoriesPage.tsx
  ui/apps/platform/src/Containers/Risk/RiskSidePanelContent.js
  ui/apps/platform/src/Containers/SystemHealth/DashboardPage.js
  ui/apps/platform/src/routePaths.ts
Labels: area/ui

#7275 ROX-16564: Added cvss score in vuln report CSV
  central/reports/common/report_formatter.go
  central/reports/scheduler/v2/reportgenerator/consts.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl_test.go
Labels: area/central, epic/vm2.0/reports

#7287 ROX-12724: Warn external DB without source or password
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
Labels: area/helm

#7068 ROX-18619: Compliance request manager interface
  central/complianceoperator/v2/compliancemanager/manager.go
  central/complianceoperator/v2/compliancemanager/manager_impl.go
  central/complianceoperator/v2/compliancemanager/singleton.go
  central/complianceoperator/v2/integration/datastore/datastore.go
  central/complianceoperator/v2/integration/datastore/datastore_impl.go
  central/complianceoperator/v2/integration/datastore/datastore_impl_test.go
  central/complianceoperator/v2/integration/datastore/mocks/datastore.go
  central/complianceoperator/v2/integration/datastore/singleton.go
  central/complianceoperator/v2/integration/store/postgres/gen.go
  central/complianceoperator/v2/integration/store/postgres/index.go
  central/complianceoperator/v2/integration/store/postgres/store.go
  central/complianceoperator/v2/integration/store/postgres/store_test.go
Labels: area/central, epic/compliance-2.0/mvp

#7301 ROX-18560: Re-add padding to NG sidebar menu td cells
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.css
Labels: area/ui

#7288 ROX-18759: Add GetMyReportHistory endpoint
  central/reports/service/v2/service_impl.go
  central/reports/service/v2/service_impl_test.go
  central/reports/snapshot/datastore/store/postgres/store.go
  generated/api/v2/report_service.pb.go
  generated/api/v2/report_service.pb.gw.go
  generated/storage/compliance_operator_v2.pb.go
  generated/storage/report_configuration.pb.go
  generated/storage/resource_collection.pb.go
  generated/storage/system_info.pb.go
  generated/storage/user.pb.go
  generated/storage/vuln_requests.pb.go
  pkg/postgres/schema/report_snapshots.go
  pkg/postgres/walker/walker.go
  pkg/search/options.go
  proto/api/v2/report_service.proto
  proto/storage/compliance_operator_v2.proto
  proto/storage/report_configuration.proto
  proto/storage/resource_collection.proto
  proto/storage/system_info.proto
  proto/storage/user.proto
  proto/storage/vuln_requests.proto
Labels: area/central, area/postgres, epic/vm2.0/reports

#7305 chore(ui): Rename net graph tests + directory
  ui/apps/platform/cypress/integration/networkGraph/networkDeploymentSidebar.test.js
  ui/apps/platform/cypress/integration/networkGraph/networkGraph.helpers.js
  ui/apps/platform/cypress/integration/networkGraph/networkGraph.selectors.js
  ui/apps/platform/cypress/integration/networkGraph/networkGraph.test.js
Labels: area/ui

#7015 ROX-18396: compliance scan setting api
  generated/api/v2/common.pb.go
  generated/api/v2/compliance_integration_service.pb.go
  generated/api/v2/compliance_integration_service.pb.gw.go
  generated/api/v2/compliance_scan_configuration_service.pb.go
  generated/api/v2/compliance_scan_configuration_service.pb.gw.go
  proto/api/v2/common.proto
  proto/api/v2/compliance_integration_service.proto
  proto/api/v2/compliance_scan_configuration_service.proto
Labels: epic/compliance-2.0/mvp

#7252 ROX-18481: Add CENTRAL_EVENTS feature flag
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#7186 chore(ui): Delete incomplete Clusters PF folder
  ui/apps/platform/src/Containers/Clusters/PF/ClustersListPage.tsx
  ui/apps/platform/src/Containers/Clusters/PF/ClustersNotFoundPage.tsx
  ui/apps/platform/src/Containers/Clusters/PF/ClustersPage.tsx
  ui/apps/platform/src/Containers/Clusters/PF/ClustersTable/AutoUpgradeToggle.tsx
  ui/apps/platform/src/Containers/Clusters/PF/ClustersTable/ClustersTable.tsx
  ui/apps/platform/src/Containers/Clusters/PF/ClustersTable/index.ts
Labels: area/ui

#7315 Fix blob path id generation in report service to match the path generated by report generator
  central/reports/common/blob.go
  central/reports/service/v2/service_impl.go
  central/reports/service/v2/service_impl_test.go
Labels: area/central, epic/vm2.0/reports

#6923 ROX-18234: Align scope check behaviour for cluster-scoped resources
  central/cluster/datastore/datastore_sac_test.go
  central/cluster/store/cluster/postgres/store_test.go
  central/clustercveedge/datastoretest/datastore_sac_test.go
  central/compliance/datastore/internal/store/postgres/metadata/store_test.go
  central/compliance/datastore/internal/store/postgres/results/store_test.go
  central/compliance/manager/manager_impl.go
  central/cve/cluster/datastoretest/datastore_sac_test.go
  central/cve/datastoretest/datastore_sac_test.go
  central/imagecomponent/datastoretest/datastore_sac_test.go
  central/node/datastore/datastore_sac_test.go
  central/nodecomponentcveedge/datastore/datastore_sac_test.go
  central/nodecomponentedge/datastore/datastore_sac_test.go
  central/sac/authorizer/builtin_scoped_authorizer.go
  central/sac/authorizer/builtin_scoped_authorizer_test.go
  pkg/sac/allow_fixed_scopes_checker_core.go
  pkg/sac/query_helper.go
  pkg/sac/query_helper_test.go
  pkg/sac/resources/list.go
  pkg/sac/scope_checker_core.go
  pkg/sac/scope_key.go
  pkg/sac/search_helper_test.go
  pkg/sac/test_scope_checker_core.go
  pkg/sac/tests/allow_fixed_scopes_checker_core_test.go
  pkg/sac/testutils/crud_test_cases.go
  qa-tests-backend/src/test/groovy/SACTest.groovy
  tools/generate-helpers/pg-table-bindings/list.go
  tools/generate-helpers/pg-table-bindings/resource_type_test.go
  tools/generate-helpers/pg-table-bindings/store_test.go.tpl
Labels: area/auth, area/central, area/postgres

#7279 feat(operator): Add skip-tls-verify flag for opm render
  operator/hack/build-index-image.sh
Labels: area/operator

#7224 ROX-16549: Add metric for NodeInventory [N]ACKs
  compliance/collection/compliance/compliance.go
  compliance/collection/compliance/node_scanner.go
  compliance/collection/metrics/metrics.go
  pkg/metrics/subsystems.go
  sensor/common/compliance/auditlog_manager_test.go
  sensor/common/compliance/node_inventory_handler_impl.go
  sensor/common/detector/metrics/metrics.go
Labels: area/helm, area/sensor

#7320 fix(gha): Increase timeout waiting for Quay images for RCs to 60m
  .github/workflows/cut-rc.yml
Labels: area/ci

#7310 ROX-18609: Introduce ClusterHealthResponse
  central/sensor/service/pipeline/clusterhealthupdate/pipeline.go
  generated/internalapi/central/cluster_status.pb.go
  generated/internalapi/central/sensor_iservice.pb.go
  proto/internalapi/central/cluster_status.proto
  proto/internalapi/central/sensor_iservice.proto
Labels: area/central

#7220 ROX-17326: Add context to detector
  sensor/common/detector/detector.go
  sensor/common/detector/enricher.go
  sensor/common/detector/mocks/detector.go
  sensor/common/processsignal/pipeline.go
  sensor/common/processsignal/pipeline_test.go
  sensor/common/sensor/central_communication_impl.go
  sensor/kubernetes/eventpipeline/output/output_impl.go
  sensor/kubernetes/eventpipeline/pipeline_impl.go
  sensor/kubernetes/eventpipeline/pipeline_test.go
Labels: team/maple, area/sensor

#7321 fix(ui): sort feature flags alphabetically
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#7297 ROX-18918: Add clarifying comments for the webhook kustomization
  operator/config/default/kustomization.yaml
  operator/config/default/manager_webhook_patch.yaml
  operator/config/manifests/kustomization.yaml
Labels: area/operator

#7178 ROX-17319: Handle offline mode for collector driver downloads
  central/probeupload/manager/manager.go
  pkg/probeupload/server_handler.go
  pkg/probeupload/server_handler_test.go
  sensor/common/component.go
  sensor/common/sensor/notifiable.go
  sensor/common/sensor/sensor.go
Labels: area/central, area/sensor

#7308 ROX-17689: Move policy error definitions to datastore from bolt store
  central/policy/datastore/datastore_impl.go
  central/policy/datastore/datastore_impl_test.go
  central/policy/store/boltdb/store.go
Labels: area/central

#7157 ROX-18185: Add scope of netpol generation to simulator side panel
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPoliciesGenerationScope.css
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPoliciesGenerationScope.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/simulatorUtils.ts
Labels: pls-merge, area/ui

#7331 Revert "ROX-17319: Handle offline mode for collector driver downloads"
  central/probeupload/manager/manager.go
  pkg/probeupload/server_handler.go
  pkg/probeupload/server_handler_test.go
  sensor/common/component.go
  sensor/common/sensor/notifiable.go
  sensor/common/sensor/sensor.go
Labels: area/central, area/sensor

#7348 ROX-13192: let finish-release bump infra demo versions
  .github/workflows/finish-release.yml
Labels: area/ci

#7319 ROX-18937: Fix metrics exposure for Compliance and NodeInv.
  compliance/collection/compliance/compliance.go
  compliance/collection/compliance/node_scanner.go
  pkg/metrics/subsystems.go
Labels: area/helm, turbo-build

#7324 ROX-16861: Test Sensor's RHCOS functions
  pkg/centralsensor/caps_list.go
  sensor/common/compliance/node_inventory_handler_impl.go
  sensor/common/compliance/node_inventory_handler_test.go
Labels: area/sensor

#7162 ROX-18467: Show scoped deployments in network policy simulator modal
  ui/apps/platform/src/Containers/NetworkGraph/simulation/DeploymentScopeModal.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPoliciesGenerationScope.tsx
Labels: area/ui

#7334 ROX-18886: Add conditional RBAC in Configuration Management
  ui/apps/platform/cypress/integration/configmanagement/dashboard.test.js
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/Page.js
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/widgets/ComplianceByControls.js
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/widgets/PolicyViolationsBySeverity.js
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/widgets/SecretsMostUsedAcrossDeployments.js
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/widgets/UsersWithMostClusterAdminRoles.js
  ui/apps/platform/src/Containers/ConfigManagement/Entity/Policy/Policy.js
Labels: area/ui

#7337 Fill pagination for parsed report history queries
  central/reports/service/v2/service_impl.go
Labels: area/central, epic/vm2.0/reports

#7330 ROX-18867: Add conditional RBAC in Compliance 1.0
  ui/apps/platform/src/Containers/Compliance/Dashboard/ComplianceDashboardPage.tsx
  ui/apps/platform/src/Containers/Compliance/Entity/Header.js
  ui/apps/platform/src/Containers/Compliance/List/Header.js
Labels: area/ui

#7333 fix(ui): Add traditional pagination to listening endpoints page
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsPage.tsx
  ui/apps/platform/src/Containers/Risk/RiskTablePanel.js
  ui/apps/platform/src/services/DeploymentsService.ts
Labels: area/ui

#7291 ROX-18868: Reports list UX changes
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/RunHistory.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/HelpIconTh.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/LastRunState.test.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/LastRunState.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/MyActiveJobStatus.test.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/MyActiveJobStatus.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/VulnReportsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/useFetchReportHistory.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/useFetchReports.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/types.ts
  ui/apps/platform/src/services/ReportsService.ts
Labels: area/ui, epic/vm2.0/reports

#7361 ROX-18956: Generate empty report to download in case of no cve found
  central/reports/common/report_formatter.go
  central/reports/scheduler/schedule.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl_test.go
Labels: area/central, epic/vm2.0/reports

#7290 feat: Report jobs UX changes
  ui/apps/platform/src/Components/PatternFly/CheckboxSelect.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/JobDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobStatus.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/RunHistory.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ViewVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/apiUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/useFetchReports.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/ReportParametersDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.ts
  ui/apps/platform/src/services/ReportsService.types.ts
Labels: area/ui, epic/vm2.0/reports

#7278 ROX-17298: Bump controller-runtime to 0.15
  go.mod
  go.sum
  operator/apis/platform/v1alpha1/central_webhook.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/main.go
  operator/pkg/central/extensions/common_test.go
  operator/pkg/central/extensions/reconcile_tls_test.go
  operator/pkg/central/reconciler/reconciler.go
  operator/pkg/reconciler/reconciler_factory.go
  operator/pkg/securedcluster/reconciler/reconciler.go
  operator/pkg/utils/testutils/intercept.go
  operator/pkg/utils/watch.go
  sensor/admission-control/settingswatch/k8s.go
  sensor/kubernetes/listener/namespace_patcher.go
  sensor/kubernetes/listener/resource_event_handler_impl.go
  sensor/kubernetes/listener/resource_event_handler_impl_test.go
  sensor/upgrader/common/schema_validator.go
Labels: area/operator, area/sensor, area/admission-controller

#7349 ROX-17319: Handle offline mode for collector driver downloads (fixed)
  central/probeupload/manager/manager.go
  pkg/probeupload/server_handler.go
  pkg/probeupload/server_handler_test.go
  sensor/common/component.go
  sensor/common/scannerdefinitions/http_handler.go
  sensor/common/sensor/notifiable.go
  sensor/common/sensor/sensor.go
Labels: area/central, area/sensor

#7350 ROX-18747: Enable prevent sensor restart feature flag
  pkg/features/list.go
  sensor/tests/connection/connection_test.go
Labels: team/maple, area/sensor

#7327 refactor(test): use real standards.Repository implementation
  central/compliance/aggregation/aggregation_test.go
Labels: area/central

#7230 chore(lint): trailing whitespaces
  .github/workflows/style.yaml
Labels: area/ci

#7352 ROX-17647: Use kubernetes timeouts for gRPC
  pkg/env/sensor.go
Labels: team/maple

#7328 ROX-17414: remove duplicated existence check
  central/compliance/aggregation/aggregation.go
Labels: area/central

#7355 fix(ui): Add useTimeout hook and apply to CIDR modal
  ui/apps/platform/src/Containers/NetworkGraph/components/CIDRFormModal.tsx
  ui/apps/platform/src/hooks/useTimeout.test.ts
  ui/apps/platform/src/hooks/useTimeout.ts
Labels: area/ui

#7357 ROX-18989: Move download report to custom route
  central/main.go
  central/reports/handler/download.go
  central/reports/handler/download_test.go
  central/reports/handler/route.go
  central/reports/service/v2/service_impl.go
  central/reports/service/v2/service_impl_test.go
  generated/api/v2/report_service.pb.go
  generated/api/v2/report_service.pb.gw.go
  proto/api/v2/report_service.proto
Labels: area/central, epic/vm2.0/reports

#7237 ROX-18395: compliance check results api
  generated/api/v2/compliance_results_service.pb.go
  generated/api/v2/compliance_results_service.pb.gw.go
  generated/storage/compliance_operator_v2.pb.go
  pkg/postgres/schema/compliance_operator_check_result_v2.go
  pkg/postgres/schema/compliance_operator_rule_v2.go
  proto/api/v2/compliance_results_service.proto
  proto/storage/compliance_operator_v2.proto
Labels: area/postgres, epic/compliance-2.0/mvp

#7344 feat(search): Add capability to run time range query
  pkg/search/postgres/index_test.go
  pkg/search/postgres/query/time_query.go
  pkg/search/postgres/query/time_query_test.go
  pkg/search/query_builder.go
Labels: area/postgres

#7362 ROX-18887: Add conditional RBAC in Vulnerability Management 1.0
  ui/apps/platform/cypress/integration/vulnmanagement/VulnerabilityManagement.selectors.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/VulnMgmtListCves.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Images/VulnMgmtListImages.js
Labels: area/ui

#7367 [ROX-18805] Report history pruning (final)
  central/postgres/pruning.go
  central/postgres/report_pruning_test.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
  generated/storage/report_snapshot.pb.go
  proto/storage/report_snapshot.proto
Labels: area/central, epic/vm2.0/reports

#7391 Remove not needed API
  central/reports/service/v2/service_impl.go
  generated/api/v2/report_service.pb.go
  generated/api/v2/report_service.pb.gw.go
  proto/api/v2/report_service.proto
Labels: area/central, epic/vm2.0/reports

#7336 ROX-17868: System config vuln report history retention
  ui/apps/platform/src/Containers/SystemConfig/Details/PrivateConfigDataRetentionDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Form/SystemConfigForm.tsx
  ui/apps/platform/src/types/config.proto.ts
Labels: area/ui, epic/vm2.0/reports

#7380 refactor(GHA): refactor cut-rc cluster creation to shared workflow
  .github/workflows/create-clusters.yml
  .github/workflows/cut-rc.yml
Labels: area/ci

#7200 ROX-17322: ignore scrape updates
  sensor/common/compliance/command_handler.go
  sensor/common/compliance/command_handler_impl.go
  sensor/common/compliance/command_handler_test.go
  sensor/common/compliance/mocks/service.go
  sensor/common/compliance/service.go
Labels: team/maple, area/sensor, do-not-merge/work-in-progress

#7332 test(ui): Add e2e test for network graph scope, filtering, cidr blocks
  ui/apps/platform/cypress/integration/networkGraph/networkGraph.helpers.js
  ui/apps/platform/cypress/integration/networkGraph/networkGraph.selectors.js
  ui/apps/platform/cypress/integration/networkGraph/networkGraph.test.js
  ui/apps/platform/src/Containers/NetworkGraph/components/CIDRFormRow.tsx
Labels: area/ui

#7363 feat(ui): Display listening endpoint count in table
  ui/apps/platform/cypress/integration/listeningEndpoints/listeningEndpointsTable.test.js
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsPage.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsTable.tsx
  ui/apps/platform/src/hooks/useSet.ts
Labels: area/ui

#7381 ROX-18991: Add conditional RBAC in main dashboard
  ui/apps/platform/src/Containers/Dashboard/DashboardPage.tsx
Labels: area/ui

#7412 fix(ci): handle the tag before the `-rcd`
  .github/workflows/build.yaml
Labels: area/ci

#7394 chore(cleanup): Audit panic usage and be more lenient
  central/cluster/datastore/datastore_test_constructors.go
  central/detection/buildtime/singleton.go
  central/graphql/resolvers/search_test.go
  central/imageintegration/datastore/singleton.go
  central/policy/datastore/singleton.go
  central/postgres/report_pruning_test.go
  central/pruning/pruning_test.go
  central/rbac/k8srolebinding/datastore/datastore.go
  central/rbac/k8srolebinding/datastore/datastore_sac_test.go
  central/rbac/k8srolebinding/datastore/singleton.go
  central/rbac/utils/cluster_permission_evaluator_test.go
  central/rbac/utils/namespace_permission_evaluator_test.go
  central/reports/config/datastore/datastore.go
  central/reports/config/datastore/datastore_impl_postgres_test.go
  central/reports/config/datastore/datastore_impl_v2_test.go
  central/reports/config/datastore/singleton.go
  central/reports/snapshot/datastore/datastore_impl_test.go
  central/resourcecollection/service/service_impl_test.go
Labels: area/central

#7370 ROX-18806: Add foreign key constraint on new notifier id field in report configuration
  Makefile
  central/notifier/datastore/datastore.go
  central/reports/config/datastore/datastore_impl_postgres_test.go
  central/reports/config/datastore/datastore_impl_v2_test.go
  central/reports/config/service/service_impl_postgres_test.go
  central/reports/config/store/postgres/gen.go
  central/reports/config/store/postgres/store.go
  central/reports/service/v2/convert.go
  central/reports/service/v2/convert_test.go
  central/reports/service/v2/service_impl_test.go
  central/reports/snapshot/datastore/datastore_impl_test.go
  central/reports/validation/validate.go
  generated/api/v1/report_configuration_service.swagger.json
  generated/storage/report_configuration.pb.go
  pkg/fixtures/report_configuration.go
  pkg/postgres/schema/report_configurations.go
  proto/storage/report_configuration.proto
Labels: area/central, area/postgres, epic/vm2.0/reports

#7404 ROX-18892: Fix Network Baseline timeout in JUnit
  qa-tests-backend/src/test/groovy/NetworkBaselineTest.groovy
Labels: ci-all-qa-tests, team/maple

#7375 ROX-17192: Update np-guard/netpol-analyzer to v0.4.3
  go.mod
  go.sum
  roxctl/connectivity-map/cta.go
  tests/roxctl/bats-tests/local/roxctl-connectivity-map-development.bats
  tests/roxctl/bats-tests/local/roxctl-connectivity-map-release.bats
Labels: needs-ok-to-test, external-contributor

#7426 fix(style): remove trailing whitespace
  pkg/defaults/policies/mitre_exception_list
  roxctl/connectivity-map/README.md
  roxctl/connectivity-map/testdata/acs-security-demos/acs_netpols.yaml
  roxctl/connectivity-map/testdata/acs-security-demos/frontend/asset-cache/deployment.yaml
  roxctl/connectivity-map/testdata/acs-security-demos/frontend/asset-cache/route.yaml
  roxctl/connectivity-map/testdata/acs-security-demos/frontend/webapp/route.yaml
  tests/roxctl/bats-tests/local/roxctl-connectivity-map-development.bats
  tests/roxctl/bats-tests/local/roxctl-connectivity-map-release.bats
  tests/roxctl/bats-tests/test-data/np-guard/irrelevant-oc-resource-example/irrelevant_oc_resource.yaml
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPoliciesGenerationScope.css
Labels: area/roxctl, area/ui

#7247 ROX-18838: discard unused Docker socket mount in Collector container
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml
Labels: ci-helm-deploy, area/helm

#7296 feat(metrics): separate info metric into telemetry gauges for Central
  central/main.go
  central/metrics/info/gauge.go
  central/metrics/info/info.go
  central/metrics/info/mocks/info.go
  central/metrics/telemetry/cache.go
  central/metrics/telemetry/cache_test.go
  central/metrics/telemetry/gauges.go
  central/metrics/telemetry/mocks/telemetry.go
  central/metrics/telemetry/telemetry.go
  central/sensor/service/pipeline/clustermetrics/pipeline.go
  central/sensor/service/pipeline/clustermetrics/pipeline_test.go
  central/sensor/service/service_impl.go
Labels: area/central, area/ui, area/sensor

#7389 fix: Apply stackrox-central-diagnostics role in ACSCS
  image/templates/helm/stackrox-central/templates/01-central-03-diagnostics-rbac.yaml
Labels: area/helm

#7298 feat(metrics): separate info metric into telemetry gauges for Sensor
  sensor/common/metrics/init.go
  sensor/common/metrics/metrics.go
  sensor/kubernetes/clustermetrics/cluster_metrics.go
Labels: area/central, area/sensor

#7077 ROX-18605: Implement create index report
  scanner/cmd/scanner/main.go
  scanner/cmd/scannerctl/main.go
  scanner/indexer/indexer.go
  scanner/indexer/indexer_test.go
  scanner/indexer/mocks/indexer.go
  scanner/indexer/options.go
  scanner/indexer/service.go
  scanner/matcher/matcher.go
  scanner/services/indexer.go
  scanner/services/indexer_test.go
  scanner/services/matcher.go
Labels: area/scanner

#7241 feat(metrics): buildinfo labels
  central/metrics/telemetry/gauges.go
  pkg/metrics/util.go
  sensor/common/metrics/metrics.go
Labels: area/central, area/sensor

#7397 Refactor collection datastore to make its usage in tests easier
  central/reports/scheduler/vuln_report_collections_test.go
  central/resourcecollection/datastore/datastore.go
  central/resourcecollection/datastore/datastore_bench_postgres_test.go
  central/resourcecollection/datastore/datastore_impl.go
  central/resourcecollection/datastore/datastore_impl_postgres_test.go
  central/resourcecollection/datastore/mocks/datastore.go
  central/resourcecollection/service/service_impl.go
  central/resourcecollection/service/service_impl_test.go
Labels: area/central

#7417 ROX-19072: Minimize conditional RBAC in MainPage
  ui/apps/platform/cypress/helpers/main.js
  ui/apps/platform/cypress/integration/clusters/redirectFromDashboard.test.js
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
Labels: area/ui

#7181 ROX-18276: Drop unneeded labels from telemeter metric
  image/templates/helm/stackrox-central/templates/99-openshift-monitoring.yaml
  image/templates/helm/stackrox-secured-cluster/templates/openshift-monitoring.yaml
Labels: area/helm, area/sensor

#7433 ROX-19081: Add conditional RBAC in Reports 1.0
  ui/apps/platform/src/Containers/VulnMgmt/Reports/Components/ScopeName.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/Detail/VulnMgmtReportDetail.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/Form/ResourceScopeFormModal.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReport.utils.ts
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportSinglePage.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportTablePage.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportTablePanel.tsx
  ui/apps/platform/src/routePaths.ts
Labels: area/ui

#7395 refactor: Move handler and change config
  central/config/datastore/singleton.go
  central/main.go
  central/reports/handler/route.go
  central/reports/service/v2/download.go
  central/reports/service/v2/download_test.go
  generated/api/v1/config_service.swagger.json
  generated/storage/config.pb.go
  proto/storage/config.proto
Labels: area/central, epic/vm2.0/reports

#7099 ROX-18605: Implement Indexer Get and Has endpoints
  scanner/indexer/indexer.go
  scanner/indexer/indexer_test.go
  scanner/indexer/mocks/indexer.go
  scanner/services/indexer.go
  scanner/services/indexer_test.go
Labels: area/scanner

#7276 ROX-16919: [ADR] Local Scanning with Scanner V4
  scanner/decisions/0001-scannerv4-apis.md
  scanner/decisions/0002-local-scanning-with-scanner-v4.md
  scanner/decisions/images/local-scanning-diagram.svg
Labels: area/scanner

#7436 ROX-18829: switch gke ebpf race condition qa e2e tests to core bpf
  deploy/common/deploy.sh
Labels: ci-race-tests, ci-build-race-condition-debug

#7437 ROX-19089: Add conditional RBAC in Network Graph
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/routePaths.ts
Labels: area/ui

#7434 ROX-19088: Remove unneeded conditional RBAC in Risk Acceptance 1.0
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/RiskAcceptancePage.tsx
Labels: area/ui

#7407 fix(ui): Fix display of scoped deployments for netpol sim
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
  ui/apps/platform/src/Containers/NetworkGraph/hooks/useNetworkPolicySimulator.ts
  ui/apps/platform/src/Containers/NetworkGraph/simulation/DeploymentScopeModal.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPoliciesGenerationScope.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/simulatorUtils.ts
  ui/apps/platform/src/hooks/useFetchDeploymentCount.ts
Labels: area/ui

#7419 fix: Use DNS in k8s client for ACSCS
  central/debug/service/diagnostics.go
  pkg/k8sutil/client_config.go
Labels: area/central

#7410 [ROX-18762] : Update run state enum
  central/postgres/pruning.go
  central/reports/common/searcher.go
  central/reports/common/searcher_test.go
  central/reports/config/search/search_impl.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
  central/reports/service/v2/convert.go
  central/reports/service/v2/convert_test.go
  central/reports/service/v2/download.go
  central/reports/service/v2/download_test.go
  central/reports/service/v2/service_impl.go
  central/reports/service/v2/service_impl_test.go
  central/reports/snapshot/datastore/datastore_impl_test.go
  central/reports/snapshot/datastore/search/searcher.go
  central/reports/validation/validate.go
  generated/storage/report_snapshot.pb.go
  proto/storage/report_snapshot.proto
Labels: area/central, epic/vm2.0/reports

#7442 ROX-18881: Add extra margin below dropdown in reporting form
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/CollectionSelection.tsx
Labels: area/ui

#7335 ROX-16919: Add Contents to GetVulnerabilityRequest
  generated/internalapi/scanner/v4/common.pb.go
  generated/internalapi/scanner/v4/index_report.pb.go
  generated/internalapi/scanner/v4/matcher_service.pb.go
  generated/internalapi/scanner/v4/vulnerability_report.pb.go
  proto/internalapi/scanner/v4/common.proto
  proto/internalapi/scanner/v4/index_report.proto
  proto/internalapi/scanner/v4/matcher_service.proto
  proto/internalapi/scanner/v4/vulnerability_report.proto
  scanner/services/converters.go
  scanner/services/converters_test.go
  scanner/services/indexer_test.go
Labels: area/scanner

#7458 Ensure that collections referenced by report configurations cannot be deleted
  central/resourcecollection/service/service_impl.go
  central/resourcecollection/service/service_impl_test.go
Labels: area/central, epic/vm2.0/reports

#7378 ROX-9134: add cache for compliance aggregations
  central/compliance/datastore/datastore_impl.go
  central/compliance/datastore/internal/store/postgres/store.go
  central/compliance/datastore/internal/store/postgres/store_test.go
  central/compliance/datastore/test/datastore_test.go
Labels: area/central

#6924 ROX-18234: AllowFixedScopes and other pkg/sac cleanup
  central/sac/authorizer/builtin_scoped_authorizer_test.go
  pkg/sac/allow_fixed_scopes_checker_core.go
  pkg/sac/scope_key.go
  pkg/sac/tests/for_resources_helpers_test.go
Labels: area/auth, area/central, area/postgres

#7453 [ROX-19129] : Change daysOfWeek to (0-6) range from (1-7) range in report service and add more validations
  central/reports/service/v2/convert.go
  central/reports/service/v2/convert_test.go
  central/reports/service/v2/service_impl_test.go
  central/reports/validation/validate.go
  generated/api/v2/report_service.pb.go
  pkg/fixtures/report_configuration.go
  proto/api/v2/report_service.proto
Labels: area/central, epic/vm2.0/reports

#7306 ROX-17831: Adding formik and validation
  ui/apps/platform/src/Components/PatternFly/CheckboxSelect.tsx
  ui/apps/platform/src/Components/PatternFly/DayPickerDropdown.tsx
  ui/apps/platform/src/Components/PatternFly/FormLabelGroup.tsx
  ui/apps/platform/src/Components/PatternFly/RepeatScheduleDropdown.tsx
  ui/apps/platform/src/Components/SelectSingle/SelectSingle.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/CloneVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/CreateVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/EditVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/ReportFormWizardFooter.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/ScheduleDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/CollectionSelection.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/DeliveryDestinationsForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/NotifierSelection.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportParametersForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/useReportFormValues.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.ts
  ui/apps/platform/src/services/ReportsService.types.ts
Labels: area/ui, epic/vm2.0/reports

#7462 fix(roxvet): fix needlessformat analyzer
  central/apitoken/expiration/expiration.go
  central/cve/cluster/csv/handler.go
  central/cve/fetcher/manager_impl.go
  central/cve/image/csv/handler.go
  central/cve/node/csv/handler.go
  central/declarativeconfig/watch_handler.go
  central/imageintegration/datastore/singleton.go
  central/pruning/pruning.go
  central/reprocessor/reprocessor.go
  central/sensor/service/pipeline/processlisteningonport/pipeline.go
  compliance/collection/compliance/node_scanner.go
  pkg/auth/authproviders/registry_httphandler.go
  pkg/grpc/authn/interceptor.go
  pkg/grpc/server.go
  pkg/testutils/retry.go
  sensor/admission-control/certs.go
  sensor/admission-control/manager/manager_impl.go
  sensor/common/centralclient/grpc_connection.go
  sensor/common/compliance/command_handler_impl.go
  sensor/common/compliance/node_inventory_handler_impl.go
  sensor/common/config/handler.go
  sensor/common/delegatedregistry/delegated_registry_handler.go
  sensor/common/detector/detector.go
  sensor/common/sensor/central_communication_impl.go
  sensor/common/sensor/sensor.go
  sensor/kubernetes/eventpipeline/pipeline_impl.go
  sensor/kubernetes/fake/fake.go
  sensor/kubernetes/listener/resources/deployments.go
  sensor/kubernetes/sensor/sensor.go
  tools/local-compliance/load_generating_node_scanner.go
  tools/roxvet/analyzers/needlessformat/analyzer.go
Labels: area/auth, area/central, area/sensor, area/admission-controller

#7443 [ROX-19037] : Allow reporting v1 and v2 to coexist
  central/main.go
  central/reports/common/testutils.go
  central/reports/common/utils.go
  central/reports/config/service/config_separation_test.go
  central/reports/config/service/service_impl.go
  central/reports/config/service/validate.go
  central/reports/manager/manager_impl.go
  central/reports/scheduler/v2/scheduler_impl.go
  central/reports/service/service_impl.go
  central/reports/service/service_impl_test.go
  central/reports/service/singleton.go
  central/reports/service/v2/config_separation_test.go
  central/reports/service/v2/download.go
  central/reports/service/v2/download_test.go
  central/reports/service/v2/service_impl.go
  central/reports/service/v2/service_impl_test.go
  central/reports/validation/validate.go
Labels: area/central, epic/vm2.0/reports

#7448 ROX-18882: Enable actions on report view page
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/CloneVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/EditVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ViewVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/apiUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/useFetchReport.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/useFetchReports.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/useRunReport.ts
Labels: area/ui, epic/vm2.0/reports

#7468 fix(linter): exclude .md in whitespace linter
  .github/workflows/style.yaml
Labels: area/ci

#7449 feat: VM Reporting 2.0 multiple changes
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/CloneVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/CreateVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/EditVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/ReportFormWizardFooter.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/VulnReportsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/apiUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/useFetchReportHistory.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/useFetchReports.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/exampleReportsCSVData.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportReviewForm.tsx
  ui/apps/platform/src/services/ReportsService.ts
Labels: area/ui, epic/vm2.0/reports

#7450 ROX-17687: Vuln report download retention
  ui/apps/platform/src/Containers/SystemConfig/Details/PrivateConfigDataRetentionDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Form/SystemConfigForm.tsx
  ui/apps/platform/src/Containers/SystemConfig/SystemConfig.utils.ts
  ui/apps/platform/src/types/config.proto.ts
Labels: area/ui, epic/vm2.0/reports

#7398 Fix rep column
  central/reports/common/report_formatter.go
Labels: area/central, epic/vm2.0/reports

#7313 ROX-18249: Sync Registry Mirroring Config to Filesystem
  go.mod
  go.sum
  pkg/registrymirror/mocks/store.go
  pkg/registrymirror/store.go
  pkg/registrymirror/store_test.go
  sensor/common/registry/registry_store.go
  sensor/common/registry/registry_store_test.go
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/kubernetes/listener/resources/registrymirrorsets.go
  sensor/kubernetes/listener/resources/registrymirrorsets_test.go
  sensor/kubernetes/listener/resources/store_provider.go
Labels: area/sensor

#7445 ROX-19112: Add to resourceAccessRequirements for Collections
  ui/apps/platform/cypress/integration/collections/permissions.test.js
  ui/apps/platform/src/routePaths.ts
Labels: area/ui

#7309 ROX-18289: compliance operator integration service
  central/complianceoperator/v2/integration/datastore/datastore.go
  central/complianceoperator/v2/integration/datastore/datastore_impl.go
  central/complianceoperator/v2/integration/datastore/datastore_impl_test.go
  central/complianceoperator/v2/integration/datastore/mocks/datastore.go
  central/complianceoperator/v2/integration/service/convert.go
  central/complianceoperator/v2/integration/service/convert_test.go
  central/complianceoperator/v2/integration/service/service.go
  central/complianceoperator/v2/integration/service/service_impl.go
  central/complianceoperator/v2/integration/service/service_impl_test.go
  central/complianceoperator/v2/integration/service/singleton.go
  central/main.go
  generated/api/v2/compliance_integration_service.pb.go
  generated/api/v2/compliance_integration_service.pb.gw.go
  proto/api/v2/compliance_integration_service.proto
Labels: area/central, epic/compliance-2.0/mvp

#7483 Changelog about changes to the API removal
  CHANGELOG.md
Labels: epic/vm2.0/reports

#7441 ROX-19079: Removes Tech Preview status from CORE_BPF collection method
  CHANGELOG.md
  image/templates/helm/stackrox-secured-cluster/README.md.htpl
  image/templates/helm/stackrox-secured-cluster/values-public.yaml.example
  operator/apis/platform/v1alpha1/securedcluster_types.go
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  roxctl/sensor/generate/generate.go
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.tsx
Labels: area/roxctl, area/ui, area/helm, area/operator

#7463 ROX-13802: RHCOS - testing Central pipelines
  central/sensor/service/pipeline/nodeinventory/pipeline_test.go
Labels: area/central

#7405 ROX-19047: Add more specific error messages to sensor integration test
  sensor/tests/helper/helper.go
  sensor/tests/resource/imagescan/imagescan_test.go
  sensor/tests/resource/networkpolicy/data/policies.json
  sensor/tests/resource/networkpolicy/networkpolicy_test.go
  sensor/tests/resource/networkpolicy/yaml/netpol-allow-443.yaml
  sensor/tests/resource/service/service_test.go
Labels: team/maple, area/sensor
