Repository stackrox/stackrox, pull requests merged in 2023-02, with the labels that each got.

#4633 Set min width for new network drawer
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.css
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.tsx
Labels: area/ui

#4635 ROX-14619: fix metadata retrieval errors in scan time test
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
Labels: ci-all-qa-tests

#4569 ROX-13413 move the eventPipeline's queue size initialization to CreateOptions
  pkg/env/sensor.go
  sensor/kubernetes/eventpipeline/pipeline.go
  sensor/kubernetes/eventpipeline/resolver/resolver.go
  sensor/kubernetes/eventpipeline/resolver/resolver_test.go
  sensor/kubernetes/sensor/options.go
  sensor/kubernetes/sensor/sensor.go
Labels: team/maple, area/sensor

#4583 ROX-13423: Add UI download items for roxctl for IBM P and Z
  ui/apps/platform/src/Containers/MainPage/Header/CLIDownloadMenu.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step2/DownloadCLIDropdown.tsx
Labels: area/ui

#4652 ROX-14647-14671: Reduce confusion about policy categories
  ui/apps/platform/src/Containers/PolicyCategories/CreatePolicyCategoryModal.tsx
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategoriesPage.tsx
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategorySidePanel.tsx
  ui/apps/platform/src/css/trumps.css
Labels: area/ui

#4657 Fix bug where values got overridden incorrectly
  sensor/kubernetes/eventpipeline/component/message.go
Labels: team/maple, area/sensor

#4651 ROX-14657 Add inline errors for collection form fields
  ui/apps/platform/src/Components/PatternFly/SeverityLabelsList.tsx
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByLabelSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByNameSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.css
Labels: area/ui

#4654 Update front end check for regex rule message
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/errorUtils.ts
Labels: area/ui

#4642 Collection Regex Error Message
  central/resourcecollection/datastore/datastore_impl.go
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/errorUtils.ts
Labels: area/central, area/ui, epic/resource-collections

#4644 Network graph: PF - External to cluster url and page title fixes
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
  ui/apps/platform/src/constants/useCaseTypes.js
  ui/apps/platform/src/messages/useCase.js
  ui/apps/platform/src/routePaths.js
Labels: area/ui

#4656 FOX-14426: Fix CVE exports in Findings sections
  ui/apps/platform/src/Containers/VulnMgmt/Entity/TableWidgetFixableCves.js
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmtComponents/FixableCveExportButton.js
  ui/apps/platform/src/services/VulnerabilitiesService.js
Labels: area/ui

#4667 ROX-14642: Add dismissible postgres announcement banner
  ui/apps/platform/src/Containers/MainPage/AnnouncementBanner.tsx
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
Labels: area/ui

#4668 Network graph: PF - adding reset graph callback for smooth edge state change
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
Labels: area/ui

#4670 Network Graph Bug Fixes
  ui/apps/platform/src/Containers/NetworkGraph/cidr/CidrBlockSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentBaselines.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalGroupSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/externalEntities/ExternalEntitiesSideBar.tsx
Labels: area/ui

#4602 ROX-13538: Initialize segment analytics
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/Clusters/ClustersPage.js
  ui/apps/platform/src/Containers/Clusters/ClustersSidePanel.tsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/global/initializeAnalytics.js
  ui/apps/platform/src/index.tsx
  ui/apps/platform/src/react-app-env.d.ts
  ui/apps/platform/src/reducers/index.js
  ui/apps/platform/src/reducers/telemetryConfig.js
  ui/apps/platform/src/services/TelemetryConfigService.ts
  ui/apps/platform/src/utils/analytics.ts
  ui/yarn.lock
Labels: area/ui

#4671 ROX-14771: Unbreak old Network Graph test
  ui/apps/platform/cypress/helpers/networkGraph.js
  ui/apps/platform/cypress/integration/networkGraph/connections.test.js
  ui/apps/platform/cypress/integration/networkGraph/externalEntities.test.js
  ui/apps/platform/cypress/integration/networkGraph/network.test.js
  ui/apps/platform/cypress/integration/networkGraph/networkFlows.test.js
  ui/apps/platform/cypress/integration/networkGraph/networkGraph.test.js
  ui/apps/platform/cypress/integration/networkGraph/tooltip.test.js
Labels: area/ui

#4672 ROX-14642: update announcement banner text
  ui/apps/platform/src/Containers/MainPage/AnnouncementBanner.tsx
Labels: area/ui

#4619 Bump collector to latest release
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#4678 Update collector to 3.12.1 for release 3.73.2
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#4492 ROX-12975: Extend Enricher to accept NodeInventory as a second parameter
  central/imageintegration/service/service_impl_test.go
  central/sensor/service/pipeline/nodeinventory/pipeline.go
  go.mod
  go.sum
  pkg/nodes/enricher/enricher.go
  pkg/nodes/enricher/enricher_impl.go
  pkg/nodes/enricher/enricher_impl_test.go
  pkg/nodes/enricher/mocks/enricher.go
  pkg/scanners/clairify/clairify.go
  pkg/scanners/clairify/convert.go
  pkg/scanners/clairify/convert_test.go
  pkg/scanners/types/types.go
Labels: ci-all-qa-tests, area/central, area/postgres

#4655 ROX-14485: update monitoring psp
  deploy/README.md
  deploy/charts/monitoring/templates/pod-security-config.yaml
  deploy/charts/monitoring/values.yaml
  deploy/common/env.sh
Labels: team/maple

#4621 ROX-14655: Add token-based admin user ID to the tenant Group
  central/main.go
  central/telemetry/centralclient/instance_config.go
  pkg/grpc/authn/tokenbased/extractor.go
Labels: area/central

#4675 Add retry to vuln report E2E test when fetching email
  qa-tests-backend/src/test/groovy/VulnReportingTest.groovy
Labels: epic/resource-collections

#4627 ROX-13916: Using Search and highlighted fields in the v1/alerts/summary/counts API for better scaled performance and to avoid OOM
  central/alert/service/service_impl.go
  central/alert/service/service_test.go
  scale/mocksensor/main.go
Labels: area/central

#4687 Scanner 2.27.5
  SCANNER_VERSION
Labels: ci-all-qa-tests

#4576 Telemetry: Assign API user to the Secured Cluster Registered event
  central/cluster/datastore/datastore_impl.go
  central/cluster/datastore/telemetry.go
Labels: area/central

#4646 Always show value of the ROX_POSTGRES_DATASTORE flag in feature flag API
  central/featureflags/service/service_impl.go
  tests/feature_flag_test.go
Labels: area/central

#4674 Scanner 2.28.1
  SCANNER_VERSION
Labels: ci-all-qa-tests

#4691 ROX-14783: Fix SearchRawPolicies to populate policy categories from new store when postgres is enabled
  central/policy/datastore/datastore_impl.go
  central/policy/datastore/datastore_impl_postgres_test.go
Labels: area/central

#4692 Log actual error
  central/policy/datastore/datastore_impl.go
Labels: area/central

#4686 Disable Prom metrics if monitoring is not set
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml
Labels: area/helm

#4557 ROX-14527: Install via operator
  .openshift-ci/clusters.py
  operator/tests/e2e/central-cr.envsubst.yaml
  operator/tests/e2e/secured-cluster-cr.yaml
  qa-tests-backend/scripts/run-part-1.sh
  qa-tests-backend/src/main/groovy/services/CVEService.groovy
  qa-tests-backend/src/test/groovy/AdmissionControllerTest.groovy
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/GlobalSearch.groovy
  scripts/ci/jobs/openshift_4_qa_e2e_tests.py
  scripts/ci/jobs/openshift_beta_qa_e2e_tests.py
  scripts/ci/jobs/openshift_newest_qa_e2e_tests.py
  scripts/ci/jobs/openshift_oldest_qa_e2e_tests.py
  scripts/ci/jobs/openshift_penultimate_qa_e2e_tests.py
  scripts/ci/lib.sh
  scripts/ci/logcheck/allowlist-patterns
  scripts/ci/openshift.sh
  scripts/k8s/export-basic-auth-creds.sh
  tests/e2e/lib.sh
  tests/e2e/run-scale.sh
  tests/upgrade/lib.sh
  tests/upgrade/postgres_sensor_run.sh
  tests/upgrade/run.sh
Labels: area/operator

#4570 First stab at kuttl troubleshooting guide.
  .openshift-ci/ci_tests.py
  operator/README.md
  operator/tests/TROUBLESHOOTING_E2E_TESTS.md
Labels: area/operator

#4679 ROX-14438: Refactor Sensor Event component messages
  sensor/kubernetes/eventpipeline/component/message.go
  sensor/kubernetes/eventpipeline/output/output_impl.go
  sensor/kubernetes/eventpipeline/resolver/resolver_impl.go
  sensor/kubernetes/eventpipeline/resolver/resolver_test.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorprofiles.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorresults.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorrules.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorscans.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorscansettingbindings.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatortailoredprofiles.go
  sensor/kubernetes/listener/resources/deployments.go
  sensor/kubernetes/listener/resources/namespace.go
  sensor/kubernetes/listener/resources/networkpolicy.go
  sensor/kubernetes/listener/resources/networkpolicy_test.go
  sensor/kubernetes/listener/resources/node.go
  sensor/kubernetes/listener/resources/rbac/dispatcher.go
  sensor/kubernetes/listener/resources/rbac/store_impl_test.go
  sensor/kubernetes/listener/resources/route.go
  sensor/kubernetes/listener/resources/secrets.go
  sensor/kubernetes/listener/resources/service.go
  sensor/kubernetes/listener/resources/serviceaccount.go
Labels: team/maple, area/sensor

#4709 Update cypress 12.5.1 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#4601 Refactoring: shared Telemeter interface package
  central/cluster/datastore/telemetry.go
  central/role/mapper/telemetry.go
  central/telemetry/centralclient/instance_config.go
  pkg/telemetry/phonehome/client_config.go
  pkg/telemetry/phonehome/gatherer.go
  pkg/telemetry/phonehome/gatherer_test.go
  pkg/telemetry/phonehome/interceptor.go
  pkg/telemetry/phonehome/interceptor_test.go
  pkg/telemetry/phonehome/mocks/telemeter.go
  pkg/telemetry/phonehome/segment/segment.go
  pkg/telemetry/phonehome/telemeter.go
  pkg/telemetry/phonehome/telemeter/mocks/telemeter.go
  pkg/telemetry/phonehome/telemeter/telemeter.go
  pkg/telemetry/phonehome/telemeter/telemeter_test.go
Labels: area/central

#4731 ROX-14777: Update Postgres coming soon message
  ui/apps/platform/src/Containers/MainPage/AnnouncementBanner.tsx
Labels: area/ui

#4730 CI: Fix openshift e2e
  operator/tests/e2e/central-cr.envsubst.yaml
  qa-tests-backend/src/test/groovy/K8sRbacTest.groovy
  scripts/ci/jobs/openshift_oldest_qa_e2e_tests.py
  scripts/ci/jobs/openshift_penultimate_qa_e2e_tests.py
  tests/e2e/lib.sh
Labels: area/operator

#4721 ROX-14780: Disable re-sync when deploying ACS with deploy.sh
  deploy/common/k8sbased.sh
  deploy/k8s/sensor.sh
  sensor/kubernetes/sensor/sensor.go
Labels: team/maple, area/sensor

#4734 Reduce the number of confusing instances of `stackrox.io` in charts
  image/templates/README.md
  image/templates/helm/stackrox-central/values-public.yaml.example.htpl
  image/templates/helm/stackrox-central/values.yaml.htpl
Labels: area/helm

#4574 ROX-14597: Operator bundle, drop version map when replacing rbac-proxy
  operator/bundle_helpers/fix-spec-descriptor-order.py
  operator/bundle_helpers/patch-csv.py
  operator/bundle_helpers/requirements.txt
  operator/bundle_helpers/rewrite.py
Labels: area/operator

#4697 ROX-14148: Prefactor Transformer abstraqction for declarative configuration.
  central/declarativeconfig/manager_impl.go
  pkg/declarativeconfig/transform/transformer.go
Labels: area/central

#4688 Postgres search enhancements: part 1
  generated/api/v1/search_service.pb.go
  go.mod
  go.sum
  pkg/search/options.go
  pkg/search/postgres/common.go
  pkg/search/postgres/common_test.go
  pkg/search/postgres/joins.go
  pkg/search/postgres/query/common.go
  pkg/search/postgres/select_query_test.go
  pkg/search/query_builder.go
  proto/api/v1/search_service.proto
Labels: area/central, area/postgres

#4765 ROX-14963: TestImageLoader to support postgres
  central/graphql/resolvers/loaders/images_test.go
Labels: area/central

#4757 ROX-14944: CI: Fix openshift e2e nightly tests
  tests/e2e/lib.sh
Labels: ci-race-tests

#4742 Add readiness probe to central-db
  image/templates/helm/stackrox-central/templates/01-central-12-central-db.yaml
Labels: area/helm

#4768 Revert "Bump apollo-ci image to 0.3.56"
  .github/workflows/build.yaml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
  .openshift-ci/Dockerfile.build_root
  .openshift-ci/build/Dockerfile.build-central-db-bundle
  .openshift-ci/build/Dockerfile.build-main-and-bundle
  .openshift-ci/build/Dockerfile.build-operator-artifacts
  BUILD_IMAGE_VERSION
  central/processlisteningonport/store/store.go
  scale/signatures/deploy.yaml
  tests/e2e/run-e2e-tests.sh
Labels: area/central

#4754 Move e2e CRs elsewhere.
  operator/tests/TROUBLESHOOTING_E2E_TESTS.md
  tests/e2e/lib.sh
  tests/e2e/yaml/central-cr.envsubst.yaml
  tests/e2e/yaml/secured-cluster-cr.yaml
Labels: area/operator

#4763 Change future release references from 3.75 and 3.76 to 4.0 and 4.1
  CHANGELOG.md
  central/role/resources/list.go
  pkg/buildinfo/buildinfo.go
  pkg/buildinfo/internal/timestamp/timestamp.go
  pkg/version/version.go
  ui/apps/platform/src/constants/accessControl.ts
Labels: area/central, area/ui

#4760 Add pause reconcile constant for operator
  operator/pkg/central/reconciler/reconciler.go
Labels: area/operator

#4726 ROX-14490: Fix data race in `TestNetworkEntityDataStore`
  central/networkgraph/entity/datastore/datastore_impl_test.go
Labels: area/central

#4774 ROX-14427: Drop PodSecurityPolicy from errors files.
  operator/tests/common/delete-central-errors-cluster.envsubst.yaml
  operator/tests/common/delete-securedcluster-errors.yaml
Labels: area/operator

#4764 ROX-14953: Fix invalid kubectl files within roxctl generate
  pkg/renderer/kubernetes.go
  pkg/renderer/render_test.go
  roxctl/central/generate/k8s.go
  tests/roxctl/bats-tests/helpers.bash
  tests/roxctl/bats-tests/local/central-generate-development.bats
  tests/roxctl/bats-tests/local/expect/flavor-interactive-dummy.expect.tcl
  tests/roxctl/bats-tests/local/expect/flavor-interactive-postgres.expect.tcl
  tests/roxctl/bats-tests/local/expect/flavor-interactive.expect.tcl
Labels: area/roxctl

#4767 Default to empty DB Spec if unset in CR and update Kuttl tests
  operator/pkg/central/values/translation/translation.go
  operator/pkg/central/values/translation/translation_test.go
  operator/tests/central/basic/10-assert.yaml
  operator/tests/central/basic/40-assert.yaml
  operator/tests/central/basic/40-reconcile.yaml
  operator/tests/central/basic/75-errors.yaml
  operator/tests/central/basic/76-assert.yaml
  operator/tests/central/basic/76-switch-back-to-internal-central-db.yaml
  operator/tests/central/basic/76-switch-back-zzz-deletes.yaml
Labels: area/operator

#4771 ROX-14963: TestImageLoader FullImageWithID coverage
  central/graphql/resolvers/loaders/images_test.go
Labels: area/central

#4784 ROX-14987: Fix wrong info for anomalous external flows count
  ui/apps/platform/src/Containers/NetworkGraph/utils/networkGraphUtils.test.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/networkGraphUtils.ts
Labels: area/ui

#4769 go1.19.4
  .github/workflows/build.yaml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
  .openshift-ci/Dockerfile.build_root
  .openshift-ci/build/Dockerfile.build-central-db-bundle
  .openshift-ci/build/Dockerfile.build-main-and-bundle
  .openshift-ci/build/Dockerfile.build-operator-artifacts
  BUILD_IMAGE_VERSION
  EXPECTED_GO_VERSION
  central/processlisteningonport/store/store.go
  generated/api/v1/authprovider_service.pb.go
  generated/api/v1/debug_service.pb.go
  generated/api/v1/group_service.swagger.json
  generated/internalapi/central/sensor_events.pb.go
  generated/storage/cluster.pb.go
  generated/storage/group.pb.go
  generated/storage/labels.pb.go
  generated/storage/network_policy.pb.go
  generated/storage/node.pb.go
  generated/storage/notifier.pb.go
  generated/storage/rbac.pb.go
  generated/storage/secret.pb.go
  generated/storage/service_account.pb.go
  generated/storage/test.pb.go
  generated/test/test.pb.go
  proto/storage/group.proto
  scale/signatures/deploy.yaml
  tests/e2e/run-e2e-tests.sh
Labels: area/central

#4792 Skip TestImageComponentDataStore when on Postgres
  central/imagecomponent/search/searcher_impl_test.go
Labels: area/central

#4770 ROX-14962: Fix test to work when postgres is enabled: central/splunk/violations_test
  central/splunk/violations_query_test.go
  central/splunk/violations_test.go
Labels: area/central

#4755 Improvements for the operator e2e test troubleshooting guide.
  operator/tests/TROUBLESHOOTING_E2E_TESTS.md
Labels: area/operator

#4797 Update SCANNER_VERSION
  SCANNER_VERSION
Labels: ci-all-qa-tests

#4798 Cherry-pick of PR-4763 for 3.74.0-rc.2
  CHANGELOG.md
  central/role/resources/list.go
  pkg/buildinfo/buildinfo.go
  pkg/buildinfo/internal/timestamp/timestamp.go
  pkg/version/version.go
  ui/apps/platform/src/constants/accessControl.ts
Labels: area/central, area/ui

#4345 ROX-14336: Remove build timestamp
  CHANGELOG.md
  central/cluster/datastore/datastore_impl_test.go
  central/cluster/service/service_impl_test.go
  central/clusters/deployer_test.go
  central/clusters/zip/render_test.go
  central/pruning/pruning_test.go
  central/resourcecollection/service/service_impl_test.go
  central/scanner/handler_test.go
  image/embed_charts_test.go
  pkg/buildinfo/buildinfo.go
  pkg/buildinfo/internal/timestamp/timestamp.go
  pkg/buildinfo/testbuildinfo/set.go
  pkg/buildinfo/testutils/timestamp.go
  pkg/helm/charts/meta_test.go
  pkg/helm/charts/tests/centralservices/flavor/flavor_test.go
  pkg/helm/charts/tests/securedclusterservices/flavor/flavor_test.go
  pkg/images/defaults/flavor_test.go
  pkg/images/defaults/testutils/flavor.go
  pkg/images/defaults/testutils/flavor_test.go
  pkg/renderer/central_db_test.go
  pkg/renderer/kubernetes_test.go
  pkg/version/testutils/set_version.go
  pkg/version/version.go
  roxctl/central/db/generate/generate_test.go
  roxctl/central/generate/generate_test.go
  roxctl/helm/output/output_lint_test.go
  roxctl/properties/properties_test.go
  roxctl/sensor/generate/generate_test.go
  status.sh
Labels: area/roxctl, area/central, area/helm

#4689 Telemetry: `WithGroups` option
  central/cluster/datastore/telemetry.go
  pkg/telemetry/phonehome/segment/segment.go
  pkg/telemetry/phonehome/segment/segment_test.go
  pkg/telemetry/phonehome/telemeter/telemeter.go
  pkg/telemetry/phonehome/telemeter/telemeter_test.go
Labels: area/central

#4695 ROX-14797: Fix bulk Add CVEs to Policy for Postgres
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/CveBulkActionDialogue.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/CveToPolicyShortForm.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/VulnMgmtListCves.js
  ui/apps/platform/src/utils/vulnerabilityUtils.js
Labels: area/ui

#4705 Telemetry: set anonymousId for events where user is not provided
  central/cluster/datastore/telemetry.go
  central/telemetry/centralclient/instance_config.go
  pkg/telemetry/phonehome/segment/segment.go
  pkg/telemetry/phonehome/segment/segment_test.go
  pkg/telemetry/phonehome/telemeter/telemeter.go
  pkg/telemetry/phonehome/telemeter/telemeter_test.go
Labels: area/central

#4698 ROX-14148: Add transforming of declarative config to proto for Access Scopes
  pkg/declarativeconfig/transform/access_scope.go
  pkg/declarativeconfig/transform/access_scope_test.go
  pkg/declarativeconfig/transform/transformer.go
Labels: area/central

#4480 Process Listening On Port: Internal API support
  central/sensor/service/common/common.go
  central/sensor/service/pipeline/all/factory.go
  central/sensor/service/pipeline/processlisteningonport/pipeline.go
  generated/internalapi/central/sensor_events.pb.go
  proto/internalapi/central/sensor_events.proto
  proto/internalapi/central/sensor_iservice.proto
Labels: area/central

#4751 ROX-14148: Add transforming of declarative config to proto for Auth providers & groups
  pkg/auth/authproviders/oidc/backend_factory_impl.go
  pkg/auth/authproviders/oidc/backend_impl.go
  pkg/auth/authproviders/oidc/backend_impl_test.go
  pkg/auth/authproviders/saml/backend_impl.go
  pkg/declarativeconfig/auth_provider.go
  pkg/declarativeconfig/transform/auth_provider.go
  pkg/declarativeconfig/transform/auth_provider_test.go
  pkg/declarativeconfig/transform/permission_set_test.go
  pkg/declarativeconfig/transform/transformer.go
Labels: area/auth

#4690 ROX-12848: Set Postgres flag to permanently enabled
  deploy/common/deploy.sh
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/values-public.yaml.example.htpl
  image/templates/helm/stackrox-central/values.yaml.htpl
  pkg/env/booleansetting.go
  pkg/env/postgres_datastore.go
  pkg/helm/charts/tests/centralservices/flavor/testdata/helmtest/suite.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/central.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/sccs.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/suite.yaml
  pkg/renderer/helm_values.go
  pkg/renderer/images.go
  pkg/renderer/render_test.go
  roxctl/central/db/generate/k8s.go
  roxctl/central/generate/k8s.go
  scripts/ci/jobs/aro_qa_e2e_tests.py
  scripts/ci/jobs/eks_qa_e2e_tests.py
  scripts/ci/jobs/gke_kernel_qa_e2e_tests.py
  scripts/ci/jobs/gke_nongroovy_e2e_tests.py
  scripts/ci/jobs/gke_qa_e2e_tests.py
  scripts/ci/jobs/gke_race_condition_qa_e2e_tests.py
  scripts/ci/jobs/gke_scale_tests.py
  scripts/ci/jobs/gke_ui_e2e_tests.py
  scripts/ci/jobs/gke_upgrade_tests.py
  scripts/ci/jobs/gke_version_compatibility_tests.py
  scripts/ci/jobs/openshift_oldest_qa_e2e_tests.py
  scripts/ci/jobs/openshift_penultimate_qa_e2e_tests.py
  scripts/ci/jobs/osd_aws_qa_e2e_tests.py
  scripts/ci/jobs/osd_gcp_qa_e2e_tests.py
  scripts/ci/jobs/rosa_qa_e2e_tests.py
  tests/backup_test.go
  tests/e2e/run-e2e-tests.sh
  tests/feature_flag_test.go
  tests/roxctl/bats-tests/cluster/centraldb-generate.bats
  tests/roxctl/bats-tests/helpers.bash
  tests/roxctl/bats-tests/local/central-generate-development-postgres.bats
  tests/roxctl/bats-tests/local/central-generate-development.bats
  tests/roxctl/bats-tests/local/central-generate-interactive-flavors-postgres.bats
  tests/roxctl/bats-tests/local/central-generate-interactive-flavors.bats
  tests/roxctl/bats-tests/local/central-generate-release.bats
  tests/roxctl/bats-tests/local/expect/flavor-interactive-dummy.expect.tcl
  tests/roxctl/bats-tests/local/expect/flavor-interactive-postgres.expect.tcl
  tests/roxctl/bats-tests/local/expect/flavor-interactive.expect.tcl
Labels: area/roxctl, area/central, area/helm, area/operator, area/postgres, postgres-breaking-change

#4778 ROX-14924: Run misc style checks
  .github/workflows/style.yaml
  pkg/search/postgres/querytype_string.go
  scripts/ci/lib.sh
Labels: area/postgres

#4811 Clarify that second section is not for every SecuredCluster chart change.
  image/templates/CHANGING_CHARTS.md
Labels: area/helm

#4812 Restore CentralDBEnabledPtr
  operator/apis/platform/v1alpha1/central_types.go
Labels: area/operator

#4814 ROX-14979: Trim `sso:provider-id:` prefix from user ID
  central/telemetry/centralclient/instance_config.go
  pkg/grpc/authn/tokenbased/extractor.go
  pkg/telemetry/phonehome/hash.go
  pkg/telemetry/phonehome/hash_test.go
Labels: area/central

#4821 ROX-13379: Fix bug when typing new page number among CVE types
  ui/apps/platform/src/Components/TablePagination.js
Labels: area/ui

#4823 Add feature flag for Vuln Mgmt Workload CVEs
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui, epic/vm2.0/workload-cves

#4820 Fix inability to deploy with helm due to missing certificates
  pkg/renderer/helm_values.go
  roxctl/central/generate/generate.go
Labels: area/roxctl

#4799 ROX-14964: Fix test to work when postgres is enabled: TestImageIntegrationDataStore
  central/imageintegration/datastore/datastore_impl_test.go
Labels: area/central

#4831 Fix Central DB PSP to fix compatibility tests
  image/templates/helm/stackrox-central/templates/01-central-02-db-psps.yaml
Labels: area/roxctl, area/helm

#4815 Update user store documentation.
  central/user/datastore/internal/store/store.go
Labels: area/central

#4649 ROX-14689: Operator install tools with go
  .github/dependabot.yaml
  operator/Makefile
  operator/bundle.Dockerfile
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/bundle/metadata/annotations.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/tools/go.mod
  operator/tools/go.sum
  operator/tools/tools-import.go
  operator/tools/tools.go
Labels: area/roxctl, area/auth, area/central, area/helm, area/operator, area/sensor

#4843 Collection Fail to Delete In Use Collection by Report Config Error Msg
  central/resourcecollection/service/service_impl.go
Labels: area/central

#4841 Update Central DB signal handling to default to fast shutdown
  image/postgres/scripts/docker-entrypoint.sh
  image/templates/helm/stackrox-central/templates/01-central-12-central-db.yaml
Labels: area/helm, area/postgres

#4850 feat: adding tests for network graph util functions
  ui/apps/platform/src/Containers/NetworkGraph/types/flow.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.test.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.ts
Labels: area/ui

#4740 ROX-14582: Wire up network graph polling
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NodeUpdateSection.tsx
Labels: area/ui

#4577 Dashrews/ROX-14598 do not open rocks in postgres mode
  central/globaldb/bolt.go
  central/globaldb/dackbox/singleton.go
  central/globaldb/rocksdb.go
  central/globalindex/bleveindex.go
  central/globalindex/singleton.go
  central/pruning/pruning_test.go
  central/pruning/pruning_vuln_req_test.go
  central/reprocessor/reprocessor_test.go
  central/risk/datastore/datastore_impl_test.go
  central/search/service/service_impl_test.go
  central/secret/datastore/datastore_test.go
  pkg/dackbox/raw/singleton.go
  pkg/fixtures/risk.go
  pkg/fixtures/secret.go
  pkg/postgres/deprecated_call.go
  pkg/postgres/log.go
Labels: area/central, area/postgres

#4779 ROX-14775 Delete the status field if present when encoding NeworkPolicies to YAML
  central/networkpolicies/service/service_impl.go
  pkg/protoconv/networkpolicy/conversion_test.go
  pkg/protoconv/networkpolicy/k8s.go
  pkg/protoconv/networkpolicy/rox.go
Labels: team/maple, area/central

#4852 ROX-15103 Correctly handle different alert types on dashboard widget
  ui/apps/platform/src/Components/PatternFly/ResourceIcon/ResourceIcon.css
  ui/apps/platform/src/Components/PatternFly/ResourceIcon/ResourceIcon.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/MostRecentViolations.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicySeverity.test.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicySeverity.tsx
  ui/apps/platform/src/css/acs.css
  ui/apps/platform/src/types/alert.proto.ts
Labels: area/ui

#4853 ROX-14973: Support CronJobs in a backwards compatible way
  sensor/admission-control/manager/k8s_object.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/resources/convert.go
Labels: area/sensor, area/admission-controller

#4865 ROX-15095: Adjust Violations chart axis for large counts
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicyCategoryChart.tsx
Labels: area/ui

#4872 Correctly handle different alert types on dashboard widget
  ui/apps/platform/src/Components/PatternFly/ResourceIcon/ResourceIcon.css
  ui/apps/platform/src/Components/PatternFly/ResourceIcon/ResourceIcon.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/MostRecentViolations.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicySeverity.test.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicySeverity.tsx
  ui/apps/platform/src/css/acs.css
  ui/apps/platform/src/types/alert.proto.ts
Labels: pls-merge, area/ui

#4694 ROX-14182: Disable API modifications for declaratively defined permission sets
  central/role/datastore/datastore_impl.go
  central/role/datastore/datastore_test.go
  pkg/declarativeconfig/context.go
  pkg/declarativeconfig/context_test.go
Labels: area/central

#4868 Dashrews/ROX-14598 do not open rocks in postgres mode attempt 2
  central/deployment/index/indexer_impl_test.go
  central/globaldb/bolt.go
  central/globaldb/dackbox/singleton.go
  central/globaldb/rocksdb.go
  central/globalindex/bleveindex.go
  central/globalindex/singleton.go
  central/image/datastore/search/searcher_impl_test.go
  central/policy/index/indexer_impl_test.go
  central/pruning/pruning_test.go
  central/pruning/pruning_vuln_req_test.go
  central/reprocessor/reprocessor_test.go
  central/risk/datastore/datastore_impl_test.go
  central/search/service/service_impl_test.go
  central/secret/datastore/datastore_test.go
  central/secret/internal/index/indexer_impl_test.go
  pkg/dackbox/raw/singleton.go
  pkg/fixtures/risk.go
  pkg/fixtures/secret.go
  pkg/postgres/deprecated_call.go
  pkg/postgres/log.go
Labels: area/central, area/postgres

#4869 Define ROX_DECLARATIVE_CONFIGURATION feature flag in tests and ui
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#4873 Define PrefixedAction type for reducers in TypeScript
  ui/apps/platform/src/Containers/SystemConfig/Form/SystemConfigForm.tsx
  ui/apps/platform/src/reducers/publicConfig.ts
  ui/apps/platform/src/utils/fetchingReduxRoutines.ts
Labels: area/ui

#4855 Delete classic Search modal because superseded by Search page
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/cypress/integration/search.test.js
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/Header/GlobalSearchButton.tsx
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
  ui/apps/platform/src/Containers/Search/ReduxSearchInput.js
  ui/apps/platform/src/Containers/Search/SearchAutoComplete/SearchAutoComplete.js
  ui/apps/platform/src/Containers/Search/SearchAutoComplete/index.js
  ui/apps/platform/src/Containers/Search/SearchModal.js
  ui/apps/platform/src/Containers/Search/SearchResults.tsx
  ui/apps/platform/src/Containers/Search/searchCategoryDescriptorMap.ts
  ui/apps/platform/src/app.tw.css
  ui/apps/platform/src/css/acs.css
  ui/apps/platform/src/reducers/globalSearch.js
  ui/apps/platform/src/reducers/index.js
  ui/apps/platform/src/sagas/globalSearchSagas.js
  ui/apps/platform/src/sagas/index.js
  ui/apps/platform/src/sagas/searchSagas.js
  ui/apps/platform/src/sagas/searchSagas.test.js
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#4876 ROX-14399: Update wording when cluster metadata not available
  ui/apps/platform/cypress/integration/clusters/clustersHealthStatus.test.js
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.test.js
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.tsx
Labels: area/ui

#4662 Use go1.19 memory management changes to GC
  image/templates/helm/shared/templates/02-scanner-06-deployment.yaml.htpl
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
  operator/tests/central/basic/80-assert.yaml
  operator/tests/central/basic/81-assert.yaml
Labels: ci-release-build, area/helm, area/operator

#4882 Disable resync only in vanilla k8s
  deploy/k8s/deploy.sh
  deploy/k8s/sensor.sh
Labels: team/maple

#4871 ROX-15009 Add navigation item for 'Vulnerabilities' (VM 2.0) section
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/routePaths.js
Labels: pls-merge, area/ui, epic/vm2.0/workload-cves

#4735 Pass contexts instead of copying them to honor context cancellations
  pkg/search/postgres/common.go
Labels: area/operator, area/postgres

#4842 ROX-15040: Remove Central DB enabled option
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/templates/01-central-00-db-serviceaccount.yaml
  image/templates/helm/stackrox-central/templates/01-central-02-db-psps.yaml
  image/templates/helm/stackrox-central/templates/01-central-02-db-security.yaml
  image/templates/helm/stackrox-central/templates/01-central-08-db-configmap.yaml
  image/templates/helm/stackrox-central/templates/01-central-08-external-db-configmap.yaml
  image/templates/helm/stackrox-central/templates/01-central-10-db-networkpolicy.yaml
  image/templates/helm/stackrox-central/templates/01-central-11-db-pvc.yaml
  image/templates/helm/stackrox-central/templates/01-central-12-central-db.yaml
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  image/templates/helm/stackrox-central/templates/_central_setup.tpl
  image/templates/helm/stackrox-central/values-public.yaml.example.htpl
  image/templates/helm/stackrox-central/values.yaml.htpl
  operator/pkg/central/values/translation/translation.go
  operator/pkg/central/values/translation/translation_test.go
  operator/tests/central/basic/80-assert.yaml
  operator/tests/central/basic/81-assert.yaml
Labels: area/helm, area/operator, area/postgres

#4888 ROX-15017 Add routing and stubbed page components for Workload CVEs
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesDeploymentSinglePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesImageSinglePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesSinglePage.tsx
Labels: pls-merge, area/ui, epic/vm2.0/workload-cves

#4875 ROX-14973: Support CronJobs in a backwards compatible way (#4853)
  sensor/admission-control/manager/k8s_object.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/resources/convert.go
Labels: area/sensor, area/admission-controller

#4877 ROX-14973: Support CronJobs in a backwards compatible way (#4853)
  sensor/admission-control/manager/k8s_object.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/resources/convert.go
Labels: area/sensor, area/admission-controller

#4714 Postgres search enhancements: part 3
  generated/api/v1/search_service.pb.go
  generated/storage/operation_status.pb.go
  pkg/search/postgres/aggr_func.go
  pkg/search/postgres/common.go
  pkg/search/postgres/common_test.go
  pkg/search/postgres/joins.go
  pkg/search/postgres/select_query_test.go
  pkg/search/postgres/testutils.go
  pkg/search/query_builder.go
  proto/api/v1/search_service.proto
  proto/storage/operation_status.proto
Labels: area/postgres, performance-and-scale

#4893 Ignore context cancelled errors in logging
  pkg/search/postgres/common.go
Labels: area/postgres

#4900 Cherry-pick Operator test fix: Drop PodSecurityPolicy from errors files. (#4774)
  operator/tests/common/delete-central-errors-cluster.envsubst.yaml
  operator/tests/common/delete-securedcluster-errors.yaml
Labels: area/operator

#4879 ROX-10999: Fix panic in roxctl central db restore when no file is given
  roxctl/central/db/restore/v2.go
  roxctl/central/db/restore/v2_test.go
Labels: area/roxctl

#4828 ROX-14147: Add reconciliation scaffolding for declarative configurations
  central/declarativeconfig/manager_impl.go
  central/declarativeconfig/mocks/watch_handler.go
  central/declarativeconfig/watch_handler.go
  central/declarativeconfig/watch_handler_test.go
  pkg/maputil/maputil.go
Labels: area/central

#4482 Process Listening On Port: Public API
  central/main.go
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/service/service.go
  central/processlisteningonport/service/service_impl.go
  central/processlisteningonport/service/singleton.go
  generated/api/v1/process_listening_on_port_service.pb.go
  generated/api/v1/process_listening_on_port_service.pb.gw.go
  generated/api/v1/process_listening_on_port_service.swagger.json
  generated/internalapi/central/sensor_events.pb.go
  proto/api/v1/process_listening_on_port_service.proto
  proto/internalapi/central/sensor_events.proto
  qa-tests-backend/src/main/groovy/services/ProcessesListeningOnPortsService.groovy
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
  tests/e2e/lib.sh
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/ResourceDescription.tsx
Labels: ci-all-qa-tests, area/central, area/ui

#4827 Add examples of new select query for real life use cases.
  central/alert/datastore/bench_postgres_test.go
  central/alert/datastore/datastore.go
  central/deployment/datastore/datastore_impl_postgres_test.go
  generated/storage/alert.pb.go
  pkg/search/options.go
  proto/storage/alert.proto
Labels: area/central

#4910 Update collector to 3.12.2
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#4902 Telemetry: Always add WithGroups to Track calls
  central/cluster/datastore/telemetry.go
  central/main.go
  central/role/mapper/telemetry.go
  central/telemetry/centralclient/instance_config.go
  pkg/telemetry/phonehome/client_config.go
  pkg/telemetry/phonehome/gatherer.go
  pkg/telemetry/phonehome/interceptor.go
  pkg/telemetry/phonehome/interceptor_test.go
  pkg/telemetry/phonehome/segment/segment.go
  pkg/telemetry/phonehome/telemeter.go
  pkg/telemetry/phonehome/telemeter/mocks/telemeter.go
  pkg/telemetry/phonehome/telemeter/telemeter.go
Labels: area/central

#4905 ROX-14377 Orphaned PLOP metric.
  central/metrics/central.go
  central/metrics/init.go
  central/processlisteningonport/datastore/datastore_impl.go
Labels: area/central

#4913 ROX-10744: Add test login to OpenShift auth provider
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviderForm.tsx
Labels: area/ui

#4729 sensor integration test helper refactor
  sensor/tests/resource/helper.go
  sensor/tests/resource/networkpolicy/networkpolicy_test.go
  sensor/tests/resource/pod/pod_test.go
  sensor/tests/resource/role/role_test.go
  sensor/tests/resource/service/service_test.go
Labels: team/maple, area/sensor

#4930 [ROX-15198] Do not panic when unexpected process violations are received
  central/detection/alertmanager/alert_manager_impl.go
  central/detection/alertmanager/alert_manager_impl_test.go
Labels: area/central

#4933 Do not panic when unexpected process violations are received (#4930)
  central/detection/alertmanager/alert_manager_impl.go
  central/detection/alertmanager/alert_manager_impl_test.go
Labels: area/central

#4935 Do not panic when unexpected process violations are received (#4930)
  central/detection/alertmanager/alert_manager_impl.go
  central/detection/alertmanager/alert_manager_impl_test.go
Labels: area/central

#4923 ROX-15164: Reconciliation loop for declarative configuration
  central/declarativeconfig/manager.go
  central/declarativeconfig/manager_impl.go
  central/declarativeconfig/mocks/watch_handler.go
  central/declarativeconfig/singleton.go
  central/declarativeconfig/watch_handler.go
  central/declarativeconfig/watch_handler_test.go
  central/main.go
  pkg/env/declarative_config.go
Labels: area/central

#4911 Bump Scanner to 2.26.4
  SCANNER_VERSION
Labels: ci-all-qa-tests

#4934 Dashrews/ROX-14965 process baseline test
  central/processbaseline/service/service_impl_test.go
Labels: area/central

#4946 Dashrews/ROX-14966 Update role datastore test to work with postgres
  central/role/datastore/datastore_test.go
Labels: area/central

#4948 Update PatternFly to 2023.01
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/Collections/CollectionAttacher.tsx
  ui/apps/platform/src/Containers/Collections/CollectionResults.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/EntityNameSearchInput.tsx
  ui/apps/platform/src/Containers/NetworkGraph/namespace/NamespaceDeployments.tsx
  ui/yarn.lock
Labels: area/ui

#4596 ROX-12948 add port pool in DeploymentExposure tests
  sensor/tests/resource/helper.go
  sensor/tests/resource/service/data/policies.json
  sensor/tests/resource/service/service_test.go
  sensor/tests/resource/service/yaml/nginx-service-load-balancer-30011.yaml
  sensor/tests/resource/service/yaml/nginx-service-load-balancer-30012.yaml
  sensor/tests/resource/service/yaml/nginx-service-node-port-30006.yaml
  sensor/tests/resource/service/yaml/nginx-service-node-port-30007.yaml
  sensor/tests/resource/service/yaml/nginx-service-node-port-30008.yaml
  sensor/tests/resource/service/yaml/nginx-service-node-port-30009.yaml
  sensor/tests/resource/service/yaml/nginx-service-node-port-30010.yaml
Labels: team/maple, area/sensor

#4952 Fix lint warning about no explicit any in clusters ProviderMetadata type
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.tsx
  ui/apps/platform/src/types/cluster.proto.ts
Labels: area/ui

#4938 [VM2.0] Image CVE view
  central/views/imagecve/image_cve.go
  central/views/imagecve/singleton.go
  central/views/imagecve/types.go
  central/views/imagecve/view_impl.go
  central/views/imagecve/view_test.go
Labels: area/central, epic/vm2.0/workload-cves

#4916 fix: lint warning fixes
  ui/apps/platform/src/Components/Pagination/PaginationInput/PaginationInput.js
  ui/apps/platform/src/Components/PatternFly/FormMessage.tsx
  ui/apps/platform/src/Containers/Network/SidePanel/NetworkDeploymentOverlay/Flows/BaselineSettings/useFetchNetworkBaselines.ts
  ui/apps/platform/src/Containers/SystemHealth/PatternFly/Components/IntegrationsHealth.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ImpactedEntities/ImpactedEntities.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ImpactedEntities/ImpactedEntitiesModal.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/vulnerabilityRequests.graphql.ts
  ui/apps/platform/src/hooks/useURLParameter.test.tsx
Labels: area/ui

#4936 Upgrade scanner to 2.27.6
  SCANNER_VERSION
Labels: ci-all-qa-tests

#4870 ROX-14019: remove policies table from clusters in vuln mgmt
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cluster/VulnMgmtClusterOverview.js
Labels: area/ui

#4955 ROX-15138: Change the links from NWG 1.0 to NWG 2.0
  ui/apps/platform/src/Containers/Dashboard/Widgets/DeploymentsAtMostRiskTable.tsx
  ui/apps/platform/src/Containers/Risk/RiskSidePanelContent.js
Labels: area/ui

#4887 Encapsulate OutdatedVersionBanner element and rewrite metadata reducer in TypeScript
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
  ui/apps/platform/src/Containers/MainPage/OutdatedVersionBanner.tsx
  ui/apps/platform/src/Containers/MainPage/VersionOutOfDate.tsx
  ui/apps/platform/src/hooks/useMetadata.ts
  ui/apps/platform/src/reducers/metadata.js
  ui/apps/platform/src/reducers/metadata.ts
Labels: area/ui

#4858 feat: adding tests for network graph util functions (part 2)
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.test.ts
Labels: area/ui

#4817 Improve integration tests that initially failed on OpenShift
  ui/apps/platform/cypress/helpers/networkGraph.js
  ui/apps/platform/cypress/integration/collections/deploymentMatching.test.js
  ui/apps/platform/cypress/integration/compliance/complianceDashboard.test.js
  ui/apps/platform/cypress/integration/configmanagement/ConfigurationManagement.helpers.js
  ui/apps/platform/cypress/integration/configmanagement/deployments.test.js
  ui/apps/platform/cypress/integration/configmanagement/images.test.js
  ui/apps/platform/cypress/integration/configmanagement/namespaces.test.js
  ui/apps/platform/cypress/integration/configmanagement/nodes.test.js
  ui/apps/platform/cypress/integration/configmanagement/secrets.test.js
  ui/apps/platform/cypress/integration/networkGraph/networkGraph.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/entitypages.test.js
Labels: area/ui

#4907 Rewrite notifications reducer in TypeScript
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/DownloadCAConfigBundle.tsx
  ui/apps/platform/src/Containers/MainPage/Header/CLIDownloadMenu.tsx
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
  ui/apps/platform/src/Containers/MainPage/Notifications.tsx
  ui/apps/platform/src/Containers/Notifications.js
  ui/apps/platform/src/hooks/useNotifications.ts
  ui/apps/platform/src/reducers/notifications.js
  ui/apps/platform/src/reducers/notifications.ts
Labels: area/ui

#4967 feat: creating a util function to generate links to a specific deployment in network graph
  ui/apps/platform/cypress/integration/networkGraph/network.test.js
  ui/apps/platform/cypress/integration/risk/risk.test.js
  ui/apps/platform/src/Containers/Dashboard/Widgets/DeploymentsAtMostRiskTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/networkGraphURLUtils.test.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/networkGraphURLUtils.ts
  ui/apps/platform/src/Containers/Risk/RiskSidePanelContent.js
Labels: area/ui

#4974 ROX-15283: Telemetry interceptors won't work
  central/main.go
  central/telemetry/centralclient/instance_config.go
Labels: area/central

#4966 Encapsulate StatusBanner elements and rewrite serverResponseStatus reducer in TypeScript
  ui/apps/platform/src/Containers/Login/LoginPage.js
  ui/apps/platform/src/Containers/MainPage/Banners/AnnouncementBanner.tsx
  ui/apps/platform/src/Containers/MainPage/Banners/CredentialExpiryBanner.tsx
  ui/apps/platform/src/Containers/MainPage/Banners/DatabaseStatusBanner.tsx
  ui/apps/platform/src/Containers/MainPage/Banners/OutdatedVersionBanner.tsx
  ui/apps/platform/src/Containers/MainPage/Banners/ServerStatusBanner.tsx
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
  ui/apps/platform/src/Containers/UnreachableWarning.tsx
  ui/apps/platform/src/reducers/index.js
  ui/apps/platform/src/reducers/serverError.js
  ui/apps/platform/src/reducers/serverResponseStatus.test.js
  ui/apps/platform/src/reducers/serverResponseStatus.ts
  ui/apps/platform/src/store/configureStore.js
Labels: area/ui

#4953 [VM2.0][ROX-13852][ROX-13855][ROX-13856] GraphQL for workload CVEs list page
  central/graphql/resolvers/image_cve_core.go
  central/graphql/resolvers/image_cve_core_test.go
  central/graphql/resolvers/image_scan_test.go
  central/graphql/resolvers/resolver.go
  central/graphql/resolvers/test_setup_utils.go
  central/views/imagecve/mocks/types.go
  central/views/imagecve/types.go
Labels: area/central, epic/vm2.0/workload-cves

#4940 cleanup: job name and other CI vars
  Makefile
  qa-tests-backend/src/main/groovy/orchestratormanager/OpenShift.groovy
  qa-tests-backend/src/main/groovy/util/Env.groovy
  qa-tests-backend/src/test/groovy/AttemptedAlertsTest.groovy
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/GlobalSearch.groovy
  qa-tests-backend/src/test/groovy/ImageManagementTest.groovy
  qa-tests-backend/src/test/groovy/ImageSignatureVerificationTest.groovy
  qa-tests-backend/src/test/groovy/PolicyConfigurationTest.groovy
  qa-tests-backend/src/test/groovy/VulnMgmtSACTest.groovy
  qa-tests-backend/src/test/groovy/VulnScanWithGraphQLTest.groovy
  scripts/ci/lib.sh
  scripts/ci/logcheck/restart-ok-patterns.json
  tests/e2e/lib.sh
  tests/e2e/run-e2e-tests.sh
Labels: ci-all-qa-tests

#4926 Fix a few linter issues
  ui/apps/platform/src/hooks/useFetchClusters.ts
  ui/apps/platform/src/hooks/useTableSelection.ts
Labels: area/ui

#4949 ROX-15217: Deprecate `/v1/telemetry/configure` service
  CHANGELOG.md
  central/telemetry/service/service_impl.go
  generated/api/v1/telemetry_service.pb.go
  generated/storage/telemetry.pb.go
  proto/api/v1/telemetry_service.proto
  proto/storage/telemetry.proto
Labels: area/central

#4964 Sync roles in Sensor prior to role bindings
  sensor/kubernetes/listener/resource_event_handler.go
Labels: area/sensor

#4988 Update value during UpdateRole call instead of reusing the same one
  central/role/datastore/datastore_impl.go
  central/role/datastore/datastore_test.go
Labels: area/central

#4985 ROX-14018: Remove policy table from deployment in vuln mgmt
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Deployment/VulnMgmtDeploymentOverview.js
Labels: area/ui

#4984 ROX-14020: Remove policy table from namespace in vuln mgmt
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Namespace/VulnMgmtNamespaceOverview.js
Labels: area/ui

#4994 Add role datastore unit tests that check if updated value has changed
  central/role/datastore/datastore_test.go
Labels: area/central

#4975 Refactor compliance connection to sensor
  compliance/collection/main.go
Labels: team/maple, pls-merge

#4947 Removed ManagedFields at the informer level to save on memory
  sensor/kubernetes/listener/resource_event_handler.go
Labels: ci-race-tests, area/sensor
