Repository stackrox/stackrox, pull requests merged in 2023-12, with the labels that each got.

#8838 fix: Configure Matcher to pull IR from Indexer
  image/templates/helm/shared/config-templates/scanner-v4/matcher-config.yaml.tpl
  image/templates/helm/shared/templates/02-scanner-v4-05-indexer-network-policy.yaml
Labels: area/helm

#8798 ROX-20557: Add flow for denying request
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestDenialButtonModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/hooks/useAffectedImagesCount.ts
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/mockUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/utils.ts
  ui/apps/platform/src/services/VulnerabilityExceptionService.ts
Labels: area/ui, epic/vm2.0/unified-deferral

#8825 ROX-20787: Prefactor notifiers for STS/WIF
  central/graphql/resolvers/generated.go
  generated/api/v1/notifier_service.swagger.json
  generated/storage/notifier.pb.go
  proto/storage/notifier.proto
Labels: area/central

#8785 fix: Prune listening endpoints by deploymentid even if poduid is null
  central/postgres/pruning.go
  central/postgres/pruning_test.go
  central/pruning/pruning_test.go
Labels: area/central

#8859 fix(local-sensor): Send the DeduperState in local-sensor
  tools/local-sensor/main.go
Labels: team/maple

#8844 fix(CI): retry docker interactions
  .github/workflows/build.yaml
  scripts/ci/lib.sh
Labels: area/ci

#8755 ROX-20850: update dependencies to fix CVEs
  central/reports/scheduler/v2/reportgenerator/email_formatter.go
  go.mod
  go.sum
  pkg/auth/authproviders/openshift/backend_impl.go
  pkg/auth/authproviders/openshift/internal/dexconnector/connector.go
  pkg/auth/authproviders/openshift/internal/dexconnector/openshift.go
  pkg/compliance/checks/nist800-190/check421/check_test.go
  pkg/docker/types/types_easyjson.go
  pkg/migrations/migration_version.go
  pkg/protoconv/time.go
  pkg/registries/docker/metadata_v1.go
  sensor/common/centralclient/client_test.go
  ui/apps/platform/src/Containers/MainPage/Body.tsx
Labels: area/auth, area/central, area/ui, area/sensor

#8843 ROX-20602: compliance scan config status pk
  central/complianceoperator/v2/scanconfigurations/datastore/datastore.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl_test.go
  central/complianceoperator/v2/scanconfigurations/scanconfigstatus/store/postgres/gen.go
  central/complianceoperator/v2/scanconfigurations/scanconfigstatus/store/postgres/store.go
  central/complianceoperator/v2/scanconfigurations/scanconfigstatus/store/postgres/store_test.go
  generated/storage/compliance_operator_v2.pb.go
  pkg/postgres/schema/compliance_operator_cluster_scan_config_statuses.go
  proto/storage/compliance_operator_v2.proto
Labels: area/central, area/postgres, epic/compliance-2.0/mvp

#8832 ROX-17308, ROX-17512: wait for risk and priority in test
  qa-tests-backend/src/main/groovy/util/Helpers.groovy
  qa-tests-backend/src/test/groovy/RiskTest.groovy
Labels: ci-all-qa-tests, area/central

#8858 ROX-17099: Bump Collector version
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#8824 ROX-20943: Fix missing details for snoozed CVEs in Workload CVEs
  central/graphql/resolvers/image_cve_core.go
Labels: area/central

#8864 fix(scannerv4): Increase default scanner v4 DB PVC size
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
Labels: area/helm

#8828 fix(perf): Reduce memory usage for compliance runs
  central/compliance/data/factory.go
  central/compliance/data/mocks/factory.go
  central/compliance/data/repository.go
  central/compliance/framework/data.go
  central/compliance/framework/mocks/data.go
  central/compliance/manager/data_promise.go
  central/compliance/manager/manager_impl.go
Labels: area/central

#8886 chore(deps): update tools
  scanner/tools/go.mod
  scanner/tools/go.sum
  tools/proto/go.mod
  tools/proto/go.sum
Labels: area/scanner

#8826 ROX-20787: Add STS to AWS SH notifier
  central/notifiers/awssh/notifier.go
  central/notifiers/awssh/notifier_test.go
Labels: area/central

#8873 chore(notifiers): Add telemetry for notifiers
  central/main.go
  central/notifier/datastore/telemetry.go
Labels: area/central

#8884 ROX-19054: Add skeleton for Helm-based Scanner V4 E2E test
  .openshift-ci/ci_tests.py
  deploy/common/k8sbased.sh
  scripts/ci/jobs/gke_scanner_v4_tests.py
  tests/e2e/lib.sh
  tests/e2e/run-scanner-v4.sh
Labels: area/ci

#8792 chore(docs): add operator pvc extension documentation
  operator/pkg/central/extensions/reconcile_pvc.go
Labels: area/operator

#8845 fix(leak): Remove pod was not working if the pod has owners
  sensor/common/clusterentities/metrics/metrics.go
  sensor/common/clusterentities/store.go
  sensor/kubernetes/listener/resources/deployments.go
  sensor/kubernetes/listener/resources/metrics/metrics.go
  sensor/kubernetes/listener/resources/pod_store.go
Labels: team/maple, area/sensor

#8861 feat(metrics): Add sensor connected metric
  central/metrics/init.go
Labels: team/maple, area/central

#8842 ROX-21199: Introduce Deployment Enhancement Messages
  generated/internalapi/central/deployment_enhancement.pb.go
  generated/internalapi/central/sensor_iservice.pb.go
  proto/internalapi/central/deployment_enhancement.proto
  proto/internalapi/central/sensor_iservice.proto
Labels: team/maple

#8527 ROX-20171: workflow to fetch CVSS data from NVD API
  .github/workflows/scanner-nvd-update.yaml
  .github/workflows/scripts/scanner-fetch-update-nvd.sh
  .github/workflows/scripts/scanner-update-nvd.py
Labels: ci-all-qa-tests, area/roxctl, area/auth, area/central, area/ui, area/helm, area/operator, area/sensor, area/postgres, area/scanner, area/ci

#8816 fix(CI): ROX-20914: move job metrics to begin & end
  .openshift-ci/begin.sh
  .openshift-ci/clusters.py
  .openshift-ci/common.py
  .openshift-ci/dispatch.sh
  .openshift-ci/end.sh
  .openshift-ci/runners.py
  scripts/ci/lib.sh
  scripts/ci/metrics.sh
Labels: area/ci

#8911 fix(style): remove unused functions
  sensor/kubernetes/listener/resources/networkpolicy.go
  sensor/kubernetes/listener/resources/service_store.go
Labels: team/maple, area/sensor

#8847 ROX-20665: Compliance config profile selection
  ui/apps/platform/src/Containers/ComplianceEnhanced/MockData/complianceProfileServiceMocks.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/MockData/complianceResultsServiceMocks.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Table/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ClusterSelection.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ProfileSelection.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ReviewConfig.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ScanConfigOptions.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ScanConfigWizardForm.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/useFormikScanConfig.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/MockData/complianceScanResultsOverview.js
  ui/apps/platform/src/services/ComplianceEnhancedService.ts
Labels: area/ui, epic/compliance-2.0/mvp

#8556 ROX-20731: Improve scale tests for listening endpoints
  sensor/kubernetes/fake/flows.go
Labels: area/sensor

#8862 ROX-21185: Disable apollo cache for deployment page query
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
Labels: area/ui

#8818 ROX-19385: Add flow for cancelling request
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCancelButtonModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestDenialButtonModal.tsx
  ui/apps/platform/src/services/VulnerabilityExceptionService.ts
Labels: area/ui

#8902 ROX-20808: add telemetry for external backup integrations
  central/externalbackups/datastore/telemetry.go
  central/externalbackups/plugins/gcs/gcs.go
  central/externalbackups/plugins/s3/s3.go
  central/externalbackups/plugins/types/types.go
  central/main.go
Labels: area/central

#8915 ROX-16831: Fix UI validation for mount propagation policy criterion
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/policyValidationSchemas.ts
Labels: area/ui

#8922 ROX-16830: Fix policy criteria buttons being cut off
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicyCriteriaFieldInput.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicyCriteriaFieldSubInput.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicyCriteriaForm.css
Labels: area/ui

#8907 ROX-20575: Add source column to embedded vuln tables
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ComponentLocationTd.tsx
Labels: area/ui

#8937 chore(deps): Revert bump actions/labeler from 4 to 5
  .github/workflows/labeler.yaml
Labels: area/ci

#8896 fix(scannerv4): Move ScannerV4 client into `pkg`
  pkg/scannerv4/client/client.go
  pkg/scannerv4/client/mocks/client.go
  pkg/scannerv4/client/options.go
  pkg/scannerv4/client/options_test.go
  scanner/cmd/scannerctl/main.go
  scanner/e2etests/image_test.go
  sensor/common/scannerclient/grpc_client.go
  sensor/common/scannerclient/grpc_client_test.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/sensor, area/scanner

#8923 chore(scanner): copy postgres configs from new location
  scanner/Makefile
Labels: area/scanner

#8940 fix(ui): Add type assertion in postFormatImageSigningPolicyGroup
  ui/apps/platform/src/Containers/Policies/policies.utils.ts
Labels: area/ui

#8924 chore(scanner): upgrade Scanner v4 DB to PostgreSQL 15
  scanner/Makefile
  scanner/image/db/.gitignore
  scanner/image/db/Dockerfile
  scanner/image/db/download.sh
  scanner/image/db/scripts/docker-entrypoint.sh
  scanner/image/db/signatures/RPM-GPG-KEY-PGDG-15
Labels: area/scanner

#8839 ROX-9156: another round of pre-factoring
  image/templates/helm/shared/templates/_image-pull-secrets.tpl
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  pkg/helm/charts/tests/centralservices/testdata/helmtest/image-pull-secrets.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/image-pull-secrets.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-slim.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/suite.yaml
Labels: area/helm

#8933 chore(ci): add codecove integration
  .github/workflows/unit-tests.yaml
Labels: area/ui, area/ci

#8946 chore(deps): bump github.com/go-jose/go-jose/v3 from 3.0.0 to 3.0.1
  go.mod
  go.sum
Labels: backport

#8936 chore(ci): collect coverage for UI unittests
  ui/Makefile
Labels: area/ui, area/ci

#8948 fix(ci): junit report for UI tests
  .github/workflows/unit-tests.yaml
Labels: area/ci

#8951 fix(delegator): Clone image built in enricher
  central/image/service/service_impl.go
Labels: area/central

#8961 fix(scanner): Fix FixedInVersion parsing
  scanner/e2etests/testdata/image_tests.json
  scanner/mappers/mappers.go
  scanner/mappers/mappers_test.go
Labels: external-contributor

#8965 fix(ci): increase dependabot limits
  .github/dependabot.yaml
Labels: area/ci

#8962 chore(scanner): misc Scanner v4 DB updates
  image/templates/helm/shared/templates/02-scanner-v4-07-db-deployment.yaml
  scanner/Makefile
  scanner/e2etests/helmchart/templates/db-deployment.yaml
  scanner/image/db/.gitignore
  scanner/image/db/Dockerfile
  scanner/image/db/scripts/docker-entrypoint.sh
  scanner/image/db/scripts/init-entrypoint.sh
Labels: area/helm, area/scanner

#8974 fix(e2e-tests): Fix RESOURCE_EXHAUSTED in e2e NWG tests
  qa-tests-backend/src/main/groovy/services/NetworkGraphService.groovy
Labels: ci-all-qa-tests

#8978 chore(ui): Fix errors and close loophole in airbnb-base lint rules
  ui/apps/platform/config-overrides.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.js
  ui/apps/platform/eslint.config.js
  ui/apps/platform/src/Components/visuals/Sunburst.js
  ui/apps/platform/src/global/initializeAnalytics.js
Labels: area/ui

#8973 ROX-21219: Disable animations for PF charts
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/Widgets/HorizontalBarChart.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/AgingImagesChart.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ComplianceLevelsByStandardChart.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicyCategoryChart.tsx
Labels: area/ui

#8994 test(ui): Update e2e test text selection for workload cves
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.js
Labels: area/ui

#8611 ROX-14560: Stop adding is_org_admin, org_id claims
  migrator/migrations/m_197_to_m_198_add_oidc_claim_mappings/migration.go
  migrator/migrations/m_197_to_m_198_add_oidc_claim_mappings/migration_impl.go
  migrator/migrations/m_197_to_m_198_add_oidc_claim_mappings/migration_test.go
  migrator/migrations/m_197_to_m_198_add_oidc_claim_mappings/schema/auth_providers.go
  migrator/migrations/m_197_to_m_198_add_oidc_claim_mappings/schema/groups.go
  migrator/migrations/m_197_to_m_198_add_oidc_claim_mappings/store/authproviders/store.go
  migrator/migrations/m_197_to_m_198_add_oidc_claim_mappings/store/groups/store.go
  migrator/runner/all.go
  pkg/auth/authproviders/oidc/backend_impl.go
  pkg/migrations/internal/seq_num.go
Labels: area/auth

#8987 fix(ui): Disable cache for nextFetchPolicy on deployment page
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
Labels: area/ui

#8988 feat(notify-sync): notify components when the sync is done
  sensor/common/sensor/central_communication.go
  sensor/common/sensor/central_communication_impl.go
  sensor/common/sensor/central_communication_test.go
  sensor/common/sensor/sensor.go
Labels: team/maple, area/sensor

#8997 chore(ui): Revert "collect coverage for UI unittests"
  ui/Makefile
Labels: area/ui

#8998 chore(ui): Upgrade TypeScript 5.3.3 and related devDependencies in ui
  ui/apps/platform/package.json
  ui/package.json
  ui/yarn.lock
Labels: area/ui

#9018 fixed e2e test version
  scanner/e2etests/testdata/image_tests.json
  scanner/e2etests/testdata/image_tests.orig.json
Labels: area/scanner

#8984 ROX-19615: Try to increase timeout of Network Flow test
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Labels: team/maple

#7465 ROX-11600: Migrate GroupsService.js to Typescript
  ui/apps/platform/cypress/fixtures/auth/updateMinimumAccessRole.json
  ui/apps/platform/src/Containers/MainPage/InviteUsers/InviteUsersModal.tsx
  ui/apps/platform/src/sagas/groupSagas.js
  ui/apps/platform/src/services/GroupsService.ts
  ui/apps/platform/src/types/group.proto.ts
Labels: area/ui

#8958 fix(CI): surface cluster create/destroy events
  .openshift-ci/begin.sh
  .openshift-ci/clusters.py
  .openshift-ci/dispatch.sh
  .openshift-ci/end.sh
  .openshift-ci/runners.py
  scripts/ci/bats/lib_junit.bats
  scripts/ci/lib.sh
  scripts/ci/test_state.sh
  tests/e2e/lib.sh
Labels: area/ci, ci-test-junit-processing

#9038 ROX-21144: Reset pagination between vulns and resource tabs
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
Labels: area/ui

#9044 ROX-21409: Detect CO installs during integration tests
  tests/e2e/lib.sh
Labels: epic/compliance-2.0/mvp

#8869 ROX-19000: Create ScannerV4 Integration
  generated/api/v1/image_integration_service.swagger.json
  generated/storage/image_integration.pb.go
  generated/storage/network_policy.pb.go
  pkg/env/image_scan.go
  pkg/env/sensor.go
  pkg/scanners/factory.go
  pkg/scanners/scannerv4/convert.go
  pkg/scanners/scannerv4/convert_test.go
  pkg/scanners/scannerv4/scannerv4.go
  pkg/scannerv4/util.go
  proto/storage/image_integration.proto
  sensor/common/scannerclient/grpc_client.go
Labels: area/sensor

#9008 refactor(operator.pkg): introduce helm values enrichers.
  operator/pkg/central/reconciler/reconciler.go
  operator/pkg/proxy/translation.go
  operator/pkg/proxy/translation_test.go
  operator/pkg/securedcluster/reconciler/reconciler.go
  operator/pkg/securedcluster/values/translation/translation.go
  operator/pkg/values/translation/enricher.go
  operator/pkg/values/translation/enricher_test.go
Labels: area/operator

#9039 feat(CI): stubs for perf scale jobs
  .openshift-ci/begin.sh
  scripts/ci/jobs/gke_perf_scale_tests.py
  scripts/ci/jobs/ocp_perf_scale_tests.py
Labels: area/ci

#9043 ROX-21409: Install compliance operator from upstream sources
  tests/e2e/lib.sh
  tests/e2e/yaml/compliance-operator/catalog-source.yaml
  tests/e2e/yaml/compliance-operator/subscription.yaml
Labels: epic/compliance-2.0/mvp

#8635 ROX-9716: move signatureIntegrationIDPrefix to common location
  central/signatureintegration/datastore/validate.go
  pkg/booleanpolicy/value_regex.go
  pkg/signatures/types.go
  pkg/signatures/types_test.go
Labels: area/central

#9006 ROX-21213: Fix Compliance operator status errors regarding CRDs
  sensor/kubernetes/complianceoperator/updater.go
  sensor/kubernetes/complianceoperator/updater_test.go
Labels: area/sensor, epic/compliance-2.0/mvp

#9046 chore(release): add a PR backport action
  .github/workflows/backport-pr.yaml
Labels: area/ci

#8980 ROX-20787: Expose STS support in notifier forms
  central/notifiers/cscc/validate.go
  ui/apps/platform/cypress/integration/integrations/notifiers.test.js
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/AwsSecurityHubIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GoogleCloudSccIntegrationForm.tsx
  ui/apps/platform/src/types/featureFlag.ts
  ui/apps/platform/src/types/notifier.proto.ts
Labels: area/central, area/ui

#9056 fix(helm): remove helm release namespace note from the central chart
  image/templates/helm/stackrox-central/templates/NOTES.txt.htpl
Labels: area/helm

#9053 chore(ci): add notification about untriaged issues
  .github/workflows/triage-report_periodic.yml
  scripts/run-support-triage-report.sh
Labels: area/ci

#9002 ROX-20783: refactor GCP STS clients with TokenSource
  central/cloudproviders/gcp/singleton.go
  central/externalbackups/plugins/gcs/gcs.go
  central/notifiers/cscc/cscc.go
  pkg/auth/tokensource/tokensource.go
  pkg/auth/tokensource/tokensource_test.go
  pkg/cloudproviders/gcp/auth/client_manager.go
  pkg/cloudproviders/gcp/auth/client_manager_impl.go
  pkg/cloudproviders/gcp/auth/client_manager_impl_test.go
  pkg/cloudproviders/gcp/auth/tokensource.go
  pkg/cloudproviders/gcp/handler/factory.go
  pkg/cloudproviders/gcp/handler/handler.go
  pkg/cloudproviders/gcp/handler/handler_test.go
  pkg/cloudproviders/gcp/handler/mocks/factory.go
  pkg/cloudproviders/gcp/handler/mocks/handler.go
  pkg/cloudproviders/gcp/types/types.go
  pkg/cloudproviders/gcp/utils/util.go
Labels: area/auth, area/central

#9077 chore(ui): Skip ui-e2e test for Google Cloud SCC integration
  ui/apps/platform/cypress/integration/integrations/notifiers.test.js
Labels: area/ui

#9078 chore(ui): Update prettier 3.1.1 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#9076 ROX-21446: fix scc ui e2e test
  ui/apps/platform/cypress/helpers/fakeGCPServiceAccount.js
  ui/apps/platform/cypress/integration/integrations/notifiers.test.js
Labels: area/ui

#9032 ROX-17800,ROX-19883: Fix declarative config test flakes
  central/declarativeconfig/manager_impl.go
  central/declarativeconfig/watch_handler.go
  qa-tests-backend/src/test/groovy/DeclarativeConfigTest.groovy
Labels: area/central

#9079 chore(ui): Update testing-library devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#9050 test(operator): use an explicit image pull secret
  operator/tests/common/central-cr.yaml
  operator/tests/common/image-pull-secrets.yaml
  operator/tests/common/secured-cluster-cr.yaml
Labels: area/operator

#9009 ROX-21384: Stop listeners 'on reconnect' instead of 'on disconnect'
  sensor/kubernetes/eventpipeline/pipeline_impl.go
  sensor/kubernetes/eventpipeline/pipeline_test.go
Labels: team/maple, area/sensor

#8889 ROX-21152: compliance V2 sensor capability
  central/sensor/service/service_impl.go
  pkg/centralsensor/caps_list.go
  sensor/kubernetes/complianceoperator/handler_impl.go
  sensor/kubernetes/complianceoperator/updater.go
  sensor/kubernetes/complianceoperator/updater_test.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorprofiles.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorresults.go
  sensor/kubernetes/sensor/sensor.go
Labels: area/central, area/sensor

#9011 chore(qa): enable codenarc rules
  qa-tests-backend/codenarc-rules.groovy
  qa-tests-backend/src/main/groovy/objects/Node.groovy
  qa-tests-backend/src/main/groovy/objects/Notifiers.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/OrchestratorMain.groovy
  qa-tests-backend/src/test/groovy/AdmissionControllerNoImageScanTest.groovy
  qa-tests-backend/src/test/groovy/AdmissionControllerTest.groovy
  qa-tests-backend/src/test/groovy/AttemptedAlertsTest.groovy
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
  qa-tests-backend/src/test/groovy/IntegrationHealthTest.groovy
  qa-tests-backend/src/test/groovy/IntegrationsSplunkViolationsTest.groovy
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
  qa-tests-backend/src/test/groovy/K8sEventDetectionTest.groovy
  qa-tests-backend/src/test/groovy/K8sRbacTest.groovy
  qa-tests-backend/src/test/groovy/ProcessVisualizationTest.groovy
  qa-tests-backend/src/test/groovy/ReconciliationTest.groovy
Labels: ci-all-qa-tests

#9091 fix(notify-sync): Do not lock before the select
  sensor/common/sensor/sensor.go
Labels: team/maple, area/sensor

#8822 ROX-20905: Handle multiple yaml files
  roxctl/deployment/check/check.go
  roxctl/deployment/check/check_test.go
  roxctl/deployment/check/testdata/deployment2.yaml
  roxctl/deployment/check/testdata/testMultipleFilesExpectedYaml.yaml
Labels: area/roxctl, area/central

#9070 ROX-20718: ComplianceCheckResults Add Warnings, ValuesUsed, Rationale
  central/convert/internaltov2storage/compliance_check_results.go
  central/sensor/service/pipeline/complianceoperatorresults/pipeline_test.go
  generated/api/v2/compliance_results_service.pb.go
  generated/api/v2/compliance_results_service.swagger.json
  generated/internalapi/central/compliance_operator.pb.go
  generated/storage/compliance_operator_v2.pb.go
  proto/api/v2/compliance_results_service.proto
  proto/internalapi/central/compliance_operator.proto
  proto/storage/compliance_operator_v2.proto
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorresults.go
Labels: area/central, area/sensor, epic/compliance-2.0/mvp

#9092 chore(ui): UI dev dependencies eslint 8.56.0
  ui/apps/platform/package.json
  ui/package.json
  ui/yarn.lock
Labels: area/ui

#9072 fix(CI): skip slack notifications for scheduled jobs
  scripts/ci/lib.sh
Labels: ci-test-junit-processing

#8917 ROX-20666: Compliance config wizard review step
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Table/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ReviewConfig.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ScanConfigWizardFooter.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ScanConfigWizardForm.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/compliance.scanConfigs.utils.ts
  ui/apps/platform/src/services/ComplianceEnhancedService.ts
Labels: area/ui, epic/compliance-2.0/mvp

#9071 fix(CI): reduce image failure e2e test spam
  scripts/ci/lib.sh
  scripts/ci/test_state.sh
Labels: area/ci, ci-test-junit-processing

#9058 ROX-21127: Refactor cluster init bundles pages
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundleDescription.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundleForm.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundlePage.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundleWizard.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundlesHeader.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundlesPage.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundlesRoute.tsx
Labels: area/ui

#9049 chore(ci): do not wait for all checks for coverage
  codecov.yml
Labels: area/postgres

#9105 refactor(helm): Set _rox.env.installMethod in both charts.
  image/templates/helm/shared/templates/_set_install_method.tpl.htpl
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
Labels: area/helm

#9104 test(helm): Make some functions null-safe.
  pkg/helm/charts/tests/centralservices/testdata/helmtest/image-pull-secrets.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/suite.yaml
Labels: area/helm

#8953 ROX-19790: Add UI analytics for Workload CVEs
  ui/apps/platform/src/Containers/Collections/CollectionsFormPage.tsx
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/VulnMgmtListCves.js
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/useCreateReport.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/useRunReport.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/CollectionSelection.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/useReportFormValues.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/DefaultFilterModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/EntityTypeToggleGroup.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/TableEntityToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadTableToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/FilterAutocomplete.tsx
  ui/apps/platform/src/hooks/useAnalytics.ts
  ui/apps/platform/src/utils/type.utils.ts
Labels: area/ui

#9036 feat(CI): top 10 CI failures
  .github/workflows/ci-failures-report.yml
  scripts/ci/metrics.sh
Labels: area/ci

#8807 chore(ui): Set up Cypress component testing
  ui/Makefile
  ui/apps/platform/cypress.config.js
  ui/apps/platform/cypress.d.ts
  ui/apps/platform/cypress/support/commands.js
  ui/apps/platform/cypress/support/component-index.html
  ui/apps/platform/cypress/support/component.js
  ui/apps/platform/eslint.config.js
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/Dashboard/ScopeBar.test.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/AgingImages.cy.jsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/AgingImages.test.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ComplianceLevelsByStandard.cy.jsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ComplianceLevelsByStandard.test.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/FilterAutocomplete.cy.jsx
  ui/apps/platform/src/css.imports.ts
  ui/apps/platform/src/index.tsx
  ui/apps/platform/src/services/cancellationUtils.test.ts
  ui/package.json
  ui/yarn.lock
Labels: area/ui

#9055 ROX-17144: Add integration tests for Workload CVE deploy page
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/deploymentSingle.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/SummaryCards/BySeveritySummaryCard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentsTable.tsx
Labels: area/ui

#8950 ROX-19540: Central Implement a workflow to delete scan config
  central/complianceoperator/v2/compliancemanager/manager.go
  central/complianceoperator/v2/compliancemanager/manager_impl.go
  central/complianceoperator/v2/compliancemanager/manager_impl_test.go
  central/complianceoperator/v2/compliancemanager/mocks/manager.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl_test.go
  central/complianceoperator/v2/scanconfigurations/datastore/mocks/datastore.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  central/sensor/service/connection/connection_impl.go
Labels: area/central, area/sensor, epic/compliance-2.0/mvp

#8649 ROX-20806: Repository mapping data updater and api in central
  central/scannerdefinitions/handler/handler.go
  central/scannerdefinitions/handler/handler_test.go
  central/scannerdefinitions/handler/updater.go
  central/scannerdefinitions/handler/updater_test.go
Labels: area/central

#9065 test: Explicitly test the generic store
  pkg/search/postgres/store_test.go
Labels: area/postgres

#8996 ROX-19048: Add missing Scanner V4 Customization Config Shape to Chart
  image/templates/helm/stackrox-central/internal/config-shape.yaml
Labels: area/helm

#9107 ROX-21365: Fix upgrade test and add auto-upgrade labels to SCCs
  image/templates/helm/stackrox-secured-cluster/templates/collector-scc.yaml
Labels: area/helm

#8883 ROX-21200: Introduce Deployment Enhancement for Central and Sensor
  central/detection/service/service.go
  central/detection/service/service_impl.go
  central/detection/service/singleton.go
  central/sensor/enhancement/broker.go
  central/sensor/enhancement/broker_test.go
  central/sensor/enhancement/singleton.go
  central/sensor/service/common/common.go
  central/sensor/service/pipeline/all/factory.go
  central/sensor/service/pipeline/enhancements/pipeline.go
  sensor/common/deploymentenhancer/component.go
  sensor/common/deploymentenhancer/component_test.go
  sensor/common/store/mocks/types.go
  sensor/common/store/types.go
  sensor/kubernetes/listener/resources/deployment_store.go
  sensor/kubernetes/sensor/sensor.go
Labels: team/maple, area/central, area/sensor

#8885 fix(sensor): Update Central certificates and provide generation script
  central/metadata/service/testdata/exec_tlschallenge.go
  central/tlsconfig/env.go
  sensor/common/centralclient/client_test.go
  sensor/common/centralclient/testdata/additional-ca.yaml
  sensor/common/centralclient/testdata/additionalCA.key
  sensor/common/centralclient/testdata/additionalCAs/ca.pem
  sensor/common/centralclient/testdata/central-ca.pem
  sensor/common/centralclient/testdata/central/ca-key.pem
  sensor/common/centralclient/testdata/central/ca.pem
  sensor/common/centralclient/testdata/central/cert.pem
  sensor/common/centralclient/testdata/central/info.md
  sensor/common/centralclient/testdata/central/jwt-key.pem
  sensor/common/centralclient/testdata/central/key.pem
  sensor/common/centralclient/testdata/signature.example
  sensor/common/centralclient/testdata/trust_info_serialized.example
  sensor/common/centralclient/testdata/update-testdata.sh
Labels: area/central, area/sensor

#8999 ROX-19054: Add upgrade logic to Scanner V4 CI test
  deploy/common/ci-values.yaml
  image/templates/helm/shared/templates/_scanner-v4_init.tpl.htpl
  pkg/renderer/templates/public_values.yaml.tpl
  scripts/ci/jobs/gke_scanner_v4_tests.py
  tests/e2e/run-scanner-v4.sh
Labels: area/helm

#9111 ROX-21473: Fix obstructed table action menus in Workload CVEs
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
Labels: area/ui

#9096 chore(ui): Fix errors and turn on no-floating promises lint rule
  ui/apps/platform/eslint.config.js
  ui/apps/platform/src/Components/PatternFly/ErrorBoundary/ErrorBoundaryCodeBlock.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersSidePanel.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTable.tsx
  ui/apps/platform/src/Containers/Policies/Modal/EnableDisableNotificationModal.tsx
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTable.tsx
  ui/apps/platform/src/Containers/SystemHealth/DiagnosticBundle/GenerateDiagnosticBundle.tsx
Labels: area/ui

#9097 chore(ui): Fix errors and close loophole in airbnb react lint rules
  ui/apps/platform/eslint.config.js
  ui/apps/platform/src/Containers/Policies/policies.utils.ts
Labels: area/ui

#9138 ROX-16811: Encode CVSS scores in the RHEL vuln severity field
  scanner/updater/rhel/parse_test.go
  scanner/updater/rhel/parser.go
Labels: area/scanner

#9139 fix(ui): Fix semantic merge conflict with no-undef-init lint rule
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/VulnMgmtListCves.js
Labels: area/ui

#9136 ROX-21197: Add a feature flag for cluster aware checks
  pkg/centralsensor/caps_list.go
  pkg/features/list.go
  sensor/common/deploymentenhancer/component.go
Labels: team/maple, area/sensor

#9133 ROX-21368: compliance scan config add description field
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl_test.go
  central/complianceoperator/v2/scanconfigurations/service/convert.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  generated/api/v2/compliance_scan_configuration_service.pb.go
  generated/api/v2/compliance_scan_configuration_service.swagger.json
  generated/storage/compliance_operator_v2.pb.go
  proto/api/v2/compliance_scan_configuration_service.proto
  proto/storage/compliance_operator_v2.proto
Labels: area/central, epic/compliance-2.0/mvp

#9126 ROX-19048: Prepare Scanner V4 integration for secured-clusters
  generated/api/v1/auth_service.swagger.json
  generated/api/v1/authprovider_service.swagger.json
  generated/api/v1/service_identity_service.swagger.json
  generated/storage/service_identity.pb.go
  pkg/mtls/crypto.go
  pkg/scannerv4/client/options.go
  pkg/scannerv4/client/options_test.go
  proto/storage/service_identity.proto
  scanner/indexer/remote.go
  sensor/kubernetes/localscanner/service_certificates_repository.go
  sensor/kubernetes/localscanner/service_certificates_repository_test.go
  sensor/kubernetes/localscanner/tls_issuer.go
Labels: area/central, area/helm, area/operator, area/sensor, area/scanner

#8782 ROX-20715: Add memory to clusterentities Store
  sensor/common/clusterentities/entity_status.go
  sensor/common/clusterentities/store.go
  sensor/common/clusterentities/store_test.go
  sensor/common/networkflow/manager/interfaces.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/networkflow/manager/manager_impl_test.go
  sensor/common/networkflow/manager/mocks/interfaces.go
  sensor/common/networkflow/service/service_impl.go
  sensor/kubernetes/listener/resources/env.go
  sensor/kubernetes/listener/resources/store_provider.go
Labels: ci-all-qa-tests, team/maple, area/sensor

#9110 ROX-21196: Add new roxctl flag for namespace
  generated/api/v1/detection_service.pb.go
  generated/api/v1/detection_service.swagger.json
  proto/api/v1/detection_service.proto
  roxctl/deployment/check/check.go
  roxctl/deployment/check/check_test.go
Labels: pls-merge, area/roxctl

#9108 ROX-21201: Test sensor deployment enhancement component
  sensor/common/deploymentenhancer/component.go
  sensor/common/deploymentenhancer/component_test.go
  sensor/kubernetes/listener/resources/deployment_store_test.go
Labels: team/maple, area/sensor

#9051 chore: Fewer manual mutex unlocks
  central/cve/fetcher/orchestrator.go
  central/reprocessor/reprocessor.go
  pkg/backgroundtasks/manager_impl.go
  pkg/nodes/enricher/enricher_impl.go
  qa-tests-backend/test-images/syslog/syslog.go
  sensor/common/compliance/auditlog_manager_impl.go
  sensor/debugger/central/communicate_server.go
Labels: area/central, area/sensor

#9142 ROX-21376: Adding no sort option to columns in cluster table
  ui/apps/platform/src/Containers/Clusters/clustersTableColumnDescriptors.js
Labels: area/ui

#9137 test(ui): Make image single page tests more robust
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageSingle.test.js
Labels: pls-merge, area/ui

#9159 fix(ui): Select table row containing scanned CVEs
  ui/apps/platform/cypress/integration/vulnmanagement/entitypages.test.js
Labels: pls-merge, area/ui

#9153 fix(ci): check if mocks were deleted with sources
  central/compliance/standards/index/mocks/indexer.go
  central/detection/alertmanager/alert_manager.go
  central/detection/alertmanager/mocks/alert_manager.go
  central/detection/runtime/detector.go
  central/detection/runtime/mocks/detector.go
  central/globaldb/v2backuprestore/backup/generators/mocks/tar.go
  central/logimbue/handler/mocks/handler_impl.go
  central/rbac/k8srole/internal/store/mocks/gen.go
  central/rbac/k8srolebinding/internal/store/mocks/gen.go
  central/serviceaccount/internal/store/mocks/gen.go
  pkg/detection/mocks/policy_compiler.go
  pkg/mitre/mocks/store.go
  pkg/sac/mocks/root_scope_checker_core_impl.go
  pkg/scannerv4/client/client.go
  pkg/scannerv4/client/mocks/client.go
  scripts/ci/jobs/check-generated.sh
  sensor/common/scannerclient/grpc_client_test.go
Labels: area/auth, area/central, area/sensor

#9169 fix(data-race): fix network flow manager tests
  sensor/common/networkflow/manager/manager_impl_test.go
Labels: team/maple, area/sensor

#9112 ROX-16811: Create a custom RHEL updater
  .golangci.yml
  Makefile
  go.mod
  scanner/matcher/matcher.go
  scanner/updater/export.go
  scanner/updater/rhel/doc.go
  scanner/updater/rhel/fetch_test.go
  scanner/updater/rhel/internal/common/charset.go
  scanner/updater/rhel/internal/common/normalizeseverity.go
  scanner/updater/rhel/internal/pulp/manifest.go
  scanner/updater/rhel/internal/pulp/manifest_test.go
  scanner/updater/rhel/internal/pulp/testdata/PULP_MANIFEST
  scanner/updater/rhel/parse_test.go
  scanner/updater/rhel/parser.go
  scanner/updater/rhel/releases.go
  scanner/updater/rhel/rhel.go
  scanner/updater/rhel/testdata/Red_Hat_Enterprise_Linux_3.xml
  scanner/updater/rhel/testdata/com.redhat.rhsa-20201980.xml
  scanner/updater/rhel/testdata/rhel-8-rpm-unpatched.xml
  scanner/updater/rhel/testdata/rhel-report.json
  scanner/updater/rhel/updaterset.go
  tools/allowed-large-files
Labels: area/scanner
