Repository stackrox/stackrox, pull requests merged in 2023-10, with the labels that each got.

#7925 fix(memory): Reduce compliance memory used by process indicators
  central/compliance/checks/common/checks.go
  central/compliance/checks/docker/runtime.go
  central/compliance/checks/docker/runtime_test.go
  central/compliance/checks/hipaa_164/check308a1iia/check_test.go
  central/compliance/checks/nist800-190/check412/check.go
  central/compliance/checks/nist800-190/check412/check_test.go
  central/compliance/data/repository.go
  central/compliance/framework/data.go
  central/compliance/framework/mocks/data.go
Labels: area/central

#7908 ROX-19769: Trigger Invite user modal
  ui/apps/platform/cypress/helpers/inviteUsers.js
  ui/apps/platform/cypress/helpers/user.js
  ui/apps/platform/cypress/integration/accessControl/accessControl.selectors.js
  ui/apps/platform/cypress/integration/accessControl/accessControlAuthProviders.test.js
  ui/apps/platform/cypress/integration/userinfo.test.js
  ui/apps/platform/src/Containers/AccessControl/AccessControlHeaderActionBar.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviders.tsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/Header/UserMenu.js
  ui/apps/platform/src/Containers/MainPage/Header/UserMenu.tsx
  ui/apps/platform/src/Containers/MainPage/InviteUsersModal.tsx
  ui/apps/platform/src/reducers/index.js
  ui/apps/platform/src/reducers/invite.ts
  ui/apps/platform/src/utils/User.js
  ui/apps/platform/src/utils/User.ts
Labels: area/ui

#7880 fix(perf): Naively hash image upserts to reduce reprocessing cost
  central/image/datastore/store/common/v2/merge.go
  central/image/datastore/store/postgres/metrics.go
  central/image/datastore/store/postgres/store.go
  generated/api/v1/image_service.swagger.json
  generated/storage/image.pb.go
  generated/storage/vulnerability.pb.go
  proto/storage/image.proto
  proto/storage/vulnerability.proto
Labels: area/central

#7938 fix(build): Get space for -rcd build
  .github/workflows/build.yaml
Labels: area/ci, ci-build-race-condition-debug

#7823 ROX-16402: Add converters for Matcher types
  scanner/services/converters.go
  scanner/services/converters/converters.go
  scanner/services/converters/converters_test.go
  scanner/services/converters_test.go
  scanner/services/indexer.go
Labels: area/scanner

#7842 fix(scanner): Fix indexer auth when fetching layers
  scanner/cmd/scannerctl/main.go
  scanner/indexer/indexer.go
Labels: area/scanner

#7841 ROX-19344: Add validation and persistence to deferral config form
  ui/apps/platform/src/Containers/DeferralConfiguration/VulnerabilitiesConfiguration.tsx
Labels: area/ui, epic/vm2.0/unified-deferral

#7928 ROX-19834: Add Invite Users form
  ui/apps/platform/cypress/fixtures/auth/roles.json
  ui/apps/platform/cypress/helpers/inviteUsers.js
  ui/apps/platform/cypress/integration/accessControl/accessControlAuthProviders.test.js
  ui/apps/platform/cypress/integration/userinfo.test.js
  ui/apps/platform/src/Containers/MainPage/InviteUsersForm.tsx
  ui/apps/platform/src/Containers/MainPage/InviteUsersModal.tsx
  ui/apps/platform/src/utils/textUtils.test.js
  ui/apps/platform/src/utils/textUtils.ts
Labels: area/ui

#7830 ROX-18092: compliance scan config
  central/complianceoperator/v2/compliancemanager/manager.go
  central/complianceoperator/v2/compliancemanager/manager_impl.go
  central/complianceoperator/v2/compliancemanager/manager_impl_test.go
  central/complianceoperator/v2/compliancemanager/mocks/manager.go
  central/complianceoperator/v2/compliancemanager/singleton.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl_test.go
  central/complianceoperator/v2/scanconfigurations/datastore/mocks/datastore.go
  central/complianceoperator/v2/scanconfigurations/datastore/singleton.go
  central/complianceoperator/v2/scanconfigurations/service/convert.go
  central/complianceoperator/v2/scanconfigurations/service/service.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  central/complianceoperator/v2/scanconfigurations/service/singleton.go
  central/main.go
  central/sensor/service/common/common.go
  central/sensor/service/common/manager.go
  central/sensor/service/common/mocks/manager.go
  central/sensor/service/connection/connection_impl.go
  central/sensor/service/connection/manager.go
  central/sensor/service/connection/manager_impl.go
  central/sensor/service/connection/mocks/manager.go
  generated/api/v2/common.pb.go
  generated/api/v2/compliance_scan_configuration_service.pb.go
  generated/api/v2/compliance_scan_configuration_service.pb.gw.go
  generated/storage/compliance_operator_v2.pb.go
  proto/api/v2/common.proto
  proto/api/v2/compliance_scan_configuration_service.proto
  proto/storage/compliance_operator_v2.proto
  sensor/kubernetes/complianceoperator/utils.go
Labels: area/central, area/sensor, area/postgres, epic/compliance-2.0/mvp

#7927 chore(ui): Hide/show reporting v1 and v2 based on feature flag
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/reportingForm.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/reportingTable.test.js
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReportingPage.tsx
  ui/apps/platform/src/routePaths.ts
Labels: area/ui, epic/vm2.0/reports

#7843 ROX-16402: Introduce the initial Scanner Matcher
  scanner/cmd/scanner/main.go
  scanner/cmd/scannerctl/main.go
  scanner/indexer/indexer.go
  scanner/matcher/matcher.go
  scanner/matcher/mocks/matcher.go
  scanner/services/converters/converters_test.go
  scanner/services/indexer.go
  scanner/services/matcher.go
  scanner/services/matcher_test.go
  scanner/services/validators/validators.go
  scanner/services/validators/validators_test.go
Labels: area/roxctl, area/central, area/ui, area/operator, area/sensor, area/admission-controller, area/scanner, area/ci

#7949 feat(UI): Add report config name to preview
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/EmailTemplatePreview.tsx
Labels: area/ui, epic/vm2.0/reports

#6569 ROX-14127: VulnScanWithGraphQLTest multi-arch image update
  qa-tests-backend/src/test/groovy/VulnScanWithGraphQLTest.groovy
Labels: ci-all-qa-tests

#7955 ROX-19920: Make NetworkFlowTest multi-arch compliant
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Labels: ci-all-qa-tests

#7930 ROX-19885: Set gRPC max receive size for client connection
  pkg/clientconn/client.go
  pkg/grpc/server.go
  sensor/common/centralclient/grpc_connection.go
Labels: team/maple, area/sensor

#7790 ROX-19139: Split config read into private and public parts
  central/cluster/service/service_impl.go
  central/cluster/service/service_impl_test.go
  central/config/datastore/datastore.go
  central/config/datastore/datastore_test.go
  central/config/datastore/mocks/datastore.go
  central/config/datastore/singleton.go
  central/config/service/service.go
  central/main.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
Labels: area/central

#7968 ROX-19868: Fix broken file search in ca-setup.sh
  image/templates/common/ca-setup.sh
Labels: area/helm

#7975 feat(admin-events): add benchmarks for datastore
  central/administration/events/datastore/datastore.go
  central/administration/events/datastore/datastore_impl_benchmark_test.go
  central/administration/events/datastore/internal/store/mocks/store.go
  central/administration/events/datastore/internal/store/store.go
Labels: area/central

#6064 ROX-16935: Make PolicyConfigurationTest multi-arch compliant
  qa-tests-backend/src/test/groovy/PolicyConfigurationTest.groovy
Labels: ci-all-qa-tests

#7932 ROX-19678: Add metric delegate scan namespace access check
  central/delegatedregistryconfig/delegator/delegator.go
Labels: area/central

#7976 perf(admin-events): fix slow mutex in writer
  central/administration/events/datastore/datastore_impl_benchmark_test.go
  central/administration/events/datastore/internal/store/mocks/store.go
  central/administration/events/datastore/internal/store/store.go
  central/administration/events/datastore/internal/writer/writer.go
  central/administration/events/datastore/internal/writer/writer_impl.go
  pkg/protoutils/clone_bench_test.go
  pkg/protoutils/id.go
Labels: area/central

#7869 ROX-19772: Administration events for notifiers
  central/image/service/service_impl.go
  central/notifiers/cscc/client/client.go
  central/reprocessor/reprocessor.go
  central/splunk/compliance.go
  central/splunk/violations.go
  central/tlsconfig/tlsconfig.go
  pkg/administration/events/codes/codes.go
  pkg/administration/events/domain.go
  pkg/administration/events/hints.go
  pkg/administration/events/option/option.go
  pkg/auth/authproviders/openshift/watcher.go
  pkg/auth/user/util.go
  pkg/auth/user/util_test.go
  pkg/env/notifiers.go
  pkg/logging/fields.go
  pkg/logging/log_converter_impl.go
  pkg/logging/log_converter_impl_test.go
  pkg/logging/logger.go
  pkg/notifiers/awssh/notifier.go
  pkg/notifiers/common.go
  pkg/notifiers/email/email.go
  pkg/notifiers/format.go
  pkg/notifiers/generic/generic.go
  pkg/notifiers/jira/jira.go
  pkg/notifiers/pagerduty/pagerduty.go
  pkg/notifiers/slack/slack.go
  pkg/notifiers/splunk/splunk.go
  pkg/notifiers/sumologic/sumologic.go
  pkg/notifiers/syslog/syslog.go
  pkg/notifiers/syslog/tcp_sender.go
  pkg/notifiers/teams/teams.go
  tools/roxvet/analyzers/structuredlogs/analyzer.go
Labels: area/auth, area/central

#7958 ROX-19910: Add administration events query string to page address
  ui/apps/platform/cypress/integration/administration/events/AdministrationEvents.helpers.js
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEvent.tsx
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventDescription.tsx
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventHintMessage.tsx
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventsPage.tsx
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventsTable.tsx
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventsToolbar.tsx
  ui/apps/platform/src/services/AdministrationEventsService.ts
Labels: area/ui

#7934 fix(bug): Return unknown when not authorized for watch status
  central/graphql/resolvers/images.go
  ui/apps/platform/src/Components/CVEStackedPill/CVEStackedPill.js
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.constants.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/types.ts
  ui/apps/platform/src/routePaths.ts
Labels: area/central, area/ui

#7957 ROX-16668: Proto changes and env vars for notifiers
  central/graphql/resolvers/generated.go
  generated/api/v1/notifier_service.swagger.json
  generated/storage/notifier.pb.go
  pkg/env/notifier_secret_encryption.go
  proto/storage/notifier.proto
Labels: area/central

#7972 build roxctl rhtap
  .dockerignore
  .tekton/roxctl-pull-request.yaml
  .tekton/roxctl-push.yaml
  image/roxctl/Dockerfile
  pkg/tlscheck/tlscheck.go
  status.sh
Labels: area/helm

#7873 ROX-19829: Add unit test boilerplate to gRPC connection in Sensor
  sensor/common/config/handler.go
  sensor/common/config/mocks/handler.go
  sensor/common/sensor/central_communication_test.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: team/maple, area/sensor

#7941 ROX-19773: API token expiration events
  central/apitoken/expiration/expiration.go
  central/apitoken/expiration/expiration_test.go
  pkg/administration/events/domain.go
  pkg/administration/events/hints.go
  pkg/administration/events/resources/resources.go
  pkg/logging/fields.go
  pkg/logging/log_converter_impl.go
  pkg/logging/log_converter_impl_test.go
Labels: area/central

#7980 fix version of binary build inside roxctl container image on RHTAP
  .tekton/roxctl-pull-request.yaml
  .tekton/roxctl-push.yaml
  image/roxctl/Dockerfile
  image/roxctl/Dockerfile.rhtap
Labels: area/helm

#7961 ROX-19877: Add crypto util packages
  central/notifiers/utils/encryption.go
  pkg/cryptoutils/crypto_codec.go
  pkg/cryptoutils/crypto_codec_test.go
  pkg/cryptoutils/mocks/nonce_generator.go
  pkg/cryptoutils/nonce_generator.go
Labels: area/central

#7984 ROX-20001: Align administration events Count column head at right
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventsTable.css
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventsTable.tsx
Labels: area/ui

#7973 ROX-18291: backport to release-4.1
  .github/actions/cache-go-dependencies/action.yaml
  pkg/grpc/server.go
Labels: area/ci

#7883 chore(cleanup): Unused const with stackrox support numbers
  ui/apps/platform/src/messages/common.ts
Labels: area/ui

#8000 fix(scanner): config file leak
  scanner/config/config.go
Labels: area/scanner

#7937 ROX-19065: Support setting the DB password using a file
  scanner/config/config.go
  scanner/config/config_test.go
  scanner/indexer/indexer.go
  scanner/matcher/matcher.go
Labels: area/scanner

#7985 chore(ci): Free up some space for GHA runners
  .github/actions/job-preamble/action.yaml
  .github/workflows/build.yaml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
Labels: area/ci

#8007 fix(GHA): long running clusters must have shorter names (#132)
  .github/workflows/create-clusters.yml
  .github/workflows/cut-rc.yml
Labels: area/ci

#7839 ROX-17646: Remove waitUntilCentralIsReady
  sensor/common/centralclient/grpc_connection.go
  sensor/common/sensor/sensor.go
Labels: team/maple, area/sensor

#7998 ROX-19990: Add administration events search filters and empty state
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventsEmptyState.tsx
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventsPage.tsx
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventsTable.tsx
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventsToolbar.tsx
  ui/apps/platform/src/Containers/Administration/Events/SearchFilterDomain.tsx
  ui/apps/platform/src/Containers/Administration/Events/SearchFilterLevel.tsx
  ui/apps/platform/src/Containers/Administration/Events/SearchFilterResourceType.tsx
  ui/apps/platform/src/services/AdministrationEventsService.ts
Labels: area/ui

#7946 ROX-19955: Prometheus resources in sensor upgrader
  pkg/namespaces/constants.go
  sensor/upgrader/common/namespaces.go
  sensor/upgrader/preflight/namespace.go
  sensor/upgrader/preflight/namespace_test.go
  sensor/upgrader/upgradectx/context.go
Labels: area/sensor

#7889 ROX-16667: Optional encryption key secret mount to Helm and Operator
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  operator/apis/platform/v1alpha1/central_types.go
  operator/apis/platform/v1alpha1/zz_generated.deepcopy.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/pkg/central/values/translation/translation.go
  operator/pkg/central/values/translation/translation_test.go
Labels: area/helm, area/operator

#8018 fix(scanner): Add missing defer
  scanner/config/config.go
Labels: area/scanner

#7897 ROX-19892: Allow changing feature flags on release builds
  central/activecomponent/updater/aggregator/process_aggregator_impl.go
  central/activecomponent/updater/aggregator/process_aggregator_test.go
  central/activecomponent/updater/updater_impl.go
  central/activecomponent/updater/updater_impl_test.go
  central/config/datastore/singleton.go
  central/config/service/service.go
  central/config/service/service_test.go
  central/featureflags/service/service_impl.go
  central/globalindex/mapping/mapping.go
  central/graphql/resolvers/active_state.go
  central/graphql/resolvers/components_v1.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/vulnerabilities_v1.go
  central/main.go
  central/postgres/report_pruning_test.go
  central/pruning/pruning.go
  central/reports/common/query_builder.go
  central/reports/config/datastore/datastore_impl_postgres_test.go
  central/reports/config/datastore/datastore_impl_v2_test.go
  central/reports/scheduler/v2/reportgenerator/email_formatter_test.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl_test.go
  central/reports/scheduler/v2/reportgenerator/singleton.go
  central/reports/scheduler/v2/singleton.go
  central/reports/service/v2/config_separation_test.go
  central/reports/service/v2/convert_test.go
  central/reports/service/v2/service.go
  central/reports/service/v2/service_impl.go
  central/reports/service/v2/service_impl_test.go
  central/reports/service/v2/singleton.go
  central/reports/snapshot/datastore/datastore.go
  central/reports/snapshot/datastore/datastore_impl_test.go
  central/reports/snapshot/datastore/search/searcher.go
  central/reports/snapshot/datastore/singleton.go
  central/reports/validation/singleton.go
  central/vulnerabilityrequest/utils/util.go
  pkg/clair/convert.go
  pkg/clair/convert_test.go
  pkg/env/active_vuln_mgmt.go
  pkg/env/vulnerability_management.go
  pkg/features/README.md
  pkg/features/feature.go
  pkg/features/features.go
  pkg/features/features_test.go
  pkg/features/list.go
  pkg/grpc/server.go
  pkg/scanners/clairify/clairify_test.go
  pkg/scanners/clairify/convert.go
  pkg/scanners/quay/convert_test.go
  tests/feature_flag_test.go
Labels: area/central

#8004 ROX-19997: Bump timeout to 25 minutes when we wait for scanner.
  operator/tests/central/basic-central/10-assert.yaml
  operator/tests/central/basic-central/61-assert.yaml
  operator/tests/central/basic-central/62-assert.yaml
  operator/tests/common/central-cr-assert.yaml
  operator/tests/common/secured-cluster-cr-assert.yaml
Labels: area/operator

#7891 ROX-11944: Show only selectable roles in API token creation
  central/apitoken/service/service_impl.go
  central/role/datastore/datastore.go
  central/role/datastore/datastore_impl.go
  central/role/datastore/mocks/datastore.go
  generated/api/v1/api_token_service.pb.go
  generated/api/v1/api_token_service.pb.gw.go
  generated/api/v1/api_token_service.swagger.json
  pkg/auth/permissions/role_mapper.go
  proto/api/v1/api_token_service.proto
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ApiTokenIntegrationForm/ApiTokenIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ApiTokenIntegrationForm/useFetchRoles.ts
  ui/apps/platform/src/services/APITokensService.js
Labels: area/auth, area/central, area/ui

#8027 use brew registry for builder
  image/roxctl/Dockerfile.rhtap
Labels: area/helm

#8023 chore(backport): ci disk free
  .github/actions/job-preamble/action.yaml
  .github/workflows/build.yaml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
Labels: area/ci

#8015 ROX-20017: fix plop migration revert simple transport
  migrator/README.md
  migrator/migrations/m_189_to_m_190_vulnerability_requests_add_name/migration_impl.go
  migrator/migrations/m_190_to_m_191_plop_add_closed_time_column/migration_impl.go
  migrator/migrations/m_190_to_m_191_plop_add_closed_time_column/migration_test.go
  migrator/migrations/m_191_to_m_192_vulnerability_requests_searchable_scope/migration_impl.go
  migrator/postgres/gorm/config.go
  pkg/postgres/pgtest/conn/conn.go
  tools/generate-helpers/bootstrap-migration/migration_impl.go.tpl
Labels: area/postgres

#7988 ROX-19065: Initial helm chart for E2E
  scanner/.gitignore
  scanner/Makefile
  scanner/cmd/scannerctl/main.go
  scanner/e2etests/.gitignore
  scanner/e2etests/helmchart/.helmignore
  scanner/e2etests/helmchart/Chart.yaml
  scanner/e2etests/helmchart/templates/db-config.yaml
  scanner/e2etests/helmchart/templates/db-deployment.yaml
  scanner/e2etests/helmchart/templates/db-secret-password.yaml
  scanner/e2etests/helmchart/templates/db-secret-tls.yaml
  scanner/e2etests/helmchart/templates/db-service.yaml
  scanner/e2etests/helmchart/templates/scanner-config.yaml
  scanner/e2etests/helmchart/templates/scanner-deployment.yaml
  scanner/e2etests/helmchart/templates/scanner-secret-tls.yaml
  scanner/e2etests/helmchart/values.yaml
Labels: area/scanner

#8043 chore(backport): release 4.2/backport docker prune
  .github/actions/job-preamble/action.yaml
  .github/workflows/build.yaml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
Labels: area/ci

#8032 ROX-20056: Make BuiltinPoliciesTest multi-arch compliant
  qa-tests-backend/src/test/groovy/BuiltinPoliciesTest.groovy
Labels: ci-all-qa-tests

#8036 fix(ci): only restore go cache by hash on go.sum(s)
  .github/actions/cache-go-dependencies/action.yaml
Labels: area/ci

#8034 ROX-19880: Secure notifiers on create and update
  central/notifier/service/service.go
  central/notifier/service/service_impl.go
  central/notifier/service/singleton.go
  central/notifiers/cscc/cscc.go
  central/notifiers/email/email.go
  central/notifiers/jira/jira.go
  central/notifiers/slack/slack.go
  central/notifiers/syslog/syslog.go
  central/notifiers/teams/teams.go
  central/notifiers/utils/encryption.go
  pkg/cryptoutils/cryptocodec/crypto_codec.go
  pkg/cryptoutils/cryptocodec/crypto_codec_test.go
  pkg/notifiers/awssh/notifier.go
  pkg/notifiers/generic/generic.go
  pkg/notifiers/pagerduty/pagerduty.go
  pkg/notifiers/splunk/splunk.go
  pkg/notifiers/sumologic/sumologic.go
  pkg/notifiers/types.go
Labels: area/central

#8030 refactor(test): use mocked client in central communication tests
  sensor/common/sensor/central_communication_impl.go
  sensor/common/sensor/central_communication_test.go
  sensor/common/sensor/central_receiver_impl.go
  sensor/common/sensor/central_sender_impl.go
  sensor/common/sensor/interfaces.go
  sensor/common/sensor/mocks/interfaces.go
Labels: team/maple, area/sensor

#8011 ROX-14701: Publish IBM P&Z `roxctl` to mirror.openshift.com at release
  CHANGELOG.md
  scripts/ci/roxctl-publish/prepare.sh
Labels: area/ci

#8031 fix: diag bundle - log errors that are missed when context is canceled
  central/debug/service/diagnostics.go
  central/telemetry/gatherers/cluster.go
Labels: area/central

#8049 fix: Remove extra base64 encoding in k8sobject.go
  roxctl/declarativeconfig/k8sobject/k8sobject.go
  roxctl/declarativeconfig/k8sobject/k8sobject_test.go
Labels: area/roxctl

#7933 ROX-19561: Add limiter for maximum allowed init sync sensors
  CHANGELOG.md
  central/sensor/service/connection/connection_impl.go
  central/sensor/service/connection/initsync_manager.go
  central/sensor/service/connection/initsync_manager_test.go
  central/sensor/service/connection/manager_impl.go
  central/sensor/service/connection/sensorevents.go
  pkg/env/rate_limit.go
  pkg/errox/errors.go
  pkg/errox/grpc/mapping.go
Labels: area/central

#8051 ROX-20042: Add 'first' qualifier to watched image row selectors
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/watchedImagesFlow.test.js
Labels: area/ui

#8033 ROX-16930: Make ImageManagementTest multi-arch compliant v2
  qa-tests-backend/src/test/groovy/ImageManagementTest.groovy
Labels: ci-all-qa-tests

#7894 fix(qa): Multi-arch changes for QA tests
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/PolicyConfigurationTest.groovy
  qa-tests-backend/src/test/groovy/ProcessVisualizationReplicaTest.groovy
  qa-tests-backend/src/test/groovy/ProcessVisualizationTest.groovy
  qa-tests-backend/src/test/groovy/RoutesTest.groovy
Labels: ci-all-qa-tests

#7995 ROX-19262: Move CI to RH
  scripts/ci/gcp.sh
  scripts/ci/gke.sh
  scripts/ci/metrics.sh
  scripts/ci/store-artifacts.bats
  scripts/ci/store-artifacts.sh
  scripts/ci/tools/get-info-about-osci-jobs/get-info-for-shas.sh
  tests/e2e/lib.sh
  tests/e2e/run-scale.sh
Labels: ci-all-qa-tests

#8013 ROX-19968: Add permission checks for watched images controls
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
Labels: area/ui

#8057 fix(perf): Add risk reprocessing interval env var
  central/reprocessor/reprocessor.go
  pkg/env/reprocessing_interval.go
Labels: area/central

#8062 ROX-19160: Append date to VM 2.0 Report download names
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobs.tsx
Labels: area/ui

#7872 fix(CI): Tag based test execution & misc fixes for ppc64le/s390x CI
  .openshift-ci/base_qa_e2e_test.py
  .openshift-ci/ci_tests.py
  qa-tests-backend/Makefile
  qa-tests-backend/build.gradle
  qa-tests-backend/scripts/run-custom-pz.sh
  qa-tests-backend/src/test/groovy/AdmissionControllerNoImageScanTest.groovy
  qa-tests-backend/src/test/groovy/AdmissionControllerTest.groovy
  qa-tests-backend/src/test/groovy/AttemptedAlertsTest.groovy
  qa-tests-backend/src/test/groovy/AuditLogAlertsTest.groovy
  qa-tests-backend/src/test/groovy/AuthServiceTest.groovy
  qa-tests-backend/src/test/groovy/AutocompleteTest.groovy
  qa-tests-backend/src/test/groovy/CSVTest.groovy
  qa-tests-backend/src/test/groovy/CertExpiryTest.groovy
  qa-tests-backend/src/test/groovy/CertRotationTest.groovy
  qa-tests-backend/src/test/groovy/ClusterInitBundleTest.groovy
  qa-tests-backend/src/test/groovy/ClustersTest.groovy
  qa-tests-backend/src/test/groovy/DeploymentEventGraphQLTest.groovy
  qa-tests-backend/src/test/groovy/DiagnosticBundleTest.groovy
  qa-tests-backend/src/test/groovy/ExternalNetworkSourcesTest.groovy
  qa-tests-backend/src/test/groovy/GlobalSearch.groovy
  qa-tests-backend/src/test/groovy/GroupsTest.groovy
  qa-tests-backend/src/test/groovy/IntegrationHealthTest.groovy
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
  qa-tests-backend/src/test/groovy/K8sRbacTest.groovy
  qa-tests-backend/src/test/groovy/NetworkBaselineTest.groovy
  qa-tests-backend/src/test/groovy/NetworkSimulator.groovy
  qa-tests-backend/src/test/groovy/NodeInventoryTest.groovy
  qa-tests-backend/src/test/groovy/PaginationTest.groovy
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
  qa-tests-backend/src/test/groovy/RbacAuthTest.groovy
  qa-tests-backend/src/test/groovy/RuntimePolicyTest.groovy
  qa-tests-backend/src/test/groovy/RuntimeViolationLifecycleTest.groovy
  qa-tests-backend/src/test/groovy/SecretsTest.groovy
  qa-tests-backend/src/test/groovy/SummaryTest.groovy
  qa-tests-backend/src/test/groovy/TLSChallengeTest.groovy
  qa-tests-backend/src/test/groovy/VulnMgmtSACTest.groovy
  qa-tests-backend/src/test/groovy/VulnMgmtTest.groovy
  qa-tests-backend/src/test/groovy/VulnMgmtWorkflowTest.groovy
  qa-tests-backend/src/test/groovy/VulnScanWithGraphQLTest.groovy
Labels: ci-all-qa-tests, area/ci

#8078 ROX-19696: add functions to parse deduper state
  sensor/common/deduper/deduper.go
  sensor/common/deduper/key.go
  sensor/common/deduper/key_test.go
Labels: team/maple, area/sensor

#7755 ROX-19629: Sensor reconciliation
  central/hash/manager/deduper.go
  central/hash/manager/mocks/deduper.go
  central/sensor/service/connection/connection_impl.go
  central/sensor/service/connection/connection_test.go
  central/sensor/service/connection/sensorevents.go
  central/sensor/service/service_impl.go
  pkg/centralsensor/caps_list.go
  pkg/features/list.go
  sensor/common/sensor/central_communication.go
  sensor/common/sensor/central_communication_impl.go
  sensor/common/sensor/central_communication_test.go
  sensor/common/sensor/sensor.go
  sensor/debugger/message/fake.go
  sensor/kubernetes/eventpipeline/output/output.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/tests/helper/helper.go
  sensor/tests/pipeline/bench_test.go
  sensor/tests/replay/helper.go
  tools/local-sensor/main.go
Labels: team/maple, area/central, area/sensor

#8076 feat(metrics): Register metrics in Sensor
  sensor/common/metrics/init.go
Labels: team/maple, area/sensor

#8074 feat(CI): Add a JUnit tag for ppc64le/s390x to run desirable tests
  qa-tests-backend/Makefile
  qa-tests-backend/build.gradle
  qa-tests-backend/scripts/run-custom-pz.sh
Labels: ci-all-qa-tests

#6292 ROX-16932: Make DefaultPoliciesTest multi-arch compliant
  qa-tests-backend/src/test/groovy/DefaultPoliciesTest.groovy
Labels: ci-all-qa-tests

#7999 ROX-19837: Invite users confirmation-no email
  ui/apps/platform/cypress/fixtures/auth/authProviders-empty.json
  ui/apps/platform/cypress/helpers/inviteUsers.js
  ui/apps/platform/cypress/helpers/modal.js
  ui/apps/platform/cypress/integration/accessControl/accessControl.helpers.js
  ui/apps/platform/cypress/integration/accessControl/accessControlAuthProviders.test.js
  ui/apps/platform/cypress/integration/userinfo.test.js
  ui/apps/platform/src/Containers/AccessControl/traits.ts
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/InviteUsers/InviteUsers.utils.test.ts
  ui/apps/platform/src/Containers/MainPage/InviteUsers/InviteUsers.utils.ts
  ui/apps/platform/src/Containers/MainPage/InviteUsers/InviteUsersConfirmationNoEmail.tsx
  ui/apps/platform/src/Containers/MainPage/InviteUsers/InviteUsersForm.tsx
  ui/apps/platform/src/Containers/MainPage/InviteUsers/InviteUsersModal.tsx
  ui/apps/platform/src/Containers/MainPage/InviteUsersModal.tsx
  ui/apps/platform/src/services/AuthService/AuthService.ts
  ui/apps/platform/src/types/traits.proto.ts
Labels: area/ui

#8052 ROX-20012: Add polling for administration events
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventsPage.tsx
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventsToolbar.tsx
  ui/apps/platform/src/Containers/Administration/Events/SearchFilterDomain.tsx
  ui/apps/platform/src/Containers/Administration/Events/SearchFilterLevel.tsx
  ui/apps/platform/src/Containers/Administration/Events/SearchFilterResourceType.tsx
  ui/apps/platform/src/Containers/Administration/Events/UpdatedTimeOrUpdateButton.tsx
  ui/apps/platform/src/services/AdministrationEventsService.ts
  ui/apps/platform/src/utils/dateUtils.ts
Labels: area/ui

#7977 ROX-19984: Report emails do not have custom subject and other bugs
  central/reports/scheduler/v2/reportgenerator/consts.go
  central/reports/scheduler/v2/reportgenerator/email_formatter.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
  central/reports/scheduler/v2/reportgenerator/types.go
  central/reports/service/v2/service_impl_test.go
  central/reports/validation/validate.go
  pkg/branding/brandedtext.go
  pkg/env/vulnerability_management.go
Labels: area/central

#8056 Rename the deferral config API to exception config API
  central/config/datastore/datastore_test.go
  central/config/datastore/singleton.go
  central/config/service/convert.go
  central/config/service/service.go
  central/config/service/service_test.go
  generated/api/v1/config_service.pb.go
  generated/api/v1/config_service.pb.gw.go
  generated/api/v1/config_service.swagger.json
  generated/storage/config.pb.go
  proto/api/v1/config_service.proto
  proto/storage/config.proto
  ui/apps/platform/src/services/ExceptionConfigService.ts
Labels: area/central, area/ui, epic/vm2.0/workload-cves

#8060 ROX-19843: Use https://stackrox.io/ for image maintainer label
  image/postgres/Dockerfile
  image/rhel/Dockerfile
  integration-tests/mock-grpc-server/image/Dockerfile
  scanner/image/db/Dockerfile
  scanner/image/scanner/Dockerfile
Labels: area/helm, area/postgres, area/scanner

#8072 ROX-20040: Try and improve gke-operator-e2e disk performance
  .openshift-ci/clusters.py
  scripts/ci/gke.sh
  scripts/ci/jobs/gke_operator_e2e_tests.py
Labels: area/ci

#7947 ROX-18107: store next gen compliance results
  central/complianceoperator/checkresults/datastore/datastore.go
  central/complianceoperator/checkresults/datastore/mocks/datastore.go
  central/complianceoperator/v2/checkresults/datastore/datastore.go
  central/complianceoperator/v2/checkresults/datastore/datastore_impl.go
  central/complianceoperator/v2/checkresults/datastore/datastore_impl_test.go
  central/complianceoperator/v2/checkresults/datastore/mocks/datastore.go
  central/complianceoperator/v2/checkresults/datastore/singleton.go
  central/complianceoperator/v2/checkresults/store/postgres/gen.go
  central/complianceoperator/v2/checkresults/store/postgres/store.go
  central/complianceoperator/v2/scans/store/postgres/store.go
  central/sensor/service/pipeline/complianceoperatorresults/pipeline.go
  central/sensor/service/pipeline/complianceoperatorresults/pipeline_test.go
  generated/api/v2/compliance_integration_service.pb.go
  generated/api/v2/compliance_results_service.pb.go
  generated/internalapi/central/compliance_operator.pb.go
  generated/internalapi/central/sensor_events.pb.go
  generated/storage/compliance_integration.pb.go
  generated/storage/compliance_operator_v2.pb.go
  pkg/postgres/schema/compliance_operator_check_result_v2.go
  pkg/postgres/schema/compliance_operator_scan_v2.go
  proto/api/v2/compliance_integration_service.proto
  proto/api/v2/compliance_results_service.proto
  proto/internalapi/central/compliance_operator.proto
  proto/internalapi/central/sensor_events.proto
  proto/storage/compliance_integration.proto
  proto/storage/compliance_operator_v2.proto
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorresults.go
  tests/e2e/run-compliance-e2e.sh
  tests/e2e/run.sh
Labels: area/central, area/sensor, area/postgres, epic/compliance-2.0/mvp

#8101 chore(scanner): bump scanner version to 2.31.1
  SCANNER_VERSION
Labels: ci-all-qa-tests

#8125 fix(generated): regenerate to catch up to mock upgrade
  central/complianceoperator/checkresults/datastore/mocks/datastore.go
  central/complianceoperator/v2/checkresults/datastore/mocks/datastore.go
Labels: area/central

#8093 fix(ci): catch errors on sending to slack
  scripts/ci/lib.sh
Labels: area/ci

#8073 ROX-16943: Enable tests on P/Z to verify slack notifier functionality
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
  qa-tests-backend/src/test/groovy/NetworkSimulator.groovy
Labels: ci-all-qa-tests

#8094 fix(qa): WGET violations issue fixes for P/Z
  qa-tests-backend/src/test/groovy/BuiltinPoliciesTest.groovy
  qa-tests-backend/src/test/groovy/DefaultPoliciesTest.groovy
  qa-tests-backend/src/test/groovy/ImageManagementTest.groovy
Labels: ci-all-qa-tests

#8103 ROX-20132: Protect against marshal panic by removing nil elements
  central/image/datastore/store/common/v2/merge.go
  central/node/datastore/store/common/v2/merge.go
Labels: area/central

#8055 ROX-19878: Augment central startup for notifiers
  central/notifier/processor/singleton.go
  central/notifier/service/service_impl.go
  central/notifiers/utils/encryption.go
Labels: area/central

#8135 Add config validation behind feature flag
  central/config/service/service.go
Labels: area/central, epic/vm2.0/unified-deferral

#8130 ROX-20170: Data model for v2 exception management service
  CHANGELOG.md
  generated/api/v2/vuln_exception_service.pb.go
  generated/api/v2/vuln_exception_service.pb.gw.go
  generated/api/v2/vuln_state.pb.go
  proto/api/v2/vuln_exception_service.proto
  proto/api/v2/vuln_state.proto
Labels: epic/vm2.0/unified-deferral

#8136 ROX-20181: Apply noResyncPeriod to Openshift resources
  sensor/kubernetes/listener/resource_event_handler.go
Labels: area/sensor

#8127 ROX-20057: Implement reconciliation in ServiceAccount Store
  sensor/kubernetes/listener/resources/hash_reconciliation.go
  sensor/kubernetes/listener/resources/hash_reconciliation_test.go
  sensor/kubernetes/listener/resources/serviceaccount_store.go
  sensor/kubernetes/listener/resources/store_provider.go
Labels: team/maple, area/central, area/sensor

#8086 feat(qa): Enable more tests to run on ppc64le/s390x
  qa-tests-backend/src/test/groovy/AuditScrubbingTest.groovy
  qa-tests-backend/src/test/groovy/BuiltinPoliciesTest.groovy
  qa-tests-backend/src/test/groovy/ClientCertAuthTest.groovy
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
  qa-tests-backend/src/test/groovy/DeclarativeConfigTest.groovy
  qa-tests-backend/src/test/groovy/DefaultPoliciesTest.groovy
  qa-tests-backend/src/test/groovy/Enforcement.groovy
  qa-tests-backend/src/test/groovy/ImageManagementTest.groovy
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
  qa-tests-backend/src/test/groovy/PolicyConfigurationTest.groovy
  qa-tests-backend/src/test/groovy/ProcessBaselinesTest.groovy
  qa-tests-backend/src/test/groovy/ProcessVisualizationReplicaTest.groovy
  qa-tests-backend/src/test/groovy/RiskTest.groovy
  qa-tests-backend/src/test/groovy/RoutesTest.groovy
  qa-tests-backend/src/test/groovy/SACTest.groovy
Labels: ci-all-qa-tests

#7959 ROX-19459: Add CVE status tabs to workload CVE list page
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/searchUtils.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/types.ts
  ui/apps/platform/src/types/cve.proto.ts
Labels: area/ui, epic/vm2.0/unified-deferral

#7993 chore(concurrency): add return values to WithLock/WithRLock
  central/globaldb/v2backuprestore/manager/restore_process.go
  central/hash/manager/manager.go
  central/sensor/networkpolicies/controller_impl.go
  central/sensor/service/connection/manager_impl.go
  central/sensor/service/connection/sensorevents.go
  central/sensor/telemetry/controller_impl.go
  pkg/auth/authproviders/provider_impl.go
  pkg/concurrency/lock.go
  pkg/images/enricher/enricher_impl.go
  pkg/registries/docker/docker.go
  sensor/common/detector/deduper.go
  sensor/common/detector/detector.go
  sensor/kubernetes/listener/resources/node_store.go
Labels: area/auth, area/central, area/sensor

#8152 chore: bump Collector to v3.13.4
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#8097 ROX-19762: Align sunburst percentages with dashboard percentages
  ui/apps/platform/src/Containers/Compliance/widgets/ComplianceByStandard.js
Labels: area/ui

#8155 ROX-20033: Fix for flaky workload cve toolbar e2e test
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageCveSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadTableToolbar.test.js
Labels: area/ui

#8099 ROX-20089: Make changes from design review of administration events
  ui/apps/platform/cypress/integration/administration/events/eventsTable.test.js
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventDescription.tsx
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventHint.tsx
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventHintMessage.tsx
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventPage.tsx
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventsEmptyState.tsx
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventsTable.css
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventsTable.tsx
  ui/apps/platform/src/services/AdministrationEventsService.ts
Labels: area/ui

#7605 ROX-19298: Replace violationTypes with frontend alert proto types
  ui/apps/platform/src/Containers/Violations/Details/Deployment/DeploymentDetails.tsx
  ui/apps/platform/src/Containers/Violations/Details/Enforcement/Explanation.tsx
  ui/apps/platform/src/Containers/Violations/Details/Enforcement/Header.tsx
  ui/apps/platform/src/Containers/Violations/Details/EnforcementDetails.tsx
  ui/apps/platform/src/Containers/Violations/Details/NetworkFlowCard.tsx
  ui/apps/platform/src/Containers/Violations/Details/RuntimeMessages.tsx
  ui/apps/platform/src/Containers/Violations/Details/ViolationDetails.tsx
  ui/apps/platform/src/Containers/Violations/Details/ViolationDetailsPage.tsx
  ui/apps/platform/src/Containers/Violations/Modals/ExcludeConfirmation.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePanel.tsx
  ui/apps/platform/src/Containers/Violations/types/violationTypes.ts
  ui/apps/platform/src/Containers/Violations/violationTableColumnDescriptors.tsx
  ui/apps/platform/src/constants/enforcementActions.ts
  ui/apps/platform/src/services/AlertsService.ts
  ui/apps/platform/src/types/alert.proto.ts
  ui/apps/platform/src/types/policy.proto.ts
Labels: area/ui

#8169 fix(e2e): Delete assertion from PolicyViolationsBySeverity test
  ui/apps/platform/cypress/integration/configmanagement/dashboard.test.js
Labels: area/ui

#8075 ROX-20112: Prevent double-reporting `kuttl` errors.
  operator/tests/run.sh
  scripts/ci/lib.sh
Labels: area/operator

#8149 chore: bump Collector to v3.15.1
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#8151 chore: bump Collector to v3.14.4
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#8174 chore: Scanner 2.30.6
  SCANNER_VERSION
Labels: ci-all-qa-tests

#8183 chore: Update labels again and set some value to version and url
  image/roxctl/rhtap.Dockerfile
Labels: area/helm

#8010 ROX-19354: Add cve table actions for deferral/fp
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/cveListExceptionFlow.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/riskAcceptanceFlow.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/TableEntityToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/types.ts
  ui/apps/platform/src/hooks/useSet.test.ts
  ui/apps/platform/src/hooks/useSet.ts
Labels: area/ui, epic/vm2.0/unified-deferral

#8156 ROX-20203: Bump helm operator plugin version
  go.mod
  go.sum
Labels: area/operator

#8173 chore: Scanner 2.29.7
  SCANNER_VERSION
Labels: ci-all-qa-tests

#8172 chore: Scanner 2.28.6
  SCANNER_VERSION
Labels: ci-all-qa-tests

#8120 ROX-18285: Fix data race when calling .Stop() on sensor pipeline
  sensor/kubernetes/eventpipeline/output/output.go
  sensor/kubernetes/eventpipeline/output/output_impl.go
  sensor/kubernetes/eventpipeline/pipeline_impl.go
  sensor/kubernetes/eventpipeline/resolver/resolver.go
  sensor/kubernetes/eventpipeline/resolver/resolver_impl.go
  sensor/tests/connection/connection_test.go
Labels: team/maple, area/sensor

#8148 ROX-19923: Remove flaky REDIS sub-test in ProcessVisualizationTest
  qa-tests-backend/src/test/groovy/ProcessVisualizationTest.groovy
Labels: ci-all-qa-tests

#8170 ROX-20221: Message converters for v2 vulnerability exception service
  central/convert/storagetov2/user.go
  central/convert/storagetov2/vuln_exception_service.go
  central/convert/storagetov2/vuln_exception_service_test.go
  central/convert/storagetov2/vulnerability.go
  central/convert/testutils/vuln_exception.go
  central/convert/testutils/vuln_request.go
  central/convert/v2tostorage/user.go
  central/convert/v2tostorage/vuln_exception_service.go
  central/convert/v2tostorage/vuln_exception_service_test.go
  central/convert/v2tostorage/vulnerability.go
Labels: area/central, epic/vm2.0/unified-deferral

#8035 fix(perf): Move risk reprocessing to debounce over a 10 minute period
  CHANGELOG.md
  pkg/env/reprocessing_interval.go
  scripts/ci/jobs/aks_qa_e2e_tests.py
  scripts/ci/jobs/aro_qa_e2e_tests.py
  scripts/ci/jobs/eks_qa_e2e_tests.py
  scripts/ci/jobs/gke_qa_e2e_tests.py
  scripts/ci/jobs/gke_race_condition_qa_e2e_tests.py
  scripts/ci/jobs/ibmcloudz_qa_e2e_tests.py
  scripts/ci/jobs/ocp_qa_e2e_tests.py
  scripts/ci/jobs/ocp_sensor_integration_tests.py
  scripts/ci/jobs/osd_aws_qa_e2e_tests.py
  scripts/ci/jobs/osd_gcp_qa_e2e_tests.py
  scripts/ci/jobs/powervs_qa_e2e_tests.py
  scripts/ci/jobs/rosa_qa_e2e_tests.py
  tests/e2e/lib.sh
Labels: area/central

#8175 chore: Scanner 2.31.2
  SCANNER_VERSION
Labels: ci-all-qa-tests

#8150 chore: bump Collector to v3.16.1
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#8143 task: Updates to email notifier for creds
  central/notifiers/email/email.go
  pkg/cryptoutils/cryptocodec/crypto_codec.go
  pkg/notifiers/email/email.go
  pkg/notifiers/email/email_integration_test.go
Labels: area/central

#8144 ROX-20069: Create scan schedule wizard skeleton
  ui/apps/platform/src/Containers/ComplianceEnhanced/ComplianceEnhancedPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/ScanConfigPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/ScanConfigsHeader.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/ScanConfigsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Table/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/scanConfigs.utils.ts
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/routePaths.ts
  ui/apps/platform/src/services/ComplianceEnhancedService.ts
Labels: area/ui

#8160 ROX-19358: Add a modal form for CVE deferral
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/cveListExceptionFlow.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/CveSelections.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/DeferralForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/ExceptionRequestModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/ExceptionScopeField.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/utils.ts
Labels: area/ui, epic/vm2.0/unified-deferral

#8208 fix(plurality): compliance configuration api plurality
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  generated/api/v2/compliance_scan_configuration_service.pb.go
  proto/api/v2/compliance_scan_configuration_service.proto
Labels: area/central, epic/compliance-2.0/mvp

#8161 ROX-19358: Add formik validation and state tracking to deferral form
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/DeferralForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/ExceptionScopeField.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/utils.ts
  ui/apps/platform/src/services/ExceptionConfigService.ts
Labels: area/ui, epic/vm2.0/unified-deferral

#8195 ROX-20246: Implement v2 vuln exception service - part 1
  central/convert/storagetov2/vuln_exception_service.go
  central/convert/v2tostorage/vuln_exception_service.go
  central/main.go
  central/vulnerabilityrequest/service/v2/service.go
  central/vulnerabilityrequest/service/v2/service_impl.go
  central/vulnerabilityrequest/service/v2/service_impl_test.go
  central/vulnerabilityrequest/service/v2/singleton.go
  pkg/errox/errors.go
  pkg/errox/grpc/mapping.go
Labels: area/central, epic/vm2.0/unified-deferral

#8192 ROX-19358: Add CVE selection list to deferral form
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/CveSelections.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/DeferralForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/ExceptionRequestModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/ExceptionScopeField.tsx
  ui/apps/platform/src/hooks/useMap.test.ts
  ui/apps/platform/src/hooks/useMap.ts
Labels: area/ui

#8191 feat(qa): Update midstream index images to use build 1.0.0-529
  operator/midstream/iib.json
Labels: ci-all-qa-tests, area/operator

#8168 ROX-20134: Close transactions
  central/image/datastore/store/postgres/store.go
  central/node/datastore/store/postgres/store.go
Labels: area/central

#8199 refactor: Move notifiers from pkg to central
  central/notifier/service/service_impl.go
  central/notifiers/all/all.go
  central/notifiers/awssh/mapping.go
  central/notifiers/awssh/mapping_test.go
  central/notifiers/awssh/notifier.go
  central/notifiers/awssh/notifier_test.go
  central/notifiers/email/email.go
  central/notifiers/email/email_integration_test.go
  central/notifiers/email/email_test.go
  central/notifiers/generic/generic.go
  central/notifiers/generic/generic_test.go
  central/notifiers/jira/jira.go
  central/notifiers/jira/jira_fake_test.go
  central/notifiers/jira/jira_integration_test.go
  central/notifiers/jira/jira_test.go
  central/notifiers/pagerduty/pagerduty.go
  central/notifiers/pagerduty/pagerduty_test.go
  central/notifiers/slack/slack.go
  central/notifiers/slack/slack_test.go
  central/notifiers/splunk/splunk.go
  central/notifiers/splunk/splunk_test.go
  central/notifiers/sumologic/sumologic.go
  central/notifiers/syslog/mocks/syslog.go
  central/notifiers/syslog/syslog.go
  central/notifiers/syslog/syslog_test.go
  central/notifiers/syslog/tcp_sender.go
  central/notifiers/teams/teams.go
  central/notifiers/teams/teams_test.go
  pkg/notifiers/email/email.go
  pkg/notifiers/jira/jira.go
  pkg/notifiers/slack/slack.go
  pkg/notifiers/syslog/syslog.go
  pkg/notifiers/teams/teams.go
Labels: area/central

#8017 feat(scanner): Add `make build`
  scanner/.gitignore
  scanner/Makefile
Labels: area/scanner

#7989 ROX-20007: add poduid to the listening endpoints table
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/datastore/datastore_impl_test.go
  central/processlisteningonport/store/postgres/full_store.go
  central/processlisteningonport/store/postgres/gen.go
  central/processlisteningonport/store/postgres/store.go
  generated/storage/process_listening_on_port.pb.go
  pkg/fixtures/fixtureconsts/fixture_consts.go
  pkg/postgres/schema/listening_endpoints.go
  proto/storage/process_listening_on_port.proto
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
  sensor/common/networkflow/manager/manager_impl.go
Labels: area/central, area/sensor, area/postgres

#8212 ROX-16930: Re-enable skipped ImageManagementTest sub-tests on P/Z
  qa-tests-backend/src/test/groovy/ImageManagementTest.groovy
Labels: ci-all-qa-tests

#8210 ROX-20074: Registry store reconciliation
  sensor/common/registry/registry_store.go
  sensor/common/registry/registry_store_test.go
  sensor/kubernetes/listener/resources/hash_reconciliation.go
  sensor/kubernetes/listener/resources/hash_reconciliation_test.go
  sensor/kubernetes/listener/resources/secrets.go
  sensor/kubernetes/listener/resources/store_provider.go
Labels: team/maple, area/sensor

#8091 ROX-19670: add timeout when waiting for the DeduperState
  pkg/env/sensor.go
  sensor/common/sensor/central_communication.go
  sensor/common/sensor/central_communication_impl.go
  sensor/common/sensor/central_communication_test.go
  sensor/common/sensor/sensor.go
Labels: team/maple, area/sensor

#8126 ROX-20072: Implement Node Store Reconciliation
  sensor/kubernetes/listener/resources/hash_reconciliation.go
  sensor/kubernetes/listener/resources/hash_reconciliation_test.go
  sensor/kubernetes/listener/resources/node_store.go
  sensor/kubernetes/listener/resources/store_provider.go
Labels: team/maple, pls-merge, area/central, area/sensor

#8153 ROX-20073: Implement Network Policy Store Reconciliation
  sensor/kubernetes/listener/resources/hash_reconciliation.go
  sensor/kubernetes/listener/resources/hash_reconciliation_test.go
  sensor/kubernetes/listener/resources/networkpolicy_store.go
  sensor/kubernetes/listener/resources/store_provider.go
Labels: team/maple, pls-merge, area/sensor

#8129 ROX-16944: ImageSignatureVerificationTest update to multiarch images
  qa-tests-backend/src/test/groovy/ImageSignatureVerificationTest.groovy
Labels: ci-all-qa-tests

#8230 ROX-19669: remove ReconcileDelete from the service store
  sensor/kubernetes/listener/resources/service_store.go
Labels: team/maple, area/sensor

#8123 ROX-16933: Multi-arch handling in ImageScanningTest for P/Z
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
Labels: ci-all-qa-tests

#8016 ROX-19644: Allow namespace admins to delegate scans
  central/cluster/util/util.go
  central/cluster/util/util_test.go
  central/delegatedregistryconfig/delegator/delegator.go
  central/delegatedregistryconfig/delegator/delegator_test.go
  central/detection/service/service.go
  central/detection/service/service_impl.go
  central/detection/service/singleton.go
  central/enrichment/singleton.go
  central/image/service/service.go
  central/image/service/service_impl.go
  central/image/service/singleton.go
  central/role/sachelper/mocks/sachelper.go
  central/role/sachelper/sachelper.go
Labels: area/central

#8219 ROX-20246: Create vuln exception v2 service
  central/convert/storagetov2/vuln_exception_service.go
  central/convert/testutils/vuln_exception.go
  central/convert/testutils/vuln_request.go
  central/convert/v2tostorage/user.go
  central/convert/v2tostorage/vuln_exception_service.go
  central/convert/v2tostorage/vuln_exception_service_test.go
  central/convert/v2tostorage/vulnerability.go
  central/vulnerabilityrequest/service/v2/service_impl.go
  central/vulnerabilityrequest/service/v2/service_impl_test.go
  central/vulnerabilityrequest/utils/util.go
  generated/api/v1/vuln_req_service.pb.go
  generated/api/v1/vuln_req_service.swagger.json
  proto/api/v1/vuln_req_service.proto
Labels: area/central, epic/vm2.0/unified-deferral

#8141 ROX-20136: Reduce cost of resource alert processing
  central/detection/alertmanager/alert_manager_impl_test.go
  central/detection/alertmanager/filter_options.go
  central/detection/lifecycle/manager_impl.go
  central/detection/lifecycle/manager_impl_test.go
Labels: area/central

#8220 feat(be): Updating jira and generic notifier for creds
  central/notifiers/email/email.go
  central/notifiers/email/email_integration_test.go
  central/notifiers/generic/generic.go
  central/notifiers/jira/jira.go
  central/notifiers/jira/jira_fake_test.go
  central/notifiers/jira/jira_integration_test.go
Labels: area/central

#8241 fix(style): Fixes style checks currently breaking CI
  central/role/sachelper/mocks/sachelper.go
Labels: area/central

#8020 ROX-20041: delete listening endpoints when their pods are deleted
  central/pod/datastore/datastore.go
  central/pod/datastore/datastore_bench_test.go
  central/pod/datastore/datastore_impl.go
  central/pod/datastore/datastore_impl_real_test.go
  central/pod/datastore/datastore_impl_test.go
  central/pod/datastore/singleton.go
  central/pod/service/service_impl_test.go
  central/processlisteningonport/datastore/datastore.go
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/datastore/datastore_impl_test.go
  central/processlisteningonport/datastore/mocks/datastore.go
  central/pruning/pruning_test.go
  pkg/fixtures/indicator.go
  pkg/fixtures/pod.go
  pkg/fixtures/process_listening_on_port.go
  tools/allowed-large-files
Labels: area/central, area/sensor, area/postgres

#8116 ROX-19561: Add API rate limit for gRPC, HTTP and Stream requests
  CHANGELOG.md
  central/main.go
  pkg/env/rate_limit.go
  pkg/grpc/ratelimit/ratelimit.go
  pkg/grpc/ratelimit/ratelimit_impl.go
  pkg/grpc/ratelimit/ratelimit_impl_test.go
  pkg/grpc/server.go
  pkg/grpc/server_ratelimit_test.go
Labels: area/central

#8217 fix(admin-usage): fix handler path
  central/main.go
Labels: area/central

#8108 ROX-20121: bump go-gprc to 1.58.3
  go.mod
  go.sum
  sensor/common/compliance/node_inventory_handler_test.go
  tests/endpoints_test.go
Labels: area/sensor

#8107 ROX-20213: bump go-gprc to 1.58.3
  go.mod
  go.sum
  sensor/common/compliance/node_inventory_handler_test.go
Labels: area/sensor

#8249 ROX-20242: Fix timing of TLS challenge test
  scripts/ci/jobs/aks_qa_e2e_tests.py
  scripts/ci/jobs/aro_qa_e2e_tests.py
  scripts/ci/jobs/eks_qa_e2e_tests.py
  scripts/ci/jobs/gke_qa_e2e_tests.py
  scripts/ci/jobs/gke_race_condition_qa_e2e_tests.py
  scripts/ci/jobs/ibmcloudz_qa_e2e_tests.py
  scripts/ci/jobs/ocp_qa_e2e_tests.py
  scripts/ci/jobs/ocp_sensor_integration_tests.py
  scripts/ci/jobs/osd_aws_qa_e2e_tests.py
  scripts/ci/jobs/osd_gcp_qa_e2e_tests.py
  scripts/ci/jobs/powervs_qa_e2e_tests.py
  scripts/ci/jobs/rosa_qa_e2e_tests.py
  sensor/common/sensor/sensor.go
Labels: area/sensor

#8245 chore(log): Add more context to clusterinit bundle errors
  central/clusterinit/backend/backend_impl.go
  central/clusterinit/backend/backend_test.go
Labels: area/central

#8254 ROX-20289: RBAC store reconcile
  sensor/kubernetes/listener/resources/hash_reconciliation.go
  sensor/kubernetes/listener/resources/hash_reconciliation_test.go
  sensor/kubernetes/listener/resources/rbac/namespaced_binding.go
  sensor/kubernetes/listener/resources/rbac/store_impl.go
  sensor/kubernetes/listener/resources/rbac/store_impl_test.go
  sensor/kubernetes/listener/resources/store_provider.go
Labels: team/maple, area/sensor

#8193 Disbale v1 reporting api in 4.3
  central/main.go
Labels: area/central

#8264 ROX-20316: Add conditional RBAC for ShowAdministrationUsage
  ui/apps/platform/src/Containers/SystemHealth/DashboardPage.js
Labels: area/ui

#8209 ROX-20078: Multi-arch handling in DeploymentTest for ppc64le
  qa-tests-backend/src/test/groovy/DeploymentTest.groovy
Labels: ci-all-qa-tests

#8265 ROX-20317: Add CodeBlockCode for administration event message
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventHintMessage.tsx
Labels: area/ui
