Repository stackrox/stackrox, pull requests merged in 2023-03, with the labels that each got.

#5017 ROX-15024: Workload CVEs Overview - Default filters modal
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/DefaultFilterModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/types.ts
Labels: area/ui

#5035 Make the processing of sensor events safe
  central/sensor/service/connection/connection_impl.go
  central/sensor/service/pipeline/all/pipeline.go
Labels: area/central

#4939 UI lint errors fix
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleFakeGroup.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleGroup.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleNode.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/stylesComponentFactory.tsx
Labels: area/ui

#5050 Fix baseline stats and avoid unnecessary copies on Postgres
  central/detection/lifecycle/manager_impl.go
  central/processindicator/datastore/datastore_impl.go
Labels: area/central

#5026 Dashrews/ROX-15331 batch call to delete by query
  central/processindicator/datastore/datastore_impl.go
  central/processindicator/datastore/datastore_impl_test.go
  pkg/search/parser.go
  pkg/search/query_builder.go
Labels: area/central, area/postgres

#5049 ROX-15279: Ensure central client respects proxy
  sensor/common/centralclient/client.go
Labels: area/sensor

#5054 ROX-14222: CI: Increase retries for pod readiness
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
Labels: ci-all-qa-tests

#5043 ROX-15055 Add Workload CVE Image Single Page shell
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageSingleResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageSingleVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesImageSinglePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/hooks/useDetailsTabParameter.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/searchUtils.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/types.ts
Labels: area/ui, epic/vm2.0/workload-cves

#4894 ROX-14702: Display origin in permission sets UI
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionSetForm.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionSets.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionSetsList.tsx
  ui/apps/platform/src/Containers/AccessControl/TraitsOriginLabel.tsx
  ui/apps/platform/src/Containers/AccessControl/traits.ts
  ui/apps/platform/src/services/AuthService/AuthService.ts
  ui/apps/platform/src/services/RolesService.ts
  ui/apps/platform/src/types/traits.proto.ts
Labels: area/ui

#4963 Add Central side SensorEvent hash
  central/cluster/datastore/datastore_impl.go
  central/metrics/central.go
  central/metrics/init.go
  central/pruning/pruning_test.go
  central/sensor/service/connection/connection_impl.go
  central/sensor/service/connection/deduper.go
  central/sensor/service/connection/manager.go
  central/sensor/service/connection/manager_impl.go
  central/sensor/service/connection/mocks/manager.go
  central/sensor/service/connection/sensorevents.go
  generated/internalapi/central/sensor_events.pb.go
  pkg/alert/utils.go
  pkg/sensor/hash/hasher.go
  proto/internalapi/central/sensor_events.proto
  sensor/common/deduper/deduper.go
Labels: area/central, area/sensor

#5066 Don't register some Bolt and RocksDB metrics when Postgres is enabled
  central/globaldb/metrics/metrics.go
  central/globalindex/metrics.go
  central/metrics/init.go
  pkg/dackbox/indexer/metrics.go
Labels: area/central

#4899 ROX-15101 nack to compliance if central connection is not ready
  sensor/common/admissioncontroller/alert_handler.go
  sensor/common/admissioncontroller/message_forwarder.go
  sensor/common/compliance/auditlog_manager_impl.go
  sensor/common/compliance/command_handler_impl.go
  sensor/common/compliance/mocks/auditlog_manager.go
  sensor/common/compliance/node_inventory_handler.go
  sensor/common/compliance/node_inventory_handler_impl.go
  sensor/common/compliance/node_inventory_handler_test.go
  sensor/common/component.go
  sensor/common/config/handler.go
  sensor/common/detector/detector.go
  sensor/common/detector/mocks/detector.go
  sensor/common/enforcer/enforcer.go
  sensor/common/externalsrcs/handler.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/reprocessor/handler.go
  sensor/common/sensor/sensor.go
  sensor/common/signal/signal_service.go
  sensor/kubernetes/admissioncontroller/config_map_persister.go
  sensor/kubernetes/clusterhealth/updater.go
  sensor/kubernetes/clustermetrics/cluster_metrics.go
  sensor/kubernetes/clusterstatus/updater.go
  sensor/kubernetes/eventpipeline/pipeline_impl.go
  sensor/kubernetes/localscanner/tls_issuer.go
  sensor/kubernetes/networkpolicies/command_handler.go
  sensor/kubernetes/telemetry/command_handler.go
  sensor/kubernetes/upgrade/command_handler_impl.go
Labels: team/maple, area/sensor

#4929 ROX-14521: Log user identities which successfully logged in
  central/authprovider/service/service_impl.go
  pkg/auth/authproviders/registry_httphandler.go
  pkg/auth/permissions/utils/role.go
  pkg/auth/user/util.go
  pkg/auth/user/util_test.go
Labels: area/auth, area/central

#5070 ROX-15157: increase clustermetrics test timeout
  sensor/kubernetes/clustermetrics/cluster_metrics_test.go
Labels: area/sensor

#5044 ROX-14702: Display origin for access scopes, roles, auth providers and groups
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopeFormWrapper.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopes.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopesList.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviderForm.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProvidersList.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/RuleGroups.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/RoleForm.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/Roles.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/RolesList.tsx
  ui/apps/platform/src/Containers/AccessControl/traits.ts
  ui/apps/platform/src/constants/accessControl.ts
  ui/apps/platform/src/services/AccessScopesService.ts
  ui/apps/platform/src/services/AuthService/AuthService.ts
  ui/apps/platform/src/services/RolesService.ts
Labels: area/ui

#5051 Add builders for various query portions
  central/alert/datastore/bench_postgres_test.go
  central/deployment/datastore/datastore_impl_postgres_test.go
  central/views/imagecve/view_impl.go
  central/views/imagecve/view_test.go
  generated/api/v1/search_service.pb.go
  pkg/postgres/types.go
  pkg/postgres/walker/schema.go
  pkg/postgres/walker/walker.go
  pkg/search/postgres/aggr_func.go
  pkg/search/postgres/aggregatefunc/aggr_func.go
  pkg/search/postgres/common.go
  pkg/search/postgres/common_test.go
  pkg/search/postgres/joins.go
  pkg/search/postgres/query/common.go
  pkg/search/postgres/query/query_functions.go
  pkg/search/postgres/query_metadata.go
  pkg/search/postgres/select_query_test.go
  pkg/search/query_builder.go
  proto/api/v1/search_service.proto
Labels: area/central, area/postgres

#5052 ROX-15395: Service Account and Role pagination fix
  central/graphql/resolvers/k8sroles.go
  central/graphql/resolvers/service_accounts.go
Labels: area/central

#5069 [ROX-15359] Add support for FILTER clause
  generated/api/v1/search_service.pb.go
  pkg/search/postgres/common.go
  pkg/search/postgres/joins.go
  pkg/search/postgres/select_query_test.go
  pkg/search/query_builder.go
  proto/api/v1/search_service.proto
Labels: area/postgres, performance-and-scale

#5062 ROX-15267: Fixing updating issue with network graph
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
Labels: area/ui

#5078 ROX-15406: Do not show filter tool bar when there is no cluster/namespace is selected
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
Labels: area/ui

#5038 ROX-7026: `AdmissionControllerTest` troubleshooting improvements
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/main/groovy/util/ChaosMonkey.groovy
  qa-tests-backend/src/test/groovy/AdmissionControllerTest.groovy
  sensor/admission-control/manager/evaluate_deploytime.go
Labels: ci-all-qa-tests, area/sensor, area/admission-controller

#5077 Dashrews/rox 15450 query errors
  central/cve/cluster/datastore/store/postgres/full_store.go
  central/debug/service/db_diagnostics.go
  central/globaldb/postgres.go
  central/image/datastore/store/postgres/store.go
  central/networkgraph/flow/datastore/internal/store/postgres/store.go
  central/node/datastore/store/postgres/store.go
  central/processlisteningonport/store/postgres/full_store.go
  migrator/migrations/n_04_to_n_05_postgres_images/postgres/store.go
  migrator/migrations/n_30_to_n_31_postgres_network_flows/postgres/flow_impl.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/postgres/store_impl.go
  pkg/postgres/pgadmin/admin_utils.go
  pkg/search/postgres/common.go
Labels: area/central, area/postgres

#5008 Declarative configuration: forbid overriding resource origin
  central/authprovider/datastore/datastore_impl.go
  central/group/datastore/datastore_impl.go
  central/role/datastore/datastore_impl.go
Labels: area/central

#5089 Fix dir to watch in declarative configuration.
  central/declarativeconfig/manager_impl.go
Labels: area/central

#5079 [VM2.0][ROX-13854] GraphQL resolver for resource count by cve severity
  central/graphql/resolvers/image_cve_core.go
  central/graphql/resolvers/resource_count_by_severity.go
  central/views/imagecve/image_cve.go
  central/views/imagecve/mocks/types.go
  central/views/imagecve/types.go
  central/views/imagecve/view_impl.go
  central/views/imagecve/view_test.go
Labels: area/central, epic/vm2.0/workload-cves

#5098 [VM2.0][ROX-13872] Add graphQL to get result by cve
  central/graphql/resolvers/image_cve_core.go
  central/graphql/resolvers/image_cve_core_test.go
  central/views/imagecve/mocks/types.go
  central/views/imagecve/types.go
  central/views/imagecve/view_impl.go
  central/views/imagecve/view_test.go
  central/views/read_options.go
Labels: area/central, epic/vm2.0/workload-cves

#5018 ROX-14693: reconcile(create/update operation) declarative resources
  central/authprovider/datastore/datastore_impl.go
  central/declarativeconfig/manager_impl.go
  central/declarativeconfig/manager_impl_test.go
  central/declarativeconfig/mocks/singleton.go
  central/declarativeconfig/singleton.go
  central/declarativeconfig/types/accepted_types.go
  central/declarativeconfig/updater/access_scope_updater.go
  central/declarativeconfig/updater/auth_provider_updater.go
  central/declarativeconfig/updater/group_updater.go
  central/declarativeconfig/updater/mocks/updater.go
  central/declarativeconfig/updater/permission_set_updater.go
  central/declarativeconfig/updater/role_updater.go
  central/declarativeconfig/updater/updater.go
  central/group/datastore/datastore.go
  central/group/datastore/datastore_impl.go
  central/group/datastore/datastore_test.go
  central/group/datastore/mocks/datastore.go
  central/main.go
  central/role/datastore/datastore.go
  central/role/datastore/datastore_impl.go
  central/role/datastore/datastore_test.go
  central/role/datastore/mocks/datastore.go
Labels: area/central

#5102 ROX-15399: Add metrics for panics in pipelines
  central/metrics/central.go
  central/metrics/init.go
  central/sensor/service/connection/connection_impl.go
  central/sensor/service/pipeline/all/pipeline.go
Labels: area/central

#5016 [ROX-13659] : Allow subject searcher to search by roleBinding fields
  central/graphql/resolvers/node_vulnerabilities_postgres_test.go
  central/graphql/resolvers/search_test.go
  central/graphql/resolvers/test_setup_utils.go
  central/rbac/service/list_subjects.go
  central/rbac/service/list_subjects_test.go
  pkg/fixtures/role_bindings.go
Labels: area/central

#4976 ROX-15102: Prefactoring, add Enable and Disable functions
  central/main.go
  central/telemetry/centralclient/instance_config.go
  pkg/telemetry/phonehome/client_config.go
  pkg/telemetry/phonehome/interceptor.go
Labels: area/central

#5059 ROX-15419: Secured cluster provider details telemetry
  central/cluster/datastore/telemetry.go
Labels: area/central

#4981 ROX-15102: Store and use the telemetry flag
  CHANGELOG.md
  central/config/service/service.go
  central/main.go
  generated/api/v1/config_service.swagger.json
  generated/storage/config.pb.go
  generated/storage/telemetry.pb.go
  proto/storage/config.proto
  proto/storage/telemetry.proto
Labels: area/central

#5086 ROX-15459: Track telemetry opt-in and opt-out
  central/telemetry/centralclient/instance_config.go
Labels: area/central

#5074 Telemetry: Use Track instead of Identify
  central/cluster/datastore/telemetry.go
  pkg/telemetry/phonehome/gatherer.go
  pkg/telemetry/phonehome/gatherer_test.go
  pkg/telemetry/phonehome/segment/segment.go
  pkg/telemetry/phonehome/segment/segment_test.go
  pkg/telemetry/phonehome/telemeter/telemeter.go
Labels: area/central

#5108 Dahshrews/minor cleanup in searcher for returning rows.Err()
  pkg/search/postgres/common.go
Labels: area/postgres

#5072 Add default timeouts to Postgres via context and not via statement_timeout
  pkg/contextutil/timeout.go
  pkg/env/postgres_default_timeout.go
  pkg/postgres/batch.go
  pkg/postgres/conn.go
  pkg/postgres/pool.go
  pkg/postgres/postgres.go
  pkg/postgres/rows.go
  pkg/postgres/tx.go
  pkg/search/postgres/common.go
Labels: area/postgres

#5088 Remove unnecessary namespace walk when Postgres is enabled
  central/namespace/datastore/datastore.go
Labels: area/central

#5113 ROX-14458: Collections Metrics
  central/resourcecollection/datastore/datastore_impl.go
Labels: area/central, epic/resource-collections

#5107 Rename `tests/central/basic` to `basic-central`
  operator/tests/TROUBLESHOOTING_E2E_TESTS.md
  operator/tests/central/basic-central/00-image-pull-secrets.yaml
  operator/tests/central/basic-central/10-assert.yaml
  operator/tests/central/basic-central/10-central-cr.yaml
  operator/tests/central/basic-central/10-errors.yaml
  operator/tests/central/basic-central/100-assert-deleted.yaml
  operator/tests/central/basic-central/100-assert.yaml
  operator/tests/central/basic-central/100-delete-cr.yaml
  operator/tests/central/basic-central/100-errors.yaml
  operator/tests/central/basic-central/20-verify-password.yaml
  operator/tests/central/basic-central/30-change-password.yaml
  operator/tests/central/basic-central/40-assert.yaml
  operator/tests/central/basic-central/40-reconcile.yaml
  operator/tests/central/basic-central/50-assert.yaml
  operator/tests/central/basic-central/50-bounce-central-pod.yaml
  operator/tests/central/basic-central/60-use-new-password.yaml
  operator/tests/central/basic-central/61-assert.yaml
  operator/tests/central/basic-central/61-set-expose-monitoring.yaml
  operator/tests/central/basic-central/62-assert.yaml
  operator/tests/central/basic-central/62-errors.yaml
  operator/tests/central/basic-central/62-unset-expose-monitoring.yaml
  operator/tests/central/basic-central/75-assert.yaml
  operator/tests/central/basic-central/75-errors.yaml
  operator/tests/central/basic-central/75-switch-to-external-central-db.yaml
  operator/tests/central/basic-central/76-assert.yaml
  operator/tests/central/basic-central/76-switch-back-to-internal-central-db.yaml
  operator/tests/central/basic-central/76-switch-back-zzz-deletes.yaml
  operator/tests/central/basic-central/80-assert.yaml
  operator/tests/central/basic-central/80-enable-telemetry.yaml
  operator/tests/central/basic-central/81-assert.yaml
  operator/tests/central/basic-central/81-disable-telemetry.yaml
  operator/tests/central/basic-central/90-assert.yaml
  operator/tests/central/basic-central/90-enable-declarative-config.yaml
  operator/tests/central/basic-central/91-assert.yaml
  operator/tests/central/basic-central/91-disable-declarative-config.yaml
Labels: area/operator

#4991 ROX-14665: Don't panic on retries and retry sensor events that fail with transient errors
  central/networkbaseline/manager/manager_impl.go
  central/sensor/service/common/message_injector.go
  central/sensor/service/connection/deduper.go
  central/sensor/service/connection/deduper_test.go
  central/sensor/service/connection/sensorevents.go
  central/sensor/service/connection/upgradecontroller/register_connection_test.go
  central/sensor/service/connection/upgradecontroller/upgrade_controller_test.go
  central/sensor/service/connection/worker_queue.go
  central/sensor/service/pipeline/all/pipeline.go
  generated/internalapi/central/sensor_iservice.pb.go
  pkg/postgres/pgutils/retry.go
  pkg/search/postgres/common.go
  proto/internalapi/central/sensor_iservice.proto
Labels: area/central, area/postgres

#5118 Reduce permissions of integration health reporter
  central/integrationhealth/datastore/datastore_impl.go
  central/integrationhealth/reporter/health_reporter_impl.go
Labels: area/central

#5127 Unit tests for deployments graphQL
  central/graphql/resolvers/cluster_vulnerabilities_postgres_test.go
  central/graphql/resolvers/deployments_test.go
  central/graphql/resolvers/image_components_postgres_test.go
  central/graphql/resolvers/image_scan_benchmark_test.go
  central/graphql/resolvers/image_vulnerabilities_test.go
  central/graphql/resolvers/node_components_postgres_test.go
  central/graphql/resolvers/node_scan_benchmark_test.go
  central/graphql/resolvers/node_vulnerabilities_postgres_test.go
  central/graphql/resolvers/test_setup_utils.go
  central/graphql/resolvers/test_utils.go
  central/graphql/resolvers/vulnerability_counter_test.go
  central/reports/scheduler/vuln_report_collections_test.go
Labels: area/central

#5063 ROX-15260: Add option to show all network policies
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkPolicies.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/namespace/NamespaceSideBar.tsx
Labels: area/ui

#5141 [ROX-15811] Support scope context evaluation within select query parser
  pkg/search/postgres/common.go
  pkg/search/postgres/common_test.go
  pkg/search/postgres/testutils.go
  pkg/search/scoped/context.go
Labels: area/postgres

#5138 ROX-15385: Clicking on multi-network cidr block nodes should show the side panel
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphContainer.tsx
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
Labels: area/ui

#5129 ROX-15411: De-emphasizing the unconnected nodes
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphContainer.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.css
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleNode.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.test.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
Labels: area/ui

#5131 Add query duration and query error metrics for query times in pgxpool wrapper
  pkg/postgres/batch.go
  pkg/postgres/conn.go
  pkg/postgres/metrics.go
  pkg/postgres/pool.go
  pkg/postgres/rows.go
  pkg/postgres/tx.go
  pkg/search/postgres/common.go
Labels: area/postgres

#5155 ROX-15802: Close Postgres on termination
  central/globaldb/close.go
Labels: area/central

#5073 Add status tabs and summary card shells to images single page.
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageSingleVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/SummaryCards/BySeveritySummaryCard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/SummaryCards/CvesByStatusSummaryCard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesImageSinglePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/hooks/useCveStatusTabParameter.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/searchUtils.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/types.ts
Labels: area/ui, epic/vm2.0/workload-cves

#5123 ROX-14660: Mutiplex NodeInventory in the same Node worker queue
  central/sensor/service/connection/sensorevents.go
Labels: area/central

#5115 [VM2.0][ROX-13860][ROX-13867] CVE count by severity graphQL
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/deployments_test.go
  central/graphql/resolvers/image_components_postgres_test.go
  central/graphql/resolvers/image_cve_core.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/resource_count_by_severity.go
  central/graphql/resolvers/test_utils.go
  central/graphql/resolvers/vulnerability_counter_test.go
  central/views/common/types.go
  central/views/imagecve/image_cve.go
  central/views/imagecve/mocks/types.go
  central/views/imagecve/types.go
  central/views/imagecve/view_impl.go
  central/views/imagecve/view_test.go
  central/views/read_options.go
  pkg/search/postgres/common.go
Labels: area/central, area/postgres

#5119 ROX-15332: Change statement_timeout to be 20m
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/values-public.yaml.example.htpl
  image/templates/helm/stackrox-central/values.yaml.htpl
Labels: area/helm

#5120 ROX-15799: Workload CVE - Add table filters and sync them w global/default filters
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/CVESeverityDropdown.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/CVEStatusDropdown.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/CveStatusTabNavigation.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/DefaultFilterModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/FilterAutocompleteSelect.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/FilterResourceDropdown.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadTableToolbar.css
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadTableToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/types.ts
Labels: area/ui, epic/vm2.0/workload-cves

#5170 Add quick fix to TS error in VM2.0
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageSingleVulnerabilities.tsx
Labels: area/ui

#4892 ROX-15113: Add support to suspend a CrobJob while enforcing a deploy time policy
  sensor/kubernetes/enforcer/cronjob/suspend.go
  sensor/kubernetes/enforcer/zero_replica.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/utils/utils.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/helm, area/sensor

#5172 ROX-15823 Fix deferred call in the sensor integration tests
  sensor/tests/resource/helper.go
Labels: team/maple, area/sensor

#5111 Add URL string union hook to better integrate url params with Tab components
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageSingleVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesImageSinglePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/hooks/useCveStatusTabParameter.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/hooks/useDetailsTabParameter.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/types.ts
  ui/apps/platform/src/hooks/useURLStringUnion.test.tsx
  ui/apps/platform/src/hooks/useURLStringUnion.ts
  ui/apps/platform/src/utils/type.utils.ts
Labels: area/ui, epic/vm2.0/workload-cves

#5140 Add simple cache to process baseline postgres store
  central/processbaseline/datastore/datastore.go
  central/processbaseline/datastore/datastore_impl_test.go
  central/processbaseline/datastore/singleton.go
  central/processbaseline/service/service_impl_test.go
  central/processbaseline/store/postgres/cache.go
  central/processbaseline/store/postgres/store_cache_test.go
  scripts/ci/jobs/gke_postgres_scale_tests.py
Labels: area/central

#5174 ROX-15439: Correcting title for baseline tab and removing unused code
  ui/apps/platform/src/Containers/NetworkGraph/api/useFetchSimulatedBaselines.ts
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentBaseline.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentBaselinesSimulated.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/deploymentUtils.ts
Labels: area/ui

#5105 ROX-15088: Use integration health report in declarative config manager
  central/declarativeconfig/manager_impl.go
  central/declarativeconfig/manager_impl_test.go
  central/declarativeconfig/mocks/singleton.go
  central/declarativeconfig/singleton.go
  central/declarativeconfig/types/extractors.go
  pkg/declarativeconfig/transform/mocks/transformer.go
  pkg/declarativeconfig/transform/transformer.go
Labels: area/central

#5181 Fix propagation of pagination in GetByQuery
  central/activecomponent/datastore/internal/store/postgres/store.go
  central/alert/datastore/internal/store/postgres/store.go
  central/cluster/store/cluster/postgres/store.go
  central/cluster/store/clusterhealth/postgres/store.go
  central/clustercveedge/datastore/store/postgres/store.go
  central/compliance/datastore/internal/store/postgres/domain/store.go
  central/compliance/datastore/internal/store/postgres/metadata/store.go
  central/compliance/datastore/internal/store/postgres/results/store.go
  central/componentcveedge/datastore/store/postgres/store.go
  central/cve/cluster/datastore/store/postgres/store.go
  central/cve/image/datastore/store/postgres/store.go
  central/cve/node/datastore/store/postgres/store.go
  central/deployment/store/postgres/store.go
  central/imagecomponent/datastore/store/postgres/store.go
  central/imagecomponentedge/datastore/internal/store/postgres/store.go
  central/imagecveedge/datastore/postgres/store.go
  central/imageintegration/store/postgres/store.go
  central/namespace/store/postgres/store.go
  central/networkbaseline/store/postgres/store.go
  central/networkgraph/entity/datastore/internal/store/postgres/store.go
  central/networkpolicies/datastore/internal/store/postgres/store.go
  central/nodecomponent/datastore/store/postgres/store.go
  central/nodecomponentcveedge/datastore/store/postgres/store.go
  central/nodecomponentedge/store/postgres/store.go
  central/pod/store/postgres/store.go
  central/policy/store/postgres/store.go
  central/policycategory/store/postgres/store.go
  central/policycategoryedge/store/postgres/store.go
  central/processbaseline/store/postgres/store.go
  central/processbaselineresults/datastore/internal/store/postgres/store.go
  central/processlisteningonport/store/postgres/store.go
  central/rbac/k8srole/internal/store/postgres/store.go
  central/rbac/k8srolebinding/internal/store/postgres/store.go
  central/reportconfigurations/store/postgres/store.go
  central/resourcecollection/datastore/store/postgres/store.go
  central/risk/datastore/internal/store/postgres/store.go
  central/secret/internal/store/postgres/store.go
  central/serviceaccount/internal/store/postgres/store.go
  central/vulnerabilityrequest/datastore/internal/store/postgres/store.go
  tools/generate-helpers/pg-table-bindings/multitest/postgres/store.go
  tools/generate-helpers/pg-table-bindings/store.go.tpl
  tools/generate-helpers/pg-table-bindings/test/postgres/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testchild1/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testchild1p4/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testchild2/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testg2grandchild1/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testg3grandchild1/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testggrandchild1/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testgrandchild1/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testgrandparent/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testparent1/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testparent2/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testparent3/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testparent4/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testshortcircuit/store.go
  tools/generate-helpers/pg-table-bindings/testuuidkey/postgres/store.go
Labels: area/central, area/postgres

#4801 ROX-14947: Define API to list (ID, name) pairs for cluster and namespace in user scope
  Makefile
  central/role/datastore/datastore_test_constructors.go
  central/role/service/service_impl.go
  central/role/service/service_impl_test.go
  central/sac/authorizer/builtin_scoped_authorizer.go
  generated/api/v1/role_service.pb.go
  generated/api/v1/role_service.pb.gw.go
  generated/api/v1/role_service.swagger.json
  proto/api/v1/role_service.proto
Labels: area/central

#5167 Dashrews/ROX-15162 helm example files should match shape
  image/templates/helm/stackrox-central/values-private.yaml.example
  image/templates/helm/stackrox-central/values-public.yaml.example.htpl
Labels: area/helm

#5082 ROX-7026: `@CompileStatic` some files related to `AdmissionControllerTest`
  qa-tests-backend/src/main/groovy/common/Constants.groovy
  qa-tests-backend/src/main/groovy/objects/K8sRbacObjects.groovy
  qa-tests-backend/src/main/groovy/objects/K8sServiceAccount.groovy
  qa-tests-backend/src/main/groovy/objects/Notifiers.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/OpenShift.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/OrchestratorMain.groovy
  qa-tests-backend/src/main/groovy/services/ImageService.groovy
  qa-tests-backend/src/main/groovy/services/NetworkPolicyService.groovy
  qa-tests-backend/src/main/groovy/util/ChaosMonkey.groovy
  qa-tests-backend/src/main/groovy/util/Helpers.groovy
  qa-tests-backend/src/main/groovy/util/SplunkUtil.groovy
  qa-tests-backend/src/test/groovy/AttemptedAlertsTest.groovy
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/CSVTest.groovy
  qa-tests-backend/src/test/groovy/CertRotationTest.groovy
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
  qa-tests-backend/src/test/groovy/DeploymentEventGraphQLTest.groovy
  qa-tests-backend/src/test/groovy/GlobalSearch.groovy
  qa-tests-backend/src/test/groovy/ImageManagementTest.groovy
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
  qa-tests-backend/src/test/groovy/IntegrationsSplunkViolationsTest.groovy
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
  qa-tests-backend/src/test/groovy/K8sEventDetectionTest.groovy
  qa-tests-backend/src/test/groovy/K8sRbacTest.groovy
  qa-tests-backend/src/test/groovy/NetworkBaselineTest.groovy
  qa-tests-backend/src/test/groovy/NetworkSimulator.groovy
  qa-tests-backend/src/test/groovy/PolicyConfigurationTest.groovy
  qa-tests-backend/src/test/groovy/ProcessBaselinesTest.groovy
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
  qa-tests-backend/src/test/groovy/ReconciliationTest.groovy
  qa-tests-backend/src/test/groovy/RoutesTest.groovy
  qa-tests-backend/src/test/groovy/SACTest.groovy
  qa-tests-backend/src/test/groovy/SecretsTest.groovy
  qa-tests-backend/src/test/groovy/SummaryTest.groovy
  qa-tests-backend/src/test/groovy/TLSChallengeTest.groovy
  qa-tests-backend/src/test/groovy/VulnReportingTest.groovy
Labels: ci-all-qa-tests, ci-release-build

#5176 Use GetByQuery in process indicator searcher
  central/processindicator/datastore/datastore_sac_test.go
  central/processindicator/search/searcher_impl.go
  central/processindicator/search/searcher_impl_test.go
  central/processindicator/store/mocks/store.go
  central/processindicator/store/store.go
Labels: ci-release-build, area/central

#5196 ROX-15851: Clarify onscreen hint for runtime policies
  ui/apps/platform/src/Containers/Policies/Wizard/Step2/PolicyBehaviorForm.tsx
Labels: area/ui

#5179 Dashrews/ROX-15846-postgres restore rollback rocks
  central/globaldb/v2backuprestore/common/context.go
  central/globaldb/v2backuprestore/common/migration_version.go
  central/globaldb/v2backuprestore/manager/manager.go
  central/globaldb/v2backuprestore/manager/restore_context.go
  central/globaldb/v2backuprestore/manager/restore_process.go
Labels: area/central

#4510 Dashrews/ROX-14271 metric active db connections
  central/globaldb/metrics/metrics.go
  central/globaldb/postgres.go
Labels: area/central, area/postgres

#5198 ROX-15581: Follow up for Clarifying onscreen hints about policy lifecycles
  ui/apps/platform/src/Containers/Policies/Wizard/Step2/PolicyBehaviorForm.tsx
Labels: area/ui

#5190 ROX-10242: Remove the offline-mode flag for scanner generate
  CHANGELOG.md
  roxctl/scanner/generate/generate.go
Labels: area/roxctl

#5192 Retry curl in create bundle
  image/postgres/create-bundle.sh
  image/rhel/create-bundle.sh
Labels: area/helm, area/postgres

#5028 Index on image ID field in deployment
  generated/storage/alert.pb.go
  generated/storage/deployment.pb.go
  pkg/postgres/schema/deployments.go
  pkg/postgres/walker/schema.go
  pkg/postgres/walker/walker.go
  proto/storage/alert.proto
  proto/storage/deployment.proto
Labels: area/postgres, performance-and-scale, epic/vm2.0/workload-cves

#5202 Delete unneeded actions and selectors in apitokens clusterInitBundles integrations
  ui/apps/platform/src/reducers/apitokens.js
  ui/apps/platform/src/reducers/clusterInitBundles.js
  ui/apps/platform/src/reducers/integrations.js
  ui/apps/platform/src/sagas/apiTokenSagas.js
  ui/apps/platform/src/sagas/clusterInitBundleSagas.js
Labels: area/ui

#5182 Enable alerts to use GetByQuery instead of Search and GetMany
  central/alert/datastore/datastore_impl.go
  central/alert/datastore/internal/search/searcher_impl.go
  central/alert/datastore/internal/store/mocks/store.go
  central/alert/datastore/internal/store/store.go
  central/graphql/resolvers/deploymentevents.go
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/policies.go
  central/graphql/resolvers/violations.go
  central/graphql/resolvers/vul_mgmt_widgets.go
  pkg/search/paginated/options.go
Labels: ci-release-build, area/central

#5222 Provide labels for cluster and namespace filter input elements
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/EffectiveAccessScopeTable.tsx
Labels: area/ui

#5199 Delete obsolete attributes reducers and sagas
  ui/apps/platform/src/reducers/attributes.js
  ui/apps/platform/src/reducers/index.js
  ui/apps/platform/src/sagas/attributesSagas.js
  ui/apps/platform/src/sagas/groupSagas.js
  ui/apps/platform/src/sagas/index.js
  ui/apps/platform/src/sagas/roleSagas.js
Labels: area/ui

#4816 ROX-14947: Plug UI network page on new API for clusters and namespaces in scope
  ui/apps/platform/cypress/helpers/networkGraph.js
  ui/apps/platform/src/Containers/Network/Header/ClusterSelect.tsx
  ui/apps/platform/src/Containers/Network/Header/useNamespaceFilters.ts
  ui/apps/platform/src/hooks/useFetchClusterNamespacesForPermissions.ts
  ui/apps/platform/src/hooks/useFetchClustersForPermissions.ts
  ui/apps/platform/src/services/RolesService.ts
Labels: area/central, area/ui

#5137 Default periodic process pruning via heuristics to false
  central/processindicator/datastore/datastore.go
  central/processindicator/datastore/datastore_impl_test.go
  pkg/env/process_pruning.go
Labels: area/central

#5091 ROX-12750: Resource grouping - central part for NetworkGraphConfig
  central/networkgraph/config/datastore/datastore_impl.go
  central/networkgraph/config/datastore/internal/store/postgres/store.go
  central/networkgraph/entity/datastore/datastore_impl.go
  central/networkgraph/flow/datastore/flow_impl.go
  central/networkgraph/service/service_impl.go
  central/networkpolicies/service/service_impl.go
  central/role/resources/list.go
  tools/generate-helpers/pg-table-bindings/list.go
Labels: area/central, area/postgres

#4987 ROX-15109: Replace tippy with PatternFly tooltip
  ui/apps/platform/cypress/constants/RiskPage.js
  ui/apps/platform/cypress/integration/risk/deploymentTimeline.test.js
  ui/apps/platform/cypress/integration/risk/podTimeline.test.js
  ui/apps/platform/cypress/selectors/tooltip.js
  ui/apps/platform/src/Components/CVEStackedPill/CVEStackedPill.js
  ui/apps/platform/src/Components/DetailedTooltipContent.tsx
  ui/apps/platform/src/Components/Menu.tsx
  ui/apps/platform/src/Components/NumberedList/NumberedList.js
  ui/apps/platform/src/Components/Panel.js
  ui/apps/platform/src/Components/PanelButton/PanelButton.js
  ui/apps/platform/src/Components/RowActionButton/RowActionButton.js
  ui/apps/platform/src/Components/RowActionMenu/RowActionMenu.js
  ui/apps/platform/src/Components/TableHeader.js
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/ClusteredEventMarker/__snapshots__/ClusteredEventMarker.test.tsx.snap
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/ClusteredEventsTooltip/ClusteredEventsTooltip.tsx
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/EventTooltip.tsx
  ui/apps/platform/src/Components/TimelineGraph/NameList/DrillDownButton.js
  ui/apps/platform/src/Components/TimelineLegend.js
  ui/apps/platform/src/Components/TopCvssLabel/TopCvssLabel.js
  ui/apps/platform/src/Components/visuals/PercentageStackedPill/PercentageStackedPill.js
  ui/apps/platform/src/Containers/Clusters/Components/AdmissionControl/AdmissionControlStatus.tsx
  ui/apps/platform/src/Containers/Clusters/Components/AdmissionControl/AdmissionControlUnavailableStatus.tsx
  ui/apps/platform/src/Containers/Clusters/Components/Collector/CollectorStatus.tsx
  ui/apps/platform/src/Containers/Clusters/Components/Collector/CollectorUnavailableStatus.tsx
  ui/apps/platform/src/Containers/Clusters/Components/CredentialExpiration.tsx
  ui/apps/platform/src/Containers/Clusters/Components/HelmIndicator.tsx
  ui/apps/platform/src/Containers/Clusters/Components/OperatorIndicator.tsx
  ui/apps/platform/src/Containers/Clusters/Components/Scanner/ScannerStatus.tsx
  ui/apps/platform/src/Containers/Clusters/Components/Scanner/ScannerUnavailableStatus.tsx
  ui/apps/platform/src/Containers/Clusters/Components/SensorStatus.tsx
  ui/apps/platform/src/Containers/Clusters/Components/SensorUpgrade.tsx
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.tsx
  ui/apps/platform/src/Containers/Compliance/widgets/Labels.js
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/widgets/SecretsMostUsedAcrossDeployments.js
  ui/apps/platform/src/Containers/Images/CVETable.js
  ui/apps/platform/src/Containers/Images/VulnsTable.js
  ui/apps/platform/src/Containers/Network/SidePanel/Simulator/Icons/Download.tsx
  ui/apps/platform/src/Containers/Network/SidePanel/Simulator/Icons/Generate.tsx
  ui/apps/platform/src/Containers/Network/SidePanel/Simulator/Icons/Undo.tsx
  ui/apps/platform/src/Containers/Network/SidePanel/Simulator/Icons/Upload.tsx
  ui/apps/platform/src/Containers/Risk/Process/DiscoveryCardHeader.js
  ui/apps/platform/src/Containers/Risk/Process/ProcessBaselineElementList.js
  ui/apps/platform/src/Containers/Risk/Process/ProcessBaselineList.js
  ui/apps/platform/src/Containers/Risk/riskTableColumnDescriptors.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/ClustersWithMostClusterVulnerabilities.js
Labels: area/ui

#5093 ROX-12750: Resource grouping - central part for ServiceIdentity, ScannerBundle and ScannerDefinitions
  central/certgen/service.go
  central/clusterinit/backend/access/access.go
  central/clusterinit/backend/backend_test.go
  central/clusters/identity.go
  central/integrationhealth/service/service_impl.go
  central/main.go
  central/role/datastore/singleton.go
  central/role/resources/list.go
  central/serviceidentities/datastore/datastore_impl.go
  central/serviceidentities/datastore/datastore_impl_test.go
  central/serviceidentities/internal/store/postgres/store.go
  central/serviceidentities/service/service_impl.go
  tools/generate-helpers/pg-table-bindings/list.go
Labels: area/central, area/postgres

#5216 ROX-15886: Skip UI e2e tests that are not relevant for OpenShift
  ui/apps/platform/cypress/helpers/features.js
  ui/apps/platform/cypress/integration/vulnmanagement/clusterCves.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/clusters.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/deployments.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/entitypages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/imageComponents.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/images.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/namespaces.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/nodeComponents.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/nodeCves.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/policies.test.js
  ui/apps/platform/scripts/cypress.sh
Labels: area/ui

#5173 ROX-14330: Generate junit reports for GHA
  .github/workflows/unit-tests.yaml
Labels: area/roxctl, area/ui

#5171 Sets default filters to empty for images single page
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageSingleVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadTableToolbar.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#5067 Prefactor: Add new store for API Token expiration notification schedule
  central/apitoken/datastore/datastore.go
  central/apitoken/datastore/datastore_impl.go
  central/apitoken/datastore/internal/schedulestore/postgres/gen.go
  central/apitoken/datastore/internal/schedulestore/postgres/store.go
  central/apitoken/datastore/internal/schedulestore/postgres/store_test.go
  central/role/resources/list.go
  generated/storage/notification_schedule.pb.go
  migrator/migrations/m_175_to_m_176_create_notification_schedule_table/migration.go
  migrator/migrations/m_175_to_m_176_create_notification_schedule_table/migration_test.go
  migrator/migrations/m_175_to_m_176_create_notification_schedule_table/notificationschedulestore/postgres_plugin.go
  migrator/migrations/m_175_to_m_176_create_notification_schedule_table/schema/notification_schedules.go
  migrator/runner/all.go
  pkg/migrations/internal/seq_num.go
  pkg/postgres/schema/notification_schedules.go
  proto/storage/notification_schedule.proto
  tools/generate-helpers/pg-table-bindings/list.go
Labels: area/central, area/postgres

#5116 Add CVE severity and status icons to image page summary cards
  ui/apps/platform/src/Components/PatternFly/SeverityIcons.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageSingleVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/SummaryCards/BySeveritySummaryCard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/SummaryCards/CvesByStatusSummaryCard.tsx
  ui/apps/platform/src/constants/visuals/colors.ts
Labels: area/ui, epic/vm2.0/workload-cves

#5139 Default active vulnerability management to false
  CHANGELOG.md
  central/activecomponent/updater/aggregator/process_aggregator_impl.go
  central/activecomponent/updater/aggregator/process_aggregator_test.go
  central/activecomponent/updater/updater_impl.go
  central/activecomponent/updater/updater_impl_test.go
  central/featureflags/service/service_impl.go
  central/graphql/resolvers/active_state.go
  central/graphql/resolvers/activestateenum_string.go
  central/graphql/resolvers/components_v1.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/vulnerabilities_v1.go
  central/graphql/resolvers/vulnerabilities_v2.go
  pkg/clair/convert.go
  pkg/clair/convert_test.go
  pkg/env/active_vuln_mgmt.go
  pkg/scanners/clairify/clairify_test.go
  pkg/scanners/quay/convert_test.go
  scripts/ci/jobs/gke_nongroovy_e2e_tests.py
  scripts/ci/jobs/gke_postgres_nongroovy_e2e_tests.py
  scripts/ci/jobs/gke_postgres_qa_e2e_tests.py
  scripts/ci/jobs/gke_qa_e2e_tests.py
  ui/apps/platform/cypress/integration/vulnmanagement/entitypages.test.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/TableWidgetFixableCves.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Components/ListComponents.utils.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Components/ListComponents.utils.test.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Components/VulnMgmtListComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/ListCVEs.utils.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/ListCVEs.utils.test.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/VulnMgmtListCves.js
  ui/apps/platform/src/Containers/VulnMgmt/List/ImageComponents/ListImageComponents.utils.js
  ui/apps/platform/src/Containers/VulnMgmt/List/ImageComponents/ListImageComponents.utils.test.js
  ui/apps/platform/src/Containers/VulnMgmt/List/ImageComponents/VulnMgmtListImageComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/NodeComponents/VulnMgmtListNodeComponents.js
  ui/apps/platform/src/Containers/Workflow/WorkflowListPage.js
  ui/apps/platform/src/types/featureFlag.ts
Labels: ci-release-build, area/central, area/ui

#4969 ROX-13519: Create Notification loop for API Tokens about to expire
  central/apitoken/backend/constants.go
  central/apitoken/expiration/expiration.go
  central/apitoken/expiration/expiration_test.go
  central/apitoken/expiration/singleton.go
  central/main.go
  pkg/env/api_token_expiration_notifier.go
Labels: area/central, area/postgres

#5257 Remove an unused duplicate db password in public value example
  image/templates/helm/stackrox-central/values-private.yaml.example
Labels: area/helm

#5238 ROX-14756: Log slow queries at most once every 30m
  pkg/env/slow_query_threshold.go
  pkg/postgres/log.go
  pkg/postgres/metrics.go
Labels: area/postgres

#5259 Don't reuse violation time sort option pointer
  central/alert/datastore/datastore_impl.go
  central/graphql/resolvers/deploymentevents.go
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/policies.go
  central/graphql/resolvers/violations.go
  central/graphql/resolvers/vul_mgmt_widgets.go
  pkg/search/paginated/options.go
Labels: area/central

#5236 Update cypress 12.8.0 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#5230 Delete obsolete accessControlPath in UI
  ui/apps/platform/src/Containers/AccessControl/AccessControl.tsx
  ui/apps/platform/src/Containers/AccessControl/accessControlPaths.ts
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/routePaths.js
  ui/apps/platform/src/utils/URLParser.ts
Labels: area/ui

#5145 ROX-14660: Fix overwrites to node scans from Node pipeline
  central/node/datastore/datastore.go
  central/node/datastore/store/postgres/store.go
  central/node/datastore/store/postgres/store_test.go
  central/reprocessor/reprocessor.go
  central/reprocessor/reprocessor_unit_test.go
  central/risk/manager/manager.go
  central/sensor/service/pipeline/nodeinventory/pipeline.go
  central/sensor/service/pipeline/nodeinventory/pipeline_test.go
  central/sensor/service/pipeline/nodes/pipeline.go
  central/sensor/service/pipeline/nodes/pipeline_test.go
  pkg/nodes/enricher/enricher_impl.go
Labels: area/central

#5194 ROX-14674: Fix duplicate baselines
  central/networkbaseline/manager/manager_impl.go
  central/networkbaseline/manager/manager_impl_test.go
  central/networkbaseline/service/service_impl.go
  pkg/networkgraph/networkbaseline/peer.go
Labels: team/maple, area/central

#5254 ROX-10901: Fix kustomize image command in operator make deploy target
  operator/Makefile
Labels: area/operator

#5255 Bump default Postgres resources
  deploy/common/central-db-patch.yaml
  deploy/common/k8sbased.sh
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/values-public.yaml.example.htpl
  image/templates/helm/stackrox-central/values.yaml.htpl
  operator/tests/central/basic-central/10-central-cr.yaml
  tests/e2e/yaml/central-cr.envsubst.yaml
Labels: area/helm, area/operator

#5252 ROX-14674: Add baseline migration
  migrator/migrations/m_176_to_m_177_network_baselines_cidr/migration.go
  migrator/migrations/m_176_to_m_177_network_baselines_cidr/migration_test.go
  migrator/migrations/m_176_to_m_177_network_baselines_cidr/networkbaselinestore/postgres_plugin.go
  migrator/migrations/m_176_to_m_177_network_baselines_cidr/networkentitystore/postgres_plugin.go
  migrator/runner/all.go
  pkg/migrations/internal/seq_num.go
Labels: team/maple

#5218 Add expandable section for image vulnerability components table
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageSingleVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageComponentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/SingleEntityVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesImageSinglePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/hooks/useImageVulnerabilities.ts
  ui/apps/platform/src/hooks/useSet.test.ts
  ui/apps/platform/src/hooks/useSet.ts
Labels: area/ui, epic/vm2.0/workload-cves

#5263 ROX-16029: Provide aria-label from placeholder for classic search input elements in UI
  ui/apps/platform/cypress/integration/risk/risk.test.js
  ui/apps/platform/src/Components/EntityList/EntityList.js
  ui/apps/platform/src/Components/SearchInput/SearchInput.js
  ui/apps/platform/src/Components/URLSearchInput.js
  ui/apps/platform/src/Components/URLSearchInputWithAutocomplete.js
  ui/apps/platform/src/Containers/Clusters/ClustersPage.js
  ui/apps/platform/src/Containers/Compliance/ComplianceSearchInput.js
  ui/apps/platform/src/Containers/Compliance/Entity/Standard.js
  ui/apps/platform/src/Containers/Compliance/List/List.js
  ui/apps/platform/src/Containers/Compliance/List/Page.js
  ui/apps/platform/src/Containers/ConfigManagement/List/List.js
  ui/apps/platform/src/Containers/ConfigManagement/List/ListFrontendPaginated.js
  ui/apps/platform/src/Containers/Network/Header/NetworkSearch.js
  ui/apps/platform/src/Containers/Network/SidePanel/Details/NetworkFlows/NetworkFlowsSearch.js
  ui/apps/platform/src/Containers/Network/SidePanel/NetworkDeploymentOverlay/BaselineSimulation/BaselineSimulationSearch.js
  ui/apps/platform/src/Containers/Network/SidePanel/NetworkDeploymentOverlay/Flows/NetworkBaselines/NetworkBaselinesSearch.js
  ui/apps/platform/src/Containers/NetworkGraph/components/NetworkSearch.tsx
  ui/apps/platform/src/Containers/Risk/RiskPageHeader.js
Labels: area/ui

#4906 ROX-13603 use the storeProvider in all components
  sensor/common/clusterentities/singleton.go
  sensor/common/detector/detector.go
  sensor/common/detector/enricher.go
  sensor/common/image/service_impl.go
  sensor/common/registry/singleton.go
  sensor/common/scan/scan.go
  sensor/common/scan/scan_test.go
  sensor/common/store/mocks/types.go
  sensor/common/store/types.go
  sensor/kubernetes/eventpipeline/resolver/resolver_test.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/resources/convert_mutating_test.go
  sensor/kubernetes/listener/resources/convert_override_test.go
  sensor/kubernetes/listener/resources/convert_test.go
  sensor/kubernetes/listener/resources/deployment_store_test.go
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/kubernetes/listener/resources/singleton.go
  sensor/kubernetes/listener/resources/store_provider.go
  sensor/kubernetes/orchestratornamespaces/store.go
  sensor/kubernetes/sensor/sensor.go
  sensor/kubernetes/telemetry/command_handler.go
  sensor/kubernetes/telemetry/gatherers/cluster.go
  sensor/kubernetes/telemetry/gatherers/cluster_test.go
  sensor/kubernetes/telemetry/gatherers/namespace.go
  sensor/kubernetes/telemetry/gatherers/namespace_test.go
Labels: team/maple, area/sensor

#5264 ROX-13658: Add first basic e2e tests for PF Network Graph
  ui/apps/platform/cypress/constants/NetworkPage.js
  ui/apps/platform/cypress/helpers/networkGraphPF.js
  ui/apps/platform/cypress/integration/networkGraphPF/networkGraphPF.test.js
  ui/apps/platform/cypress/support/e2e.js
  ui/apps/platform/src/Containers/NetworkGraph/components/ClusterSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NamespaceSelector.tsx
Labels: area/ui

#5258 Add pagination and sorting to image single table
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageSingleVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/SummaryCards/BySeveritySummaryCard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/SummaryCards/CvesByStatusSummaryCard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/SingleEntityVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/hooks/useImageVulnerabilities.ts
  ui/apps/platform/src/hooks/useURLSort.ts
Labels: area/ui, epic/vm2.0/workload-cves

#5293 Upgrade TypeScript 5.0.2 devDependencies in ui
  ui/apps/platform/package.json
  ui/packages/ui-components/package.json
  ui/yarn.lock
Labels: area/ui

#5235 Remove ROX_DECOMMISSIONED_CLUSTER_RETENTION feature flag in ui code
  ui/apps/platform/cypress/integration/clusters/clusterDeletion.test.js
  ui/apps/platform/cypress/integration/clusters/clustersHealthStatus.test.js
  ui/apps/platform/src/Containers/Clusters/ClusterEditForm.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.js
  ui/apps/platform/src/Containers/Clusters/Components/ClusterSummary.js
  ui/apps/platform/src/Containers/Clusters/clustersTableColumnDescriptors.js
  ui/apps/platform/src/Containers/SystemConfig/Details/PrivateConfigDataRetentionDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details/SystemConfigDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Form/SystemConfigForm.tsx
  ui/apps/platform/src/Containers/SystemConfig/SystemConfigPage.tsx
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#5237 ROX-10998: Verify role references in groups before deletion
  central/group/datastore/datastore.go
  central/group/datastore/datastore_impl.go
  central/group/datastore/datastore_impl_test.go
  central/group/datastore/mocks/datastore.go
  central/group/service/service_impl.go
  central/role/datastore/datastore.go
  central/role/datastore/datastore_impl.go
  central/role/datastore/datastore_test.go
  central/role/datastore/datastore_test_constructors.go
  central/role/datastore/singleton.go
Labels: area/central

#5296 Add UNKNOWN vuln severity back to UI types
  ui/apps/platform/src/Components/PatternFly/SeverityIcons.tsx
  ui/apps/platform/src/constants/reportConstants.ts
  ui/apps/platform/src/constants/severityColors.js
  ui/apps/platform/src/constants/visuals/colors.ts
  ui/apps/platform/src/messages/common.ts
  ui/apps/platform/src/types/cve.proto.ts
Labels: area/ui

#4802 ROX-14974: Tune waitForEdgeUpdate time
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Labels: ci-all-qa-tests, ci-release-build

#5311 Skip failing ui-e2e tests temporarily
  ui/apps/platform/cypress/integration/configmanagement/dashboard.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/entitypages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/policies.test.js
Labels: area/ui

#5303 Add an uptime metric to default prometheus server
  central/main.go
  compliance/collection/main.go
  pkg/metrics/http_server.go
  pkg/metrics/http_server_test.go
  sensor/kubernetes/main.go
  tools/local-sensor/main.go
Labels: area/central, area/sensor

#5185 ROX-14694: Prefactor datastores used in declarative config to include filter functions
  central/authprovider/datastore/datastore_impl.go
  central/authprovider/datastore/datastore_impl_test.go
  central/declarativeconfig/manager_impl.go
  central/declarativeconfig/updater/updater.go
  central/group/datastore/datastore_impl.go
  central/group/datastore/datastore_impl_test.go
  central/role/datastore/datastore.go
  central/role/datastore/datastore_impl.go
  central/role/datastore/datastore_impl_test.go
  central/role/datastore/mocks/datastore.go
  pkg/auth/authproviders/registry_httphandler_test.go
  pkg/auth/authproviders/store.go
Labels: area/auth, area/central

#5319 ROX-16050: Add sort fields for top riskiest node and image components widget
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.constants.ts
Labels: area/ui

#5318 Wait for isLoadingPublicConfig in MainPage
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
Labels: area/ui

#5323 Provide aria-label for classic Pagination buttons
  ui/apps/platform/cypress/constants/TablePagination.js
  ui/apps/platform/cypress/selectors/pagination.js
  ui/apps/platform/src/Components/Pagination/NextPaginationButton/NextPaginationButton.js
  ui/apps/platform/src/Components/Pagination/NextPaginationButton/NextPaginationButton.test.js
  ui/apps/platform/src/Components/Pagination/PrevPaginationButton/PrevPaginationButton.js
  ui/apps/platform/src/Components/Pagination/PrevPaginationButton/PrevPaginationButton.test.js
  ui/apps/platform/src/Components/TablePagination.js
Labels: area/ui

#5330 ROX-15430: Update empty state of new Network Graph
  ui/apps/platform/src/Containers/NetworkGraph/components/EmptyUnscopedState.tsx
Labels: area/ui

#4982 ROX-14436 route handler sends deploymentReference to the resolver
  sensor/kubernetes/listener/resources/route.go
  sensor/kubernetes/listener/resources/service_store.go
Labels: team/maple, area/sensor

#4951 ROX-14947: Plug UI NetworkGraph page (2.0) on new API for clusters and namespaces in scope
  ui/apps/platform/cypress/helpers/networkGraphPF.js
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NamespaceSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NetworkBreadcrumbs.tsx
  ui/apps/platform/src/hooks/useFetchClusterNamespaces.ts
  ui/apps/platform/src/hooks/useFetchClusters.ts
Labels: area/ui

#5282 ROX-15963: Adding new items to network graph legend
  ui/apps/platform/src/Containers/NetworkGraph/components/LegendContent.tsx
Labels: area/ui

#5283 ROX-15965: Add filtered/derived icons to namespace group labels
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
  ui/apps/platform/src/images/network-graph/code-branch.svg
  ui/apps/platform/src/images/network-graph/filter.svg
Labels: area/ui

#5316 Dashrews/rox 15123 fix clone test to use rocks too
  migrator/clone/clone_test.go
  migrator/clone/mock_central.go
  pkg/postgres/pgadmin/admin_utils.go
Labels: area/postgres

#5284 ROX-16018: Add the filter icon to the deployment node label
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.test.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
  ui/apps/platform/src/images/network-graph/code-branch.svg
  ui/apps/platform/src/images/network-graph/derived-namespace.svg
  ui/apps/platform/src/images/network-graph/filter.svg
  ui/apps/platform/src/images/network-graph/filtered-namespace.svg
Labels: area/ui

#5287 ROX-16015: Change the label background color to purple for the 'External to cluster' group
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.css
Labels: area/ui

#5288 ROX-16014: Change the label background color to white for derived namespaces
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.css
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleGroup.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
Labels: area/ui

#5344 Revert (#4721 and #4882) re-enable re-sync in deploy.sh
  deploy/k8s/deploy.sh
Labels: team/maple

#5253 ROX-15426: Call remote gRPC NodeScanner service
  compliance/collection/inventory/convert.go
  compliance/collection/inventory/convert_test.go
  compliance/collection/main.go
  go.mod
  go.sum
  image/templates/helm/stackrox-secured-cluster/internal/defaults/30-base-config.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml
  pkg/env/node_scan.go
Labels: area/helm

#5300 ROX-15449: Enhance description for Alert on Baseline toggle
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentBaseline.tsx
Labels: area/ui

#5340 Fix issues with Deployment Sidebar in Network Graph 2.0
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
Labels: area/ui

#4773 ROX-14912 load testing for processes listening on ports
  sensor/kubernetes/fake/deployment.go
  sensor/kubernetes/fake/flows.go
Labels: area/central, area/ui, area/sensor, performance-and-scale

#5317 [ROX-16066] : Remove ROX_DECOMMISSIONED_CLUSTER_RETENTION feature flag
  central/cluster/service/service_impl.go
  central/cluster/service/service_impl_test.go
  central/config/datastore/datastore.go
  central/config/datastore/singleton.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
  pkg/features/list.go
  tests/e2e/bats/fixtures/test-pod-without-oomkilled_object.json
  tests/e2e/lib.sh
Labels: area/central

#5247 Check public config on analytics events
  ui/apps/platform/src/Containers/Clusters/ClustersPage.js
  ui/apps/platform/src/Containers/Clusters/ClustersSidePanel.tsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/hooks/useAnalytics.ts
  ui/apps/platform/src/index.tsx
  ui/apps/platform/src/utils/analytics.ts
Labels: area/ui

#5243 ROX-14916: Add support for external configmap with postgresql.conf and pg_hba.conf
  image/templates/helm/stackrox-central/config/centraldb/postgresql.conf.default
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/templates/01-central-12-central-db.yaml
  image/templates/helm/stackrox-central/values.yaml.htpl
  operator/apis/platform/v1alpha1/central_types.go
  operator/apis/platform/v1alpha1/zz_generated.deepcopy.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/pkg/central/values/translation/translation.go
Labels: area/helm, area/operator

#5228 ROX-11808: Stop setting obsolete env variables.
  operator/hack/common.sh
  operator/hack/operator.envsubst.yaml
Labels: area/operator

#5211 Fix handling empty string matches
  pkg/search/parser.go
  pkg/search/parser_test.go
  pkg/search/postgres/query/string_query.go
  pkg/search/postgres/query/string_query_test.go
Labels: area/postgres

#5314 Pull image details hook body into hook file
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesImageSinglePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/hooks/useImageDetails.ts
Labels: area/ui

#5298 Add dynamic column icon to workload cve images table
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/DynamicIcon.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageSingleVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/SingleEntityVulnerabilitiesTable.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#5324 Add gql client merge function for image metadata field
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageSingleVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageComponentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/SingleEntityVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesImageSinglePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/hooks/useImageDetails.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/hooks/useImageVulnerabilities.ts
  ui/apps/platform/src/configureApolloClient.js
Labels: area/ui, epic/vm2.0/workload-cves

#5355 Increase Sensor resources by default
  CHANGELOG.md
  image/templates/helm/stackrox-secured-cluster/README.md.htpl
  image/templates/helm/stackrox-secured-cluster/internal/defaults/40-resources.yaml
  image/templates/helm/stackrox-secured-cluster/values-public.yaml.example
  tests/upgrade/lib.sh
Labels: area/helm

#5186 ROX-14694: Add deletion to the reconciliation of declarative configuration
  central/declarativeconfig/manager_impl.go
  central/declarativeconfig/manager_impl_test.go
  central/declarativeconfig/updater/access_scope_updater.go
  central/declarativeconfig/updater/auth_provider_updater.go
  central/declarativeconfig/updater/group_updater.go
  central/declarativeconfig/updater/mocks/updater.go
  central/declarativeconfig/updater/permission_set_updater.go
  central/declarativeconfig/updater/role_updater.go
  central/declarativeconfig/updater/updater.go
  central/declarativeconfig/utils/integration_health.go
  central/integrationhealth/reporter/health_reporter_impl.go
  pkg/integrationhealth/health_reporter.go
  pkg/integrationhealth/mocks/health_reporter.go
Labels: area/central

#5336 ROX-13835: Define user experience when CPEs not found
  generated/api/v1/node_service.swagger.json
  generated/storage/node.pb.go
  go.mod
  go.sum
  pkg/scanners/clairify/convert.go
  pkg/scanners/clairify/convert_test.go
  proto/storage/node.proto
  proto/storage/proto.lock
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.utils/getNodeScanMessage.test.ts
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.utils/getNodeScanMessage.ts
  ui/apps/platform/src/messages/vulnMgmt.messages.ts
Labels: area/ui

#4766 Add --force option to "roxctl image check"
  central/detection/service/service_impl.go
  central/detection/service/service_impl_test.go
  generated/api/v1/detection_service.pb.go
  generated/api/v1/detection_service.swagger.json
  proto/api/v1/detection_service.proto
  roxctl/deployment/check/check.go
  roxctl/image/check/check.go
Labels: external-contributor

#5273 Skip reconciliation of declarative config for no changes
  central/declarativeconfig/manager_impl.go
  central/declarativeconfig/manager_impl_test.go
  pkg/env/declarative_config.go
  qa-tests-backend/src/test/groovy/DeclarativeConfigTest.groovy
Labels: area/central

#5351 ROX-15441: Add anomalous/baseline sections under flows tab
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
Labels: area/ui

#5370 ROX-16134: Remove the selection of anomalous/baseline flows from the advanced filters
  ui/apps/platform/src/Containers/NetworkGraph/common/AdvancedFlowsFilter/AdvancedFlowsFilter.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/AdvancedFlowsFilter/types.ts
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentBaseline.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.test.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.ts
Labels: area/ui

#5369 ROX-15850: replace the term 'extraneous'
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphContainer.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/FlowsTableHeaderText.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/EdgeStateSelect.tsx
Labels: area/ui

#5240 ROX-15798: Autocomplete filter section for Workload CVEs
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/CVESeverityDropdown.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/FilterAutocomplete.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/FilterAutocompleteSelect.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/FilterChips.css
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/FilterChips.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/FilterResourceDropdown.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadTableToolbar.css
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadTableToolbar.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#5371 Fix flaky watch handler test
  central/declarativeconfig/watch_handler.go
  central/declarativeconfig/watch_handler_test.go
Labels: area/central

#5312 Reset current page for images table when a column is sorted
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageSingleVulnerabilities.tsx
  ui/apps/platform/src/hooks/useURLSort.ts
Labels: area/ui, epic/vm2.0/workload-cves

#5335 ROX-14434: Trigger deployment events for Secrets and Service Account updates
  sensor/common/detector/detector.go
  sensor/common/detector/enricher.go
  sensor/common/store/resolver/resolver.go
  sensor/kubernetes/listener/resources/deployment_store.go
  sensor/kubernetes/listener/resources/secrets.go
  sensor/kubernetes/listener/resources/serviceaccount.go
Labels: area/sensor

#5373 ROX-16129: Add container info to NG 2.0 deployment details
  ui/apps/platform/src/Components/ContainerArgumentsInfo.tsx
  ui/apps/platform/src/Components/ContainerCommandInfo.tsx
  ui/apps/platform/src/Components/ContainerImageInfo.tsx
  ui/apps/platform/src/Components/ContainerResouresInfo.tsx
  ui/apps/platform/src/Components/ContainerSecretsInfo.tsx
  ui/apps/platform/src/Components/ContainerVolumesInfo.tsx
  ui/apps/platform/src/Components/DeploymentContainerConfig.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.css
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.tsx
  ui/apps/platform/src/css/trumps.css
Labels: area/ui

#5375 ROX-16159: Fix styling issues when selecting a namespace or external group
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphContainer.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.css
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleGroup.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
Labels: area/ui
