Repository stackrox/stackrox, pull requests merged in 2023-11, with the labels that each got.

#8396 refactor(CI): have a single source of GKE defaults
  .openshift-ci/clusters.py
  scripts/ci/gke.sh
Labels: area/ci

#8442 ROX-20542: disable http/2 in operator kube-rbac-proxy
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/default/manager_auth_proxy_patch.yaml
Labels: area/operator

#8443 ROX-20542: disable http/2 in operator kube-rbac-proxy
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/default/manager_auth_proxy_patch.yaml
Labels: area/operator

#8444 ROX-20542: disable http/2 in operator kube-rbac-proxy
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/default/manager_auth_proxy_patch.yaml
Labels: area/operator

#8390 ROX-19394: Add deferral flow to image single page
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/CVESelectionTd.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/CVESelectionTh.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/CompletedExceptionRequestModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/ExceptionRequestForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/ExceptionScopeField.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/utils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/hooks/useExceptionRequestModal.ts
Labels: area/ui, epic/vm2.0/unified-deferral

#8449 chore(deprecation): Remove Docker CIS from UI
  ui/apps/platform/cypress/integration/compliance/Compliance.helpers.js
  ui/apps/platform/cypress/integration/compliance/complianceList.test.js
  ui/apps/platform/cypress/integration/configmanagement/dashboard.test.js
  ui/apps/platform/src/Components/ControlDetails.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/Widgets/ComplianceByProfile.tsx
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/Page.js
  ui/apps/platform/src/Containers/Dashboard/Widgets/ComplianceLevelsByStandard.test.tsx
  ui/apps/platform/src/constants/entityTypes.ts
  ui/apps/platform/src/constants/tableColumns.test.js
  ui/apps/platform/src/messages/standards.js
Labels: pls-merge, area/ui

#8066 fix(sensor): Use scanner V4 client in local scanning
  scanner/pkg/client/mocks/client.go
  sensor/common/scannerclient/grpc_client.go
  sensor/common/scannerclient/grpc_client_test.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/sensor, area/scanner

#8324 ROX-19956: adjust pipeline for roxctl@rhtap
  .tekton/roxctl-pull-request.yaml
  .tekton/roxctl-push.yaml
Labels: area/helm

#7982 ROX-19956: Build roxctl container images with RHTAP
  .containerignore
  .tekton/roxctl-pull-request.yaml
  .tekton/roxctl-push.yaml
  image/roxctl/rhtap.Dockerfile
  scripts/ci/jobs/check-generated.sh
  status.sh
Labels: area/helm

#8466 ROX-20610: v2 workflow to revert vulnerability exception
  central/convert/v2tostorage/vuln_exception_service.go
  central/convert/v2tostorage/vuln_exception_service_test.go
  central/graphql/resolvers/vulnerability_requests_test.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl_create_req_test.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl_reobserve_test.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl_test.go
  central/vulnerabilityrequest/manager/requestmgr/singleton.go
Labels: area/central, epic/vm2.0/unified-deferral

#8422 ROX-19428: Create approved deferrals table
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
Labels: area/ui

#8403 ROX-19375: Add request details link to workload cves tables
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionDetailsCell.tsx
Labels: area/ui, epic/vm2.0/unified-deferral

#8448 ROX-17720: Swap components to make Workload CVE links selectable
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/DeploymentResourceTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageNameTd.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#8450 chore: Replace `.tar.gz.` with `.pb.gz` for pprof files
  central/debug/service/service.go
  scale/profiler/pprof.sh
  scripts/secured-cluster-diagnostics.sh
Labels: area/central

#8481 chore: bump Collector to v3.15.2
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#8479 ROX-20609: Migrate legacy vuln exception expiry into v2 expiry
  migrator/migrations/m_195_to_m_196_vuln_request_users/migration_impl.go
  migrator/migrations/m_195_to_m_196_vuln_request_users/migration_test.go
Labels: epic/vm2.0/unified-deferral

#8488 fix(image): use UseCachesIfPossible fetch option for image scan
  central/image/service/service_impl.go
Labels: area/central

#8157 ROX-19411, ROX-20611: Generate vuln requests for globally snoozed vulns
  central/cve/image/datastore/datastore.go
  central/cve/image/datastore/datastore_impl.go
  central/cve/image/datastore/mocks/datastore.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl.go
  generated/storage/cve.pb.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/migration.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/migration_impl.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/migration_test.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/schema/convert_image_cve_edges.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/schema/convert_image_cve_edges_test.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/schema/convert_image_cves.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/schema/convert_image_cves_test.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/schema/convert_vulnerability_requests.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/schema/convert_vulnerability_requests_test.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/schema/image_cve_edges.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/schema/image_cves.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/schema/images.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/schema/vulnerability_requests.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/store/imagecveedges/store.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/store/imagecves/store.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/store/images/store.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/store/vulnerabilityrequests/store.go
  migrator/runner/all.go
  pkg/migrations/internal/seq_num.go
  pkg/search/postgres/store.go
  proto/storage/cve.proto
Labels: area/central, area/postgres, epic/vm2.0/unified-deferral

#8497 chore(scanner): Scanner 2.30.7
  SCANNER_VERSION
Labels: ci-all-qa-tests

#8423 ROX-19433: Create approved false positives table
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/ExceptionRequestTableCells.test.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/ExceptionRequestTableCells.tsx
Labels: area/ui

#8495 chore(cache): do not use job name for UI cache key
  .github/actions/cache-gradle-dependencies/action.yaml
  .github/actions/cache-ui-dependencies/action.yaml
Labels: area/ci

#8471 feat(scanner): Allow connection options per service in the client
  scanner/Makefile
  scanner/README.md
  scanner/cmd/scannerctl/main.go
  scanner/e2etests/image_test.go
  scanner/pkg/client/client.go
  scanner/pkg/client/options.go
  scanner/pkg/client/options_test.go
  sensor/common/scannerclient/grpc_client.go
Labels: area/sensor, area/scanner

#8460 chore(scanner): misc. Makefile updates
  scanner/Makefile
  scanner/README.md
Labels: area/scanner

#8483 ROX-19386: Request details page
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionManagementPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.css
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/ExceptionRequestTableCells.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/mockUtils.ts
Labels: area/ui

#8461 chore(testing): New scaffolding for Compliance 2.0 ui-e2e-tests
  tests/e2e/lib.sh
  ui/apps/platform/cypress/integration/compliance-enhanced/ComplianceEnhanced.helpers.js
  ui/apps/platform/cypress/integration/compliance-enhanced/complianceEnhancedDashboard.test.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/ComplianceDashboardPage.tsx
Labels: area/ui

#8511 fix(ui): Filter images list during watched image tests
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageCveSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/watchedImagesFlow.test.js
Labels: area/ui

#8530 fix(scanner): Use build-deps-t
  scanner/Makefile
Labels: area/scanner

#7862 ROX-19344: Add e2e tests for vuln deferral configuration
  ui/apps/platform/cypress/integration/exceptionConfiguration/ExceptionConfig.helpers.js
  ui/apps/platform/cypress/integration/exceptionConfiguration/ExceptionConfig.selectors.js
  ui/apps/platform/cypress/integration/exceptionConfiguration/vulnerabilitiesExceptionConfig.test.js
  ui/apps/platform/src/Containers/ExceptionConfiguration/VulnerabilitiesConfiguration.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/ExpiryField.tsx
  ui/apps/platform/src/services/ExceptionConfigService.ts
Labels: area/ui, epic/vm2.0/unified-deferral

#8532 ROX-20612, ROX-20608: graphQL for exception count
  central/graphql/resolvers/image_cve_core.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/image_vulnerabilities_test.go
  central/graphql/resolvers/test_setup_utils.go
  central/graphql/resolvers/vulnerability_requests.go
Labels: area/central, epic/vm2.0/unified-deferral

#8513 ROX-19387: Add CVEs table in the request details page
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
Labels: area/ui, epic/vm2.0/unified-deferral

#8508 ROX-18569: Fix pod integration tests flake
  sensor/tests/helper/helper.go
  sensor/tests/resource/pod/pod_test.go
Labels: team/maple, area/sensor

#8519 chore(pg): use pgx driver instead lib/pq
  pkg/postgres/pgtest/postgres.go
Labels: area/postgres

#8531 ROX-20318: Move operator lower bound OCP version 4.10 -> 4.11
  operator/bundle.Dockerfile
  operator/bundle.Dockerfile.extra
Labels: area/operator

#8540 ROX-20681: Bump CSV install timeout.
  operator/hack/common.sh
Labels: area/operator

#7965 ROX-19921: add retry timeout to roxctl
  roxctl/central/cert/cert.go
  roxctl/central/debug/authz_trace.go
  roxctl/central/debug/debug.go
  roxctl/central/debug/download_diagnostics.go
  roxctl/central/debug/resync_check_test.go
  roxctl/central/initbundles/fetch_ca.go
  roxctl/central/initbundles/generate.go
  roxctl/central/initbundles/initbundles.go
  roxctl/central/initbundles/list.go
  roxctl/central/initbundles/revoke.go
  roxctl/central/userpki/create/create.go
  roxctl/central/userpki/delete/delete.go
  roxctl/central/userpki/list/list.go
  roxctl/central/whoami/whoami.go
  roxctl/cluster/cluster.go
  roxctl/cluster/delete/delete.go
  roxctl/cluster/delete/delete_test.go
  roxctl/collector/supportpackages/upload/command.go
  roxctl/collector/supportpackages/upload/upload.go
  roxctl/common/connection.go
  roxctl/common/environment/environment-impl.go
  roxctl/common/environment/environment.go
  roxctl/common/environment/mocks/environment.go
  roxctl/common/environment/mocks/util.go
  roxctl/common/flags/retry.go
  roxctl/common/flags/timeout.go
  roxctl/deployment/check/check.go
  roxctl/deployment/check/check_test.go
  roxctl/helm/derivelocalvalues/command.go
  roxctl/image/check/check.go
  roxctl/image/check/check_test.go
  roxctl/image/scan/scan.go
  roxctl/image/scan/scan_test.go
  roxctl/scanner/generate/generate.go
  roxctl/sensor/generate/generate.go
  roxctl/sensor/generatecerts/gen_certs.go
  roxctl/sensor/getbundle/get_bundle.go
  roxctl/sensor/sensor.go
  roxctl/sensor/util/resolve_id_or_name.go
Labels: area/roxctl

#8440 ROX-20482: Enable Go mod prefetching
  .tekton/roxctl-pull-request.yaml
  .tekton/roxctl-push.yaml
  image/roxctl/rhtap.Dockerfile
  scripts/rhtap/fail-build-if-git-is-dirty.sh
Labels: area/helm

#8420 ROX-20552: Adding deployment scale to the resource list for the VWC
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
Labels: area/helm

#8404 test(ui): Build further on CVE exception flow tests
  tests/e2e/lib.sh
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/cveListExceptionFlow.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/CompletedExceptionRequestModal.tsx
Labels: area/ui, epic/vm2.0/unified-deferral

#7499 refactor(dockerfile): Reorganize Dockerfile for better caching
  image/rhel/Dockerfile
Labels: area/helm

#8533 fix(perf): Add new network graph utilities to lower memory usage
  central/compliance/checks/common/checks.go
  central/compliance/checks/nist800-190/check433/check_test.go
  central/compliance/checks/nist800-190/check442/check_test.go
  central/compliance/checks/pcidss32/check121/check_test.go
  central/compliance/checks/pcidss32/check132/check_test.go
  central/compliance/checks/pcidss32/check134/check_test.go
  central/compliance/data/repository.go
  central/compliance/framework/data.go
  central/compliance/framework/mocks/data.go
  central/networkpolicies/graph/evaluator.go
  central/networkpolicies/graph/evaluator_test.go
  central/networkpolicies/graph/graph_builder.go
  central/networkpolicies/graph/mocks/evaluator.go
Labels: area/central

#8496 chore(scanner): Scanner 2.31.3
  SCANNER_VERSION
Labels: ci-all-qa-tests

#8457 ROX-20601: Create compliance scan configuration table
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/ScanConfigPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/ScanConfigsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Table/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/scanConfigs.utils.ts
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/ScanResultsOverviewTable.tsx
  ui/apps/platform/src/services/ComplianceEnhancedService.ts
  ui/apps/platform/src/utils/dateUtils.ts
  ui/apps/platform/src/utils/textUtils.ts
Labels: area/ui, epic/compliance-2.0/mvp

#8551 chore(ui): Delete obsolete Vulnerability Management integration tests
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/reporting.helpers.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/reportingForm.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/reportingTable.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/riskAcceptance/observedCVEs.test.js
Labels: area/ui

#8498 chore(scanner): Scanner 2.28.7
  SCANNER_VERSION
Labels: ci-all-qa-tests

#8552 test(ui): Disable watched images e2e tests
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/watchedImagesFlow.test.js
Labels: area/ui

#8507 ROX-19879: Cleanup notifiers on startup and during CRUD
  central/notifier/service/service_impl.go
  central/notifiers/awssh/notifier.go
  central/notifiers/cscc/cscc.go
  central/notifiers/email/email.go
  central/notifiers/generic/generic.go
  central/notifiers/jira/jira.go
  central/notifiers/pagerduty/pagerduty.go
  central/notifiers/splunk/splunk.go
  central/notifiers/utils/encryption.go
  central/notifiers/validation/validate.go
  pkg/secrets/scrub.go
  pkg/secrets/scrub_test.go
Labels: area/central

#8536 ROX-20699: Using real data for request details page
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/ExceptionRequestTableCells.test.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/ExceptionRequestTableCells.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/mockUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/hooks/useSet.ts
  ui/apps/platform/src/services/VulnerabilityExceptionService.ts
Labels: area/ui, epic/vm2.0/unified-deferral

#8439 test(ui): Add e2e tests for image single page exception flows
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/cveListExceptionFlow.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageCveListExceptionFlow.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
Labels: area/ui, epic/vm2.0/unified-deferral

#8543 fix(gha): split go mod and build cache
  .github/actions/cache-go-dependencies/action.yaml
  .github/workflows/style.yaml
  Makefile
Labels: area/ci

#8572 fix(ci): Fix IntegrationsTest on CI
  central/notifier/service/service_impl.go
Labels: area/central

#7983 ROX-18197: reenable test sensor reconnects
  sensor/tests/connection/connection_test.go
Labels: area/sensor

#8564 fix(pg): remove unused code from store template
  tools/generate-helpers/pg-table-bindings/store.go.tpl
Labels: area/postgres

#8462 ROX-20398: process V1 and V2 compliance results when flag on
  central/convert/internaltov1storage/compliance_check_results.go
  central/convert/internaltov2storage/compliance_check_results.go
  central/sensor/service/connection/sensorevents.go
  central/sensor/service/pipeline/complianceoperatorresults/pipeline.go
  central/sensor/service/pipeline/complianceoperatorresults/pipeline_test.go
  tests/e2e/run-compliance-e2e.sh
  tests/e2e/run.sh
Labels: area/central, area/sensor, epic/compliance-2.0/mvp

#8584 chore(deps): dependabot update k8s.io together
  .github/dependabot.yaml
Labels: area/ci

#8314 ROX-10222: React 18 upgrade
  ui/apps/platform/cypress/integration/vulnmanagement/VulnerabilityManagement.helpers.js
  ui/apps/platform/package.json
  ui/apps/platform/src/Components/BinderTabs/Binder.test.tsx
  ui/apps/platform/src/Components/PatternFly/EmptyStateTemplate/EmptyStateTemplate.tsx
  ui/apps/platform/src/Components/PatternFly/SeverityIcons.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersPage.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.test.tsx
  ui/apps/platform/src/Containers/Dashboard/ScopeBar.test.tsx
  ui/apps/platform/src/Containers/Dashboard/SummaryCounts.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/AgingImages.test.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ComplianceLevelsByStandard.test.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ImagesAtMostRisk.test.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicyCategory.test.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicySeverity.test.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/IntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/hooks/useIntegrationPermissions.test.js
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleEdge.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleFakeGroup.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleGroup.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleNode.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/defaultComponentFactory.tsx
  ui/apps/platform/src/Containers/Policies/Modal/DuplicatePolicyForm.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/TableModal.tsx
  ui/apps/platform/src/configureApolloClient.js
  ui/apps/platform/src/hooks/patternfly/useSelectToggle.test.ts
  ui/apps/platform/src/hooks/patternfly/useToasts.test.ts
  ui/apps/platform/src/hooks/useEffectAfterFirstRender.test.ts
  ui/apps/platform/src/hooks/useEntitiesByIdsCache.test.js
  ui/apps/platform/src/hooks/useMap.test.ts
  ui/apps/platform/src/hooks/usePaginatedQuery.test.ts
  ui/apps/platform/src/hooks/useRestMutation.test.ts
  ui/apps/platform/src/hooks/useSet.test.ts
  ui/apps/platform/src/hooks/useTabs.test.js
  ui/apps/platform/src/hooks/useTimeout.test.ts
  ui/apps/platform/src/hooks/useTimeout.ts
  ui/apps/platform/src/hooks/useURLParameter.test.tsx
  ui/apps/platform/src/hooks/useURLSort.test.js
  ui/apps/platform/src/hooks/useURLStringUnion.test.tsx
  ui/apps/platform/src/hooks/useWidgetConfig.test.tsx
  ui/apps/platform/src/hooks/useWidgetConfig.ts
  ui/apps/platform/src/index.tsx
  ui/apps/platform/src/services/instance.js
  ui/apps/platform/src/setupTests.js
  ui/apps/platform/src/test-utils/waitForNextUpdate.ts
  ui/packages/ui-components/package.json
  ui/yarn.lock
Labels: area/ui

#8601 fix(build): Revert docker lib version to fix build on MacOS
  .github/dependabot.yaml
  go.mod
  go.sum
Labels: area/ci

#8318 chore(ui): Omit ui-components from lerna commands
  .ossls.yml
  ui/apps/platform/package.json
  ui/lerna.json
  ui/package.json
  ui/packages/ui-components/.gitignore
  ui/packages/ui-components/.postcssrc.js
  ui/packages/ui-components/.prettierignore
  ui/packages/ui-components/.prettierrc.js
  ui/packages/ui-components/README.md
  ui/packages/ui-components/jest.config.js
  ui/packages/ui-components/package.json
  ui/packages/ui-components/src/Avatar/Avatar.tsx
  ui/packages/ui-components/src/Avatar/index.ts
  ui/packages/ui-components/src/Button/Button.tsx
  ui/packages/ui-components/src/Button/index.ts
  ui/packages/ui-components/src/CheckboxWithLabel/CheckboxWithLabel.tsx
  ui/packages/ui-components/src/CheckboxWithLabel/index.ts
  ui/packages/ui-components/src/CondensedAlertButton/CondensedAlertButton.tsx
  ui/packages/ui-components/src/CondensedAlertButton/index.ts
  ui/packages/ui-components/src/CondensedButton/CondensedButton.tsx
  ui/packages/ui-components/src/CondensedButton/index.ts
  ui/packages/ui-components/src/DetailedTooltipOverlay/DetailedTooltipOverlay.tsx
  ui/packages/ui-components/src/DetailedTooltipOverlay/index.ts
  ui/packages/ui-components/src/FormErrorMessage/FormErrorMessage.tsx
  ui/packages/ui-components/src/FormErrorMessage/index.ts
  ui/packages/ui-components/src/FormLabel/FormLabel.tsx
  ui/packages/ui-components/src/FormLabel/index.ts
  ui/packages/ui-components/src/FormTextInput/FormTextInput.tsx
  ui/packages/ui-components/src/FormTextInput/index.ts
  ui/packages/ui-components/src/HelpIcon/HelpIcon.tsx
  ui/packages/ui-components/src/HelpIcon/index.ts
  ui/packages/ui-components/src/HoverHint/HoverHint.tsx
  ui/packages/ui-components/src/HoverHint/index.ts
  ui/packages/ui-components/src/Message/Message.tsx
  ui/packages/ui-components/src/Message/index.ts
  ui/packages/ui-components/src/PrimaryButton/PrimaryButton.tsx
  ui/packages/ui-components/src/PrimaryButton/index.ts
  ui/packages/ui-components/src/SuccessButton/SuccessButton.tsx
  ui/packages/ui-components/src/SuccessButton/index.ts
  ui/packages/ui-components/src/ToggleButton/ToggleButton.tsx
  ui/packages/ui-components/src/ToggleButton/index.ts
  ui/packages/ui-components/src/ToggleButtonGroup/ToggleButtonGroup.tsx
  ui/packages/ui-components/src/ToggleButtonGroup/index.ts
  ui/packages/ui-components/src/Tooltip/Tooltip.tsx
  ui/packages/ui-components/src/Tooltip/index.ts
  ui/packages/ui-components/src/TooltipOverlay/TooltipOverlay.tsx
  ui/packages/ui-components/src/TooltipOverlay/index.ts
  ui/packages/ui-components/src/index.ts
  ui/packages/ui-components/src/index.tw.css
  ui/packages/ui-components/tailwind.config.js
  ui/packages/ui-components/tsconfig.eslint.json
  ui/packages/ui-components/tsconfig.json
  ui/yarn.lock
Labels: area/ui

#8480 ROX-20623: Allow non-admins to delegate scans
  CHANGELOG.md
  central/delegatedregistryconfig/delegator/delegator.go
Labels: area/central

#8608 ROX-20804: Defer rendering of vuln exception config form
  ui/apps/platform/src/Containers/ExceptionConfiguration/ExceptionConfigurationPage.tsx
  ui/apps/platform/src/Containers/ExceptionConfiguration/VulnerabilitiesConfiguration.tsx
Labels: area/ui

#8550 ROX-19357: Add pending exception label to workload cve tables
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/table.utils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/PendingExceptionLabelLayout.tsx
Labels: area/ui, epic/vm2.0/unified-deferral

#8609 chore(ui): Move tailwind config from packages into platform folder
  .ossls.yml
  ui/apps/platform/package.json
  ui/apps/platform/src/app.tw.css
  ui/apps/platform/src/css/dark.theme.css
  ui/apps/platform/src/css/light.theme.css
  ui/apps/platform/tailwind-plugins/columns.js
  ui/apps/platform/tailwind-plugins/gradient.js
  ui/apps/platform/tailwind-plugins/grid.js
  ui/apps/platform/tailwind-plugins/object-fit.js
  ui/apps/platform/tailwind-plugins/order.js
  ui/apps/platform/tailwind.config.js
  ui/lerna.json
  ui/package.json
  ui/packages/README.md
  ui/packages/tailwind-config/.gitignore
  ui/packages/tailwind-config/README.md
  ui/packages/tailwind-config/index.tw.css
  ui/packages/tailwind-config/package.json
  ui/packages/tailwind-config/postcss.config.js
  ui/packages/tailwind-config/tailwind.config.js
  ui/yarn.lock
Labels: area/ui

#8568 fix(metrics): Add metric for Walk
  pkg/metrics/op_string.go
  pkg/metrics/operations.go
  pkg/search/postgres/store.go
Labels: area/postgres

#8614 chore(scanner): remove go version check
  scanner/Makefile
  scanner/README.md
Labels: area/scanner

#8577 ROX-20696: Use real data for pending requests
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/ExceptionRequestTableCells.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/SearchOptionsDropdown.tsx
  ui/apps/platform/src/services/VulnerabilityExceptionService.ts
Labels: area/ui, epic/vm2.0/unified-deferral

#8593 ROX-20697: Use real data for approved deferrals
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
Labels: area/ui

#8514 ROX-17494: Reimplement fixability filters in workload CVEs
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/DefaultFilterModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadTableToolbar.css
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadTableToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/searchUtils.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/types.ts
  ui/apps/platform/src/hooks/useLocalStorage.test.ts
  ui/apps/platform/src/hooks/useLocalStorage.ts
  ui/apps/platform/src/utils/type.utils.ts
Labels: area/ui, epic/vm2.0/workload-cves

#8585 fix(perf): Dedupe audit logs for the same cluster
  sensor/common/compliance/auditlog_manager_impl.go
Labels: area/sensor

#8298 ROX-20105: Scanner-slim to read from additional-ca-sensor
  CHANGELOG.md
  image/templates/helm/shared/templates/02-scanner-06-deployment.yaml.htpl
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-slim.test.yaml
Labels: area/helm

#8573 chore(test): Add smoke tests for Compliance 2.0 scan configs
  tests/e2e/lib.sh
  ui/apps/platform/cypress/integration/compliance-enhanced/ComplianceEnhanced.helpers.js
  ui/apps/platform/cypress/integration/compliance-enhanced/complianceEnhancedDashboard.test.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/ScanConfigPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/ScanConfigsHeader.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Table/ScanConfigsTablePage.tsx
Labels: area/ui

#8574 chore(scannerdefinitions): remove unused argument
  central/scannerdefinitions/handler/handler.go
  central/scannerdefinitions/handler/handler_test.go
  central/scannerdefinitions/handler/singleton.go
Labels: area/central

#8615 chore(scanner): remove unused variables
  scanner/Makefile
Labels: area/scanner

#8637 fix(ui): UI unit test fix for semantic merge conflict
  ui/apps/platform/src/hooks/useLocalStorage.test.ts
Labels: area/ui

#8640 fix(sensor): external flow counter
  sensor/common/networkflow/manager/manager_impl.go
Labels: area/sensor

#8630 fix(ui): Fix collective workload CVE test issues
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/cveListExceptionFlow.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageCveListExceptionFlow.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/searchUtils.tsx
  ui/apps/platform/src/hooks/useLocalStorage.test.ts
Labels: area/ui

#8594 ROX-20698: Use real data for approved false positives
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
Labels: area/ui

#8499 ROX-20492: Delete autogenerated integrations if feature disabled.
  CHANGELOG.md
  central/imageintegration/datastore/singleton.go
  central/imageintegration/datastore/singleton_test.go
  central/imageintegration/store/mocks/store.go
  central/imageintegration/store/store.go
Labels: area/central

#8634 ROX-20695: Use real data for denied requests
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
Labels: area/ui, epic/vm2.0/unified-deferral

#8633 fix(ui): Fix assorted workload CVE bugs
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/ExceptionRequestForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/ExceptionRequestModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/utils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/PendingExceptionLabelLayout.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/searchUtils.tsx
Labels: area/ui

#8629 ROX-20677: Upgrade software quality devDependencies in ui
  ui/apps/platform/.eslintignore
  ui/apps/platform/.eslintrc.js
  ui/apps/platform/.prettierrc.js
  ui/apps/platform/README.md
  ui/apps/platform/cypress/integration/configmanagement/ConfigurationManagement.helpers.js
  ui/apps/platform/cypress/integration/vulnmanagement/VulnerabilityManagement.helpers.js
  ui/apps/platform/eslint.config.js
  ui/apps/platform/package.json
  ui/apps/platform/postcss.config.js
  ui/apps/platform/src/Components/GroupedTabs.js
  ui/apps/platform/src/Components/ReactSelect/ReactSelect.js
  ui/apps/platform/src/Components/RelatedEntity.js
  ui/apps/platform/src/Components/URLSearchInputWithAutocomplete.js
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProvidersList.tsx
  ui/apps/platform/src/Containers/Clusters/Components/ClusterDeletion.tsx
  ui/apps/platform/src/Containers/Compliance/widgets/ComplianceByStandards.tsx
  ui/apps/platform/src/Containers/ConfigManagement/SidePanel/BreadCrumbs.js
  ui/apps/platform/src/Containers/Dashboard/Widgets/AgingImages.test.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ComplianceLevelsByStandard.test.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ImagesAtMostRisk.test.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicyCategory.test.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicySeverity.test.tsx
  ui/apps/platform/src/Containers/Integrations/utils/integrationUtils.ts
  ui/apps/platform/src/Containers/NetworkGraph/api/useFetchNetworkFlows.ts
  ui/apps/platform/src/Containers/Policies/Wizard/Step2/PolicyBehaviorForm.tsx
  ui/apps/platform/src/Containers/Policies/policies.utils.ts
  ui/apps/platform/src/Containers/SystemHealth/CertificateHealth/CertificateCard.tsx
  ui/apps/platform/src/Containers/SystemHealth/ClustersHealth/ClustersHealth.utils.ts
  ui/apps/platform/src/Containers/SystemHealth/ClustersHealth/ClustersHealthCardHeader.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/IntegrationHealthWidgetVisual.tsx
  ui/apps/platform/src/Containers/SystemHealth/DeclarativeConfigurationHealth/DeclarativeConfigurationHealthCard.tsx
  ui/apps/platform/src/Containers/SystemHealth/VulnerabilityDefinitionsHealth/VulnerabilityDefinitionsHealthCard.tsx
  ui/apps/platform/src/Containers/Violations/Details/ViolationDetailsPage.tsx
  ui/apps/platform/src/hooks/patternfly/useTableSort.ts
  ui/apps/platform/src/hooks/useTimeout.ts
  ui/apps/platform/src/hooks/useURLParameter.ts
  ui/apps/platform/src/hooks/useURLSort.ts
  ui/apps/platform/src/hooks/useURLStringUnion.ts
  ui/apps/platform/src/hooks/useWidgetConfig.ts
  ui/apps/platform/src/services/AuthService/AuthService.ts
  ui/apps/platform/src/test-utils/mocks/@patternfly/react-core.tsx
  ui/apps/platform/tsconfig.eslint.json
  ui/apps/platform/tsconfig.json
  ui/package.json
  ui/yarn.lock
Labels: area/ui

#8636 fix(perf): Add ability to feature flag search terms
  CHANGELOG.md
  central/deployment/store/postgres/store.go
  central/secret/internal/store/postgres/store.go
  central/vulnerabilityrequest/datastore/internal/store/postgres/store.go
  generated/storage/deployment.pb.go
  generated/storage/secret.pb.go
  pkg/features/features.go
  pkg/features/list.go
  pkg/postgres/walker/schema.go
  pkg/postgres/walker/walker.go
  pkg/search/walker.go
  proto/storage/deployment.proto
  proto/storage/secret.proto
  tools/generate-helpers/pg-table-bindings/store.go.tpl
Labels: area/central, area/postgres

#8213 ROX-20103: Optimizing Memory Consumption in the Vulnerability Workflow
  .github/workflows/update-vulnerabilties.yaml
  scanner/cmd/updater/main.go
  scanner/updater/export.go
  scanner/updater/version/RELEASE_VERSION
Labels: area/scanner, area/ci

#8579 ROX-20732: Matcher can use a remote Indexer
  scanner/cmd/scanner/main.go
  scanner/config/config.go
  scanner/config/config_test.go
  scanner/indexer/indexer.go
  scanner/indexer/mocks/indexer.go
  scanner/indexer/remote.go
  scanner/mappers/mappers.go
  scanner/mappers/mappers_test.go
  scanner/services/indexer.go
  scanner/services/indexer_test.go
  scanner/services/matcher.go
  scanner/services/matcher_test.go
Labels: area/scanner

#8658 ROX-20103: Fix cron and add scanner branch for testing
  .github/workflows/update-vulnerabilties.yaml
Labels: area/ci

#8656 chore(roxctl): upload-db minor cleanup
  roxctl/scanner/uploaddb/uploaddb.go
  roxctl/scanner/uploaddb/uploaddb_test.go
Labels: area/roxctl

#8657 chore(ui): Upgrade jest and ts-jest 27 devDependencies
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#8631 chore(ui): Delete obsolete postinstall
  ui/package.json
  ui/scripts/ModuleScopePlugin.js.patch
  ui/scripts/patch-deps.sh
  ui/yarn.lock
Labels: area/ui

#8600 ROX-20766: Do not assert operand health in upgrade step 20
  operator/tests/common/upgrade-assert.envsubst.yaml
  operator/tests/upgrade/upgrade/20-assert.yaml
Labels: area/operator

#8580 ROX-20713: Add log with connection details (External Entities in NWG)
  sensor/common/networkflow/manager/manager_impl.go
Labels: area/sensor

#8567 feat(ui): Add hook to invalidate all workload cve queries
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/hooks/useInvalidateVulnerabilityQueries.ts
Labels: area/ui, epic/vm2.0/unified-deferral

#8665 fix(ui): Fix semantic merge conflict for UI lint
  ui/apps/platform/src/Containers/Vulnerabilities/hooks/useInvalidateVulnerabilityQueries.ts
Labels: area/ui

#8639 chore(scanner): various image nits
  scanner/e2etests/helmchart/templates/scanner-deployment.yaml
  scanner/image/db/Dockerfile
  scanner/image/scanner/Dockerfile
  scanner/image/scanner/scripts/entrypoint.sh
Labels: area/scanner

#8668 test(ui): Clear all filters before performing deferral tests
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/cveListExceptionFlow.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.js
Labels: area/ui

#8670 ROX-20668: Remove classnames from ui dependencies
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#8659 feat(CI): add begin/end hooks
  .openshift-ci/begin.sh
  .openshift-ci/end.sh
  scripts/ci/lib.sh
Labels: area/ci

#8666 fix(ui): Fix infinite rerender in vm reporting
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/VulnReportsPage.tsx
Labels: area/ui

#8582 ROX-20881: enhance with network policies
  pkg/booleanpolicy/augmentedobjs/construct.go
  pkg/booleanpolicy/matcher_impl.go
  pkg/detection/runtime/detector.go
  sensor/common/detector/detector.go
Labels: team/maple, area/sensor

#8653 fix(ci): scan go binaries
  .github/workflows/build.yaml
Labels: area/ci

#8674 chore(ui): Fix errors and enable typescript eslint rules (part 1)
  ui/apps/platform/eslint.config.js
  ui/apps/platform/src/Components/PageTitle.tsx
  ui/apps/platform/src/Components/workflow/TableCountLinks/TableCountLinks.tsx
  ui/apps/platform/src/Containers/AppPageTitle.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/AdvancedFlowsFilter/types.ts
  ui/apps/platform/src/routePaths.ts
  ui/apps/platform/src/types/risk.proto.ts
  ui/apps/platform/src/utils/searchUtils.ts
Labels: area/ui

#8675 chore(ui): Fix errors and enable react display-name lint rule
  ui/apps/platform/eslint.config.js
  ui/apps/platform/src/Components/ReactSelect/ReactSelect.js
  ui/apps/platform/src/Components/URLSearchInputWithAutocomplete.js
Labels: area/ui

#8676 chore(ui): Fix errors and enable jest-dom recommended lint rules
  ui/apps/platform/eslint.config.js
  ui/apps/platform/src/Components/BinderTabs/Binder.test.tsx
  ui/apps/platform/src/Components/Pagination/NextPaginationButton/NextPaginationButton.test.js
  ui/apps/platform/src/Components/Pagination/PrevPaginationButton/PrevPaginationButton.test.js
  ui/apps/platform/src/Components/Select.test.js
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/ClusteredEventMarker/ClusteredEventMarker.test.tsx
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/EventMarker/EventMarker.test.js
  ui/apps/platform/src/Containers/Dashboard/ScopeBar.test.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/VulnRequestedAction/VulnRequestedAction.test.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/MyActiveJobStatus.test.tsx
  ui/apps/platform/src/hooks/useTabs.test.js
Labels: area/ui

#8664 ROX-20879: Central-Sensor use hello for communicating deduper state
  central/sensor/service/service_impl.go
  generated/internalapi/central/hello.pb.go
  proto/internalapi/central/hello.proto
  sensor/common/deduper/deduper.go
  sensor/common/deduper/deduper_test.go
  sensor/common/sensor/central_communication_impl.go
  sensor/common/sensor/central_sender.go
  sensor/common/sensor/central_sender_impl.go
  sensor/common/sensor/sensor.go
  sensor/debugger/message/fake.go
Labels: team/maple, area/central, area/sensor

#8617 fix(store): Put DeleteMany into a transaction
  pkg/postgres/context.go
  pkg/search/postgres/store.go
Labels: area/postgres

#8311 feat(qa): Update midstream index images to use build v4.3.0-7
  operator/midstream/iib.json
Labels: ci-all-qa-tests, area/operator

#8700 ROX-20931: skip failing test
  sensor/common/centralclient/client_test.go
Labels: area/sensor

#8492 fix: manager bench test
  central/networkgraph/entity/networktree/manager_bench_test.go
Labels: area/central

#8555 fix(scanner): Set vulnerability name from links and title
  scanner/e2etests/image_test.go
  scanner/e2etests/testdata/image_tests.json
  scanner/mappers/mappers.go
  scanner/mappers/mappers_test.go
Labels: area/scanner

#8685 fix: report vulns to jira on push
  .github/workflows/build.yaml
Labels: area/ci

#8698 fix: do not run junit2jira on bench
  .github/workflows/unit-tests.yaml
Labels: area/ci

#8652 ROX-20886: Add modal for viewing exception request comments
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/ExceptionRequestTableCells.tsx
  ui/apps/platform/src/services/VulnerabilityExceptionService.ts
Labels: area/ui, epic/vm2.0/unified-deferral

#8692 ROX-20927: Scope Invite Users modal to Access write permission
  ui/apps/platform/src/Containers/MainPage/Body.tsx
Labels: area/ui

#8683 ROX-20789: Fix pod hierarchy test flake
  sensor/tests/resource/pod/pod_test.go
Labels: team/maple, area/sensor

#8632 ROX-20848: Maintain vuln state across Workload CVE links
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/DeploymentResourceTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageNameTd.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/searchUtils.tsx
Labels: area/ui

#8669 ROX-20784: Add projected SA volume
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
  operator/tests/central/basic-central/90-assert-openshift.yaml
  operator/tests/common/central-volumes-assert-openshift.yaml
Labels: area/helm, area/operator

#8691 fix(db): batch upsert in a single call
  central/alert/datastore/internal/store/postgres/bench_test.go
  pkg/search/postgres/store.go
Labels: area/central, area/postgres, performance-and-scale

#8695 fix(ui): Fix form validation when tag is an empty string
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/utils.ts
Labels: area/ui

#8581 fix: configure telemetry in helm output
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  operator/tests/central/basic-central/81-assert-non-openshift.yaml
  operator/tests/central/basic-central/81-assert-openshift.yaml
  pkg/helm/charts/meta.go
  pkg/helm/charts/tests/centralservices/testdata/helmtest/telemetry.test.yaml
  roxctl/helm/output/output.go
Labels: area/roxctl, area/helm, area/operator

#8688 ROX-20834: Reset pagination when changing vuln state tabs
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/VulnerabilityStateTabs.tsx
Labels: area/ui

#8673 chore: update collector to 3.16.2
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#8724 chore(ui): Upgrade jest and ts-jest 28 devDependencies
  ui/apps/platform/config-overrides.js
  ui/apps/platform/eslint.config.js
  ui/apps/platform/package.json
  ui/apps/platform/react-app-rewired/jest/cssTransform.js
  ui/apps/platform/react-app-rewired/jest/fileTransform.js
  ui/apps/platform/src/Containers/ConfigManagement/ConfigMgmt.utils.test.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/ListCVEs.utils.test.js
  ui/package.json
  ui/yarn.lock
Labels: area/ui

#8722 ROX-20941: Fix missing scope when editing vm report
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/CollectionSelection.tsx
Labels: pls-merge, area/ui

#8726 fix(default): Add ECR public registry as default config
  central/imageintegration/store/defaults.go
Labels: area/central

#8065 ROX-20835: ADR: update CVSS data updating pipeline to adpot NVD API
  scanner/decisions/0004-scannerv4-read-vulneralbilities.md
  scanner/decisions/0005-scannerv4-read-cvss-data.md
Labels: area/scanner

#8662 ROX-20692: handle offline status in the cluster status updater
  sensor/kubernetes/clusterstatus/updater.go
  sensor/kubernetes/clusterstatus/updater_test.go
Labels: team/maple, area/sensor

#8646 ROX-20563: document how to retrieve operator log
  operator/tests/TROUBLESHOOTING_E2E_TESTS.md
  operator/tests/img/auth.png
  operator/tests/img/log.png
  operator/tests/img/path.png
  operator/tests/img/prow-dropdown.png
  tools/allowed-large-files
Labels: area/operator

#8731 ROX-20693: Move common key functions to pkg
  central/hash/manager/deduper.go
  central/hash/manager/deduper_test.go
  pkg/deduperkey/key.go
  pkg/deduperkey/key_test.go
  pkg/sensor/event/event.go
  sensor/common/deduper/deduper.go
Labels: team/maple, area/central, area/sensor

#8627 chore: use go-tool to install proto
  .github/dependabot.yaml
  make/protogen.mk
  tools/proto/go.mod
  tools/proto/go.sum
  tools/proto/tools-import.go
  tools/proto/tools.go
Labels: area/ci

#8723 ROX-20878: Fallback reconcile if gRPC ResourceExhausted
  central/sensor/service/connection/manager.go
  central/sensor/service/connection/manager_impl.go
  central/sensor/service/connection/manager_test.go
  central/sensor/service/connection/mocks/manager.go
  central/sensor/service/service_impl.go
Labels: team/maple, area/central, area/sensor

#8717 chore(deps): remove docker dependency
  go.mod
  go.sum
  pkg/compliance/checks/nist800-190/check421/check_test.go
  pkg/migrations/migration_version.go
  pkg/protoconv/time.go
  pkg/registries/docker/metadata_v1.go
Labels: area/ci

#8727 chore(CI): ROX-20643: update robot for periodics
  .github/workflows/update_collector_periodic.yaml
  .github/workflows/update_scanner_periodic.yaml
Labels: area/ci

#8714 fix(ci): pin govulncheck version
  .github/workflows/build.yaml
  Makefile
  tools/linters/go.mod
  tools/linters/go.sum
  tools/linters/tools-import.go
Labels: area/ci

#8697 ROX-20574: Add component filters to workload cves
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/TableEntityToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadTableToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/searchUtils.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/SearchOptionsDropdown.tsx
Labels: area/ui

#8694 feat(scanner): support Scanner on s390x
  .github/workflows/build-scanner.yml
  scanner/Makefile
  scanner/image/db/Dockerfile
Labels: area/scanner, area/ci

#8703 chore(CI): ROX-20643: switch the github bot for release CI
  .github/workflows/release-ci.yaml
  scripts/ci/lib.sh
  scripts/ci/publish-helm-charts.sh
Labels: ci-all-qa-tests, area/ci

#8738 build(scanner): allow cgo enablement
  scanner/Makefile
Labels: area/scanner

#8704 ROX-20862: Show updated vs. original request data in request details
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/ExceptionRequestTableCells.test.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/ExceptionRequestTableCells.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestOverview.tsx
Labels: area/ui

#8721 chore(ui): Refactor VM 2.0 search options for single source of truth
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/CVESeverityDropdown.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/CVEStatusDropdown.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/DefaultFilterModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/TableEntityToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadTableToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/searchUtils.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/types.ts
  ui/apps/platform/src/Containers/Vulnerabilities/components/FilterAutocomplete.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/SearchOptionsDropdown.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/searchOptions.ts
Labels: area/ui

#8554 ROX-20663: Compliance scan config Wizard setup
  ui/apps/platform/cypress/integration/compliance-enhanced/complianceEnhancedDashboard.test.js
  ui/apps/platform/src/Components/PatternFly/DayPickerDropdown.tsx
  ui/apps/platform/src/Components/PatternFly/RepeatScheduleDropdown.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ComplianceEnhancedPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/CreateScanConfigPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/ScanConfigsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Table/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ClusterSelection.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ScanConfigOptions.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ScanConfigWizardFooter.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ScanConfigWizardForm.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/useFormikScanConfig.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/ReportFormWizardFooter.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReportingPage.tsx
  ui/apps/platform/src/hooks/usePageAction.ts
  ui/apps/platform/src/utils/dateUtils.ts
Labels: area/ui, epic/compliance-2.0/mvp

#8732 ROX-20903: Remove sensor reconcile code
  pkg/reconcile/reconcile.go
  sensor/common/deduper/deduper.go
  sensor/common/reconciliation/component.go
  sensor/common/registry/registry_store.go
  sensor/common/registry/registry_store_test.go
  sensor/common/sensor/central_communication.go
  sensor/common/sensor/central_communication_impl.go
  sensor/common/sensor/central_communication_test.go
  sensor/common/sensor/sensor.go
  sensor/common/store/reconciliation/store.go
  sensor/common/store/reconciliation/store_test.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorprofiles.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorresults.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorrules.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorscans.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorscansettingbindings.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatortailoredprofiles.go
  sensor/kubernetes/listener/resources/deployment_store.go
  sensor/kubernetes/listener/resources/deployment_store_test.go
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/kubernetes/listener/resources/hash_reconciliation.go
  sensor/kubernetes/listener/resources/hash_reconciliation_test.go
  sensor/kubernetes/listener/resources/namespace_store.go
  sensor/kubernetes/listener/resources/networkpolicy_store.go
  sensor/kubernetes/listener/resources/node_store.go
  sensor/kubernetes/listener/resources/pod_store.go
  sensor/kubernetes/listener/resources/rbac/store.go
  sensor/kubernetes/listener/resources/rbac/store_impl.go
  sensor/kubernetes/listener/resources/rbac/store_impl_test.go
  sensor/kubernetes/listener/resources/serviceaccount_store.go
  sensor/kubernetes/listener/resources/store_provider.go
  sensor/kubernetes/listener/resources/store_provider_test.go
  sensor/kubernetes/orchestratornamespaces/store.go
  sensor/kubernetes/sensor/sensor.go
Labels: team/maple, area/sensor

#8647 ROX-20649: untangle the coupling between tests
  operator/tests/central/central-misc/40-assert-common.yaml
  operator/tests/central/central-misc/40-assert-non-openshift.yaml
  operator/tests/central/central-misc/40-assert-openshift.yaml
  operator/tests/central/central-misc/40-enable-declarative-config.yaml
  operator/tests/central/central-misc/41-assert-common.yaml
  operator/tests/central/central-misc/41-assert-non-openshift.yaml
  operator/tests/central/central-misc/41-assert-openshift.yaml
  operator/tests/central/central-misc/41-disable-declarative-config.yaml
  operator/tests/common/central-volumes-assert-openshift.yaml
  operator/tests/upgrade/upgrade/40-obsolete-pvc.yaml
Labels: area/operator

#8744 chore(deps): ignore claircore 1.5.20 yet again...
  .github/dependabot.yaml
  go.mod
  go.sum
Labels: area/ci

#8740 ROX-21015: Switch OCP jobs to 2 x e2-standard-8 workers
  .openshift-ci/begin.sh
  .openshift-ci/clusters.py
  scripts/ci/jobs/ocp_compliance_e2e_tests.py
  scripts/ci/jobs/ocp_operator_e2e_tests.py
  scripts/ci/jobs/ocp_qa_e2e_tests.py
  scripts/ci/jobs/ocp_sensor_integration_tests.py
  scripts/ci/jobs/ocp_ui_e2e_tests.py
  scripts/ci/openshift.sh
Labels: area/ci

#8764 ROX-21068: Add FF for v3
  pkg/features/list.go
Labels: team/maple

#8749 fix: sensor install method fallback to `manifest`
  sensor/common/installmethod/install.go
Labels: area/sensor

#8526 ROX-20018: Document why /v1/config/public is public
  central/config/service/service.go
Labels: area/central

#8765 chore(flake): Disable Test "Verify connections from external sources"
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Labels: team/maple

#8521 ROX-20277: gke version compatibility limit test description
  qa-tests-backend/scripts/run-compatibility.sh
Labels: team/maple

#8743 ROX-21014: Make request details tab part of URL
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/ExceptionRequestTableCells.tsx
Labels: area/ui

#8693 chore(ci): unify scanner ci under same prefix
  .github/CODEOWNERS
  .github/workflows/scanner-build.yml
  .github/workflows/scanner-mapping-update.yaml
  .github/workflows/scanner-nvd-update.yaml
  .github/workflows/scanner-vuln-update.yaml
Labels: area/ci

#8758 ROX-20556: Add flow for approving a vulnerability request
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestApprovalButtonModal.tsx
  ui/apps/platform/src/services/VulnerabilityExceptionService.ts
Labels: area/ui

#8795 chore(ui): Fix errors and enable eslint-comments recommended rules
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.js
  ui/apps/platform/eslint.config.js
  ui/apps/platform/src/Components/NumberedGrid/NumberedGrid.js
  ui/apps/platform/src/Components/visuals/Sunburst.js
  ui/apps/platform/src/Containers/ConfigManagement/Entity/Secret.js
  ui/apps/platform/src/Containers/ConfigManagement/List/Images.js
  ui/apps/platform/src/Containers/Policies/Wizard/Step2/PolicyBehaviorForm.tsx
  ui/apps/platform/src/Containers/Risk/SecurityContext.js
  ui/apps/platform/src/Containers/SystemHealth/ClustersHealth/ClustersHealthCards.tsx
  ui/apps/platform/src/Containers/VulnMgmt/List/Components/VulnMgmtListComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/VulnMgmtListCves.js
  ui/apps/platform/src/Containers/VulnMgmt/List/ImageComponents/VulnMgmtListImageComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/NodeComponents/VulnMgmtListNodeComponents.js
  ui/apps/platform/src/global/initializeAnalytics.js
  ui/apps/platform/src/sagas/metadataSagas.js
  ui/apps/platform/src/utils/logError.js
Labels: area/ui
