Repository stackrox/stackrox, pull requests merged in 2023-05, with the labels that each got.

#5858 ROX-16718: Improve text contrast in image scan message tooltip
  ui/apps/platform/src/Components/CVEStackedPill/CVEStackedPill.js
Labels: area/ui

#5841 ROX-16792: Update network graph legend, label color, and terminology
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.css
  ui/apps/platform/src/Containers/NetworkGraph/components/LegendContent.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleGroup.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
  ui/apps/platform/src/images/network-graph/related-namespace.svg
  ui/apps/platform/src/images/network-graph/related-ns-border.svg
Labels: area/ui, epic/network-graph-4.1

#5768 Add summary cards for deployment single page
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCveSummaryCards.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/SummaryCards/BySeveritySummaryCard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/SummaryCards/CvesByStatusSummaryCard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/searchUtils.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#5778 ROX-15290: Enable UI E2e for OCP 4.10 and 4.12
  scripts/ci/jobs/ocp_ui_e2e_tests.py
  ui/apps/platform/cypress/integration/compliance/complianceDashboard.test.js
  ui/apps/platform/cypress/integration/compliance/complianceList.test.js
  ui/apps/platform/cypress/integration/configmanagement/ciscontrols.test.js
  ui/apps/platform/cypress/integration/configmanagement/dashboard.test.js
  ui/apps/platform/cypress/integration/configmanagement/nodes.test.js
  ui/apps/platform/cypress/integration/integrations/imageIntegrations.test.js
Labels: ci-all-qa-tests, area/ui

#5866 ROX-16749: Local Notifiers Env Variable
  central/featureflags/service/service_impl.go
  pkg/env/secured_cluster_notifiers.go
  tests/feature_flag_test.go
Labels: area/central, epic/secured-cluster-notifiers

#5774 ROX-14324: Add default role and permission set to display network graph
  CHANGELOG.md
  central/role/datastore/permissionset_ids.go
  central/role/datastore/singleton.go
  central/role/default.go
Labels: area/central

#5800 Declarative configuration card UI tests
  ui/apps/platform/cypress/constants/SystemHealth.js
  ui/apps/platform/cypress/helpers/systemHealth.js
  ui/apps/platform/cypress/integration/systemHealth/integrations.test.js
  ui/apps/platform/src/Containers/SystemHealth/Components/DeclarativeConfigurationHealthCard.tsx
Labels: area/ui

#5306 ROX-14668: POC new Network Graph API to fetch isolation details on individual deployment IDs
  central/networkgraph/service/service.go
  central/networkgraph/service/service_impl.go
  central/networkgraph/service/service_impl_test.go
  central/networkgraph/service/singleton.go
  central/networkpolicies/deployment/matcher.go
  central/networkpolicies/deployment/matcher_test.go
  generated/api/v1/network_graph_service.pb.go
  generated/api/v1/network_graph_service.swagger.json
  pkg/fixtures/fixtureconsts/fixture_consts.go
  proto/api/v1/network_graph_service.proto
Labels: team/maple, area/central

#5787 Duplicate component vuln tables for images/deployments
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/table.utils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/DockerfileLayerTd.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/FixedByVersionTd.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#5877 Upgrade NP-Guard's cluster-topology-analyzer to 1.7.0
  go.mod
  go.sum
  tests/roxctl/bats-tests/local/roxctl-netpol-generate-development.bats
  tests/roxctl/bats-tests/local/roxctl-netpol-generate-release.bats
Labels: ok-to-test, external-contributor

#5839 ROX-16650: Warn when editing lifecycle stage that existing criteria will reset
  ui/apps/platform/src/Components/PatternFly/ConfirmationModal/ConfirmationModal.css
  ui/apps/platform/src/Components/PatternFly/ConfirmationModal/ConfirmationModal.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsListPage.tsx
  ui/apps/platform/src/Containers/Policies/PolicyPage.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step2/PolicyBehaviorForm.tsx
  ui/apps/platform/src/Containers/Policies/policies.utils.ts
  ui/apps/platform/src/css/trumps.css
Labels: area/ui, area/ci

#5788 Add data tables for deployment single page
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/table.utils.ts
Labels: area/ui, epic/vm2.0/workload-cves

#5883 Replace text color with danger or warning icon in TooltipFieldValue
  ui/apps/platform/cypress/constants/RiskPage.js
  ui/apps/platform/cypress/integration/risk/deploymentTimeline.test.js
  ui/apps/platform/cypress/integration/risk/podTimeline.test.js
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/EventTooltipFields/ProcessActivityTooltipFields.js
  ui/apps/platform/src/Components/TooltipFieldValue/TooltipFieldValue.js
  ui/apps/platform/src/Components/TooltipFieldValue/TooltipFieldValue.tsx
Labels: area/ui

#5861 Workload CVEs overview page fixes pt 1
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CveStatusTabNavigation.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/EntityTypeToggleGroup.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/TableEntityToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadTableToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/sortUtils.tsx
Labels: area/ui

#5833 Increase minimum version of node to 14.17.0 in ui
  ui/package.json
Labels: area/ui

#5902 Update secret event
  sensor/kubernetes/listener/resources/secrets.go
Labels: area/central, area/sensor

#5888 Remove aggregated permissions from access log
  pkg/auth/user/util.go
  pkg/auth/user/util_test.go
Labels: area/auth

#5873 ROX-16754: Protobuf changes for secured cluster notifications
  generated/internalapi/central/network_policy.pb.go
  generated/internalapi/central/secured_cluster_notifier.pb.go
  generated/internalapi/central/sensor_iservice.pb.go
  generated/internalapi/sensor/admission_control.pb.go
  generated/internalapi/sensor/admission_control_iservice.pb.go
  generated/storage/notification_schedule.pb.go
  proto/internalapi/central/network_policy.proto
  proto/internalapi/central/secured_cluster_notifier.proto
  proto/internalapi/central/sensor_iservice.proto
  proto/internalapi/sensor/admission_control.proto
  proto/internalapi/sensor/admission_control_iservice.proto
  proto/storage/notification_schedule.proto
Labels: epic/secured-cluster-notifiers

#5905 ROX-16827: Fix network graph test
  ui/apps/platform/cypress/integration/networkGraphPF/networkGraphPF.test.js
Labels: area/ui, epic/network-graph-4.1

#5885 ROX-16212: Fix cert rotation broken on some installations
  pkg/renderer/kubernetes_helm.go
  pkg/renderer/kubernetes_helm_test.go
Labels: team/maple

#5884 ROX-16739: Fix message about Operator managed install not supporting autoupgrade
  central/sensor/service/connection/connection_impl.go
Labels: area/central

#5807 Dashrews/ROX-16555 no rocksdb restore if space is inadequate or volume is not there
  central/globaldb/v2backuprestore/manager/manager.go
  go.mod
Labels: area/central

#5700 ROX-14299: roxctl login command
  central/authprovider/service/service_impl.go
  go.mod
  go.sum
  pkg/auth/authproviders/idputil/state.go
  pkg/auth/authproviders/registry_httphandler.go
  pkg/auth/authproviders/registry_httphandler_test.go
  roxctl/central/central.go
  roxctl/central/login/login.go
  roxctl/central/login/login_test.go
  roxctl/common/flags/endpoint.go
  ui/apps/platform/src/Containers/AppPage.tsx
  ui/apps/platform/src/Containers/Login/LoginPage.js
  ui/apps/platform/src/routePaths.js
  ui/apps/platform/src/sagas/authSagas.js
  ui/apps/platform/src/sagas/authSagas.test.js
  ui/apps/platform/src/utils/parseAndDecodeFragment.ts
Labels: area/roxctl, area/auth, area/central, area/ui

#5875 Bump CI image to 0.3.58 for go1.20.3
  .github/workflows/build.yaml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
  .golangci.yml
  .openshift-ci/Dockerfile.build_root
  .openshift-ci/build/Dockerfile.build-central-db-bundle
  .openshift-ci/build/Dockerfile.build-main-and-bundle
  BUILD_IMAGE_VERSION
  EXPECTED_GO_VERSION
  Makefile
  pkg/tlscheck/tlscheck.go
  roxctl/common/token_test.go
  scale/signatures/deploy.yaml
  tests/e2e/run-e2e-tests.sh
Labels: area/roxctl, area/ci

#4944 ROX-15214: integration of np-guard connectivity analysis view with roxctl
  go.mod
  go.sum
  roxctl/analyze/README.md
  roxctl/analyze/analyze.go
  roxctl/analyze/netpol/cta.go
  roxctl/analyze/netpol/netpol.go
  roxctl/analyze/netpol/netpol_test.go
  roxctl/analyze/netpol/testdata/dirty/backend.yaml
  roxctl/analyze/netpol/testdata/dirty/frontend.yaml
  roxctl/analyze/netpol/testdata/empty-yamls/empty.yaml
  roxctl/analyze/netpol/testdata/empty-yamls/empty2.yaml
  roxctl/analyze/netpol/testdata/minimal-with-invalid-doc/resources.yaml
  roxctl/analyze/netpol/testdata/minimal/backend.yaml
  roxctl/analyze/netpol/testdata/minimal/frontend.yaml
  roxctl/analyze/netpol/testdata/minimal/netpols.yaml
  roxctl/common/npg/errors.go
  roxctl/common/npg/logger.go
  roxctl/generate/netpol/cta.go
  roxctl/generate/netpol/netpol.go
  roxctl/generate/netpol/netpol_test.go
  roxctl/generate/netpol/npgLogger.go
  roxctl/maincommand/command.go
  tests/roxctl/bats-tests/local/roxctl-netpol-analyze-development.bats
  tests/roxctl/bats-tests/test-data/np-guard/bad-netpol-example/resources.yaml
  tests/roxctl/bats-tests/test-data/np-guard/netpols-analysis-example-minimal/backend.yaml
  tests/roxctl/bats-tests/test-data/np-guard/netpols-analysis-example-minimal/frontend.yaml
  tests/roxctl/bats-tests/test-data/np-guard/netpols-analysis-example-minimal/netpols.yaml
Labels: ok-to-test, external-contributor

#5882 Minor UX details for Workload CVEs
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageHeader.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePageHeader.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/table.utils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ComponentLocationTd.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/DatePhraseTd.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/FilterAutocomplete.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/FilterResourceDropdown.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageDetailBadges.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageNameTd.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadTableToolbar.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#5912 Add type annotations to date utils file
  ui/apps/platform/src/Containers/VulnMgmt/Reports/Components/ScheduleText.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageHeader.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePageHeader.tsx
  ui/apps/platform/src/types/report.proto.ts
  ui/apps/platform/src/utils/dateUtils.ts
Labels: area/ui

#5920 Revert "ROX-16739: Fix message about Operator managed install not sup…
  central/sensor/service/connection/connection_impl.go
Labels: area/central

#5886 ROX-16750: Fixing incorrect anomalous traffic details
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/networkGraphUtils.test.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/networkGraphUtils.ts
Labels: area/ui, epic/network-graph-4.1

#5925 MITRE refactor phase #2: Moving mitre utils to pkg
  central/graphql/resolvers/policies.go
  central/notifiers/format.go
  central/policy/service/service_impl.go
  pkg/mitre/utils/utils.go
Labels: area/central, epic/secured-cluster-notifiers

#5865 Upgrade react-user-feedback extension to 1.0.9
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/MainPage/AcsFeedbackModal.tsx
  ui/yarn.lock
Labels: pls-merge, area/ui

#5933 Exclude `node_modules` from UI caching
  .github/actions/cache-ui-dependencies/action.yaml
  ui/Makefile
Labels: area/ui, area/ci

#5922 ROX-16743: Refactor Namespace Properties to interface
  central/notifiers/common.go
  central/notifiers/email/email.go
  central/notifiers/email/email_integration_test.go
  central/notifiers/jira/jira.go
  central/notifiers/jira/jira_fake_test.go
  central/notifiers/jira/jira_integration_test.go
  central/notifiers/metadata_getter.go
  central/notifiers/metadatagetter/datastore_impl.go
  central/notifiers/metadatagetter/datastore_impl_test.go
  central/notifiers/metadatagetter/singleton.go
  central/notifiers/slack/slack.go
  central/notifiers/slack/slack_test.go
  central/notifiers/teams/teams.go
  central/notifiers/teams/teams_test.go
Labels: area/central, epic/secured-cluster-notifiers

#5926 ROX-16748: Short circuit notification processing in Central for secured cluster notifiers, when feature is turned on.
  central/notifier/processor/mocks/processor.go
  central/notifier/processor/processor.go
  central/notifier/processor/processor_impl.go
  central/notifier/processor/processor_impl_test.go
Labels: area/central, epic/secured-cluster-notifiers

#5892 [ROX-16719][ROX-16802][ROX-13858] Get all distro tuples for CVE
  central/graphql/resolvers/image_cve_core.go
  central/views/imagecve/db_response.go
  central/views/imagecve/mocks/types.go
  central/views/imagecve/types.go
  central/views/imagecve/view_impl.go
  central/views/imagecve/view_test.go
  pkg/metrics/resolver_string.go
  pkg/metrics/resolvers.go
Labels: area/central, epic/vm2.0/workload-cves

#5935 Update GHA cache action from v2 to v3
  .github/actions/cache-gradle-dependencies/action.yaml
  .github/actions/cache-ui-dependencies/action.yaml
Labels: area/ui, area/ci

#5165 ROX-13164 compliance to retry sending node inventory
  compliance/collection/main.go
  compliance/collection/metrics/metrics.go
  generated/internalapi/sensor/compliance_iservice.pb.go
  pkg/channelmultiplexer/channelmultiplexer.go
  pkg/channelmultiplexer/channelmultiplexer_test.go
  proto/internalapi/sensor/compliance_iservice.proto
  sensor/common/compliance/multiplexer.go
  sensor/common/compliance/node_inventory_handler.go
  sensor/common/compliance/node_inventory_handler_impl.go
  sensor/common/compliance/node_inventory_handler_test.go
  sensor/common/compliance/service.go
  sensor/common/compliance/service_impl.go
  sensor/common/component.go
  sensor/common/sensor/sensor.go
  sensor/kubernetes/sensor/sensor.go
  tools/local-sensor/scripts/local-sensor.sh
Labels: team/maple, area/sensor

#5913 Add missing CVSS to ImageCVE page Images table
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/SummaryCards/TopCvssScoreBreakdown.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/table.utils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/CvssTd.tsx
Labels: area/ui

#5855 Delete ROX_SYSTEM_HEALTH_PF feature flag
  pkg/features/list.go
  tests/e2e/bats/fixtures/test-pod-without-oomkilled_object.json
  tests/e2e/lib.sh
  ui/apps/platform/cypress/constants/SystemHealthPatternFly.js
  ui/apps/platform/cypress/helpers/systemHealthPatternFly.js
  ui/apps/platform/cypress/integration/systemHealthPatternFly/systemHealthGeneral.test.js
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/DiagnosticBundleForm.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/FilterByStartingTimeValidationMessage.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/GenerateDiagnosticBundle.tsx
  ui/apps/platform/src/Containers/SystemHealth/DashboardPage.js
  ui/apps/platform/src/Containers/SystemHealth/PatternFly/Components/FilterByStartingTimeValidationMessage.tsx
  ui/apps/platform/src/Containers/SystemHealth/PatternFly/SystemHealthDashboard.tsx
  ui/apps/platform/src/Containers/SystemHealth/utils/diagnosticBundleUtils.test.ts
  ui/apps/platform/src/Containers/SystemHealth/utils/diagnosticBundleUtils.ts
  ui/apps/platform/src/routePaths.js
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#5860 Specify memory parameters in postgresql.conf
  image/templates/helm/stackrox-central/config/centraldb/postgresql.conf.default
Labels: ci-release-build, area/helm, area/postgres

#5943 ROX-16734: Refactor central/notifiers to pkg
  central/networkpolicies/service/service_impl.go
  central/notifier/processor/loop.go
  central/notifier/processor/mocks/processor.go
  central/notifier/processor/notifier_set.go
  central/notifier/processor/notifier_set_test.go
  central/notifier/processor/processor.go
  central/notifier/processor/processor_impl.go
  central/notifier/processor/processor_impl_test.go
  central/notifier/processor/singleton.go
  central/notifier/processor/util.go
  central/notifier/service/service_impl.go
  central/notifiers/all/all.go
  central/notifiers/awssh/notifier.go
  central/notifiers/cscc/client/client.go
  central/notifiers/cscc/cscc.go
  central/notifiers/email/email.go
  central/notifiers/jira/jira.go
  central/notifiers/metadatagetter/datastore_impl.go
  central/notifiers/metadatagetter/singleton.go
  central/notifiers/pagerduty/pagerduty.go
  central/notifiers/report_notifier.go
  central/notifiers/resolvable_alert_notifier.go
  central/notifiers/slack/slack.go
  central/notifiers/splunk/splunk.go
  central/notifiers/sumologic/sumologic.go
  central/notifiers/teams/teams.go
  central/notifiers/teams/teams_test.go
  pkg/notifiers/alert_notifier.go
  pkg/notifiers/audit_notifier.go
  pkg/notifiers/common.go
  pkg/notifiers/format.go
  pkg/notifiers/format_test.go
  pkg/notifiers/generic/generic.go
  pkg/notifiers/generic/generic_test.go
  pkg/notifiers/jira/jira.go
  pkg/notifiers/jira/jira_fake_test.go
  pkg/notifiers/jira/jira_integration_test.go
  pkg/notifiers/jira/jira_test.go
  pkg/notifiers/metadata_getter.go
  pkg/notifiers/mocks/alert_notifier.go
  pkg/notifiers/mocks/audit_notifier.go
  pkg/notifiers/mocks/metadata_getter.go
  pkg/notifiers/mocks/notifier.go
  pkg/notifiers/network_policy_notifier.go
  pkg/notifiers/notifier.go
  pkg/notifiers/registry.go
  pkg/notifiers/syslog/mocks/syslog.go
  pkg/notifiers/syslog/syslog.go
  pkg/notifiers/syslog/syslog_test.go
  pkg/notifiers/syslog/tcp_sender.go
Labels: area/central, epic/secured-cluster-notifiers

#5929 Bump COLLECTOR_VERSION
  COLLECTOR_VERSION
Labels: dependencies, ci-all-qa-tests

#5870 Update vulnerability definitions to PatternFly in System Health
  ui/apps/platform/cypress/constants/SystemHealth.js
  ui/apps/platform/cypress/integration/systemHealth/vulnDefinitions.test.js
  ui/apps/platform/src/Containers/SystemHealth/Components/VulnerabilityDefinitions.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/VulnerabilityDefinitionsHealthCard.tsx
  ui/apps/platform/src/Containers/SystemHealth/DashboardPage.js
  ui/apps/platform/src/Containers/SystemHealth/PatternFly/Components/BackupIntegrationHealthWidget.tsx
  ui/apps/platform/src/Containers/SystemHealth/PatternFly/Components/ImageIntegrationHealthWidget.tsx
  ui/apps/platform/src/Containers/SystemHealth/PatternFly/Components/IntegrationHealthWidgetVisual.tsx
  ui/apps/platform/src/Containers/SystemHealth/PatternFly/Components/IntegrationsHealth.tsx
  ui/apps/platform/src/Containers/SystemHealth/PatternFly/Components/NotifierIntegrationHealthWidget.tsx
  ui/apps/platform/src/Containers/SystemHealth/PatternFly/Components/VulnerabilityDefinitionsWidget.tsx
  ui/apps/platform/src/Containers/SystemHealth/PatternFly/utils/health.tsx
  ui/apps/platform/src/Containers/SystemHealth/PatternFly/utils/integrations.ts
Labels: area/ui

#5923 Replace template literal with getMaxWidthClass in BreadCrumbs components
  ui/apps/platform/src/Components/BreadCrumbs.js
  ui/apps/platform/src/Containers/BreadCrumbs/EntityBreadCrumbs.js
  ui/apps/platform/src/Containers/ConfigManagement/SidePanel/BreadCrumbs.js
Labels: area/ui

#5917 ROX-16753: Central side changes to send NotifierSync to sensor
  central/main.go
  central/notifier/processor/mocks/processor.go
  central/notifier/processor/notifier_set.go
  central/notifier/processor/notifier_set_test.go
  central/notifier/processor/processor.go
  central/notifier/processor/processor_impl.go
  central/notifier/service/service.go
  central/notifier/service/service_impl.go
  central/notifier/service/service_impl_test.go
  central/notifier/service/singleton.go
  central/sensor/service/connection/connection_impl.go
  central/sensor/service/connection/manager.go
  central/sensor/service/connection/manager_impl.go
  central/sensor/service/connection/mocks/manager.go
  pkg/centralsensor/caps_list.go
Labels: area/central, epic/secured-cluster-notifiers

#5955 ROX-16743: Refactor Remaining Notifiers objects into pkg
  central/notifier/processor/notifier_set_test.go
  central/notifier/processor/processor_impl_test.go
  central/notifier/processor/util.go
  central/notifier/service/service_impl.go
  central/notifiers/all/all.go
  central/notifiers/email/email.go
  central/notifiers/slack/slack.go
  central/notifiers/teams/teams.go
  central/reports/scheduler/schedule.go
  pkg/notifiers/awssh/mapping.go
  pkg/notifiers/awssh/mapping_test.go
  pkg/notifiers/awssh/notifier.go
  pkg/notifiers/awssh/notifier_test.go
  pkg/notifiers/email/email.go
  pkg/notifiers/email/email_integration_test.go
  pkg/notifiers/email/email_test.go
  pkg/notifiers/mocks/report_notifier.go
  pkg/notifiers/mocks/resolvable_alert_notifier.go
  pkg/notifiers/pagerduty/pagerduty.go
  pkg/notifiers/pagerduty/pagerduty_test.go
  pkg/notifiers/prune.go
  pkg/notifiers/prune_test.go
  pkg/notifiers/report_notifier.go
  pkg/notifiers/resolvable_alert_notifier.go
  pkg/notifiers/slack/slack.go
  pkg/notifiers/slack/slack_test.go
  pkg/notifiers/splunk/splunk.go
  pkg/notifiers/splunk/splunk_test.go
  pkg/notifiers/sumologic/sumologic.go
  pkg/notifiers/teams/teams.go
  pkg/notifiers/teams/teams_test.go
Labels: area/central, epic/secured-cluster-notifiers

#5868 Add utilities to pass transactions through contexts
  go.mod
  pkg/mocks/github.com/jackc/pgx/v4/mocks/mocks.go
  pkg/mocks/mocks.go
  pkg/postgres/conn.go
  pkg/postgres/context.go
  pkg/postgres/metrics.go
  pkg/postgres/mocks/pgxpool_conn.go
  pkg/postgres/pgxpool_conn.go
  pkg/postgres/pool_impl.go
  pkg/postgres/tests/conn_test.go
  pkg/postgres/tx.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testchild1/store_tx_test.go
Labels: area/postgres

#5960 ROX-16743: Fix style check
  central/notifier/processor/notifier_set_test.go
Labels: area/central, epic/secured-cluster-notifiers

#5847 Refine declarative config errors
  central/declarativeconfig/manager_impl.go
  central/declarativeconfig/manager_impl_test.go
  pkg/declarativeconfig/configuration.go
  pkg/declarativeconfig/configuration_test.go
Labels: area/central

#5898 ROX-16850: Fix secured cluster provider name
  central/cluster/datastore/telemetry.go
Labels: area/central

#5947 ROX-16510: (right) Fix identification of latest Helm releases
  .openshift-ci/get_latest_helm_chart_versions.py
  .openshift-ci/get_latest_release_versions.py
  scripts/ci/jobs/gke_version_compatibility_tests.py
Labels: team/maple, area/ci

#5953 Add image/deployment resource tables for Workload CVEs
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/ImageResourceTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/DeploymentResourceTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/searchUtils.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#5956 Replace or remove rare occurrences of text-base-900 in UI
  ui/apps/platform/src/Components/FixableCVECount/FixableCVECount.js
  ui/apps/platform/src/Components/Pagination/PaginationInput/PaginationInput.js
  ui/apps/platform/src/Components/TableCellLink/TableCellLink.js
  ui/apps/platform/src/Containers/ConfigManagement/Entity/widgets/Metadata.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Policy/VulnMgmtPolicyOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/RelatedEntitiesSideList.js
Labels: area/ui

#5924 ROX-16904: Add ROX_DISABLE_COMPLIANCE_STANDARDS feature flag
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/central, area/ui, area/sensor, area/ci

#5961 ROX-16755: Central side changes for Test Notifier workflow for secured cluster notifiers
  central/notifier/service/service_impl.go
Labels: area/central, epic/secured-cluster-notifiers

#5963 ROX-14908 (GHA): create OSCI configuration for new releases from template instead of master configuration
  .github/workflows/cut-rc.yml
  .github/workflows/start-release.yml
Labels: area/ci

#5752 ROX-14299: Persist login information and reuse within other commands
  CHANGELOG.md
  pkg/auth/authproviders/refresh_token_cookie.go
  pkg/auth/authproviders/registry_httphandler.go
  pkg/auth/authproviders/registry_impl.go
  pkg/env/roxctl.go
  roxctl/analyze/netpol/netpol_test.go
  roxctl/central/debug/resync_check_test.go
  roxctl/central/login/assets/rhacs-icon.png
  roxctl/central/login/authorize.html
  roxctl/central/login/login.go
  roxctl/central/login/login_test.go
  roxctl/central/whoami/whoami.go
  roxctl/central/whoami/whoami_test.go
  roxctl/cluster/delete/delete_test.go
  roxctl/common/auth/auth.go
  roxctl/common/client.go
  roxctl/common/config/config.go
  roxctl/common/config/config_test.go
  roxctl/common/config/mocks/config.go
  roxctl/common/environment/auth_config.go
  roxctl/common/environment/auth_config_test.go
  roxctl/common/environment/environment-impl.go
  roxctl/common/environment/environment.go
  roxctl/common/environment/mocks/environment.go
  roxctl/common/environment/mocks/util.go
  roxctl/common/mocks/environment.go
  roxctl/common/mocks/util.go
  roxctl/declarativeconfig/create/access_scope_test.go
  roxctl/declarativeconfig/create/auth_provider_test.go
  roxctl/declarativeconfig/create/permission_set_test.go
  roxctl/declarativeconfig/create/role_test.go
  roxctl/declarativeconfig/lint/lint_test.go
  roxctl/deployment/check/check_test.go
  roxctl/generate/netpol/netpol_test.go
  roxctl/image/check/check_test.go
  roxctl/image/scan/scan_test.go
  roxctl/sensor/generate/generate_test.go
Labels: area/roxctl, area/auth

#5915 Change rules to run BAT QA tests only in PR context without the label
  qa-tests-backend/scripts/run-part-1.sh
Labels: ci-all-qa-tests

#5916 ROX-15773: Disable minimum access role selection if defined declaratively
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviderForm.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/authProviders.utils.ts
Labels: area/ui

#5949 Fix UI incorrectly reported type errors
  ui/apps/platform/src/Components/Button/Button.js
  ui/apps/platform/src/Components/Button/Button.tsx
  ui/apps/platform/src/Containers/Network/SidePanel/NetworkDeploymentOverlay/NetworkPoliciesDetail/NetworkPoliciesDetail.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/AdvancedFlowsFilter/advancedFlowsFilterUtils.test.ts
  ui/apps/platform/src/Containers/NetworkGraph/common/AdvancedFlowsFilter/advancedFlowsFilterUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/table.utils.ts
  ui/yarn.lock
Labels: area/ui

#5941 Replace text color in ScopedPermissions
  ui/apps/platform/src/Containers/ConfigManagement/Entity/widgets/ScopedPermissions.js
Labels: area/ui

#5867 ROX-11201: Add generic blob store
  central/blob/datastore/datastore.go
  central/blob/datastore/singleton.go
  central/blob/datastore/store/postgres/gen.go
  central/blob/datastore/store/postgres/store.go
  central/blob/datastore/store/postgres/store_test.go
  central/blob/datastore/store/store.go
  central/blob/datastore/store/store_test.go
  generated/storage/blob.pb.go
  pkg/postgres/schema/blobs.go
  proto/storage/blob.proto
  tools/generate-helpers/pg-table-bindings/list.go
Labels: area/central, area/postgres

#5927 Workload CVEs: Tooltip polish
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/SeverityCountLabels.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/TooltipTh.tsx
Labels: area/ui

#5936 ROX-7047: Network Flow test
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Labels: team/maple, area/ui, area/ci

#5972 ROX-16737: Add audit logs for custom routes
  central/audit/audit.go
  central/graphql/resolvers/compliance_management.go
  central/graphql/resolvers/utils.go
  central/graphql/resolvers/vulnerability_requests.go
  central/main.go
  pkg/audit/audit.go
  pkg/grpc/routes/routes.go
  pkg/grpc/server.go
  pkg/httputil/status_tracking_writer.go
  pkg/sac/observe/interceptors.go
Labels: area/auth, area/central

#5914 Update WorkloadCVE table layouts to fit columns and avoid wrapping.
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesPage.css
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/FixedByVersionTd.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/SeverityCountLabels.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#5991 add area/scanner label to anything touching scanner directory
  .github/labeler.yml
Labels: area/ci

#6000 Add CODEOWNERS entries for Scanner
  .github/CODEOWNERS
  .github/workflows/update_scanner_periodic.yaml
Labels: area/ci

#5962 ROX-16893: Allow references to default resources in declarative roles
  central/auth/userpass/auth.go
  central/centralhealth/service/service_impl.go
  central/clusterinit/service/service_impl.go
  central/main.go
  central/role/accessscope_ids.go
  central/role/datastore/datastore_impl_test.go
  central/role/datastore/singleton.go
  central/role/default.go
  central/role/default_test.go
  central/role/mapper/always_admin_mapper_impl.go
  pkg/declarativeconfig/transform/role.go
  pkg/declarativeconfig/transform/role_test.go
  pkg/defaults/accesscontrol/access_scope.go
  pkg/defaults/accesscontrol/permission_set.go
  pkg/defaults/accesscontrol/role.go
Labels: area/central

#5990 Update cypress 12.12.0 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#6019 fix GHA: bump upgrade test cluster resources
  .github/workflows/scripts/prepare-upgrade-test.sh
  .github/workflows/upgrade-test.yml
Labels: area/ci

#5985 ROX-16756: Central side changes to send network policy yamls via secured clusters notifiers
  central/networkpolicies/service/service_impl.go
  central/notifier/processor/mocks/processor.go
  central/notifier/processor/processor.go
  central/notifier/processor/processor_impl.go
  central/notifier/processor/processor_impl_test.go
  central/notifier/service/service_impl.go
  central/notifiers/cscc/cscc.go
  pkg/notifiers/awssh/notifier.go
  pkg/notifiers/email/email.go
  pkg/notifiers/generic/generic.go
  pkg/notifiers/jira/jira.go
  pkg/notifiers/mocks/alert_notifier.go
  pkg/notifiers/mocks/audit_notifier.go
  pkg/notifiers/mocks/notifier.go
  pkg/notifiers/mocks/report_notifier.go
  pkg/notifiers/mocks/resolvable_alert_notifier.go
  pkg/notifiers/notifier.go
  pkg/notifiers/pagerduty/pagerduty.go
  pkg/notifiers/slack/slack.go
  pkg/notifiers/splunk/splunk.go
  pkg/notifiers/sumologic/sumologic.go
  pkg/notifiers/syslog/syslog.go
  pkg/notifiers/teams/teams.go
Labels: area/central, epic/secured-cluster-notifiers

#5946 ROX-16959 - Add admission controller replicas Helm parameter
  CHANGELOG.md
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/internal/defaults/30-base-config.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
  image/templates/helm/stackrox-secured-cluster/values-public.yaml.example
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/admission-control.test.yaml
Labels: area/helm

#5983 Fix data race in service store
  sensor/kubernetes/listener/resources/service_store.go
Labels: team/maple, area/sensor

#6025 ROX-16743: Notifier Side pkg Refactor
  central/alert/service/service.go
  central/alert/service/service_impl.go
  central/alert/service/service_test.go
  central/audit/audit.go
  central/audit/audit_test.go
  central/cluster/datastore/datastore.go
  central/cluster/datastore/datastore_impl.go
  central/cluster/datastore/datastore_impl_test.go
  central/cve/common/csv/handler_test.go
  central/detection/alertmanager/alert_manager.go
  central/detection/alertmanager/alert_manager_impl.go
  central/detection/alertmanager/alert_manager_impl_test.go
  central/detection/service/service.go
  central/detection/service/service_impl.go
  central/graphql/resolvers/service_accounts_test.go
  central/graphql/resolvers/vulnerability_requests_test.go
  central/notifier/processor/processor_impl.go
  central/notifier/processor/processor_impl_test.go
  central/notifier/processor/singleton.go
  central/notifier/service/service.go
  central/notifier/service/service_impl.go
  central/notifier/service/service_impl_test.go
  central/policy/service/service.go
  central/policy/service/service_impl.go
  central/pruning/pruning_test.go
  central/reports/scheduler/schedule.go
  central/sensor/service/connection/connection_impl.go
  central/sensor/service/connection/manager.go
  central/sensor/service/connection/manager_impl.go
  central/sensor/service/connection/mocks/manager.go
  pkg/notifier/alert_set.go
  pkg/notifier/loop.go
  pkg/notifier/mocks/processor.go
  pkg/notifier/notifier_set.go
  pkg/notifier/notifier_set_test.go
  pkg/notifier/processor.go
  pkg/notifier/util.go
Labels: area/central, epic/secured-cluster-notifiers

#5989 Improve icons for Enabled Fixable Pass in UI
  ui/apps/platform/src/Components/PatternFly/IconText/ImageActiveIconText.tsx
  ui/apps/platform/src/Components/PatternFly/IconText/NotApplicableIconText.tsx
  ui/apps/platform/src/Components/PatternFly/IconText/PolicyDisabledIconText.tsx
  ui/apps/platform/src/Components/PatternFly/IconText/PolicyStatusIconText.tsx
  ui/apps/platform/src/Components/PatternFly/IconText/VulnerabilityFixableIconText.tsx
Labels: area/ui

#5996 Delete occurrences of Tailwind italic class
  ui/apps/platform/src/Components/DetailsOverlay/DetailsOverlay.tsx
  ui/apps/platform/src/Components/NumberedGrid/NumberedGrid.js
  ui/apps/platform/src/Components/NumberedList/NumberedList.js
  ui/apps/platform/src/Components/SubHeader/SubHeader.js
  ui/apps/platform/src/Components/TableGroup.js
  ui/apps/platform/src/Components/TableHeader.js
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionsTable.tsx
  ui/apps/platform/src/Containers/BreadCrumbs/EntityBreadCrumb.js
  ui/apps/platform/src/Containers/Clusters/Components/FormFieldRequired.js
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/widgets/SecretsMostUsedAcrossDeployments.js
  ui/apps/platform/src/Containers/ConfigManagement/Entity/Policy/Policy.js
  ui/apps/platform/src/Containers/ConfigManagement/SidePanel/BreadCrumbs.js
  ui/apps/platform/src/Containers/Dashboard/SummaryCounts.tsx
  ui/apps/platform/src/Containers/Images/VulnsTable.js
  ui/apps/platform/src/Containers/Login/TestLoginResultsPage.js
  ui/apps/platform/src/Containers/Network/SidePanel/NetworkDeploymentOverlay/DeploymentDetails/ContainerConfigurations.tsx
  ui/apps/platform/src/Containers/Network/SidePanel/NetworkDeploymentOverlay/DeploymentDetails/SecurityContext.tsx
  ui/apps/platform/src/Containers/Network/SidePanel/NetworkDeploymentOverlay/Flows/NetworkBaselines/NetworkBaselinesTable/GroupedStatusTableCell.tsx
  ui/apps/platform/src/Containers/Risk/ContainerConfigurations.js
  ui/apps/platform/src/Containers/Risk/Process/BinaryCollapsible.js
  ui/apps/platform/src/Containers/Risk/Process/DiscoveryCardHeader.js
  ui/apps/platform/src/Containers/Risk/SecurityContext.js
  ui/apps/platform/src/Containers/SystemHealth/Components/ClusterHealth.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/IntegrationsHealth.tsx
  ui/apps/platform/src/constants/form.constants.ts
Labels: area/ui

#6038 Check for namespace existence before returning annotations
  sensor/admission-control/resources/namespaces/namespace.go
Labels: area/sensor, area/admission-controller

#6023 ROX-16248: Add column for policy origin
  ui/apps/platform/cypress/constants/PoliciesPage.js
  ui/apps/platform/cypress/integration/policies/exportPolicy.test.js
  ui/apps/platform/cypress/integration/policies/policiesTable.test.js
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTable.tsx
Labels: area/ui

#6030 ROX-17113: Add ManageStandardsModal to Compliance page without patch requests
  ui/apps/platform/cypress/integration/compliance/Compliance.helpers.js
  ui/apps/platform/cypress/integration/compliance/Compliance.selectors.js
  ui/apps/platform/cypress/integration/compliance/complianceDashboard.test.js
  ui/apps/platform/src/Containers/Compliance/Dashboard/ComplianceDashboardPage.tsx
  ui/apps/platform/src/Containers/Compliance/Dashboard/ComplianceDashboardTile.tsx
  ui/apps/platform/src/Containers/Compliance/Dashboard/Header.js
  ui/apps/platform/src/Containers/Compliance/Dashboard/ManageStandardsModal.tsx
  ui/apps/platform/src/Containers/Compliance/Dashboard/Page.js
  ui/apps/platform/src/Containers/Compliance/Dashboard/Tile.js
  ui/apps/platform/src/Containers/Compliance/Page.js
  ui/apps/platform/src/services/ComplianceService.ts
Labels: area/ui

#5980 ROX-17014: Separate and fix long run times of `golangci-lint`
  .github/workflows/style.yaml
  Makefile
Labels: pls-merge, area/ci

#6026 ROX-16759: Metadata Getter on Sensor Side
  sensor/common/resources/metadatagetter/mem_store_impl.go
  sensor/common/resources/metadatagetter/mem_store_impl_test.go
  sensor/common/resources/metadatagetter/singleton.go
  sensor/common/resources/namespaces/namespace_store.go
  sensor/common/resources/namespaces/singleton.go
  sensor/kubernetes/listener/resources/convert.go
  sensor/kubernetes/listener/resources/convert_mutating_test.go
  sensor/kubernetes/listener/resources/convert_override_test.go
  sensor/kubernetes/listener/resources/convert_test.go
  sensor/kubernetes/listener/resources/deployment_store_test.go
  sensor/kubernetes/listener/resources/deployments.go
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/kubernetes/listener/resources/namespace.go
  sensor/kubernetes/listener/resources/namespace_store.go
Labels: area/sensor, epic/secured-cluster-notifiers

#5974 Increase NETWORK_FLOW_UPDATE_CADENCE_IN_SECONDS for few ARCH's
  qa-tests-backend/src/main/groovy/util/NetworkGraphUtil.groovy
Labels: ci-all-qa-tests

#5977 Supersede Open Sans with Red Hat font and PatternFly text color
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/ClusteredEventMarker/ClusteredGenericEvent.tsx
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/ClusteredEventMarker/ClusteredPolicyViolationEvent.tsx
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/ClusteredEventMarker/ClusteredProcessActivityEvent.tsx
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/ClusteredEventMarker/ClusteredRestartEvent.tsx
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/ClusteredEventMarker/ClusteredTerminationEvent.tsx
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/ClusteredEventMarker/__snapshots__/ClusteredEventMarker.test.tsx.snap
  ui/apps/platform/src/Containers/MainPage/Notifications.tsx
  ui/apps/platform/src/Containers/Network/Graph/networkGraphStyles.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/VulnMgmtListCves.js
  ui/apps/platform/src/app.tw.css
  ui/apps/platform/src/css/style.css
  ui/apps/platform/src/css/trumps.css
  ui/apps/platform/src/index.tsx
Labels: area/ui

#6049 ROX-17038: Offline mode
  sensor/common/compliance/node_inventory_handler_impl.go
  sensor/common/component.go
  sensor/common/sensor/sensor.go
Labels: team/maple, area/sensor

#6043 Fix additional CA error message
  central/tlsconfig/tlsconfig.go
  central/tlsconfig/tlsconfig_test.go
Labels: area/central

#6046 ROX-16999: Do not run junit2jira on cancelled jobs
  .github/workflows/unit-tests.yaml
Labels: area/ci

#5951 ROX-16696 - Delegated Registry Config Storage / APIs
  central/delegatedregistryconfig/convert/convert.go
  central/delegatedregistryconfig/convert/convert_test.go
  central/delegatedregistryconfig/datastore/datastore.go
  central/delegatedregistryconfig/datastore/mocks/datastore.go
  central/delegatedregistryconfig/datastore/singleton.go
  central/delegatedregistryconfig/service/service.go
  central/delegatedregistryconfig/service/service_test.go
  central/delegatedregistryconfig/service/singleton.go
  central/delegatedregistryconfig/store/postgres/gen.go
  central/delegatedregistryconfig/store/postgres/store.go
  central/delegatedregistryconfig/store/postgres/store_test.go
  central/delegatedregistryconfig/store/store.go
  central/main.go
  generated/api/v1/delegated_registry_config_service.pb.go
  generated/api/v1/delegated_registry_config_service.pb.gw.go
  generated/api/v1/delegated_registry_config_service.swagger.json
  generated/storage/delegated_registry_config.pb.go
  pkg/postgres/schema/delegated_registry_configs.go
  proto/api/v1/delegated_registry_config_service.proto
  proto/storage/delegated_registry_config.proto
  tools/generate-helpers/pg-table-bindings/list.go
Labels: area/central, area/postgres

#6035 Delete occurrences of Tailwind font-600 class from values and table data cells
  ui/apps/platform/src/Components/CVEStackedPill/CVEStackedPill.js
  ui/apps/platform/src/Components/KeyValuePairs.js
  ui/apps/platform/src/Components/Metadata/Metadata.js
  ui/apps/platform/src/Components/Table.js
  ui/apps/platform/src/Components/TableV2.js
  ui/apps/platform/src/Containers/MainPage/Notifications.tsx
  ui/apps/platform/src/Containers/Network/SidePanel/NetworkDeploymentOverlay/DeploymentDetails/ContainerConfigurations.tsx
  ui/apps/platform/src/Containers/Risk/ContainerConfigurations.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/CveToPolicyShortForm.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/TopRiskiestEntities.js
  ui/apps/platform/src/utils/vulnerabilityUtils.js
Labels: area/ui

#6055 Delete obsolete DiagnosticBundle components from System Health
  ui/apps/platform/src/Containers/SystemHealth/Components/DiagnosticBundleDialogBox.test.ts
  ui/apps/platform/src/Containers/SystemHealth/Components/DiagnosticBundleDialogBox.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/GenerateDiagnosticBundleButton.tsx
Labels: area/ui

#6056 R)X-16651: Filter policy criteria available based on Lifecycle Stages
  ui/apps/platform/cypress/integration/policies/policyWizardStep3.test.js
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/BooleanPolicyLogicSection.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicyCriteriaForm.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
  ui/apps/platform/src/Containers/Policies/policies.utils.ts
  ui/apps/platform/src/utils/arrayUtils.test.ts
  ui/apps/platform/src/utils/arrayUtils.ts
Labels: area/ui

#4341 Remove remnants of orchestrator vulnerability data from Central
  CHANGELOG.md
  central/cve/fetcher/fetch_utils.go
  central/cve/fetcher/manager.go
  central/cve/fetcher/manager_impl.go
  central/main.go
  central/scannerdefinitions/handler/handler.go
  central/sensor/service/pipeline/clusterstatusupdate/pipeline.go
  go.mod
  go.sum
  image/fetch-stackrox-data.sh
  pkg/env/reprocessing_interval.go
Labels: area/central, area/helm

#6080 Disable Verify connections from external sources in Openshift
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Labels: team/maple

#6079 Use search for network policies instead of walks
  central/networkpolicies/datastore/datastore_impl.go
  central/networkpolicies/datastore/datastore_impl_test.go
  central/networkpolicies/datastore/internal/store/bolt/store_impl.go
  central/networkpolicies/datastore/internal/store/mocks/store.go
  central/networkpolicies/datastore/internal/store/store.go
  scale/workloads/10-sensors.yaml
Labels: area/central

#6053 Delete occurrences of Tailwind tracking and class part 1 for uppercase
  ui/apps/platform/cypress/helpers/vulnmanagement/entities.js
  ui/apps/platform/cypress/integration/compliance/Compliance.helpers.js
  ui/apps/platform/cypress/integration/compliance/complianceDashboard.test.js
  ui/apps/platform/cypress/integration/compliance/complianceList.test.js
  ui/apps/platform/cypress/integration/configmanagement/ConfigurationManagement.helpers.js
  ui/apps/platform/src/Components/EntityList/EntityList.js
  ui/apps/platform/src/Components/GroupedTabs.js
  ui/apps/platform/src/Components/Loader.js
  ui/apps/platform/src/Components/NumberedGrid/NumberedGrid.js
  ui/apps/platform/src/Components/PageHeader/PageHeader.js
  ui/apps/platform/src/Components/Panel.js
  ui/apps/platform/src/Components/ResourceTabs.js
  ui/apps/platform/src/Components/SubHeader/SubHeader.js
  ui/apps/platform/src/Components/TableHeader.js
  ui/apps/platform/src/Components/Tabs.js
  ui/apps/platform/src/Components/TileContent/TileContent.tsx
  ui/apps/platform/src/Components/TileList/TileList.js
  ui/apps/platform/src/Components/Widget/Widget.js
  ui/apps/platform/src/Containers/BreadCrumbs/EntityBreadCrumb.js
  ui/apps/platform/src/Containers/BreadCrumbs/EntityBreadCrumbs.js
  ui/apps/platform/src/Containers/Clusters/ClustersSidePanel.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.js
  ui/apps/platform/src/Containers/Compliance/Entity/Header.js
  ui/apps/platform/src/Containers/Compliance/List/SidePanel.js
  ui/apps/platform/src/Containers/Compliance/List/Table.js
  ui/apps/platform/src/Containers/Compliance/widgets/EntityCompliance.js
  ui/apps/platform/src/Containers/Compliance/widgets/StandardsAcrossEntity.js
  ui/apps/platform/src/Containers/Compliance/widgets/StandardsByEntity.js
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/widgets/SecretsMostUsedAcrossDeployments.js
  ui/apps/platform/src/Containers/ConfigManagement/Entity/EntityPageHeader.js
  ui/apps/platform/src/Containers/ConfigManagement/List/List.js
  ui/apps/platform/src/Containers/ConfigManagement/List/ListFrontendPaginated.js
  ui/apps/platform/src/Containers/ConfigManagement/List/Page.js
  ui/apps/platform/src/Containers/ConfigManagement/SidePanel/BreadCrumbs.js
  ui/apps/platform/src/Containers/ConfigManagement/SidePanel/SidePanel.js
  ui/apps/platform/src/Containers/Login/LoginPage.js
  ui/apps/platform/src/Containers/Network/Graph/Overlays/GraphLoader.tsx
  ui/apps/platform/src/Containers/Network/SidePanel/CIDRForm/CIDRPanel.js
  ui/apps/platform/src/Containers/Network/SidePanel/Creator/Creator.tsx
  ui/apps/platform/src/Containers/Network/SidePanel/NetworkDeploymentOverlay/Flows/NetworkBaselines/NetworkBaselines.js
  ui/apps/platform/src/Containers/Network/SidePanel/Simulator/Simulator.tsx
  ui/apps/platform/src/Containers/Risk/RiskDetails.js
  ui/apps/platform/src/Containers/Risk/RiskSidePanel.js
  ui/apps/platform/src/Containers/Risk/RiskTablePanel.js
  ui/apps/platform/src/Containers/Risk/SecurityContext.js
  ui/apps/platform/src/Containers/VulnMgmt/Components/ScanDataMessage.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Dashboard/CvesMenu.js
  ui/apps/platform/src/Containers/Workflow/WorkflowEntityPageLayout.js
  ui/apps/platform/src/Containers/Workflow/WorkflowListPageLayout.js
  ui/apps/platform/src/utils/workflowUtils.test.ts
  ui/apps/platform/src/utils/workflowUtils.ts
Labels: area/ui

#5998 Use blobstore for scanner definitions
  central/blob/datastore/store/store.go
  central/blob/datastore/store/store_test.go
  central/blob/snapshot/snapshot.go
  central/blob/snapshot/snapshot_test.go
  central/scannerdefinitions/handler/handler.go
  central/scannerdefinitions/handler/handler_test.go
  central/scannerdefinitions/handler/options.go
  central/scannerdefinitions/handler/scanner_definition.go
  central/scannerdefinitions/handler/singleton.go
  central/scannerdefinitions/handler/updater_test.go
Labels: area/central

#6057 Workflow CVEs: Updating severity count labels
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/SeverityCountLabels.tsx
Labels: area/ui

#6086 CI: Store test metrics
  scripts/ci/lib.sh
Labels: area/ci

#6095 ROX-17001: Simplify unreliable selector in Vulnerability Management integration tests
  ui/apps/platform/cypress/helpers/vulnmanagement/entities.js
Labels: area/ui

#6092 ROX-15893: Fix "Verify network policy generator" Network Flow flake
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Labels: team/maple

#6063 ROX-17039: Sensor retries gRPC connection when failed
  sensor/common/centralclient/grpc_connection.go
  sensor/common/sensor/sensor.go
  sensor/debugger/central/grpc_client.go
Labels: team/maple, area/sensor

#6068 ROX-17183: Migrate persistent data #1 - scanner definition
  migrator/migrations/m_180_to_m_181_move_to_blobstore/migration.go
  migrator/migrations/m_180_to_m_181_move_to_blobstore/migration_test.go
  migrator/migrations/m_180_to_m_181_move_to_blobstore/schema/blobs.go
  migrator/migrations/m_180_to_m_181_move_to_blobstore/schema/convert_blobs.go
  migrator/migrations/m_180_to_m_181_move_to_blobstore/schema/convert_blobs_test.go
  migrator/migrations/m_180_to_m_181_move_to_blobstore/schema/gen.go
  migrator/runner/all.go
  pkg/migrations/internal/seq_num.go
  pkg/postgres/gorm/largeobject/large_objects.go
  pkg/postgres/gorm/largeobject/large_objects_test.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/central, area/postgres

#6081 Dashrews/ROX-17232 bench network baseline init
  central/networkbaseline/datastore/datastore_impl.go
  central/networkbaseline/manager/manager_impl_bench_test.go
  central/networkgraph/config/datastore/datastore_impl.go
  central/networkgraph/entity/datastore/datastore_impl.go
  central/networkpolicies/datastore/datastore.go
Labels: area/central

#6066 ROX-17163: bump GHA CI images to a version with Go 1.19.9 for 3.74.x
  .github/workflows/build.yaml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
  .golangci.yml
  .openshift-ci/Dockerfile.build_root
  .openshift-ci/build/Dockerfile.build-central-db-bundle
  .openshift-ci/build/Dockerfile.build-main-and-bundle
  .openshift-ci/build/Dockerfile.build-operator-artifacts
  BUILD_IMAGE_VERSION
  EXPECTED_GO_VERSION
  go.mod
  qa-tests-backend/local-test-example/step1-setup-macos.sh
  scale/signatures/deploy.yaml
  tests/e2e/run-e2e-tests.sh
  tools/linters/go.mod
  tools/test/go.mod
Labels: area/roxctl, area/auth, area/central, area/helm, area/operator, area/sensor

#6091 ROX-17019: Reduce node-scanning container memory limit to 500 Mi
  image/templates/helm/stackrox-secured-cluster/internal/defaults/40-resources.yaml
  image/templates/helm/stackrox-secured-cluster/values-public.yaml.example
Labels: team/maple, area/helm

#6078 Add CVE summary and score versions to workload cve list
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/sortUtils.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/sortUtils.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#6116 CI: Allow quoted newlines in results
  scripts/ci/lib.sh
Labels: area/ci

#6118 [ROX-17254] Workaround for vulnerability management 2.0 due to the fanned BFS search issue
  central/graphql/resolvers/image_cve_core.go
  central/views/imagecve/db_response.go
  central/views/imagecve/mocks/types.go
  central/views/imagecve/types.go
  central/views/imagecve/view_impl.go
  central/views/imagecve/view_test.go
  pkg/search/postgres/common.go
Labels: area/central, area/postgres, epic/vm2.0/workload-cves

#6130 Use search for network policies instead of walks (#6079)
  central/networkpolicies/datastore/datastore_impl.go
  central/networkpolicies/datastore/datastore_impl_test.go
  central/networkpolicies/datastore/internal/store/bolt/store_impl.go
  central/networkpolicies/datastore/internal/store/mocks/store.go
  central/networkpolicies/datastore/internal/store/store.go
  scale/workloads/10-sensors.yaml
Labels: area/central

#6117 ROX-17275: Replace classic Cluster Health widget with PatternFly cards in System Health
  ui/apps/platform/cypress/constants/SystemHealth.js
  ui/apps/platform/cypress/integration/systemHealth/clusters.test.js
  ui/apps/platform/src/Containers/SystemHealth/ClustersHealth/ClusterStatusCard.tsx
  ui/apps/platform/src/Containers/SystemHealth/ClustersHealth/ClustersHealth.utils.ts
  ui/apps/platform/src/Containers/SystemHealth/ClustersHealth/ClustersHealthCardHeader.tsx
  ui/apps/platform/src/Containers/SystemHealth/ClustersHealth/ClustersHealthCards.tsx
  ui/apps/platform/src/Containers/SystemHealth/ClustersHealth/ClustersHealthTable.tsx
  ui/apps/platform/src/Containers/SystemHealth/ClustersHealth/CredentialExpirationCard.tsx
  ui/apps/platform/src/Containers/SystemHealth/ClustersHealth/SensorUpgradeCard.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/AdmissionControlStatus.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/CategoryOverview.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/ClusterHealth.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/ClusterOverview.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/CollectorStatus.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/CredentialExpiration.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/SensorStatus.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/SensorUpgrade.tsx
  ui/apps/platform/src/Containers/SystemHealth/DashboardPage.js
  ui/apps/platform/src/Containers/SystemHealth/utils/clusters.ts
Labels: area/ui

#6144 bump Scanner version
  SCANNER_VERSION
Labels: ci-all-qa-tests, area/scanner

#6145 bump Scanner version
  SCANNER_VERSION
Labels: ci-all-qa-tests, area/scanner

#6108 Bump openshift/api dependency for #6050
  go.mod
  go.sum
Labels: ci-all-qa-tests

#6146 bump Scanner version
  SCANNER_VERSION
Labels: ci-all-qa-tests, area/scanner

#6069 ROX-16867: Add notifier transformer
  pkg/declarativeconfig/transform/auth_provider.go
  pkg/declarativeconfig/transform/auth_provider_test.go
  pkg/declarativeconfig/transform/notifier.go
  pkg/declarativeconfig/transform/notifier_test.go
  pkg/declarativeconfig/transform/transformer.go
Labels: area/central

#6151 Fix flag description
  roxctl/common/flags/endpoint.go
Labels: area/roxctl

#6126 Show integration name instead of integration type as the page header
  ui/apps/platform/src/Containers/Integrations/CreateIntegrationPage.tsx
  ui/apps/platform/src/Containers/Integrations/EditIntegrationPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationDetailsPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationPage.tsx
Labels: area/ui

#6141 Display 404 instead of error in cases of invalid deployment id
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageHeader.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#6129 ROX-16871: adjust UI for declarative notifiers
  ui/apps/platform/src/Containers/Integrations/IntegrationDetailsPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/IntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsTable.tsx
  ui/apps/platform/src/Containers/Integrations/utils/integrationUtils.ts
  ui/apps/platform/src/Containers/Integrations/utils/tableColumnDescriptor.ts
  ui/apps/platform/src/services/NotifierIntegrationsService.ts
  ui/apps/platform/src/types/notifier.proto.ts
Labels: area/ui

#6156 Delete ID fields in Workload CVE gql queries to avoid cache normalization
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/table.utils.ts
Labels: area/ui, epic/vm2.0/workload-cves

#5954 ROX-16742: consistent network policy graph between scoping
  ui/apps/platform/cypress/helpers/networkGraphPF.js
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/services/NetworkService.js
Labels: area/ui, epic/network-graph-4.1

#6147 Scanner team owns SCANNER_VERSION
  .github/CODEOWNERS
Labels: area/scanner, area/ci

#6166 ROX-15321: remove frequently violated policies from VM dashboard
  tests/performance/groups/vulnerabilityManagementDashboard.js
  ui/apps/platform/cypress/helpers/vulnmanagement/entities.js
  ui/apps/platform/cypress/integration/vulnmanagement/dashboard.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/dashboardToEntityPage.test.js
  ui/apps/platform/src/Containers/VulnMgmt/Dashboard/VulnMgmtDashboardPage.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/FrequentlyViolatedPolicies.js
Labels: area/ui

#6155 ROX-15458: Implement the back-channel from Central to Sensor for Node-Inventories
  central/sensor/service/pipeline/nodeinventory/pipeline.go
  central/sensor/service/pipeline/nodeinventory/pipeline_test.go
  generated/internalapi/central/sensor_iservice.pb.go
  proto/internalapi/central/sensor_iservice.proto
  sensor/common/compliance/node_inventory_handler_impl.go
Labels: team/maple, area/central, area/sensor

#5966 Dashrews/ROX-16779 rollback to central active
  migrator/README.md
  migrator/clone/clone_test.go
  migrator/clone/metadata/db_clone_impl.go
  migrator/clone/mock_central.go
  migrator/clone/postgres/db_clone_manager_impl.go
  migrator/clone/postgres/db_clone_manager_impl_test.go
  pkg/migrations/testutils/utils.go
Labels: area/central, area/postgres

#6106 Add various minor Workload CVE fixes
  ui/apps/platform/src/Components/PatternFly/FixabilityIcons.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/SummaryCards/CvesByStatusSummaryCard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/FilterAutocomplete.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/FilterResourceDropdown.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/FixedByVersionTd.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageDetailBadges.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#6093 Scope workload CVE queries to correct VulnerabilityState
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/riskAcceptanceFlow.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CveStatusTabNavigation.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/searchUtils.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#6113 Delete occurrences of Tailwind font-condensed and part 2 for uppercase
  ui/apps/platform/cypress/constants/NetworkPage.js
  ui/apps/platform/src/Components/DashboardMenu/DashboardMenu.js
  ui/apps/platform/src/Components/Menu.tsx
  ui/apps/platform/src/Components/RadioButtonGroup/RadioButtonGroup.tsx
  ui/apps/platform/src/Components/TileContent/TileContent.tsx
  ui/apps/platform/src/Components/visuals/SunburstDetailSection.js
  ui/apps/platform/src/Components/workflow/EntitiesMenu/EntitiesMenu.js
  ui/apps/platform/src/Containers/Network/Graph/Overlays/Filters.tsx
  ui/apps/platform/src/Containers/Network/Graph/Overlays/NamespaceEdgeFilter.tsx
  ui/apps/platform/src/app.tw.css
  ui/apps/platform/src/css/trumps.css
  ui/apps/platform/src/index.tsx
Labels: area/ui

#6084 Add Get, Update, Count and Delete endpoints for new ReportConfig API
  central/reportconfigurations/service/v2/service_impl.go
  central/reportconfigurations/service/v2/service_impl_test.go
  generated/api/v2/common.pb.go
  generated/api/v2/pagination.pb.go
  generated/api/v2/report_configuration_service.pb.go
  generated/api/v2/report_configuration_service.pb.gw.go
  generated/api/v2/search_query.pb.go
  pkg/search/paginated/paginated.go
  proto/api/v2/common.proto
  proto/api/v2/pagination.proto
  proto/api/v2/report_configuration_service.proto
  proto/api/v2/search_query.proto
Labels: area/central

#6136 Remove Observed/Deferred/FP status tabs on Workload CVE pages.
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CveStatusTabNavigation.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/searchUtils.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#6181 ROX-17283: Filter compliance information according to hideScanResults property
  ui/apps/platform/src/Containers/Compliance/Dashboard/ComplianceDashboardPage.tsx
  ui/apps/platform/src/Containers/Compliance/Dashboard/ManageStandardsModal.tsx
  ui/apps/platform/src/Containers/Compliance/widgets/ComplianceByStandards.tsx
  ui/apps/platform/src/services/ComplianceService.ts
Labels: area/ui

#5509 Clarify instructions to install operator via OLM
  operator/README.md
Labels: area/operator

#5978 Rox 16979
  central/compliance/datastore/datastore.go
  central/compliance/datastore/datastore_impl.go
  central/compliance/datastore/internal/store/mocks/store.go
  central/compliance/datastore/internal/store/postgres/compliance_config/gen.go
  central/compliance/datastore/internal/store/postgres/compliance_config/store.go
  central/compliance/datastore/internal/store/postgres/compliance_config/store_test.go
  central/compliance/datastore/internal/store/postgres/store.go
  central/compliance/datastore/internal/store/rocksdb/rocksdb_store.go
  central/compliance/datastore/internal/store/store.go
  central/compliance/datastore/mocks/datastore.go
  central/compliance/service/service_impl.go
  central/complianceoperator/manager/manager.go
  central/graphql/resolvers/compliance.go
  central/graphql/resolvers/generated.go
  generated/api/v1/compliance_service.pb.go
  generated/api/v1/compliance_service.pb.gw.go
  generated/api/v1/compliance_service.swagger.json
  generated/storage/compliance_config.pb.go
  pkg/postgres/schema/compliance_configs.go
  proto/api/v1/compliance_service.proto
  proto/storage/compliance_config.proto
  tools/generate-helpers/pg-table-bindings/list.go
Labels: area/central, area/postgres

#6148 ROX-17219: CI: Process all junit for slack/BQ
  scripts/ci/lib.sh
Labels: area/operator

#5848 ROX-14398: Group Role permission with Access one
  CHANGELOG.md
  central/debug/service/service.go
  central/declarativeconfig/manager_impl.go
  central/graphql/resolvers/access_scopes.go
  central/graphql/resolvers/permission_sets.go
  central/graphql/resolvers/resolver.go
  central/graphql/resolvers/roles.go
  central/group/datastore/datastore_impl.go
  central/reportconfigurations/service/common/authorizer.go
  central/reports/service/service_impl.go
  central/role/datastore/datastore_impl.go
  central/role/datastore/datastore_impl_test.go
  central/role/datastore/singleton.go
  central/role/datastore/telemetry.go
  central/role/resources/list.go
  central/role/service/service_impl.go
  central/role/store/permissionset/postgres/store.go
  central/role/store/role/postgres/store.go
  central/role/store/simpleaccessscope/postgres/store.go
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
  tools/generate-helpers/pg-table-bindings/list.go
Labels: area/central, area/postgres

#6159 Swap to running Kill from shell for restartPodByLabelWithExecKill
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
Labels: ci-all-qa-tests

#6179 3.73: bump collector to 3.12.4
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#5849 ROX-14398: Group Role resource with Access - UI part
  central/compliance/datastore/internal/store/postgres/compliance_config/store_test.go
  ui/apps/platform/cypress/fixtures/auth/declarativePermissionSet.json
  ui/apps/platform/cypress/fixtures/auth/mypermissionsMinimalAccess.json
  ui/apps/platform/cypress/fixtures/auth/mypermissionsNoAccess.json
  ui/apps/platform/src/Containers/AccessControl/AccessControl.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessControlNoPermission.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopeFormWrapper.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopes.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopesList.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviders.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionSetForm.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionSets.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionSetsList.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/ResourceDescription.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/RoleForm.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/Roles.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/RolesList.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportForm.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportTablePage.tsx
  ui/apps/platform/src/constants/accessControl.ts
  ui/apps/platform/src/types/roleResources.ts
Labels: area/central, area/ui

#6183 ROX-17226: Add option to disable offline_access to UI
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/ConfigurationFormFields.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/authProviders.utils.ts
Labels: area/ui

#5853 Prefactor: Extract logger interface
  pkg/auth/user/util.go
  pkg/grpc/errors/interceptor_test.go
  pkg/grpc/logging/logging.go
  pkg/logging/internal/internal_test.go
  pkg/logging/logger.go
  pkg/logging/logger_test.go
  pkg/logging/logging.go
  pkg/logging/module.go
  pkg/logging/module_test.go
  pkg/logging/rate_limited_logger.go
  pkg/postgres/postgres.go
  pkg/probeupload/server_handler.go
  pkg/telemetry/phonehome/segment/segment.go
Labels: area/auth, area/postgres

#5851 ROX-14398: Remove "Scope Manager" default Role and PermissionSet
  CHANGELOG.md
  central/role/datastore/permissionset_ids.go
  central/role/datastore/singleton.go
  migrator/migrations/m_181_to_m_182_group_role_permission_with_access_one/migration_impl.go
  migrator/migrations/m_182_to_m_183_remove_default_scope_manager_role/apitokenstore/postgres_plugin.go
  migrator/migrations/m_182_to_m_183_remove_default_scope_manager_role/groupstore/postgres_plugin.go
  migrator/migrations/m_182_to_m_183_remove_default_scope_manager_role/migration.go
  migrator/migrations/m_182_to_m_183_remove_default_scope_manager_role/migration_impl.go
  migrator/migrations/m_182_to_m_183_remove_default_scope_manager_role/migration_test.go
  migrator/migrations/m_182_to_m_183_remove_default_scope_manager_role/permissionsetstore/postgres_plugin.go
  migrator/migrations/m_182_to_m_183_remove_default_scope_manager_role/rolestore/postgres_plugin.go
  migrator/migrations/m_182_to_m_183_remove_default_scope_manager_role/schema/api_tokens.go
  migrator/migrations/m_182_to_m_183_remove_default_scope_manager_role/schema/groups.go
  migrator/migrations/m_182_to_m_183_remove_default_scope_manager_role/schema/permission_sets.go
  migrator/migrations/m_182_to_m_183_remove_default_scope_manager_role/schema/roles.go
  migrator/runner/all.go
  pkg/defaults/accesscontrol/permission_set.go
  pkg/defaults/accesscontrol/role.go
  pkg/migrations/internal/seq_num.go
Labels: area/central

#6187 ROX-17297: Remove specific counts from assertions for Configuration Management integration tests
  ui/apps/platform/cypress/integration/configmanagement/ConfigurationManagement.helpers.js
Labels: area/ui

#6185 CI: Remove postgres CI duplicates
  .openshift-ci/ci_tests.py
  qa-tests-backend/src/test/groovy/GlobalSearch.groovy
  scripts/ci/jobs/gke_postgres_nongroovy_e2e_tests.py
  scripts/ci/jobs/gke_postgres_qa_e2e_tests.py
  scripts/ci/jobs/gke_postgres_scale_tests.py
  scripts/ci/jobs/gke_postgres_ui_e2e_tests.py
  scripts/ci/jobs/gke_postgres_upgrade_tests.py
  scripts/ci/jobs/gke_scale_tests.py
  scripts/ci/jobs/gke_upgrade_tests.py
  tests/upgrade/postgres_sensor_run.sh
  tests/upgrade/run.sh
Labels: area/ci

#6203 Bump react-user-feedback to latest verions, 1.1.2
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#6177 ROX-15458: Forward Node-Scanning-ACKs from Central to Compliance
  compliance/collection/main.go
  generated/internalapi/sensor/compliance_iservice.pb.go
  proto/internalapi/sensor/compliance_iservice.proto
  sensor/common/compliance/multiplexer.go
  sensor/common/compliance/node_inventory_handler.go
  sensor/common/compliance/node_inventory_handler_impl.go
Labels: team/maple, area/sensor

#5999 ROX-17011: Refactor compliance to enable local-compliance
  Makefile
  compliance/collection/compliance/checks_bench_test.go
  compliance/collection/compliance/compliance.go
  compliance/collection/compliance/compliance_checks.go
  compliance/collection/compliance/compliance_checks_test.go
  compliance/collection/compliance/compress.go
  compliance/collection/compliance/interfaces.go
  compliance/collection/compliance/node_name.go
  compliance/collection/compliance/node_scanner.go
  compliance/collection/compliance/sensor_reply_handler.go
  compliance/collection/intervals/intervals.go
  compliance/collection/main.go
  sensor/common/compliance/node_inventory_handler_impl.go
  sensor/common/compliance/service_impl.go
  tools/local-compliance/README.md
  tools/local-compliance/load_generating_node_scanner.go
  tools/local-compliance/main.go
  tools/local-compliance/scripts/local-compliance.sh
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: team/maple, area/sensor

#6193 3.74: bump collector version
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#6208 Set merlin team ownership on declarative config
  .github/CODEOWNERS
Labels: area/ci

#6037 ROX-17200, ROX-17201: Send namespace and namespace labels for syslog alert notifications
  central/notifiers/all/all.go
  central/notifiers/metadatagetter/datastore_impl.go
  central/notifiers/metadatagetter/datastore_impl_test.go
  central/notifiers/syslog/syslog.go
  pkg/features/list.go
  pkg/notifiers/metadata_getter.go
  pkg/notifiers/mocks/metadata_getter.go
  pkg/notifiers/syslog/syslog.go
  pkg/notifiers/syslog/syslog_test.go
  tests/e2e/lib.sh
Labels: area/central, area/sensor, area/admission-controller

#6205 Delete unneeded Tailwind font weight (part 2)
  ui/apps/platform/src/Components/RelatedEntityListCount.js
  ui/apps/platform/src/Components/visuals/SunburstDetailSection.js
  ui/apps/platform/src/Containers/BreadCrumbs/EntityBreadCrumb.js
  ui/apps/platform/src/Containers/BreadCrumbs/EntityBreadCrumbs.js
  ui/apps/platform/src/Containers/Compliance/widgets/ComplianceByStandard.js
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/widgets/ComplianceByControls.js
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/widgets/PolicyViolationsBySeverity.js
  ui/apps/platform/src/Containers/ConfigManagement/SidePanel/BreadCrumbs.js
  ui/apps/platform/src/Containers/ConfigManagement/SidePanel/SidePanel.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Policy/VulnMgmtPolicyOverview.js
  ui/apps/platform/src/app.tw.css
Labels: area/ui
