Repository stackrox/stackrox, pull requests merged in 2023-07, with the labels that each got.

#6748 ROX-17895: Don't write the inner channels if the component is stopped
  sensor/kubernetes/eventpipeline/output/output.go
  sensor/kubernetes/eventpipeline/output/output_impl.go
  sensor/kubernetes/eventpipeline/resolver/resolver.go
  sensor/kubernetes/eventpipeline/resolver/resolver_impl.go
Labels: team/maple, area/sensor

#6180 refactor(operator): extract yamls to files
  pkg/helm/charts/tests/centralservices/base_suite_test.go
  pkg/helm/charts/tests/centralservices/testdata/all-values-explicit.yaml
  pkg/helm/charts/tests/centralservices/testdata/autogenerate-all.yaml
  pkg/helm/charts/tests/securedclusterservices/base_suite_test.go
  pkg/helm/charts/tests/securedclusterservices/testdata/all-values-explicit.yaml
Labels: area/helm, area/operator

#6757 [ROX-18100] Auto sense compliance operator
  central/sensor/service/common/common.go
  central/sensor/service/pipeline/all/factory.go
  central/sensor/service/pipeline/complianceoperator/complianceoperatorinfo/pipeline.go
  generated/internalapi/central/compliance_operator.pb.go
  generated/internalapi/central/sensor_iservice.pb.go
  go.mod
  go.sum
  pkg/complianceoperator/const.go
  pkg/complianceoperator/gvk.go
  pkg/metrics/resource_string.go
  pkg/metrics/resources.go
  proto/internalapi/central/compliance_operator.proto
  proto/internalapi/central/sensor_iservice.proto
  sensor/kubernetes/complianceoperator/updater.go
  sensor/kubernetes/complianceoperator/updater_test.go
  sensor/kubernetes/sensor/sensor.go
Labels: area/central, area/sensor, epic/compliance-2.0/mvp

#6718 ROX-18173: Authenticate 'v1/metadata'
  central/metadata/service/service_impl.go
  sensor/common/centralclient/client.go
  sensor/common/centralclient/client_test.go
  sensor/common/centralclient/grpc_connection.go
Labels: area/central, area/sensor

#6744 ROX-18148: Fix data race
  sensor/kubernetes/listener/resources/deployment_store.go
  sensor/kubernetes/listener/resources/pod_store.go
  sensor/tests/connection/connection_test.go
  sensor/tests/connection/k8sreconciliation/reconcile_test.go
  sensor/tests/helper/helper.go
  sensor/tests/replay/alerts/replay_alerts_test.go
  sensor/tests/replay/resources/replay_resources_test.go
Labels: ci-all-qa-tests, team/maple, area/sensor

#6784 ROX-18209: Delete Network Graph 1.0 dependencies except tippy
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#6805 ROX-18173: Revert "ROX-18173: Authenticate 'v1/metadata' (#6718)"
  central/metadata/service/service_impl.go
  sensor/common/centralclient/client.go
  sensor/common/centralclient/client_test.go
  sensor/common/centralclient/grpc_connection.go
Labels: area/central, area/sensor

#6667 ROX-17224: TLS configurer
  central/main.go
  compliance/collection/compliance/node_scanner.go
  pkg/metrics/server.go
  pkg/metrics/server_test.go
  pkg/metrics/tls.go
  sensor/kubernetes/main.go
  tools/local-sensor/main.go
Labels: area/central, area/sensor

#6693 fix: default telemetry settings for helm `values.yaml`
  image/templates/helm/stackrox-central/templates/NOTES.txt.htpl
  image/templates/helm/stackrox-central/values.yaml.htpl
  pkg/helm/charts/meta.go
  pkg/renderer/render_new.go
Labels: area/roxctl, area/central, area/helm, area/operator

#6542 ROX-17683: Enable telemetry by default for release operator versions
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  image/templates/helm/stackrox-central/templates/NOTES.txt.htpl
  image/templates/helm/stackrox-central/values.yaml.htpl
  operator/apis/platform/v1alpha1/central_types.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/pkg/central/values/translation/translation.go
  operator/pkg/central/values/translation/translation_test.go
  operator/tests/common/central-cr.yaml
  pkg/helm/charts/meta.go
  pkg/renderer/render_new.go
Labels: area/helm, area/operator

#6501 ROX-17713: Disable telemetry in our ci runs
  deploy/common/ci-values.yaml
  deploy/common/k8sbased.sh
  deploy/common/local-dev-values.yaml
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  image/templates/helm/stackrox-central/templates/NOTES.txt.htpl
  image/templates/helm/stackrox-central/values.yaml.htpl
  operator/apis/platform/v1alpha1/central_types.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/pkg/central/values/translation/translation.go
  operator/pkg/central/values/translation/translation_test.go
  operator/tests/common/central-cr.yaml
  pkg/helm/charts/meta.go
  pkg/renderer/render_new.go
  tests/e2e/lib.sh
Labels: area/helm, area/operator

#6453 ROX-17683: Enable telemetry by default in roxctl
  central/telemetry/centralclient/instance_config.go
  deploy/common/ci-values.yaml
  deploy/common/k8sbased.sh
  deploy/common/local-dev-values.yaml
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  image/templates/helm/stackrox-central/templates/NOTES.txt.htpl
  image/templates/helm/stackrox-central/values.yaml.htpl
  operator/apis/platform/v1alpha1/central_types.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/pkg/central/values/translation/translation.go
  operator/pkg/central/values/translation/translation_test.go
  operator/tests/common/central-cr.yaml
  pkg/buildinfo/buildinfo.go
  pkg/buildinfo/buildinfo_intest.go
  pkg/buildinfo/buildinfo_notest.go
  pkg/env/telemetry.go
  pkg/helm/charts/meta.go
  pkg/renderer/render_new.go
  pkg/version/version.go
  pkg/version/version_test.go
  roxctl/central/generate/generate.go
  roxctl/central/generate/generate_test.go
  roxctl/central/generate/k8s.go
  tests/e2e/lib.sh
Labels: area/roxctl, area/central, area/helm, area/operator

#6792 ROX-16828: Add "generated" label to build-time generated netpols
  roxctl/generate/netpol/cta.go
  tests/roxctl/bats-tests/local/roxctl-netpol-generate-development.bats
  tests/roxctl/bats-tests/local/roxctl-netpol-generate-release.bats
Labels: ok-to-test, external-contributor

#6420 ROX-17682, ROX-17684: Download telemetry key
  CHANGELOG.md
  central/telemetry/centralclient/instance_config.go
  central/telemetry/centralclient/instance_config_test.go
  deploy/common/ci-values.yaml
  deploy/common/k8sbased.sh
  deploy/common/local-dev-values.yaml
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  image/templates/helm/stackrox-central/templates/NOTES.txt.htpl
  image/templates/helm/stackrox-central/values.yaml.htpl
  operator/apis/platform/v1alpha1/central_types.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/pkg/central/values/translation/translation.go
  operator/pkg/central/values/translation/translation_test.go
  operator/tests/common/central-cr.yaml
  pkg/buildinfo/buildinfo.go
  pkg/buildinfo/buildinfo_intest.go
  pkg/buildinfo/buildinfo_notest.go
  pkg/env/telemetry.go
  pkg/helm/charts/meta.go
  pkg/renderer/render_new.go
  pkg/version/version.go
  pkg/version/version_test.go
  roxctl/central/generate/generate.go
  roxctl/central/generate/generate_test.go
  roxctl/central/generate/k8s.go
  tests/e2e/lib.sh
Labels: area/roxctl, area/central, area/helm, area/operator

#6811 refactor: telemetry storage key management
  central/telemetry/centralclient/instance_config.go
  operator/pkg/central/values/translation/translation.go
  operator/pkg/central/values/translation/translation_test.go
  pkg/telemetry/phonehome/key_management.go
  pkg/telemetry/phonehome/key_management_test.go
  roxctl/central/generate/generate.go
  roxctl/central/generate/generate_test.go
Labels: area/roxctl, area/central, area/operator

#6650 added download repo2cpe
  .github/workflows/repo2cpe-download.yaml
Labels: area/ci

#6798 ROX-18200: Handle error object when networkpolicy request fails
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkPolicies.tsx
  ui/apps/platform/src/hooks/useFetchNetworkPolicies.ts
Labels: area/ui

#6782 ROX-18162: Delete Network Graph 1.0 reducers and sagas
  ui/apps/platform/cypress/integration/networkGraphPF/networkGraph.helpers.js
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/Header/MastheadToolbar.tsx
  ui/apps/platform/src/Containers/MainPage/Header/OrchestratorComponentsToggle.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/SimulateNetworkPolicyButton.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/networkGraphURLUtils.ts
  ui/apps/platform/src/constants/useCaseTypes.js
  ui/apps/platform/src/messages/useCase.js
  ui/apps/platform/src/reducers/clusters.js
  ui/apps/platform/src/reducers/index.js
  ui/apps/platform/src/reducers/network/backend.js
  ui/apps/platform/src/reducers/network/baselineSimulation.ts
  ui/apps/platform/src/reducers/network/dialogue.js
  ui/apps/platform/src/reducers/network/graph.js
  ui/apps/platform/src/reducers/network/page.js
  ui/apps/platform/src/reducers/network/reducer.js
  ui/apps/platform/src/reducers/network/search.js
  ui/apps/platform/src/reducers/network/sidepanel.js
  ui/apps/platform/src/reducers/pageSearch.ts
  ui/apps/platform/src/routePaths.js
  ui/apps/platform/src/sagas/clusterSagas.js
  ui/apps/platform/src/sagas/index.js
  ui/apps/platform/src/sagas/integrationSagas.js
  ui/apps/platform/src/sagas/networkSagas.js
  ui/apps/platform/src/sagas/searchAutocompleteSagas.js
  ui/apps/platform/src/services/ClustersService.ts
  ui/apps/platform/src/utils/networkLink.utils.js
  ui/apps/platform/src/utils/networkNode.utils.js
Labels: area/ui

#6802 refactor(ui): Allow netpol YAML to display in UI after partial errors
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkPolicies.tsx
  ui/apps/platform/src/hooks/useFetchNetworkPolicies.ts
  ui/apps/platform/src/services/NetworkService.js
Labels: area/ui

#6779 [ROX:18152] : Add report metadata search fields to report config search options
  central/globalindex/mapping/mapping.go
  central/reportconfigurations/datastore/datastore_impl_v2_test.go
  central/reportconfigurations/store/postgres/gen.go
  pkg/postgres/schema/report_configurations.go
Labels: area/central, area/postgres, epic/vm2.0/reports

#6754 ROX-18193: Read nullable timestamp field into pointer
  central/graphql/resolvers/image_cve_core.go
  central/views/imagecve/db_response.go
  central/views/imagecve/mocks/types.go
  central/views/imagecve/types.go
  central/views/imagecve/view_test.go
  pkg/search/postgres/select_query_test.go
Labels: area/central, area/postgres

#5879 fix GHA: remove too generic UI cache
  .github/actions/cache-ui-dependencies/action.yaml
Labels: area/ci

#6679 ROX-17321: Sensor offline mode for Compliance Node Scans
  sensor/common/compliance/node_inventory_handler_impl.go
  sensor/common/compliance/node_inventory_handler_test.go
Labels: team/maple, area/sensor

#6819 ROX-18108: compliance operator integration metadata proto stores
  central/complianceoperatorintegration/store/postgres/gen.go
  central/complianceoperatorintegration/store/postgres/store.go
  central/complianceoperatorintegration/store/postgres/store_test.go
  generated/storage/compliance_integration.pb.go
  pkg/postgres/schema/compliance_integrations.go
  pkg/search/options.go
  proto/storage/compliance_integration.proto
  tools/generate-helpers/pg-table-bindings/list.go
Labels: area/central, area/postgres, epic/compliance-2.0/mvp

#6746 ROX-18089: Add UI service definition for listening_endpoints endpoint
  ui/apps/platform/src/services/ProcessListeningOnPortsService.ts
  ui/apps/platform/src/types/processIndicator.proto.ts
Labels: area/ui

#6634 ROX-18036: Pass full search scope to network graph simulator panel
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/Components/DelegatedScanningSettings.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphContainer.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/ClusterSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NamespaceSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NetworkBreadcrumbs.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NetworkSearch.tsx
  ui/apps/platform/src/Containers/NetworkGraph/hooks/useNetworkPolicySimulator.ts
  ui/apps/platform/src/Containers/NetworkGraph/hooks/useScopeHierarchy.ts
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/networkScopeHierarchy.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/hierarchyUtils.test.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/hierarchyUtils.ts
  ui/apps/platform/src/hooks/useFetchClusterNamespacesForPermissions.ts
  ui/apps/platform/src/hooks/useFetchClustersForPermissions.ts
  ui/apps/platform/src/services/NetworkService.js
  ui/apps/platform/src/services/RolesService.ts
Labels: area/ui

#6827 ROX-18211: Delete Network Graph 1.0 styles and leftover fonts
  ui/apps/platform/package.json
  ui/apps/platform/src/app.tw.css
  ui/apps/platform/src/css/style.css
  ui/apps/platform/src/fonts/Open_Sans_Regular.json
  ui/apps/platform/src/fonts/open-sans-condensed-v12-latin/open-sans-condensed-v12-latin-700.woff
  ui/apps/platform/src/fonts/open-sans-condensed-v12-latin/open-sans-condensed-v12-latin-700.woff2
  ui/apps/platform/src/fonts/open-sans-v15-latin/open-sans-v15-latin-300.woff
  ui/apps/platform/src/fonts/open-sans-v15-latin/open-sans-v15-latin-300.woff2
  ui/apps/platform/src/fonts/open-sans-v15-latin/open-sans-v15-latin-600.woff
  ui/apps/platform/src/fonts/open-sans-v15-latin/open-sans-v15-latin-600.woff2
  ui/apps/platform/src/fonts/open-sans-v15-latin/open-sans-v15-latin-700.woff
  ui/apps/platform/src/fonts/open-sans-v15-latin/open-sans-v15-latin-700.woff2
  ui/apps/platform/src/fonts/open-sans-v15-latin/open-sans-v15-latin-regular.woff
  ui/apps/platform/src/fonts/open-sans-v15-latin/open-sans-v15-latin-regular.woff2
  ui/apps/platform/src/fonts/stackrox.svg
  ui/apps/platform/src/fonts/stackrox.ttf
  ui/apps/platform/src/fonts/stackrox.woff
  ui/yarn.lock
Labels: area/ui

#6825 ROX-18212: Delete Network Graph 1.0 orphan code
  ui/apps/platform/src/Components/FormFieldRemoveButton.js
  ui/apps/platform/src/Components/SimulationFrame.tsx
  ui/apps/platform/src/Components/TableV7/Table.tsx
  ui/apps/platform/src/Components/TableV7/TableBody.tsx
  ui/apps/platform/src/Components/TableV7/TableCell.tsx
  ui/apps/platform/src/Components/TableV7/TableHead.tsx
  ui/apps/platform/src/Components/TableV7/TableRow.tsx
  ui/apps/platform/src/Components/TableV7/checkboxSelectionPlugin/IndeterminateCheckbox.tsx
  ui/apps/platform/src/Components/TableV7/checkboxSelectionPlugin/checkboxSelectionPlugin.tsx
  ui/apps/platform/src/Components/TableV7/checkboxSelectionPlugin/index.js
  ui/apps/platform/src/Components/TableV7/expanderPlugin.tsx
  ui/apps/platform/src/Components/TableV7/index.ts
  ui/apps/platform/src/Components/TableV7/tableTypes.ts
  ui/apps/platform/src/Components/TooltipCardSection/TooltipCardSection.js
  ui/apps/platform/src/Components/TooltipCardSection/index.js
  ui/apps/platform/src/constants/networkFilterModes.js
  ui/apps/platform/src/constants/networkGraph.js
  ui/apps/platform/src/hooks/useAutoCompleteResults.js
  ui/apps/platform/src/hooks/useAutoCompleteResults.test.js
  ui/apps/platform/src/hooks/useLocalStorage.ts
  ui/apps/platform/src/hooks/useSearchFilteredData.js
  ui/apps/platform/src/hooks/useSearchFilteredData.test.js
  ui/apps/platform/src/messages/network.js
  ui/apps/platform/src/utils/networkGraphUtils.js
  ui/apps/platform/src/utils/networkGraphUtils.test.constants.ts
  ui/apps/platform/src/utils/networkGraphUtils.test.js
Labels: area/ui

#6815 ROX-17687: Operator PSP recovery
  .github/workflows/unit-tests.yaml
  Makefile
  go.mod
  go.sum
  operator/Dockerfile
  operator/Makefile
  operator/config/.gitignore
  operator/main.go
  operator/pkg/central/reconciler/reconciler.go
  operator/pkg/common/extensions/mapkubeapis.go
  operator/pkg/securedcluster/reconciler/reconciler.go
  operator/tests/reconcile/mapkubeapis_test.go
  operator/tests/reconcile/reconcile_suite_test.go
Labels: area/operator, area/ci

#6756 ROX-17838: Allow viewing a selected report scope
  ui/apps/platform/src/Containers/Collections/CollectionFormModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/CollectionSelection.tsx
Labels: area/ui, epic/vm2.0/reports

#6816 ROX-18281: Telemetry - add Flavor to central properties
  central/telemetry/centralclient/instance_config.go
Labels: area/central

#6800 ROX-18208: rhacs operator upgrade failed 4.1
  operator/apis/platform/v1alpha1/securedcluster_types.go
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
Labels: area/operator

#6830 ROX-18208: Mark v4.1.0 as skipped version
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
Labels: area/operator

#6769 ROX-18155: pg generic store: GetAll
  central/authprovider/datastore/internal/store/postgres/store.go
  central/complianceoperatorintegration/store/postgres/store.go
  central/externalbackups/internal/store/postgres/store.go
  central/group/datastore/internal/store/postgres/store.go
  central/imageintegration/store/postgres/store.go
  central/logimbue/store/postgres/store.go
  central/notifier/datastore/internal/store/postgres/store.go
  central/policy/store/postgres/store.go
  central/policycategory/store/postgres/store.go
  central/policycategoryedge/store/postgres/store.go
  central/serviceidentities/internal/store/postgres/store.go
  pkg/search/postgres/store.go
  tools/generate-helpers/pg-table-bindings/store.go.tpl
  tools/generate-helpers/pg-table-bindings/test/postgres/store.go
  tools/generate-helpers/pg-table-bindings/testuuidkey/postgres/store.go
Labels: area/central, area/postgres

#6836 ROX-17687: Operator PSP recovery (#6815) 4.0.3
  .github/workflows/unit-tests.yaml
  Makefile
  go.mod
  go.sum
  operator/Dockerfile
  operator/Makefile
  operator/config/.gitignore
  operator/main.go
  operator/pkg/central/reconciler/reconciler.go
  operator/pkg/common/extensions/mapkubeapis.go
  operator/pkg/securedcluster/reconciler/reconciler.go
  operator/tests/reconcile/mapkubeapis_test.go
  operator/tests/reconcile/reconcile_suite_test.go
Labels: area/operator

#6845 ROX-17687: Operator PSP recovery (#6815)
  Makefile
  go.mod
  go.sum
  operator/Dockerfile
  operator/Makefile
  operator/config/.gitignore
  operator/main.go
  operator/pkg/central/reconciler/reconciler.go
  operator/pkg/common/extensions/mapkubeapis.go
  operator/pkg/securedcluster/reconciler/reconciler.go
  operator/tests/reconcile/mapkubeapis_test.go
  operator/tests/reconcile/reconcile_suite_test.go
Labels: area/operator

#6780 ROX-17953: Use live data for listening endpoints table
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsPage.test.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsPage.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsTable.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/hooks/useDeploymentListeningEndpoints.tsx
Labels: area/ui

#6781 ROX-17952: Add ability to lazy load listening endpoints
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsPage.test.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsPage.tsx
Labels: area/ui

#6853 ROX-18148: skip reconciliation test on release builds
  sensor/tests/connection/k8sreconciliation/reconcile_test.go
Labels: team/maple, area/sensor

#6829 ROX-18310: Add separate CI job specifically for Compliance e2e testing
  .openshift-ci/ci_tests.py
  scripts/ci/jobs/ocp_compliance_e2e_tests.py
  scripts/style/shellcheck_skip.txt
  tests/Makefile
  tests/e2e/run-compliance-e2e.sh
Labels: area/ci, epic/compliance-2.0/mvp

#6835 chore(ui): Delete ROX_NETPOL_FIELDS feature flag in ui
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#6660 refactor(image): Remove envsubst calls from builds
  Makefile
  image/postgres/Dockerfile
  image/rhel/Dockerfile
Labels: area/helm, area/postgres

#6822 ROX-18287: compliance metadata api
  generated/api/v2/compliance_integration_service.pb.go
  generated/api/v2/compliance_integration_service.pb.gw.go
  proto/api/v2/compliance_integration_service.proto
Labels: epic/compliance-2.0/mvp

#6797 ROX-18208: rhacs operator upgrade failed 4.1
  operator/apis/platform/v1alpha1/securedcluster_types.go
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
Labels: area/operator

#6808 chore(ui): Move helpers and selectors into vulnmanagement test folder
  ui/apps/platform/cypress/constants/VulnManagementPage.js
  ui/apps/platform/cypress/helpers/nav.js
  ui/apps/platform/cypress/integration/vulnmanagement/VulnerabilityManagement.helpers.js
  ui/apps/platform/cypress/integration/vulnmanagement/VulnerabilityManagement.selectors.js
  ui/apps/platform/cypress/integration/vulnmanagement/clusterCves.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/clusters.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/dashboard.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/dashboardToEntityPage.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/deployments.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/entitypages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/imageComponents.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/imageCves.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/imageSection/imageOverview.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/images.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/namespaces.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/nodeComponents.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/nodeCves.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/nodeSection/nodeOverview.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/nodes.test.js
Labels: area/ui

#6855 chore(ui): Delete ROX_DECLARATIVE_CONFIGURATION in ci and ui
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#6860 chore(ui): Update browserslist to Chrome 80 in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#6876 Revert "ROX-17687: Operator PSP recovery (#6815) (#6845)"
  Makefile
  go.mod
  go.sum
  operator/Dockerfile
  operator/Makefile
  operator/config/.gitignore
  operator/main.go
  operator/pkg/central/reconciler/reconciler.go
  operator/pkg/common/extensions/mapkubeapis.go
  operator/pkg/securedcluster/reconciler/reconciler.go
  operator/tests/reconcile/mapkubeapis_test.go
  operator/tests/reconcile/reconcile_suite_test.go
Labels: area/operator

#6871 ROX-18340: Stop asserting stackrox-db PVC in operator upgrade test
  operator/tests/common/upgrade-assert.envsubst.yaml
  operator/tests/upgrade/upgrade/20-upgrade-operator.yaml
Labels: area/operator

#6837 ROX-18318: Add general filters to network policy simulation API call
  ui/apps/platform/src/Containers/NetworkGraph/hooks/useNetworkPolicySimulator.ts
Labels: area/ui

#6879 chore(ui): Delete ROX_CLAIR_V4_SCANNING in ui
  ui/apps/platform/src/Containers/Integrations/utils/integrationsList.ts
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#6839 ROX-11227: Add X-Frame-Options header to UI request
  central/ui/mux.go
Labels: area/central

#6652 ROX-18045: Remove Splunk panic handler unit test
  central/splunk/violations_test.go
Labels: area/central

#6848 ROX-18192: Fix sensor reconcile tests
  qa-tests-backend/src/test/groovy/ReconciliationTest.groovy
Labels: ci-all-qa-tests, area/sensor

#6874 chore(ui): Delete normalizr from saveCluster and dependencies in ui
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/Clusters/ClustersSidePanel.tsx
  ui/apps/platform/src/services/ClustersService.ts
  ui/apps/platform/src/services/schemas.js
  ui/yarn.lock
Labels: area/ui

#6898 ROX-18372: Delete Network Graph PatternFly feature flag
  pkg/features/list.go
  tests/e2e/bats/fixtures/test-pod-without-oomkilled_object.json
  tests/e2e/lib.sh
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#6901 chore(e2e): Update cypress 12.17.1 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#6831 ROX-17323: Introduce Offline awareness to Audit Log Manager
  sensor/common/compliance/auditlog_manager.go
  sensor/common/compliance/auditlog_manager_impl.go
  sensor/common/compliance/auditlog_manager_test.go
Labels: team/maple, area/sensor

#6873 refactor(ui): Increase type safety of DeploymentDetails tab
  ui/apps/platform/cypress/fixtures/alerts/deploymentForAlertFirstInAlerts.json
  ui/apps/platform/cypress/fixtures/alerts/deploymentWithEmptyContainerConfig.json
  ui/apps/platform/src/Containers/Violations/Details/Deployment/ContainerConfiguration.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/DeploymentOverview.tsx
  ui/apps/platform/src/Containers/Violations/Details/DeploymentDetails.tsx
  ui/apps/platform/src/Containers/Violations/Details/Enforcement/Header.tsx
  ui/apps/platform/src/Containers/Violations/Details/EnforcementDetails.tsx
  ui/apps/platform/src/Containers/Violations/Details/ViolationDetailsPage.tsx
  ui/apps/platform/src/services/NetworkService.js
Labels: area/ui

#6801 feat(ui): Increase classic base font size to 14px in UI
  ui/apps/platform/cypress/integration/configmanagement/ConfigurationManagement.selectors.js
  ui/apps/platform/src/Components/CollapsibleSection/CollapsibleSection.js
  ui/apps/platform/src/Components/GroupedTabs.js
  ui/apps/platform/src/Components/TileContent/TileContent.tsx
  ui/apps/platform/src/Components/ToggleSwitch/ToggleSwitch.js
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/Header/RBACMenu.js
  ui/apps/platform/src/Containers/ConfigManagement/Entity/EntityTabs.js
  ui/apps/platform/src/app.tw.css
  ui/apps/platform/src/css/trumps.css
  ui/apps/platform/src/utils/entityRelationships.ts
  ui/apps/platform/tailwind.config.js
Labels: area/ui

#6899 chore(ui): Import consistently from lodash
  ui/apps/platform/cypress/helpers/scopeSelectors.js
  ui/apps/platform/src/Containers/NetworkGraph/api/useFetchNetworkBaselines.ts
  ui/apps/platform/src/Containers/NetworkGraph/namespace/NamespaceSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/table.utils.ts
  ui/apps/platform/src/hooks/usePaginatedQuery.ts
  ui/apps/platform/src/utils/securityContextUtils.ts
Labels: area/ui

#6846 ROX-17224: use correct Prometheus client CA signer
  central/tlsconfig/manager_impl.go
  pkg/k8scfgwatch/cfg_watcher.go
  pkg/k8scfgwatch/cfg_watcher_test.go
  pkg/metrics/testdata/ca.pem
  pkg/metrics/testdata/client.crt
  pkg/metrics/tls.go
  pkg/metrics/tls_test.go
  pkg/mtls/certwatch/tls_config_holder.go
Labels: area/central

#6854 chore(ui): Encapsulate entity nouns for Compliance
  ui/apps/platform/cypress/integration/compliance/Compliance.selectors.js
  ui/apps/platform/cypress/integration/compliance/complianceDashboard.test.js
  ui/apps/platform/cypress/integration/compliance/complianceList.test.js
  ui/apps/platform/src/Containers/Compliance/Dashboard/ComplianceDashboardTile.tsx
  ui/apps/platform/src/Containers/Compliance/Entity/Header.js
  ui/apps/platform/src/Containers/Compliance/List/Header.js
  ui/apps/platform/src/Containers/Compliance/List/Table.js
  ui/apps/platform/src/Containers/Compliance/entitiesForCompliance.ts
  ui/apps/platform/src/Containers/Compliance/widgets/ControlRelatedResourceList.js
  ui/apps/platform/src/Containers/Compliance/widgets/EntityCompliance.js
  ui/apps/platform/src/Containers/Compliance/widgets/ResourceCount.js
  ui/apps/platform/src/Containers/Compliance/widgets/ResourceRelatedResourceList.js
  ui/apps/platform/src/Containers/Compliance/widgets/StandardsAcrossEntity.js
  ui/apps/platform/src/Containers/Compliance/widgets/StandardsByEntity.js
Labels: area/ui

#6821 Changes for GET report history API endpoint
  central/reportconfigurations/service/v2/convert.go
  central/reportconfigurations/service/v2/convert_test.go
  central/reports/service/v2/convert.go
  central/reports/service/v2/service.go
  central/reports/service/v2/service_impl.go
  central/reports/service/v2/singleton.go
  generated/api/v2/report_service.pb.go
  generated/api/v2/report_service.pb.gw.go
  generated/api/v2/user.pb.go
  proto/api/v2/report_service.proto
  proto/api/v2/user.proto
Labels: area/central, epic/vm2.0/reports

#6838 ROX-17848: Show report review details
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/CreateVulnReport/CreateVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/exampleReportsCSVData.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/CollectionSelection.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportParametersForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportReviewForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/useReportFormValues.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.ts
  ui/apps/platform/src/constants/reportConstants.ts
  ui/apps/platform/src/hooks/usePaginatedQuery.ts
  ui/apps/platform/src/services/CollectionsService.ts
Labels: area/ui

#6762 refactor(helm): rename openshift monitoring
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/templates/99-openshift-monitoring.yaml
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/openshift-monitoring.yaml
  pkg/helm/charts/tests/centralservices/testdata/all-values-explicit.yaml
  pkg/helm/charts/tests/centralservices/testdata/autogenerate-all.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/openshift-monitoring.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/all-values-explicit.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/openshift-monitoring.test.yaml
Labels: area/helm, area/operator

#6847 ROX-17225: install service monitor in monitoring
  image/templates/helm/stackrox-central/templates/99-openshift-monitoring.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/openshift-monitoring.test.yaml
Labels: area/helm

#6912 chore(ui): Gate Workload CVE e2e tests behind feature flag
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageCveSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadTableToolbar.test.js
Labels: area/ui

#6904 fix(ui): Fix accessibility problems in Clusters
  ui/apps/platform/src/Containers/Clusters/ClusterDeployment.js
  ui/apps/platform/src/Containers/Clusters/ClusterLabelsTable.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersSidePanel.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.js
  ui/apps/platform/src/Containers/Clusters/DownloadHelmValues.tsx
Labels: area/ui

#6908 ROX-11034: Add ability to view NetPol in modal on Violation/Deploy tab
  ui/apps/platform/cypress/fixtures/network/networkPoliciesInNamespace.json
  ui/apps/platform/cypress/integration/violations/Violations.helpers.js
  ui/apps/platform/cypress/integration/violations/Violations.selectors.js
  ui/apps/platform/cypress/integration/violations/violations.test.js
  ui/apps/platform/src/Components/PatternFly/CodeEditorDarkModeControl.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkPolicies.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPoliciesYAML.tsx
  ui/apps/platform/src/Containers/Violations/Details/DeploymentDetails.tsx
  ui/apps/platform/src/Containers/Violations/Details/NetworkPolicyModal.tsx
Labels: area/ui

#6813 ROX-16929: Make CSVTest multi-arch compliant
  qa-tests-backend/src/test/groovy/CSVTest.groovy
Labels: ci-all-qa-tests

#6903 [ROX-18093] Sensor workflow for ad hoc compliance scans
  generated/internalapi/central/compliance_operator.pb.go
  generated/internalapi/central/sensor_iservice.pb.go
  pkg/complianceoperator/gvk.go
  pkg/complianceoperator/gvr.go
  proto/internalapi/central/compliance_operator.proto
  proto/internalapi/central/sensor_iservice.proto
  sensor/kubernetes/complianceoperator/handler_impl.go
  sensor/kubernetes/complianceoperator/handler_impl_test.go
  sensor/kubernetes/complianceoperator/mocks/types.go
  sensor/kubernetes/complianceoperator/types.go
  sensor/kubernetes/complianceoperator/updater.go
  sensor/kubernetes/complianceoperator/updater_test.go
  sensor/kubernetes/complianceoperator/utils.go
  sensor/kubernetes/listener/compliance.go
  sensor/kubernetes/sensor/sensor.go
Labels: area/sensor, epic/compliance-2.0/mvp

#6740 chore(deps): bump docker-registry-client
  go.mod
  go.sum
  scanner/go.mod
Labels: area/scanner

#6925 fix(operator): nil-pointer exception with empty Central CR
  operator/apis/platform/v1alpha1/central_types.go
  operator/pkg/central/extensions/reconcile_pvc.go
Labels: area/operator

#6919 fix(e2e): Prevent failure because of multiple collector rows in risk
  ui/apps/platform/cypress/helpers/risk.js
  ui/apps/platform/cypress/integration/risk/Risk.helpers.js
  ui/apps/platform/cypress/integration/risk/Risk.selectors.js
  ui/apps/platform/cypress/integration/risk/deploymentTimeline.test.js
  ui/apps/platform/cypress/integration/risk/podTimeline.test.js
  ui/apps/platform/cypress/integration/risk/risk.test.js
  ui/apps/platform/cypress/integration/risk/riskSearchToPolicy.test.js
  ui/apps/platform/cypress/integration/risk/timelineOverview.test.js
Labels: area/ui

#6917 Wrap v2.ReportStatus in v2.ReportStatusResponse so that we can send empty response
  central/reports/service/v2/service.go
  central/reports/service/v2/service_impl.go
  central/reports/service/v2/service_impl_test.go
  generated/api/v2/report_service.pb.go
  proto/api/v2/report_service.proto
Labels: area/central

#6909 chore(ui): Cleanup data-testid in Violations container
  ui/apps/platform/cypress/integration/violations/Violations.selectors.js
  ui/apps/platform/cypress/integration/violations/violations.test.js
  ui/apps/platform/src/Containers/Violations/Details/Deployment/ContainerConfiguration.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/SecurityContext.tsx
  ui/apps/platform/src/Containers/Violations/Details/DeploymentDetails.tsx
  ui/apps/platform/src/Containers/Violations/Details/Enforcement/Explanation.tsx
  ui/apps/platform/src/Containers/Violations/Details/Enforcement/Header.tsx
  ui/apps/platform/src/Containers/Violations/Details/K8sCard.tsx
  ui/apps/platform/src/Containers/Violations/Details/NetworkFlowCard.tsx
  ui/apps/platform/src/Containers/Violations/Details/ViolationDetailsPage.tsx
  ui/apps/platform/src/Containers/Violations/Modals/ExcludeConfirmation.tsx
  ui/apps/platform/src/Containers/Violations/Modals/ResolveConfirmation.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePanel.tsx
  ui/apps/platform/src/Containers/Violations/types/violationTypes.ts
Labels: area/ui

#6907 ROX-18391: cleanup permission checker
  central/clusterinit/store/postgres/permission_checker.go
  central/clusterinit/store/postgres/permission_checker_impl.go
  central/networkgraph/entity/datastore/internal/store/postgres/permission_checker.go
  central/networkgraph/entity/datastore/internal/store/postgres/permission_checker_impl.go
  central/vulnerabilityrequest/datastore/internal/store/postgres/permission_checker.go
  central/vulnerabilityrequest/datastore/internal/store/postgres/permission_checker_impl.go
  pkg/search/postgres/store.go
  tools/generate-helpers/pg-table-bindings/main.go
  tools/generate-helpers/pg-table-bindings/permission_checker.go.tpl
Labels: area/central, area/postgres

#6914 ROX-18106: compliance profile protos stores
  central/complianceoperator/v2/profiles/store/postgres/gen.go
  central/complianceoperator/v2/profiles/store/postgres/store.go
  central/complianceoperator/v2/profiles/store/postgres/store_test.go
  central/complianceoperator/v2/rules/store/postgres/gen.go
  central/complianceoperator/v2/rules/store/postgres/store.go
  central/complianceoperator/v2/rules/store/postgres/store_test.go
  generated/storage/compliance_operator_v2.pb.go
  pkg/postgres/schema/compliance_operator_profile_v2.go
  pkg/postgres/schema/compliance_operator_rule_v2.go
  proto/storage/compliance_operator_v2.proto
  tools/generate-helpers/pg-table-bindings/list.go
Labels: area/central, area/postgres, epic/compliance-2.0/mvp

#6902 ROX-17849: Allowing creating a vuln report
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/CreateVulnReport/CreateVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/VulnReportsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/useCreateReport.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportParametersForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/useReportFormValues.tsx
  ui/apps/platform/src/services/ReportsService.ts
  ui/apps/platform/src/setupProxy.js
  ui/apps/platform/src/types/reportConfigurationService.proto.ts
Labels: area/ui

#6946 chore(regenerate): compliance profile protos stores regenerate
  central/complianceoperator/v2/profiles/store/postgres/store.go
  central/complianceoperator/v2/rules/store/postgres/store.go
Labels: area/central, epic/compliance-2.0/mvp

#6941 chore(deps): bump docker-registry-client
  go.mod
  go.sum
  scanner/go.mod
  scanner/go.sum
Labels: area/scanner

#6942 fix(ui): Delete Enabled column in Configuration Management Policies
  ui/apps/platform/src/Containers/ConfigManagement/List/Policies.js
Labels: area/ui

#6927 [ROX-18094] Sensor workflow for applying scheduled scans
  generated/internalapi/central/compliance_operator.pb.go
  go.mod
  go.sum
  pkg/env/compliance_operator.go
  proto/internalapi/central/compliance_operator.proto
  sensor/kubernetes/complianceoperator/handler_impl.go
  sensor/kubernetes/complianceoperator/handler_impl_test.go
  sensor/kubernetes/complianceoperator/utils.go
Labels: area/sensor, epic/compliance-2.0/mvp

#6880 fix(ui): Fix accessibility problems in KeyValuePairs for Risk
  ui/apps/platform/src/Containers/Risk/ContainerConfigurations.js
  ui/apps/platform/src/Containers/Risk/DeploymentDetails.js
  ui/apps/platform/src/Containers/Risk/KeyValuePairs.js
  ui/apps/platform/src/Containers/Risk/Process/ProcessBaselineElementList.js
  ui/apps/platform/src/Containers/Risk/RiskDetails.js
  ui/apps/platform/src/Containers/Risk/SecurityContext.js
Labels: area/ui

#6896 fix(ui): Fix accessibility problems in Process Details for Risk
  ui/apps/platform/src/Components/Panel.js
  ui/apps/platform/src/Containers/Risk/Process/DiscoveryCardHeader.js
  ui/apps/platform/src/Containers/Risk/Process/ProcessBaselineElementList.js
  ui/apps/platform/src/Containers/Risk/Process/ProcessBaselineList.js
Labels: area/ui

#6933 fix(ui): Fix accessibility issues in Configuration Management Secrets
  ui/apps/platform/cypress/integration/configmanagement/dashboard.test.js
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/widgets/PolicyViolationsBySeverity.js
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/widgets/SecretsMostUsedAcrossDeployments.js
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/widgets/UsersWithMostClusterAdminRoles.js
Labels: area/ui

#6952 fix(ui): Fix accessibility issue about TextSelect input form label
  ui/apps/platform/src/Components/TextSelect/TextSelect.js
Labels: area/ui

#6951 [ROX-18451][ROX-18488] Sensor workflow to rerun and delete scan configuration
  generated/internalapi/central/compliance_operator.pb.go
  pkg/complianceoperator/gvr.go
  proto/internalapi/central/compliance_operator.proto
  sensor/kubernetes/complianceoperator/handler_impl.go
  sensor/kubernetes/complianceoperator/handler_impl_test.go
  sensor/kubernetes/complianceoperator/types.go
  sensor/kubernetes/complianceoperator/updater_test.go
  sensor/kubernetes/complianceoperator/utils.go
  sensor/kubernetes/listener/compliance.go
  sensor/kubernetes/listener/resource_event_handler.go
Labels: area/sensor, epic/compliance-2.0/mvp

#6820 ROX-18173: Authenticate 'v1/metadata'
  central/metadata/service/service_impl.go
  sensor/common/centralclient/client.go
  sensor/common/centralclient/client_test.go
  sensor/common/centralclient/grpc_connection.go
  tests/e2e/lib.sh
  tests/e2e/run.sh
  tests/endpoints_test.go
  tests/metadata_test.go
Labels: ci-all-qa-tests, area/central, area/sensor

#6943 chore(ui): Delete ROX_DISABLE_COMPLIANCE_STANDARDS feature flag
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/cypress/integration/compliance/hideScanResults.test.js
  ui/apps/platform/src/Containers/Compliance/Dashboard/ComplianceDashboardPage.tsx
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#6726 ROX-18173: Mention authenticated endpoints in CHANGELOG
  CHANGELOG.md
Labels: area/central

#6653 refactor(dockerfile): Remove stackrox-data Dockerfile
  .github/workflows/build.yaml
  Makefile
  image/.gitignore
  image/fetch-stackrox-data.sh
  image/rhel/Dockerfile
  image/rhel/create-bundle.sh
  image/rhel/fetch-stackrox-data.sh
  image/stackrox-data.Dockerfile
  make/protogen.mk
Labels: area/helm, area/ci

#6967 refactor(authn): Rename `SensorOrAuthorizer` for brevity
  central/cluster/service/service_impl.go
  central/detection/service/service_impl.go
  central/image/service/service_impl.go
  central/imageintegration/service/service_impl.go
  central/main.go
  central/metadata/service/service_impl.go
  central/resourcecollection/service/service_impl.go
  pkg/grpc/authz/or/or.go
Labels: area/central

#6696 ROX-18085: operator overlays
  go.mod
  go.sum
  operator/apis/platform/v1alpha1/central_types.go
  operator/apis/platform/v1alpha1/overlay_types.go
  operator/apis/platform/v1alpha1/securedcluster_types.go
  operator/apis/platform/v1alpha1/zz_generated.deepcopy.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/pkg/overlays/postrenderer.go
  operator/pkg/overlays/postrenderer_test.go
  operator/pkg/reconciler/reconciler_factory.go
Labels: area/ui, area/operator, area/scanner

#6966 Collect compliance operator status on startup
  sensor/kubernetes/complianceoperator/updater.go
  sensor/kubernetes/complianceoperator/updater_test.go
Labels: area/sensor, epic/compliance-2.0/mvp

#6963 fix(ui): Fix accessibility issues in WatchedImagesDialog
  ui/apps/platform/src/Components/CustomDialogue/CustomDialogue.js
  ui/apps/platform/src/Components/CustomDialogue/index.js
  ui/apps/platform/src/Containers/VulnMgmt/Components/CustomDialogue.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/CveBulkActionDialogue.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Images/VulnMgmtListImages.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Images/WatchedImagesDialog.tsx
Labels: area/ui

#6976 fix(ui): Fix accessibility problem with side panel BackButton
  ui/apps/platform/cypress/integration/vulnmanagement/VulnerabilityManagement.selectors.js
  ui/apps/platform/src/Containers/ConfigManagement/SidePanel/BackButton.js
  ui/apps/platform/src/Containers/ConfigManagement/SidePanel/BreadCrumbs.js
  ui/apps/platform/src/Containers/VulnMgmt/EntityBreadCrumbs.tsx
Labels: area/ui

#6940 chore(e2e): Unskip openshift in tests that call verifyConditionalCVEs
  ui/apps/platform/cypress/integration/vulnmanagement/clusters.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/deployments.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/imageComponents.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/namespaces.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/nodeComponents.test.js
Labels: area/ui

#6663 ROX-16908: Initialize indexer, matcher and services
  scanner/cmd/scanner.go
  scanner/cmd/scanner/main.go
  scanner/cmd/scannercli/main.go
  scanner/go.mod
  scanner/go.sum
  scanner/indexer/indexer.go
  scanner/indexer/service.go
  scanner/matcher/matcher.go
  scanner/matcher/service.go
Labels: area/scanner

#6971 fix(ui): Fix inconsistent case on Vulnerability Management dashboard
  ui/apps/platform/cypress/integration/vulnmanagement/dashboard.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/dashboardToEntityPage.test.js
  ui/apps/platform/src/Components/ViewAllButton/ViewAllButton.tsx
  ui/apps/platform/src/Components/ViewAllButton/index.ts
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Component/VulnMgmtComponentOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Deployment/VulnMgmtDeploymentOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Image/VulnMgmtImageOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Namespace/VulnMgmtNamespaceOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Node/VulnMgmtNodeOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/ClustersWithMostClusterVulnerabilities.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/CvesByCvssScore.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/MostCommonVulnerabilities.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/MostCommonVulnerabiltiesInDeployment.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/RecentlyDetectedImageVulnerabilities.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/TopRiskiestEntities.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/TopRiskyEntitiesByVulnerabilities.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/ViewAllButton.tsx
Labels: area/ui

#6965 chore(ui): Colocate single-use utility functions in NetGraph
  ui/apps/platform/src/Containers/NetworkGraph/components/NamespaceSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/hooks/useScopeHierarchy.test.ts
  ui/apps/platform/src/Containers/NetworkGraph/hooks/useScopeHierarchy.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/hierarchyUtils.ts
Labels: area/ui

#6949 ROX-18422: Populating the reports table
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/CreateVulnReport/CreateVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/LastRunState.test.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/LastRunState.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/LastRunStatusState.test.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/LastRunStatusState.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/VulnReportsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/useCreateReport.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/useFetchReports.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/errorUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/useReportFormValues.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/types.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.ts
  ui/apps/platform/src/services/ReportsService.ts
  ui/apps/platform/src/services/ReportsService.types.ts
Labels: area/ui

#6980 ROX-16517: Making empty cluster page more directive by removing image
  ui/apps/platform/src/Containers/Clusters/AddClusterPrompt.tsx
  ui/apps/platform/src/images/Security_FullColor_Pink.svg
Labels: area/ui

#6994 Remove legacy compliance integration feature flag
  central/sensor/service/pipeline/all/factory.go
  pkg/features/list.go
  sensor/kubernetes/client/client.go
  sensor/kubernetes/listener/resource_event_handler.go
  tests/e2e/bats/fixtures/test-pod-without-oomkilled_object.json
Labels: area/central, area/sensor, epic/compliance-2.0/mvp

#6999 Gracefully stop GRPC and update overwrites
  scanner/cmd/scanner/main.go
  scanner/go.mod
  scanner/go.sum
Labels: area/scanner

#6958 ROX-17327: Implement expiring message in Sensor
  sensor/common/admissioncontroller/alert_handler.go
  sensor/common/admissioncontroller/message_forwarder.go
  sensor/common/admissioncontroller/mocks/alert_handler.go
  sensor/common/admissioncontroller/singleton.go
  sensor/common/compliance/auditlog_manager.go
  sensor/common/compliance/auditlog_manager_impl.go
  sensor/common/compliance/auditlog_manager_test.go
  sensor/common/compliance/command_handler.go
  sensor/common/compliance/command_handler_impl.go
  sensor/common/compliance/mocks/auditlog_manager.go
  sensor/common/compliance/multiplexer.go
  sensor/common/compliance/node_inventory_handler_impl.go
  sensor/common/component.go
  sensor/common/config/handler.go
  sensor/common/delegatedregistry/delegated_registry_handler.go
  sensor/common/detector/detector.go
  sensor/common/detector/mocks/detector.go
  sensor/common/enforcer/enforcer.go
  sensor/common/externalsrcs/handler.go
  sensor/common/image/service_impl.go
  sensor/common/message/message.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/processsignal/pipeline.go
  sensor/common/processsignal/pipeline_test.go
  sensor/common/reprocessor/handler.go
  sensor/common/reprocessor/mocks/handler.go
  sensor/common/sensor/central_sender_impl.go
  sensor/common/signal/signal_service.go
  sensor/common/signal/singleton.go
  sensor/kubernetes/admissioncontroller/config_map_persister.go
  sensor/kubernetes/clusterhealth/updater.go
  sensor/kubernetes/clustermetrics/cluster_metrics.go
  sensor/kubernetes/clusterstatus/updater.go
  sensor/kubernetes/complianceoperator/handler_impl.go
  sensor/kubernetes/complianceoperator/mocks/types.go
  sensor/kubernetes/complianceoperator/updater.go
  sensor/kubernetes/eventpipeline/component/component.go
  sensor/kubernetes/eventpipeline/component/message.go
  sensor/kubernetes/eventpipeline/component/mocks/component.go
  sensor/kubernetes/eventpipeline/output/output.go
  sensor/kubernetes/eventpipeline/output/output_impl.go
  sensor/kubernetes/eventpipeline/output/output_test.go
  sensor/kubernetes/eventpipeline/pipeline.go
  sensor/kubernetes/eventpipeline/pipeline_impl.go
  sensor/kubernetes/eventpipeline/pipeline_test.go
  sensor/kubernetes/listener/resource_event_handler_impl.go
  sensor/kubernetes/listener/resource_event_handler_impl_test.go
  sensor/kubernetes/localscanner/certificate_requester.go
  sensor/kubernetes/localscanner/certificate_requester_test.go
  sensor/kubernetes/localscanner/tls_issuer.go
  sensor/kubernetes/localscanner/tls_issuer_test.go
  sensor/kubernetes/networkpolicies/command_handler.go
  sensor/kubernetes/sensor/sensor.go
  sensor/kubernetes/telemetry/command_handler.go
  sensor/kubernetes/upgrade/command_handler_impl.go
Labels: area/sensor

#6789 ROX-17571: Improve namespace evaluator query
  central/rbac/k8srole/datastore/datastore.go
  central/rbac/k8srolebinding/datastore/datastore.go
  central/rbac/k8srolebinding/datastore/datastore_impl.go
  central/rbac/k8srolebinding/datastore/mocks/datastore.go
  central/rbac/k8srolebinding/mappings/map.go
  central/rbac/service/service_impl.go
  central/rbac/utils/cluster_permission_evaluator.go
  central/rbac/utils/cluster_permission_evaluator_test.go
  central/rbac/utils/common.go
  central/rbac/utils/namespace_permission_evaluator.go
  central/rbac/utils/namespace_permission_evaluator_test.go
  central/serviceaccount/service/service_impl_test.go
  pkg/fixtures/role.go
  pkg/fixtures/role_bindings.go
Labels: area/central

#6945 ROX-18374: Autodetect PSP in delete-sensor.sh
  image/templates/sensor/kubernetes/delete-sensor.sh
  image/templates/sensor/openshift/delete-sensor.sh
  scripts/style/shellcheck_skip.txt
Labels: area/central, area/helm

#7001 chore(ui): Replace ui-components Avatar with inline code
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/MainPage/Header/UserMenu.js
Labels: area/ui

#6986 ROX-18471: Update listening endpoints to use expandable table
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsPage.test.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsPage.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsTable.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/hooks/useDeploymentListeningEndpoints.tsx
Labels: area/ui

#6990 refactor(ui): Allow useRestQuery to work with normal promises
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsPage.test.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsPage.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsTable.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/hooks/useDeploymentListeningEndpoints.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTablePage.tsx
  ui/apps/platform/src/Containers/Collections/hooks/useCollection.ts
  ui/apps/platform/src/Containers/Dashboard/hooks/useAlertGroups.ts
  ui/apps/platform/src/Containers/Dashboard/hooks/useDeploymentsAtRisk.ts
  ui/apps/platform/src/Containers/Dashboard/hooks/useRestQuery.ts
  ui/apps/platform/src/hooks/useRestQuery.ts
  ui/apps/platform/src/services/cancellationUtils.ts
Labels: area/ui

#6738 ROX-18084: Use Compliance Operator package
  Makefile
  central/compliance/data/repository.go
  central/complianceoperator/manager/checks.go
  central/complianceoperator/manager/manager.go
  central/complianceoperator/manager/manager_test.go
  central/sensor/service/pipeline/complianceoperatorrules/pipeline.go
  pkg/complianceoperator/api/v1alpha1/LICENSE
  pkg/complianceoperator/api/v1alpha1/README.md
  pkg/complianceoperator/api/v1alpha1/compliancecheckresult_types.go
  pkg/complianceoperator/api/v1alpha1/complianceremediation_types.go
  pkg/complianceoperator/api/v1alpha1/compliancescan_types.go
  pkg/complianceoperator/api/v1alpha1/compliancesuite_types.go
  pkg/complianceoperator/api/v1alpha1/doc.go
  pkg/complianceoperator/api/v1alpha1/profile_types.go
  pkg/complianceoperator/api/v1alpha1/profilebundle_types.go
  pkg/complianceoperator/api/v1alpha1/register.go
  pkg/complianceoperator/api/v1alpha1/rule_types.go
  pkg/complianceoperator/api/v1alpha1/scansetting_types.go
  pkg/complianceoperator/api/v1alpha1/scansettingbinding_types.go
  pkg/complianceoperator/api/v1alpha1/tailoredprofile_types.go
  pkg/complianceoperator/api/v1alpha1/variable_test.go
  pkg/complianceoperator/api/v1alpha1/variable_types.go
  pkg/complianceoperator/api/v1alpha1/zz_generated.deepcopy.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorprofiles.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorresults.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorrules.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorscans.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorscansettingbindings.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatortailoredprofiles.go
Labels: area/central, area/sensor, epic/compliance-2.0/mvp

#6669 ROX-17224: install CRs
  image/templates/helm/stackrox-central/templates/01-central-10-networkpolicy.yaml
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  image/templates/helm/stackrox-central/templates/01-central-14-service.yaml
  image/templates/helm/stackrox-central/templates/99-openshift-monitoring.yaml
  image/templates/helm/stackrox-central/templates/_central_endpoints.tpl
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/openshift-monitoring.yaml
  image/templates/helm/stackrox-secured-cluster/templates/sensor-netpol.yaml
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
  pkg/helm/charts/tests/centralservices/testdata/helmtest/openshift-monitoring.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/openshift-monitoring.test.yaml
Labels: area/helm

#6988 chore(ci): remove openshift/release image build/style/unit jobs
  .openshift-ci/dispatch.sh
  scripts/ci/gate-jobs-config.json
  scripts/ci/jobs/go-postgres-tests.sh
  scripts/ci/jobs/go-unit-tests-release.sh
  scripts/ci/jobs/go-unit-tests.sh
  scripts/ci/jobs/integration-unit-tests.sh
  scripts/ci/jobs/mitre-bundles-checks.sh
  scripts/ci/jobs/push-images.sh
  scripts/ci/jobs/style-checks.sh
  scripts/ci/jobs/ui-unit-tests.sh
  scripts/ci/lib.sh
  scripts/style/shellcheck_skip.txt
  tools/allowed-large-files
Labels: area/ci

#6982 ROX-14975: Fix baseline setup
  central/networkbaseline/manager/manager_impl.go
  central/networkbaseline/manager/manager_impl_test.go
  pkg/networkgraph/networkbaseline/baseline_info.go
Labels: team/maple, area/central

#6997 chore(ui): Replace ui-components Message with PatternFly Alert
  ui/apps/platform/cypress/constants/AccessPage.js
  ui/apps/platform/cypress/integration/vulnmanagement/VulnerabilityManagement.selectors.js
  ui/apps/platform/src/Components/MessageCentered/MessageCentered.tsx
  ui/apps/platform/src/Components/MessageCentered/index.ts
  ui/apps/platform/src/Containers/Clusters/ClusterDeployment.js
  ui/apps/platform/src/Containers/Clusters/ClustersSidePanel.tsx
  ui/apps/platform/src/Containers/Clusters/StaticConfigurationSection.js
  ui/apps/platform/src/Containers/Compliance/List/Table.js
  ui/apps/platform/src/Containers/Compliance/widgets/ControlRelatedResourceList.js
  ui/apps/platform/src/Containers/Compliance/widgets/LinkListWidget.js
  ui/apps/platform/src/Containers/Login/TestLoginResultsPage.js
  ui/apps/platform/src/Containers/Risk/DeploymentDetails.js
  ui/apps/platform/src/Containers/Risk/RiskSidePanelContent.js
  ui/apps/platform/src/Containers/Risk/RiskTablePanel.js
  ui/apps/platform/src/Containers/VulnMgmt/Components/ScanDataMessage.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Entity/TableWidgetFixableCves.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/WorkflowEntityPage.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/CveBulkActionDialogue.js
Labels: area/ui

#7018 ROX-17818: Show table row actions + ROX-17825: Allow deleting report
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/VulnReportsPage.tsx
  ui/apps/platform/src/services/ReportsService.ts
Labels: area/ui

#7039 test(ui): Temporarily disable flaky workload cve toolbar test
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadTableToolbar.test.js
Labels: area/ui

#7020 refactor(Dockerfile): Remove create-bundle.sh for Central DB
  Makefile
  image/postgres/Dockerfile
  image/postgres/create-bundle.sh
  image/postgres/download.sh
Labels: area/helm, area/postgres

#6987 ROX-18523: Delete use of tippy.js via ui-components HoverHint
  ui/apps/platform/src/Components/visuals/HoverHintListItem/HoverHintListItem.js
  ui/apps/platform/src/Components/visuals/HoverHintListItem/index.js
  ui/apps/platform/src/Components/visuals/LabeledBarGraph/index.js
  ui/apps/platform/src/Components/visuals/Scatterplot/index.js
  ui/apps/platform/src/Components/visuals/SunburstDetailSection.js
  ui/apps/platform/src/Containers/Compliance/widgets/EntityCompliance.js
  ui/apps/platform/src/Containers/Compliance/widgets/HorizontalBarChart.js
  ui/apps/platform/src/Containers/Compliance/widgets/StandardsAcrossEntity.js
  ui/apps/platform/src/Containers/Compliance/widgets/StandardsByEntity.js
  ui/apps/platform/src/Containers/Compliance/widgets/VerticalBarChart.js
  ui/apps/platform/src/Containers/Compliance/widgets/VerticalClusterBar.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/LabeledBarGraph.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/MostCommonVulnerabilities.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/Scatterplot.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/Scatterplot.utils.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/Scatterplot.utils.test.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/TopRiskyEntitiesByVulnerabilities.js
Labels: area/ui

#7065 fix(ci): re-generate complianceoperator stores
  central/complianceoperator/v2/checkresults/store/postgres/store.go
  central/complianceoperator/v2/scans/store/postgres/store.go
Labels: area/central

#7024 ROX-18473: Add search input to listening endpoints table.
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsPage.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsTable.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/hooks/useDeploymentListeningEndpoints.tsx
Labels: area/ui

#7002 ROX-16953: Add additional debug and metrics endpoints
  pkg/metrics/subsystems.go
  scanner/cmd/scanner/main.go
  scanner/go.mod
  scanner/metrics/metrics.go
  scanner/metrics/routes.go
  scanner/metrics/throttle.go
Labels: area/scanner

#6861 refactor(searcher): Use Postgres pagination instead of post-paginating
  central/imageintegration/search/searcher.go
  central/imageintegration/search/searcher_impl.go
  central/pod/datastore/internal/search/searcher_impl.go
  central/policy/search/searcher_impl.go
  central/policycategory/search/searcher_impl.go
  central/processbaseline/search/searcher.go
  central/processbaseline/search/searcher_impl.go
  central/reportconfigurations/search/search_impl.go
  central/risk/datastore/internal/search/searcher_impl.go
  central/secret/search/searcher_impl.go
  central/vulnerabilityrequest/datastore/internal/searcher/searcher_impl.go
Labels: area/central

#6918 ROX-15848: Merge cronjobs to preserve image digests
  central/deployment/datastore/datastore_impl.go
  central/deployment/datastore/datastore_impl_test.go
Labels: area/central

#6947 Added unit test for get report history
  central/reports/service/v2/service_impl_test.go
Labels: area/central, epic/vm2.0/reports

#6937 test(pg): add test for nil map serialisation
  tools/generate-helpers/pg-table-bindings/test/postgres/store_null_map_test.go
Labels: area/postgres

#7010 ROX-17687: Fix missing mapkubeapis file in downstream image
  operator/Dockerfile
  operator/Makefile
  operator/config/.gitignore
  operator/pkg/common/extensions/mapkubeapis.go
  operator/pkg/config/mapkubeapis/Map.yaml
  operator/pkg/config/mapkubeapis/embed_map.go
  operator/tests/reconcile/mapkubeapis_test.go
Labels: area/operator

#7056 refactor: Use common test cases for generated SAC store tests: GetMany
  central/alert/datastore/internal/store/postgres/store_test.go
  central/cluster/store/cluster/postgres/store_test.go
  central/compliance/datastore/internal/store/postgres/metadata/store_test.go
  central/compliance/datastore/internal/store/postgres/results/store_test.go
  central/deployment/store/postgres/store_test.go
  central/namespace/store/postgres/store_test.go
  central/networkbaseline/store/postgres/store_test.go
  central/networkpolicies/datastore/internal/store/postgres/store_test.go
  central/pod/store/postgres/store_test.go
  central/processbaseline/store/postgres/store_test.go
  central/processbaselineresults/datastore/internal/store/postgres/store_test.go
  central/processindicator/store/postgres/store_test.go
  central/rbac/k8srole/internal/store/postgres/store_test.go
  central/rbac/k8srolebinding/internal/store/postgres/store_test.go
  central/risk/datastore/internal/store/postgres/store_test.go
  central/secret/internal/store/postgres/store_test.go
  central/serviceaccount/internal/store/postgres/store_test.go
  tools/generate-helpers/pg-table-bindings/store_test.go.tpl
Labels: area/central, area/postgres

#7075 ROX-17716: Delete ui-components and tippy.js from dependencies
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/MainPage/Header/CLIDownloadMenu.tsx
  ui/apps/platform/src/app.tw.css
  ui/apps/platform/src/constants/form.constants.ts
  ui/apps/platform/src/css/trumps.css
Labels: area/ui

#7071 ROX-18620: Consolidate compliance operator resources definitions
  pkg/complianceoperator/api.go
  pkg/complianceoperator/gvk.go
  pkg/complianceoperator/gvr.go
  sensor/kubernetes/complianceoperator/handler_impl.go
  sensor/kubernetes/complianceoperator/handler_impl_test.go
  sensor/kubernetes/complianceoperator/updater.go
  sensor/kubernetes/complianceoperator/utils.go
  sensor/kubernetes/listener/compliance.go
  sensor/kubernetes/listener/resource_event_handler.go
  tests/compliance_operator_test.go
Labels: area/sensor, epic/compliance-2.0/mvp

#6991 chore(scanner): followup to #6663
  scanner/cmd/scanner/main.go
  scanner/cmd/scannerctl/main.go
  scanner/go.mod
  scanner/indexer/service.go
  scanner/matcher/service.go
Labels: area/scanner

#6928 chore(ui): Purge unused Tailwind style rules
  ui/apps/platform/tailwind.config.js
Labels: area/ui

#7074 chore(cleanup): Remove nondescript log line
  sensor/common/signal/signal_service.go
Labels: area/sensor

#7088 chore(ui): Delete unused image files
  ui/apps/platform/src/images/404.svg
  ui/apps/platform/src/images/auth0.svg
  ui/apps/platform/src/images/eks.svg
  ui/apps/platform/src/images/enforcement-build.svg
  ui/apps/platform/src/images/enforcement-deploy.svg
  ui/apps/platform/src/images/enforcement-runtime.svg
  ui/apps/platform/src/images/gke.svg
  ui/apps/platform/src/images/openID.svg
  ui/apps/platform/src/images/openidconnect.svg
  ui/apps/platform/src/images/saml.svg
  ui/apps/platform/src/images/side-panel-icons/container.svg
  ui/apps/platform/src/images/side-panel-icons/label.svg
  ui/apps/platform/src/images/side-panel-icons/pod.svg
  ui/apps/platform/src/images/side-panel-icons/process.svg
  ui/apps/platform/src/images/side-panel-icons/violation.svg
Labels: area/ui

#7042 chore(scanner): move scanner into rox module
  .github/dependabot.yaml
  go.mod
  go.sum
  scanner/cmd/scanner/main.go
  scanner/cmd/scannerctl/main.go
  scanner/go.mod
  scanner/go.sum
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/scanner, area/ci

#7017 ROX-18111: Setup Compliance 2.0 routing
  ui/apps/platform/src/Containers/ComplianceEnhanced/CompliancePage.tsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/routePaths.js
Labels: area/ui, epic/compliance-2.0/mvp

#7096 ci(scanner): make golangci-lint happy
  .golangci.yml
  scanner/cmd/scanner/main.go
  scanner/config/config.go
  scanner/indexer/indexer.go
  scanner/indexer/service.go
  scanner/matcher/matcher.go
  scanner/matcher/service.go
Labels: area/scanner

#7057 refactor: Use common test cases for generated SAC store tests: Count
  central/alert/datastore/internal/store/postgres/store_test.go
  central/cluster/store/cluster/postgres/store_test.go
  central/compliance/datastore/internal/store/postgres/metadata/store_test.go
  central/compliance/datastore/internal/store/postgres/results/store_test.go
  central/deployment/store/postgres/store_test.go
  central/namespace/store/postgres/store_test.go
  central/networkbaseline/store/postgres/store_test.go
  central/networkpolicies/datastore/internal/store/postgres/store_test.go
  central/pod/store/postgres/store_test.go
  central/processbaseline/store/postgres/store_test.go
  central/processbaselineresults/datastore/internal/store/postgres/store_test.go
  central/processindicator/store/postgres/store_test.go
  central/rbac/k8srole/internal/store/postgres/store_test.go
  central/rbac/k8srolebinding/internal/store/postgres/store_test.go
  central/risk/datastore/internal/store/postgres/store_test.go
  central/secret/internal/store/postgres/store_test.go
  central/serviceaccount/internal/store/postgres/store_test.go
  tools/generate-helpers/pg-table-bindings/store_test.go.tpl
Labels: area/central, area/postgres

#7054 refactor(ui): Generalize FilterChips for reuse in other components
  ui/apps/platform/src/Components/PatternFly/SearchFilterChips.css
  ui/apps/platform/src/Components/PatternFly/SearchFilterChips.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/FilterAutocomplete.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/FilterChips.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadTableToolbar.css
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadTableToolbar.tsx
Labels: area/ui

#7009 chore(e2e): Unskip openshift in compliance tests
  ui/apps/platform/cypress/integration/compliance/complianceDashboard.test.js
  ui/apps/platform/cypress/integration/compliance/complianceList.test.js
Labels: area/ui

#7058 refactor: Use common test cases for generated SAC store tests: Walk
  central/alert/datastore/internal/store/postgres/store_test.go
  central/cluster/store/cluster/postgres/store_test.go
  central/compliance/datastore/internal/store/postgres/metadata/store_test.go
  central/compliance/datastore/internal/store/postgres/results/store_test.go
  central/deployment/store/postgres/store_test.go
  central/namespace/store/postgres/store_test.go
  central/networkbaseline/store/postgres/store_test.go
  central/networkpolicies/datastore/internal/store/postgres/store_test.go
  central/pod/store/postgres/store_test.go
  central/processbaseline/store/postgres/store_test.go
  central/processbaselineresults/datastore/internal/store/postgres/store_test.go
  central/processindicator/store/postgres/store_test.go
  central/rbac/k8srole/internal/store/postgres/store_test.go
  central/rbac/k8srolebinding/internal/store/postgres/store_test.go
  central/risk/datastore/internal/store/postgres/store_test.go
  central/secret/internal/store/postgres/store_test.go
  central/serviceaccount/internal/store/postgres/store_test.go
  tools/generate-helpers/pg-table-bindings/store_test.go.tpl
Labels: area/central, area/postgres

#7115 fix: regenerate files
  central/complianceoperator/v2/checkresults/store/postgres/store.go
  central/complianceoperator/v2/scans/store/postgres/store.go
Labels: area/central

#7091 fix(restore): Fix Postgres restore database name
  central/globaldb/v2backuprestore/restore/postgres.go
Labels: area/central

#7092 ROX-18474: Add listening endpoint link to sidebar nav
  ui/apps/platform/cypress/integration/audit/listeningEndpoints/ListeningEndpoints.helpers.js
  ui/apps/platform/cypress/integration/networkGraphPF/networkGraph.helpers.js
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsPage.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsTable.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/routePaths.js
Labels: area/ui

#7098 ROX-18642: Move and rewrite AsyncComponent in TypeScript
  ui/apps/platform/src/Containers/MainPage/AsyncComponent.tsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
Labels: area/ui

#7025 ROX-17225: roxctl central flags for OpenShift monitoring
  deploy/common/k8sbased.sh
  deploy/openshift/env.sh
  pkg/renderer/templater.go
  pkg/renderer/templates/public_values.yaml.tpl
  roxctl/central/generate/generate.go
  roxctl/central/generate/generate_test.go
  roxctl/central/generate/k8s.go
  roxctl/helm/derivelocalvalues/derivelocalvalues.go
Labels: area/roxctl, area/central, area/helm

#7060 refactor: Use common test cases for generated SAC store tests: Exists
  central/alert/datastore/internal/store/postgres/store_test.go
  central/cluster/store/cluster/postgres/store_test.go
  central/compliance/datastore/internal/store/postgres/metadata/store_test.go
  central/compliance/datastore/internal/store/postgres/results/store_test.go
  central/deployment/store/postgres/store_test.go
  central/namespace/store/postgres/store_test.go
  central/networkbaseline/store/postgres/store_test.go
  central/networkpolicies/datastore/internal/store/postgres/store_test.go
  central/pod/store/postgres/store_test.go
  central/processbaseline/store/postgres/store_test.go
  central/processbaselineresults/datastore/internal/store/postgres/store_test.go
  central/processindicator/store/postgres/store_test.go
  central/rbac/k8srole/internal/store/postgres/store_test.go
  central/rbac/k8srolebinding/internal/store/postgres/store_test.go
  central/risk/datastore/internal/store/postgres/store_test.go
  central/secret/internal/store/postgres/store_test.go
  central/serviceaccount/internal/store/postgres/store_test.go
  tools/generate-helpers/pg-table-bindings/store_test.go.tpl
Labels: area/central, area/postgres

#7049 refactor: Improvements to ACSCS debug dump feature
  central/debug/service/service.go
  central/internal/route.go
  central/internal/server.go
  central/main.go
  pkg/env/cluster_internal_diagnostics.go
  pkg/env/private_diagnostics.go
Labels: area/central
