Repository stackrox/stackrox, pull requests merged in 2023-04, with the labels that each got.

#5480 Make ImageManagementTest multi-arch compliant
  qa-tests-backend/src/test/groovy/ImageManagementTest.groovy
Labels: ci-all-qa-tests

#5503 Improve color contrast in Search results table
  ui/apps/platform/src/Containers/Search/NotApplicable.tsx
  ui/apps/platform/src/Containers/Search/SearchTable.tsx
Labels: area/ui

#5430 ROX-15402: Change to a sticky search bar in the breadcrumb
  ui/apps/platform/cypress/helpers/networkGraphPF.js
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.css
  ui/apps/platform/src/Containers/NetworkGraph/components/DeploymentSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NamespaceSelector.tsx
  ui/apps/platform/src/utils/removeNullValues.ts
Labels: area/ui

#5531 Provide aria-label for buttons and links in classic side panels
  ui/apps/platform/cypress/constants/RiskPage.js
  ui/apps/platform/cypress/constants/VulnManagementPage.js
  ui/apps/platform/cypress/helpers/vulnmanagement/entities.js
  ui/apps/platform/cypress/integration/clusters/clusters.test.js
  ui/apps/platform/cypress/integration/compliance/complianceList.test.js
  ui/apps/platform/cypress/integration/configmanagement/ConfigurationManagement.helpers.js
  ui/apps/platform/cypress/integration/networkGraph/tooltip.test.js
  ui/apps/platform/cypress/integration/risk/risk.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/entitypages.test.js
  ui/apps/platform/cypress/selectors/panel.js
  ui/apps/platform/src/Components/Button/Button.js
  ui/apps/platform/src/Components/CloseButton.js
  ui/apps/platform/src/Components/CollapsibleSection/CollapsibleSection.js
  ui/apps/platform/src/Containers/ConfigManagement/SidePanel/SidePanel.js
  ui/apps/platform/src/Containers/Workflow/WorkflowSidePanel.js
Labels: area/ui

#5536 ROX-16322: Telemetry should be enabled by default
  ui/apps/platform/src/Containers/SystemConfig/Details/PublicConfigTelemetryDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details/SystemConfigDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Form/SystemConfigForm.tsx
  ui/apps/platform/src/reducers/telemetryConfig.js
Labels: area/ui

#5493 ROX-13935: Enable RHCOS FF & add a failsafe switch
  CHANGELOG.md
  central/reprocessor/reprocessor_unit_test.go
  central/sensor/service/pipeline/all/factory.go
  central/sensor/service/pipeline/nodes/pipeline_test.go
  compliance/collection/main.go
  pkg/env/node_scan.go
  pkg/features/list.go
  pkg/nodes/enricher/enricher_impl.go
  sensor/common/compliance/service_impl.go
  sensor/kubernetes/sensor/sensor.go
Labels: pls-merge, area/central, area/sensor

#5469 ROX-14358: Ensure RHCOS logging is informative
  central/sensor/service/pipeline/nodeinventory/pipeline.go
  compliance/collection/intervals/intervals.go
  compliance/collection/main.go
  sensor/common/compliance/node_inventory_handler_impl.go
Labels: team/maple, area/central, area/sensor

#5538 Replace Th which has empty text with Td
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/LabelSelectorCard.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/AccessScopesTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/FlowsTable.tsx
  ui/apps/platform/src/Containers/Policies/Modal/EnableDisableNotificationModal.tsx
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTable.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePanel.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportTablePanel.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/AffectedComponents/AffectedComponentsModal.tsx
Labels: area/ui

#5504 Clean up some error types for reconnects
  central/sensor/service/connection/worker_queue.go
  central/sensor/service/pipeline/all/pipeline.go
  pkg/errorhelpers/format.go
  pkg/postgres/pgutils/error.go
  pkg/postgres/pgutils/error_test.go
Labels: area/central, area/postgres

#5424 ROX-16233: Read environment variables for the telemetry configuration
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml
  pkg/renderer/helm_values.go
  roxctl/central/generate/generate.go
  roxctl/central/generate/generate_test.go
  roxctl/helm/derivelocalvalues/derivelocalvalues.go
Labels: area/roxctl, area/helm

#5506 Jv dont show listening endpoints with no process info
  central/processlisteningonport/datastore/datastore_impl_test.go
  central/processlisteningonport/store/postgres/full_store.go
Labels: area/central

#5498 Add isComplete flag to wrapper
  sensor/common/store/mocks/types.go
  sensor/common/store/types.go
  sensor/kubernetes/eventpipeline/resolver/resolver_impl.go
  sensor/kubernetes/listener/resources/convert.go
  sensor/kubernetes/listener/resources/deployment_store.go
  sensor/kubernetes/listener/resources/deployment_store_test.go
Labels: team/maple, area/sensor

#5537 ROX-15429: Change anomalous traffic icon to triangle
  ui/apps/platform/src/Containers/NetworkGraph/common/FlowsTable.tsx
Labels: area/ui

#5539 ROX-15409: Add badged labels for entity types
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.css
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkGraphIcons.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
Labels: area/ui

#5540 ROX-15410: fix minimum width of network graph side panel
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.css
Labels: area/ui

#5552 Extend statement timeout to 10m
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/values-public.yaml.example.htpl
  image/templates/helm/stackrox-central/values.yaml.htpl
Labels: area/helm

#5486 Jv rox change name of processes listening on ports service to listening endpoints service
  central/processlisteningonport/service/service.go
  central/processlisteningonport/service/service_impl.go
  generated/api/v1/process_listening_on_port_service.pb.go
  generated/api/v1/process_listening_on_port_service.pb.gw.go
  generated/api/v1/process_listening_on_port_service.swagger.json
  proto/api/v1/process_listening_on_port_service.proto
  qa-tests-backend/src/main/groovy/services/ProcessesListeningOnPortsService.groovy
Labels: area/central

#5557 feat: deployment badge text was incorrect
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkGraphIcons.tsx
Labels: area/ui

#5487 Jv rox change name of process listening on ports table to listening endpoints
  central/processlisteningonport/store/postgres/full_store.go
  central/processlisteningonport/store/postgres/gen.go
  central/processlisteningonport/store/postgres/store.go
  central/processlisteningonport/store/postgres/store_test.go
  pkg/postgres/schema/listening_endpoints.go
Labels: area/central, area/postgres

#5177 ROX-15434 - [MVP] enable on-prem registry scanning
  CHANGELOG.md
  central/image/service/service_impl.go
  generated/api/v1/image_service.pb.go
  generated/internalapi/sensor/image_iservice.pb.go
  pkg/env/max_parallel_scans.go
  pkg/env/sensor.go
  pkg/registries/rhel/rhel.go
  proto/api/v1/image_service.proto
  proto/internalapi/sensor/image_iservice.proto
  sensor/admission-control/manager/images.go
  sensor/common/detector/enricher.go
  sensor/common/image/service_impl.go
  sensor/common/registry/registry_store.go
  sensor/common/registry/registry_store_test.go
  sensor/common/scan/scan.go
  sensor/common/scan/scan_test.go
  sensor/common/scannerclient/grpc_client.go
  sensor/kubernetes/listener/resources/secrets.go
  sensor/kubernetes/listener/resources/secrets_test.go
Labels: area/central, area/sensor, area/admission-controller

#5546 Bumps collector version to 3.14.0
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#5551 ROX-16279: Set skipResolving to false when a ReprocessDeployments is requested
  sensor/kubernetes/eventpipeline/pipeline_impl.go
  sensor/kubernetes/eventpipeline/pipeline_test.go
Labels: team/maple, area/sensor

#5231 ROX-15780: set file modification date in diagnostic bundle
  central/debug/service/diagnostics.go
  central/debug/service/service.go
  central/debug/service/zip.go
  qa-tests-backend/src/test/groovy/DiagnosticBundleTest.groovy
Labels: area/central, area/postgres

#5554 ROX-14479 Improve error reporting when handling the defaultTLSCertificate
  central/clusters/zip/generate_certs.go
  central/metadata/service/service_impl.go
  central/tlsconfig/manager_impl.go
  central/tlsconfig/manager_impl_test.go
  central/tlsconfig/tlsconfig.go
  central/tlsconfig/tlsconfig_test.go
Labels: area/central

#5549 Move declarative config feature flag to environment variable
  central/main.go
  pkg/env/declarative_config.go
  pkg/features/list.go
  roxctl/central/generate/k8s.go
Labels: area/roxctl, area/central

#5573 ROX-14960: Fix detection of previous Y-Stream release
  README.md
  operator/bundle_helpers/patch-csv.py
  scripts/get-previous-y-stream.bats
  scripts/get-previous-y-stream.sh
Labels: team/maple, area/operator

#5568 ROX-14570: add metrics to track the size of the eventPipeline channels
  pkg/env/sensor.go
  sensor/common/metrics/init.go
  sensor/common/metrics/metrics.go
  sensor/kubernetes/eventpipeline/output/output_impl.go
  sensor/kubernetes/eventpipeline/resolver/resolver_impl.go
  sensor/kubernetes/sensor/options.go
Labels: team/maple, area/sensor

#5581 Use SQL to optimize orphaned alert pruning workflow
  central/postgres/pruning.go
  central/postgres/pruning_test.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
Labels: area/central

#5589 ROX-16212: Remove panic from failed charts
  image/embed_charts.go
  pkg/renderer/kubernetes_helm.go
Labels: team/maple, area/helm

#5415 ROX-14150: Add create command for declarative configs
  pkg/declarativeconfig/access_scope.go
  pkg/declarativeconfig/access_scope_test.go
  pkg/declarativeconfig/auth_provider_test.go
  pkg/declarativeconfig/permission_set.go
  pkg/declarativeconfig/permission_set_test.go
  pkg/declarativeconfig/role_test.go
  pkg/declarativeconfig/transform/access_scope.go
  pkg/declarativeconfig/transform/access_scope_test.go
  pkg/declarativeconfig/transform/role.go
  pkg/declarativeconfig/transform/role_test.go
  roxctl/declarativeconfig/create/access_scope.go
  roxctl/declarativeconfig/create/access_scope_test.go
  roxctl/declarativeconfig/create/auth_provider.go
  roxctl/declarativeconfig/create/auth_provider_test.go
  roxctl/declarativeconfig/create/create.go
  roxctl/declarativeconfig/create/permission_set.go
  roxctl/declarativeconfig/create/permission_set_test.go
  roxctl/declarativeconfig/create/role.go
  roxctl/declarativeconfig/create/role_test.go
  roxctl/declarativeconfig/declarativeconfig.go
  roxctl/maincommand/command.go
Labels: area/roxctl

#5427 ROX-14150: Lint command for declarative configs
  central/declarativeconfig/manager_impl_test.go
  pkg/declarativeconfig/access_scope.go
  pkg/declarativeconfig/configuration.go
  pkg/declarativeconfig/permission_set.go
  roxctl/declarativeconfig/create/access_scope.go
  roxctl/declarativeconfig/create/auth_provider.go
  roxctl/declarativeconfig/create/permission_set.go
  roxctl/declarativeconfig/create/role.go
  roxctl/declarativeconfig/declarativeconfig.go
  roxctl/declarativeconfig/lint/lint.go
  roxctl/declarativeconfig/lint/lint_test.go
Labels: area/roxctl, area/central

#5595 Disable integrations when Central is managed
  central/sensor/service/pipeline/imageintegrations/pipeline.go
  central/sensor/service/service_impl.go
  generated/internalapi/central/hello.pb.go
  proto/internalapi/central/hello.proto
  sensor/common/deduper/deduper.go
  sensor/common/managedcentral/managed.go
  sensor/common/sensor/central_communication_impl.go
  sensor/kubernetes/listener/resources/secrets.go
Labels: area/central, area/sensor

#5525 Patch Sensor for manifests and operator installations
  deploy/common/k8sbased.sh
  tests/e2e/lib.sh
Labels: team/maple

#5594 Control ProcessesListeningOnPort with a BooleanSetting instead of a Feature
  pkg/env/processes_listening_on_port.go
  pkg/features/list.go
  sensor/common/networkflow/manager/manager_impl.go
Labels: area/sensor

#5613 ROX-15219: Add fixable flag to Top Riskiest <thing> widget query
  ui/apps/platform/src/Containers/VulnMgmt/Dashboard/VulnMgmtDashboardPage.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/TopRiskiestEntities.js
Labels: area/ui

#5455 Update prettier 2.8.7 devDependencies in ui
  ui/apps/platform/package.json
  ui/apps/platform/src/Components/workflow/TableCountLinks/TableCountLinks.tsx
  ui/apps/platform/src/Containers/Collections/types.ts
  ui/apps/platform/src/Containers/Dashboard/SummaryCounts.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/AgingImagesChart.tsx
  ui/apps/platform/src/Containers/Network/Header/TimeWindowSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/hooks/useImageVulnerabilities.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/types.ts
  ui/apps/platform/src/types/cve.proto.ts
  ui/apps/platform/src/types/policy.proto.ts
  ui/packages/tailwind-config/package.json
  ui/packages/ui-components/package.json
  ui/yarn.lock
Labels: area/ui

#5556 Improve color contrast for active row in classic tables
  ui/apps/platform/src/app.tw.css
Labels: area/ui

#5513 Store IDs for fake workloads to avoid overly reconciling
  .github/workflows/cut-rc.yml
  go.mod
  go.sum
  pkg/env/scale.go
  scale/dev/launch_sensor.sh
  scale/launch_workload.sh
  sensor/kubernetes/fake/deployment.go
  sensor/kubernetes/fake/fake.go
  sensor/kubernetes/fake/namespace.go
  sensor/kubernetes/fake/networkpolicy.go
  sensor/kubernetes/fake/nodes.go
  sensor/kubernetes/fake/pebble.go
  sensor/kubernetes/fake/rbac.go
  sensor/kubernetes/fake/service.go
Labels: area/sensor

#5620 Update TypeScript 5.0.4 devDependencies in ui
  ui/apps/platform/package.json
  ui/packages/ui-components/package.json
  ui/yarn.lock
Labels: area/ui

#5356 Look at the scope tree to evaluate layer index
  central/graphql/resolvers/image_components.go
Labels: area/central, epic/vm2.0/workload-cves

#5631 Scanner 2.29.2
  SCANNER_VERSION
Labels: ci-all-qa-tests

#5621 Dashrews/cleanup logs getting postgres space
  central/globaldb/postgres.go
  pkg/postgres/pgadmin/admin_utils.go
Labels: area/central, area/postgres

#5462 ROX-14150: Add config maps as input / output for declarative-config commands
  go.mod
  roxctl/declarativeconfig/create/access_scope.go
  roxctl/declarativeconfig/create/access_scope_test.go
  roxctl/declarativeconfig/create/auth_provider.go
  roxctl/declarativeconfig/create/auth_provider_test.go
  roxctl/declarativeconfig/create/create.go
  roxctl/declarativeconfig/create/permission_set.go
  roxctl/declarativeconfig/create/permission_set_test.go
  roxctl/declarativeconfig/create/role.go
  roxctl/declarativeconfig/create/role_test.go
  roxctl/declarativeconfig/declarativeconfig.go
  roxctl/declarativeconfig/k8sobject/k8sobject.go
  roxctl/declarativeconfig/k8sobject/k8sobject_test.go
  roxctl/declarativeconfig/lint/lint.go
  roxctl/declarativeconfig/lint/lint_test.go
Labels: area/roxctl

#5628 Jv change plop warn to debug
  central/processlisteningonport/datastore/datastore_impl.go
  central/sensor/service/pipeline/processlisteningonport/pipeline.go
Labels: area/central

#5510 [ROX-16068] : Fix ImageCVEEdges not getting inserted sometimes
  central/image/datastore/store/postgres/store.go
Labels: area/central

#5339 [ROX-15808] : Existing images should get re-scanned when IgnoreExistingImages option is set when calling EnrichImage
  pkg/images/enricher/enricher_impl.go
  pkg/images/enricher/enricher_impl_test.go
Labels: area/central

#5634 Clean up Collections error message on a not found request
  central/resourcecollection/service/service_impl.go
Labels: ci-all-qa-tests

#5633 Bulk action cve to policy breaks without custom policies
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/CveBulkActionDialogue.js
Labels: area/ui

#5353 Add filter query support to imageCVE graphQL resolver
  central/graphql/resolvers/image_cve_core.go
  central/graphql/resolvers/image_cve_core_test.go
  central/views/imagecve/view_impl.go
  central/views/imagecve/view_test.go
Labels: pls-merge, area/central, epic/vm2.0/workload-cves

#5460 Minor general workload CVE fixes
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/DeploymentPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImagePageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/SummaryCards/BySeveritySummaryCard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageComponentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/SingleEntityVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesDeploymentSinglePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesPage.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#5625 Delete slick-carousel package and styles from UI
  ui/apps/platform/package.json
  ui/apps/platform/src/app.tw.css
  ui/yarn.lock
Labels: area/ui

#5646 Render policy lifecycle stage as text in Configuration Management
  ui/apps/platform/src/Components/LifecycleStageLabel.js
  ui/apps/platform/src/Containers/ConfigManagement/Entity/Policy/Policy.js
  ui/apps/platform/src/Containers/ConfigManagement/Entity/widgets/FailedPoliciesAcrossDeployment.js
  ui/apps/platform/src/Containers/ConfigManagement/List/Policies.js
Labels: area/ui

#5623 Dashrews/upgrade test and plop
  central/sensor/service/common/common.go
  tests/upgrade/postgres_run.sh
Labels: area/central

#5611 ROX-12348, CI: Refactor operator e2e tests
  .openshift-ci/ci_tests.py
  .openshift-ci/post_tests.py
  .openshift-ci/runners.py
  operator/hack/junit_wrap.sh
  operator/tests/run.sh
  scripts/ci/lib.sh
Labels: area/operator

#4954 ROX-10310 Syslog server
  Makefile
  go.mod
  go.sum
  qa-tests-backend/test-images/syslog/Dockerfile
  qa-tests-backend/test-images/syslog/syslog.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/central

#5626 ROX-15351 fix data race between the deployment and service dispatchers
  sensor/kubernetes/listener/resources/deployments.go
Labels: team/maple, area/sensor

#5657 Set re-sync disabled in sensor-integration-tests
  sensor/tests/replay/replay_test.go
  sensor/tests/resource/imagescan/imagescan_test.go
  sensor/tests/resource/networkpolicy/networkpolicy_test.go
  sensor/tests/resource/pod/pod_test.go
  sensor/tests/resource/role/role_test.go
  sensor/tests/resource/service/service_test.go
Labels: team/maple, area/sensor

#5637 CI: Fixes for AKS
  .openshift-ci/post_tests.py
  qa-tests-backend/Makefile
  qa-tests-backend/src/main/groovy/util/Helpers.groovy
  qa-tests-backend/src/test/groovy/ProcessVisualizationTest.groovy
  scripts/ci/collect-service-logs.sh
  scripts/ci/create-webhookserver.sh
  tests/e2e/lib.sh
  tests/e2e/run.sh
Labels: ci-all-qa-tests, ci-release-build, ci-fail-fast

#5630 Delete occurrences of theme accent color
  ui/apps/platform/src/Components/KeyValuePairs.js
  ui/apps/platform/src/Containers/Network/SidePanel/Creator/Tiles/GenerateNetworkPoliciesSection.tsx
  ui/apps/platform/src/Containers/Network/SidePanel/Creator/Tiles/UploadNetworkPolicySection.tsx
  ui/apps/platform/src/Containers/Network/SidePanel/NetworkDeploymentOverlay/DeploymentDetails/ContainerConfigurations.tsx
  ui/apps/platform/src/Containers/Risk/ContainerConfigurations.js
  ui/apps/platform/src/constants/visuals/colors.ts
Labels: area/ui

#5674 Add Tech Preview designation to Operator for connection string
  operator/apis/platform/v1alpha1/central_types.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
Labels: area/operator

#5681 Jv remove rotten endpoints
  sensor/common/networkflow/manager/manager_impl.go
Labels: area/sensor

#5457 ROX-14700: Resolving references in declarative configuration
  central/authprovider/datastore/datastore_impl.go
  central/authprovider/telemetry/telemetry.go
  central/declarativeconfig/updater/access_scope_updater.go
  central/declarativeconfig/updater/auth_provider_updater.go
  central/declarativeconfig/updater/group_updater.go
  central/declarativeconfig/updater/permission_set_updater.go
  central/declarativeconfig/updater/role_updater.go
  central/declarativeconfig/updater/updater.go
  central/group/datastore/datastore.go
  central/group/datastore/datastore_impl.go
  central/group/datastore/datastore_impl_postgres_test.go
  central/group/datastore/datastore_impl_test.go
  central/group/datastore/filter/filter.go
  central/group/datastore/singleton.go
  central/main.go
  central/role/datastore/datastore.go
  central/role/datastore/datastore_impl.go
  central/role/datastore/datastore_impl_test.go
  central/role/datastore/datastore_test_constructors.go
  central/role/datastore/singleton.go
  generated/api/v1/auth_service.swagger.json
  generated/api/v1/authprovider_service.swagger.json
  generated/api/v1/group_service.swagger.json
  generated/api/v1/role_service.swagger.json
  generated/storage/traits.pb.go
  pkg/auth/authproviders/mocks/store.go
  pkg/auth/authproviders/registry_httphandler_test.go
  pkg/auth/authproviders/store.go
  pkg/declarativeconfig/context.go
  pkg/declarativeconfig/origin.go
  pkg/declarativeconfig/origin_test.go
  pkg/fixtures/group.go
  proto/storage/traits.proto
  qa-tests-backend/src/main/groovy/services/RoleService.groovy
  qa-tests-backend/src/test/groovy/DeclarativeConfigTest.groovy
  qa-tests-backend/src/test/groovy/GroupsTest.groovy
  ui/apps/platform/cypress/integration/accessControl/accessControlAuthProviders.test.js
  ui/apps/platform/src/Containers/AccessControl/traits.ts
  ui/apps/platform/src/types/traits.proto.ts
Labels: area/auth, area/central, area/ui

#5591 ROX-16369 Enable operator selective reconciliation
  operator/main.go
  operator/pkg/central/reconciler/reconciler.go
  operator/pkg/central/reconciler/reconciler_test.go
Labels: area/central, area/helm, area/operator

#5706 ROX-12347, ROX-12346: Clean up some prow-era debt.
  .openshift-ci/build/Dockerfile.build-operator-artifacts
  .openshift-ci/build/build-operator-artifacts.sh
  operator/Makefile
  operator/hack/build-index-image.sh
  scripts/style/shellcheck_skip.txt
Labels: area/operator

#5707 Reduce central-db resources in Helm installation scripts
  README.md
  scripts/quick-helm-install.sh
Labels: team/maple

#5692 ROX-14917: Switch Helm versioning to respect Main major version
  CHANGELOG.md
  pkg/version/chart_version_test.go
  pkg/version/version.go
  pkg/version/version_test.go
Labels: team/maple

#5693 Add area/ci label for CI prs
  .github/labeler.yml
Labels: area/ci

#5679 Add a default role for vulnerability management
  CHANGELOG.md
  central/role/datastore/datastore_impl_test.go
  central/role/datastore/permissionset_ids.go
  central/role/datastore/singleton.go
  central/role/default.go
Labels: area/central, epic/vm2.0/workload-cves

#5458 Separate image count query from data loading query in image cve page
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCveSummaryCards.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#5714 Add workflow administration to default vulnerability manager role
  central/role/datastore/singleton.go
Labels: area/central

#5680 ROX-16466: Remove preview from NWG 2.0 and mark 1.0 as deprecated
  ui/apps/platform/cypress/helpers/networkGraph.js
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NetworkGraphNavItems.tsx
  ui/apps/platform/src/Containers/Network/Page.js
  ui/apps/platform/src/routePaths.js
Labels: area/ui, epic/network-graph-4.1

#5604 Reintroduce validation to access scopes within roxctl
  central/role/service/service_impl.go
  central/role/validate.go
  central/role/validate_test.go
  pkg/accessscope/validate.go
  pkg/accessscope/validate_test.go
  roxctl/declarativeconfig/create/access_scope.go
  roxctl/declarativeconfig/create/access_scope_test.go
Labels: area/roxctl, area/central

#5684 ROX-14299: Prefactor roxctl auth
  roxctl/central/db/generate/generate.go
  roxctl/central/debug/download_diagnostics.go
  roxctl/central/debug/dump.go
  roxctl/common/auth.go
  roxctl/common/auth/auth.go
  roxctl/common/auth/basic.go
  roxctl/common/auth/token.go
  roxctl/common/client.go
  roxctl/common/connection.go
  roxctl/common/environment/environment-impl.go
  roxctl/common/zipdownload/download_zip.go
  roxctl/scanner/generate/generate.go
  roxctl/scanner/uploaddb/uploaddb.go
  roxctl/sensor/generate/generate.go
  roxctl/sensor/generate/generate_test.go
  roxctl/sensor/generatecerts/gen_certs.go
  roxctl/sensor/getbundle/get_bundle.go
  roxctl/sensor/util/get_bundle.go
  roxctl/sensor/util/resolve_id_or_name.go
  tests/roxctl/token-file.sh
Labels: area/roxctl

#5725 fix: typos in referencing central-db-image for QA Demo cluster in cut-rc workflow
  .github/workflows/cut-rc.yml
Labels: area/ci

#5575 ROX-15239 Prevent logging warnings when scanning additional-cas and symlinks exist
  central/tlsconfig/testdata/..data
  central/tlsconfig/testdata/symlinked.pem
  central/tlsconfig/testdata/symlinked/cert.pem
  central/tlsconfig/tlsconfig.go
  central/tlsconfig/tlsconfig_test.go
Labels: area/central

#5726 Revert "ROX-14299: Prefactor roxctl auth"
  roxctl/central/db/generate/generate.go
  roxctl/central/debug/download_diagnostics.go
  roxctl/central/debug/dump.go
  roxctl/common/auth.go
  roxctl/common/auth/auth.go
  roxctl/common/auth/basic.go
  roxctl/common/auth/token.go
  roxctl/common/client.go
  roxctl/common/connection.go
  roxctl/common/environment/environment-impl.go
  roxctl/common/zipdownload/download_zip.go
  roxctl/scanner/generate/generate.go
  roxctl/scanner/uploaddb/uploaddb.go
  roxctl/sensor/generate/generate.go
  roxctl/sensor/generate/generate_test.go
  roxctl/sensor/generatecerts/gen_certs.go
  roxctl/sensor/getbundle/get_bundle.go
  roxctl/sensor/util/get_bundle.go
  roxctl/sensor/util/resolve_id_or_name.go
  tests/roxctl/token-file.sh
Labels: area/roxctl

#5642 Delete occurrences of theme secondary color
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.tsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/widgets/ScopedPermissions.js
  ui/apps/platform/src/constants/visuals/colors.ts
  ui/apps/platform/src/utils/vulnerabilityUtils.js
Labels: area/ui

#5696 Replace LabelChip with IconText elements
  ui/apps/platform/cypress/integration/configmanagement/ciscontrols.test.js
  ui/apps/platform/cypress/integration/configmanagement/clusters.test.js
  ui/apps/platform/src/Components/CVSSSeverityLabel.js
  ui/apps/platform/src/Components/PatternFly/IconText/IconText.tsx
  ui/apps/platform/src/Components/PatternFly/IconText/ImageActiveIconText.tsx
  ui/apps/platform/src/Components/PatternFly/IconText/NotApplicableIconText.tsx
  ui/apps/platform/src/Components/PatternFly/IconText/PolicyDisabledIconText.tsx
  ui/apps/platform/src/Components/PatternFly/IconText/PolicySeverityIconText.tsx
  ui/apps/platform/src/Components/PatternFly/IconText/PolicyStatusIconText.tsx
  ui/apps/platform/src/Components/PatternFly/IconText/VulnerabilityFixableIconText.tsx
  ui/apps/platform/src/Components/PatternFly/IconText/VulnerabilitySeverityIconText.tsx
  ui/apps/platform/src/Components/SeverityLabel.js
  ui/apps/platform/src/Components/StatusChip/StatusChip.js
  ui/apps/platform/src/Components/StatusChip/index.js
  ui/apps/platform/src/Containers/ConfigManagement/Entity/Policy/Policy.js
  ui/apps/platform/src/Containers/ConfigManagement/Entity/widgets/DeploymentsWithFailedPolicies.js
  ui/apps/platform/src/Containers/ConfigManagement/Entity/widgets/FailedPoliciesAcrossDeployment.js
  ui/apps/platform/src/Containers/ConfigManagement/List/CISControls.js
  ui/apps/platform/src/Containers/ConfigManagement/List/Clusters.js
  ui/apps/platform/src/Containers/ConfigManagement/List/Deployments.js
  ui/apps/platform/src/Containers/ConfigManagement/List/Namespaces.js
  ui/apps/platform/src/Containers/ConfigManagement/List/Policies.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cluster/VulnMgmtClusterOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Deployment/VulnMgmtDeploymentOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Namespace/VulnMgmtNamespaceOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Policy/VulnMgmtPolicyOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Clusters/VulnMgmtListClusters.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/VulnMgmtListCves.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Deployments/VulnMgmtListDeployments.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Images/VulnMgmtListImages.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Namespaces/VulnMgmtListNamespaces.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Policies/VulnMgmtListPolicies.js
  ui/apps/platform/src/constants/listColumns.js
Labels: area/ui

#5720 fix: UX improvements for clear selections and display for filtered deployments
  ui/apps/platform/src/Containers/NetworkGraph/components/DeploymentSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NamespaceSelector.tsx
Labels: area/ui, epic/network-graph-4.1

#5698 ROX-15030: Deployments table in Workload CVEs Overview page
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CveStatusTabNavigation.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesPage.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#5665 Remove color from CVSS label
  ui/apps/platform/src/Components/TopCvssLabel/TopCvssLabel.js
  ui/apps/platform/src/Components/TopCvssLabel/TopCvssLabel.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cve/VulnMgmtCveOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Components/VulnMgmtListComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/VulnMgmtListCves.js
  ui/apps/platform/src/Containers/VulnMgmt/List/ImageComponents/VulnMgmtListImageComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Images/VulnMgmtListImages.js
  ui/apps/platform/src/Containers/VulnMgmt/List/NodeComponents/VulnMgmtListNodeComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Nodes/VulnMgmtListNodes.js
  ui/apps/platform/src/utils/vulnerabilityUtils.js
  ui/apps/platform/src/utils/vulnerabilityUtils.test.js
Labels: area/ui

#5730 Update cypress 12.10.0 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#5732 Delete occurrence of LabelChip in CveType for obsolete context callout
  ui/apps/platform/src/Components/CveType/CveType.js
  ui/apps/platform/src/Components/CveType/CveType.test.js
  ui/apps/platform/src/Components/CveType/__snapshots__/CveType.test.js.snap
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cve/VulnMgmtCveOverview.js
Labels: area/ui

#5735 Add unit tests for image component graphQL
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_components_postgres_test.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/test_setup_utils.go
  central/graphql/resolvers/test_utils.go
  central/imagecomponentedge/datastore/datastore_test_constructors.go
Labels: area/central, epic/vm2.0/workload-cves

#5729 ROX-16552 Add basic autosense for PSPs in generated sensor.sh scripts.
  image/templates/sensor/kubernetes/sensor.sh
  image/templates/sensor/openshift/sensor.sh
Labels: area/helm

#5711 ROX-16189: Add custom namespace SANs for the scanner and scanner-db certificates
  central/certgen/central_scanner.go
  pkg/certgen/certgen.go
  pkg/certgen/scanner.go
  pkg/certgen/scanner_test.go
  roxctl/central/generate/generate.go
Labels: area/roxctl, area/central

#5189 Sanitize username and password on SMTP AUTH LOGIN (#5126)
  central/notifiers/email/email.go
Labels: ok-to-test, external-contributor

#5738 ROX-14975: Improve `NetworkBaselineTest` diagnostic on flakes
  qa-tests-backend/src/test/groovy/NetworkBaselineTest.groovy
Labels: ci-all-qa-tests, team/maple

#5739 Test count of policies independent of severity in Configuration Management
  ui/apps/platform/cypress/integration/configmanagement/dashboard.test.js
Labels: area/ui

#5710 Removes gke-kernel-qa-e2e-test and makes eks test use eBPF
  scripts/ci/jobs/eks_qa_e2e_tests.py
  scripts/ci/jobs/gke_kernel_qa_e2e_tests.py
Labels: ci-all-qa-tests

#5755 Replace LabelChip with NoEntitiesIconText in Configuration Management
  ui/apps/platform/src/Components/PatternFly/IconText/IconText.tsx
  ui/apps/platform/src/Containers/ConfigManagement/List/Clusters.js
  ui/apps/platform/src/Containers/ConfigManagement/List/Nodes.js
  ui/apps/platform/src/Containers/ConfigManagement/List/Roles.js
  ui/apps/platform/src/Containers/ConfigManagement/List/utilities/NoEntitiesIconText.tsx
Labels: area/ui

#5690 ROX-13668: Add a simple RHCOS e2e test
  qa-tests-backend/src/test/groovy/NodeInventoryTest.groovy
Labels: team/maple

#5708 CI: Allow system:admin for OCP kubeadmin secret access
  qa-tests-backend/src/test/groovy/DefaultPoliciesTest.groovy
Labels: ci-fail-fast

#5758 ROX-16607: Explicitly specify connection string encoding
  image/templates/helm/stackrox-central/templates/01-central-08-external-db-configmap.yaml
Labels: area/helm

#5761 ROX-16608: Normalize process and process listening on ports to utf8
  central/sensor/service/pipeline/processindicators/pipeline.go
  migrator/migrations/n_42_to_n_43_postgres_process_indicators/migration.go
  pkg/process/normalize/normalize.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/processsignal/pipeline.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/central, area/sensor

#5771 Explcitly set Postgres server encoding to UTF8
  image/postgres/scripts/docker-entrypoint.sh
Labels: area/helm, area/postgres

#5746 [ROX-16581][SQF] Add capability to paginate by derived fields
  central/graphql/resolvers/gen/main.go
  central/graphql/resolvers/generated.go
  central/graphql/resolvers/inputtypes/sort_option.go
  generated/api/v1/alert_service.swagger.json
  generated/api/v1/compliance_service.swagger.json
  generated/api/v1/deployment_service.swagger.json
  generated/api/v1/image_service.swagger.json
  generated/api/v1/namespace_service.swagger.json
  generated/api/v1/pagination.pb.go
  generated/api/v1/pod_service.swagger.json
  generated/api/v1/policy_category_service.swagger.json
  generated/api/v1/policy_service.swagger.json
  generated/api/v1/process_service.swagger.json
  generated/api/v1/rbac_service.swagger.json
  generated/api/v1/report_configuration_service.swagger.json
  generated/api/v1/resource_collection_service.swagger.json
  generated/api/v1/role_service.swagger.json
  generated/api/v1/search_service.pb.go
  generated/api/v1/secret_service.swagger.json
  generated/api/v1/service_account_service.swagger.json
  generated/api/v1/vuln_req_service.swagger.json
  pkg/search/postgres/aggregatefunc/aggr_func.go
  pkg/search/postgres/common.go
  pkg/search/postgres/pagination.go
  pkg/search/postgres/select.go
  pkg/search/postgres/select_query_test.go
  pkg/search/query_builder.go
  proto/api/v1/pagination.proto
  proto/api/v1/search_service.proto
Labels: area/central, area/postgres

#5754 Add generic type for deployment gql query response
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentsTable.tsx
Labels: area/ui

#5776 Replace remaining LabelChip with plain text in Vulnerability Management
  ui/apps/platform/src/Components/LabelChip/LabelChip.js
  ui/apps/platform/src/Components/LabelChip/index.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cve/VulnMgmtCveOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Components/VulnMgmtListComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/VulnMgmtListCves.js
  ui/apps/platform/src/Containers/VulnMgmt/List/ImageComponents/VulnMgmtListImageComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/NodeComponents/VulnMgmtListNodeComponents.js
  ui/apps/platform/src/utils/vulnerabilityUtils.js
Labels: area/ui

#5775 Set new Operator icon
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
Labels: area/operator

#5627 ROX-16038 fix data race in the enricher
  sensor/common/detector/enricher.go
Labels: team/maple, area/sensor

#5656 Add cluster role integration tests
  sensor/tests/resource/helper.go
  sensor/tests/resource/role/role_test.go
  sensor/tests/resource/role/yaml/nginx-cluster-binding.yaml
  sensor/tests/resource/role/yaml/nginx-cluster-role.yaml
Labels: team/maple, area/sensor

#5731 ROX-15145: Add environment variables as alternative information source for roxctl global command line flags
  pkg/env/booleansetting.go
  pkg/env/roxctl.go
  roxctl/common/flags/endpoint.go
  roxctl/common/flags/env_flag.go
  roxctl/common/flags/env_flag_test.go
  roxctl/common/flags/no_color.go
Labels: area/roxctl

#5784 Add reporting 2.0 feature flag
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#5786 [ROX-16647] Add support for multisort queries
  central/graphql/generator/codegen/codegen.go
  central/graphql/resolvers/gen/main.go
  central/graphql/resolvers/generated.go
  central/graphql/resolvers/inputtypes/pagination.go
  central/graphql/resolvers/inputtypes/sort_option.go
  central/graphql/resolvers/search_test.go
  generated/api/v1/alert_service.swagger.json
  generated/api/v1/compliance_service.swagger.json
  generated/api/v1/deployment_service.swagger.json
  generated/api/v1/image_service.swagger.json
  generated/api/v1/namespace_service.swagger.json
  generated/api/v1/pagination.pb.go
  generated/api/v1/pod_service.swagger.json
  generated/api/v1/policy_category_service.swagger.json
  generated/api/v1/policy_service.swagger.json
  generated/api/v1/process_service.swagger.json
  generated/api/v1/rbac_service.swagger.json
  generated/api/v1/report_configuration_service.swagger.json
  generated/api/v1/resource_collection_service.swagger.json
  generated/api/v1/role_service.swagger.json
  generated/api/v1/secret_service.swagger.json
  generated/api/v1/service_account_service.swagger.json
  generated/api/v1/vuln_req_service.swagger.json
  pkg/search/paginated/paginated.go
  pkg/search/query_builder.go
  proto/api/v1/pagination.proto
Labels: area/central, epic/vm2.0/workload-cves

#5791 ROX-15028: Adding CVE list to Workload CVEs Overview page
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CveStatusTabNavigation.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/SeverityCountLabels.tsx
  ui/apps/platform/src/constants/visuals/colors.ts
Labels: area/ui, epic/vm2.0/workload-cves

#5801 Replace classic colors with PatternFly vulnSeverityIconColors in SeverityStackedPill
  ui/apps/platform/src/Components/CVEStackedPill/CVEStackedPill.js
  ui/apps/platform/src/Components/CVEStackedPill/SeverityStackedPill.tsx
  ui/apps/platform/src/Components/visuals/PercentageStackedPill/PercentageStackedPill.js
  ui/apps/platform/src/Components/visuals/PercentageStackedPill/index.js
  ui/apps/platform/src/Components/visuals/SeverityStackedPill/SeverityStackedPill.js
  ui/apps/platform/src/Components/visuals/SeverityStackedPill/index.js
Labels: area/ui

#5781 ROX-16554: Rename Helm setting nodeInventoryResources to nodeScanningResources
  image/templates/helm/stackrox-secured-cluster/README.md.htpl
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/internal/defaults/40-resources.yaml
  image/templates/helm/stackrox-secured-cluster/internal/expandables.yaml
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml
  image/templates/helm/stackrox-secured-cluster/values-public.yaml.example
Labels: area/helm

#5673 Workload CVE minor fixes round 2
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCveSummaryCards.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/SummaryCards/CvesByStatusSummaryCard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/SingleEntityVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageDetailBadges.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/hooks/useImageDetails.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/hooks/useImageVulnerabilities.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/searchUtils.tsx
  ui/apps/platform/src/constants/vulnerabilities.ts
Labels: area/ui, epic/vm2.0/workload-cves

#5804 ROX-16648: Change default to not update creds on integration form edit
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ArtifactRegistryIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ArtifactoryIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/AwsSecurityHubIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/AzureIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/DockerIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/EcrIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/EmailIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GcsIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GenericWebhookIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GoogleCloudSccIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GoogleIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/IbmIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/JiraIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/NexusIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/QuayIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/RhelIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/S3IntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/SplunkIntegrationForm.tsx
Labels: area/ui

#5762 CI: Clean up logs
  qa-tests-backend/src/main/groovy/orchestratormanager/OpenShift.groovy
  qa-tests-backend/src/main/groovy/services/GraphQLService.groovy
  qa-tests-backend/src/main/groovy/services/ImageIntegrationService.groovy
  qa-tests-backend/src/main/groovy/services/RoleService.groovy
  qa-tests-backend/src/main/groovy/util/Helpers.groovy
  qa-tests-backend/src/test/groovy/AuditLogAlertsTest.groovy
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/GroupsTest.groovy
  qa-tests-backend/src/test/groovy/SACTest.groovy
  scripts/ci/lib.sh
Labels: ci-all-qa-tests, ci-fail-fast

#5097 Added core_bpf to enum of collection methods
  generated/api/v1/cluster_service.swagger.json
  generated/storage/cluster.pb.go
  operator/apis/platform/v1alpha1/securedcluster_types.go
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/pkg/securedcluster/values/translation/translation.go
  proto/storage/cluster.proto
  roxctl/sensor/generate/collection_method.go
  roxctl/sensor/generate/generate.go
Labels: area/roxctl, area/operator

#5719 Add CVSS to workload cve image single page
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/SingleEntityVulnerabilitiesTable.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#5718 Add empty state for Workload CVE tables when filters return zero results
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/SingleEntityVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/EmptyTableResults.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#5744 ROX-15828: Add share feedback modal
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/MainPage/AcsFeedbackModal.tsx
  ui/apps/platform/src/Containers/MainPage/Header/HelpMenu.tsx
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
  ui/apps/platform/src/css/trumps.css
  ui/apps/platform/src/images/feedback_illo.svg
  ui/apps/platform/src/reducers/feedback.ts
  ui/apps/platform/src/reducers/index.js
  ui/yarn.lock
Labels: area/ui

#5773 Add declarative configuration card to System Health page
  ui/apps/platform/cypress/constants/SystemHealth.js
  ui/apps/platform/cypress/integration/systemHealth/bundle.test.js
  ui/apps/platform/src/Containers/SystemHealth/Components/DeclarativeConfigurationHealthCard.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/IntegrationHealthWidgetVisual.tsx
  ui/apps/platform/src/Containers/SystemHealth/DashboardPage.js
  ui/apps/platform/src/services/IntegrationHealthService.js
Labels: area/ui

#5811 Replace ColorMapPF and cvssSeverityColor with accessible alternatives
  ui/apps/platform/src/Components/PatternFly/CVSSScoreLabel/CVSSScoreLabel.tsx
  ui/apps/platform/src/Components/PatternFly/CVSSScoreLabel/index.ts
  ui/apps/platform/src/Components/PatternFly/IconText/ImageActiveIconText.tsx
  ui/apps/platform/src/Components/PatternFly/IconText/PolicyDisabledIconText.tsx
  ui/apps/platform/src/Components/PatternFly/IconText/PolicySeverityIconText.tsx
  ui/apps/platform/src/Components/PatternFly/IconText/VulnerabilityFixableIconText.tsx
  ui/apps/platform/src/Components/PatternFly/IconText/VulnerabilitySeverityIconText.tsx
  ui/apps/platform/src/Components/PatternFly/VulnerabilitySeverityLabel/VulnerabilitySeverityLabel.tsx
  ui/apps/platform/src/Components/PatternFly/VulnerabilitySeverityLabel/index.ts
  ui/apps/platform/src/Containers/Policies/Detail/PolicyOverview.tsx
  ui/apps/platform/src/Containers/Policies/PolicySeverityLabel.tsx
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTable.tsx
  ui/apps/platform/src/Containers/Violations/violationTableColumnDescriptors.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/DeferredCVEs/DeferredCVEsTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/FalsePositiveCVEs/FalsePositiveCVEsTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ObservedCVEs/ObservedCVEsTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/widgets/CvesByCvssScore.js
  ui/apps/platform/src/constants/severityColors.js
Labels: area/ui

#5803 ROX-16604: NWG 2.0 menu should say active flows, not active traffic
  ui/apps/platform/src/Containers/NetworkGraph/components/EdgeStateSelect.tsx
Labels: area/ui, epic/network-graph-4.1

#5825 Replace uses of severityColorMap from severityColors with accessible alternatives
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/widgets/PolicyViolationsBySeverity.js
  ui/apps/platform/src/Containers/VulnMgmt/widgets/TopRiskyEntitiesByVulnerabilities.js
  ui/apps/platform/src/constants/visuals/colors.ts
Labels: area/ui

#5675 ROX-14331: Enable junit2jira in GHA
  .github/actions/junit2jira/action.yaml
  .github/workflows/unit-tests.yaml
Labels: area/ci

#5799 [ROX-16695] Resource counts by fixability resolver
  central/graphql/resolvers/deployments_test.go
  central/graphql/resolvers/images_test.go
  central/graphql/resolvers/resource_count_by_severity.go
  central/views/common/empty.go
  central/views/common/types.go
  central/views/imagecve/db_response.go
  central/views/imagecve/image_cve.go
  central/views/imagecve/view_impl.go
  central/views/imagecve/view_test.go
Labels: area/central, epic/vm2.0/workload-cves

#5809 ROX-7878: Fix flake "Verify generated network policies"
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Labels: ci-all-qa-tests

#5454 ROX-15780: Add unit tests for diagnostic bundle
  central/debug/service/service_test.go
  central/globaldb/postgres.go
  go.mod
  go.sum
  pkg/postgres/mocks/pool.go
  pkg/postgres/pool.go
Labels: area/central, area/postgres

#5814 refactoring: updating react topology library version
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#5647 Add scaffolding for storage of processed object hashes
  central/hash/datastore/datastore.go
  central/hash/datastore/singleton.go
  central/hash/datastore/store/postgres/gen.go
  central/hash/datastore/store/postgres/store.go
  central/hash/datastore/store/postgres/store_test.go
  central/role/resources/list.go
  generated/storage/hash.pb.go
  pkg/features/list.go
  pkg/postgres/schema/all.go
  pkg/postgres/schema/hashes.go
  pkg/postgres/schema/schema_test.go
  proto/storage/hash.proto
  tools/generate-helpers/pg-table-bindings/list.go
  tools/generate-helpers/pg-table-bindings/schema.go.tpl
Labels: area/central, area/postgres

#5838 Replace classic colors in Compliance Sunburst with PatternFly colors
  ui/apps/platform/src/Containers/Compliance/widgets/ComplianceByStandard.js
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/widgets/ComplianceByControls.js
  ui/apps/platform/src/constants/visuals/colors.ts
Labels: area/ui

#5677 ROX-14324: Use requester scope and target resource to validate cluster existence for NetworkGraph and NetworkPolicy
  central/networkgraph/service/service.go
  central/networkgraph/service/service_impl.go
  central/networkpolicies/service/service.go
  central/networkpolicies/service/service_impl.go
  central/networkpolicies/service/service_impl_test.go
  central/role/sachelper/access.go
  central/role/sachelper/cluster.go
  central/role/sachelper/extract.go
  central/role/sachelper/namespace.go
  central/role/sachelper/pagination.go
  central/role/sachelper/resource_filter.go
  central/role/sachelper/sachelper.go
  central/role/sachelper/scope.go
  central/role/service/service.go
  central/role/service/service_impl.go
  central/role/service/service_impl_test.go
Labels: area/central

#5691 ROX-16038 Regression tests for the data race in the enricher
  sensor/common/detector/enricher_test.go
Labels: team/maple, area/sensor

#5745 Refactor auth in roxctl
  roxctl/central/db/generate/generate.go
  roxctl/central/debug/download_diagnostics.go
  roxctl/central/debug/dump.go
  roxctl/common/auth.go
  roxctl/common/auth/auth.go
  roxctl/common/auth/basic.go
  roxctl/common/auth/token.go
  roxctl/common/client.go
  roxctl/common/connection.go
  roxctl/common/environment/environment-impl.go
  roxctl/common/zipdownload/download_zip.go
  roxctl/scanner/generate/generate.go
  roxctl/scanner/uploaddb/uploaddb.go
  roxctl/sensor/generate/generate.go
  roxctl/sensor/generate/generate_test.go
  roxctl/sensor/generatecerts/gen_certs.go
  roxctl/sensor/getbundle/get_bundle.go
  roxctl/sensor/util/get_bundle.go
  roxctl/sensor/util/resolve_id_or_name.go
  tests/roxctl/token-file.sh
Labels: area/roxctl

#5820 Add ocp test job for core_bpf
  COLLECTOR_VERSION
  scripts/ci/jobs/ocp_core_bpf_qa_e2e_tests.py
Labels: ci-all-qa-tests

#5727 Create common MockResponseWriter
  central/debug/service/service_test.go
  central/scannerdefinitions/handler/handler_test.go
  central/splunk/violations_test.go
  pkg/httputil/error_test.go
  pkg/httputil/mock/response_writer.go
  sensor/common/scannerdefinitions/http_handler_test.go
Labels: area/central, area/sensor

#5816 ROX-16659: Prevent policy lifecycle and criteria change when active alerts exist
  ui/apps/platform/src/Containers/Policies/Wizard/PolicyWizard.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step2/PolicyBehaviorForm.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicyCriteriaForm.tsx
  ui/apps/platform/src/css/trumps.css
Labels: area/ui

#5832 Update eslint-plugin-jest-dom-4.0.3 devDependencies in ui
  ui/apps/platform/package.json
  ui/apps/platform/src/hooks/useWidgetConfig.test.tsx
  ui/apps/platform/src/services/AuthService/AccessTokenManager.test.js
  ui/apps/platform/src/services/AuthService/addTokenRefreshInterceptors.test.js
  ui/apps/platform/src/utils/networkGraphUtils.test.js
  ui/packages/ui-components/package.json
  ui/yarn.lock
Labels: area/ui

#5843 ROX-16784: Junitify roxctl e2e tests
  scripts/ci/lib.sh
  tests/e2e/run.sh
Labels: area/operator
