Repository stackrox/stackrox, pull requests merged in 2023-06, with the labels that each got.

#6235 Remove policies from vulnerability management
  ui/apps/platform/cypress/helpers/vulnmanagement/entities.js
  ui/apps/platform/cypress/integration/vulnmanagement/clusters.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/dashboard.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/deployments.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/entitypages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/namespaces.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/policies.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/policyconfigure.test.js
  ui/apps/platform/src/Containers/VulnMgmt/Components/PoliciesCountTile.js
  ui/apps/platform/src/Containers/VulnMgmt/Dashboard/VulnMgmtDashboardPage.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cluster/VulnMgmtClusterOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Deployment/VulnMgmtDeploymentOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Namespace/VulnMgmtNamespaceOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Clusters/VulnMgmtListClusters.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Deployments/VulnMgmtListDeployments.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Namespaces/VulnMgmtListNamespaces.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Policies/VulnMgmtListPolicies.js
  ui/apps/platform/src/Containers/VulnMgmt/List/VulnMgmtList.js
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.defaultSorts.js
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.fragments.js
  ui/apps/platform/src/utils/__snapshots__/WorkflowState.test.js.snap
  ui/apps/platform/src/utils/entityRelationships.test.js
  ui/apps/platform/src/utils/entityRelationships.ts
Labels: area/ui

#6243 Mention CORE_BPF status
  image/templates/helm/stackrox-secured-cluster/README.md.htpl
  image/templates/helm/stackrox-secured-cluster/values-public.yaml.example
  operator/apis/platform/v1alpha1/securedcluster_types.go
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  roxctl/sensor/generate/generate.go
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.tsx
Labels: area/roxctl, area/ui, area/helm, area/operator

#6216 chore: configure dependabot conventional commit-message
  .github/dependabot.yaml
Labels: area/ci

#6272 [ROX-16898] analyze netpol cmd: update description
  roxctl/analyze/analyze.go
  roxctl/analyze/netpol/netpol.go
Labels: ok-to-test, external-contributor

#6258 ROX-15147: Add CentralCertificate and ScannerCertificate cards to System Health
  ui/apps/platform/src/Containers/MainPage/Banners/CredentialExpiryBanner.tsx
  ui/apps/platform/src/Containers/SystemHealth/CardHeaderIcons.tsx
  ui/apps/platform/src/Containers/SystemHealth/CertificateHealth/CertificateCard.tsx
  ui/apps/platform/src/Containers/SystemHealth/DashboardPage.js
  ui/apps/platform/src/Containers/SystemHealth/DeclarativeConfigurationHealth/DeclarativeConfigurationHealthCard.tsx
  ui/apps/platform/src/Containers/SystemHealth/DiagnosticBundle/DiagnosticBundleForm.tsx
  ui/apps/platform/src/Containers/SystemHealth/DiagnosticBundle/FilterByStartingTimeValidationMessage.tsx
  ui/apps/platform/src/Containers/SystemHealth/DiagnosticBundle/GenerateDiagnosticBundle.tsx
  ui/apps/platform/src/Containers/SystemHealth/DiagnosticBundle/diagnosticBundleUtils.test.ts
  ui/apps/platform/src/Containers/SystemHealth/DiagnosticBundle/diagnosticBundleUtils.ts
  ui/apps/platform/src/Containers/SystemHealth/VulnerabilityDefinitionsHealth/VulnerabilityDefinitionsHealthCard.tsx
  ui/apps/platform/src/utils/credentialExpiry.ts
Labels: area/ui

#6274 Add banner to top of Workload CVE pages
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesPage.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#6227 Update navigation to use UX standardized badges
  ui/apps/platform/cypress/helpers/networkGraph.js
  ui/apps/platform/cypress/helpers/vulnmanagement/entities.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/reporting.helpers.js
  ui/apps/platform/src/Containers/MainPage/Sidebar/BadgedNavItem.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.css
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NetworkGraphNavItems.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#6225 [VM2.0] Enable Vuln Mgmt Workload CVEs feature by default
  pkg/features/list.go
Labels: ci-all-qa-tests, epic/vm2.0/workload-cves

#6278 Add CentralServicesCapabilities to MetadataService
  ui/apps/platform/src/services/MetadataService.ts
Labels: area/ui

#5007 ROX-15340: Add patterns of v1beta1 CronJob and other apis to log checking
  scripts/ci/collect-infrastructure-logs.sh
  scripts/ci/logcheck/blocklist-patterns
Labels: ci-all-qa-tests, team/maple

#6282 [ROX-17504] Add deprecation notice for legacy workload CVEs
  CHANGELOG.md
Labels: epic/vm2.0/workload-cves

#6281 ROX-17503: Filter according to hideScanResults in StandardsAcrossEntity horizontal bar graphs
  ui/apps/platform/src/Containers/Compliance/widgets/StandardsAcrossEntity.js
Labels: area/ui

#6239 ROX-17165: bump Go to 1.20.4
  .github/workflows/build.yaml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
  .openshift-ci/Dockerfile.build_root
  BUILD_IMAGE_VERSION
  EXPECTED_GO_VERSION
  Makefile
  scale/signatures/deploy.yaml
  tests/e2e/run-e2e-tests.sh
Labels: area/ci

#6291 ROX-17177: Add declarative config central capability to central-capabilities endpoint
  central/metadata/centralcapabilities/centralcapabilities.go
  central/metadata/service/service_impl_test.go
  generated/api/v1/metadata_service.pb.go
  generated/api/v1/metadata_service.swagger.json
  proto/api/v1/metadata_service.proto
Labels: area/central

#6276 Remove default filters and local fixability filters
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/FilterChips.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadTableToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/searchUtils.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#6196 Add additional safety check when mapping image vulnerabilities to image metadata
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#6284 ROX-16786: Enhancements to feedback system
  ui/apps/platform/src/Containers/MainPage/AcsFeedbackModal.tsx
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
Labels: area/ui

#6283 ROX-16765: Implement `/v1/central-capabilities` endpoint
  central/metadata/centralcapabilities/centralcapabilities.go
  central/metadata/service/service_impl.go
  central/metadata/service/service_impl_test.go
  generated/api/v1/metadata_service.pb.go
  generated/api/v1/metadata_service.swagger.json
  proto/api/v1/metadata_service.proto
  ui/apps/platform/src/services/MetadataService.ts
Labels: area/central, area/ui

#6261 ROX-16888: Analytics for declarative config feature
  central/authprovider/telemetry/telemetry.go
  central/declarativeconfig/manager.go
  central/declarativeconfig/manager_impl.go
  central/main.go
  central/role/datastore/telemetry.go
  go.mod
Labels: area/central

#6301 Move icons to left of card title in System Health
  ui/apps/platform/cypress/integration/systemHealth/clusters.test.js
  ui/apps/platform/src/Containers/SystemHealth/CardHeaderIcons.tsx
  ui/apps/platform/src/Containers/SystemHealth/CertificateHealth/CertificateCard.tsx
  ui/apps/platform/src/Containers/SystemHealth/ClustersHealth/ClusterStatusCard.tsx
  ui/apps/platform/src/Containers/SystemHealth/ClustersHealth/ClustersHealth.utils.ts
  ui/apps/platform/src/Containers/SystemHealth/ClustersHealth/ClustersHealthCardHeader.tsx
  ui/apps/platform/src/Containers/SystemHealth/ClustersHealth/ClustersHealthCards.tsx
  ui/apps/platform/src/Containers/SystemHealth/ClustersHealth/CredentialExpirationCard.tsx
  ui/apps/platform/src/Containers/SystemHealth/ClustersHealth/SensorUpgradeCard.tsx
  ui/apps/platform/src/Containers/SystemHealth/DeclarativeConfigurationHealth/DeclarativeConfigurationHealthCard.tsx
  ui/apps/platform/src/Containers/SystemHealth/VulnerabilityDefinitionsHealth/VulnerabilityDefinitionsHealthCard.tsx
  ui/apps/platform/src/types/integrationHealth.proto.ts
Labels: area/ui

#6279 ROX-16557: Stop helm and roxctl install with Central PVC
  dev-tools/helmdiff.sh
  image/templates/helm/stackrox-central/README.md.htpl
  image/templates/helm/stackrox-central/templates/_central_setup.tpl
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-central/values-public.yaml.example.htpl
  image/templates/helm/stackrox-central/values.yaml.htpl
  pkg/helm/charts/meta.go
  pkg/helm/charts/tests/centralservices/base_suite_test.go
  pkg/helm/charts/tests/centralservices/flavor/flavor_test.go
  pkg/helm/charts/tests/centralservices/flavor/testdata/helmtest/override/override.test.yaml
  pkg/helm/charts/tests/centralservices/multi_namespace_test.go
  pkg/helm/charts/tests/centralservices/testdata/helmtest/additional-cas.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/central.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/declarative-configuration.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/default-labels.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/injected-cabundle-cm.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/monitoring.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/node-selector.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/openshift-auth.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/openshift-autosense.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/openshift-monitoring.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/persistence.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/psp-autosense.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/sccs.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/telemetry.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/tls-generates.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/tolerations.test.yaml
  pkg/renderer/helm_values.go
  pkg/renderer/kubernetes_test.go
  pkg/renderer/readme.go
  scripts/quick-helm-install.sh
  tests/roxctl/bats-tests/helpers.bash
Labels: area/helm, area/operator

#6305 Generalize fallback for any groupBy category that is not a resourceLabel
  ui/apps/platform/src/Containers/Compliance/List/Table.js
Labels: area/ui

#6302 Update TypeScript 5.1.3 devDependencies in ui
  ui/apps/platform/package.json
  ui/packages/ui-components/package.json
  ui/yarn.lock
Labels: area/ui

#6307 Dashrews/fix gatherer test postgres
  central/telemetry/gatherers/gatherer_test.go
  central/telemetry/gatherers/postgres.go
Labels: area/central

#6290 Make IntegrationsTest multi-arch compliant
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
Labels: ci-all-qa-tests

#5859 ROX-16703 - scanner on *k8s secured clusters (helm)
  CHANGELOG.md
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-slim.test.yaml
Labels: area/helm

#6285 [ROX-17521] Round up time fields to microseconds
  migrator/migrations/n_30_to_n_31_postgres_network_flows/migration_test.go
  migrator/version/convert_versions.go
  migrator/version/convert_versions_test.go
  pkg/postgres/pgutils/utils.go
  pkg/timestamp/utils.go
Labels: area/central, area/postgres

#6329 ROX-17020: Add descriptions below policy event source options in form
  ui/apps/platform/src/Containers/Policies/Wizard/Step2/PolicyBehaviorForm.tsx
Labels: area/ui

#6222 Migrate integration health UI to use PatternFly
  ui/apps/platform/cypress/constants/SystemHealth.js
  ui/apps/platform/cypress/integration/integrations/integrations.helpers.js
  ui/apps/platform/cypress/integration/systemHealth/integrations.test.js
  ui/apps/platform/src/Containers/SystemHealth/Components/BackupIntegrationHealthWidget.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/ImageIntegrationHealthWidget.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/IntegrationHealthWidgetVisual.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/IntegrationsHealth.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/NotifierIntegrationHealthWidget.tsx
  ui/apps/platform/src/Containers/SystemHealth/DashboardPage.js
Labels: area/ui

#6334 Fix on-prem reg panic
  sensor/common/detector/detector.go
  sensor/common/registry/registry_store.go
Labels: ci-all-qa-tests, area/sensor

#6186 ROX-15447 - On-Prem Reg Scanning P2: Ad-Hoc Delegation
  CHANGELOG.md
  central/delegatedregistryconfig/convert/convert.go
  central/delegatedregistryconfig/convert/convert_test.go
  central/delegatedregistryconfig/delegator/delegator.go
  central/delegatedregistryconfig/delegator/delegator_test.go
  central/delegatedregistryconfig/scanwaiter/singleton.go
  central/delegatedregistryconfig/service/service.go
  central/delegatedregistryconfig/service/service_test.go
  central/detection/service/service_impl.go
  central/enrichment/singleton.go
  central/image/service/service.go
  central/image/service/service_impl.go
  central/image/service/singleton.go
  central/sensor/service/connection/connection.go
  central/sensor/service/connection/mocks/connection.go
  generated/api/v1/delegated_registry_config_service.pb.go
  generated/api/v1/delegated_registry_config_service.swagger.json
  generated/api/v1/image_service.pb.go
  generated/internalapi/central/delegated_registry_config.pb.go
  generated/internalapi/central/image.pb.go
  generated/internalapi/central/sensor_iservice.pb.go
  generated/storage/delegated_registry_config.pb.go
  pkg/delegatedregistry/delegator.go
  pkg/delegatedregistry/mocks/delegator.go
  pkg/env/sensor.go
  pkg/images/enricher/enricher.go
  pkg/images/enricher/enricher_impl.go
  pkg/images/enricher/enricher_impl_test.go
  pkg/waiter/manager.go
  pkg/waiter/mocks/manager.go
  pkg/waiter/mocks/waiter.go
  pkg/waiter/waiter.go
  pkg/waiter/waiter_test.go
  proto/api/v1/delegated_registry_config_service.proto
  proto/api/v1/image_service.proto
  proto/internalapi/central/delegated_registry_config.proto
  proto/internalapi/central/image.proto
  proto/internalapi/central/sensor_iservice.proto
  proto/storage/delegated_registry_config.proto
  sensor/common/delegatedregistry/delegated_registry_handler.go
  sensor/common/detector/detector.go
  sensor/common/detector/enricher.go
  sensor/common/detector/enricher_test.go
  sensor/common/image/service_impl.go
  sensor/common/registry/registry_store.go
  sensor/common/registry/registry_store_test.go
  sensor/common/scan/scan.go
  sensor/common/scan/scan_test.go
  sensor/kubernetes/sensor/sensor.go
Labels: area/central, area/sensor

#6333 ROX-17539: Add central capabilities to redux
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
  ui/apps/platform/src/hooks/useCentralCapabilities.ts
  ui/apps/platform/src/index.tsx
  ui/apps/platform/src/reducers/centralCapabilities.ts
  ui/apps/platform/src/reducers/index.js
  ui/apps/platform/src/services/MetadataService.ts
Labels: area/ui

#6288 Workload CVEs: Default filter and other fixes
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/DefaultFilterModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadTableToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/sortUtils.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/types.ts
Labels: area/ui, epic/vm2.0/workload-cves

#6107 ROX-0: Check PR title format
  .github/workflows/check-pr-title.yaml
Labels: area/ci

#6298 Execute CertExpiryTest & CertRotationTest only if central is deployed
  qa-tests-backend/src/main/groovy/util/Env.groovy
  qa-tests-backend/src/test/groovy/CertExpiryTest.groovy
  qa-tests-backend/src/test/groovy/CertRotationTest.groovy
Labels: ci-all-qa-tests

#6346 ROX-16502: future-proof upgrade tests with roxctl generate
  .github/workflows/scripts/prepare-upgrade-test.sh
Labels: area/ci

#6324 Bumps collector version to 3.15.0
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#6299 Use expanded form of pagination component for workload cve tables
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/TableEntityToolbar.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#6330 ROX-17547: Set max fan out for unique processes to 5k in Central and max in Sensor
  central/deployment/datastore/datastore_impl_test.go
  central/pod/datastore/datastore_bench_test.go
  central/pod/datastore/datastore_impl_test.go
  central/processindicator/filter/singleton.go
  central/reprocessor/reprocessor_test.go
  pkg/env/process_filter_max_paths.go
  pkg/process/filter/filter.go
  pkg/process/filter/filter_test.go
  sensor/common/processfilter/filter.go
  sensor/common/processsignal/pipeline_test.go
Labels: area/central, area/sensor

#6327 Additional minor fixes for Workload CVEs
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePageHeader.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
Labels: ci-all-qa-tests, area/central, area/ui, epic/vm2.0/workload-cves

#6352 fix(ui): Remove default filter useEffect from workload cve toolbar
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadTableToolbar.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#6350 fix: system health ui tests: backup integrations test
  ui/apps/platform/cypress/integration/systemHealth/integrations.test.js
Labels: area/ui

#6250 ROX-17021: Update policy criteria short and long names
  ui/apps/platform/cypress/integration/policies/policyWizardStep3.test.js
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicyCriteriaFieldInput.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicyGroupCard.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
Labels: area/ui

#6355 ROX-17177: Disable declarative config system health for ACS CS
  ui/apps/platform/src/Containers/SystemHealth/DashboardPage.js
Labels: area/ui

#6297 fix(qa): Enable executing TLSChallengeTest and UpgradesTest on P/Z
  qa-tests-backend/src/test/groovy/TLSChallengeTest.groovy
  qa-tests-backend/src/test/groovy/UpgradesTest.groovy
Labels: ci-all-qa-tests

#6363 ROX-17563: Require exact match in Access Control integration tests
  ui/apps/platform/cypress/integration/accessControl/accessControl.helpers.js
Labels: area/ui

#6277 ROX-17387: Disable Registry Repo List
  pkg/registries/artifactory/artifactory.go
  pkg/registries/artifactregistry/registry.go
  pkg/registries/azure/azure.go
  pkg/registries/docker/docker.go
  pkg/registries/docker/docker_integration_test.go
  pkg/registries/docker/registry_without_digest_call.go
  pkg/registries/ecr/ecr.go
  pkg/registries/ecr/ecr_test.go
  pkg/registries/factory.go
  pkg/registries/google/google.go
  pkg/registries/google/google_integration_test.go
  pkg/registries/ibm/ibm.go
  pkg/registries/ibm/ibm_integration_test.go
  pkg/registries/nexus/nexus.go
  pkg/registries/quay/quay.go
  pkg/registries/quay/quay_integration_test.go
  pkg/registries/rhel/rhel.go
  pkg/scanners/quay/quay.go
  sensor/common/registry/registry_store.go
  sensor/common/scan/scan.go
Labels: area/sensor

#6360 feat(ui): Add central capabilities cypress test helpers
  ui/apps/platform/cypress/helpers/systemHealth.js
  ui/apps/platform/cypress/helpers/visit.js
  ui/apps/platform/cypress/integration/systemHealth/declarativeConfiguration.test.js
Labels: area/ui

#6348 ROX-17559: Deprecate custom SCCs
  CHANGELOG.md
Labels: team/maple

#6349 ROX-16356: Release automation: switch slack notification channels
  .github/properties
  scripts/ci/lib.sh
  scripts/ci/publish-helm-charts.sh
Labels: area/ci

#6317 refactor: Use declarative config health store and API
  central/declarativeconfig/health/mocks/datastore.go
  central/declarativeconfig/manager_impl.go
  central/declarativeconfig/manager_impl_test.go
  central/declarativeconfig/singleton.go
  central/declarativeconfig/updater/access_scope_updater.go
  central/declarativeconfig/updater/auth_provider_updater.go
  central/declarativeconfig/updater/group_updater.go
  central/declarativeconfig/updater/notifier_updater.go
  central/declarativeconfig/updater/permission_set_updater.go
  central/declarativeconfig/updater/role_updater.go
  central/declarativeconfig/updater/updater.go
  central/declarativeconfig/utils/health.go
  central/declarativeconfig/utils/health_test.go
  central/declarativeconfig/utils/integration_health.go
  pkg/declarativeconfig/uuid.go
  pkg/declarativeconfig/uuid_test.go
  qa-tests-backend/src/main/groovy/services/DeclarativeConfigHealthService.groovy
  qa-tests-backend/src/test/groovy/DeclarativeConfigTest.groovy
  ui/apps/platform/cypress/helpers/systemHealth.js
  ui/apps/platform/cypress/integration/systemHealth/integrations.test.js
  ui/apps/platform/src/Containers/SystemHealth/DeclarativeConfigurationHealth/DeclarativeConfigurationHealthCard.tsx
  ui/apps/platform/src/services/DeclarativeConfigHealthService.ts
  ui/apps/platform/src/types/declarativeConfigHealth.proto.ts
Labels: area/central, area/ui

#6361 ROX-17095: Make anomalous flow counts open Flows tab
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.tsx
Labels: area/ui

#6379 fix: Remove resource replacement banner text for old previous releases
  central/main.go
  ui/apps/platform/src/Containers/AccessControl/AccessControl.tsx
Labels: area/central, area/ui

#6312 ROX-17365: Delegated Scanning Kill Switch
  CHANGELOG.md
  pkg/env/sensor.go
  sensor/common/delegatedregistry/delegated_registry_handler.go
  sensor/kubernetes/listener/resources/secrets.go
  sensor/kubernetes/listener/resources/secrets_test.go
Labels: area/sensor

#6373 ROX-14267: Allow central to `get pods/log`
  image/templates/helm/stackrox-central/templates/01-central-03-diagnostics-rbac.yaml
  pkg/k8sintrospect/collector.go
Labels: area/helm

#6377 ROX-13888: Remove references of Policy and VulnerabilityReports resources
  CHANGELOG.md
  central/detection/buildtime/singleton.go
  central/detection/lifecycle/manager_impl.go
  central/detection/policy_set_impl.go
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/policies.go
  central/graphql/resolvers/resolver.go
  central/main.go
  central/policy/datastore/datastore_impl.go
  central/policy/datastore/datastore_impl_postgres_test.go
  central/policy/datastore/datastore_impl_test.go
  central/policy/datastore/singleton.go
  central/policy/search/searcher_impl.go
  central/policy/service/service_impl.go
  central/policy/store/postgres/store.go
  central/policycategory/datastore/datastore_impl.go
  central/policycategory/datastore/datastore_impl_postgres_test.go
  central/policycategory/datastore/datastore_impl_test.go
  central/policycategory/search/searcher_impl.go
  central/policycategory/service/service_impl.go
  central/policycategory/store/postgres/store.go
  central/policycategoryedge/datastore/datastore_impl.go
  central/policycategoryedge/store/postgres/store.go
  central/reportconfigurations/datastore/datastore.go
  central/reportconfigurations/datastore/datastore_impl.go
  central/reportconfigurations/datastore/datastore_impl_postgres_test.go
  central/reportconfigurations/datastore/datastore_impl_test.go
  central/reportconfigurations/service/common/authorizer.go
  central/reportconfigurations/store/postgres/store.go
  central/reports/manager/manager_impl.go
  central/reports/service/service_impl.go
  central/reports/service/singleton.go
  central/role/datastore/defaults.go
  central/role/resources/list.go
  central/signatureintegration/datastore/datastore_impl.go
  tools/generate-helpers/pg-table-bindings/list.go
  ui/apps/platform/cypress/fixtures/auth/declarativePermissionSet.json
  ui/apps/platform/cypress/fixtures/auth/mypermissionsMinimalAccess.json
  ui/apps/platform/cypress/fixtures/auth/mypermissionsNoAccess.json
  ui/apps/platform/src/Containers/AccessControl/AccessControl.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/ResourceDescription.tsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/Policies/PoliciesPage.tsx
  ui/apps/platform/src/Containers/Search/searchCategories.ts
  ui/apps/platform/src/Containers/VulnMgmt/Reports/Detail/VulnMgmtReportDetail.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportSinglePage.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportTablePage.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Reports/VulnMgmtReportTablePanel.tsx
  ui/apps/platform/src/constants/accessControl.ts
  ui/apps/platform/src/types/roleResources.ts
Labels: area/central, area/ui, area/postgres

#6386 fix(ui): Correctly handle phrasing for date distance text
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/ImageResourceTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/DeploymentResourceTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/DatePhraseTd.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageDetailBadges.tsx
Labels: area/ui

#6380 ROX-17644: Make GlobalSearch test multi-arch compliant
  qa-tests-backend/src/test/groovy/GlobalSearch.groovy
Labels: ci-all-qa-tests

#6391 fix(ui): Remove text colors in Clusters page and side panel
  ui/apps/platform/src/Containers/Clusters/Components/AdmissionControl/AdmissionControlStatus.tsx
  ui/apps/platform/src/Containers/Clusters/Components/AdmissionControl/AdmissionControlStatusTotals.tsx
  ui/apps/platform/src/Containers/Clusters/Components/ClusterDeletion.tsx
  ui/apps/platform/src/Containers/Clusters/Components/ClusterStatus.tsx
  ui/apps/platform/src/Containers/Clusters/Components/Collector/CollectorStatus.tsx
  ui/apps/platform/src/Containers/Clusters/Components/Collector/CollectorStatusTotals.tsx
  ui/apps/platform/src/Containers/Clusters/Components/CredentialExpiration.tsx
  ui/apps/platform/src/Containers/Clusters/Components/HealthLabelWithDelayed.tsx
  ui/apps/platform/src/Containers/Clusters/Components/HealthStatusNotApplicable.tsx
  ui/apps/platform/src/Containers/Clusters/Components/SensorUpgrade.tsx
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.tsx
  ui/apps/platform/src/Containers/SystemHealth/utils/health.tsx
  ui/apps/platform/src/Containers/SystemHealth/utils/integrations.ts
Labels: area/ui

#6204 ROX-16980: Added API changes for aggregatedresults
  central/compliance/service/service_impl.go
Labels: area/central

#6392 ROX-17028: Network policies list inconsistencies
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkPolicies.tsx
  ui/apps/platform/src/hooks/useFetchNetworkPolicies.ts
Labels: area/ui

#6393 fix(ui): Skip hideScanResults integration tests for openshift
  ui/apps/platform/cypress/integration/compliance/hideScanResults.test.js
Labels: area/ui

#6342 Add sac check to blob upsert
  central/blob/datastore/store/store.go
  central/blob/datastore/store/store_test.go
Labels: area/central

#6161 Remove Postgres flag from pkg
  pkg/cve/cve.go
  pkg/dackbox/indexer/metrics.go
  pkg/fixtures/dackbox.go
  pkg/migrations/paths.go
  pkg/migrations/seq_num.go
  pkg/nodes/enricher/enricher_impl.go
  pkg/nodes/enricher/enricher_impl_test.go
  pkg/postgres/deprecated_call.go
  pkg/postgres/pgadmin/admin_utils_test.go
  pkg/postgres/pgutils/retry.go
  pkg/scancomponent/component_id.go
  pkg/scancomponent/scan_component.go
  pkg/search/policycategory/transform.go
  pkg/search/sortfields/fields_map.go
Labels: area/postgres

#6400 chore(e2e): Update cypress 12.14.0 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#6405 fix(ui): Fix incorrect link text in System Health Certificate cards
  ui/apps/platform/src/Containers/SystemHealth/CertificateHealth/CertificateCard.tsx
Labels: area/ui

#6406 ROX-17574,ROX-17575,ROX-17576,ROX-17577,ROX-17578,ROX-17579,ROX-17582,ROX-17583: Bolt store cleanup
  central/config/datastore/singleton.go
  central/config/store/bolt/store.go
  central/config/store/bolt/store_test.go
  central/externalbackups/internal/store/bolt/store_impl.go
  central/externalbackups/internal/store/singleton.go
  central/group/datastore/filter/filter.go
  central/group/datastore/internal/store/bolt/store_impl.go
  central/group/datastore/internal/store/bolt/store_test.go
  central/group/datastore/singleton.go
  central/installation/store/bolt/store.go
  central/installation/store/singleton.go
  central/logimbue/store/bolt/store_impl.go
  central/logimbue/store/singleton.go
  central/notifier/datastore/internal/store/bolt/store_impl.go
  central/notifier/datastore/internal/store/bolt/store_impl_test.go
  central/notifier/datastore/singleton.go
  central/sensorupgradeconfig/datastore/internal/store/bolt/store.go
  central/sensorupgradeconfig/datastore/singleton.go
  central/serviceidentities/internal/store/bolt/store_impl.go
  central/serviceidentities/internal/store/singleton.go
Labels: area/central

#6397 ROX-17586: remove pod rocks store
  central/cluster/datastore/datastore_test_constructors.go
  central/pod/datastore/datastore.go
  central/pod/datastore/datastore_bench_test.go
  central/pod/datastore/datastore_impl.go
  central/pod/datastore/datastore_impl_test.go
  central/pod/datastore/datastore_sac_test.go
  central/pod/datastore/internal/search/searcher_impl.go
  central/pod/datastore/singleton.go
  central/pod/service/service_impl_test.go
  central/pod/store/rocksdb/gen.go
  central/pod/store/rocksdb/store.go
  central/pod/store/rocksdb/store_impl.go
  central/processindicator/datastore/datastore.go
  central/pruning/pruning_test.go
Labels: area/central

#6162 Remove Postgres flag from all packages except Central
  local/hack.go
  migrator/clone/db_clone_manager_impl.go
  migrator/clone/rocksdb/db_clone_manager_impl.go
  migrator/main.go
  migrator/migrations/cvehelper/convert_utils.go
  migrator/runner/all_test.go
  migrator/runner/version.go
  roxctl/central/generate/k8s.go
  roxctl/central/generate/volumes.go
  tests/admctrl_configmap_test.go
  tests/resourcecollection_test.go
Labels: area/roxctl

#6411 ROX-17609, ROX-17610, ROX-17611, ROX-17612, ROX-17613: Remove ComplianceOperator rocksdb stores
  central/complianceoperator/checkresults/datastore/singleton.go
  central/complianceoperator/checkresults/store/rocksdb/gen.go
  central/complianceoperator/checkresults/store/rocksdb/store.go
  central/complianceoperator/checkresults/store/store.go
  central/complianceoperator/manager/manager_test.go
  central/complianceoperator/profiles/datastore/singleton.go
  central/complianceoperator/profiles/store/rocksdb/gen.go
  central/complianceoperator/profiles/store/rocksdb/store.go
  central/complianceoperator/profiles/store/store.go
  central/complianceoperator/rules/datastore/singleton.go
  central/complianceoperator/rules/store/rocksdb/gen.go
  central/complianceoperator/rules/store/rocksdb/store.go
  central/complianceoperator/rules/store/store.go
  central/complianceoperator/scans/datastore/singleton.go
  central/complianceoperator/scans/store/rocksdb/gen.go
  central/complianceoperator/scans/store/rocksdb/store.go
  central/complianceoperator/scans/store/store.go
  central/complianceoperator/scansettingbinding/datastore/singleton.go
  central/complianceoperator/scansettingbinding/store/rocksdb/gen.go
  central/complianceoperator/scansettingbinding/store/rocksdb/store.go
Labels: area/central

#6383 ROX-17595, ROX-17593, ROX-17594: remove rocks store from network flows
  central/cluster/datastore/datastore_test_constructors.go
  central/deployment/datastore/datastore.go
  central/networkbaseline/manager/manager_impl.go
  central/networkgraph/config/datastore/datastore_impl.go
  central/networkgraph/config/datastore/internal/store/rocksdb/gen.go
  central/networkgraph/config/datastore/internal/store/rocksdb/store.go
  central/networkgraph/config/datastore/singleton.go
  central/networkgraph/entity/datastore/datastore_bench_test.go
  central/networkgraph/entity/datastore/datastore_impl.go
  central/networkgraph/entity/datastore/datastore_impl_test.go
  central/networkgraph/entity/datastore/internal/store/rocksdb/gen.go
  central/networkgraph/entity/datastore/internal/store/rocksdb/store.go
  central/networkgraph/entity/datastore/singleton.go
  central/networkgraph/flow/datastore/cluster.go
  central/networkgraph/flow/datastore/flow.go
  central/networkgraph/flow/datastore/flow_impl.go
  central/networkgraph/flow/datastore/internal/store/flow.go
  central/networkgraph/flow/datastore/internal/store/mocks/flow.go
  central/networkgraph/flow/datastore/internal/store/postgres/store.go
  central/networkgraph/flow/datastore/internal/store/rocksdb/cluster_impl.go
  central/networkgraph/flow/datastore/internal/store/rocksdb/flow_impl.go
  central/networkgraph/flow/datastore/internal/store/singleton/singleton.go
  central/networkgraph/flow/datastore/internal/store/testcommon/flow.go
  central/networkgraph/flow/datastore/mocks/flow.go
Labels: area/central

#5993 ROX-3791: Fix grammar for ADD default policy
  pkg/defaults/policies/files/add_instruction.json
  sensor/tests/replay/data/policies.json
Labels: area/sensor

#6394 ROX-17592: remove process indicator rocks store
  central/processbaseline/datastore/datastore.go
  central/processindicator/datastore/bench_test.go
  central/processindicator/datastore/datastore.go
  central/processindicator/datastore/datastore_impl.go
  central/processindicator/datastore/datastore_impl_test.go
  central/processindicator/datastore/datastore_sac_test.go
  central/processindicator/datastore/singleton.go
  central/processindicator/search/searcher_impl.go
  central/processindicator/store/rocksdb/gen.go
  central/processindicator/store/rocksdb/impl.go
  central/processindicator/store/rocksdb/store.go
Labels: area/central

#6399 ROX-17673: Prepare dummy test target for sensor-integration tests
  .openshift-ci/ci_tests.py
  scripts/ci/jobs/ocp_sensor_integration.py
  tests/e2e/run.sh
  tests/e2e/sensor.sh
Labels: area/ci

#6306 ROX-17238 : Add notifier name and collection name to v2 report config proto model
  central/reportconfigurations/service/common/validate.go
  central/reportconfigurations/service/service.go
  central/reportconfigurations/service/service_impl.go
  central/reportconfigurations/service/v2/convert.go
  central/reportconfigurations/service/v2/convert_test.go
  central/reportconfigurations/service/v2/service.go
  central/reportconfigurations/service/v2/service_impl.go
  central/reportconfigurations/service/v2/service_impl_test.go
  central/reportconfigurations/service/v2/validate.go
  central/reportconfigurations/service/validate.go
  generated/api/v2/report_configuration_service.pb.go
  pkg/fixtures/report_configuration.go
  pkg/protoconv/reportconfigurations/report_configuration.go
  proto/api/v2/report_configuration_service.proto
Labels: area/central, epic/vm2.0/reports

#6421 ROX-17616, ROX-17608, ROX-17599: remove rocks from baselines
  central/deployment/datastore/datastore.go
  central/networkbaseline/datastore/datastore_impl.go
  central/networkbaseline/datastore/datastore_impl_test.go
  central/networkbaseline/datastore/datastore_sac_test.go
  central/networkbaseline/datastore/singleton.go
  central/networkbaseline/store/rocksdb/gen.go
  central/networkbaseline/store/rocksdb/store.go
  central/networkbaseline/store/rocksdb/store_impl.go
  central/processbaseline/datastore/datastore.go
  central/processbaseline/datastore/datastore_impl_test.go
  central/processbaseline/datastore/datastore_sac_test.go
  central/processbaseline/datastore/singleton.go
  central/processbaseline/index/gen.go
  central/processbaseline/index/indexer.go
  central/processbaseline/index/indexer_impl.go
  central/processbaseline/index/indexer_impl_test.go
  central/processbaseline/search/searcher.go
  central/processbaseline/search/searcher_impl.go
  central/processbaseline/search/searcher_impl_test.go
  central/processbaseline/service/service_impl_test.go
  central/processbaseline/store/rocksdb/gen.go
  central/processbaseline/store/rocksdb/store.go
  central/processbaselineresults/datastore/datastore.go
  central/processbaselineresults/datastore/datastore_sac_test.go
  central/processbaselineresults/datastore/internal/store/rocksdb/gen.go
  central/processbaselineresults/datastore/internal/store/rocksdb/store.go
  central/processbaselineresults/datastore/singleton.go
Labels: area/central

#6433 fix(ci): Fix CI lint
  central/search/service/service_impl_test.go
  central/telemetry/gatherers/gatherer_test.go
Labels: area/central

#6432 ROX-16515: Temporarily hide dark mode
  ui/apps/platform/src/Containers/MainPage/Header/MastheadToolbar.tsx
  ui/apps/platform/src/Containers/ThemeProvider.js
Labels: area/ui

#6452 fix(roxbot): dress the collector bump automatic PR
  .github/workflows/update_collector_periodic.yaml
Labels: area/ci

#6439 ROX-17606: Remove RocksDB compliance
  central/compliance/datastore/internal/store/rocksdb/rocksdb_store.go
  central/compliance/datastore/internal/store/rocksdb/rocksdb_store_test.go
  central/compliance/datastore/singleton.go
Labels: area/central

#6438 ROX-17617, ROX-17618, ROX-17619: API token, secret, risk RocksDB removal
  central/apitoken/datastore/datastore.go
  central/apitoken/datastore/datastore_impl.go
  central/apitoken/datastore/internal/store/rocksdb/gen.go
  central/apitoken/datastore/internal/store/rocksdb/store.go
  central/apitoken/datastore/singleton.go
  central/deployment/datastore/datastore.go
  central/image/datastore/datastore_test_constructors.go
  central/node/datastore/datastore.go
  central/node/datastore/datastore_bench_test.go
  central/node/datastore/datastore_sac_test.go
  central/risk/datastore/datastore.go
  central/risk/datastore/datastore_impl.go
  central/risk/datastore/datastore_impl_test.go
  central/risk/datastore/datastore_sac_test.go
  central/risk/datastore/internal/store/rocksdb/gen.go
  central/risk/datastore/internal/store/rocksdb/store.go
  central/risk/datastore/internal/store/rocksdb/store_impl.go
  central/risk/datastore/singleton.go
  central/secret/datastore/datastore.go
  central/secret/datastore/datastore_impl.go
  central/secret/datastore/datastore_sac_test.go
  central/secret/datastore/datastore_test.go
  central/secret/datastore/singleton.go
  central/secret/internal/store/rocksdb/gen.go
  central/secret/internal/store/rocksdb/store.go
Labels: area/central

#6412 ROX-17600, ROX-17614, ROX-17588, ROX-17589: Remove RocksDB rbac and clusterinit
  central/clusterinit/backend/backend_test.go
  central/clusterinit/store/rocksdb/gen.go
  central/clusterinit/store/rocksdb/store.go
  central/clusterinit/store/singleton/singleton.go
  central/clusterinit/store/tests/store.go
  central/clusterinit/store/tests/store_test.go
  central/pruning/pruning_test.go
  central/rbac/k8srole/datastore/datastore.go
  central/rbac/k8srole/datastore/datastore_impl.go
  central/rbac/k8srole/datastore/datastore_sac_test.go
  central/rbac/k8srole/datastore/singleton.go
  central/rbac/k8srole/internal/store/rocksdb/gen.go
  central/rbac/k8srole/internal/store/rocksdb/store.go
  central/rbac/k8srolebinding/datastore/datastore.go
  central/rbac/k8srolebinding/datastore/datastore_impl.go
  central/rbac/k8srolebinding/datastore/datastore_sac_test.go
  central/rbac/k8srolebinding/datastore/singleton.go
  central/rbac/k8srolebinding/internal/store/rocksdb/gen.go
  central/rbac/k8srolebinding/internal/store/rocksdb/store.go
  central/serviceaccount/datastore/datastore.go
  central/serviceaccount/datastore/datastore_impl.go
  central/serviceaccount/datastore/datastore_impl_test.go
  central/serviceaccount/datastore/datastore_sac_test.go
  central/serviceaccount/datastore/singleton.go
  central/serviceaccount/internal/store/rocksdb/gen.go
  central/serviceaccount/internal/store/rocksdb/store.go
Labels: area/central

#6413 ROX-17596, ROX-17597, ROX-17598: Remove RocksDB in central/role
  central/role/datastore/datastore_test_constructors.go
  central/role/datastore/singleton.go
  central/role/store/permissionset/rocksdb/gen.go
  central/role/store/permissionset/rocksdb/store.go
  central/role/store/role/rocksdb/gen.go
  central/role/store/role/rocksdb/store.go
  central/role/store/simpleaccessscope/rocksdb/gen.go
  central/role/store/simpleaccessscope/rocksdb/store.go
Labels: area/central

#6434 fix(ui): Delete unneeded Tailwind font weight (part 3)
  ui/apps/platform/src/Components/InfoList/InfoList.js
  ui/apps/platform/src/Components/LinkListWidget.js
  ui/apps/platform/src/Components/NumberedGrid/NumberedGrid.js
  ui/apps/platform/src/Components/NumberedList/NumberedList.js
  ui/apps/platform/src/Components/TableGroup.js
  ui/apps/platform/src/Containers/Clusters/Components/FormFieldRequired.js
  ui/apps/platform/src/Containers/ConfigManagement/Entity/widgets/Rules.js
  ui/apps/platform/src/Containers/Images/CVETable.js
  ui/apps/platform/src/Containers/Images/VulnsTable.js
  ui/apps/platform/src/Containers/MainPage/Header/OrchestratorComponentsToggle.tsx
  ui/apps/platform/src/Containers/Risk/Process/BinaryCollapsible.js
  ui/apps/platform/src/Containers/Risk/Process/DiscoveryCardHeader.js
  ui/apps/platform/src/Containers/Risk/SecurityContext.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cve/VulnMgmtCveOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/CveBulkActionDialogue.js
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmtComponents/FixableCveExportButton.js
Labels: area/ui

#6443 ROX-17605: Remove namespace RocksDB
  central/dackbox/sac.go
  central/graphql/resolvers/test_setup_utils.go
  central/idmap/context.go
  central/idmap/idmap.go
  central/idmap/shared_storage.go
  central/idmap/shared_storage_bench_test.go
  central/idmap/shared_storage_test.go
  central/idmap/singleton.go
  central/idmap/storage.go
  central/namespace/datastore/datastore.go
  central/namespace/datastore/datastore_sac_test.go
  central/namespace/datastore/datastore_test.go
  central/namespace/datastore/singleton.go
  central/namespace/store/rocksdb/gen.go
  central/namespace/store/rocksdb/store.go
Labels: area/central

#6445 ROX-17607: Remove RocksDB signature integration and add errox to Postgres
  central/signatureintegration/datastore/datastore_test.go
  central/signatureintegration/datastore/singleton.go
  central/signatureintegration/store/rocksdb/gen.go
  central/signatureintegration/store/rocksdb/store.go
  pkg/postgres/batch.go
  pkg/postgres/conn.go
  pkg/postgres/error.go
  pkg/postgres/pool_impl.go
Labels: area/central, area/postgres

#6429 ROX-17590, ROX-17591: remove rocks from clusters
  central/cluster/datastore/datastore.go
  central/cluster/datastore/datastore_impl.go
  central/cluster/datastore/datastore_impl_postgres_test.go
  central/cluster/datastore/datastore_impl_test.go
  central/cluster/datastore/datastore_sac_test.go
  central/cluster/datastore/datastore_test_constructors.go
  central/cluster/datastore/singleton.go
  central/cluster/store/cluster/rocksdb/gen.go
  central/cluster/store/cluster/rocksdb/store.go
  central/cluster/store/clusterhealth/rocksdb/gen.go
  central/cluster/store/clusterhealth/rocksdb/store.go
  central/componentcveedge/datastore/datastore_sac_test.go
  central/cve/fetcher/manager_impl_postgres_test.go
  central/graphql/resolvers/test_setup_utils.go
  central/nodecomponentcveedge/datastore/datastore_sac_test.go
  central/pruning/pruning_test.go
Labels: area/central

#6408 [ROX-17620] Remove deprecated graphQL resolvers
  central/cve/common/csv/handler_test.go
  central/cve/csv/handler.go
  central/graphql/handler/handler.go
  central/graphql/resolvers/cluster_vulnerabilities.go
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/components.go
  central/graphql/resolvers/components_v1.go
  central/graphql/resolvers/components_v2.go
  central/graphql/resolvers/components_v2_test.go
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_cve_core_test.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/loaders/cluster_cves.go
  central/graphql/resolvers/loaders/cves.go
  central/graphql/resolvers/loaders/cves_test.go
  central/graphql/resolvers/loaders/image_cves.go
  central/graphql/resolvers/loaders/images.go
  central/graphql/resolvers/loaders/images_test.go
  central/graphql/resolvers/loaders/node_components.go
  central/graphql/resolvers/loaders/node_cves.go
  central/graphql/resolvers/loaders/nodes.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/node_components.go
  central/graphql/resolvers/node_components_v1.go
  central/graphql/resolvers/node_vulnerabilities.go
  central/graphql/resolvers/nodes.go
  central/graphql/resolvers/plotted_image_vulnerabilities.go
  central/graphql/resolvers/plotted_node_vulnerabilities.go
  central/graphql/resolvers/plotted_vulnerabilities.go
  central/graphql/resolvers/plotted_vulnerabilities_common.go
  central/graphql/resolvers/resolver.go
  central/graphql/resolvers/search.go
  central/graphql/resolvers/search_test.go
  central/graphql/resolvers/service_accounts.go
  central/graphql/resolvers/test_utils.go
  central/graphql/resolvers/utils.go
  central/graphql/resolvers/vulnerabilities.go
  central/graphql/resolvers/vulnerabilities_v1.go
  central/graphql/resolvers/vulnerabilities_v2.go
Labels: area/central

#6454 ROX-17715: Delete non-postgres code in Collections UI
  ui/apps/platform/cypress/integration/collections/collectionsCrudWorkflow.test.js
  ui/apps/platform/cypress/integration/collections/collectionsTable.test.js
  ui/apps/platform/cypress/integration/collections/deploymentMatching.test.js
  ui/apps/platform/cypress/integration/collections/permissions.test.js
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/hooks/useFetchReport.ts
Labels: area/ui

#6440 ROX-17601: Remove RocksDB for alerts
  central/alert/datastore/bench_test.go
  central/alert/datastore/datastore.go
  central/alert/datastore/datastore_impl.go
  central/alert/datastore/datastore_sac_test.go
  central/alert/datastore/internal/store/rocksdb/gen.go
  central/alert/datastore/internal/store/rocksdb/store.go
  central/alert/datastore/singleton.go
  central/pruning/pruning_test.go
  central/splunk/violations_query_test.go
Labels: area/central

#6401 ROX-17668: pod pruning no walk
  central/postgres/pruning.go
  central/postgres/pruning_test.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
Labels: area/central

#6466 ROX-17736: Delete non-postgres conditional code in ui-e2e-tests
  ui/apps/platform/cypress/fixtures/vulnerabilities/fixableCvesForEntityLegacy.json
  ui/apps/platform/cypress/helpers/vulnmanagement/entities.js
  ui/apps/platform/cypress/integration/vulnmanagement/clusterCves.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/clusters.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/componentsNonPostgress.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/cvesNonPostgress.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/dashboard.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/dashboardToEntityPage.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/deployments.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/deploymentsNonPostgress.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/entitypages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/imageComponents.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/imageCves.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/images.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/namespaces.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/namespacesNonPostgress.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/nodeComponents.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/nodeCves.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/nodes.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/reporting.helpers.js
  ui/apps/platform/cypress/integration/vulnmanagement/reporting/reportingForm.test.js
Labels: area/ui

#6424 ROX-16969: Make ProcessesListeningOnPortsTest multi-arch compliant
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
Labels: ci-all-qa-tests

#6425 fix(qa): Skip QA tests on P/Z when central & scanner is on X
  qa-tests-backend/src/test/groovy/NetworkSimulator.groovy
  qa-tests-backend/src/test/groovy/NodeInventoryTest.groovy
  qa-tests-backend/src/test/groovy/TLSChallengeTest.groovy
Labels: ci-all-qa-tests

#6461 chore(ci): update periodic Scanner bump PR title
  .github/workflows/update_scanner_periodic.yaml
Labels: area/scanner, area/ci

#6465 refactor: Re-Introduce singleton for debug service
  central/authprovider/registry/singleton.go
  central/debug/service/singleton.go
  central/declarativeconfig/singleton.go
  central/declarativeconfig/updater/updater.go
  central/main.go
  central/trace/singleton.go
  pkg/auth/authproviders/registry_impl.go
Labels: area/auth, area/central

#6458 fix(test): faulty API Token expiration notification test
  Makefile
  central/apitoken/expiration/expiration_test.go
Labels: area/central

#6460 ROX-16547: remove restriction on ca-cert filename extension
  central/tlsconfig/testdata/cert.txt
  central/tlsconfig/tlsconfig.go
  central/tlsconfig/tlsconfig_test.go
Labels: area/central

#6480 ROX-17673: Add target for GKE-based sensor-integration tests
  .openshift-ci/dispatch.sh
  scripts/ci/jobs/gke_sensor_integration_tests.py
Labels: area/ci

#6456 [ROX-17732] Remove unused CVE datastore
  central/cve/cluster/datastoretest/datastore_sac_test.go
  central/cve/datastore/datastore.go
  central/cve/datastore/datastore_impl.go
  central/cve/datastore/datastore_impl_test.go
  central/cve/datastore/mocks/datastore.go
  central/cve/datastore/singleton.go
  central/cve/datastoretest/image_cve_from_generic_cve_datastore.go
  central/cve/datastoretest/node_cve_from_generic_cve_datastore.go
  central/cve/datastoretest/test.go
  central/cve/fetcher/manager.go
  central/cve/fetcher/manager_impl.go
  central/cve/fetcher/manager_impl_test.go
  central/cve/fetcher/orchestrator.go
  central/cve/fetcher/singleton.go
  central/cve/index/indexer.go
  central/cve/index/mocks/indexer.go
  central/cve/node/datastore/datastore_impl_test.go
  central/cve/sac/sac.go
  central/cve/service/service.go
  central/cve/service/service_impl.go
  central/cve/service/singleton.go
  central/cve/suppress/reprocessor.go
  central/deployment/datastore/datastore_bench_test.go
  central/deployment/datastore/internal/search/searcher.go
  central/enrichment/singleton.go
  central/graphql/resolvers/vulnerability_requests_test.go
  central/image/datastore/datastore.go
  central/image/datastore/datastore_bench_test.go
  central/image/datastore/datastore_impl_postgres_test.go
  central/image/datastore/datastore_impl_test.go
  central/image/datastore/search/searcher.go
  central/main.go
  central/namespace/datastore/datastore.go
  central/reprocessor/reprocessor_test.go
  central/vulnerabilityrequest/manager/querymgr/query_manager_impl_test.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl_test.go
  generated/api/v1/cve_service.pb.go
  generated/api/v1/cve_service.pb.gw.go
  generated/api/v1/cve_service.swagger.json
  proto/api/v1/cve_service.proto
  qa-tests-backend/src/main/groovy/services/CVEService.groovy
  qa-tests-backend/src/test/groovy/AdmissionControllerTest.groovy
Labels: area/central

#6464 fix(ui): Delete occurrences of Tailwind uppercase part 4
  ui/apps/platform/cypress/integration/configmanagement/ConfigurationManagement.helpers.js
  ui/apps/platform/cypress/integration/configmanagement/clusters.test.js
  ui/apps/platform/cypress/integration/configmanagement/roles.test.js
  ui/apps/platform/src/Components/BinderTabs/BinderTabs.tsx
  ui/apps/platform/src/Components/GroupedTabs.js
  ui/apps/platform/src/Components/Tabs.js
Labels: area/ui

#6467 chore(ui): Update Yup library for June 2023
  ui/apps/platform/cypress/integration/integrations/notifiers.test.js
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#6469 ROX-13585: Delete non-postgres conditional code in Access Control UI
  ui/apps/platform/cypress/integration/accessControl/accessControlPermissionSets.test.js
  ui/apps/platform/src/Containers/AccessControl/Roles/Roles.tsx
  ui/apps/platform/src/services/AccessScopesService.ts
Labels: area/ui

#6468 [ROX-177] Remove dackbox transformations
  central/activecomponent/datastore/datastore_impl.go
  central/activecomponent/sac/sac.go
  central/cluster/sac/sac.go
  central/clustercveedge/datastore/datastore_impl.go
  central/clustercveedge/sac/sac.go
  central/componentcveedge/datastore/datastore_impl.go
  central/componentcveedge/sac/sac.go
  central/dackbox/active_component.go
  central/dackbox/cluster.go
  central/dackbox/cluster_cve_edge.go
  central/dackbox/component.go
  central/dackbox/component_cve_edge.go
  central/dackbox/cve.go
  central/dackbox/deployment.go
  central/dackbox/graph_transforms.go
  central/dackbox/image.go
  central/dackbox/image_component_edge.go
  central/dackbox/image_cve_edge.go
  central/dackbox/key_transformations.go
  central/dackbox/namespace.go
  central/dackbox/node.go
  central/dackbox/node_component_edge.go
  central/dackbox/node_cve_edge.go
  central/dackbox/options.go
  central/dackbox/resource_paths.go
  central/dackbox/sac.go
  central/dackbox/shared_object_sac_filter.go
  central/dackbox/shared_object_sac_filter_test.go
  central/deployment/datastore/datastore.go
  central/deployment/datastore/datastore_bench_test.go
  central/deployment/sac/sac.go
  central/image/datastore/datastore_test_constructors.go
  central/image/datastore/search/searcher_impl.go
  central/image/datastore/search/searcher_impl_v2.go
  central/image/sac/sac.go
  central/imagecomponent/datastore/datastore_impl.go
  central/imagecomponent/sac/sac.go
  central/imagecomponentedge/datastore/datastore_impl.go
  central/imagecomponentedge/sac/sac.go
  central/imagecveedge/datastore/datastore_impl.go
  central/imagecveedge/sac/sac.go
  central/namespace/sac/sac.go
  central/networkgraph/config/datastore/datastore_impl.go
  central/networkgraph/flow/datastore/cluster.go
  central/node/sac/sac.go
  central/nodecomponentedge/datastore/datastore_impl.go
  central/nodecomponentedge/sac/sac.go
  central/processbaseline/datastore/datastore.go
  central/processbaselineresults/datastore/datastore.go
Labels: area/central

#6483 feat(ui): Add external link icon to workload cve distro links
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePageHeader.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#6487 ROX-17763: Delete non-postgres code in Risk Acceptance UI
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/CVESummaryLink.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/DeferredCVEs/DeferredCVEs.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/FalsePositiveCVEs/FalsePositiveCVEs.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ObservedCVEs/ObservedCVEs.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/imageVulnerabilities.graphql.ts
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/useImageVulnerabilities.ts
Labels: area/ui

#6332 refactor: Replace Stale in alert function names with Resolved
  central/alert/datastore/bench_postgres_test.go
  central/alert/datastore/datastore.go
  central/alert/datastore/datastore_impl.go
  central/alert/datastore/datastore_sac_test.go
  central/alert/datastore/datastore_test.go
  central/alert/datastore/mocks/datastore.go
  central/cluster/datastore/datastore_impl.go
  central/detection/alertmanager/alert_manager_impl.go
  central/detection/alertmanager/alert_manager_impl_test.go
  central/detection/lifecycle/manager_impl.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
Labels: area/central

#6463 ROX-17734: sensor script psps
  image/templates/sensor/kubernetes/sensor.sh
Labels: area/helm, area/sensor, ci-build-race-condition-debug

#6484 ROX-17673: Remove pre and post tests from sensor-integration target
  .openshift-ci/pre_tests.py
  scripts/ci/jobs/gke_sensor_integration_tests.py
  scripts/ci/jobs/ocp_sensor_integration_tests.py
Labels: area/ci

#6221 ROX-17317: offline v1 image service does not forward messages
  pkg/expiringcache/cache.go
  pkg/expiringcache/mocks/cache.go
  sensor/common/image/interfaces.go
  sensor/common/image/mocks/interfaces.go
  sensor/common/image/service_impl.go
  sensor/common/image/service_impl_test.go
  sensor/common/scan/scan.go
  sensor/kubernetes/sensor/sensor.go
Labels: team/maple, area/sensor

#6504 ROX-14261: add accessibility text to upstream release Slack messages
  .github/workflows/cut-rc.yml
  .github/workflows/finish-release.yml
  .github/workflows/start-release.yml
  .github/workflows/upgrade-test.yml
Labels: area/ci

#6508 fix: Remove unused constant from declarativeconfig/manager_impl
  central/declarativeconfig/manager_impl.go
Labels: area/central

#6404 [ROX-16565] : Add report metadata data model
  central/globalindex/mapping/mapping.go
  central/reports/metadata/datastore/datastore.go
  central/reports/metadata/datastore/datastore_impl.go
  central/reports/metadata/datastore/datastore_impl_test.go
  central/reports/metadata/datastore/index/index.go
  central/reports/metadata/datastore/mocks/datastore.go
  central/reports/metadata/datastore/search/mocks/searcher.go
  central/reports/metadata/datastore/search/searcher.go
  central/reports/metadata/datastore/search/searcher_impl.go
  central/reports/metadata/datastore/singleton.go
  central/reports/metadata/datastore/store/postgres/gen.go
  central/reports/metadata/datastore/store/postgres/index.go
  central/reports/metadata/datastore/store/postgres/store.go
  central/reports/metadata/datastore/store/postgres/store_test.go
  generated/api/v1/search_service.pb.go
  generated/api/v1/search_service.swagger.json
  generated/storage/report.pb.go
  pkg/fixtures/report_metadata.go
  pkg/postgres/schema/report_metadata.go
  pkg/search/options.go
  proto/api/v1/search_service.proto
  proto/storage/report.proto
  tools/generate-helpers/pg-table-bindings/list.go
Labels: area/central, area/postgres, epic/vm2.0/reports

#6490 ROX-17771: upgrader and psps
  image/embed_charts.go
  sensor/upgrader/bundle/context.go
  sensor/upgrader/bundle/instantiator.go
  sensor/upgrader/bundle/instantiator_test.go
  sensor/upgrader/common/filter.go
  sensor/upgrader/upgradectx/context.go
Labels: area/helm, area/sensor

#6515 [ROX-17705] Update TestDeploymentSearchResults to run on postgres
  central/deployment/datastore/search_comparison_test.go
Labels: area/central

#6495 Remove postgres flag and access scope usage from reports
  central/reportconfigurations/service/service.go
  central/reportconfigurations/service/service_impl.go
  central/reportconfigurations/service/service_impl_postgres_test.go
  central/reportconfigurations/service/service_impl_test.go
  central/reportconfigurations/service/singleton.go
  central/reportconfigurations/service/validate.go
  central/reports/common/query_builder.go
  central/reports/common/query_builder_test.go
  central/reports/scheduler/schedule.go
  central/reports/service/service.go
  central/reports/service/service_impl.go
  central/reports/service/singleton.go
Labels: area/central, epic/vm2.0/reports

#6513 refactor: Remove lingering RocksDB references
  central/alert/datastore/datastore_sac_test.go
  central/globaldb/close.go
  central/globaldb/common.go
  central/globaldb/postgres.go
  central/globaldb/rocksdb.go
  central/globaldb/v2backuprestore/common/common.go
  central/integrationhealth/datastore/datastore_impl_test.go
  central/metrics/central.go
  central/processbaseline/service/service_impl_test.go
  central/rbac/k8srolebinding/datastore/datastore_sac_test.go
  central/role/datastore/datastore.go
  central/role/datastore/datastore_impl.go
  central/serviceaccount/datastore/datastore_impl_test.go
  central/systeminfo/listener/listener.go
  central/telemetry/gatherers/rocksdb.go
  tests/backup_test.go
Labels: area/central, area/postgres

#6517 refactor: Remove bleve from Compliance by using predicates
  central/compliance/checks/all_test.go
  central/compliance/manager/test/manager_test.go
  central/compliance/standards/registry.go
  central/compliance/standards/registry_singleton.go
  central/compliance/standards/registry_test.go
  central/complianceoperator/manager/manager_test.go
  pkg/search/predicate/basematchers/base_matchers.go
Labels: area/central

#6437 ROX-16905: Initial scanner v4 proto definitions
  generated/internalapi/scanner/v4/common.pb.go
  generated/internalapi/scanner/v4/index_report.pb.go
  generated/internalapi/scanner/v4/indexer_service.pb.go
  generated/internalapi/scanner/v4/matcher_service.pb.go
  generated/internalapi/scanner/v4/vulnerability_report.pb.go
  go.mod
  proto/internalapi/scanner/v4/common.proto
  proto/internalapi/scanner/v4/index_report.proto
  proto/internalapi/scanner/v4/indexer_service.proto
  proto/internalapi/scanner/v4/matcher_service.proto
  proto/internalapi/scanner/v4/vulnerability_report.proto
  scanner/cmd/scanner.go
  scanner/go.mod
  scanner/go.sum
Labels: area/scanner

#6472 ROX-17093: Use ABORTED status for throttling scanner calls
  central/image/service/service_impl.go
Labels: area/central

#6403 ROX-17655: fix declarative config "orpaned resources" test
  qa-tests-backend/src/test/groovy/DeclarativeConfigTest.groovy
Labels: area/central

#6539 chore(ui): Run unit tests without code coverage by default
  ui/apps/platform/package.json
Labels: area/ui

#6535 Tm/test scanner updater checkout
  .github/workflows/updater-check.yaml
  scanner/updater/version/RELEASE_VERSION
Labels: area/scanner, area/ci

#6519 ROX-17770: Delete non-postgres code in getFragmentInfo functions
  ui/apps/platform/src/Containers/Workflow/WorkflowEntityPage.js
  ui/apps/platform/src/utils/queryService.js
  ui/apps/platform/src/utils/queryService.test.js
Labels: area/ui

#6528 refactor: Remove SAC helpers
  central/alert/datastore/internal/search/searcher_impl.go
  central/pod/datastore/internal/search/searcher_impl.go
  central/processbaseline/search/searcher_impl.go
  central/processindicator/search/searcher_impl.go
  central/rbac/k8srole/search/searcher_impl.go
  central/rbac/k8srolebinding/search/searcher_impl.go
  central/risk/datastore/internal/search/searcher_impl.go
  central/secret/search/searcher_impl.go
  central/serviceaccount/search/searcher_impl.go
  pkg/sac/for_resource_helpers.go
  pkg/sac/search_helper.go
  pkg/sac/tests/search_helper_test.go
Labels: area/auth, area/central

#6416 ROX-17674: Move sensor integration tests to a separate target
  .openshift-ci/ci_tests.py
  scripts/ci/jobs/ocp_sensor_integration_tests.py
  sensor/tests/connection/yaml/nginx.yaml
  sensor/tests/connection/yaml/nginx2.yaml
  tests/e2e/run.sh
  tests/e2e/sensor.sh
Labels: team/maple, area/sensor, area/ci

#6530 ROX-17872: Remove ROX_NETPOL_FIELDS feature flag
  central/policy/service/service_impl.go
  central/policy/service/validator.go
  central/policy/service/validator_test.go
  pkg/booleanpolicy/default_policies_test.go
  pkg/booleanpolicy/field_metadata.go
  pkg/defaults/policies/policies.go
  pkg/features/list.go
  sensor/common/detector/detector.go
  sensor/kubernetes/listener/resources/networkpolicy.go
  sensor/kubernetes/listener/resources/networkpolicy_test.go
  tests/networkpolicy_test.go
Labels: team/maple, area/central, area/sensor

#6534 ROX-17623: Accept Collector restarts on Sensor unavailability
  scripts/ci/logcheck/restart-ok-patterns.json
Labels: ci-all-qa-tests, area/ci

#6546 style: Use `make --quiet --no-print-directory` everywhere
  .github/workflows/build.yaml
  dev-tools/upgrade-dev-secured-cluster.sh
  operator/README.md
  release/scripts/vuln_check.sh
  scale/chaos/deploy.sh
  scripts/ci/bats/lib_release_version_test.bats
  scripts/ci/jobs/local-roxctl-tests.sh
  scripts/ci/jobs/push-images.sh
  scripts/ci/lib.sh
  scripts/offline-bundle/create.sh
  tests/e2e/run.sh
  tests/upgrade/legacy_to_postgres_run.sh
  tests/upgrade/lib.sh
  tests/upgrade/postgres_run.sh
Labels: area/operator, area/ci

#6502 ROX-17661: fix declarative config "successful creation" test
  qa-tests-backend/src/test/groovy/DeclarativeConfigTest.groovy
Labels: area/central, area/ci

#6531 ROX-14943: Remove netpol go tests in favor of integration tests
  sensor/tests/resource/networkpolicy/data/policies.json
  sensor/tests/resource/networkpolicy/networkpolicy_test.go
  sensor/tests/resource/networkpolicy/yaml/netpol-block-egress.yaml
  tests/networkpolicy_test.go
Labels: team/maple, area/sensor

#6548 fix(e2e): Fix compliance predicate search for controls
  central/compliance/standards/registry.go
  central/compliance/standards/registry_test.go
Labels: area/central

#6554 chore(unused): Clean up some unused functions
  central/globaldb/export/restore.go
  central/globaldb/v2backuprestore/backup/generators/stream.go
  central/globaldb/v2backuprestore/backup/generators/tar.go
  central/globaldb/v2backuprestore/backup/generators/zip.go
  migrator/bolthelpers/bucket_ref.go
Labels: area/central

#6559 ROX-17001: Improve verifyTableLink for Vulnerability Management tests
  ui/apps/platform/cypress/helpers/vulnmanagement/entities.js
Labels: area/ui

#6570 ROX-16727: Fix ExternalNetworkSourcesTest
  qa-tests-backend/src/test/groovy/ExternalNetworkSourcesTest.groovy
Labels: team/maple

#6572 ROX-17926: Extract common code into sub template
  tools/generate-helpers/pg-table-bindings/funcs.go
  tools/generate-helpers/pg-table-bindings/store.go.tpl
Labels: area/postgres

#6482 ROX-17278: ACSCS debug dump mechanism endpoint
  central/debug/service/service.go
  central/main.go
  central/private/route.go
  central/private/server.go
  pkg/env/private_diagnostics.go
Labels: area/central

#6555 ROX-17885: Bump collector to 3.13.3
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#6029 test(ui): Add Cypress tests for Workload CVE single page
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageCveSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadTableToolbar.test.js
  ui/apps/platform/src/Components/Button/index.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/CVESeverityDropdown.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/CVEStatusDropdown.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/EntityTypeToggleGroup.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/FilterAutocomplete.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/FilterResourceDropdown.tsx
Labels: area/ui, epic/vm2.0/workload-cves

#6585 fix(ci): install roxctl via make
  .github/workflows/build.yaml
Labels: area/ci

#6582 chore(config): Add ROX_HASH_FLUSH_INTERVAL to control hash flush rate
  central/hash/manager/manager.go
  pkg/env/hash_flush_interval.go
Labels: area/central

#6523 ROX-17499: Create quay registry once
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
Labels: ci-all-qa-tests

#6584 ROX-17956: Fix error in roxctl authorize mode
  ui/apps/platform/src/Containers/Login/LoginPage.js
Labels: area/ui

#6583 Add routing for v2 APIs and authorizers for v2.ReportConfigurationService grpc endpoints
  central/reportconfigurations/service/common/authorizer.go
  pkg/grpc/server.go
Labels: area/central, epic/vm2.0/reports

#6518 ROX-10003: make generated store code style check compliant
  central/activecomponent/datastore/internal/store/postgres/store.go
  central/deployment/store/postgres/store.go
  central/pod/store/postgres/store.go
  central/rbac/k8srolebinding/internal/store/postgres/store.go
  central/resourcecollection/datastore/store/postgres/store.go
  central/secret/internal/store/postgres/store.go
  central/vulnerabilityrequest/datastore/internal/store/postgres/store.go
  migrator/migrations/postgreshelper/schema/convert_test_grandparents.go
  migrator/migrations/postgreshelper/schema/convert_test_multi_key_structs.go
  migrator/migrations/postgreshelper/schema/convert_test_parent1.go
  pkg/postgres/walker/stringutils.go
  pkg/postgres/walker/stringutils_test.go
  pkg/postgres/walker/walker.go
  pkg/stringutils/uppercaseacronyms.go
  tools/generate-helpers/pg-table-bindings/funcs.go
  tools/generate-helpers/pg-table-bindings/multitest/postgres/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testgrandparent/store.go
  tools/generate-helpers/pg-table-bindings/testgraphtables/testparent1/store.go
Labels: area/central, area/postgres

#6485 ROX-16962: Add admission controller replicas parameter to Operator
  CHANGELOG.md
  operator/README.md
  operator/apis/platform/v1alpha1/securedcluster_types.go
  operator/apis/platform/v1alpha1/zz_generated.deepcopy.go
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/pkg/securedcluster/values/translation/translation.go
Labels: area/operator

#6601 fix: workaround a shellcheck error in `unit-tests.yaml`
  .github/workflows/unit-tests.yaml
Labels: area/ci

#6532 ROX-13790: Allow creation of indexes spanning across multiple columns
  central/group/datastore/internal/store/postgres/gen.go
  central/group/datastore/internal/store/postgres/store.go
  central/group/datastore/internal/store/postgres/store_test.go
  generated/storage/group.pb.go
  pkg/postgres/schema/groups.go
  pkg/postgres/walker/schema.go
  pkg/postgres/walker/walker.go
  proto/storage/group.proto
  tools/generate-helpers/pg-table-bindings/schema.go.tpl
Labels: area/central, area/postgres

#6496 ROX-16766: Disable IAM Role when necessary
  ui/apps/platform/cypress/integration/integrations/externalBackups.test.js
  ui/apps/platform/cypress/integration/integrations/imageIntegrations.test.js
  ui/apps/platform/cypress/integration/integrations/integrations.helpers.js
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/EcrIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/S3IntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/IntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTilesPage/IntegrationTilesPage.js
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsListPage.tsx
Labels: area/ui

#6597 ROX-17159: ExternalNetworkSourcesTest fix double deletion
  qa-tests-backend/src/test/groovy/ExternalNetworkSourcesTest.groovy
Labels: ci-all-qa-tests, team/maple
