Repository stackrox/stackrox, pull requests merged in 2024-09, with the labels that each got.

#12296 ROX-25609: Add secured cluster upgrader metrics
  central/sensor/service/connection/upgradecontroller/metrics.go
  central/sensor/service/connection/upgradecontroller/process_check_ins.go
  central/sensor/service/connection/upgradecontroller/register_connection.go
  central/sensor/service/connection/upgradecontroller/trigger.go
  central/sensor/service/connection/upgradecontroller/upgrade_controller_impl.go
Labels: area/central

#12585 chore(docs): Add openshift-ci debug documentation
  .openshift-ci/README.md
Labels: area/ci

#12590 fix(sensor-connection): Reset the ok and stop signals on reconnection
  sensor/common/sensor/sensor.go
Labels: area/sensor, backport

#12481 ROX-25884: Add contentId prop for accessibity of empty Tab elements
  ui/apps/platform/cypress/integration/clusters/redirectFromDashboard.test.js
  ui/apps/platform/eslint-plugins/pluginAccessibility.js
  ui/apps/platform/src/Components/GroupedTabs.js
  ui/apps/platform/src/Containers/Clusters/InitBundles/SecureClusterModal.tsx
  ui/apps/platform/src/Containers/Clusters/NoClustersPage.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPage.tsx
Labels: area/ui

#12163 doc(scanner): ADR: Versioning of vulnerability bundles
  scanner/decisions/0011-separate-versioning-for-vuln-bundles.md
Labels: area/scanner

#12466 ROX-25547: Create Microsoft Sentinel alert notifier configuration
  generated/storage/notifier.pb.go
  generated/storage/notifier_vtproto.pb.go
  proto/storage/notifier.proto
  proto/storage/proto.lock
Labels: area/central

#12280 ROX-25421: Show diagnostic info when upgrader lacks permissions
  sensor/kubernetes/upgrade/command_handler_impl.go
  sensor/kubernetes/upgrade/process.go
  sensor/upgrader/preflight/access.go
  sensor/upgrader/preflight/perform.go
Labels: area/sensor

#12593 chore(deps): bump github.com/docker/docker from 26.1.4 to 26.1.5
  go.mod
  go.sum
Labels: backport

#12561 ROX-25591: Remove policy violations advanced filters feature flag
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/cypress/integration/violations/Violations.helpers.js
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePanel.tsx
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#12528 ROX-22701: Prevent deleting default policies through the API
  CHANGELOG.md
  central/policy/service/service_impl.go
  central/policy/service/service_impl_test.go
Labels: area/central

#12480 ROX-25547: Add initial Sentinel Alert Notifier
  central/graphql/resolvers/generated.go
  central/notifiers/microsoftsentinel/azlogsclient.go
  central/notifiers/microsoftsentinel/mocks/azlogsclient.go
  central/notifiers/microsoftsentinel/sentinel.go
  central/notifiers/microsoftsentinel/sentinel_test.go
  central/notifiers/validation/validate.go
  generated/api/v1/notifier_service.swagger.json
  generated/storage/notifier.pb.go
  generated/storage/notifier_vtproto.pb.go
  go.mod
  go.sum
  pkg/notifiers/types.go
  pkg/protocompat/message.go
  pkg/protocompat/message_test.go
  proto/storage/notifier.proto
  proto/storage/proto.lock
Labels: area/central

#12589 ROX-25723: add ecosystem preflight check
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
  image/postgres/konflux.Dockerfile
  image/rhel/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  operator/konflux.Dockerfile
  operator/konflux.bundle.Dockerfile
  scanner/image/db/konflux.Dockerfile
  scanner/image/scanner/konflux.Dockerfile
Labels: area/helm, area/operator, area/postgres, area/scanner

#12574 ROX-26019: Fix more accessiblity issues for landmarks of live regions
  ui/apps/platform/src/Components/EmailTemplate/EmailTemplateModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ViewVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/SummaryCards/CvesByStatusSummaryCard.tsx
Labels: area/ui

#12594 ROX-26049: Fix accessibility issues for buttons in policies
  ui/apps/platform/cypress/constants/PoliciesPage.js
  ui/apps/platform/eslint-plugins/pluginAccessibility.js
  ui/apps/platform/src/Containers/Policies/Wizard/PolicyWizard.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicyCriteriaFieldValue.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicyGroupCard.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicySection.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step4/PolicyScopeCard.tsx
Labels: area/ui

#12611 ROX-25525: Revert Added migration for policy category edge (#12441)
  migrator/migrations/m_206_to_m_207_add_default_policy_edge/migration.go
  migrator/migrations/m_206_to_m_207_add_default_policy_edge/migration_test.go
  migrator/migrations/m_206_to_m_207_add_default_policy_edge/schema/convert_policies.go
  migrator/migrations/m_206_to_m_207_add_default_policy_edge/schema/convert_policies_test.go
  migrator/migrations/m_206_to_m_207_add_default_policy_edge/schema/convert_policy_categories.go
  migrator/migrations/m_206_to_m_207_add_default_policy_edge/schema/convert_policy_category_edges.go
  migrator/migrations/m_206_to_m_207_add_default_policy_edge/schema/policies.go
  migrator/migrations/m_206_to_m_207_add_default_policy_edge/schema/policycategories.go
  migrator/migrations/m_206_to_m_207_add_default_policy_edge/schema/policycategoryedges.go
  migrator/runner/all.go
  pkg/migrations/internal/seq_num.go
Labels: backport

#11967 ROX-25287: Replace yarn with npm for ui builds and package mgmt
  .github/actions/cache-ui-dependencies/action.yaml
  .github/workflows/build.yaml
  .konflux/bootstrap-yarn/.gitignore
  .konflux/bootstrap-yarn/README.md
  .konflux/bootstrap-yarn/package-lock.json
  .konflux/bootstrap-yarn/package.json
  .ossls.yml
  .tekton/main-build.yaml
  CHANGELOG.md
  image/rhel/konflux.Dockerfile
  tools/allowed-large-files
  ui/Makefile
  ui/README.md
  ui/apps/platform/README.md
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
  ui/apps/platform/scripts/cypress.sh
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/ExceptionRequestTableCells.test.tsx
  ui/apps/platform/src/setupProxy.js
  ui/apps/platform/yarn.lock
  ui/package.json
Labels: area/ui, area/helm, area/operator, area/ci

#12558 fix(ui): Add pluginGeneric and improve consistency of external links
  ui/apps/platform/cypress/integration/configmanagement/ConfigurationManagement.helpers.js
  ui/apps/platform/cypress/integration/vulnmanagement/VulnerabilityManagement.helpers.js
  ui/apps/platform/cypress/integration/vulnmanagement/VulnerabilityManagement.selectors.js
  ui/apps/platform/eslint-plugins/pluginGeneric.js
  ui/apps/platform/eslint.config.js
  ui/apps/platform/src/Components/ScannerV4IntegrationBanner.tsx
  ui/apps/platform/src/Containers/Clusters/Components/CredentialExpiration.tsx
  ui/apps/platform/src/Containers/Clusters/StaticConfigurationSection.js
  ui/apps/platform/src/Containers/Compliance/List/SidePanel.js
  ui/apps/platform/src/Containers/Compliance/widgets/VerticalBarChart.js
  ui/apps/platform/src/Containers/ConfigManagement/SidePanel/SidePanel.js
  ui/apps/platform/src/Containers/Images/VulnsTable.js
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/MachineAccessIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/SignatureIntegrationForm.tsx
  ui/apps/platform/src/Containers/Login/LoginPage.js
  ui/apps/platform/src/Containers/Risk/RiskDetails.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cve/VulnMgmtCveOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/AffectedComponents/AffectedComponentsModal.tsx
  ui/apps/platform/src/Containers/VulnMgmt/WorkflowSidePanel.js
  ui/apps/platform/src/Containers/Vulnerabilities/components/ExceptionRequestModal/CveSelections.tsx
  ui/apps/platform/src/css/trumps.css
Labels: area/ui

#12609 chore(scanner): bump vuln timeout
  scanner/cmd/updater/main.go
Labels: area/scanner, backport

#12576 ROX-25750: Remove npm run all dependency
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui

#12575 ROX-25752: Remove obsolete ui make targets
  ui/Makefile
Labels: area/ui

#12573 ROX-26018: Introduce NodeIndexer configuration
  compliance/collection/compliance/compliance.go
  compliance/collection/main.go
  compliance/index/v4/node.go
  compliance/index/v4/node_test.go
  pkg/env/node_scan_v4.go
Labels: team/maple

#12150 ROX-25451: Re-enable Sensor upgrader
  CHANGELOG.md
  central/sensorupgrade/service/service_impl.go
  central/sensorupgrade/service/service_impl_test.go
  pkg/env/managed.go
  ui/apps/platform/src/Containers/Clusters/Components/AutoUpgradeToggle.tsx
Labels: area/central, area/ui

#12577 ROX-24270: update micromatch dependency
  ui/apps/platform/package-lock.json
Labels: area/ui

#12370 ROX-25687: versioned definitions update workflow
  .github/workflows/scanner-dev-vuln-update.yaml
  .github/workflows/scanner-versioned-definitions-update.yaml
  .github/workflows/scripts/scanner-get-released-tags.sh
  .github/workflows/scripts/scanner-output-release-versions.sh
  scanner/updater/version/VULNERABILITY_BUNDLE_VERSION
Labels: area/scanner, area/ci, pr-update-scanner-vulns

#12394 ROX-25688: Config support for versioned vulns
  scanner/Makefile
  scanner/VULNERABILITY_VERSION
  scanner/config/config.go
  scanner/config/config_test.go
  scanner/internal/version/version.go
Labels: area/scanner

#12608 ROX-25540: Update Helm charts
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml.htpl
Labels: team/maple, pls-merge, area/helm

#12618 tests: Provide and document mechanism for recreating test certs
  central/clusterinit/backend/README.md
  central/clusterinit/backend/testdata/Makefile
  central/clusterinit/backend/testdata/README.md
  central/clusterinit/backend/testdata/admission-control-cert.pem
  central/clusterinit/backend/testdata/admission-control-key.pem
  central/clusterinit/backend/testdata/ca-cert.pem
  central/clusterinit/backend/testdata/collector-cert.pem
  central/clusterinit/backend/testdata/collector-key.pem
  central/clusterinit/backend/testdata/sensor-cert.pem
  central/clusterinit/backend/testdata/sensor-key.pem
Labels: area/central

#12607 ROX-25866: Add option for central-db connection pool size in operator
  operator/apis/platform/v1alpha1/central_types.go
  operator/apis/platform/v1alpha1/zz_generated.deepcopy.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/pkg/central/values/translation/translation.go
  operator/pkg/central/values/translation/translation_test.go
Labels: area/operator

#12617 ROX-26095: fix filter bar accessibility issues
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.js
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.cy.jsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/SearchFilterAutocomplete.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/SimpleSelect.tsx
Labels: area/ui

#12578 ROX-25230: update async dep
  ui/apps/platform/package-lock.json
Labels: area/ui

#12579 ROX-25818: Added proto changes for nvd cvss
  central/cve/image/datastore/store/postgres/store.go
  central/graphql/resolvers/generated.go
  central/image/datastore/store/postgres/store_test.go
  generated/api/v1/image_service.swagger.json
  generated/api/v1/node_service.swagger.json
  generated/api/v1/vuln_mgmt_service.swagger.json
  generated/storage/cve.pb.go
  generated/storage/cve_vtproto.pb.go
  generated/storage/vulnerability.pb.go
  generated/storage/vulnerability_vtproto.pb.go
  pkg/nodes/converter/convert_utils_test.go
  pkg/postgres/schema/image_cves.go
  pkg/search/options.go
  proto/storage/cve.proto
  proto/storage/proto.lock
  proto/storage/vulnerability.proto
Labels: area/central, area/postgres

#12567 ROX-26050: Fix empty image name in delegator error message
  central/delegatedregistryconfig/delegator/delegator.go
Labels: area/central

#12639 ROX-24401: fix operator image tag and supported architectures
  .tekton/basic-component-pipeline.yaml
  .tekton/operator-build.yaml
  operator/Makefile
Labels: area/operator

#12640 ROX-26104: add index on policy id to alert table
  generated/storage/policy.pb.go
  pkg/postgres/schema/alerts.go
  pkg/postgres/schema/policies.go
  proto/storage/policy.proto
Labels: area/postgres, backport release-4.5

#12657 chore(e2e): Update cypress 13.14.2 devDependencies in ui
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui

#12547 ROX-25934: Add tab to see 'All report jobs'
  ui/apps/platform/src/Components/ReportJobsHelpAction.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ViewScanConfigDetail.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ConfigDetails.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ViewVulnReportPage.tsx
  ui/apps/platform/src/types/reportJob.ts
  ui/apps/platform/src/utils/reportJob.ts
Labels: area/ui, epic/compliance-2.0/report-jobs

#12591 fix(deduper): Fix ShouldProcess function in the deduper
  central/hash/manager/deduper.go
  central/hash/manager/deduper_test.go
Labels: area/central

#12587 ROX-25857: Use Sentinel schema in notifier
  central/graphql/resolvers/generated.go
  central/notifiers/all/all.go
  central/notifiers/microsoftsentinel/README.md
  central/notifiers/microsoftsentinel/data/example-alert.json
  central/notifiers/microsoftsentinel/sentinel.go
  central/notifiers/microsoftsentinel/sentinel_test.go
  generated/api/v1/notifier_service.swagger.json
  generated/storage/notifier.pb.go
  generated/storage/notifier_vtproto.pb.go
  go.mod
  go.sum
  pkg/administration/events/codes/codes.go
  proto/storage/notifier.proto
  proto/storage/proto.lock
Labels: area/central

#12661 ROX-26173: Add ROX_NVD_CVSS_UI feature flag
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#12653 fix(ui): [Backport] Update UI 'async' dependency
  ui/yarn.lock
Labels: area/ui, backport

#12655 fix(ui): [Backport] Update UI async dependency
  ui/yarn.lock
Labels: area/ui, backport

#12677 ROX-26121: Do not assert on presence of central in NG test
  ui/apps/platform/cypress/integration/networkGraph/networkDeploymentSidebar.test.js
Labels: area/ui

#12548 ROX-25438: Upgrade to Go 1.22.5
  .devcontainer/devcontainer.json
  .github/workflows/batch-load-test-metrics.yml
  .github/workflows/build.yaml
  .github/workflows/ci-failures-report.yml
  .github/workflows/lint.yml
  .github/workflows/scanner-build.yaml
  .github/workflows/scanner-db-init-dump.yaml
  .github/workflows/scanner-db-integration-tests.yaml
  .github/workflows/scanner-release-vuln-update.yaml
  .github/workflows/scanner-versioned-definitions-update.yaml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
  .openshift-ci/Dockerfile.build_root
  .openshift-ci/dev-requirements.txt
  BUILD_IMAGE_VERSION
  central/activecomponent/updater/updater_impl_test.go
  central/views/imagecve/view_test.go
  central/views/nodecve/view_test.go
  go.mod
  image/rhel/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  operator/konflux.Dockerfile
  operator/tools/controller-gen/go.mod
  operator/tools/operator-sdk/go.mod
  operator/tools/yq/go.mod
  scale/signatures/deploy.yaml
  scanner/hack/quay/go.mod
  scanner/image/scanner/konflux.Dockerfile
  tests/e2e/run-e2e-tests.sh
  tests/performance/scale/go.mod
  tools/check-workflow-run/go.mod
  tools/linters/go.mod
  tools/proto/go.mod
  tools/test/go.mod
Labels: area/central, area/helm, area/operator, area/scanner, area/ci, konflux-build

#12674 fix(ui): Fixing feature flag enablement
  pkg/features/list.go
Labels: pls-merge

#12564 chore(scanner): update Red Hat sec data location
  .github/workflows/scanner-mapping-update.yaml
  pkg/scannerv4/mappers/mappers.go
  scanner/config.yaml.sample
  scanner/config/config.go
  scanner/image/scanner/download-mappings.sh
  scanner/updater/rhel/doc.go
  scanner/updater/rhel/updaterset.go
Labels: area/scanner, area/ci, pr-update-scanner-vulns

#12678 chore: fix versioned vulns job
  .github/actions/download-artifact-with-retry/action.yaml
  .github/workflows/scanner-versioned-definitions-update.yaml
  .github/workflows/scripts/scanner-get-released-tags.sh
  .github/workflows/scripts/scanner-output-release-versions.sh
  scanner/updater/version/RELEASE_VERSION
  scanner/updater/version/VULNERABILITY_BUNDLE_VERSION
Labels: area/scanner, area/ci, pr-update-scanner-vulns

#12572 tests: do not mention on known CI failures
  .github/actions/junit2jira/action.yaml
  .github/workflows/unit-tests.yaml
Labels: area/ci, ci-test-github-action-slack-messages, auto-retest

#12511 chore(proto): use UnmarshalVTUnsafe in sensor
  sensor/admission-control/settingswatch/common.go
  sensor/admission-control/settingswatch/k8s.go
  sensor/admission-control/settingswatch/mount.go
  sensor/admission-control/settingswatch/persist.go
  sensor/common/centralclient/client.go
  sensor/tests/helper/trace.go
Labels: area/sensor, area/admission-controller, auto-retest

#12660 chore(ui): Upgrade TypeScript 5.5.4 and related devDependencies in ui
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.tsx
  ui/apps/platform/src/Containers/Collections/errorUtils.ts
Labels: area/ui

#12629 ROX-25818: Added nvdcvss column values to imagecves table
  central/cve/converter/utils/convert_utils.go
  central/image/datastore/store/postgres/store.go
  central/image/datastore/store/postgres/store_test.go
Labels: area/central, area/postgres

#12649 feat(scanner): Use versioned bundles
  image/templates/helm/shared/config-templates/scanner-v4/matcher-config.yaml.tpl
Labels: area/helm

#12637 ROX-25546: Add audit log notifier
  central/graphql/resolvers/generated.go
  central/notifiers/microsoftsentinel/README.md
  central/notifiers/microsoftsentinel/sentinel.go
  central/notifiers/microsoftsentinel/sentinel_test.go
  generated/api/v1/notifier_service.swagger.json
  generated/storage/notifier.pb.go
  generated/storage/notifier_vtproto.pb.go
  proto/storage/notifier.proto
  proto/storage/proto.lock
Labels: area/central

#12672 chore(ui): Update unit testing devDependencies ts-jest 29.2.5
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
  ui/apps/platform/src/setupTests.js
Labels: area/ui

#12680 chore(ui): Update lint devDependencies in ui
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui

#12700 fix(ui): Revert async update commit
  ui/yarn.lock
Labels: area/ui, backport

#12690 fix: NVD exporting in versioned bundle updates
  .github/workflows/scanner-versioned-definitions-update.yaml
Labels: area/ci, pr-update-scanner-vulns

#12687 build: Switch operator-bundle build from Go 1.21 to 1.22
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
  operator/konflux.bundle.Dockerfile
Labels: area/operator

#12512 chore(proto): use UnmarshalVTUnsafe in singelton
  central/apitoken/datastore/internal/schedulestore/postgres/store.go
  central/config/store/postgres/store.go
  central/delegatedregistryconfig/store/postgres/store.go
  central/installation/store/postgres/store.go
  central/notifier/encconfig/datastore/store/postgres/store.go
  central/sensorupgradeconfig/datastore/internal/store/postgres/store.go
  migrator/migrations/postgreshelper/schema/convert_test_child1.go
  migrator/migrations/postgreshelper/schema/convert_test_child1_p4.go
  migrator/migrations/postgreshelper/schema/convert_test_child2.go
  migrator/migrations/postgreshelper/schema/convert_test_g2_grand_child1.go
  migrator/migrations/postgreshelper/schema/convert_test_g3_grand_child1.go
  migrator/migrations/postgreshelper/schema/convert_test_g_grand_child1.go
  migrator/migrations/postgreshelper/schema/convert_test_grand_child1.go
  migrator/migrations/postgreshelper/schema/convert_test_grandparents.go
  migrator/migrations/postgreshelper/schema/convert_test_parent1.go
  migrator/migrations/postgreshelper/schema/convert_test_parent2.go
  migrator/migrations/postgreshelper/schema/convert_test_parent3.go
  migrator/migrations/postgreshelper/schema/convert_test_parent4.go
  migrator/migrations/postgreshelper/schema/convert_test_short_circuits.go
  migrator/migrations/postgreshelper/schema/convert_test_single_key_structs.go
  migrator/migrations/postgreshelper/schema/convert_test_single_uuid_key_structs.go
  migrator/migrations/postgreshelper/schema/convert_test_structs.go
  tools/generate-helpers/pg-table-bindings/migration_tool.go.tpl
  tools/generate-helpers/pg-table-bindings/singleton.go.tpl
Labels: area/central, area/postgres, auto-retest

#12646 ROX-25763: Clear policy rules when lifecycle changes
  ui/apps/platform/src/Containers/Policies/Wizard/Step2/PolicyBehaviorForm.tsx
Labels: area/ui

#12645 ROX-25764: Update compliance stats widget on schedule selection
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragesPage.tsx
  ui/apps/platform/src/services/ComplianceResultsStatsService.ts
Labels: area/ui

#12659 ROX-26232: Adding source field to ListPolicy proto
  central/policy/service/service_impl.go
  generated/api/v1/policy_service.swagger.json
  generated/storage/policy.pb.go
  generated/storage/policy_vtproto.pb.go
  proto/storage/policy.proto
  proto/storage/proto.lock
Labels: area/central

#12614 chore: bump helm-operator-plugins (and k8s to 1.30)
  go.mod
  go.sum
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/internal/central/reconciler/reconciler.go
  operator/internal/reconciler/reconciler_factory.go
  operator/internal/securedcluster/reconciler/reconciler.go
  operator/internal/utils/predicates.go
  operator/tests/reconcile/mapkubeapis_test.go
  pkg/compliance/checks/kubernetes/master_api_server.go
Labels: area/operator, area/scanner, auto-retest

#12711 ROX-26176: Add cluster page migration feature flag
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#12647 ROX-25490: Populate SecurityPolicy CRD spec; caching gRPC client
  central/auth/datastore/datastore_impl.go
  config-controller/api/v1alpha1/policy_types.go
  config-controller/api/v1alpha1/policy_types_test.go
  config-controller/api/v1alpha1/test.json
  config-controller/api/v1alpha1/zz_generated.deepcopy.go
  config-controller/config/crd/bases/config.stackrox.io_policies.yaml
  config-controller/config/crd/bases/config.stackrox.io_securitypolicies.yaml
  config-controller/config/rbac/kustomization.yaml
  config-controller/config/rbac/securitypolicy_editor_role.yaml
  config-controller/config/rbac/securitypolicy_viewer_role.yaml
  config-controller/internal/controller/policy_controller.go
  config-controller/internal/controller/policy_controller_test.go
  config-controller/main.go
  config-controller/pkg/client/client.go
  config-controller/pkg/client/client_test.go
  config-controller/pkg/client/mocks/client.go
  config-controller/pkg/client/test-policy-1.json
  config-controller/pkg/client/test-policy-2.json
  image/templates/helm/stackrox-central/templates/02-config-controller-01-rbac.yaml
  image/templates/helm/stackrox-central/templates/02-config-controller-02-deployment.yaml
  pkg/clientconn/useragent.go
  proto/storage/policy.proto
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/central, area/helm

#12726 chore(docs): Add secret path to CHANGING_CHARTS docs
  image/templates/CHANGING_CHARTS.md
Labels: area/helm, auto-retest

#12727 test(ui): Add more coverage to `useURLSort` unit tests
  ui/apps/platform/src/hooks/useURLSort.test.js
Labels: area/ui

#12728 chore(ui): Use standard pagination parameter utils throughout
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/useNodeVulnerabilities.ts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/useAffectedNodes.ts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/useNodeCves.ts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/useNodes.ts
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/useClusterVulnerabilities.ts
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/ClustersTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/usePlatformCves.ts
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/useAffectedClusters.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/services/AdministrationEventsService.ts
  ui/apps/platform/src/services/ReportsService.ts
Labels: area/ui

#12738 chore(cleanup): Remove extra logging
  central/sensorupgrade/service/service_impl.go
Labels: area/central

#12708 ROX-25617: Add display value for external policy origin in UI
  ui/apps/platform/src/Containers/Policies/Detail/PolicyOverview.tsx
  ui/apps/platform/src/Containers/Policies/Modal/PolicyImport.utils.test.ts
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTable.tsx
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTable.utils.ts
  ui/apps/platform/src/Containers/Policies/policies.utils.test.ts
  ui/apps/platform/src/Containers/Policies/policies.utils.ts
  ui/apps/platform/src/types/policy.proto.ts
Labels: area/ui

#12595 ROX-25939: Add report jobs table
  ui/apps/platform/src/Components/NotifierConfiguration/NotifierConfigurationView.tsx
  ui/apps/platform/src/Components/ReportJobsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ViewScanConfigDetail.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ReviewConfig.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ConfigDetails.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/JobDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ViewVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/ReportParametersDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/ScheduleDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportReviewForm.tsx
  ui/apps/platform/src/services/ComplianceScanConfigurationService.ts
Labels: area/ui, epic/compliance-2.0/report-jobs

#12141 ROX-25440: Add stackrox CRs to diagnostic bundle
  pkg/k8sintrospect/collector.go
  pkg/k8sintrospect/default_config.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: auto-retest

#12754 ROX-25183: Make dummy target executable for CI
  scripts/ci/jobs/gke_nongroovy_compatibility_tests.py
Labels: team/maple

#12720 ROX-26274: Improve the UI text for upgradability of clusters
  ui/apps/platform/src/Containers/Clusters/ClusterDeployment.tsx
Labels: area/ui

#12755 ROX-25183: Dummy compatibility target for release-x.y
  scripts/ci/jobs/gke_nongroovy_compatibility_tests.py
Labels: team/maple

#12750 chore(ui): Move more UI code to common page util
  ui/apps/platform/src/Containers/Administration/Events/AdministrationEventsToolbar.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsPage.tsx
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/DiscoveredClustersToolbar.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ScanConfigClustersTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/DeploymentScopeModal.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ApprovedDeferrals/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ApprovedFalsePositives/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/DeferredCVEs/DeferredCVEs.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/FalsePositiveCVEs/FalsePositiveCVEs.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ObservedCVEs/ObservedCVEs.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/PendingApprovals/PendingApprovals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
  ui/apps/platform/src/services/DiscoveredClusterService.ts
Labels: area/ui

#12691 ROX-25937: Add status and toggle filters for report jobs
  ui/apps/platform/src/Components/CheckboxSelect.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilterInputField.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/ConditionDate.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/ConditionNumber.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/SearchFilterAutocomplete.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ViewScanConfigDetail.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/MyJobsFilter.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportJobs.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportStatusFilter.tsx
  ui/apps/platform/src/utils/ensure.ts
Labels: area/ui, epic/compliance-2.0/report-jobs

#12744 ROX-26047: Switch to prod subscription-manager activation key
  .konflux/scripts/subscription-manager/subscription-manager-bro.sh
  .tekton/main-pipeline.yaml
Labels: konflux-build

#12722 ROX-25565: Fail Konflux builds if required ARGs aren't provided
  image/postgres/konflux.Dockerfile
  image/rhel/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  operator/konflux.Dockerfile
  operator/konflux.bundle.Dockerfile
  scanner/image/db/konflux.Dockerfile
  scanner/image/scanner/konflux.Dockerfile
Labels: area/helm, area/operator, area/postgres, area/scanner

#12701 ROX-26240: sanitize error
  central/debug/service/service.go
Labels: area/central

#12746 chore(ui): Refactor UI search utils for consistent pagination
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/hooks/useDeploymentListeningEndpoints.tsx
  ui/apps/platform/src/Containers/Dashboard/hooks/useDeploymentsAtRisk.ts
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/hooks/useFetchNamespaceDeployments.ts
  ui/apps/platform/src/services/AlertsService.ts
  ui/apps/platform/src/services/DeploymentsService.ts
  ui/apps/platform/src/services/VulnerabilityExceptionService.ts
  ui/apps/platform/src/utils/searchUtils.test.ts
  ui/apps/platform/src/utils/searchUtils.ts
Labels: area/ui

#12695 fix: do not run GC every update cycle
  scanner/matcher/matcher.go
  scanner/matcher/updater/vuln/updater.go
  scanner/matcher/updater/vuln/updater_test.go
  scanner/updater/import.go
Labels: area/scanner

#12710 ROX-25932: Add generate download button for compliance reporting
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigActionDropdown.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigActionsColumn.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ViewScanConfigDetail.tsx
  ui/apps/platform/src/services/ComplianceScanConfigurationService.ts
Labels: area/ui, epic/compliance-2.0/report-jobs

#12773 fix(ui): Fixing feature flag enablement
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ViewScanConfigDetail.tsx
Labels: pls-merge

#12681 ROX-26130: Make central notifier email library take report name param
  central/complianceoperator/v2/report/manager/complianceReportgenerator/report_gen_impl.go
  central/notifiers/acscsemail/acscsemail.go
  central/notifiers/acscsemail/acscsemail_test.go
  central/notifiers/email/email.go
  central/notifiers/email/email_test.go
  central/reports/scheduler/schedule.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
  pkg/notifiers/mocks/report_notifier.go
  pkg/notifiers/report_notifier.go
Labels: area/central

#12772 fix: Disallow CRS name duplicates
  central/clusterinit/backend/backend_test.go
  central/clusterinit/store/store.go
Labels: area/central

#12730 ROX-26287: Missing deployment info in violations deployment tab
  ui/apps/platform/src/Containers/Violations/Details/Deployment/ContainerConfiguration.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/ContainerConfigurationDescriptionList.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/DeploymentOverview.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/DeploymentTabWithReadAccessForDeployment.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/DeploymentTabWithoutReadAccessForDeployment.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/PortConfiguration.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/SecurityContext.tsx
Labels: pls-merge, area/ui

#12693 ROX-25909: CRS Support for roxctl
  pkg/features/list.go
  roxctl/central/central.go
  roxctl/central/crs/common.go
  roxctl/central/crs/crs.go
  roxctl/central/crs/generate.go
  roxctl/central/crs/list.go
  roxctl/central/crs/revoke.go
  tests/roxctl/bats-tests/cluster/crs-lifecycle.bats
Labels: area/roxctl, area/central

#12248 ROX-24169: support OCM service accounts
  CHANGELOG.md
  central/cloudsources/datastore/datastore_impl.go
  central/cloudsources/manager/manager.go
  central/cloudsources/service/service_impl.go
  central/cloudsources/service/service_impl_postgres_test.go
  central/convert/storagetov1/cloud_source.go
  central/convert/v1tostorage/cloud_source.go
  generated/api/v1/cloud_source_service.pb.go
  generated/api/v1/cloud_source_service.swagger.json
  generated/api/v1/cloud_source_service_vtproto.pb.go
  generated/storage/cloud_source.pb.go
  generated/storage/cloud_source_vtproto.pb.go
  pkg/cloudsources/client.go
  pkg/cloudsources/ocm/client.go
  pkg/fixtures/cloud_sources.go
  proto/api/v1/cloud_source_service.proto
  proto/storage/cloud_source.proto
  proto/storage/proto.lock
  qa-tests-backend/src/main/groovy/util/Env.groovy
  qa-tests-backend/src/test/groovy/CloudSourcesTest.groovy
Labels: area/central

#12758 ROX-25493: Add policy CRD to helm chart
  Makefile
  image/templates/helm/stackrox-central/.helmtplignore.htpl
  image/templates/helm/stackrox-central/templates/00-securitypolicies-crd.yaml
Labels: area/helm

#12694 ROX-24581 : Changes to add publish date to imageCVEs query
  central/graphql/resolvers/image_cve_core.go
  central/views/imagecve/db_response.go
  central/views/imagecve/mocks/types.go
  central/views/imagecve/types.go
  central/views/imagecve/view_impl.go
  central/views/imagecve/view_test.go
  central/views/read_options.go
Labels: area/central

#12705 ROX-26278: image cve severity sort
  central/views/imagecve/view_impl.go
Labels: area/central, area/postgres

#12719 ROX-26262: Upgrade splunk sdk for python
  qa-tests-backend/artifacts/splunk-violations-test/2023-07-10-TA-stackrox-2.0.0.spl
  qa-tests-backend/artifacts/splunk-violations-test/2024-09-17-TA-stackrox-2.0.3.spl
  qa-tests-backend/src/test/groovy/IntegrationsSplunkViolationsTest.groovy
Labels: team/maple

#12775 fix(ui): Add no-anchor-href-docs-string generic lint rule
  ui/apps/platform/eslint-plugins/pluginGeneric.js
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ExternalBackupIntegrations/GcsIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ExternalBackupIntegrations/S3IntegrationForm.tsx
  ui/apps/platform/src/Containers/Risk/RiskDetails.js
Labels: area/ui

#12676 ROX-25898: CIDR type support in postgres framework
  pkg/postgres/pgutils/utils.go
  pkg/postgres/pgutils/utils_test.go
  pkg/postgres/types.go
  pkg/search/postgres/query/cidr_query.go
  pkg/search/postgres/query/cidr_query_test.go
  pkg/search/postgres/query/common.go
  pkg/search/postgres/query/query_functions.go
  tools/generate-helpers/pg-table-bindings/store.go.tpl
Labels: area/postgres

#12761 ROX-26054: expiration timestamp, policy CR validation
  config-controller/api/v1alpha1/policy_types.go
  config-controller/api/v1alpha1/policy_types_test.go
  config-controller/config/crd/bases/config.stackrox.io_securitypolicies.yaml
  config-controller/internal/controller/policy_controller.go
  image/templates/helm/stackrox-central/templates/00-securitypolicies-crd.yaml
Labels: area/helm

#12725 feat(ui): Update useURLSort to support multi sort
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTablePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/components/NodeComponentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/table.utils.ts
  ui/apps/platform/src/hooks/patternfly/useTableSort.ts
  ui/apps/platform/src/hooks/useTableSort.ts
  ui/apps/platform/src/hooks/useURLSort.test.js
  ui/apps/platform/src/hooks/useURLSort.ts
  ui/apps/platform/src/services/types.ts
  ui/apps/platform/src/types/search.ts
  ui/apps/platform/src/types/table.ts
  ui/apps/platform/src/utils/searchUtils.ts
Labels: area/ui

#12796 ROX-25619: External policy edit warnings
  ui/apps/platform/src/Containers/Policies/Detail/PolicyDetail.tsx
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTable.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/PolicyWizard.tsx
  ui/apps/platform/src/Containers/Policies/policies.utils.ts
Labels: area/ui

#12790 ROX-25439: Remove ROX_SECRET_FILE_SEARCH feature flag
  CHANGELOG.md
  central/secret/internal/store/postgres/store.go
  generated/api/v1/secret_service.swagger.json
  generated/storage/secret.pb.go
  pkg/features/list.go
  proto/storage/secret.proto
Labels: area/central, area/postgres, ci-postgres-tests

#12774 chore(ci): scanner v4 vuln update improvements
  .github/workflows/scanner-versioned-definitions-update.yaml
  scanner/updater/export.go
Labels: area/scanner, area/ci, pr-update-scanner-vulns

#12802 fix(ui): Add pagination-function-call generic lint rule
  ui/apps/platform/eslint-plugins/pluginGeneric.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step4/PolicyScopeForm.tsx
  ui/apps/platform/src/services/CollectionsService.ts
  ui/apps/platform/src/services/ComplianceScanConfigurationService.ts
  ui/apps/platform/src/services/DeploymentsService.ts
  ui/apps/platform/src/services/VulnerabilitiesService.js
Labels: area/ui

#12516 ROX-25689: Versioned vulnerabilities in Offline bundles
  .github/workflows/scanner-offline-bundle-update.yaml
  .github/workflows/scripts/scanner-offline-bundle-matrix.sh
  .github/workflows/scripts/scanner-update-offline-bundle.sh
Labels: area/scanner, area/ci, pr-update-scanner-vulns

#12782 refactor(ui): Clean up reporting related components
  ui/apps/platform/src/Components/ReportJob/MyActiveJobStatusTh.tsx
  ui/apps/platform/src/Components/ReportJob/ReportJobsHelpAction.tsx
  ui/apps/platform/src/Components/ReportJob/ReportJobsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ViewScanConfigDetail.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ViewVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/useWatchLastSnapshotForReports.ts
Labels: area/ui, epic/compliance-2.0/report-jobs

#12613 doc(scanner): ADR: re-indexing
  scanner/decisions/0012-reindexing.md
Labels: area/scanner

#12792 ROX-25439: Remove ROX_DEPLOYMENT_SECRET_SEARCH feature flag
  CHANGELOG.md
  central/deployment/datastore/internal/store/postgres/store.go
  generated/storage/deployment.pb.go
  pkg/features/list.go
  proto/storage/deployment.proto
Labels: area/central, area/postgres, ci-postgres-tests

#12817 ROX-26351: Track API Calls with specified user-agents
  central/telemetry/centralclient/instance_config.go
  central/telemetry/centralclient/interceptors.go
  pkg/telemetry/phonehome/request_params.go
  pkg/telemetry/phonehome/request_params_test.go
Labels: area/central

#12793 ROX-25439: Remove ROX_DEPLOYMENT_ENVVAR_SEARCH feature flag
  CHANGELOG.md
  central/deployment/datastore/internal/store/postgres/store.go
  generated/storage/deployment.pb.go
  pkg/features/list.go
  proto/storage/deployment.proto
Labels: area/central, area/postgres, ci-postgres-tests

#12810 ROX-26320: Putting report job filter state into URL
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilterInputField.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.tsx
  ui/apps/platform/src/Components/ReportJob/types.ts
  ui/apps/platform/src/Components/ReportJob/utils.ts
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ViewScanConfigDetail.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/MyJobsFilter.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportJobs.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportRunStatesFilter.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ViewVulnReportPage.tsx
  ui/apps/platform/src/utils/ensure.ts
Labels: area/ui

#12642 ROX-25998: simplify release update workflow
  .github/workflows/scanner-release-vuln-update.yaml
  .github/workflows/scanner-versioned-definitions-update.yaml
Labels: area/ci, pr-update-scanner-vulns

#12824 chore: Add logs to help debug oidc provider creation
  pkg/auth/authproviders/oidc/backend_impl.go
  pkg/auth/authproviders/oidc/wrappers.go
Labels: area/auth

#12821 chore(ui): Move application of search filter out of filter chips
  ui/apps/platform/src/Components/PatternFly/SearchFilterChips.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsPage.tsx
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/DiscoveredClustersToolbar.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragesPage.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePanel.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTableSearchFilter.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/NamespaceViewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadCveFilterToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/AdvancedFiltersToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/telemetry.ts
Labels: area/ui

#12803 ROX-26288: Policy deletion through reconciler
  Makefile
  config-controller/internal/controller/policy_controller.go
  config-controller/pkg/client/client.go
  config-controller/pkg/client/client_test.go
  config-controller/pkg/client/mocks/client.go
  image/templates/helm/stackrox-central/templates/00-securitypolicies-crd.yaml
Labels: area/helm

#12786 ROX-26181: Add cypress-axe integration testing
  ui/apps/platform/cypress/constants/PoliciesPage.js
  ui/apps/platform/cypress/integration/policies/importPolicy.test.js
  ui/apps/platform/cypress/integration/policies/policiesTable.test.js
  ui/apps/platform/cypress/support/commands.js
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui

#12809 ROX-25820: Proto changes to show nvd cvss score for vuln reporting
  central/reports/service/v2/convert.go
  generated/api/v1/report_configuration_service.swagger.json
  generated/api/v2/report_service.pb.go
  generated/api/v2/report_service.swagger.json
  generated/api/v2/report_service_vtproto.pb.go
  generated/storage/report_configuration.pb.go
  generated/storage/report_configuration_vtproto.pb.go
  proto/api/v2/report_service.proto
  proto/storage/proto.lock
  proto/storage/report_configuration.proto
Labels: area/central

#12831 chore(helm): Make runtime_config camel case.
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/internal/defaults/30-base-config.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml.htpl
Labels: area/helm, auto-retest

#12797 ROX-26151: Pin operator image in operator-bundle (3rd)
  .tekton/determine-image-digest-task.yaml
  .tekton/operator-bundle-build.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/wait-for-image-task.yaml
  operator/konflux.bundle.Dockerfile
Labels: area/operator

#12498 ROX-259330: use scl postgres upstream images
  image/postgres/Dockerfile
Labels: area/helm, area/postgres

#12849 ROX-26013: Fix image cve count when unknown severities are present
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
Labels: area/ui

#12837 refactor(ui): Wording changes for compliance and reporting
  ui/apps/platform/cypress/integration/compliance-enhanced/complianceEnhancedScanConfigs.test.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ConfigDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ViewVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/VulnReportsPage.tsx
Labels: area/ui

#12845 ROX-26308: Fix First discovered time for affected images
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/vulnerabilityUtils.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/vulnerabilityUtils.ts
Labels: area/ui

#12765 ROX-26300: Increase pagination limit to try to get more unique autocomplete results
  central/search/service/service_impl.go
Labels: area/central

#12780 ROX-25828: Make Pruner more configurable
  central/postgres/pruning.go
  central/pruning/pruning.go
  pkg/env/postgres_default_timeout.go
Labels: area/central
