Repository stackrox/stackrox, pull requests merged in 2024-04, with the labels that each got.

#10351 ROX-18689: Unqualified Search Registries
  CHANGELOG.md
  central/image/service/service_impl.go
  central/image/service/service_impl_test.go
  pkg/features/list.go
  pkg/images/utils/utils.go
  pkg/images/utils/utils_test.go
  sensor/kubernetes/listener/resources/convert.go
  sensor/kubernetes/listener/resources/convert_override_test.go
  sensor/kubernetes/listener/resources/convert_test.go
Labels: area/central, area/sensor, ci-build-prerelease

#10487 fix(ROX-22753): quit version-compat test when images are missing
  .openshift-ci/base_qa_e2e_test.py
  .openshift-ci/runners.py
  .openshift-ci/tests/test_runners.py
  scripts/ci/jobs/gke_version_compatibility_tests.py
Labels: area/ci

#10579 ROX-23371: rocksdb move to current
  central/main.go
  image/rhel/static-bin/db-functions
  image/rhel/static-bin/move-to-current
  image/rhel/static-bin/start-central.sh
  migrator/clone/rocksdb/db_clone_manager.go
  migrator/clone/rocksdb/db_clone_manager_impl.go
  pkg/migrations/paths.go
Labels: area/central, area/helm

#10530 ROX-22101: move pkg csv away from gogo protobuf
  central/compliance/handlers/csv.go
  pkg/csv/utils.go
  pkg/protocompat/time.go
  pkg/protocompat/time_test.go
Labels: area/central

#10589 ROX-22724: add reprocessor duration metric
  central/metrics/central.go
  central/metrics/init.go
  central/reprocessor/reprocessor.go
Labels: area/central

#9864 ROX-20859: Add Konflux build pipeline for Scanner v4
  .gitignore
  .tekton/scanner-v4-pull-request.yaml
  .tekton/scanner-v4-push.yaml
  scanner/image/scanner/Dockerfile
  scanner/image/scanner/download-mappings.sh
  scanner/image/scanner/konflux.Dockerfile
Labels: area/helm, area/scanner

#10533 ROX-22101: move pkg search postgres away from gogo protobuf
  pkg/search/postgres/common.go
  pkg/search/postgres/store.go
  pkg/search/postgres/store_cache.go
Labels: area/postgres

#10539 fix: remove EXPECTED_GO_VERSION
  EXPECTED_GO_VERSION
  Makefile
  README.md
  scanner/README.md
Labels: area/scanner

#10570 fix(CI): ROX-23406: retry to get vulns from quay.io
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
Labels: ci-all-qa-tests

#10616 chore(scanner): delete rc versions
  scanner/updater/version/RELEASE_VERSION
Labels: area/scanner

#10625 ROX-23485: temporarily ignore
  govulncheck-allowlist.json
Labels: scan-go-binaries

#10536 ROX-22101: gogo move pkg timestamp utils to protoutils pkg
  central/image/service/service_impl_test.go
  central/postgres/pruning_test.go
  central/postgres/report_pruning_test.go
  central/processlisteningonport/datastore/datastore_impl_test.go
  migrator/version/convert_versions.go
  migrator/version/convert_versions_test.go
  pkg/fixtures/process_listening_on_port.go
  pkg/protoconv/time.go
  pkg/protoconv/time_test.go
  pkg/protoutils/time.go
  pkg/protoutils/time_test.go
  pkg/timestamp/utils.go
  sensor/common/networkflow/manager/manager_impl_test.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/central, area/sensor

#10610 chore(slices): use stdlib slices.Clone
  central/administration/events/datastore/internal/writer/writer_impl.go
  central/deploymentenvs/manager_impl.go
  central/networkpolicies/graph/diff.go
  central/networkpolicies/graph/diff_test.go
  pkg/concurrency/key_fence.go
  pkg/concurrency/sortedkeys/serialization.go
  pkg/dbhelper/db.go
  pkg/grpc/client/authn/servicecerttoken/client_creds.go
  pkg/ioutils/chan_writer.go
  pkg/istioutils/istio_api_resources.go
  pkg/mtls/ca.go
  pkg/printers/csv.go
  pkg/sliceutils/clone.go
  pkg/sliceutils/clone_test.go
Labels: area/central

#10611 chore(slices): use stdlib slices.Equal
  central/vulnerabilityrequest/utils/util.go
  pkg/auth/authproviders/iap/backend_impl.go
  pkg/printers/sarif.go
  pkg/sliceutils/equal.go
  sensor/common/networkflow/manager/public_ips.go
Labels: area/auth, area/central, area/sensor

#10612 chore(slices): use stdlib slices.Index/IndexFunc
  central/compliance/checks/nist800-190/check412/check.go
  central/compliance/checks/nist800-190/check422/check.go
  central/compliance/checks/nist80053/check_cm_11/check_test.go
  central/complianceoperator/v2/compliancemanager/manager_impl.go
  central/debug/service/diagnostics.go
  central/processbaseline/service/service_impl_test.go
  central/pruning/pruning_test.go
  central/sensor/service/connection/upgradecontroller/stateutils/state_machine_test.go
  pkg/auth/authproviders/oidc/provider.go
  pkg/auth/user/required_attribute_verifier.go
  pkg/booleanpolicy/augmentedobjs/construct.go
  pkg/detection/compiled_policy_test.go
  pkg/k8srbac/policy_rule_field.go
  pkg/set/frozen_set_test.go
  pkg/set/set_test.go
  pkg/signatures/public_key_fetcher.go
  pkg/sliceutils/find.go
  pkg/sliceutils/find_test.go
  roxctl/central/generate/interactive.go
  tests/client_ca_test.go
Labels: area/roxctl, area/auth, area/central

#10613 chore(slices): use stdlib slices.Reverse
  central/tlsconfig/tlsconfig_test.go
  pkg/sliceutils/map.go
  pkg/sliceutils/reverse.go
  pkg/sliceutils/reverse_test.go
Labels: area/central

#10628 chore(strings): use ReplaceAll
  central/clusterinit/backend/render.go
  central/debug/service/db_diagnostics.go
  central/notifiers/cscc/convert.go
  central/notifiers/email/email.go
  compliance/collection/command/command_test.go
  pkg/bolthelper/bolt.go
  pkg/compliance/checks/kubernetes/control_plane_config_test.go
  pkg/compliance/checks/kubernetes/etcd_test.go
  pkg/compliance/checks/kubernetes/master_api_server_test.go
  pkg/compliance/checks/kubernetes/master_config_test.go
  pkg/compliance/checks/kubernetes/worker_node_config_test.go
  pkg/compliance/checks/nist800-190/check421/check_test.go
  pkg/netutil/default_port_test.go
  pkg/notifiers/format.go
  pkg/services/convert.go
  pkg/stringutils/wrap.go
  pkg/testutils/db_name.go
  pkg/version/compare.go
  roxctl/central/generate/file_format.go
  scanner/updater/rhel/updaterset.go
Labels: area/roxctl, area/central, area/scanner

#10537 ROX-22101: gogo move pkg timestamp GogoProtobuf to protoconv
  central/image/datastore/store/postgres/store.go
  central/networkbaseline/manager/manager_impl.go
  central/networkbaseline/manager/manager_impl_test.go
  central/reports/scheduler/schedule.go
  central/sensor/service/pipeline/clusterhealthupdate/pipeline.go
  central/sensor/service/pipeline/networkflowupdate/flow_store_updater_impl.go
  central/version/utils/utils.go
  migrator/clone/postgres/db_clone_manager_impl_external_test.go
  migrator/clone/postgres/db_clone_manager_impl_test.go
  migrator/migrations/m_190_to_m_191_plop_add_closed_time_column/migration_test.go
  migrator/migrations/m_192_to_m_193_report_config_migrations/migration_test.go
  migrator/version/version.go
  pkg/protoconv/time.go
  pkg/protoconv/time_test.go
  pkg/sac/observe/interceptors.go
  pkg/timestamp/microts.go
  pkg/timestamp/microts_test.go
  sensor/common/networkflow/manager/manager_impl.go
Labels: area/auth, area/central, area/sensor

#10619 chore(ui): update d3 packages used directly by the app
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/ClusteredEventMarker/ClusteredEventMarker.js
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/ClusteredEventMarker/__snapshots__/ClusteredEventMarker.test.tsx.snap
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/ClusteredEventsTooltip/ClusteredEventsTooltip.tsx
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/EventMarker/EventMarker.js
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/EventTooltip.tsx
  ui/apps/platform/src/Components/__snapshots__/ObjectDescriptionList.test.js.snap
  ui/yarn.lock
Labels: area/ui

#10597 ROX-21053: roxctl netpol generate - allow users to set custom dns port
  roxctl/netpol/generate/generate.go
  roxctl/netpol/generate/generate_test.go
  tests/roxctl/bats-tests/local/roxctl-netpol-generate-development.bats
  tests/roxctl/bats-tests/local/roxctl-netpol-generate-release.bats
Labels: area/roxctl

#10645 ROX-22477: Update picture for roxctl netpol connectivity map
  roxctl/netpol/connectivity/map/connectivity-graph-example.svg
Labels: area/roxctl

#10581 chore(ui): Fix codemod for aging images chart
  ui/apps/platform/src/Containers/Dashboard/Widgets/AgingImagesChart.tsx
Labels: area/ui

#10472 ROX-7481: Improve extenral/internal Network Metrics
  sensor/common/externalsrcs/handler.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/networkflow/metrics/metrics.go
Labels: area/sensor

#10650 chore(ui): Make all access control e2e tests pass
  ui/apps/platform/cypress/integration/accessControl/accessControl.helpers.js
  ui/apps/platform/cypress/integration/accessControl/accessControlOrigin.test.js
  ui/apps/platform/src/Containers/MainPage/InviteUsers/InviteUsersModal.tsx
Labels: area/ui

#10652 fix(ui): Dropdown fix
  ui/apps/platform/src/Containers/Vulnerabilities/components/FilterAutocomplete.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/SearchOptionsDropdown.tsx
  ui/apps/platform/src/hooks/patternfly/useSelectToggle.ts
Labels: area/ui

#10418 chore(dec-config): add tests to access scope updater
  central/declarativeconfig/health/datastore/datastore.go
  central/declarativeconfig/health/datastore/datastore_impl_test.go
  central/declarativeconfig/updater/access_scope_updater_test.go
  pkg/declarativeconfig/context.go
  pkg/uuid/uuid.go
  pkg/uuid/uuid_test.go
Labels: area/central

#10419 chore(dec-config): add tests to role updater
  central/authprovider/datastore/datastore.go
  central/declarativeconfig/updater/role_updater.go
  central/declarativeconfig/updater/role_updater_test.go
  central/declarativeconfig/updater/updater.go
  central/group/datastore/datastore.go
Labels: area/central

#10520 feat(roxctl): add m2m exchange as a command
  roxctl/central/central.go
  roxctl/central/login/login.go
  roxctl/central/m2m/exchange/exchange.go
  roxctl/central/m2m/exchange/exchange_test.go
  roxctl/central/m2m/m2m.go
  roxctl/common/client.go
  roxctl/common/config/config.go
Labels: area/roxctl

#10420 chore(dec-config): add tests to perm set updater
  central/declarativeconfig/updater/permission_set_updater_test.go
Labels: area/central

#10498 ROX-22964: Assert groups without ordering
  qa-tests-backend/src/test/groovy/DeclarativeConfigTest.groovy
Labels: area/roxctl, area/auth, area/central, area/sensor, area/scanner

#10561 ROX-23357: compliance profile cluster stats
  central/complianceoperator/v2/checkresults/service/service_impl.go
  central/complianceoperator/v2/checkresults/service/service_impl_test.go
  generated/api/v2/compliance_results_service.pb.go
  generated/api/v2/compliance_results_service.pb.gw.go
  generated/api/v2/compliance_results_service.swagger.json
  generated/api/v2/compliance_results_service_grpc.pb.go
  proto/api/v2/compliance_results_service.proto
Labels: area/central, epic/compliance-2.0/mvp

#10655 fix(ui): PF5 e2e fixes system config & health
  ui/apps/platform/cypress/integration/systemHealth/vulnDefinitions.test.js
  ui/apps/platform/src/Containers/SystemConfig/Details/PublicConfigBannerDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details/PublicConfigLoginDetails.tsx
Labels: area/ui

#10653 fix(ui): PF5 e2e fixes integrations page
  ui/apps/platform/cypress/helpers/formHelpers.js
  ui/apps/platform/cypress/helpers/tableHelpers.js
  ui/apps/platform/cypress/integration/integrations/apiTokens.test.js
  ui/apps/platform/cypress/integration/integrations/integrations.helpers.js
  ui/apps/platform/cypress/integration/systemHealth/vulnDefinitions.test.js
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/FormLabelGroup.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details/PublicConfigBannerDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details/PublicConfigLoginDetails.tsx
Labels: area/ui

#10664 ROX-23499: Fetch Collector 3.18.1
  COLLECTOR_VERSION
Labels: ci-all-qa-tests, backport

#10654 fix(ui): PF5 e2e fixes policies
  ui/apps/platform/cypress/constants/PoliciesPage.js
  ui/apps/platform/cypress/integration/policies/policiesTable.test.js
  ui/apps/platform/cypress/integration/policies/policyWizardStep3.test.js
Labels: area/ui

#10658 chore(deps): update junit2jira to v0.0.19
  .github/actions/junit2jira/action.yaml
  scripts/ci/lib.sh
Labels: area/ci

#10635 chore: change label for auto retest
  .github/dependabot.yaml
  tools/retest/main.go
Labels: area/ci

#10585 ROX-23045: Add header to Node detail page
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageHeader.tsx
Labels: area/ui, epic/vm2.0/node&platform

#10551 ROX-20160: Add Go build to main in Konflux
  .tekton/main-pull-request.yaml
  .tekton/main-push.yaml
  image/rhel/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  operator/konflux.Dockerfile
Labels: area/helm, area/operator

#10586 ROX-23046: Add node detail page tabs
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageVulnerabilities.tsx
  ui/apps/platform/src/css/trumps.css
Labels: area/ui, epic/vm2.0/node&platform

#10678 fix: release 4.4.1 merge conflict resolution
  CHANGELOG.md
  pkg/features/list.go
  sensor/kubernetes/listener/resources/convert.go
Labels: area/sensor, backport

#10679 chore(roxctl): add token-file flag for exchange command
  roxctl/central/m2m/exchange/exchange.go
  roxctl/central/m2m/exchange/exchange_test.go
Labels: area/roxctl

#10691 ROX-23544: resolve scan-go-binaries failures in 4.4
  govulncheck-allowlist.json
Labels: backport

#10649 ROX-23523: Fix policy categories filter
  central/detection/lifecycle/manager_impl.go
  central/policy/datastore/datastore_impl.go
  central/policy/service/service.go
  central/policy/service/service_impl.go
  central/policy/service/service_impl_test.go
  central/policy/service/singleton.go
  qa-tests-backend/src/main/groovy/services/PolicyCategoryService.groovy
  qa-tests-backend/src/test/groovy/DeploymentCheck.groovy
Labels: area/central

#10672 ROX-20160: Fetch external networks and load them into the main image
  .konflux/.gitignore
  .tekton/main-pull-request.yaml
  .tekton/main-push.yaml
  image/rhel/Dockerfile
  image/rhel/fetch-stackrox-data.sh
  image/rhel/konflux.Dockerfile
Labels: area/helm

#10566 ROX-23318, ROX-21296: compliance retrieve rule
  central/complianceoperator/v2/rules/datastore/datastore.go
  central/complianceoperator/v2/rules/datastore/datastore_impl.go
  central/complianceoperator/v2/rules/datastore/datastore_impl_test.go
  central/complianceoperator/v2/rules/datastore/mocks/datastore.go
  central/complianceoperator/v2/rules/service/service.go
  central/complianceoperator/v2/rules/service/service_impl.go
  central/complianceoperator/v2/rules/service/service_impl_test.go
  central/complianceoperator/v2/rules/service/singleton.go
  central/convert/internaltov2storage/compliance_rule.go
  central/convert/storagetov2/compliance_rule_service.go
  central/convert/testutils/compliance_rules.go
  central/main.go
  generated/api/v2/compliance_common.pb.go
  generated/api/v2/compliance_profile_service.pb.go
  generated/api/v2/compliance_profile_service.swagger.json
  generated/api/v2/compliance_rule_service.pb.go
  generated/api/v2/compliance_rule_service.pb.gw.go
  generated/api/v2/compliance_rule_service_grpc.pb.go
  generated/internalapi/central/compliance_operator.pb.go
  generated/storage/compliance_operator_v2.pb.go
  proto/api/v2/compliance_common.proto
  proto/api/v2/compliance_profile_service.proto
  proto/api/v2/compliance_rule_service.proto
  proto/internalapi/central/compliance_operator.proto
  proto/storage/compliance_operator_v2.proto
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorrules.go
Labels: area/central, area/sensor, epic/compliance-2.0/mvp

#10698 ROX-23540: Add Central cap to display Internal Entities in the NWG
  central/sensor/service/pipeline/networkflowupdate/pipeline.go
  pkg/centralsensor/caps_list.go
  sensor/common/networkflow/manager/manager_impl.go
Labels: area/central, area/sensor

#10683 fix: various typos
  central/scanner/handler.go
  pkg/cloudsources/paladin/client.go
  pkg/helm/charts/tests/centralservices/helmtest_test.go
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner-v4.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/collector-image.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/main-image.test.yaml
  pkg/set/common.go
  pkg/signatures/public_key_fetcher.go
  pkg/testutils/matchers.go
  roxctl/declarativeconfig/lint/lint.go
  roxctl/helm/derivelocalvalues/derivelocalvalues.go
  roxctl/image/check/check.go
  roxctl/image/scan/scan.go
  roxctl/summaries/policy/policy.go
Labels: area/roxctl, area/central, area/helm

#10730 chore(ui): Add missing step to delete a feature flag for CI in README
  ui/apps/platform/README.md
Labels: area/ui

#10714 ROX-23561: Extend timeout in updater test
  central/scannerdefinitions/handler/updater_test.go
Labels: area/central

#10737 ROX-23153: Return accumulated count in e2e test when parsed int is NaN
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageSingle.test.js
Labels: pls-merge, area/ui

#10722 chore(CI): remove nightly slack webhook
  .github/workflows/tagged-ci.yaml
  scripts/ci/lib.sh
Labels: area/ci

#10739 chore(scanner): log when registry does not support Range header
  scanner/indexer/indexer.go
Labels: area/scanner

#10682 ROX-23070: Add routing for Platform CVE cluster page
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCvesPage.tsx
Labels: area/ui, epic/vm2.0/node&platform, auto-retest

#10734 ROX-23642: compliance profile fix endpoint
  central/complianceoperator/v2/checkresults/service/service_impl.go
  central/complianceoperator/v2/checkresults/service/service_impl_test.go
  generated/api/v2/compliance_results_service.pb.go
  generated/api/v2/compliance_results_service.pb.gw.go
  generated/api/v2/compliance_results_service.swagger.json
  generated/api/v2/compliance_results_service_grpc.pb.go
  proto/api/v2/compliance_results_service.proto
Labels: area/central, epic/compliance-2.0/mvp

#10689 ROX-23071: Platform cves cluster page layout
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPageHeader.tsx
Labels: area/ui, epic/vm2.0/node&platform

#10690 chore(ui): Refactor header loading skeleton
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageHeader.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPageHeader.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageHeader.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/CvePageHeader.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/HeaderLoadingSkeleton.tsx
Labels: area/ui, epic/vm2.0/node&platform

#10761 fix(CI): give the CI user access to EKS clusters
  .openshift-ci/begin.sh
  scripts/ci/lib.sh
Labels: area/ci

#10719 fix: Repair failing `main` build in Konflux
  .tekton/main-pull-request.yaml
  .tekton/main-push.yaml
  image/rhel/konflux.Dockerfile
Labels: area/helm

#10699 ROX-23361: Add proto and pg-bindings for remediations
  central/complianceoperator/v2/remediations/store/postgres/gen.go
  central/complianceoperator/v2/remediations/store/postgres/store.go
  central/complianceoperator/v2/remediations/store/postgres/store_test.go
  generated/api/v1/search_service.pb.go
  generated/api/v1/search_service.swagger.json
  generated/internalapi/central/compliance_operator.pb.go
  generated/storage/compliance_operator_v2.pb.go
  pkg/postgres/schema/compliance_operator_remediation_v2.go
  pkg/search/options.go
  proto/api/v1/search_service.proto
  proto/internalapi/central/compliance_operator.proto
  proto/storage/compliance_operator_v2.proto
  tools/generate-helpers/pg-table-bindings/list.go
Labels: area/central, area/postgres

#10718 ROX-23058: Add Platform CVE table to overview page
  ui/apps/platform/src/Components/PatternFly/EmptyStateTemplate/EmptyStateTemplate.tsx
  ui/apps/platform/src/Components/TableStateTemplates/TbodyEmpty.tsx
  ui/apps/platform/src/Components/TableStateTemplates/TbodyError.tsx
  ui/apps/platform/src/Components/TableStateTemplates/TbodyFilteredEmpty.tsx
  ui/apps/platform/src/Components/TableStateTemplates/TbodyFullCentered.tsx
  ui/apps/platform/src/Components/TableStateTemplates/TbodyLoading.tsx
  ui/apps/platform/src/Components/TableStateTemplates/index.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/ClustersTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/PlatformCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/DeploymentResourceTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageNameLink.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/searchUtils.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/searchUtils.tsx
Labels: area/ui, epic/vm2.0/node&platform

#10703 feat(roxctl): allow writing output and error streams to files
  pkg/env/roxctl.go
  roxctl/common/environment/environment-impl.go
  roxctl/common/io/io.go
  roxctl/common/io/io_test.go
Labels: area/roxctl

#10778 chore(roxctl): remove unused duplicate retrieveAuthToken function
  roxctl/common/auth/token_test.go
  roxctl/common/token.go
Labels: area/roxctl

#10786 fix: retest_periodic.yml
  .github/workflows/retest_periodic.yml
Labels: area/ci

#10729 ROX-23574: Allow soft-restart of Sensor connection
  sensor/common/internalmessage/internal_message_pubsub.go
  sensor/common/internalmessage/message.go
  sensor/common/sensor/central_communication_impl.go
  sensor/common/sensor/sensor.go
  sensor/kubernetes/eventpipeline/pipeline.go
  sensor/kubernetes/eventpipeline/pipeline_impl.go
  sensor/kubernetes/sensor/sensor.go
Labels: team/maple, area/sensor, epic/compliance-2.0/mvp

#10755 chore(ui): node cves table component refactor
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodeCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodesTable.tsx
Labels: area/ui, epic/vm2.0/node&platform

#10754 ROX-23060: Add cluster list table to Platform CVEs
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/ClustersTable.tsx
Labels: area/ui, epic/vm2.0/node&platform

#10493 chore(e2e): Update cypress 13.7.3 devDependencies in ui
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/DiscoveredClustersToolbar.cy.jsx
  ui/apps/platform/src/Containers/Dashboard/ScopeBar.cy.jsx
  ui/yarn.lock
Labels: area/ui

#10327 chore(refactor): Move compliance operator kubernetes listeners
  sensor/kubernetes/complianceoperator/dispatchers/complianceoperatorprofiles.go
  sensor/kubernetes/complianceoperator/dispatchers/complianceoperatorresults.go
  sensor/kubernetes/complianceoperator/dispatchers/complianceoperatorrules.go
  sensor/kubernetes/complianceoperator/dispatchers/complianceoperatorscans.go
  sensor/kubernetes/complianceoperator/dispatchers/complianceoperatorscansettingbindings.go
  sensor/kubernetes/complianceoperator/dispatchers/complianceoperatorsuites.go
  sensor/kubernetes/complianceoperator/dispatchers/complianceoperatortailoredprofiles.go
  sensor/kubernetes/complianceoperator/dispatchers/convert_util.go
  sensor/kubernetes/listener/resources/dispatcher.go
Labels: area/sensor

#10788 fix: retest action
  .github/workflows/retest_periodic.yml
  tools/retest/github.go
  tools/retest/main.go
  tools/retest/main_integration_test.go
Labels: area/ci

#10756 ROX-23032: Add node cves list table
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/searchUtils.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/searchUtils.tsx
Labels: area/ui, epic/vm2.0/node&platform

#10781 ROX-23727: compliance integration endpoints total count
  central/complianceoperator/v2/integration/service/service_impl.go
  central/complianceoperator/v2/integration/service/service_impl_test.go
  generated/api/v2/compliance_integration_service.pb.go
  generated/api/v2/compliance_integration_service.swagger.json
  proto/api/v2/compliance_integration_service.proto
Labels: area/central, epic/compliance-2.0/mvp

#10760 chore(qa-tests): remove ROX_POSTGRES_DATASTORE
  qa-tests-backend/README.md
  qa-tests-backend/src/test/groovy/AutocompleteTest.groovy
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/CSVTest.groovy
  qa-tests-backend/src/test/groovy/GlobalSearch.groovy
  qa-tests-backend/src/test/groovy/SACTest.groovy
  qa-tests-backend/src/test/groovy/UpgradesTest.groovy
  qa-tests-backend/src/test/groovy/VulnMgmtSACTest.groovy
  qa-tests-backend/src/test/groovy/VulnMgmtTest.groovy
  qa-tests-backend/src/test/groovy/VulnReportingTest.groovy
  qa-tests-backend/src/test/groovy/VulnScanWithGraphQLTest.groovy
Labels: ci-all-qa-tests, ci-build-race-condition-debug

#10629 chore: cleanup deployment creation in test
  qa-tests-backend/src/test/groovy/ProcessBaselinesTest.groovy
Labels: auto-retest

#10799 fix(proto): Remove usage of internal gogoproto generated fields
  central/summary/service/service_impl_test.go
Labels: area/central

#10782 ROX-23726: compliance scan configuration endpoints total count
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  generated/api/v2/compliance_scan_configuration_service.pb.go
  generated/api/v2/compliance_scan_configuration_service.swagger.json
  proto/api/v2/compliance_scan_configuration_service.proto
Labels: area/central, epic/compliance-2.0/mvp

#10805 fix(imageintegrations): report 0 by default in telemetry
  central/imageintegration/datastore/telemetry.go
Labels: area/central

#10481 chore(ui): Upgrade TypeScript 5.4.5 and related devDependencies in ui
  ui/apps/platform/package.json
  ui/package.json
  ui/yarn.lock
Labels: area/ui

#10792 ROX-23034: Add affected node table to CVE single page
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/AffectedNodesTable.cy.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/AffectedNodesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeComponentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeCvePage.tsx
Labels: area/roxctl, area/ui, area/sensor, area/ci

#10693 ROX-23528: Add integration name + insecure flag to logs/errors
  pkg/registries/types/types.go
  sensor/common/scan/scan.go
  sensor/common/scan/scan_test.go
Labels: area/sensor

#10731 ROX-23616,ROX-23618: bump cosign
  go.mod
  go.sum
  sensor/common/scan/scan_test.go
Labels: area/sensor

#10590 ROX-22724: add registry timeout metrics
  central/imageintegration/singleton.go
  pkg/registries/artifactory/artifactory.go
  pkg/registries/artifactregistry/registry.go
  pkg/registries/azure/azure.go
  pkg/registries/docker/config.go
  pkg/registries/docker/docker.go
  pkg/registries/docker/docker_integration_test.go
  pkg/registries/docker/registry_without_digest_call.go
  pkg/registries/ecr/ecr.go
  pkg/registries/ecr/ecr_test.go
  pkg/registries/google/google.go
  pkg/registries/google/google_integration_test.go
  pkg/registries/google/google_test.go
  pkg/registries/ibm/ibm.go
  pkg/registries/ibm/ibm_integration_test.go
  pkg/registries/nexus/nexus.go
  pkg/registries/nexus/nexus_integration_test.go
  pkg/registries/quay/quay.go
  pkg/registries/quay/quay_integration_test.go
  pkg/registries/rhel/rhel.go
  pkg/registries/rhel/rhel_integration_test.go
  pkg/registries/types/metrics.go
  pkg/registries/types/metrics_test.go
  pkg/registries/types/options.go
  pkg/scanners/quay/quay.go
  sensor/common/registry/metrics/singleton.go
  sensor/common/registry/registry_store.go
Labels: ci-all-qa-tests, area/central, area/sensor

#10797 ROX-23624: PF5 style fixes follow up
  ui/apps/platform/cypress/integration/integrations/integrations.helpers.js
  ui/apps/platform/src/Components/TabNav/TabNavSubHeader.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopes.css
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviderForm.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/ConfigurationFormFields.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsPage.tsx
  ui/apps/platform/src/Containers/Clusters/Components/ClusterStatusPill.tsx
  ui/apps/platform/src/Containers/Collections/CollectionResults.tsx
  ui/apps/platform/src/Containers/ExceptionConfiguration/VulnerabilitiesConfiguration.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NetworkBreadcrumbs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ComponentLocation.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/SeverityCountLabels.tsx
  ui/apps/platform/src/css/trumps.css
Labels: area/ui

#10770 chore(deps): update junit2jira to v0.0.20
  .github/actions/junit2jira/action.yaml
  scripts/ci/lib.sh
Labels: area/ci, ci-test-junit-processing

#10713 chore: Expand RHACS in Konflux Dockerfile labels
  image/postgres/konflux.Dockerfile
  image/rhel/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  operator/konflux.Dockerfile
  scanner/image/db/konflux.Dockerfile
  scanner/image/scanner/konflux.Dockerfile
Labels: area/helm, area/operator, area/postgres, area/scanner

#10766 ROX-23589: Clarify Quay integration auth fields
  ui/apps/platform/cypress/integration/integrations/imageIntegrations.test.js
  ui/apps/platform/cypress/integration/risk/deploymentTimeline.test.js
  ui/apps/platform/cypress/integration/risk/podTimeline.test.js
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/QuayIntegrationForm.tsx
Labels: area/ui

#10758 ROX-23469: Update UI segment endpoint
  ui/apps/platform/src/Containers/SystemConfig/Form/SystemConfigForm.tsx
  ui/apps/platform/src/global/initializeAnalytics.js
  ui/apps/platform/src/reducers/telemetryConfig.js
Labels: area/ui

#10681 ROX-22389: add CRD watcher
  sensor/common/sensor/central_communication_impl.go
  sensor/kubernetes/eventpipeline/pipeline.go
  sensor/kubernetes/eventpipeline/pipeline_impl.go
  sensor/kubernetes/listener/listener.go
  sensor/kubernetes/listener/listener_impl.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/utils/utils.go
  sensor/kubernetes/listener/watcher/complianceoperator/availabilitychecker.go
  sensor/kubernetes/listener/watcher/crd/crdwatcher.go
  sensor/kubernetes/listener/watcher/crd/crdwatcher_test.go
  sensor/kubernetes/listener/watcher/crd/handler.go
  sensor/kubernetes/listener/watcher/status.go
  tests/complianceoperator/crds/scansetting.yaml
Labels: team/maple, area/sensor, epic/compliance-2.0/mvp

#10808 ROX-23042: Add node list table to CVE overview page
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodesTable.tsx
  ui/apps/platform/src/messages/common.ts
Labels: area/ui, epic/vm2.0/node&platform

#10700 ROX-23361: add kubernetes listener
  generated/internalapi/central/sensor_events.pb.go
  pkg/complianceoperator/api.go
  proto/internalapi/central/sensor_events.proto
  sensor/kubernetes/complianceoperator/dispatchers/complianceoperatorremediation_test.go
  sensor/kubernetes/complianceoperator/dispatchers/complianceoperatorremediations.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/kubernetes/listener/resources/mocks/dispatcher.go
  tests/complianceoperator/crds/complianeremediations.yaml
Labels: area/central, area/sensor, area/postgres

#10817 ROX-22019: Prepare Postgres walker for protobuf V2
  central/vulnerabilityrequest/datastore/internal/store/postgres/store.go
  generated/storage/test.pb.go
  pkg/postgres/schema/vulnerability_requests.go
  pkg/postgres/walker/walker.go
  pkg/postgres/walker/walker_test.go
  pkg/protocompat/oneof.go
  pkg/protocompat/oneof_test.go
  pkg/protoreflect/field.go
  proto/storage/test.proto
Labels: area/central, area/postgres

#10825 ROX-23039: Add pagination to Node CVE detail page
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodeCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/PlatformCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/NamespaceViewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/constants.ts
Labels: area/ui, epic/vm2.0/node&platform

#10840 fix(m2m): add all custom github claims
  central/auth/m2m/claims.go
  central/auth/m2m/claims_test.go
Labels: area/central

#10801 ROX-23661: Net graph internal entity patch
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
Labels: pls-merge, area/ui

#10832 ROX-23530: Switch to upstream kuttl
  operator/README.md
  operator/tools/kuttl/go.mod
  operator/tools/kuttl/go.sum
Labels: area/operator

#10834 ROX-22019: Cleanup usage of XXX_OneofWrappers internal func
  pkg/booleanpolicy/evaluator/pathutil/augmented_obj_meta.go
  pkg/postgres/walker/walker.go
  pkg/protocompat/oneof.go
  pkg/protocompat/oneof_test.go
  pkg/search/fieldmap/field_visitor.go
  pkg/search/walker.go
Labels: area/postgres

#10838 ROX-23040: Add summary cards to Node CVE detail page
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/AffectedNodesSummaryCard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/useAffectedNodes.ts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/useNodeCveMetadata.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/BySeveritySummaryCard.tsx
Labels: area/ui, epic/vm2.0/node&platform

#10846 fix: scan-go-binaries job
  govulncheck/main.go
  govulncheck/main_test.go
  govulncheck/testdata/vulns
Labels: scan-go-binaries

#10783 chore(ui): table state unified component
  ui/apps/platform/cypress/integration/collections/collectionsCrudWorkflow.test.js
  ui/apps/platform/cypress/integration/collections/deploymentMatching.test.js
  ui/apps/platform/src/Components/TableStateTemplates/TbodyEmpty.tsx
  ui/apps/platform/src/Components/TableStateTemplates/TbodyError.tsx
  ui/apps/platform/src/Components/TableStateTemplates/TbodyUnified.cy.jsx
  ui/apps/platform/src/Components/TableStateTemplates/TbodyUnified.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/ClustersTable.tsx
Labels: area/ui, epic/vm2.0/node&platform

#10717 ROX-23587: compliance total count
  central/complianceoperator/v2/checkresults/datastore/datastore.go
  central/complianceoperator/v2/checkresults/datastore/datastore_impl.go
  central/complianceoperator/v2/checkresults/datastore/datastore_impl_test.go
  central/complianceoperator/v2/checkresults/datastore/mocks/datastore.go
  central/complianceoperator/v2/checkresults/datastore/stats_views.go
  central/complianceoperator/v2/checkresults/service/service_impl.go
  central/complianceoperator/v2/checkresults/service/service_impl_test.go
  central/convert/storagetov2/compliance_results_service.go
  central/convert/testutils/compliance_results.go
  generated/api/v2/compliance_results_service.pb.go
  generated/api/v2/compliance_results_service.pb.gw.go
  generated/api/v2/compliance_results_service.swagger.json
  generated/api/v2/compliance_results_service_grpc.pb.go
  proto/api/v2/compliance_results_service.proto
Labels: area/central, area/postgres, epic/compliance-2.0/mvp

#10835 ROX-22019: Prepare graphql codegen for proto V2
  central/graphql/generator/codegen/schema.go
  central/graphql/generator/codegen/typewalk.go
Labels: area/central

#10773 fix(CI): link to build status for missing image failures
  scripts/ci/jobs/test-binary-build-commands.sh
  scripts/ci/lib.sh
  scripts/ci/test_state.sh
  tests/e2e/lib.sh
  tools/check-workflow-run/go.mod
  tools/check-workflow-run/go.sum
  tools/check-workflow-run/main.go
Labels: area/ci

#10740 feat: Adopt cobra & split bundles per updater
  .github/workflows/scanner-dev-vuln-update.yaml
  .github/workflows/scanner-pr-vuln-update.yaml
  .github/workflows/scanner-release-vuln-update.yaml
  scanner/cmd/updater/main.go
  scanner/updater/export.go
  scanner/updater/import.go
Labels: area/scanner, area/ci, pr-update-scanner-vulns, scanner-split-vulns

#10868 ROX-22389: Do not query with an empty namespace
  sensor/kubernetes/complianceoperator/updater.go
Labels: team/maple, area/sensor, epic/compliance-2.0/mvp

#10845 ROX-23645, ROX-21933: Policy Wizard Step 3 test flakes
  ui/apps/platform/cypress/helpers/policies.js
  ui/apps/platform/cypress/helpers/visit.js
Labels: area/ui

#10601 chore(deps): Bump github.com/stackrox/scanner
  central/scanner/handler.go
  central/vulnerabilityrequest/validator/validate.go
  go.mod
  go.sum
  pkg/cluster/validation.go
  pkg/images/utils/utils.go
  pkg/registrymirror/store.go
Labels: area/central

#10841 ROX-23688: Update compliance routing
  ui/apps/platform/cypress/integration/compliance-enhanced/ComplianceEnhanced.helpers.js
  ui/apps/platform/cypress/integration/compliance-enhanced/complianceEnhancedScanConfigs.test.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ClusterComplianceHeader.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ClusterCompliancePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ComplianceEnhancedPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/Clusters/ClusterDetails.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/Clusters/ClusterDetailsContent.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/Clusters/ClusterDetailsHeader.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/Clusters/ClusterDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClustersCoverageTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragesPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/compliance.coverage.routes.ts
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/compliance.coverage.utils.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/CheckStatusDropdown.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/CheckStatusModal.css
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/CheckStatusModal.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/CoverageTableViewToggleGroup.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/RadioButtonWithStats.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/CreateScanConfigPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/EditScanConfigDetail.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigDetailPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Table/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ViewScanConfigDetail.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ClusterSelection.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ProfileSelection.css
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ProfileSelection.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ReviewConfig.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ScanConfigOptions.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ScanConfigWizardFooter.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ScanConfigWizardForm.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/useFormikScanConfig.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/compliance.scanConfigs.routes.ts
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/compliance.scanConfigs.utils.test.ts
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/compliance.scanConfigs.utils.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ComplianceClusterStatus.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ScanConfigClustersTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ScanConfigParameterView.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ScanConfigProfiles.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/ComplianceStatusPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/ComplianceDashboardPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/ScanResultsOverviewTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/ScanResultsToolbar.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/Widgets/ComplianceByCluster.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/Widgets/ComplianceByProfile.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/Widgets/HorizontalBarChart.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/routePaths.ts
Labels: area/ui

#10771 feat(qa): Update midstream index images to use build v4.4.1-4
  operator/midstream/iib.json
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Labels: ci-all-qa-tests, area/operator, do-not-merge

#10807 ROX-23356:Add profile metadata to compliance stats API
  central/complianceoperator/v2/checkresults/service/service_impl.go
  central/complianceoperator/v2/checkresults/service/service_impl_test.go
  central/complianceoperator/v2/checkresults/service/singleton.go
  central/convert/storagetov2/compliance_results_service.go
  central/convert/testutils/compliance_results.go
  generated/api/v2/compliance_results_service.pb.go
  generated/api/v2/compliance_results_service.swagger.json
  proto/api/v2/compliance_results_service.proto
Labels: area/central, epic/compliance-2.0/mvp

#10871 fix(ui): GitHub spelling in m2m ui
  ui/apps/platform/cypress/integration/integrations/machineAccessConfigs.test.ts
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/MachineAccessIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/utils/tableColumnDescriptor.ts
Labels: area/ui

#10876 fix(scanner): Fix vuln generation workflows
  .github/workflows/scanner-dev-vuln-update.yaml
  .github/workflows/scanner-release-vuln-update.yaml
Labels: area/ci

#10881 fix(test): Ensure that timer is not zero in Test_CreateDeleteCRD
  sensor/kubernetes/listener/watcher/crd/crdwatcher_test.go
Labels: area/sensor

#10750 ROX-23308: Run image prefetcher before operator e2e tests.
  .openshift-ci/post_tests.py
  Makefile
  operator/tests/run.sh
  scripts/ci/lib.sh
  tools/test/go.mod
  tools/test/go.sum
  tools/test/tools-import.go
Labels: area/operator, area/ci, ci-build-race-condition-debug

#10857 ROX-23068: Add cluster list to Platform CVE detail page
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/ClustersTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/AffectedClustersTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/PlatformCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/useAffectedClusters.ts
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/utils/stringUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
Labels: area/ui, epic/vm2.0/node&platform

#10836 ROX-23767: use roxctl in image scan action
  .github/workflows/check-image-vulnerabilities.yml
  .github/workflows/lint.yml
  .github/workflows/scripts/check-image-vulnerabilities.py
Labels: area/ci

#10854 chore(ui): Refactor Node/Platform CVE tables
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/AffectedNodesTable.cy.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/AffectedNodesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/useNodeCves.ts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/useNodes.ts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/useTotalNodeCount.ts
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/usePlatformCves.ts
  ui/apps/platform/src/utils/searchUtils.test.js
  ui/apps/platform/src/utils/searchUtils.ts
Labels: area/ui, epic/vm2.0/node&platform

#10842 ROX-23797: Remove compliance v2 dashboard code
  ui/apps/platform/cypress/integration/compliance-enhanced/ComplianceEnhanced.helpers.js
  ui/apps/platform/cypress/integration/compliance-enhanced/complianceEnhancedDashboard.test.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/ComplianceEnhancedPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/MockData/complianceProfileServiceMocks.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/MockData/complianceResultsServiceMocks.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/ComplianceStatusPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/ComplianceDashboardPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/ScanResultsOverviewTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/ScanResultsToolbar.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/Widgets/ColorsForCompliance.ts
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/Widgets/ComplianceByCluster.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/Widgets/ComplianceByProfile.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Dashboard/Widgets/HorizontalBarChart.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Reports/ComplianceReports.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Reports/ComplianceReportsClusterPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Reports/ComplianceReportsProfilePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/Reports/ComplianceReportsScanPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Status/types.ts
  ui/apps/platform/src/services/ComplianceEnhancedService.ts
Labels: area/ui

#10856 ROX-23776: Replace DeliveryDestination with NotifierConfiguration
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/DeliveryDestinationsDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/DeliveryDestinationsForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/NotifierSelection.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportParametersForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/useReportFormValues.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/hooks/useEmailTemplateModal.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.ts
Labels: area/ui

#10875 ROX-23162, ROX-23281: rocksdb remove bolt
  central/authprovider/datastore/datastore_impl.go
  central/namespace/datastore/datastore.go
  central/networkpolicies/datastore/datastore.go
  go.mod
  migrator/upgrade.go
  pkg/backup/backup_bundle.go
  pkg/bolthelper/bolt.go
  pkg/bolthelper/bucketref.go
  pkg/bolthelper/count.go
  pkg/bolthelper/crud/generic/generic.go
  pkg/bolthelper/crud/generic/generic_impl.go
  pkg/bolthelper/kv.go
  pkg/bolthelper/singletonstore/store.go
  pkg/bolthelper/singletonstore/store_impl.go
  pkg/bolthelper/singletonstore/store_test.go
  pkg/bolthelper/tests/count_test.go
  pkg/metrics/operations.go
  pkg/odirect/odirect_darwin.go
  pkg/odirect/odirect_linux.go
  pkg/postgres/deprecated_call.go
  pkg/secondarykey/secondary.go
  pkg/testutils/close_db.go
  pkg/testutils/db_name.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/central, area/postgres

#10888 ROX-23767: fail on high severity vulns
  .github/workflows/check-image-vulnerabilities.yml
Labels: area/ci

#10885 fix(fake-workloads): Add fake dynamic client
  sensor/kubernetes/fake/fake.go
Labels: team/maple, area/sensor

#10882 ROX-23463: Bump Collector version
  COLLECTOR_VERSION
Labels: ci-all-qa-tests, backport

#10874 ROX-22019: Fix protobuf V2 copylock linter errors
  pkg/booleanpolicy/augmentedobjs/construct.go
  sensor/common/detector/enricher.go
Labels: area/sensor

#10852 ROX-23026: Create integration test outline for node/platform cves
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/cveDetailPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/nodeCvesOverviewPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/nodeDetailPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/platformCves/clusterDetailPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/platformCves/cveDetailPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/platformCves/platformCvesOverviewPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/snoozeWorkflow.test.ts
Labels: area/ui

#10806 chore(auth): add telemetry for m2m
  central/auth/datastore/telemetry.go
  central/main.go
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml.htpl
  operator/tests/central/central-misc/080-assert-non-openshift.yaml
  operator/tests/central/central-misc/080-assert-openshift.yaml
Labels: area/central, area/helm, area/operator

#10892 ROX-22889: Update Scanner genesis dump targeting ACS 4.4.2
  SCANNER_VERSION
Labels: ci-all-qa-tests, backport

#10893 ROX-22889: Update Scanner genesis dump targeting ACS 4.3.7
  SCANNER_VERSION
Labels: ci-all-qa-tests

#10910 chore(CODEOWNERS): update Merlin's responsibilities
  .github/CODEOWNERS
Labels: area/ci

#10898 fix(test): Remove randomness in the watcher test
  sensor/kubernetes/listener/watcher/crd/crdwatcher_test.go
Labels: area/sensor

#10870 chore(roxctl): allow passing API token file path through env variable
  pkg/env/roxctl.go
  roxctl/common/auth/token.go
  roxctl/common/auth/token_test.go
  roxctl/common/flags/api_token_file.go
Labels: area/roxctl

#10725 ROX-23200: comments on query performance
  central/postgres/pruning.go
  pkg/env/postgres_default_timeout.go
Labels: ok-to-test, external-contributor

#10833 ROX-19974: Add trusted TLS certs for Sensor-Central HTTP connection
  sensor/common/centralclient/client.go
  sensor/common/centralclient/grpc_connection.go
  sensor/common/scannerdefinitions/http_handler.go
  sensor/common/sensor/sensor.go
  sensor/debugger/central/grpc_client.go
  sensor/kubernetes/main.go
  sensor/kubernetes/sensor/options.go
  sensor/kubernetes/sensor/sensor.go
  sensor/tests/connection/connection_test.go
  sensor/tests/helper/helper.go
  sensor/tests/helper/http.go
  tools/local-sensor/main.go
Labels: area/sensor

#10907 chore(signatureintegration): use a cached store
  central/imageintegration/store/postgres/gen.go
  central/imageintegration/store/postgres/store.go
Labels: area/central

#10887 ROX-23767: upload roxctl scan results
  .github/workflows/build.yaml
  release/scripts/scan-images-with-roxctl.sh
Labels: area/ci

#10904 ROX-23067: platform CVE summary cards
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/AffectedClustersSummaryCard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/ClustersByTypeSummaryCard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/PlatformCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/usePlatformCveMetadata.ts
Labels: area/ui

#10905 chore: cleanup usage of sliceutils and maputil
  central/administration/events/datastore/internal/writer/writer_impl.go
  central/cluster/service/service_impl.go
  central/declarativeconfig/manager_impl.go
  central/declarativeconfig/watch_handler.go
  central/declarativeconfig/watch_handler_test.go
  central/detection/service/service_impl.go
  central/pruning/pruning.go
  operator/pkg/proxy/extension.go
  pkg/declarativeconfig/access_scope.go
  pkg/declarativeconfig/permission_set.go
  pkg/gjson/modifiers.go
  pkg/maputil/maputil.go
  pkg/printers/sarif.go
  pkg/registrymirror/store.go
  pkg/sliceutils/concat.go
  pkg/sliceutils/extra_types.go
  pkg/sliceutils/map.go
  roxctl/declarativeconfig/create/access_scope.go
  roxctl/declarativeconfig/create/auth_provider.go
  roxctl/declarativeconfig/create/notifier.go
  roxctl/declarativeconfig/create/permission_set.go
  scanner/matcher/updater/distribution/updater.go
  scanner/services/matcher.go
Labels: area/roxctl, area/central, area/operator, area/scanner

#10918 ROX-23767: increase retry time
  .github/workflows/build.yaml
Labels: area/ci

#10803 chore: do not batch telemetry events
  central/telemetry/centralclient/instance_config.go
  central/telemetry/centralclient/instance_config_test.go
Labels: area/central

#10931 ROX-23767: scan after main manifests
  .github/workflows/build.yaml
Labels: area/ci

#10932 chore(scanner): remove 4.3.7 from RELEASE_VERSION
  scanner/updater/version/RELEASE_VERSION
Labels: area/scanner

#10753 ROX-23361: add central Compliance Remediation pipeline
  central/complianceoperator/v2/pipelines/complianceoperatorremediationsv2/pipeline.go
  central/complianceoperator/v2/pipelines/complianceoperatorremediationsv2/pipeline_test.go
  central/complianceoperator/v2/remediations/datastore/datastore.go
  central/complianceoperator/v2/remediations/datastore/datastore_impl.go
  central/complianceoperator/v2/remediations/datastore/datastore_impl_test.go
  central/complianceoperator/v2/remediations/datastore/mocks/datastore.go
  central/complianceoperator/v2/remediations/datastore/singleton.go
  central/complianceoperator/v2/scansettingbindings/datastore/datastore_impl.go
  central/convert/internaltov2storage/compliance_remediation.go
  central/convert/testutils/compliance_profiles.go
  central/sensor/service/pipeline/all/factory.go
  central/sensor/service/service_impl.go
  pkg/centralsensor/caps_list.go
  pkg/deduperkey/key.go
  pkg/features/list.go
  pkg/metrics/resource_string.go
  pkg/metrics/resources.go
  qa-tests-backend/src/test/groovy/ReconciliationTest.groovy
  sensor/kubernetes/complianceoperator/dispatchers/complianceoperatorremediation_test.go
  sensor/kubernetes/complianceoperator/dispatchers/complianceoperatorremediations.go
Labels: area/central, area/sensor

#10341 ROX-17931: Refactor deduping queue
  central/sensor/service/connection/connection_impl.go
  central/sensor/service/connection/deduping_queue.go
  central/sensor/service/connection/worker_queue.go
  pkg/dedupingqueue/deduping_queue.go
  pkg/dedupingqueue/deduping_queue_test.go
  sensor/kubernetes/eventpipeline/resolver/resolver.go
  sensor/kubernetes/eventpipeline/resolver/resolver_impl.go
  sensor/kubernetes/eventpipeline/uniqueue/uniqueue.go
Labels: team/maple, area/central, area/sensor, 99papercuts

#10919 chore(test): Do not dereference pointers in assertions
  central/alert/datastore/datastore_sac_test.go
  central/cluster/datastore/datastore_sac_test.go
  central/namespace/datastore/datastore_sac_test.go
  central/node/datastore/datastore_sac_test.go
  central/pod/datastore/datastore_impl_real_test.go
  central/pod/datastore/datastore_sac_test.go
  central/processbaseline/datastore/datastore_impl_test.go
  central/processbaseline/datastore/datastore_sac_test.go
  central/processbaselineresults/datastore/datastore_sac_test.go
  central/processindicator/datastore/datastore_sac_test.go
  central/processlisteningonport/datastore/datastore_impl_test.go
  central/rbac/k8srole/datastore/datastore_sac_test.go
  central/rbac/k8srolebinding/datastore/datastore_sac_test.go
  central/risk/datastore/datastore_sac_test.go
  central/secret/datastore/datastore_sac_test.go
  central/serviceaccount/datastore/datastore_sac_test.go
Labels: area/central

#10940 ROX-23540: Central cap to display Internal Entities in the NWG (#10698)
  central/sensor/service/pipeline/networkflowupdate/pipeline.go
  pkg/centralsensor/caps_list.go
  sensor/common/networkflow/manager/manager_impl.go
Labels: area/central, area/sensor, backport

#10935 ROX-23767: silent operator make
  .github/workflows/build.yaml
Labels: area/ci

#10942 chore(fix): Add ComplianceRemediation to CRD availability
  sensor/kubernetes/listener/watcher/complianceoperator/availabilitychecker.go
Labels: area/sensor

#10941 [ROX-23566] Update alerts when violations in an alert changes (#10686)
  central/alert/datastore/internal/store/postgres/store.go
  generated/storage/alert.pb.go
  pkg/postgres/schema/alerts.go
  proto/storage/alert.proto
Labels: area/central, area/postgres, backport

#10872 ROX-23077: Add CVE table to cluster detail page
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/useClusterVulnerabilities.ts
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/PartialCVEDataAlert.tsx
Labels: area/ui, epic/vm2.0/node&platform

#10894 fix(CI): better cancelation support
  .openshift-ci/end.sh
  scripts/ci/lib.sh
Labels: area/ci

#9255 ROX-19615: Network Graph Flake
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Labels: ci-all-qa-tests
