Repository stackrox/stackrox, pull requests merged in 2024-08, with the labels that each got.

#12138 ROX-25407: Stabilize Splunk Violation Test
  qa-tests-backend/src/test/groovy/IntegrationsSplunkViolationsTest.groovy
Labels: ci-all-qa-tests, team/maple

#12236 chore(ci): filter for high severity in code scanning
  .github/workflows/build.yaml
  .github/workflows/scanner-build.yaml
Labels: area/ci

#12240 fix: style after bumping docker/docker package
  go.sum
Labels: backport

#12230 chore: login to docker.io to fix builds
  .github/workflows/build.yaml
  .github/workflows/scanner-build.yaml
Labels: area/ci

#11907 ROX-25256: add GA requirements to the PR template
  .github/pull_request_template.md
Labels: area/ci

#12142 chore: switch to UnmarshalVT
  central/globaldb/v2backuprestore/service/http_handlers.go
  central/image/datastore/store/postgres/store.go
  central/metadata/service/service_impl_test.go
  central/notifiers/awssh/notifier.go
  central/probeupload/service/service_impl.go
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/store/postgres/full_store.go
  pkg/cryptoutils/cryptocodec/crypto_codec_test.go
  pkg/grpc/common/authn/servicecerttoken/token.go
  pkg/postgres/pgutils/scan.go
  pkg/protocompat/message.go
  pkg/protocompat/message_test.go
  pkg/protocompat/nil_test.go
  pkg/search/postgres/common.go
  sensor/admission-control/settingswatch/common.go
  sensor/admission-control/settingswatch/k8s.go
  sensor/admission-control/settingswatch/mount.go
  sensor/admission-control/settingswatch/persist.go
  tests/admctrl_configmap_test.go
Labels: area/central, area/sensor, area/admission-controller, area/postgres

#12118 fix: ensure config is only rewritten when changed
  central/config/datastore/datastore_test.go
  central/config/datastore/singleton.go
Labels: area/central

#12244 feat(local-sensor): Only create real k8s client when needed
  tools/local-sensor/main.go
Labels: team/maple

#11791 ROX-24978: Compatibility tests should not test eol combinations
  .openshift-ci/get_latest_helm_chart_versions.py
  scripts/ci/jobs/gke_version_compatibility_tests.py
Labels: team/maple, area/ci

#12245 chore: Limit Renovate focus to Konflux things
  .github/renovate.json5
Labels: area/ci

#11981 chore: migrate metadata to aws v2
  go.mod
  pkg/cloudproviders/aws/metadata.go
  pkg/cloudproviders/aws/metadata_test.go
Labels: 99papercuts

#12186 chore(scanner): remove ossls references outside CI
  scanner/Makefile
  scanner/tools/go.mod
  scanner/tools/go.sum
  scanner/tools/tools-import.go
Labels: area/scanner

#12210 chore(tests): remove mock response writer
  central/debug/service/service_test.go
  central/scannerdefinitions/handler/handler_test.go
  central/splunk/violations_test.go
  pkg/httputil/error_test.go
  pkg/httputil/mock/response_writer.go
  sensor/common/scannerdefinitions/http_handler_test.go
Labels: area/central, area/sensor

#12246 chore: Print renovate config for debugging
  .github/renovate.json5
Labels: area/ci

#12222 ROX-25538: Add Node Scanning v4 Proto
  generated/internalapi/scanner/v4/nodeindexer_service.pb.go
  generated/internalapi/scanner/v4/nodeindexer_service_compat.pb.go
  generated/internalapi/scanner/v4/nodeindexer_service_grpc.pb.go
  generated/internalapi/scanner/v4/nodeindexer_service_vtproto.pb.go
  proto/internalapi/scanner/v4/nodeindexer_service.proto
Labels: team/maple, area/scanner

#12143 chore: remove protocompat.Marshal
  pkg/grpc/common/authn/servicecerttoken/token.go
  pkg/protocompat/message_test.go
  pkg/protocompat/nil_test.go
  roxctl/central/db/restore/v2_restorer.go
  roxctl/collector/supportpackages/upload/upload.go
  sensor/admission-control/settingswatch/persist.go
  sensor/kubernetes/admissioncontroller/config_map_persister.go
Labels: area/roxctl, area/sensor, area/admission-controller, auto-retest

#12259 chore: bump SCANNER_VERSION to 2.34.1
  SCANNER_VERSION
Labels: ci-all-qa-tests, backport

#12077 chore(ui): Fix accessibility issue of color contrast in search label
  ui/apps/platform/src/Components/URLSearchInputWithAutocomplete.js
Labels: area/ui

#12258 chore(proto): switch from Size() to SizeVT()
  central/blob/datastore/datastore.go
  central/sensor/service/connection/connection_impl.go
  central/sensor/service/connection/messagestream/sizing_events.go
  compliance/collection/metrics/metrics.go
  sensor/admission-control/manager/manager_impl.go
  sensor/common/deduper/deduper.go
  sensor/common/metrics/sizing_events.go
  sensor/common/sensor/central_communication_impl.go
  sensor/kubernetes/listener/resources/networkpolicy_store.go
  sensor/tests/helper/trace.go
Labels: area/central, area/sensor, area/admission-controller, auto-retest

#12260 chore(proto): switch from Unmarshal to UnmarshalVT
  central/apitoken/datastore/internal/schedulestore/postgres/store.go
  central/config/store/postgres/store.go
  central/cve/cluster/datastore/store/postgres/full_store.go
  central/delegatedregistryconfig/store/postgres/store.go
  central/image/datastore/store/postgres/store.go
  central/installation/store/postgres/store.go
  central/node/datastore/store/postgres/store.go
  central/notifier/encconfig/datastore/store/postgres/store.go
  central/sensorupgradeconfig/datastore/internal/store/postgres/store.go
  central/systeminfo/store/postgres/store.go
  central/version/postgres/store.go
  migrator/migrations/m_175_to_m_176_create_notification_schedule_table/notificationschedulestore/postgres_plugin.go
  migrator/migrations/m_180_to_m_181_move_to_blobstore/schema/convert_blobs.go
  migrator/migrations/m_186_to_m_187_add_blob_search/schema/after/convert_blobs.go
  migrator/migrations/m_186_to_m_187_add_blob_search/schema/before/convert_blobs.go
  migrator/migrations/m_187_to_m_188_remove_reports_without_migrated_collections/schema/convert_collections.go
  migrator/migrations/m_187_to_m_188_remove_reports_without_migrated_collections/schema/convert_report_configurations.go
  migrator/migrations/m_188_to_m_189_logimbues_add_time_column/schema/convert_log_imbues.go
  migrator/migrations/m_188_to_m_189_logimbues_add_time_column/test/schema/convert_log_imbues.go
  migrator/migrations/m_189_to_m_190_vulnerability_requests_add_name/schema/new/convert_vulnerability_requests.go
  migrator/migrations/m_190_to_m_191_plop_add_closed_time_column/schema/convert_listening_endpoints.go
  migrator/migrations/m_190_to_m_191_plop_add_closed_time_column/test/schema/convert_listening_endpoints.go
  migrator/migrations/m_191_to_m_192_vulnerability_requests_searchable_scope/schema/new/convert_vulnerability_requests.go
  migrator/migrations/m_192_to_m_193_report_config_migrations/schema/convert_notifiers.go
  migrator/migrations/m_192_to_m_193_report_config_migrations/schema/convert_report_configurations.go
  migrator/migrations/m_192_to_m_193_report_config_migrations/schema/convert_report_snapshots.go
  migrator/migrations/m_193_to_m_194_policy_updates_for_4_3/schema/convert_policies.go
  migrator/migrations/m_198_to_m_199_policy_description_and_criteria_updates/schema/convert_policies.go
  migrator/migrations/m_199_to_m_200_policy_updates_for_4_5/schema/convert_policies.go
  migrator/migrations/m_199_to_m_200_policy_updates_for_4_5/schema/convert_policy_categories.go
  migrator/migrations/m_199_to_m_200_policy_updates_for_4_5/schema/convert_policy_category_edges.go
  migrator/migrations/m_200_to_m_201_compliance_v2_for_4_5/schema/new/convert_compliance_operator_check_result_v2.go
  migrator/migrations/m_200_to_m_201_compliance_v2_for_4_5/schema/new/convert_compliance_operator_profile_v2.go
  migrator/migrations/m_200_to_m_201_compliance_v2_for_4_5/schema/new/convert_compliance_operator_rule_v2.go
  migrator/migrations/m_200_to_m_201_compliance_v2_for_4_5/schema/new/convert_compliance_operator_scan_v2.go
  migrator/migrations/m_201_to_m_202_vuln_request_v1_to_v2/schema/convert_vulnerability_requests.go
  migrator/migrations/m_202_to_m_203_vuln_requests_for_suppressed_cves/schema/convert_image_cve_edges.go
  migrator/migrations/m_202_to_m_203_vuln_requests_for_suppressed_cves/schema/convert_image_cves.go
  migrator/migrations/m_202_to_m_203_vuln_requests_for_suppressed_cves/schema/convert_images.go
  migrator/migrations/m_202_to_m_203_vuln_requests_for_suppressed_cves/schema/convert_vulnerability_requests.go
  migrator/migrations/m_203_to_m_204_openshift_policy_exclusions_for_4_5/schema/convert_policies.go
  migrator/migrations/m_203_to_m_204_openshift_policy_exclusions_for_4_5/schema/convert_policy_categories.go
  migrator/migrations/m_203_to_m_204_openshift_policy_exclusions_for_4_5/schema/convert_policy_category_edges.go
  migrator/migrations/m_204_to_m_205_clusters_platform_type_and_k8_version/schema/new/convert_clusters.go
  migrator/migrations/m_204_to_m_205_clusters_platform_type_and_k8_version/schema/old/convert_clusters.go
  migrator/migrations/postgreshelper/schema/convert_images.go
  migrator/version/convert_versions.go
  sensor/tests/helper/trace.go
  tools/generate-helpers/pg-table-bindings/singleton.go.tpl
Labels: area/central, area/sensor, area/postgres, auto-retest

#12238 fix(ui): Specify accessible name of Network Graph side panel
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalGroupSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/genericEntities/GenericEntitiesSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/namespace/NamespaceSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
Labels: area/ui

#12209 fix(ui): Fix accessibility issue with non-unique banner landmark
  ui/apps/platform/src/Containers/MainPage/Header/Header.tsx
  ui/apps/platform/src/Containers/MainPage/Header/Masthead.tsx
  ui/apps/platform/src/Containers/MainPage/Header/MastheadToolbar.tsx
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
Labels: area/ui

#12276 ROX-22359: Stop renovating Dockerfiles other than Konflux ones
  .github/renovate.json5
Labels: area/ci

#12275 tests: better messages about image pre-fetcher
  scripts/ci/lib.sh
Labels: auto-retest

#12116 chore: drop ALL capabilities from operator pod
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/manager/manager.yaml
Labels: area/operator

#12148 ROX-17546: Remove support for Central PVC from Helm Chart
  dev-tools/helmdiff.sh
  image/templates/README.md
  image/templates/helm/stackrox-central/README.md.htpl
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/templates/01-central-02-psps.yaml
  image/templates/helm/stackrox-central/templates/01-central-02-security.yaml
  image/templates/helm/stackrox-central/templates/01-central-11-pvc.yaml
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml.htpl
  image/templates/helm/stackrox-central/templates/_central_setup.tpl
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-central/values.yaml.htpl
  operator/tests/central/central-misc/040-assert-non-openshift.yaml
  operator/tests/central/central-misc/040-assert-openshift.yaml
  operator/tests/common/central-volumes-assert-non-openshift.yaml
  operator/tests/common/central-volumes-assert-openshift.yaml
  pkg/helm/charts/tests/centralservices/base_suite_test.go
  pkg/helm/charts/tests/centralservices/flavor/testdata/helmtest/override/override.test.yaml
  pkg/helm/charts/tests/centralservices/multi_namespace_test.go
  pkg/helm/charts/tests/centralservices/testdata/all-values-explicit.yaml
  pkg/helm/charts/tests/centralservices/testdata/autogenerate-all.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/additional-cas.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/central.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/customize-metadata.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/declarative-configuration.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/default-labels.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/host-aliases.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/image-pull-secrets-legacy.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/image-pull-secrets.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/injected-cabundle-cm.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/monitoring.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/node-selector.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/openshift-auth.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/openshift-autosense.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/openshift-monitoring.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/persistence.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/priority-class-name.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/psp-autosense.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner-v4.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/telemetry.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/tls-generates.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/tolerations.test.yaml
  pkg/renderer/readme.go
  pkg/renderer/templater.go
  pkg/renderer/templates/public_values.yaml.tpl
  roxctl/common/flags/persistence.go
  roxctl/helm/derivelocalvalues/derivelocalvalues.go
  scripts/quick-helm-install.sh
  tests/e2e/bats/fixtures/test-pod-with-oomkilled_object.json
  tests/e2e/run-scanner-v4.bats
  tests/e2e/yaml/central-cr-midstream.envsubst.yaml
  tests/roxctl/bats-tests/helpers.bash
  ui/apps/platform/cypress/fixtures/network/centralDeployment.json
Labels: area/roxctl, area/ui, area/helm, area/operator

#12038 feat(qa): Update midstream index images to use build v4.5.0-3
  operator/midstream/iib.json
Labels: ci-all-qa-tests, area/operator

#12228 refactor(ui): Update compound search filter typing
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/cveDetailPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/nodeCvesOverviewPage.test.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/cluster.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/complianceScan.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/deployment.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/image.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/imageCVE.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/imageComponent.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/namespace.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/node.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/nodeCVE.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/nodeComponent.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/platformCVE.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/profileCheck.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/components/AttributeSelector.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.cy.jsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilterInputField.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/EntitySelector.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/types.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/searchFilterConfig.test.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/searchFilterConfig.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.test.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragesPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/searchFilterConfig.ts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodeCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/PlatformCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/PlatformCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/NamespaceViewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/AdvancedFiltersToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/searchFilterConfig.ts
  ui/apps/platform/src/Containers/Vulnerabilities/searchOptions.ts
Labels: area/ui

#12290 fix(ci): style checks running out of disk space
  .github/workflows/style.yaml
Labels: area/ci

#12284 fix(ci): clear disk space for scanner vulns
  .github/workflows/scanner-dev-vuln-update.yaml
  .github/workflows/scanner-release-vuln-update.yaml
Labels: area/ci, pr-update-scanner-vulns

#11212 chore(central): simplify v2 and v4 handling
  central/scannerdefinitions/handler/handler.go
  central/scannerdefinitions/handler/handler_test.go
Labels: area/central

#12223 tests(ImageScanning): wait longer for autogenerated registry
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
Labels: auto-retest

#12257 ROX-25450: Remap imagePullErr
  central/sensor/service/connection/upgradecontroller/process_check_ins.go
  sensor/kubernetes/upgrade/image_errors.go
  sensor/kubernetes/upgrade/process.go
Labels: team/maple, area/central, area/sensor

#12156 fix: Konflux Improvements for Operator Bundle
  .tekton/operator-bundle-build.yaml
  .tekton/roxctl-build.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/konflux.bundle.Dockerfile
Labels: area/operator

#12189 ROX-25333: Add autocomplete inputs to policy violations filters
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/policy.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/types.ts
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePanel.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTableSearchFilter.tsx
Labels: area/ui

#12298 RXO-22359: Update Renovate config
  .github/renovate.json5
Labels: area/ci

#12292 tests: rewrite in go and simplify TLSChallengeTest
  qa-tests-backend/artifacts/tls-challenge-test/nginx-lb-certs/ca-key.pem
  qa-tests-backend/artifacts/tls-challenge-test/nginx-lb-certs/ca.pem
  qa-tests-backend/artifacts/tls-challenge-test/nginx-lb-certs/generate-certs.sh
  qa-tests-backend/artifacts/tls-challenge-test/nginx-lb-certs/leaf-cert.pem
  qa-tests-backend/artifacts/tls-challenge-test/nginx-lb-certs/leaf-key.pem
  qa-tests-backend/artifacts/tls-challenge-test/nginx-proxy.conf
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/OrchestratorMain.groovy
  qa-tests-backend/src/main/groovy/util/ApplicationHealth.groovy
  qa-tests-backend/src/test/groovy/TLSChallengeTest.groovy
  tests/bad-ca/nginx-loadbalancer.qa-tls-challenge.crt
  tests/bad-ca/nginx-loadbalancer.qa-tls-challenge.key
  tests/bad-ca/root.crt
  tests/bad-ca/self-signed.invalid.crt
  tests/bad-ca/ssl-certs.sh
  tests/bad-ca/untrusted-root.invalid.crt
  tests/common.go
  tests/common_test.go
  tests/e2e/yaml/central-cr.envsubst.yaml
  tests/tls_challenge_test.go
Labels: auto-retest

#12206 chore(ui): Node CVE single page tests
  ui/apps/platform/cypress/fixtures/vulnerabilities/nodeCves/getAffectedNodes.json
  ui/apps/platform/cypress/fixtures/vulnerabilities/nodeCves/getNodeCVEMetadata.json
  ui/apps/platform/cypress/fixtures/vulnerabilities/nodeCves/getNodeCVESummaryData.json
  ui/apps/platform/cypress/fixtures/vulnerabilities/nodeCves/getNodeVulnerabilities.json
  ui/apps/platform/cypress/helpers/request.js
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/NodeCve.helpers.ts
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/cveDetailPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/nodeDetailPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/vulnerabilities.selectors.ts
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/deploymentSingle.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageSingle.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeCvePage.tsx
Labels: area/ui

#12301 chore(central): reorder scannerdefs funcs for readability
  central/scannerdefinitions/handler/handler.go
Labels: area/central

#12289 fix(ui): Move banner elements into landmarks for accessibility
  ui/apps/platform/src/Containers/MainPage/Banners/Banners.tsx
  ui/apps/platform/src/Containers/MainPage/Header/Header.css
  ui/apps/platform/src/Containers/MainPage/Header/Header.tsx
  ui/apps/platform/src/Containers/MainPage/Header/Notifications.tsx
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
  ui/apps/platform/src/app.tw.css
Labels: area/ui

#12305 tests: TestTLSChallenge improvements
  tests/cert_test.go
  tests/client_ca_test.go
  tests/common.go
  tests/endpoints_test.go
  tests/tls_challenge_test.go
Labels: auto-retest

#11852 ROX-15042: non stackrox namespaces in auto upgrader
  pkg/pods/namespace.go
  sensor/admission-control/main.go
  sensor/kubernetes/clusterhealth/updater.go
  sensor/kubernetes/sensor/sensor.go
  sensor/kubernetes/upgrade/command_handler_impl.go
  sensor/kubernetes/upgrade/deployment.go
  sensor/kubernetes/upgrade/process.go
  sensor/upgrader/bundle/dynamic_objects.go
  sensor/upgrader/common/consts.go
  sensor/upgrader/common/namespaces.go
  sensor/upgrader/common/shared_objects.go
  sensor/upgrader/config/config.go
  sensor/upgrader/preflight/namespace.go
  sensor/upgrader/snapshot/snapshot.go
  sensor/upgrader/snapshot/snapshotter.go
Labels: area/sensor, area/admission-controller

#12313 build: Fix downstream UI builds while with `yarn`
  ui/Makefile
Labels: area/ui

#12318 ROX-25655: Fix accessibility issue of contrast in SimulationFrame
  ui/apps/platform/src/Containers/NetworkGraph/simulation/CodeCompareIcon.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/SimulationFrame.tsx
Labels: area/ui

#12335 fix(proto): do not use legacy proto in protoassert
  operator/pkg/common/extensions/secret_reconciliator_test.go
  pkg/protoassert/assert.go
  pkg/protoconv/networkpolicy/conversion_test.go
  sensor/upgrader/plan/preserve_test.go
Labels: area/operator, area/sensor

#12339 chore: sensor - use TrustInfo.UnmarshalVT over proto.Unmarshal
  sensor/common/centralclient/client.go
Labels: area/sensor

#12338 chore: Metadata - use TrustInfo.MarshalVT instead of proto.Marshal
  central/metadata/service/service_impl.go
Labels: area/central

#12263 chore(ui): Node single page tests
  ui/apps/platform/cypress/fixtures/vulnerabilities/nodeCves/getNodeVulnerabilities.json
  ui/apps/platform/cypress/helpers/tableHelpers.ts
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/NodeCve.helpers.ts
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/nodeDetailPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageVulnerabilities.tsx
Labels: area/ui

#12285 ROX-25332: Adding Lifecycle stage to the policy violations filter
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/policy.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/types.ts
  ui/apps/platform/src/Containers/Violations/ViolationsTableSearchFilter.tsx
Labels: area/ui

#12341 ROX-25662: Fix accessibility issues with header for global modals
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
Labels: area/ui

#12300 ROX-25632: Fix accessibility issues for empty table header
  ui/apps/platform/cypress/integration/accessControl/accessControlAccessScopes.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlAuthProviders.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlPermissionSets.test.js
  ui/apps/platform/cypress/integration/accessControl/accessControlRoles.test.js
  ui/apps/platform/eslint-plugins/accessibilityPlugin.js
  ui/apps/platform/eslint-plugins/pluginAccessibility.js
  ui/apps/platform/eslint.config.js
  ui/apps/platform/src/Components/ExpandRowTh.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopesList.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/LabelSelectorCard.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProvidersList.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionSetsList.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/AccessScopesTable.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/PermissionSetsTable.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/RolesList.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsTable.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/Components/DelegatedRegistriesTable.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ProfileSelection.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/FlowsTable.tsx
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTable.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/TableModal.tsx
  ui/apps/platform/src/Containers/SystemHealth/ClustersHealth/ClustersHealthTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/AffectedComponents/AffectedComponentsModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/AffectedNodesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WatchedImages/WatchedImagesTable.tsx
Labels: area/ui

#12320 chore(central): rename vars/funcs in scannerdefs handler
  central/scannerdefinitions/handler/handler.go
  central/scannerdefinitions/handler/handler_test.go
Labels: area/central

#12333 ROX-24169: option for zero value scrubbing
  pkg/secrets/scrub.go
  pkg/secrets/scrub_test.go
Labels: area/central

#12287 ROX-25336: Adding severity to the policy violations filter
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/policy.ts
  ui/apps/platform/src/Containers/Violations/ViolationsTableSearchFilter.tsx
Labels: area/ui, epic/advanced-filters/policy-violations

#11949 fix(scanner): Scanner V4 client makes unnecessary connections
  generated/api/v1/auth_service.swagger.json
  generated/api/v1/authprovider_service.swagger.json
  generated/api/v1/service_identity_service.swagger.json
  generated/storage/service_identity.pb.go
  pkg/mtls/crypto.go
  pkg/scannerv4/client/client.go
  pkg/scannerv4/client/options.go
  pkg/scannerv4/client/options_test.go
  proto/storage/proto.lock
  proto/storage/service_identity.proto
  scanner/Makefile
  scanner/cmd/scannerctl/main.go
  scanner/config/config.go
  scanner/indexer/remote.go
  sensor/common/scannerclient/grpc_client.go
Labels: area/sensor, area/scanner

#12283 ROX-25519: Avoid immediately removing orphaned node cves - Part 1
  central/cve/node/datastore/store/postgres/store.go
  central/graphql/resolvers/generated.go
  central/node/datastore/store/postgres/store.go
  generated/storage/cve.pb.go
  generated/storage/cve_vtproto.pb.go
  pkg/env/vulnerability_management.go
  pkg/postgres/schema/node_cves.go
  pkg/search/options.go
  proto/storage/cve.proto
  proto/storage/proto.lock
Labels: area/central, area/postgres

#12314 ROX-25330: Adding enforcement to the policy violations filter
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/policy.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilterInputField.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTableSearchFilter.tsx
Labels: area/ui, epic/advanced-filters/policy-violations

#12288 ROX-25331: Adding inactive deployment to the policy violations filter
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/alert.ts
  ui/apps/platform/src/Containers/Violations/ViolationsTableSearchFilter.tsx
Labels: area/ui, epic/advanced-filters/policy-violations

#11733 ROX-25454: Add image ID/name(s) to scan logs
  central/image/service/service_impl.go
  pkg/images/enricher/enricher_impl.go
  pkg/logging/fields.go
Labels: area/central

#12349 chore: Groom Konflux files
  .tekton/basic-component-pipeline.yaml
  .tekton/central-db-build.yaml
  .tekton/determine-image-tag-task-oci-ta.yaml
  .tekton/determine-image-tag-task.yaml
  .tekton/fetch-external-networks-task.yaml
  .tekton/fetch-scanner-vuln-mappings-task.yaml
  .tekton/main-build.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-build.yaml
  .tekton/operator-bundle-build.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/roxctl-build.yaml
  .tekton/scanner-v4-build.yaml
  .tekton/scanner-v4-db-build.yaml
  .tekton/scanner-v4-pipeline.yaml
Labels: konflux-build

#12340 chore(proto): do not use legacy proto in gQL codegen
  central/graphql/generator/codegen/case.go
  central/graphql/generator/codegen/case_test.go
  central/graphql/generator/codegen/codegen.go
  central/graphql/generator/codegen/codegen.go.tpl
  central/graphql/generator/codegen/typewalk.go
Labels: area/central, auto-retest, proto-v2

#12342 chore(proto): remove legacy timestamp
  pkg/protoconv/time.go
  pkg/timestamp/microts.go
  pkg/timestamp/microts_test.go
Labels: proto-v2

#12337 fix: Modify chown path from /etc/pki to /etc/pki/ca-trust
  image/rhel/Dockerfile
  image/rhel/konflux.Dockerfile
  scanner/image/scanner/Dockerfile
  scanner/image/scanner/konflux.Dockerfile
Labels: ci-all-qa-tests, area/helm, area/scanner

#12326 tests: fix stale TODO ticket reference
  tests/e2e/run.sh
Labels: auto-retest

#12310 ROX-25639: Scanner Prefactor
  pkg/scannerv4/constants/constants.go
  pkg/scannerv4/mappers/mappers.go
  pkg/scannerv4/mappers/mappers_test.go
  scanner/enricher/fixedby/fixedby.go
  scanner/enricher/nvd/nvd.go
  scanner/enricher/nvd/nvd_test.go
  scanner/indexer/remote.go
  scanner/services/indexer.go
  scanner/services/matcher.go
  scanner/updater/manual/manual.go
Labels: team/maple, area/scanner

#12336 chore(proto): replace proto.MessgeType
  central/graphql/generator/codegen/typewalk.go
  pkg/protoutils/message.go
  pkg/protoutils/message_test.go
  tools/deserialize-proto/main.go
  tools/generate-helpers/pg-table-bindings/funcs.go
  tools/generate-helpers/pg-table-bindings/main.go
Labels: area/central, area/postgres, auto-retest, proto-v2

#12317 ROX-25337: Adding violation time to the policy violations filter
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/alert.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.cy.jsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilterInputField.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/ConditionDate.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTableSearchFilter.tsx
Labels: area/ui, epic/advanced-filters/policy-violations

#12364 chore(proto): cleanup Clone bench test
  pkg/protoutils/clone_bench_test.go
Labels: proto-v2

#11888 ROX-24916: use prune option the store has
  central/alert/datastore/datastore.go
  central/alert/datastore/datastore_impl.go
  central/alert/datastore/internal/store/mocks/store.go
  central/alert/datastore/internal/store/store.go
  central/alert/datastore/mocks/datastore.go
  central/postgres/pruning.go
  central/processlisteningonport/datastore/datastore_impl.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
  pkg/search/postgres/store.go
Labels: area/central, area/postgres, ci-build-all-arch

#12382 chore(proto): cleanup pkg/protoreflect
  pkg/protoreflect/descriptors.go
  pkg/protoreflect/descriptors_test.go
Labels: proto-v2

#12376 ROX-25338: Add Active and Resolved tab in Policy Violations
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/Containers/Violations/types.ts
Labels: area/ui, epic/advanced-filters/policy-violations

#11489 chore(ci): add Scanner V4 DB integration tests
  .github/workflows/scanner-db-integration-tests.yaml
Labels: area/ci

#12378 ROX-25335: Add resource type filter to policy violations
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/alert.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/policy.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CheckboxSelect.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilterInputField.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/types.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTableSearchFilter.tsx
Labels: area/ui, epic/advanced-filters/policy-violations

#12312 ROX-25715: add slack notifications if Konflux build fails
  .tekton/basic-component-pipeline.yaml
  .tekton/central-db-build.yaml
  .tekton/operator-build.yaml
  .tekton/roxctl-build.yaml
  .tekton/scanner-v4-db-build.yaml
Labels: area/helm, area/postgres

#12242 ROX-25559: Remove central pvc from roxctl
  CHANGELOG.md
  deploy/common/k8sbased.sh
  pkg/renderer/kubernetes_test.go
  pkg/renderer/templater.go
  roxctl/central/generate/validate.go
  roxctl/central/generate/validate_test.go
  roxctl/central/generate/volumes.go
  tests/roxctl/bats-tests/local/expect/flavor-interactive.expect.tcl
Labels: area/roxctl, area/ui, area/helm, area/operator

#12303 chore(helm): delete ROX_SCANNER_V4_SUPPORT env var
  central/localscanner/certificates.go
  image/templates/helm/shared/templates/99-scanner-v4-openshift-monitoring.yaml
  image/templates/helm/stackrox-central/.helmtplignore.htpl
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/internal/expandables.yaml
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml.htpl
  image/templates/helm/stackrox-central/templates/NOTES.txt.htpl
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/.helmtplignore.htpl
  image/templates/helm/stackrox-secured-cluster/internal/defaults/50-images.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/internal/defaults/70-scanner-v4.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/internal/expandables.yaml
  image/templates/helm/stackrox-secured-cluster/templates/NOTES.txt.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
  operator/pkg/central/extensions/reconcile_tls.go
  operator/pkg/central/reconciler/reconciler.go
  operator/pkg/central/values/translation/translation.go
  operator/pkg/securedcluster/reconciler/reconciler.go
  operator/pkg/securedcluster/values/translation/translation.go
  pkg/features/list.go
  pkg/features/telemetry/telemetry_test.go
  pkg/helm/charts/tests/centralservices/helmtest_test.go
Labels: area/central, area/helm, area/operator

#12400 ROX-25767: remove no-op CR validation webhook
  operator/Makefile
  operator/PROJECT
  operator/README.md
  operator/apis/platform/v1alpha1/central_webhook.go
  operator/bundle/manifests/rhacs-operator-manager-config_v1_configmap.yaml
  operator/bundle/manifests/rhacs-operator-webhook-service_v1_service.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/certmanager/certificate.yaml
  operator/config/certmanager/kustomization.yaml
  operator/config/certmanager/kustomizeconfig.yaml
  operator/config/default/kustomization.yaml
  operator/config/default/manager_webhook_patch.yaml
  operator/config/default/webhookcainjection_patch.yaml
  operator/config/manager/controller_manager_config.yaml
  operator/config/manifests/kustomization.yaml
  operator/config/webhook/kustomization.yaml
  operator/config/webhook/kustomizeconfig.yaml
  operator/config/webhook/manifests.yaml
  operator/config/webhook/service.yaml
  operator/main.go
Labels: area/operator, auto-retest

#12413 ROX-25721: Ensure that central is deployed correctly via helm command
  deploy/common/k8sbased.sh
  qa-tests-backend/scripts/run-compatibility.sh
Labels: team/maple

#12234 ROX-25526: Backport OCP 4.16 Scan Regression Fix to 4.4
  sensor/kubernetes/listener/resources/secrets.go
  sensor/kubernetes/listener/resources/secrets_test.go
Labels: area/sensor, backport

#12299 chore(ui): Add more timestamp output to cypress e2e runs
  ui/apps/platform/cypress.config.js
  ui/apps/platform/cypress/support/e2e.js
Labels: area/ui

#12353 fix(central): bugfixes and readability updates for scannerdefs
  central/scannerdefinitions/handler/handler.go
Labels: area/central

#12332 ROX-11587: Prevent port 0 from being used as a server
  pkg/netutil/ephemeral_port.go
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/networkflow/manager/manager_impl_test.go
Labels: area/sensor

#12282 fix(ui): microtask useURLParameter fix
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileClustersPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodeCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/PlatformCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/PlatformCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/NamespaceViewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/hooks/useURLPagination.test.tsx
  ui/apps/platform/src/hooks/useURLParameter.test.tsx
  ui/apps/platform/src/hooks/useURLParameter.ts
  ui/apps/platform/src/hooks/useURLSort.test.js
  ui/apps/platform/src/hooks/useURLStringUnion.test.tsx
Labels: area/ui

#12390 ROX-23846: Failed policy enforcement fix in config mgmt
  ui/apps/platform/src/Containers/ConfigManagement/Entity/widgets/FailedPoliciesAcrossDeployment.js
Labels: area/ui, backport release-4.4, backport release-4.5

#12416 ROX-25748: Workload CVE a11y fixes
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageNameLink.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/VulnerabilityStateTabs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/AdvancedFiltersToolbar.tsx
Labels: area/ui

#12319 ROX-25650: Allow sort on custom field
  pkg/postgres/walker/schema.go
  pkg/postgres/walker/walker.go
  pkg/search/derivationtype_string.go
  pkg/search/options.go
  pkg/search/postgres/pagination.go
  pkg/search/postgres/select_query_test.go
Labels: area/central, area/postgres

#12422 chore(deps): [Backport release-4.4] Fix CVEs
  SCANNER_VERSION
  go.mod
  go.sum
  sensor/common/scan/scan_test.go
Labels: ci-all-qa-tests, area/sensor, backport

#12235 ROX-25526: Backport OCP 4.16 Scan Regression Fix to 4.5
  sensor/kubernetes/listener/resources/secrets.go
  sensor/kubernetes/listener/resources/secrets_test.go
Labels: area/sensor, backport

#12442 fix: NVD data missing from latest ACS bundles
  .github/workflows/scanner-release-vuln-update.yaml
Labels: area/ci

#12410 ROX-23343: Use different APIVersion of OpenShift auto-sensing
  CHANGELOG.md
  image/templates/helm/shared/templates/_openshift.tpl
Labels: area/helm

#12331 ROX-25679: Use seconds in CVE suppression API calls
  ui/apps/platform/src/constants/timeWindows.ts
Labels: area/ui

#12420 chore: Update rox-ci-image to 0.4.2
  .devcontainer/devcontainer.json
  .github/workflows/batch-load-test-metrics.yml
  .github/workflows/build.yaml
  .github/workflows/ci-failures-report.yml
  .github/workflows/lint.yml
  .github/workflows/scanner-build.yaml
  .github/workflows/scanner-db-init-dump.yaml
  .github/workflows/scanner-db-integration-tests.yaml
  .github/workflows/scanner-dev-vuln-update.yaml
  .github/workflows/scanner-release-vuln-update.yaml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
  .openshift-ci/Dockerfile.build_root
  BUILD_IMAGE_VERSION
  scale/signatures/deploy.yaml
  tests/e2e/run-e2e-tests.sh
Labels: area/ci

#12278 ROX-25673: Remove SA token namespace usage in favor of POD_NAMESPACE
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
  pkg/pods/namespace.go
  pkg/satoken/load.go
  pkg/satoken/paths.go
  sensor/admission-control/main.go
  sensor/kubernetes/clusterhealth/updater.go
  sensor/kubernetes/sensor/sensor.go
  sensor/kubernetes/upgrade/command_handler_impl.go
  sensor/kubernetes/upgrade/deployment.go
  sensor/kubernetes/upgrade/process.go
  sensor/upgrader/bundle/dynamic_objects.go
  sensor/upgrader/common/namespaces.go
  sensor/upgrader/common/shared_objects.go
  sensor/upgrader/config/config.go
  sensor/upgrader/preflight/namespace.go
  sensor/upgrader/snapshot/snapshot.go
Labels: ci-all-qa-tests, area/helm, area/sensor, area/admission-controller

#12372 ROX-25519: Part-2 : Mark orphaned Node CVEs instead of immediately removing them
  central/cve/node/datastore/search/mocks/searcher.go
  central/cve/node/datastore/search/searcher.go
  central/graphql/resolvers/common/queries.go
  central/graphql/resolvers/node_components_postgres_test.go
  central/graphql/resolvers/node_cve_core.go
  central/graphql/resolvers/node_cve_core_test.go
  central/graphql/resolvers/node_vulnerabilities.go
  central/graphql/resolvers/node_vulnerabilities_postgres_test.go
  central/graphql/resolvers/plotted_node_vulnerabilities.go
  central/graphql/resolvers/search.go
  central/graphql/resolvers/searchers/node_cve_searcher.go
  central/graphql/resolvers/test_utils.go
  central/node/datastore/datastore_impl_postgres_test.go
  central/node/datastore/store/postgres/store.go
  central/node/datastore/store/postgres/store_test.go
  central/views/nodecve/view_test.go
Labels: area/central

#12393 chore(ui): Remove jsx-a11y from ESLint config
  ui/apps/platform/eslint.config.js
  ui/apps/platform/src/Components/TextSelect/TextSelect.js
  ui/apps/platform/src/Components/ToggleSwitch/ToggleSwitch.js
Labels: area/ui

#12424 ROX-25812: Change role for accessibility of chart links on dashboard
  ui/apps/platform/src/Containers/Dashboard/Widgets/AgingImagesChart.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ComplianceLevelsByStandardChart.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicyCategoryChart.tsx
Labels: area/ui

#11845 tests: Add benchmark tests for some GraphQL queries
  central/graphql/handler/handler_benchmark_test.go
  central/testutils/export.go
Labels: area/central

#12432 ROX-25827: Configure Central DB to be more verbose
  image/templates/helm/stackrox-central/config/centraldb/postgresql.conf.default
Labels: area/helm

#12406 chore(proto): replace jsonpb with jsonutil
  pkg/jsonutil/conversion.go
  pkg/jsonutil/proto.go
  pkg/jsonutil/proto_test.go
  pkg/jsonutil/testdata/compat.alert.json
  pkg/jsonutil/testdata/pretty.alert.json
  roxctl/central/debug/authz_trace.go
  roxctl/central/export/deployments/deployments.go
  roxctl/central/export/images/images.go
  roxctl/central/export/nodes/nodes.go
  roxctl/central/export/pods/pods.go
  roxctl/central/login/login_test.go
  roxctl/central/m2m/exchange/exchange.go
  roxctl/central/m2m/exchange/exchange_test.go
  roxctl/central/userpki/list/list.go
  roxctl/common/report/report.go
  roxctl/common/report/report_test.go
  roxctl/deployment/check/check_test.go
  roxctl/image/scan/scan.go
Labels: area/roxctl, area/auth, area/central, area/sensor

#12347 chore(proto): use EqualVT in protoassert
  central/alert/service/service_test.go
  central/cluster/datastore/datastore_sac_test.go
  central/complianceoperator/v2/scans/datastore/datastore_impl_test.go
  central/credentialexpiry/service/service_impl_test.go
  central/metadata/service/service_impl_test.go
  central/processbaseline/datastore/datastore_impl_test.go
  central/vulnmgmt/vulnerabilityrequest/service/service_impl_test.go
  migrator/migrations/m_183_to_m_184_move_declarative_config_health/migration_test.go
  pkg/protoassert/assert.go
  pkg/protocompat/empty_test.go
  pkg/protocompat/time_test.go
  pkg/protocompat/uint32_test.go
  pkg/protoconv/time_test.go
  pkg/protoutils/time_test.go
  pkg/scanners/scannerv4/scannerv4_test.go
Labels: area/central, auto-retest, proto-v2

#12414 ROX-25769: compliance use custom field sort
  central/complianceoperator/v2/checkresults/datastore/datastore_impl.go
  central/complianceoperator/v2/checkresults/datastore/datastore_impl_test.go
  central/complianceoperator/v2/checkresults/datastore/stats_views.go
  pkg/search/options.go
Labels: area/central, area/postgres

#12443 ROX-25836: Keep central db owner reference with obsolete annotation
  operator/pkg/central/extensions/reconcile_pvc.go
  operator/pkg/central/extensions/reconcile_pvc_test.go
Labels: area/operator, backport, backport release-4.4, backport release-4.5

#12391 ROX-25725: Fix accessibility of Popover footer, header, and heading
  ui/apps/platform/eslint-plugins/pluginAccessibility.js
  ui/apps/platform/src/Components/EmailNotifier/EmailNotifierForm.tsx
  ui/apps/platform/src/Components/PopoverBodyContent.tsx
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/ClusteredEventsTooltip/ClusteredEventsTooltip.tsx
  ui/apps/platform/src/Containers/Clusters/Components/ClusterStatus.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ComplianceClusterStatus.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/WidgetOptionsMenu.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/AnnotationKeyLabelIcon.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/Components/IntegrationHelpIcon.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/EmailIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/MachineAccessIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/SignatureIntegrationForm.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
  ui/apps/platform/src/Containers/SystemHealth/DiagnosticBundle/GenerateDiagnosticBundle.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ObservedCVEs/PendingApprovalPopover.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ViewVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageScanningIncompleteLabelLayout.tsx
  ui/apps/platform/src/css/acs.css
  ui/apps/platform/src/css/trumps.css
Labels: area/ui

#12249 ROX-23958: Add deployment type to ListAlerts API response
  generated/api/v1/alert_service.swagger.json
  generated/storage/alert.pb.go
  generated/storage/alert_vtproto.pb.go
  pkg/alert/convert/convert.go
  proto/storage/alert.proto
  proto/storage/proto.lock
  ui/apps/platform/cypress/fixtures/alerts/alerts.json
  ui/apps/platform/cypress/integration/violations/violations.test.js
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/policy.ts
  ui/apps/platform/src/Containers/Violations/violationTableColumnDescriptors.tsx
Labels: area/ui

#12454 chore(scanner): scanner version 2.34.2
  SCANNER_VERSION
Labels: ci-all-qa-tests, backport

#12392 ROX-25761: Improve accessibility of expandable sections in Collections
  ui/apps/platform/eslint-plugins/pluginAccessibility.js
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
Labels: area/ui

#12421 ROX-25785: Add title for accessibility of chart on dashboard
  ui/apps/platform/eslint-plugins/pluginAccessibility.js
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicyCategoryChart.tsx
Labels: area/ui

#12329 ROX-25677: keep backward compatibility for duration format
  CHANGELOG.md
  generated/api/v1/cve_service.pb.go
  generated/api/v1/cve_service.swagger.json
  pkg/grpc/marshaler.go
  pkg/grpc/marshaler_test.go
  pkg/grpc/server.go
  proto/api/v1/cve_service.proto
Labels: auto-retest, proto-v2

#12408 ROX-24936: add emailsender central compatibility test
  .github/workflows/emailsender-central-compatibility.yaml
  central/notifiers/acscsemail/trigger.txt
Labels: area/central, area/ci

#12479 ROX-24936: remove trigger for emailsender test
  central/notifiers/acscsemail/trigger.txt
Labels: area/central

#12254 ROX-25292: Ignore ldconfig if we timeout
  qa-tests-backend/src/test/groovy/ProcessVisualizationTest.groovy
Labels: team/maple

#12450 ROX-25770: vm custom sort field
  central/views/common/queries.go
  central/views/imagecve/view_test.go
  pkg/search/options.go
Labels: area/central

#12367 chore(proto): replace jsonpb with protojson
  central/notifiers/pagerduty/pagerduty.go
  central/notifiers/splunk/splunk.go
  central/splunk/violations.go
  central/testutils/export.go
  go.mod
  pkg/auth/authproviders/registry_httphandler.go
  pkg/auth/authproviders/registry_httphandler_test.go
  pkg/httputil/error.go
  pkg/httputil/error_test.go
  pkg/jsonutil/proto.go
  pkg/jsonutil/proto_test.go
  pkg/notifiers/prune.go
  sensor/kubernetes/listener/resources/dispatcher.go
  sensor/upgrader/bundle/fetcher.go
  tools/deserialize-proto/main.go
  tools/deserialize-proto/main_test.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/roxctl, area/auth, area/central, area/sensor, auto-retest, proto-v2

#12464 chore(grpc): upgrade middleware to v2
  central/sensor/service/service_impl.go
  central/sensorupgrade/controlservice/service.go
  go.mod
  go.sum
  pkg/centralsensor/legacy_caps.go
  pkg/centralsensor/legacy_sensor_version_info.go
  pkg/centralsensor/legacy_sensor_version_info_test.go
  pkg/centralsensor/sensor_hello.go
  pkg/grpc/authn/basic/extractor.go
  pkg/grpc/authz/interceptor/interceptor.go
  pkg/grpc/logging/logging.go
  pkg/grpc/ratelimit/ratelimit.go
  pkg/grpc/ratelimit/ratelimit_impl.go
  pkg/grpc/ratelimit/ratelimit_impl_test.go
  pkg/grpc/recovery.go
  pkg/grpc/requestinfo/requestinfo.go
  pkg/grpc/requestinfo/requestinfo_test.go
  pkg/grpc/server.go
  pkg/grpc/testutils.go
  pkg/grpc/testutils/authz.go
  pkg/grpc/util/stream.go
  roxctl/central/export/images/images.go
  roxctl/common/connection.go
  sensor/common/compliance/service_impl.go
  sensor/common/networkflow/service/service_impl.go
  sensor/common/sensor/central_communication_impl.go
  sensor/debugger/central/communicate_server.go
Labels: area/roxctl, area/central, area/sensor, auto-retest

#12451 fix(sensor-connection): Reset the ok and stop signals on reconnection
  pkg/concurrency/signal.go
  sensor/common/centralclient/grpc_connection.go
  sensor/common/sensor/sensor.go
  sensor/debugger/central/grpc_client.go
Labels: team/maple, area/sensor

#12489 fix: change emailsender test to run on master push
  .github/workflows/emailsender-central-compatibility.yaml
Labels: area/ci

#12462 ROX-25643: Handle missing ranker for ns/cluster
  central/deployment/datastore/datastore_impl.go
Labels: area/central

#12237 ROX-25484: Install k8s service account m2m auth
  central/auth/datastore/datastore.go
  central/auth/datastore/datastore_impl.go
  central/auth/datastore/datastore_impl_test.go
  central/auth/datastore/singleton.go
  central/auth/m2m/kube_service_account.go
  central/auth/m2m/kube_service_account_test.go
  central/auth/m2m/mocks/kube_service_account.go
  central/auth/m2m/verifier.go
  central/auth/service/service_impl_test.go
  central/role/datastore/defaults.go
  generated/api/v1/auth_service.pb.go
  generated/api/v1/auth_service.swagger.json
  generated/storage/auth_machine_to_machine.pb.go
  pkg/defaults/accesscontrol/permission_set.go
  pkg/defaults/accesscontrol/role.go
  pkg/features/list.go
  proto/api/v1/auth_service.proto
  proto/storage/auth_machine_to_machine.proto
  proto/storage/proto.lock
  ui/apps/platform/cypress/integration/integrations/machineAccessConfigs.test.ts
Labels: area/central, area/ui

#12493 chore(cleanup): remove unmaintained metrics and publish missing one
  central/metrics/central.go
  central/metrics/init.go
Labels: area/central

#12369 ROX-24117: Implement NodeIndex ACS dataflow
  central/sensor/service/pipeline/all/factory.go
  central/sensor/service/pipeline/nodeindex/pipeline.go
  compliance/collection/compliance/compliance.go
  generated/internalapi/central/sensor_events.pb.go
  generated/internalapi/central/sensor_events_vtproto.pb.go
  generated/internalapi/sensor/compliance_iservice.pb.go
  generated/internalapi/sensor/compliance_iservice_vtproto.pb.go
  go.mod
  go.sum
  pkg/deduperkey/key.go
  proto/internalapi/central/sensor_events.proto
  proto/internalapi/sensor/compliance_iservice.proto
  scanner/indexer/indexer_test.go
  sensor/common/compliance/index/interfaces.go
  sensor/common/compliance/mocks/service.go
  sensor/common/compliance/node_inventory_handler.go
  sensor/common/compliance/node_inventory_handler_impl.go
  sensor/common/compliance/node_inventory_handler_test.go
  sensor/common/compliance/service.go
  sensor/common/compliance/service_impl.go
  sensor/kubernetes/sensor/sensor.go
Labels: team/maple, area/central, area/sensor, area/scanner

#12459 Rox 25519: Part-3: Prune orphaned node CVEs
  central/cve/node/datastore/datastore.go
  central/cve/node/datastore/datastore_impl.go
  central/cve/node/datastore/datastore_impl_test.go
  central/cve/node/datastore/mocks/datastore.go
  central/cve/node/datastore/store/mocks/store.go
  central/cve/node/datastore/store/store.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
  central/pruning/singleton.go
Labels: area/central

#12495 ROX-25886: Fix accessibility of contrast in System Configuration
  ui/apps/platform/src/css/acs.css
Labels: area/ui

#12483 ROX-25885: Fix accessibility of contrast in Configuration Management
  ui/apps/platform/src/Components/ExportButton.js
  ui/apps/platform/src/Components/RelatedEntity.js
  ui/apps/platform/src/Components/RelatedEntityListCount.js
  ui/apps/platform/src/Components/WorkflowPDFExportButton.js
  ui/apps/platform/src/css/trumps.css
Labels: area/ui

#12377 ROX-25523: Policy management wizard enhancements
  ui/apps/platform/cypress/constants/PoliciesPage.js
  ui/apps/platform/cypress/fixtures/policies/good_policy_to_import.json
  ui/apps/platform/cypress/integration/policies/policiesTable.test.js
  ui/apps/platform/src/Containers/Policies/Wizard/PolicyWizard.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step1/AttachNotifiersFormSection.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step1/PolicyDetailsForm.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step1/PolicyMetadataFormSection.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step2/PolicyBehaviorForm.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicyCriteriaForm.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step4/PolicyScopeForm.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step5/DownloadCLIDropdown.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step5/PolicyEnforcementForm.css
  ui/apps/platform/src/Containers/Policies/Wizard/Step5/PolicyEnforcementForm.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step6/NotifiersForm.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step7/PreviewViolations.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step7/ReviewPolicyForm.css
  ui/apps/platform/src/Containers/Policies/Wizard/Step7/ReviewPolicyForm.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/policyValidationSchemas.ts
  ui/apps/platform/src/Containers/Policies/policies.constants.ts
  ui/apps/platform/src/Containers/Policies/policies.utils.ts
Labels: area/ui

#12502 ROX-25495: Include config-controller binary in main image
  Makefile
  config-controller/README.md
  config-controller/main.go
  image/rhel/Dockerfile
  image/rhel/konflux.Dockerfile
Labels: area/helm, konflux-build

#12383 ROX-17632: publish OpenAPI spec to mirror.openshift.com
  .github/workflows/release-ci.yaml
  scripts/ci/artifacts-publish/prepare-openapispec.sh
  scripts/ci/artifacts-publish/prepare-roxctl.sh
  scripts/ci/artifacts-publish/publish.sh
  scripts/ci/lib.sh
Labels: area/ci, backport release-4.4, backport release-4.5

#12453 chore: Scanner V4 only perform GCS upload from master branch
  .github/workflows/scanner-release-vuln-update.yaml
Labels: area/ci

#12522 ROX-25963: Add lint rule for accessiblity of CardHeader onExpand
  ui/apps/platform/eslint-plugins/pluginAccessibility.js
Labels: area/ui

#12478 ROX-25860: Use retrying kubectl wrapper in scanner V4 test suite
  operator/hack/retry-kubectl.sh
  scripts/retry-kubectl.sh
  tests/e2e/run-scanner-v4.bats
Labels: area/operator

#12497 ROX-25916: Fix accessibility issues because Button contains Link
  ui/apps/platform/eslint-plugins/pluginAccessibility.js
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviderForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ExternalBackupIntegrations/GcsIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ExternalBackupIntegrations/S3CompatibleIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ExternalBackupIntegrations/S3IntegrationForm.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/CVESummaryLink.tsx
  ui/apps/platform/src/css/trumps.css
Labels: area/ui

#12460 ROX-25717: Improve the text for configuring cluster for updates
  ui/apps/platform/src/Containers/Clusters/ClusterDeployment.tsx
Labels: team/maple, area/ui

#10822 tests: collect central metrics in bigquery
  .openshift-ci/post_tests.py
  scripts/ci/lib.sh
  tools/test/go.mod
  tools/test/go.sum
Labels: area/ci, auto-retest

#12492 doc: Document whitspace trimming coding style for our helm charts
  image/templates/CHANGING_CHARTS.md
Labels: area/helm

#12526 chore(ci): only notify failed master builds
  .github/workflows/scanner-dev-vuln-update.yaml
Labels: area/ci

#12539 tests(operator): call handle_e2e_progress_failures too
  scripts/ci/jobs/gke_operator_e2e_tests.py
  scripts/ci/jobs/ocp_operator_e2e_tests.py
  tests/e2e/lib.sh
Labels: auto-retest

#12532 ROX-25972: Fix accessibility issue of Tabs with nav element
  ui/apps/platform/eslint-plugins/pluginAccessibility.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsPage.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/VulnerabilityStateTabs.tsx
Labels: area/ui

#12545 ROX-25995: Add feature flag for scan schedule report jobs
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui, epic/compliance-2.0/report-jobs

#12546 ROX-25996: Add feature flag for platform components
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui, epic/platform-collections

#12531 Rox 25519: Backport changes to preserve and periodically prune orphaned node CVEs
  central/cve/node/datastore/datastore.go
  central/cve/node/datastore/datastore_impl.go
  central/cve/node/datastore/datastore_impl_test.go
  central/cve/node/datastore/mocks/datastore.go
  central/cve/node/datastore/search/mocks/searcher.go
  central/cve/node/datastore/search/searcher.go
  central/cve/node/datastore/store/mocks/store.go
  central/cve/node/datastore/store/postgres/store.go
  central/cve/node/datastore/store/store.go
  central/graphql/resolvers/common/queries.go
  central/graphql/resolvers/generated.go
  central/graphql/resolvers/node_components_postgres_test.go
  central/graphql/resolvers/node_cve_core.go
  central/graphql/resolvers/node_cve_core_test.go
  central/graphql/resolvers/node_vulnerabilities.go
  central/graphql/resolvers/node_vulnerabilities_postgres_test.go
  central/graphql/resolvers/plotted_node_vulnerabilities.go
  central/graphql/resolvers/search.go
  central/graphql/resolvers/searchers/node_cve_searcher.go
  central/graphql/resolvers/test_utils.go
  central/node/datastore/datastore_impl_postgres_test.go
  central/node/datastore/store/postgres/store.go
  central/node/datastore/store/postgres/store_test.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
  central/pruning/singleton.go
  central/views/nodecve/view_test.go
  generated/storage/cve.pb.go
  pkg/env/vulnerability_management.go
  pkg/postgres/schema/node_cves.go
  pkg/search/options.go
  proto/storage/cve.proto
  proto/storage/proto.lock
Labels: area/central, area/postgres, backport

#12559 feat(admission-control): less scary cert-related messages
  sensor/admission-control/certs.go
Labels: area/sensor, area/admission-controller, auto-retest

#12557 tests(operator): no image pull secrets for operator
  operator/hack/common.sh
  operator/hack/olm-operator-install.sh
Labels: area/operator, auto-retest

#10721 ROX-23657: NVD CVSS score ADR
  scanner/decisions/0010-nvd-cvss-scores.md
Labels: area/scanner

#12507 chore(proto): use UnmarshalVTUnsafe in pkg
  pkg/cryptoutils/cryptocodec/crypto_codec_test.go
  pkg/grpc/common/authn/servicecerttoken/token.go
  tests/admctrl_configmap_test.go
Labels: auto-retest

#12541 chore(pkg): use builtin min/max
  central/reports/scheduler/schedule.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
  central/risk/multipliers/deployment/image_helper.go
  central/views/imagecve/view_test.go
  go.mod
  go.sum
  pkg/mathutil/limits.go
  pkg/mathutil/minmax.go
  pkg/migrations/migration_version.go
  pkg/renderer/file_name_map.go
  roxctl/central/backup/backup.go
  tools/generate-helpers/pg-table-bindings/main.go
Labels: area/roxctl, area/central, area/postgres, auto-retest

#12580 fix(migrations): Fix a merge conflicts for policy category edge
  migrator/migrations/m_206_to_m_207_add_default_policy_edge/schema/convert_policies.go
  migrator/migrations/m_206_to_m_207_add_default_policy_edge/schema/convert_policy_categories.go
  migrator/migrations/m_206_to_m_207_add_default_policy_edge/schema/convert_policy_category_edges.go
Labels: backport
