Repository stackrox/stackrox, pull requests merged in 2024-05, with the labels that each got.

#10953 fix: cherry pick fixes for ROX-23682 and ROX-23638
  migrator/migrations/m_192_to_m_193_report_config_migrations/migration_impl.go
  pkg/env/notifier_secret_encryption.go
Labels: backport

#10920 ROX-23911: Add node components table
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageHeader.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/AffectedNodesTable.cy.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/AffectedNodesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/components/NodeComponentsTable.cy.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/components/NodeComponentsTable.tsx
Labels: area/ui, epic/vm2.0/node&platform

#10930 ROX-23929: Factor out email notifier from vulnerability reporting
  ui/apps/platform/src/Components/EmailNotifier/EmailNotifierForm.tsx
  ui/apps/platform/src/Components/EmailNotifier/EmailNotifierModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/NotifierSelection.tsx
Labels: area/ui

#10955 chore(ui): Remove compliance coverage code
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/Clusters/ClusterDetails.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/Clusters/ClusterDetailsContent.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/Clusters/ClusterDetailsHeader.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/Clusters/ClusterDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClustersCoverageTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragesPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/compliance.coverage.routes.ts
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/CoverageTableViewToggleGroup.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/RadioButtonWithStats.tsx
  ui/apps/platform/src/services/ComplianceResultsService.ts
Labels: area/ui, epic/compliance-2.0/mvp

#10926 ROX-23591: ADR for improving the current manual vuln updating process
  scanner/decisions/0009-scannerv4-read-manual-vulnerabilities.md
Labels: area/scanner

#10947 fix(sarif): nil array should not have placeholder value (#10928)
  pkg/gjson/slices.go
  pkg/printers/sarif.go
  pkg/printers/sarif_test.go
Labels: backport

#10939 chore: update Go to 1.20.12
  .github/workflows/build-scanner.yml
  .github/workflows/build.yaml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
  .openshift-ci/Dockerfile.build_root
  BUILD_IMAGE_VERSION
  EXPECTED_GO_VERSION
  scale/signatures/deploy.yaml
  tests/e2e/run-e2e-tests.sh
Labels: ok-to-test, area/ci

#10903 chore: telemetry: allow custom key for release versions
  central/telemetry/centralclient/instance_config.go
  central/telemetry/centralclient/instance_config_test.go
  pkg/env/telemetry.go
  pkg/telemetry/phonehome/key_management.go
  pkg/telemetry/phonehome/key_management_test.go
Labels: area/central

#10945 chore: bump Go version to 1.21.9
  .devcontainer/devcontainer.json
  .github/workflows/batch-load-test-metrics.yml
  .github/workflows/build.yaml
  .github/workflows/ci-failures-report.yml
  .github/workflows/lint.yml
  .github/workflows/scanner-build.yaml
  .github/workflows/scanner-db-init-dump.yaml
  .github/workflows/scanner-dev-vuln-update.yaml
  .github/workflows/scanner-release-vuln-update.yaml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
  .openshift-ci/Dockerfile.build_root
  BUILD_IMAGE_VERSION
  go.mod
  scale/signatures/deploy.yaml
  tests/e2e/run-e2e-tests.sh
Labels: area/ci

#10959 chore(ui): Upgrade @types/react to version 18
  ui/apps/platform/package.json
  ui/apps/platform/src/Components/PatternFly/ErrorBoundary/ErrorBoundaryPage.tsx
  ui/apps/platform/src/Containers/Compliance/Dashboard/ComplianceDashboardPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Table/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ExceptionConfiguration/ExceptionConfigurationPage.tsx
  ui/apps/platform/src/Containers/MainPage/Notifications.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleGroup.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicyCriteriaForm.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
  ui/apps/platform/src/Containers/Violations/Modals/ExcludeConfirmation.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/ExceptionRequestModal/ExceptionRequestModal.tsx
  ui/apps/platform/src/index.tsx
  ui/yarn.lock
Labels: area/ui

#10949 ROX-23925: Proto changes for on demand compliance reports
  Makefile
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  central/complianceoperator/v2/scanconfigurations/store/postgres/gen.go
  central/complianceoperator/v2/scanconfigurations/store/postgres/store.go
  generated/storage/compliance_operator_v2.pb.go
  generated/storage/report_configuration.pb.go
  generated/storage/report_notifier_configuration.pb.go
  generated/storage/report_snapshot.pb.go
  pkg/postgres/schema/compliance_operator_scan_configuration_v2.go
  proto/storage/compliance_operator_v2.proto
  proto/storage/proto.lock
  proto/storage/report_configuration.proto
  proto/storage/report_notifier_configuration.proto
  proto/storage/report_snapshot.proto
Labels: area/central, area/postgres, epic/compliance-2.0/mvp

#10950 ROX-23946: Factor out email template from vulnerability reporting
  ui/apps/platform/src/Components/EmailTemplate/EmailTemplate.utils.ts
  ui/apps/platform/src/Components/EmailTemplate/EmailTemplateForm.tsx
  ui/apps/platform/src/Components/EmailTemplate/EmailTemplateModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/DeliveryDestinationsDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/DeliveryDestinationsForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/EmailTemplateFormModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/emailTemplateFormUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/useReportFormValues.tsx
Labels: area/ui

#10694 ROX-23503: Create type mappings for compound search filter config
  ui/apps/platform/src/Components/CompoundSearchFilter/types.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/searchFilterConfig.test.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/searchFilterConfig.ts
Labels: area/ui

#10990 ROX-19615: Skip 'Verify connections from external sources' on P/Z
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Labels: ci-all-qa-tests

#10944 ROX-23247: implement acscs notification types
  central/notifiers/acscsemail/acscsemail.go
  central/notifiers/acscsemail/acscsemail_client_mock.go
  central/notifiers/acscsemail/acscsemail_test.go
  central/notifiers/acscsemail/client.go
  central/notifiers/acscsemail/client_impl.go
  central/notifiers/email/email.go
  central/notifiers/email/email_test.go
Labels: area/central

#10984 fix: nightly tag roxctl scan
  .github/workflows/build.yaml
Labels: area/ci

#10943 chore(ui): Abstract out summary card layout and logic
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/PlatformCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/SummaryCardLayout.cy.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/SummaryCardLayout.tsx
Labels: area/ui, epic/vm2.0/node&platform

#10929 ROX-23928: Remove central db bundle generation
  central/certgen/central_scanner.go
  central/certgen/service.go
  pkg/mtls/crypto.go
  roxctl/central/db/db.go
  roxctl/central/db/generate/generate.go
  roxctl/central/db/generate/generate_test.go
  roxctl/central/db/generate/k8s.go
  roxctl/central/db/generate/validate.go
  roxctl/central/db/generate/volumes.go
  scripts/style/shellcheck_skip.txt
  tests/roxctl/bats-tests/cluster/centraldb-generate.bats
Labels: area/roxctl, area/central

#10985 fix: close response body once done
  roxctl/central/login/login.go
Labels: area/roxctl

#10980 ROX-23754: postgres dead tuples and analyze stats
  central/debug/service/service.go
  pkg/postgres/stats/stats.go
Labels: area/central, area/postgres

#10965 chore(roxvet): replace sort functions with slices equivalents
  central/authprovider/service/service_impl.go
  central/deployment/datastore/search_comparison_test.go
  central/deployment/service/service_impl.go
  central/networkgraph/service/masker.go
  central/networkgraph/service/service_impl_test.go
  central/networkpolicies/graph/diff.go
  central/networkpolicies/graph/diff_test.go
  central/networkpolicies/graph/evaluator_test.go
  central/networkpolicies/graph/graph_builder.go
  central/notifiers/cscc/convert.go
  central/policy/service/service_impl.go
  central/scanner/handler.go
  operator/pkg/central/extensions/reconcile_pvc.go
  pkg/booleanpolicy/violationmessages/printer/process.go
  pkg/booleanpolicy/violationmessages/printer/util.go
  pkg/compliance/checks/kubernetes/kubelet_command.go
  pkg/gjson/modifiers.go
  pkg/postgres/schema/all.go
  pkg/renderer/kubernetes_helm_test.go
  pkg/sac/resources/list_test.go
  pkg/search/postgres/query/map_query.go
  pkg/search/query_builder.go
  pkg/set/frozen_set_test.go
  pkg/set/set_test.go
  pkg/sliceutils/string.go
  roxctl/central/whoami/whoami.go
  roxctl/declarativeconfig/create/auth_provider.go
  roxctl/declarativeconfig/create/notifier.go
  roxctl/declarativeconfig/create/permission_set.go
  roxctl/helm/internal/common/chartnames.go
  scanner/enricher/nvd/nvd.go
  sensor/kubernetes/clusterstatus/updater.go
  sensor/kubernetes/listener/resources/deployment_store_test.go
  tests/graphql_sorting_test.go
  tools/generate-helpers/notifier/main.go
  tools/roxvet/analyzers/sortslices/analyzer.go
  tools/roxvet/roxvet.go
Labels: area/roxctl, area/auth, area/central, area/operator, area/sensor, area/postgres, area/scanner

#10936 ROX-23852: add filtering for severity in image scan
  CHANGELOG.md
  roxctl/image/scan/cve.go
  roxctl/image/scan/cve_test.go
  roxctl/image/scan/scan.go
  roxctl/image/scan/scan_test.go
Labels: area/roxctl

#10992 chore(test): Check all CO resources are in the AvailabilityChecker
  pkg/complianceoperator/api.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/listener/watcher/complianceoperator/availabilitychecker.go
  sensor/kubernetes/listener/watcher/complianceoperator/availabilitychecker_test.go
Labels: team/maple, area/sensor

#10971 ROX-23013: add control column to compliance_operator_rule_v2_controls
  central/complianceoperator/v2/rules/store/postgres/store.go
  generated/storage/compliance_operator_v2.pb.go
  pkg/postgres/schema/compliance_operator_rule_v2.go
  pkg/search/options.go
  proto/storage/compliance_operator_v2.proto
Labels: area/central, area/postgres

#10977 ROX-17393: more flags title case fixes
  roxctl/central/debug/download_diagnostics.go
  roxctl/central/debug/dump.go
  roxctl/central/generate/k8s.go
  roxctl/central/generate/volumes.go
  roxctl/cluster/delete/delete.go
  roxctl/common/flags/debug.go
  roxctl/common/flags/imageFlavor.go
  roxctl/common/flags/retry.go
  roxctl/common/flags/timeout.go
  roxctl/common/printer/junitprinter_factory.go
  roxctl/helm/output/output.go
  roxctl/maincommand/command.go
  roxctl/maincommand/command_test.go
  roxctl/maincommand/commands_test.go
  roxctl/sensor/generate/generate.go
  roxctl/sensor/generate/k8s.go
  roxctl/sensor/generate/openshift.go
  roxctl/sensor/generatecerts/gen_certs.go
  roxctl/sensor/getbundle/get_bundle.go
  tests/roxctl/bats-tests/local/central-generate-interactive-flavors.bats
  tests/roxctl/bats-tests/local/expect/flavor-interactive.expect.tcl
Labels: area/roxctl

#10999 ROX-23074: Add pagination to cluster page vuln table
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPageVulnerabilities.tsx
Labels: area/ui, epic/vm2.0/node&platform

#11000 ROX-23065: Adds pagination control to Platform CVE page cluster table
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/PlatformCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/useAffectedClusters.ts
Labels: area/ui, epic/vm2.0/node&platform

#11001 ROX-23048: Add pagination control to node page table
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageVulnerabilities.tsx
Labels: area/ui, epic/vm2.0/node&platform

#11013 ROX-24037: Add OS column to improve UX when duplicate CVEs
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
Labels: area/ui

#10844 ROX-23579: Make cluster type and k8s version searchable in cluster
  central/cluster/store/cluster/postgres/store.go
  generated/storage/cluster.pb.go
  pkg/postgres/schema/clusters.go
  pkg/search/options.go
  proto/storage/cluster.proto
Labels: area/central, area/postgres, epic/vm2.0/node&platform

#10963 ROX-23794: compliance last scan time
  central/complianceoperator/v2/checkresults/service/service_impl.go
  central/complianceoperator/v2/checkresults/service/service_impl_test.go
  central/complianceoperator/v2/checkresults/service/singleton.go
  central/complianceoperator/v2/scans/datastore/datastore.go
  central/complianceoperator/v2/scans/datastore/datastore_impl.go
  central/complianceoperator/v2/scans/datastore/mocks/datastore.go
  central/convert/storagetov2/compliance_results_service.go
  central/convert/testutils/compliance_results.go
  generated/api/v2/compliance_results_service.pb.go
  generated/api/v2/compliance_results_service.pb.gw.go
  generated/api/v2/compliance_results_service.swagger.json
  proto/api/v2/compliance_results_service.proto
  tools/allowed-large-files
Labels: area/central, epic/compliance-2.0/mvp

#11006 fix: hyperlinks in README.md
  README.md
Labels: ok-to-test, external-contributor

#10974 feat(ui): Add queries for node and platform cve entity counts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodeCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/useNodeCveEntityCounts.ts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/useNodes.ts
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/PlatformCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/usePlatformCveEntityCounts.ts
Labels: area/ui, epic/vm2.0/node&platform

#10981 ROX-23639: track central download API
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml.htpl
  operator/tests/central/central-misc/080-assert-non-openshift.yaml
  operator/tests/central/central-misc/080-assert-openshift.yaml
Labels: area/helm, area/operator

#10976 feat(tooling): Improve proto tooling
  pkg/postgres/pool_impl.go
  tools/deserialize-proto/README.md
  tools/deserialize-proto/main.go
  tools/deserialize-proto/main_test.go
Labels: area/postgres

#11020 fix(ui): Fix a handful of minor visual issues in VM 2.0
  ui/apps/platform/src/Components/DynamicIcon.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/NamespaceViewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/SeverityCountLabels.css
  ui/apps/platform/src/Containers/Vulnerabilities/components/SeverityCountLabels.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/TableEntityToolbar.tsx
Labels: area/ui

#11023 ROX-22475: add `--fail` flag to `roxctl image scan`
  roxctl/image/scan/cve.go
  roxctl/image/scan/scan.go
  roxctl/image/scan/scan_errors.go
  roxctl/image/scan/scan_test.go
Labels: area/roxctl

#10986 ROX-23504: Adding CompoundSearchFilter component
  ui/apps/platform/src/Components/CompoundSearchFilter/components/AttributeSelector.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundFilterInputField.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.cy.jsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/EntitySelector.tsx
Labels: area/ui

#11022 chore(ci): Disable tooltip checks in Process Timeline e2e tests
  ui/apps/platform/cypress/integration/risk/deploymentTimeline.test.js
  ui/apps/platform/cypress/integration/risk/podTimeline.test.js
Labels: area/ui

#10651 fix(ui): Misc VM 2.0 Improvements
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/Components/ContainerImageInfo.tsx
  ui/apps/platform/src/Containers/Risk/ContainerConfigurations.js
  ui/apps/platform/src/Containers/Violations/Details/Deployment/ContainerImage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadCveFilterToolbar.tsx
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#10933 ROX-23796: Added changes to return compliance operator health
  central/complianceoperator/v2/integration/service/convert.go
  central/complianceoperator/v2/integration/store/postgres/store.go
  central/complianceoperator/v2/pipelines/complianceoperatorinfo/pipeline.go
  central/complianceoperator/v2/pipelines/complianceoperatorinfo/pipeline_test.go
  generated/api/v2/compliance_integration_service.pb.go
  generated/api/v2/compliance_integration_service.swagger.json
  generated/storage/compliance_integration.pb.go
  pkg/postgres/schema/compliance_integrations.go
  pkg/search/options.go
  proto/api/v2/compliance_integration_service.proto
  proto/storage/compliance_integration.proto
Labels: area/central, area/postgres, epic/compliance-2.0/mvp

#10970 chore: bump go 1.21.9
  .devcontainer/devcontainer.json
  .github/workflows/build.yaml
  .github/workflows/ci-failures-report.yml
  .github/workflows/scanner-build.yaml
  .github/workflows/scanner-db-init-dump.yaml
  .github/workflows/scanner-pr-vuln-update.yaml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
  .openshift-ci/Dockerfile.build_root
  .openshift-ci/dev-requirements.txt
  BUILD_IMAGE_VERSION
  EXPECTED_GO_VERSION
  Makefile
  deploy/common/k8sbased.sh
  go.mod
  go.sum
  operator/tools/controller-gen/go.mod
  operator/tools/controller-gen/go.sum
  operator/tools/kuttl/go.mod
  operator/tools/kuttl/go.sum
  operator/tools/operator-sdk/go.mod
  operator/tools/operator-sdk/go.sum
  operator/tools/yq/go.mod
  operator/tools/yq/go.sum
  scale/signatures/deploy.yaml
  scripts/style/shellcheck_skip.txt
  tests/e2e/lib.sh
  tests/e2e/run-e2e-tests.sh
Labels: area/operator, area/ci, backport

#10813 ROX-2389: Add integration test for CO CRDs detection
  sensor/tests/complianceoperator/crd_test.go
  sensor/tests/helper/helper.go
  tests/complianceoperator/crds/compliancecheckresults.yaml
  tests/complianceoperator/crds/ns.yaml
  tests/complianceoperator/crds/profiles.yaml
  tests/complianceoperator/crds/rules.yaml
  tests/complianceoperator/crds/scansetting.yaml
  tests/complianceoperator/crds/scansettingbindings.yaml
  tests/complianceoperator/crds/tailoredprofiles.yaml
Labels: team/maple, area/sensor, epic/compliance-2.0/mvp

#11030 ROX-23912: Remove network flow go tests
  tests/networkflows_test.go
Labels: team/maple

#10975 ROX-23970: Process ComplianceOperator controls
  central/convert/internaltov2storage/compliance_rule.go
  central/convert/testutils/compliance_rules.go
Labels: area/central, area/postgres, epic/compliance-2.0/mvp

#11008 ROX-19123: Fix workload CVEs performance issue
  central/views/imagecve/view_impl.go
Labels: area/central

#10925 ROX-23287: compliance refactor result service
  central/complianceoperator/v2/checkresults/service/service_impl.go
  central/complianceoperator/v2/checkresults/service/service_impl_test.go
  central/complianceoperator/v2/checkresults/stats/service/service.go
  central/complianceoperator/v2/checkresults/stats/service/service_impl.go
  central/complianceoperator/v2/checkresults/stats/service/service_impl_test.go
  central/complianceoperator/v2/checkresults/stats/service/singleton.go
  central/convert/storagetov2/compliance_results_service.go
  central/convert/storagetov2/compliance_results_stats_service.go
  central/main.go
  generated/api/v2/compliance_common.pb.go
  generated/api/v2/compliance_results_service.pb.go
  generated/api/v2/compliance_results_service.pb.gw.go
  generated/api/v2/compliance_results_service.swagger.json
  generated/api/v2/compliance_results_service_grpc.pb.go
  generated/api/v2/compliance_results_stats_service.pb.go
  generated/api/v2/compliance_results_stats_service.pb.gw.go
  generated/api/v2/compliance_results_stats_service_grpc.pb.go
  proto/api/v2/compliance_common.proto
  proto/api/v2/compliance_results_service.proto
  proto/api/v2/compliance_results_stats_service.proto
  tools/allowed-large-files
Labels: area/central, epic/compliance-2.0/mvp

#11005 ROX-23630: indicator pruning
  central/postgres/pruning.go
  central/postgres/pruning_test.go
  central/processindicator/datastore/datastore.go
  central/processindicator/datastore/datastore_impl.go
  central/processindicator/datastore/datastore_impl_test.go
  central/processindicator/datastore/mocks/datastore.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
Labels: area/central

#11034 ROX-23689: Compliance coverage routing and profile selector
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ComplianceProfilesProvider.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragesPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragesPageHeader.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragesToggleGroup.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileClustersPage.tsx
  ui/apps/platform/src/services/ComplianceResultsService.ts
Labels: area/ui

#10952 ROX-23778: compliance fix paging cluster stats
  central/complianceoperator/v2/checkresults/datastore/datastore_impl.go
  central/complianceoperator/v2/checkresults/datastore/datastore_impl_test.go
  central/complianceoperator/v2/checkresults/datastore/stats_views.go
  central/complianceoperator/v2/checkresults/stats/service/service_impl.go
  central/complianceoperator/v2/checkresults/stats/service/service_impl_test.go
  generated/api/v2/compliance_results_stats_service.pb.go
  generated/api/v2/compliance_results_stats_service.pb.gw.go
  generated/api/v2/compliance_results_stats_service_grpc.pb.go
  proto/api/v2/compliance_results_stats_service.proto
Labels: area/central, area/postgres, epic/compliance-2.0/mvp

#11042 fix(ui): Fix failing tests and change feature flag
  pkg/features/list.go
  tests/e2e/lib.sh
  tools/allowed-large-files
  ui/apps/platform/cypress/integration/risk/risk.test.js
  ui/apps/platform/src/Components/ContainerImageInfo.tsx
  ui/apps/platform/src/Containers/Risk/ContainerConfigurations.js
  ui/apps/platform/src/Containers/Violations/Details/Deployment/ContainerImage.tsx
  ui/apps/platform/src/types/featureFlag.ts
Labels: pls-merge, area/ui

#10680 ROX-23526: access insecure registry
  generated/internalapi/scanner/v4/indexer_service.pb.go
  pkg/scanners/scannerv4/scannerv4.go
  pkg/scannerv4/client/client.go
  pkg/scannerv4/client/mocks/client.go
  pkg/scannerv4/client/options.go
  proto/internalapi/scanner/v4/indexer_service.proto
  scanner/cmd/scannerctl/scale.go
  scanner/cmd/scannerctl/scan.go
  scanner/e2etests/image_test.go
  scanner/indexer/indexer.go
  scanner/indexer/options.go
  scanner/services/indexer.go
  scanner/services/indexer_test.go
  sensor/common/scannerclient/grpc_client.go
  sensor/common/scannerclient/grpc_client_test.go
Labels: ci-all-qa-tests, area/roxctl, area/central, area/ui, area/helm, area/operator, area/sensor, area/postgres, area/scanner, area/ci

#11039 fix: cherry-pick #10936
  CHANGELOG.md
  roxctl/image/scan/cve.go
  roxctl/image/scan/cve_test.go
  roxctl/image/scan/scan.go
  roxctl/image/scan/scan_test.go
Labels: area/roxctl, backport

#11060 fix(test): fix roxctl auth token test
  roxctl/common/auth/token_test.go
  roxctl/common/token.go
Labels: area/roxctl, backport

#11043 ROX-23691: Profile check results table
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragesPageHeader.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksTable.css
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/compliance.coverage.routes.ts
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/ProfilesTableToggleGroup.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/StatusCountIcon.tsx
  ui/apps/platform/src/services/ComplianceResultsService.ts
Labels: area/ui

#11046 ROX-23998: Adding check details page breadcrumbs
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsPage.tsx
Labels: area/ui

#11016 fix: update external-contributor triaging workflow
  .github/workflows/add-new-pr-to-oss-triaging.yml
Labels: area/ci

#11049 ROX-21459: Improve OLM robustness
  .github/dependabot.yaml
  .openshift-ci/ci_tests.py
  .openshift-ci/post_tests.py
  operator/Makefile
  operator/tools/operator-sdk/go.mod
  operator/tools/operator-sdk/go.sum
  operator/tools/operator-sdk/tool.go
Labels: area/operator, area/ci

#10749 ROX-23132: use make tag result in image names on Konflux
  .tekton/basic-component-pipeline.yaml
  .tekton/central-db-pull-request.yaml
  .tekton/central-db-push.yaml
  .tekton/determine-image-tag-task.yaml
  .tekton/main-pipeline.yaml
  .tekton/main-pull-request.yaml
  .tekton/main-push.yaml
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
  .tekton/roxctl-pull-request.yaml
  .tekton/roxctl-push.yaml
  .tekton/scanner-v4-db-pull-request.yaml
  .tekton/scanner-v4-db-push.yaml
  .tekton/scanner-v4-pipeline.yaml
  .tekton/scanner-v4-pull-request.yaml
  .tekton/scanner-v4-push.yaml
Labels: area/helm

#11077 chore(ui): Split up compliance results service
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ComplianceProfilesProvider.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/compliance.coverage.utils.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/CheckStatusModal.tsx
  ui/apps/platform/src/services/ComplianceCommon.ts
  ui/apps/platform/src/services/ComplianceResultsService.ts
  ui/apps/platform/src/services/ComplianceResultsStatsService.ts
Labels: area/ui

#11076 chore(ui): Update qs 6.12.1 dependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#11056 ROX-24103: Adds the Risk Priority column to image and deployment lists
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/sortUtils.tsx
Labels: area/ui

#11074 chore(e2e): Update cypress 13.9.0 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#11017 chore: Add feature flag for legacy snooze feature in VM 2.0
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui, epic/vm2.0/node&platform

#11064 ROX-24097: Profile checks table pagination
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksTable.tsx
  ui/apps/platform/src/services/ComplianceResultsService.ts
Labels: area/ui

#11032 ROX-23506: Adding attribute selector
  ui/apps/platform/src/Components/CompoundSearchFilter/components/AttributeSelector.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.cy.jsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/EntitySelector.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/SimpleSelect.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/types.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.test.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.ts
Labels: area/ui

#10979 ROX-23952: Add compliance report manager
  central/complianceoperator/v2/report/manager/manager.go
  central/complianceoperator/v2/report/manager/manager_impl.go
  central/complianceoperator/v2/report/manager/manager_test.go
  central/complianceoperator/v2/report/manager/mocks/manager.go
  central/complianceoperator/v2/report/manager/singeton.go
  central/main.go
Labels: area/central

#11080 chore(ui): Update yup 1.4.0 dependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#11075 ROX-23995: improve roxctl retries
  pkg/retry/retryable.go
  roxctl/central/db/restore/v2_restorer.go
  roxctl/common/errors.go
  roxctl/common/errors_test.go
  roxctl/deployment/check/check.go
  roxctl/image/check/check.go
  roxctl/image/scan/scan.go
Labels: area/roxctl

#10906 ROX-23759: skip fetching signatures with no signature integrations
  central/reprocessor/mocks/reprocessor.go
  central/reprocessor/reprocessor.go
  central/signatureintegration/service/service_impl.go
  pkg/images/enricher/enricher_impl.go
  pkg/images/enricher/enricher_impl_test.go
Labels: area/central

#11041 feat(ui): Add platform CVE row actions
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/PlatformCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/CVESelectionTd.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/CVESelectionTh.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/hooks/useHasLegacySnoozeAbility.ts
Labels: area/ui, epic/vm2.0/node&platform

#11004 ROX-23818: Add CVE snoozed toggle option
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodeCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/components/NodeCveFilterToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/PlatformCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/PlatformCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/SnoozedCveToggleButton.cy.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/SnoozedCveToggleButton.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/searchOptions.ts
Labels: area/ui, epic/vm2.0/node&platform

#11040 ROX-23819: Add ability to snooze platform cves in VM 2.0
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/PlatformCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/SnoozeCvesModal/SnoozeCvesModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/SnoozeCvesModal/useSnoozeCveModal.tsx
  ui/apps/platform/src/constants/entityTypes.ts
  ui/apps/platform/src/services/VulnerabilitiesService.js
Labels: area/ui, epic/vm2.0/node&platform

#11094 ROX-23069: Add sorting to Platform CVE single page table
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/AffectedClustersTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/PlatformCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/useAffectedClusters.ts
Labels: area/ui, epic/vm2.0/node&platform

#11078 ROX-23632: Use image SHA in name when tag does not exist
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/ImageResourceTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageNameLink.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/utils/images.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/utils/images.ts
Labels: area/ui

#11096 chore(ui): Delete ROX_MOVE_INIT_BUNDLES_UI feature flag
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/cypress/helpers/formHelpers.js
  ui/apps/platform/cypress/integration/clusters/init-bundles/InitBundleForm.test.js
  ui/apps/platform/cypress/integration/clusters/init-bundles/InitBundlesPage.test.js
  ui/apps/platform/cypress/integration/clusters/redirectFromDashboard.test.js
  ui/apps/platform/cypress/integration/integrations/clusterInitBundles.test.js
  ui/apps/platform/cypress/integration/integrations/general.test.js
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/Clusters/AddClusterPrompt.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.tsx
  ui/apps/platform/src/Containers/Clusters/Components/ManageTokensButton.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ClusterInitBundleIntegrationForm/ClusterInitBundleDetails.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ClusterInitBundleIntegrationForm/ClusterInitBundleFormMessageAlert.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ClusterInitBundleIntegrationForm/ClusterInitBundleIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ClusterInitBundleIntegrationForm/index.ts
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/IntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/ClusterInitBundlesTile.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/DeleteClusterInitBundleConfirmationModal.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsListPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsPage.tsx
  ui/apps/platform/src/Containers/Integrations/hooks/useFetchIntegrations.ts
  ui/apps/platform/src/Containers/Integrations/hooks/useIntegrations.ts
  ui/apps/platform/src/reducers/clusterInitBundles.js
  ui/apps/platform/src/reducers/index.js
  ui/apps/platform/src/routePaths.ts
  ui/apps/platform/src/sagas/clusterInitBundleSagas.js
  ui/apps/platform/src/sagas/index.js
  ui/apps/platform/src/types/featureFlag.ts
  ui/yarn.lock
Labels: area/ui

#11101 Revert "ROX-23952: Add compliance report manager "
  central/complianceoperator/v2/report/manager/manager.go
  central/complianceoperator/v2/report/manager/manager_impl.go
  central/complianceoperator/v2/report/manager/manager_test.go
  central/complianceoperator/v2/report/manager/mocks/manager.go
  central/complianceoperator/v2/report/manager/singeton.go
  central/main.go
Labels: area/central

#11097 chore(resolver): Disable the aggregator queue
  pkg/features/list.go
  sensor/kubernetes/eventpipeline/resolver/resolver_test.go
Labels: team/maple, area/sensor

#11048 ROX-23999: Adding check details page page header
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/compliance.coverage.utils.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/DetailsPageHeader.tsx
  ui/apps/platform/src/services/ComplianceResultsStatsService.ts
Labels: area/ui

#11109 fix: change usage of mockgen for acscsemail
  central/notifiers/acscsemail/acscsemail.go
  central/notifiers/acscsemail/acscsemail_test.go
  central/notifiers/acscsemail/client.go
  central/notifiers/acscsemail/client_impl.go
  central/notifiers/acscsemail/client_impl_test.go
  central/notifiers/acscsemail/message/message.go
  central/notifiers/acscsemail/mocks/client.go
Labels: area/central

#11088 ROX-24073: Use GOTOOLCHAIN local
  Makefile
Labels: area/ci

#11103 ROX-23952: Added compliance report manager
  central/complianceoperator/v2/report/manager/manager.go
  central/complianceoperator/v2/report/manager/manager_impl.go
  central/complianceoperator/v2/report/manager/manager_test.go
  central/complianceoperator/v2/report/manager/mocks/manager.go
  central/complianceoperator/v2/report/manager/singleton.go
  central/main.go
Labels: ci-all-qa-tests, area/central, epic/compliance-2.0/mvp

#10588 ROX-23299: Platform CVEs view to query db for PlatformCVEs pages
  central/views/common/queries.go
  central/views/common/sac.go
  central/views/common/validate.go
  central/views/imagecve/view_impl.go
  central/views/platformcve/db_response.go
  central/views/platformcve/empty.go
  central/views/platformcve/mocks/types.go
  central/views/platformcve/singleton.go
  central/views/platformcve/types.go
  central/views/platformcve/view_impl.go
  central/views/platformcve/view_test.go
  pkg/search/options.go
Labels: area/central, area/postgres, epic/vm2.0/node&platform

#10982 feat(scanner): Enable openshift metrics
  image/templates/helm/shared/templates/02-scanner-v4-05-indexer-network-policy.yaml
  image/templates/helm/shared/templates/02-scanner-v4-05-matcher-network-policy.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-indexer-deployment.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-matcher-deployment.yaml
  image/templates/helm/shared/templates/02-scanner-v4-08-indexer-service.yaml
  image/templates/helm/shared/templates/02-scanner-v4-08-matcher-service.yaml
  image/templates/helm/shared/templates/99-shared-openshift-monitoring.yaml.htpl
  image/templates/helm/stackrox-central/templates/_labels.tpl
  image/templates/helm/stackrox-secured-cluster/templates/_labels.tpl
  pkg/helm/charts/tests/centralservices/testdata/helmtest/openshift-monitoring.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/openshift-monitoring.test.yaml
Labels: area/helm

#11118 Revert "ROX-23952: Added compliance report manager"
  central/complianceoperator/v2/report/manager/manager.go
  central/complianceoperator/v2/report/manager/manager_impl.go
  central/complianceoperator/v2/report/manager/manager_test.go
  central/complianceoperator/v2/report/manager/mocks/manager.go
  central/complianceoperator/v2/report/manager/singleton.go
  central/main.go
Labels: area/central

#11116 ROX-21570: retry curls in validation.sh
  tests/upgrade/validation.sh
Labels: auto-retest

#11098 fix: replace roxvet with errcheck
  .golangci.yml
  central/scannerdefinitions/handler/handler_test.go
  tools/roxvet/analyzers/uncheckederrors/analyzer.go
  tools/roxvet/roxvet.go
Labels: area/central

#10222 ROX-15309: Supply `roxctl` command with a HTTP header
  central/telemetry/centralclient/interceptors.go
  pkg/clientconn/roxctl_command_header.go
  pkg/grpc/authn/util.go
  pkg/telemetry/phonehome/headers_multimap.go
  pkg/telemetry/phonehome/headers_multimap_test.go
  roxctl/common/client.go
  roxctl/common/connection.go
  roxctl/common/patch_pre_run_hooks.go
  roxctl/main.go
  roxctl/main_test.go
Labels: area/roxctl, area/central

#11047 ROX-24122: Add graphQL prop for clusterAdmin in Service Accounts table
  ui/apps/platform/src/queries/serviceAccount.js
Labels: area/ui

#11092 ROX-23820: Add ability to snooze node cves in VM 2.0
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodeCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/PlatformCvesOverviewPage.tsx
Labels: area/ui, epic/vm2.0/node&platform

#11033 ROX-23257: remove rocksdb from konflux
  .konflux/.gitignore
  .tekton/main-pipeline.yaml
  image/rhel/konflux.Dockerfile
Labels: area/helm

#11062 ROX-23570: Factor out mailing lists from vulnerability reporting
  ui/apps/platform/src/Components/EmailNotifier/EmailNotifierModal.tsx
  ui/apps/platform/src/Components/EmailTemplate/EmailTemplateForm.tsx
  ui/apps/platform/src/Components/EmailTemplate/EmailTemplateModal.tsx
  ui/apps/platform/src/Components/NotifierConfiguration/NotifierConfigurationForm.tsx
  ui/apps/platform/src/Components/NotifierConfiguration/NotifierConfigurationView.tsx
  ui/apps/platform/src/Components/NotifierConfiguration/NotifierMailingLists.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ViewVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/DeliveryDestinationsDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/DeliveryDestinationsForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/NotifierSelection.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportReviewForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/hooks/useEmailTemplateModal.ts
Labels: area/ui

#11135 fix(ui): Allow passing of "action" to sort and pagination hooks
  ui/apps/platform/src/hooks/useURLPagination.test.tsx
  ui/apps/platform/src/hooks/useURLPagination.ts
  ui/apps/platform/src/hooks/useURLParameter.ts
  ui/apps/platform/src/hooks/useURLSearch.ts
  ui/apps/platform/src/hooks/useURLSort.ts
  ui/apps/platform/src/hooks/useURLStringUnion.ts
Labels: area/ui

#11065 refactor(central): defs: Simplify vulnerability definition handling
  central/scannerdefinitions/handler/handler.go
Labels: area/central, pr-scanner-db-init-bundle

#11136 ROX-22474: Do not build Konflux images with release GOTAG
  image/rhel/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  operator/konflux.Dockerfile
  scanner/image/scanner/konflux.Dockerfile
Labels: area/helm, area/operator, area/scanner

#11132 fix: drop execution environment header with no value
  roxctl/common/client.go
  roxctl/common/client_test.go
Labels: area/roxctl

#11093 ROX-23468: rbac test flake
  qa-tests-backend/src/test/groovy/K8sRbacTest.groovy
Labels: auto-retest

#11141 chore(ui): Lift up construction of workload cves query
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
Labels: area/ui

#11138 fix(ui): description for WorkflowAdministration resource
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/ResourceDescription.tsx
Labels: area/ui

#11120 ROX-23952: Add compliance report manager
  central/complianceoperator/v2/report/manager/manager.go
  central/complianceoperator/v2/report/manager/manager_impl.go
  central/complianceoperator/v2/report/manager/manager_test.go
  central/complianceoperator/v2/report/manager/mocks/manager.go
  central/complianceoperator/v2/report/manager/singleton.go
  central/complianceoperator/v2/scanconfigurations/service/singleton.go
  central/main.go
Labels: ci-all-qa-tests, area/central

#11145 ROX-24285: compliance fix overwritten sort
  central/complianceoperator/v2/checkresults/datastore/datastore_impl.go
Labels: area/central, epic/compliance-2.0/mvp

#11139 ROX-21732: Standardize on collection label for VM report in UI
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/CloneVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/CreateVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/EditVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/VulnReportsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/EmailTemplatePreview.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/ReportParametersDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportParametersForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/useReportFormValues.tsx
Labels: area/ui

#11105 ROX-23508: Adding text input and select for advanced filters
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CheckboxSelect.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundFilterInputField.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.cy.jsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilterInputField.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/EntitySelector.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/types.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/table.utils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ComponentLocation.tsx
  ui/apps/platform/src/types/image.proto.ts
Labels: area/ui

#11044 feat(scanner): updater: Publish multi-bundle vulns
  .github/workflows/scanner-dev-vuln-update.yaml
  .github/workflows/scanner-release-vuln-update.yaml
Labels: area/ci, pr-update-scanner-vulns

#11151 ROX-17300: Support hostAliases
  image/templates/helm/shared/internal/scanner-config-shape.yaml
  image/templates/helm/shared/internal/scanner-v4-config-shape.yaml
  image/templates/helm/shared/templates/02-scanner-06-deployment.yaml.htpl
  image/templates/helm/shared/templates/02-scanner-v4-07-db-deployment.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-indexer-deployment.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-matcher-deployment.yaml
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/templates/01-central-12-central-db.yaml
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
  operator/apis/platform/v1alpha1/common_types.go
  operator/apis/platform/v1alpha1/securedcluster_types.go
  operator/apis/platform/v1alpha1/zz_generated.deepcopy.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/pkg/central/values/translation/translation.go
  operator/pkg/securedcluster/values/translation/translation.go
  operator/pkg/securedcluster/values/translation/translation_test.go
  operator/pkg/values/translation/translation.go
  operator/pkg/values/translation/translation_test.go
  operator/tests/central/central-basic/100-assert.yaml
  operator/tests/central/central-basic/100-set-host-aliases.yaml
  operator/tests/central/central-basic/101-errors.yaml
  operator/tests/central/central-basic/101-unset-host-aliases.yaml
  operator/tests/securedcluster/sc-basic/044-assert.yaml
  operator/tests/securedcluster/sc-basic/044-set-host-aliases.yaml
  operator/tests/securedcluster/sc-basic/045-errors.yaml
  operator/tests/securedcluster/sc-basic/045-unset-host-aliases.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/host-aliases.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/host-aliases.test.yaml
Labels: area/helm, area/operator

#11155 chore: Add feature flag for VULN_MGMT_NO_CVES_VIEW
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#11162 ROX-23510: Adding the date-picker to the compound search filter
  ui/apps/platform/cypress.config.js
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.cy.jsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilterInputField.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/types.ts
Labels: area/ui

#11140 ROX-24100: Profile clusters table pagination
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileClustersPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileClustersTable.tsx
  ui/apps/platform/src/services/ComplianceResultsStatsService.ts
Labels: area/ui

#11066 ROX-23847: Attempt at reducing lock contention in network entities datastore
  central/networkgraph/entity/datastore/datastore_impl.go
  central/networkgraph/entity/datastore/internal/store/mocks/store.go
  central/networkgraph/entity/datastore/internal/store/store.go
Labels: area/central

#11111 chore(docs): Add OpenShift CI debug tips
  .openshift-ci/debug-tips.md
Labels: area/ci

#11195 fix(release): vulncheck exception
  govulncheck-allowlist.json
Labels: backport

#11170 ROX-23515: Adding condition-number input to compound search filter
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.cy.jsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilterInputField.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/ConditionNumber.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/types.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.test.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.ts
Labels: area/ui

#11182 ROX-23672: Filter compliance standards on main dashboard
  ui/apps/platform/src/Containers/Dashboard/Widgets/ComplianceLevelsByStandard.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ComplianceLevelsByStandardChart.tsx
Labels: area/ui

#11179 ROX-24096: Add profile checks sorting
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksTable.tsx
  ui/apps/platform/src/services/ComplianceResultsService.ts
Labels: area/ui

#11167 feat(central): defs: Switch to multi bundle definitions
  central/scannerdefinitions/handler/handler.go
  pkg/features/list.go
  scanner/matcher/updater/vuln/updater.go
  scanner/matcher/updater/vuln/updater_test.go
Labels: area/central, area/scanner

#11113 ROX-24045: Telemetry `WithMessageIDPrefix` option
  central/cluster/datastore/telemetry.go
  pkg/telemetry/phonehome/segment/segment.go
  pkg/telemetry/phonehome/segment/segment_test.go
  pkg/telemetry/phonehome/telemeter/telemeter.go
  pkg/telemetry/phonehome/telemeter/telemeter_test.go
Labels: area/central

#11052 ROX-21977: compliance profile pagination
  central/complianceoperator/v2/profiles/datastore/datastore.go
  central/complianceoperator/v2/profiles/datastore/datastore_impl.go
  central/complianceoperator/v2/profiles/datastore/datastore_impl_test.go
  central/complianceoperator/v2/profiles/datastore/mocks/datastore.go
  central/complianceoperator/v2/profiles/service/service_impl.go
  central/complianceoperator/v2/profiles/service/service_impl_test.go
  central/convert/storagetov2/compliance_profile_service.go
  generated/api/v1/search_service.pb.go
  generated/api/v1/search_service.swagger.json
  generated/api/v2/compliance_profile_service.pb.go
  generated/api/v2/compliance_profile_service.swagger.json
  pkg/search/options.go
  pkg/search/postgres/common.go
  proto/api/v1/search_service.proto
  proto/api/v2/compliance_profile_service.proto
Labels: area/central, area/postgres, epic/compliance-2.0/mvp

#11197 ROX-23940: re-enable roxctl scan
  .github/workflows/build.yaml
Labels: area/ci

#11180 ROX-23777: compliance paging search
  central/complianceoperator/v2/checkresults/service/service_impl.go
  central/complianceoperator/v2/checkresults/service/service_impl_test.go
  central/convert/storagetov2/compliance_results_service.go
  central/convert/testutils/compliance_results.go
  generated/api/v2/compliance_results_service.pb.go
  generated/api/v2/compliance_results_service.pb.gw.go
  generated/api/v2/compliance_results_service.swagger.json
  generated/api/v2/compliance_results_service_grpc.pb.go
  proto/api/v2/compliance_results_service.proto
Labels: area/central, epic/compliance-2.0/mvp

#10776 ROX-23720: Sanity check and doc improvements for clusterLabels
  image/templates/helm/stackrox-secured-cluster/README.md.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/values-public.yaml.example
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/base-config.test.yaml
Labels: area/helm

#11011 ROX-24045: drop `Updated Secured Cluster Identity` duplicates
  central/cluster/datastore/telemetry.go
  pkg/telemetry/phonehome/segment/segment.go
  pkg/telemetry/phonehome/segment/segment_test.go
  pkg/telemetry/phonehome/telemeter/telemeter.go
  pkg/telemetry/phonehome/telemeter/telemeter_test.go
Labels: area/central

#11201 ROX-24328: Remove compliance standard logos
  ui/apps/platform/src/Components/ControlDetails.js
  ui/apps/platform/src/images/cis.svg
  ui/apps/platform/src/images/hipaa.svg
  ui/apps/platform/src/images/nist.svg
  ui/apps/platform/src/images/pci.svg
Labels: area/ui

#11152 ROX-24045: telemetry gatherer to use `WithNoDuplicates`
  central/telemetry/centralclient/instance_config.go
  pkg/telemetry/phonehome/gatherer.go
  pkg/telemetry/phonehome/gatherer_test.go
Labels: area/central

#11143 ROX-24183: images without vulns queries
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ObservedCveModeSelect.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/VulnerabilityStateTabs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadCveFilterToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/searchUtils.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/sortUtils.tsx
Labels: area/ui

#11146 ROX-23679: Add delivery destination to scan config in Compliance 2.0
  ui/apps/platform/src/Components/NotifierConfiguration/NotifierConfigurationForm.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ReportConfiguration.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ReviewConfig.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ScanConfigWizardForm.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/useFormikScanConfig.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/compliance.scanConfigs.utils.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/emailTemplateFormUtils.ts
  ui/apps/platform/src/constants/productBranding.ts
  ui/apps/platform/src/services/ComplianceScanConfigurationService.ts
Labels: area/ui

#11144 ROX-24182: update workload CVE overview header
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ObservedCveModeSelect.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/DefaultFilterModal.tsx
Labels: area/ui

#11220 ROX-24078: Update navigation and tech preview status for VM 2.0
  ui/apps/platform/cypress/integration/vulnmanagement/clusterCves.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/clusters.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/dashboard.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/dashboardToEntityPage.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/deployments.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/entitypages.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/imageComponents.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/imageCves.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/images.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/namespaces.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/nodeComponents.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/nodeCves.test.js
  ui/apps/platform/cypress/integration/vulnmanagement/nodes.test.js
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesPage.tsx
  ui/apps/platform/src/routePaths.ts
Labels: area/ui

#11223 fix(ci): fix Scanner dev vuln updates
  .github/workflows/scanner-dev-vuln-update.yaml
Labels: area/ci, pr-update-scanner-vulns

#11117 ROX-23926: Api endpoint for compliance on demand report
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  central/complianceoperator/v2/scanconfigurations/service/singleton.go
  generated/api/v2/compliance_scan_configuration_service.pb.go
  generated/api/v2/compliance_scan_configuration_service.pb.gw.go
  generated/api/v2/compliance_scan_configuration_service.swagger.json
  generated/api/v2/compliance_scan_configuration_service_grpc.pb.go
  proto/api/v2/compliance_scan_configuration_service.proto
Labels: ci-all-qa-tests, area/central

#11169 ROX-23362: conditionally build Scanner V4 with -race
  .github/workflows/scanner-build.yaml
  scanner/Makefile
Labels: area/scanner, area/ci, ci-build-race-condition-debug

#11086 ROX-24119: Configure node-inventory container to be privileged
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml
Labels: area/helm

#11196 ROX-24322: add acscsEmail integration capability to metadata API
  central/metadata/centralcapabilities/centralcapabilities.go
  central/metadata/service/service_impl_test.go
  generated/api/v1/metadata_service.pb.go
  generated/api/v1/metadata_service.swagger.json
  proto/api/v1/metadata_service.proto
Labels: area/central

#11229 test(scannerv4): Use e2-standard-16 machines on OCP
  .openshift-ci/begin.sh
  tests/e2e/run-scanner-v4.sh
Labels: area/ci

#11233 chore(docs): Add documentation for postgres table usage
  pkg/postgres/pgtest/postgres.go
Labels: area/postgres

#11231 fix: sendMsgPath for acscsEmail integration
  central/notifiers/acscsemail/client_impl.go
Labels: area/central

#11178 chore(ui): without cves view e2e tests
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ObservedCveModeSelect.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
Labels: area/ui

#11100 ROX-23078: Add sorting to Cluster single page table
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/useClusterVulnerabilities.ts
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/AffectedClustersTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/PlatformCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/sortFields.ts
Labels: area/ui, epic/vm2.0/node&platform

#10991 ROX-14990: roxctl default to OpenShift 4
  CHANGELOG.md
  roxctl/central/generate/k8s.go
  roxctl/sensor/generate/openshift.go
Labels: ci-all-qa-tests, area/roxctl, area/auth, area/central, area/ui, area/helm, area/operator, area/sensor, area/postgres, area/scanner, area/ci

#11253 tests: Improve query
  scripts/ci/metrics.sh
Labels: auto-retest

#11239 feat(cm): Add option in the ChannelMultiplexer to configure a context
  pkg/channelmultiplexer/channelmultiplexer.go
  pkg/channelmultiplexer/channelmultiplexer_test.go
Labels: team/maple

#11228 chore(collector): Bump Collector version
  COLLECTOR_VERSION
Labels: ci-all-qa-tests, backport

#11265 chore(ci): switch to rhacs-bot (#143) (#8756)
  .github/workflows/cut-rc.yml
  .github/workflows/finish-release.yml
  .github/workflows/start-release.yml
Labels: area/ci

#11261 fix: `GITHUB_TOKEN` secret name
  .github/workflows/build.yaml
Labels: area/ci

#11181 ROX-24318: workload CVE ux polish
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ObservedCveModeSelect.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/string.utils.ts
Labels: area/ui

#11269 ROX-23630: [BACKPORTING] indicator pruning (#11005)
  central/postgres/pruning.go
  central/postgres/pruning_test.go
  central/processindicator/datastore/datastore.go
  central/processindicator/datastore/datastore_impl.go
  central/processindicator/datastore/datastore_impl_test.go
  central/processindicator/datastore/mocks/datastore.go
  central/pruning/pruning.go
  central/pruning/pruning_test.go
Labels: area/central, backport

#11222 ROX-24348: compliance scan config last run
  central/complianceoperator/v2/scanconfigurations/service/convert.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  generated/api/v2/compliance_scan_configuration_service.pb.go
  generated/api/v2/compliance_scan_configuration_service.swagger.json
  proto/api/v2/compliance_scan_configuration_service.proto
Labels: area/central

#11238 ROX-23059: +ROX-23061 platform CVE sorting
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/ClustersTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/PlatformCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/usePlatformCves.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/sortFields.ts
Labels: area/ui, epic/vm2.0/node&platform

#11224 ROX-24003: Check details table results
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/DetailsPageHeader.tsx
  ui/apps/platform/src/services/ComplianceResultsService.ts
Labels: area/ui

#11203 fix(be): Fix imagecveView not returning results for offsets > 0
  central/views/imagecve/view_impl.go
Labels: area/central

#11279 ROX-24001: Check details pagination
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsTable.tsx
  ui/apps/platform/src/services/ComplianceResultsService.ts
Labels: area/ui
