Repository stackrox/stackrox, pull requests merged in 2024-11, with the labels that each got.

#13132 chore(ui): Remove ROX_WORKLOAD_CVES_FIXABILITY_FILTERS ff from UI
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadCveFilterToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/AdvancedFiltersToolbar.tsx
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#13181 chore(ui): Add missing isActionCell prop to Td elements
  ui/apps/platform/src/Containers/Violations/ViolationsTablePanel.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
Labels: area/ui

#13172 chore(ui): Add no-Td-data-label lint rule for PatternFly
  ui/apps/platform/eslint-plugins/pluginPatternFly.js
Labels: area/ui

#12827 ROX-26318: create a code generation tool for custom resource
  central/policy/customresource/custom_resource.go
  central/policy/customresource/policy.go
  central/policy/customresource/testdata/custom_resource.yaml
  generated/storage/policy.pb.go
  generated/storage/scope.pb.go
  proto/storage/policy.proto
  proto/storage/scope.proto
  tools/generate-helpers/common/render.go
  tools/generate-helpers/config-as-code-helper-wrapper
  tools/generate-helpers/config-as-code-helper/main.go
  tools/generate-helpers/config-as-code-helper/policy.go.tpl
  tools/generate-helpers/pg-table-bindings/main.go
Labels: area/central, area/postgres

#13112 chore(ui): Add Td-defaultColumns lint rule in pluginGeneric
  ui/apps/platform/eslint-plugins/pluginGeneric.js
Labels: area/ui

#13153 chore: remove ROX_VULN_MGMT_NODE_PLATFORM_CVES feature flag
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/node_cve_core.go
  central/graphql/resolvers/node_cve_core_test.go
  central/graphql/resolvers/platform_cve_core.go
  central/graphql/resolvers/platform_cve_core_test.go
  central/graphql/resolvers/resolver.go
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/cveDetailPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/nodeCvesOverviewPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/nodeDetailPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/platformCves/clusterDetailPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/platformCves/cveDetailPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/platformCves/platformCvesOverviewPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/snoozeWorkflow.test.ts
  ui/apps/platform/src/routePaths.ts
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/central, area/ui

#13189 chore(scanner): Pin Scanner to 2.35.0
  SCANNER_VERSION
Labels: ci-all-qa-tests, backport

#13051 chore(scanner): Stop building DB init bundles
  .github/workflows/scanner-build.yaml
  .github/workflows/scanner-db-init-dump.yaml
  .github/workflows/scanner-e2e-test.yaml
  scanner/Makefile
Labels: area/scanner, area/ci

#13191 chore(collector): Update collector to 3.20.1
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#13192 chore(ui): Replace columns configuration in PoliciesTable
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTable.tsx
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTable.utils.ts
Labels: area/ui

#13157 fix(reporting): Aggregate timestamps in the scan watcher
  central/complianceoperator/v2/pipelines/complianceoperatorscansv2/pipeline.go
  central/complianceoperator/v2/pipelines/complianceoperatorscansv2/pipeline_test.go
  central/complianceoperator/v2/report/manager/manager.go
  central/complianceoperator/v2/report/manager/manager_impl.go
  central/complianceoperator/v2/report/manager/manager_test.go
  central/complianceoperator/v2/report/manager/mocks/manager.go
  central/complianceoperator/v2/report/manager/watcher/scanconfigwatcher_test.go
  central/complianceoperator/v2/report/manager/watcher/scanwatcher.go
  central/complianceoperator/v2/report/manager/watcher/scanwatcher_test.go
  central/complianceoperator/v2/report/manager/watcher/utils.go
Labels: area/central

#13201 chore(oprerator): Pin OLM version.
  operator/Makefile
Labels: pls-merge, area/operator, backport

#13194 build: Update Konflux pipelines
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Labels: backport-for-4.6-konflux-release

#13197 ROX-26834: Update dompurify
  ui/yarn.lock
Labels: pls-merge, area/ui, backport

#13198 ROX-26833: Update dompurify
  ui/yarn.lock
Labels: pls-merge, area/ui, backport

#13208 ROX-25948: Fix Scanner-V4 DB secret name
  sensor/kubernetes/certrefresh/securedcluster/cert_repo_init.go
Labels: area/sensor

#13200 fix(be): CRD validation desc optional
  config-controller/api/v1alpha1/policy_types.go
  config-controller/config/crd/bases/config.stackrox.io_securitypolicies.yaml
  image/templates/helm/stackrox-central/crds/config.stackrox.io_securitypolicies.yaml
Labels: area/helm

#13203 ROX-26326: Ignore remove functions if nil
  pkg/utils/ignore_error.go
  sensor/tests/helper/helper.go
Labels: team/maple, area/sensor

#13207 chore(deps): Update collector version to 3.20.3
  COLLECTOR_VERSION
Labels: ci-all-qa-tests, backport

#13206 chore(deps): Update collector version to 3.20.3
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#13202 feat(certwatch): log issuer, fix typo
  pkg/mtls/certwatch/certwatch.go
Labels: auto-retest

#13221 ROX-22791: Bump axios and axios-fetch to latest versions
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
  ui/apps/platform/src/utils/responseErrorUtils.ts
Labels: area/ui

#13102 chore(telemetry): add Version to the telemetry context
  central/cluster/datastore/telemetry.go
  central/telemetry/centralclient/instance_config.go
  pkg/telemetry/phonehome/client_config.go
  pkg/telemetry/phonehome/segment/segment.go
  pkg/telemetry/phonehome/segment/segment_test.go
  pkg/telemetry/phonehome/telemeter/telemeter.go
  pkg/telemetry/phonehome/telemeter/telemeter_test.go
Labels: area/central

#13209 ROX-25572: prefetch dependencies for operator-bundle on Konflux
  .tekton/operator-bundle-build.yaml
  operator/bundle_helpers/README.md
  operator/bundle_helpers/poetry.lock
  operator/bundle_helpers/pyproject.toml
  operator/bundle_helpers/requirements.txt
  operator/konflux.bundle.Dockerfile
Labels: area/operator, backport-for-4.6-konflux-release

#13244 chore(ui): Replace Td actions with Td isActionCell and ActionsColumn
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopesList.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProvidersList.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionSetsList.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/RolesList.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsTable.tsx
Labels: area/ui

#12556 ROX-25183: Find and tag tests for compatibility
  tests/api_kernel_support_available_test.go
  tests/api_test.go
  tests/common.go
  tests/common_matchers.go
  tests/csv_utils.go
  tests/e2e/run-compatibility.sh
  tests/endpoints_test.go
  tests/graphql_utils.go
  tests/pods_test.go
  tests/tls_challenge_test.go
Labels: team/maple, area/ci

#13233 chore: don't verify monitoring tls certs
  pkg/metrics/tls.go
  pkg/mtls/certwatch/certwatch.go
  pkg/mtls/certwatch/options.go
Labels: 99papercuts

#13164 chore(ui): Update ESLint 9 and related devDependencies in ui
  ui/apps/platform/eslint.config.js
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
  ui/apps/platform/src/Components/EmailNotifier/EmailNotifierForm.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsPage.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterPage.tsx
  ui/apps/platform/src/Containers/Compliance/List/Header.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ScanConfigurationsProvider.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/AgingImagesChart.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ComplianceLevelsByStandardChart.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ArtifactRegistryIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ExternalBackupIntegrations/GcsIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GoogleCloudSccIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GoogleIntegrationForm.tsx
  ui/apps/platform/src/Containers/Risk/SecurityContext.js
  ui/apps/platform/src/Containers/Search/SearchNavAndTable.tsx
  ui/apps/platform/src/Containers/User/UserPage.js
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/apiUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/types.ts
  ui/apps/platform/src/hooks/useLocalStorage.ts
  ui/apps/platform/src/hooks/useURLPagination.ts
  ui/apps/platform/src/hooks/useURLSort.ts
  ui/apps/platform/src/hooks/useWidgetConfig.ts
  ui/apps/platform/src/sagas/authSagas.js
  ui/apps/platform/src/sagas/roleSagas.js
  ui/apps/platform/src/sagas/searchAutocompleteSagas.js
  ui/apps/platform/src/services/AuthService/AuthService.ts
  ui/apps/platform/src/services/DiscoveredClusterService.ts
  ui/apps/platform/src/services/MachineAccessService.ts
  ui/apps/platform/src/types/table.ts
  ui/apps/platform/src/utils/bindSelectors.ts
  ui/apps/platform/src/utils/getEntityName.js
  ui/apps/platform/src/utils/pdfUtils.js
  ui/apps/platform/src/utils/securityContextUtils.ts
Labels: area/ui

#13232 chore(ui): Adjust some Td and Th elements for consistency
  ui/apps/platform/src/Components/HelpIconTh.tsx
  ui/apps/platform/src/Components/ReportJob/JobStatusPopoverContent.tsx
  ui/apps/platform/src/Components/ReportJob/MyLastJobStatusTh.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/Components/DelegatedRegistriesTable.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundlesTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePanel.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/VulnReportsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/WorkloadCVEOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WatchedImages/WatchedImagesTable.tsx
Labels: area/ui

#13195 ROX-26415: Remove install-specific URL data in telemetry
  ui/apps/platform/src/hooks/useAnalytics.test.ts
  ui/apps/platform/src/hooks/useAnalytics.ts
Labels: area/ui

#13220 ROX-26710: vm nulls of primitive query fields
  central/views/imagecve/db_response.go
  central/views/imagecve/view_test.go
  pkg/pointers/pointer.go
Labels: area/central

#13237 chore(collector): Update collector version to latest master
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#13260 ROX-26719: Extract common TLS issuer code
  sensor/kubernetes/certrefresh/localscanner_tls_issuer.go
  sensor/kubernetes/certrefresh/localscanner_tls_issuer_test.go
  sensor/kubernetes/certrefresh/tls_issuer_common.go
  sensor/kubernetes/certrefresh/tls_issuer_common_test.go
Labels: area/sensor

#13238 ROX-26889: Build `main` source image without Cachi2 artifact
  .tekton/main-pipeline.yaml
Labels: backport-for-4.6-konflux-release

#13266 chore(ui): Update yaml dependencies in UI
  ui/apps/platform/package-lock.json
Labels: area/ui

#13231 ROX-26706: Mock CVE response for image in multi-cve deferral test
  ui/apps/platform/cypress/fixtures/vulnerabilities/workloadCves/multipleCvesForImage.json
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageCveListExceptionFlow.test.js
Labels: area/ui

#13270 chore(ui): Update redacted host name to be under .invalid TLD
  ui/apps/platform/src/hooks/useAnalytics.ts
Labels: pls-merge, area/ui

#13268 ROX-25751: Update npm-ci audit to show vulns in prod deps only
  ui/Makefile
Labels: area/ui

#13079 ROX-24468: Retag ScannerV2 and Collector containers
  .konflux/konflux.dummy.Dockerfile
  .konflux/konflux.dummy2.Dockerfile
  .konflux/konflux.dummy3.Dockerfile
  .konflux/konflux.dummy4.Dockerfile
  .konflux/konflux.dummy5.Dockerfile
  .konflux/konflux.dummy6.Dockerfile
  .tekton/collector-full-retag.yaml
  .tekton/collector-full-retagged-pull-request.yaml
  .tekton/collector-full-retagged-push.yaml
  .tekton/collector-slim-retag.yaml
  .tekton/collector-slim-retagged-pull-request.yaml
  .tekton/collector-slim-retagged-push.yaml
  .tekton/determine-image-tag-task.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retag-image-task.yaml
  .tekton/retag-pipeline.yaml
  .tekton/scanner-db-retag.yaml
  .tekton/scanner-db-retagged-pull-request.yaml
  .tekton/scanner-db-retagged-push.yaml
  .tekton/scanner-db-slim-retag.yaml
  .tekton/scanner-db-slim-retagged-pull-request.yaml
  .tekton/scanner-db-slim-retagged-push.yaml
  .tekton/scanner-retag.yaml
  .tekton/scanner-retagged-pull-request.yaml
  .tekton/scanner-retagged-push.yaml
  .tekton/scanner-slim-retag.yaml
  .tekton/scanner-slim-retagged-pull-request.yaml
  .tekton/scanner-slim-retagged-push.yaml
Labels: backport-for-4.6-konflux-release

#13267 chore(ui): Remove d3-color 3.0.1 and depend on 3.1.0
  ui/apps/platform/package-lock.json
Labels: area/ui

#13224 feat: enable admin events for backups
  central/externalbackups/plugins/gcs/gcs.go
  central/externalbackups/plugins/s3/s3.go
  central/externalbackups/plugins/s3compatible/s3compatible.go
  pkg/administration/events/codes/codes.go
  pkg/administration/events/domain.go
  pkg/administration/events/resources/resources.go
  pkg/logging/fields.go
  ui/apps/platform/src/services/AdministrationEventsService.ts
Labels: area/central, area/ui, 99papercuts

#13278 fix(test): Fix the way the statics pods are counted in TopNav
  qa-tests-backend/src/test/groovy/SummaryTest.groovy
Labels: team/maple

#13124 ROX-25007: Allow named port to be set with the --dnsport flag
  roxctl/netpol/generate/generate.go
  roxctl/netpol/generate/generate_test.go
  tests/roxctl/bats-tests/local/roxctl-netpol-generate-development.bats
  tests/roxctl/bats-tests/local/roxctl-netpol-generate-release.bats
Labels: area/roxctl

#13292 chore: migrate sensor awscredentials to aws-go-sdk-v2
  sensor/common/awscredentials/registry.go
  sensor/common/awscredentials/registry_test.go
Labels: area/sensor, 99papercuts

#13154 ROX-26601: Use downstream image repos in operator bundle
  .tekton/operator-bundle-build.yaml
  .tekton/operator-bundle-pipeline.yaml
Labels: area/operator, backport-for-4.6-konflux-release

#13295 ROX-24767: Ignore function call if the function is nil
  pkg/utils/ignore_error.go
  sensor/tests/helper/helper.go
  sensor/tests/resource/role/role_test.go
  sensor/tests/resource/service/service_test.go
Labels: team/maple, area/sensor

#13297 ROX-26900: Re-add Cachi2 artifact to main's build-source task
  .tekton/main-pipeline.yaml
Labels: backport-for-4.6-konflux-release

#13242 ROX-26885: fix blank line detection for imports
  central/networkgraph/config/datastore/singleton.go
  central/sensor/service/pipeline/deploymentevents/validate_input.go
  central/serviceaccount/service/singleton.go
  central/telemetry/gatherers/singleton.go
  config-controller/api/v1alpha1/policy_types.go
  pkg/registries/factory.go
  sensor/kubernetes/listener/resources/networkpolicy_store.go
  tools/import_validate.py
Labels: team/maple, area/central, area/sensor

#13310 doc: Update CHANGELOG.md
  CHANGELOG.md
Labels: backport

#13240 feat(debug): Add more logging in the gRPC server package
  pkg/grpc/marshaler_test.go
  pkg/grpc/server.go
  pkg/grpc/server_ratelimit_test.go
  pkg/grpc/server_test.go
  pkg/grpc/testutils.go
Labels: team/maple

#13277 feat(qa): Update to downstream ACS build 4.5.4-x stable
  operator/midstream/iib.json
Labels: area/operator

#13150 ROX-25990: Prevent online/offline status flapping in Sensor
  sensor/common/centralclient/grpc_connection.go
  sensor/common/component.go
  sensor/common/sensor/sensor.go
  sensor/kubernetes/eventpipeline/pipeline_impl.go
Labels: ci-all-qa-tests, area/sensor

#13272 chore(ui): Add ESLint plugin for json files in ui
  ui/apps/platform/eslint.config.js
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui

#12641 feat(helm): support override admission control namespace selector
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
  image/templates/helm/stackrox-secured-cluster/values-public.yaml.example
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/admission-control.test.yaml
Labels: needs-ok-to-test, external-contributor

#12648 ROX-23956, ROX-17355: re-index images
  CHANGELOG.md
  pkg/env/scannerv4.go
  pkg/features/list.go
  scanner/datastore/postgres/indexer_metadata_store.go
  scanner/datastore/postgres/manifest_metadata.go
  scanner/datastore/postgres/manifest_metadata_test.go
  scanner/datastore/postgres/migrations/indexer/01-init.sql
  scanner/datastore/postgres/migrations/migrations.go
  scanner/datastore/postgres/mocks/indexer_metadata_store.go
  scanner/indexer/indexer.go
  scanner/indexer/indexer_test.go
  scanner/indexer/manifest/manager.go
Labels: area/scanner

#13328 chore: Bump collector version to 3.20.4
  COLLECTOR_VERSION
Labels: ci-all-qa-tests, backport

#13339 chore(style): fix scanner style
  scanner/datastore/postgres/mocks/indexer_metadata_store.go
Labels: area/scanner

#13298 chore(ui): Delete unused ESLint disable directives
  ui/apps/platform/cypress/helpers/dndSimulatorDataTransfer.js
  ui/apps/platform/eslint.config.js
  ui/apps/platform/src/Components/CompoundSearchFilter/types.ts
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviderForm.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/ResourceDescription.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterPage.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/Components/DelegatedRegistriesTable.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/DelegateScanningPage.tsx
  ui/apps/platform/src/Containers/Compliance/List/Table.js
  ui/apps/platform/src/Containers/Compliance/widgets/VerticalBarChart.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigActionDropdown.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigActionsColumn.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ViewScanConfigDetail.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ScanConfigClustersTable.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/AcscsEmailIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ExternalBackupIntegrations/S3CompatibleIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/MicrosoftSentinelForm.tsx
  ui/apps/platform/src/Containers/MainPage/Header/OrchestratorComponentsToggle.tsx
  ui/apps/platform/src/Containers/MainPage/Header/UserMenu.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/DefaultFakeGroup.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalGroupSideBar.tsx
  ui/apps/platform/src/Containers/Risk/RiskDetails.js
  ui/apps/platform/src/Containers/SystemHealth/DiagnosticBundle/DiagnosticBundleForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/WorkloadCVEOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/ExceptionRequestModal/ExceptionScopeField.tsx
  ui/apps/platform/src/hooks/useRestMutation.test.ts
  ui/apps/platform/src/utils/responseErrorUtils.ts
Labels: area/ui

#13331 chore(ui): Require consistent Td dataLabel and Th text
  ui/apps/platform/eslint-plugins/pluginPatternFly.js
Labels: area/ui

#13280 ROX-25948: Generic certificate requester
  sensor/kubernetes/certrefresh/certificates/requester.go
  sensor/kubernetes/certrefresh/certificates/requester_test.go
  sensor/kubernetes/certrefresh/certificates/response.go
  sensor/kubernetes/certrefresh/certificates/response_test.go
  sensor/kubernetes/certrefresh/localscanner/certificate_requester.go
  sensor/kubernetes/certrefresh/localscanner/certificate_requester_test.go
  sensor/kubernetes/certrefresh/localscanner_tls_issuer.go
  sensor/kubernetes/certrefresh/securedcluster/certificate_requester.go
  sensor/kubernetes/certrefresh/securedcluster/certificate_requester_test.go
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer.go
Labels: area/sensor

#13338 ROX-23956, ROX-17355: re-index images (#12648)
  CHANGELOG.md
  pkg/env/scannerv4.go
  pkg/features/list.go
  scanner/datastore/postgres/indexer_metadata_store.go
  scanner/datastore/postgres/manifest_metadata.go
  scanner/datastore/postgres/manifest_metadata_test.go
  scanner/datastore/postgres/migrations/indexer/01-init.sql
  scanner/datastore/postgres/migrations/migrations.go
  scanner/datastore/postgres/mocks/indexer_metadata_store.go
  scanner/indexer/indexer.go
  scanner/indexer/indexer_test.go
  scanner/indexer/manifest/manager.go
Labels: area/scanner, backport

#13282 ROX-26929: handle security data redirects and empty files
  .github/workflows/scanner-mapping-update.yaml
  scanner/image/scanner/download-mappings.sh
Labels: area/scanner, area/ci, konflux-build

#13318 chore(scanner): update Red Hat sec data location (#12564)
  .github/workflows/scanner-mapping-update.yaml
  scanner/config.yaml.sample
  scanner/config/config.go
  scanner/image/scanner/download-mappings.sh
  scanner/updater/rhel/doc.go
  scanner/updater/rhel/updaterset.go
Labels: area/scanner, area/ci, backport

#13343 fix(ui): Upgrade cross-spawn to 7.0.5
  ui/yarn.lock
Labels: pls-merge, area/ui, backport

#13155 ROX-25990: Add history for containerIDs in Sensor
  sensor/common/clusterentities/metrics/metrics.go
  sensor/common/clusterentities/store.go
  sensor/common/clusterentities/store_test.go
Labels: ci-all-qa-tests, area/sensor, auto-retest

#12891 chore: move from x/crypto/ssh/terminal to x/term
  go.mod
  roxctl/central/db/restore/v2_restorer.go
  roxctl/central/db/transfer/progress_bar.go
  roxctl/central/generate/interactive.go
Labels: area/roxctl

#13354 chore(scanner): update RELEASE_VERSION
  scanner/updater/version/RELEASE_VERSION
Labels: area/scanner

#13341 ROX-26698: Remove ignored operator channel labels
  operator/Makefile
  operator/bundle.Dockerfile
  operator/konflux.bundle.Dockerfile
Labels: area/operator, konflux-build, backport-for-4.6-konflux-release

#13309 ROX-26949: Address EC violations when retagging images
  .tekton/retag-collector-full.yaml
  .tekton/retag-collector-slim.yaml
  .tekton/retag-image-task.yaml
  .tekton/retag-pipeline.yaml
  .tekton/retag-scanner-db-slim.yaml
  .tekton/retag-scanner-db.yaml
  .tekton/retag-scanner-slim.yaml
  .tekton/retag-scanner.yaml
Labels: ci-all-qa-tests, konflux-build

#13349 chore(query): log queries behind flag
  pkg/env/postgres_query_tracer.go
  pkg/search/postgres/common.go
Labels: area/postgres

#13228 ROX-24945: Add per-container rate limit to collector runtime config
  generated/internalapi/sensor/collector.pb.go
  generated/internalapi/sensor/collector_vtproto.pb.go
  proto/internalapi/sensor/collector.proto
Labels: ci-all-qa-tests

#13359 chore(deps): Add 4.4.7 release changelog
  CHANGELOG.md
Labels: backport

#13358 fix(ui): Update NG test assertion for accuracy
  ui/apps/platform/cypress/integration/networkGraph/networkGraph.test.js
Labels: area/ui, backport release-4.6

#13356 chore(CI): Bump junit2jira to v0.0.22
  .github/actions/junit2jira/action.yaml
  scripts/ci/lib.sh
Labels: area/ci

#13381 ROX-27065: Add ROX_CVE_ADVISORY_SEPARATION feature flag
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#13379 refactor: Use generic IfThenElse instead of typed ternary operators
  central/image/service/service_impl.go
  pkg/registries/docker/docker.go
  pkg/search/postgres/common.go
  pkg/ternary/ternary.go
  tests/delegated_scanning_test.go
Labels: area/central, area/postgres

#13382 ROX-26944: UI e2e test fix for November 11 bug
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/approvedFalsePositivesTable.test.ts
Labels: area/ui

#13373 ROX-21658: Mock CVE response in exception config test
  ui/apps/platform/cypress/fixtures/vulnerabilities/workloadCves/getImageCVEList.json
  ui/apps/platform/cypress/integration/exceptionConfiguration/vulnerabilitiesExceptionConfig.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
Labels: area/ui

#13269 chore(ui): Update path-to-regexp ui dependency
  ui/apps/platform/package-lock.json
Labels: area/ui

#13393 fix(link): URL to upgrader troubleshooting docs
  sensor/upgrader/preflight/access.go
Labels: area/sensor, backport, backport release-4.6

#13395 fix(CI): disable roxctl scan results upload (#13083)
  .github/workflows/build.yaml
  .github/workflows/scanner-build.yaml
Labels: area/ci, backport

#13390 chore(collector): bump version to 3.19.4
  COLLECTOR_VERSION
Labels: ci-all-qa-tests, backport

#13389 chore(collector): bump version to 3.20.5
  COLLECTOR_VERSION
Labels: ci-all-qa-tests, backport

#13366 ROX-26546: Add extra label chips to Violation details
  ui/apps/platform/cypress/integration/violations/Violations.helpers.js
  ui/apps/platform/cypress/integration/violations/Violations.selectors.js
  ui/apps/platform/cypress/integration/violations/violations.test.js
  ui/apps/platform/src/Containers/Violations/Details/ViolationDetailsPage.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePanel.tsx
  ui/apps/platform/src/constants/violationStates.js
Labels: area/ui

#13399 chore(collector): revert version to 3.20.4
  COLLECTOR_VERSION
Labels: ci-all-qa-tests, backport

#13398 chore: Add feature flag for SBOM generation
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#13380 ROX-26821: Adding operator version to Compliance schedule creation
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ClusterSelection.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ReportConfiguration.tsx
Labels: area/ui, epic/compliance-2.0/reporting

#13408 Revert "ROX-25990: Add history for containerIDs in Sensor"
  sensor/common/clusterentities/metrics/metrics.go
  sensor/common/clusterentities/store.go
  sensor/common/clusterentities/store_test.go
Labels: area/sensor

#13372 ROX-27008: Prevent cloned policies from being marked as external
  ui/apps/platform/src/Containers/Policies/PolicyPage.tsx
Labels: area/ui

#13370 ROX-27007: Prune compliance reports and blobs
  central/blob/datastore/datastore_test.go
  central/complianceoperator/v2/report/datastore/datastore.go
  central/postgres/compliance_report_pruning_test.go
  central/postgres/pruning.go
  central/pruning/pruning.go
  central/reports/common/blob.go
Labels: area/central

#13374 ROX-27061: On demand reports are owned by the requester
  central/complianceoperator/v2/report/manager/manager_impl.go
  central/complianceoperator/v2/report/manager/manager_test.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
Labels: area/central

#13326 ROX-26849: Introduce caching to Node Index
  CHANGELOG.md
  compliance/cmd/compliance/main.go
  compliance/node/index/caching_indexer.go
  compliance/node/index/caching_indexer_test.go
  compliance/node/index/indexer.go
  compliance/node/index/indexer_test.go
  compliance/node/inventory/node_scanner.go
  compliance/node/node_name.go
  pkg/env/node_index.go
  pkg/env/node_scan_v4.go
Labels: team/maple

#13423 chore: pre-factor UI forms
  pkg/registries/factory.go
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/AzureIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/MicrosoftSentinelForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/IntegrationForm.tsx
Labels: area/ui

#13412 ROX-27064: Fix WCAG 1.4.1 color red accessibility in Tailwind
  ui/apps/platform/cypress/integration/vulnmanagement/VulnerabilityManagement.selectors.js
  ui/apps/platform/src/Components/CVEStackedPill/CVEStackedPill.js
  ui/apps/platform/src/Components/CloseButton.js
  ui/apps/platform/src/Components/EntityTileLink/EntityTileLink.js
  ui/apps/platform/src/Components/MitreAttackVectorContainer.tsx
  ui/apps/platform/src/Components/TileLink/TileLink.js
  ui/apps/platform/src/Containers/Clusters/DynamicConfigurationSection.js
  ui/apps/platform/src/Containers/Clusters/StaticConfigurationSection.js
  ui/apps/platform/src/Containers/Clusters/clustersTableColumnDescriptors.js
  ui/apps/platform/src/Containers/MitreAttackVectors/MitreAttackVectors.tsx
  ui/apps/platform/src/Containers/MitreAttackVectors/index.ts
  ui/apps/platform/src/Containers/Risk/Process/DiscoveryCardHeader.js
  ui/apps/platform/src/Containers/Risk/riskTableColumnDescriptors.js
  ui/apps/platform/src/Containers/Violations/violationTableColumnDescriptors.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Dashboard/CvesMenu.js
  ui/apps/platform/src/Containers/VulnMgmt/Dashboard/VulnMgmtDashboardPage.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/CveToPolicyShortForm.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Images/WatchedImagesDialog.tsx
  ui/apps/platform/src/Containers/VulnMgmt/widgets/ClustersWithMostClusterVulnerabilities.js
  ui/apps/platform/src/constants/configManagementTableColumns.js
Labels: area/ui

#13403 ROX-26866: Add button to trigger SBOM generation on Image page
  ui/apps/platform/cypress/helpers/request.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageSingle.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/hooks/useHasGenerateSBOMAbility.ts
Labels: area/ui

#13437 chore: switch to NVD feeds
  .github/workflows/scanner-versioned-definitions-update.yaml
Labels: area/ci

#13425 fix: NVD upload
  .github/workflows/scanner-nvd-update.yaml
Labels: area/ci, pr-update-scanner-nvd

#13449 chore(scanner): use nvd feeds
  .github/workflows/scanner-versioned-definitions-update.yaml
Labels: area/ci

#13446 ROX-26945: increase backup test timeouts
  central/externalbackups/plugins/gcs/gcs.go
  central/externalbackups/plugins/s3/s3.go
  central/externalbackups/plugins/s3compatible/s3compatible.go
Labels: area/central

#13348 ROX-24276: Enable release builds on Konflux with GOTAGS
  image/rhel/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  operator/konflux.Dockerfile
  scanner/image/scanner/konflux.Dockerfile
Labels: area/helm, area/operator, area/scanner, backport-for-4.6-konflux-release
