Repository stackrox/stackrox, pull requests merged in 2024-02, with the labels that each got.

#9524 ROX-21843: Hide notifier cred deletion behind delete feature flag
  central/notifier/processor/singleton.go
  central/notifiers/utils/encryption.go
  central/notifiers/utils/encryption_test.go
Labels: area/central

#9650 ROX-21883: Add Scanner V4 to certgen API
  central/certgen/central_scanner.go
  image/templates/helm/stackrox-central/.helmtplignore.htpl
  pkg/certgen/scanner.go
  pkg/renderer/kubernetes.go
  pkg/renderer/mode_string.go
  pkg/renderer/render_test.go
Labels: area/central, area/helm

#9673 ROX-22050: Update DiscoveredClustersTable before service is available
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/DiscoveredClustersPage.tsx
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/DiscoveredClustersTable.tsx
Labels: area/ui

#9679 ROX-22117: Link to installing secured clusters services docs pages
  ui/apps/platform/cypress/integration/clusters/redirectFromDashboard.test.js
  ui/apps/platform/src/Containers/Clusters/NoClustersPage.tsx
Labels: area/ui

#9680 ROX-22119: Add warning alert to ClusterEditForm
  ui/apps/platform/src/Containers/Clusters/ClusterEditForm.tsx
Labels: area/ui

#9663 ROX-21992: Flip Feature Flag to on by default
  central/detection/service/service_impl.go
  pkg/features/list.go
Labels: team/maple, area/central

#9572 ROX-21995: Add gRPC message size metrics
  central/metrics/central.go
  central/metrics/init.go
  central/sensor/service/connection/connection_impl.go
  central/sensor/service/connection/messagestream/sizing_events.go
  central/sensor/service/connection/messagestream/stream.go
  pkg/grpc/server.go
  sensor/common/metrics/init.go
  sensor/common/metrics/metrics.go
  sensor/common/metrics/sizing_events.go
  sensor/common/sensor/central_sender_impl.go
Labels: team/maple, area/central, area/sensor

#9514 ROX-21938: Keep track of active flows
  central/pruning/pruning.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/networkflow/manager/manager_impl_test.go
  sensor/common/networkflow/manager/testing_test.go
  sensor/common/networkflow/metrics/metrics.go
Labels: team/maple, area/central, area/sensor

#9669 ROX-21603: check for stray pods at test end
  operator/tests/central/central-basic/990-assert-pods-debug.yaml
  operator/tests/central/central-basic/990-errors-no-pods-left.yaml
  operator/tests/central/central-misc/990-assert-pods-debug.yaml
  operator/tests/central/central-misc/990-errors-no-pods-left.yaml
  operator/tests/common/central-cr-assert.yaml
  operator/tests/common/no-pods-left.yaml
  operator/tests/common/pods-debug.yaml
  operator/tests/common/secured-cluster-cr-assert.yaml
  operator/tests/securedcluster/sc-basic/990-assert-pods-debug.yaml
  operator/tests/securedcluster/sc-basic/990-errors-no-pods-left.yaml
  operator/tests/upgrade/upgrade/990-assert-pods-debug.yaml
  operator/tests/upgrade/upgrade/990-errors-no-pods-left.yaml
Labels: area/operator

#9481 fix(roxctl): fail fast in central login
  roxctl/central/login/login.go
  roxctl/central/login/login_test.go
  roxctl/common/flags/endpoint.go
Labels: area/roxctl

#9566 ROX-21625: add kube-api to proxy default excludes
  image/templates/helm/stackrox-central/config/proxy-config.yaml.default
  pkg/httputil/proxy/config.go
  pkg/httputil/proxy/proxy_test.go
Labels: area/helm

#9675 ROX-21614: Show Scanner V4 Credential Expiry Banner
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
Labels: area/ui

#9682 ROX-22084: Wire up deleting scan schedule
  ui/apps/platform/src/Components/PatternFly/DeleteModal.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/Table/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ViewVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/VulnReportsPage.tsx
  ui/apps/platform/src/services/ComplianceEnhancedService.ts
Labels: area/ui, epic/compliance-2.0/mvp

#9621 ROX-22029: Scope CVE queries to exact match only
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/FilterAutocomplete.tsx
Labels: area/ui

#9688 fix(scanner): do not use default updaters
  .github/workflows/scanner-dev-vuln-update.yaml
  .github/workflows/scanner-pr-vuln-update.yaml
  scanner/config/config.go
  scanner/matcher/updater/updater.go
  scanner/updater/export.go
Labels: area/scanner, area/ci, pr-update-scanner-vulns

#9712 ROX-22132: Correct Fixable CVEs errors on certain VM1.0 pages
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Component/VulnMgmtComponentOverview.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/TableWidgetFixableCves.js
Labels: area/ui

#9515 ROX-21432: Validate scan config does not contains duplicate profile
  central/complianceoperator/v2/compliancemanager/manager_impl.go
  central/complianceoperator/v2/compliancemanager/manager_impl_test.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl_test.go
  central/complianceoperator/v2/scanconfigurations/datastore/mocks/datastore.go
  tests/compliance_operator_v2_test.go
Labels: area/central, area/postgres, epic/compliance-2.0/mvp

#9318 ROX-21317: support scan notes scanner v4
  generated/internalapi/scanner/v4/vulnerability_report.pb.go
  go.mod
  pkg/scanners/scannerv4/convert.go
  pkg/scanners/scannerv4/convert_test.go
  proto/internalapi/scanner/v4/vulnerability_report.proto
  scanner/datastore/postgres/distributions.go
  scanner/datastore/postgres/distributions_test.go
  scanner/datastore/postgres/matcher_store.go
  scanner/datastore/postgres/mocks/matcher_store.go
  scanner/mappers/mappers.go
  scanner/mappers/mappers_test.go
  scanner/matcher/matcher.go
  scanner/matcher/mocks/matcher.go
  scanner/matcher/updater/distribution/updater.go
  scanner/matcher/updater/distribution/updater_test.go
  scanner/matcher/updater/vuln/gc.go
  scanner/matcher/updater/vuln/updater.go
  scanner/matcher/updater/vuln/updater_test.go
  scanner/services/matcher.go
  scanner/services/matcher_test.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/scanner

#9644 ROX-19885: Set gRPC max receive size for client connection (#7930)
  pkg/clientconn/client.go
  pkg/grpc/server.go
  sensor/common/centralclient/client_test.go
  sensor/common/centralclient/grpc_connection.go
Labels: area/sensor

#9681 feat(scanv4): Fallback if no default StorageClass
  image/templates/helm/shared/templates/_scanner-v4_volume.tpl
  image/templates/helm/shared/templates/_storage_classes.tpl
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  pkg/helm/charts/tests/centralservices/flavor/testdata/helmtest/suite.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner-v4.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/suite.yaml
  pkg/helm/charts/tests/securedclusterservices/flavor/testdata/helmtest/suite.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-v4.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/suite.yaml
Labels: area/helm

#9480 ROX-21579: Add database column for scan types
  central/complianceoperator/v2/scans/store/postgres/store.go
  generated/storage/compliance_operator_v2.pb.go
  pkg/postgres/schema/compliance_operator_scan_v2.go
  pkg/search/options.go
  proto/storage/compliance_operator_v2.proto
Labels: area/central, area/postgres, epic/compliance-2.0/mvp

#9639 chore: cleanup old resource replacement warnings and information
  central/main.go
  ui/apps/platform/src/Containers/AccessControl/AccessControl.tsx
  ui/apps/platform/src/constants/accessControl.ts
Labels: area/central, area/ui

#9671 ROX-22076: compliance results scan config
  central/complianceoperator/v2/checkresults/datastore/datastore_impl.go
  central/complianceoperator/v2/checkresults/datastore/datastore_impl_test.go
  central/complianceoperator/v2/checkresults/datastore/stats_views.go
  central/complianceoperator/v2/checkresults/service/service_impl.go
  central/complianceoperator/v2/checkresults/service/service_impl_test.go
  central/complianceoperator/v2/checkresults/service/singleton.go
  central/complianceoperator/v2/compliancemanager/manager_impl.go
  central/complianceoperator/v2/compliancemanager/manager_impl_test.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl_test.go
  central/complianceoperator/v2/scanconfigurations/datastore/mocks/datastore.go
  central/convert/storagetov2/compliance_results_service.go
  central/convert/testutils/compliance_results.go
  generated/api/v2/compliance_results_service.pb.go
  generated/api/v2/compliance_results_service.swagger.json
  proto/api/v2/compliance_results_service.proto
Labels: area/central, epic/compliance-2.0/mvp

#9678 ROX-21478: Allow updating a pending request
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/updateRequestFlow.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
Labels: area/ui, epic/vm2.0/unified-deferral

#9683 ROX-21880: Compliance cluster results table
  ui/apps/platform/cypress/integration/compliance-enhanced/complianceEnhancedDashboard.test.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/Coverage/Clusters/ClusterDetails.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/Coverage/Clusters/ClusterDetailsContent.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/Coverage/Clusters/ClusterDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/Coverage/Components/CheckStatusDropdown.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/Coverage/compliance.coverage.utils.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/services/ComplianceEnhancedService.ts
Labels: area/ui, epic/compliance-2.0/mvp

#9722 ROX-22205: compliance configuration validation
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
Labels: area/central, epic/compliance-2.0/mvp

#9642 ROX-22068: Add scanner-v4 setup script to manifest-based install
  deploy/common/k8sbased.sh
  image/templates/common/setup-scanner-v4.sh
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml.htpl
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  pkg/renderer/readme.go
  pkg/renderer/render_new.go
Labels: area/helm

#9714 fix(scanner): various CVSS fixes
  pkg/cvss/cvssv2/cvss.go
  pkg/cvss/cvssv3/cvss.go
  pkg/scanners/scannerv4/convert.go
  scanner/enricher/nvd/nvd.go
Labels: area/scanner, pr-update-scanner-vulns

#9685 ROX-22121: migrate mapping files to prod destination
  .github/workflows/scanner-mapping-update.yaml
  central/scannerdefinitions/handler/handler.go
  central/scannerdefinitions/handler/updater_test.go
Labels: area/central, area/ci

#9710 ROX-21024: fix cscc notifier resource name
  central/notifiers/cscc/convert.go
  central/notifiers/cscc/cscc.go
  central/notifiers/cscc/cscc_test.go
Labels: area/central

#9659 ROX-21024: fetch metadata from infra CR on OpenShift
  sensor/kubernetes/clusterstatus/openshift.go
  sensor/kubernetes/clusterstatus/updater.go
  sensor/kubernetes/clusterstatus/updater_test.go
Labels: area/sensor

#9542 ROX-21771: add cloud sources datastore
  central/cloudsources/datastore/datastore.go
  central/cloudsources/datastore/datastore_impl.go
  central/cloudsources/datastore/datastore_impl_postgres_test.go
  central/cloudsources/datastore/internal/index/indexer.go
  central/cloudsources/datastore/internal/index/mocks/indexer.go
  central/cloudsources/datastore/internal/search/mocks/searcher.go
  central/cloudsources/datastore/internal/search/searcher.go
  central/cloudsources/datastore/internal/search/searcher_impl.go
  central/cloudsources/datastore/internal/store/mocks/store.go
  central/cloudsources/datastore/internal/store/postgres/gen.go
  central/cloudsources/datastore/internal/store/postgres/index.go
  central/cloudsources/datastore/internal/store/postgres/store.go
  central/cloudsources/datastore/internal/store/postgres/store_test.go
  central/cloudsources/datastore/internal/store/store.go
  central/cloudsources/datastore/mocks/datastore.go
  central/cloudsources/datastore/singleton.go
  generated/api/v1/search_service.pb.go
  generated/api/v1/search_service.swagger.json
  pkg/fixtures/cloud_sources.go
  pkg/postgres/schema/cloud_sources.go
  proto/api/v1/search_service.proto
  tools/generate-helpers/pg-table-bindings/list.go
Labels: area/central, area/postgres

#9665 test: allow both plural and singular tests, docs
  .github/workflows/check-pr-title.yaml
Labels: area/ci

#9723 ROX-22203: Fix "Verify intra-cluster connection via internal IP"
  qa-tests-backend/src/main/groovy/common/Constants.groovy
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
Labels: ci-all-qa-tests, team/maple

#9618 ROX-21069: enabled FF for offline v3
  CHANGELOG.md
  pkg/features/list.go
  sensor/common/networkflow/manager/manager_impl_test.go
Labels: team/maple, area/sensor

#9576 ROX-21771: cloud source service
  central/cloudsources/datastore/datastore.go
  central/cloudsources/datastore/datastore_impl.go
  central/cloudsources/datastore/datastore_impl_postgres_test.go
  central/cloudsources/service/service.go
  central/cloudsources/service/service_impl.go
  central/cloudsources/service/service_impl_postgres_test.go
  central/cloudsources/service/service_impl_test.go
  central/cloudsources/service/singleton.go
  central/convert/storagetov1/cloud_source.go
  central/convert/v1tostorage/cloud_source.go
  central/main.go
  pkg/fixtures/cloud_sources.go
Labels: area/central

#9568 ROX-18124: compliance add compliance operator edit roles
  image/templates/helm/stackrox-secured-cluster/templates/sensor-compliance-rbac.yaml
  image/templates/sensor/kubernetes/sensor.sh
  image/templates/sensor/openshift/sensor.sh
  tests/e2e/lib.sh
  tests/e2e/yaml/compliance-operator/complianceRole.yaml
  tests/e2e/yaml/compliance-operator/complianceRoleBinding.yaml
Labels: area/helm, epic/compliance-2.0/mvp

#8720 ROX-19849: Add scanner pod restart pattern for slow db init
  scripts/ci/logcheck/restart-ok-patterns.json
Labels: area/ci

#9728 ROX-22193: Use Admin role for access to cluster init bundles
  ui/apps/platform/src/Containers/Clusters/Components/CredentialExpirationWidget.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundlesRoute.tsx
  ui/apps/platform/src/Containers/Clusters/NoClustersPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/AuthenticationTokensSection.tsx
Labels: area/ui

#9744 ROX-22068: simplify scanner-v4 setup script
  image/templates/common/setup-scanner-v4.sh
Labels: area/helm

#9707 ROX-21841: Add instructions for wizard step 2
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundleWizardStep1.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundleWizardStep2.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/SecureClusterPage.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/SecureClusterUsingHelmChart.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/SecureClusterUsingOperator.tsx
Labels: area/ui

#9758 fix(test): Disable TestProcessPipelineOnline due to timeout
  sensor/common/processsignal/pipeline_test.go
Labels: area/sensor

#9531 feat(scanner): Add readiness and liveness
  image/templates/helm/shared/templates/02-scanner-v4-07-indexer-deployment.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-matcher-deployment.yaml
  scanner/cmd/scanner/main.go
  scanner/indexer/indexer.go
  scanner/indexer/mocks/indexer.go
  scanner/matcher/matcher.go
  scanner/matcher/mocks/matcher.go
  scanner/matcher/updater/vuln/updater.go
  scanner/matcher/updater/vuln/updater_test.go
  scanner/services/matcher.go
  scanner/services/matcher_test.go
Labels: area/helm, area/scanner

#9725 ROX-22192: Remove location field tooltip when value is present
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ComponentLocationTd.tsx
Labels: area/ui

#9757 chore(scanner): stop blocking traffic until Central is ready
  scanner/matcher/matcher.go
Labels: area/scanner

#9748 fix(diag-bundle): ignore log limits for Central logs
  central/debug/service/service.go
  pkg/k8sintrospect/collector.go
  pkg/k8sintrospect/config.go
Labels: area/central

#9759 ci(scanner): cleanup docker resources
  .github/workflows/scanner-build.yaml
  .github/workflows/scanner-dev-vuln-update.yaml
  .github/workflows/scanner-pr-vuln-update.yaml
  .github/workflows/scanner-release-vuln-update.yaml
Labels: area/ci, pr-update-scanner-vulns

#9719 feat(scanv4): operator SecuredCluster fallback for scanner v4 pvc
  operator/apis/platform/v1alpha1/common_types.go
  operator/pkg/central/values/translation/translation.go
  operator/pkg/securedcluster/values/translation/translation.go
  operator/pkg/securedcluster/values/translation/translation_test.go
  operator/pkg/values/translation/translation.go
  operator/pkg/values/translation/translation_test.go
Labels: area/operator

#9668 chore: show triage report twice a week
  .github/workflows/triage-report_periodic.yml
Labels: area/ci

#9765 chore(bump): Move square/go-jose to go-jose/go-jose
  go.mod
  go.sum
  pkg/auth/authproviders/iap/backend_impl.go
  pkg/auth/authproviders/validate_test.go
  pkg/auth/tokens/claims.go
  pkg/auth/tokens/issuer_factory.go
  pkg/auth/tokens/options.go
  pkg/cloudproviders/gcp/identity_token.go
  pkg/grpc/authn/extractor.go
  pkg/grpc/authn/extractor_test.go
  pkg/jwt/facade.go
  pkg/jwt/keys.go
  pkg/jwt/tokens.go
  sensor/common/certdistribution/service_impl.go
  sensor/kubernetes/sensor/deployment_identification.go
Labels: area/auth, area/sensor

#9767 chore(bump): Move square/go-jose to go-jose/go-jose
  go.mod
  pkg/auth/authproviders/iap/backend_impl.go
  pkg/auth/authproviders/validate_test.go
  pkg/auth/tokens/claims.go
  pkg/auth/tokens/issuer_factory.go
  pkg/auth/tokens/options.go
  pkg/cloudproviders/gcp/identity_token.go
  pkg/grpc/authn/interceptor.go
  pkg/jwt/facade.go
  pkg/jwt/keys.go
  pkg/jwt/tokens.go
  sensor/common/certdistribution/service_impl.go
  sensor/kubernetes/sensor/deployment_identification.go
Labels: area/auth, area/sensor

#9509 URL Guidelines
  .github/api_guidelines.md
Labels: area/ci

#9782 ROX-21882: Hide compliance dashboard for MVP
  ui/apps/platform/cypress/integration/compliance-enhanced/complianceEnhancedDashboard.test.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/ComplianceEnhancedPage.tsx
Labels: area/ui

#9433 ROX-19543 Delete cluster
  central/cluster/datastore/datastore.go
  central/cluster/datastore/datastore_impl.go
  central/cluster/datastore/datastore_test_constructors.go
  central/cluster/datastore/singleton.go
  central/complianceoperator/v2/compliancemanager/manager_impl.go
  central/complianceoperator/v2/compliancemanager/manager_impl_test.go
  central/complianceoperator/v2/compliancemanager/singleton.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl_test.go
  central/complianceoperator/v2/scanconfigurations/datastore/mocks/datastore.go
  central/complianceoperator/v2/scanconfigurations/datastore/singleton.go
  central/graphql/resolvers/test_setup_utils.go
  central/pruning/pruning_test.go
Labels: area/central, epic/compliance-2.0/mvp

#9771 ci(scanner): vuln update hardening
  .github/workflows/scanner-dev-vuln-update.yaml
  .github/workflows/scanner-pr-vuln-update.yaml
  .github/workflows/scanner-release-vuln-update.yaml
  scanner/cmd/updater/main.go
Labels: area/scanner, area/ci, pr-update-scanner-vulns

#9792 ROX-22341: Render Init bundles button for Admin role only
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.tsx
Labels: area/ui

#9796 tests: drain stuck OCP 4.14 jobs
  .openshift-ci/begin.sh
Labels: area/ci

#9417 ROX-19005: pull vulnerabilities from a configurable URL
  image/templates/helm/shared/config-templates/scanner-v4/matcher-config.yaml.tpl
  scanner/config.yaml.sample
  scanner/config/config.go
  scanner/config/config_test.go
  scanner/matcher/updater/vuln/updater.go
  scanner/matcher/updater/vuln/updater_test.go
Labels: area/helm, area/scanner

#9764 chore(scanner): add GetOrCreateIndexReport endpoint to Indexer
  generated/internalapi/scanner/v4/indexer_service.pb.go
  pkg/scannerv4/client/client.go
  proto/internalapi/scanner/v4/indexer_service.proto
  scanner/services/indexer.go
  scanner/services/indexer_test.go
Labels: area/scanner

#9800 Revert "tests: drain stuck OCP 4.14 jobs"
  .openshift-ci/begin.sh
Labels: area/ci

#9643 ROX-18577: Scanner v4 load balancing
  pkg/clientconn/client.go
  pkg/grpc/server.go
  pkg/scannerv4/client/client.go
  scanner/cmd/scanner/main.go
  scanner/services/indexer.go
Labels: ci-release-build, area/scanner

#9790 ROX-22339: Remove init-bundle request from clusterInitBundleSagas
  ui/apps/platform/cypress/integration/integrations/integrations.helpers.js
  ui/apps/platform/src/sagas/index.js
Labels: area/ui

#9334 ROX-18452: Add ACS labels to SS and SSB CR
  sensor/kubernetes/complianceoperator/utils.go
  tests/compliance_operator_v2_test.go
Labels: area/sensor, epic/compliance-2.0/mvp

#9802 ROX-16918: Ensure Java scanner is air gapped
  go.mod
  go.sum
  scanner/indexer/indexer.go
  scanner/indexer/indexer_test.go
Labels: area/scanner

#9794 ROX-20582: Add link to Deployment from Violation and Risk detail views
  ui/apps/platform/src/Containers/Risk/KeyValuePairs.js
  ui/apps/platform/src/Containers/Violations/Details/Deployment/DeploymentOverview.tsx
Labels: area/ui

#9789 ROX-21818: Add Scan Now functionality to Compliance 2.0
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/ViewScanConfigDetail.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/Wizard/ClusterSelection.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/Wizard/ProfileSelection.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/Wizard/useFormikScanConfig.tsx
  ui/apps/platform/src/hooks/useAlert.test.ts
  ui/apps/platform/src/hooks/useAlert.ts
  ui/apps/platform/src/services/ComplianceEnhancedService.ts
Labels: area/ui, epic/compliance-2.0/mvp

#9737 ROX-21773: discovered cluster datastore
  central/convert/typetostorage/discovered_cluster.go
  central/discoveredclusters/datastore/datastore.go
  central/discoveredclusters/datastore/datastore_impl.go
  central/discoveredclusters/datastore/datastore_impl_postgres_test.go
  central/discoveredclusters/datastore/internal/index/indexer.go
  central/discoveredclusters/datastore/internal/index/mocks/indexer.go
  central/discoveredclusters/datastore/internal/search/mocks/searcher.go
  central/discoveredclusters/datastore/internal/search/searcher.go
  central/discoveredclusters/datastore/internal/search/searcher_impl.go
  central/discoveredclusters/datastore/internal/store/mocks/store.go
  central/discoveredclusters/datastore/internal/store/postgres/gen.go
  central/discoveredclusters/datastore/internal/store/postgres/index.go
  central/discoveredclusters/datastore/internal/store/postgres/store.go
  central/discoveredclusters/datastore/internal/store/postgres/store_test.go
  central/discoveredclusters/datastore/internal/store/store.go
  central/discoveredclusters/datastore/mocks/datastore.go
  central/discoveredclusters/datastore/singleton.go
  generated/api/v1/search_service.pb.go
  generated/api/v1/search_service.swagger.json
  pkg/cloudsources/discoveredclusters/discovered_cluster.go
  pkg/fixtures/discovered_cluster.go
  pkg/postgres/schema/discovered_clusters.go
  proto/api/v1/search_service.proto
  tools/generate-helpers/pg-table-bindings/list.go
Labels: area/central, area/postgres

#9550 ROX-21955: Generate v4 offline bundle
  .github/workflows/scanner-offline-bundle-update.yaml
  .github/workflows/scanner-release-vuln-update.yaml
  .github/workflows/scripts/scanner-update-offline-bundle.sh
Labels: ci-all-qa-tests, area/roxctl, area/auth, area/central, area/ui, area/helm, area/operator, area/sensor, area/admission-controller, area/postgres, area/scanner, area/ci

#9799 ROX-19001: Adding Scanner v4 integration form
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ScannerV4IntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/IntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsListPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsTable.tsx
  ui/apps/platform/src/Containers/Integrations/utils/integrationUtils.ts
  ui/apps/platform/src/Containers/Integrations/utils/integrationsList.ts
  ui/apps/platform/src/Containers/Integrations/utils/tableColumnDescriptor.ts
  ui/apps/platform/src/types/imageIntegration.proto.ts
  ui/apps/platform/src/types/integration.ts
Labels: area/ui

#9816 ROX-22187: compliance name conflicting profile
  central/complianceoperator/v2/compliancemanager/manager_impl.go
  central/complianceoperator/v2/compliancemanager/manager_impl_test.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl_test.go
  central/complianceoperator/v2/scanconfigurations/datastore/mocks/datastore.go
  tests/compliance_operator_v2_test.go
Labels: area/central, epic/compliance-2.0/mvp

#9773 ROX-22288: Add test for operator metrics retrieval
  operator/kuttl-test.yaml
  operator/tests/TROUBLESHOOTING_E2E_TESTS.md
  operator/tests/controller/metrics/100-assert-rbac-works.yaml
  operator/tests/controller/metrics/100-rbac.yaml
  operator/tests/controller/metrics/200-access-no-auth.yaml
  operator/tests/controller/metrics/200-access-no-http2.yaml
  operator/tests/controller/metrics/200-access-privileged.yaml
  operator/tests/controller/metrics/200-access-unprivileged.yaml
  operator/tests/controller/metrics/200-assert.yaml
Labels: area/operator

#9709 ROX-22025: internal entities UI tweaks
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphContainer.tsx
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleNode.tsx
  ui/apps/platform/src/Containers/NetworkGraph/internal/InternalGroupSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/modelUtils.tsx
Labels: area/ui

#9756 ROX-22253: compliance update add
  sensor/kubernetes/complianceoperator/handler_impl.go
  sensor/kubernetes/complianceoperator/handler_impl_test.go
  sensor/kubernetes/complianceoperator/utils.go
Labels: area/sensor, epic/compliance-2.0/mvp

#9808 ROX-22289: drop kube-rbac-proxy sidecar
  go.mod
  go.sum
  operator/bundle/manifests/rhacs-operator-manager-config_v1_configmap.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/bundle_helpers/patch-csv.py
  operator/config/default/kustomization.yaml
  operator/config/manager/controller_manager_config.yaml
  operator/config/manager/manager.yaml
  operator/config/rbac/kustomization.yaml
  operator/main.go
Labels: area/operator

#9769 ROX-21773: discovered clusters service
  central/convert/storagetov1/discovered_cluster.go
  central/convert/typetostorage/discovered_cluster.go
  central/discoveredclusters/datastore/datastore.go
  central/discoveredclusters/datastore/datastore_impl_postgres_test.go
  central/discoveredclusters/service/service.go
  central/discoveredclusters/service/service_impl.go
  central/discoveredclusters/service/service_impl_postgres_test.go
  central/discoveredclusters/service/service_impl_test.go
  central/discoveredclusters/service/singleton.go
  central/main.go
  pkg/fixtures/discovered_cluster.go
Labels: area/central

#9781 ROX-22297: compliance results with no acs config
  central/complianceoperator/v2/checkresults/datastore/datastore_impl.go
  central/complianceoperator/v2/checkresults/datastore/datastore_impl_test.go
  central/complianceoperator/v2/checkresults/datastore/stats_views.go
  central/complianceoperator/v2/checkresults/service/service_impl.go
  central/complianceoperator/v2/checkresults/service/service_impl_test.go
  central/convert/storagetov2/compliance_results_service.go
  central/convert/testutils/compliance_results.go
  generated/api/v2/compliance_results_service.pb.go
  generated/api/v2/compliance_results_service.pb.gw.go
  generated/api/v2/compliance_results_service.swagger.json
  proto/api/v2/compliance_results_service.proto
Labels: area/central

#9833 ROX-22390: compliance silent delete message
  central/sensor/service/connection/connection_impl.go
Labels: area/central, epic/compliance-2.0/mvp

#9821 chore(scanner): no need to configure SecuredCluster vuln endpoint
  image/templates/helm/shared/config-templates/scanner-v4/matcher-config.yaml.tpl
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner-v4.test.yaml
  scanner/config/config.go
Labels: area/helm, area/scanner

#9822 ROX-22052: Add discovered clusters service on frontend
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/DiscoveredCluster.tsx
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/DiscoveredClustersPage.tsx
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/DiscoveredClustersTable.tsx
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/DiscoveredClustersToolbar.tsx
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/SearchFilterType.tsx
  ui/apps/platform/src/services/DiscoveredClusterService.ts
  ui/apps/platform/src/services/DiscoveredClustersService.ts
Labels: area/ui

#9778 feat(cloud-sources): add cloud sources manager
  central/cloudsources/manager/manager.go
  central/cloudsources/manager/mocks/singleton.go
  central/cloudsources/manager/singleton.go
  central/cloudsources/service/service.go
  central/cloudsources/service/service_impl.go
  central/cloudsources/service/service_impl_postgres_test.go
  central/cloudsources/service/singleton.go
  central/discoveredclusters/datastore/datastore.go
  central/discoveredclusters/datastore/internal/store/postgres/store.go
  central/main.go
  central/postgres/pruning.go
  central/postgres/pruning_test.go
  central/pruning/pruning.go
  central/sensor/service/pipeline/clusterstatusupdate/pipeline.go
  generated/storage/discovered_cluster.pb.go
  pkg/cloudsources/client.go
  pkg/cloudsources/paladin/client.go
  pkg/cloudsources/paladin/client_test.go
  pkg/cloudsources/paladin/testdata/response.json
  pkg/env/cloud_sources.go
  pkg/postgres/schema/discovered_clusters.go
  proto/storage/discovered_cluster.proto
Labels: area/central, area/postgres

#9834 ROX-22404: compliance profile fix summary
  central/complianceoperator/v2/profiles/service/service_impl.go
  central/convert/storagetov2/compliance_profile_service.go
Labels: area/central, epic/compliance-2.0/mvp

#9779 fix(scanv4): Change charts so that Scanner V4 becomes opt-in
  deploy/common/deploy.sh
  deploy/common/env.sh
  deploy/common/k8sbased.sh
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/internal/defaults/70-scanner-v4.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller-pod-security.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner-v4.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-v4.test.yaml
  pkg/renderer/render_new.go
  pkg/renderer/templates/public_values.yaml.tpl
  tests/e2e/lib.sh
  tests/e2e/run-scanner-v4.bats
Labels: area/helm

#9818 feat(scanv4): Use existing PVC for Scanner V4 DB
  image/templates/helm/shared/templates/_pvcs.tpl
  image/templates/helm/shared/templates/_scanner-v4_volume.tpl
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/collector-pod-security.yaml
  pkg/helm/charts/tests/securedclusterservices/flavor/testdata/helmtest/suite.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-v4.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/suite.yaml
Labels: area/helm

#9829 chore(scanner): Use db init bundles
  .github/workflows/scanner-build.yaml
  .github/workflows/scanner-db-init-dump.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-db-deployment.yaml
  scanner/Makefile
  scanner/cmd/updater/main.go
  scanner/image/db/.gitignore
  scanner/image/db/Dockerfile
  scanner/image/db/scripts/download.sh
  scanner/image/db/scripts/init-entrypoint.sh
  scanner/updater/import.go
Labels: area/helm, area/scanner, area/ci, pr-scanner-db-init-bundle

#9788 tests: ROSA: use operator & route ingress
  scripts/ci/jobs/ibmcloudz_qa_e2e_tests.py
  scripts/ci/jobs/powervs_qa_e2e_tests.py
  scripts/ci/jobs/rosa_qa_e2e_tests.py
  scripts/k8s/get-lb-ip.sh
  tests/e2e/lib.sh
Labels: ci-all-qa-tests

#9807 fix(scanner): scannerctl --insecure-skip-tls-verify
  pkg/scannerv4/client/client.go
  pkg/scannerv4/client/options.go
  pkg/scannerv4/client/options_test.go
  scanner/cmd/scannerctl/main.go
Labels: area/scanner

#9837 chore: update discovered cluster proto
  central/discoveredclusters/datastore/internal/store/postgres/store.go
  generated/api/v1/discovered_cluster_service.pb.go
  generated/api/v1/discovered_cluster_service.swagger.json
  generated/storage/discovered_cluster.pb.go
  pkg/postgres/schema/discovered_clusters.go
  pkg/search/options.go
  proto/api/v1/discovered_cluster_service.proto
  proto/storage/discovered_cluster.proto
Labels: area/central, area/postgres

#9838 fix: pagination default sort
  central/administration/events/service/service_impl.go
  central/cloudsources/service/service_impl.go
  central/cloudsources/service/service_impl_postgres_test.go
  central/discoveredclusters/service/service_impl.go
  central/discoveredclusters/service/service_impl_postgres_test.go
  central/resourcecollection/service/service_impl.go
  pkg/fixtures/cloud_sources.go
  pkg/fixtures/discovered_cluster.go
Labels: area/central

#9815 chore: Allow Konflux CI run for PRs containing konflux
  .tekton/central-db-pull-request.yaml
  .tekton/central-db-push.yaml
  .tekton/operator-pull-request.yaml
  .tekton/operator-push.yaml
  .tekton/roxctl-pull-request.yaml
  .tekton/roxctl-push.yaml
  image/postgres/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  operator/konflux.Dockerfile
  scripts/konflux/fail-build-if-git-is-dirty.sh
Labels: area/helm, area/operator, area/postgres

#9839 fix(cache-store): fix Delete for global resources.
  central/cloudsources/datastore/internal/store/postgres/gen.go
  central/cloudsources/datastore/internal/store/postgres/store.go
  pkg/search/postgres/store_cache.go
Labels: area/central, area/postgres

#9718 ROX-22206: Improve decision about internal vs. external IP address
  pkg/net/endpoint.go
  pkg/net/ip_port.go
  pkg/net/ip_port_test.go
  pkg/netutil/private_subnet.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/networkflow/manager/manager_impl_test.go
Labels: ci-all-qa-tests, area/sensor, turbo-build

#9613 fix(m2m): trust custom / cluster CAs during issuer verification
  central/auth/m2m/verifier.go
Labels: area/central

#9749 ROX-22238: Introduce roxctl deployment check remarks
  CHANGELOG.md
  central/detection/service/service_impl.go
  central/detection/service/service_impl_test.go
  generated/api/v1/detection_service.pb.go
  generated/api/v1/detection_service.swagger.json
  proto/api/v1/detection_service.proto
  roxctl/common/report/report.go
  roxctl/common/report/report_test.go
  roxctl/common/report/testdata/empty-alerts-multi-remarks.json
  roxctl/common/report/testdata/empty-alerts-remarks.json
  roxctl/common/report/testdata/multi-alerts-remarks.json
  roxctl/common/report/testdata/multi-alerts.json
  roxctl/common/report/testdata/nil-alerts-multi-remarks.json
  roxctl/common/report/testdata/nil-alerts-remarks.json
  roxctl/common/report/testdata/one-alert.json
  roxctl/deployment/check/check.go
Labels: team/maple, area/roxctl, area/central

#9840 ROX-21472: Don't clear filters when switching tabs
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/general.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestsPage.tsx
Labels: area/ui, epic/vm2.0/unified-deferral

#9835 ROX-21881: compliance check details modal
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/Coverage/Clusters/ClusterDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/Coverage/Components/CheckStatusModal.css
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/Coverage/Components/CheckStatusModal.tsx
  ui/apps/platform/src/services/ComplianceEnhancedService.ts
Labels: area/ui, epic/compliance-2.0/mvp

#9831 ROX-22046: Paladin Cloud integration form
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/PaladinCloudIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/IntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/CloudSourceIntegrationsSection.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/IntegrationTilesPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/PaladinCloudTile.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsListPage.tsx
  ui/apps/platform/src/Containers/Integrations/hooks/useFetchIntegrations.ts
  ui/apps/platform/src/Containers/Integrations/hooks/useIntegrationPermissions.ts
  ui/apps/platform/src/Containers/Integrations/hooks/useIntegrations.ts
  ui/apps/platform/src/Containers/Integrations/utils/integrationUtils.ts
  ui/apps/platform/src/Containers/Integrations/utils/integrationsList.ts
  ui/apps/platform/src/Containers/Integrations/utils/tableColumnDescriptor.ts
  ui/apps/platform/src/images/paladinCloud.svg
  ui/apps/platform/src/reducers/cloudSources.js
  ui/apps/platform/src/reducers/index.js
  ui/apps/platform/src/sagas/cloudSourceSagas.js
  ui/apps/platform/src/sagas/index.js
  ui/apps/platform/src/services/CloudSourceService.ts
  ui/apps/platform/src/services/IntegrationsService.ts
  ui/apps/platform/src/types/integration.ts
Labels: area/ui

#9849 ROX-21975: compliance results integration errors
  central/complianceoperator/v2/checkresults/service/service_impl.go
  central/complianceoperator/v2/checkresults/service/service_impl_test.go
  central/complianceoperator/v2/checkresults/service/singleton.go
  central/convert/storagetov2/compliance_results_service.go
  central/convert/testutils/compliance_results.go
  generated/api/v2/compliance_results_service.pb.go
  generated/api/v2/compliance_results_service.swagger.json
  proto/api/v2/compliance_results_service.proto
Labels: area/central

#9842 ROX-22414: compliance prune integrations
  central/cluster/datastore/datastore.go
  central/cluster/datastore/datastore_impl.go
  central/cluster/datastore/datastore_test_constructors.go
  central/cluster/datastore/singleton.go
  central/complianceoperator/v2/integration/datastore/datastore.go
  central/complianceoperator/v2/integration/service/convert.go
  central/complianceoperator/v2/integration/service/convert_test.go
  central/complianceoperator/v2/pruner/mocks/pruner.go
  central/complianceoperator/v2/pruner/pruner.go
  central/complianceoperator/v2/pruner/singleton.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore.go
  central/pruning/pruning_test.go
Labels: area/central

#9813 feat(cloud-sources): discovered cluster matching
  central/cloudsources/manager/manager.go
  central/cloudsources/manager/manager_test.go
  central/cloudsources/manager/singleton.go
  central/cluster/datastore/datastore.go
  central/cluster/datastore/datastore_impl.go
  central/cluster/datastore/mocks/datastore.go
  pkg/cloudsources/paladin/client.go
  pkg/cloudsources/paladin/client_test.go
  pkg/cloudsources/paladin/testdata/response.json
Labels: area/central

#9745 feat(fake-collector): Fake collector for testing and debugging
  sensor/common/networkflow/service/service_impl.go
  sensor/common/signal/signal_service.go
  sensor/common/signal/singleton.go
  sensor/debugger/collector/common.go
  sensor/debugger/collector/fake_collector.go
  sensor/debugger/collector/network_flows_client.go
  sensor/debugger/collector/signals_client.go
  sensor/kubernetes/sensor/options.go
  sensor/kubernetes/sensor/sensor.go
  tools/local-sensor/main.go
Labels: team/maple, area/sensor

#9847 ROX-18443: Remove tech-preview warning for NP-Guard integrated code
  roxctl/connectivity-map/command.go
  roxctl/generate/generate.go
  roxctl/netpol/connectivity/connectivity.go
  roxctl/netpol/connectivity/diff/README.md
  roxctl/netpol/connectivity/diff/command.go
  roxctl/netpol/connectivity/map/README.md
  roxctl/netpol/connectivity/map/command.go
  roxctl/netpol/generate/README.md
  roxctl/netpol/generate/generate.go
  roxctl/netpol/netpol.go
Labels: area/roxctl

#9855 ROX-22433: scan config profile error duplicate
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl.go
Labels: area/central, epic/compliance-2.0/mvp

#9706 ROX-20222: M2M auth config UI forms
  tests/e2e/lib.sh
  ui/apps/platform/README.md
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/integration/integrations/integrations.helpers.js
  ui/apps/platform/src/Containers/Integrations/CreateIntegrationPage.tsx
  ui/apps/platform/src/Containers/Integrations/EditIntegrationPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/MachineAccessIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/IntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/AuthenticationTokensSection.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/IntegrationTile.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/MachineAccessTile.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsListPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsTable.tsx
  ui/apps/platform/src/Containers/Integrations/hooks/useFetchIntegrations.ts
  ui/apps/platform/src/Containers/Integrations/hooks/useIntegrationActions.ts
  ui/apps/platform/src/Containers/Integrations/hooks/useIntegrations.ts
  ui/apps/platform/src/Containers/Integrations/utils/integrationUtils.test.ts
  ui/apps/platform/src/Containers/Integrations/utils/integrationUtils.ts
  ui/apps/platform/src/Containers/Integrations/utils/integrationsList.ts
  ui/apps/platform/src/Containers/Integrations/utils/tableColumnDescriptor.ts
  ui/apps/platform/src/reducers/index.js
  ui/apps/platform/src/reducers/machineAccessConfigs.js
  ui/apps/platform/src/sagas/index.js
  ui/apps/platform/src/sagas/machineAccessSagas.js
  ui/apps/platform/src/services/IntegrationsService.ts
  ui/apps/platform/src/services/MachineAccessService.ts
  ui/apps/platform/src/types/integration.ts
Labels: area/ui

#9811 ROX-21344: Add deployment enhancement metrics
  central/metrics/central.go
  central/metrics/init.go
  central/sensor/enhancement/broker.go
  sensor/common/deploymentenhancer/component.go
  sensor/common/metrics/init.go
  sensor/common/metrics/metrics.go
Labels: team/maple, area/central, area/sensor

#9848 ROX-22066: Remove deprecated NP-Guard commands
  pkg/features/list.go
  roxctl/connectivity-map/command.go
  roxctl/generate/generate.go
  roxctl/generate/netpol/command.go
  roxctl/maincommand/command.go
  roxctl/netpol/generate/command.go
  roxctl/netpol/generate/generate.go
  roxctl/netpol/generate/generate_test.go
  tests/roxctl/bats-tests/local/roxctl-connectivity-map-development.bats
  tests/roxctl/bats-tests/local/roxctl-connectivity-map-release.bats
  tests/roxctl/bats-tests/local/roxctl-generate-netpol-development.bats
  tests/roxctl/bats-tests/local/roxctl-generate-netpol-release.bats
Labels: area/roxctl

#9866 test(scanv4): Scanner V4 bundle installation
  deploy/common/deploy.sh
  deploy/common/k8sbased.sh
  deploy/openshift/env.sh
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller-pod-security.yaml
  image/templates/helm/stackrox-secured-cluster/templates/collector-pod-security.yaml
  tests/e2e/lib.sh
  tests/e2e/run-scanner-v4.bats
Labels: area/helm

#9861 chore(CODEOWNERS): add cloudsources to Merlin team
  .github/CODEOWNERS
Labels: area/ci

#9872 ROX-15193: move nightly tag action to GHA
  .github/workflows/nightly-tag.yml
Labels: area/ci

#9746 fix(auth): use transaction during m2m config update / delete
  central/auth/datastore/datastore.go
  central/auth/datastore/datastore_impl.go
  central/auth/datastore/datastore_impl_test.go
  central/auth/datastore/singleton.go
  central/auth/m2m/exchanger.go
  central/auth/m2m/mocks/exchanger.go
  central/auth/m2m/mocks/set.go
  central/auth/m2m/set.go
  central/auth/service/service_impl.go
  central/auth/service/service_impl_test.go
  central/auth/store/store.go
Labels: area/central

#9832 fix(compliance): Rename function to `getComplianceOperatorDeployment`
  generated/internalapi/central/compliance_operator.pb.go
  proto/internalapi/central/compliance_operator.proto
  sensor/kubernetes/complianceoperator/updater.go
Labels: area/sensor

#9674 test(scanv4): Check that scannerv4 Central env var is set correctly
  pkg/renderer/templates/public_values.yaml.tpl
  tests/e2e/run-scanner-v4.bats
Labels: area/helm

#9858 ROX-21984: Update source name and sorting in discovered clusters
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/DiscoveredClustersPage.tsx
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/DiscoveredClustersTable.tsx
  ui/apps/platform/src/services/DiscoveredClusterService.ts
Labels: area/ui

#9856 ROX-22405: Replace init bundle wizard with form and modal
  ui/apps/platform/cypress/integration/clusters/redirectFromDashboard.test.js
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundleForm.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundleForm.utils.ts
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundleWizard.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundleWizardStep1.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundleWizardStep2.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundlesRoute.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/SecureClusterModal.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/SecureClusterUsingHelmChart.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/SecureClusterUsingOperator.tsx
  ui/apps/platform/src/Containers/Clusters/NoClustersPage.tsx
Labels: area/ui

#9874 ROX-22455: compliance prune cluster status bug
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl_test.go
Labels: area/central, epic/compliance-2.0/mvp

#9880 ROX-22459: compliance results card sort
  central/complianceoperator/v2/checkresults/datastore/datastore_impl.go
Labels: area/central, epic/compliance-2.0/mvp

#9612 ROX-21844: Add context to allow both declarative and imperative origin resources
  central/declarativeconfig/updater/notifier_updater.go
  central/notifier/processor/singleton.go
  pkg/declarativeconfig/context.go
  pkg/declarativeconfig/context_test.go
Labels: area/central

#9301 ROX-14548: Show underlying token in test page
  central/role/mapper/store_based_mapper_impl.go
  generated/api/v1/auth_service.pb.go
  generated/api/v1/auth_service.swagger.json
  generated/api/v1/authprovider_service.swagger.json
  generated/api/v1/cluster_init_service.swagger.json
  generated/api/v1/user_service.swagger.json
  generated/storage/user.pb.go
  pkg/auth/authproviders/backend.go
  pkg/auth/authproviders/identity.go
  pkg/auth/authproviders/oidc/backend_impl.go
  pkg/auth/authproviders/registry_httphandler.go
  pkg/auth/permissions/role_mapper.go
  proto/api/v1/auth_service.proto
  proto/storage/user.proto
  ui/apps/platform/src/Containers/Login/TestLoginResultsPage.js
  ui/apps/platform/src/sagas/authSagas.js
Labels: area/auth, area/central, area/ui

#9881 ROX-22049: Conditionally render Discovered clusters button
  ui/apps/platform/cypress/integration/clusters/Clusters.selectors.js
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.tsx
Labels: area/ui

#9857 ROX-22048: Add search filters for DiscoveredClusters
  ui/apps/platform/src/Components/PatternFly/SearchFilterChips.tsx
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/DiscoveredClustersToolbar.cy.jsx
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/DiscoveredClustersToolbar.tsx
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/SearchFilterNames.tsx
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/SearchFilterStatuses.tsx
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/SearchFilterTypes.tsx
  ui/apps/platform/src/services/DiscoveredClusterService.ts
Labels: area/ui

#9873 test(scanv4): Add operator-based install scenarios
  deploy/common/k8sbased.sh
  operator/Makefile
  scripts/ci/jobs/ocp_scanner_v4_tests.py
  tests/e2e/lib.sh
  tests/e2e/run-scanner-v4.bats
  tests/e2e/yaml/secured-cluster-cr.envsubst.yaml
Labels: area/operator

#9876 ROX-21731: Service integration test flake fix
  sensor/tests/resource/service/service_test.go
Labels: team/maple, area/sensor

#9894 ROX-21632: Make gRPC tests more robust
  pkg/grpc/server_ratelimit_test.go
  pkg/grpc/server_test.go
Labels: team/maple

#9888 ROX-18122: Disable export as CSV for compliance
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/Coverage/CoveragesPage.tsx
Labels: area/ui, epic/compliance-2.0/mvp

#9019 ROX-20554: Removing a CVE when updating a request
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/cveListExceptionFlow.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/CveSelections.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionRequestModal/ExceptionRequestForm.tsx
Labels: area/ui, epic/vm2.0/unified-deferral

#9907 fix(scanner): Add downstream copy-script target to support downstream
  scanner/Makefile
Labels: area/scanner

#9906 ROX-22478: Rearrange elements at upper edge of Clusters page
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.tsx
Labels: area/ui

#9810 ROX-22239: Add Splunk TA to API metrics
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml.htpl
  operator/tests/central/central-misc/080-assert-non-openshift.yaml
  operator/tests/central/central-misc/080-assert-openshift.yaml
Labels: team/maple, area/helm, area/operator

#9915 docs(roxctl): Mention Scanner V4 in roxctl doc string
  roxctl/scanner/generate/generate.go
Labels: area/roxctl

#9917 ROX-22046: Paladin cloud integration form UI tests
  ui/apps/platform/cypress/integration/integrations/integrations.helpers.js
  ui/apps/platform/cypress/integration/integrations/paladinCloudIntegrations.test.ts
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/PaladinCloudIntegrationForm.tsx
Labels: area/ui

#9887 ROX-2246: Fetch profile summaries for scan config
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/Wizard/ClusterSelection.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/Wizard/ProfileSelection.css
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/Wizard/ProfileSelection.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/Wizard/ReviewConfig.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/Wizard/ScanConfigWizardForm.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/compliance.scanConfigs.utils.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/components/ComplianceClusterStatus.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/components/ScanConfigClustersTable.tsx
  ui/apps/platform/src/hooks/useTableSelection.ts
  ui/apps/platform/src/services/ComplianceEnhancedService.ts
Labels: area/ui, epic/compliance-2.0/mvp

#9895 ROX-22371, ROX-22372: compliance update scan config delete cluster
  central/complianceoperator/v2/compliancemanager/manager.go
  central/complianceoperator/v2/compliancemanager/manager_impl.go
  central/complianceoperator/v2/compliancemanager/manager_impl_test.go
  central/complianceoperator/v2/compliancemanager/mocks/manager.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl.go
  central/complianceoperator/v2/scanconfigurations/datastore/mocks/datastore.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
Labels: area/central, epic/compliance-2.0/mvp

#9909 ROX-22489: Add regression tests for discovered-clusters route in UI
  ui/apps/platform/cypress/integration/clusters/Clusters.helpers.js
  ui/apps/platform/cypress/integration/clusters/discovered-clusters/DiscoveredClusters.helpers.js
  ui/apps/platform/cypress/integration/clusters/discovered-clusters/DiscoveredClustersPage.test.js
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/DiscoveredClustersTable.tsx
Labels: area/ui

#9517 ROX-21729: Enhance collection delete error message
  CHANGELOG.md
  central/resourcecollection/service/service_impl.go
  central/resourcecollection/service/service_impl_test.go
Labels: area/central

#9901 ROX-16918: Ensure ContainerAPI scanner is air gapped
  go.mod
  go.sum
  scanner/indexer/indexer.go
Labels: area/scanner

#9803 ROX-21950: `roxctl scanner download-db`
  CHANGELOG.md
  pkg/env/roxctl.go
  pkg/version/version.go
  pkg/version/version_test.go
  roxctl/common/client.go
  roxctl/scanner/downloaddb/downloaddb.go
  roxctl/scanner/downloaddb/downloaddb_test.go
  roxctl/scanner/scanner.go
  roxctl/scanner/uploaddb/uploaddb.go
Labels: area/roxctl

#9935 chore(deps): dependabot ignore claircore
  .github/dependabot.yaml
Labels: area/ci

#9862 Added validator to verify scan config name is dns compatible
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
Labels: area/central

#9409 ROX-19004: scanner v4 vuln updater in Central
  central/scannerdefinitions/handler/handler.go
  central/scannerdefinitions/handler/handler_test.go
  central/scannerdefinitions/handler/updater_test.go
  central/scannerdefinitions/handler/updatertype_string.go
  scanner/matcher/matcher.go
Labels: area/central, area/scanner, area/ci

#9936 ROX-22519: compliance sort profiles summaries
  central/complianceoperator/v2/profiles/datastore/datastore_impl.go
  central/convert/storagetov2/compliance_profile_service.go
Labels: area/central, epic/compliance-2.0/mvp

#9908 fix(tests): add ROSA HCP support
  qa-tests-backend/src/main/groovy/util/Env.groovy
  qa-tests-backend/src/test/groovy/AuditLogAlertsTest.groovy
  qa-tests-backend/src/test/groovy/DeploymentTest.groovy
  qa-tests-backend/src/test/groovy/RoutesTest.groovy
  scripts/ci/jobs/rosa_qa_e2e_tests.py
Labels: ci-all-qa-tests

#9931 ROX-20222: Add M2M configuration UI tests
  ui/apps/platform/cypress/integration/integrations/integrations.helpers.js
  ui/apps/platform/cypress/integration/integrations/machineAccessConfigs.test.ts
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/MachineAccessIntegrationForm.tsx
Labels: area/ui

#9886 ROX-22083: Provide validation details through API for ScanConfig
  central/complianceoperator/v2/compliancemanager/manager_impl.go
  central/complianceoperator/v2/compliancemanager/manager_impl_test.go
Labels: area/central, epic/compliance-2.0/mvp

#9953 ROX-21840: Add regression tests for cluster init bundles route in UI
  ui/apps/platform/cypress/integration/clusters/init-bundles/InitBundleForm.test.js
  ui/apps/platform/cypress/integration/clusters/init-bundles/InitBundles.helpers.js
  ui/apps/platform/cypress/integration/clusters/init-bundles/InitBundlesPage.test.js
Labels: area/ui

#9954 ROX-22002: Filter invalid null character in annotations
  central/sensor/service/pipeline/deploymentevents/pipeline.go
  central/sensor/service/pipeline/namespaces/pipeline.go
  central/sensor/service/pipeline/networkpolicies/pipeline.go
  central/sensor/service/pipeline/nodes/pipeline.go
  migrator/migrations/n_02_to_n_03_postgres_namespaces/migration.go
  migrator/migrations/n_03_to_n_04_postgres_deployments/migration.go
  migrator/migrations/n_32_to_n_33_postgres_networkpolicies/migration.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/migration.go
  pkg/stringutils/normalize.go
  pkg/stringutils/normalize_test.go
Labels: area/central, area/sensor

#9716 ROX-18375: Add forceCollection to override collectionMethod
  image/templates/helm/stackrox-secured-cluster/README.md.htpl
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml
  image/templates/helm/stackrox-secured-cluster/values-public.yaml.example
  operator/pkg/securedcluster/values/translation/translation.go
  operator/pkg/securedcluster/values/translation/translation_test.go
Labels: area/helm, area/operator

#9851 ROX-20160: Install RHEL packages into Konflux-built main
  .tekton/main-pull-request.yaml
  .tekton/main-push.yaml
  image/rhel/konflux.Dockerfile
  scripts/konflux/subscription-manager/.dockerignore
  scripts/konflux/subscription-manager/.gitignore
  scripts/konflux/subscription-manager/bro.self-test-demo.Dockerfile
  scripts/konflux/subscription-manager/bro.self-test-multiple-targets.Dockerfile
  scripts/konflux/subscription-manager/bro.self-test.Dockerfile
  scripts/konflux/subscription-manager/subscription-manager-bro.sh
Labels: area/helm

#9949 ROX-13960: Set VWC namespaceSelector dynamic
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
Labels: area/helm

#9676 ROX-19814: require authenticated access to /v1/resources
  CHANGELOG.md
  central/role/service/service_impl.go
Labels: area/central

#9959 ROX-22558: Make changes after team test of discovered clusters UI
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/DiscoveredClustersToolbar.cy.jsx
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/DiscoveredClustersToolbar.tsx
Labels: area/ui

#9951 ROX-22395: Cleanup --replace-rbac-proxy option
  operator/bundle_helpers/patch-csv.py
Labels: area/operator
