Repository stackrox/stackrox, pull requests merged in 2024-07, with the labels that each got.

#11768 chore(improvement): Make call to http.NewRequest context aware
  pkg/httputil/proxy/proxy.go
Labels: team/maple

#11771 chore(doc): Add comment in handleAllEvents
  sensor/kubernetes/listener/resource_event_handler.go
Labels: team/maple, area/sensor

#11710 ROX-21288: Adjust default timeout for Admission Controller Webhooks
  central/cluster/datastore/datastore_impl.go
  image/templates/helm/stackrox-secured-cluster/internal/defaults/30-base-config.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/values.yaml.htpl
  pkg/fixtures/cluster.go
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/admission-control.test.yaml
  roxctl/sensor/generate/generate.go
Labels: area/roxctl, area/central, area/helm

#11756 ROX-22867: Update ApproversV2 on request approval when unified cve deferral is enabled
  central/vulnmgmt/vulnerabilityrequest/datastore/datastore_impl.go
  central/vulnmgmt/vulnerabilityrequest/datastore/datastore_impl_test.go
  central/vulnmgmt/vulnerabilityrequest/utils/util.go
Labels: area/central

#11752 ROX-24509: Add filter telemetry Node/Platform CVEs
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/useNodeVulnerabilities.ts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodeCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/useClusterVulnerabilities.ts
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/PlatformCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/PlatformCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/telemetry.ts
  ui/apps/platform/src/hooks/useAnalytics.ts
Labels: area/ui, epic/vm2.0/node&platform

#11760 ROX-24712: Include Add in autocomplete options
  ui/apps/platform/src/Components/CompoundSearchFilter/components/SearchFilterAutocomplete.tsx
Labels: area/ui

#11778 ROX-24714: Differentiate between autocomplete and text inputs
  ui/apps/platform/src/Components/CompoundSearchFilter/components/SearchFilterAutocomplete.tsx
Labels: area/ui

#11779 chore(ui): Disables NetGraph e2e test for GKE clusters
  ui/apps/platform/cypress/integration/networkGraph/networkDeploymentSidebar.test.js
Labels: area/ui

#11789 fix(ui): Prevent filter dropdowns from shrinking below min size
  ui/apps/platform/src/Components/CompoundSearchFilter/components/AttributeSelector.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/EntitySelector.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/SimpleSelect.tsx
Labels: area/ui

#11776 fix(ui): Adjust VM 1.0 logic to only allow snooze when FF is enabled
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/VulnMgmtListCves.js
Labels: area/ui, epic/vm2.0/node&platform

#11774 chore(ui): Fix accessibility issues in Violation tab
  ui/apps/platform/src/Containers/Violations/Details/K8sCard.tsx
  ui/apps/platform/src/Containers/Violations/Details/NetworkFlowCard.tsx
  ui/apps/platform/src/Containers/Violations/Details/ProcessCard.js
Labels: area/ui

#11792 fix(ui): Clarify usage of "Cluster Platform Type" in Platform CVEs
  ui/apps/platform/src/Components/CompoundSearchFilter/types.ts
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/ClustersTable.tsx
Labels: area/ui

#11782 ROX-25031: Correct default body and subject of compliance report
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ViewScanConfigDetail.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ReportConfiguration.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ReviewConfig.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/compliance.scanConfigs.utils.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/emailTemplateFormUtils.ts
  ui/apps/platform/src/constants/productBranding.ts
Labels: area/ui

#11796 ROX-24829: hide the affected images count to avoid confusion
  ui/apps/platform/src/Containers/Vulnerabilities/components/ExceptionRequestModal/CveSelections.tsx
Labels: area/ui

#11706 ROX-24755: Contextualize autocomplete options
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilterInputField.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/SearchFilterAutocomplete.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ObservedCveModeSelect.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/AdvancedFiltersToolbar.tsx
Labels: area/ui

#11766 ROX-24899: Change all TLS Handshake calls to use context
  pkg/env/tls_handshake.go
  pkg/grpc/endpoints.go
  pkg/grpc/server.go
  pkg/grpc/tls_conn_creds.go
  pkg/tlsutils/alpn_demux.go
  tests/client_ca_test.go
  tests/endpoints_test.go
Labels: team/maple

#11788 ROX-14208: Do not use `jsonpb.Unmarshal` with default options
  central/testutils/export.go
  roxctl/central/login/login.go
  roxctl/central/m2m/exchange/exchange.go
  roxctl/central/m2m/exchange/exchange_test.go
  roxctl/scanner/downloaddb/downloaddb.go
  tests/endpoints_test.go
Labels: ci-all-qa-tests, team/maple, area/roxctl, area/central

#11801 fix: Operator: Reduce defaultwebhook timeout to 10 seconds
  operator/apis/platform/v1alpha1/securedcluster_types.go
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
Labels: area/operator

#11799 chore(CI): add timestamp to python layer logging
  .openshift-ci/common.py
  .openshift-ci/post_tests.py
Labels: area/ci

#11816 fix(ui): Swap node cve list from operatingSystem to osImage
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/useNodes.ts
Labels: area/ui

#11797 chore: Bump COLLECTOR_VERSION to 3.19.0
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#11793 ROX-25039: Add telemetry for workload cve exception requests
  ui/apps/platform/src/Containers/Vulnerabilities/components/ExceptionRequestModal/ExceptionRequestModal.tsx
  ui/apps/platform/src/hooks/useAnalytics.ts
Labels: area/ui

#11337 chore(scanner): misc minor cleanup
  scanner/datastore/postgres/vuln_update.go
  scanner/enricher/fixedby/fixedby.go
  scanner/mappers/mappers.go
  scanner/matcher/updater/distribution/updater.go
  scanner/matcher/updater/vuln/updater.go
Labels: area/scanner

#11818 fix(ui): Update query fields used for node component fixability
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/components/NodeComponentsTable.tsx
Labels: area/ui

#11820 Revert "chore(scanner): Update SCANNER_VERSION"
  SCANNER_VERSION
Labels: ci-all-qa-tests

#11800 ROX-25050: Replace temporary null for compliance lastScanTime
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileClustersTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/compliance.coverage.utils.tsx
Labels: area/ui

#11519 ROX-23298: support fixedby for Go stdlib
  scanner/enricher/fixedby/fixedby.go
  scanner/enricher/fixedby/fixedby_test.go
  scanner/enricher/fixedby/versiontype_string.go
Labels: area/scanner

#11819 fix(be): Added separator to complaince report email
  central/complianceoperator/v2/report/manager/complianceReportgenerator/consts.go
Labels: area/central

#11833 ROX-25033: Inform about scan on create but not edit in compliance
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ReviewConfig.tsx
Labels: area/ui

#11794 ROX-22618: download NVD data to GCS bucket
  .github/workflows/scanner-nvd-update.yaml
  .github/workflows/scripts/scanner-update-nvd.py
Labels: area/ci

#11759 ROX-23222 + ROX-20245: Disable VM1.0 deferral/snooze services in VM2.0
  central/cve/cluster/service/service_impl.go
  central/cve/node/service/service_impl.go
  central/vulnmgmt/vulnerabilityrequest/service/service_impl.go
  central/vulnmgmt/vulnerabilityrequest/service/service_impl_test.go
Labels: area/central

#11828 ROX-22019: Add protomock to check expected proto structs
  central/detection/alertmanager/alert_manager_impl_test.go
  central/serviceaccount/service/service_impl_test.go
  pkg/protomock/mock_matcher.go
Labels: area/central

#11811 tests(sensor): ignore unexported fields
  sensor/kubernetes/eventpipeline/resolver/resolver_test.go
Labels: area/sensor

#11835 ROX-23972: Change system. to network. for netpols
  image/templates/helm/shared/templates/02-scanner-05-network-policy.yaml
  image/templates/helm/shared/templates/02-scanner-v4-05-db-network-policy.yaml
  image/templates/helm/shared/templates/02-scanner-v4-05-indexer-network-policy.yaml
  image/templates/helm/shared/templates/02-scanner-v4-05-matcher-network-policy.yaml
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/templates/00-stackrox-application.yaml
  image/templates/helm/stackrox-central/templates/01-central-10-db-networkpolicy.yaml
  image/templates/helm/stackrox-central/templates/01-central-10-networkpolicy.yaml
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/internal/defaults/30-base-config.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller-netpol.yaml
  image/templates/helm/stackrox-secured-cluster/templates/collector-netpol.yaml
  image/templates/helm/stackrox-secured-cluster/templates/sensor-netpol.yaml
  pkg/helm/charts/tests/centralservices/testdata/all-values-explicit.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/central.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/openshift-monitoring.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner-v4.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/monitoring.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/openshift-monitoring.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-slim.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-v4.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/sensor-netpol.test.yaml
Labels: area/helm

#11815 ROX-22019: Add check of proto compare for oneof fields and fix tests
  central/vulnmgmt/vulnerabilityrequest/datastore/datastore_impl_test.go
  migrator/migrations/m_201_to_m_202_vuln_request_v1_to_v2/migration_test.go
  sensor/kubernetes/listener/resources/deployments_test.go
  tools/roxvet/analyzers/donotcompareproto/analyzer.go
Labels: area/central, area/sensor

#11839 fix(ui): Hide VM 2.0 UI items when insufficient permissions
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/hooks/useHasRequestExceptionsAbility.ts
  ui/apps/platform/src/routePaths.ts
Labels: area/ui

#11586 ROX-23972: Add ACS Operator fields to enable/disable network policies
  go.mod
  go.sum
  operator/apis/platform/v1alpha1/central_types.go
  operator/apis/platform/v1alpha1/common_types.go
  operator/apis/platform/v1alpha1/securedcluster_types.go
  operator/apis/platform/v1alpha1/zz_generated.deepcopy.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/pkg/central/values/translation/translation.go
  operator/pkg/central/values/translation/translation_test.go
  operator/pkg/securedcluster/values/translation/translation.go
  operator/pkg/securedcluster/values/translation/translation_test.go
  operator/pkg/values/translation/translation.go
  operator/pkg/values/translation/translation_test.go
Labels: area/helm, area/operator

#11824 fix(ui): Handle widget when stats not available
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragesPage.tsx
Labels: area/ui

#11856 fix(ui): Ensure CVE ID is used to create link in Cluster single page
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/CVEsTable.tsx
Labels: pls-merge, area/ui, epic/vm2.0/node&platform

#11840 fix(vm): Loosen restriction on GET exception config
  central/config/datastore/datastore.go
  central/config/datastore/datastore_test.go
  central/config/datastore/mocks/datastore.go
  central/config/service/service.go
Labels: area/central

#11857 ROX-23954: Write integration tests for vulnerability reports
  ui/apps/platform/cypress/integration/vulnerabilities/VulnerabilityReporting/VulnerabilityReporting.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/VulnerabilityReporting/reportsTable.test.js
Labels: area/ui

#11859 ROX-25032: Fix overlapping time picker validation
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ScanConfigOptions.tsx
Labels: area/ui

#11858 fix(ui): Add GO component source to UI types
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.cy.jsx
  ui/apps/platform/src/types/image.proto.ts
Labels: pls-merge, area/ui

#11860 chore(fix): Pass the correct obj to the update function
  sensor/kubernetes/complianceoperator/handler_impl.go
Labels: area/sensor

#11850 chore(test): Tweak a few tests to be protobuf V2 compatible
  sensor/common/centralclient/client_test.go
  tests/client_ca_test.go
Labels: area/sensor

#11864 feat(sensor): Log cluster name and install method
  sensor/kubernetes/sensor/sensor.go
Labels: area/sensor

#11866 test(compliance): Add update scan configuration e2e test
  central/complianceoperator/v2/scanconfigurations/service/convert.go
  tests/compliance_operator_v2_test.go
Labels: team/maple, area/central, epic/compliance-2.0/mvp

#11629 ROX-23347: retry get auth providers
  qa-tests-backend/src/main/groovy/services/AuthProviderService.groovy
Labels: auto-retest

#11795 chore(ui): remove tech preview label for Scanner V4
  CHANGELOG.md
  ui/apps/platform/src/Components/ScannerV4IntegrationBanner.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/ImageIntegrationsSection.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsListPage.tsx
Labels: area/ui

#11832 ROX-25099: Relax restriction on profile name duplication
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl_test.go
Labels: area/central

#11875 test: Update refs to now-split ticket.
  tests/backup_test.go
  tests/cluster_delete_test.go
  tests/e2e/run.sh
  tests/excluded_scopes_test.go
  tests/feature_flag_test.go
  tests/graphql_sorting_test.go
  tests/metadata_test.go
Labels: auto-merge, auto-retest

#11517 ROX-23942: remove duplicate vulns
  scanner/mappers/mappers.go
  scanner/mappers/mappers_test.go
Labels: area/scanner

#11879 fix(ui): Fix date picker error text placement
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.css
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ScanConfigOptions.css
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ScanConfigOptions.tsx
Labels: pls-merge, area/ui

#11827 ROX-23789: ScanConfig sync in Central
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  central/sensor/service/connection/connection_impl.go
  central/sensor/service/connection/connection_test.go
  pkg/centralsensor/caps_list.go
  scripts/ci/logcheck/restart-ok-patterns.json
  sensor/kubernetes/complianceoperator/env.go
  sensor/kubernetes/complianceoperator/handler_impl.go
  tests/compliance_operator_v2_test.go
Labels: area/central, area/sensor

#11865 ROX-24871: Remove test assertion for checking violations
  qa-tests-backend/src/test/groovy/NodeInventoryTest.groovy
Labels: team/maple

#11808 ROX-14763: Verify namespace details refactor
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/OrchestratorMain.groovy
  qa-tests-backend/src/test/groovy/SummaryTest.groovy
Labels: team/maple

#11829 fix(CI): cache images tagged :latest
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
Labels: ci-all-qa-tests

#11838 ROX-24471: Set Matcher's memory req/lim aligned with consumption
  CHANGELOG.md
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
Labels: area/helm

#11881 chore: set SCANNER_VERSION to 2.34.0 (ACS 4.5.0)
  SCANNER_VERSION
Labels: ci-all-qa-tests, do-not-merge/work-in-progress

#11862 fix(scanner): NVD: Allow reading NVD records from a ZIP
  .github/workflows/scanner-dev-vuln-update.yaml
  .github/workflows/scanner-nvd-update.yaml
  .github/workflows/scanner-release-vuln-update.yaml
  .github/workflows/scripts/scanner-update-nvd-legacy.py
  scanner/enricher/nvd/nvd.go
  scanner/enricher/nvd/nvd_test.go
  scanner/enricher/nvd/testdata/feed.zip
  scanner/updater/export.go
Labels: area/scanner, area/ci, pr-update-scanner-vulns, pr-update-scanner-nvd

#11874 ROX-23972: Fix Operator Network descriptions in UI
  operator/apis/platform/v1alpha1/central_types.go
  operator/apis/platform/v1alpha1/common_types.go
  operator/apis/platform/v1alpha1/securedcluster_types.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
Labels: area/operator

#11716 chore: check PR description health
  .github/workflows/check-pr-description.yaml
  .github/workflows/scripts/check-pr-description.sh
  .github/workflows/scripts/common.sh
Labels: area/ci

#11889 ROX-25189: Export evidence for compliance operator standards
  ui/apps/platform/src/Containers/Compliance/List/Header.js
Labels: area/ui

#11898 fix: backtrack one y version if previous one is not released yet.
  .github/workflows/build.yaml
  operator/Makefile
  operator/bundle_helpers/patch-csv.py
Labels: area/operator, area/ci, auto-retest

#11897 fix: Temporarily disable NodeInventory E2E test
  qa-tests-backend/src/test/groovy/NodeInventoryTest.groovy
Labels: team/maple

#11891 fix(scanner): Make NVD download conditional
  .github/workflows/scanner-dev-vuln-update.yaml
Labels: area/ci, pr-update-scanner-vulns, pr-update-scanner-nvd

#11813 feat(qa): Update midstream iib to use build v4.4.4-3
  operator/midstream/iib.json
Labels: area/operator

#11878 ROX-25066: Create s3 compatible plugin
  CHANGELOG.md
  central/externalbackups/plugins/s3compatible/s3compatible.go
  central/externalbackups/plugins/types/types.go
  go.mod
  go.sum
Labels: area/central

#11917 chore(ui): Fix key prop errors in violation details
  ui/apps/platform/src/Containers/Violations/Details/Deployment/ContainerConfiguration.tsx
  ui/apps/platform/src/Containers/Violations/Details/NetworkPolicies/NetworkPoliciesTab.tsx
Labels: area/ui

#11913 ROX-25126: upgrade remove rocks test
  .openshift-ci/ci_tests.py
  scripts/ci/jobs/gke_upgrade_tests.py
  scripts/ci/test_state.sh
  scripts/style/shellcheck_skip.txt
  tests/upgrade/legacy_to_postgres_run.sh
  tests/upgrade/lib.sh
  tests/upgrade/postgres_run.sh
  tests/upgrade/postgres_sensor_run.sh
  tests/upgrade/validation.sh
Labels: area/ci

#11939 fix: register s3compatible plugin
  central/externalbackups/plugins/all/all.go
Labels: area/central

#11942 chore(fix): Add https prefix if it's missing
  central/externalbackups/plugins/s3compatible/s3compatible.go
Labels: area/central

#11932 chore(disable-test): Disable test in aks
  qa-tests-backend/src/test/groovy/SummaryTest.groovy
Labels: team/maple

#11926 tests: do not print file content in test
  pkg/renderer/kubernetes_helm_test.go
  roxctl/helm/output/output_lint_test.go
Labels: area/roxctl, auto-retest

#11854 ROX-14078: fix CA setup test
  central/development/service/service_impl.go
  central/development/service/service_impl_test.go
  generated/internalapi/central/development_service.pb.go
  proto/internalapi/central/development_service.proto
  tests/bad-ca/ca.go
  tests/bad-ca/root.crt
  tests/bad-ca/self-signed.invalid.crt
  tests/bad-ca/ssl-certs.sh
  tests/bad-ca/untrusted-root-badssl-com.pem
  tests/bad-ca/untrusted-root.invalid.crt
  tests/ca_setup_test.go
  tests/e2e/run.sh
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/central

#11922 ROX-24871: Remove flaky scan time assertion
  qa-tests-backend/src/test/groovy/NodeInventoryTest.groovy
Labels: ci-all-qa-tests, team/maple

#11847 ROX-25048: S3 compatible integration forms
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/S3CompatibleIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/IntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsTable.tsx
  ui/apps/platform/src/Containers/Integrations/utils/integrationsList.ts
  ui/apps/platform/src/Containers/Integrations/utils/tableColumnDescriptor.ts
  ui/apps/platform/src/types/externalBackup.proto.ts
  ui/apps/platform/src/types/integration.ts
Labels: area/ui

#11943 ROX-23594: improve wait_for_api output and wait longer
  scripts/lib.sh
  tests/e2e/lib.sh
Labels: auto-retest

#11944 tests: improve and give collect-service-logs.sh more time
  .openshift-ci/post_tests.py
  scripts/ci/collect-service-logs.sh
Labels: area/ci, auto-retest

#11935 ci(scanner): remove vcs information from binary
  .github/workflows/scanner-release-vuln-update.yaml
Labels: area/ci

#11954 chore(telemetry): S3 compliant backups
  central/externalbackups/datastore/telemetry.go
Labels: area/central

#11772 tests: add tests for proto -> json serialization
  central/notifiers/generic/generic_test.go
  central/notifiers/pagerduty/pagerduty_test.go
  central/notifiers/splunk/splunk_test.go
  central/notifiers/sumologic/sumologic_test.go
  central/splunk/violations_serialization_test.go
  pkg/fixtures/alert.go
  pkg/httputil/error_test.go
  pkg/httputil/rest_test.go
  pkg/protoutils/printer_test.go
Labels: area/roxctl, area/auth, area/central, area/sensor

#11945 ROX-25197: Fix kube proxy pod retrieval
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/test/groovy/SummaryTest.groovy
Labels: team/maple

#11899 ROX-25049: add S3 compatible qa-e2e test
  qa-tests-backend/src/main/groovy/services/ExternalBackupService.groovy
  qa-tests-backend/src/main/groovy/util/Env.groovy
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
Labels: ci-all-qa-tests

#11959 ROX-24364: Reenable Summary test for counting objects
  qa-tests-backend/src/test/groovy/SummaryTest.groovy
Labels: team/maple

#11910 ROX-25129: Hide label expandable when there are no labels
  ui/apps/platform/src/Containers/Vulnerabilities/components/ExpandableLabelSection.tsx
Labels: area/ui

#11911 ROX-24951: Update images without vulnerabilities description
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/string.utils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageScanningIncompleteLabelLayout.tsx
  ui/apps/platform/src/messages/vulnMgmt.messages.ts
Labels: area/ui

#11909 chore(ui): Add permission tests for Node CVE pages
  ui/apps/platform/cypress/fixtures/vulnerabilities/nodeCves/getAffectedNodes.json
  ui/apps/platform/cypress/fixtures/vulnerabilities/nodeCves/getNodeCVEMetadata.json
  ui/apps/platform/cypress/fixtures/vulnerabilities/nodeCves/getNodeCVESummaryData.json
  ui/apps/platform/cypress/fixtures/vulnerabilities/nodeCves/getNodeMetadata.json
  ui/apps/platform/cypress/fixtures/vulnerabilities/nodeCves/getNodeVulnSummary.json
  ui/apps/platform/cypress/fixtures/vulnerabilities/nodeCves/getNodeVulnerabilities.json
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/NodeCve.helpers.ts
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/cveDetailPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/nodeCvesOverviewPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/nodeDetailPage.test.ts
  ui/apps/platform/cypress/selectors/navigation.js
Labels: area/ui

#11970 fix(scanner): upload correct offline vulns for 4.5+
  .github/workflows/scanner-offline-bundle-update.yaml
  .github/workflows/scripts/scanner-update-offline-bundle.sh
Labels: area/ci

#11921 fix(qa): Fix operator deployment on OCP 4.16 ppc64le clusters
  operator/hack/common.sh
  operator/hack/operator-midstream.envsubst.yaml
Labels: ci-all-qa-tests, area/operator

#11968 chore: extract image cache type
  sensor/common/detector/detector.go
  sensor/common/detector/enricher.go
  sensor/common/image/service_impl.go
  sensor/common/imagecacheutils/common.go
  sensor/common/reprocessor/handler.go
Labels: area/sensor

#11960 chore(expiringcache): return additional bool from Get
  central/compliance/datastore/internal/store/postgres/store.go
  central/deployment/datastore/datastore_impl.go
  central/detection/lifecycle/manager_impl.go
  central/networkgraph/flow/datastore/flow_impl.go
  central/user/datastore/internal/store/store_impl.go
  pkg/expiringcache/cache.go
  pkg/expiringcache/cache_test.go
  pkg/expiringcache/mocks/cache.go
  pkg/images/enricher/enricher_impl.go
  pkg/telemetry/phonehome/segment/segment.go
  sensor/common/detector/enricher.go
  sensor/common/image/service_impl.go
  sensor/common/image/service_impl_test.go
  sensor/common/registry/tlscheck.go
Labels: area/central, area/sensor, auto-retest

#11914 chore(ui): Add Node CVE tests for available filters
  ui/apps/platform/cypress/helpers/compoundFilters.ts
  ui/apps/platform/cypress/helpers/request.js
  ui/apps/platform/cypress/helpers/visit.js
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/NodeCve.helpers.ts
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/cveDetailPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/nodeCvesOverviewPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/nodeDetailPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/vulnerabilities.selectors.ts
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageCveSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodesTable.tsx
Labels: area/ui

#11753 chore(ui): Fix accessibility issues in clusters table and Next step
  ui/apps/platform/src/Containers/Clusters/ClusterDeployment.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterPage.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.tsx
  ui/apps/platform/src/Containers/Clusters/Components/CredentialExpirationWidget.tsx
  ui/apps/platform/src/Containers/Clusters/Components/ManageTokensButton.tsx
  ui/apps/platform/src/Containers/Clusters/DownloadHelmValues.tsx
Labels: area/ui

#11965 chore(ui): Fix PropTypes error for clusterRetentionInfo
  ui/apps/platform/src/Containers/Clusters/Components/ClusterSummary.js
Labels: area/ui

#11963 chore(ui): Declare scanInProgress as optional in compliance pages
  ui/apps/platform/src/Containers/Compliance/ScanButton.js
Labels: area/ui

#11798 chore(ui): Fix accessibility issues in Network Graph tabs and button
  ui/apps/platform/src/Containers/NetworkGraph/components/CIDRFormRow.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/namespace/NamespaceSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/deploymentUtils.ts
Labels: area/ui

#11978 chore: remove cloud credentials feature flag
  CHANGELOG.md
  central/externalbackups/plugins/gcs/gcs.go
  central/main.go
  central/notifiers/awssh/notifier.go
  central/notifiers/cscc/cscc.go
  central/notifiers/cscc/validate.go
  pkg/features/list.go
  pkg/registries/google/google.go
  pkg/registries/google/google_test.go
  pkg/scanners/google/google_test.go
  sensor/kubernetes/main.go
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ArtifactRegistryIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/AwsSecurityHubIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GoogleCloudSccIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GoogleIntegrationForm.tsx
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/central, area/ui, area/sensor, 99papercuts

#11974 chore: new s3compatible image
  ui/apps/platform/src/Containers/Integrations/utils/integrationsList.ts
  ui/apps/platform/src/images/s3-compatible.svg
Labels: area/ui

#11950 ROX-25219: reformat data from NVD Api
  .github/workflows/scanner-nvd-update.yaml
  .github/workflows/scripts/scanner-update-nvd-api.py
  .github/workflows/scripts/scanner-update-nvd-feeds.py
  .github/workflows/scripts/scanner-update-nvd.py
Labels: area/ci, pr-update-scanner-nvd

#11971 ROX-22865: Change loading to isLoading for useRestQuery
  ui/apps/platform/src/Components/ScannerV4IntegrationBanner.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsPage.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundlePage.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundlesPage.tsx
  ui/apps/platform/src/Containers/Collections/CollectionFormModal.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsFormPage.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ComplianceProfilesProvider.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragesPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileClustersPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ScanConfigurationsProvider.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigDetailPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ScanConfigWizardForm.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/DeploymentsAtMostRisk.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicyCategory.tsx
  ui/apps/platform/src/Containers/ExceptionConfiguration/useVulnerabilitiesExceptionConfig.ts
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WatchedImages/WatchedImagesModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/ExceptionRequestModal/ExpiryField.tsx
  ui/apps/platform/src/hooks/useRestQuery.ts
Labels: area/ui

#11934 ROX-25218: Consider 34.118.224.0/20 as a private network in GKE tests
  COLLECTOR_VERSION
  deploy/common/k8sbased.sh
  tests/e2e/lib.sh
Labels: ci-all-qa-tests

#11979 chore: remove cloud sources feature flag
  central/cloudsources/manager/singleton.go
  central/main.go
  central/pruning/pruning.go
  central/sensor/service/pipeline/clusterstatusupdate/pipeline.go
  pkg/features/list.go
  tests/e2e/lib.sh
Labels: area/central, 99papercuts

#11947 ROX-16461: Fix kube-proxy assertion
  qa-tests-backend/src/main/groovy/orchestratormanager/OrchestratorMain.groovy
  qa-tests-backend/src/test/groovy/ProcessVisualizationTest.groovy
Labels: team/maple

#11915 chore(CI): use pull policy Never to bar prefetch misses
  qa-tests-backend/scripts/images-to-prefetch.txt
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  scripts/ci/lib.sh
Labels: ci-all-qa-tests

#11972 ROX-24756: Don't lowercase CVE in placeholder
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilterInputField.tsx
Labels: area/ui

#11964 ROX-24789: Make table borders consistent
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/approvedDeferralsTable.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/approvedFalsePositivesTable.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/deniedRequestsTable.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
Labels: area/ui

#11980 ROX-21117: Restrict Scanner V4 SCCs
  image/templates/helm/shared/templates/02-scanner-v4-01-security.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-indexer-deployment.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-matcher-deployment.yaml
Labels: area/helm, area/scanner

#12002 chore: Print return code from curl in scanner download nvd workflow
  .github/workflows/scanner-release-vuln-update.yaml
Labels: area/ci

#12004 fix(ui): Fix compound search filter tests
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.cy.jsx
Labels: pls-merge, area/ui

#11848 ROX-15348: Fix flaky Splunk integration test
  qa-tests-backend/src/test/groovy/IntegrationsSplunkViolationsTest.groovy
Labels: ci-all-qa-tests, team/maple

#11743 ROX-25318: adapt main pipeline to oci ta approach
  .tekton/copy-subscription-manager-activation-key-oci-ta.yaml
  .tekton/fetch-external-networks-oci-ta.yaml
  .tekton/main-build.yaml
  .tekton/main-pipeline.yaml
  image/rhel/konflux.Dockerfile
Labels: area/helm

#12000 fix: s3compatible endpoint validation
  central/externalbackups/plugins/s3compatible/s3compatible.go
  central/externalbackups/plugins/s3compatible/s3compatible_test.go
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ExternalBackupIntegrations/S3CompatibleIntegrationForm.tsx
Labels: ci-all-qa-tests, area/central, area/ui

#11991 ROX-25055,ROX-25056: retry OIDC provider creation
  pkg/auth/authproviders/oidc/backend_impl_test.go
  pkg/auth/authproviders/oidc/provider.go
Labels: area/auth

#11928 ROX-25221: Remove Lerna from UI build process
  .github/actions/cache-ui-dependencies/action.yaml
  .github/actions/create-concatenated-ui-monorepo-lock/action.yaml
  .github/dependabot.yaml
  .github/workflows/build.yaml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
  .ossls.yml
  Makefile
  tools/allowed-large-files
  ui/Makefile
  ui/README.md
  ui/apps/README.md
  ui/apps/platform/package.json
  ui/apps/platform/yarn.lock
  ui/lerna.json
  ui/package.json
Labels: area/ui, area/ci

#11988 ROX-25299: add metrics to see dead tuple growth
  central/globaldb/metrics/metrics.go
  central/globaldb/postgres.go
Labels: area/central, area/postgres

#11951 ROX-25048: add ui e2e test
  ui/apps/platform/cypress/fixtures/integrations/externalBackups.json
  ui/apps/platform/cypress/integration/integrations/externalBackups.test.js
  ui/apps/platform/cypress/integration/integrations/integrations.helpers.js
Labels: area/ui

#11997 ROX-25219: Make data source configurable
  .github/workflows/scanner-dev-vuln-update.yaml
  .github/workflows/scanner-release-vuln-update.yaml
Labels: area/ci, pr-update-scanner-vulns

#11961 chore: custom struct for deleted deployment
  central/deployment/cache/cache.go
  central/deployment/datastore/datastore.go
  central/deployment/datastore/datastore_impl.go
  central/deployment/datastore/datastore_test_constructors.go
  central/deployment/datastore/singleton.go
  central/detection/lifecycle/manager.go
  central/detection/lifecycle/manager_impl.go
  central/detection/lifecycle/singleton.go
  central/networkgraph/flow/datastore/cluster.go
  central/networkgraph/flow/datastore/cluster_impl.go
  central/networkgraph/flow/datastore/flow_impl.go
  central/networkgraph/flow/datastore/singleton.go
Labels: area/central, area/sensor

#12003 chore: change backup schedule to 24-hour clock
  ui/apps/platform/src/Containers/Integrations/utils/integrationUtils.ts
  ui/apps/platform/src/Containers/Integrations/utils/tableColumnDescriptor.ts
Labels: area/ui, 99papercuts

#11977 chore: remove admin events feature flag
  central/administration/events/datastore/singleton.go
  central/config/datastore/singleton.go
  central/main.go
  central/pruning/pruning.go
  deploy/common/env.sh
  pkg/features/list.go
  pkg/logging/options.go
  tests/e2e/lib.sh
Labels: area/central, 99papercuts

#12035 chore: remove unused ui fixtures
  ui/apps/platform/cypress/fixtures/integrations/authPlugins.json
  ui/apps/platform/cypress/fixtures/integrations/externalBackups.json
  ui/apps/platform/cypress/fixtures/integrations/imageIntegrations.json
  ui/apps/platform/cypress/fixtures/integrations/notifiers.json
  ui/apps/platform/cypress/fixtures/integrations/syslogResponse.json
Labels: area/ui, 99papercuts

#11999 chore(ui): Add links to risk for keyboard accessibility
  ui/apps/platform/src/Containers/Risk/riskTableColumnDescriptors.js
Labels: area/ui

#11410 ROX-24255: improve custom rule keys UX
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/RuleGroups.tsx
Labels: area/ui

#12040 ROX-25038: Re-enables the NetGraph sidebar test on GKE clusters
  ui/apps/platform/cypress/integration/networkGraph/networkDeploymentSidebar.test.js
Labels: area/ui

#11952 chore(ui): Fix key prop errors in notifier integrations
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/NotifierIntegrationsSection.tsx
Labels: area/ui

#11900 tests: Proto -> JSON conversion for roxctl export (except nodes)
  roxctl/central/export/deployments/deployments_test.go
  roxctl/central/export/deployments/serialized_test_deployment.json
  roxctl/central/export/images/images_test.go
  roxctl/central/export/images/serialized_test_image.json
  roxctl/central/export/pods/pods_test.go
  roxctl/central/export/pods/serialized_test_pod.json
  roxctl/common/io/io.go
  roxctl/common/io/mocks/io.go
Labels: area/roxctl

#12044 ROX-25302: check for outdated proto.lock
  .github/CODEOWNERS
  Makefile
  proto/storage/proto.lock
Labels: area/ci

#12029 chore(ui): Add links to clusters for keyboard accessibility
  ui/apps/platform/src/Containers/Clusters/clustersTableColumnDescriptors.js
Labels: area/ui

#11946 fix(tests): Fix GKE version compatibility tests
  .openshift-ci/pre_tests.py
  qa-tests-backend/src/test/groovy/ProcessBaselinesTest.groovy
  qa-tests-backend/src/test/groovy/RuntimeViolationLifecycleTest.groovy
  scripts/ci/jobs/gke_version_compatibility_tests.py
  tests/e2e/lib.sh
Labels: area/ci

#11902 tests: Proto -> JSON serialization tests for roxctl other central cmds
  roxctl/central/debug/authz_trace_test.go
  roxctl/central/login/login_test.go
  roxctl/central/m2m/exchange/exchange_test.go
  roxctl/central/userpki/list/list_test.go
Labels: area/roxctl

#11903 tests: Proto -> JSON serialization tests for pkg/auth
  pkg/auth/authproviders/registry_httphandler.go
  pkg/auth/authproviders/registry_httphandler_test.go
  pkg/auth/authproviders/serialized_test_auth_status.json
  pkg/auth/user/util_test.go
Labels: area/auth

#12065 fix(be): Cherrypick changes in #11784 and #11385 to fix CVE-2024-37298 and CVE-2024-6104
  go.mod
  go.sum
Labels: backport

#12074 test: Run auto retest bot more often
  .github/workflows/retest_periodic.yml
Labels: area/ci

#11936 ROX-19731: Added duration metric for pruning images
  central/metrics/central.go
  central/metrics/init.go
  central/pruning/pruning.go
Labels: area/central

#12001 chore(ui): Add links to configmanagement for keyboard accessibility
  ui/apps/platform/src/Containers/ConfigManagement/ConfigMgmt.utils.ts
  ui/apps/platform/src/Containers/ConfigManagement/List/CISControls.js
  ui/apps/platform/src/Containers/ConfigManagement/List/Clusters.js
  ui/apps/platform/src/Containers/ConfigManagement/List/Deployments.js
  ui/apps/platform/src/Containers/ConfigManagement/List/Images.js
  ui/apps/platform/src/Containers/ConfigManagement/List/Namespaces.js
  ui/apps/platform/src/Containers/ConfigManagement/List/Nodes.js
  ui/apps/platform/src/Containers/ConfigManagement/List/Policies.js
  ui/apps/platform/src/Containers/ConfigManagement/List/Roles.js
  ui/apps/platform/src/Containers/ConfigManagement/List/Secrets.js
  ui/apps/platform/src/Containers/ConfigManagement/List/ServiceAccounts.js
  ui/apps/platform/src/Containers/ConfigManagement/List/Subjects.js
  ui/apps/platform/src/Containers/ConfigManagement/entities.ts
  ui/apps/platform/src/Containers/ConfigManagement/entityTabRelationships.js
  ui/apps/platform/src/Containers/ConfigManagement/entityTabRelationships.ts
  ui/apps/platform/src/constants/workflowPages.constants.js
  ui/apps/platform/src/constants/workflowPages.constants.ts
Labels: area/ui

#12048 chore(ui): Add links to vulnmanagement for keyboard accessibility
  ui/apps/platform/src/Containers/VulnMgmt/List/Clusters/VulnMgmtListClusters.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/VulnMgmtListCves.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Deployments/VulnMgmtListDeployments.js
  ui/apps/platform/src/Containers/VulnMgmt/List/ImageComponents/VulnMgmtListImageComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Images/VulnMgmtListImages.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Namespaces/VulnMgmtListNamespaces.js
  ui/apps/platform/src/Containers/VulnMgmt/List/NodeComponents/VulnMgmtListNodeComponents.js
  ui/apps/platform/src/Containers/VulnMgmt/List/Nodes/VulnMgmtListNodes.js
  ui/apps/platform/src/Containers/VulnMgmt/VulnMgmt.utils/entities.ts
Labels: area/ui

#12058 chore(ui): Add links to compliance tables for keyboard accessibility
  ui/apps/platform/cypress/integration/compliance/Compliance.selectors.js
  ui/apps/platform/src/Containers/Compliance/List/Table.js
  ui/apps/platform/src/Containers/Compliance/List/tableColumns.js
  ui/apps/platform/src/Containers/Compliance/List/tableColumns.test.js
Labels: area/ui

#12075 chore: Further simplify the PR template
  .github/pull_request_template.md
Labels: area/ci

#12068 tests: Propagate additional CA when using operator too.
  tests/ca_setup_test.go
  tests/e2e/lib.sh
  tests/e2e/yaml/central-cr-midstream.envsubst.yaml
  tests/e2e/yaml/central-cr-with-scanner-v4.envsubst.yaml
  tests/e2e/yaml/central-cr.envsubst.yaml
Labels: ci-all-qa-tests, auto-merge, auto-retest

#11933 ROX-25183: Mandatory go:build tags for go e2e tests
  Makefile
  scripts/prepend-go-build-to-tests.sh
  tests/Makefile
  tests/active_vuln_test.go
  tests/admctrl_configmap_test.go
  tests/api_kernel_support_available_test.go
  tests/api_test.go
  tests/backup_test.go
  tests/ca_setup_test.go
  tests/cert_test.go
  tests/client_ca_test.go
  tests/common.go
  tests/compliance_operator_test.go
  tests/container_instances_test.go
  tests/csv_utils.go
  tests/empty.go
  tests/endpoints_test.go
  tests/excluded_scopes_test.go
  tests/feature_flag_test.go
  tests/graphql_sorting_test.go
  tests/graphql_utils.go
  tests/http_to_https_test.go
  tests/metadata_test.go
  tests/options_test.go
  tests/pods_test.go
  tests/policy_test.go
  tests/versions_test.go
  tools/roxvet/analyzers/testtags/analyzer.go
  tools/roxvet/roxvet.go
Labels: team/maple, area/roxctl, area/auth, area/central, area/helm, area/operator, area/sensor, area/admission-controller, area/postgres, area/scanner

#12094 fix: call EqualVT in Equal
  pkg/protocompat/message.go
  pkg/protocompat/message_test.go
  pkg/protocompat/time.go
  pkg/protomock/mock_matcher.go
  pkg/protoutils/slices.go
Labels: auto-retest

#12087 test: less generic name, var->const
  tests/compliance_operator_test.go
Labels: auto-retest

#12022 chore: extract ImageMetadata cache
  central/enrichment/singleton.go
  central/image/service/service.go
  central/image/service/service_impl.go
  central/image/service/singleton.go
  central/policy/service/service.go
  central/policy/service/service_impl.go
  central/policy/service/singleton.go
  pkg/images/cache/imagemetadata.go
  pkg/images/enricher/enricher.go
  pkg/images/enricher/enricher_impl.go
  pkg/images/enricher/enricher_impl_test.go
Labels: area/central

#12088 test(roxctl): cleanup cluster entries when done
  tests/roxctl/bats-tests/cluster/deployment-bundles-psps.bats
  tests/roxctl/istio-support.sh
Labels: auto-retest

#12089 feat: Add WithContext to retry package.
  pkg/retry/retry.go
  pkg/retry/retry_test.go
Labels: auto-retest

#12041 tests(CI): do not build all arch for PRs
  .github/workflows/build.yaml
  .github/workflows/scanner-build.yaml
Labels: area/ci

#12115 tests: grab openshift-ingress logs too
  .openshift-ci/post_tests.py
Labels: area/ci, auto-retest

#12080 ROX-24401: Optional Quay token during operator bundle building
  scripts/ci/lib.sh
Labels: area/ci

#12099 fix: remove protocompat.Equal
  central/cluster/datastore/datastore_impl.go
  central/detection/alertmanager/alert_manager_impl.go
  central/graphql/resolvers/inputtypes/vuln_req_test.go
  central/group/service/service_impl.go
  central/networkpolicies/graph/diff_test.go
  central/risk/manager/manager.go
  central/sensor/service/pipeline/networkflowupdate/flow_store_updater_impl_test.go
  central/vulnmgmt/vulnerabilityrequest/utils/util.go
  migrator/migrations/m_179_to_m_180_openshift_policy_exclusions/postgres/policy_migrator.go
  migrator/migrations/m_192_to_m_193_report_config_migrations/migration_impl.go
  migrator/migrations/policymigrationhelper/policy_migrator.go
  pkg/protocompat/message.go
  pkg/protocompat/message_test.go
  pkg/protomock/mock_matcher.go
  pkg/protoutils/clone_test.go
  pkg/protoutils/slices.go
  pkg/search/postgres/store_cache.go
  sensor/common/sensor/central_communication_test.go
  sensor/common/sensor/helmconfig/load_test.go
  sensor/kubernetes/eventpipeline/resolver/resolver_test.go
  tests/admctrl_configmap_test.go
Labels: area/central, area/sensor, area/postgres
