Repository stackrox/stackrox, pull requests merged in 2024-01, with the labels that each got.

#9013 ROX-20126: compliance scan crd next gen compliance ingestion
  central/complianceoperator/scans/datastore/datastore.go
  central/complianceoperator/scans/datastore/mocks/datastore.go
  central/complianceoperator/v2/profiles/store/postgres/store.go
  central/complianceoperator/v2/scans/datastore/datastore.go
  central/complianceoperator/v2/scans/datastore/datastore_impl.go
  central/complianceoperator/v2/scans/datastore/datastore_impl_test.go
  central/complianceoperator/v2/scans/datastore/mocks/datastore.go
  central/complianceoperator/v2/scans/datastore/singleton.go
  central/complianceoperator/v2/scans/store/postgres/store.go
  central/complianceoperator/v2/scans/store/postgres/store_test.go
  central/convert/internaltostorage/compliance_operator_profile.go
  central/convert/internaltov1storage/compliance_operator_scan.go
  central/convert/internaltov2storage/compliance_operator_scan.go
  central/convert/testutils/compliance_scans.go
  central/sensor/service/connection/sensorevents.go
  central/sensor/service/pipeline/complianceoperatorscans/pipeline.go
  central/sensor/service/pipeline/complianceoperatorscans/pipeline_test.go
  generated/internalapi/central/compliance_operator.pb.go
  generated/internalapi/central/sensor_events.pb.go
  generated/storage/compliance_operator_v2.pb.go
  pkg/postgres/schema/compliance_operator_profile_v2.go
  pkg/postgres/schema/compliance_operator_scan_v2.go
  proto/internalapi/central/compliance_operator.proto
  proto/internalapi/central/sensor_events.proto
  proto/storage/compliance_operator_v2.proto
  proto/storage/proto.lock
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorresults.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorscans.go
  tools/generate-helpers/pg-table-bindings/list.go
  tools/generate-helpers/pg-table-bindings/resource_type_test.go
Labels: area/central, area/sensor, area/postgres, epic/compliance-2.0/mvp

#9154 ROX-20716: Enable history for ClusterEntities Store
  pkg/env/integersetting.go
  sensor/common/clusterentities/entity_status.go
  sensor/kubernetes/listener/resources/env.go
  sensor/kubernetes/listener/resources/store_provider.go
Labels: ci-all-qa-tests, area/sensor

#9191 chore(tlsconfig): reduce log noise
  central/tlsconfig/tlsconfig.go
Labels: area/central

#8918 chore(ui): hook up compliance integrations
  ui/apps/platform/src/Containers/ComplianceEnhanced/MockData/complianceProfileServiceMocks.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ClusterSelection.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ReviewConfig.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/Wizard/ScanConfigWizardForm.tsx
  ui/apps/platform/src/services/ComplianceEnhancedService.ts
Labels: area/ui, epic/compliance-2.0/mvp

#9161 chore(scanner): create dev vuln updater
  .github/workflows/scanner-dev-vuln-update.yaml
  .github/workflows/scanner-pr-vuln-update.yaml
  .github/workflows/scanner-release-vuln-update.yaml
Labels: area/ci, pr-update-scanner-vulns

#9186 ROX-18375: [Tests] Set core_bpf a default collection method
  central/clusters/deployer_test.go
  deploy/README.md
  deploy/common/env.sh
  deploy/k8s/deploy-local.sh
  pkg/fixtures/cluster.go
  qa-tests-backend/helm/values.k8s.yaml
  qa-tests-backend/helm/values.openshift.yaml
  sensor/common/sensor/helmconfig/load_test.go
  tests/e2e/lib.sh
Labels: area/central, area/sensor

#9193 fix(CI): send the scheduled report to the correct channel
  .github/workflows/ci-failures-report.yml
  scripts/ci/metrics.sh
Labels: area/ci

#8916 ROX-21048: Fixed report prunning sql query
  central/postgres/pruning.go
  central/postgres/report_pruning_test.go
Labels: area/central

#9057 ROX-21524: next gen compliance sac 1 of 3
  central/complianceoperator/v2/checkresults/datastore/datastore_impl.go
  central/complianceoperator/v2/checkresults/datastore/datastore_impl_test.go
  central/complianceoperator/v2/checkresults/datastore/search/search_impl.go
  central/complianceoperator/v2/checkresults/store/postgres/store.go
  central/complianceoperator/v2/checkresults/store/postgres/store_test.go
  central/complianceoperator/v2/compliancemanager/manager_impl_test.go
  central/complianceoperator/v2/integration/datastore/datastore_impl.go
  central/complianceoperator/v2/integration/datastore/datastore_impl_test.go
  central/complianceoperator/v2/integration/service/convert.go
  central/complianceoperator/v2/integration/service/convert_test.go
  central/complianceoperator/v2/integration/service/service_impl_test.go
  central/complianceoperator/v2/integration/store/postgres/store.go
  central/complianceoperator/v2/integration/store/postgres/store_test.go
  central/complianceoperator/v2/profiles/datastore/datastore_impl.go
  central/complianceoperator/v2/profiles/datastore/datastore_impl_test.go
  central/complianceoperator/v2/profiles/datastore/search/search_impl.go
  central/complianceoperator/v2/profiles/profileclusteredge/store/postgres/store.go
  central/complianceoperator/v2/profiles/store/postgres/store.go
  central/complianceoperator/v2/profiles/store/postgres/store_test.go
  central/complianceoperator/v2/rules/store/postgres/store.go
  central/complianceoperator/v2/rules/store/postgres/store_test.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl_test.go
  central/complianceoperator/v2/scanconfigurations/datastore/search/search_impl.go
  central/complianceoperator/v2/scanconfigurations/scanconfigstatus/store/postgres/store.go
  central/complianceoperator/v2/scanconfigurations/scanconfigstatus/store/postgres/store_test.go
  central/complianceoperator/v2/scanconfigurations/store/postgres/store.go
  central/complianceoperator/v2/scanconfigurations/store/postgres/store_test.go
  central/sensor/service/pipeline/complianceoperator/complianceoperatorinfo/pipeline.go
  central/sensor/service/pipeline/complianceoperator/complianceoperatorinfo/pipeline_test.go
  generated/storage/compliance_integration.pb.go
  pkg/postgres/schema/compliance_integrations.go
  pkg/postgres/schema/compliance_operator_check_result_v2.go
  pkg/postgres/schema/compliance_operator_cluster_scan_config_statuses.go
  pkg/postgres/schema/compliance_operator_profile_cluster_edges.go
  pkg/postgres/schema/compliance_operator_profile_v2.go
  pkg/postgres/schema/compliance_operator_rule_v2.go
  pkg/postgres/schema/compliance_operator_scan_configuration_v2.go
  proto/storage/compliance_integration.proto
  proto/storage/proto.lock
  tools/generate-helpers/pg-table-bindings/list.go
  tools/generate-helpers/pg-table-bindings/resource_type_test.go
Labels: area/auth, area/central, area/postgres, epic/compliance-2.0/mvp

#9081 ROX-20835: Red Hat CVSS score ADR
  scanner/decisions/0007-redhat-cvss-scores.md
Labels: area/scanner

#9113 test(ui): Adding table related tests for pending requests flow
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/ExceptionManagement.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/ExceptionManagement.selectors.js
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/pendingRequestsTable.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
Labels: area/ui

#6832 ROX-18313: Introduce compliance v2 integration test suite
  scripts/ci/jobs/ocp_compliance_e2e_tests.py
  tests/Makefile
  tests/compliance_operator_v2_test.go
  tests/complianceoperator/README.md
  tests/e2e/lib.sh
  tests/e2e/run-compliance-e2e.sh
  tests/e2e/run.sh
  tests/e2e/yaml/compliance-operator/nist-moderate.yaml
  tests/e2e/yaml/compliance-operator/rhcos4-moderate.yaml
Labels: epic/compliance-2.0/mvp

#9192 chore(ui): Compliance v2 – combine results and config
  ui/apps/platform/cypress/integration/compliance-enhanced/ComplianceEnhanced.helpers.js
  ui/apps/platform/cypress/integration/compliance-enhanced/complianceEnhancedScanConfigs.test.js
  ui/apps/platform/src/Components/TabNav/TabNav.tsx
  ui/apps/platform/src/Components/TabNav/TabNavHeader.tsx
  ui/apps/platform/src/Components/TabNav/TabNavSubHeader.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessControlNav.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ClusterComplianceHeader.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ClusterCompliancePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/Coverage/CoveragePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/Coverage/CoveragesPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/CreateScanConfigPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/ScanConfigsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/Table/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/Wizard/ClusterSelection.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/Wizard/ProfileSelection.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/Wizard/ReviewConfig.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/Wizard/ScanConfigOptions.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/Wizard/ScanConfigWizardFooter.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/Wizard/ScanConfigWizardForm.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/Wizard/useFormikScanConfig.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/compliance.scanConfigs.utils.ts
  ui/apps/platform/src/Containers/ComplianceEnhanced/ComplianceEnhancedPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/ScanConfigPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ScanConfigs/ScanConfigsHeader.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTablePage.tsx
  ui/apps/platform/src/Containers/PolicyManagement/PolicyManagementHeader.tsx
  ui/apps/platform/src/routePaths.ts
Labels: area/ui

#9212 chore(scanner): add --index-only flag to scannerctl scan
  scanner/cmd/scannerctl/main.go
Labels: area/scanner

#9218 ROX-21469: Remove error message onBlur from watched images modal
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WatchedImages/WatchedImagesForm.tsx
Labels: area/ui

#9140 chore(ui): Create config for ui-component CI job
  Makefile
  scripts/ci/jobs/ui-component-tests.sh
  ui/apps/platform/package.json
  ui/apps/platform/scripts/cypress-component.sh
Labels: area/ui

#8906 ROX-21463: Fetch repository mapping data in new Scanner
  go.mod
  scanner/config.yaml.sample
  scanner/config/config.go
  scanner/indexer/indexer.go
  scanner/indexer/indexer_test.go
Labels: area/scanner

#9204 ROX-21370: Remove the check for empty creds in notifiers
  central/notifiers/awssh/notifier.go
  central/notifiers/email/email.go
  central/notifiers/generic/generic.go
  central/notifiers/jira/jira.go
  central/notifiers/pagerduty/pagerduty.go
  central/notifiers/splunk/splunk.go
Labels: area/central

#9226 Fix start date is future dates error
  .github/workflows/scripts/scanner-update-nvd.py
Labels: area/ci

#9225 Conditional for indexer config
  image/templates/helm/shared/config-templates/scanner-v4/indexer-config.yaml.tpl
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner-v4.test.yaml
Labels: area/helm

#9227 fix(scanner): git diff correct go.mod/go.sum files
  .github/workflows/scanner-release-vuln-update.yaml
  scanner/Makefile
  scanner/updater/version/RELEASE_VERSION
Labels: area/scanner, area/ci

#9160 chore: No undeferred mutex unlocks
  central/deployment/store/cache/cache.go
  central/graphql/resolvers/loaders/images.go
  central/graphql/resolvers/loaders/nodes.go
  central/pod/store/cache/cache.go
  pkg/concurrency/keyed_mutex.go
  pkg/concurrency/keyed_rw_mutex.go
  pkg/concurrency/lock.go
  pkg/concurrency/value_stream_bench_test.go
  pkg/grpc/server.go
  pkg/maputil/maputil.go
  pkg/protoreflect/descriptors.go
  pkg/retry/handler/unconfirmed_message_handler_test.go
  pkg/sync/mutex_dev.go
  pkg/telemetry/phonehome/gatherer.go
  pkg/throttle/drop_throttle.go
  sensor/common/compliance/auditlog_manager_impl.go
  sensor/debugger/central/communicate_server.go
  tools/roxvet/analyzers/undeferredmutexunlocks/analyzer.go
  tools/roxvet/roxvet.go
Labels: area/central, area/sensor

#9157 chore(ui): Convert legacy component tests to Cypress
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.cy.jsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.test.tsx
  ui/apps/platform/src/Containers/Dashboard/ScopeBar.cy.jsx
  ui/apps/platform/src/Containers/Dashboard/ScopeBar.test.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/AgingImages.cy.jsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ComplianceLevelsByStandard.cy.jsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ImagesAtMostRisk.cy.jsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ImagesAtMostRisk.test.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicyCategory.cy.jsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicyCategory.test.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicySeverity.cy.jsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicySeverity.test.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/FilterAutocomplete.cy.jsx
  ui/apps/platform/src/test-utils/ComponentProviders.tsx
  ui/apps/platform/src/test-utils/apiEndpoints.ts
  ui/apps/platform/src/test-utils/mocks/@patternfly/react-charts.tsx
  ui/apps/platform/src/test-utils/mocks/@patternfly/react-core.tsx
  ui/apps/platform/src/test-utils/queryUtils.ts
Labels: area/ui

#9236 chore(ui): Enable eslint for cypress component tests
  ui/apps/platform/eslint.config.js
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.cy.jsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicySeverity.cy.jsx
Labels: area/ui

#9241 ROX-21437: Fix test failures due to newline character in deploy name
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageCveSingle.test.js
Labels: area/ui, 99papercuts

#9209 ROX-21495: logging improvements
  pkg/scannerv4/client/client.go
  scanner/indexer/indexer.go
  scanner/indexer/remote.go
  scanner/matcher/matcher.go
  scanner/services/indexer.go
  scanner/services/matcher.go
Labels: area/scanner

#9228 fix(perf): Add toggle to disable process baseline risk
  central/risk/multipliers/deployment/process_baseline_violations.go
  pkg/env/process_baseline_risk.go
Labels: area/central

#9210 chore(scanner): return boolean response in HasIndexReport
  generated/internalapi/scanner/v4/indexer_service.pb.go
  proto/internalapi/scanner/v4/indexer_service.proto
  proto/internalapi/scanner/v4/matcher_service.proto
  scanner/services/indexer.go
  scanner/services/indexer_test.go
Labels: area/scanner

#9243 chore(scanner): fix style in RHEL updater
  scanner/updater/rhel/fetch_test.go
  scanner/updater/rhel/parse_test.go
  scanner/updater/rhel/rhel.go
  scanner/updater/rhel/updaterset.go
Labels: area/scanner

#8979 fix(perf): Constrain flows to deployment destinations
  central/compliance/checks/common/checks.go
  central/compliance/checks/hipaa_164/check308a1iia/check_test.go
  central/compliance/checks/pcidss32/check225/check.go
  central/compliance/checks/pcidss32/check225/check_test.go
  central/compliance/data/repository.go
  central/compliance/framework/data.go
  central/compliance/framework/mocks/data.go
  central/networkgraph/flow/datastore/internal/store/postgres/store_test.go
Labels: area/central

#9101 feat(scannerctl): scale test support
  scanner/cmd/scannerctl/authn/auth.go
  scanner/cmd/scannerctl/main.go
  scanner/cmd/scannerctl/scale.go
  scanner/cmd/scannerctl/scan.go
Labels: area/scanner

#9229 fix(perf): Optimize image pruning selection
  central/pruning/pruning.go
Labels: area/central

#9012 ROX-21051: Buffer network flow updates
  pkg/env/sensor.go
  sensor/common/metrics/init.go
  sensor/common/metrics/metrics.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/networkflow/manager/manager_impl_test.go
  sensor/common/networkflow/manager/testing_test.go
Labels: team/maple, area/sensor

#8975 refactor: use Postgres returning keyword to echo back removed IDs
  pkg/search/postgres/common.go
  pkg/search/postgres/common_test.go
  pkg/search/postgres/querytype_string.go
  pkg/search/postgres/store.go
  pkg/search/postgres/store_test.go
Labels: area/postgres

#9188 ROX-18375: [Helm] Set core_bpf a default collection method
  image/templates/helm/stackrox-secured-cluster/README.md.htpl
  image/templates/helm/stackrox-secured-cluster/internal/defaults/30-base-config.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/values-public.yaml.example
  image/templates/helm/stackrox-secured-cluster/values.yaml.htpl
  pkg/helm/config/testdata/helm-chart-configurations/simple.yaml
  pkg/renderer/kubernetes_helm_test.go
Labels: area/helm

#9249 fix(docs): [99papercuts] Fix typo in sentence
  image/templates/helm/stackrox-central/values.yaml.htpl
Labels: area/helm, 99papercuts

#9062 ROX-21039: Coordinate Scanner V4 / Clairify Interactions
  central/enrichment/integration.go
  central/imageintegration/datastore/singleton.go
  central/imageintegration/datastore/singleton_test.go
  central/imageintegration/service/service_impl.go
  central/imageintegration/service/service_impl_test.go
  central/imageintegration/store/defaults.go
  central/risk/manager/manager.go
  central/risk/manager/manager_test.go
  central/risk/manager/singleton.go
  central/sensor/service/pipeline/nodeinventory/two_pipelines_test.go
  pkg/env/sensor.go
  pkg/features/list.go
  pkg/images/enricher/enricher_impl.go
  pkg/scanners/clair/clair.go
  pkg/scanners/clairify/clairify.go
  pkg/scanners/clairv4/clairv4.go
  pkg/scanners/factory.go
  pkg/scanners/google/google.go
  pkg/scanners/quay/quay.go
  pkg/scanners/scannerv4/scannerv4.go
  pkg/scanners/set_impl.go
  pkg/scanners/set_impl_test.go
  pkg/scanners/types/types.go
  pkg/testutils/feature_flag.go
  sensor/common/scannerclient/singleton.go
Labels: area/central, area/sensor

#9171 fix: remove deprecated license service
  central/license/service/service.go
  central/license/service/service_impl.go
  central/main.go
  generated/api/v1/license_service.pb.go
  generated/api/v1/license_service.pb.gw.go
  generated/api/v1/license_service.swagger.json
  generated/shared/license/license.pb.go
  generated/storage/license.pb.go
  pkg/telemetry/data/central.go
  proto/api/v1/license_service.proto
  proto/shared/license/license.proto
  proto/storage/license.proto
  proto/storage/proto.lock
  tools/generate-helpers/pg-table-bindings/list.go
  tools/generate-helpers/pg-table-bindings/resource_type_test.go
Labels: area/central, area/postgres

#9233 ROX-21580: store scan name in compliance operator check result
  central/complianceoperator/v2/checkresults/datastore/datastore_impl.go
  central/complianceoperator/v2/checkresults/datastore/datastore_impl_test.go
  central/complianceoperator/v2/checkresults/store/postgres/store.go
  central/complianceoperator/v2/compliancemanager/manager_impl.go
  central/complianceoperator/v2/compliancemanager/manager_impl_test.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl_test.go
  central/complianceoperator/v2/scanconfigurations/service/convert.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  central/complianceoperator/v2/scanconfigurations/store/postgres/store.go
  central/complianceoperator/v2/scans/store/postgres/store.go
  central/convert/internaltov2storage/compliance_check_results.go
  central/sensor/service/pipeline/complianceoperatorresults/pipeline_test.go
  generated/storage/compliance_operator_v2.pb.go
  pkg/postgres/schema/compliance_operator_check_result_v2.go
  pkg/postgres/schema/compliance_operator_scan_configuration_v2.go
  pkg/postgres/schema/compliance_operator_scan_v2.go
  pkg/search/options.go
  proto/storage/compliance_operator_v2.proto
  proto/storage/proto.lock
Labels: area/central, area/postgres, epic/compliance-2.0/mvp

#9202 ROX-20871: Support notifier rekeying
  central/notifier/datastore/datastore.go
  central/notifier/datastore/datastore_impl.go
  central/notifier/datastore/internal/store/mocks/store.go
  central/notifier/datastore/internal/store/store.go
  central/notifier/datastore/mocks/datastore.go
  central/notifier/processor/singleton.go
  central/notifier/service/service_impl.go
  central/notifiers/utils/encryption.go
Labels: area/central

#9206 ROX-20910: Add more flake-reduction for Workload CVE tests
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageCveSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadTableToolbar.test.js
  ui/apps/platform/src/Components/PatternFly/SearchFilterChips.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadTableToolbar.cy.jsx
  ui/apps/platform/src/test-utils/ComponentProviders.tsx
Labels: area/ui

#9064 chore: set memory limit during runtime
  CHANGELOG.md
  central/main.go
  compliance/collection/main.go
  image/templates/helm/shared/templates/02-scanner-06-deployment.yaml.htpl
  image/templates/helm/shared/templates/02-scanner-v4-07-indexer-deployment.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-matcher-deployment.yaml
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
  operator/tests/central/central-misc/80-assert-non-openshift.yaml
  operator/tests/central/central-misc/80-assert-openshift.yaml
  operator/tests/central/central-misc/81-assert-non-openshift.yaml
  operator/tests/central/central-misc/81-assert-openshift.yaml
  pkg/memlimit/memlimit.go
  pkg/memlimit/memlimit_test.go
  scanner/cmd/scanner/main.go
  scanner/e2etests/helmchart/templates/scanner-deployment.yaml
  sensor/admission-control/main.go
  sensor/kubernetes/main.go
Labels: area/central, area/helm, area/operator, area/sensor, area/admission-controller, area/scanner

#9109 ROX-21054: process indicators offline v3
  pkg/channelmultiplexer/channelmultiplexer.go
  pkg/env/sensor.go
  sensor/common/metrics/init.go
  sensor/common/metrics/metrics.go
  sensor/common/processsignal/enricher.go
  sensor/common/processsignal/pipeline.go
  sensor/common/processsignal/pipeline_test.go
  sensor/kubernetes/sensor/sensor.go
Labels: team/maple, area/sensor

#9128 ROX-19048: Integrate Scanner V4 into secured-clusters Chart
  image/templates/helm/shared/templates/00-storage-class.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-db-deployment.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-indexer-deployment.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-matcher-deployment.yaml
  image/templates/helm/stackrox-central/internal/expandables.yaml.htpl
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/.helmtplignore.htpl
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/internal/defaults/50-images.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/internal/defaults/70-scanner-v4.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/internal/expandables.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/NOTES.txt.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/values-scanner-v4-indexer.yaml.example
  image/templates/helm/stackrox-secured-cluster/values-scanner.yaml.example
  pkg/helm/charts/tests/securedclusterservices/testdata/all-values-explicit.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-slim.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-v4.test.yaml
Labels: area/helm, area/sensor, area/scanner

#9269 ROX-21619: Cosmetic Improvements for Helm Chart post-Install Notes
  image/templates/helm/stackrox-central/templates/NOTES.txt.htpl
Labels: area/helm, 99papercuts

#9187 ROX-18375: [Central] Set core_bpf a default collection method
  central/cluster/datastore/datastore_impl.go
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.tsx
Labels: area/central, area/ui

#9270 chore(helm-charts): Quote Image refs to make rendering less fragile
  image/templates/helm/stackrox-secured-cluster/internal/defaults/50-images.yaml.htpl
Labels: area/helm, 99papercuts

#9265 ROX-21271: Add error handling to violations page exclusions action
  ui/apps/platform/src/Containers/Policies/Detail/PolicyDetail.tsx
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTablePage.tsx
  ui/apps/platform/src/Containers/PolicyCategories/PolicyCategoriesPage.tsx
  ui/apps/platform/src/Containers/Violations/Modals/ExcludeConfirmation.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePanel.tsx
  ui/apps/platform/src/hooks/patternfly/useToasts.tsx
  ui/apps/platform/src/types/alert.proto.ts
Labels: area/ui, 99papercuts

#9261 ROX-20936: Fix 'too_many_pings' in Compliance
  pkg/clientconn/client.go
Labels: team/maple, turbo-build, 99papercuts

#9214 feat(kind): Add kind support
  Makefile
  deploy/README.md
  deploy/common/k8sbased.sh
Labels: 99papercuts

#9285 ROX-20049: Bump retry subscription
  operator/hack/common.sh
Labels: area/operator, 99papercuts

#8827 refactor: Use store cache for pod datastore
  central/pod/datastore/datastore.go
  central/pod/datastore/datastore_impl.go
  central/pod/datastore/datastore_impl_real_test.go
  central/pod/datastore/datastore_impl_test.go
  central/pod/datastore/datastore_test_constructors.go
  central/pod/datastore/internal/search/searcher.go
  central/pod/datastore/internal/search/searcher_impl.go
  central/pod/datastore/internal/store/mocks/store.go
  central/pod/datastore/internal/store/postgres/gen.go
  central/pod/datastore/internal/store/postgres/index.go
  central/pod/datastore/internal/store/postgres/store.go
  central/pod/datastore/internal/store/postgres/store_test.go
  central/pod/datastore/internal/store/store.go
  central/pod/store/cache/cache.go
  central/pod/store/postgres/gen.go
Labels: area/central, area/postgres

#9257 ROX-7401: Change entity not found logs
  sensor/common/detector/detector.go
  sensor/common/metrics/init.go
  sensor/common/metrics/metrics.go
Labels: team/maple, area/sensor, 99papercuts

#9230 chore(CI): misc JUNIT fixes
  qa-tests-backend/scripts/run-compatibility.sh
  qa-tests-backend/scripts/run-part-1.sh
  qa-tests-backend/scripts/run-part-2.sh
  qa-tests-backend/src/test/groovy/GraphQLResourcePaginationTest.groovy
  scripts/ci/lib.sh
  tests/upgrade/legacy_to_postgres_run.sh
  tests/upgrade/lib.sh
  tests/upgrade/postgres_run.sh
Labels: 99papercuts

#9164 feat(CI): improve SuspiciousLog failure reporting
  .openshift-ci/post_tests.py
  scripts/ci/collect-service-logs.sh
  scripts/ci/logcheck/check.sh
  tests/e2e/bats/check_for_errors_in_stackrox_logs.bats
  tests/e2e/bats/fixtures/IDs-check-output.txt
  tests/e2e/bats/fixtures/addrs-check-output.txt
  tests/e2e/bats/fixtures/image-fetch-error-check-output.txt
  tests/e2e/bats/fixtures/long-logs-check-output.txt
  tests/e2e/bats/fixtures/panic-log-check-output.txt
  tests/e2e/bats/summarize_check_output.bats
  tests/e2e/lib.sh
Labels: area/ci, ci-test-junit-processing

#9224 ROX-21569: Add repo mapping URL to indexer config
  image/templates/helm/shared/config-templates/scanner-v4/indexer-config.yaml.tpl
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner-v4.test.yaml
Labels: area/helm

#9203 refactor: Update fieldname for cves in FalsePositiveUpdate req
  central/convert/storagetov2/vuln_exception_service.go
  central/convert/v2tostorage/vuln_exception_service.go
  generated/api/v2/vuln_exception_service.pb.go
  proto/api/v2/vuln_exception_service.proto
Labels: area/central, epic/vm2.0/unified-deferral

#9276 fix(scannerv4): Add ScannerV4 Component to TLS Hostname(s)
  image/templates/helm/shared/templates/_scanner-v4_init.tpl.htpl
Labels: area/helm

#9293 chore(scanner): use postgres 15 for s390x
  scanner/image/db/download.sh
Labels: area/scanner

#9185 ROX-21373: Return RHEL CVSS scores in Vulnerability Reports
  generated/internalapi/scanner/v4/vulnerability_report.pb.go
  pkg/scanners/scannerv4/convert.go
  proto/internalapi/scanner/v4/vulnerability_report.proto
  scanner/mappers/mappers.go
  scanner/mappers/mappers_test.go
Labels: area/scanner

#9240 test(ui): Adding sorting and filtering tests for pending requests
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/ExceptionManagement.selectors.js
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/pendingRequestsTable.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/vulnerabilities.selectors.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/cveListExceptionFlow.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/deploymentSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageCveSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/watchedImagesFlow.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.js
Labels: area/ui

#9283 ROX-15885: Add retry to get-github-release calls
  operator/hack/get-github-release.sh
Labels: area/operator, 99papercuts

#9061 chore(ui): add notifier STS integration tests
  deploy/common/env.sh
  deploy/common/k8sbased.sh
  tests/e2e/lib.sh
  ui/apps/platform/cypress/integration/integrations/notifiers.test.js
Labels: area/ui

#9281 chore(cleanup): Remove unused code in the endpointManager
  sensor/kubernetes/eventpipeline/resolver/resolver_impl.go
  sensor/kubernetes/listener/resources/endpoints.go
Labels: team/maple, area/sensor, 99papercuts

#9151 ROX-21198: Enrich deployments with Network Policies in Central
  central/detection/service/service.go
  central/detection/service/service_impl.go
  central/detection/service/service_impl_test.go
  central/detection/service/singleton.go
  pkg/images/enricher/enricher.go
  pkg/protoconv/resources/resources.go
  pkg/protoconv/resources/resources_test.go
Labels: team/maple, area/central

#9216 refactor: use store cache for ProcessBaseline datastore
  central/processbaseline/datastore/datastore.go
  central/processbaseline/datastore/datastore_impl_test.go
  central/processbaseline/datastore/datastore_test_constructors.go
  central/processbaseline/datastore/singleton.go
  central/processbaseline/service/service_impl_test.go
  central/processbaseline/store/postgres/cache.go
  central/processbaseline/store/postgres/gen.go
  central/processbaseline/store/postgres/store.go
  central/processbaseline/store/postgres/store_cache_test.go
  pkg/search/postgres/store_cache.go
Labels: area/central, area/postgres

#9282 feat(logs): adjust message on incorrect ClusterID failure
  pkg/centralsensor/init_cert.go
Labels: team/maple, 99papercuts

#9312 fix(proto): backwards compatibability issues from PR9114
  generated/internalapi/central/compliance_operator.pb.go
  proto/internalapi/central/compliance_operator.proto
Labels: epic/compliance-2.0/mvp

#9298 fix(CI): gke-version-compat-test: use a clean dir for each version
  .openshift-ci/compatibility_test.py
  scripts/ci/jobs/gke_version_compatibility_tests.py
Labels: area/ci

#8770 refactor: migrate deployments to generated cached store
  central/deployment/datastore/datastore.go
  central/deployment/datastore/datastore_impl.go
  central/deployment/datastore/datastore_impl_test.go
  central/deployment/datastore/datastore_test_constructors.go
  central/deployment/datastore/internal/search/searcher_impl_v2.go
  central/deployment/datastore/internal/store/mocks/store.go
  central/deployment/datastore/internal/store/postgres/full_store.go
  central/deployment/datastore/internal/store/postgres/gen.go
  central/deployment/datastore/internal/store/postgres/index.go
  central/deployment/datastore/internal/store/postgres/store.go
  central/deployment/datastore/internal/store/postgres/store_test.go
  central/deployment/datastore/internal/store/store.go
  central/deployment/datastore/internal/store/types/types.go
  central/deployment/datastore/test/datastore_sac_test.go
  central/deployment/datastore/test/test.go
  central/deployment/store/cache/cache.go
  central/deployment/store/postgres/gen.go
  central/graphql/resolvers/test_setup_utils.go
Labels: area/central, area/postgres

#9287 ROX-21624: Rename Scanner v4 Feature Flags
  central/imageintegration/datastore/singleton.go
  central/imageintegration/datastore/singleton_test.go
  central/risk/manager/manager.go
  central/risk/manager/manager_test.go
  deploy/common/k8sbased.sh
  image/templates/helm/stackrox-central/.helmtplignore.htpl
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/internal/expandables.yaml.htpl
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml.htpl
  image/templates/helm/stackrox-central/templates/NOTES.txt.htpl
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/.helmtplignore.htpl
  image/templates/helm/stackrox-secured-cluster/internal/defaults/50-images.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/internal/defaults/70-scanner-v4.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/internal/expandables.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/NOTES.txt.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
  pkg/features/list.go
  pkg/helm/charts/tests/centralservices/helmtest_test.go
  pkg/scanners/factory.go
  sensor/common/scannerclient/singleton.go
  tests/e2e/lib.sh
  tests/e2e/run-scanner-v4.bats
Labels: area/central, area/helm, area/sensor

#8990 chore(perf): Make data repo creation async in Compliance
  central/compliance/manager/data_promise.go
  central/compliance/manager/manager_impl.go
Labels: area/central

#9324 ROX-20669: Remove `react-numeric-input` from package.json
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui, 99papercuts

#9296 feat(scanner): Calculate scores when parsing CVSS vectors
  pkg/cvss/cvssv2/cvss.go
  pkg/cvss/cvssv2/cvss_test.go
  pkg/cvss/cvssv2/testdata/cvss.v2.samples
  pkg/cvss/cvssv3/cvss.go
  pkg/cvss/cvssv3/cvss_test.go
  pkg/cvss/cvssv3/testdata/cvss.v3.1.samples
  pkg/mathutil/round.go
  pkg/scanners/scannerv4/convert.go
Labels: area/central, area/scanner

#9272 ROX-18526: add fine-grained authorization to Scanner v4 endpoints
  pkg/grpc/authz/idcheck/id_check.go
  scanner/services/indexer.go
  scanner/services/indexer_test.go
  scanner/services/matcher.go
  scanner/services/matcher_test.go
Labels: area/scanner

#9313 chore(Makefile): Fix Makefile
  Makefile
Labels: 99papercuts

#9315 ROX-21220: Improve the slack message for GHA failures
  .github/workflows/build.yaml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
  scripts/ci/lib.sh
Labels: area/ui, area/ci, 99papercuts, ci-test-github-action-slack-messages

#9302 ROX-21370: Skip decrypting creds in unauthenticated notifiers (part 2)
  central/notifiers/email/email.go
  central/notifiers/generic/generic.go
Labels: area/central

#9308 feat(deploy-scripts): Add customizations to Helm chart deploy scripts
  deploy/README.md
  deploy/common/k8sbased.sh
Labels: 99papercuts

#9331 ROX-21370: Remove the check for empty creds in notifiers (#9204)
  central/notifiers/awssh/notifier.go
  central/notifiers/email/email.go
  central/notifiers/generic/generic.go
  central/notifiers/jira/jira.go
  central/notifiers/pagerduty/pagerduty.go
  central/notifiers/splunk/splunk.go
Labels: area/central

#9262 ROX-21610: reduce resource requests for local deploy
  deploy/common/central-db-local-patch.yaml
  deploy/common/central-local-patch.yaml
  deploy/common/env.sh
  deploy/common/k8sbased.sh
  deploy/common/scanner-local-patch.yaml
  deploy/k8s/deploy-local.sh
  deploy/openshift/deploy-local.sh
Labels: 99papercuts

#9238 ROX-21595: Add can user trigger cert update to central-capabilities
  central/metadata/centralcapabilities/centralcapabilities.go
  central/metadata/service/service_impl_test.go
  generated/api/v1/metadata_service.pb.go
  generated/api/v1/metadata_service.swagger.json
  proto/api/v1/metadata_service.proto
  ui/apps/platform/src/Containers/MainPage/Banners/CredentialExpiryBanner.tsx
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
  ui/apps/platform/src/services/MetadataService.ts
Labels: area/central, area/ui

#9292 chore(ui): Remove duplicate rendering of NG simulator sidebar
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphContainer.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.css
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
Labels: area/ui, 99papercuts

#9306 ROX-21202: Add fallback to non-enhanced Deployments
  central/detection/service/service_impl.go
  central/sensor/service/pipeline/enhancements/pipeline.go
Labels: team/maple, area/central

#9005 ROX-18448, ROX-18449: Sensor workflow to suspend and resume scan
  generated/internalapi/central/compliance_operator.pb.go
  proto/internalapi/central/compliance_operator.proto
  sensor/kubernetes/complianceoperator/handler_impl.go
  sensor/kubernetes/complianceoperator/handler_impl_test.go
  sensor/kubernetes/complianceoperator/utils.go
Labels: area/sensor, epic/compliance-2.0/mvp

#9189 ROX-18375: [Operator] Set core_bpf a default collection method
  operator/apis/platform/v1alpha1/securedcluster_types.go
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
Labels: area/operator

#9327 fix(scanner): allow scanner v4 access to scannerdefinitions endpoint
  central/main.go
  pkg/grpc/authz/idcheck/id_check.go
  pkg/grpc/authz/or/or.go
Labels: area/central

#9330 Update stackrox-operator base image for 3.74 releases
  operator/Dockerfile
Labels: area/operator

#9260 fix(dependabot): group actions update
  .github/dependabot.yaml
Labels: area/ci

#9345 fix(scanner): Set Alpine Version from VersionID
  scanner/mappers/mappers.go
  scanner/mappers/mappers_test.go
Labels: area/scanner

#9322 ROX-21519: make the Scanner v4 client max response size configurable
  pkg/env/scannerv4.go
  pkg/scannerv4/client/client.go
  scanner/indexer/remote.go
Labels: area/scanner

#9323 ROX-21616: Use NVD CVSS scores enrichments and OSV CVSS scores
  scanner/mappers/mappers.go
  scanner/mappers/mappers_test.go
Labels: area/scanner

#9182 ROX-21395: add namespace to the listening endpoints table
  central/pod/datastore/datastore_impl_real_test.go
  central/processlisteningonport/datastore/datastore.go
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/datastore/datastore_impl_test.go
  central/processlisteningonport/datastore/mocks/datastore.go
  central/processlisteningonport/store/postgres/full_store.go
  central/processlisteningonport/store/postgres/store.go
  central/processlisteningonport/store/postgres/store_test.go
  central/sensor/service/pipeline/processlisteningonport/pipeline.go
  generated/api/v1/process_listening_on_port_service.swagger.json
  generated/storage/process_listening_on_port.pb.go
  pkg/postgres/schema/listening_endpoints.go
  proto/storage/process_listening_on_port.proto
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
  sensor/common/networkflow/manager/manager_impl.go
  tools/generate-helpers/pg-table-bindings/resource_type_test.go
Labels: area/central, area/sensor, area/postgres, do-not-merge

#9310 fix(scanv4): Skip deploying Scanner v4 components if central is already deployed.
  image/templates/helm/shared/templates/_scanner-v4_init.tpl.htpl
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
Labels: area/helm

#9332 fix(Makefile): Redirect kind error output to /dev/null
  Makefile
Labels: 99papercuts

#9220 ROX-21622: Make operator able to replace central TLS leaf cert
  operator/pkg/central/extensions/reconcile_admin_password.go
  operator/pkg/central/extensions/reconcile_central_db_password.go
  operator/pkg/central/extensions/reconcile_tls.go
  operator/pkg/central/extensions/reconcile_tls_test.go
  operator/pkg/common/extensions/reconcile_scanner_db_password.go
  operator/pkg/common/extensions/secret_reconciliator.go
  operator/pkg/common/extensions/secret_reconciliator_test.go
Labels: pls-merge, area/operator

#8949 ROX-20788: add wif client to google registry
  central/imageintegration/service/service_impl.go
  central/imageintegration/singleton.go
  go.mod
  go.sum
  pkg/cloudproviders/gcp/auth/cred_manager_impl.go
  pkg/cloudproviders/gcp/utils/util.go
  pkg/images/integration/set.go
  pkg/registries/artifactory/artifactory.go
  pkg/registries/artifactregistry/registry.go
  pkg/registries/azure/azure.go
  pkg/registries/docker/config.go
  pkg/registries/docker/docker.go
  pkg/registries/docker/docker_test.go
  pkg/registries/ecr/ecr.go
  pkg/registries/factory.go
  pkg/registries/factory_impl.go
  pkg/registries/factory_impl_test.go
  pkg/registries/factory_options.go
  pkg/registries/google/google.go
  pkg/registries/google/google_integration_test.go
  pkg/registries/google/google_test.go
  pkg/registries/google/transport.go
  pkg/registries/ibm/ibm.go
  pkg/registries/mocks/factory.go
  pkg/registries/nexus/nexus.go
  pkg/registries/nexus/nexus_integration_test.go
  pkg/registries/quay/quay.go
  pkg/registries/rhel/rhel.go
  pkg/registries/rhel/rhel_integration_test.go
  pkg/registries/set.go
  pkg/registries/set_impl.go
  pkg/registries/types/options.go
  pkg/registries/types/types.go
  pkg/scanners/google/google.go
  pkg/scanners/google/google_integration_test.go
  pkg/scanners/google/google_test.go
  sensor/common/cloudproviders/gcp/singleton.go
  sensor/common/compliance/node_inventory_handler_test.go
  sensor/common/deploymentenhancer/component_test.go
  sensor/common/registry/registry_store.go
  sensor/common/registry/registry_store_test.go
  sensor/common/scan/scan.go
  sensor/kubernetes/main.go
Labels: area/auth, area/central, area/sensor

#8899 ROX-21178: Add buffer in the runtime detection path
  pkg/env/sensor.go
  pkg/queue/queue.go
  sensor/common/detector/detector.go
  sensor/common/detector/metrics/metrics.go
  sensor/common/detector/queue/flows.go
  sensor/common/detector/queue/indicators.go
  sensor/common/detector/queue/queue.go
  sensor/common/detector/queue/queue_test.go
  sensor/common/store/mocks/types.go
  sensor/common/store/types.go
  sensor/kubernetes/listener/resources/deployment_store.go
Labels: team/maple, area/sensor

#9339 ROX-21345: Ensure DeploymentEnhancer message queue never blocks
  sensor/common/deploymentenhancer/component.go
  sensor/common/deploymentenhancer/component_test.go
Labels: area/sensor

#9357 fix: conflicting merge for scanner v4 secrets in operator
  operator/pkg/central/extensions/reconcile_tls.go
  operator/pkg/central/extensions/reconcile_tls_test.go
  operator/pkg/common/extensions/reconcile_scanner_v4_db_password.go
Labels: area/operator

#9348 ROX-21683: Link from integration tile to cluster init bundles table
  ui/apps/platform/cypress/integration/integrations/general.test.js
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/ClusterInitBundlesTile.tsx
Labels: area/ui

#9351 ROX-21689: Link from button on clusters page to init bundles
  ui/apps/platform/src/Containers/Clusters/Components/ManageTokensButton.tsx
Labels: area/ui

#9321 fix(panic): Lock store cache on read in Delete and DeleteMany
  pkg/search/postgres/store_cache.go
Labels: area/postgres

#9326 refactor(CI): reuse the same GKE cluster in version compat tests
  .openshift-ci/ci_tests.py
  .openshift-ci/compatibility_test.py
  qa-tests-backend/scripts/run-compatibility.sh
  scripts/ci/jobs/gke_version_compatibility_tests.py
  tests/e2e/lib.sh
Labels: area/ci, 99papercuts

#9297 fix(scanv4): Sec cluster tweaks for same namespace deploy
  image/templates/helm/shared/templates/_scanner-v4_init.tpl.htpl
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
Labels: area/helm

#9362 ROX-21690: embed initial mapping files
  scanner/image/scanner/Dockerfile
  scanner/image/scanner/download-mappings.sh
Labels: area/scanner

#9320 ROX-21128: Add InitBundleWizard steps
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundlePage.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundleWizard.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundleWizard.utils.ts
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundleWizardStep1.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundleWizardStep2.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/InitBundlesHeader.tsx
  ui/apps/platform/src/services/ClustersService.ts
Labels: area/ui

#9300 ROX-21025: Update minimum permission set recommendation
  ui/apps/platform/src/constants/accessControl.ts
Labels: area/ui

#8682 refactor: Migrate namespace to store cache
  central/graphql/resolvers/test_setup_utils.go
  central/namespace/datastore/datastore.go
  central/namespace/datastore/datastore_sac_test.go
  central/namespace/datastore/datastore_test_constructors.go
  central/namespace/datastore/internal/store/mocks/store.go
  central/namespace/datastore/internal/store/postgres/gen.go
  central/namespace/datastore/internal/store/postgres/index.go
  central/namespace/datastore/internal/store/postgres/store.go
  central/namespace/datastore/internal/store/postgres/store_test.go
  central/namespace/datastore/internal/store/store.go
  central/namespace/datastore/mocks/datastore.go
  central/namespace/datastore/singleton.go
  central/namespace/store/postgres/gen.go
  central/sac/authorizer/builtin_scoped_authorizer.go
Labels: area/central, area/postgres

#9373 fix(netflow): Do not stop the ticker in offline v3
  sensor/common/networkflow/manager/manager_impl.go
Labels: team/maple, area/sensor

#9290 ROX-20883: Disable telemetry in version compatibility testing
  deploy/common/k8sbased.sh
  scripts/ci/jobs/gke_version_compatibility_tests.py
Labels: team/maple, 99papercuts

#9356 ROX-18375: Translate ebpf to core_bpf
  operator/apis/platform/v1alpha1/securedcluster_types.go
  operator/apis/platform/v1alpha1/zz_generated.deepcopy.go
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/pkg/securedcluster/values/translation/translation.go
  operator/pkg/securedcluster/values/translation/translation_test.go
Labels: area/operator

#9365 ROX-21710: Simplify structure of clusters page
  ui/apps/platform/cypress/integration/clusters/Clusters.helpers.js
  ui/apps/platform/src/Containers/Clusters/AddClusterPrompt.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersPage.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersSidePanel.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.tsx
Labels: area/ui

#9268 feat(ui): Adding typescript to cypress
  ui/apps/platform/cypress.config.js
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/ExceptionManagement.helpers.ts
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/ExceptionManagement.selectors.js
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/ExceptionManagement.selectors.ts
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/pendingRequestsTable.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/vulnerabilities.selectors.ts
  ui/apps/platform/cypress/tsconfig.json
  ui/apps/platform/eslint.config.js
Labels: area/ui, 99papercuts

#9376 fix(pipeline): compliance info pipeline
  central/sensor/service/pipeline/all/factory.go
Labels: area/central, epic/compliance-2.0/mvp

#9389 chore(scanner): stop making arm64 builds for now
  .github/workflows/scanner-build.yml
Labels: area/ci

#9042 feat(scanner): implement vuln update pipeline
  go.mod
  go.sum
  scanner/Makefile
  scanner/datastore/postgres/db_test.go
  scanner/datastore/postgres/matcher_metadata_store.go
  scanner/datastore/postgres/migrations/matcher/01-init.sql
  scanner/datastore/postgres/migrations/migrations.go
  scanner/datastore/postgres/mocks/matcher_metadata_store.go
  scanner/datastore/postgres/vuln_update.go
  scanner/datastore/postgres/vuln_update_test.go
  scanner/matcher/matcher.go
  scanner/matcher/mocks/matcher.go
  scanner/matcher/updater/gc.go
  scanner/matcher/updater/updater.go
  scanner/matcher/updater/updater_test.go
  scanner/services/matcher.go
  scanner/services/matcher_test.go
Labels: area/scanner

#9275 chore(scanner): scale test with various quay.io images
  scanner/cmd/scannerctl/authn/auth.go
  scanner/cmd/scannerctl/fixtures/README.md
  scanner/cmd/scannerctl/fixtures/fixtures.go
  scanner/cmd/scannerctl/fixtures/fixtures_test.go
  scanner/cmd/scannerctl/fixtures/images.json
  scanner/cmd/scannerctl/scale.go
  scanner/hack/quay/go.mod
  scanner/hack/quay/main.go
  tools/allowed-large-files
Labels: area/scanner, pr-update-scanner-vulns

#9335 ROX-21669: Utilize local mapping files
  scanner/indexer/indexer.go
Labels: area/scanner, area/ci

#9360 refactor(chaos): Simplify the chaos setup
  deploy/common/k8sbased.sh
Labels: team/maple, area/sensor

#9305 ROX-21621: Refresh central services leaf certs before they expire.
  operator/pkg/central/extensions/reconcile_tls.go
  operator/pkg/central/extensions/reconcile_tls_test.go
Labels: pls-merge, area/operator

#9370 ROX-20271: Upgrade NP-Guard to v1: updates
  roxctl/netpol/connectivity/diff/cta.go
  roxctl/netpol/connectivity/map/cta.go
  roxctl/netpol/connectivity/netpolerrors/errors.go
  tests/roxctl/bats-tests/local/roxctl-netpol-connectivity-diff-development.bats
  tests/roxctl/bats-tests/local/roxctl-netpol-connectivity-map-development.bats
Labels: ok-to-test, external-contributor

#9358 fix(ui): Update workload cve telemetry to track fewer filter values
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/VulnMgmtListCves.js
  ui/apps/platform/src/hooks/useAnalytics.ts
Labels: area/ui

#9374 fix(chart): Prefactoring: Fix the naming of global resources in chart
  image/templates/helm/shared/templates/_metadata.tpl
  image/templates/helm/stackrox-secured-cluster/templates/sensor-rbac.yaml
  image/templates/helm/stackrox-secured-cluster/templates/upgrader-serviceaccount.yaml
Labels: area/helm

#9398 chore(ui): Update prettier 3.2.2 devDependencies in ui
  ui/apps/platform/package.json
  ui/apps/platform/src/services/ClustersService.ts
  ui/apps/platform/src/services/ComplianceEnhancedService.ts
  ui/apps/platform/src/services/DeploymentsService.ts
  ui/yarn.lock
Labels: area/ui

#9400 fix: restore missing template vars in postgres generator
  tools/generate-helpers/pg-table-bindings/store.go.tpl
Labels: area/postgres

#9401 ROX-21668: Custom namespaces in port-forward scripts
  image/templates/common/port-forward.sh
  scale/dev/port-forward.sh
Labels: area/helm

#9135 ROX-20805: CVSS API in Central
  central/scannerdefinitions/handler/handler.go
  central/scannerdefinitions/handler/handler_test.go
  central/scannerdefinitions/handler/updater_test.go
  image/templates/helm/shared/config-templates/scanner-v4/indexer-config.yaml.tpl
Labels: area/central, area/helm

#9223 feat(ui): Minor UX fixes for Workload CVEs
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageNameTd.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/PartialCVEDataAlert.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/TableEntityToolbar.tsx
Labels: area/ui

#9349 feat(scanner): nodejs indexing support
  pkg/env/scannerv4.go
  scanner/indexer/indexer.go
Labels: area/scanner

#8679 ROX-19277: Fix Jira Cloud support in the Jira notifier
  central/graphql/resolvers/generated.go
  central/notifiers/jira/jira.go
  central/notifiers/jira/jira_fake_test.go
  central/notifiers/jira/jira_test.go
  generated/api/v1/notifier_service.swagger.json
  generated/storage/notifier.pb.go
  proto/storage/notifier.proto
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/JiraIntegrationForm.tsx
  ui/apps/platform/src/types/notifier.proto.ts
Labels: area/central, area/ui

#9016 Added complaince v2 e2e tests
  tests/compliance_operator_v2_test.go
  tests/e2e/lib.sh
  tests/e2e/yaml/compliance-operator/complianceRole.yaml
  tests/e2e/yaml/compliance-operator/complianceRoleBinding.yaml
Labels: epic/compliance-2.0/mvp

#9407 fix: Extend the CoreOS Clair v2 integration deprecation date
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ClairIntegrationForm.tsx
Labels: area/ui

#9378 feat(scanv4-certs): Implement Cert Issuing for local Scanner v4
  central/localscanner/certificates.go
  central/localscanner/certificates_test.go
Labels: area/central

#9392 feat(scanv4): Enable Scanner v4 when Scanner v2 is enabled
  image/templates/helm/stackrox-secured-cluster/internal/defaults/70-scanner-v4.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-slim.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-v4.test.yaml
Labels: area/helm

#9395 ROX-21203: Introduce Central Enhancement Timeout
  central/detection/service/service_impl.go
  pkg/env/deployment_enhancement.go
Labels: team/maple, area/central

#9397 ROX-21681: Adapt Helm charts to use central-encryption-key-chain
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml.htpl
  operator/apis/platform/v1alpha1/central_types.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
Labels: area/helm, area/operator

#9394 ROX-18375: Improve ForceCollection docs
  operator/apis/platform/v1alpha1/securedcluster_types.go
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
Labels: area/operator

#9369 ROX-21641: compliance result stat cluster
  central/complianceoperator/v2/checkresults/datastore/datastore.go
  central/complianceoperator/v2/checkresults/datastore/datastore_impl.go
  central/complianceoperator/v2/checkresults/datastore/datastore_impl_test.go
  central/complianceoperator/v2/checkresults/datastore/mocks/datastore.go
  central/complianceoperator/v2/checkresults/datastore/stats_views.go
  central/complianceoperator/v2/checkresults/service/service_impl.go
  central/complianceoperator/v2/checkresults/service/service_impl_test.go
  central/convert/storagetov2/compliance_results_service.go
  central/convert/testutils/compliance_results.go
  generated/api/v2/compliance_results_service.pb.go
  generated/api/v2/compliance_results_service.pb.gw.go
  generated/api/v2/compliance_results_service.swagger.json
  proto/api/v2/compliance_results_service.proto
Labels: area/central, epic/compliance-2.0/mvp

#9418 ROX-21533: Backport central leaf TLS cert refresh
  operator/pkg/central/extensions/common_test.go
  operator/pkg/central/extensions/reconcile_admin_password.go
  operator/pkg/central/extensions/reconcile_central_db_password.go
  operator/pkg/central/extensions/reconcile_tls.go
  operator/pkg/central/extensions/reconcile_tls_test.go
  operator/pkg/common/extensions/reconcile_scanner_db_password.go
  operator/pkg/common/extensions/secret_reconciliator.go
  operator/pkg/common/extensions/secret_reconciliator_test.go
Labels: area/operator

#9299 ROX-21521: add cluster metadata for GKE and AKS
  central/cluster/store/cluster/postgres/store.go
  central/graphql/resolvers/generated.go
  generated/api/v1/cluster_service.swagger.json
  generated/storage/cluster.pb.go
  pkg/cloudproviders/azure/metadata.go
  pkg/cloudproviders/azure/metadata_test.go
  pkg/cloudproviders/gcp/metadata.go
  pkg/k8sutil/client_config.go
  pkg/postgres/schema/clusters.go
  pkg/search/options.go
  proto/storage/cluster.proto
  sensor/kubernetes/client/client.go
Labels: area/central, area/helm, area/sensor, area/postgres

#9396 fix(ci): run shell tests in CI
  .github/workflows/unit-tests.yaml
  scripts/ci/bats/lib_get_repo_full_name.bats
  scripts/ci/bats/lib_is_in_PR_context.bats
  scripts/ci/bats/lib_pr_has_label.bats
  scripts/ci/logcheck/check-restart-logs_test.bats
  scripts/ci/store-artifacts.bats
Labels: area/ci

#9403 ROX-21132: Redirect from integrations to cluster init bundles route
  ui/apps/platform/cypress/integration/integrations/clusterInitBundles.test.js
  ui/apps/platform/src/Containers/Integrations/IntegrationsNoPermission.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsPage.tsx
Labels: area/ui

#9405 rox-18182: enable TestProcessorDoesntExpireOnceStopped
  central/vulnerabilityrequest/manager/requestmgr/manager_impl_test.go
Labels: area/central

#9416 chore(scanner): make mapping seed files configurable
  image/templates/helm/shared/config-templates/scanner-v4/indexer-config.yaml.tpl
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner-v4.test.yaml
  scanner/config.yaml.sample
  scanner/config/config.go
  scanner/indexer/indexer.go
  scanner/indexer/indexer_test.go
Labels: area/helm, area/scanner

#9342 ROX-21041: ScannerV4 Delegated Scans (1/3)
  central/image/service/service_impl.go
  generated/api/v1/image_service.pb.go
  pkg/images/enricher/enricher.go
  pkg/images/enricher/enricher_impl.go
  pkg/images/enricher/mocks/enricher.go
  pkg/scanners/clairify/clairify.go
  pkg/scanners/scannerv4/scannerv4.go
  pkg/scanners/types/components.go
  pkg/scanners/types/mocks/types.go
  pkg/scanners/types/types.go
  pkg/scannerv4/client/client.go
  pkg/scannerv4/client/mocks/client.go
  proto/api/v1/image_service.proto
  sensor/common/scan/scan.go
  sensor/common/scannerclient/grpc_client.go
  sensor/common/scannerclient/grpc_client_test.go
Labels: area/central, area/sensor

#9132 ROX-21526: next gen compliance SAC scan configurations
  central/complianceoperator/v2/compliancemanager/manager_impl.go
  central/complianceoperator/v2/compliancemanager/manager_impl_test.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl_test.go
  central/complianceoperator/v2/scanconfigurations/datastore/mocks/datastore.go
  central/complianceoperator/v2/scanconfigurations/datastore/search/search.go
  central/complianceoperator/v2/scanconfigurations/datastore/search/search_impl.go
  central/complianceoperator/v2/scanconfigurations/datastore/singleton.go
  central/complianceoperator/v2/scanconfigurations/scanconfigstatus/store/postgres/store.go
  central/complianceoperator/v2/scanconfigurations/service/convert.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  central/complianceoperator/v2/scanconfigurations/store/postgres/gen.go
  central/complianceoperator/v2/scanconfigurations/store/postgres/store.go
  generated/storage/compliance_operator_v2.pb.go
  pkg/postgres/schema/compliance_operator_cluster_scan_config_statuses.go
  pkg/postgres/schema/compliance_operator_scan_configuration_v2.go
  proto/storage/compliance_operator_v2.proto
  proto/storage/proto.lock
Labels: area/central, area/postgres, epic/compliance-2.0/mvp

#9368 ROX-21521: get EKS cluster metadata
  pkg/cloudproviders/aws/metadata.go
  pkg/cloudproviders/aws/metadata_test.go
  pkg/cloudproviders/azure/metadata.go
  pkg/cloudproviders/utils/utils.go
Labels: area/central, area/sensor, area/postgres

#9434 Jv set grpc max size
  pkg/clientconn/client.go
  pkg/grpc/server.go
  sensor/common/centralclient/grpc_connection.go
Labels: area/sensor

#9352 ROX-21041: ScannerV4 Delegated Scans: Handle Edge Cases (3/3)
  central/image/service/service_impl.go
  central/image/service/service_impl_test.go
Labels: area/central
