Repository stackrox/stackrox, pull requests merged in 2024-12, with the labels that each got.

#13474 fix: Remove helm-templating code without effect
  image/templates/helm/shared/templates/_scanner-v4_volume.tpl
Labels: area/helm

#13485 chore: Improve Renovate behavior
  .github/renovate.json5
Labels: area/ci, backport-for-4.6-konflux-release

#13411 ROX-26867: Add Generate SBOM menu item to image list page
  ui/apps/platform/cypress/helpers/tableHelpers.ts
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.js
  ui/apps/platform/src/Containers/MainPage/Banners/Banners.tsx
  ui/apps/platform/src/Containers/SystemHealth/DashboardPage.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageOverviewTable.tsx
  ui/apps/platform/src/hooks/useIsScannerV4Enabled.ts
Labels: area/ui

#13424 chore(ui): Upgrade TypeScript 5.7.2 devDependencies in ui
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui

#13336 fix(ui): Sanitize column values when rendering PDFs
  ui/apps/platform/src/utils/pdfUtils.js
Labels: area/ui, ok-to-test, external-contributor, backport release-4.4, backport release-4.5

#13435 ROX-26868: Add SBOM generation modal
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.ts
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageSingle.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/GenerateSbomModal.tsx
Labels: area/ui

#13450 ROX-26302: Adding pagination to Exception Management CVEs table
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/WorkloadCVEOverviewTable.tsx
Labels: area/ui

#13500 chore(CI): Disable failing UI test for Violations
  ui/apps/platform/cypress/integration/violations/violations.test.js
Labels: area/ui

#13371 ROX-25638: Rotate central logs
  CHANGELOG.md
  central/debug/service/service.go
  central/debug/service/zip.go
  go.mod
  go.sum
  pkg/env/logging.go
  pkg/logging/logging.go
  pkg/logging/logging_test.go
Labels: area/central

#13410 ROX-27053: Fix subjects handling for user and group kind
  central/compliance/checks/common/rbac.go
  central/compliance/checks/nist80053/check_ac_14/check.go
  central/rbac/service/get_subject.go
  central/sensor/service/pipeline/rolebindings/pipeline_test.go
  pkg/k8srbac/evaluator_impl.go
  pkg/k8srbac/subjects.go
  pkg/k8srbac/subjects_test.go
  qa-tests-backend/src/test/groovy/K8sRbacTest.groovy
Labels: area/central

#13508 ROX-27187: Add telemetry for UI initiated SBOM generation
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/GenerateSbomModal.tsx
  ui/apps/platform/src/hooks/useAnalytics.ts
Labels: area/ui

#13501 chore(ui): Update ESLint 9.16.0 and related devDependencies in ui
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui

#13505 chore(ui): Delete obsolete PatternFly ViewAllButton
  ui/apps/platform/src/Components/PatternFly/ViewAllButton/ViewAllButton.css
  ui/apps/platform/src/Components/PatternFly/ViewAllButton/ViewAllButton.tsx
  ui/apps/platform/src/Components/PatternFly/ViewAllButton/index.ts
Labels: area/ui

#13436 ROX-27186: Delete conditional code for classic dark theme
  ui/apps/platform/public/index.html
  ui/apps/platform/src/Components/GroupedTabs.js
  ui/apps/platform/src/Components/PageHeader/PageHeader.js
  ui/apps/platform/src/Components/animations/SidePanelAnimatedArea.tsx
  ui/apps/platform/src/Containers/Clusters/Components/HelmIndicator.tsx
  ui/apps/platform/src/Containers/Clusters/Components/OperatorIndicator.tsx
  ui/apps/platform/src/Containers/Compliance/Dashboard/ComplianceDashboardPage.tsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/Page.js
  ui/apps/platform/src/Containers/ConfigManagement/List/Page.js
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/Header/ThemeToggleButton.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkPolicies.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPoliciesYAML.tsx
  ui/apps/platform/src/Containers/ThemeProvider.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/RelatedEntitiesSideList.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Entity/TileList.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Entity/WorkflowEntityPage.js
  ui/apps/platform/src/Containers/VulnMgmt/Entity/WorkflowEntityPageLayout.js
  ui/apps/platform/src/Containers/VulnMgmt/EntityBreadCrumbs.tsx
  ui/apps/platform/src/Containers/VulnMgmt/List/WorkflowListPageLayout.js
  ui/apps/platform/src/index.tsx
Labels: area/ui

#13520 ROX-27252: Add ROX_EPSS_SCORE feature flag
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#13518 test: dump more resources on missing install plan
  operator/hack/common.sh
Labels: area/operator

#13521 chore(e2e): Update cypress 13.16.1 devDependencies in ui
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui

#13427 ROX-27138: add ghcr.io image integration
  central/imageintegration/datastore/telemetry.go
  central/imageintegration/store/defaults.go
  pkg/registries/factory.go
  pkg/registries/ghcr/ghcr.go
  pkg/registries/types/types.go
  qa-tests-backend/src/main/groovy/objects/ImageIntegration.groovy
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
  ui/apps/platform/cypress/integration/integrations/imageIntegrations.test.js
  ui/apps/platform/cypress/integration/integrations/integrations.helpers.js
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GhcrIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/IntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/utils/integrationsList.ts
  ui/apps/platform/src/Containers/Integrations/utils/tableColumnDescriptor.ts
  ui/apps/platform/src/images/ghcr.svg
  ui/apps/platform/src/types/imageIntegration.proto.ts
  ui/apps/platform/src/types/integration.ts
Labels: ci-all-qa-tests, area/central, area/ui

#13433 chore: title case to sentence case
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/AzureIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ClairifyIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GhcrIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/JiraIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/MicrosoftSentinelForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/QuayIntegrationForm.tsx
Labels: area/ui

#13536 chore(ui): Delete ROX_NVD_CVSS_UI feature flag in ui
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/ReportParametersDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportParametersForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/WorkloadCVEOverviewTable.tsx
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#13537 ROX-27271: Add feature flag for UI Platform CVE split
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#13491 fix(ui): Fix e2e test flake due to apollo cache misses
  ui/apps/platform/cypress/fixtures/vulnerabilities/workloadCves/imageWithMultipleCves.json
  ui/apps/platform/cypress/fixtures/vulnerabilities/workloadCves/multipleCvesForImage.json
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageCveListExceptionFlow.test.js
Labels: area/ui

#13546 ROX-26570: fix postgres test race
  migrator/postgreshelper/utils_test.go
  pkg/postgres/pgadmin/admin_utils_test.go
Labels: area/postgres

#13362 ROX-27042: Allow selecting columns not present in destination struct
  central/views/imagecve/db_response.go
  central/views/imagecve/view_test.go
  central/views/nodecve/db_response.go
  pkg/search/postgres/select.go
  pkg/search/postgres/select_query_test.go
Labels: area/central, area/postgres

#13534 ROX-27156: Update serialize js
  ui/yarn.lock
Labels: area/ui, backport

#13535 ROX-27157: Update serialize js
  ui/yarn.lock
Labels: area/ui, backport

#13519 ROX-27226: add retry to backup qa tests
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
Labels: ci-all-qa-tests

#13543 fix: skip test integration hint for ghcr.io
  central/imageintegration/store/defaults.go
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GhcrIntegrationForm.tsx
Labels: area/central, area/ui

#13476 chore: roxctl endpoint flag constant
  roxctl/common/flags/endpoint.go
Labels: ok-to-test, external-contributor

#13401 ROX-26055: TLS certs loader init container
  CHANGELOG.md
  Makefile
  image/rhel/Dockerfile
  image/rhel/README.md
  image/rhel/konflux.Dockerfile
  image/templates/helm/shared/templates/02-scanner-06-deployment.yaml.htpl
  image/templates/helm/shared/templates/02-scanner-v4-07-db-deployment.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-indexer-deployment.yaml
  image/templates/helm/shared/templates/_certrefresh.tpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
  sensor/init-tls-certs/main.go
  sensor/init-tls-certs/main_test.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/helm, area/sensor

#13502 ROX-27203: Ensure collector/scanner images exist during updates
  .github/workflows/build.yaml
  COLLECTOR_VERSION
Labels: ci-all-qa-tests, area/ci, backport-for-4.6-konflux-release

#13565 doc: Update CHANGELOG.md
  CHANGELOG.md
Labels: backport

#13463 ROX-27233: Log reason for not showing a NetworkGraph entity
  pkg/net/addr.go
  pkg/net/endpoint.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/networkflow/manager/testing_test.go
Labels: ci-all-qa-tests, area/sensor

#13569 ROX-27301: Rewrite Cypress test helper to remove use of `find`
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
Labels: area/ui

#13564 chore: Pin point v2 vuln schema to 4.6.1
  scanner/updater/version/VULNERABILITY_BUNDLE_VERSION
Labels: area/scanner

#13340 ROX-27099: Refactor & Fix history in ClusterEntitiesStore
  sensor/common/clusterentities/debug.go
  sensor/common/clusterentities/entity_status.go
  sensor/common/clusterentities/metrics/metrics.go
  sensor/common/clusterentities/store.go
  sensor/common/clusterentities/store_container_id.go
  sensor/common/clusterentities/store_container_id_test.go
  sensor/common/clusterentities/store_endpoints.go
  sensor/common/clusterentities/store_endpoints_test.go
  sensor/common/clusterentities/store_ips.go
  sensor/common/clusterentities/store_ips_test.go
  sensor/common/clusterentities/store_test.go
  sensor/common/clusterentities/testing_test.go
  sensor/common/networkflow/manager/public_ips.go
  sensor/common/networkflow/manager/public_ips_test.go
  sensor/kubernetes/listener/resources/endpoints.go
  sensor/kubernetes/listener/resources/env.go
  sensor/kubernetes/listener/resources/store_provider.go
Labels: ci-all-qa-tests, area/central, area/sensor

#13532 ROX-27267: Add retries to ScannerDefinitionsProxy test
  sensor/tests/connection/connection_test.go
Labels: area/sensor

#13576 ROX-27343: Fix roxctl init-bundles list output time format
  central/compliance/handlers/csv.go
  pkg/protocompat/time.go
  pkg/protocompat/time_test.go
  roxctl/central/crs/list.go
  roxctl/central/initbundles/list.go
  roxctl/central/initbundles/list_test.go
Labels: area/roxctl, area/central

#13594 chore(tests): bump go in kuttl tools dir to 1.22.7
  operator/tools/kuttl/go.mod
Labels: area/operator, auto-retest

#13587 ROX-27323: Suport hostname in LB ingress.
  scripts/ci/bats/fixtures/service-both.json
  scripts/ci/bats/fixtures/service-hostname.json
  scripts/ci/bats/fixtures/service-ip.json
  scripts/ci/bats/fixtures/service-unready.json
  scripts/ci/bats/lib_service_endpoint.bats
  scripts/ci/lib.sh
Labels: auto-retest

#13571 ROX-27344: Add test to verify consistent image CVE counts
  ui/apps/platform/cypress/helpers/tableHelpers.ts
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageSingle.test.ts
Labels: area/ui

#13593 chore(deps): bump golang.org/x/crypto from 0.25.0 to 0.31.0
  go.mod
  go.sum
  operator/tools/operator-sdk/go.mod
  operator/tools/operator-sdk/go.sum
  tests/performance/scale/go.mod
  tests/performance/scale/go.sum
  tools/check-workflow-run/go.mod
  tools/check-workflow-run/go.sum
  tools/proto/go.mod
  tools/proto/go.sum
  tools/test/go.mod
  tools/test/go.sum
Labels: area/operator, backport

#13345 ROX-24540: Add custom route to get sbom
  central/image/service/http_handler.go
  central/image/service/http_handler_test.go
  central/main.go
  pkg/env/image_scan.go
Labels: area/central

#13504 ROX-25498: Allow specifying notifiers by name or ID in policy CRD
  central/main.go
  central/policy/customresource/custom_resource_test.go
  central/policy/customresource/testdata/custom_resource.yaml
  central/policy/handlers/handler.go
  central/policy/handlers/handler_test.go
  config-controller/api/v1alpha1/policy_types.go
  config-controller/api/v1alpha1/policy_types_test.go
  config-controller/config/crd/bases/config.stackrox.io_securitypolicies.yaml
  config-controller/internal/controller/policy_controller.go
  config-controller/main.go
  config-controller/pkg/client/client.go
  config-controller/pkg/client/client_test.go
  config-controller/pkg/client/mocks/client.go
  image/templates/helm/stackrox-central/crds/config.stackrox.io_securitypolicies.yaml
  tests/policy_as_code_test.go
Labels: area/central, area/helm

#13589 chore(deps): Bump golang.org/x/crypto from 0.27.0 to 0.31.0
  go.mod
  go.sum
  operator/tools/operator-sdk/go.mod
  operator/tools/operator-sdk/go.sum
  tests/performance/scale/go.mod
  tests/performance/scale/go.sum
  tools/check-workflow-run/go.mod
  tools/check-workflow-run/go.sum
  tools/proto/go.mod
  tools/proto/go.sum
  tools/test/go.mod
  tools/test/go.sum
Labels: area/operator, backport

#12855 ROX-25643: Remove tabs from postgresql conf
  image/templates/helm/stackrox-central/config/centraldb/postgresql.conf.default
Labels: area/helm

#13591 chore: Add logging to backup restore in Central
  central/globaldb/v2backuprestore/manager/manager.go
Labels: area/central

#13602 chore(scanner): Bump Scanner to 2.35.1 in 4.6.1
  SCANNER_VERSION
Labels: ci-all-qa-tests, backport

#13567 ROX-22816: Fix issues with port bind in unit tests
  central/scanner/handler_test.go
  pkg/grpc/marshaler_test.go
  pkg/grpc/server_ratelimit_test.go
  pkg/grpc/server_test.go
  pkg/metrics/server_test.go
  pkg/testutils/http.go
  tests/http_to_https_test.go
Labels: area/central

#13595 chore(deps): bump golang.org/x/crypto from 0.26.0 to 0.31.0
  go.mod
  go.sum
  operator/tools/operator-sdk/go.mod
  operator/tools/operator-sdk/go.sum
  tests/performance/scale/go.mod
  tests/performance/scale/go.sum
  tools/proto/go.mod
  tools/proto/go.sum
Labels: area/operator, backport

#13548 ROX-27272: Pass props/context to Workload CVE page component
  ui/apps/platform/src/Containers/MainPage/AsyncComponent.tsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
Labels: area/ui

#13604 fix(scanner): Add pipefail to matrix steps
  .github/workflows/scanner-offline-bundle-update.yaml
  .github/workflows/scanner-versioned-definitions-update.yaml
Labels: area/ci, pr-update-scanner-vulns

#13606 ROX-27415: Abandon UNSET action for NodeInventory and NodeIndex
  central/sensor/service/connection/connection_impl.go
  central/sensor/service/pipeline/nodeindex/pipeline.go
  central/sensor/service/pipeline/nodeinventory/pipeline.go
  central/sensor/service/pipeline/nodeinventory/pipeline_test.go
  central/sensor/service/pipeline/utils.go
  pkg/metrics/op_string.go
  pkg/metrics/operations.go
  sensor/common/compliance/node_inventory_handler_impl.go
Labels: area/central, area/sensor

#13607 ROX-27390: Add Context to Workload CVEs page for view customization
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCveViewContext.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/hooks/useWorkloadCveViewContext.ts
Labels: area/ui

#13605 ROX-27414: Prevent deduping Node Index in Central
  central/sensor/service/connection/sensorevents.go
Labels: area/central

#13616 ROX-27391: Update Workload CVE page title with dynamic string
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/NamespaceViewPage.tsx
Labels: area/ui

#13626 ROX-27422: Replace CVSS score with CVSS for cluster in Platform CVEs
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/CVEsTable.tsx
Labels: area/ui

#13627 chore(ui): Delete unneeded padding in component subtables
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageComponentVulnerabilitiesTable.tsx
Labels: area/ui

#13614 fix(report): Remove scanConfig from runningReportConfigs on error
  central/complianceoperator/v2/report/manager/manager_impl.go
  central/complianceoperator/v2/report/manager/manager_test.go
Labels: team/maple, area/central

#13613 ROX-26742: Refactor the csv formatter
  central/complianceoperator/v2/report/manager/complianceReportgenerator/format/formatter.go
  central/complianceoperator/v2/report/manager/complianceReportgenerator/format/formatter_test.go
  central/complianceoperator/v2/report/manager/complianceReportgenerator/format/mocks/formatter.go
  central/complianceoperator/v2/report/manager/complianceReportgenerator/mocks/report_gen.go
  central/complianceoperator/v2/report/manager/complianceReportgenerator/report_gen.go
  central/complianceoperator/v2/report/manager/complianceReportgenerator/report_gen_impl.go
  central/complianceoperator/v2/report/manager/complianceReportgenerator/report_gen_impl_test.go
  central/complianceoperator/v2/report/manager/complianceReportgenerator/types/type.go
  central/complianceoperator/v2/report/manager/manager_impl.go
Labels: team/maple, area/central

#13632 chore(refactor): Refactor the report generator package structure
  central/complianceoperator/v2/report/manager/format/formatter.go
  central/complianceoperator/v2/report/manager/format/formatter_test.go
  central/complianceoperator/v2/report/manager/format/mocks/formatter.go
  central/complianceoperator/v2/report/manager/generator/consts.go
  central/complianceoperator/v2/report/manager/generator/mocks/report_gen.go
  central/complianceoperator/v2/report/manager/generator/report_gen.go
  central/complianceoperator/v2/report/manager/generator/report_gen_impl.go
  central/complianceoperator/v2/report/manager/generator/report_gen_impl_test.go
  central/complianceoperator/v2/report/manager/generator/singleton.go
  central/complianceoperator/v2/report/manager/manager_impl.go
  central/complianceoperator/v2/report/manager/manager_test.go
  central/complianceoperator/v2/report/manager/singleton.go
  central/complianceoperator/v2/report/request.go
  central/complianceoperator/v2/report/result.go
Labels: area/central

#13618 chore(ui): Switch to advanced filter bar for exception mgmt
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/approvedDeferralsTable.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/approvedFalsePositivesTable.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/deniedRequestsTable.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/general.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/pendingRequestsTable.test.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/vulnerabilityRequests.ts
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/searchFilterConfig.ts
  ui/apps/platform/src/Containers/Vulnerabilities/components/AdvancedFiltersToolbar.tsx
Labels: area/ui

#13640 ROX-27414: Do not dedupe NodeIndex and NodeInvetory in Central
  central/hash/manager/deduper.go
  central/hash/manager/deduper_test.go
Labels: team/maple, area/central, turbo-build

#13617 ROX-27393: Update Workload CVE pages to accept a base search filter
  tests/e2e/lib.sh
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/NamespaceViewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesPage.tsx
Labels: area/ui

#13352 ROX-25594: Add policy violations search filter e2e tests
  ui/apps/platform/cypress/integration/violations/Violations.selectors.ts
  ui/apps/platform/cypress/integration/violations/filteredWorkflowViews.test.ts
  ui/apps/platform/cypress/integration/violations/violations.test.js
  ui/apps/platform/cypress/integration/violations/violationsSearchFilter.test.ts
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
Labels: area/ui, epic/advanced-filters/policy-violations

#13631 refactor: Optimize returns in `handleContainerNotFound`
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/networkflow/metrics/metrics.go
Labels: ci-all-qa-tests, area/sensor

#13633 ROX-27439: Add more test coverage for the Sensor deduper
  sensor/common/deduper/deduper_test.go
Labels: area/sensor

#13648 ROX-18278: Fix baseline test flake
  central/alert/service/service_impl.go
  central/processbaseline/service/service_impl.go
  qa-tests-backend/src/test/groovy/Enforcement.groovy
  qa-tests-backend/src/test/groovy/ProcessBaselinesTest.groovy
  sensor/common/detector/baseline/baseline.go
Labels: area/central, area/sensor

#13649 ROX-27487: Add telemetry for Microsoft Sentinel Notifier
  central/notifier/datastore/telemetry.go
Labels: area/central

#13599 ROX-27350: Use trusted tasks
  .tekton/basic-component-pipeline.yaml
  .tekton/determine-image-tag-task.yaml
  .tekton/fetch-external-networks-task.yaml
  .tekton/fetch-scanner-vuln-mappings-task.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retag-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
  .tekton/wait-for-image-task.yaml
Labels: konflux-build, backport-for-4.6-konflux-release
