Repository stackrox/stackrox, pull requests merged in 2024-03, with the labels that each got.

#10168 fix(CI): provide password for docker login retries
  .github/workflows/build.yaml
  scripts/ci/lib.sh
Labels: area/ci

#10159 ROX-17393: Capitalize first letter of the flag usage messages
  roxctl/central/backup/backup.go
  roxctl/central/db/generate/volumes.go
  roxctl/central/db/restore/v2.go
  roxctl/central/debug/debug.go
  roxctl/central/generate/generate.go
  roxctl/central/generate/interactive.go
  roxctl/central/generate/k8s.go
  roxctl/central/generate/volumes.go
  roxctl/central/initbundles/fetch_ca.go
  roxctl/central/initbundles/generate.go
  roxctl/collector/supportpackages/upload/command.go
  roxctl/common/flags/confirm.go
  roxctl/common/flags/endpoint.go
  roxctl/common/flags/password.go
  roxctl/declarativeconfig/create/access_scope.go
  roxctl/declarativeconfig/create/auth_provider.go
  roxctl/declarativeconfig/create/permission_set.go
  roxctl/declarativeconfig/create/role.go
  roxctl/declarativeconfig/lint/lint.go
  roxctl/deployment/check/check.go
  roxctl/doc/generate.go
  roxctl/helm/derivelocalvalues/command.go
  roxctl/image/check/check.go
  roxctl/image/scan/scan.go
  roxctl/maincommand/command.go
  roxctl/maincommand/commands_test.go
  roxctl/netpol/connectivity/diff/command.go
  roxctl/netpol/connectivity/map/command.go
  roxctl/netpol/generate/generate.go
  roxctl/patch_flag_usage.go
  tests/roxctl/bats-tests/local/central-generate-interactive-flavors.bats
  tests/roxctl/bats-tests/local/expect/flavor-interactive-dummy.expect.tcl
  tests/roxctl/bats-tests/local/expect/flavor-interactive.expect.tcl
Labels: area/roxctl

#9914 ROX-21034: qa-e2e test for GCS backup integration
  qa-tests-backend/src/main/groovy/services/ExternalBackupService.groovy
  qa-tests-backend/src/main/groovy/util/Env.groovy
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
Labels: ci-all-qa-tests

#10197 ROX-22852: validate provider in datastore
  central/authprovider/datastore/datastore_impl.go
  central/authprovider/datastore/datastore_impl_test.go
Labels: area/central

#10195 feat(qa): Update midstream index images to use build v1.0.0-570
  operator/midstream/iib.json
Labels: ci-all-qa-tests, area/operator

#10179 ROX-21016: Remove RPM binary from main image
  image/rhel/Dockerfile
Labels: team/maple, area/helm, 99papercuts

#10219 fix(scanv4): Fix typo in Helm chart error message
  image/templates/helm/shared/templates/_crypto.tpl
Labels: area/helm

#10209 fix(CI): increase retries for builds
  .github/workflows/build.yaml
Labels: area/ci

#10203 ROX-22797: Paginate ListPolicies
  central/policy/service/service_impl.go
Labels: area/central, 99papercuts

#10223 chore(ui): Refactor file structure to clean up vm 2.0 tech debt
  ui/apps/platform/src/Components/PatternFly/TableErrorComponent.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/Coverage/Clusters/ClusterDetailsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestUpdateButtonModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/hooks/useRequestCVEsDetails.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/ImageResourceTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/DeploymentResourceTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePageHeader.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/SummaryCards/CvesByStatusSummaryCard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ComponentLocation.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/DefaultFilterModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/DockerfileLayer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/EntityTypeToggleGroup.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/FixedByVersion.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageNameLink.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/TableEntityToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadTableToolbar.cy.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadTableToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/utils/searchUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/components/CvssFormatted.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/DateDistance.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/ExceptionRequestModal/CompletedExceptionRequestModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/ExceptionRequestModal/CveSelections.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/ExceptionRequestModal/ExceptionRequestForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/ExceptionRequestModal/ExceptionRequestModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/ExceptionRequestModal/ExceptionScopeField.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/ExceptionRequestModal/ExpiryField.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/ExceptionRequestModal/utils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/components/FilterAutocomplete.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/SeverityCountLabels.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/hooks/useExceptionRequestModal.ts
  ui/apps/platform/src/Containers/Vulnerabilities/types.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/searchUtils.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/sortUtils.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/sortUtils.tsx
Labels: area/ui

#10225 ROX-18444: add openshift-compliance to gather
  .openshift-ci/post_tests.py
Labels: area/ci, epic/compliance-2.0/mvp, 99papercuts

#10227 fix(test): Add unit test for policy pagination
  central/policy/service/service_impl_test.go
Labels: area/central

#10152 fix(ci): Use Operator in the OSD jobs
  scripts/ci/jobs/osd_aws_qa_e2e_tests.py
  scripts/ci/jobs/osd_gcp_qa_e2e_tests.py
Labels: team/maple

#10021 ROX-22466: Prune compliance objects when cluster is deleted
  central/complianceoperator/v2/profiles/datastore/datastore.go
  central/complianceoperator/v2/profiles/datastore/datastore_impl.go
  central/complianceoperator/v2/profiles/datastore/datastore_impl_test.go
  central/complianceoperator/v2/profiles/datastore/mocks/datastore.go
  central/complianceoperator/v2/pruner/pruner.go
  central/complianceoperator/v2/pruner/singleton.go
  central/complianceoperator/v2/rules/datastore/datastore.go
  central/complianceoperator/v2/rules/datastore/datastore_impl.go
  central/complianceoperator/v2/rules/datastore/datastore_impl_test.go
  central/complianceoperator/v2/rules/datastore/mocks/datastore.go
  central/complianceoperator/v2/scans/datastore/datastore.go
  central/complianceoperator/v2/scans/datastore/datastore_impl.go
  central/complianceoperator/v2/scans/datastore/datastore_impl_test.go
  central/complianceoperator/v2/scans/datastore/mocks/datastore.go
  central/complianceoperator/v2/scansettingbindings/datastore/datastore.go
  central/complianceoperator/v2/scansettingbindings/datastore/datastore_impl.go
  central/complianceoperator/v2/scansettingbindings/datastore/mocks/datastore.go
  central/complianceoperator/v2/suites/datastore/datastore.go
  central/complianceoperator/v2/suites/datastore/datastore_impl.go
  central/complianceoperator/v2/suites/datastore/datastore_impl_test.go
  central/complianceoperator/v2/suites/datastore/mocks/datastore.go
Labels: area/central, epic/compliance-2.0/mvp

#10229 fix(oidc): stricter handling of nonce verification error
  pkg/auth/authproviders/oidc/backend_impl.go
  pkg/auth/authproviders/oidc/backend_impl_test.go
Labels: area/auth

#10157 ROX-21656: roxctl deployment check E2E tests
  qa-tests-backend/Makefile
  qa-tests-backend/build.gradle
  qa-tests-backend/src/main/groovy/services/DetectionService.groovy
  qa-tests-backend/src/test/groovy/DeploymentCheck.groovy
Labels: team/maple, 99papercuts

#10211 ROX-22848: increase cloud source wait time
  qa-tests-backend/src/test/groovy/CloudSourcesTest.groovy
Labels: 99papercuts

#10239 fix(revert): Revert policy pagination
  central/policy/service/service_impl.go
  central/policy/service/service_impl_test.go
Labels: area/central

#10243 fix: hard code bucket location
  qa-tests-backend/src/main/groovy/util/Env.groovy
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
Labels: ci-all-qa-tests

#10236 ROX-18198: Network Policy store unit tests
  sensor/kubernetes/listener/resources/networkpolicy_store_test.go
Labels: team/maple, area/sensor, 99papercuts

#10254 fix(build): drop broken s390x scanner builds for now
  .github/workflows/scanner-build.yaml
Labels: area/ci

#10155 ROX-22613: Duplicated hint with default value for boolean flags
  roxctl/patch_flag_usage.go
  tests/roxctl/bats-tests/local/central-boolean-defaults.bats
Labels: area/roxctl

#10044 ROX-22471: Add analtyics for specific button clicks in Network Graph
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPoliciesYAML.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/SimulateNetworkPolicyButton.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/networkGraphURLUtils.test.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/networkGraphURLUtils.ts
  ui/apps/platform/src/hooks/useAnalytics.ts
Labels: area/central, area/ui

#10085 ROX-20884: Empty states for Exception Management
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/cancelRequestFlow.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/utils/getTableUIState.test.ts
  ui/apps/platform/src/utils/getTableUIState.ts
Labels: area/ui, epic/vm2.0/unified-deferral, 99papercuts

#10230 ROX-21948: Fix sorting Discovered Time on Observed CVEs table
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ObservedCVEs/ObservedCVEs.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ObservedCVEs/ObservedCVEsTable.tsx
Labels: area/central, area/ui, 99papercuts

#9198 ROX-22101: Create gogo proto Timestamps through compatibility layer
  central/alert/service/service_test.go
  central/cluster/datastore/datastore_sac_test.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  central/convert/testutils/compliance_suites.go
  central/cve/cluster/datastore/datastore_impl.go
  central/cve/cluster/datastoretest/datastore_sac_test.go
  central/cve/common/utils.go
  central/cve/image/datastore/datastore_impl.go
  central/cve/node/datastore/datastore_impl.go
  central/detection/alertmanager/alert_manager_impl_test.go
  central/graphql/handler/deployments_test.go
  central/networkgraph/flow/datastore/internal/store/postgres/store_test.go
  central/pod/datastore/datastore_impl_test.go
  central/sensor/service/service_impl_test.go
  central/splunk/violations_test.go
  central/telemetry/gatherers/cluster_test.go
  migrator/migrations/m_175_to_m_176_create_notification_schedule_table/migration_test.go
  migrator/migrations/n_27_to_n_28_postgres_log_imbues/legacy/store_impl.go
  migrator/migrations/n_30_to_n_31_postgres_network_flows/legacy/cluster_impl.go
  migrator/migrations/n_30_to_n_31_postgres_network_flows/migration_test.go
  pkg/clair/convert_test.go
  pkg/fixtures/graph.go
  pkg/fixtures/pod.go
  pkg/fixtures/test.go
  pkg/scanners/scannerv4/scannerv4.go
  pkg/scanners/scannerv4/scannerv4_test.go
  pkg/search/predicate/basematchers/timestamp.go
  pkg/timestamp/microts.go
  sensor/kubernetes/listener/resources/convert_mutating_test.go
  sensor/kubernetes/listener/resources/convert_override_test.go
  sensor/kubernetes/listener/resources/convert_test.go
  sensor/kubernetes/listener/resources/deployments_test.go
  sensor/kubernetes/listener/resources/node.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/central, area/sensor

#10169 chore: remove unused migration store
  migrator/migrations/m_194_to_m_195_vuln_request_global_scope/migration_impl.go
  migrator/migrations/m_194_to_m_195_vuln_request_global_scope/schema/convert_vulnerability_requests.go
  migrator/migrations/m_194_to_m_195_vuln_request_global_scope/schema/convert_vulnerability_requests_test.go
  migrator/migrations/m_194_to_m_195_vuln_request_global_scope/schema/vulnerability_requests.go
  migrator/migrations/m_194_to_m_195_vuln_request_global_scope/store/store.go
  migrator/migrations/m_195_to_m_196_vuln_request_users/migration_impl.go
  migrator/migrations/m_195_to_m_196_vuln_request_users/schema/new/vulnerability_requests.go
  migrator/migrations/m_195_to_m_196_vuln_request_users/schema/old/vulnerability_requests.go
  migrator/migrations/m_195_to_m_196_vuln_request_users/store/previous/store.go
  migrator/migrations/m_195_to_m_196_vuln_request_users/store/updated/store.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/migration_impl.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/schema/convert_image_cve_edges.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/schema/convert_image_cve_edges_test.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/schema/convert_image_cves.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/schema/convert_image_cves_test.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/schema/convert_vulnerability_requests.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/schema/convert_vulnerability_requests_test.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/schema/image_cve_edges.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/schema/image_cves.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/schema/images.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/schema/vulnerability_requests.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/store/imagecveedges/store.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/store/imagecves/store.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/store/images/store.go
  migrator/migrations/m_196_to_m_197_vulnerability_requests_for_legacy/store/vulnerabilityrequests/store.go
Labels: 99papercuts

#9828 docs(tests): show failure frequency and other fixes
  .github/workflows/ci-failures-report.yml
  scripts/ci/metrics.sh
Labels: area/ci

#10210 ROX-22847: use V2 bucket in golang backup test
  tests/external_backup_test.go
Labels: 99papercuts

#10242 fix(CI): batch load test metrics
  .github/workflows/batch-load-test-metrics.yml
  scripts/ci/lib.sh
  scripts/ci/metrics.sh
Labels: area/ci

#10232 ROX-22871: fix "tmp" not accesible issue
  .github/workflows/scanner-dev-vuln-update.yaml
  .github/workflows/scanner-release-vuln-update.yaml
  scanner/updater/version/RELEASE_VERSION
Labels: area/scanner, area/ci

#10263 fix(CI): quote XML in suspicious log check attrs
  scripts/ci/bats/lib_junit.bats
  scripts/ci/lib.sh
  tests/e2e/lib.sh
Labels: area/central, ci-test-junit-processing

#10119 ROX-22699: Increase the wait time for deployments
  qa-tests-backend/src/main/groovy/common/Constants.groovy
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/DeclarativeConfigTest.groovy
  qa-tests-backend/src/test/groovy/DefaultPoliciesTest.groovy
  qa-tests-backend/src/test/groovy/IntegrationsSplunkViolationsTest.groovy
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
  qa-tests-backend/src/test/groovy/NetworkBaselineTest.groovy
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
  qa-tests-backend/src/test/groovy/ProcessBaselinesTest.groovy
  qa-tests-backend/src/test/groovy/Services.groovy
Labels: ci-all-qa-tests, ci-build-race-condition-debug

#10277 fix(Scanner): test volumes in scanner job
  .github/workflows/scanner-dev-vuln-update.yaml
  .github/workflows/scanner-release-vuln-update.yaml
Labels: area/ci

#10226 ROX-20125: new base snapshot
  tests/e2e/lib.sh
  tests/e2e/run.sh
  tests/upgrade/legacy_to_postgres_run.sh
  tests/upgrade/lib.sh
  tests/upgrade/postgres_run.sh
Labels: 99papercuts

#10289 fix(scanv4): Don't use multiline command in Helm templating
  image/templates/helm/shared/templates/_crypto.tpl
Labels: area/helm

#10271 ROX-22927: fix s390x build issues and re-enable
  .github/workflows/scanner-build.yaml
  scanner/image/db/scripts/download.sh
Labels: area/scanner, area/ci

#10283 ROX-11396: Use error signal instead of error chan
  sensor/debugger/k8s/fake.go
  tools/local-sensor/main.go
Labels: team/maple, area/sensor, 99papercuts

#10193 ROX-17931: Benchmark process deployment references in the resolver
  sensor/kubernetes/eventpipeline/resolver/resolver_bench_test.go
Labels: team/maple, area/sensor, 99papercuts

#10279 ROX-20038: migrate GCR qa test images
  qa-tests-backend/README.md
  qa-tests-backend/src/main/groovy/objects/ImageIntegration.groovy
  qa-tests-backend/src/main/groovy/util/Env.groovy
  qa-tests-backend/src/test/groovy/AdmissionControllerNoImageScanTest.groovy
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/BuiltinPoliciesTest.groovy
  qa-tests-backend/src/test/groovy/DefaultPoliciesTest.groovy
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
  qa-tests-backend/src/test/groovy/LocalQaPropsTest.groovy
  qa-tests-backend/src/test/groovy/PolicyFieldsTest.groovy
  qa-tests-backend/test-images/fail-compliance/ssh/Makefile
  qa-tests-backend/test-images/trigger-policy-violations/alpine/Makefile
  qa-tests-backend/test-images/trigger-policy-violations/more/Makefile
  qa-tests-backend/test-images/trigger-policy-violations/most/Makefile
  scripts/ci/clair/clair-kubernetes.yaml
  scripts/ci/clairv4/Dockerfile
  scripts/ci/clairv4/clairv4-kubernetes.yaml
  scripts/ci/openshift-gcr-secrets.sh
Labels: ci-all-qa-tests, 99papercuts

#10212 ROX-22411: Apply exception updates to original req on approval
  central/vulnerabilityrequest/datastore/datastore_impl.go
  central/vulnerabilityrequest/datastore/datastore_impl_test.go
Labels: area/central, epic/vm2.0/unified-deferral

#10247 ROX-20982: Tests for Denied Requests Table
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/ExceptionManagement.helpers.ts
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/deniedRequestsTable.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/denyRequestFlow.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
Labels: area/ui, epic/vm2.0/unified-deferral, 99papercuts

#10265 ROX-21937: Remove stackrox.io references
  Makefile
  README.md
  central/clusters/deployer_test.go
  image/embed_charts_test.go
  image/templates/helm/stackrox-central/values-public.yaml.example.htpl
  image/templates/helm/stackrox-secured-cluster/values-public.yaml.example
  operator/Makefile
  pkg/helm/charts/meta_test.go
  pkg/helm/charts/tests/centralservices/flavor/flavor_test.go
  pkg/helm/charts/tests/securedclusterservices/flavor/flavor_test.go
  pkg/images/defaults/env.go
  pkg/images/defaults/flavor.go
  pkg/images/defaults/flavor_test.go
  pkg/images/defaults/testutils/flavor_test.go
  pkg/kubernetes/pull_secret_test.go
  pkg/renderer/templates/public_values.yaml.tpl
  roxctl/central/generate/generate_test.go
  roxctl/helm/output/output_lint_test.go
  sensor/kubernetes/listener/resources/convert.go
  tests/roxctl/bats-tests/cluster/sensor-generate-image-overrides.bats
  tests/roxctl/bats-tests/helpers.bash
  tests/roxctl/bats-tests/local/central-generate-development.bats
  tests/roxctl/bats-tests/local/central-generate-interactive-flavors.bats
  tests/roxctl/bats-tests/local/central-generate-release.bats
  tests/roxctl/bats-tests/local/expect/flavor-interactive.expect.tcl
  tests/roxctl/bats-tests/local/roxctl-helm-output-central-development.bats
  tests/roxctl/bats-tests/local/roxctl-helm-output-central-release.bats
  tests/roxctl/bats-tests/local/roxctl-helm-output-secured-cluster-services-development.bats
  tests/roxctl/bats-tests/local/roxctl-helm-output-secured-cluster-services-release.bats
  ui/apps/platform/cypress/fixtures/clusters/certExpirationDegraded.json
Labels: area/roxctl, area/central, area/ui, area/helm, area/operator, area/sensor

#10313 ROX-19523: Set `features.operators.openshift.io` annotations
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
Labels: area/operator

#8566 feat(helm): add priorityClassName settings in charts
  image/templates/helm/shared/internal/scanner-config-shape.yaml
  image/templates/helm/shared/templates/02-scanner-06-deployment.yaml.htpl
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/templates/01-central-12-central-db.yaml
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/README.md.htpl
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
  pkg/helm/charts/tests/centralservices/testdata/helmtest/priority-class-name.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/priority-class-name.test.yaml
Labels: area/helm, ok-to-test, external-contributor

#10286 chore(scanner): migrate GCR test image to Quay
  .github/workflows/scanner-e2e-test.yaml
  scanner/Makefile
  scanner/e2etests/testdata/image_tests.json
Labels: area/scanner, area/ci, pr-scanner-db-init-bundle

#9145 ROX-22101: use gogo TimestampFromProto through abstraction layer
  central/administration/usage/csv/csv_handler.go
  central/administration/usage/service/service_impl.go
  central/apitoken/backend/backend_impl.go
  central/cluster/service/service_impl.go
  central/compliance/checks/nist80053/check_si_4/check.go
  central/graphql/resolvers/pods.go
  central/graphql/resolvers/timestamp.go
  central/notifiers/awssh/notifier.go
  central/notifiers/syslog/syslog.go
  central/pruning/pruning.go
  central/views/imagecve/view_test.go
  pkg/csv/utils.go
  pkg/grpc/common/authn/servicecerttoken/token.go
  pkg/postgres/pgutils/utils.go
  pkg/protoconv/time.go
  pkg/readable/time.go
  pkg/telemetry/util.go
  pkg/timestamp/utils.go
  pkg/timeutil/max_test.go
  sensor/kubernetes/telemetry/command_handler.go
  tools/roxvet/analyzers/gogoprotofunctions/analyzer.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/central, area/sensor, area/postgres

#10287 chore: Remove not needed feature flags
  central/networkpolicies/service/service_impl.go
  central/networkpolicies/service/service_impl_test.go
  central/notifiers/syslog/syslog.go
  central/notifiers/syslog/syslog_test.go
  pkg/features/list.go
  pkg/registries/quay/quay.go
  pkg/registries/quay/quay_test.go
  tests/e2e/bats/fixtures/test-pod-without-oomkilled_object.json
  tests/e2e/lib.sh
Labels: area/central

#9221 ROX-22101: call gogo proto.MarshalToString through compatibility layer
  central/compliance/checks/common/rbac.go
  central/cve/edgefields/searcher.go
  central/detection/alertmanager/alert_manager_impl_test.go
  central/detection/buildtime/detector_impl_test.go
  central/detection/lifecycle/manager_impl.go
  central/group/datastore/datastore_impl.go
  central/group/datastore/validate.go
  central/group/service/service_impl.go
  central/networkpolicies/generator/generator_impl_test.go
  central/role/mapper/store_based_mapper_impl.go
  central/scrape/scrape_impl.go
  central/sensor/service/pipeline/all/pipeline.go
  central/version/ensure.go
  pkg/booleanpolicy/default_policies_test.go
  pkg/protoconv/time.go
  pkg/search/queryutils.go
  sensor/common/compliance/command_handler_impl.go
  sensor/common/enforcer/enforcer.go
  sensor/kubernetes/networkpolicies/command_handler.go
  sensor/kubernetes/upgrade/command_handler_impl.go
  tests/excluded_scopes_test.go
  tools/roxvet/analyzers/gogoprotofunctions/analyzer.go
Labels: area/central, area/sensor

#10304 chore: Add feature flag for VM 2.0 node and platform CVEs
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui, epic/vm2.0/node&platform

#10284 chore(ui): Remove compliance scan config profile's select all option
  ui/apps/platform/src/Containers/ComplianceEnhanced/ClusterCompliance/ScanConfigs/Wizard/ProfileSelection.tsx
Labels: area/ui, epic/compliance-2.0/mvp

#10316 ROX-20291: Move FE sorting of Policies table to avoid re-render
  ui/apps/platform/cypress/integration/policies/policiesTable.test.js
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTable.tsx
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTable.utils.ts
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTablePage.tsx
Labels: area/ui, 99papercuts

#10322 fix(scanner): Parse RH vuln names from RH links
  .github/workflows/scanner-pr-vuln-update.yaml
  scanner/mappers/mappers_test.go
  scanner/updater/rhel/parser.go
Labels: area/scanner, area/ci, pr-update-scanner-vulns

#10342 ROX-23087: bump pgx
  go.mod
  go.sum
Labels: backport

#10133 ROX-22101: use gogoproto Timestamp.Compare through compatibility layer
  central/apitoken/expiration/expiration.go
  central/compliance/manager/manager_impl.go
  central/compliance/manager/service/service_impl.go
  central/credentialexpiry/service/service_impl.go
  central/detection/alertmanager/alert_manager_impl.go
  central/graphql/resolvers/components_v1.go
  central/graphql/resolvers/container_instances.go
  central/graphql/resolvers/node_components_v1.go
  central/image/datastore/store/postgres/store.go
  central/integrationhealth/reporter/health_reporter_impl.go
  central/networkgraph/aggregator/aggregator_impl.go
  central/networkpolicies/datastore/datastore_impl.go
  central/node/datastore/store/postgres/store.go
  central/processbaseline/baselineutils.go
  central/processbaseline/datastore/datastore_impl_test.go
  central/processindicator/service/service_impl.go
  central/processlisteningonport/datastore/datastore_impl.go
  central/pruning/prune_blob_test.go
  central/pruning/pruning.go
  central/splunk/violations.go
  migrator/migrations/n_04_to_n_05_postgres_images/legacy/store_impl.go
  migrator/migrations/n_04_to_n_05_postgres_images/postgres/store.go
  migrator/migrations/n_30_to_n_31_postgres_network_flows/legacy/flow_impl.go
  migrator/migrations/n_30_to_n_31_postgres_network_flows/migration_test.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/legacy/store_impl.go
  migrator/migrations/n_35_to_n_36_postgres_nodes/postgres/store_impl.go
  pkg/detection/exclusion.go
  pkg/registries/docker/metadata_v1.go
  pkg/search/predicate/basematchers/timestamp.go
  sensor/admission-control/manager/manager_impl.go
  tools/roxvet/analyzers/gogoprotofunctions/analyzer.go
Labels: area/central, area/sensor, area/admission-controller

#10340 chore: set owners for roxctl netpol
  .github/CODEOWNERS
Labels: area/ci

#10358 chore: Remove additional legacy feature flag
  central/externalbackups/manager/backup_from_config_manager.go
  central/externalbackups/manager/watch_handler_test.go
  central/externalbackups/service/singleton.go
  central/notifiers/syslog/syslog.go
  central/notifiers/syslog/syslog_test.go
  generated/api/v1/integration_config.pb.go
  generated/api/v1/integration_config.swagger.json
  pkg/features/list.go
  proto/api/v1/integration_config.proto
  tests/e2e/bats/fixtures/test-pod-without-oomkilled_object.json
  tests/e2e/lib.sh
  ui/apps/platform/cypress/fixtures/network/collectorDeployment.json
  ui/apps/platform/cypress/fixtures/network/sensorDeployment.json
Labels: area/central, area/ui

#10347 refactor: Move errorhelpers/utils under errox
  central/scannerdefinitions/handler/handler.go
  pkg/errox/utils.go
  pkg/postgres/pgutils/error.go
Labels: area/central, area/postgres

#10345 chore: Rework contributing.md
  .github/contributing.md
Labels: area/ci

#10314 ROX-22725: Adding deployment labels and annotations
  ui/apps/platform/src/Components/PatternFly/TableErrorComponent.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/types.ts
Labels: area/ui, epic/vm2.0/deployments-labels-and-annotations

#9201 ROX-22101: call gogo proto.Equal through compatibility layer
  central/cluster/datastore/datastore_impl.go
  central/detection/alertmanager/alert_manager_impl.go
  central/group/service/service_impl.go
  central/networkpolicies/graph/diff_test.go
  central/risk/manager/manager.go
  central/sensor/service/pipeline/networkflowupdate/flow_store_updater_impl_test.go
  migrator/migrations/m_80_to_m_81_rm_demo_policies/migration.go
  pkg/protoutils/clone_test.go
  pkg/protoutils/slices.go
  pkg/search/postgres/store_cache.go
  pkg/signatures/factory.go
  sensor/common/sensor/helmconfig/load_test.go
  tests/admctrl_configmap_test.go
  tools/roxvet/analyzers/gogoprotofunctions/analyzer.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/central, area/sensor, area/postgres, 99papercuts

#9254 ROX-22101: use gogo DurationFromProto through compatibility layer
  central/cve/cluster/datastore/datastore_impl.go
  central/cve/common/utils.go
  central/cve/image/datastore/datastore_impl.go
  central/cve/node/datastore/datastore_impl.go
  tools/roxvet/analyzers/gogoprotofunctions/analyzer.go
Labels: area/central, 99papercuts

#10300 ROX-11920: Allow customization of default annotations and labels
  image/templates/helm/shared/internal/annotations/helm-hook_secret.yaml
  image/templates/helm/shared/internal/annotations/helm-hook_storage.yaml
  image/templates/helm/shared/templates/00-storage-class.yaml
  image/templates/helm/shared/templates/02-scanner-v4-06-db-pvc.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-indexer-deployment.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-matcher-deployment.yaml
  image/templates/helm/shared/templates/_metadata.tpl
  image/templates/helm/stackrox-central/templates/01-central-11-db-pvc.yaml
  image/templates/helm/stackrox-central/templates/01-central-11-pvc.yaml
  image/templates/helm/stackrox-central/templates/01-central-12-central-db.yaml
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-central/templates/_labels.tpl
  image/templates/helm/stackrox-secured-cluster/templates/00-collector-image-pull-secrets.yaml
  image/templates/helm/stackrox-secured-cluster/templates/00-main-image-pull-secrets.yaml
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_labels.tpl
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
  pkg/helm/charts/tests/centralservices/testdata/helmtest/customize-metadata.yaml
Labels: area/helm

#10303 ROX-22720: Add compliance operator installed flag
  central/complianceoperator/v2/integration/service/convert.go
  central/complianceoperator/v2/integration/store/postgres/store.go
  central/sensor/service/pipeline/complianceoperator/complianceoperatorinfo/pipeline.go
  generated/api/v2/compliance_integration_service.pb.go
  generated/api/v2/compliance_integration_service.swagger.json
  generated/internalapi/central/compliance_operator.pb.go
  generated/storage/compliance_integration.pb.go
  pkg/postgres/schema/compliance_integrations.go
  pkg/search/options.go
  proto/api/v2/compliance_integration_service.proto
  proto/internalapi/central/compliance_operator.proto
  proto/storage/compliance_integration.proto
  sensor/kubernetes/complianceoperator/updater.go
  sensor/kubernetes/complianceoperator/updater_test.go
Labels: area/central, area/sensor, area/postgres

#9256 ROX-22101: use gogo proto.DurationProto through compatibility layer
  central/cve/cluster/datastoretest/datastore_sac_test.go
  central/cve/fetcher/manager_impl_postgres_test.go
  central/cve/image/datastore/datastore_impl_test.go
  central/cve/node/datastore/datastore_impl_test.go
  tools/roxvet/analyzers/gogoprotofunctions/analyzer.go
Labels: area/central, 99papercuts

#10367 chore: add internal deserialize proto tool
  tools/deserialize-proto/README.md
  tools/deserialize-proto/init.go
  tools/deserialize-proto/main.go
Labels: 99papercuts

#10393 ROX-19949: Change VM 2.0 lightning icon to a filter icon
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/DynamicIcon.tsx
Labels: area/ui

#10394 ROX-23118: Include query string in login redirect URL
  ui/apps/platform/src/Containers/MainPage/AuthenticatedRoutes.tsx
Labels: area/ui

#10317 ROX-20036: migrate google scanner integration test images
  pkg/registries/google/google_integration_test.go
  pkg/registries/google/google_test.go
  pkg/scanners/google/google_integration_test.go
Labels: 99papercuts

#10306 feat(docs): Improve docs on sensor components
  sensor/common/store/resolver/resolver.go
  sensor/kubernetes/eventpipeline/component/component.go
  sensor/kubernetes/eventpipeline/component/message.go
  sensor/kubernetes/eventpipeline/output/output.go
  sensor/kubernetes/eventpipeline/output/output_impl.go
  sensor/kubernetes/eventpipeline/pipeline.go
  sensor/kubernetes/eventpipeline/pipeline_impl.go
  sensor/kubernetes/eventpipeline/resolver/resolver.go
  sensor/kubernetes/eventpipeline/resolver/resolver_impl.go
  sensor/kubernetes/eventpipeline/resolver/resolver_test.go
  sensor/kubernetes/listener/resources/deployments.go
  sensor/kubernetes/listener/resources/rbac/store_impl_test.go
  sensor/kubernetes/listener/resources/serviceaccount.go
Labels: team/maple, area/sensor, 99papercuts

#10302 ROX-18969: add label selector to operator cache
  operator/main.go
  operator/pkg/central/extensions/common.go
  operator/pkg/central/extensions/common_test.go
  operator/pkg/central/extensions/reconcile_admin_password.go
  operator/pkg/central/extensions/reconcile_central_db_password.go
  operator/pkg/central/extensions/reconcile_pvc.go
  operator/pkg/central/extensions/reconcile_scanner_db_password.go
  operator/pkg/central/extensions/reconcile_scanner_v4_db_password.go
  operator/pkg/central/extensions/reconcile_tls.go
  operator/pkg/central/extensions/reconcile_tls_test.go
  operator/pkg/central/reconciler/reconciler.go
  operator/pkg/common/extensions/reconcile_scanner_db_password.go
  operator/pkg/common/extensions/reconcile_scanner_v4_db_password.go
  operator/pkg/common/extensions/secret_reconciliator.go
  operator/pkg/common/extensions/secret_reconciliator_test.go
  operator/pkg/common/labels/labels.go
  operator/pkg/legacy/secrets.go
  operator/pkg/proxy/extension.go
  operator/pkg/reconciler/reconciler_factory.go
  operator/pkg/securedcluster/extensions/cluster_name.go
  operator/pkg/securedcluster/extensions/common.go
  operator/pkg/securedcluster/extensions/reconcile_scanner_db_password.go
  operator/pkg/securedcluster/extensions/reconcile_scanner_v4_db_password.go
  operator/pkg/securedcluster/reconciler/reconciler.go
  operator/pkg/securedcluster/values/translation/translation.go
  operator/pkg/securedcluster/values/translation/translation_test.go
  operator/pkg/utils/api.go
  operator/pkg/values/translation/translation.go
Labels: area/operator

#10370 ROX-22924: Make operator-e2e failure tickets more granular
  operator/tools/kuttl/go.mod
  operator/tools/kuttl/go.sum
  scripts/ci/lib.sh
Labels: area/operator

#10406 chore: remove superfluous workflow that adds issues to OSS project
  .github/workflows/add-issue-to-triage.yml
Labels: area/ci

#10182 ROX-20160: Add `main` UI build to Konflux
  .tekton/main-pull-request.yaml
  .tekton/main-push.yaml
  image/rhel/konflux.Dockerfile
  operator/konflux.Dockerfile
  scripts/konflux/bootstrap-yarn/.gitignore
  scripts/konflux/bootstrap-yarn/README.md
  scripts/konflux/bootstrap-yarn/package-lock.json
  scripts/konflux/bootstrap-yarn/package.json
Labels: area/ui, area/helm, area/operator

#10396 feat(enhancement): Enhance local-sensor clientset with ocp clients
  sensor/debugger/k8s/fake.go
  sensor/debugger/k8s/k8sclient.go
Labels: area/sensor

#10344 ROX-22868: Fix race condition allowing multiple vuln reqs with same CVEs
  central/vulnerabilityrequest/datastore/internal/store/postgres/store.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl_create_req_test.go
  central/vulnerabilityrequest/utils/util.go
  generated/storage/vuln_requests.pb.go
  pkg/postgres/schema/vulnerability_requests.go
  pkg/search/options.go
  proto/storage/vuln_requests.proto
Labels: area/central, area/postgres, epic/vm2.0/unified-deferral

#10411 chore(operator): Followup improvements.
  operator/main.go
  operator/pkg/central/extensions/common.go
  operator/pkg/central/extensions/common_test.go
  operator/pkg/central/extensions/reconcile_admin_password.go
  operator/pkg/central/extensions/reconcile_central_db_password.go
  operator/pkg/central/extensions/reconcile_pvc.go
  operator/pkg/central/extensions/reconcile_scanner_db_password.go
  operator/pkg/central/extensions/reconcile_scanner_v4_db_password.go
  operator/pkg/central/extensions/reconcile_tls.go
  operator/pkg/central/reconciler/reconciler.go
  operator/pkg/common/extensions/reconcile_scanner_db_password.go
  operator/pkg/common/extensions/reconcile_scanner_v4_db_password.go
  operator/pkg/common/extensions/secret_reconciliator.go
  operator/pkg/common/labels/labels.go
  operator/pkg/proxy/extension.go
  operator/pkg/reconciler/reconciler_factory.go
  operator/pkg/securedcluster/extensions/common.go
  operator/pkg/securedcluster/extensions/reconcile_scanner_db_password.go
  operator/pkg/securedcluster/extensions/reconcile_scanner_v4_db_password.go
  operator/pkg/securedcluster/reconciler/reconciler.go
  operator/pkg/securedcluster/values/translation/translation.go
  operator/pkg/securedcluster/values/translation/translation_test.go
  operator/pkg/utils/api.go
Labels: area/operator

#10355 chore(ui): Refactor Workload CVE components for reusability
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/EntityTypeToggleGroup.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/TableEntityToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadCveFilterToolbar.css
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadCveFilterToolbar.cy.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadCveFilterToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/utils/searchUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/components/DynamicIcon.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/EntityTypeToggleGroup.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/TableEntityToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/types.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/searchUtils.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/sortUtils.tsx
Labels: area/ui

#10385 chore(scanner): add quay tag expiry label to images
  scanner/Makefile
  scanner/image/db/Dockerfile
  scanner/image/scanner/Dockerfile
Labels: area/scanner, ci-build-prerelease

#10398 chore(ui): Swap button style from tertiary to secondary
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.tsx
Labels: area/ui

#10301 ROX-20334: compliance stats by profile
  central/complianceoperator/v2/checkresults/datastore/datastore.go
  central/complianceoperator/v2/checkresults/datastore/datastore_impl.go
  central/complianceoperator/v2/checkresults/datastore/datastore_impl_test.go
  central/complianceoperator/v2/checkresults/datastore/mocks/datastore.go
  central/complianceoperator/v2/checkresults/datastore/stats_views.go
  central/complianceoperator/v2/checkresults/service/service_impl.go
  central/complianceoperator/v2/checkresults/service/service_impl_test.go
  central/complianceoperator/v2/checkresults/store/postgres/gen.go
  central/complianceoperator/v2/checkresults/store/postgres/store.go
  central/complianceoperator/v2/profiles/datastore/datastore_impl.go
  central/complianceoperator/v2/profiles/store/postgres/gen.go
  central/complianceoperator/v2/profiles/store/postgres/store.go
  central/complianceoperator/v2/scans/datastore/datastore_impl.go
  central/complianceoperator/v2/scans/store/postgres/gen.go
  central/complianceoperator/v2/scans/store/postgres/store.go
  central/convert/internaltov2storage/compliance_check_results.go
  central/convert/internaltov2storage/compliance_operator_profile.go
  central/convert/internaltov2storage/compliance_operator_scan.go
  central/convert/internaltov2storage/utils.go
  central/convert/storagetov2/compliance_results_service.go
  central/convert/testutils/compliance_profiles.go
  central/convert/testutils/compliance_results.go
  central/convert/testutils/compliance_scans.go
  central/sensor/service/pipeline/complianceoperatorresultsv2/pipeline_test.go
  generated/api/v2/compliance_results_service.pb.go
  generated/api/v2/compliance_results_service.pb.gw.go
  generated/api/v2/compliance_results_service.swagger.json
  generated/api/v2/vuln_exception_service.pb.go
  generated/storage/compliance_operator_v2.pb.go
  pkg/postgres/schema/compliance_operator_check_result_v2.go
  pkg/postgres/schema/compliance_operator_profile_v2.go
  pkg/postgres/schema/compliance_operator_scan_v2.go
  pkg/search/options.go
  proto/api/v2/compliance_results_service.proto
  proto/storage/compliance_operator_v2.proto
Labels: area/central, area/postgres, epic/compliance-2.0/mvp

#10381 ROX-22838: rocks remove backup restore
  central/globaldb/v2backuprestore/common/migration_version.go
  central/globaldb/v2backuprestore/formats/all/all.go
  central/globaldb/v2backuprestore/formats/roxdbv1/bolt.go
  central/globaldb/v2backuprestore/formats/roxdbv1/file.go
  central/globaldb/v2backuprestore/formats/roxdbv1/format.go
  central/globaldb/v2backuprestore/formats/roxdbv1/rocks.go
  central/globaldb/v2backuprestore/manager/manager.go
  central/globaldb/v2backuprestore/manager/restore_process.go
  go.mod
Labels: area/central

#10166 fix(scanner): update e2e test expected values
  scanner/e2etests/testdata/image_tests.json
Labels: area/scanner, pr-scanner-db-init-bundle

#10382 ROX-22734: Add a namespace overview page
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/NamespaceViewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/DefaultFilterModal.tsx
  ui/apps/platform/src/routePaths.ts
Labels: area/ui, epic/vm2.0/namespace-view

#10310 ROX-22101: move pgutils.NilOrTime logic to protocompat
  pkg/postgres/pgutils/utils.go
  pkg/protocompat/time.go
Labels: area/postgres

#10356 ROX-23028: Add page component layout for node cves page
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCvesPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodeCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/components/NodeCveFilterToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadCveFilterToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/CVESeverityDropdown.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/CVEStatusDropdown.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/FilterDropdowns.css
  ui/apps/platform/src/Containers/Vulnerabilities/searchOptions.ts
  ui/apps/platform/src/Containers/Vulnerabilities/types.ts
Labels: area/ui

#10311 ROX-22101: gogo migrate generated code to protocompat.NilOrTime
  central/administration/events/datastore/internal/store/postgres/store.go
  central/administration/usage/store/postgres/store.go
  central/alert/datastore/internal/store/postgres/store.go
  central/apitoken/datastore/internal/store/postgres/store.go
  central/blob/datastore/store/postgres/store.go
  central/cluster/store/clusterhealth/postgres/store.go
  central/compliance/datastore/internal/store/postgres/metadata/store.go
  central/compliance/datastore/internal/store/postgres/results/store.go
  central/complianceoperator/v2/checkresults/store/postgres/store.go
  central/complianceoperator/v2/scanconfigurations/scanconfigstatus/store/postgres/store.go
  central/complianceoperator/v2/scans/store/postgres/store.go
  central/cve/cluster/datastore/store/postgres/store.go
  central/cve/image/datastore/store/postgres/store.go
  central/cve/node/datastore/store/postgres/store.go
  central/deployment/datastore/internal/store/postgres/store.go
  central/discoveredclusters/datastore/internal/store/postgres/store.go
  central/logimbue/store/postgres/store.go
  central/policy/store/postgres/store.go
  central/processindicator/store/postgres/store.go
  central/processlisteningonport/store/postgres/store.go
  central/reports/snapshot/datastore/store/postgres/store.go
  central/secret/internal/store/postgres/store.go
  central/vulnerabilityrequest/datastore/internal/store/postgres/store.go
  migrator/migrations/postgreshelper/schema/convert_test_single_key_structs.go
  migrator/migrations/postgreshelper/schema/convert_test_single_uuid_key_structs.go
  migrator/migrations/postgreshelper/schema/convert_test_structs.go
  tools/generate-helpers/pg-table-bindings/migration_tool.go.tpl
  tools/generate-helpers/pg-table-bindings/multitest/postgres/store.go
  tools/generate-helpers/pg-table-bindings/singleton.go.tpl
  tools/generate-helpers/pg-table-bindings/store.go.tpl
  tools/generate-helpers/pg-table-bindings/test/postgres/store.go
  tools/generate-helpers/pg-table-bindings/testuuidkey/postgres/store.go
Labels: area/central, area/postgres

#10429 chore(CI): use dnf over yum
  image/postgres/download.sh
  image/rhel/download.sh
  scanner/image/db/scripts/download.sh
Labels: area/helm, area/postgres, area/scanner

#10350 ROX-23096: Abort rendering of Helm charts if Helm version is < v3.9.0
  CHANGELOG.md
  image/templates/helm/shared/templates/_helpers.tpl
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  pkg/helm/charts/tests/centralservices/base_suite_test.go
  pkg/helm/util/render.go
Labels: area/helm

#10299 ROX-22769: fetch sensor's certificates in go code
  sensor/debugger/certs/cert_fetcher.go
  sensor/tests/connection/runtime/runtime_test.go
  sensor/tests/helper/helper.go
  tools/local-sensor/main.go
Labels: team/maple, area/sensor, 99papercuts

#10400 ROX-23036: Add route and page component for NodeCVEs - CVE Single page
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCvesPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/utils/searchUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/types.ts
Labels: area/ui, epic/vm2.0/node&platform

#10198 ROX-20860: Add Konflux build pipeline for Scanner v4 DB
  .tekton/scanner-v4-db-pull-request.yaml
  .tekton/scanner-v4-db-push.yaml
  scanner/image/db/konflux.Dockerfile
Labels: area/scanner

#10324 feat(qa): Update IIBs to build v4.4.0-11 & re-enable few tests on P/Z
  operator/midstream/iib.json
  qa-tests-backend/src/test/groovy/BuiltinPoliciesTest.groovy
  qa-tests-backend/src/test/groovy/ImageManagementTest.groovy
  qa-tests-backend/src/test/groovy/PaginationTest.groovy
Labels: ci-all-qa-tests, area/operator, do-not-merge

#10151 ROX-22101: use gogo Any, Empty and Uint32Value through protocompat
  central/audit/audit.go
  central/debug/service/service.go
  central/sensorupgrade/controlservice/service_impl.go
  central/splunk/violations.go
  sensor/admission-control/alerts/sender_test.go
  sensor/common/admissioncontroller/management_service.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/central, area/sensor, area/admission-controller, area/scanner, 99papercuts

#10372 ROX-22101: migrate compliance away from gogo protobuf
  central/compliance/checks/nist80053/check_si_4/check_test.go
  central/compliance/manager/collect_results.go
  central/compliance/manager/run.go
  central/complianceoperator/v2/scanconfigurations/service/convert.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  compliance/collection/auditlog/auditevent.go
  compliance/collection/auditlog/auditlog_impl.go
  compliance/collection/auditlog/auditlog_impl_test.go
  compliance/collection/compliance/compliance_checks.go
  pkg/compliance/checks/standards/check.go
  pkg/protocompat/time.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/central

#10462 ROX-23081: add roxctl ARM binary download
  Makefile
  ui/apps/platform/src/Containers/MainPage/Header/CLIDownloadMenu.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step2/DownloadCLIDropdown.tsx
Labels: area/ui

#10397 ROX-22101: Remove direct gogo protobuf imports from central graphql
  central/graphql/generator/codegen/codegen.go
  central/graphql/generator/codegen/schema.go
  central/graphql/resolvers/cluster_vulnerabilities.go
  central/graphql/resolvers/components_v1.go
  central/graphql/resolvers/container_instances.go
  central/graphql/resolvers/deploymentevents.go
  central/graphql/resolvers/embeddedobjs/component_context.go
  central/graphql/resolvers/embeddedobjs/node_component_context.go
  central/graphql/resolvers/gen/main.go
  central/graphql/resolvers/generated.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_scan.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/node_components.go
  central/graphql/resolvers/node_components_postgres_test.go
  central/graphql/resolvers/node_components_v1.go
  central/graphql/resolvers/node_scan.go
  central/graphql/resolvers/node_vulnerabilities.go
  central/graphql/resolvers/node_vulnerabilities_postgres_test.go
  central/graphql/resolvers/nodes.go
  central/graphql/resolvers/pods.go
  central/graphql/resolvers/timestamp.go
  central/graphql/resolvers/violations.go
  central/graphql/resolvers/vulnerabilities_v1.go
  central/graphql/resolvers/vulnerability_requests.go
  central/graphql/resolvers/vulnerability_requests_test.go
  pkg/protocompat/time.go
Labels: area/central

#10454 ROX-13549: rocks remove rocks migration gen
  tools/generate-helpers/blevebindings-wrapper
  tools/generate-helpers/blevebindings/main.go
  tools/generate-helpers/blevebindings/operations/count.go
  tools/generate-helpers/blevebindings/operations/registry.go
  tools/generate-helpers/blevebindings/operations/search.go
  tools/generate-helpers/blevebindings/operations/utils.go
  tools/generate-helpers/common/bolt.go
  tools/generate-helpers/common/packagenames/list.go
  tools/generate-helpers/pg-table-bindings/main.go
  tools/generate-helpers/pg-table-bindings/migration.go
  tools/generate-helpers/pg-table-bindings/migration.go.tpl
  tools/generate-helpers/pg-table-bindings/migration_test.go.tpl
Labels: area/postgres

#10438 chore(test): auto retest prow
  .github/dependabot.yaml
  .github/workflows/retest_periodic.yml
  tools/retest/go.mod
  tools/retest/go.sum
  tools/retest/main.go
Labels: area/ci

#10476 chore(GO): extend vuln ingore
  .github/workflows/build.yaml
  govulncheck-allowlist.json
Labels: area/ci, scan-go-binaries

#10489 fix(ui): Fix rendering performance issues in Workload CVEs
  ui/apps/platform/src/Containers/Vulnerabilities/components/EntityTypeToggleGroup.tsx
  ui/apps/platform/src/hooks/useURLSort.ts
Labels: area/ui

#10201 fix(declarative-config): validate notifiers before upserting
  central/declarativeconfig/updater/notifier_updater.go
  central/notifier/datastore/datastore_impl.go
  central/notifier/datastore/datastsore_test.go
  central/notifiers/validation/validate.go
  central/reports/config/datastore/datastore_impl_v2_test.go
  central/reports/config/service/config_separation_test.go
  central/reports/service/v2/config_separation_test.go
  central/reports/snapshot/datastore/datastore_impl_test.go
Labels: area/central, 99papercuts

#10480 chore(deps): update go-jose
  go.mod
  go.sum
  pkg/auth/authproviders/iap/backend_impl.go
  pkg/auth/authproviders/validate_test.go
  pkg/auth/tokens/claims.go
  pkg/auth/tokens/issuer_factory.go
  pkg/auth/tokens/options.go
  pkg/cloudproviders/gcp/identity_token.go
  pkg/grpc/authn/interceptor.go
  pkg/jwt/facade.go
  pkg/jwt/keys.go
  pkg/jwt/tokens.go
  sensor/common/certdistribution/service_impl.go
  sensor/kubernetes/sensor/deployment_identification.go
Labels: area/auth, area/sensor

#10479 fix(ui): Add workaround for bug in access scopes to avoid crash
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/EffectiveAccessScopeTable.tsx
Labels: area/ui

#10496 chore(scanner): remove unnecessary release versions
  scanner/updater/version/RELEASE_VERSION
Labels: area/scanner

#10484 chore(deps): bump Helm v3 to 3.14.2
  go.mod
  go.sum
  operator/pkg/central/extensions/reconcile_pvc.go
  operator/pkg/central/extensions/reconcile_pvc_test.go
  sensor/upgrader/common/schema_validator.go
Labels: area/operator, area/sensor

#10471 ROX-23313: Fix shellcheck 0.10.0 warnings.
  image/postgres/download.sh
  scripts/check-log-query-data.sh
  scripts/check-todos.sh
  scripts/ci/collect-collector-metrics.sh
  scripts/ci/gke.sh
  scripts/ci/lib.sh
  scripts/k8s/cleanup.sh
  tests/e2e/bats/check_for_errors_in_stackrox_logs.bats
  tools/local-sensor/scripts/local-sensor.sh
Labels: area/helm, area/postgres

#10334 ROX-22101: remove direct gogo protobuf imports from sensor
  central/sensor/service/connection/upgradecontroller/active.go
  pkg/booleanpolicy/augmentedobjs/custom_types.go
  pkg/booleanpolicy/default_policies_test.go
  pkg/booleanpolicy/violationmessages/printer/network_baseline.go
  pkg/protocompat/time.go
  sensor/admission-control/manager/manager_impl.go
  sensor/common/clusterentities/store.go
  sensor/common/compliance/auditlog_manager_impl.go
  sensor/common/compliance/auditlog_manager_test.go
  sensor/common/detector/detector.go
  sensor/common/processsignal/pipeline.go
  sensor/kubernetes/fake/flows.go
  sensor/kubernetes/listener/resources/complianceoperator/dispatchers/complianceoperatorscans.go
  sensor/kubernetes/listener/resources/endpoints.go
  sensor/kubernetes/telemetry/command_handler.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/central, area/sensor, area/admission-controller

#10486 chore(CI): enable .openshift-ci unit tests in CI
  .github/workflows/unit-tests.yaml
  .openshift-ci/Makefile
  .openshift-ci/tests/test_clusters.py
Labels: area/ci

#10488 chore(refactor): Move pipelines to compliance operator packages
  central/complianceoperator/pipelines/complianceoperatorprofiles/pipeline.go
  central/complianceoperator/pipelines/complianceoperatorprofiles/pipeline_test.go
  central/complianceoperator/pipelines/complianceoperatorresults/pipeline.go
  central/complianceoperator/pipelines/complianceoperatorresults/pipeline_test.go
  central/complianceoperator/pipelines/complianceoperatorrules/pipeline.go
  central/complianceoperator/pipelines/complianceoperatorscans/pipeline.go
  central/complianceoperator/pipelines/complianceoperatorscans/pipeline_test.go
  central/complianceoperator/pipelines/complianceoperatorscansettingbinding/pipeline.go
  central/complianceoperator/v2/pipelines/complianceoperatorinfo/pipeline.go
  central/complianceoperator/v2/pipelines/complianceoperatorinfo/pipeline_test.go
  central/complianceoperator/v2/pipelines/complianceoperatorprofilesv2/pipeline.go
  central/complianceoperator/v2/pipelines/complianceoperatorprofilesv2/pipeline_test.go
  central/complianceoperator/v2/pipelines/complianceoperatorresultsv2/pipeline.go
  central/complianceoperator/v2/pipelines/complianceoperatorresultsv2/pipeline_test.go
  central/complianceoperator/v2/pipelines/complianceoperatorrulesv2/pipeline.go
  central/complianceoperator/v2/pipelines/complianceoperatorrulesv2/pipeline_test.go
  central/complianceoperator/v2/pipelines/complianceoperatorscansettingbindingsv2/pipeline.go
  central/complianceoperator/v2/pipelines/complianceoperatorscansettingbindingsv2/pipeline_test.go
  central/complianceoperator/v2/pipelines/complianceoperatorscansv2/pipeline.go
  central/complianceoperator/v2/pipelines/complianceoperatorscansv2/pipeline_test.go
  central/complianceoperator/v2/pipelines/complianceoperatorsuitesv2/pipeline.go
  central/complianceoperator/v2/pipelines/complianceoperatorsuitesv2/pipeline_test.go
  central/sensor/service/pipeline/all/factory.go
Labels: area/central

#10436 ROX-22101: Remove gogo protobuf imports from central NetworkGraph
  central/networkgraph/flow/datastore/flow.go
  central/networkgraph/flow/datastore/flow_impl.go
  central/networkgraph/flow/datastore/internal/store/flow.go
  central/networkgraph/flow/datastore/internal/store/mocks/flow.go
  central/networkgraph/flow/datastore/internal/store/postgres/store.go
  central/networkgraph/flow/datastore/internal/store/postgres/store_test.go
  central/networkgraph/flow/datastore/internal/store/testcommon/flow.go
  central/networkgraph/flow/datastore/mocks/flow.go
  central/networkgraph/service/service_impl.go
  central/networkgraph/service/service_impl_test.go
  central/networkpolicies/generator/generator_impl.go
  central/networkpolicies/generator/generator_impl_test.go
  central/sensor/service/pipeline/networkflowupdate/flow_store_updater.go
  central/sensor/service/pipeline/networkflowupdate/flow_store_updater_impl.go
  central/sensor/service/pipeline/networkflowupdate/flow_store_updater_impl_test.go
  central/sensor/service/pipeline/networkflowupdate/pipeline.go
Labels: area/central

#10417 ROX-22101: remove gogo protobuf from vulnerability management
  central/cve/cluster/datastore/datastore.go
  central/cve/cluster/datastore/datastore_impl.go
  central/cve/cluster/datastore/datastore_impl_test.go
  central/cve/cluster/datastore/mocks/datastore.go
  central/cve/cluster/datastore/store/postgres/full_store.go
  central/cve/cluster/datastoretest/datastore_sac_test.go
  central/cve/cluster/service/service_impl.go
  central/cve/common/types.go
  central/cve/common/utils.go
  central/cve/fetcher/manager_impl_postgres_test.go
  central/cve/image/datastore/datastore.go
  central/cve/image/datastore/datastore_impl.go
  central/cve/image/datastore/datastore_impl_test.go
  central/cve/image/datastore/mocks/datastore.go
  central/cve/image/service/service_impl.go
  central/cve/node/datastore/datastore.go
  central/cve/node/datastore/datastore_impl.go
  central/cve/node/datastore/datastore_impl_test.go
  central/cve/node/datastore/mocks/datastore.go
  central/cve/node/service/service_impl.go
  central/image/datastore/store/postgres/store.go
  central/node/datastore/store/postgres/store.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl_reobserve_test.go
  central/vulnerabilityrequest/manager/requestmgr/manager_impl_test.go
Labels: area/central

#10305 chore(deps): upgrade go to 1.21
  .devcontainer/devcontainer.json
  .github/workflows/batch-load-test-metrics.yml
  .github/workflows/build.yaml
  .github/workflows/ci-failures-report.yml
  .github/workflows/lint.yml
  .github/workflows/scanner-build.yaml
  .github/workflows/scanner-db-init-dump.yaml
  .github/workflows/scanner-dev-vuln-update.yaml
  .github/workflows/scanner-pr-vuln-update.yaml
  .github/workflows/scanner-release-vuln-update.yaml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
  .openshift-ci/Dockerfile.build_root
  .openshift-ci/dev-requirements.txt
  BUILD_IMAGE_VERSION
  Makefile
  deploy/common/k8sbased.sh
  go.mod
  go.sum
  operator/tools/controller-gen/go.mod
  operator/tools/controller-gen/go.sum
  operator/tools/kuttl/go.mod
  operator/tools/kuttl/go.sum
  operator/tools/operator-sdk/go.mod
  operator/tools/operator-sdk/go.sum
  operator/tools/yq/go.mod
  operator/tools/yq/go.sum
  scale/signatures/deploy.yaml
  scripts/ci/lib.sh
  tests/e2e/lib.sh
  tests/e2e/run-e2e-tests.sh
  tests/endpoints_test.go
Labels: area/operator, auto-merge, area/ci, pr-update-scanner-vulns

#9973 ROX-22101: use gogo proto.Clone through compatibility layer
  pkg/bolthelper/crud/proto/cachedmessagecrud_impl.go
  pkg/db/mapcache/cache.go
  pkg/notifier/alert_set.go
  pkg/protoutils/clone_bench_test.go
  tools/roxvet/analyzers/gogoprotofunctions/analyzer.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/central, 99papercuts

#10517 fix: go mod tidy on 1.21
  operator/tools/kuttl/go.sum
  tools/retest/go.mod
  tools/retest/go.sum
Labels: area/operator

#10527 fix: Switch Konflux golang builder from 1.20 to 1.21
  image/roxctl/konflux.Dockerfile
  operator/konflux.Dockerfile
Labels: area/helm, area/operator

#10416 ROX-21647: compliance profile results and stats
  central/complianceoperator/v2/checkresults/datastore/datastore.go
  central/complianceoperator/v2/checkresults/datastore/datastore_impl.go
  central/complianceoperator/v2/checkresults/datastore/datastore_impl_test.go
  central/complianceoperator/v2/checkresults/datastore/mocks/datastore.go
  central/complianceoperator/v2/checkresults/datastore/stats_views.go
  central/complianceoperator/v2/checkresults/service/service_impl.go
  central/complianceoperator/v2/checkresults/service/service_impl_test.go
  central/complianceoperator/v2/checkresults/store/postgres/gen.go
  central/complianceoperator/v2/checkresults/store/postgres/store.go
  central/complianceoperator/v2/pipelines/complianceoperatorresultsv2/pipeline_test.go
  central/complianceoperator/v2/rules/store/postgres/store.go
  central/convert/internaltov2storage/compliance_check_results.go
  central/convert/internaltov2storage/compliance_operator_scan.go
  central/convert/internaltov2storage/compliance_rule.go
  central/convert/internaltov2storage/utils.go
  central/convert/storagetov2/compliance_results_service.go
  central/convert/testutils/compliance_results.go
  central/convert/testutils/compliance_rules.go
  central/convert/testutils/compliance_scans.go
  generated/api/v2/compliance_results_service.pb.go
  generated/api/v2/compliance_results_service.pb.gw.go
  generated/api/v2/compliance_results_service.swagger.json
  generated/api/v2/compliance_results_service_grpc.pb.go
  generated/storage/compliance_operator_v2.pb.go
  pkg/postgres/schema/compliance_operator_check_result_v2.go
  pkg/postgres/schema/compliance_operator_rule_v2.go
  pkg/search/options.go
  proto/api/v2/compliance_results_service.proto
  proto/storage/compliance_operator_v2.proto
Labels: area/central, area/postgres, do-not-merge/work-in-progress, epic/compliance-2.0/mvp

#10518 ROX-22944: compliance reporting feature flag
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui, epic/compliance-2.0/mvp

#10519 ROX-23353: Add tech preview label to ScannerV4 UI components
  ui/apps/platform/src/Components/PatternFly/TechPreviewLabel.tsx
  ui/apps/platform/src/Components/ScannerV4IntegrationBanner.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/ImageIntegrationsSection.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/IntegrationTile.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsListPage.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationContent.tsx
Labels: pls-merge, area/ui, auto-merge

#10540 fix(ci): scanner vuln updates go1.21 updates
  .github/workflows/scanner-release-vuln-update.yaml
Labels: area/ci

#10469 ROX-22101: remove gogoproto imports from other central code
  central/apitoken/backend/backend.go
  central/apitoken/backend/backend_impl.go
  central/apitoken/expiration/expiration_test.go
  central/apitoken/service/service_impl.go
  central/blob/datastore/datastore_test.go
  central/cluster/service/service_impl_test.go
  central/clusterinit/backend/backend_impl.go
  central/credentialexpiry/service/service_impl.go
  central/credentialexpiry/service/service_impl_test.go
  central/deployment/queue/observation_queue.go
  central/detection/alertmanager/alert_manager_impl.go
  central/detection/alertmanager/alert_manager_impl_test.go
  central/detection/lifecycle/manager_impl.go
  central/integrationhealth/reporter/health_reporter_impl.go
  central/networkbaseline/manager/manager_impl.go
  central/notifiers/cscc/convert.go
  central/notifiers/syslog/syslog.go
  central/notifiers/syslog/syslog_test.go
  central/processbaseline/baselineutils.go
  central/processbaseline/datastore/datastore_impl.go
  central/pruning/pruning_test.go
  central/pruning/pruning_vuln_req_test.go
  central/reports/config/datastore/datastore_impl_v2_test.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl_test.go
  central/reports/scheduler/v2/reportgenerator/types.go
  central/scannerdefinitions/handler/handler_test.go
  central/sensor/service/pipeline/networkflowupdate/flow_store_updater_impl.go
  central/splunk/violations.go
  central/splunk/violations_query_test.go
  central/splunk/violations_test.go
  pkg/protocompat/time.go
  pkg/protocompat/time_test.go
  pkg/protoutils/time.go
  pkg/protoutils/time_test.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/central

#10308 ROX-22764: Scaling Sensor queues based on available memory
  pkg/env/sensor.go
  pkg/sensor/queue/scaler.go
  pkg/sensor/queue/scaler_test.go
  sensor/common/deploymentenhancer/component.go
  sensor/common/detector/detector.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/kubernetes/sensor/options.go
  sensor/kubernetes/sensor/sensor.go
Labels: team/maple, area/sensor

#10495 ROX-23044: Add route and page component for Node single page
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCvesPage.tsx
Labels: area/ui, epic/vm2.0/node&platform

#10464 fix(CI): reduce author mentions in Slack
  .openshift-ci/end.sh
  scripts/ci/lib.sh
Labels: area/central, area/ci, ci-test-junit-processing

#10503 ROX-23313: Bump lint/style checks image
  .github/workflows/lint.yml
  .github/workflows/style.yaml
  .openshift-ci/dev-requirements.txt
Labels: area/ci

#10558 ROX-23387: Revert "ROX-13947: Keep deleted central central-db secret"
  operator/pkg/central/extensions/common_test.go
  operator/pkg/central/extensions/reconcile_admin_password.go
  operator/pkg/central/extensions/reconcile_admin_password_test.go
  operator/pkg/central/extensions/reconcile_central_db_password.go
  operator/pkg/central/extensions/reconcile_central_db_password_test.go
  operator/pkg/central/extensions/reconcile_scanner_db_password_test.go
  operator/pkg/central/extensions/reconcile_scanner_v4_db_password_test.go
  operator/pkg/central/extensions/reconcile_tls.go
  operator/pkg/central/extensions/reconcile_tls_test.go
  operator/pkg/common/extensions/reconcile_scanner_db_password.go
  operator/pkg/common/extensions/reconcile_scanner_v4_db_password.go
  operator/pkg/common/extensions/secret_reconciliator.go
  operator/pkg/common/extensions/secret_reconciliator_test.go
  operator/pkg/common/labels/labels.go
  operator/tests/central/central-basic/900-assert.yaml
  operator/tests/central/central-basic/910-assert.yaml
  operator/tests/central/central-basic/910-recreate.yaml
  operator/tests/central/central-basic/920-assert-deleted.yaml
  operator/tests/central/central-basic/920-assert.yaml
  operator/tests/central/central-basic/920-delete-cr.yaml
  operator/tests/common/central-cr-post-deletion-assert.yaml
  operator/tests/common/delete-central-errors.yaml
Labels: area/operator

#10490 chore(ci): revert go version replace
  scripts/ci/lib.sh
Labels: auto-merge

#10474 fix(test): load unit test metrics into bq
  .github/actions/junit2jira/action.yaml
  .github/workflows/build.yaml
  .github/workflows/unit-tests.yaml
Labels: area/ci

#10523 fix: upgrade test with Go 1.21
  tests/upgrade/legacy_to_postgres_run.sh
Labels: do-not-merge

#10425 ROX-20160: Add `rocksdb` build to `main` in Konflux
  .konflux/.gitignore
  .konflux/README.md
  .tekton/main-pull-request.yaml
  .tekton/main-push.yaml
  image/rhel/konflux.Dockerfile
Labels: area/helm

#10485 ROX-22735: Adding a namespace table to the Namespace view
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/DeploymentFilterLink.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/LabelsModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/NamespaceViewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/searchOptions.ts
Labels: area/ui

#10549 ROX-23063: Platform CVE overview page
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/ClustersTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/PlatformCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCvesPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/types.ts
Labels: area/ui, epic/vm2.0/node&platform

#10565 refactor(ui): Changing UX for deployment labels and annotations
  ui/apps/platform/src/Components/KeyValueListModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/LabelsModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/NamespaceViewPage.tsx
Labels: area/ui
