Repository stackrox/stackrox, pull requests merged in 2024-06, with the labels that each got.

#11317 feat(ui): Adding onSearch to CompoundSearchFilter
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.cy.jsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilterInputField.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/ConditionNumber.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/types.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.test.ts
Labels: area/ui

#11300 fix(be): Add max concurrency for on demand compliance reports
  central/complianceoperator/v2/report/manager/manager_impl.go
Labels: area/central

#11334 fix: revert change from bdff0f6
  tests/endpoints_test.go
Labels: backport

#11291 chore: Backport #10980 to `release-4.4`
  central/debug/service/service.go
  pkg/postgres/stats/stats.go
Labels: area/central, area/postgres, backport

#11307 chore(ui): Refactor compliance service querying
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileClustersPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/compliance.coverage.constants.ts
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Table/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/compliance.scanConfigs.constants.ts
  ui/apps/platform/src/Containers/ComplianceEnhanced/compliance.constants.ts
  ui/apps/platform/src/services/ComplianceCommon.ts
  ui/apps/platform/src/services/ComplianceResultsService.ts
  ui/apps/platform/src/services/ComplianceResultsStatsService.ts
  ui/apps/platform/src/types/search.ts
Labels: area/ui, epic/compliance-2.0/mvp

#11250 ROX-23253: trust service-ca operator CA in acscsEmail integration
  central/notifiers/acscsemail/client_impl.go
  central/notifiers/acscsemail/client_impl_test.go
Labels: area/central

#11257 ROX-22547: Add stackrox labels to compliance operator use-cases
  sensor/kubernetes/complianceoperator/utils.go
  sensor/kubernetes/localscanner/service_certificates_repository.go
  sensor/utils/utils.go
Labels: area/sensor

#11329 chore(clean-up): Follow up on reconcile scan configs
  sensor/common/sensor/central_communication_test.go
  sensor/debugger/message/fake.go
  sensor/kubernetes/complianceoperator/handler_impl.go
  sensor/kubernetes/complianceoperator/utils.go
  sensor/tests/connection/k8sreconciliation/reconcile_test.go
Labels: area/sensor

#11290 ROX-24263: Bounce catalog operator pod.
  .openshift-ci/ci_tests.py
Labels: area/ci, auto-retest

#11297 chore(ui): Node & Platform CVE refactor + cleanup
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/useAffectedNodes.ts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/useNodeCves.ts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/useNodes.ts
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/useClusterVulnerabilities.ts
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/usePlatformCves.ts
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/PlatformCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/useAffectedClusters.ts
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/usePlatformCveMetadata.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/TableEntityToolbar.tsx
Labels: area/ui

#11346 fix: do not install snappy
  image/rhel/Dockerfile
  image/rhel/download.sh
Labels: area/helm

#11247 fix(cvss): improve CVSS vector parsing
  central/cve/fetcher/manager_impl_postgres_test.go
  pkg/clair/mock/mock.go
  pkg/cvss/cvssv2/cvss.go
  pkg/cvss/cvssv3/cvss.go
Labels: area/central

#11357 chore(scanner): log update import prior to attempt
  scanner/matcher/updater/vuln/updater.go
Labels: area/scanner

#11351 chore(ui): Update types devDependencies in ui
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/ExceptionConfiguration/VulnerabilitiesConfiguration.tsx
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationContent.tsx
  ui/yarn.lock
Labels: area/ui

#11348 chore(ui): Update prettier 3.3.0 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#11315 ROX-21687: compliance cluster metadata
  central/complianceoperator/v2/checkresults/datastore/datastore_impl.go
  central/complianceoperator/v2/integration/datastore/datastore.go
  central/complianceoperator/v2/integration/datastore/datastore_impl.go
  central/complianceoperator/v2/integration/datastore/datastore_impl_test.go
  central/complianceoperator/v2/integration/datastore/integration_views.go
  central/complianceoperator/v2/integration/datastore/mocks/datastore.go
  central/complianceoperator/v2/integration/datastore/singleton.go
  central/complianceoperator/v2/integration/service/convert.go
  central/complianceoperator/v2/integration/service/convert_test.go
  central/complianceoperator/v2/integration/service/service_impl.go
  central/complianceoperator/v2/integration/service/service_impl_test.go
  central/complianceoperator/v2/utils/query_utils.go
  generated/api/v2/compliance_integration_service.pb.go
  generated/api/v2/compliance_integration_service.swagger.json
  generated/storage/compliance_integration.pb.go
  pkg/search/options.go
  proto/api/v2/compliance_integration_service.proto
  proto/storage/compliance_integration.proto
Labels: area/central, epic/compliance-2.0/mvp

#11362 fix(be): Fix to store report notifiers to storage
  central/complianceoperator/v2/scanconfigurations/service/convert.go
Labels: area/central

#11325 ROX-24176: improve discovery of authn mechanism
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviders.tsx
Labels: area/ui

#11368 fix: update snappy url
  image/rhel/download.sh
Labels: area/helm, backport

#11328 ROX-23319: Get Benchmark by Profile Name
  central/complianceoperator/v2/benchmarks/datastore/datastore.go
  central/complianceoperator/v2/benchmarks/datastore/datastore_impl.go
  central/complianceoperator/v2/benchmarks/datastore/datastore_impl_test.go
  central/complianceoperator/v2/benchmarks/datastore/mocks/datastore.go
Labels: area/central

#11331 chore(ui): Pin graphql to 16.8.1 instead of 16.0.0
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#11276 ROX-23379: Add NodeCVE view
  central/views/nodecve/db_response.go
  central/views/nodecve/mocks/types.go
  central/views/nodecve/singleton.go
  central/views/nodecve/types.go
  central/views/nodecve/view_impl.go
  central/views/nodecve/view_test.go
  pkg/fixtures/fixtureconsts/fixture_consts.go
Labels: area/central

#11353 chore: update scanner version to 2.33.5
  SCANNER_VERSION
Labels: ci-all-qa-tests, backport

#11350 ROX-24349: Update global search links for VM 2.0
  ui/apps/platform/src/Containers/Search/SearchTable.tsx
  ui/apps/platform/src/Containers/Search/ViewLinks.tsx
  ui/apps/platform/src/Containers/Search/searchCategories.ts
  ui/apps/platform/src/utils/logError.ts
  ui/apps/platform/src/utils/urlUtils.test.ts
  ui/apps/platform/src/utils/urlUtils.ts
Labels: area/ui

#11373 ROX-24005: Compliance cluster details header
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragesToggleGroup.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileClustersPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfilesToggleGroup.tsx
  ui/apps/platform/src/services/ComplianceResultsStatsService.ts
Labels: area/ui

#11355 ROX-24011: Compliance cluster details table
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/compliance.coverage.utils.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/CheckStatusModal.tsx
  ui/apps/platform/src/services/ComplianceResultsService.ts
Labels: area/ui

#11361 ROX-23628: configure extra scopes
  generated/api/v1/auth_service.swagger.json
  generated/api/v1/authprovider_service.swagger.json
  generated/storage/auth_provider.pb.go
  pkg/auth/authproviders/oidc/backend_impl.go
  pkg/auth/authproviders/oidc/backend_impl_test.go
  proto/storage/auth_provider.proto
Labels: area/auth

#11377 ROX-24506: Change image page default sort from CVE -> severity
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
Labels: area/ui

#11383 ROX-20304: cache init bundles
  central/clusterinit/store/postgres/gen.go
  central/clusterinit/store/postgres/store.go
Labels: area/central

#11372 fix: update snappy url
  image/rhel/download.sh
Labels: area/helm

#11393 ROX-24529: compliance disallow default
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
Labels: area/central, epic/compliance-2.0/mvp

#11371 ROX-24417: compliance 24417 support check modal
  central/complianceoperator/v2/checkresults/service/service_impl.go
  central/complianceoperator/v2/checkresults/service/service_impl_test.go
  central/convert/storagetov2/compliance_results_service.go
  generated/api/v2/compliance_results_service.pb.go
  generated/api/v2/compliance_results_service.pb.gw.go
  generated/api/v2/compliance_results_service.swagger.json
  generated/api/v2/compliance_results_service_grpc.pb.go
  proto/api/v2/compliance_results_service.proto
Labels: area/central

#11274 fix: bump `github.com/containers/image/v5`
  go.mod
  go.sum
Labels: backport

#11403 fix(CI): skip v4 check in this workflow
  .github/workflows/build.yaml
Labels: area/ci

#11360 chore: update scanner version to 2.32.4
  SCANNER_VERSION
Labels: ci-all-qa-tests

#11405 ROX-22308: Bump `COLLECTOR_VERSION`
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#11358 ROX-24475: Change "Label" in Policy Scope to "Deployment label"
  ui/apps/platform/src/Containers/Policies/Detail/ExcludedDeployment.tsx
  ui/apps/platform/src/Containers/Policies/Detail/Restriction.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step4/PolicyScopeCard.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step4/PolicyScopeForm.tsx
Labels: documentation, area/ui

#11369 tests: retry kubectl on i/o timeouts
  operator/Makefile
  operator/hack/common.sh
  operator/hack/retry-kubectl.sh
  operator/tests/central/central-basic/020-verify-password.yaml
  operator/tests/central/central-basic/060-use-new-password.yaml
  operator/tests/central/central-misc/064-assert-after-unset-expose-monitoring.yaml
  operator/tests/common/central-cr-assert.yaml
  operator/tests/common/central-cr-with-scanner-v4-assert.yaml
  operator/tests/common/delete-central-assert.yaml
  operator/tests/common/image-pull-secrets.yaml
  operator/tests/common/init-bundle-fetch.yaml
  operator/tests/common/monitoring-auth-reader-assert.yaml
  operator/tests/common/pods-debug.yaml
  operator/tests/common/secured-cluster-cr-assert.yaml
  operator/tests/controller/metrics/100-assert-rbac-works.yaml
  operator/tests/controller/metrics/100-rbac.yaml
  operator/tests/controller/metrics/200-assert.yaml
  operator/tests/scripts/validate-crs.sh
  operator/tests/securedcluster/sc-basic/040-assert.yaml
Labels: area/operator

#11378 refactor(ui): Update Image CVE page to use TbodyUnified/TableUIState
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
Labels: area/ui

#11263 ROX-21397: Full Scoped Access Control support for listening endpoints
  central/pod/datastore/datastore_impl_real_test.go
  central/processlisteningonport/datastore/datastore_impl.go
  central/processlisteningonport/datastore/datastore_impl_test.go
  central/processlisteningonport/store/postgres/full_store.go
Labels: area/central, area/postgres

#11389 ROX-22376: config changes for acscsemail integration
  central/notifiers/acscsemail/client_impl.go
  central/notifiers/acscsemail/client_impl_test.go
  pkg/env/managed.go
  pkg/features/list.go
Labels: area/central

#11402 ROX-20232: Reduce duplication in `.tekton/` plus small fixups
  .tekton/basic-component-pipeline.yaml
  .tekton/central-db-build.yaml
  .tekton/central-db-push.yaml
  .tekton/main-build.yaml
  .tekton/main-pipeline.yaml
  .tekton/main-pull-request.yaml
  .tekton/operator-build.yaml
  .tekton/operator-push.yaml
  .tekton/roxctl-build.yaml
  .tekton/scanner-v4-build.yaml
  .tekton/scanner-v4-db-build.yaml
  .tekton/scanner-v4-db-pull-request.yaml
  .tekton/scanner-v4-db-push.yaml
  .tekton/scanner-v4-pipeline.yaml
  .tekton/scanner-v4-pull-request.yaml
  image/postgres/konflux.Dockerfile
  image/rhel/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  operator/konflux.Dockerfile
  scanner/image/db/konflux.Dockerfile
  scanner/image/scanner/konflux.Dockerfile
Labels: area/helm, area/operator, area/postgres, area/scanner

#11401 ROX-24514: Update Deployment page to use TbodyUnified
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/table.utils.ts
Labels: area/ui

#11397 ROX-24513: Update Image single page to use TbodyUnified
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
Labels: area/ui

#11427 fix: Block "no cves view" tests when unified deferrals flag is off
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.js
Labels: area/ui

#11338 ROX-24105: Add interaction for on-demand compliance report
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigActionDropdown.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigActionsColumn.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Table/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ViewScanConfigDetail.tsx
  ui/apps/platform/src/services/ComplianceScanConfigurationService.ts
Labels: area/ui

#11424 ROX-24463: Improve clarity in compliance schedules
  ui/apps/platform/cypress/integration/compliance-enhanced/ComplianceEnhanced.helpers.js
  ui/apps/platform/cypress/integration/compliance-enhanced/complianceEnhancedScanConfigs.test.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragesPageHeader.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/EditScanConfigDetail.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Table/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ReportConfiguration.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ReviewConfig.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ScanConfigOptions.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ScanConfigWizardFooter.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ScanConfigWizardForm.tsx
Labels: area/ui

#11404 ROX-22308: Bump `SCANNER_VERSION`
  SCANNER_VERSION
Labels: ci-all-qa-tests

#11053 chore(reports): Add close delimiter for Email MIME boundary
  central/notifiers/email/email.go
  central/notifiers/email/email_test.go
Labels: ok-to-test, external-contributor

#11430 chore: Stop installing `snappy` and `zstd` in Konflux-built main
  image/rhel/konflux.Dockerfile
Labels: area/helm

#11440 ROX-20855: Unmark central-db docker-entrypoint.sh as owned by postgres
  image/postgres/Dockerfile
Labels: area/helm, area/postgres

#11407 ROX-24534: compliance profile stats with cluster
  central/complianceoperator/v2/checkresults/stats/service/service_impl.go
  central/complianceoperator/v2/checkresults/stats/service/service_impl_test.go
  central/complianceoperator/v2/checkresults/stats/service/singleton.go
  generated/api/v2/compliance_results_stats_service.pb.go
  generated/api/v2/compliance_results_stats_service.pb.gw.go
  generated/api/v2/compliance_results_stats_service_grpc.pb.go
  proto/api/v2/compliance_results_stats_service.proto
Labels: area/central, epic/compliance-2.0/mvp

#11177 ROX-24172: Added compliance report generator to email report
  central/complianceoperator/v2/report/manager/complianceReportgenerator/consts.go
  central/complianceoperator/v2/report/manager/complianceReportgenerator/mocks/report_gen.go
  central/complianceoperator/v2/report/manager/complianceReportgenerator/report_gen.go
  central/complianceoperator/v2/report/manager/complianceReportgenerator/report_gen_impl.go
  central/complianceoperator/v2/report/manager/complianceReportgenerator/report_gen_impl_test.go
  central/complianceoperator/v2/report/manager/complianceReportgenerator/singleton.go
  central/complianceoperator/v2/report/manager/complianceReportgenerator/type.go
  central/complianceoperator/v2/report/manager/manager_impl.go
  central/complianceoperator/v2/report/manager/manager_test.go
  central/complianceoperator/v2/report/manager/singleton.go
  pkg/csv/writer.go
Labels: area/central

#11416 tests: add a script to run nongroovy tests on ocp
  scripts/ci/jobs/ocp_nongroovy_e2e_tests.py
Labels: auto-retest

#11439 fix(ui): show short-lived access banner only in list
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviders.tsx
Labels: area/ui

#11411 feat(roxctl): allow to disable admin password
  pkg/renderer/templater.go
  roxctl/central/generate/generate.go
  tests/roxctl/bats-tests/local/expect/flavor-interactive.expect.tcl
Labels: area/roxctl

#11324 ROX-23611: Force ebpf collection method for stackrox ebpf tests
  deploy/common/k8sbased.sh
  tests/e2e/lib.sh
  tests/e2e/yaml/secured-cluster-cr-with-scanner-v4.envsubst.yaml
  tests/e2e/yaml/secured-cluster-cr.envsubst.yaml
Labels: backport release-4.4

#11429 ROX-20236: Set `release` Dockerfile label explicitly
  image/postgres/konflux.Dockerfile
  image/rhel/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  operator/konflux.Dockerfile
  scanner/image/db/konflux.Dockerfile
  scanner/image/scanner/konflux.Dockerfile
Labels: area/helm, area/operator, area/postgres, area/scanner

#10787 feat(collector): add runtime configuration feature flag
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/internal/defaults/30-base-config.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml.htpl
  pkg/features/list.go
Labels: ci-all-qa-tests, area/helm

#11441 ROX-23401: Organize Konflux things under `.konflux/`
  .konflux/.gitignore
  .konflux/bootstrap-yarn/.gitignore
  .konflux/bootstrap-yarn/README.md
  .konflux/bootstrap-yarn/package-lock.json
  .konflux/bootstrap-yarn/package.json
  .konflux/scanner-data/.gitignore
  .konflux/scripts/fail-build-if-git-is-dirty.sh
  .konflux/scripts/subscription-manager/.dockerignore
  .konflux/scripts/subscription-manager/.gitignore
  .konflux/scripts/subscription-manager/bro.self-test-demo.Dockerfile
  .konflux/scripts/subscription-manager/bro.self-test-multiple-targets.Dockerfile
  .konflux/scripts/subscription-manager/bro.self-test.Dockerfile
  .konflux/scripts/subscription-manager/subscription-manager-bro.sh
  .konflux/stackrox-data/.gitignore
  .tekton/determine-image-tag-task.yaml
  .tekton/main-build.yaml
  .tekton/main-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
  image/rhel/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  operator/konflux.Dockerfile
  scanner/image/scanner/konflux.Dockerfile
Labels: area/helm, area/operator, area/scanner

#11420 fix: use generated Un/Marshal in protocompat
  central/processlisteningonport/store/postgres/full_store.go
  pkg/protocompat/message.go
  pkg/protocompat/nil_test.go
  pkg/protoutils/nil_test.go
Labels: area/central, auto-retest

#11450 chore(runtime-improvements): NetworkFlow processing improvements
  sensor/common/detector/detector.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/networkflow/manager/manager_impl_test.go
Labels: team/maple, area/sensor

#11414 ROX-24561: Added notifier in scanstatus
  central/complianceoperator/v2/scanconfigurations/service/convert.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  central/complianceoperator/v2/scanconfigurations/service/singleton.go
Labels: area/central

#11431 ROX-24570: Adding table filters to Profile Clusters
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileClustersPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/compliance.coverage.constants.ts
  ui/apps/platform/src/services/ComplianceCommon.ts
  ui/apps/platform/src/services/ComplianceResultsService.ts
  ui/apps/platform/src/services/ComplianceResultsStatsService.ts
Labels: area/ui

#11333 ROX-23038: search filters node CVE single page
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.test.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/AdvancedFiltersToolbar.css
  ui/apps/platform/src/Containers/Vulnerabilities/components/AdvancedFiltersToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/FilterAutocomplete.css
  ui/apps/platform/src/Containers/Vulnerabilities/components/FilterAutocomplete.cy.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/FilterAutocomplete.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/FilterDropdowns.css
  ui/apps/platform/src/Containers/Vulnerabilities/searchFilterConfig.ts
Labels: area/ui, epic/vm2.0/node&platform

#11428 fix(ui): Add ExpandRowTh component for table headers
  ui/apps/platform/src/Components/ExpandRowTh.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
Labels: area/ui

#11464 fix(ui): Compliance errors
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/compliance.coverage.constants.ts
Labels: area/ui

#11102 chore(scanner): warn when registry does not support range header
  scanner/indexer/indexer.go
Labels: area/scanner

#11335 ROX-24444: Add benchmark definition files
  central/complianceoperator/v2/benchmarks/store/postgres/store.go
  generated/storage/compliance_operator_v2.pb.go
  pkg/defaults/complianceoperator/files/cis-benchmark-1-4.json
  pkg/defaults/complianceoperator/files/cis-benchmark-1-5.json
  pkg/defaults/complianceoperator/files/disa-stig-benchmark-v1r1.json
  pkg/defaults/complianceoperator/files/e8-benchmark.json
  pkg/defaults/complianceoperator/files/nerc-benchmark.json
  pkg/defaults/complianceoperator/files/nist-high-benchmark-revision-4.json
  pkg/defaults/complianceoperator/files/nist-moderate-benchmark-revision-4.json
  pkg/defaults/complianceoperator/files/pci-benchmark-3-2-1.json
  pkg/postgres/schema/compliance_operator_benchmark_v2.go
  pkg/search/options.go
  proto/storage/compliance_operator_v2.proto
Labels: area/central, area/postgres

#11457 ROX-18831: Fix auditlog tests
  sensor/common/compliance/auditlog_manager.go
  sensor/common/compliance/auditlog_manager_impl.go
  sensor/common/compliance/auditlog_manager_test.go
Labels: team/maple, area/sensor

#11453 chore(deps): upgrade k8s-overlay-patch - optional overlays
  go.mod
  go.sum
  operator/apis/platform/v1alpha1/overlay_types.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/pkg/overlays/postrenderer.go
  operator/pkg/overlays/postrenderer_test.go
Labels: area/operator

#11465 ROX-21692: compliance 21692 cleanup searchable
  pkg/search/options.go
Labels: area/central, area/postgres, epic/compliance-2.0/mvp

#11444 ROX-24565: Replace local time with UTC in scan schedules
  ui/apps/platform/cypress/integration/compliance-enhanced/complianceEnhancedScanConfigs.test.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ViewScanConfigDetail.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ScanConfigOptions.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/compliance.scanConfigs.utils.test.ts
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/compliance.scanConfigs.utils.tsx
Labels: area/ui

#11467 ROX-17542: Updating image summary count link on dashboard to VM 2.0
  ui/apps/platform/src/Containers/Dashboard/SummaryCount.tsx
  ui/apps/platform/src/Containers/Dashboard/SummaryCounts.tsx
  ui/apps/platform/src/utils/searchUtils.ts
Labels: area/ui

#11479 ROX-24679: Unify VM 1.0 and VM 2.0 navigation under "Vulnerabilities"
  ui/apps/platform/cypress/integration/vulnmanagement/VulnerabilityManagement.helpers.js
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
Labels: area/ui

#11379 chore(ci): separate scanner go and image build
  .github/workflows/scanner-build.yaml
  scanner/Makefile
Labels: area/scanner, area/ci

#11481 fix(ui): Fix compliance status dropdown search
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.ts
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsPage.tsx
  ui/apps/platform/src/hooks/useURLSearch.ts
Labels: area/ui

#11475 fix: policy checks to ignore whitespace difference
  scripts/ci/jobs/policy-checks.sh
Labels: auto-retest

#10647 feat: `roxctl --use-current-k8s-context` to trust `central-tls/ca.pem`
  pkg/clientconn/client.go
  roxctl/common/connection.go
  roxctl/common/flags/endpoint.go
  roxctl/common/k8s_port_forward.go
  roxctl/common/tls.go
  tests/roxctl/roxctl-k8s-context.sh
  tests/testdata/port-forward-role-bad.yaml
  tests/testdata/port-forward-role-minimal.yaml
  tests/testdata/port-forward-sa.yaml
Labels: area/roxctl

#11460 ROX-24634: compliance add benchmark to profile
  central/complianceoperator/v2/profiles/service/service_impl.go
  central/complianceoperator/v2/profiles/service/service_impl_test.go
  central/complianceoperator/v2/profiles/service/singleton.go
  central/convert/storagetov2/compliance_profile_service.go
  central/convert/testutils/compliance_profiles.go
  generated/api/v2/compliance_common.pb.go
  generated/api/v2/compliance_profile_service.pb.go
  generated/api/v2/compliance_profile_service.swagger.json
  proto/api/v2/compliance_common.proto
  proto/api/v2/compliance_profile_service.proto
Labels: area/central, epic/compliance-2.0/mvp

#11470 chore(fix): Close unclosed file handle
  central/networkgraph/entity/gatherer/load_bundled.go
Labels: area/central

#11456 ROX-24612: workload CVE list advanced filters
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.js
  ui/apps/platform/src/Components/CompoundSearchFilter/types.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodeCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/PlatformCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/AdvancedFiltersToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/FilterAutocomplete.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/searchFilterConfig.ts
  ui/apps/platform/src/Containers/Vulnerabilities/searchOptions.ts
  ui/apps/platform/src/Containers/Vulnerabilities/types.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/searchUtils.tsx
Labels: area/ui

#11487 chore(ui): Delete ROX_ADMINISTRATION_EVENTS feature flag
  ui/apps/platform/cypress/integration/administration/events/eventsTable.test.js
  ui/apps/platform/src/Containers/SystemConfig/Details/PrivateConfigDataRetentionDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Form/SystemConfigForm.tsx
  ui/apps/platform/src/routePaths.ts
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#11482 ROX-24511: Add check details information tab
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/CheckDetailsInfo.css
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/CheckDetailsInfo.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/CheckStatusModal.tsx
  ui/apps/platform/src/services/ComplianceResultsService.ts
Labels: area/ui

#11502 fix: equal calls on proto objects
  central/graphql/resolvers/inputtypes/vuln_req_test.go
  central/vulnerabilityrequest/utils/util.go
  migrator/migrations/m_179_to_m_180_openshift_policy_exclusions/postgres/policy_migrator.go
  migrator/migrations/m_192_to_m_193_report_config_migrations/migration_impl.go
  migrator/migrations/policymigrationhelper/policy_migrator.go
  sensor/common/sensor/central_communication_test.go
  sensor/kubernetes/eventpipeline/resolver/resolver_test.go
  tools/roxvet/analyzers/donotcompareproto/analyzer.go
Labels: area/central, area/sensor

#11504 ROX-24698: Use totalCount from listComplianceScanConfigurations
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsTablePage.tsx
  ui/apps/platform/src/services/ComplianceScanConfigurationService.ts
Labels: area/ui

#11352 ROX-23582: Platform CVEs graphQL resolvers
  central/graphql/resolvers/cluster_count_by_platform_type.go
  central/graphql/resolvers/platform_cve_core.go
  central/graphql/resolvers/platform_cve_core_test.go
  central/graphql/resolvers/resolver.go
  central/graphql/resolvers/test_setup_utils.go
  central/graphql/resolvers/test_utils.go
  pkg/metrics/resolver_string.go
  pkg/metrics/resolvers.go
Labels: area/central

#11461 fix(leak): Fix leak in compliance service
  sensor/common/compliance/service.go
  sensor/common/compliance/service_impl.go
  sensor/common/compliance/service_impl_test.go
Labels: team/maple, area/sensor

#11501 fix: lock metric parser version
  Makefile
  scripts/ci/lib.sh
  tests/e2e/run-scale.sh
  tools/test/go.mod
  tools/test/go.sum
  tools/test/tools-import.go
Labels: auto-retest

#11471 chore(docs): API deprecation guidelines
  .github/api_guidelines.md
Labels: area/ci

#11485 fix(ui): Don't disable the entity/attribute selector
  ui/apps/platform/src/Components/CompoundSearchFilter/components/AttributeSelector.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.cy.jsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/EntitySelector.tsx
Labels: area/ui

#11484 ROX-23029: Add advanced filters component to Node CVE overview page
  ui/apps/platform/src/Components/CompoundSearchFilter/types.ts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodeCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/components/NodeCveFilterToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/searchOptions.ts
Labels: area/ui

#11474 ROX-24614: image single page advanced filters
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageSingle.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
Labels: area/ui

#11488 ROX-24516: Adding new SVG and fixing form
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/AcscsEmailIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/utils/integrationsList.ts
  ui/apps/platform/src/Containers/Integrations/utils/tableColumnDescriptor.ts
  ui/apps/platform/src/images/acsEmailNotifier.svg
Labels: area/ui

#11478 ROX-24615: Deployment single page advanced filters
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/deploymentSingle.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
Labels: area/ui

#11462 ROX-24613: image CVE single advanced filters
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageCveSingle.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
Labels: area/ui

#11513 fix(ui): Advanced Filters bug fixes and improvements
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.cy.jsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilterInputField.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/types.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.test.ts
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/compliance.coverage.constants.ts
Labels: area/ui

#11508 chore: remove skipped test
  central/networkpolicies/generator/generator_impl_test.go
Labels: area/central

#11266 ROX-24374: add profile result response
  central/complianceoperator/v2/checkresults/service/service_impl.go
  central/complianceoperator/v2/checkresults/service/service_impl_test.go
  central/complianceoperator/v2/checkresults/service/singleton.go
  central/complianceoperator/v2/checkresults/stats/service/service_impl.go
  central/complianceoperator/v2/checkresults/stats/service/service_impl_test.go
  central/complianceoperator/v2/checkresults/stats/service/singleton.go
  central/complianceoperator/v2/checkresults/utils/utils.go
  central/complianceoperator/v2/rules/datastore/datastore.go
  central/complianceoperator/v2/rules/datastore/datastore_impl.go
  central/complianceoperator/v2/rules/datastore/datastore_impl_test.go
  central/complianceoperator/v2/rules/datastore/mocks/datastore.go
  central/convert/storagetov2/compliance_results_service.go
  central/convert/testutils/compliance_results.go
  generated/api/v2/compliance_common.pb.go
  generated/api/v2/compliance_results_service.pb.go
  generated/api/v2/compliance_results_service.swagger.json
  pkg/fixtures/compliance_check_result.go
  proto/api/v2/compliance_common.proto
  proto/api/v2/compliance_results_service.proto
Labels: area/central, area/postgres, epic/compliance-2.0/mvp

#11486 ROX-23047: Advanced filters for node single page
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageVulnerabilities.tsx
Labels: area/ui

#11509 ROX-24484: Add advanced filters and regex to namespace view
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/namespaceView.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/DeploymentFilterLink.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/NamespaceViewPage.tsx
Labels: area/ui

#11419 ROX-23972: Add enableNetworkPolicies option to Helm charts
  image/templates/CHANGING_CHARTS.md
  image/templates/helm/shared/templates/02-scanner-05-network-policy.yaml
  image/templates/helm/shared/templates/02-scanner-v4-05-db-network-policy.yaml
  image/templates/helm/shared/templates/02-scanner-v4-05-indexer-network-policy.yaml
  image/templates/helm/shared/templates/02-scanner-v4-05-matcher-network-policy.yaml
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/templates/00-stackrox-application.yaml
  image/templates/helm/stackrox-central/templates/01-central-10-db-networkpolicy.yaml
  image/templates/helm/stackrox-central/templates/01-central-10-networkpolicy.yaml
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/internal/defaults/30-base-config.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller-netpol.yaml
  image/templates/helm/stackrox-secured-cluster/templates/collector-netpol.yaml
  image/templates/helm/stackrox-secured-cluster/templates/sensor-netpol.yaml
  pkg/helm/charts/tests/centralservices/testdata/all-values-explicit.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/central.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/openshift-monitoring.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner-v4.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/monitoring.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/openshift-monitoring.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-slim.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-v4.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/sensor-netpol.test.yaml
Labels: area/helm

#11522 test: Enable more nongroovy tests on OCP.
  tests/cluster_delete_test.go
  tests/e2e/run.sh
Labels: auto-retest

#11506 ROX-24510: Compliance usage disclaimer
  ui/apps/platform/src/Components/ComplianceUsageDisclaimer.tsx
  ui/apps/platform/src/Containers/Compliance/Dashboard/ComplianceDashboardPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileClustersPage.tsx
  ui/apps/platform/src/hooks/useLocalStorage.ts
Labels: area/ui, epic/compliance-2.0/mvp

#11388 ROX-23380,ROX-23583: Add Node CVE resolvers single and list page
  central/graphql/resolvers/node_cve_core.go
  central/graphql/resolvers/node_cve_core_test.go
  central/graphql/resolvers/resolver.go
  central/graphql/resolvers/resource_total_count_by_severity.go
  central/graphql/resolvers/test_setup_utils.go
  central/views/common/types.go
  central/views/nodecve/db_response.go
  pkg/metrics/resolver_string.go
  pkg/metrics/resolvers.go
Labels: area/central

#11545 feat(sync-message): Publish resource sync message
  sensor/common/component.go
  sensor/common/internalmessage/internal_message_pubsub.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/networkflow/manager/manager_impl_test.go
  sensor/kubernetes/listener/resource_event_handler.go
  sensor/kubernetes/sensor/sensor.go
Labels: team/maple, area/sensor

#11534 ROX-23588: compliance remove count endpoints
  central/complianceoperator/v2/checkresults/service/service_impl.go
  central/complianceoperator/v2/integration/service/service_impl.go
  central/complianceoperator/v2/integration/service/service_impl_test.go
  central/complianceoperator/v2/profiles/service/service_impl.go
  central/complianceoperator/v2/profiles/service/service_impl_test.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  generated/api/v2/compliance_integration_service.pb.go
  generated/api/v2/compliance_integration_service.pb.gw.go
  generated/api/v2/compliance_integration_service.swagger.json
  generated/api/v2/compliance_integration_service_grpc.pb.go
  generated/api/v2/compliance_profile_service.pb.go
  generated/api/v2/compliance_profile_service.pb.gw.go
  generated/api/v2/compliance_profile_service.swagger.json
  generated/api/v2/compliance_profile_service_grpc.pb.go
  generated/api/v2/compliance_results_service.pb.go
  generated/api/v2/compliance_scan_configuration_service.pb.go
  generated/api/v2/compliance_scan_configuration_service.pb.gw.go
  generated/api/v2/compliance_scan_configuration_service.swagger.json
  generated/api/v2/compliance_scan_configuration_service_grpc.pb.go
  proto/api/v2/compliance_integration_service.proto
  proto/api/v2/compliance_profile_service.proto
  proto/api/v2/compliance_results_service.proto
  proto/api/v2/compliance_scan_configuration_service.proto
  tests/compliance_operator_v2_test.go
Labels: area/central, epic/compliance-2.0/mvp

#11540 chore(e2e): Update cypress 13.11.0 devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#11539 ROX-24737: Fix validation in compliance schedules wizard step 1
  ui/apps/platform/cypress/integration/compliance-enhanced/complianceEnhancedScanConfigs.test.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ScanConfigOptions.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/useFormikScanConfig.tsx
Labels: area/ui

#11541 chore(vulns): update vuln list
  govulncheck-allowlist.json
Labels: scan-go-binaries

#11511 ROX-24693: compliance 24693 profile list from config
  central/complianceoperator/v2/scanconfigurations/datastore/datastore.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl.go
  central/complianceoperator/v2/scanconfigurations/datastore/datastore_impl_test.go
  central/complianceoperator/v2/scanconfigurations/datastore/mocks/datastore.go
  central/complianceoperator/v2/scanconfigurations/datastore/singleton.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  central/complianceoperator/v2/scanconfigurations/service/singleton.go
  generated/api/v2/compliance_common.pb.go
  generated/api/v2/compliance_profile_service.pb.go
  generated/api/v2/compliance_scan_configuration_service.pb.go
  generated/api/v2/compliance_scan_configuration_service.pb.gw.go
  generated/api/v2/compliance_scan_configuration_service.swagger.json
  generated/api/v2/compliance_scan_configuration_service_grpc.pb.go
  generated/storage/compliance_operator_v2.pb.go
  pkg/search/options.go
  proto/api/v2/compliance_common.proto
  proto/api/v2/compliance_profile_service.proto
  proto/api/v2/compliance_scan_configuration_service.proto
  proto/storage/compliance_operator_v2.proto
Labels: area/central, epic/compliance-2.0/mvp

#11512 ROX-24699: Fix accessibility problems in compliance pages
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ProfileSelection.tsx
Labels: area/ui

#11535 ROX-23055: Add advanced filters bar to Platform CVE overview page
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/ClustersTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/PlatformCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/AdvancedFiltersToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/searchFilterConfig.ts
Labels: area/ui, epic/vm2.0/node&platform

#11551 fix(ui): workload CVE quick fixes
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/CvePageHeader.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/SeverityCountLabels.tsx
  ui/apps/platform/src/constants/tables.ts
Labels: area/ui

#11538 chore(scanner): allow anonymous auth in nightly builds
  CHANGELOG.md
  pkg/env/scannerv4.go
  scanner/services/indexer.go
  scanner/services/matcher.go
Labels: area/scanner

#11161 ROX-24281: do not create matcher client if undesired
  pkg/scannerv4/client/options.go
  scanner/indexer/remote.go
  sensor/common/scannerclient/grpc_client.go
Labels: area/sensor, area/scanner, do-not-merge/work-in-progress

#11543 ROX-24582: Risk -> Running Processes word change
  ui/apps/platform/src/Containers/Risk/Process/Details.js
Labels: area/ui

#11108 ROX-17252: Attempt at temporary fixing data inconsistencies with Image / Image CVE search
  central/image/datastore/fixable_test.go
  central/views/imagecve/view_test.go
  pkg/env/vulnerability_management.go
  pkg/search/postgres/common.go
  pkg/search/postgres/joins.go
  pkg/search/postgres/select.go
Labels: ci-all-qa-tests, area/central, area/postgres

#11087 ROX-24061: Add compliance operator resources to diagnostics
  central/debug/service/diagnostics.go
  central/debug/service/diagnostics_test.go
  central/debug/service/service.go
  central/sensor/telemetry/controller.go
  central/sensor/telemetry/controller_impl.go
  generated/internalapi/central/telemetry.pb.go
  pkg/complianceoperator/api.go
  pkg/k8sintrospect/collector.go
  pkg/k8sintrospect/collector_test.go
  proto/internalapi/central/telemetry.proto
  roxctl/central/debug/download_diagnostics.go
  roxctl/common/zipdownload/download_zip.go
  sensor/kubernetes/complianceoperator/updater.go
  sensor/kubernetes/complianceoperator/updater_test.go
  sensor/kubernetes/telemetry/command_handler.go
Labels: area/roxctl, area/central, area/sensor, epic/compliance-2.0/mvp

#11556 ROX-24776: Add control labels
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsHeader.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksTable.css
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/compliance.coverage.utils.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/ControlLabels.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/DetailsPageHeader.tsx
  ui/apps/platform/src/services/ComplianceCommon.ts
  ui/apps/platform/src/services/ComplianceResultsService.ts
  ui/apps/platform/src/services/ComplianceResultsStatsService.ts
Labels: area/ui, epic/compliance-2.0/mvp

#11542 chore(deps): bump scanner and archiver deps
  go.mod
  go.sum
Labels: scan-go-binaries

#11576 ROX-24557: delegated scanning add no auth error to log
  sensor/common/scan/scan.go
  sensor/common/scan/scan_test.go
Labels: area/sensor

#11544 fix(ui): More Advanced Filters Fixes
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/deploymentSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageSingle.test.js
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.cy.jsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilterInputField.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/ConditionNumber.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/types.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.test.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.ts
Labels: area/ui

#11557 ROX-24480: Config Mgmt e2e test fixes
  ui/apps/platform/cypress/integration/configmanagement/ConfigurationManagement.helpers.js
Labels: area/ui

#11520 feat(cache): cache payload for query requests
  pkg/search/postgres/store.go
  pkg/search/postgres/store_cache.go
  pkg/search/postgres/store_cache_test.go
Labels: area/postgres

#11559 fix: Enable debugging builds in GitHub Actions
  .github/workflows/build.yaml
Labels: area/ci

#11574 fix(ui): Add fix for failing tests due to inconsistent dropdown state
  ui/apps/platform/src/Components/CompoundSearchFilter/components/SearchFilterAutocomplete.tsx
Labels: area/ui

#11248 ROX-23308: Prefetch images for qa-e2e-tests
  .openshift-ci/pre_tests.py
  Makefile
  deploy/common/k8sbased.sh
  operator/tests/run.sh
  qa-tests-backend/scripts/images-to-prefetch.txt
  qa-tests-backend/scripts/run-part-1.sh
  scripts/ci/lib.sh
  tests/e2e/run-e2e-tests.sh
  tools/test/go.mod
  tools/test/go.sum
Labels: area/operator, area/ci

#11490 ROX-24284: Get k8s logs from scanner v4 bats tests
  .openshift-ci/ci_tests.py
  .openshift-ci/post_tests.py
  .openshift-ci/tests/test_runners.py
  scripts/ci/jobs/gke_scanner_v4_tests.py
  scripts/ci/jobs/ocp_scanner_v4_tests.py
  tests/e2e/run-scanner-v4.bats
  tests/e2e/run-scanner-v4.sh
Labels: area/ci

#11560 ROX-23426: Implement central endpoint port defaulting
  image/templates/helm/stackrox-secured-cluster/templates/_defaults.tpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/base-config.test.yaml
Labels: area/helm

#11561 ROX-23426: Document default port 443 for HTTPS endpoints
  operator/apis/platform/v1alpha1/securedcluster_types.go
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
Labels: area/operator

#11562 ROX-24399: Disable PSP generation for roxctl deployment bundles
  CHANGELOG.md
  roxctl/central/generate/generate.go
  roxctl/scanner/generate/generate.go
  roxctl/sensor/generate/generate.go
  tests/roxctl/bats-tests/cluster/deployment-bundles-psps.bats
  tests/roxctl/bats-tests/cluster/scanner-generate.bats
  tests/roxctl/bats-tests/local/deployment-bundles-psps.bats
Labels: area/roxctl

#11589 ROX-24735: Customizable CVE status filter field
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/PlatformCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/PlatformCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/WorkloadCveFilterToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/AdvancedFiltersToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/CVEStatusDropdown.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/searchUtils.tsx
Labels: area/ui

#11563 ROX-24007: Benchmark/profile selection
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ComplianceProfilesProvider.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileClustersPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileClustersTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfilesToggleGroup.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/ProfileDetailsHeader.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ProfileSelection.tsx
  ui/apps/platform/src/services/ComplianceCommon.ts
  ui/apps/platform/src/services/ComplianceProfileService.ts
  ui/apps/platform/src/services/ComplianceScanConfigurationService.ts
Labels: area/ui, epic/compliance-2.0/mvp

#11463 ROX-24559: pruning alert improvements
  central/pruning/pruning.go
Labels: area/central, area/postgres

#11555 chore(ui): Update test devDependencies in ui
  ui/apps/platform/package.json
  ui/yarn.lock
Labels: area/ui

#11568 ROX-24759: Use sentence case in compound search filter
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/deploymentSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageCveSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.js
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.cy.jsx
  ui/apps/platform/src/Components/CompoundSearchFilter/types.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/searchFilterConfig.test.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.test.ts
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageVulnerabilities.tsx
Labels: area/ui

#11592 ROX-24839: Improve clarity of tooltips for compliance status
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/compliance.coverage.utils.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/StatusIcon.tsx
Labels: area/ui

#11477 ROX-23382: Add node cve count by severity resolver
  central/graphql/resolvers/node_cve_core.go
  central/graphql/resolvers/node_cve_core_test.go
  central/graphql/resolvers/nodes.go
Labels: area/central

#11594 ROX-24843: Unify compliance links in left navigation
  ui/apps/platform/cypress/integration/compliance-enhanced/ComplianceEnhanced.helpers.js
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
Labels: area/ui

#11614 ROX-22718: Sort Tokens
  central/apitoken/service/service_impl.go
  central/apitoken/service/service_impl_test.go
Labels: area/central

#11595 ROX-24830: Fix passing of CVE filter to exception mgmt list page
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/ExceptionManagement.helpers.ts
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/approvedDeferralsTable.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/approvedFalsePositivesTable.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ExceptionDetailsCell.tsx
Labels: area/ui

#11624 chore(core-dumps): add core dump capabilities
  Makefile
  fetch-core-dump.sh
  image/rhel/Dockerfile
Labels: area/helm

#11591 ROX-24841: fix alert proto and generated code
  central/alert/datastore/internal/store/postgres/store.go
  generated/storage/alert.pb.go
  pkg/postgres/schema/alerts.go
  proto/storage/alert.proto
Labels: area/central, area/postgres, backport

#11596 chore(UI): Revert VM nagivation title change
  ui/apps/platform/cypress/integration/vulnmanagement/VulnerabilityManagement.helpers.js
  ui/apps/platform/src/Containers/MainPage/Sidebar/NavigationSidebar.tsx
Labels: area/ui

#11554 ROX-24725: revert names optimization
  central/image/service/service_impl.go
Labels: area/central

#11621 fix(gha-disk): free more space on the gha runner
  .github/workflows/build.yaml
Labels: area/ci

#11631 ROX-24833: Integrate Platform CVE Overview with BE queries
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/usePlatformCves.ts
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/utils/stringUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/components/AdvancedFiltersToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/SnoozeCvesModal/SnoozeCvesModal.tsx
Labels: area/ui, epic/vm2.0/node&platform

#11443 ci(scanner): scan go binary and images
  .github/workflows/scanner-build.yaml
  scripts/ci/govulncheck.sh
Labels: area/ci, scan-go-binaries

#11104 ROX-21768: support partial Node.js results
  CHANGELOG.md
  pkg/env/scannerv4.go
  pkg/scanners/scannerv4/convert.go
  pkg/scanners/scannerv4/convert_test.go
  scanner/indexer/indexer.go
  scanner/mappers/mappers.go
  scanner/mappers/mappers_test.go
  scanner/matcher/matcher.go
Labels: area/scanner
