Repository stackrox/stackrox, pull requests merged in 2024-10, with the labels that each got.

#12745 ROX-21381: Add security headers to UI mux
  central/graphql/handler/handler.go
  central/ui/mux.go
  pkg/grpc/server.go
Labels: area/central

#12850 chore(ui): Change postgres path in listening endpt test
  ui/apps/platform/cypress/integration/listeningEndpoints/listeningEndpointsTable.test.js
Labels: area/ui

#12852 chore(ui): Increase cypress requestTimeout to 20 seconds
  ui/apps/platform/cypress.config.js
Labels: area/ui

#12843 ROX-26151: Pin related images in operator bundle
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retrieve-image-tag-from-file-task.yaml
  operator/bundle_helpers/patch-csv.py
  operator/konflux.bundle.Dockerfile
Labels: area/operator

#12785 ROX-25933: Add table column for 'My active job status'
  ui/apps/platform/src/Components/ReportJob/MyActiveJobStatus.test.tsx
  ui/apps/platform/src/Components/ReportJob/MyActiveJobStatus.tsx
  ui/apps/platform/src/Components/ReportJob/ReportJobsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigActionDropdown.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigActionsColumn.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigDetailPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ViewScanConfigDetail.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ConfigDetails.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportJobs.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/hooks/useWatchLastSnapshotForComplianceReports.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/VulnReportsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/useWatchLastSnapshotForReports.ts
  ui/apps/platform/src/services/ComplianceScanConfigurationService.ts
  ui/apps/platform/src/utils/queryStringUtils.ts
Labels: area/ui

#12277 ROX-24169: client auth in OCM form
  ui/apps/platform/cypress/integration/integrations/cloudSourcesIntegrations.test.ts
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/CloudSourceIntegrations/OcmIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/CloudSourceIntegrations/PaladinCloudIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/Components/IntegrationHelpIcon.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/OcmIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/IntegrationForm.tsx
  ui/apps/platform/src/services/CloudSourceService.ts
Labels: area/ui

#12868 ROX-26434: Adding policyName field to the policy CR spec
  config-controller/api/v1alpha1/policy_types.go
  config-controller/api/v1alpha1/policy_types_test.go
  config-controller/api/v1alpha1/test.json
  config-controller/config/crd/bases/config.stackrox.io_securitypolicies.yaml
  image/templates/helm/stackrox-central/templates/00-securitypolicies-crd.yaml
Labels: area/helm

#12783 ROX-26317: Generate custom resource type for save-as function
  central/policy/service/customresource/custom_resource.go
  central/policy/service/customresource/custom_resource_test.go
  central/policy/service/customresource/policy.go
  central/policy/service/customresource/testdata/custom_resource.yaml
  pkg/sliceutils/convert.go
  pkg/sliceutils/convert_test.go
Labels: area/central, area/operator, area/sensor

#12871 ROX-26025: bump collector to 3.19.3
  COLLECTOR_VERSION
Labels: ci-all-qa-tests, backport

#12302 ROX-24169: deprecation banner
  central/convert/storagetov1/cloud_source.go
  central/convert/storagetov1/cloud_source_test.go
  ui/apps/platform/src/Containers/Integrations/Banners/OcmDeprecatedToken.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/IntegrationTilesPage.tsx
Labels: area/central, area/ui

#12784 ROX-26301: Allow 'is null' and 'is not null' queries for bool, enum and numeric fields
  central/search/service/service_impl_test.go
  pkg/search/postgres/query/bool_query.go
  pkg/search/postgres/query/common.go
  pkg/search/postgres/query/enum_query.go
  pkg/search/postgres/query/numeric_query.go
  pkg/search/postgres/query/time_query.go
Labels: area/central, area/postgres

#12360 ROX-20578: Delegated Scanning Pull Secrets By Name
  CHANGELOG.md
  pkg/features/list.go
  sensor/common/delegatedregistry/delegated_registry_handler.go
  sensor/common/detector/enricher.go
  sensor/common/detector/enricher_test.go
  sensor/common/image/interfaces.go
  sensor/common/image/mocks/interfaces.go
  sensor/common/image/service_impl.go
  sensor/common/image/service_impl_test.go
  sensor/common/registry/registry_store.go
  sensor/common/registry/registry_store_test.go
  sensor/common/scan/scan.go
  sensor/common/scan/scan_test.go
  sensor/kubernetes/listener/resources/secrets.go
  sensor/kubernetes/listener/resources/secrets_test.go
Labels: area/sensor

#12675 ROX-24977: Ensure scanner is deployed in compatibility tests
  qa-tests-backend/src/main/groovy/util/Helpers.groovy
  qa-tests-backend/src/test/groovy/CertExpiryTest.groovy
  scripts/ci/is-scanner-v2-available.sh
Labels: team/maple

#12873 ROX-26041: Add required Date header to email messages
  central/notifiers/email/email.go
  central/notifiers/email/email_test.go
Labels: area/central

#12886 ROX-25786: Create FilteredWorkflowSelector component
  ui/apps/platform/src/Components/FilteredWorkflowSelector/FilteredWorkflowSelector.tsx
  ui/apps/platform/src/Components/FilteredWorkflowSelector/types.ts
  ui/apps/platform/src/Components/FilteredWorkflowSelector/useFilteredWorkflowURLState.ts
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
Labels: area/ui

#12872 refactor(scanner): Use separate v4 prefix for new bundles
  .github/workflows/scanner-offline-bundle-update.yaml
  .github/workflows/scripts/scanner-offline-bundle-generate.sh
Labels: area/ci, pr-update-scanner-vulns

#12882 ROX-24429: integrate exposure analysis into roxctl
  roxctl/netpol/connectivity/map/README.md
  roxctl/netpol/connectivity/map/command.go
  roxctl/netpol/connectivity/map/exposure-graph-example.svg
  roxctl/netpol/connectivity/map/exposure_analysis.md
  roxctl/netpol/connectivity/map/map.go
  roxctl/netpol/connectivity/map/map_test.go
  roxctl/netpol/connectivity/map/testdata/acs-security-demos/exposure_output.txt
  tests/roxctl/bats-tests/local/roxctl-netpol-connectivity-map-development.bats
  tests/roxctl/bats-tests/local/roxctl-netpol-connectivity-map-release.bats
  tests/roxctl/bats-tests/test-data/np-guard/exposure-example/netpol.yaml
  tests/roxctl/bats-tests/test-data/np-guard/exposure-example/ns_and_deployments.yaml
Labels: area/roxctl

#12638 fix(tests): backport GKE compatibility fixes to 4.5
  .openshift-ci/pre_tests.py
  qa-tests-backend/src/test/groovy/ProcessBaselinesTest.groovy
  qa-tests-backend/src/test/groovy/RuntimeViolationLifecycleTest.groovy
  scripts/ci/jobs/gke_version_compatibility_tests.py
  tests/e2e/lib.sh
Labels: area/ci, backport

#12612 ROX-23140: adding CVSS metrics to vulnerability report
  generated/internalapi/scanner/v4/vulnerability_report.pb.go
  generated/internalapi/scanner/v4/vulnerability_report_vtproto.pb.go
  pkg/scannerv4/mappers/mappers.go
  pkg/scannerv4/mappers/mappers_test.go
  proto/internalapi/scanner/v4/vulnerability_report.proto
  scanner/updater/rhel/parser.go
Labels: area/central, area/scanner, pr-update-scanner-vulns, scanner-split-vulns

#12379 ROX-25722: Add metrics to sensor registry store
  pkg/images/integration/set_impl.go
  pkg/registries/mocks/set.go
  pkg/registries/set.go
  pkg/registries/set_impl.go
  pkg/registries/set_impl_test.go
  sensor/common/registry/metrics/metrics.go
  sensor/common/registry/registry_store.go
  sensor/common/registry/registry_store_test.go
  sensor/common/registry/tlscheck_cache.go
  sensor/common/registry/tlscheck_cache_test.go
Labels: area/sensor

#12415 ROX-25503: Policy as code Custom Resource API
  central/policy/service/service_impl.go
  central/policy/service/service_impl_test.go
  generated/api/v1/policy_service.pb.go
  generated/api/v1/policy_service.pb.gw.go
  generated/api/v1/policy_service.swagger.json
  generated/api/v1/policy_service_grpc.pb.go
  generated/api/v1/policy_service_vtproto.pb.go
  proto/api/v1/policy_service.proto
  tests/policy_test.go
Labels: area/central

#12867 ROX-26231: Change to 'My last job status'
  ui/apps/platform/cypress/integration/vulnerabilities/VulnerabilityReporting/reportsTable.test.js
  ui/apps/platform/src/Components/ReportJob/MyActiveJobStatus.test.tsx
  ui/apps/platform/src/Components/ReportJob/MyActiveJobStatus.tsx
  ui/apps/platform/src/Components/ReportJob/MyLastJobStatusTh.tsx
  ui/apps/platform/src/Components/ReportJob/utils.ts
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/hooks/useWatchLastSnapshotForComplianceReports.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/VulnReportsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/useWatchLastSnapshotForReports.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/MyLastReportJobStatus.test.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/MyLastReportJobStatus.tsx
  ui/apps/platform/src/services/ReportsService.ts
  ui/apps/platform/src/services/ReportsService.types.ts
Labels: area/ui

#12243 ROX-25446: Deprecate Central PVC from operator
  operator/api/v1alpha1/central_types.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/internal/central/common/common.go
  operator/internal/central/extensions/reconcile_pvc.go
  operator/internal/central/extensions/reconcile_pvc_test.go
  operator/internal/central/values/translation/pvc_checker.go
  operator/internal/central/values/translation/translation.go
  operator/internal/central/values/translation/translation_test.go
  operator/tests/upgrade/upgrade/040-obsolete-pvc.yaml
Labels: area/roxctl, area/ui, area/helm, area/operator

#12865 ROX-26446: Add start timestamp field
  central/complianceoperator/v2/scans/store/postgres/store.go
  central/convert/internaltov2storage/compliance_operator_scan.go
  central/convert/testutils/compliance_scans.go
  generated/internalapi/central/compliance_operator.pb.go
  generated/internalapi/central/compliance_operator_vtproto.pb.go
  generated/storage/compliance_operator_v2.pb.go
  generated/storage/compliance_operator_v2_vtproto.pb.go
  pkg/postgres/schema/compliance_operator_scan_v2.go
  pkg/search/options.go
  proto/internalapi/central/compliance_operator.proto
  proto/storage/compliance_operator_v2.proto
  proto/storage/proto.lock
  sensor/kubernetes/complianceoperator/dispatchers/complianceoperatorscans.go
Labels: area/central, area/sensor, area/postgres

#12830 chore: Add notifier import test
  central/notifiers/all/all_test.go
Labels: area/central

#12884 chore(ownership): Make IBM Research team codeowners of NP-Guard
  .github/CODEOWNERS
Labels: area/ci

#12877 feat(ui): Adding 'My last job status' to Compliance
  ui/apps/platform/src/Components/ReportJob/MyLastJobStatus.test.tsx
  ui/apps/platform/src/Components/ReportJob/MyLastJobStatus.tsx
  ui/apps/platform/src/Components/ReportJob/ReportJobsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportJobs.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportRunStatesFilter.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/hooks/useWatchLastSnapshotForComplianceReports.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/JobDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobStatus.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/VulnReportsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/api/useRunReport.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/MyLastReportJobStatus.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.ts
  ui/apps/platform/src/services/ComplianceScanConfigurationService.ts
  ui/apps/platform/src/services/ReportsService.ts
  ui/apps/platform/src/services/ReportsService.types.ts
  ui/apps/platform/src/types/reportJob.ts
Labels: area/ui, epic/compliance-2.0/report-jobs

#11746 ROX-24986: Store discovered external entities in Central
  central/graphql/resolvers/generated.go
  central/networkgraph/entity/datastore/datastore_impl.go
  central/networkgraph/entity/datastore/internal/store/postgres/store.go
  central/sensor/service/pipeline/networkflowupdate/factory.go
  central/sensor/service/pipeline/networkflowupdate/flow_store_updater.go
  central/sensor/service/pipeline/networkflowupdate/flow_store_updater_impl.go
  central/sensor/service/pipeline/networkflowupdate/flow_store_updater_impl_test.go
  central/sensor/service/pipeline/networkflowupdate/pipeline.go
  generated/api/v1/network_baseline_service.swagger.json
  generated/api/v1/network_graph_service.swagger.json
  generated/api/v1/network_policy_service.swagger.json
  generated/storage/network_flow.pb.go
  generated/storage/network_flow_vtproto.pb.go
  pkg/centralsensor/caps_list.go
  pkg/features/list.go
  pkg/net/addr.go
  pkg/networkgraph/entity.go
  pkg/networkgraph/utils.go
  pkg/postgres/schema/network_entities.go
  pkg/search/options.go
  proto/storage/network_flow.proto
  proto/storage/proto.lock
  sensor/common/networkflow/manager/manager_impl.go
  ui/apps/platform/src/services/NetworkService.js
  ui/apps/platform/src/types/networkFlow.proto.ts
Labels: area/central, area/ui, area/sensor, area/postgres

#11027 feat(listener): Shutdown shared informers synchronously
  sensor/kubernetes/listener/listener_impl.go
  sensor/kubernetes/listener/resource_event_handler.go
Labels: team/maple, area/sensor, auto-retest

#12893 chore(scanner): refactor CVSS score mapping
  pkg/scannerv4/mappers/mappers.go
  pkg/scannerv4/mappers/mappers_test.go
  scanner/decisions/0013-manual-cvss-source.md
  scanner/updater/manual/README.md
  scanner/updater/manual/manual.go
Labels: area/scanner

#12770 ROX-25823: Added graphql query to get topnvd score
  central/cve/converter/utils/convert_utils.go
  central/graphql/resolvers/generated.go
  central/graphql/resolvers/image_cve_core.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/image/datastore/store/common/v2/parts_test.go
  central/views/imagecve/db_response.go
  central/views/imagecve/mocks/types.go
  central/views/imagecve/types.go
  central/views/imagecve/view_impl.go
  central/views/imagecve/view_test.go
  central/views/read_options.go
  generated/storage/cve.pb.go
  generated/storage/cve_vtproto.pb.go
  proto/storage/cve.proto
  proto/storage/proto.lock
Labels: area/roxctl, area/central

#12894 ROX-25787: Filter Policy Violations using Filtered Workflow Selector
  ui/apps/platform/src/Components/FilteredWorkflowSelector/FilteredWorkflowSelector.tsx
  ui/apps/platform/src/Components/FilteredWorkflowSelector/useFilteredWorkflowURLState.ts
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/services/AlertsService.ts
Labels: area/ui, epic/platform-components

#12452 ROX-25981: use VEX for RPMs
  CHANGELOG.md
  go.mod
  go.sum
  pkg/scannerv4/mappers/mappers.go
  pkg/scannerv4/mappers/mappers_test.go
  scanner/VULNERABILITY_VERSION
  scanner/cmd/updater/main.go
  scanner/datastore/postgres/distributions.go
  scanner/datastore/postgres/distributions_test.go
  scanner/enricher/fixedby/fixedby_test.go
  scanner/matcher/matcher.go
  scanner/services/matcher_test.go
  scanner/services/validators/validators.go
  scanner/updater/export.go
  scanner/updater/version/VULNERABILITY_BUNDLE_VERSION
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/helm, area/scanner, area/ci, pr-update-scanner-vulns

#12825 ROX-25948: Decouple ServiceCertificatesRepo from localscanner package
  sensor/kubernetes/certrefresh/certrepo/repo_interface.go
  sensor/kubernetes/certrefresh/certrepo/service_certificates_repository.go
  sensor/kubernetes/certrefresh/certrepo/service_certificates_repository_test.go
  sensor/kubernetes/certrefresh/localscanner/cert_refresher.go
  sensor/kubernetes/certrefresh/localscanner/cert_refresher_test.go
  sensor/kubernetes/certrefresh/localscanner/cert_repo_init.go
  sensor/kubernetes/certrefresh/localscanner/cert_repo_init_test.go
  sensor/kubernetes/certrefresh/localscanner/certificate_expiration.go
  sensor/kubernetes/certrefresh/localscanner/certificate_expiration_test.go
  sensor/kubernetes/certrefresh/localscanner/certificate_requester.go
  sensor/kubernetes/certrefresh/localscanner/certificate_requester_test.go
  sensor/kubernetes/certrefresh/localscanner/tls_issuer.go
  sensor/kubernetes/certrefresh/localscanner/tls_issuer_test.go
  sensor/kubernetes/sensor/sensor.go
Labels: area/sensor

#12902 ROX-26378: Lock before adding to map
  sensor/common/compliance/service_impl.go
  sensor/common/compliance/service_impl_test.go
Labels: team/maple, area/sensor

#12829 ROX-26408: Encrypt Microsoft Sentinel Notifier Secret
  central/notifier/service/service_impl.go
  central/notifiers/microsoftsentinel/sentinel.go
  central/notifiers/microsoftsentinel/sentinel_test.go
  central/notifiers/utils/encryption.go
  central/notifiers/utils/encryption_test.go
  dev-tools/create-notifier-secret.sh
  dev-tools/debug-helm-chart.sh
  generated/api/v1/notifier_service.swagger.json
  generated/storage/notifier.pb.go
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml.htpl
  proto/storage/notifier.proto
Labels: area/central, area/helm

#12883 ROX-25642: Simplify the table size query
  central/globaldb/postgres.go
Labels: area/central, area/postgres

#12760 ROX-23835, ROX-26239: Mask graph deployment IDs for baseline compare
  central/deployment/utils/utils.go
  central/deployment/utils/utils_test.go
  central/networkbaseline/service/service_impl.go
  central/networkbaseline/service/service_impl_test.go
  central/networkgraph/service/masker.go
  central/networkgraph/service/service_impl_test.go
Labels: area/central

#12899 docs: Add notifier documentation
  central/notifier/README.md
  central/notifiers/README.md
  dev-tools/setup-notifier-encryption.sh
  pkg/notifier/README.md
  pkg/notifiers/README.md
Labels: area/central

#12866 ROX-25760: Compliance stats should add to 100%
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileClustersTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/compliance.coverage.utils.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/ProfileStatsWidget.tsx
Labels: area/ui

#12811 ROX-26372: VM query timeout
  CHANGELOG.md
  central/views/imagecve/view_impl.go
  pkg/env/postgres_default_timeout.go
Labels: area/central

#12888 ROX-26481: Policy client cache changes in controller
  config-controller/api/v1alpha1/policy_types.go
  config-controller/api/v1alpha1/policy_types_test.go
  config-controller/api/v1alpha1/test.json
  config-controller/config/crd/bases/config.stackrox.io_securitypolicies.yaml
  config-controller/internal/controller/policy_controller.go
  config-controller/pkg/client/client.go
  config-controller/pkg/client/client_test.go
  image/templates/helm/stackrox-central/templates/00-securitypolicies-crd.yaml
Labels: area/central, area/helm

#12921 chore(ui): remove hint for sub viewer role
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/CloudSourceIntegrations/OcmIntegrationForm.tsx
Labels: area/ui

#12905 ROX-26151: Some fixes to image pinning
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retrieve-image-tag-from-file-task.yaml
  operator/konflux.bundle.Dockerfile
Labels: area/operator, konflux-build

#12857 ROX-26445: CO reporting API protos
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  generated/api/v2/compliance_scan_configuration_service.pb.go
  generated/api/v2/compliance_scan_configuration_service.pb.gw.go
  generated/api/v2/compliance_scan_configuration_service.swagger.json
  generated/api/v2/compliance_scan_configuration_service_grpc.pb.go
  generated/api/v2/compliance_scan_configuration_service_vtproto.pb.go
  generated/api/v2/report_service.swagger.json
  proto/api/v2/compliance_scan_configuration_service.proto
  ui/apps/platform/src/services/ComplianceScanConfigurationService.ts
Labels: area/central, area/ui

#12910 ROX-26515: Add a configmap to collector
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml.htpl
Labels: area/helm

#12804 ROX-25524: Add enable/disable policy option on create
  ui/apps/platform/cypress/constants/PoliciesPage.js
  ui/apps/platform/cypress/integration/policies/policiesTable.test.js
  ui/apps/platform/src/Containers/Policies/Wizard/PolicyWizard.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step5/DownloadCLIDropdown.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step5/NotifiersForm.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step5/PolicyActionsForm.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step5/PolicyEnforcementForm.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step6/NotifiersForm.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step6/PreviewViolations.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step6/ReviewPolicyForm.css
  ui/apps/platform/src/Containers/Policies/Wizard/Step6/ReviewPolicyForm.tsx
  ui/apps/platform/src/Containers/Policies/policies.constants.ts
Labels: area/ui

#12927 ROX-26531: Add UI analytics for Platform Components
  ui/apps/platform/src/Components/FilteredWorkflowSelector/types.ts
  ui/apps/platform/src/Components/FilteredWorkflowSelector/useFilteredWorkflowURLState.ts
  ui/apps/platform/src/Components/FilteredWorkflowViewSelector/FilteredWorkflowViewSelector.tsx
  ui/apps/platform/src/Components/FilteredWorkflowViewSelector/types.ts
  ui/apps/platform/src/Components/FilteredWorkflowViewSelector/useFilteredWorkflowViewURLState.ts
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/hooks/useAnalytics.ts
Labels: area/ui, epic/platform-components

#12923 ROX-24990: alert time index to help pruning
  generated/storage/alert.pb.go
  pkg/postgres/schema/alerts.go
  proto/storage/alert.proto
Labels: area/postgres

#12834 ROX-26428: Ensure image ID is not lost when evaluating mirrors
  CHANGELOG.md
  pkg/registrymirror/store.go
  pkg/registrymirror/store_test.go
  sensor/common/scan/scan.go
  sensor/common/scan/scan_test.go
Labels: area/sensor

#12919 ROX-25828: Add index on process_indicators.signal_time
  generated/storage/process_indicator.pb.go
  pkg/postgres/schema/process_indicators.go
  proto/storage/process_indicator.proto
Labels: area/postgres

#12794 ROX-25439: Change template and remove flag options
  central/complianceoperator/v2/scanconfigurations/store/postgres/store.go
  central/deployment/datastore/internal/store/postgres/store.go
  central/vulnmgmt/vulnerabilityrequest/datastore/internal/store/postgres/store.go
  pkg/postgres/walker/schema.go
  pkg/postgres/walker/walker.go
  pkg/search/walker.go
  tools/generate-helpers/pg-table-bindings/store.go.tpl
Labels: area/central, area/postgres

#12977 fix: temporarily disable arm64 main build
  .github/workflows/build.yaml
Labels: area/ci

#12926 ROX-26264: Backend integration
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigActionDropdown.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ViewScanConfigDetail.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/hooks/useWatchLastSnapshotForComplianceReports.ts
  ui/apps/platform/src/services/ComplianceScanConfigurationService.ts
Labels: area/ui, epic/compliance-2.0/report-jobs

#12968 fix(ci): Scanner job broken due to `gcloud` CLI missing
  .github/workflows/scanner-offline-bundle-update.yaml
Labels: area/ci, pr-update-scanner-vulns

#12943 ROX-26555: Add central persistence helm flag to readme
  README.md
  scripts/quick-helm-install.sh
Labels: team/maple

#12692 ROX-24860: Add NVD CVSS column to Workload CVEs
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/cveDetailPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/nodeDetailPage.test.ts
  ui/apps/platform/src/Components/CvssFormatted.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/AffectedNodesTable.cy.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/AffectedNodesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/sortUtils.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/vulnerabilityUtils.ts
Labels: area/ui

#12918 fix: (konflux) Add spec.relatedImages iff executing in Konflux mode
  operator/Makefile
  operator/bundle_helpers/patch-csv.py
  operator/konflux.bundle.Dockerfile
Labels: area/operator

#12966 chore: Remove ROX_POLICY_AS_CODE feature flag
  Makefile
  central/auth/datastore/datastore_impl.go
  central/auth/datastore/datastore_impl_test.go
  image/templates/helm/stackrox-central/.helmtplignore.htpl
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/templates/00-securitypolicies-crd.yaml
  pkg/features/list.go
  pkg/helm/charts/tests/centralservices/customize_test.go
  pkg/helm/charts/tests/centralservices/multi_namespace_test.go
Labels: area/central, area/helm, area/operator

#12960 ROX-24859: Add NVD CVSS policy criteria
  ui/apps/platform/cypress/integration/policies/policyWizardStep3-dnd.test.js
  ui/apps/platform/cypress/integration/policies/policyWizardStep3.test.js
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.test.ts
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
  ui/apps/platform/src/Containers/Policies/policies.utils.ts
Labels: area/ui

#12928 fix(be): Fix alert search not working for new fields
  central/alert/mappings/options.go
  pkg/search/mocks/options_map.go
  pkg/search/options_map.go
Labels: area/central

#12887 ROX-25993: Platform components: Deployment and alert data model changes
  central/alert/datastore/internal/search/searcher_postgres_test.go
  central/alert/datastore/internal/store/postgres/store.go
  central/deployment/datastore/internal/store/postgres/store.go
  central/graphql/resolvers/generated.go
  generated/api/v1/alert_service.swagger.json
  generated/api/v1/deployment_service.swagger.json
  generated/api/v1/detection_service.swagger.json
  generated/api/v1/vuln_mgmt_service.swagger.json
  generated/storage/alert.pb.go
  generated/storage/alert_vtproto.pb.go
  generated/storage/deployment.pb.go
  generated/storage/deployment_vtproto.pb.go
  pkg/fixtures/alert.go
  pkg/postgres/schema/alerts.go
  pkg/postgres/schema/deployments.go
  pkg/search/options.go
  proto/storage/alert.proto
  proto/storage/deployment.proto
  proto/storage/proto.lock
  tests/options_test.go
Labels: area/central, area/postgres

#12982 fix: install gcloud CLI in job-preamble
  .github/actions/job-preamble/action.yaml
Labels: area/ci

#12988 fix: Revert "fix: temporarily disable arm64 main build (#12977)"
  .github/workflows/build.yaml
Labels: area/ci

#12944 chore: upper case AS in Dockerfiles
  image/rhel/Dockerfile
  image/roxctl/konflux.Dockerfile
  operator/Dockerfile
  operator/konflux.Dockerfile
  scanner/image/scanner/konflux.Dockerfile
Labels: area/helm, area/operator, area/scanner

#12833 ROX-26411: Improve the upgrader nudge texts
  central/sensor/service/connection/connection_impl.go
  central/sensor/service/connection/upgradecontroller/trigger.go
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.test.js
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.tsx
  ui/apps/platform/src/constants/productBranding.ts
Labels: pls-merge, area/central, area/ui

#12961 ROX-26532: Fixing policy violations search filter bugs
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/policy.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/components/ConditionDate.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/SearchFilterAutocomplete.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePanel.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTableSearchFilter.tsx
Labels: area/ui, epic/advanced-filters/policy-violations

#12870 ROX-25822: Query nvd cvss for vuln report
  central/reports/common/report_formatter.go
  central/reports/scheduler/schedule.go
  central/reports/scheduler/v2/reportgenerator/consts.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
  pkg/csv/writer.go
Labels: area/central

#12544 ROX-25266: Deploy compatibility test against supported versions
  .openshift-ci/ci_tests.py
  .openshift-ci/compatibility_test.py
  .openshift-ci/get_compatibility_test_tuples.py
  scripts/ci/jobs/gke_nongroovy_compatibility_tests.py
  scripts/ci/jobs/gke_version_compatibility_tests.py
  scripts/ci/lib.sh
  tests/Makefile
  tests/e2e/run-compatibility.sh
  tests/e2e/run.sh
Labels: team/maple, area/ci

#12970 ROX-24563: Changing All to NoneSpecified in Collections
  ui/apps/platform/cypress/integration/collections/collectionsCrudWorkflow.test.js
  ui/apps/platform/cypress/integration/collections/deploymentMatching.test.js
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByLabelSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/ByNameSelector.tsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.cy.jsx
  ui/apps/platform/src/Containers/Collections/RuleSelector/RuleSelector.tsx
  ui/apps/platform/src/Containers/Collections/converter.test.ts
  ui/apps/platform/src/Containers/Collections/converter.ts
  ui/apps/platform/src/Containers/Collections/hooks/useCollectionFormSubmission.ts
  ui/apps/platform/src/Containers/Collections/types.ts
Labels: area/ui

#12922 ROX-26381: Column mgmt workload CVE overview
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
  ui/apps/platform/src/Components/ColumnManagementButton.tsx
  ui/apps/platform/src/Components/TooltipTh.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/WorkloadCVEOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/hooks/useInvalidateVulnerabilityQueries.ts
  ui/apps/platform/src/hooks/useManagedColumns.test.ts
  ui/apps/platform/src/hooks/useManagedColumns.ts
Labels: area/ui

#12996 ROX-26596: Fix text assertion - cluster is helm managed
  qa-tests-backend/src/test/groovy/CertRotationTest.groovy
Labels: ci-all-qa-tests, team/maple

#12874 fix: config in UI form values
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/AcscsEmailIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ArtifactRegistryIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ArtifactoryIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/AwsSecurityHubIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/AzureIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ClairIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ClairV4IntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ClairifyIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/CloudSourceIntegrations/OcmIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/CloudSourceIntegrations/PaladinCloudIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/DockerIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/EcrIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/EmailIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ExternalBackupIntegrations/GcsIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ExternalBackupIntegrations/S3CompatibleIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ExternalBackupIntegrations/S3IntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GenericWebhookIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GoogleCloudSccIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GoogleIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/IbmIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/JiraIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/MachineAccessIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/NexusIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/PagerDutyIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/RhelIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ScannerV4IntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/SignatureIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/SlackIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/SplunkIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/SyslogIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/TeamsIntegrationForm.tsx
  ui/apps/platform/src/services/CloudSourceService.ts
  ui/apps/platform/src/services/IntegrationsService.ts
Labels: area/ui

#12913 ROX-25485: e2e test for policy as code
  config-controller/internal/controller/policy_controller.go
  config-controller/internal/controller/policy_controller_test.go
  config-controller/internal/controller/suite_test.go
  config-controller/pkg/client/client.go
  config-controller/test/e2e/e2e_suite_test.go
  config-controller/test/e2e/e2e_test.go
  config-controller/test/utils/utils.go
  tests/policy_as_code_test.go
Labels: area/helm

#12971 ROX-26530: Add UI analytics for Compliance Reporting
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ViewScanConfigDetail.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportJobs.tsx
  ui/apps/platform/src/hooks/useAnalytics.ts
Labels: area/ui, epic/compliance-2.0/report-jobs

#12895 ROX-25691: Update offline bundle handlers for version bundles
  central/scannerdefinitions/handler/handler.go
  central/scannerdefinitions/handler/handler_test.go
Labels: area/central

#12958 ROX-26042: Refactor OpenShift auth provider certificate watch
  central/authprovider/service/service_impl_postgres_test.go
  central/authprovider/service/service_impl_test.go
  central/user/datastore/datastore_test.go
  central/user/datastore/datastore_test_constructors.go
  pkg/auth/authproviders/backend.go
  pkg/auth/authproviders/backend_factory.go
  pkg/auth/authproviders/mocks/backend.go
  pkg/auth/authproviders/mocks/backend_factory.go
  pkg/auth/authproviders/openshift/backend_factory_impl.go
  pkg/auth/authproviders/openshift/backend_impl.go
  pkg/auth/authproviders/openshift/testutils.go
  pkg/auth/authproviders/openshift/watcher.go
  pkg/auth/permissions/mocks/role_mapper.go
  pkg/auth/permissions/role_mapper.go
Labels: area/auth, area/central

#13005 ROX-25385: Display NVD CVSS in Vulnerability Reports
  ui/apps/platform/src/Components/ReportJob/MyLastJobStatus.test.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/ReportParametersDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportParametersForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/useReportFormValues.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.ts
  ui/apps/platform/src/services/ReportsService.types.ts
Labels: area/ui

#12890 ROX-26447: Add scan watcher
  central/complianceoperator/v2/pipelines/complianceoperatorresultsv2/pipeline.go
  central/complianceoperator/v2/pipelines/complianceoperatorresultsv2/pipeline_test.go
  central/complianceoperator/v2/pipelines/complianceoperatorscansv2/pipeline.go
  central/complianceoperator/v2/pipelines/complianceoperatorscansv2/pipeline_test.go
  central/complianceoperator/v2/report/manager/manager.go
  central/complianceoperator/v2/report/manager/manager_impl.go
  central/complianceoperator/v2/report/manager/manager_test.go
  central/complianceoperator/v2/report/manager/mocks/manager.go
  central/complianceoperator/v2/report/manager/singleton.go
  central/complianceoperator/v2/report/manager/watcher/scanwatcher.go
  central/complianceoperator/v2/report/manager/watcher/scanwatcher_test.go
  go.mod
Labels: area/central, area/sensor, area/postgres

#12914 feat(ui): add checkbox for cloud source test
  ui/apps/platform/cypress/integration/integrations/cloudSourcesIntegrations.test.ts
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/CloudSourceIntegrations/OcmIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/CloudSourceIntegrations/PaladinCloudIntegrationForm.tsx
Labels: area/ui

#13009 ROX-26622: Adding a banner to the scheduling page
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsPage.tsx
Labels: area/ui, epic/compliance-2.0/report-jobs

#12992 chore(ci): improve scanner vuln workflow logging
  .github/workflows/scanner-versioned-definitions-update.yaml
Labels: area/ci, pr-update-scanner-vulns

#12993 ROX-25595: Add UI analytics for Policy Violations Search Filter
  ui/apps/platform/src/Containers/Violations/ViolationsTableSearchFilter.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodeCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/PlatformCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/PlatformCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/NamespaceViewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/hooks/useAnalytics.ts
  ui/apps/platform/src/utils/analyticsEventTracking.ts
Labels: area/ui, epic/advanced-filters/policy-violations

#12841 ROX-26279: Images graphQL should support sort by CVE severity counts
  central/graphql/handler/handler_benchmark_test.go
  central/graphql/resolvers/deployments_test.go
  central/graphql/resolvers/image_components_postgres_test.go
  central/graphql/resolvers/image_scan_benchmark_test.go
  central/graphql/resolvers/image_scan_test.go
  central/graphql/resolvers/image_vulnerabilities_test.go
  central/graphql/resolvers/images_test.go
  central/graphql/resolvers/loaders/images.go
  central/graphql/resolvers/loaders/images_test.go
  central/graphql/resolvers/search_test.go
  central/graphql/resolvers/test_setup_utils.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl_test.go
  central/reports/scheduler/vuln_report_collections_test.go
  central/testutils/export.go
  central/views/common/db_response.go
  central/views/common/queries.go
  central/views/imagecve/db_response.go
  central/views/imagecve/view_impl.go
  central/views/imagecve/view_test.go
  central/views/images/db_response.go
  central/views/images/mocks/types.go
  central/views/images/singleton.go
  central/views/images/types.go
  central/views/images/view_impl.go
  central/views/images/view_test.go
Labels: area/central

#12689 ROX-24948: external entities API extension
  central/networkgraph/entity/datastore/datastore.go
  central/networkgraph/entity/datastore/datastore_impl.go
  central/networkgraph/entity/datastore/datastore_impl_test.go
  central/networkgraph/entity/datastore/internal/store/mocks/store.go
  central/networkgraph/entity/datastore/internal/store/store.go
  central/networkgraph/entity/datastore/mocks/datastore.go
  central/networkgraph/flow/datastore/flow.go
  central/networkgraph/flow/datastore/flow_impl.go
  central/networkgraph/flow/datastore/internal/store/flow.go
  central/networkgraph/flow/datastore/internal/store/mocks/flow.go
  central/networkgraph/flow/datastore/internal/store/postgres/store.go
  central/networkgraph/flow/datastore/internal/store/postgres/store_test.go
  central/networkgraph/flow/datastore/mocks/flow.go
  central/networkgraph/service/service.go
  central/networkgraph/service/service_impl.go
  central/networkgraph/service/service_impl_test.go
  generated/api/v1/network_graph_service.pb.go
  generated/api/v1/network_graph_service.pb.gw.go
  generated/api/v1/network_graph_service.swagger.json
  generated/api/v1/network_graph_service_grpc.pb.go
  generated/api/v1/network_graph_service_vtproto.pb.go
  pkg/metrics/op_string.go
  pkg/metrics/operations.go
  proto/api/v1/network_graph_service.proto
  tools/allowed-large-files
Labels: area/central, area/postgres

#12889 ROX-26252: Simplify operator install scripts
  operator/Makefile
  operator/README.md
  operator/hack/common.sh
  operator/hack/olm-operator-install.sh
  operator/hack/olm-operator-upgrade.sh
  operator/hack/operator-midstream.envsubst.yaml
  operator/hack/operator.envsubst.yaml
  scripts/style/shellcheck_skip.txt
  tests/e2e/lib.sh
  tests/e2e/run-scanner-v4.bats
Labels: area/operator

#12403 chore(roxctl): `password` and `token-file` args
  roxctl/common/auth/token_test.go
  roxctl/common/environment/environment-impl.go
  roxctl/common/environment/environment-impl_test.go
  roxctl/common/flags/api_token_file.go
  roxctl/common/flags/password.go
  roxctl/maincommand/command.go
  tests/roxctl/token-file.sh
Labels: area/roxctl

#12959 ROX-26042: check for duplicate authprovider name in creation flow
  central/authprovider/datastore/datastore_impl.go
  central/authprovider/datastore/datastore_impl_test.go
  central/authprovider/datastore/internal/store/mocks/store.go
  central/authprovider/datastore/internal/store/postgres/gen.go
  central/authprovider/datastore/internal/store/postgres/store.go
  central/authprovider/datastore/internal/store/store.go
  central/authprovider/service/service_impl_postgres_test.go
  central/authprovider/service/service_impl_test.go
  generated/api/v1/search_service.pb.go
  generated/api/v1/search_service.swagger.json
  generated/storage/auth_provider.pb.go
  pkg/auth/authproviders/mocks/store.go
  pkg/auth/authproviders/provider_commands.go
  pkg/auth/authproviders/provider_commands_test.go
  pkg/auth/authproviders/provider_default_options.go
  pkg/auth/authproviders/registry_httphandler_test.go
  pkg/auth/authproviders/store.go
  pkg/postgres/schema/auth_providers.go
  pkg/search/options.go
  proto/api/v1/search_service.proto
  proto/storage/auth_provider.proto
Labels: area/auth, area/central, area/postgres

#13007 ROX-26560: Change custom resource save as to zip file
  central/main.go
  central/policy/customresource/custom_resource.go
  central/policy/customresource/custom_resource_test.go
  central/policy/customresource/policy.go
  central/policy/customresource/testdata/custom_resource.yaml
  central/policy/handlers/handler.go
  central/policy/handlers/handler_test.go
  central/policy/service/service_impl.go
  central/policy/service/service_impl_test.go
  generated/api/v1/policy_service.pb.go
  generated/api/v1/policy_service.pb.gw.go
  generated/api/v1/policy_service.swagger.json
  generated/api/v1/policy_service_grpc.pb.go
  generated/api/v1/policy_service_vtproto.pb.go
  pkg/apiparams/policy.go
  pkg/uuid/uuid.go
  proto/api/v1/policy_service.proto
  tests/policy_as_code_test.go
Labels: area/central

#12907 ROX-26448: add scheduler watcher
  central/complianceoperator/v2/report/manager/manager_impl.go
  central/complianceoperator/v2/report/manager/manager_test.go
  central/complianceoperator/v2/report/manager/singleton.go
  central/complianceoperator/v2/report/manager/watcher/scanconfigwatcher.go
  central/complianceoperator/v2/report/manager/watcher/scanconfigwatcher_test.go
  central/complianceoperator/v2/report/manager/watcher/scanwatcher.go
  central/complianceoperator/v2/report/manager/watcher/scanwatcher_test.go
  central/complianceoperator/v2/report/manager/watcher/utils.go
Labels: area/central

#13019 ROX-26635: Conditionally render NVD CVSS only if ROX_SCANNER_V4
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/ReportParametersDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportParametersForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/WorkloadCVEOverviewTable.tsx
  ui/apps/platform/src/hooks/useManagedColumns.ts
Labels: area/ui

#13018 ROX-21539: delete custom RHEL updater
  .golangci.yml
  Makefile
  go.mod
  pkg/scannerv4/mappers/mappers.go
  scanner/updater/rhel/doc.go
  scanner/updater/rhel/fetch_test.go
  scanner/updater/rhel/internal/common/charset.go
  scanner/updater/rhel/internal/common/normalizeseverity.go
  scanner/updater/rhel/internal/pulp/manifest.go
  scanner/updater/rhel/internal/pulp/manifest_test.go
  scanner/updater/rhel/internal/pulp/testdata/PULP_MANIFEST
  scanner/updater/rhel/parse_test.go
  scanner/updater/rhel/parser.go
  scanner/updater/rhel/releases.go
  scanner/updater/rhel/rhel.go
  scanner/updater/rhel/testdata/Red_Hat_Enterprise_Linux_3.xml
  scanner/updater/rhel/testdata/com.redhat.rhsa-20201980.xml
  scanner/updater/rhel/testdata/rhel-8-rpm-unpatched.xml
  scanner/updater/rhel/testdata/rhel-report.json
  scanner/updater/rhel/updaterset.go
  tools/allowed-large-files
Labels: area/scanner

#13036 feat: Add short name 'sp' to SecurityPolicy
  config-controller/api/v1alpha1/policy_types.go
  config-controller/config/crd/bases/config.stackrox.io_securitypolicies.yaml
  image/templates/helm/stackrox-central/templates/00-securitypolicies-crd.yaml
Labels: area/helm

#13029 fix(ui): Backend integration for compliance reporting
  ui/apps/platform/src/Components/ReportJob/MyLastJobStatusTh.tsx
  ui/apps/platform/src/Components/ReportJob/ReportJobsTable.tsx
  ui/apps/platform/src/Components/TableStateTemplates/TbodyUnified.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ViewScanConfigDetail.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportJobs.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/hooks/useWatchLastSnapshotForComplianceReports.ts
  ui/apps/platform/src/services/ComplianceScanConfigurationService.ts
  ui/apps/platform/src/utils/getTableUIState.test.ts
  ui/apps/platform/src/utils/getTableUIState.ts
Labels: area/ui, epic/compliance-2.0/report-jobs

#13015 ROX-26626: Sensor serving mappings
  compliance/index/v4/node.go
  compliance/index/v4/node_test.go
  compliance/index/v4/testdata/certs
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
  pkg/env/node_scan_v4.go
  sensor/common/sensor/sensor.go
Labels: area/helm, area/sensor

#13034 fix(ui): Delete downloadable report
  ui/apps/platform/src/Components/ReportJob/ReportJobsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/hooks/useDeleteDownloadModal.ts
  ui/apps/platform/src/services/ComplianceScanConfigurationService.ts
Labels: pls-merge, area/ui, epic/compliance-2.0/report-jobs

#13017 chore(ui): Add cypress tests for Workload CVE column mgmt
  ui/apps/platform/cypress/helpers/tableHelpers.ts
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/deploymentSingle.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageCveSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageSingle.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.js
Labels: area/ui

#12929 ROX-25813: Add compliance coverages page status filtering
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragesPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileChecksTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ProfileClustersTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/ComplianceProgressBar.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/components/StatusCountIcon.tsx
Labels: area/ui

#12860 ROX-25618: Add the ability to download policies as CR
  ui/apps/platform/cypress/helpers/policies.js
  ui/apps/platform/cypress/integration/policies/importPolicy.test.js
  ui/apps/platform/cypress/integration/policies/saveAsCustomResource.test.ts
  ui/apps/platform/src/Containers/Policies/Detail/PolicyDetail.tsx
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTable.tsx
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTablePage.tsx
  ui/apps/platform/src/services/PolicyCustomResourceService.ts
Labels: area/ui

#13028 fix(slice): fix slice init length
  central/processbaseline/service/service_impl.go
  tools/roxvet/analyzers/validateimports/analyzer.go
Labels: area/central

#13041 chore(ui): workload CVE toolbar layout tweaks
  ui/apps/platform/cypress/helpers/tableHelpers.ts
  ui/apps/platform/src/Components/ColumnManagementButton.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/TableEntityToolbar.tsx
Labels: area/ui

#13042 fix(ui): Omit the Violations Platform Component filter when ff off
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
Labels: area/ui

#13043 fix(revert): revert 26279
  central/graphql/handler/handler_benchmark_test.go
  central/graphql/resolvers/deployments_test.go
  central/graphql/resolvers/image_components_postgres_test.go
  central/graphql/resolvers/image_scan_benchmark_test.go
  central/graphql/resolvers/image_scan_test.go
  central/graphql/resolvers/image_vulnerabilities_test.go
  central/graphql/resolvers/images_test.go
  central/graphql/resolvers/loaders/images.go
  central/graphql/resolvers/loaders/images_test.go
  central/graphql/resolvers/search_test.go
  central/graphql/resolvers/test_setup_utils.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl_test.go
  central/reports/scheduler/vuln_report_collections_test.go
  central/testutils/export.go
  central/views/common/db_response.go
  central/views/common/queries.go
  central/views/imagecve/db_response.go
  central/views/imagecve/view_impl.go
  central/views/imagecve/view_test.go
  central/views/images/db_response.go
  central/views/images/mocks/types.go
  central/views/images/singleton.go
  central/views/images/types.go
  central/views/images/view_impl.go
  central/views/images/view_test.go
Labels: area/central

#12813 ROX-25680: UI for Microsoft Sentinel notifier
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/MicrosoftSentinelForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/IntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/utils/integrationsList.ts
  ui/apps/platform/src/Containers/Integrations/utils/tableColumnDescriptor.ts
  ui/apps/platform/src/images/microsoft_sentinel.svg
  ui/apps/platform/src/types/featureFlag.ts
  ui/apps/platform/src/types/integration.ts
Labels: area/ui

#13004 fix(ui): Platform components bug bash issues
  ui/apps/platform/src/Components/CompoundSearchFilter/components/SearchFilterAutocomplete.tsx
  ui/apps/platform/src/Components/FilteredWorkflowViewSelector/FilteredWorkflowViewSelector.tsx
  ui/apps/platform/src/Components/FilteredWorkflowViewSelector/types.ts
  ui/apps/platform/src/Components/FilteredWorkflowViewSelector/useFilteredWorkflowViewURLState.ts
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePanel.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTableSearchFilter.tsx
Labels: area/ui, epic/platform-components

#13039 ROX-26297: Disable Splunk integration test
  qa-tests-backend/src/test/groovy/IntegrationsSplunkViolationsTest.groovy
Labels: team/maple

#12405 ROX-24161: do not use `roxctl --password` in scripts
  .github/workflows/scripts/prepare-upgrade-test.sh
  README.md
  deploy/common/k8sbased.sh
  deploy/k8s/sensor.sh
  pkg/testutils/centralgrpc/connect_to_central.go
  qa-tests-backend/README.md
  qa-tests-backend/src/main/groovy/sampleScripts/compareAnnotationsReal.groovy
  qa-tests-backend/src/main/groovy/sampleScripts/compareDeploymentCounts.groovy
  qa-tests-backend/src/main/groovy/sampleScripts/reproAdmissionControllerTestFailure.groovy
  qa-tests-backend/src/main/groovy/util/Env.groovy
  scale/profiler/deploy.yaml
  scale/profiler/launch-profiler.sh
  scale/profiler/pprof.sh
  scale/signatures/create-signature-integrations.sh
  scale/signatures/deploy.sh
  scale/signatures/update.sh
  scale/tests/utils_test.go
  scripts/ci/lib.sh
  scripts/ci/roxctl.sh
  scripts/ci/sensor-helm-upgrade-test.sh
  scripts/grab-data-from-central.sh
  scripts/k8s/export-basic-auth-creds.sh
  scripts/lib.sh
  scripts/quick-helm-install.sh
  tests/README.md
  tests/delegated_scanning_test.go
  tests/e2e/lib.sh
  tests/e2e/run.sh
  tests/roxctl/authz-trace.sh
  tests/roxctl/bats-tests/cluster/crs-lifecycle.bats
  tests/roxctl/bats-tests/cluster/deployment-bundles-psps.bats
  tests/roxctl/bats-tests/cluster/scanner-generate.bats
  tests/roxctl/bats-tests/cluster/scanner-upload-db.bats
  tests/roxctl/bats-tests/cluster/sensor-generate-bundle.bats
  tests/roxctl/bats-tests/cluster/sensor-generate-image-overrides.bats
  tests/roxctl/bats-tests/helpers.bash
  tests/roxctl/istio-support.sh
  tests/roxctl/roxctl-image-check.sh
  tests/roxctl/roxctl-k8s-context.sh
  tests/roxctl/slim-collector.sh
  tests/roxctl/token-file.sh
  tests/upgrade/lib.sh
  tests/upgrade/postgres_run.sh
  tests/upgrade/validation.sh
  tests/yamls/roxctl_verification.sh
  ui/apps/platform/scripts/cypress.sh
  ui/apps/platform/scripts/get-auth-token.sh
  ui/apps/platform/scripts/get-demo-auth-token.sh
Labels: ci-all-qa-tests, area/ui, area/ci

#13050 ROX-26655: Replace entity ID with name in Compliance 1.0 PDF headers
  ui/apps/platform/src/Containers/Compliance/Entity/Header.js
Labels: area/ui

#13045 fix: Rely on liveness probe to restart config-controller container
  config-controller/pkg/client/client.go
  image/templates/helm/stackrox-central/templates/02-config-controller-02-deployment.yaml
Labels: area/helm

#12978 build: Drop clamav-scan resource requests
  .tekton/main-build.yaml
Labels: konflux-build

#13047 ROX-26667: Render information about NVD CVSS field in policy wizard
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicyGroupCard.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
Labels: area/ui

#13031 ROX-26644: Do not pass current filter during autocomplete
  ui/apps/platform/src/Components/CompoundSearchFilter/components/SearchFilterAutocomplete.tsx
Labels: area/ui

#13053 ROX-26673: Adding Attempted tab to Policy Violations
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePanel.tsx
  ui/apps/platform/src/Containers/Violations/types.ts
Labels: area/ui

#12930 ROX-26537: update known-distributions on-demand
  scanner/matcher/matcher.go
  scanner/matcher/updater/distribution/updater.go
  scanner/matcher/updater/vuln/dist.go
  scanner/matcher/updater/vuln/dist_test.go
  scanner/matcher/updater/vuln/updater.go
  scanner/matcher/updater/vuln/updater_test.go
  scanner/services/matcher.go
  scanner/services/matcher_test.go
Labels: area/scanner

#13062 fix(ui): Make Policy tab of Violations consistent with Policies
  ui/apps/platform/src/Containers/Violations/Details/ViolationDetailsPage.tsx
Labels: area/ui

#13064 ROX-26565: Fix netgraph flows section expanders
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
Labels: area/ui

#13057 ROX-26474: Expand metrics for Node Indexing
  compliance/collection/compliance/compliance.go
  compliance/collection/compliance/node_scanner.go
  compliance/collection/metrics/metrics.go
  pkg/nodes/enricher/enricher_impl.go
  pkg/nodes/enricher/metrics.go
Labels: team/maple

#12896 ROX-25137: Added nvd cvss field for policy
  central/cve/converter/utils/convert_utils.go
  central/image/datastore/store/postgres/store_test.go
  central/views/imagecve/view_test.go
  generated/api/v1/image_service.swagger.json
  generated/api/v1/node_service.swagger.json
  generated/api/v1/vuln_mgmt_service.swagger.json
  generated/storage/cve.pb.go
  generated/storage/vulnerability.pb.go
  generated/storage/vulnerability_vtproto.pb.go
  pkg/booleanpolicy/default_policies_test.go
  pkg/booleanpolicy/field_metadata.go
  pkg/booleanpolicy/fieldnames/list.go
  pkg/booleanpolicy/policyfields/fields.go
  pkg/booleanpolicy/query_to_field_value_mappers.go
  pkg/booleanpolicy/query_to_field_value_mappers_test.go
  pkg/booleanpolicy/querybuilders/special_cases.go
  pkg/booleanpolicy/violationmessages/printer.go
  pkg/booleanpolicy/violationmessages/printer/vuln.go
  proto/storage/cve.proto
  proto/storage/proto.lock
  proto/storage/vulnerability.proto
  tests/options_test.go
Labels: ci-all-qa-tests, area/central

#13060 fix(ui): Compliance Reporting fixes
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ViewScanConfigDetail.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobStatus.tsx
  ui/apps/platform/src/hooks/useRestQuery.ts
Labels: pls-merge, area/ui

#12771 ROX-25990: Send both flows in a single message
  sensor/tests/helper/collector.go
Labels: ci-all-qa-tests, team/maple, area/sensor

#13071 ROX-20891: Skip e2e tests that rely on multi-CVE images
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageCveListExceptionFlow.test.js
Labels: area/ui

#12986 ROX-26393: Match alerts and deployments against platform rules
  central/alert/datastore/datastore.go
  central/alert/datastore/datastore_impl.go
  central/alert/datastore/datastore_test.go
  central/alert/datastore/mocks/datastore.go
  central/alert/datastore/singleton.go
  central/alert/utils/utils.go
  central/deployment/datastore/datastore.go
  central/deployment/datastore/datastore_impl.go
  central/deployment/datastore/datastore_impl_test.go
  central/deployment/datastore/datastore_test_constructors.go
  central/deployment/datastore/singleton.go
  central/deployment/service/service_impl_test.go
  central/main.go
  central/platform/matcher/matcher.go
  central/platform/matcher/matcher_impl.go
  central/platform/matcher/matcher_impl_test.go
  central/platform/matcher/mocks/matcher.go
  central/platform/matcher/singleton.go
  central/platform/reprocessor/mocks/reprocessor.go
  central/platform/reprocessor/reprocessor.go
  central/platform/reprocessor/reprocessor_impl.go
  central/platform/reprocessor/reprocessor_impl_test.go
  central/platform/reprocessor/singleton.go
  central/pruning/pruning_test.go
  central/reprocessor/reprocessor_test.go
  central/search/service/service_impl_test.go
Labels: area/central

#13048 ROX-26669, ROX-26670: Deprecate StackRox Scanner and GCR
  CHANGELOG.md
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ClairIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ClairifyIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GoogleIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/IntegrationTile.tsx
  ui/apps/platform/src/Containers/Integrations/utils/integrationsList.ts
Labels: area/ui

#13065 ROX-24588: Reintroduce Published date in VM 2.0
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/WorkloadCVEOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/table.utils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/components/CvePageHeader.tsx
Labels: area/ui

#13038 feat(report): Add rationale and instructions to the csv report
  central/complianceoperator/v2/report/manager/complianceReportgenerator/report_gen_impl.go
Labels: area/central

#13077 chore(junit2jira): bump vesrion
  .github/actions/junit2jira/action.yaml
  scripts/ci/lib.sh
Labels: area/ci, auto-retest

#13074 ROX-25706: Increase url search filter array limit
  ui/apps/platform/src/utils/queryStringUtils.test.ts
  ui/apps/platform/src/utils/queryStringUtils.ts
Labels: area/ui

#13087 ROX-24991: Compliance scheduling analytics
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ScanConfigWizardForm.tsx
  ui/apps/platform/src/hooks/useAnalytics.ts
Labels: area/ui

#13089 ROX-23364: Indicate only active scanner health info displayed
  ui/apps/platform/src/Containers/Clusters/Components/Scanner/ScannerStatus.tsx
Labels: area/ui

#13094 ROX-26674: Grant config-controller ability to view notifiers
  central/role/datastore/defaults.go
  tests/policy_as_code_test.go
Labels: area/central

#13086 chore: Bump COLLECTOR_VERSION to 3.20
  COLLECTOR_VERSION
Labels: ci-all-qa-tests

#13080 chore(graphql): Compliance dashboard without cluster read permission
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/clusters_postgres_test.go
  central/graphql/resolvers/clusters_test.go
  central/graphql/resolvers/compliance.go
  central/graphql/resolvers/compliance_test.go
  central/graphql/resolvers/gen/main.go
  central/graphql/resolvers/generated.go
  central/role/sachelper/cluster.go
  central/role/sachelper/sachelper.go
  ui/apps/platform/src/queries/controls.js
Labels: area/central, area/ui

#12935 ROX-26702: Remove `notHelmManaged`
  README.md
  central/cluster/datastore/datastore_impl.go
  central/sensor/service/connection/connection_impl.go
  generated/internalapi/central/hello.pb.go
  generated/internalapi/central/hello_vtproto.pb.go
  image/templates/helm/stackrox-secured-cluster/internal/cluster-config.yaml.tpl
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/helm-managed.test.yaml
  proto/internalapi/central/hello.proto
  qa-tests-backend/src/test/groovy/CertRotationTest.groovy
  sensor/common/sensor/helmconfig/load_test.go
  sensor/kubernetes/upgrade/command_handler_impl.go
Labels: ci-all-qa-tests, area/central, area/helm, area/sensor

#13095 fix(scanner): stop copying fields from other CVEs
  scanner/enricher/nvd/nvd.go
  scanner/enricher/nvd/nvd_test.go
  scanner/enricher/nvd/testdata/feed.json
  scanner/enricher/nvd/testdata/feed.zip
Labels: area/scanner, pr-update-scanner-vulns, pr-update-scanner-nvd

#13085 fix(ui): Make dataLabel consistent in DeploymentVulnerabilitiesTable
  ui/apps/platform/cypress/constants/SystemHealth.js
  ui/apps/platform/cypress/integration/systemHealth/integrations.test.js
  ui/apps/platform/src/Components/ReportJob/ReportJobsTable.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsTable.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/IntegrationsHealth.tsx
  ui/apps/platform/src/Containers/SystemHealth/DeclarativeConfigurationHealth/DeclarativeConfigurationHealthCard.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/AffectedComponents/AffectedComponentsModal.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ApprovedDeferrals/ApprovedDeferralsTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/ApprovedFalsePositives/ApprovedFalsePositivesTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/DeferredCVEs/DeferredCVEsTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/FalsePositiveCVEs/FalsePositiveCVEsTable.tsx
  ui/apps/platform/src/Containers/VulnMgmt/RiskAcceptance/PendingApprovals/PendingApprovalsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestOverview.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
Labels: area/ui

#12901 ROX-25616: aggregate discovered entities using feature flag
  central/networkgraph/aggregator/aggregator_impl.go
  central/networkgraph/aggregator/aggregator_test.go
  pkg/features/list.go
  pkg/networkgraph/utils.go
  pkg/networkgraph/utils_test.go
Labels: area/central

#13023 ROX-26719: Repository for Secured Cluster certificates
  sensor/kubernetes/certrefresh/localscanner/cert_repo_init.go
  sensor/kubernetes/certrefresh/localscanner/tls_issuer.go
  sensor/kubernetes/certrefresh/securedcluster/cert_repo_init.go
  sensor/kubernetes/certrefresh/securedcluster/cert_repo_init_test.go
  sensor/kubernetes/certrefresh/sensor_owner_ref.go
  sensor/kubernetes/certrefresh/sensor_owner_ref_test.go
Labels: area/sensor

#12990 ROX-26594: Implement GetComplianceReport API
  central/complianceoperator/v2/scanconfigurations/service/convert.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  central/complianceoperator/v2/scanconfigurations/service/singleton.go
Labels: area/central, area/postgres

#13111 ROX-26748: keep only 'safe' characters in the CSV report file name
  CHANGELOG.md
  central/reports/common/report_formatter.go
  central/reports/common/report_formatter_test.go
Labels: area/central

#13008 ROX-26451: Implement report download
  central/complianceoperator/v2/report/manager/complianceReportgenerator/report_gen.go
  central/complianceoperator/v2/report/manager/complianceReportgenerator/report_gen_impl.go
  central/complianceoperator/v2/report/manager/complianceReportgenerator/singleton.go
  central/complianceoperator/v2/report/manager/complianceReportgenerator/type.go
  central/complianceoperator/v2/report/manager/manager.go
  central/complianceoperator/v2/report/manager/manager_impl.go
  central/complianceoperator/v2/report/manager/manager_test.go
  central/complianceoperator/v2/report/manager/mocks/manager.go
  central/complianceoperator/v2/scanconfigurations/service/convert.go
  central/complianceoperator/v2/scanconfigurations/service/download.go
  central/complianceoperator/v2/scanconfigurations/service/download_test.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  central/complianceoperator/v2/scanconfigurations/service/singleton.go
  central/main.go
  central/reports/common/blob.go
Labels: area/central, area/postgres

#12799 ROX-25492, ROX-25493: Configure Policy-as-code in operator
  Makefile
  deploy/common/k8sbased.sh
  image/templates/helm/stackrox-central/crds/config.stackrox.io_securitypolicies.yaml
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/templates/02-config-controller-00-serviceaccount.yaml
  image/templates/helm/stackrox-central/templates/02-config-controller-01-rbac.yaml
  image/templates/helm/stackrox-central/templates/02-config-controller-02-deployment.yaml
  image/templates/helm/stackrox-central/values.yaml.htpl
  operator/Makefile
  operator/api/v1alpha1/central_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/bundle_helpers/patch-csv.py
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/internal/central/values/translation/translation.go
  operator/internal/central/values/translation/translation_test.go
  operator/internal/values/translation/translation.go
  tests/e2e/run-scanner-v4.bats
Labels: area/helm, area/operator

#13032 feat(report): Add delete endpoint
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  generated/api/v2/compliance_scan_configuration_service.pb.go
  generated/api/v2/compliance_scan_configuration_service.pb.gw.go
  generated/api/v2/compliance_scan_configuration_service.swagger.json
  generated/api/v2/compliance_scan_configuration_service_grpc.pb.go
  proto/api/v2/compliance_scan_configuration_service.proto
Labels: area/central, area/ui, area/helm, area/sensor, area/postgres

#13107 ROX-26720: Reduce read lock scope
  sensor/common/registry/lazy_tls_image_registry.go
Labels: area/sensor

#12967 ROX-26563: Document policy CRD fields
  config-controller/api/v1alpha1/policy_types.go
  config-controller/config/crd/bases/config.stackrox.io_securitypolicies.yaml
  generated/api/v1/alert_service.swagger.json
  generated/api/v1/detection_service.swagger.json
  generated/api/v1/policy_service.swagger.json
  generated/storage/policy.pb.go
  image/templates/helm/stackrox-central/crds/config.stackrox.io_securitypolicies.yaml
  proto/storage/policy.proto
Labels: area/helm

#13040 ROX-26662: Node Indexing Tasks
  central/imageintegration/store/defaults.go
  central/sensor/service/pipeline/nodeindex/pipeline.go
  central/sensor/service/pipeline/nodeindex/pipeline_test.go
  central/sensor/service/pipeline/nodeinventory/pipeline.go
  compliance/collection/compliance/compliance.go
  compliance/index/v4/node.go
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml.htpl
  sensor/common/sensor/sensor.go
  ui/apps/platform/src/Containers/Integrations/utils/integrationsList.ts
Labels: team/maple, area/central, area/ui, area/helm, area/sensor

#13126 ROX-26764: Fix bogus failing in Helm chart
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
Labels: area/helm

#13072 fix(reporting): Compliance reporting improvements
  central/complianceoperator/v2/report/manager/complianceReportgenerator/report_gen_impl.go
  central/complianceoperator/v2/report/manager/complianceReportgenerator/report_gen_impl_test.go
  central/complianceoperator/v2/report/manager/manager_impl.go
  central/complianceoperator/v2/report/manager/manager_test.go
  central/complianceoperator/v2/report/manager/singleton.go
  central/complianceoperator/v2/report/manager/utils/errors.go
  central/complianceoperator/v2/report/manager/utils/snapshot.go
  central/complianceoperator/v2/report/manager/watcher/scanconfigwatcher.go
  central/complianceoperator/v2/report/manager/watcher/scanconfigwatcher_test.go
  central/complianceoperator/v2/report/manager/watcher/scanwatcher.go
  central/complianceoperator/v2/report/manager/watcher/scanwatcher_test.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
  central/main.go
  pkg/env/compliance_operator.go
  pkg/features/list.go
Labels: area/central, area/postgres

#13134 ROX-26242: Support negation in Kubernetes User Groups policy field
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
Labels: area/ui

#13123 fix: Only allow CRS generation if feature flag is enabled.
  central/clusterinit/service/service_impl.go
  deploy/common/k8sbased.sh
  tests/e2e/lib.sh
Labels: area/central

#13131 chore(CI): Fix issue with mix of nightly and merge commit builds
  scripts/ci/lib.sh
Labels: auto-retest
