Repository stackrox/stackrox, pull requests merged in 2025-02, with the labels that each got.

#14019 ROX-25373: default values if no config is found
  central/delegatedregistryconfig/datastore/telemetry.go
  central/delegatedregistryconfig/datastore/telemetry_postgres_test.go
Labels: area/central

#14068 ROX-27904: Use fake ticker in test
  sensor/kubernetes/clusterhealth/updater_test.go
Labels: team/maple, area/sensor

#14013 ROX-27823: Update routing for VM result views
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/HorizontalSubnav.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/Risk/ContainerConfigurations.js
  ui/apps/platform/src/Containers/Risk/KeyValuePairs.js
  ui/apps/platform/src/Containers/Search/SearchTable.tsx
  ui/apps/platform/src/Containers/Search/searchCategories.ts
  ui/apps/platform/src/Containers/Violations/Details/Deployment/ContainerConfiguration.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/DeploymentOverview.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/NamespaceViewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesPage.tsx
  ui/apps/platform/src/routePaths.ts
Labels: area/ui

#14049 ROX-27825: Replace images w/o vulns dropdown with view
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/HorizontalSubnav.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ObservedCveModeSelect.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/string.utils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesPage.tsx
  ui/apps/platform/src/routePaths.ts
Labels: area/ui

#13950 ROX-27529: Add epss column to vuln report based on filter
  central/image/datastore/store/postgres/store.go
  central/reports/scheduler/v2/reportgenerator/csv_gen.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
  central/reports/scheduler/v2/reportgenerator/types.go
Labels: area/central, area/postgres

#13779 ROX-27637: enrich EPSS in vulnerability report
  image/templates/helm/shared/config-templates/scanner-v4/matcher-config.yaml.tpl
  pkg/scanners/scannerv4/convert.go
  pkg/scanners/scannerv4/convert_test.go
  pkg/scannerv4/mappers/mappers.go
  pkg/scannerv4/mappers/mappers_test.go
  scanner/matcher/matcher.go
Labels: area/helm, area/scanner, pr-update-scanner-vulns

#14090 fix: matcher vuln URL
  image/templates/helm/shared/config-templates/scanner-v4/matcher-config.yaml.tpl
Labels: area/helm

#14086 build: Switch Konflux UI builds from NodeJS 18 to 20
  image/rhel/konflux.Dockerfile
Labels: area/helm

#14098 fix(ci): due to diff CDN behavior (backport #14052 to release 4.4)
  central/scannerdefinitions/handler/updater_test.go
  image/rhel/fetch-stackrox-data.sh
Labels: area/central, area/helm, backport

#14067 ROX-27828: Replace Violations dropdown with nav
  ui/apps/platform/src/Components/FilteredWorkflowViewSelector/useFilteredWorkflowViewURLState.ts
  ui/apps/platform/src/Containers/MainPage/Navigation/HorizontalSubnav.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/NavigationItem.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/utils.ts
  ui/apps/platform/src/Containers/Violations/Details/ViolationDetailsPage.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsBreadcrumbs.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/Containers/Violations/violationTableColumnDescriptors.tsx
  ui/apps/platform/src/routePaths.ts
Labels: area/ui

#14063 ROX-27902: telemetry campaign headers problem
  central/telemetry/centralclient/interceptors.go
  central/telemetry/centralclient/interceptors_test.go
  pkg/telemetry/phonehome/campaign.go
  pkg/telemetry/phonehome/campaign_test.go
Labels: area/central

#14088 chore(CODEOWNERS): add more Scanner team ownership
  .github/CODEOWNERS
Labels: area/ci

#14034 ROX-27639: Add side panel for single external entity
  ui/apps/platform/src/Containers/NetworkGraph/external/EntityDetailsTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalEntitiesSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalIpsTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/types/topology.type.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.ts
  ui/apps/platform/src/services/NetworkService.js
  ui/apps/platform/src/types/networkFlow.proto.ts
Labels: area/ui

#14085 ROX-27826: Update description and tooltips for VM results page
  ui/apps/platform/src/Containers/MainPage/Navigation/HorizontalSubnav.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Overview/PlatformCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/PlatformCve/PlatformCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCveViewContext.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesPage.tsx
Labels: area/ui

#14102 docs: Add service principal command to Sentinel notifier
  central/notifiers/microsoftsentinel/README.md
Labels: area/central

#14127 chore(pg): add comment about IN operator
  pkg/search/postgres/common.go
  pkg/search/postgres/common_test.go
Labels: area/postgres

#14069 feat(performance-tests): Add k6 integration to CI pipeline jv
  .github/workflows/performance-tests.yml
  scale/dev/kill-sensors.sh
  scale/dev/run-many.sh
  scale/dev/wait-for-deployments.sh
  tests/performance/scripts/opensearch-upload/elastic.env
  tests/performance/scripts/opensearch-upload/opensearch-json-import.py
  tests/performance/scripts/opensearch-upload/requirements.txt
  tests/performance/tests/testK6Integration.js
Labels: area/central, area/ci, ci-performance-tests

#14110 fix(UI): Update links to support split of Platform CVEs
  ui/apps/platform/src/Components/FilteredWorkflowViewSelector/types.ts
  ui/apps/platform/src/Components/FilteredWorkflowViewSelector/useFilteredWorkflowViewURLState.ts
  ui/apps/platform/src/Containers/Dashboard/SummaryCounts.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/PolicyViolationTiles.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicyCategoryChart.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicySeverity.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/ContainerConfiguration.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/DeploymentOverview.tsx
  ui/apps/platform/src/Containers/Violations/ViolationNotFoundPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/hooks/useRequestCVEsDetails.ts
Labels: area/ui

#14128 ROX-27936: Fixes lost handling of quotes in filename payload
  ui/apps/platform/cypress/integration/systemHealth/bundle.test.js
  ui/apps/platform/src/services/DownloadService.js
Labels: area/ui

#14089 ROX-27772: SBOM fix scan time update edge case
  central/image/service/http_handler.go
  central/image/service/http_handler_test.go
  pkg/apiparams/policy.go
  pkg/apiparams/sbom.go
  roxctl/image/sbom/sbom.go
Labels: area/roxctl, area/central

#14070 ROX-27743: Add info popover for EPSS probability column
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/WorkloadCVEOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/infoForTh.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/sortUtils.tsx
Labels: area/ui

#14124 tests: improve ticket titles for failed sensor and collector check
  scripts/ci/sensor-wait.sh
Labels: auto-retest

#13350 ROX-18384: removes the slim collector distinction
  CHANGELOG.md
  central/cluster/service/service_impl.go
  central/cluster/service/service_impl_test.go
  central/clusters/deployer.go
  central/clusters/deployer_test.go
  central/clusters/zip/zip.go
  image/templates/helm/stackrox-secured-cluster/README.md.htpl
  image/templates/helm/stackrox-secured-cluster/internal/cluster-config.yaml.tpl
  image/templates/helm/stackrox-secured-cluster/internal/defaults/50-images.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/sensor-chart-upgrade.md.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/values.yaml.htpl
  operator/api/v1alpha1/securedcluster_types.go
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/config/manager/manager.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/internal/images/env.go
  operator/internal/securedcluster/values/translation/image_overrides.go
  operator/internal/securedcluster/values/translation/translation.go
  operator/internal/securedcluster/values/translation/translation_test.go
  operator/konflux.bundle.Dockerfile
  pkg/helm/charts/meta.go
  pkg/helm/charts/meta_test.go
  pkg/helm/charts/tests/securedclusterservices/flavor/flavor_test.go
  pkg/helm/charts/tests/securedclusterservices/flavor/testdata/helmtest/development_build-non-release/development_build.test.yaml
  pkg/helm/charts/tests/securedclusterservices/flavor/testdata/helmtest/development_build-release/development_build.test.yaml
  pkg/helm/charts/tests/securedclusterservices/flavor/testdata/helmtest/opensource-non-release/opensource.test.yaml
  pkg/helm/charts/tests/securedclusterservices/flavor/testdata/helmtest/opensource-release/opensource.test.yaml
  pkg/helm/charts/tests/securedclusterservices/flavor/testdata/helmtest/override/override.test.yaml
  pkg/helm/charts/tests/securedclusterservices/flavor/testdata/helmtest/rhacs/rhacs.test.yaml
  pkg/helm/charts/tests/securedclusterservices/flavor/testdata/helmtest/stackrox/stackrox.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/collector-image-overrides.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/collector-slimfull-image-overrides.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/slim-collector.test.yaml
  pkg/images/defaults/flavor.go
  pkg/images/defaults/flavor_test.go
  pkg/images/defaults/testutils/flavor.go
  pkg/renderer/kubernetes_helm_test.go
  roxctl/sensor/generate/generate.go
  sensor/common/sensor/helmconfig/load_test.go
  sensor/upgrader/common/bundle_resources_completeness_test.go
  tests/roxctl/bats-tests/cluster/sensor-generate-image-overrides.bats
  tests/roxctl/bats-tests/helpers.bash
  tests/roxctl/bats-tests/local/roxctl-helm-output-secured-cluster-services-development.bats
  tests/roxctl/bats-tests/local/roxctl-helm-output-secured-cluster-services-release.bats
  tests/roxctl/slim-collector.sh
  ui/apps/platform/cypress/integration/clusters/clustersManager.test.js
  ui/apps/platform/src/Containers/Clusters/ClusterEditForm.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterPage.tsx
  ui/apps/platform/src/Containers/Clusters/StaticConfigurationSection.js
  ui/apps/platform/src/services/ClustersService.ts
Labels: area/roxctl, area/central, area/ui, area/helm, area/operator, area/sensor, area/ci

#14064 perf(sensor): no alloc trace writer
  sensor/debugger/k8s/trace.go
  sensor/debugger/k8s/trace_test.go
  tools/local-sensor/main.go
Labels: area/sensor, auto-retest

#14133 chore(ui): Enable the platform CVE split feature flag
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/cypress/helpers/nav.ts
  ui/apps/platform/cypress/helpers/request.js
  ui/apps/platform/cypress/integration/risk/risk.test.js
  ui/apps/platform/cypress/integration/violations/Violations.helpers.js
  ui/apps/platform/cypress/integration/violations/Violations.selectors.ts
  ui/apps/platform/cypress/integration/violations/filteredWorkflowViews.test.ts
  ui/apps/platform/cypress/integration/violations/violations.test.js
  ui/apps/platform/cypress/integration/violations/violationsSearchFilter.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/nodeCves/nodeCvesOverviewPage.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.selectors.ts
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/namespaceView.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.ts
  ui/apps/platform/cypress/selectors/navigation.ts
  ui/apps/platform/src/Containers/MainPage/Navigation/HorizontalSubnav.tsx
Labels: area/ui

#14138 ROX-27950: Fix rep header
  central/reports/scheduler/v2/reportgenerator/csv_gen.go
Labels: area/central

#14109 ROX-27745: Adding external ips table to deployment side panel
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/ExternalFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalIpsTable.tsx
Labels: area/ui, epic/external-ips

#13963 ROX-27781: periodic reload telemetry config
  central/main.go
  central/telemetry/centralclient/instance_config.go
  central/telemetry/centralclient/instance_config_test.go
  central/telemetry/centralclient/interceptors.go
  central/telemetry/centralclient/interceptors_test.go
  central/telemetry/centralclient/runtime_config.go
  central/telemetry/centralclient/runtime_config_release_test.go
  central/telemetry/centralclient/runtime_config_test.go
  central/telemetry/service/service_impl.go
  generated/api/v1/telemetry_service.pb.go
  generated/api/v1/telemetry_service.pb.gw.go
  generated/api/v1/telemetry_service.swagger.json
  generated/api/v1/telemetry_service_grpc.pb.go
  proto/api/v1/telemetry_service.proto
Labels: area/central

#13861 feat(networkgraph): metadata endpoint and external flows adjustments
  central/networkgraph/flow/datastore/cluster.go
  central/networkgraph/service/service_impl.go
  central/networkgraph/service/service_impl_postgres_test.go
  central/networkgraph/service/service_impl_test.go
  generated/api/v1/network_graph_service.pb.go
  generated/api/v1/network_graph_service.pb.gw.go
  generated/api/v1/network_graph_service.swagger.json
  generated/api/v1/network_graph_service_grpc.pb.go
  generated/api/v1/network_graph_service_vtproto.pb.go
  pkg/search/paginated/paginated.go
  proto/api/v1/network_graph_service.proto
Labels: area/central

#14087 chore(ui): Add descriptions for Violation page states
  ui/apps/platform/cypress/integration/violations/Violations.helpers.js
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
Labels: area/ui

#14168 ROX-27971: removes ROX_NETWORK_GRAPH_EXTERNAL_IPS feature flag
  central/networkgraph/aggregator/aggregator_impl.go
  pkg/features/list.go
Labels: area/central

#14150 chore(image-signatures): improve UX of the integration form
  tools/allowed-large-files
  ui/apps/platform/cypress/integration/integrations/signatureIntegrations.test.js
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/SignatureIntegrationForm.tsx
Labels: area/ui

#14104 ROX-27438: Add db size to telemetry
  central/globaldb/telemetry.go
  central/main.go
Labels: area/central, area/postgres

#14152 ROX-27973: use pgx.CollectRows
  central/complianceoperator/v2/integration/datastore/datastore_impl_test.go
  central/image/datastore/store/postgres/store.go
  migrator/migrations/m_202_to_m_203_vuln_requests_for_suppressed_cves/migration_test.go
  pkg/postgres/pgutils/scan.go
  pkg/search/postgres/common.go
Labels: area/central, area/postgres

#14153 fix(telemetery): mutex refactoring
  central/telemetry/centralclient/instance_config_test.go
  pkg/env/telemetry.go
  pkg/telemetry/phonehome/gatherer.go
  pkg/telemetry/phonehome/gatherer_test.go
  pkg/telemetry/phonehome/runtime_config.go
  pkg/telemetry/phonehome/runtime_config_test.go
Labels: area/central

#14159 ROX-27967: Select max epssProbability from distroTuples
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/table.utils.ts
Labels: area/ui

#14170 ROX-27978: image signature e2e test
  ui/apps/platform/cypress/integration/integrations/signatureIntegrations.test.js
Labels: area/ui

#14175 Update CHANGELOG.md
  CHANGELOG.md
Labels: backport

#14100 ROX-27719: RHCOS Node scanning V4 final touches
  compliance/node/inventory/node_scanner.go
  sensor/common/compliance/node_inventory_handler.go
  sensor/common/compliance/node_inventory_handler_impl.go
  sensor/common/compliance/node_inventory_handler_test.go
Labels: area/sensor

#13951 ROX-27784: remove cluster flag from http handler and roxctl api
  central/image/service/http_handler.go
  pkg/apiparams/sbom.go
  roxctl/image/sbom/sbom.go
Labels: area/roxctl, area/central

#13523 ROX-27253: inconsistent RHSA data
  CHANGELOG.md
  go.mod
  go.sum
  pkg/features/list.go
  pkg/scannerv4/constants/constants.go
  pkg/scannerv4/enricher/csaf/csaf.go
  pkg/scannerv4/enricher/fixedby/fixedby.go
  pkg/scannerv4/enricher/nvd/nvd.go
  pkg/scannerv4/mappers/mappers.go
  pkg/scannerv4/mappers/mappers_test.go
  pkg/scannerv4/updater/manual/manual.go
  scanner/decisions/0015-csaf-enricher.md
  scanner/enricher/csaf/csaf.go
  scanner/enricher/csaf/csaf_test.go
  scanner/enricher/csaf/fetcher.go
  scanner/enricher/csaf/fetcher_test.go
  scanner/enricher/csaf/internal/zreader/compression_string.go
  scanner/enricher/csaf/internal/zreader/zreader.go
  scanner/enricher/csaf/internal/zreader/zreader_test.go
  scanner/enricher/csaf/parser.go
  scanner/enricher/csaf/parser_test.go
  scanner/enricher/csaf/testdata/rhba-2024_0599.jsonl
  scanner/enricher/csaf/testdata/rhsa-2024_0024.jsonl
  scanner/enricher/csaf/testdata/server.txtar
  scanner/enricher/csaf/testdata/server/csaf_advisories_2025-01-05.tar.zst
  scanner/enricher/fixedby/fixedby.go
  scanner/enricher/nvd/nvd.go
  scanner/enricher/nvd/nvd_test.go
  scanner/matcher/matcher.go
  scanner/updater/export.go
  scanner/updater/manual/manual.go
  tools/allowed-large-files
Labels: area/helm, area/scanner, pr-update-scanner-vulns

#13635 ROX-21529: Azure workload identity for ACR
  CHANGELOG.md
  central/imageintegration/service/service_impl.go
  generated/api/v1/image_integration_service.swagger.json
  generated/storage/image_integration.pb.go
  go.mod
  go.sum
  pkg/registries/azure/azure.go
  pkg/registries/azure/azure_test.go
  pkg/registries/azure/transport.go
  pkg/registries/azure/transport_test.go
  proto/storage/image_integration.proto
  qa-tests-backend/src/main/groovy/objects/ImageIntegration.groovy
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
  ui/apps/platform/cypress/integration/integrations/imageIntegrations.test.js
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/AzureIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/utils/tableColumnDescriptor.ts
  ui/apps/platform/src/types/imageIntegration.proto.ts
Labels: ci-all-qa-tests, area/central, area/ui

#13582 ROX-23735: Create integration for OCP Global Pull Secret
  CHANGELOG.md
  central/enrichment/singleton.go
  central/enrichment/singleton_test.go
  central/imageintegration/datastore/datastore_impl.go
  central/imageintegration/datastore/singleton.go
  central/imageintegration/datastore/singleton_test.go
  central/sensor/service/pipeline/imageintegrations/pipeline.go
  central/sensor/service/pipeline/imageintegrations/pipeline_test.go
  pkg/env/autogenerated_registries.go
  pkg/images/enricher/enricher_impl.go
  pkg/openshift/pullsecret.go
  pkg/openshift/pullsecret_test.go
  pkg/registries/factory_impl.go
  pkg/registries/factory_impl_test.go
  qa-tests-backend/src/test/groovy/ReconciliationTest.groovy
  sensor/common/registry/registry_store.go
  sensor/common/registry/registry_store_test.go
  sensor/kubernetes/listener/resources/secrets.go
  sensor/kubernetes/listener/resources/secrets_test.go
Labels: area/central, area/sensor

#14167 tests: refresh queries for main and vulnerability dashboards
  tests/performance/load/groups/mainDashboard.js
  tests/performance/load/groups/vulnerabilityManagementDashboard.js
Labels: ci-performance-tests

#13162 ROX-25844: Add Labels to all TLS Secrets
  image/templates/helm/shared/templates/02-scanner-03-tls-secret.yaml
  image/templates/helm/shared/templates/02-scanner-v4-03-db-tls-secret.yaml
  image/templates/helm/shared/templates/02-scanner-v4-03-indexer-tls-secret.yaml
  image/templates/helm/shared/templates/02-scanner-v4-03-matcher-tls-secret.yaml
  image/templates/helm/stackrox-central/templates/01-central-05-db-tls-secret.yaml
  image/templates/helm/stackrox-central/templates/01-central-05-tls-secret.yaml
  image/templates/helm/stackrox-central/templates/01-central-06-default-tls-cert-secret.yaml
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller-secret.yaml
  image/templates/helm/stackrox-secured-cluster/templates/collector-secret.yaml
  image/templates/helm/stackrox-secured-cluster/templates/sensor-secret.yaml
  operator/internal/central/extensions/reconcile_admin_password.go
  operator/internal/central/extensions/reconcile_central_db_password.go
  operator/internal/central/extensions/reconcile_tls.go
  operator/internal/common/extensions/reconcile_scanner_db_password.go
  operator/internal/common/extensions/reconcile_scanner_v4_db_password.go
  operator/internal/common/extensions/secret_reconciliator.go
  operator/internal/common/extensions/secret_reconciliator_test.go
  operator/internal/common/labels/labels.go
  operator/internal/common/labels/labels_test.go
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/tls-secrets.test.yaml
  sensor/kubernetes/certrefresh/certrepo/service_certificates_repository.go
  sensor/kubernetes/certrefresh/certrepo/service_certificates_repository_test.go
  sensor/utils/utils.go
Labels: ci-all-qa-tests, area/roxctl, area/auth, area/central, area/ui, area/helm, area/operator, area/sensor, area/postgres, area/scanner, area/ci

#14169 ROX-27612: Removes Collector slim references from tekton pipeline
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retag-collector-slim.yaml
  .tekton/retag-collector.yaml
  operator/konflux.bundle.Dockerfile
Labels: area/operator, konflux-build

#14154 ROX-27719: Enable FF for RHCOS node scanning with scanner V4
  CHANGELOG.md
  central/sensor/service/pipeline/nodeindex/pipeline.go
  central/sensor/service/pipeline/nodeindex/pipeline_test.go
  central/sensor/service/pipeline/nodeindex/three_pipelines_test.go
  central/sensor/service/pipeline/nodeinventory/pipeline.go
  compliance/compliance.go
  pkg/env/node_index.go
  pkg/features/list.go
  sensor/common/sensor/sensor.go
Labels: area/central, area/sensor

#13935 fix(sensor): Avoid unnecessary image scan attempts
  pkg/protoconv/resources/resources.go
Labels: team/maple

#14190 feat(metrics): Add metrics to the scan logic in the detector
  sensor/common/detector/detector.go
  sensor/common/detector/enricher.go
  sensor/common/detector/metrics/metrics.go
Labels: team/maple, area/sensor

#14171 ROX-27597: Unit tests for cluster sensor capabilities
  central/cluster/datastore/datastore_impl_postgres_test.go
Labels: area/central

#14196 fix(ui): Fix SBOM error message display
  ui/apps/platform/src/services/ImageSbomService.ts
Labels: area/ui

#14193 chore(ci): Adds autolabeller config for konflux dockerfile changes
  .github/labeler.yml
Labels: area/ci

#14053 ROX-27179: Adding "Auto-refresh enabled" text to Clusters page
  ui/apps/platform/src/Containers/Clusters/ClusterEditForm.tsx
  ui/apps/platform/src/Containers/Clusters/Components/ClusterSummary.js
  ui/apps/platform/src/Containers/Clusters/Components/CredentialExpiration.tsx
  ui/apps/platform/src/Containers/Clusters/Components/CredentialExpirationWidget.tsx
  ui/apps/platform/src/Containers/Clusters/Components/CredentialInteraction.tsx
  ui/apps/platform/src/Containers/Clusters/clustersTableColumnDescriptors.js
  ui/apps/platform/src/types/cluster.proto.ts
Labels: area/ui

#14178 ROX-27916: Update getVersionedDocs and docs links last changed in 4.4
  ui/apps/platform/src/Containers/Clusters/Components/ClusterStatus.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/SecureClusterUsingHelmChart.tsx
  ui/apps/platform/src/Containers/Clusters/InitBundles/SecureClusterUsingOperator.tsx
  ui/apps/platform/src/Containers/SystemHealth/CertificateHealth/CertificateCard.tsx
  ui/apps/platform/src/Containers/SystemHealth/DiagnosticBundle/GenerateDiagnosticBundle.tsx
  ui/apps/platform/src/utils/versioning.test.ts
  ui/apps/platform/src/utils/versioning.ts
Labels: area/ui

#14194 ROX-27985: Update docs links last changed in 4.5
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviders.tsx
Labels: area/ui

#14199 ROX-27986: Update docs links last changed in 4.6
  CHANGELOG.md
  ui/apps/platform/src/Components/ScannerV4IntegrationBanner.tsx
  ui/apps/platform/src/Containers/Clusters/Components/CredentialExpiration.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ExternalBackupIntegrations/GcsIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ExternalBackupIntegrations/S3IntegrationForm.tsx
Labels: area/ui

#14130 ROX-27943: Display a banner if Node CVEs come from Scanner V4
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodeCvesOverviewPage.tsx
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/central, area/ui, area/sensor, turbo-build, auto-retest

#14156 ROX-27935: Adding routing between links in the side panel
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphContainer.tsx
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/ExternalFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/EntityDetails.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/EntityDetailsTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalEntitiesSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalIpsTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/networkGraphUtils.ts
  ui/apps/platform/src/routePaths.ts
Labels: area/ui

#14029 ROX-27879: Improve go compatibility jira issues
  qa-tests-backend/scripts/run-compatibility.sh
  tests/e2e/lib.sh
  tests/e2e/run-compatibility.sh
Labels: team/maple

#14129 chore: document auto retest feature
  .github/contributing.md
Labels: area/ci

#14211 fix(networkgraph): Fixes sorting of entity metadata
  central/networkgraph/service/service_impl.go
  central/networkgraph/service/service_impl_postgres_test.go
Labels: area/central

#14045 ROX-24528: Delete summary api
  central/main.go
  central/summary/service/service.go
  central/summary/service/service_impl.go
  central/summary/service/service_impl_test.go
  central/summary/service/singleton.go
  generated/api/v1/summary_service.pb.go
  generated/api/v1/summary_service.pb.gw.go
  generated/api/v1/summary_service.swagger.json
  generated/api/v1/summary_service_grpc.pb.go
  generated/api/v1/summary_service_vtproto.pb.go
  proto/api/v1/summary_service.proto
  qa-tests-backend/src/main/groovy/sampleScripts/compareDeploymentCounts.groovy
  qa-tests-backend/src/main/groovy/services/SummaryService.groovy
  qa-tests-backend/src/test/groovy/NamespaceTest.groovy
  qa-tests-backend/src/test/groovy/NodeTest.groovy
  qa-tests-backend/src/test/groovy/SACTest.groovy
  qa-tests-backend/src/test/groovy/SummaryTest.groovy
  qa-tests-backend/src/test/groovy/UpgradesTest.groovy
  scale/tests/dashboard_test.go
  tests/upgrade/lib.sh
Labels: team/maple, area/central

#14191 tests: improve readability of load test queries
  tests/performance/load/groups/mainDashboard.js
  tests/performance/load/groups/vulnerabilityManagementDashboard.js
Labels: ci-performance-tests

#14201 ROX-27988: Omit EPSS columns for image and deployment in 4.7 release
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
Labels: area/ui

#14195 fix(ui): roles cut off in m2m integration form
  ui/apps/platform/src/Components/SelectSingle/SelectSingle.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/MachineAccessIntegrationForm.tsx
Labels: area/ui

#14220 fix(typo): Change SBDX to SPDX in SBOM UI
  ui/apps/platform/src/Containers/Vulnerabilities/components/GenerateSbomModal.tsx
Labels: area/ui

#13780 ROX-27595: Upgrade Go to 1.23
  .devcontainer/devcontainer.json
  .github/workflows/batch-load-test-metrics.yml
  .github/workflows/build.yaml
  .github/workflows/ci-failures-report.yml
  .github/workflows/lint.yml
  .github/workflows/scanner-build.yaml
  .github/workflows/scanner-db-integration-tests.yaml
  .github/workflows/scanner-versioned-definitions-update.yaml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
  .golangci.yml
  .openshift-ci/Dockerfile.build_root
  .openshift-ci/dev-requirements.txt
  BUILD_IMAGE_VERSION
  go.mod
  image/rhel/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  operator/konflux.Dockerfile
  operator/tools/controller-gen/go.mod
  operator/tools/envtest/go.mod
  operator/tools/kustomize/go.mod
  operator/tools/operator-sdk/go.mod
  operator/tools/yq/go.mod
  scale/signatures/deploy.yaml
  scanner/hack/quay/go.mod
  scanner/image/scanner/konflux.Dockerfile
  tests/e2e/run-e2e-tests.sh
  tests/performance/scale/go.mod
  tools/check-workflow-run/go.mod
  tools/linters/go.mod
  tools/proto/go.mod
  tools/test/go.mod
Labels: area/helm, area/operator, area/scanner, area/ci, konflux-build

#14187 ROX-27995: don't run test on ARO
  qa-tests-backend/src/main/groovy/services/ClusterService.groovy
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
  qa-tests-backend/src/test/groovy/PolicyConfigurationTest.groovy
Labels: ci-all-qa-tests, auto-retest

#14218 ROX-27284: Update accuracy of CVE link text
  ui/apps/platform/src/Containers/Vulnerabilities/utils/textUtils.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/textUtils.ts
Labels: area/ui

#14209 ROX-28011: describe problematic service before dying
  scripts/ci/lib.sh
Labels: auto-retest

#14208 chore(ui): Network graph 4.7 changes
  ui/apps/platform/src/Containers/NetworkGraph/common/IPMatchFilter.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/EntityDetails.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.ts
Labels: area/ui

#14226 ROX-27179: Moving Auto-refresh enabled text below expiry
  ui/apps/platform/src/Containers/Clusters/Components/ClusterSummary.js
  ui/apps/platform/src/Containers/Clusters/Components/CredentialExpiration.tsx
Labels: area/ui

#14158 ROX-27866: Add UI for central-db cert expiry notices
  ui/apps/platform/cypress/constants/apiEndpoints.js
  ui/apps/platform/cypress/helpers/systemHealth.js
  ui/apps/platform/cypress/integration/systemHealth/certificateHealthCards.test.js
  ui/apps/platform/src/Containers/MainPage/Banners/Banners.tsx
  ui/apps/platform/src/Containers/SystemHealth/CertificateHealth/CertificateCard.tsx
  ui/apps/platform/src/Containers/SystemHealth/DashboardPage.js
  ui/apps/platform/src/services/CertGenerationService.ts
  ui/apps/platform/src/types/credentialExpiryService.proto.ts
  ui/apps/platform/src/utils/credentialExpiry.ts
Labels: area/ui

#14217 ROX-28017: Add getVersionedDocs-subPath lint rule in pluginGeneric
  ui/apps/platform/eslint-plugins/pluginGeneric.js
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/AzureIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/MicrosoftSentinelForm.tsx
Labels: area/ui

#14242 ROX-27719: Scanner v4 env conflict
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
Labels: area/helm

#14203 chore(scanner): update EPSS ADR for RHSAs
  scanner/decisions/0014-epss-score.md
  scanner/decisions/0016-epss-rhsa.md
Labels: area/scanner

#14222 fix(ui): Use current page as horizontal nav title
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.ts
  ui/apps/platform/src/Containers/MainPage/Navigation/HorizontalSubnav.css
  ui/apps/platform/src/Containers/MainPage/Navigation/HorizontalSubnav.tsx
Labels: area/ui

#14240 fix(networkgraph): Reinstates external IPs feature flags
  CHANGELOG.md
  pkg/features/list.go
Labels: area/central

#14245 chore(ui): Add note about SBOM support for delegated scans
  ui/apps/platform/src/Containers/Vulnerabilities/components/GenerateSbomModal.tsx
Labels: area/ui

#14246 chore(ui): Disable network graph external ips feature
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#14223 fix(ui): Minor visual tweaks to Platform CVE split
  ui/apps/platform/src/Containers/MainPage/Navigation/HorizontalSubnav.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCveViewContext.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesPage.tsx
Labels: area/ui

#14238 chore: improve retry and context errors
  central/complianceoperator/manager/manager.go
  pkg/images/enricher/enricher_impl.go
  pkg/postgres/pgutils/error.go
  pkg/postgres/pgutils/retry.go
Labels: area/central, area/postgres

#14148 chore: improve scan error message
  pkg/registries/types/types.go
  sensor/common/registry/registry_store.go
  sensor/common/registry/registry_store_test.go
  sensor/common/scan/scan.go
Labels: area/sensor

#14233 chore: bump helm-operator fork to new rebase
  go.mod
  go.sum
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/internal/reconciler/reconciler_factory.go
  tests/compliance_operator_v2_test.go
Labels: area/operator, auto-retest

#14239 chore: set janisz as owner of qa tests
  .github/CODEOWNERS
Labels: area/ci

#14237 fix(fake-workloads): Inject real k8s client to identify sensor
  sensor/kubernetes/main.go
  sensor/kubernetes/sensor/options.go
  sensor/kubernetes/sensor/sensor.go
Labels: team/maple, area/sensor

#14251 chore(release): Bump Scanner to 2.36.0
  SCANNER_VERSION
Labels: ci-all-qa-tests

#14263 fix(dependabot): use dependabot for custom actions
  .github/dependabot.yaml
Labels: area/ci

#13681 ROX-27397: CVE data model protos PR 1
  generated/storage/cve.pb.go
  generated/storage/cve_vtproto.pb.go
  generated/storage/image_component.pb.go
  generated/storage/image_component_vtproto.pb.go
  generated/storage/relations.pb.go
  pkg/postgres/schema/cluster_cves.go
  pkg/postgres/schema/image_cves.go
  pkg/postgres/schema/node_cves.go
  proto/storage/cve.proto
  proto/storage/image_component.proto
  proto/storage/proto.lock
  proto/storage/relations.proto
Labels: area/postgres

#14262 ROX-23899: increase image signature test setup retry time
  qa-tests-backend/src/test/groovy/ImageSignatureVerificationTest.groovy
Labels: 99papercuts

#14247 fix(telemetry): whitelist GitHub action user agents
  central/telemetry/centralclient/interceptors.go
  central/telemetry/centralclient/interceptors_test.go
Labels: area/central

#14267 chore(ci): Adjust CI performance tests rules
  .github/workflows/performance-tests.yml
Labels: area/ci, ci-performance-tests

#14288 chore(upgrade): Bump 4.4 previous version in upgrade test to 4.4.8
  tests/upgrade/postgres_run.sh
Labels: auto-retest

#13870 ROX-24072: Expose central-db cert expiry in v1/credentialexpiry
  central/certgen/central_db.go
  central/certgen/service.go
  central/credentialexpiry/service/service_impl.go
  central/credentialexpiry/service/service_impl_test.go
  generated/api/v1/credential_expiry_service.pb.go
  generated/api/v1/credential_expiry_service.swagger.json
  image/templates/helm/stackrox-central/.helmtplignore.htpl
  pkg/renderer/kubernetes.go
  pkg/renderer/mode_string.go
  proto/api/v1/credential_expiry_service.proto
Labels: area/central, area/helm

#14291 chore(upgrade): Bump 4.5 previous version in upgrade test to 4.5.6
  tests/upgrade/postgres_run.sh
Labels: auto-retest

#14283 perf: cache signature integrations
  central/signatureintegration/store/postgres/gen.go
  central/signatureintegration/store/postgres/store.go
Labels: area/central, 99papercuts, auto-retest

#14261 ROX-28067: fix the race in central telemetry client test
  central/telemetry/centralclient/runtime_config_test.go
  pkg/telemetry/phonehome/client_config.go
Labels: area/central, auto-retest

#14294 chore(ci): fix spelling of CHANGELOG update
  .github/workflows/scripts/patch-changelog.sh
  CHANGELOG.md
Labels: area/ci

#14192 ROX-27831: set image expiration based on event type and target branch
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Labels: konflux-build, backport-for-4.6-konflux-release

#14257 fix(operator-bundle): use common environment and don't append
  operator/bundle_helpers/README.md
  operator/bundle_helpers/requirements-build.txt
  operator/bundle_helpers/requirements-gha.txt
  operator/bundle_helpers/requirements.in
  operator/bundle_helpers/requirements.txt
Labels: area/operator, konflux-build, backport-for-4.6-konflux-release, backport-for-4.7-konflux-release

#14281 ROX-26843: Applies default filters before the first request is sent
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/hooks/useIsFirstRender.ts
Labels: area/ui

#14313 ROX-28139: Delete ROX_EPSS_SCORE feature flag from ui code
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/epssProbability.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/ReportParametersDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportParametersForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/WorkloadCVEOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/CvePageHeader.tsx
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#14155 ROX-27974: remove needs reprocesing check
  central/platform/reprocessor/reprocessor_impl.go
  central/platform/reprocessor/reprocessor_impl_test.go
Labels: area/central, 99papercuts, auto-retest

#14318 chore(scanner): use consts for authz
  scanner/services/indexer.go
  scanner/services/matcher.go
Labels: area/scanner

#14314 ROX-28142: Delete ROX_MICROSOFT_SENTINEL feature flag from ui code
  ui/apps/platform/src/Containers/Integrations/utils/integrationsList.ts
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#14259 ROX-20769: Run go-postgres with multiple versions
  .github/workflows/unit-tests.yaml
Labels: area/ci

#14311 ROX-28128: Respect DryRun mode when applying migrations
  pkg/postgres/pgutils/utils.go
Labels: area/postgres

#14307 fix(ui): Update NavigationSidebar.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/NavigationSidebar.tsx
Labels: ok-to-test, external-contributor

#14329 ROX-28160: Delete ROX_ACSCS_EMAIL_NOTIFIER feature flag from ui code
  ui/apps/platform/src/Containers/Integrations/utils/integrationsList.ts
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#14282 ROX-28044: Roxctl table output does not honor header
  roxctl/common/printer/tabularprinter_factory.go
  roxctl/common/printer/tabularprinter_factory_test.go
  roxctl/image/scan/scan.go
Labels: area/roxctl

#14331 ROX-28161: Delete ROX_COMPLIANCE feature flags in ui
  tests/e2e/lib.sh
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigActionDropdown.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigActionsColumn.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigDetailPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ViewScanConfigDetail.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ReviewConfig.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ScanConfigWizardForm.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ConfigDetails.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportJobs.tsx
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#14332 ROX-28165: Delete ROX_PLATFORM_COMPONENTS feature flag in ui
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#14316 ROX-27512: CVE data model generated stuff PR 3
  central/cve/image/v2/datastore/store/postgres/gen.go
  central/cve/image/v2/datastore/store/postgres/store.go
  central/cve/image/v2/datastore/store/postgres/store_test.go
  central/deployment/datastore/internal/store/postgres/gen.go
  central/image/datastore/store/postgres/gen.go
  central/imagecomponent/v2/datastore/store/postgres/gen.go
  central/imagecomponent/v2/datastore/store/postgres/store.go
  central/imagecomponent/v2/datastore/store/postgres/store_test.go
  central/namespace/datastore/internal/store/postgres/gen.go
  generated/api/v1/search_service.pb.go
  generated/api/v1/search_service.swagger.json
  pkg/postgres/schema/deployments.go
  pkg/postgres/schema/image_component_v2.go
  pkg/postgres/schema/image_cves_v2.go
  pkg/postgres/schema/images.go
  pkg/postgres/schema/namespaces.go
  pkg/postgres/walker/schema.go
  proto/api/v1/search_service.proto
  tools/generate-helpers/pg-table-bindings/list.go
Labels: area/central, area/postgres

#14317 ROX-27421: Add Advisory checkbox to Vulnerability Report
  ui/apps/platform/src/Components/ReportJob/MyLastJobStatus.test.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/ReportParametersDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportParametersForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/useReportFormValues.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.ts
  ui/apps/platform/src/services/ReportsService.types.ts
Labels: area/ui

#14312 ROX-20811: Roxctl central generate pvc bug
  pkg/containers/detection.go
  pkg/containers/detection_test.go
  roxctl/central/generate/generate.go
Labels: area/roxctl

#14296 ROX-13493: Add admission controller support for Scale subresource
  CHANGELOG.md
  sensor/admission-control/manager/evaluate_deploytime.go
  sensor/admission-control/manager/images.go
  sensor/admission-control/manager/responses.go
  sensor/admission-control/resources/deployment.go
Labels: area/sensor, area/admission-controller

#14338 chore(team): 🧙 + 🍁 = sensor-ecosystem
  .github/CODEOWNERS
  go.mod
Labels: area/ci, auto-retest

#14339 refactor: remove duplicate securedClusterIsNotManagedManually
  central/cluster/datastore/datastore_impl.go
  pkg/centralsensor/sensor_hello.go
  pkg/centralsensor/sensor_hello_test.go
  sensor/kubernetes/sensor/sensor.go
Labels: area/central, area/sensor, 99papercuts

#14359 ROX-28149: use RWMutex in apitokens datastore
  central/apitoken/datastore/datastore_impl.go
Labels: area/central

#14364 fix(test): DB creation with hash instead of name
  pkg/postgres/pgtest/postgres.go
Labels: area/postgres

#14249 ROX-27970: Add fix to return nulls last in sorted list
  pkg/search/postgres/common.go
  pkg/search/postgres/select_query_test.go
Labels: area/central, area/postgres

#14365 ROX-28196: CVE data model search framework updates
  pkg/search/postgres/common.go
  pkg/search/postgres/common_test.go
  pkg/search/postgres/joins.go
  pkg/search/postgres/select.go
Labels: area/postgres

#14320 ROX-28149: collect telemetry for api tokens
  central/apitoken/datastore/datastore.go
  central/apitoken/datastore/datastore_impl.go
  central/apitoken/datastore/telemetry.go
  central/apitoken/datastore/telemetry_postgres_test.go
  central/apitoken/datastore/types.go
  central/apitoken/expiration/expiration.go
  central/apitoken/expiration/expiration_test.go
  central/apitoken/testutils/testutils.go
  central/main.go
  pkg/protoconv/time.go
Labels: area/central

#14328 ROX-28156: Remove reassess code in Sensor
  generated/internalapi/central/sensor_iservice.pb.go
  generated/internalapi/central/sensor_iservice_vtproto.pb.go
  proto/internalapi/central/sensor_iservice.proto
  sensor/common/detector/detector.go
  sensor/common/detector/mocks/detector.go
  sensor/kubernetes/eventpipeline/pipeline_impl.go
  sensor/kubernetes/eventpipeline/pipeline_test.go
Labels: area/sensor

#14335 ROX-27526: CVE data model create read only datastores pr 4
  central/cve/image/v2/datastore/datastore.go
  central/cve/image/v2/datastore/datastore_impl.go
  central/cve/image/v2/datastore/mocks/datastore.go
  central/cve/image/v2/datastore/search/mocks/searcher.go
  central/cve/image/v2/datastore/search/searcher.go
  central/cve/image/v2/datastore/search/searcher_impl.go
  central/cve/image/v2/datastore/singleton.go
  central/cve/image/v2/datastore/store/mocks/store.go
  central/cve/image/v2/datastore/store/store.go
  central/imagecomponent/v2/datastore/datastore.go
  central/imagecomponent/v2/datastore/datastore_impl.go
  central/imagecomponent/v2/datastore/mocks/datastore.go
  central/imagecomponent/v2/datastore/search/mocks/searcher.go
  central/imagecomponent/v2/datastore/search/searcher.go
  central/imagecomponent/v2/datastore/search/searcher_impl_v2.go
  central/imagecomponent/v2/datastore/singleton.go
Labels: area/central

#14340 ROX-28184: prune expired API tokens
  central/apitoken/datastore/datastore.go
  central/postgres/pruning.go
  central/postgres/pruning_test.go
  central/pruning/pruning.go
  pkg/env/api_token.go
Labels: area/central

#14337 ROX-7442: check generated admin password
  operator/tests/central/central-misc/010-central-cr.yaml
  operator/tests/central/central-misc/020-verify-password.yaml
  operator/tests/common/central-cr.yaml
Labels: area/operator

#14330 chore(qa): add types to Kubernetes helpers
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/OpenShift.groovy
  qa-tests-backend/src/main/groovy/orchestratormanager/OrchestratorMain.groovy
  qa-tests-backend/src/main/groovy/util/Env.groovy
Labels: ci-all-qa-tests

#14334 ROX-27607: create swagger doc for SBOM custom route
  central/docs/api_custom_routes/.gitignore
  central/docs/api_custom_routes/README.md
  central/docs/api_custom_routes/image_service_swagger.yaml
  pkg/apiparams/sbom.go
Labels: area/central

#14357 ROX-28141: fix race with scanner integration registration
  qa-tests-backend/src/test/groovy/CertExpiryTest.groovy
Labels: auto-merge, auto-retest

#14336 feat(operator): support verbatim overlay values
  go.mod
  go.sum
  operator/api/v1alpha1/overlay_types.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/internal/overlays/postrenderer.go
Labels: area/operator, auto-retest

#14385 ROX-28206: Extract go version for local arm64 builds from go.mod
  Makefile
Labels: 99papercuts

#13596 ROX-27394: Sensor offline mode support in TLS issuer
  pkg/concurrency/retry_ticker.go
  pkg/concurrency/retry_ticker_test.go
  sensor/kubernetes/certrefresh/localscanner_tls_issuer.go
  sensor/kubernetes/certrefresh/localscanner_tls_issuer_test.go
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer.go
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer_test.go
  sensor/kubernetes/certrefresh/tls_issuer_common.go
  sensor/kubernetes/certrefresh/tls_issuer_common_test.go
Labels: area/sensor

#14342 ROX-21497: Re-fech image if the scan was updated
  central/reprocessor/reprocessor.go
  central/reprocessor/reprocessor_unit_test.go
Labels: area/central

#14415 ROX-28249: Disable new roxctl zip output
  roxctl/central/generate/generate.go
Labels: area/roxctl

#14398 ROX-27734: Remove local scanner cert refresh from Sensor
  pkg/centralsensor/caps_list.go
  sensor/kubernetes/certrefresh/localscanner/cert_repo_init.go
  sensor/kubernetes/certrefresh/localscanner/cert_repo_init_test.go
  sensor/kubernetes/certrefresh/localscanner_tls_issuer.go
  sensor/kubernetes/certrefresh/localscanner_tls_issuer_test.go
  sensor/kubernetes/certrefresh/response.go
  sensor/kubernetes/certrefresh/response_test.go
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer.go
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer_test.go
  sensor/kubernetes/certrefresh/tls_issuer_common.go
  sensor/kubernetes/certrefresh/tls_issuer_common_test.go
  sensor/kubernetes/sensor/sensor.go
Labels: area/sensor

#14173 chore(postgres): inherit latest upstream changes
  image/postgres/scripts/docker-entrypoint.sh
  scanner/image/db/scripts/docker-entrypoint.sh
Labels: area/helm, area/postgres, area/scanner

#14349 ROX-13493: Add admission controller support for Scale subresource (#1…
  CHANGELOG.md
  sensor/admission-control/manager/evaluate_deploytime.go
  sensor/admission-control/manager/images.go
  sensor/admission-control/manager/responses.go
  sensor/admission-control/resources/deployment.go
Labels: area/sensor, area/admission-controller, backport

#14387 chore(roxctl): Test `roxctl` command tree
  roxctl/maincommand/command_test.go
  roxctl/maincommand/command_tree_debug.yaml
  roxctl/maincommand/command_tree_release.yaml
  roxctl/maincommand/embed_tree_debug_test.go
  roxctl/maincommand/embed_tree_release_test.go
Labels: area/roxctl, auto-retest

#14429 ROX-28258: Fix segfault when calling deactivate on stopped TLS issuer
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer.go
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer_test.go
Labels: area/sensor

#14310 ROX-14054: Re-enable violations sort by severity test
  ui/apps/platform/cypress/integration/violations/Violations.helpers.js
  ui/apps/platform/cypress/integration/violations/violations.test.js
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePanel.tsx
Labels: area/ui

#14347 chore(ui): Reduce effort to add search filter config in ui
  ui/apps/platform/src/Containers/ComplianceEnhanced/searchFilterConfig.ts
  ui/apps/platform/src/Containers/Vulnerabilities/searchFilterConfig.ts
Labels: area/ui

#14333 ROX-28037: Render Advisories column without GraphQL data
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/table.utils.ts
Labels: area/ui

#14426 ROX-28242: Disable entity store memory
  sensor/kubernetes/listener/resources/env.go
  sensor/kubernetes/listener/resources/store_provider.go
Labels: area/sensor

#14065 ROX-27905: Exclude example rpmdb from SBOMs
  .github/workflows/style.yaml
  .syft.yaml
  .tekton/operator-bundle-pipeline.yaml
  scripts/ci/jobs/check-konflux-pipelines.sh
  scripts/ci/jobs/check-konflux-setup.sh
Labels: area/ci, konflux-build, backport-for-4.6-konflux-release, backport-for-4.7-konflux-release

#14433 chore(deps): bump glog to 1.2.4
  go.mod
  go.sum
Labels: backport, backport release-4.5

#14345 ROX-27626: DeploymentTest CI Flakes
  qa-tests-backend/src/test/groovy/CSVTest.groovy
  qa-tests-backend/src/test/groovy/DeploymentTest.groovy
  qa-tests-backend/src/test/groovy/Services.groovy
Labels: auto-retest

#14431 ROX-28260: pass parent context to scan semaphore
  central/image/service/service_impl.go
Labels: area/central, 99papercuts

#14443 ROX-28260: pass parent context to sensor scan semaphore
  sensor/common/scan/scan.go
Labels: area/central, area/sensor, 99papercuts
