Repository stackrox/stackrox, pull requests merged in 2025-09, with the labels that each got.

#16498 chore(queue): add iterator
  central/administration/events/handler/handler.go
  central/complianceoperator/v2/report/manager/manager_impl.go
  pkg/administration/events/stream.go
  pkg/administration/events/stream/stream.go
  pkg/queue/queue.go
  pkg/queue/queue_test.go
  sensor/common/detector/detector.go
  sensor/common/detector/queue/queue.go
  sensor/common/detector/queue/queue_test.go
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer.go
Labels: area/central, area/sensor, auto-retest, ai-review

#16452 ROX-30390: Extract Update Computer
  sensor/common/networkflow/manager/enrichment_test.go
  sensor/common/networkflow/manager/manager_enrich_test.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/networkflow/manager/manager_impl_test.go
  sensor/common/networkflow/manager/manager_sending_test.go
  sensor/common/networkflow/manager/purger_test.go
  sensor/common/networkflow/manager/testing_test.go
  sensor/common/networkflow/metrics/metrics.go
  sensor/common/networkflow/updatecomputer/interface.go
  sensor/common/networkflow/updatecomputer/legacy.go
  sensor/common/networkflow/updatecomputer/update_computer_test.go
  sensor/kubernetes/sensor/sensor.go
Labels: area/sensor, auto-retest, ai-review

#16575 ROX-3024: roxctl grpc retry on deadline exceeded
  roxctl/common/connection.go
  roxctl/common/connection_test.go
Labels: area/roxctl, ai-review

#16600 ROX-30690: configure junit output for compliance tests
  tests/e2e/run-compliance-e2e.sh
Labels: area/central, auto-retest

#16604 fix: Fix YAML path of new enforce field in Helm config-shape
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
Labels: area/helm

#16203 ROX-29840: Add Cypress configuration to run tests against OCP console
  .openshift-ci/dispatch.sh
  tests/e2e/lib.sh
  ui/Makefile
  ui/apps/platform/README.md
  ui/apps/platform/cypress.config.js
  ui/apps/platform/cypress/helpers/ocpAuth.ts
  ui/apps/platform/cypress/integration-ocp/smoke.test.ts
  ui/apps/platform/package.json
  ui/apps/platform/scripts/cypress-ocp.sh
  ui/apps/platform/scripts/cypress.sh
  ui/package.json
Labels: area/ui, area/ci, ai-review, ai-assisted

#16588 refactor(ui): Lift Workload CVE column overrides up to parent
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/hooks/useManagedColumns.ts
Labels: area/ui, ai-review, ai-assisted

#16375 ROX-30375: Added changes to parse query string for ondemand reports
  central/reports/common/query_builder_view_based.go
  central/reports/common/utils.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
  central/reports/scheduler/v2/reportgenerator/report_gen_view_based_test.go
  central/reports/scheduler/v2/reportgenerator/testutils.go
  central/reports/service/v2/service_impl_test.go
  central/reports/validation/validate.go
  generated/api/v1/report_configuration_service.swagger.json
  generated/api/v2/report_service.pb.go
  generated/api/v2/report_service.swagger.json
  generated/api/v2/report_service_vtproto.pb.go
  generated/storage/report_configuration.pb.go
  generated/storage/report_configuration_vtproto.pb.go
  proto/api/v2/report_service.proto
  proto/storage/proto.lock
  proto/storage/report_configuration.proto
Labels: area/central

#16556 ROX-30454: Pass #2 at GraphQL for ImageV2
  central/graphql/resolvers/components_v1.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_cve_core.go
  central/graphql/resolvers/image_scan.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/images_v2.go
  central/graphql/resolvers/utils.go
  central/graphql/resolvers/vulnerabilities_v1.go
  central/graphql/resolvers/vulnerability_requests.go
Labels: area/central

#16632 ROX-30685: Update changelog for 4.8.3
  CHANGELOG.md
Labels: backport

#16070 ROX-30329: Add UI Traits restriction for m2m integrations
  ui/apps/platform/src/Components/TraitsOriginLabel.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopeFormWrapper.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopes.tsx
  ui/apps/platform/src/Containers/AccessControl/AccessScopes/AccessScopesList.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviderForm.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProvidersList.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/RuleGroups.tsx
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/authProviders.utils.ts
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionSetForm.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionSets.tsx
  ui/apps/platform/src/Containers/AccessControl/PermissionSets/PermissionSetsList.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/RoleForm.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/Roles.tsx
  ui/apps/platform/src/Containers/AccessControl/Roles/RolesList.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/IntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsListPage/IntegrationsTable.tsx
  ui/apps/platform/src/Containers/Integrations/utils/tableColumnDescriptor.ts
  ui/apps/platform/src/services/AuthService/AuthService.ts
  ui/apps/platform/src/services/MachineAccessService.ts
  ui/apps/platform/src/utils/traits.utils.ts
Labels: area/central, area/ui

#16624 ROX-30390: Refactor netFlowManager metrics
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/networkflow/metrics/metrics.go
Labels: area/sensor, ai-review

#16578 ROX-30459: Add ImageV2 to CSV Export Handlers
  central/cve/common/csv/handler.go
  central/cve/csv/handler.go
  central/cve/image/csv/handler.go
Labels: area/central

#16633 ROX-30733: Omit include in optional columns and add CISA KEV comments
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/ViewBasedReportJobDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/ReportParametersDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportParametersForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/useReportFormValues.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.ts
Labels: area/ui

#16635 ROX-30525: Virtual machines list view table
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/Overview/VirtualMachineCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/Overview/VirtualMachinesCvesTable.tsx
  ui/apps/platform/src/services/VirtualMachineService.ts
  ui/apps/platform/src/types/node.proto.ts
  ui/apps/platform/src/types/scanComponent.proto.ts
  ui/apps/platform/src/types/vulnState.proto.ts
  ui/apps/platform/src/types/vulnerability.proto.ts
Labels: area/ui

#16655 ROX-30672: Add skip to clusters integration tests until rewrite
  tests/e2e/lib.sh
  ui/apps/platform/cypress/integration/clusters/clusterDeletion.test.js
  ui/apps/platform/cypress/integration/clusters/clusters.test.js
  ui/apps/platform/cypress/integration/clusters/clustersCertificateExpiration.test.js
  ui/apps/platform/cypress/integration/clusters/clustersHealthStatus.test.js
  ui/apps/platform/cypress/integration/clusters/clustersManager.test.js
  ui/apps/platform/cypress/integration/clusters/redirectFromDashboard.test.js
Labels: area/ui

#16654 build: Speed up `main` Konflux builds on arm64
  .tekton/main-pipeline.yaml
Labels: konflux-build, backport release-4.6, backport release-4.7, backport release-4.8

#16623 ROX-30725: Take z-part into account for computing earlier version
  tests/e2e/run-scanner-v4-install.bats
Labels: ai-review

#16638 ROX-30632: Add virtual machine details page with tabbed layout
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/Overview/VirtualMachineCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/VirtualMachine/VirtualMachinePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/VirtualMachine/VirtualMachinePageDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/VirtualMachine/VirtualMachinePageHeader.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/VirtualMachine/VirtualMachinePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/VirtualMachineCvesPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/types.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/searchUtils.tsx
Labels: area/ui

#16636 ROX-30770: CA rotation fallback for Helm-installed Sensors
  central/securedclustercertgen/certificates.go
  central/securedclustercertgen/certificates_test.go
  central/sensor/service/connection/connection_impl.go
  central/sensor/service/service_impl.go
  generated/internalapi/central/secured_cluster_cert_refresh.pb.go
  generated/internalapi/central/secured_cluster_cert_refresh_vtproto.pb.go
  proto/internalapi/central/secured_cluster_cert_refresh.proto
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer.go
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer_test.go
Labels: area/central, area/sensor, ai-review

#16648 ROX-30701: Implement SecurityVulnerabilitiesPage
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.cy.jsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.tsx
  ui/apps/platform/src/ConsolePlugin/Components/VulnerabilitiesOverviewContainer.tsx
  ui/apps/platform/src/ConsolePlugin/PluginProvider.tsx
  ui/apps/platform/src/ConsolePlugin/SecurityVulnerabilitiesPage/SecurityVulnerabilitiesPage.tsx
  ui/apps/platform/src/ConsolePlugin/constants.ts
  ui/apps/platform/src/ConsolePlugin/hooks/useDefaultWorkloadCveViewContext.ts
  ui/apps/platform/src/utils/searchUtils.test.ts
  ui/apps/platform/src/utils/searchUtils.ts
  ui/apps/platform/webpack.ocp-plugin.config.js
Labels: area/ui

#16625 ROX-30727: Let roxctl ignore deprecated admission controller flags
  CHANGELOG.md
  roxctl/sensor/generate/generate.go
  roxctl/sensor/generate/k8s.go
  roxctl/sensor/generate/openshift.go
Labels: area/roxctl, ai-review

#16676 fix: Helm chart docs for new admission controller configuration
  image/templates/helm/stackrox-secured-cluster/README.md.htpl
  image/templates/helm/stackrox-secured-cluster/values-public.yaml.example
Labels: area/helm

#15797 ROX-28151: Tracker runner, triggered by Prometheus scrape request
  CHANGELOG.md
  central/config/service/service.go
  central/config/service/service_test.go
  central/config/service/singleton.go
  central/main.go
  central/metrics/custom/image_vulnerabilities/labels.go
  central/metrics/custom/image_vulnerabilities/tracker.go
  central/metrics/custom/image_vulnerabilities/tracker_test.go
  central/metrics/custom/runner.go
  central/metrics/custom/runner_test.go
  central/metrics/custom/singleton.go
  central/metrics/custom/tracker/aggregator.go
  central/metrics/custom/tracker/aggregator_test.go
  central/metrics/custom/tracker/configuration.go
  central/metrics/custom/tracker/ordered_values.go
  central/metrics/custom/tracker/ordered_values_test.go
  central/metrics/custom/tracker/testing_test.go
  central/metrics/custom/tracker/tracker_base.go
  central/metrics/custom/tracker/tracker_base_test.go
  central/metrics/custom/tracker/validator.go
  central/metrics/custom/tracker/validator_test.go
  central/metrics/custom_registry.go
  central/metrics/custom_registry_test.go
  central/metrics/mocks/custom_registry.go
  generated/api/v1/config_service.swagger.json
  generated/storage/config.pb.go
  generated/storage/config_vtproto.pb.go
  proto/storage/config.proto
  proto/storage/proto.lock
Labels: area/central

#16629 ROX-30732: Do not use globals in fake workloads
  sensor/kubernetes/fake/deployment.go
  sensor/kubernetes/fake/fake.go
  sensor/kubernetes/fake/flows.go
  sensor/kubernetes/fake/flows_test.go
  sensor/kubernetes/fake/labels.go
  sensor/kubernetes/fake/networkpolicy.go
  sensor/kubernetes/fake/pools.go
  sensor/kubernetes/fake/service.go
Labels: area/sensor, auto-retest, ai-review, ai-assisted

#16688 ROX-27964: separate feature flag for CA rotation by install method
  sensor/kubernetes/certrefresh/env.go
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer.go
Labels: area/sensor, ai-review

#16711 test(ui): Add UI script changes to allow plugin e2e tests
  ui/Makefile
  ui/apps/platform/README.md
  ui/apps/platform/cypress.config.js
  ui/apps/platform/cypress/helpers/ocpAuth.ts
  ui/apps/platform/cypress/integration-ocp/smoke.test.ts
  ui/apps/platform/package.json
  ui/apps/platform/scripts/cypress-ocp.sh
  ui/apps/platform/scripts/cypress.sh
  ui/package.json
Labels: area/ui

#16686 ROX-30724,ROX-30397: Don't set ROX_SCANNER_V4 in manifest bundle env
  central/clusters/deployer.go
  tests/e2e/run-scanner-v4-install.bats
Labels: area/central

#16693 ROX-30748: full identity singletons
  pkg/postgres/schema/configs.go
  pkg/postgres/schema/delegated_registry_configs.go
  pkg/postgres/schema/installation_infos.go
  pkg/postgres/schema/notification_schedules.go
  pkg/postgres/schema/notifier_enc_configs.go
  pkg/postgres/schema/sensor_upgrade_configs.go
  pkg/postgres/schema/system_infos.go
  pkg/postgres/schema/versions.go
  tools/generate-helpers/pg-table-bindings/main.go
  tools/generate-helpers/pg-table-bindings/schema.go.tpl
Labels: area/postgres, backport release-4.8

#16318 ROX-30469: Update V4 resource requirements
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
Labels: area/helm, ci-performance-tests

#16736 ROX-30827: Add conditional rendering for status in ClusterSummaryGrid
  ui/apps/platform/src/Containers/Clusters/ClusterSummaryGrid.tsx
  ui/apps/platform/src/Containers/Clusters/Components/ClusterMetadata.tsx
  ui/apps/platform/src/Containers/Clusters/DynamicConfigurationForm.tsx
Labels: area/ui

#16653 ROX-29764: Add View-based Report Generation API
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/ViewBasedReportJobDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/CreateViewBasedReportModal.tsx
  ui/apps/platform/src/services/ReportsService.ts
  ui/apps/platform/src/services/ReportsService.types.ts
Labels: area/ui

#16647 ROX-30859, ROX-29220: Updates to fix CSV test and code
  central/cve/common/csv/handler.go
  central/cve/common/csv/handler_test.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/images.go
  central/views/common/queries.go
  central/views/deployments/view_impl.go
  central/views/imagecomponentflat/view_impl.go
  central/views/imagecve/view_impl.go
  central/views/imagecve/view_test.go
  central/views/imagecveflat/view_impl.go
  pkg/search/options.go
  qa-tests-backend/src/test/groovy/CSVTest.groovy
Labels: area/central, ai-review

#16837 ROX-30883: Limit width of Select elements in cluster form
  ui/apps/platform/src/Components/SelectSingle/SelectSingle.tsx
  ui/apps/platform/src/Containers/Clusters/DynamicConfigurationForm.tsx
  ui/apps/platform/src/Containers/Clusters/StaticConfigurationForm.tsx
Labels: area/ui

#16840 chore(sensor): Replace hard-coded TLS secret label
  sensor/utils/utils.go
Labels: area/sensor, ai-review

#16305 ROX-22588: move remaining static defaults, modulo admission control
  operator/api/v1alpha1/central_defaults.go
  operator/api/v1alpha1/central_types.go
  operator/api/v1alpha1/common_types.go
  operator/api/v1alpha1/common_types_test.go
  operator/api/v1alpha1/securedcluster_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/internal/central/extensions/reconcile_defaulting.go
  operator/internal/central/extensions/reconcile_defaulting_test.go
  operator/internal/central/values/defaults/central_db_defaulting.go
  operator/internal/central/values/defaults/central_db_defaulting_test.go
  operator/internal/central/values/defaults/defaults.go
  operator/internal/central/values/translation/translation.go
  operator/internal/central/values/translation/translation_test.go
  operator/internal/common/defaulting/test_helpers/helpers.go
  operator/internal/securedcluster/extensions/cluster_name.go
  operator/internal/securedcluster/extensions/reconcile_defaulting_test.go
  operator/internal/securedcluster/values/defaults/defaults.go
  operator/internal/securedcluster/values/translation/translation.go
  operator/internal/securedcluster/values/translation/translation_test.go
Labels: area/operator, auto-retest

#16839 ROX-20262: Enable CA rotation in Operator-managed Central and Sensor
  CHANGELOG.md
  operator/internal/central/extensions/reconcile_tls.go
  sensor/kubernetes/certrefresh/env.go
Labels: area/operator, area/sensor, ai-review

#16590 ROX-30682: Generalize ImageOverviewTable for multiple labels
  ui/apps/platform/eslint-plugins/pluginPatternFly.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageDetailBadges.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageNameLink.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageScanningIncompleteLabel.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/SignatureCountLabel.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/VerifiedSignatureLabel.tsx
Labels: area/ui

#16753 ROX-30784: Add View-based Report Download API
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/ViewBasedReportsTab.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/ViewBasedReportsTable.tsx
  ui/apps/platform/src/services/ReportsService.ts
Labels: area/ui

#16713 ROX-30786: Add risk management and calculation for V2 images
  central/imagev2/datastore/singleton.go
  central/risk/manager/manager.go
  central/risk/manager/manager_test.go
  central/risk/manager/mocks/manager.go
  central/risk/manager/singleton.go
  central/risk/multipliers/image/component_count.go
  central/risk/multipliers/image/component_count_test.go
  central/risk/multipliers/image/image_age.go
  central/risk/multipliers/image/image_age_test.go
  central/risk/multipliers/image/multiplier.go
  central/risk/multipliers/image/risky_component.go
  central/risk/multipliers/image/risky_component_test.go
  central/risk/multipliers/image/vulnerabilities.go
  central/risk/multipliers/image/vulnerabilities_test.go
  central/risk/multipliers/test_utils.go
  central/risk/scorer/image/scorer.go
  central/risk/scorer/image/scorer_test.go
  central/risk/scorer/test_utils.go
  central/sensor/service/pipeline/nodeindex/three_pipelines_test.go
  central/sensor/service/pipeline/nodeinventory/two_pipelines_test.go
Labels: area/central

#16849 ROX-25528: Handle quotes in PR title and Jira summary in notify GHA
  .github/workflows/notify-milestone-change.yml
Labels: area/ci

#16864 ROX-30898: Assign index image tag differently / 4.8
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Labels: backport, konflux-build

#16865 ROX-30898: Assign index image tag differently / 4.7
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Labels: backport, konflux-build

#16820 feat(vm4vm): Enrich VM Index Report with VM
  sensor/common/virtualmachine/index/handler.go
  sensor/common/virtualmachine/index/handler_impl.go
  sensor/common/virtualmachine/index/handler_impl_test.go
  sensor/common/virtualmachine/index/mocks/handler.go
  sensor/common/virtualmachine/index/service_impl_test.go
  sensor/common/virtualmachine/virtualmachineinfo.go
  sensor/kubernetes/listener/resources/virtualmachine/dispatcher/mocks/virtualmachineinstances.go
  sensor/kubernetes/listener/resources/virtualmachine/dispatcher/virtualmachineinstances.go
  sensor/kubernetes/listener/resources/virtualmachine/dispatcher/virtualmachineinstances_test.go
  sensor/kubernetes/listener/resources/virtualmachine/dispatcher/virtualmachines.go
  sensor/kubernetes/listener/resources/virtualmachine/dispatcher/virtualmachines_test.go
  sensor/kubernetes/listener/resources/virtualmachine/store/virtual_machine_store.go
  sensor/kubernetes/listener/resources/virtualmachine/store/virtual_machine_store_test.go
  sensor/kubernetes/sensor/sensor.go
Labels: area/sensor, ai-review

#16866 ROX-30898: Assign index image tag differently / 4.6
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Labels: backport

#16383 ROX-30498: truncate hashes if off (#16374)
  central/hash/datastore/datastore.go
  central/hash/datastore/datastore_test_constructors.go
  central/hash/datastore/singleton.go
  central/hash/manager/manager.go
Labels: area/central, backport

#16835 ROX-30865: increase k8s client timeout > retryable-http
  tests/common.go
Labels: area/sensor, ai-review

#16877 chore: Bump Renovate PR limits
  .github/renovate.json5
Labels: area/ci, ai-review

#16170 ROX-29999: add README for declarative configuration
  central/declarativeconfig/README.md
  pkg/declarativeconfig/README.md
Labels: area/central

#16646 feat(vm4vm): proto changes to propagate VSockCID and Running state
  central/convert/storagetov2/scan.go
  central/convert/storagetov2/scan_test.go
  central/convert/storagetov2/virtual_machine.go
  central/convert/storagetov2/virtual_machine_test.go
  central/convert/v2tostorage/scan.go
  central/convert/v2tostorage/scan_test.go
  central/convert/v2tostorage/virtual_machine.go
  central/convert/v2tostorage/virtual_machine_test.go
  central/virtualmachine/service/service_impl_test.go
  generated/api/v2/virtual_machine_service.pb.go
  generated/api/v2/virtual_machine_service.swagger.json
  generated/api/v2/virtual_machine_service_vtproto.pb.go
  generated/internalapi/virtualmachine/v1/virtual_machine.pb.go
  generated/internalapi/virtualmachine/v1/virtual_machine_vtproto.pb.go
  generated/storage/virtual_machine.pb.go
  generated/storage/virtual_machine_vtproto.pb.go
  proto/api/v2/virtual_machine_service.proto
  proto/internalapi/virtualmachine/v1/virtual_machine.proto
  proto/storage/proto.lock
  proto/storage/virtual_machine.proto
Labels: area/central

#16863 fix: copy context checker core
  central/metrics/custom/runner.go
  pkg/sac/context.go
  pkg/sac/context_test.go
Labels: area/auth, area/central, ai-review

#16369 fix(ci): Increase TEST_TIMEOUT for ppc64le/s390x
  .openshift-ci/ci_tests.py
Labels: area/ci, ai-review

#16900 chore(release): bump Scanner and Collector versions
  COLLECTOR_VERSION
  SCANNER_VERSION
Labels: ci-all-qa-tests, backport

#16898 fix(metrics): remove the hardcoded scope checker
  central/metrics/custom/image_vulnerabilities/tracker.go
Labels: area/central

#16902 fix(bench): benchmark test fix
  central/processindicator/datastore/bench_test.go
Labels: area/central, backport

#16726 feat(vm4vm): Conversion from sensor wire format to storage VM
  central/convert/internaltostorage/virtual_machine.go
  central/convert/internaltostorage/virtual_machine_test.go
Labels: area/central, area/operator

#16862 chore(qa): wait for cluster healthy
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
Labels: ci-all-qa-tests, area/central, auto-retest

#16888 ROX-30934: Declare Exploit type and improve commented-out code
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/ReportParametersDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportParametersForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/useReportFormValues.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/WorkloadCVEOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/CvePageHeader.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/vulnerabilityUtils.ts
  ui/apps/platform/src/types/cve.proto.ts
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#16802 ROX-30703: Adds implementation for plugin Image detail page
  ui/apps/platform/cypress/integration-ocp/security/cveDetail.test.ts
  ui/apps/platform/cypress/integration-ocp/security/imageDetail.test.ts
  ui/apps/platform/src/ConsolePlugin/ImageDetailPage/ImageDetailPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/DeploymentResourceTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageRoute.tsx
Labels: area/ui

#16906 chore(deps): update all dependencies
  image/postgres/konflux.Dockerfile
  image/rhel/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  operator/konflux.Dockerfile
  operator/konflux.bundle.Dockerfile
  scanner/image/db/konflux.Dockerfile
  scanner/image/scanner/konflux.Dockerfile
Labels: area/helm, area/operator, area/postgres, area/scanner, backport, konflux-build

#16917 refactor: custom metrics runner to loop over trackers
  central/metrics/custom/runner.go
  central/metrics/custom/runner_test.go
  central/metrics/custom/singleton.go
Labels: area/central

#16918 ROX-30947: Distinguish warning from information for sensor upgrade
  ui/apps/platform/src/Containers/Clusters/Components/SensorUpgradePanel.tsx
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.test.js
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.tsx
Labels: area/ui

#16841 ROX-30894: Display autoLockProcessBaselinesConfig in cluster form
  ui/apps/platform/src/Containers/Clusters/ClusterPage.tsx
  ui/apps/platform/src/Containers/Clusters/DynamicConfigurationForm.tsx
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.tsx
  ui/apps/platform/src/types/cluster.proto.ts
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#16904 ROX-30945: Bump scanner and collector versions for 4.6
  COLLECTOR_VERSION
  SCANNER_VERSION
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
Labels: ci-all-qa-tests, backport, ci-build-all-arch

#16943 ROX-30972: Use import type in Containers Audit
  ui/apps/platform/eslint.config.js
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsPage.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/ListeningEndpointsTable.tsx
  ui/apps/platform/src/Containers/Audit/ListeningEndpoints/hooks/useDeploymentListeningEndpoints.tsx
Labels: area/ui

#16941 ROX-30978: Use import type in Containers ExceptionConfiguration
  ui/apps/platform/eslint.config.js
  ui/apps/platform/src/Containers/ExceptionConfiguration/VulnerabilitiesConfiguration.tsx
  ui/apps/platform/src/Containers/ExceptionConfiguration/useVulnerabilitiesExceptionConfig.ts
Labels: area/ui

#16880 ROX-30875: Verify pod config-hash annotation in Operator Kuttl tests
  operator/internal/common/confighash/pod_template_annotation.go
  operator/tests/common/config-hash-assert.yaml
Labels: area/operator

#16960 fix(ci): Bump Glibc CVE for ImageScanningTest to pass
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
Labels: backport

#16809 ROX-29388: Fix indefinite deferrals getting expired when storing them in db
  central/convert/storagetov2/vuln_exception_service_test.go
  central/convert/v2tostorage/vuln_exception_service.go
  central/convert/v2tostorage/vuln_exception_service_test.go
  central/vulnmgmt/vulnerabilityrequest/utils/util.go
Labels: area/central

#16905 chore(ai): Add gopls to mcp
  .claude/agents/go-expert-dev.md
  .cursor/mcp.json
  .mcp.json
Labels: ai-review, ai-assisted

#16970 ROX-30988: Add import-type-order rule to pluginGeneric
  ui/apps/platform/eslint-plugins/pluginGeneric.js
  ui/apps/platform/src/services/ReportsService.ts
Labels: area/ui

#16973 ROX-30991: Replace relative path to subfolder of src in some import
  ui/apps/platform/eslint-plugins/pluginLimited.js
  ui/apps/platform/eslint.config.js
  ui/apps/platform/src/ConsolePlugin/PluginProvider.tsx
  ui/apps/platform/src/constants/accessControl.ts
  ui/apps/platform/src/hooks/useTabs.test.jsx
  ui/apps/platform/src/index.tsx
  ui/apps/platform/src/init/installRaven.js
  ui/apps/platform/src/reducers/cloudSources.js
  ui/apps/platform/src/reducers/machineAccessConfigs.js
  ui/apps/platform/src/reducers/roles.js
  ui/apps/platform/src/services/AccessScopesService.ts
  ui/apps/platform/src/services/AdministrationUsageService.ts
  ui/apps/platform/src/services/AuthService/AuthService.ts
  ui/apps/platform/src/services/DeclarativeConfigHealthService.ts
  ui/apps/platform/src/services/IntegrationHealthService.ts
  ui/apps/platform/src/services/ReportsService.ts
  ui/apps/platform/src/services/ReportsService.types.ts
  ui/apps/platform/src/services/SystemConfigService.ts
Labels: area/ui

#16940 ROX-30968: Enforcement is disabled for audit log policies
  ui/apps/platform/src/Containers/Policies/Wizard/Step5/PolicyEnforcementForm.tsx
Labels: area/ui, ai-review, ai-assisted

#16794 docs: Add documentation for Helm chart templating
  image/templates/CHART_TEMPLATING.md
Labels: area/helm

#17011 ROX-31011: fix CA rotation failure after version upgrade
  operator/internal/central/carotation/rotation.go
  operator/internal/central/carotation/rotation_test.go
  operator/internal/central/extensions/reconcile_tls.go
  operator/internal/central/extensions/reconcile_tls_ca_rotation_test.go
  operator/internal/central/extensions/reconcile_tls_test.go
Labels: area/operator

#16628 ROX-30860: Limit parallel port use by processes
  scale/workloads/10-sensors.yaml
  scale/workloads/active-vulnmgmt.yaml
  scale/workloads/default.yaml
  scale/workloads/high-alert.yaml
  scale/workloads/long-running.yaml
  scale/workloads/np-load.yaml
  scale/workloads/okr-single-load.yaml
  scale/workloads/rbac.yaml
  scale/workloads/sample.yaml
  scale/workloads/scale-test.yaml
  scale/workloads/small.yaml
  scale/workloads/vulnmgmt.yaml
  scale/workloads/xlarge.yaml
  sensor/kubernetes/fake/fake.go
  sensor/kubernetes/fake/flows.go
  sensor/kubernetes/fake/flows_test.go
  sensor/kubernetes/fake/workload.go
Labels: area/sensor, auto-retest, ai-review

#17017 ROX-30945: Include collector-slim in our custom snapshot
  .tekton/operator-bundle-pipeline.yaml
  scripts/ci/jobs/check-konflux-setup.sh
Labels: backport

#17027 fix(gha): backport changes for job-preamble
  .github/actions/job-preamble/action.yaml
Labels: area/ci, ci-build-race-condition-debug, backport

#16975 ROX-30635: Virtual Machine CVEs Table
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/VirtualMachine/VirtualMachineComponentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/VirtualMachine/VirtualMachinePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/VirtualMachine/VirtualMachineVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/aggregateUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/AdvisoryLinkOrText.tsx
  ui/apps/platform/src/services/VirtualMachineService.ts
  ui/apps/platform/src/types/scanComponent.proto.ts
  ui/apps/platform/src/types/vulnerability.proto.ts
Labels: area/ui

#17031 fix(gha): backport changes for job-preamble
  .github/actions/job-preamble/action.yaml
Labels: ci-race-tests, area/ci, ci-build-race-condition-debug, backport

#16398 ROX-27149: Store Index Report API
  generated/internalapi/scanner/v4/indexer_service.pb.go
  generated/internalapi/scanner/v4/indexer_service_grpc.pb.go
  generated/internalapi/scanner/v4/indexer_service_vtproto.pb.go
  pkg/features/list.go
  pkg/scanners/scannerv4/scannerv4.go
  pkg/scanners/types/components.go
  pkg/scannerv4/client/client.go
  pkg/scannerv4/client/mocks/client.go
  proto/internalapi/scanner/v4/indexer_service.proto
  scanner/datastore/postgres/external_index_report.go
  scanner/datastore/postgres/external_index_report_test.go
  scanner/datastore/postgres/external_index_store.go
  scanner/datastore/postgres/indexer_metadata_store.go
  scanner/datastore/postgres/manifest_metadata.go
  scanner/datastore/postgres/migrations/indexer/02-external-index-report.sql
  scanner/datastore/postgres/migrations/migrations.go
  scanner/datastore/postgres/mocks/indexer_metadata_store.go
  scanner/datastore/postgres/reindex_gc.go
  scanner/indexer/indexer.go
  scanner/indexer/indexer_test.go
  scanner/indexer/manifest/manager.go
  scanner/indexer/mocks/indexer.go
  scanner/services/common.go
  scanner/services/indexer.go
  scanner/services/matcher.go
Labels: area/sensor, area/scanner, auto-retest, ai-review

#16974 ROX-30636: virtual machine table filtering
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/virtualMachine.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/VirtualMachine/VirtualMachineComponentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/VirtualMachine/VirtualMachinePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/VirtualMachine/VirtualMachineVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/aggregateUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/FixedByVersion.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/searchFilterConfig.ts
Labels: area/ui

#17015 ROX-13221: Fixes splitting of policy criteria values that contain '='
  ui/apps/platform/src/Containers/Policies/policies.utils.test.ts
  ui/apps/platform/src/Containers/Policies/policies.utils.ts
Labels: area/ui

#16176 ROX-28151: custom registry cleanup
  central/metrics/custom/tracker/tracker_base.go
  central/metrics/custom/tracker/tracker_base_test.go
  central/metrics/custom_registry.go
  central/metrics/custom_registry_test.go
Labels: area/central

#17037 fix(scannerctl): index report fixture in scannerctl
  scanner/cmd/scannerctl/fixtures/indexReport.json
Labels: area/scanner

#16836 feat(m2m): reimplement m2m k8s sa
  central/auth/datastore/datastore.go
  central/auth/datastore/datastore_impl.go
  central/auth/datastore/datastore_impl_mocked_test.go
  central/auth/datastore/datastore_impl_test.go
  central/auth/datastore/singleton.go
  central/auth/datastore/telemetry.go
  central/auth/m2m/claim_extractor.go
  central/auth/m2m/claim_extractor_test.go
  central/auth/m2m/claims.go
  central/auth/m2m/exchanger.go
  central/auth/m2m/exchanger_test.go
  central/auth/m2m/generic_claim_extractor.go
  central/auth/m2m/generic_claim_extractor_test.go
  central/auth/m2m/generic_token_verifier.go
  central/auth/m2m/generic_token_verifier_test.go
  central/auth/m2m/github_claim_extractor.go
  central/auth/m2m/github_claim_extractor_test.go
  central/auth/m2m/id_token.go
  central/auth/m2m/id_token_test.go
  central/auth/m2m/kube_claim_extractor.go
  central/auth/m2m/kube_claim_extractor_test.go
  central/auth/m2m/kube_service_account.go
  central/auth/m2m/kube_service_account_test.go
  central/auth/m2m/kube_token_verifier.go
  central/auth/m2m/kube_token_verifier_test.go
  central/auth/m2m/mocks/kube_service_account.go
  central/auth/m2m/role_mapper_test.go
  central/auth/m2m/set.go
  central/auth/m2m/tls.go
  central/auth/m2m/token_verifier.go
  central/auth/m2m/verifier.go
  central/auth/service/service_impl_test.go
  central/declarativeconfig/updater/auth_machine_to_machine_updater_test.go
  image/templates/helm/stackrox-central/templates/01-central-01-token-secret.yaml
  image/templates/helm/stackrox-central/templates/01-central-02-security.yaml
  pkg/helm/charts/tests/centralservices/multi_namespace_test.go
  pkg/helm/charts/tests/centralservices/testdata/helmtest/central.test.yaml
Labels: area/auth, area/central, area/helm, ai-review

#15487 ROX-28151: Phonehome telemetry for custom Prometheus metrics
  central/metrics/custom/runner.go
  central/metrics/custom/tracker/tracker_base.go
  central/metrics/custom/tracker/tracker_base_test.go
  central/metrics/custom_registry.go
Labels: area/central

#16867 ROX-30857: Remove expiration column and improve report job details
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/ViewBasedReportJobDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/ViewBasedReportsTab.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/ViewBasedReportsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/CreateReportDropdown.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/vulnerabilityUtils.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/vulnerabilityUtils.ts
  ui/apps/platform/src/services/ReportsService.ts
  ui/apps/platform/src/services/ReportsService.types.ts
  ui/apps/platform/src/utils/searchUtils.ts
Labels: area/ui

#17020 ROX-31029: Fixed report snapshot to return area of concern
  central/reports/service/v2/convert.go
  central/reports/validation/validate.go
  generated/api/v2/report_service.pb.go
  generated/api/v2/report_service.swagger.json
  generated/api/v2/report_service_vtproto.pb.go
  proto/api/v2/report_service.proto
Labels: area/central

#16773 ROX-28151: limit the number of registries
  central/metrics/custom/image_vulnerabilities/tracker_test.go
  central/metrics/custom/runner.go
  central/metrics/custom/tracker/tracker_base.go
  central/metrics/custom/tracker/tracker_base_test.go
  central/metrics/custom_registry.go
  central/metrics/custom_registry_test.go
Labels: area/central

#16526 ROX-27150: Pull external index reports
  generated/internalapi/scanner/v4/indexer_service.pb.go
  generated/internalapi/scanner/v4/indexer_service_vtproto.pb.go
  pkg/scanners/scannerv4/scannerv4.go
  pkg/scannerv4/client/client.go
  proto/internalapi/scanner/v4/indexer_service.proto
  scanner/datastore/postgres/external_index_report.go
  scanner/datastore/postgres/external_index_store.go
  scanner/indexer/indexer.go
  scanner/indexer/indexer_test.go
  scanner/indexer/mocks/indexer.go
  scanner/indexer/remote.go
  scanner/services/common.go
  scanner/services/indexer.go
  scanner/services/indexer_test.go
  scanner/services/matcher.go
  scanner/services/matcher_test.go
Labels: area/scanner, auto-retest, ai-review

#17038 ROX-31034: Virtual Machine CVEs Summary Cards
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/useNodeSummaryData.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/VirtualMachine/VirtualMachinePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/aggregateUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/BySeveritySummaryCard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/CvesByStatusSummaryCard.tsx
Labels: area/ui

#17039 chore(ui): Update virtual machine route and severity counts
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/Overview/VirtualMachineCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/Overview/VirtualMachinesCvesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/VirtualMachine/VirtualMachinePageHeader.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/VirtualMachineCvesPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/aggregateUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/searchUtils.tsx
Labels: area/ui

#15551 ROX-28326: node vulnerabilities as Prometheus metrics
  central/metrics/custom/node_vulnerabilities/labels.go
  central/metrics/custom/node_vulnerabilities/tracker.go
  central/metrics/custom/runner.go
  central/metrics/custom/singleton.go
  generated/api/v1/config_service.swagger.json
  generated/storage/config.pb.go
  generated/storage/config_vtproto.pb.go
  proto/storage/config.proto
  proto/storage/proto.lock
Labels: area/central

#17023 ROX-12637: make kuttl tests tolerate pause reconcile status condition
  go.mod
  go.sum
  operator/tests/central/central-misc/064-assert-after-unset-expose-monitoring.yaml
  operator/tests/common/central-cr-assert.yaml
  operator/tests/common/central-cr-without-scanner-v4-assert.yaml
  operator/tests/common/monitoring-auth-reader-assert.yaml
  operator/tests/common/secured-cluster-cr-assert-no-scanner-v4.yaml
  operator/tests/common/secured-cluster-cr-assert.yaml
  operator/tests/common/upgrade-assert.envsubst.yaml
  operator/tests/securedcluster/sc-basic/020-assert.yaml
  operator/tests/upgrade/upgrade/010-assert-central-cr-with-pre-4-9-admission-controller-config.yaml
Labels: area/operator, auto-retest

#16884 ROX-27920: Re-introduce cluster and namespace flag for SBOM flow
  central/image/service/http_handler.go
  pkg/apiparams/sbom.go
  roxctl/image/sbom/sbom.go
  roxctl/maincommand/command_tree_debug.yaml
  roxctl/maincommand/command_tree_release.yaml
Labels: area/roxctl, area/central, auto-retest, ai-review

#17028 chore(CI): Check no empty alert results in network policy tests
  sensor/tests/helper/helper.go
  sensor/tests/resource/networkpolicy/networkpolicy_test.go
Labels: area/sensor, auto-retest, ai-review

#17056 ROX-30504: Allow sorting by CVE severity across affected deployments
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/sortUtils.tsx
Labels: area/ui

#16990 ROX-28326: change image vulnerability labels
  central/metrics/custom/image_vulnerabilities/labels.go
  central/metrics/custom/image_vulnerabilities/tracker.go
  central/metrics/custom/policy_violations/tracker.go
Labels: area/central

#17033 chore(ui): remove tech preview label from SBOM modal
  ui/apps/platform/src/Containers/Vulnerabilities/components/GenerateSbomModal.tsx
Labels: area/roxctl, area/central, area/ui, area/scanner, ai-review
