Repository stackrox/stackrox, pull requests merged in 2025-03, with the labels that each got.

#14448 chore(deps): bump glog to 1.2.4
  go.mod
  go.sum
Labels: backport, backport release-4.5

#14400 chore: PR Fixxxer chatops bot 🤘🏻
  .github/workflows/fixxxer.yaml
  scripts/fixxxer.sh
  scripts/fixxxers/README.md
  scripts/fixxxers/operator/10-deps-go-mod-tidy.sh
  scripts/fixxxers/operator/20-generate.sh
  scripts/fixxxers/operator/30-manifests.sh
  scripts/fixxxers/operator/40-bundle.sh
Labels: area/ci

#14460 chore(deps): bump oauth2 fork
  go.mod
  go.sum
Labels: backport release-4.5, backport release-4.6

#14457 chore(docs): Changelog entry for 4.5.7
  CHANGELOG.md
Labels: backport

#14458 chore(docs): add changelog entry for 4.6.3
  CHANGELOG.md
Labels: backport

#14468 ROX-27943: Fix link to the docs
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodeCvesOverviewPage.tsx
Labels: area/ui

#14432 ROX-20769: Update everything to stackrox-test-0.4.6
  .github/workflows/batch-load-test-metrics.yml
  .github/workflows/build.yaml
  .github/workflows/ci-failures-report.yml
  .github/workflows/lint.yml
  .github/workflows/scanner-build.yaml
  .github/workflows/scanner-db-integration-tests.yaml
  .github/workflows/scanner-versioned-definitions-update.yaml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
  scale/signatures/deploy.yaml
  tests/e2e/run-e2e-tests.sh
Labels: area/ci

#14469 fix: go.mod for 4.7 release branch
  go.mod
Labels: backport

#14370 ROX-27402: CVE data model image store pr 5
  central/cve/converter/utils/convert_utils_v2.go
  central/image/datastore/singleton.go
  central/image/datastore/store/common/v2/metrics.go
  central/image/datastore/store/postgres/store.go
  central/image/datastore/store/postgres/store_test.go
  central/image/datastore/store/v2/postgres/store.go
  central/image/datastore/store/v2/postgres/store_test.go
Labels: area/central

#14473 chore: Mark more places to be reviewed by `rhtap-maintainers`
  .github/CODEOWNERS
Labels: area/ci

#14466 ROX-28272: bump oauth2 fork
  go.mod
  go.sum
Labels: backport

#14427 chore(deps): upgrade go-jose to v4
  central/auth/m2m/kube_service_account.go
  go.mod
  pkg/auth/authproviders/iap/backend_impl.go
  pkg/auth/authproviders/validate_test.go
  pkg/auth/tokens/claims.go
  pkg/auth/tokens/issuer_factory.go
  pkg/auth/tokens/options.go
  pkg/cloudproviders/gcp/identity_token.go
  pkg/grpc/authn/extractor.go
  pkg/grpc/authn/extractor_test.go
  pkg/jwt/facade.go
  pkg/jwt/keys.go
  pkg/jwt/parser.go
  pkg/jwt/tokens.go
  sensor/common/certdistribution/service_impl.go
  sensor/kubernetes/sensor/deployment_identification.go
Labels: area/auth, area/central, area/sensor, auto-retest

#14477 ROX-28322: Render hyphen for no advisory
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AdvisoryLinkOrText.tsx
Labels: area/ui

#14479 ROX-28323: Make frontend DelegatedRegistryConfigService file clearer
  ui/apps/platform/src/services/DelegatedRegistryConfigService.ts
Labels: area/ui

#14452 ROX-27875: Change "Exposed port" from number to text input type
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
Labels: area/ui

#14470 ROX-24433: bump np-guard/netpol-analyzer from 1.2.0 to 1.3.1
  go.mod
  go.sum
  roxctl/netpol/connectivity/diff/README.md
  roxctl/netpol/connectivity/map/README.md
  roxctl/netpol/connectivity/map/testdata/acs-security-demos/output.txt
  tests/roxctl/bats-tests/local/roxctl-netpol-connectivity-diff-development.bats
  tests/roxctl/bats-tests/local/roxctl-netpol-connectivity-diff-release.bats
  tests/roxctl/bats-tests/local/roxctl-netpol-connectivity-map-development.bats
  tests/roxctl/bats-tests/local/roxctl-netpol-connectivity-map-release.bats
  tests/roxctl/bats-tests/test-data/np-guard/anp_banp_demo/ns.yaml
  tests/roxctl/bats-tests/test-data/np-guard/anp_banp_demo/policies.yaml
  tests/roxctl/bats-tests/test-data/np-guard/anp_banp_demo/workloads.yaml
  tests/roxctl/bats-tests/test-data/np-guard/anp_banp_diff_demo/ns.yaml
  tests/roxctl/bats-tests/test-data/np-guard/anp_banp_diff_demo/policies.yaml
  tests/roxctl/bats-tests/test-data/np-guard/anp_banp_diff_demo/workloads.yaml
Labels: area/roxctl

#14449 ROX-27691: Added NetworkPolicy for config-controller
  image/templates/helm/stackrox-central/templates/02-config-controller-03-networkpolicy.yaml
Labels: area/helm

#14361 fix(qa): @CompileStatic on helpers and utils
  qa-tests-backend/src/main/groovy/common/Constants.groovy
  qa-tests-backend/src/main/groovy/objects/ConfigMap.groovy
  qa-tests-backend/src/main/groovy/objects/ConfigMapKeyRef.groovy
  qa-tests-backend/src/main/groovy/objects/Deployment.groovy
  qa-tests-backend/src/main/groovy/objects/K8sRbacObjects.groovy
  qa-tests-backend/src/main/groovy/objects/K8sServiceAccount.groovy
  qa-tests-backend/src/main/groovy/objects/NetworkPolicy.groovy
  qa-tests-backend/src/main/groovy/objects/Secret.groovy
  qa-tests-backend/src/main/groovy/objects/SecretKeyRef.groovy
  qa-tests-backend/src/main/groovy/util/Env.groovy
  qa-tests-backend/src/main/groovy/util/Helpers.groovy
  qa-tests-backend/src/main/groovy/util/Timer.groovy
  qa-tests-backend/src/test/groovy/AuthServiceTest.groovy
Labels: ci-all-qa-tests, auto-retest

#14200 ROX-28189: Add vulnerability readiness for functional tests
  .github/workflows/scanner-e2e-test.yaml
  go.mod
  scanner/Makefile
  scanner/config/config.go
  scanner/config/config_test.go
  scanner/e2etests/helmchart/templates/db-deployment.yaml
  scanner/e2etests/helmchart/templates/scanner-config.yaml
  scanner/e2etests/helmchart/templates/scanner-deployment.yaml
  scanner/matcher/matcher.go
Labels: area/scanner, area/ci, scanner-functional-tests

#14520 fix: use different token for fixxxer
  .github/workflows/fixxxer.yaml
Labels: area/ci, auto-retest

#14488 ROX-28249: Fix roxctl usage in deploy script and scanner tests
  roxctl/central/generate/generate.go
  roxctl/central/generate/k8s.go
  roxctl/common/flags/annotations.go
Labels: area/roxctl

#14521 chore(deps): bump oauth2 in operator tools
  operator/tools/kuttl/go.mod
  operator/tools/kuttl/go.sum
  operator/tools/operator-sdk/go.mod
  operator/tools/operator-sdk/go.sum
Labels: area/operator

#14372 ROX-28192: skip TLS verification for insecure registries
  scanner/indexer/indexer.go
  scanner/internal/httputil/doc.go
  scanner/internal/httputil/transport.go
  scanner/internal/httputil/transport_mux.go
  scanner/internal/httputil/transport_test.go
  scanner/matcher/matcher.go
Labels: area/scanner

#14471 ROX-26663: add log when registry store cleared
  sensor/common/registry/registry_store.go
Labels: area/sensor

#14528 chore(release): Tweak CPU usage for Core Grafana dashboard
  deploy/charts/monitoring/dashboards/stackrox-core-dashboard.json
Labels: auto-retest

#14529 ROX-28102: Set curl to retry on any error
  tests/roxctl/bats-tests/cluster/scanner-upload-db.bats
Labels: auto-retest

#14484 chore(deps): bump Go to 1.23.6
  .devcontainer/devcontainer.json
  .github/workflows/batch-load-test-metrics.yml
  .github/workflows/build.yaml
  .github/workflows/ci-failures-report.yml
  .github/workflows/fixxxer.yaml
  .github/workflows/lint.yml
  .github/workflows/scanner-build.yaml
  .github/workflows/scanner-db-integration-tests.yaml
  .github/workflows/scanner-versioned-definitions-update.yaml
  .github/workflows/style.yaml
  .github/workflows/unit-tests.yaml
  .openshift-ci/Dockerfile.build_root
  .openshift-ci/dev-requirements.txt
  BUILD_IMAGE_VERSION
  go.mod
  operator/bundle_helpers/requirements-gha.txt
  scale/signatures/deploy.yaml
  tests/e2e/run-e2e-tests.sh
Labels: area/operator, auto-merge, area/ci

#14382 tests: Add postgres tests to Vulnerability Request datastore
  central/vulnmgmt/vulnerabilityrequest/datastore/datastore_impl_postgres_test.go
  central/vulnmgmt/vulnerabilityrequest/datastore/datastore_impl_test.go
  pkg/uuid/uuid.go
  pkg/uuid/uuid_test.go
  tools/allowed-large-files
Labels: area/auth, area/central

#14510 chore(deps): use upstream cosign instead of fork
  go.mod
  go.sum
Labels: auto-retest

#14407 ROX-8844: Allow conditionally leaving out empty rows
  pkg/gjson/row.go
  pkg/gjson/row_test.go
  pkg/printers/csv.go
  pkg/printers/table.go
  roxctl/common/printer/tabularprinter_factory.go
  roxctl/maincommand/command_tree_debug.yaml
  roxctl/maincommand/command_tree_release.yaml
Labels: area/roxctl

#14284 ROX-28098: explicitly set advisory
  central/image/datastore/store/postgres/store_test.go
  central/image/datastore/store/v2/postgres/store_test.go
  generated/api/v1/image_service.swagger.json
  generated/api/v1/node_service.swagger.json
  generated/api/v1/vuln_mgmt_service.swagger.json
  generated/internalapi/scanner/v4/vulnerability_report.pb.go
  generated/internalapi/scanner/v4/vulnerability_report_vtproto.pb.go
  generated/storage/vulnerability.pb.go
  generated/storage/vulnerability_vtproto.pb.go
  pkg/scanners/scannerv4/convert.go
  pkg/scannerv4/mappers/mappers.go
  pkg/scannerv4/mappers/mappers_test.go
  proto/internalapi/scanner/v4/vulnerability_report.proto
  proto/storage/proto.lock
  proto/storage/vulnerability.proto
Labels: area/central

#14376 ROX-28263: Custom `roxctl` command usage formatting
  CHANGELOG.md
  roxctl/central/db/backup/backup.go
  roxctl/central/db/restore/v2.go
  roxctl/main.go
  roxctl/main_test.go
  roxctl/maincommand/command.go
  roxctl/maincommand/command_test.go
  roxctl/patch_flag_usage.go
  roxctl/utils/formatting_writer.go
  roxctl/utils/formatting_writer_test.go
  roxctl/utils/help_formatter.go
  roxctl/utils/help_formatter_test.go
  roxctl/utils/help_writer.go
  roxctl/utils/help_writer_test.go
  roxctl/utils/utils.go
  roxctl/utils/utils_test.go
  tests/roxctl/bats-tests/local/central-boolean-defaults.bats
  tests/roxctl/bats-tests/local/central-help-output.bats
  tests/roxctl/bats-tests/local/expect/.gitattributes
  tests/roxctl/bats-tests/local/expect/roxctl--help.txt
  tests/roxctl/bats-tests/local/expect/roxctl_central_whoami--help.txt
  tests/roxctl/bats-tests/local/expect/roxctl_declarative-config_create_notifier_generic--help.txt
  tests/roxctl/bats-tests/local/roxctl-helm-output-central-development.bats
  tests/roxctl/bats-tests/local/roxctl-helm-output-central-release.bats
Labels: area/roxctl

#14491 ROX-14460: `roxctl helm derive-local-values` tests and fixes
  roxctl/helm/derivelocalvalues/derivelocalvalues.go
  roxctl/helm/derivelocalvalues/derivelocalvalues_test.go
  roxctl/helm/derivelocalvalues/extraction_test.go
  roxctl/helm/derivelocalvalues/k8s_access_test.go
  roxctl/helm/derivelocalvalues/map_util_test.go
Labels: area/roxctl

#14539 fix(CI): check test image version in sync
  .github/workflows/style.yaml
  scripts/check-image-version.sh
  scripts/ci/jobs/check-image-version.sh
Labels: area/ci

#14554 chore(deps): bump juni2jira to v0.0.24
  .github/actions/junit2jira/action.yaml
  scripts/ci/lib.sh
Labels: area/ci

#14346 ROX-19276: set adhoc roxctl scan semaphore
  pkg/env/max_parallel_scans.go
  sensor/common/scan/scan.go
  sensor/common/scan/scan_test.go
Labels: area/sensor

#14527 ROX-28406: CVE data model loaders and gen
  central/globalindex/mapping/mapping.go
  central/graphql/resolvers/gen/main.go
  central/graphql/resolvers/generated.go
  central/graphql/resolvers/loaders/componentsV2.go
  central/graphql/resolvers/loaders/image_cves_v2.go
Labels: area/central

#13862 ROX-27722: Store 'discovered' entities for each cluster
  central/sensor/service/pipeline/networkflowupdate/factory.go
  central/sensor/service/pipeline/networkflowupdate/flow_store_updater.go
  central/sensor/service/pipeline/networkflowupdate/flow_store_updater_impl.go
  central/sensor/service/pipeline/networkflowupdate/flow_store_updater_impl_test.go
  pkg/networkgraph/entity.go
Labels: area/central

#14524 ROX-28261: pass cluster ID from sensor
  central/image/service/service_impl.go
  pkg/logging/fields.go
  sensor/common/centralclient/grpc_connection.go
  sensor/common/delegatedregistry/delegated_registry_handler.go
  sensor/common/message/message.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/processsignal/pipeline.go
  sensor/common/sensor/central_communication_impl.go
  sensor/common/trace/trace.go
  sensor/kubernetes/eventpipeline/component/message.go
  sensor/kubernetes/eventpipeline/output/output_impl.go
  sensor/kubernetes/eventpipeline/pipeline_impl.go
Labels: area/central, area/sensor

#14442 ROX-28265: Use pod name and enable pyroscope in all components
  compliance/cmd/compliance/main.go
  pkg/env/continuous_profiling.go
  scanner/cmd/scanner/main.go
  sensor/admission-control/main.go
Labels: area/sensor, area/admission-controller, area/scanner

#14575 ROX-28500: scanner/updater: Upload any successful bundle
  .github/workflows/scanner-versioned-definitions-update.yaml
Labels: area/ci, pr-update-scanner-vulns

#14265 perf(k6): add simple grpc test
  tests/performance/load/groups/alerts.js
  tests/performance/load/tests/testSacScopes.js
  tests/performance/tests/proto/googleapis
  tests/performance/tests/proto/stackrox
  tests/performance/tests/testK6Integration.js
Labels: ci-performance-tests

#14509 ROX-28270: move from x/crypto/ssh/terminal to x/term (#12891)
  go.mod
  go.sum
  roxctl/central/db/restore/v2_restorer.go
  roxctl/central/db/transfer/progress_bar.go
  roxctl/central/generate/interactive.go
Labels: area/roxctl, backport

#14576 fix(ci): checkout master before running preamble
  .github/workflows/scanner-versioned-definitions-update.yaml
Labels: area/ci, pr-update-scanner-vulns

#14591 chore(govulncheck): remove fixed stdlib vulns
  govulncheck-allowlist.json
Labels: scan-go-binaries

#14568 chore(upgrade): Bump 4.6 previous version in upgrade test to 4.6.3
  tests/upgrade/postgres_run.sh
Labels: auto-retest

#14587 chore(tests): use testing.TB instead of *testing.T
  central/authprovider/datastore/datastore.go
  central/cluster/datastore/datastore_test_constructors.go
  central/clustercveedge/datastore/datastore.go
  central/complianceoperator/v2/benchmarks/datastore/datastore.go
  central/complianceoperator/v2/integration/datastore/datastore.go
  central/complianceoperator/v2/profiles/datastore/datastore.go
  central/complianceoperator/v2/pruner/pruner.go
  central/complianceoperator/v2/remediations/datastore/datastore.go
  central/complianceoperator/v2/rules/datastore/datastore.go
  central/complianceoperator/v2/scans/datastore/datastore.go
  central/complianceoperator/v2/scansettingbindings/datastore/datastore.go
  central/complianceoperator/v2/suites/datastore/datastore.go
  central/componentcveedge/datastore/datastore.go
  central/cve/cluster/datastore/datastore_test_constructors.go
  central/cve/image/datastore/datastore.go
  central/cve/node/datastore/datastore.go
  central/declarativeconfig/health/datastore/datastore.go
  central/group/datastore/datastore.go
  central/group/datastore/filter/filter_test_constructors.go
  central/hash/datastore/datastore_test_constructors.go
  central/imagecomponent/datastore/datastore.go
  central/imagecomponent/v2/datastore/datastore.go
  central/imagecveedge/datastore/datastore_test_constructors.go
  central/imageintegration/datastore/datastore.go
  central/logimbue/store/singleton.go
  central/namespace/datastore/datastore_test_constructors.go
  central/networkbaseline/datastore/datastore_impl.go
  central/networkbaseline/manager/manager_impl.go
  central/networkbaseline/manager/manager_impl_bench_test.go
  central/networkgraph/entity/datastore/datastore_impl.go
  central/networkpolicies/datastore/datastore.go
  central/nodecomponent/datastore/datastore.go
  central/nodecomponentedge/datastore/datastore_test_constructors.go
  central/notifier/datastore/datastore.go
  central/reports/config/datastore/datastore.go
  central/reports/snapshot/datastore/datastore.go
  central/role/datastore/datastore_test_constructors.go
  central/secret/datastore/datastore.go
  central/serviceaccount/datastore/datastore.go
Labels: area/central

#14505 ROX-28271: use golang.org/x/term instead of crypto/ssh/terminal
  go.mod
  go.sum
  roxctl/central/db/restore/v2_restorer.go
  roxctl/central/db/transfer/progress_bar.go
  roxctl/central/generate/interactive.go
Labels: dependencies, area/roxctl, backport

#14504 chore(deps): bump go-jose
  go.mod
  go.sum
Labels: backport

#14589 chore(CI): notify about top flaky unit tests
  .github/workflows/ci-failures-report.yml
  scripts/ci/metrics.sh
Labels: area/ci

#14572 ROX-28477: Add feature flag for vulnerability ad hoc reports
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui, auto-retest

#14607 chore(rand): add tests to GenerateString
  pkg/random/random.go
  pkg/random/random_test.go
Labels: auto-retest

#13629 ROX-27444: MsgToCollector and MsgFromCollector protobuf definitions
  generated/internalapi/sensor/collector.pb.go
  generated/internalapi/sensor/collector_iservice.pb.go
  generated/internalapi/sensor/collector_iservice_grpc.pb.go
  generated/internalapi/sensor/collector_iservice_vtproto.pb.go
  generated/internalapi/sensor/collector_vtproto.pb.go
  proto/internalapi/sensor/collector.proto
  proto/internalapi/sensor/collector_iservice.proto
Labels: 99papercuts

#14558 ROX-28173: Include custom route swagger specs in API docs
  central/docs/api_custom_routes/README.md
  central/docs/api_custom_routes/imageService.swagger.json
  central/docs/api_custom_routes/imageService.swagger.yaml
  image/rhel/konflux.Dockerfile
  make/protogen.mk
  scripts/mergeswag.sh
Labels: area/central, area/helm, konflux-build

#14525 ROX-28278: bump oauth2 in operator tools
  operator/tools/kuttl/go.mod
  operator/tools/kuttl/go.sum
  operator/tools/operator-sdk/go.mod
  operator/tools/operator-sdk/go.sum
Labels: area/operator, backport

#14478 ROX-27361: cve data model resolvers CVE view
  central/graphql/resolvers/gen/main.go
  central/graphql/resolvers/generated.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_components_v2_postgres_test.go
  central/graphql/resolvers/image_cve_core.go
  central/graphql/resolvers/image_cve_v2_core_test.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/image_vulnerabilities_v2_test.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/resolver.go
  central/graphql/resolvers/test_setup_utils.go
  central/image/datastore/store/v2/postgres/store_test.go
  central/views/imagecve/singleton.go
  central/views/imagecve/view_impl.go
Labels: area/central, area/postgres

#14588 chore(PG): create ScanStrings function
  central/cve/cluster/datastore/store/postgres/full_store.go
  central/image/datastore/store/postgres/store.go
  central/postgres/pruning.go
  migrator/migrations/m_172_to_m_173_network_flows_partition/migration.go
  pkg/postgres/pgadmin/admin_utils.go
  pkg/postgres/pgutils/scan.go
Labels: area/central, area/postgres

#14493 ROX-28324: Delete frontend-only uuid property from delegated scanning
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/Components/DelegatedRegistriesTable.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/DelegateScanningPage.tsx
  ui/apps/platform/src/services/DelegatedRegistryConfigService.ts
Labels: area/ui

#14532 ROX-26504: Add explicit Edit button to delegated image scanning
  ui/apps/platform/cypress/integration/clusters/delegatedScanning.test.js
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/Components/DelegatedRegistriesList.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/Components/DelegatedRegistriesTable.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/Components/DelegatedScanningSettings.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/Components/ToggleDelegatedScanning.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/DelegateScanningPage.tsx
Labels: area/ui

#14633 chore(CI): do not fail connected Go tests
  .github/workflows/unit-tests.yaml
Labels: area/ci

#14631 ROX-27567: terminate sensor connection after Run returns
  central/sensor/service/connection/manager_impl.go
Labels: area/central

#14618 feat(PG): create RunCursorQueryForSchemaFn
  central/alert/datastore/internal/store/postgres/bench_test.go
  pkg/search/postgres/common.go
  pkg/search/postgres/store.go
Labels: area/central, area/postgres, auto-retest

#14570 ROX-28567: use ScanRows in image v2
  central/image/datastore/store/v2/postgres/store.go
Labels: area/central, area/postgres

#14531 ROX-26749: Updated config controller to support more overrides
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/internal/expandables.yaml
  image/templates/helm/stackrox-central/templates/01-central-12-central-db.yaml
  image/templates/helm/stackrox-central/templates/01-central-13-deployment.yaml.htpl
  image/templates/helm/stackrox-central/templates/02-config-controller-02-deployment.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/affinity.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/central.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/host-aliases.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/node-selector.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/priority-class-name.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/resources.test.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/tolerations.test.yaml
Labels: area/helm

#14660 chore(test): refactor a telemetry interceptor test
  central/telemetry/centralclient/interceptors_test.go
Labels: area/central

#14369 ROX-28382: Proto changes for RHSA
  central/cve/image/v2/datastore/store/postgres/store.go
  central/graphql/resolvers/generated.go
  generated/storage/cve.pb.go
  generated/storage/cve_vtproto.pb.go
  pkg/postgres/schema/image_cves_v2.go
  pkg/search/options.go
  proto/storage/cve.proto
  proto/storage/proto.lock
Labels: area/central, area/postgres

#14653 ROX-27001: jenkins plugin campaign
  central/telemetry/centralclient/interceptors.go
Labels: area/central, area/helm

#14662 ROX-28495: Fix typo in Container CPU Limit policy field name
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
Labels: area/ui

#14571 ROX-28253: use RunCursorQueryForSchemaFn in image
  central/image/datastore/store/postgres/store.go
  central/image/datastore/store/v2/postgres/store.go
  central/node/datastore/store/postgres/store.go
Labels: area/central, area/postgres, auto-retest

#14541 ROX-26757: Remove Read-Only Fields From Policy CRD
  config-controller/api/v1alpha1/policy_types.go
  config-controller/api/v1alpha1/policy_types_test.go
  config-controller/config/crd/bases/config.stackrox.io_securitypolicies.yaml
  image/templates/helm/stackrox-central/crds/config.stackrox.io_securitypolicies.yaml
Labels: area/helm

#14611 ROX-28383: Copy rhsa to image cve table
  central/cve/converter/utils/convert_utils_v2.go
  central/image/datastore/store/v2/postgres/store.go
Labels: area/central, area/postgres

#14665 chore(scanner): bump Scanner version
  SCANNER_VERSION
Labels: ci-all-qa-tests, backport

#14676 chore(deps): bump golang.org/x/crypto and golang.org/x/oauth2
  go.mod
  go.sum
  operator/tools/kuttl/go.mod
  operator/tools/kuttl/go.sum
  operator/tools/operator-sdk/go.mod
  operator/tools/operator-sdk/go.sum
  tests/performance/scale/go.mod
  tests/performance/scale/go.sum
  tools/proto/go.mod
  tools/proto/go.sum
  tools/test/go.mod
  tools/test/go.sum
Labels: area/operator, backport

#14675 ROX-28352: Fix scanner-tls secret keys in deployment template
  image/templates/helm/shared/templates/02-scanner-06-deployment.yaml.htpl
  image/templates/helm/shared/templates/02-scanner-v4-07-indexer-deployment.yaml
Labels: area/helm

#12281 ROX-24500: Certificate validation error in `roxctl` is an error
  CHANGELOG.md
  deploy/common/k8sbased.sh
  roxctl/common/tls.go
  tests/e2e/lib.sh
  tests/e2e/run-scanner-v4-install.bats
  tests/e2e/run.sh
  tests/upgrade/lib.sh
  tests/upgrade/postgres_run.sh
Labels: area/roxctl, area/central

#14634 ROX-28294: Collect telemetry for number of admin events
  central/administration/events/datastore/telemetry.go
  central/administration/events/datastore/telemetry_administration_events_test.go
  central/administration/events/testutils/testutils.go
  central/main.go
  pkg/administration/events/domain.go
  pkg/administration/events/hints.go
Labels: area/central

#14684 chore(deps): bump go-jose
  go.mod
  go.sum
Labels: backport

#14632 chore(deps): bump go-jose
  go.mod
  go.sum
Labels: backport

#14671 fix(pg): use pgx.ForEachRows in walker
  central/alert/datastore/internal/store/postgres/bench_test.go
  pkg/search/postgres/common.go
Labels: area/central, area/postgres, auto-retest

#14677 chore(ui): Delete obsolete functions in dateUtils
  ui/apps/platform/src/utils/dateUtils.test.ts
  ui/apps/platform/src/utils/dateUtils.ts
Labels: area/ui

#14661 ROX-28200: Load monaco-editor locally instead of CDN
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
  ui/apps/platform/src/index.tsx
Labels: pls-merge, area/ui, backport release-4.6, backport release-4.7

#14707 chore(deps): replace golang.org/x/crypto for CVE-2025-22869 fix
  go.mod
  go.sum
Labels: backport

#14708 chore(deps): replace golang.org/x/crypto for CVE-2025-22869 fix
  go.mod
  go.sum
Labels: backport

#14696 ROX-28200: Load monaco-editor locally instead of CDN
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
  ui/apps/platform/src/index.tsx
Labels: area/ui, backport

#14697 ROX-28200: Load monaco-editor locally instead of CDN
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
  ui/apps/platform/src/index.tsx
Labels: area/ui, backport

#14711 fix(pg): ScanStrings should call row not rows
  pkg/postgres/pgutils/scan.go
Labels: area/postgres

#14699 chore(scanner): scanner 2.35.4
  SCANNER_VERSION
Labels: ci-all-qa-tests, backport

#14664 chore(scanner): safer TLS settings
  scanner/indexer/indexer.go
  scanner/internal/httputil/transport.go
Labels: area/scanner

#14687 refactor(telemetry): `Bind2nd`, `Len`, `Constant` gatherer helpers
  central/administration/events/datastore/telemetry.go
  central/apitoken/datastore/telemetry.go
  central/auth/datastore/telemetry.go
  central/cloudsources/datastore/telemetry.go
  central/delegatedregistryconfig/datastore/telemetry.go
  central/externalbackups/datastore/telemetry.go
  central/imageintegration/datastore/telemetry.go
  central/notifier/datastore/telemetry.go
  pkg/telemetry/phonehome/gatherer.go
  pkg/telemetry/phonehome/gatherer_test.go
Labels: area/central

#14690 fix(proto): symlink protos instead of copy
  qa-tests-backend/.gitignore
  qa-tests-backend/Makefile
  qa-tests-backend/scripts/copy_scanner_protos.sh
  qa-tests-backend/src/main/proto/api
  qa-tests-backend/src/main/proto/internalapi
  qa-tests-backend/src/main/proto/storage
  qa-tests-backend/src/main/proto/test
  qa-tests-backend/src/main/proto/tools
Labels: auto-retest

#14495 ROX-26676: Fix Issue With Category Name Casing
  central/policy/datastore/datastore_impl.go
  central/policy/datastore/datastore_impl_postgres_test.go
  central/policy/datastore/singleton.go
  central/policy/service/service_impl_postgres_test.go
  central/policy/store/mocks/store.go
  central/policy/store/store.go
  central/policycategory/datastore/datastore_impl.go
  central/policycategory/datastore/datastore_impl_test.go
  central/search/service/service_impl_test.go
  config-controller/internal/controller/policy_controller.go
Labels: area/central, auto-retest

#14620 chore(qa): compile static on services
  qa-tests-backend/src/main/groovy/services/ImageIntegrationService.groovy
  qa-tests-backend/src/main/groovy/services/IntegrationHealthService.groovy
  qa-tests-backend/src/main/groovy/services/MetadataService.groovy
  qa-tests-backend/src/main/groovy/services/NamespaceService.groovy
  qa-tests-backend/src/main/groovy/services/NetworkBaselineService.groovy
  qa-tests-backend/src/main/groovy/services/NetworkGraphService.groovy
  qa-tests-backend/src/main/groovy/services/NetworkPolicyService.groovy
  qa-tests-backend/src/main/groovy/services/NodeService.groovy
  qa-tests-backend/src/main/groovy/services/NotifierService.groovy
  qa-tests-backend/src/main/groovy/services/PolicyCategoryService.groovy
  qa-tests-backend/src/main/groovy/services/ProcessBaselineService.groovy
  qa-tests-backend/src/main/groovy/services/ProcessService.groovy
  qa-tests-backend/src/main/groovy/services/ProcessesListeningOnPortsService.groovy
  qa-tests-backend/src/main/groovy/services/RoleService.groovy
  qa-tests-backend/src/main/groovy/services/SearchService.groovy
  qa-tests-backend/src/main/groovy/services/SecretService.groovy
  qa-tests-backend/src/main/groovy/services/SensorUpgradeService.groovy
  qa-tests-backend/src/main/groovy/services/ServiceAccountService.groovy
  qa-tests-backend/src/main/groovy/services/SignatureIntegrationService.groovy
  qa-tests-backend/src/main/groovy/services/VulnReportService.groovy
  qa-tests-backend/src/main/groovy/services/VulnRequestService.groovy
  qa-tests-backend/src/main/groovy/util/Helpers.groovy
Labels: auto-retest

#14693 chore(ui): Enable one retry for Cypress tests
  ui/apps/platform/cypress.config.js
Labels: area/ui

#14716 ROX-26692: Updates http-proxy-middleware to latest
  ui/apps/platform/package-lock.json
Labels: area/ui, do-not-merge/work-in-progress, backport release-4.6, backport release-4.7

#14574 ROX-28479: Add external IPs to fake workload generation
  sensor/kubernetes/fake/flows.go
  sensor/kubernetes/fake/flows_test.go
Labels: area/sensor

#14714 ROX-28598: Hide Configuration Management if only Alert resource
  ui/apps/platform/src/routePaths.ts
Labels: area/ui

#14737 ROX-27838: Override npm peer depenency conflicts / 4.7
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui, backport

#14740 ROX-27838: Override npm peer depenency conflicts / 4.6
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui, backport

#14727 feat(pg): increase cursor batch size
  pkg/search/postgres/common.go
  pkg/search/postgres/store.go
Labels: area/postgres, auto-retest

#14717 ROX-28599: Conditionally render on Configuration Management dashboard
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/Header/Header.js
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/Page.js
Labels: area/ui

#14735 ROX-28422: Signature integrations metrics: certs and keys totals
  central/signatureintegration/datastore/telemetry.go
  central/signatureintegration/datastore/telemetry_test.go
Labels: area/central

#14744 ROX-28680: Remove TopNav test from compatibility tests
  qa-tests-backend/src/test/groovy/SummaryTest.groovy
Labels: backport

#14764 ROX-28707: Add Button-LinkShim-href lint rule
  ui/apps/platform/eslint-plugins/pluginGeneric.js
Labels: area/ui

#14768 ROX-27255: increase junit2jira threshold
  scripts/ci/lib.sh
Labels: auto-retest

#14642 ROX-28390: Fix race condition in TLS issuer
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer.go
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer_test.go
Labels: area/sensor

#14765 fix(ROX-28658): retry all Jira operations (#191)
  .github/workflows/scripts/prepare-upgrade-test.sh
Labels: area/ci

#14590 ROX-27124: Expose Policy as Code Metrics
  central/metrics/central.go
  central/metrics/init.go
  central/policy/datastore/datastore.go
  central/policy/datastore/datastore_impl.go
  central/policy/datastore/datastore_impl_postgres_test.go
  central/policy/datastore/datastore_impl_test.go
  central/policy/datastore/mocks/datastore.go
  central/policy/datastore/singleton.go
  central/policy/service/service_impl.go
Labels: area/central, area/postgres

#14773 ROX-28716: Added "Days Since CVE Was Published" policy criterion
  CHANGELOG.md
  pkg/booleanpolicy/default_policies_test.go
  pkg/booleanpolicy/field_metadata.go
  pkg/booleanpolicy/fieldnames/list.go
  pkg/booleanpolicy/violationmessages/printer.go
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
Labels: area/ui

#14793 ROX-28733: Upgrade TypeScript 5.8.2
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/Clusters/Components/HelmValueWarning.tsx
  ui/apps/platform/src/react-app-env.d.ts
Labels: area/ui

#14745 chore(roxctl): Fix and test some `roxctl` usage strings
  roxctl/central/debug/debug.go
  roxctl/central/initbundles/initbundles.go
  roxctl/declarativeconfig/create/auth_provider.go
  roxctl/maincommand/command_test.go
  roxctl/netpol/connectivity/connectivity.go
Labels: area/roxctl

#14806 chore: run go mod tidy in tools and tests modules
  operator/tools/controller-gen/go.mod
  operator/tools/yq/go.mod
  tests/performance/scale/go.mod
  tools/test/go.mod
Labels: area/operator

#14736 ROX-28679: Roxctl central generate ignoring --output-dir in OutputZip
  roxctl/central/generate/generate.go
  roxctl/central/generate/generate_test.go
  roxctl/central/generate/k8s.go
  roxctl/central/generate/volumes.go
  roxctl/common/flags/annotations.go
Labels: area/roxctl

#14799 chore(roxctl): Do not retry on permission denied error
  roxctl/common/client.go
  roxctl/common/tls.go
Labels: area/roxctl

#14791 ROX-28715: Improve consistency of delegated image scanning
  ui/apps/platform/cypress/integration/clusters/delegatedScanning.test.js
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/Components/DelegatedRegistriesList.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/Components/DelegatedScanningSettings.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/Components/ToggleDelegatedScanning.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/DelegateScanningPage.tsx
Labels: area/ui

#14808 ROX-28741: Update ESLint 9.23.0
  ui/apps/platform/eslint.config.js
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui

#14767 Removed functions related to using graphql to query report data
  central/reports/scheduler/v2/reportgenerator/consts.go
  central/reports/scheduler/v2/reportgenerator/report_gen_bench_test.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl_test.go
Labels: area/central

#14817 ROX-28759: Update to latest redoc
  ui/apps/platform/config-overrides.js
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui, backport release-4.6, backport release-4.7
