Repository stackrox/stackrox, pull requests merged in 2025-01, with the labels that each got.

#13661 ROX-2602: Prefactors for tagging support in Konflux
  .github/workflows/release-ci.yaml
  operator/Makefile
  scripts/ci/bats/lib_registry_from_branding.bats
  scripts/ci/bats/lib_release_version_test.bats
  scripts/ci/lib.sh
  scripts/reference/README.md
  scripts/reference/build-quay-operator-bundles.sh
  tests/e2e/run-scanner-v4.bats
Labels: area/operator, area/ci, konflux-build, backport-for-4.6-konflux-release

#13680 ROX-27485: Add comment not to delete source-location LABEL
  image/postgres/konflux.Dockerfile
  image/rhel/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  operator/konflux.Dockerfile
  operator/konflux.bundle.Dockerfile
  scanner/image/db/konflux.Dockerfile
  scanner/image/scanner/konflux.Dockerfile
Labels: area/helm, area/operator, area/postgres, area/scanner, konflux-build

#13684 chore(deps): bump golang.org/x/net
  go.mod
  go.sum
  operator/tools/controller-gen/go.mod
  operator/tools/controller-gen/go.sum
  operator/tools/kuttl/go.mod
  operator/tools/kuttl/go.sum
  operator/tools/operator-sdk/go.mod
  operator/tools/operator-sdk/go.sum
  operator/tools/yq/go.mod
  operator/tools/yq/go.sum
  tests/performance/scale/go.mod
  tests/performance/scale/go.sum
  tools/proto/go.mod
  tools/proto/go.sum
Labels: area/operator, backport

#13683 chore(deps): bump golang.org/x/net version to v0.33.0
  operator/tools/controller-gen/go.mod
  operator/tools/controller-gen/go.sum
  operator/tools/kuttl/go.mod
  operator/tools/kuttl/go.sum
  operator/tools/operator-sdk/go.mod
  operator/tools/operator-sdk/go.sum
  operator/tools/yq/go.mod
  operator/tools/yq/go.sum
  tests/performance/scale/go.mod
  tests/performance/scale/go.sum
  tools/test/go.mod
  tools/test/go.sum
Labels: area/operator

#13644 ROX-27392: workload CVE dynamic base url
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Image/VulnMgmtImageOverview.js
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/DeploymentResourceTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/WorkloadCVEOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCveViewContext.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageNameLink.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/searchUtils.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/searchUtils.tsx
Labels: area/ui

#13643 chore(ui): Replace apostrophe for contraction or possession
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviderForm.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterDeployment.tsx
  ui/apps/platform/src/Containers/SystemHealth/UsageStatistics/ShowAdministrationUsage.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/ContainerConfiguration.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/PortConfiguration.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/SecurityContext.tsx
  ui/apps/platform/src/messages/vulnMgmt.messages.ts
Labels: area/ui

#13622 ROX-27419: Refactor walk by function
  central/complianceoperator/v2/report/manager/generator/mocks/report_gen.go
  central/complianceoperator/v2/report/manager/generator/report_gen.go
  central/complianceoperator/v2/report/manager/generator/report_gen_impl.go
  central/complianceoperator/v2/report/manager/generator/report_gen_impl_test.go
  central/complianceoperator/v2/report/manager/utils/results_aggregator.go
  central/complianceoperator/v2/report/manager/utils/results_aggregator_test.go
  central/complianceoperator/v2/report/result.go
Labels: team/maple, area/central

#13689 chore(deps): bump golang.org/x/net
  go.mod
  go.sum
  operator/tools/controller-gen/go.mod
  operator/tools/controller-gen/go.sum
  operator/tools/kuttl/go.mod
  operator/tools/kuttl/go.sum
  operator/tools/operator-sdk/go.mod
  operator/tools/operator-sdk/go.sum
  operator/tools/yq/go.mod
  operator/tools/yq/go.sum
  tests/performance/scale/go.mod
  tests/performance/scale/go.sum
  tools/proto/go.mod
  tools/proto/go.sum
  tools/test/go.mod
  tools/test/go.sum
Labels: area/operator, backport

#13694 ROX-26026: Matrixize more jobs in `.github/workflow/build.yaml`
  .github/workflows/build.yaml
Labels: area/ci, ci-build-prerelease, ci-build-race-condition-debug, scan-go-binaries, ci-build-all-arch, backport-for-4.6-konflux-release, scan-images-with-roxctl

#13685 docs: Update Changelog
  CHANGELOG.md
Labels: backport

#13703 ROX-27300: fix a flake in the `pkg/logger` unit test
  central/main.go
  pkg/logging/logging_test.go
Labels: area/central

#13708 chore(govulncheck): ignore GO-2024-3105,GO-2024-3106,GO-2024-3107
  govulncheck-allowlist.json
Labels: scan-go-binaries

#13709 chore(deps): Bump github.com/go-git/go-git/v5 to v5.13.1
  go.mod
  go.sum
  operator/tools/operator-sdk/go.mod
  operator/tools/operator-sdk/go.sum
  tests/performance/scale/go.mod
  tests/performance/scale/go.sum
Labels: area/operator

#13695 ROX-26026: Introduce `registry` to Scanner build matrix
  .github/workflows/scanner-build.yaml
  scripts/ci/lib.sh
Labels: area/ci, ci-build-prerelease, ci-build-race-condition-debug, ci-build-all-arch, backport-for-4.6-konflux-release, scan-images-with-roxctl

#13712 chore(govulncheck): ignore GO-2022-0635
  govulncheck-allowlist.json
Labels: scan-go-binaries

#13732 fix(scanner): Fix -ldflags in scanner's Makefile
  scanner/Makefile
  scanner/cmd/scanner/main.go
Labels: area/scanner

#13729 chore(deps): bump go-git to 5.13
  go.mod
  go.sum
  operator/tools/operator-sdk/go.mod
  operator/tools/operator-sdk/go.sum
  tests/performance/scale/go.mod
  tests/performance/scale/go.sum
Labels: area/operator, backport

#13728 chore(deps): bump go-git to 5.13
  go.mod
  go.sum
  operator/tools/operator-sdk/go.mod
  operator/tools/operator-sdk/go.sum
  tests/performance/scale/go.mod
  tests/performance/scale/go.sum
Labels: area/operator, backport

#13727 chore(deps): bump go-git to 5.13
  go.mod
  go.sum
  operator/tools/operator-sdk/go.mod
  operator/tools/operator-sdk/go.sum
  tests/performance/scale/go.mod
  tests/performance/scale/go.sum
Labels: area/operator, backport

#13724 ROX-27276: violations platform components links
  ui/apps/platform/src/Containers/Violations/Details/Deployment/ContainerConfiguration.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/ContainerConfigurationDescriptionList.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/ContainerImage.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/DeploymentOverview.tsx
  ui/apps/platform/src/types/deployment.proto.ts
Labels: area/ui

#13750 ROX-22480: Move endpoint auth announcement to correct section
  CHANGELOG.md
Labels: area/central

#12937 ROX-27212: Add a "version" identifier for CRS for future proofness
  central/clusterinit/backend/backend.go
  central/clusterinit/backend/backend_impl.go
  central/clusterinit/backend/backend_test.go
Labels: area/central

#13735 chore(deps): bump github.com/golang-jwt/jwt/v4 from 4.5.0 to 4.5.1
  go.mod
  go.sum
Labels: backport

#13642 chore(ui): Replace apostrophe in policyCriteriaDescriptors
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
Labels: area/ui

#12530 chore(ci): rename scanner-v4-tests to scanner-v4-install-tests
  .openshift-ci/begin.sh
  .openshift-ci/ci_tests.py
  scripts/ci/jobs/gke_scanner_v4_install_tests.py
  scripts/ci/jobs/ocp_scanner_v4_install_tests.py
  tests/e2e/run-scanner-v4-install.bats
  tests/e2e/run-scanner-v4-install.sh
Labels: area/ci

#13367 ROX-25982: claircore v1.5.34
  CHANGELOG.md
  go.mod
  go.sum
  pkg/scannerv4/mappers/mappers.go
  pkg/scannerv4/mappers/mappers_test.go
  scanner/updater/export.go
Labels: area/scanner, pr-update-scanner-vulns

#13568 ROX-27517: TLS certificate init container refactoring
  image/templates/helm/shared/templates/02-scanner-06-deployment.yaml.htpl
  image/templates/helm/shared/templates/02-scanner-v4-07-db-deployment.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-indexer-deployment.yaml
  image/templates/helm/stackrox-secured-cluster/templates/_init-tls-certs.tpl
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
Labels: area/helm

#13745 chore: Kill `Java` mentions from Konflux pipelines
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Labels: backport-for-4.6-konflux-release

#13757 ROX-24530: let Konflux images expire after 13w
  .tekton/central-db-build.yaml
  .tekton/main-build.yaml
  .tekton/operator-build.yaml
  .tekton/operator-bundle-build.yaml
  .tekton/roxctl-build.yaml
  .tekton/scanner-v4-build.yaml
  .tekton/scanner-v4-db-build.yaml
Labels: backport-for-4.6-konflux-release

#13634 ROX-27200: Support left join in searches
  central/views/imagecve/view_test.go
  pkg/search/postgres/common.go
  pkg/search/postgres/common_test.go
  pkg/search/postgres/joins.go
  pkg/search/postgres/joins_test.go
  pkg/search/postgres/select.go
Labels: area/central, area/postgres

#13720 fix(ROX-17632): publish v2 API docs to OpenShift mirror bucket
  scripts/ci/artifacts-publish/prepare-openapispec.sh
Labels: backport release-4.4, backport release-4.5, backport release-4.6

#13656 ROX-27347: Fix for new rep job failing because previous rep is in a p…
  central/reports/scheduler/v2/scheduler_impl.go
Labels: area/central

#13761 ROX-27350: Switch `retag-image` task to the one in our bundle
  .tekton/retag-image-task.yaml
  .tekton/retag-pipeline.yaml
Labels: backport-for-4.6-konflux-release

#13749 ROX-27596: enables storage of external ips by default
  CHANGELOG.md
  central/sensor/service/pipeline/networkflowupdate/flow_store_updater_impl_test.go
  pkg/features/list.go
Labels: area/central

#13754 chore(ui): Add link fixes for NS view and VM dashboard image page
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Image/VulnMgmtImageOverview.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/DeploymentFilterLink.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/NamespaceView/NamespaceViewPage.tsx
Labels: area/ui

#13726 feat(ui): Minor tweaks to SBOM API and UI
  central/image/service/http_handler.go
  central/image/service/http_handler_test.go
  ui/apps/platform/src/Components/ReportJob/ReportJobsTable.tsx
  ui/apps/platform/src/Components/ReportJob/utils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/GenerateSbomModal.tsx
  ui/apps/platform/src/services/DownloadService.js
  ui/apps/platform/src/services/ImageSbomService.ts
  ui/apps/platform/src/utils/fileUtils.ts
Labels: area/central, area/ui

#13767 ROX-27616: Fix microsoft typo on integrations page
  ui/apps/platform/src/Containers/Integrations/utils/integrationsList.ts
Labels: area/ui

#13637 ROX-26819: Add partial reporting to compliance
  ui/apps/platform/src/Components/ReportJob/JobStatusPopoverContent.tsx
  ui/apps/platform/src/Components/ReportJob/MyLastJobStatus.tsx
  ui/apps/platform/src/Components/ReportJob/PartialReportModal.tsx
  ui/apps/platform/src/Components/ReportJob/ReportJobStatus.test.tsx
  ui/apps/platform/src/Components/ReportJob/ReportJobStatus.tsx
  ui/apps/platform/src/Components/ReportJob/ReportJobsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportRunStatesFilter.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobs.tsx
  ui/apps/platform/src/hooks/useAnalytics.ts
  ui/apps/platform/src/types/reportJob.ts
Labels: area/ui, epic/compliance-2.0/reporting

#13766 ROX-27279: Disable SBOM Generation UI when image has scan notes
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageScanningIncompleteLabelLayout.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/GenerateSbomModal.tsx
Labels: area/ui

#13764 ROX-27604: Add support for inactive images in User Workloads view
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesPage.tsx
Labels: area/ui

#13755 ROX-27588: Fix compliance report jobs filtering
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportJobStatusFilter.test.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportJobStatusFilter.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportJobs.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportRunStatesFilter.tsx
  ui/apps/platform/src/hooks/useAnalytics.ts
Labels: area/ui, epic/compliance-2.0/reporting

#13608 ROX-26734: Improvements to CollectorConfig protobuf definitions
  generated/internalapi/sensor/collector.pb.go
  generated/internalapi/sensor/collector_vtproto.pb.go
  proto/internalapi/sensor/collector.proto
Labels: area/central, area/ui, area/helm, area/operator, area/sensor, area/postgres, area/scanner, area/ci

#13776 perf: index deployments by risk score for main dashboard
  generated/storage/deployment.pb.go
  pkg/postgres/schema/deployments.go
  proto/storage/deployment.proto
Labels: area/postgres

#13801 ROX-25845: Bump collector with latest fixes
  COLLECTOR_VERSION
Labels: ci-all-qa-tests, backport

#13775 Update CHANGELOG.md for 4.6.2
  CHANGELOG.md
Labels: backport

#13798 doc: Fixed two README.md quickstart errors
  README.md
Labels: ok-to-test, external-contributor

#13789 ROX-26877: Add EPSS column without GraphQL data
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/WorkloadCVEOverviewTable.tsx
Labels: area/ui

#13652 ROX-26738: Refactor send function
  central/complianceoperator/v2/report/errors.go
  central/complianceoperator/v2/report/manager/format/email_formatter.go
  central/complianceoperator/v2/report/manager/format/email_formatter_test.go
  central/complianceoperator/v2/report/manager/format/mocks/email_formatter.go
  central/complianceoperator/v2/report/manager/generator/consts.go
  central/complianceoperator/v2/report/manager/generator/mocks/report_gen.go
  central/complianceoperator/v2/report/manager/generator/report_gen.go
  central/complianceoperator/v2/report/manager/generator/report_gen_impl.go
  central/complianceoperator/v2/report/manager/generator/report_gen_impl_test.go
  central/complianceoperator/v2/report/manager/helpers/snapshot.go
  central/complianceoperator/v2/report/manager/manager_impl.go
  central/complianceoperator/v2/report/manager/results/results_aggregator.go
  central/complianceoperator/v2/report/manager/results/results_aggregator_test.go
  central/complianceoperator/v2/report/manager/sender/async_response_handler.go
  central/complianceoperator/v2/report/manager/sender/async_response_handler_test.go
  central/complianceoperator/v2/report/manager/sender/sender.go
  central/complianceoperator/v2/report/manager/sender/sender_test.go
Labels: area/central

#13713 ROX-27527: Proto changes EPSS
  central/cve/cluster/datastore/store/postgres/store.go
  central/cve/image/datastore/store/postgres/store.go
  central/cve/node/datastore/store/postgres/store.go
  central/graphql/resolvers/generated.go
  central/image/datastore/store/postgres/store_test.go
  generated/api/v1/image_service.swagger.json
  generated/api/v1/node_service.swagger.json
  generated/api/v1/vuln_mgmt_service.swagger.json
  generated/storage/cve.pb.go
  generated/storage/cve_vtproto.pb.go
  generated/storage/vulnerability.pb.go
  generated/storage/vulnerability_vtproto.pb.go
  pkg/nodes/converter/convert_utils_test.go
  pkg/postgres/schema/cluster_cves.go
  pkg/postgres/schema/image_cves.go
  pkg/postgres/schema/node_cves.go
  pkg/search/options.go
  proto/storage/cve.proto
  proto/storage/proto.lock
  proto/storage/vulnerability.proto
  tests/options_test.go
Labels: area/central, area/postgres

#13753 tests: add SAC test to graphQL image resolver
  central/graphql/resolvers/images_test.go
  central/graphql/resolvers/test_utils.go
Labels: area/central

#13714 ROX-27418: bump sleep time
  pkg/k8scfgwatch/cfg_watcher_test.go
Labels: area/ui

#13806 ROX-27420: Add EPSS probability checkbox to Vulnerability Report
  ui/apps/platform/src/Components/ReportJob/MyLastJobStatus.test.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/ReportParametersDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportParametersForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/useReportFormValues.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.ts
  ui/apps/platform/src/services/ReportsService.types.ts
Labels: area/ui

#13363 ROX-27279: Support sorting images by CVE severity counts in VM
  central/graphql/handler/handler_benchmark_test.go
  central/graphql/resolvers/deployments_test.go
  central/graphql/resolvers/image_components_postgres_test.go
  central/graphql/resolvers/image_scan_benchmark_test.go
  central/graphql/resolvers/image_scan_test.go
  central/graphql/resolvers/image_vulnerabilities_test.go
  central/graphql/resolvers/images_test.go
  central/graphql/resolvers/loaders/images.go
  central/graphql/resolvers/loaders/images_test.go
  central/graphql/resolvers/search_test.go
  central/graphql/resolvers/test_setup_utils.go
  central/reports/scheduler/v2/reportgenerator/report_gen_bench_test.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl_test.go
  central/reports/scheduler/vuln_report_collections_test.go
  central/testutils/export.go
  central/views/common/db_response.go
  central/views/common/queries.go
  central/views/imagecve/db_response.go
  central/views/imagecve/view_impl.go
  central/views/imagecve/view_test.go
  central/views/images/db_response.go
  central/views/images/mocks/types.go
  central/views/images/singleton.go
  central/views/images/types.go
  central/views/images/view_impl.go
  central/views/images/view_test.go
  pkg/search/postgres/common.go
  pkg/search/postgres/select.go
Labels: area/central, area/postgres

#13239 ROX-25946, ROX-25947: New cluster registration logic
  central/cluster/datastore/datastore_impl.go
  central/clusterinit/backend/backend.go
  central/clusterinit/backend/backend_impl.go
  central/clusterinit/backend/backend_test.go
  central/clusterinit/backend/render.go
  central/installation/store/mocks/store.go
  central/installation/store/store.go
  central/sensor/service/service_impl.go
  central/sensor/service/service_impl_test.go
  generated/api/v1/cluster_service.swagger.json
  generated/storage/cluster.pb.go
  pkg/centralsensor/caps_list.go
  pkg/centralsensor/init_cert.go
  pkg/crs/crs.go
  pkg/crs/env.go
  pkg/grpc/authz/idcheck/id_check.go
  pkg/maputils/convert.go
  pkg/protoconv/certs/testdata/Makefile
  pkg/protoconv/certs/testdata/README.md
  pkg/protoconv/certs/testdata/bogus-cert.pem
  pkg/protoconv/certs/testdata/ca-cert.pem
  pkg/protoconv/certs/testdata/collector-cert.pem
  pkg/protoconv/certs/testdata/collector-key.pem
  pkg/protoconv/certs/testdata/sensor-cert.pem
  pkg/protoconv/certs/testdata/sensor-key.pem
  pkg/protoconv/certs/typed_service_certificates.go
  pkg/protoconv/certs/typed_service_certificates_test.go
  pkg/services/convert.go
  proto/storage/cluster.proto
  sensor/common/sensor/central_communication_impl.go
  sensor/kubernetes/certrefresh/sensor_owner_ref.go
  sensor/kubernetes/certrefresh/tls_issuer_common.go
  sensor/kubernetes/crs/crs.go
  sensor/kubernetes/helm/helm_managed_config.go
  sensor/kubernetes/main.go
  sensor/kubernetes/sensor/deployment_identification.go
  sensor/kubernetes/sensor/sensor.go
Labels: area/central, area/sensor

#13824 ROX-27688: Use single-line JSON in generic notifier
  central/notifiers/generic/generic.go
  central/notifiers/generic/generic_test.go
Labels: area/central, backport release-4.6

#12713 ROX-25944: CRS Support in Helm Chart
  CHANGELOG.md
  deploy/common/k8sbased.sh
  image/templates/helm/stackrox-secured-cluster/README.md.htpl
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/templates/NOTES.txt.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/cluster-registration-secret.yaml
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
  pkg/helm/charts/tests/securedclusterservices/base_suite_test.go
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/crs.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/init-bundle.test.yaml
  scripts/ci/jobs/gke_nongroovy_e2e_tests.py
  scripts/ci/jobs/ocp_nongroovy_e2e_tests.py
  tests/e2e/run-scanner-v4-install.bats
Labels: area/roxctl, area/central, area/helm, area/sensor

#13787 ROX-27643: External IPs feature flag for the UI
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#13706 ROX-27147: SBOM roxctl support
  central/image/service/http_handler.go
  central/image/service/http_handler_test.go
  pkg/apiparams/policy.go
  roxctl/image/image.go
  roxctl/image/sbom/sbom.go
  roxctl/image/sbom/sbom_test.go
  roxctl/image/scan/scan.go
Labels: area/roxctl, area/central

#13547 ROX-24541: Enrich image to get sbom
  central/image/service/http_handler.go
  central/image/service/http_handler_test.go
  central/main.go
  pkg/images/enricher/enricher.go
  pkg/images/enricher/enricher_impl.go
  pkg/images/enricher/enricher_impl_test.go
  pkg/scanners/scannerv4/scannerv4.go
  pkg/scanners/types/mocks/types.go
  pkg/scanners/types/types.go
  pkg/scannerv4/client/client.go
  pkg/scannerv4/client/mocks/client.go
Labels: area/central, area/sensor

#13741 ROX-27147: Roxctl SBOM HTTP API errors and http client config
  roxctl/central/login/login.go
  roxctl/central/login/login_test.go
  roxctl/central/m2m/exchange/exchange.go
  roxctl/central/m2m/exchange/exchange_test.go
  roxctl/common/client.go
  roxctl/common/client_options.go
  roxctl/common/client_options_test.go
  roxctl/common/environment/auth_config.go
  roxctl/common/environment/auth_config_test.go
  roxctl/common/environment/environment-impl.go
  roxctl/common/environment/environment.go
  roxctl/common/environment/mocks/environment.go
  roxctl/image/sbom/sbom.go
  roxctl/image/sbom/sbom_test.go
Labels: area/roxctl

#13545 ROX-25945: CRS Support for Operator
  image/templates/helm/stackrox-secured-cluster/templates/NOTES.txt.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/cluster-registration-secret.yaml
  operator/internal/securedcluster/values/translation/base-values.yaml
  operator/internal/securedcluster/values/translation/translation.go
  operator/tests/common/crs-assert.yaml
  operator/tests/common/crs-fetch.yaml
  operator/tests/securedcluster/sc-basic/007-assert-crs.yaml
  operator/tests/securedcluster/sc-basic/007-assert-init-bundle.yaml
  operator/tests/securedcluster/sc-basic/007-fetch-bundle.yaml
  operator/tests/securedcluster/sc-basic/007-fetch-crs.yaml
  pkg/crs/crs.go
Labels: area/central, area/helm, area/operator, area/sensor

#13841 fix(CI): retry scanner images builds
  .github/workflows/scanner-build.yaml
Labels: area/ci, auto-retest

#13808 ROX-27647: Split exception management CVE table into tabs
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/cancelRequestFlow.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ExceptionRequestDetailsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/hooks/useRequestCVEsDetails.ts
Labels: area/ui

#13852 chore: Update SCANNER_VERSION
  SCANNER_VERSION
Labels: ci-all-qa-tests, backport

#13817 ROX-25845: bump collector 4.5.6
  COLLECTOR_VERSION
Labels: ci-all-qa-tests, backport

#13858 fix(debug): Copy trace map to avoid concurrency races
  sensor/common/clusterentities/debug.go
Labels: team/maple, area/sensor

#13752 ROX-27637: proto change to include EPSS
  generated/internalapi/scanner/v4/vulnerability_report.pb.go
  generated/internalapi/scanner/v4/vulnerability_report_vtproto.pb.go
  proto/internalapi/scanner/v4/vulnerability_report.proto
  scanner/decisions/0014-epss-score.md
Labels: area/scanner

#13821 chore(cleanup): remove write-only search result field
  central/rbac/service/list_subjects_test.go
  pkg/search/result.go
Labels: area/central

#13865 chore: run unit test without pg requirement
  pkg/search/postgres/common_test.go
Labels: area/postgres

#13799 tests: add tests for postgres Count queries
  pkg/search/postgres/common_test.go
  pkg/search/postgres/joins.go
Labels: area/postgres

#13884 chore(CI): skip coverage uplaod for UI tests
  .github/workflows/unit-tests.yaml
Labels: area/ci

#13650 ROX-27014: Cert refresh testing cleanup - extract verifySecrets
  sensor/kubernetes/certrefresh/localscanner_tls_issuer_test.go
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer_test.go
  sensor/kubernetes/certrefresh/tls_issuer_common_test.go
Labels: area/sensor

#13892 ROX-27741: Add formatEpssProbabilityAsPercent function
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/WorkloadCVEOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/table.utils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/components/CvePageHeader.cy.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/CvePageHeader.tsx
Labels: area/ui

#13860 ROX-27478: Add retry for Autocomplete SACTest
  qa-tests-backend/src/test/groovy/SACTest.groovy
Labels: auto-retest

#13893 fix: Revert "chore: Enable platform CVE split feature flag (#13788)"
  pkg/features/list.go
Labels: pls-merge

#13897 chore(scanner): Bump Scanner 2.34.3
  SCANNER_VERSION
Labels: ci-all-qa-tests, backport

#13883 fix(s3-compatible): Validate checksum only if required
  central/externalbackups/plugins/s3compatible/s3compatible.go
  go.mod
  go.sum
Labels: ci-all-qa-tests, area/central

#13905 ROX-27711: Remove empty cluster page button text assertion
  ui/apps/platform/cypress/integration/clusters/redirectFromDashboard.test.js
Labels: area/ui

#13762 ROX-27601: Telemetry campaign config
  central/telemetry/centralclient/instance_config.go
  central/telemetry/centralclient/instance_config_test.go
  central/telemetry/centralclient/interceptors.go
  central/telemetry/centralclient/interceptors_test.go
  go.mod
  pkg/telemetry/phonehome/campaign.go
  pkg/telemetry/phonehome/campaign_test.go
  pkg/telemetry/phonehome/glob_pattern.go
  pkg/telemetry/phonehome/interceptor.go
  pkg/telemetry/phonehome/interceptor_test.go
  pkg/telemetry/phonehome/request_params.go
  pkg/telemetry/phonehome/request_params_test.go
  pkg/telemetry/phonehome/runtime_config.go
  pkg/telemetry/phonehome/runtime_config_test.go
Labels: area/central

#13805 ROX-27697: update postgres defaults
  image/templates/helm/stackrox-central/config/centraldb/postgresql.conf.default
Labels: area/helm

#13686 ROX-25625: Add OCI-based node scanning for RHCOS package
  CHANGELOG.md
  sensor/common/compliance/node_inventory_handler.go
  sensor/common/compliance/node_inventory_handler_impl.go
  sensor/common/compliance/node_inventory_handler_test.go
  sensor/common/compliance/node_matcher.go
  sensor/kubernetes/sensor/sensor.go
Labels: area/sensor, area/scanner, turbo-build

#13851 ROX-27530: Update external entities side panel
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalEntitiesSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalFlowsTable.tsx
Labels: area/ui

#13827 ROX-27728: Copy epss probability column values
  central/cve/converter/utils/convert_utils.go
  central/image/datastore/store/postgres/store.go
  central/image/datastore/store/postgres/store_test.go
Labels: area/central

#13926 feat(helm): support admission control failurePolicy configuration
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/internal/defaults/30-base-config.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
  image/templates/helm/stackrox-secured-cluster/values-public.yaml.example
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/admission-control.test.yaml
Labels: area/helm

#13778 ROX-26659: Adding 'active' parameter to alert datastore/searcher
  central/alert/datastore/bench_postgres_test.go
  central/alert/datastore/datastore.go
  central/alert/datastore/datastore_impl.go
  central/alert/datastore/datastore_sac_test.go
  central/alert/datastore/datastore_test.go
  central/alert/datastore/internal/search/mocks/searcher.go
  central/alert/datastore/internal/search/searcher.go
  central/alert/datastore/internal/search/searcher_impl.go
  central/alert/datastore/internal/search/searcher_postgres_test.go
  central/alert/datastore/mocks/datastore.go
  central/alert/service/service_impl.go
  central/alert/service/service_test.go
  central/cluster/datastore/datastore_impl.go
  central/compliance/data/repository.go
  central/detection/alertmanager/alert_manager_impl.go
  central/detection/alertmanager/alert_manager_impl_test.go
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/deploymentevents.go
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/policies.go
  central/graphql/resolvers/search.go
  central/graphql/resolvers/violations.go
  central/graphql/resolvers/vul_mgmt_widgets.go
  central/platform/reprocessor/reprocessor_impl_test.go
  central/pruning/pruning_test.go
  central/risk/getters/alert.go
  central/risk/getters/alert_mock.go
  central/risk/multipliers/deployment/violations.go
  central/search/service/service_impl.go
  central/splunk/violations.go
Labels: area/central, area/postgres

#13003 ROX-26574: Sort images table by cve severity count
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageResources.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/sortUtils.tsx
Labels: area/ui

#13705 chore(ui): Remove ROX_VULN_MGMT_WORKLOAD_CVES feature flag
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/deployments_test.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_components_postgres_test.go
  central/graphql/resolvers/image_cve_core.go
  central/graphql/resolvers/image_cve_core_test.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/images_test.go
  central/graphql/resolvers/resolver.go
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/approveRequestFlow.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/approvedDeferralsTable.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/approvedFalsePositivesTable.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/cancelRequestFlow.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/deniedRequestsTable.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/denyRequestFlow.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/general.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/pendingRequestsTable.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/requestDetails.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/exceptionManagement/updateRequestFlow.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/cveListExceptionFlow.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/deploymentSingle.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageCveListExceptionFlow.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageCveSingle.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageSingle.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/watchedImagesFlow.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.ts
  ui/apps/platform/src/routePaths.ts
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/central, area/ui

#13946 ROX-27230: Set image flavor for Konflux builds to `rhacs`
  image/rhel/konflux.Dockerfile
  operator/konflux.Dockerfile
Labels: area/helm, area/operator, konflux-build, backport-for-4.6-konflux-release

#13934 fix(PG): optimize enum queries
  pkg/search/postgres/common_test.go
  pkg/search/postgres/query/enum_query.go
  pkg/search/postgres/query/enum_query_test.go
  pkg/search/postgres/select_query_test.go
Labels: area/postgres, auto-retest

#13936 chore(PG): cleanup SAC filter generator
  pkg/sac/query_helper.go
Labels: area/auth

#13962 chore(PG): remove verbose SAC filter
  central/node/datastore/store/postgres/store.go
  central/node/datastore/store/postgres/store_test.go
  pkg/sac/query_helper.go
  pkg/sac/query_helper_test.go
  pkg/sac/query_testutils.go
Labels: area/auth, area/central, auto-retest

#13942 fix(ci): build for a specific commit
  .github/workflows/build.yaml
Labels: area/ci

#13918 chore(golangci): replace exportloopref with copyloopvar
  .golangci.yml
  central/complianceoperator/v2/report/manager/generator/report_gen_impl_test.go
  central/cve/converter/utils/convert_utils_test.go
  central/networkgraph/entity/datastore/datastore_impl_test.go
  central/networkpolicies/service/service_impl_test.go
  central/reprocessor/reprocessor_unit_test.go
  central/sac/authorizer/builtin_scoped_authorizer_test.go
  central/sensor/service/pipeline/nodeindex/three_pipelines_test.go
  central/sensor/service/pipeline/nodeinventory/pipeline_test.go
  central/sensor/service/pipeline/nodeinventory/two_pipelines_test.go
  central/sensor/service/pipeline/nodes/pipeline_test.go
  migrator/clone/clone_test.go
  operator/internal/central/extensions/reconcile_admin_password_test.go
  operator/internal/central/extensions/reconcile_central_db_password_test.go
  operator/internal/central/extensions/reconcile_scanner_db_password_test.go
  operator/internal/central/extensions/reconcile_scanner_v4_db_password_test.go
  operator/internal/central/extensions/reconcile_tls_test.go
  operator/internal/overlays/postrenderer_test.go
  pkg/cloudproviders/gcp/auth/cred_manager_impl_test.go
  pkg/compliance/checks/kubernetes/control_plane_config_test.go
  pkg/compliance/checks/kubernetes/etcd_test.go
  pkg/compliance/checks/kubernetes/master_api_server_test.go
  pkg/compliance/checks/kubernetes/master_config_test.go
  pkg/compliance/checks/kubernetes/worker_node_config_test.go
  pkg/compliance/checks/nist800-190/check421/check_test.go
  pkg/grpc/endpoints_test.go
  pkg/ioutils/checksum_reader_test.go
  pkg/k8scfgwatch/cfg_watcher_test.go
  pkg/metrics/verifier_test.go
  pkg/netutil/default_port_test.go
  pkg/notifiers/prune_test.go
  pkg/protoconv/k8s/quantity_test.go
  pkg/registries/google/google_test.go
  pkg/scanners/google/google_test.go
  pkg/scannerv4/mappers/mappers_test.go
  pkg/secretinformer/informer_test.go
  roxctl/common/flags/endpoint_test.go
  roxctl/helm/output/output_lint_test.go
  roxctl/maincommand/error_writer_test.go
  roxctl/netpol/connectivity/diff/command_test.go
  roxctl/netpol/connectivity/diff/diff_output_test.go
  roxctl/netpol/connectivity/diff/diff_test.go
  roxctl/netpol/connectivity/map/command_test.go
  roxctl/netpol/connectivity/map/map_test.go
  roxctl/netpol/generate/generate_test.go
  roxctl/netpol/resources/info_test.go
  roxctl/sensor/generate/generate_test.go
  scanner/datastore/postgres/vuln_update_test.go
  scanner/enricher/fixedby/fixedby_test.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/kubernetes/listener/resources/convert_mutating_test.go
  sensor/kubernetes/listener/resources/convert_test.go
  sensor/kubernetes/listener/resources/rbac/store_impl_test.go
  sensor/upgrader/preflight/namespace.go
  sensor/upgrader/upgradectx/context.go
  tools/generate-helpers/pg-table-bindings/resource_type_test.go
Labels: area/roxctl, area/central, area/operator, area/sensor, area/postgres, area/scanner

#13973 chore: Update SCANNER_VERSION
  SCANNER_VERSION
Labels: ci-all-qa-tests, backport

#13974 chore: Update SCANNER_VERSION
  SCANNER_VERSION
Labels: ci-all-qa-tests, backport

#13957 fix(telemetry): zero value for cloud source telemetry
  central/cloudsources/datastore/telemetry.go
  central/cloudsources/datastore/telemetry_postgres_test.go
Labels: area/central

#13961 ROX-27168: Bump scanner memory limits in upgrade tests
  tests/upgrade/lib.sh
Labels: auto-retest

#13819 ROX-26981: Add pyroscope client pkg
  central/main.go
  go.mod
  go.sum
  pkg/continuousprofiling/profiler.go
  pkg/env/continuous_profiling.go
  sensor/kubernetes/main.go
  tools/local-sensor/main.go
Labels: area/central, area/sensor

#13940 ROX-27488: Inject `BUILD_TAG` directly and rid of dirty check
  .konflux/scripts/fail-build-if-git-is-dirty.sh
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
  Makefile
  image/postgres/konflux.Dockerfile
  image/rhel/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  operator/konflux.Dockerfile
  scanner/image/db/konflux.Dockerfile
  scanner/image/scanner/konflux.Dockerfile
Labels: area/helm, area/operator, area/postgres, area/scanner, konflux-build, backport-for-4.6-konflux-release

#13970 ci: Update test fixes for r4.4
  qa-tests-backend/Makefile
  qa-tests-backend/src/main/groovy/util/Env.groovy
  qa-tests-backend/src/main/groovy/util/Helpers.groovy
  qa-tests-backend/src/test/groovy/AdmissionControllerTest.groovy
  qa-tests-backend/src/test/groovy/AttemptedAlertsTest.groovy
  qa-tests-backend/src/test/groovy/BaseSpecification.groovy
  qa-tests-backend/src/test/groovy/CSVTest.groovy
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
  qa-tests-backend/src/test/groovy/DefaultPoliciesTest.groovy
  qa-tests-backend/src/test/groovy/Enforcement.groovy
  qa-tests-backend/src/test/groovy/ImageManagementTest.groovy
  qa-tests-backend/src/test/groovy/ImageScanningTest.groovy
  qa-tests-backend/src/test/groovy/K8sEventDetectionTest.groovy
  qa-tests-backend/src/test/groovy/PolicyConfigurationTest.groovy
  qa-tests-backend/src/test/groovy/ProcessVisualizationTest.groovy
  qa-tests-backend/src/test/groovy/VulnMgmtWorkflowTest.groovy
Labels: backport, auto-retest

#12909 ROX-24283: enable strictfipsruntime in Konflux builds
  image/rhel/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  make/env.mk
  operator/konflux.Dockerfile
  scanner/image/scanner/konflux.Dockerfile
Labels: area/helm, area/operator, area/scanner, ok-to-test, konflux-build, backport-for-4.6-konflux-release

#13987 chore(cleanup): rename SAC filter generators
  central/image/datastore/store/postgres/store.go
  central/node/datastore/store/postgres/store.go
  central/reports/common/query_builder.go
  central/views/common/sac.go
  pkg/sac/query_helper.go
  pkg/sac/query_helper_test.go
  pkg/sac/query_testutils.go
  pkg/search/postgres/sac.go
Labels: area/auth, area/central, area/postgres

#13937 ROX-25897: Adjust test to check for no active violations
  qa-tests-backend/src/test/groovy/ImageSignatureVerificationTest.groovy
  qa-tests-backend/src/test/groovy/Services.groovy
Labels: auto-retest

#13964 ROX-27688: Use assert.NotContains to check for newlines in unit test
  central/notifiers/generic/generic_test.go
Labels: area/central

#13777 ROX-27597: Expose sensor capabilities in v1/clusters
  central/cluster/datastore/datastore_impl.go
  central/graphql/resolvers/generated.go
  generated/api/v1/cluster_service.swagger.json
  generated/storage/cluster.pb.go
  generated/storage/cluster_vtproto.pb.go
  pkg/sliceutils/sort.go
  pkg/sliceutils/sort_test.go
  proto/storage/cluster.proto
  proto/storage/proto.lock
Labels: area/central

#13916 ROX-27529: Added proto changes for vuln report
  central/reports/service/v2/convert.go
  generated/api/v1/report_configuration_service.swagger.json
  generated/api/v2/report_service.pb.go
  generated/api/v2/report_service.swagger.json
  generated/api/v2/report_service_vtproto.pb.go
  generated/storage/report_configuration.pb.go
  generated/storage/report_configuration_vtproto.pb.go
  proto/api/v2/report_service.proto
  proto/storage/proto.lock
  proto/storage/report_configuration.proto
Labels: area/central

#14000 ROX-27829: Remove regex validation from Slack URL field in form
  ui/apps/platform/cypress/integration/integrations/notifiers.test.js
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/SlackIntegrationForm.tsx
Labels: area/ui

#13996 ROX-27821: Extract common nav utils
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/NavigationContent.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/NavigationItem.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/NavigationSidebar.css
  ui/apps/platform/src/Containers/MainPage/Navigation/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/utils.ts
Labels: area/ui

#13959 ROX-25373: add telemetry for delegated registry config
  central/delegatedregistryconfig/datastore/telemetry.go
  central/delegatedregistryconfig/datastore/telemetry_postgres_test.go
  central/main.go
Labels: area/central

#13881 tests: improve readability of expected postgres statement text
  pkg/search/postgres/common_test.go
Labels: area/postgres

#13969 ROX-26663: Retry scans on failed fetch layer errors
  tests/delegated_scanning_test.go
Labels: auto-retest

#14005 ROX-27847: Reduce init container requirements
  image/templates/helm/shared/templates/02-scanner-06-deployment.yaml.htpl
  image/templates/helm/shared/templates/02-scanner-v4-07-db-deployment.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-indexer-deployment.yaml
  image/templates/helm/stackrox-secured-cluster/templates/_init-tls-certs.tpl
  image/templates/helm/stackrox-secured-cluster/templates/admission-controller.yaml
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/sensor.yaml.htpl
Labels: area/helm, auto-retest

#14012 ROX-27066: Render Advisory column without GraphQL data
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AdvisoryLinkOrText.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageComponentVulnerabilitiesTable.tsx
Labels: area/ui

#14020 fix(proto): threat warnings as errors
  generated/api/v1/alert_service.pb.go
  make/protogen.mk
  proto/api/v1/alert_service.proto
Labels: auto-retest

#14023 fix(sensor): use correct annotations for Sensor TLS secrets
  sensor/kubernetes/certrefresh/certrepo/service_certificates_repository.go
  sensor/kubernetes/certrefresh/certrepo/service_certificates_repository_test.go
Labels: area/sensor

#13949 ROX-27742: Add search filter for EPSS Probability
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/epssProbability.test.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/epssProbability.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/imageCVE.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilterInputField.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/components/ConditionText.css
  ui/apps/platform/src/Components/CompoundSearchFilter/components/ConditionText.tsx
  ui/apps/platform/src/Components/CompoundSearchFilter/types.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.test.ts
  ui/apps/platform/src/Components/CompoundSearchFilter/utils/utils.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
Labels: area/ui

#13995 ROX-22250: Switch to sanitizing version of determine-image-tag
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-build.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retag-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Labels: backport-for-4.6-konflux-release

#14044 chore(owners): add search to CWF
  .github/CODEOWNERS
Labels: area/ci

#14046 fix(log): Rate limit the log for drop item
  pkg/queue/queue.go
Labels: team/maple

#13891 ROX-26586: Remove search tags from ListAlert
  central/alert/mappings/options.go
  generated/storage/alert.pb.go
  proto/storage/alert.proto
Labels: area/central

#13965 ROX-27782: Make pruning stop after context errors
  pkg/search/postgres/store.go
Labels: area/postgres

#14024 feat(cancel-scan): Stop scan request if the context is canceled
  pkg/contextutil/contextmerge.go
  pkg/contextutil/contextmerge_test.go
  sensor/common/detector/detector.go
  sensor/common/detector/enricher.go
  sensor/common/detector/enricher_test.go
Labels: area/sensor

#13756 ROX-27146: SBOM Scanner V4 Matcher API
  generated/internalapi/scanner/v4/matcher_service.pb.go
  generated/internalapi/scanner/v4/matcher_service_grpc.pb.go
  generated/internalapi/scanner/v4/matcher_service_vtproto.pb.go
  pkg/scanners/scannerv4/scannerv4.go
  pkg/scannerv4/client/client.go
  pkg/scannerv4/client/mocks/client.go
  proto/internalapi/scanner/v4/matcher_service.proto
  scanner/cmd/scannerctl/main.go
  scanner/cmd/scannerctl/sbom.go
  scanner/matcher/matcher.go
  scanner/matcher/mocks/matcher.go
  scanner/sbom/sbom.go
  scanner/services/matcher.go
  scanner/services/matcher_test.go
  scanner/services/validators/validators.go
  scanner/services/validators/validators_test.go
Labels: area/scanner

#14052 fix(ci): due to diff CDN behavior
  central/scannerdefinitions/handler/updater_test.go
  image/rhel/fetch-stackrox-data.sh
Labels: area/central, area/helm

#13997 ROX-27822: Add horizontal subnav support and impl for VM
  ui/apps/platform/src/Containers/MainPage/MainPage.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/HorizontalSubnav.css
  ui/apps/platform/src/Containers/MainPage/Navigation/HorizontalSubnav.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/utils.ts
Labels: area/ui

#14048 ROX-27894: Add SortAggregate options for EPSS probability
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/WorkloadCVEOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/sortUtils.tsx
Labels: area/ui

#14031 ROX-27862: Update policy activation state
  ui/apps/platform/src/Containers/Policies/Wizard/Step5/PolicyActionsForm.tsx
Labels: area/ui

#14051 chore(CODEOWNERS): update Scanner team ownership
  .github/CODEOWNERS
Labels: area/ci
