Repository stackrox/stackrox, pull requests merged in 2025-05, with the labels that each got.

#15136 fix: long running cluster name
  .github/workflows/cut-rc.yml
Labels: area/ci

#14985 ROX-26178: Initial clusters page table migration
  tests/e2e/lib.sh
  ui/apps/platform/src/Containers/Clusters/ClustersTable.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.tsx
  ui/apps/platform/src/Containers/Clusters/Components/ClusterNameWithTypeIcon.tsx
  ui/apps/platform/src/Containers/Clusters/Components/HelmIndicator.tsx
  ui/apps/platform/src/Containers/Clusters/Components/OperatorIndicator.tsx
  ui/apps/platform/src/Containers/Clusters/clustersTableColumnDescriptors.jsx
Labels: area/ui

#15139 ROX-29139: Add name for KUBE_SERVICE_ACCOUNT M2M config type
  ui/apps/platform/src/Containers/Integrations/utils/tableColumnDescriptor.ts
  ui/apps/platform/src/services/MachineAccessService.ts
Labels: area/ui

#15061 ROX-28880: Add validation for absence of registry
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/Components/DelegatedRegistriesList.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/Components/DelegatedRegistriesTable.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/DelegatedImageScanningForm.tsx
Labels: area/ui

#15141 chore(ui): Use consistent helper function for date formatting
  ui/apps/platform/src/Components/DateTimeField/DateTimeField.tsx
  ui/apps/platform/src/Components/WorkflowPDFExportButton.jsx
  ui/apps/platform/src/Containers/Compliance/Entity/Node.jsx
  ui/apps/platform/src/Containers/Compliance/widgets/ClusterVersion.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntityImage.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntityNamespace.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntityNode.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntityRole.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntitySecret.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntityServiceAccount.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/Deployment/ConfigManagementEntityDeployment.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/widgets/FailedPoliciesAcrossDeployment.tsx
  ui/apps/platform/src/Containers/ConfigManagement/List/ConfigManagementListImages.jsx
  ui/apps/platform/src/Containers/ConfigManagement/List/ConfigManagementListNodes.jsx
  ui/apps/platform/src/Containers/ConfigManagement/List/ConfigManagementListRoles.jsx
  ui/apps/platform/src/Containers/ConfigManagement/List/ConfigManagementListSecrets.jsx
  ui/apps/platform/src/Containers/Dashboard/SummaryCounts.tsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/MostRecentViolations.tsx
  ui/apps/platform/src/Containers/Risk/DeploymentDetails.jsx
  ui/apps/platform/src/Containers/Risk/EventTimeline/DeploymentEventTimeline/getPodEvents.js
  ui/apps/platform/src/Containers/Risk/EventTimeline/PodEventTimeline/getContainerEvents.js
  ui/apps/platform/src/Containers/Risk/Process/Signal.jsx
  ui/apps/platform/src/Containers/Risk/riskTableColumnDescriptors.jsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/DeploymentOverview.tsx
  ui/apps/platform/src/Containers/Violations/Details/K8sCard.tsx
  ui/apps/platform/src/Containers/Violations/Details/NetworkFlowCard.tsx
  ui/apps/platform/src/Containers/Violations/Details/ProcessCard.jsx
  ui/apps/platform/src/Containers/Violations/Details/ProcessCardContent.jsx
  ui/apps/platform/src/Containers/Violations/violationsTableColumnDescriptors.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cve/VulnMgmtCveOverview.jsx
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Node/VulnMgmtNodeOverview.jsx
  ui/apps/platform/src/Containers/VulnMgmt/widgets/TopRiskiestEntities.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/ExceptionRequestTableCells.tsx
  ui/apps/platform/src/Containers/Workflow/widgets/ViolationFindings.jsx
  ui/apps/platform/src/constants/dateTimeFormat.js
  ui/apps/platform/src/constants/listColumns.jsx
  ui/apps/platform/src/utils/credentialExpiry.ts
  ui/apps/platform/src/utils/dateUtils.ts
  ui/apps/platform/src/utils/vulnerabilityUtils.jsx
Labels: area/ui

#15146 refactor(test): extract helper functions from testSecretReconciliation
  operator/internal/central/extensions/common_test.go
Labels: area/operator

#15147 ROX-29154: Add UI Component tests to GHA
  .github/workflows/unit-tests.yaml
Labels: area/ci

#15144 ROX-29147: Comment out totalAdvisories that was removed from MVP
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
Labels: area/ui

#15132 ROX-29128: graphql autocomplete for new data model
  central/graphql/resolvers/search.go
  central/graphql/resolvers/search_test.go
Labels: area/central

#15142 ROX-28325: stop reaching out to external data in unit tests
  central/scannerdefinitions/handler/handler_test.go
  central/scannerdefinitions/handler/updater_test.go
Labels: area/central

#14997 ROX-28474: Adding on demand reports table
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/OnDemandReportsTab.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/OnDemandReportsTable.tsx
  ui/apps/platform/src/services/ReportsService.ts
  ui/apps/platform/src/services/ReportsService.types.ts
Labels: area/ui

#15160 chore: fix e2e tests and upd scanner version
  SCANNER_VERSION
  qa-tests-backend/src/test/groovy/VulnMgmtTest.groovy
  qa-tests-backend/src/test/groovy/VulnScanWithGraphQLTest.groovy
Labels: ci-all-qa-tests

#15145 chore: update release 4.7 scanner version
  SCANNER_VERSION
  qa-tests-backend/src/test/groovy/VulnMgmtTest.groovy
  qa-tests-backend/src/test/groovy/VulnScanWithGraphQLTest.groovy
Labels: ci-all-qa-tests, backport

#15148 ROX-28669: Do not restrict enabling of local scanners to OCP
  operator/internal/securedcluster/scanner/auto_sense.go
  operator/internal/securedcluster/scanner/auto_sense_test.go
Labels: area/operator

#14389 chore(sac): use new resource for migration VM stores & schemas
  migrator/migrations/m_189_to_m_190_vulnerability_requests_add_name/schema/new/vulnerability_requests.go
  migrator/migrations/m_189_to_m_190_vulnerability_requests_add_name/schema/old/vulnerability_requests.go
  migrator/migrations/m_189_to_m_190_vulnerability_requests_add_name/store/previous/store.go
  migrator/migrations/m_189_to_m_190_vulnerability_requests_add_name/store/updated/store.go
  migrator/migrations/m_191_to_m_192_vulnerability_requests_searchable_scope/schema/new/vulnerability_requests.go
  migrator/migrations/m_191_to_m_192_vulnerability_requests_searchable_scope/schema/old/vulnerability_requests.go
  migrator/migrations/m_191_to_m_192_vulnerability_requests_searchable_scope/store/previous/store.go
  migrator/migrations/m_191_to_m_192_vulnerability_requests_searchable_scope/store/updated/store.go
  migrator/migrations/m_201_to_m_202_vuln_request_v1_to_v2/schema/vulnerability_requests.go
  migrator/migrations/m_201_to_m_202_vuln_request_v1_to_v2/store/store.go
  migrator/migrations/m_202_to_m_203_vuln_requests_for_suppressed_cves/schema/vulnerability_requests.go
  migrator/migrations/m_202_to_m_203_vuln_requests_for_suppressed_cves/store/vulnerabilityrequests/store.go
Labels: area/central

#15118 ROX-29109: cdm riskiest dashboard
  central/views/imagecveflat/view_impl.go
  pkg/search/derivationtype_string.go
  pkg/search/options.go
  pkg/search/postgres/pagination.go
  pkg/search/postgres/query/common.go
Labels: area/central, area/postgres

#15114 ROX-27880, ROX-20234: Prefetch RPMs and enable hermetic builds
  .konflux/scripts/subscription-manager/.dockerignore
  .konflux/scripts/subscription-manager/.gitignore
  .konflux/scripts/subscription-manager/bro.self-test-demo.Dockerfile
  .konflux/scripts/subscription-manager/bro.self-test-multiple-targets.Dockerfile
  .konflux/scripts/subscription-manager/bro.self-test.Dockerfile
  .konflux/scripts/subscription-manager/subscription-manager-bro.sh
  .tekton/central-db-build.yaml
  .tekton/main-build.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-build.yaml
  .tekton/roxctl-build.yaml
  .tekton/scanner-v4-build.yaml
  .tekton/scanner-v4-db-build.yaml
  image/postgres/konflux.Dockerfile
  image/rhel/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  operator/konflux.Dockerfile
  rpms.in.yaml
  rpms.lock.yaml
  rpms.rhel.repo
  scanner/image/db/konflux.Dockerfile
  scanner/image/scanner/konflux.Dockerfile
  tools/allowed-large-files
Labels: area/helm, area/operator, area/postgres, area/scanner, konflux-build, backport-for-4.6-konflux-release, backport-for-4.7-konflux-release

#15018 ROX-28476: Adding on demand report filters
  ui/apps/platform/src/Components/ReportJob/MyJobsFilter.tsx
  ui/apps/platform/src/Components/ReportJob/ReportJobStatusFilter.test.tsx
  ui/apps/platform/src/Components/ReportJob/ReportJobStatusFilter.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/OnDemandReportsTab.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/OnDemandReportsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/VulnReportingLayout.tsx
  ui/apps/platform/src/services/ReportsService.ts
  ui/apps/platform/src/utils/arrayUtils.ts
Labels: area/ui

#15102 ROX-28027: Add timestamp to external entities metadata request
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphContainer.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/TimeWindowSelector.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalEntitiesSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalIpsContainer.tsx
  ui/apps/platform/src/Containers/NetworkGraph/utils/timeWindow.ts
  ui/apps/platform/src/constants/timeWindows.ts
  ui/apps/platform/src/hooks/useURLParameter.ts
  ui/apps/platform/src/services/NetworkService.js
  ui/apps/platform/src/utils/timeWindows.js
Labels: area/ui

#15162 ROX-28185: cdm CVE os OUT
  central/cve/image/v2/datastore/store/postgres/store.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/image_vulnerabilities_utilities.go
  central/image/datastore/store/v2/postgres/store.go
  central/views/imagecve/view_test.go
  generated/storage/cve.pb.go
  generated/storage/cve_vtproto.pb.go
  pkg/postgres/schema/image_cves_v2.go
  proto/storage/cve.proto
  proto/storage/proto.lock
Labels: area/central, area/postgres

#15155 refactor: unexport postgres store globally scoped upsert checker
  pkg/search/postgres/store.go
  pkg/search/postgres/store_cache_test.go
  pkg/search/postgres/store_test.go
Labels: area/postgres

#15171 ROX-29065: remove the concept of permission checker in access control
  migrator/migrations/frozenschema/v73/gen.go
  pkg/postgres/walker/schema.go
  pkg/sac/permission_checkers.go
  pkg/search/postgres/sac.go
  pkg/search/postgres/store.go
  pkg/search/postgres/store_cache.go
  tools/generate-helpers/pg-table-bindings/main.go
  tools/generate-helpers/pg-table-bindings/object.go
  tools/generate-helpers/pg-table-bindings/resource_type.go
  tools/generate-helpers/pg-table-bindings/resource_type_test.go
  tools/generate-helpers/pg-table-bindings/schema.go.tpl
  tools/generate-helpers/pg-table-bindings/store.go.tpl
  tools/generate-helpers/pg-table-bindings/store_test.go.tpl
Labels: area/auth, area/postgres

#15130 ROX-28418: Add retry for namespace creation
  sensor/tests/helper/helper.go
Labels: area/sensor

#15192 fix: "replaced operator version" logic
  operator/Makefile
Labels: area/operator

#15074 ROX-27962: CA rotation mechanism in Operator
  operator/internal/central/carotation/rotation.go
  operator/internal/central/carotation/rotation_test.go
  operator/internal/central/extensions/reconcile_tls.go
  operator/internal/central/extensions/reconcile_tls_test.go
  operator/internal/utils/testutils/cert.go
  pkg/certgen/ca.go
  pkg/certgen/ca_test.go
  pkg/mtls/crypto.go
Labels: area/operator

#15193 tests: check CRD compatibility to previous release
  .github/workflows/check-crd-compatibility.yaml
Labels: area/operator, area/ci, auto-retest

#15105 fix(ui): Manual Backport 15017 to release 4.6
  ui/apps/platform/cypress/integration/configmanagement/deployments.test.js
  ui/apps/platform/src/Containers/ConfigManagement/Entity/Deployment/DeploymentFindings.tsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/widgets/FailedPoliciesAcrossDeployment.tsx
  ui/apps/platform/src/Containers/Workflow/widgets/ViolationsAcrossThisDeployment.js
Labels: area/ui, backport

#15143 ROX-29114: Use Intl formatting for dates and clarify tz
  ui/apps/platform/package.json
  ui/apps/platform/src/utils/dateUtils.test.ts
  ui/apps/platform/src/utils/dateUtils.ts
Labels: area/ui

#15161 chore(scanner): manual entry for CVE-2025-24813
  scanner/updater/manual/vulns.yaml
Labels: area/scanner, area/ci, pr-update-scanner-vulns

#15085 ROX-28941: Use GetByQueryFn in alerts
  central/alert/datastore/bench_postgres_test.go
  central/alert/datastore/datastore.go
  central/alert/datastore/datastore_impl.go
  central/alert/datastore/datastore_test.go
  central/alert/datastore/internal/search/searcher_impl.go
  central/alert/datastore/internal/store/mocks/store.go
  central/alert/datastore/internal/store/store.go
  central/alert/datastore/mocks/datastore.go
  central/platform/reprocessor/reprocessor_impl.go
  central/platform/reprocessor/reprocessor_impl_test.go
Labels: area/central, area/postgres, ci-performance-tests

#15197 ROX-29051: cdm more faster
  central/views/imagecveflat/view_impl.go
Labels: area/central

#15180 ROX-29131: cdm plotted vuln
  central/graphql/resolvers/plotted_image_vulnerabilities.go
Labels: area/central

#15151 ROX-29152: Install Scanners by default on secured cluster via Helm
  CHANGELOG.md
  image/templates/helm/shared/templates/_scanner-v4_defaulting.tpl
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/internal/defaults/30-base-config.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/internal/defaults/70-scanner-v4.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/internal/defaults/70-scanner.yaml
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_scanner-defaulting.tpl
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-slim.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-v4.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/sensor-netpol.test.yaml
  tests/e2e/run-scanner-v4-install.bats
Labels: area/helm

#14999 ROX-27780: deferral changes for new data model
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/image_vulnerabilities_v2_test.go
  central/graphql/resolvers/vulnerability_requests_test.go
  central/image/datastore/store/v2/postgres/store_test.go
  central/vulnmgmt/vulnerabilityrequest/manager/requestmgr/manager_impl.go
  central/vulnmgmt/vulnerabilityrequest/manager/requestmgr/manager_impl_benchmark_test.go
  central/vulnmgmt/vulnerabilityrequest/manager/requestmgr/manager_impl_cache_test.go
  central/vulnmgmt/vulnerabilityrequest/manager/requestmgr/manager_impl_create_req_test.go
  central/vulnmgmt/vulnerabilityrequest/manager/requestmgr/manager_impl_flat_cve_data_test.go
  central/vulnmgmt/vulnerabilityrequest/manager/requestmgr/manager_impl_reobserve_test.go
  central/vulnmgmt/vulnerabilityrequest/manager/requestmgr/singleton.go
  pkg/fixtures/image.go
Labels: area/central

#15221 ROX-29012: Add filters and max height to policy dropdowns
  ui/apps/platform/src/Containers/Policies/Wizard/Step1/MitreTacticSelect.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step1/MitreTechniqueSelect.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step1/PolicyCategoriesSelectField.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step4/PolicyScopeCard.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step4/PolicyScopeForm.tsx
Labels: area/ui

#15243 ROX-29051: cdm revert faster
  central/views/imagecveflat/view_impl.go
Labels: area/central

#15245 ROX-29227: Add ROX_FLATTEN_CVE_DATA to ui feature flags
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#15240 ROX-29225: Adding feature flag to customize platform components
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui, auto-retest

#15210 chore(CI): Remove stubs for perf scale jobs
  .openshift-ci/begin.sh
  scripts/ci/jobs/gke_perf_scale_tests.py
  scripts/ci/jobs/ocp_perf_scale_tests.py
Labels: area/ci

#15215 ROX-28786: Switch to UBI9 for UI build stage in konflux
  image/rhel/konflux.Dockerfile
Labels: area/helm, konflux-build

#15179 ROX-29058: Inconsistent compliance results between table & side panel
  ui/apps/platform/src/Containers/Compliance/widgets/EntityCompliance.jsx
Labels: area/ui

#14704 ROX-20769: Add backup PVC
  image/templates/helm/stackrox-central/templates/01-central-12-central-db.yaml
  image/templates/helm/stackrox-central/templates/_central_setup.tpl
  operator/internal/central/common/common.go
  operator/internal/central/extensions/reconcile_pvc.go
  operator/internal/central/extensions/reconcile_pvc_test.go
  operator/internal/central/reconciler/reconciler.go
  operator/internal/central/values/translation/translation.go
  operator/internal/central/values/translation/translation_test.go
  operator/internal/securedcluster/values/translation/translation_test.go
  operator/internal/utils/storageclass.go
  operator/internal/values/translation/translation.go
  operator/internal/values/translation/translation_test.go
Labels: area/helm, area/operator

#14769 ROX-26854: external entities garbage collection
  central/networkgraph/flow/datastore/internal/store/postgres/store.go
  central/networkgraph/flow/datastore/internal/store/postgres/tests/store_test.go
  pkg/env/external_ips.go
  pkg/utils/batch_process.go
  pkg/utils/batch_process_test.go
Labels: area/central

#15268 chore: update scanner version for ACS 4.6
  SCANNER_VERSION
Labels: ci-all-qa-tests, backport

#15241 ROX-28170: Adding a platform components configuration details section
  ui/apps/platform/cypress/integration/systemConfig/systemConfig.selectors.js
  ui/apps/platform/src/Containers/SystemConfig/Details/PlatformComponentsConfigDetails.css
  ui/apps/platform/src/Containers/SystemConfig/Details/PlatformComponentsConfigDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details/SystemConfigDetails.tsx
  ui/apps/platform/src/types/config.proto.ts
Labels: area/ui

#15242 ROX-29226: cdm speed broke sort
  central/views/imagecveflat/view_impl.go
  pkg/search/options.go
Labels: area/central

#15100 ROX-29073: include advisory link
  central/cve/converter/utils/convert_utils_v2.go
  central/graphql/resolvers/generated.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/image/datastore/store/postgres/store_test.go
  central/image/datastore/store/v2/postgres/store_test.go
  generated/api/v1/image_service.swagger.json
  generated/api/v1/node_service.swagger.json
  generated/api/v1/vuln_mgmt_service.swagger.json
  generated/internalapi/scanner/v4/vulnerability_report.pb.go
  generated/internalapi/scanner/v4/vulnerability_report_vtproto.pb.go
  generated/storage/cve.pb.go
  generated/storage/cve_vtproto.pb.go
  generated/storage/vulnerability.pb.go
  generated/storage/vulnerability_vtproto.pb.go
  pkg/scanners/scannerv4/convert.go
  pkg/scannerv4/mappers/mappers.go
  pkg/scannerv4/mappers/mappers_test.go
  proto/internalapi/scanner/v4/vulnerability_report.proto
  proto/storage/cve.proto
  proto/storage/proto.lock
  proto/storage/vulnerability.proto
Labels: area/central, area/ci

#15247 ROX-29230: Clicking 'View more' should show full rule(s)
  ui/apps/platform/src/Containers/SystemConfig/Details/PlatformComponentsConfigDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details/components/CustomPlatformComponentsCard.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details/components/RedHatLayeredProductsCard.tsx
Labels: area/ui

#15223 ROX-29215: Fix SecurityPolicy CRD upgrade regressions
  config-controller/api/v1alpha1/policy_types.go
  config-controller/config/crd/bases/config.stackrox.io_securitypolicies.yaml
  image/templates/helm/stackrox-central/internal/config.stackrox.io_securitypolicies.yaml
Labels: area/helm

#15273 chore: fix e2e tests and upd scanner version (#15160)
  qa-tests-backend/src/test/groovy/VulnMgmtTest.groovy
  qa-tests-backend/src/test/groovy/VulnScanWithGraphQLTest.groovy
Labels: backport

#15172 chore(deps): bump np-guard/netpol-analyzer from v1.4.2 to v1.4.4
  go.mod
  go.sum
Labels: area/roxctl, area/sensor

#15207 ROX-28259: Unbreak Processes listening feature
  pkg/env/sensor.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/networkflow/manager/purger.go
  sensor/common/networkflow/manager/purger_test.go
Labels: ci-all-qa-tests, area/sensor, turbo-build

#15263 ROX-25598: update CVE fixedBy
  scanner/updater/manual/vulns.yaml
Labels: area/central, area/scanner, pr-update-scanner-vulns

#15198 ROX-29151: Scanner Defaulting in Operator for Secured Cluster
  CHANGELOG.md
  operator/api/v1alpha1/securedcluster_types.go
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/internal/central/extensions/reconcile_scanner_v4_feature_defaults.go
  operator/internal/common/defaulting/central_scanner_v4_enabling.go
  operator/internal/common/defaulting/secured_cluster_scanner_v4_enabling.go
  operator/internal/securedcluster/extensions/common.go
  operator/internal/securedcluster/extensions/reconcile_scanner_v4_feature_defaults.go
  operator/internal/securedcluster/extensions/reconcile_scanner_v4_feature_defaults_test.go
  operator/internal/securedcluster/reconciler/reconciler.go
Labels: area/operator

#15034 ROX-29017: Add ability to select 'Unknown' vuln severity in reports
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportParametersForm.tsx
Labels: area/ui

#14814 ROX-28518: Custom platform components feature flag and data model
  central/config/datastore/singleton.go
  generated/api/v1/config_service.swagger.json
  generated/storage/config.pb.go
  generated/storage/config_vtproto.pb.go
  proto/storage/config.proto
  proto/storage/proto.lock
Labels: area/central, area/ui

#15284 ROX-29228: Add Advisory type and update AdvisoryLinkOrText component
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AdvisoryLinkOrText.tsx
  ui/apps/platform/src/types/cve.proto.ts
Labels: area/ui

#14977 feat(networkbaseline): external network baselines API
  central/networkbaseline/manager/manager.go
  central/networkbaseline/manager/manager_impl.go
  central/networkbaseline/manager/manager_impl_test.go
  central/networkbaseline/manager/mocks/manager.go
  central/networkbaseline/service/service_impl.go
  central/networkbaseline/service/service_impl_sql_test.go
  central/networkbaseline/service/service_impl_test.go
  central/networkbaseline/testutils/utils.go
  generated/api/v1/network_baseline_service.pb.go
  generated/api/v1/network_baseline_service.pb.gw.go
  generated/api/v1/network_baseline_service.swagger.json
  generated/api/v1/network_baseline_service_grpc.pb.go
  generated/api/v1/network_baseline_service_vtproto.pb.go
  generated/api/v1/network_policy_service.swagger.json
  proto/api/v1/network_baseline_service.proto
Labels: area/central

#15072 fix(violations): network baseline violations with ext IPs
  pkg/networkgraph/networkbaseline/peer.go
  sensor/common/detector/detector.go
  sensor/common/detector/networkbaseline/network_baseline.go
  sensor/common/detector/networkbaseline/network_baseline_test.go
Labels: area/central, area/sensor

#15311 ROX-29154: Move shell-unit-tests from prow to GHA
  scripts/ci/bats/lib_get_repo_full_name.bats
  scripts/ci/bats/lib_is_in_PR_context.bats
  scripts/ci/bats/lib_pr_has_label.bats
  scripts/ci/jobs/shell-unit-tests.sh
  scripts/ci/logcheck/check-restart-logs_test.bats
  scripts/ci/store-artifacts.bats
Labels: area/ci

#15281 ROX-24313: use different CIDR for every test case
  qa-tests-backend/src/test/groovy/ExternalNetworkSourcesTest.groovy
Labels: ci-all-qa-tests

#15325 chore: update sensor-ecosystem code owners entry
  .github/CODEOWNERS
Labels: area/ci

#15313 fix(ui): Remove duplicate CVE count query from VM list page
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/WorkloadCVEOverviewTable.tsx
Labels: area/ui

#15037 ROX-29191: Include `Unknown` severity at highest level in VM pages
  ui/apps/platform/cypress/fixtures/vulnerabilities/nodeCves/getNodeCVESummaryData.json
  ui/apps/platform/cypress/fixtures/vulnerabilities/nodeCves/getNodeCVEs.json
  ui/apps/platform/cypress/fixtures/vulnerabilities/nodeCves/getNodeVulnSummary.json
  ui/apps/platform/cypress/fixtures/vulnerabilities/nodeCves/getNodes.json
  ui/apps/platform/cypress/fixtures/vulnerabilities/workloadCves/getImageCVEList.json
  ui/apps/platform/cypress/fixtures/vulnerabilities/workloadCves/multipleCvesForImage.json
  ui/apps/platform/cypress/helpers/sort.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/imageSingle.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/AffectedNodesSummaryCard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/AffectedNodesTable.cy.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/NodeCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/useNodeCveSummaryData.ts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/CVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/NodesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/useNodeCves.ts
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Overview/useNodes.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/SummaryCards/CvesByStatusSummaryCard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/WorkloadCVEOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/DefaultFilterModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/BySeveritySummaryCard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/CVESeverityDropdown.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/SeverityCountLabels.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/types.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/searchUtils.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/utils/sortUtils.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/sortUtils.tsx
  ui/apps/platform/src/hooks/useAnalytics.ts
Labels: area/ui

#15279 fix(networkbaseline): Populate flow entity info using network tree
  central/networkbaseline/manager/manager_impl.go
  central/networkbaseline/manager/manager_impl_bench_test.go
  central/networkbaseline/manager/manager_impl_test.go
  central/networkbaseline/manager/singleton.go
  central/networkbaseline/service/service_impl_sql_test.go
Labels: area/central

#15262 ROX-22597: Migrate S3 backup plugin to aws v2 SDK
  CHANGELOG.md
  central/externalbackups/plugins/s3/s3.go
  central/externalbackups/plugins/s3compatible/s3compatible.go
  go.mod
  go.sum
  qa-tests-backend/src/main/groovy/util/Env.groovy
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
Labels: ci-all-qa-tests, area/central

#15287 ROX-27116: Add default maxHeight to <SingleSelect> components
  ui/apps/platform/src/Components/SelectSingle/SelectSingle.tsx
  ui/apps/platform/src/Containers/AccessControl/SelectSingle.tsx
Labels: area/ui

#15331 ROX-26148: Announce `./rpms.*` files ownership
  .github/CODEOWNERS
Labels: area/ci, backport-for-4.6-konflux-release, backport-for-4.7-konflux-release

#15329 ROX-27598: Replace deprecated CLI menu component
  ui/apps/platform/src/Containers/MainPage/Header/CLIDownloadMenu.tsx
Labels: area/ui

#15251 ROX-29231: Add telemetry for Compliance Operator version
  central/cluster/datastore/telemetry.go
  generated/internalapi/central/cluster_metrics.pb.go
  generated/internalapi/central/cluster_metrics_vtproto.pb.go
  proto/internalapi/central/cluster_metrics.proto
  sensor/kubernetes/clustermetrics/cluster_metrics.go
  sensor/kubernetes/clustermetrics/cluster_metrics_test.go
  sensor/kubernetes/complianceoperator/info.go
  sensor/kubernetes/complianceoperator/updater.go
Labels: area/central, area/sensor, turbo-build

#15212 ROX-27490: Generate failed cluster report
  central/complianceoperator/v2/report/manager/format/formatter.go
  central/complianceoperator/v2/report/manager/format/formatter_test.go
  central/complianceoperator/v2/report/manager/generator/mocks/report_gen.go
  central/complianceoperator/v2/report/manager/generator/report_gen.go
  central/complianceoperator/v2/report/manager/generator/report_gen_impl.go
  central/complianceoperator/v2/report/manager/generator/report_gen_impl_test.go
Labels: area/central

#15267 ROX-29078: Switch to per component service account
  .tekton/central-db-build.yaml
  .tekton/main-build.yaml
  .tekton/operator-build.yaml
  .tekton/operator-bundle-build.yaml
  .tekton/retag-collector.yaml
  .tekton/retag-scanner-db-slim.yaml
  .tekton/retag-scanner-db.yaml
  .tekton/retag-scanner-slim.yaml
  .tekton/retag-scanner.yaml
  .tekton/roxctl-build.yaml
  .tekton/scanner-v4-build.yaml
  .tekton/scanner-v4-db-build.yaml
Labels: konflux-build, backport-for-4.6-konflux-release, backport-for-4.7-konflux-release

#15350 ROX-29203: fail on config CRD check failures
  .github/workflows/check-crd-compatibility.yaml
Labels: area/ci, auto-retest

#15300 ROX-22597: Extract common code for AWS S3 & compatible backup plugins
  central/externalbackups/plugins/all/all.go
  central/externalbackups/plugins/s3/common/mocks/s3common.go
  central/externalbackups/plugins/s3/common/s3common.go
  central/externalbackups/plugins/s3/common/s3common_test.go
  central/externalbackups/plugins/s3/compatible/s3compatible.go
  central/externalbackups/plugins/s3/compatible/s3compatible_test.go
  central/externalbackups/plugins/s3/s3.go
  central/externalbackups/plugins/s3/std/s3.go
  central/externalbackups/plugins/s3/std/s3_test.go
  central/externalbackups/plugins/s3/testdata/testdata.go
  central/externalbackups/plugins/s3compatible/s3compatible.go
  central/externalbackups/plugins/s3compatible/s3compatible_test.go
Labels: ci-all-qa-tests, area/central

#15339 ROX-29313: Add conditional query to flatten CVE data
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/hooks/useInvalidateVulnerabilityQueries.ts
Labels: area/ui

#15303 fix(ui): Improve detection of specific locale for date formats
  ui/apps/platform/cypress/integration/clusters/clustersCertificateExpiration.test.js
  ui/apps/platform/cypress/integration/clusters/clustersHealthStatus.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/src/Components/CompoundSearchFilter/components/ConditionDate.tsx
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/utils.test.ts
  ui/apps/platform/src/utils/dateUtils.test.ts
  ui/apps/platform/src/utils/dateUtils.ts
Labels: area/ui

#15352 ROX-26854: Addition enhancements for External-IPs pruning
  central/networkgraph/flow/datastore/internal/store/postgres/store.go
Labels: area/central

#15286 Proto and graphql changes for advisory struct
  central/cve/converter/utils/convert_utils_v2.go
  central/cve/image/v2/datastore/store/postgres/store.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/image/datastore/store/v2/postgres/store.go
  central/networkgraph/flow/datastore/internal/store/postgres/tests/store_test.go
  generated/storage/cve.pb.go
  generated/storage/cve_vtproto.pb.go
  generated/storage/vulnerability.pb.go
  generated/storage/vulnerability_vtproto.pb.go
  pkg/postgres/schema/image_cves_v2.go
  proto/storage/cve.proto
  proto/storage/proto.lock
  proto/storage/vulnerability.proto
  tests/options_test.go
Labels: ci-all-qa-tests, area/central, area/ui, area/helm, area/operator, area/sensor, area/postgres, area/ci, konflux-build

#15256 chore(scanner): update autovacuum configs
  image/templates/helm/shared/config-templates/scanner-v4-db/postgresql.conf.default
Labels: area/helm

#15224 chore(scanner): one more CVE-2025-24813 entry
  scanner/updater/manual/vulns.yaml
Labels: area/scanner

#15253 ROX-28348: Add check for supported compliance operator version
  central/complianceoperator/v2/pipelines/complianceoperatorinfo/pipeline.go
  central/complianceoperator/v2/pipelines/complianceoperatorinfo/pipeline_test.go
  pkg/env/compliance_operator.go
  pkg/env/versionsetting.go
  pkg/env/versionsetting_test.go
  sensor/kubernetes/complianceoperator/info.go
  sensor/kubernetes/complianceoperator/updater_test.go
Labels: area/central, area/sensor

#15299 test: scanner v4 secured cluster CR tests
  tests/e2e/run-scanner-v4-install.bats
Labels: area/operator

#15370 fix(networkbaseline): anonymize external entities in baseline update
  central/networkbaseline/manager/manager_impl.go
  central/networkbaseline/manager/manager_impl_test.go
  pkg/networkgraph/networkbaseline/peer.go
Labels: area/central

#15316 ROX-29320: support RHEL 10 CPEs
  scanner/datastore/postgres/distributions.go
  scanner/datastore/postgres/distributions_test.go
Labels: area/scanner

#15357 ROX-29093: Show disabled save as CR option when default policy
  ui/apps/platform/src/Components/Pagination/NextPaginationButton/NextPaginationButton.test.jsx
  ui/apps/platform/src/Components/Pagination/PaginationInput/PaginationInput.test.jsx
  ui/apps/platform/src/Components/Pagination/PrevPaginationButton/PrevPaginationButton.test.jsx
  ui/apps/platform/src/Containers/Collections/CollectionForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ApiTokenIntegrationForm/ApiTokenIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/utils/integrationUtils.ts
  ui/apps/platform/src/Containers/Policies/Detail/PolicyDetail.tsx
  ui/apps/platform/src/Containers/Policies/Table/PoliciesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/SeverityCountLabels.css
Labels: area/ui

#15040 ROX-28690: stop hardcoding Central and Sensor endpoints
  image/templates/helm/shared/templates/02-scanner-v4-07-indexer-deployment.yaml
  image/templates/helm/shared/templates/02-scanner-v4-07-matcher-deployment.yaml
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  pkg/env/central_endpoint.go
  pkg/env/sensor.go
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner-v4.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-v4.test.yaml
  scanner/internal/httputil/transport_mux.go
  scanner/internal/httputil/transport_mux_test.go
Labels: area/helm, area/scanner

#15326 ROX-29232: Log messages that crash grpc stream
  sensor/common/sensor/central_sender_impl.go
Labels: area/sensor

#15119 ROX-28897: turn on new CVE data model flag in CI
  qa-tests-backend/src/test/groovy/AutocompleteTest.groovy
  qa-tests-backend/src/test/groovy/CSVTest.groovy
  qa-tests-backend/src/test/groovy/VulnMgmtTest.groovy
  qa-tests-backend/src/test/groovy/VulnMgmtWorkflowTest.groovy
  qa-tests-backend/src/test/groovy/VulnScanWithGraphQLTest.groovy
  tests/e2e/lib.sh
Labels: area/central, area/ui

#15376 ROX-29392: Add conditional search categories to ExceptionManagement
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedDeferrals.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/ApprovedFalsePositives.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/DeniedRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/PendingRequests.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/searchFilterConfig.ts
Labels: area/ui

#15360 ROX-28881: Split deployment external flows into anomalous and baseline
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/FlowsTableHeaderText.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/FlowTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/ExternalFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/hooks/useNetworkBaselineStatus.ts
  ui/apps/platform/src/Containers/NetworkGraph/utils/flowUtils.ts
  ui/apps/platform/src/services/NetworkService.js
  ui/apps/platform/src/types/networkBaseline.proto.ts
Labels: area/ui

#15191 ROX-28991: fix roxctl sensor http retry
  roxctl/common/client.go
  roxctl/common/client_options.go
  roxctl/common/client_options_test.go
  roxctl/image/sbom/sbom.go
Labels: area/roxctl

#15111 ROX-20769: Configuration for PG major version upgrade and E2E test
  .openshift-ci/ci_tests.py
  image/postgres/scripts/docker-entrypoint.sh
  image/postgres/scripts/init-entrypoint.sh
  tests/e2e/lib.sh
  tests/upgrade/lib.sh
  tests/upgrade/postgres_upgrade_run.sh
Labels: area/helm, area/postgres, area/ci

#15361 ROX-29031: Add pagination to external flows tables
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/FlowTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/ExternalFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalIpsTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/hooks/useNetworkBaselineStatus.ts
  ui/apps/platform/src/hooks/useURLPagination.ts
Labels: area/ui

#15364 ROX-29427: Add image id to sensor scan logs
  sensor/common/detector/enricher.go
Labels: area/sensor

#14984 ROX-28519: Add methods for customizable platform components
  central/config/datastore/datastore.go
  central/config/datastore/datastore_test.go
  central/config/datastore/mocks/datastore.go
  central/config/service/service.go
  generated/api/v1/config_service.pb.go
  generated/api/v1/config_service.pb.gw.go
  generated/api/v1/config_service.swagger.json
  generated/api/v1/config_service_grpc.pb.go
  generated/api/v1/config_service_vtproto.pb.go
  proto/api/v1/config_service.proto
Labels: area/central, area/ui

#15362 ROX-29032: Add ability to switch external flow status
  ui/apps/platform/src/Containers/NetworkGraph/components/FlowBulkDropdown.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/FlowTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/ExternalFlows.tsx
Labels: area/ui

#15020 ROX-28520: Added conditional reprocessing logic
  central/alert/datastore/datastore.go
  central/alert/datastore/datastore_test.go
  central/config/datastore/datastore.go
  central/config/datastore/mocks/datastore.go
  central/config/datastore/singleton.go
  central/config/service/service.go
  central/deployment/datastore/datastore_impl_test.go
  central/deployment/datastore/datastore_test_constructors.go
  central/deployment/service/service_impl_test.go
  central/platform/matcher/matcher.go
  central/platform/matcher/matcher_impl.go
  central/platform/matcher/matcher_impl_test.go
  central/platform/matcher/matcher_test_utils.go
  central/platform/matcher/mocks/matcher.go
  central/platform/matcher/singleton.go
  central/platform/reprocessor/mocks/reprocessor.go
  central/platform/reprocessor/reprocessor.go
  central/platform/reprocessor/reprocessor_impl.go
  central/platform/reprocessor/reprocessor_impl_test.go
  central/platform/reprocessor/singleton.go
  central/pruning/pruning_test.go
  central/reprocessor/reprocessor_test.go
  central/search/service/service_impl_test.go
Labels: area/central

#15397 ROX-29440: Network graph external flows filtering
  ui/apps/platform/src/Containers/NetworkGraph/api/useModifyBaselineStatuses.ts
  ui/apps/platform/src/Containers/NetworkGraph/components/FlowTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/ExternalFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/hooks/useNetworkBaselineStatus.ts
Labels: area/ui

#15372 fix(tests): moves GetDefaultNetworkTree mock out of concurrent setup
  central/networkbaseline/manager/manager_impl_test.go
Labels: area/central

#15255 ROX-20499: Pagination for the listening endpoints API
  central/processlisteningonport/service/service_impl.go
  central/processlisteningonport/service/service_impl_test.go
  generated/api/v1/process_listening_on_port_service.pb.go
  generated/api/v1/process_listening_on_port_service.pb.gw.go
  generated/api/v1/process_listening_on_port_service.swagger.json
  generated/api/v1/process_listening_on_port_service_vtproto.pb.go
  pkg/fixtures/fixtureconsts/fixture_consts.go
  pkg/fixtures/process_listening_on_port.go
  proto/api/v1/process_listening_on_port_service.proto
  qa-tests-backend/src/main/groovy/services/ProcessesListeningOnPortsService.groovy
  qa-tests-backend/src/test/groovy/ProcessesListeningOnPortsTest.groovy
Labels: area/central

#15382 ROX-29418: Refactoring system config pt.1
  ui/apps/platform/src/Containers/SystemConfig/Details/PlatformComponentsConfigDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details/SystemConfigDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Details/components/RedHatLayeredProductsCard.tsx
  ui/apps/platform/src/Containers/SystemConfig/Form/SystemConfigForm.tsx
  ui/apps/platform/src/Containers/SystemConfig/SystemConfigPage.tsx
  ui/apps/platform/src/Containers/SystemConfig/configUtils.ts
  ui/apps/platform/src/types/config.proto.ts
Labels: area/ui, epic/platform-components

#15380 ROX-29417: reduce not pullable spam
  sensor/kubernetes/listener/resources/convert.go
  sensor/kubernetes/listener/resources/convert_test.go
Labels: area/sensor

#15410 feat(api): Add endpoint to get default regex
  central/config/service/service.go
  generated/api/v1/config_service.pb.go
  generated/api/v1/config_service.pb.gw.go
  generated/api/v1/config_service.swagger.json
  generated/api/v1/config_service_grpc.pb.go
  generated/api/v1/config_service_vtproto.pb.go
  proto/api/v1/config_service.proto
Labels: area/central

#15353 ROX-19095: Ensure image names are not lost
  central/image/service/service_impl.go
  central/image/service/service_impl_test.go
  sensor/common/detector/enricher.go
Labels: area/central, area/sensor

#15309 ROX-27716: Enable Konflux builds to replace GHA
  .github/workflows/build.yaml
  .github/workflows/scanner-build.yaml
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retag-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
  scripts/ci/should-konflux-replace-gha-build.bats
  scripts/ci/should-konflux-replace-gha-build.hold
  scripts/ci/should-konflux-replace-gha-build.sh
Labels: area/ci, konflux-build, backport-for-4.6-konflux-release, backport-for-4.7-konflux-release

#15401 chore(sensor): make sensor event logging consistent across components
  sensor/common/compliance/command_handler_impl.go
  sensor/common/compliance/service_impl.go
  sensor/common/detector/detector.go
  sensor/common/scannerclient/reset_notifiable.go
  sensor/kubernetes/clusterhealth/updater.go
  sensor/kubernetes/clustermetrics/cluster_metrics.go
  sensor/kubernetes/clusterstatus/updater.go
  sensor/kubernetes/complianceoperator/updater.go
  sensor/kubernetes/telemetry/command_handler.go
Labels: area/sensor

#15342 fix: decouple passthrough and reencrypt routes
  image/templates/helm/stackrox-central/templates/01-central-15-exposure.yaml
Labels: area/helm

#15218 ROX-27490: Validate Results
  central/complianceoperator/v2/report/errors.go
  central/complianceoperator/v2/report/manager/manager_impl.go
  central/complianceoperator/v2/report/manager/watcher/scanwatcher.go
  central/complianceoperator/v2/report/manager/watcher/scanwatcher_test.go
  central/complianceoperator/v2/report/manager/watcher/validator.go
  central/complianceoperator/v2/report/manager/watcher/validator_test.go
Labels: area/central

#15199 ROX-29036: Optimize central API endpoint bringup
  central/cloudsources/datastore/singleton.go
  central/main.go
Labels: area/central, ci-performance-tests

#15441 ROX-29479: switch to custom Konflux quay.io repositories
  .tekton/central-db-build.yaml
  .tekton/main-build.yaml
  .tekton/operator-build.yaml
  .tekton/operator-bundle-build.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retag-collector.yaml
  .tekton/retag-scanner-db-slim.yaml
  .tekton/retag-scanner-db.yaml
  .tekton/retag-scanner-slim.yaml
  .tekton/retag-scanner.yaml
  .tekton/roxctl-build.yaml
  .tekton/scanner-v4-build.yaml
  .tekton/scanner-v4-db-build.yaml
Labels: konflux-build, backport-for-4.6-konflux-release, backport-for-4.7-konflux-release

#15407 tests: run sensor integration tests on GHA
  .github/workflows/unit-tests.yaml
Labels: area/ci

#15377 ROX-28348: Disable changing of scan config name
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ScanConfigOptions.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/useFormikScanConfig.tsx
Labels: area/ui

#15444 ROX-29453: Inactive image retention setting 0 should never prune images
  central/pruning/pruning.go
Labels: area/central

#15232 ROX-26974: Populate API fields
  central/complianceoperator/v2/scanconfigurations/service/convert.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
Labels: area/central, area/ui

#15442 ROX-29478: Revise GHA/Konflux suppression
  .github/workflows/build.yaml
  .github/workflows/scanner-build.yaml
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retag-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
  scripts/ci/should-konflux-replace-gha-build.bats
  scripts/ci/should-konflux-replace-gha-build.hold
  scripts/ci/should-konflux-replace-gha-build.sh
Labels: area/ci, konflux-build, backport-for-4.6-konflux-release, backport-for-4.7-konflux-release

#15453 ROX-29492: Compute conditional colSpan according to Advisory column
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageComponentVulnerabilitiesTable.tsx
Labels: area/ui

#15455 ROX-29493: Render component vulnerabilities table if imageMetadata
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
Labels: area/ui

#15467 ROX-29513: Replace CSV report preview with Non-optional columns
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/ReportParametersDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/exampleReportsCSVData.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportParametersForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportReviewForm.tsx
Labels: area/ui

#15451 ROX-29491: Refactoring compliance report job labels
  ui/apps/platform/src/Components/ReportJob/JobStatusPopoverContent.tsx
  ui/apps/platform/src/Components/ReportJob/MyLastJobStatus.test.tsx
  ui/apps/platform/src/Components/ReportJob/ReportJobStatus.test.tsx
  ui/apps/platform/src/Components/ReportJob/ReportJobStatus.tsx
  ui/apps/platform/src/Components/ReportJob/ReportJobStatusFilter.test.tsx
  ui/apps/platform/src/Components/ReportJob/ReportJobStatusFilter.tsx
  ui/apps/platform/src/Components/ReportJob/types.ts
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/ConfigReportsTab.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/OnDemandReportsTab.tsx
Labels: area/ui, epic/compliance-2.0/reporting

#15452 ROX-29490: Adding pagination for failed clusters table
  ui/apps/platform/src/Components/ReportJob/PartialReportModal.tsx
Labels: area/ui, epic/compliance-2.0/reporting

#15438 ROX-29199: New Operator Defaulting (for SecuredCluster only)
  operator/api/v1alpha1/securedcluster_defaults.go
  operator/api/v1alpha1/securedcluster_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/internal/central/extensions/reconcile_defaulting.go
  operator/internal/common/defaulting/central_scanner_v4_enabling.go
  operator/internal/common/defaulting/common.go
  operator/internal/common/defaulting/secured_cluster_scanner_v4_enabling.go
  operator/internal/securedcluster/extensions/common.go
  operator/internal/securedcluster/extensions/reconcile_defaulting.go
  operator/internal/securedcluster/extensions/reconcile_defaulting_test.go
  operator/internal/securedcluster/extensions/reconcile_scanner_v4_feature_defaults.go
  operator/internal/securedcluster/extensions/reconcile_scanner_v4_feature_defaults_test.go
  operator/internal/securedcluster/reconciler/reconciler.go
  operator/internal/securedcluster/values/translation/translation.go
  operator/internal/securedcluster/values/translation/translation_test.go
Labels: area/operator

#15496 ROX-29443: Update NavigationSidebar for Compliance GA
  ui/apps/platform/src/Containers/MainPage/Navigation/NavigationSidebar.tsx
Labels: area/ui

#15456 ROX-29489: Allow resetting RHLP rule to default
  ui/apps/platform/src/Containers/SystemConfig/Form/PlatformComponentsConfigForm.tsx
  ui/apps/platform/src/Containers/SystemConfig/Form/SystemConfigForm.tsx
  ui/apps/platform/src/Containers/SystemConfig/SystemConfigPage.tsx
  ui/apps/platform/src/services/SystemConfigService.ts
Labels: area/ui, epic/platform-components

#15333 ROX-28348: Cleanup results on scan config update
  central/complianceoperator/v2/checkresults/datastore/datastore.go
  central/complianceoperator/v2/checkresults/datastore/datastore_impl.go
  central/complianceoperator/v2/checkresults/datastore/datastore_impl_test.go
  central/complianceoperator/v2/checkresults/datastore/mocks/datastore.go
  central/complianceoperator/v2/compliancemanager/manager_impl.go
  central/complianceoperator/v2/compliancemanager/manager_impl_test.go
  central/complianceoperator/v2/compliancemanager/singleton.go
Labels: area/central

#15472 fix(multiarch): use centos9 for central-db image
  image/postgres/Dockerfile
Labels: area/helm, area/postgres, ci-build-all-arch

#15356 feat(reporting): Separate partial download and partial email
  central/complianceoperator/v2/report/manager/generator/report_gen_impl.go
  central/complianceoperator/v2/report/manager/generator/report_gen_impl_test.go
  central/complianceoperator/v2/scanconfigurations/service/convert.go
  generated/api/v2/compliance_scan_configuration_service.pb.go
  generated/api/v2/compliance_scan_configuration_service.swagger.json
  generated/storage/compliance_operator_v2.pb.go
  proto/api/v2/compliance_scan_configuration_service.proto
  proto/storage/compliance_operator_v2.proto
  proto/storage/proto.lock
Labels: area/central

#15513 fix(access): Use the proper ctx to upsert the blob store
  central/complianceoperator/v2/report/manager/generator/report_gen_impl.go
  central/complianceoperator/v2/report/manager/generator/report_gen_impl_test.go
Labels: area/central

#15515 chore(ui): Update axios to 1.9.0
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui

#15509 chore(ui): Upgrade express/path-to-regex
  ui/apps/platform/package-lock.json
Labels: area/ui

#15512 chore(ui): Update loader-utils
  ui/apps/platform/package-lock.json
Labels: area/ui

#15511 chore(ui): Update recursive-readdir + minimatch
  ui/apps/platform/package-lock.json
Labels: area/ui

#15468 ROX-29074: include advisory data and CVSS in roxctl image scan output
  CHANGELOG.md
  roxctl/common/printer/tabularprinter_factory.go
  roxctl/common/printer/tabularprinter_factory_test.go
  roxctl/image/scan/cve.go
  roxctl/image/scan/cve_test.go
  roxctl/image/scan/scan.go
  roxctl/image/scan/scan_test.go
  roxctl/image/scan/testdata/color_empty.csv
  roxctl/image/scan/testdata/color_empty.txt
  roxctl/image/scan/testdata/color_testComponents.csv
  roxctl/image/scan/testdata/color_testComponents.json
  roxctl/image/scan/testdata/color_testComponents.txt
  roxctl/image/scan/testdata/empty.csv
  roxctl/image/scan/testdata/empty.txt
  roxctl/image/scan/testdata/legacy_testComponents.json
  roxctl/image/scan/testdata/testComponents.csv
  roxctl/image/scan/testdata/testComponents.json
  roxctl/image/scan/testdata/testComponents.txt
Labels: area/roxctl

#15503 ROX-29527: Change Compliance banner text
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsPage.tsx
Labels: area/ui

#15508 chore(Scanner): Increase bundle export timeout
  go.mod
  go.sum
  scanner/cmd/updater/main.go
Labels: area/scanner, pr-update-scanner-vulns
