Repository stackrox/stackrox, pull requests merged in 2025-06, with the labels that each got.

#15484 ROX-28783: Add live pod count to workloads API
  central/testutils/export.go
  central/vulnmgmt/service/service.go
  central/vulnmgmt/service/service_impl.go
  central/vulnmgmt/service/service_impl_benchmark_test.go
  central/vulnmgmt/service/service_impl_postgres_test.go
  central/vulnmgmt/service/singleton.go
  generated/api/v1/vuln_mgmt_service.pb.go
  generated/api/v1/vuln_mgmt_service.swagger.json
  generated/api/v1/vuln_mgmt_service_vtproto.pb.go
  proto/api/v1/vuln_mgmt_service.proto
Labels: area/central

#15505 ROX-28348: Skip compliance operator version check for empty versions
  central/complianceoperator/v2/pipelines/complianceoperatorinfo/pipeline.go
  central/complianceoperator/v2/pipelines/complianceoperatorinfo/pipeline_test.go
Labels: area/central

#15465 ROX-29199: Treat "Default" vals in CRs the same as not-specified
  operator/api/v1alpha1/central_defaults.go
  operator/api/v1alpha1/central_types.go
  operator/api/v1alpha1/securedcluster_defaults.go
  operator/internal/central/values/translation/translation_test.go
  operator/internal/securedcluster/scanner/auto_sense.go
  operator/internal/securedcluster/scanner/defaults.go
  operator/internal/securedcluster/values/translation/translation.go
  operator/internal/securedcluster/values/translation/translation_test.go
Labels: area/operator

#15510 chore(ui): Update nth-check dependency
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui

#15514 chore(ui): Update canvg
  ui/apps/platform/package-lock.json
Labels: area/ui

#15506 ROX-28625: Add link to Tekton task to access control UI page
  ui/apps/platform/src/Containers/AccessControl/AuthProviders/AuthProviders.tsx
Labels: area/ui

#15502 Update CHANGELOG.md for 4.7.4
  CHANGELOG.md
Labels: backport

#15529 fix(access): Use proper access in the convert functions
  central/complianceoperator/v2/scanconfigurations/service/convert.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl_test.go
Labels: area/central

#15298 ROX-29251: Remove old CheckResults
  central/complianceoperator/v2/checkresults/datastore/datastore.go
  central/complianceoperator/v2/checkresults/datastore/datastore_impl.go
  central/complianceoperator/v2/checkresults/datastore/datastore_impl_test.go
  central/complianceoperator/v2/checkresults/datastore/mocks/datastore.go
  central/complianceoperator/v2/checkresults/store/postgres/store.go
  central/complianceoperator/v2/pipelines/complianceoperatorresultsv2/pipeline.go
  central/complianceoperator/v2/pipelines/complianceoperatorscansv2/pipeline.go
  central/complianceoperator/v2/report/manager/manager_impl.go
  central/complianceoperator/v2/report/manager/manager_test.go
  central/complianceoperator/v2/report/manager/singleton.go
  central/complianceoperator/v2/report/manager/watcher/scanconfigwatcher.go
  central/complianceoperator/v2/report/manager/watcher/scanconfigwatcher_test.go
  central/complianceoperator/v2/report/manager/watcher/scanwatcher.go
  central/complianceoperator/v2/report/manager/watcher/scanwatcher_test.go
  central/convert/internaltov2storage/compliance_check_results.go
  generated/storage/compliance_operator_v2.pb.go
  generated/storage/compliance_operator_v2_vtproto.pb.go
  pkg/postgres/schema/compliance_operator_check_result_v2.go
  pkg/search/options.go
  proto/storage/compliance_operator_v2.proto
  proto/storage/proto.lock
Labels: area/central, area/postgres

#15278 ROX-24719: add --namespace flag for roxctl image scan/check
  central/delegatedregistryconfig/delegator/delegator.go
  central/delegatedregistryconfig/delegator/delegator_test.go
  central/detection/service/service_impl.go
  central/image/service/service_impl.go
  generated/api/v1/detection_service.pb.go
  generated/api/v1/detection_service.swagger.json
  generated/api/v1/detection_service_vtproto.pb.go
  generated/api/v1/image_service.pb.go
  generated/api/v1/image_service.swagger.json
  generated/api/v1/image_service_vtproto.pb.go
  pkg/delegatedregistry/delegator.go
  pkg/delegatedregistry/mocks/delegator.go
  pkg/images/enricher/enricher.go
  pkg/images/enricher/enricher_impl.go
  pkg/images/enricher/enricher_impl_test.go
  proto/api/v1/detection_service.proto
  proto/api/v1/image_service.proto
  roxctl/image/check/check.go
  roxctl/image/scan/scan.go
  roxctl/maincommand/command_tree_debug.yaml
  roxctl/maincommand/command_tree_release.yaml
Labels: area/roxctl, area/central, area/sensor

#15546 fix: Remove nested logger name
  operator/internal/common/defaulting/secured_cluster_scanner_v4_enabling.go
Labels: area/operator

#15536 ROX-29415: Add External IPs analytics
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalIpsContainer.tsx
  ui/apps/platform/src/hooks/useAnalytics.ts
Labels: area/ui

#15518 fix(pcc): Fix saving rules before checking them
  central/config/service/service.go
Labels: area/central, auto-retest

#15556 ROX-28627: Fix violations test error
  ui/apps/platform/cypress/integration/violations/violations.test.js
Labels: area/ui

#15555 chore(ui): Remove initial telemetry page event, redact sidePanel
  ui/apps/platform/src/global/initializeAnalytics.js
  ui/apps/platform/src/hooks/useAnalytics.ts
Labels: area/ui

#15522 ROX-29564: Get created at and first image occurrence from old tables
  central/image/datastore/store/common/v2/parts_test.go
  central/image/datastore/store/common/v2/split.go
  central/image/datastore/store/common/v2/split_v2.go
  central/image/datastore/store/postgres/store.go
  central/image/datastore/store/v2/postgres/store.go
  central/image/datastore/store/v2/postgres/store_test.go
Labels: area/central

#15265 ROX-29085: add signature integration tab
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageSignatureVerification.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageDetailBadges.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/types.ts
Labels: area/ui

#15539 ROX-29574: Add external flows confirmation modal
  ui/apps/platform/src/Containers/NetworkGraph/deployment/ExternalFlows.tsx
Labels: area/ui

#15542 ROX-29596: Fix duplicate images returned when expanding CVEs with different severities in different images
  central/views/images/view_impl.go
Labels: area/central

#15234 ROX-29086: signature count in image page
  central/graphql/resolvers/images.go
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageDetailBadges.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/SignatureCountLabelLayout.tsx
Labels: area/central, area/ui

#15408 ROX-27490: generate partial reports per cluster
  central/complianceoperator/v2/report/datastore/datastore.go
  central/complianceoperator/v2/report/datastore/datastore_impl.go
  central/complianceoperator/v2/report/datastore/datastore_impl_test.go
  central/complianceoperator/v2/report/datastore/mocks/datastore.go
  central/complianceoperator/v2/report/manager/format/formatter.go
  central/complianceoperator/v2/report/manager/format/formatter_test.go
  central/complianceoperator/v2/report/manager/generator/mocks/report_gen.go
  central/complianceoperator/v2/report/manager/generator/report_gen.go
  central/complianceoperator/v2/report/manager/generator/report_gen_impl.go
  central/complianceoperator/v2/report/manager/generator/report_gen_impl_test.go
  central/complianceoperator/v2/report/manager/helpers/clusterdata.go
  central/complianceoperator/v2/report/manager/helpers/clusterdata_test.go
  central/complianceoperator/v2/report/manager/manager_impl.go
  central/complianceoperator/v2/report/manager/manager_test.go
  central/complianceoperator/v2/report/manager/results/results_aggregator.go
  central/complianceoperator/v2/report/manager/results/results_aggregator_test.go
  central/complianceoperator/v2/report/manager/watcher/validator.go
  central/complianceoperator/v2/report/manager/watcher/validator_test.go
  central/complianceoperator/v2/report/request.go
  central/complianceoperator/v2/report/result.go
  generated/storage/compliance_operator_v2.pb.go
  generated/storage/compliance_operator_v2_vtproto.pb.go
  pkg/fixtures/fixtureconsts/fixture_consts.go
  proto/storage/compliance_operator_v2.proto
  proto/storage/proto.lock
Labels: area/central, area/postgres

#15478 ROX-18779: Reprocess formerly cluster local images
  central/image/service/service_impl.go
  central/image/service/service_impl_test.go
Labels: area/central

#15540 ROX-29400: prune also in network trees
  central/networkgraph/flow/datastore/internal/store/postgres/cluster_impl.go
  central/networkgraph/flow/datastore/internal/store/postgres/store.go
  central/networkgraph/flow/datastore/internal/store/postgres/tests/store_test.go
  central/networkgraph/flow/datastore/internal/store/testcommon/flow.go
Labels: area/central

#15517 ROX-29548: Add Prometheus metrics for Compliance Operator reporting
  central/complianceoperator/v2/report/manager/manager_impl.go
  central/complianceoperator/v2/report/manager/metrics.go
  central/complianceoperator/v2/report/manager/watcher/metrics.go
  central/complianceoperator/v2/report/manager/watcher/scanwatcher.go
  pkg/env/compliance_operator.go
  sensor/kubernetes/complianceoperator/handler_impl.go
  sensor/kubernetes/complianceoperator/metrics.go
Labels: area/central, area/sensor, turbo-build

#15450 ROX-22663: Add configurable Maven search
  pkg/env/scannerv4.go
  pkg/features/list.go
  scanner/indexer/indexer.go
Labels: area/scanner, auto-retest

#15581 ROX-29602: Use updated `determine-image-tag` task
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retag-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Labels: konflux-build, backport-for-4.6-konflux-release, backport-for-4.7-konflux-release, backport-for-4.8-konflux-release

#15595 chore: Update scanner VULNERABILITY_VERSION file
  scanner/updater/version/VULNERABILITY_BUNDLE_VERSION
Labels: area/scanner

#15613 fix(ui): Remove 'Inactive Deployment' filter from VM pages
  ui/apps/platform/src/Containers/Vulnerabilities/searchFilterConfig.ts
Labels: area/ui

#15599 chore(release): Bump Scanner to 2.37.0
  SCANNER_VERSION
Labels: ci-all-qa-tests, backport

#15621 fix(ui): Validate .yaml and .yml extensions properly
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
Labels: ok-to-test, external-contributor

#15628 ROX-29157: Pin and prefetch UBI image in operator-e2e
  .github/dependabot.yaml
  .github/workflows/style.yaml
  operator/tests/controller/metrics/200-access-no-auth.yaml
  operator/tests/controller/metrics/200-access-no-http2.yaml
  operator/tests/controller/metrics/200-access-privileged.yaml
  operator/tests/controller/metrics/200-access-unprivileged.yaml
  operator/tests/run.sh
  scripts/ci/jobs/check-dependabot-pinned-image.sh
  scripts/ci/lib.sh
Labels: area/operator, area/ci, auto-retest

#14363 feat(operator): handle istio API disappearance
  go.mod
  go.sum
  operator/internal/central/reconciler/reconciler.go
  operator/internal/common/extensions/mapkubeapis.go
  operator/internal/securedcluster/reconciler/reconciler.go
Labels: area/operator, auto-retest

#15552 ROX-29411: adding wait-for-image task to retag pipeline
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retag-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Labels: konflux-build, backport-for-4.6-konflux-release, backport-for-4.7-konflux-release, backport-for-4.8-konflux-release

#15691 ROX-29465: Add dev docs for operator defaulting extension
  operator/EXTENDING_CRDS.md
Labels: area/operator

#15610 ROX-29641: Fix k6 tests
  .github/workflows/performance-tests.yml
  scale/dev/launch_sensor.sh
Labels: area/ci, ci-performance-tests

#15713 ROX-29657: Fix inconsistent names in Integrations
  ui/apps/platform/src/Containers/Integrations/Banners/OcmDeprecatedToken.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/AcscsEmailIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ApiTokenIntegrationForm/ApiTokenIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ApiTokenIntegrationForm/useAllowedRoles.ts
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/IntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/IntegrationTilesPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/MachineAccessTile.tsx
Labels: area/ui

#15671 chore(ui): Refactor VM report forms to use a shared wizard
  ui/apps/platform/cypress/integration/vulnerabilities/VulnerabilityReporting/reportForm.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/CloneVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/CreateVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/EditVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/ReportFormWizard.tsx
Labels: area/ui

#15673 chore(ui): Inline the VM report config form footer
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/ReportFormWizard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/ReportFormWizardFooter.tsx
Labels: area/ui

#15719 ROX-29656: Fix inconsistent names in System Health
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/SystemHealth/Components/IntegrationHealthWidgetVisual.tsx
  ui/apps/platform/src/Containers/SystemHealth/SystemHealthPage.tsx
Labels: area/ui

#15721 ROX-29659: Fix inconsistent names anywhere else
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/CreateScanConfigPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/DeploymentScopeModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/components/NodeComponentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/hooks/patternfly/useTableSort.ts
  ui/apps/platform/src/hooks/useTableSort.ts
Labels: area/ui

#15732 fix: Helm: Keep scanner-v4 enabled except for upgrades from 4.7
  image/templates/helm/shared/templates/_scanner-v4_defaulting.tpl
  image/templates/helm/stackrox-central/.helmtplignore.htpl
  image/templates/helm/stackrox-central/templates/00-stackrox-helm-configmap.yaml
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-central/templates/_stackrox_helm.tpl
  image/templates/helm/stackrox-secured-cluster/.helmtplignore.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_scanner-defaulting.tpl
  image/templates/helm/stackrox-secured-cluster/templates/_stackrox_helm.tpl
  image/templates/helm/stackrox-secured-cluster/templates/stackrox-helm-configmap.yaml
  pkg/helm/charts/tests/centralservices/testdata/helmtest/scanner-v4.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/scanner-v4.test.yaml
  pkg/renderer/render_new.go
  tests/e2e/run-scanner-v4-install.bats
Labels: area/helm, auto-retest

#15726 chore(ui): Replace deprecated Wizard component in VM reporting
  ui/apps/platform/cypress/helpers/wizard.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/CloneVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/CreateVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/EditVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/ReportFormWizard.tsx
Labels: area/ui

#15746 chore(ui): Inline ScanConfigWizard local subcomponents
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ScanConfigWizardFooter.tsx
Labels: area/ui

#15748 ROX-29727: Add commented-out export-default-react lint rule
  ui/apps/platform/eslint-plugins/pluginGeneric.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/ImageDetailBadges.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/SignatureCountLabel.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/VerifiedSignatureLabel.tsx
Labels: area/ui

#15771 ROX-29753: service account search to get results in one query
  central/serviceaccount/internal/store/store.go
  central/serviceaccount/search/searcher_impl.go
Labels: area/central

#15786 ROX-29776: service account service drops pagination
  central/serviceaccount/service/service_impl.go
Labels: area/central

#15769 test(ui): Add more to compliance scan schedule e2e test
  ui/apps/platform/cypress/fixtures/compliance/integrations.json
  ui/apps/platform/cypress/fixtures/compliance/profiles.json
  ui/apps/platform/cypress/helpers/wizard.ts
  ui/apps/platform/cypress/integration/compliance-enhanced/complianceEnhancedScanConfigs.test.js
  ui/apps/platform/cypress/integration/vulnerabilities/VulnerabilityReporting/reportForm.test.ts
Labels: area/ui

#15787 ROX-29756: Update graphql 16.11.0 in dependencies
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui

#15772 chore(ui): Update vscode settings in ui/apps/platform/README.md
  ui/apps/platform/README.md
Labels: area/ui

#15767 ROX-29750: Update yup 1.6.1 in dependencies
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui

#15766 ROX-29749: Update redoc 2.5.0 in dependencies
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui

#15765 ROX-29748: Update qs 6.14.0 in dependencies
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui

#15717 ROX-26366: remove single bundle vuln
  .github/workflows/scanner-versioned-definitions-update.yaml
  pkg/features/list.go
  scanner/cmd/updater/main.go
  scanner/matcher/updater/vuln/updater.go
  scanner/matcher/updater/vuln/updater_test.go
  scanner/updater/export.go
Labels: area/scanner, area/ci, pr-update-scanner-vulns, scanner-split-vulns

#15801 ROX-29751: Update types in devDependencies
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
  ui/apps/platform/src/hooks/useURLParameter.ts
Labels: area/ui

#15793 ROX-29600: Add metric for ALPN results
  central/main.go
  pkg/grpc/endpoints.go
  pkg/grpc/endpoints_test.go
  pkg/grpc/metrics/prom.go
  pkg/grpc/server.go
  pkg/tlsutils/alpn_demux.go
  sensor/common/sensor/sensor.go
Labels: area/central, area/sensor, area/scanner, turbo-build

#15177 ROX-28996: Log additional info on DeclarativeConfigTest fail
  qa-tests-backend/src/test/groovy/DeclarativeConfigTest.groovy
Labels: auto-retest

#15815 ROX-27060: Konflux Backporting for 4.6, Batch 2
  .github/renovate.json5
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-build.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retag-collector-full.yaml
  .tekton/retag-collector-slim.yaml
  .tekton/retag-image-task.yaml
  .tekton/retag-pipeline.yaml
  .tekton/retag-scanner-db-slim.yaml
  .tekton/retag-scanner-db.yaml
  .tekton/retag-scanner-slim.yaml
  .tekton/retag-scanner.yaml
  .tekton/scanner-v4-pipeline.yaml
  .tekton/wait-for-image-task.yaml
  image/rhel/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  operator/Makefile
  operator/bundle.Dockerfile
  operator/bundle_helpers/.gitignore
  operator/bundle_helpers/README.md
  operator/bundle_helpers/poetry.lock
  operator/bundle_helpers/pyproject.toml
  operator/bundle_helpers/requirements-build.txt
  operator/bundle_helpers/requirements-gha.txt
  operator/bundle_helpers/requirements.in
  operator/bundle_helpers/requirements.txt
  operator/konflux.Dockerfile
  operator/konflux.bundle.Dockerfile
  scanner/image/scanner/konflux.Dockerfile
Labels: area/helm, area/operator, area/scanner, area/ci, backport, konflux-build

#15837 ROX-29827: remove admin event searcher
  central/administration/events/datastore/datastore.go
  central/administration/events/datastore/datastore_impl.go
  central/administration/events/datastore/datastore_impl_postgres_test.go
  central/administration/events/datastore/internal/search/mocks/searcher.go
  central/administration/events/datastore/internal/search/searcher.go
  central/administration/events/datastore/internal/search/searcher_impl.go
  central/administration/events/datastore/singleton.go
  central/administration/events/datastore/telemetry_administration_events_test.go
Labels: area/central

#15838 ROX-29828: remove cloudsources searcher
  central/cloudsources/datastore/datastore.go
  central/cloudsources/datastore/datastore_impl.go
  central/cloudsources/datastore/internal/search/mocks/searcher.go
  central/cloudsources/datastore/internal/search/searcher.go
  central/cloudsources/datastore/internal/search/searcher_impl.go
  central/cloudsources/datastore/singleton.go
Labels: area/central

#15816 ROX-27060: Konflux Backporting for 4.6, Batch 3
  .github/workflows/build.yaml
  .github/workflows/release-ci.yaml
  .github/workflows/scanner-build.yaml
  .github/workflows/style.yaml
  .tekton/basic-component-pipeline.yaml
  .tekton/central-db-build.yaml
  .tekton/determine-image-tag-task.yaml
  .tekton/fetch-external-networks-task.yaml
  .tekton/fetch-scanner-vuln-mappings-task.yaml
  .tekton/main-build.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-build.yaml
  .tekton/operator-bundle-build.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retag-image-task.yaml
  .tekton/retag-pipeline.yaml
  .tekton/roxctl-build.yaml
  .tekton/scanner-v4-build.yaml
  .tekton/scanner-v4-db-build.yaml
  .tekton/scanner-v4-pipeline.yaml
  .tekton/wait-for-image-task.yaml
  image/postgres/konflux.Dockerfile
  image/rhel/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  operator/Makefile
  operator/konflux.Dockerfile
  operator/konflux.bundle.Dockerfile
  scanner/image/db/konflux.Dockerfile
  scanner/image/scanner/konflux.Dockerfile
  scripts/ci/bats/lib_registry_from_branding.bats
  scripts/ci/bats/lib_release_version_test.bats
  scripts/ci/jobs/check-konflux-pipelines.sh
  scripts/ci/lib.sh
  scripts/reference/README.md
  scripts/reference/build-quay-operator-bundles.sh
  scripts/style/shellcheck_skip.txt
  tests/e2e/run-scanner-v4.bats
Labels: ci-all-qa-tests, area/helm, area/operator, area/postgres, area/scanner, area/ci, backport, konflux-build

#15810 ROX-29761: Make wizard Review step and button consistent
  ui/apps/platform/cypress/integration/vulnerabilities/VulnerabilityReporting/reportForm.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/VulnerabilityReporting/reportsTable.test.js
  ui/apps/platform/src/Components/TabNav/TabNavSubHeader.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/Wizard/ScanConfigWizardForm.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/PolicyWizard.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/CloneVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/CreateVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/EditVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/ReportFormWizard.tsx
Labels: area/ui

#15817 ROX-27060: Konflux Backporting for 4.6, Batch 4
  .konflux/scripts/fail-build-if-git-is-dirty.sh
  .tekton/basic-component-pipeline.yaml
  .tekton/central-db-build.yaml
  .tekton/main-build.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-build.yaml
  .tekton/operator-bundle-build.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retag-collector-full.yaml
  .tekton/retag-collector-slim.yaml
  .tekton/retag-pipeline.yaml
  .tekton/retag-scanner-db-slim.yaml
  .tekton/retag-scanner-db.yaml
  .tekton/retag-scanner-slim.yaml
  .tekton/retag-scanner.yaml
  .tekton/roxctl-build.yaml
  .tekton/scanner-v4-build.yaml
  .tekton/scanner-v4-db-build.yaml
  .tekton/scanner-v4-pipeline.yaml
  Makefile
  image/postgres/konflux.Dockerfile
  image/rhel/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  make/env.mk
  operator/konflux.Dockerfile
  scanner/image/db/konflux.Dockerfile
  scanner/image/scanner/konflux.Dockerfile
Labels: area/helm, area/operator, area/postgres, area/scanner, backport, konflux-build

#15848 ROX-29831: network policies remove searcher
  central/networkpolicies/datastore/datastore.go
  central/networkpolicies/datastore/datastore_impl.go
  central/networkpolicies/datastore/datastore_impl_test.go
  central/networkpolicies/datastore/datastore_sac_test.go
  central/networkpolicies/datastore/internal/search/searcher.go
  central/networkpolicies/datastore/internal/search/searcher_impl.go
  central/networkpolicies/datastore/singleton.go
Labels: area/central

#13281 ROX-28786: Conversion of UI tooling from CRA->Vite
  ui/Makefile
  ui/apps/platform/config-overrides.js
  ui/apps/platform/cypress.config.js
  ui/apps/platform/eslint.config.js
  ui/apps/platform/index.html
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
  ui/apps/platform/react-app-rewired/jest/cssTransform.js
  ui/apps/platform/react-app-rewired/jest/fileTransform.js
  ui/apps/platform/scripts/check-optional-dependency-versions.js
  ui/apps/platform/src/Components/CveType/__snapshots__/CveType.test.jsx.snap
  ui/apps/platform/src/Components/Select.test.jsx
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/ClusteredEventMarker/__snapshots__/ClusteredEventMarker.test.tsx.snap
  ui/apps/platform/src/Components/TimelineGraph/EventsGraph/EventMarker/__snapshots__/EventMarker.test.jsx.snap
  ui/apps/platform/src/Components/ToggleSwitch/ToggleSwitch.test.jsx
  ui/apps/platform/src/Components/__snapshots__/ObjectDescriptionList.test.jsx.snap
  ui/apps/platform/src/Containers/ConfigManagement/ConfigMgmt.utils.test.js
  ui/apps/platform/src/Containers/Integrations/hooks/useIntegrationPermissions.test.jsx
  ui/apps/platform/src/Containers/NetworkGraph/components/DisplayOptionsSelect.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/LegendContent.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/StyleNode.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Form/SystemConfigForm.tsx
  ui/apps/platform/src/Containers/ThemeProvider.jsx
  ui/apps/platform/src/Containers/VulnMgmt/List/Cves/ListCVEs.utils.test.js
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/utils/getImageScanMessage.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/sortUtils.test.ts
  ui/apps/platform/src/app.tw.css
  ui/apps/platform/src/constants/productBranding.ts
  ui/apps/platform/src/css.imports.ts
  ui/apps/platform/src/hooks/useRestMutation.test.ts
  ui/apps/platform/src/hooks/useTimeout.test.ts
  ui/apps/platform/src/hooks/useURLPagination.test.tsx
  ui/apps/platform/src/hooks/useURLParameter.test.tsx
  ui/apps/platform/src/hooks/useURLSort.test.jsx
  ui/apps/platform/src/hooks/useURLStringUnion.test.tsx
  ui/apps/platform/src/hooks/useWidgetConfig.test.tsx
  ui/apps/platform/src/index.tsx
  ui/apps/platform/src/init/configureApolloClient.js
  ui/apps/platform/src/init/configureStore.js
  ui/apps/platform/src/init/initializeAnalytics.js
  ui/apps/platform/src/init/installRaven.js
  ui/apps/platform/src/react-app-env.d.ts
  ui/apps/platform/src/reducers/serverResponseStatus.test.js
  ui/apps/platform/src/reducers/telemetryConfig.js
  ui/apps/platform/src/sagas/authSagas.test.js
  ui/apps/platform/src/sagas/integrationSagas.test.js
  ui/apps/platform/src/services/AuthService/AccessTokenManager.test.js
  ui/apps/platform/src/services/AuthService/addTokenRefreshInterceptors.test.js
  ui/apps/platform/src/setupProxy.js
  ui/apps/platform/src/setupTests.js
  ui/apps/platform/src/test-utils/ComponentProviders.tsx
  ui/apps/platform/src/test-utils/flushTaskQueue.ts
  ui/apps/platform/src/utils/__snapshots__/WorkflowState.test.js.snap
  ui/apps/platform/src/utils/__snapshots__/entityRelationships.test.js.snap
  ui/apps/platform/tsconfig.eslint.json
  ui/apps/platform/tsconfig.json
  ui/apps/platform/vite.config.js
Labels: area/ui, area/helm, konflux-build

#15868 revert: "ROX-29835: Removed searchers from rbac (#15849)"
  central/rbac/k8srole/datastore/datastore.go
  central/rbac/k8srole/datastore/datastore_impl.go
  central/rbac/k8srole/datastore/singleton.go
  central/rbac/k8srole/internal/store/store.go
  central/rbac/k8srole/search/mocks/searcher.go
  central/rbac/k8srole/search/searcher.go
  central/rbac/k8srole/search/searcher_impl.go
  central/rbac/k8srolebinding/datastore/datastore.go
  central/rbac/k8srolebinding/datastore/datastore_impl.go
  central/rbac/k8srolebinding/datastore/singleton.go
  central/rbac/k8srolebinding/internal/store/store.go
  central/rbac/k8srolebinding/search/mocks/searcher.go
  central/rbac/k8srolebinding/search/searcher.go
  central/rbac/k8srolebinding/search/searcher_impl.go
Labels: area/central

#15836 ROX-29836: remove service account searchers
  central/serviceaccount/datastore/datastore.go
  central/serviceaccount/datastore/datastore_impl.go
  central/serviceaccount/datastore/datastore_impl_test.go
  central/serviceaccount/datastore/singleton.go
  central/serviceaccount/search/mocks/searcher.go
  central/serviceaccount/search/searcher.go
  central/serviceaccount/search/searcher_impl.go
Labels: area/central

#15708 fix(netgraph): fix anonymized discovered external flows
  central/networkgraph/aggregator/aggregator_impl.go
  central/networkgraph/aggregator/aggregator_test.go
  central/networkgraph/service/service_impl.go
  central/networkgraph/service/service_impl_postgres_benchmark_test.go
  central/networkgraph/service/service_impl_postgres_test.go
  central/networkgraph/transformer/external.go
  central/networkgraph/transformer/transformer.go
  central/networkgraph/transformer/transformer_test.go
  pkg/features/list.go
  tests/e2e/lib.sh
Labels: ci-all-qa-tests, area/central

#15875 fix: free more disk space for definitions update
  .github/workflows/scanner-versioned-definitions-update.yaml
Labels: area/ci, pr-update-scanner-vulns
