Repository stackrox/stackrox, pull requests merged in 2025-07, with the labels that each got.

#15811 ROX-29629: Network Graph URL State
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.constants.ts
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraph.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphContainer.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphURLStateContext.tsx
  ui/apps/platform/src/Containers/NetworkGraph/TopologyComponent.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/EdgeStateSelect.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/FlowTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NetworkBreadcrumbs.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NetworkSearch.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/ExternalFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/EntityDetails.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalEntitiesSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalIpsContainer.tsx
  ui/apps/platform/src/Containers/NetworkGraph/external/ExternalIpsTable.tsx
  ui/apps/platform/src/Containers/NetworkGraph/hooks/useScopeHierarchy.ts
  ui/apps/platform/src/Containers/NetworkGraph/namespace/NamespaceSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/DeploymentScopeModal.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPoliciesGenerationScope.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPoliciesYAML.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/SimulateNetworkPolicyButton.tsx
  ui/apps/platform/src/hooks/useAnalytics.ts
  ui/apps/platform/src/hooks/useURLPagination.test.tsx
  ui/apps/platform/src/hooks/useURLPagination.ts
  ui/apps/platform/src/hooks/useURLSearch.ts
Labels: area/ui

#15227 ROX-28665: Save metrics from long running clusters backport to 4.6
  deploy/charts/monitoring/templates/networkpolicy.yaml
  scripts/release-tools/kube-burner-configs/cluster-density/config.yml
  scripts/release-tools/kube-burner-configs/no-load-only-elasticsearch/config.yml
  tests/performance/scale/config/metrics-full.yml
Labels: backport, backport release-4.6

#15876 ROX-29886: Delete jest-related devDependencies
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui

#15885 ROX-29888: Upgrade cypress 14 in devDependencies
  ui/apps/platform/cypress.config.js
  ui/apps/platform/cypress/support/component.js
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui

#15854 ROX-29772: Allow node profiles of different products
  central/complianceoperator/v2/compliancemanager/manager_impl.go
  central/complianceoperator/v2/compliancemanager/manager_impl_test.go
  tests/compliance_operator_v2_test.go
Labels: area/central

#15888 ROX-29887: Update testing-library devDependencies
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui

#15802 ROX-29755: Recover reprocessing when Sensor's are 'stuck'
  central/metrics/central.go
  central/metrics/central_test.go
  central/metrics/init.go
  central/reprocessor/reprocessor.go
  central/reprocessor/reprocessor_test.go
  central/reprocessor/reprocessor_unit_test.go
  central/sensor/service/connection/connection_impl.go
  pkg/env/reprocessing_interval.go
  pkg/maputil/syncmap.go
  pkg/maputil/syncmap_test.go
Labels: area/central

#15895 ROX-29650: bump go to 1.24
  .golangci.yml
  go.mod
  operator/tools/controller-gen/go.mod
  operator/tools/envtest/go.mod
  operator/tools/kustomize/go.mod
  operator/tools/kuttl/go.mod
  operator/tools/operator-sdk/go.mod
  scanner/hack/quay/go.mod
  tests/performance/scale/go.mod
  tools/check-workflow-run/go.mod
  tools/linters/go.mod
  tools/test/go.mod
Labels: area/operator, area/scanner, auto-retest

#15896 ROX-29912: Add feature flag for improved Image data model
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui, ai-review

#15909 fix(CI): free more space for build
  .github/workflows/build.yaml
  .github/workflows/style.yaml
Labels: area/ci

#15887 chore: add split flag for v1
  .github/workflows/scanner-versioned-definitions-update.yaml
Labels: area/ci

#15872 ROX-29835: rbac remove searchers
  central/graphql/resolvers/search_test.go
  central/rbac/k8srole/datastore/datastore.go
  central/rbac/k8srole/datastore/datastore_impl.go
  central/rbac/k8srole/datastore/datastore_sac_test.go
  central/rbac/k8srole/datastore/singleton.go
  central/rbac/k8srole/internal/store/store.go
  central/rbac/k8srole/search/mocks/searcher.go
  central/rbac/k8srole/search/searcher.go
  central/rbac/k8srole/search/searcher_impl.go
  central/rbac/k8srolebinding/datastore/datastore.go
  central/rbac/k8srolebinding/datastore/datastore_impl.go
  central/rbac/k8srolebinding/datastore/datastore_sac_test.go
  central/rbac/k8srolebinding/datastore/singleton.go
  central/rbac/k8srolebinding/internal/store/store.go
  central/rbac/k8srolebinding/search/mocks/searcher.go
  central/rbac/k8srolebinding/search/searcher.go
  central/rbac/k8srolebinding/search/searcher_impl.go
  pkg/search/postgres/common.go
Labels: area/central, area/postgres

#15821 chore(dependabot): use CODEOWNERS instead of reviewers
  .github/CODEOWNERS
  .github/dependabot.yaml
Labels: area/ci

#14942 ROX-28879: Backport image checks, get 4.6 fit for release
  .github/workflows/build.yaml
  .github/workflows/style.yaml
  .tekton/central-db-build.yaml
  .tekton/main-build.yaml
  .tekton/operator-build.yaml
  .tekton/operator-bundle-build.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retag-collector-full.yaml
  .tekton/retag-collector-slim.yaml
  .tekton/retag-scanner-db-slim.yaml
  .tekton/retag-scanner-db.yaml
  .tekton/retag-scanner-slim.yaml
  .tekton/retag-scanner.yaml
  .tekton/roxctl-build.yaml
  .tekton/scanner-v4-build.yaml
  .tekton/scanner-v4-db-build.yaml
  COLLECTOR_VERSION
  SCANNER_VERSION
  scripts/ci/jobs/check-konflux-setup.sh
Labels: ci-all-qa-tests, area/ci, backport, konflux-build

#15900 ROX-29689: Get 4.7 fit for Konflux release
  .tekton/central-db-build.yaml
  .tekton/main-build.yaml
  .tekton/operator-build.yaml
  .tekton/operator-bundle-build.yaml
  .tekton/retag-collector.yaml
  .tekton/retag-scanner-db-slim.yaml
  .tekton/retag-scanner-db.yaml
  .tekton/retag-scanner-slim.yaml
  .tekton/retag-scanner.yaml
  .tekton/roxctl-build.yaml
  .tekton/scanner-v4-build.yaml
  .tekton/scanner-v4-db-build.yaml
  COLLECTOR_VERSION
  SCANNER_VERSION
Labels: ci-all-qa-tests, backport, konflux-build

#15929 fix(test): Operator e2e upgrade test
  operator/tests/upgrade/upgrade/005-assert.yaml
  operator/tests/upgrade/upgrade/005-errors.yaml
  operator/tests/upgrade/upgrade/010-assert.yaml
  operator/tests/upgrade/upgrade/010-errors.yaml
  operator/tests/upgrade/upgrade/030-assert-central.yaml
  operator/tests/upgrade/upgrade/030-errors.yaml
  operator/tests/upgrade/upgrade/031-assert-secured-cluster.yaml
  operator/tests/upgrade/upgrade/031-errors.yaml
  operator/tests/upgrade/upgrade/035-assert.yaml
  operator/tests/upgrade/upgrade/035-central-cr-with-scanner-v4.yaml
Labels: area/operator

#15694 ROX-19095: Ensure image names are not lost (#15353)
  central/image/service/service_impl.go
  central/image/service/service_impl_test.go
  sensor/common/detector/enricher.go
Labels: area/central, area/sensor, backport

#15893 ROX-29570: Give same RBAC to Flows as Baseline in Network Graph
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/components/NodeUpdateSection.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/AnomalousFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/AnomalousTraffic.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentBaseline.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentDetails.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentFlows.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/DeploymentSideBar.tsx
  ui/apps/platform/src/Containers/NetworkGraph/deployment/InternalFlows.tsx
Labels: area/ui

#15930 ROX-29755: Recover reprocessing when Sensor's are 'stuck' (#15802)
  central/metrics/central.go
  central/metrics/central_test.go
  central/metrics/init.go
  central/reprocessor/reprocessor.go
  central/reprocessor/reprocessor_test.go
  central/reprocessor/reprocessor_unit_test.go
  central/sensor/service/connection/connection_impl.go
  pkg/env/reprocessing_interval.go
  pkg/maputil/syncmap.go
  pkg/maputil/syncmap_test.go
Labels: area/central, backport

#15862 ROX-29603: Konflux Backporting for 4.8
  .tekton/basic-component-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retag-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
  image/postgres/konflux.Dockerfile
  image/rhel/konflux.Dockerfile
  image/roxctl/konflux.Dockerfile
  operator/konflux.bundle.Dockerfile
  rpms.lock.yaml
  scanner/image/db/konflux.Dockerfile
  scanner/image/scanner/konflux.Dockerfile
Labels: area/helm, area/operator, area/postgres, area/scanner, backport, konflux-build

#15947 ROX-29902: Update mobx in dependencies
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui

#15176 ROX-29185: Remember data about past Sensors
  pkg/env/sensor.go
  pkg/net/addr.go
  pkg/pods/namespace.go
  sensor/common/clusterentities/store.go
  sensor/common/clusterentities/store_container_id_test.go
  sensor/common/clusterentities/store_endpoints_test.go
  sensor/common/clusterentities/store_ips_test.go
  sensor/common/clusterentities/store_test.go
  sensor/common/heritage/heritage.go
  sensor/common/heritage/heritage_test.go
  sensor/common/heritage/storage.go
  sensor/common/networkflow/manager/public_ips_test.go
  sensor/common/processsignal/pipeline_test.go
  sensor/kubernetes/listener/resources/convert_mutating_test.go
  sensor/kubernetes/listener/resources/convert_override_test.go
  sensor/kubernetes/listener/resources/convert_test.go
  sensor/kubernetes/listener/resources/endpoints.go
  sensor/kubernetes/listener/resources/store_provider.go
  sensor/kubernetes/sensor/sensor.go
  sensor/kubernetes/telemetry/gatherers/cluster_test.go
  sensor/kubernetes/telemetry/gatherers/namespace_test.go
Labels: area/sensor

#15964 ROX-30049: Rename ROX_ADMISSION_CONTROLLER_CONFIG feature flag
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#15820 chore(roxctl): wrap errors with context messages
  .golangci.yml
  roxctl/central/backup/backup.go
  roxctl/central/cert/cert.go
  roxctl/central/crs/generate.go
  roxctl/central/crs/list.go
  roxctl/central/crs/revoke.go
  roxctl/central/db/restore/common.go
  roxctl/central/db/restore/v1.go
  roxctl/central/db/restore/v2.go
  roxctl/central/db/restore/v2_cancel.go
  roxctl/central/db/restore/v2_restorer.go
  roxctl/central/db/transfer/transfer.go
  roxctl/central/debug/authz_trace.go
  roxctl/central/debug/debug.go
  roxctl/central/debug/download_diagnostics.go
  roxctl/central/generate/generate.go
  roxctl/central/generate/interactive.go
  roxctl/central/generate/validate.go
  roxctl/central/initbundles/fetch_ca.go
  roxctl/central/initbundles/generate.go
  roxctl/central/initbundles/list.go
  roxctl/central/initbundles/revoke.go
  roxctl/central/login/login.go
  roxctl/central/userpki/create/create.go
  roxctl/central/userpki/delete/delete.go
  roxctl/central/userpki/list/list.go
  roxctl/central/whoami/whoami.go
  roxctl/scanner/downloaddb/downloaddb.go
Labels: area/roxctl, auto-retest

#15916 ROX-29690: Add -4-8 Konflux suffix, bump Scanner and Collector
  .tekton/central-db-build.yaml
  .tekton/main-build.yaml
  .tekton/operator-build.yaml
  .tekton/operator-bundle-build.yaml
  .tekton/retag-collector.yaml
  .tekton/retag-scanner-db-slim.yaml
  .tekton/retag-scanner-db.yaml
  .tekton/retag-scanner-slim.yaml
  .tekton/retag-scanner.yaml
  .tekton/roxctl-build.yaml
  .tekton/scanner-v4-build.yaml
  .tekton/scanner-v4-db-build.yaml
  COLLECTOR_VERSION
  SCANNER_VERSION
Labels: ci-all-qa-tests, backport, konflux-build

#15831 ROX-29555: use in-memory auth provider registry in group datastore
  central/authprovider/registry/singleton.go
  central/authprovider/service/service_impl_postgres_test.go
  central/declarativeconfig/updater/group_updater.go
  central/declarativeconfig/updater/role_updater_test.go
  central/declarativeconfig/updater/updater.go
  central/group/datastore/datastore.go
  central/group/datastore/datastore_impl.go
  central/group/datastore/datastore_impl_postgres_test.go
  central/group/datastore/datastore_impl_test.go
  central/group/datastore/singleton.go
  pkg/auth/authproviders/mocks/registry.go
  pkg/auth/authproviders/registry.go
Labels: area/auth, area/central

#16015 ROX-30101: Reformat `.tekton/*.yaml`-s to fix MintMaker / 4.8
  .tekton/basic-component-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retag-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Labels: backport, konflux-build

#16016 ROX-30101: Reformat `.tekton/*.yaml` to fix MintMaker / master
  .tekton/basic-component-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retag-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Labels: konflux-build

#16014 ROX-30101: Reformat `.tekton/*.yaml`-s to fix MintMaker / 4.6
  .tekton/basic-component-pipeline.yaml
  .tekton/images-mirror-set.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retag-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Labels: backport

#15963 ROX-30040: Delete ROX_SCAN_SCHEDULE_REPORT_JOBS feature flag in ui
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigActionDropdown.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigActionsColumn.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigDetailPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ScanConfigsTablePage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/ViewScanConfigDetail.tsx
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#16023 fix(central): Prune external ips by default 4.8 backport
  pkg/env/external_ips.go
Labels: backport

#15983 chore: flag to keep test dbs
  pkg/env/postgres_query_tracer.go
  pkg/postgres/pgtest/postgres.go
Labels: area/postgres

#15824 ROX-29816: byodb postgres 17 e2e test
  .openshift-ci/ci_tests.py
  deploy/common/k8sbased.sh
  qa-tests-backend/src/main/groovy/util/Env.groovy
  qa-tests-backend/src/test/groovy/CertRotationTest.groovy
  qa-tests-backend/src/test/groovy/ClusterInitBundleTest.groovy
  qa-tests-backend/src/test/groovy/ClustersTest.groovy
  qa-tests-backend/src/test/groovy/ImageManagementTest.groovy
  scripts/ci/gke.sh
  scripts/ci/jobs/gke_external_pg_17_qa_e2e_tests.py
  scripts/ci/logcheck/restart-ok-patterns.json
  scripts/grab-data-from-central.sh
  tests/byodb/lib.sh
  tests/byodb/run.sh
  tests/byodb/simple-postgres.yaml
Labels: area/ci

#16034 ROX-30003: Fix find cidr no lock backport 4.8
  pkg/networkgraph/tree/radix.go
  pkg/networkgraph/tree/radix_test.go
  pkg/networkgraph/tree/types.go
Labels: backport

#15912 ROX-29794: Sensor status to scan config cluster status
  central/complianceoperator/v2/integration/service/service_impl.go
  central/complianceoperator/v2/integration/service/service_impl_test.go
Labels: area/central, auto-retest

#16028 ROX-29784: Name sensor components
  sensor/common/admissioncontroller/alert_handler.go
  sensor/common/admissioncontroller/message_forwarder.go
  sensor/common/admissioncontroller/mocks/alert_handler.go
  sensor/common/compliance/auditlog_manager_impl.go
  sensor/common/compliance/command_handler_impl.go
  sensor/common/compliance/mocks/auditlog_manager.go
  sensor/common/compliance/mocks/service.go
  sensor/common/compliance/multiplexer.go
  sensor/common/compliance/node_inventory_handler_impl.go
  sensor/common/compliance/service_impl.go
  sensor/common/component.go
  sensor/common/config/handler.go
  sensor/common/config/mocks/handler.go
  sensor/common/delegatedregistry/delegated_registry_handler.go
  sensor/common/deploymentenhancer/component.go
  sensor/common/detector/detector.go
  sensor/common/detector/mocks/detector.go
  sensor/common/enforcer/enforcer.go
  sensor/common/externalsrcs/handler.go
  sensor/common/externalsrcs/mocks/handler.go
  sensor/common/image/service_impl.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/reprocessor/handler.go
  sensor/common/reprocessor/mocks/handler.go
  sensor/common/sensor/central_communication_test.go
  sensor/common/signal/signal_service.go
  sensor/kubernetes/admissioncontroller/config_map_persister.go
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer.go
  sensor/kubernetes/clusterhealth/updater.go
  sensor/kubernetes/clustermetrics/cluster_metrics.go
  sensor/kubernetes/clusterstatus/updater.go
  sensor/kubernetes/complianceoperator/handler_impl.go
  sensor/kubernetes/complianceoperator/mocks/types.go
  sensor/kubernetes/complianceoperator/updater.go
  sensor/kubernetes/eventpipeline/pipeline_impl.go
  sensor/kubernetes/networkpolicies/command_handler.go
  sensor/kubernetes/telemetry/command_handler.go
  sensor/kubernetes/upgrade/command_handler_impl.go
Labels: area/sensor

#15927 Add proto and schema changes for ImageV2 data model
  central/alert/datastore/internal/store/postgres/store.go
  central/cve/image/v2/datastore/store/postgres/gen.go
  central/cve/image/v2/datastore/store/postgres/store.go
  central/deployment/datastore/internal/store/postgres/gen.go
  central/deployment/datastore/internal/store/postgres/store.go
  central/graphql/resolvers/generated.go
  central/imagecomponent/v2/datastore/store/postgres/gen.go
  central/imagecomponent/v2/datastore/store/postgres/store.go
  central/imagev2/datastore/store/postgres/gen.go
  generated/api/v1/alert_service.swagger.json
  generated/api/v1/deployment_service.swagger.json
  generated/api/v1/detection_service.swagger.json
  generated/api/v1/image_service.swagger.json
  generated/api/v1/search_service.pb.go
  generated/api/v1/search_service.swagger.json
  generated/api/v1/vuln_mgmt_service.swagger.json
  generated/storage/cve.pb.go
  generated/storage/cve_vtproto.pb.go
  generated/storage/deployment.pb.go
  generated/storage/deployment_vtproto.pb.go
  generated/storage/image.pb.go
  generated/storage/image_component.pb.go
  generated/storage/image_component_vtproto.pb.go
  generated/storage/image_v2.pb.go
  generated/storage/image_v2_vtproto.pb.go
  pkg/postgres/schema/alerts.go
  pkg/postgres/schema/deployments.go
  pkg/postgres/schema/image_component_v2.go
  pkg/postgres/schema/image_cves_v2.go
  pkg/postgres/schema/images_v2.go
  pkg/postgres/walker/schema.go
  pkg/search/options.go
  proto/api/v1/search_service.proto
  proto/storage/cve.proto
  proto/storage/deployment.proto
  proto/storage/image.proto
  proto/storage/image_component.proto
  proto/storage/image_v2.proto
  proto/storage/proto.lock
  tools/generate-helpers/pg-table-bindings/list.go
Labels: area/central, area/postgres

#16050 fix(test): Backporting several changes to scanner-v4-install tests
  tests/e2e/run-scanner-v4-install.bats
Labels: backport

#16056 chore(scanner): Bump scanner 2.37.2
  SCANNER_VERSION
Labels: ci-all-qa-tests, backport

#15981 ROX-30087: implicit m2m token exchange
  CHANGELOG.md
  central/auth/m2m/mocks/set.go
  central/auth/m2m/set.go
  central/jwt/jwt.go
  central/jwt/jwt_test.go
Labels: area/auth, area/central, ai-review

#15834 chore(deps): replace yaml lib
  .github/workflows/style.yaml
  central/clusterinit/backend/render.go
  central/clusters/helmconfig/yaml.go
  central/declarativeconfig/watch_handler.go
  central/declarativeconfig/watch_handler_test.go
  central/endpoints/load.go
  central/globaldb/v2backuprestore/backup/generators/dbs/postgres_version.go
  central/notifiers/acscsemail/acscsemail_test.go
  central/notifiers/utils/encryption.go
  central/policy/customresource/custom_resource.go
  go.mod
  migrator/clone/mock_central.go
  pkg/compliance/checks/kubernetes/master_api_server.go
  pkg/config/config.go
  pkg/declarativeconfig/access_scope.go
  pkg/declarativeconfig/access_scope_test.go
  pkg/declarativeconfig/auth_provider_test.go
  pkg/declarativeconfig/configuration.go
  pkg/declarativeconfig/notifier_test.go
  pkg/declarativeconfig/permission_set.go
  pkg/declarativeconfig/permission_set_test.go
  pkg/declarativeconfig/role_test.go
  pkg/helm/config/roundtrip_test.go
  pkg/httputil/proxy/proxy_test.go
  pkg/httputil/proxy/watch.go
  pkg/migrations/migration_version.go
  pkg/renderer/kubernetes_helm_test.go
  roxctl/common/config/config.go
  roxctl/common/config/config_test.go
  roxctl/declarativeconfig/create/access_scope.go
  roxctl/declarativeconfig/create/auth_provider.go
  roxctl/declarativeconfig/create/notifier.go
  roxctl/declarativeconfig/create/permission_set.go
  roxctl/declarativeconfig/create/role.go
  roxctl/helm/derivelocalvalues/derivelocalvalues.go
  roxctl/maincommand/command_test.go
  scanner/updater/manual/manual.go
  sensor/common/sensor/helmconfig/load.go
  sensor/debugger/certs/cert_fetcher.go
  sensor/kubernetes/fake/fake.go
  tests/backup_test.go
  tests/performance/scale/go.mod
  tests/performance/scale/go.sum
  tests/performance/scale/tests/metadata-collector/main.go
  tests/policy_as_code_test.go
Labels: ci-all-qa-tests, area/roxctl, area/central, area/helm, area/operator, area/sensor, area/scanner, area/ci, auto-retest

#16066 ROX-29994: Remove 3 roxctl options that have been deprecated
  CHANGELOG.md
  roxctl/maincommand/command_tree_debug.yaml
  roxctl/maincommand/command_tree_release.yaml
  roxctl/sensor/generate/generate.go
  roxctl/sensor/generate/generate_test.go
  roxctl/sensor/getbundle/get_bundle.go
  tests/e2e/run.sh
  tests/roxctl/bats-tests/cluster/sensor-generate-image-overrides.bats
  tests/roxctl/slim-collector.sh
  tests/upgrade/lib.sh
Labels: area/roxctl

#16085 ROX-29185: Limit heritage updates on cache-hit
  sensor/common/heritage/heritage.go
Labels: area/sensor, ai-review

#16002 feat(ui): Add .gitignore entries for AI rules experimentation
  ui/.gitignore
Labels: area/ui

#16111 ROX-30218: Use consistent-type-imports for hooks
  ui/apps/platform/src/hooks/patternfly/useFormModal.ts
  ui/apps/platform/src/hooks/patternfly/useToasts.tsx
  ui/apps/platform/src/hooks/useAlert.test.ts
  ui/apps/platform/src/hooks/useAnalytics.ts
  ui/apps/platform/src/hooks/useAuthStatus.ts
  ui/apps/platform/src/hooks/useCentralCapabilities.ts
  ui/apps/platform/src/hooks/useClipboardCopy.ts
  ui/apps/platform/src/hooks/useEffectAfterFirstRender.ts
  ui/apps/platform/src/hooks/useFeatureFlags.ts
  ui/apps/platform/src/hooks/useFetchClusterNamespacesForPermissions.ts
  ui/apps/platform/src/hooks/useFetchClustersForPermissions.ts
  ui/apps/platform/src/hooks/useFetchDeployment.ts
  ui/apps/platform/src/hooks/useFetchDeploymentCount.ts
  ui/apps/platform/src/hooks/useFetchNamespaceDeployments.ts
  ui/apps/platform/src/hooks/useFetchNetworkPolicies.ts
  ui/apps/platform/src/hooks/useIsRouteEnabled.ts
  ui/apps/platform/src/hooks/useLocalStorage.ts
  ui/apps/platform/src/hooks/useMetadata.ts
  ui/apps/platform/src/hooks/usePageAction.ts
  ui/apps/platform/src/hooks/usePermissions.ts
  ui/apps/platform/src/hooks/useRestQuery.ts
  ui/apps/platform/src/hooks/useTableSort.ts
  ui/apps/platform/src/hooks/useURLPagination.ts
  ui/apps/platform/src/hooks/useURLParameter.ts
  ui/apps/platform/src/hooks/useURLSearch.ts
  ui/apps/platform/src/hooks/useURLSort.tsx
  ui/apps/platform/src/hooks/useURLStringUnion.ts
  ui/apps/platform/src/hooks/useWidgetConfig.ts
Labels: area/ui

#16113 ROX-30224: Use consistent-type-imports for services
  ui/apps/platform/src/services/AccessScopesService.ts
  ui/apps/platform/src/services/AdministrationEventsService.ts
  ui/apps/platform/src/services/AdministrationUsageService.ts
  ui/apps/platform/src/services/AlertsService.ts
  ui/apps/platform/src/services/AuthService/AuthService.ts
  ui/apps/platform/src/services/BackupIntegrationsService.ts
  ui/apps/platform/src/services/CertGenerationService.ts
  ui/apps/platform/src/services/CloudSourceService.ts
  ui/apps/platform/src/services/ClustersService.ts
  ui/apps/platform/src/services/CollectionsService.ts
  ui/apps/platform/src/services/ComplianceCommon.ts
  ui/apps/platform/src/services/ComplianceProfileService.ts
  ui/apps/platform/src/services/ComplianceResultsService.ts
  ui/apps/platform/src/services/ComplianceResultsStatsService.ts
  ui/apps/platform/src/services/ComplianceScanConfigurationService.ts
  ui/apps/platform/src/services/ComplianceService.ts
  ui/apps/platform/src/services/CredentialExpiryService.ts
  ui/apps/platform/src/services/DatabaseService.ts
  ui/apps/platform/src/services/DeclarativeConfigHealthService.ts
  ui/apps/platform/src/services/DeploymentsService.ts
  ui/apps/platform/src/services/DiscoveredClusterService.ts
  ui/apps/platform/src/services/FeatureFlagsService.ts
  ui/apps/platform/src/services/GroupsService.ts
  ui/apps/platform/src/services/ImageIntegrationsService.ts
  ui/apps/platform/src/services/IntegrationHealthService.ts
  ui/apps/platform/src/services/IntegrationsService.ts
  ui/apps/platform/src/services/MachineAccessService.ts
  ui/apps/platform/src/services/MetadataService.ts
  ui/apps/platform/src/services/NotifierIntegrationsService.ts
  ui/apps/platform/src/services/PDFExportService.ts
  ui/apps/platform/src/services/PoliciesService.ts
  ui/apps/platform/src/services/PolicyCategoriesService.ts
  ui/apps/platform/src/services/ProcessListeningOnPortsService.ts
  ui/apps/platform/src/services/ReportsService.ts
  ui/apps/platform/src/services/ReportsService.types.ts
  ui/apps/platform/src/services/RolesService.ts
  ui/apps/platform/src/services/SearchService.ts
  ui/apps/platform/src/services/SignatureIntegrationsService.ts
  ui/apps/platform/src/services/SystemConfigService.ts
  ui/apps/platform/src/services/VulnerabilityExceptionService.ts
  ui/apps/platform/src/services/imageService.ts
  ui/apps/platform/src/services/types.ts
Labels: area/ui

#16054 ROX-30143: Enable typescript-eslint consistent-type-exports rule
  ui/apps/platform/eslint.config.js
Labels: area/ui

#16108 ROX-30170, ROX-30100: roxctl options deprecation, fix defaults
  CHANGELOG.md
  roxctl/sensor/generate/generate.go
  roxctl/sensor/generate/k8s.go
  roxctl/sensor/generate/openshift.go
Labels: ci-all-qa-tests, area/roxctl

#16006 ROX-28979: Clusters page status details
  ui/apps/platform/src/Containers/Clusters/ClusterStatusGrid.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersTable.tsx
  ui/apps/platform/src/Containers/Clusters/Components/AdmissionControl/AdmissionControlPanel.tsx
  ui/apps/platform/src/Containers/Clusters/Components/AdmissionControl/AdmissionControlStatus.tsx
  ui/apps/platform/src/Containers/Clusters/Components/AdmissionControl/AdmissionControlStatusLegacy.tsx
  ui/apps/platform/src/Containers/Clusters/Components/AdmissionControl/AdmissionControlStatusTotals.tsx
  ui/apps/platform/src/Containers/Clusters/Components/ClusterHealthPanel.tsx
  ui/apps/platform/src/Containers/Clusters/Components/ClusterStatus.tsx
  ui/apps/platform/src/Containers/Clusters/Components/ClusterStatusLegacy.tsx
  ui/apps/platform/src/Containers/Clusters/Components/ClusterStatusPill.tsx
  ui/apps/platform/src/Containers/Clusters/Components/ClusterSummary.jsx
  ui/apps/platform/src/Containers/Clusters/Components/Collector/CollectorPanel.tsx
  ui/apps/platform/src/Containers/Clusters/Components/Collector/CollectorStatus.tsx
  ui/apps/platform/src/Containers/Clusters/Components/Collector/CollectorStatusLegacy.tsx
  ui/apps/platform/src/Containers/Clusters/Components/Collector/CollectorStatusTotals.tsx
  ui/apps/platform/src/Containers/Clusters/Components/CredentialExpiration.tsx
  ui/apps/platform/src/Containers/Clusters/Components/HealthLabelWithDelayed.tsx
  ui/apps/platform/src/Containers/Clusters/Components/Scanner/ScannerPanel.tsx
  ui/apps/platform/src/Containers/Clusters/Components/Scanner/ScannerStatus.tsx
  ui/apps/platform/src/Containers/Clusters/Components/Scanner/ScannerStatusLegacy.tsx
  ui/apps/platform/src/Containers/Clusters/Components/Scanner/ScannerStatusTotals.tsx
  ui/apps/platform/src/Containers/Clusters/Components/SensorPanel.tsx
  ui/apps/platform/src/Containers/Clusters/Components/SensorStatus.tsx
  ui/apps/platform/src/Containers/Clusters/Components/SensorStatusLegacy.tsx
  ui/apps/platform/src/Containers/Clusters/cluster.constants.ts
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.tsx
  ui/apps/platform/src/Containers/Clusters/clustersTableColumnDescriptors.jsx
  ui/apps/platform/src/messages/common.ts
  ui/apps/platform/src/types/cluster.proto.ts
Labels: area/ui

#15635 ROX-29654: Delete ROX_CVE_ADVISORY_SEPARATION feature flag
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/components/ReportParametersDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportParametersForm.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#16026 ROX-26179: Update clusters sensor status
  ui/apps/platform/cypress/integration/clusters/clustersHealthStatus.test.js
  ui/apps/platform/src/Containers/Clusters/ClustersTable.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.tsx
  ui/apps/platform/src/Containers/Clusters/Components/ClusterSummary.jsx
  ui/apps/platform/src/Containers/Clusters/Components/SensorUpgrade.tsx
  ui/apps/platform/src/Containers/Clusters/Components/SensorUpgradeLegacy.tsx
  ui/apps/platform/src/Containers/Clusters/Components/SensorUpgradePanel.tsx
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.test.js
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.tsx
  ui/apps/platform/src/Containers/Clusters/clustersTableColumnDescriptors.jsx
Labels: area/ui

#15883 ROX-29793: Adjust compliance endpoint permissions
  CHANGELOG.md
  central/complianceoperator/v2/checkresults/service/service_impl.go
  central/complianceoperator/v2/checkresults/stats/service/service_impl.go
  central/complianceoperator/v2/integration/service/service_impl.go
  central/complianceoperator/v2/profiles/service/service_impl.go
  central/complianceoperator/v2/rules/service/service_impl.go
  central/complianceoperator/v2/scanconfigurations/service/service_impl.go
  ui/apps/platform/src/routePaths.ts
Labels: area/central, area/ui

#16090 ROX-29792: Clarify cluster status for scan config
  central/complianceoperator/v2/compliancemanager/manager_impl.go
  central/complianceoperator/v2/compliancemanager/manager_impl_test.go
  ui/apps/platform/src/Containers/ComplianceEnhanced/Schedules/components/ScanConfigClustersTable.tsx
Labels: area/central, area/ui

#15944 ROX-29843: Minimal webpack config to build OCP dynamic plugin
  ui/apps/platform/eslint.config.js
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
  ui/apps/platform/src/ConsolePlugin/SecurityVulnerabilitiesPage/Index.tsx
  ui/apps/platform/tsconfig.eslint.json
  ui/apps/platform/webpack.ocp-plugin.config.js
Labels: area/ui, ai-review

#16103 refactor(ui): Migrate CheckboxSelect from deprecated implementation
  ui/apps/platform/src/Components/PatternFly/CheckboxSelect.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ReportJobs.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/ReportParametersForm.tsx
Labels: area/ui, ai-assisted

#15991 feat: Add metrics and profiling to scannerctl scale
  scanner/Makefile
  scanner/cmd/scannerctl/fixtures/images-uniq-600.json
  scanner/cmd/scannerctl/main.go
  scanner/cmd/scannerctl/scale.go
  scanner/image/scannerctl/Dockerfile
Labels: area/scanner

#16167 chore(PR): Make top section of PR template H2 instead of H3
  .github/pull_request_template.md
Labels: area/ci

#16124 ROX-30268: Use consistent-type-imports for constants and messages
  ui/apps/platform/src/constants/accessControl.ts
  ui/apps/platform/src/constants/enforcementActions.ts
  ui/apps/platform/src/constants/entityTypes.ts
  ui/apps/platform/src/constants/networkFlow.ts
  ui/apps/platform/src/constants/reportConstants.ts
  ui/apps/platform/src/constants/severityColors.ts
  ui/apps/platform/src/constants/vulnerabilities.ts
  ui/apps/platform/src/messages/common.ts
Labels: area/ui

#16186 ROX-30343: Update Node.js requirement for ui folder to 20.0.0
  CHANGELOG.md
  ui/apps/platform/package.json
  ui/package.json
Labels: area/ui

#15173 ROX-28673: refactor roxctl tlsconfigopts
  roxctl/common/client.go
  roxctl/common/connection.go
  roxctl/common/connection_test.go
  roxctl/common/environment/environment-impl.go
  roxctl/common/tls.go
Labels: area/roxctl

#16064 ROX-29784: Add stop-processing-context to sensor components
  sensor/common/admissioncontroller/alert_handler.go
  sensor/common/admissioncontroller/message_forwarder.go
  sensor/common/admissioncontroller/mocks/alert_handler.go
  sensor/common/compliance/auditlog_manager_impl.go
  sensor/common/compliance/command_handler_impl.go
  sensor/common/compliance/mocks/auditlog_manager.go
  sensor/common/compliance/mocks/service.go
  sensor/common/compliance/multiplexer.go
  sensor/common/compliance/node_inventory_handler_impl.go
  sensor/common/compliance/node_inventory_handler_test.go
  sensor/common/compliance/service_impl.go
  sensor/common/component.go
  sensor/common/config/handler.go
  sensor/common/config/mocks/handler.go
  sensor/common/delegatedregistry/delegated_registry_handler.go
  sensor/common/deploymentenhancer/component.go
  sensor/common/deploymentenhancer/component_test.go
  sensor/common/detector/detector.go
  sensor/common/detector/mocks/detector.go
  sensor/common/enforcer/enforcer.go
  sensor/common/externalsrcs/handler.go
  sensor/common/externalsrcs/handler_test.go
  sensor/common/externalsrcs/mocks/handler.go
  sensor/common/image/service_impl.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/reprocessor/handler.go
  sensor/common/reprocessor/mocks/handler.go
  sensor/common/sensor/central_communication_impl.go
  sensor/common/sensor/central_communication_test.go
  sensor/common/sensor/central_receiver_impl.go
  sensor/common/signal/signal_service.go
  sensor/kubernetes/admissioncontroller/config_map_persister.go
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer.go
  sensor/kubernetes/certrefresh/securedcluster_tls_issuer_test.go
  sensor/kubernetes/clusterhealth/updater.go
  sensor/kubernetes/clustermetrics/cluster_metrics.go
  sensor/kubernetes/clusterstatus/updater.go
  sensor/kubernetes/complianceoperator/handler_impl.go
  sensor/kubernetes/complianceoperator/handler_impl_test.go
  sensor/kubernetes/complianceoperator/mocks/types.go
  sensor/kubernetes/complianceoperator/updater.go
  sensor/kubernetes/eventpipeline/pipeline_impl.go
  sensor/kubernetes/eventpipeline/pipeline_test.go
  sensor/kubernetes/networkpolicies/command_handler.go
  sensor/kubernetes/telemetry/command_handler.go
  sensor/kubernetes/upgrade/command_handler_impl.go
Labels: area/sensor, ai-review

#16171 ROX-30307: move ranker initialization out of band
  central/image/datastore/datastore.go
  central/image/datastore/datastore_impl.go
  central/image/datastore/store/mocks/store.go
  central/image/datastore/store/postgres/store.go
  central/image/datastore/store/store.go
  central/image/datastore/store/v2/postgres/store.go
  central/image/views/image_risk_view.go
  central/imagecomponent/datastore/datastore.go
  central/imagecomponent/datastore/datastore_impl.go
  central/imagecomponent/store/mocks/store.go
  central/imagecomponent/store/store.go
  central/imagecomponent/v2/datastore/datastore.go
  central/imagecomponent/v2/datastore/datastore_impl.go
  central/node/datastore/datastore.go
  central/node/datastore/datastore_impl.go
  central/nodecomponent/datastore/datastore.go
  central/nodecomponent/datastore/datastore_impl.go
Labels: area/central, backport release-4.8

#15706 ROX-29674: Sync caBundle changes to ValidatingWebhookConfiguration
  operator/cmd/main.go
  operator/internal/common/labels/labels.go
  operator/internal/securedcluster/constants.go
  operator/internal/securedcluster/reconciler/reconciler.go
  operator/internal/securedcluster/values/translation/translation.go
  operator/internal/securedcluster/values/translation/translation_test.go
  operator/internal/utils/predicates.go
  operator/internal/utils/predicates_test.go
Labels: area/operator

#16047 ROX-29916: ImageV2 store implementation
  central/cve/converter/utils/convert_utils_v2.go
  central/imagev2/datastore/store/common/merge.go
  central/imagev2/datastore/store/common/metrics.go
  central/imagev2/datastore/store/common/parts.go
  central/imagev2/datastore/store/common/parts_test.go
  central/imagev2/datastore/store/common/split.go
  central/imagev2/datastore/store/mocks/store.go
  central/imagev2/datastore/store/postgres/store.go
  central/imagev2/datastore/store/postgres/store_test.go
  central/imagev2/datastore/store/store.go
  pkg/fixtures/image_v2.go
Labels: area/central

#16030 ROX-29416: Move declarative configuration out of grpc service startup
  central/main.go
Labels: area/central

#16222 chore(deps): update konflux references
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retag-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Labels: backport, konflux-build

#16119 ROX-28952: Add retry in the compliance handler
  sensor/kubernetes/complianceoperator/handler_impl.go
  sensor/kubernetes/complianceoperator/handler_impl_test.go
Labels: area/sensor

#16195 chore: reduce semaphore error log level
  central/image/service/service_impl.go
Labels: area/central

#16179 fix: improve sensor component identification
  sensor/common/admissioncontroller/alert_handler.go
  sensor/common/compliance/auditlog_manager_impl.go
  sensor/common/compliance/multiplexer.go
  sensor/common/compliance/service_impl.go
  sensor/common/component.go
  sensor/common/image/service_impl.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/reprocessor/handler.go
  sensor/common/signal/signal_service.go
  sensor/common/unimplemented/unimplemented.go
  sensor/kubernetes/admissioncontroller/config_map_persister.go
  sensor/kubernetes/clusterhealth/updater.go
  sensor/kubernetes/clustermetrics/cluster_metrics.go
  sensor/kubernetes/clusterstatus/updater.go
  sensor/kubernetes/complianceoperator/updater.go
Labels: area/sensor

#16097 ROX-29844: Add configuration of base URL in plugin requests
  ui/apps/platform/README.md
  ui/apps/platform/package.json
  ui/apps/platform/scripts/start-ocp-console.sh
  ui/apps/platform/src/ConsolePlugin/PluginProvider.tsx
  ui/apps/platform/src/ConsolePlugin/SecurityVulnerabilitiesPage/Index.tsx
  ui/apps/platform/src/ConsolePlugin/consoleFetchAxiosAdapter.ts
  ui/apps/platform/webpack.ocp-plugin.config.js
Labels: area/ui, ai-review

#16234 ROX-30356: Add extensions for console Sec Vulns page
  ui/apps/platform/webpack.ocp-plugin.config.js
Labels: area/ui

#16215 chore: bump Collector to 3.21.3
  COLLECTOR_VERSION
Labels: ci-all-qa-tests, backport

#16236 chore: remove init bundle debug log
  central/clusterinit/backend/backend_impl.go
Labels: area/central

#16235 ROX-30357: Add Security tab for Workload pages
  ui/apps/platform/src/ConsolePlugin/WorkloadSecurityTab/Index.tsx
  ui/apps/platform/webpack.ocp-plugin.config.js
Labels: area/ui
