Repository stackrox/stackrox, pull requests merged in 2025-08, with the labels that each got.

#16249 ROX-30360: Add extension point for admin ns security tab
  ui/apps/platform/src/ConsolePlugin/AdministrationNamespaceSecurityTab/Index.tsx
  ui/apps/platform/webpack.ocp-plugin.config.js
Labels: area/ui

#16149 ROX-30034,ROX-29995,ROX-29996: New admission controller options: fail…
  CHANGELOG.md
  central/cluster/datastore/datastore_impl.go
  central/clusters/deployer.go
  central/graphql/resolvers/generated.go
  generated/api/v1/cluster_service.swagger.json
  generated/storage/cluster.pb.go
  generated/storage/cluster_vtproto.pb.go
  image/templates/helm/stackrox-secured-cluster/values.yaml.htpl
  pkg/helm/charts/meta.go
  proto/storage/cluster.proto
  proto/storage/proto.lock
  roxctl/maincommand/command_tree_debug.yaml
  roxctl/maincommand/command_tree_release.yaml
  roxctl/sensor/generate/generate.go
Labels: ci-all-qa-tests, area/roxctl, area/central, area/helm

#16267 ROX-30359: Add extension for project detail page security tab
  ui/apps/platform/src/ConsolePlugin/ProjectSecurityTab/Index.tsx
  ui/apps/platform/webpack.ocp-plugin.config.js
Labels: area/ui

#16258 ROX-30415: Use split opt when applicable
  .github/workflows/scanner-versioned-definitions-update.yaml
  scanner/cmd/updater/main.go
Labels: area/scanner, area/ci, pr-update-scanner-vulns

#16266 chore(sensor): improve sync test logs
  sensor/tests/complianceoperator/sync_test.go
  sensor/tests/helper/k8s.go
Labels: area/sensor

#16223 ROX-30278: secured-cluster chart: Make listenOn* settings static
  CHANGELOG.md
  image/templates/helm/stackrox-secured-cluster/internal/defaults/30-base-config.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/NOTES.txt.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_admission-controller-config.tpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  pkg/helm/charts/tests/securedclusterservices/feature-flags/feature_flags_test.go
  pkg/helm/charts/tests/securedclusterservices/feature-flags/testdata/helmtest/admission-controller-config/admission-control.test.yaml
  pkg/helm/charts/tests/securedclusterservices/feature-flags/testdata/helmtest/suite.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/admission-control.test.yaml
Labels: area/helm

#16022 ROX-30110: Enable react-export-default lint rule with ignores
  ui/apps/platform/eslint-plugins/pluginGeneric.js
  ui/apps/platform/eslint-plugins/pluginLimited.js
  ui/apps/platform/eslint.config.js
  ui/apps/platform/package.json
  ui/apps/platform/src/Components/CompoundSearchFilter/components/CompoundSearchFilter.cy.jsx
  ui/apps/platform/src/Components/PatternFly/ErrorBoundary/ErrorBoundary.tsx
  ui/apps/platform/src/Components/Popper.jsx
  ui/apps/platform/src/Components/TableStateTemplates/TbodyUnified.cy.jsx
  ui/apps/platform/src/Containers/Clusters/DiscoveredClusters/DiscoveredClustersToolbar.cy.jsx
  ui/apps/platform/src/Containers/Dashboard/ScopeBar.cy.jsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/AgingImages.cy.jsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ComplianceLevelsByStandard.cy.jsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ImagesAtMostRisk.cy.jsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicyCategory.cy.jsx
  ui/apps/platform/src/Containers/Dashboard/Widgets/ViolationsByPolicySeverity.cy.jsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/HorizontalSubnav.cy.jsx
  ui/apps/platform/src/Containers/MainPage/asyncComponent.tsx
  ui/apps/platform/src/Containers/Risk/KeyValuePairs.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/NodeCve/AffectedNodesTable.cy.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/SnoozeCvesModal/useSnoozeCveModal.tsx
  ui/apps/platform/src/test-utils/ComponentTestProvider.tsx
Labels: area/ui

#16287 fix: move admission-control CA bundle ConfigMap constants to pkg
  operator/internal/securedcluster/constants.go
  operator/internal/securedcluster/reconciler/reconciler.go
  operator/internal/securedcluster/values/translation/translation.go
  operator/internal/securedcluster/values/translation/translation_test.go
  pkg/kubernetes/configmaps.go
Labels: area/operator

#16292 ROX-30443: Turn off 2 slowest rules for lint:fast-dev command
  ui/apps/platform/eslint.config.js
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/Compliance/Entity/Cluster.jsx
  ui/apps/platform/src/Containers/Compliance/Entity/Control.jsx
  ui/apps/platform/src/Containers/Compliance/Entity/Deployment.jsx
  ui/apps/platform/src/Containers/Compliance/Entity/Namespace.jsx
  ui/apps/platform/src/Containers/Compliance/Entity/Node.jsx
  ui/apps/platform/src/Containers/Compliance/List/List.jsx
  ui/apps/platform/src/Containers/Compliance/List/SidePanel.jsx
Labels: area/ui

#16093 ROX-30174: remove active component searchers
  central/activecomponent/datastore/datastore.go
  central/activecomponent/datastore/datastore_impl.go
  central/activecomponent/datastore/datastore_impl_test.go
  central/activecomponent/datastore/internal/store/mocks/store.go
  central/activecomponent/datastore/internal/store/store.go
  central/activecomponent/datastore/search/mocks/searcher.go
  central/activecomponent/datastore/search/searcher.go
  central/activecomponent/datastore/search/searcher_impl_v2.go
  central/activecomponent/datastore/singleton.go
Labels: area/central, ai-review, ai-assisted

#16185 ROX-30334: Adds context for OCP plugin user permissions
  ui/apps/platform/src/ConsolePlugin/PluginContent.tsx
  ui/apps/platform/src/ConsolePlugin/PluginProvider.tsx
  ui/apps/platform/src/ConsolePlugin/SecurityVulnerabilitiesPage/Index.tsx
  ui/apps/platform/src/ConsolePlugin/UserPermissionProvider.tsx
  ui/apps/platform/webpack.ocp-plugin.config.js
Labels: area/ui, ai-review, ai-assisted

#16202 ROX-26177: Clusters page layout updates
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.tsx
  ui/apps/platform/src/Containers/Clusters/searchFilterConfig.ts
Labels: area/ui

#15906 ROX-29931: First draft of Virtual Machine API
  central/convert/storagetov2/scan.go
  central/convert/storagetov2/scan_test.go
  central/convert/storagetov2/virtual_machine.go
  central/convert/storagetov2/virtual_machine_test.go
  central/convert/storagetov2/vulnerability.go
  central/convert/storagetov2/vulnerability_test.go
  central/convert/v2tostorage/scan.go
  central/convert/v2tostorage/scan_test.go
  central/convert/v2tostorage/virtual_machine.go
  central/convert/v2tostorage/virtual_machine_test.go
  central/convert/v2tostorage/vulnerability.go
  central/convert/v2tostorage/vulnerability_test.go
  central/main.go
  central/virtualmachine/datastore/datastore.go
  central/virtualmachine/datastore/datastore_impl.go
  central/virtualmachine/datastore/datastore_impl_test.go
  central/virtualmachine/datastore/mocks/datastore.go
  central/virtualmachine/datastore/singleton.go
  central/virtualmachine/service/service.go
  central/virtualmachine/service/service_impl.go
  central/virtualmachine/service/service_impl_test.go
  central/virtualmachine/service/singleton.go
  generated/api/v2/report_service.swagger.json
  generated/api/v2/scan_component.pb.go
  generated/api/v2/scan_component.swagger.json
  generated/api/v2/scan_component_vtproto.pb.go
  generated/api/v2/virtual_machine_service.pb.go
  generated/api/v2/virtual_machine_service.pb.gw.go
  generated/api/v2/virtual_machine_service.swagger.json
  generated/api/v2/virtual_machine_service_grpc.pb.go
  generated/api/v2/virtual_machine_service_vtproto.pb.go
  generated/api/v2/vuln_exception_service.swagger.json
  generated/api/v2/vulnerability.pb.go
  generated/api/v2/vulnerability.swagger.json
  generated/api/v2/vulnerability_vtproto.pb.go
  generated/storage/virtual_machine.pb.go
  generated/storage/virtual_machine_vtproto.pb.go
  make/protogen.mk
  pkg/features/list.go
  pkg/sac/resources/list.go
  proto/api/v2/scan_component.proto
  proto/api/v2/virtual_machine_service.proto
  proto/api/v2/vulnerability.proto
  proto/storage/proto.lock
  proto/storage/virtual_machine.proto
Labels: area/auth, area/central, area/sensor, area/ci, ai-review

#16136 Change ImageV2Id type in deployment containers and alerts to UUID
  central/alert/datastore/internal/store/postgres/store.go
  central/deployment/datastore/internal/store/postgres/store.go
  generated/storage/deployment.pb.go
  pkg/postgres/schema/alerts.go
  pkg/postgres/schema/deployments.go
  proto/storage/deployment.proto
Labels: area/central, area/postgres

#16240 chore(scanner): bump scanner 2.37.3
  SCANNER_VERSION
Labels: ci-all-qa-tests, backport

#16247 chore(scanner): bump scanner 2.35.8
  SCANNER_VERSION
Labels: ci-all-qa-tests, backport

#16239 ROX-30403: remove risk searchers
  central/risk/datastore/datastore.go
  central/risk/datastore/datastore_impl.go
  central/risk/datastore/internal/search/mocks/searcher.go
  central/risk/datastore/internal/search/searcher.go
  central/risk/datastore/internal/search/searcher_impl.go
  central/risk/datastore/internal/store/mocks/store.go
  central/risk/datastore/internal/store/postgres/gen.go
  central/risk/datastore/internal/store/postgres/store.go
  central/risk/datastore/internal/store/store.go
  central/risk/datastore/singleton.go
Labels: area/central, ai-review

#16298 ROX-30278: Prefactoring: separate collecting of defaults from applying
  image/templates/helm/stackrox-secured-cluster/templates/_defaults.tpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
Labels: area/helm

#16241 ROX-30404: remove collection searchers
  central/reports/scheduler/v2/reportgenerator/report_gen_bench_flat_data_model_test.go
  central/reports/scheduler/v2/reportgenerator/report_gen_bench_test.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl_flat_data_model_test.go
  central/reports/scheduler/v2/reportgenerator/report_gen_impl_test.go
  central/reports/scheduler/vuln_report_collections_test.go
  central/resourcecollection/datastore/datastore.go
  central/resourcecollection/datastore/datastore_impl.go
  central/resourcecollection/datastore/datastore_impl_postgres_test.go
  central/resourcecollection/datastore/search/mocks/searcher.go
  central/resourcecollection/datastore/search/searcher.go
  central/resourcecollection/datastore/search/searcher_impl.go
  central/resourcecollection/datastore/singleton.go
  central/resourcecollection/datastore/store/mocks/store.go
  central/resourcecollection/datastore/store/postgres/gen.go
  central/resourcecollection/datastore/store/postgres/store.go
  central/resourcecollection/datastore/store/store.go
Labels: area/central

#16254 ROX-30410: remove deployment searchers
  central/deployment/datastore/datastore.go
  central/deployment/datastore/datastore_impl.go
  central/deployment/datastore/datastore_impl_test.go
  central/deployment/datastore/datastore_test_constructors.go
  central/deployment/datastore/internal/search/mocks/searcher.go
  central/deployment/datastore/internal/search/searcher.go
  central/deployment/datastore/internal/search/searcher_impl_v2.go
  central/deployment/datastore/internal/store/postgres/gen.go
  central/deployment/datastore/internal/store/postgres/store.go
Labels: area/central, ai-review

#16289 ROX-30278: secured-cluster Helm: static scanInline field
  CHANGELOG.md
  image/templates/helm/stackrox-secured-cluster/internal/defaults/30-base-config.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/_admission-controller-config.tpl
  pkg/helm/charts/tests/securedclusterservices/feature-flags/testdata/helmtest/admission-controller-config/admission-control.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/admission-control.test.yaml
Labels: area/helm

#16303 ROX-30278: secured-cluster Helm: static timeout field
  CHANGELOG.md
  image/templates/helm/stackrox-secured-cluster/templates/_admission-controller-config.tpl
  pkg/helm/charts/tests/securedclusterservices/feature-flags/testdata/helmtest/admission-controller-config/admission-control.test.yaml
Labels: area/helm

#16273 ROX-30422: Add route for CVE detail page
  ui/apps/platform/src/ConsolePlugin/CveDetailPage/Index.tsx
  ui/apps/platform/webpack.ocp-plugin.config.js
Labels: area/ui

#16270 ROX-30411: remove image searchers
  central/image/datastore/datastore.go
  central/image/datastore/datastore_impl.go
  central/image/datastore/search/mocks/searcher.go
  central/image/datastore/search/searcher.go
  central/image/datastore/search/searcher_impl_v2.go
  central/image/datastore/store/postgres/store.go
  central/image/datastore/store/v2/postgres/store.go
Labels: area/central

#16317 fix(roxctl): base on the system pool
  roxctl/common/tls.go
Labels: area/roxctl

#16209 ROX-30338: Added api protos
  central/reports/service/v2/service_impl.go
  generated/api/v2/report_service.pb.go
  generated/api/v2/report_service.pb.gw.go
  generated/api/v2/report_service.swagger.json
  generated/api/v2/report_service_grpc.pb.go
  generated/api/v2/report_service_vtproto.pb.go
  proto/api/v2/report_service.proto
Labels: area/central

#16075 ROX-30163: remove policy searchers
  central/policy/datastore/datastore.go
  central/policy/datastore/datastore_impl.go
  central/policy/datastore/datastore_impl_postgres_test.go
  central/policy/datastore/datastore_impl_test.go
  central/policy/datastore/singleton.go
  central/policy/search/mocks/searcher.go
  central/policy/search/searcher.go
  central/policy/search/searcher_impl.go
  central/policy/service/service_impl_postgres_test.go
  central/policy/store/mocks/store.go
  central/policy/store/postgres/gen.go
  central/policy/store/postgres/store.go
  central/policy/store/store.go
  central/policycategory/datastore/datastore.go
  central/policycategory/datastore/datastore_impl.go
  central/policycategory/datastore/datastore_impl_postgres_test.go
  central/policycategory/datastore/datastore_impl_test.go
  central/policycategory/datastore/singleton.go
  central/policycategory/search/mocks/searcher.go
  central/policycategory/search/searcher.go
  central/policycategory/search/searcher_impl.go
  central/policycategory/store/mocks/store.go
  central/policycategory/store/postgres/gen.go
  central/policycategory/store/postgres/store.go
  central/policycategory/store/store.go
  central/policycategoryedge/datastore/datastore.go
  central/policycategoryedge/datastore/datastore_impl.go
  central/policycategoryedge/datastore/singleton.go
  central/policycategoryedge/search/mocks/searcher.go
  central/policycategoryedge/search/searcher.go
  central/policycategoryedge/search/searcher_impl.go
  central/policycategoryedge/store/postgres/gen.go
  central/policycategoryedge/store/postgres/store.go
  central/search/service/service_impl_test.go
  pkg/search/policycategory/transform.go
Labels: area/central, area/postgres, ai-review

#16140 ROX-29060: Add gauge metrics for collections used in enrichment
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/networkflow/metrics/metrics.go
Labels: area/sensor, auto-retest

#16328 fix(CI): use GKE region closer to PROW
  scripts/ci/gke.sh
Labels: auto-retest

#15312 ROX-27963: Support for CA rotation in Central
  central/metadata/service/service.go
  central/metadata/service/service_impl.go
  central/metadata/service/service_impl_test.go
  central/securedclustercertgen/certificates.go
  central/securedclustercertgen/certificates_test.go
  central/sensor/service/connection/connection_impl.go
  central/sensor/service/service_impl.go
  central/sensor/service/service_impl_test.go
  central/tlsconfig/manager_impl.go
  generated/api/v1/metadata_service.pb.go
  generated/api/v1/metadata_service.swagger.json
  generated/api/v1/metadata_service_vtproto.pb.go
  generated/storage/service_identity.pb.go
  generated/storage/service_identity_vtproto.pb.go
  pkg/centralsensor/caps_list.go
  pkg/grpc/authn/service/extractor.go
  pkg/grpc/authn/servicecerttoken/extractor.go
  pkg/mtls/crypto.go
  pkg/mtls/env.go
  pkg/mtls/verifier/verify.go
  proto/api/v1/metadata_service.proto
  proto/storage/proto.lock
  proto/storage/service_identity.proto
Labels: area/central, area/operator, area/sensor

#16269 ROX-30413: Optimize deployment ranking
  central/deployment/datastore/datastore.go
  central/deployment/datastore/datastore_impl.go
  central/deployment/datastore/datastore_impl_test.go
  central/image/datastore/datastore_impl.go
Labels: area/central

#16092 ROX-30179: remove CVE Cluster searchers
  central/cve/cluster/datastore/datastore.go
  central/cve/cluster/datastore/datastore_impl.go
  central/cve/cluster/datastore/datastore_test_constructors.go
  central/cve/cluster/datastore/search/mocks/searcher.go
  central/cve/cluster/datastore/search/searcher.go
  central/cve/cluster/datastore/search/searcher_impl.go
  central/cve/cluster/datastore/singleton.go
  central/cve/cluster/datastore/store/mocks/store.go
  central/cve/cluster/datastore/store/store.go
  central/cve/edgefields/transform.go
  central/cve/edgefields/transform_test.go
  central/graphql/resolvers/test_setup_utils.go
Labels: area/central, ai-review

#16137 ROX-29916: ImageV2 datastore implementation
  central/graphdb/testutils/graphdump.go
  central/imagev2/datastore/datastore.go
  central/imagev2/datastore/datastore_impl.go
  central/imagev2/datastore/datastore_impl_test.go
  central/imagev2/datastore/datastore_sac_test.go
  central/imagev2/datastore/datastore_test_constructors.go
  central/imagev2/datastore/fixable_test.go
  central/imagev2/datastore/keyfence/singleton.go
  central/imagev2/datastore/mocks/datastore.go
  central/imagev2/datastore/store/mocks/store.go
  central/imagev2/datastore/store/postgres/store.go
  central/imagev2/datastore/store/store.go
  central/imagev2/views/image_risk_view.go
  pkg/fixtures/graph.go
  pkg/fixtures/image_v2.go
  pkg/images/enricher/enricher_impl.go
  pkg/images/enricher/enricher_impl_test.go
  tools/allowed-large-files
Labels: area/central

#16300 ROX-28475: Show report job details on request name click
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/OnDemandReportJobDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/OnDemandReportsTable.tsx
  ui/apps/platform/src/services/ReportsService.ts
  ui/apps/platform/src/utils/searchUtils.test.ts
  ui/apps/platform/src/utils/searchUtils.ts
Labels: area/ui

#16343 ROX-30189: remove alert searchers
  central/alert/datastore/datastore.go
  central/alert/datastore/datastore_impl.go
  central/alert/datastore/datastore_impl_test.go
  central/alert/datastore/datastore_test.go
  central/alert/datastore/internal/search/mocks/searcher.go
  central/alert/datastore/internal/search/searcher.go
  central/alert/datastore/internal/search/searcher_impl.go
  central/alert/datastore/internal/search/searcher_impl_test.go
  central/alert/datastore/internal/search/searcher_postgres_test.go
  central/alert/datastore/singleton.go
Labels: area/central, ai-review, ai-assisted

#16345 chore(ui): Rename top level plugin modules
  ui/apps/platform/src/ConsolePlugin/AdministrationNamespaceSecurityTab/AdministrationNamespaceSecurityTab.tsx
  ui/apps/platform/src/ConsolePlugin/CveDetailPage/CveDetailPage.tsx
  ui/apps/platform/src/ConsolePlugin/ImageDetailPage/ImageDetailPage.tsx
  ui/apps/platform/src/ConsolePlugin/ProjectSecurityTab/ProjectSecurityTab.tsx
  ui/apps/platform/src/ConsolePlugin/SecurityVulnerabilitiesPage/SecurityVulnerabilitiesPage.tsx
  ui/apps/platform/src/ConsolePlugin/WorkloadSecurityTab/WorkloadSecurityTab.tsx
  ui/apps/platform/webpack.ocp-plugin.config.js
Labels: area/ui

#16336 ROX-30409: remove namespace searcher
  central/namespace/datastore/datastore.go
  central/namespace/datastore/datastore_test.go
  central/namespace/datastore/internal/store/postgres/gen.go
  central/namespace/datastore/internal/store/postgres/store.go
Labels: area/central, ai-review, ai-assisted

#16199 ROX-29918: Add V2 to V1 mappings
  central/image/service/service.go
  central/image/service/service_impl.go
  central/image/service/service_impl_benchmark_test.go
  central/image/service/singleton.go
  central/imagev2/datastore/mapper/datastore/datastore.go
  central/imagev2/datastore/mapper/datastore/datastore_impl.go
  central/imagev2/datastore/mapper/datastore/singleton.go
  central/imagev2/datastore/mapper/mapper_utils.go
  central/imagev2/datastore/mapper/mapper_utils_test.go
  central/imagev2/datastore/singleton.go
  central/imagev2/datastore/store/postgres/store.go
Labels: area/central, area/postgres, ai-assisted

#16377 fix(CI): set PR number to NULL if not defined
  scripts/ci/metrics.sh
Labels: auto-retest

#16157 ROX-30179: Remove remaining cve searchers
  central/cve/image/datastore/datastore.go
  central/cve/image/datastore/datastore_impl.go
  central/cve/image/datastore/datastore_impl_test.go
  central/cve/image/datastore/search/mocks/searcher.go
  central/cve/image/datastore/search/searcher.go
  central/cve/image/datastore/search/searcher_impl.go
  central/cve/image/datastore/singleton.go
  central/cve/image/datastore/store/mocks/store.go
  central/cve/image/datastore/store/postgres/gen.go
  central/cve/image/datastore/store/postgres/store.go
  central/cve/image/datastore/store/store.go
  central/cve/image/v2/datastore/datastore.go
  central/cve/image/v2/datastore/datastore_impl.go
  central/cve/image/v2/datastore/search/mocks/searcher.go
  central/cve/image/v2/datastore/search/searcher.go
  central/cve/image/v2/datastore/search/searcher_impl.go
  central/cve/image/v2/datastore/singleton.go
  central/cve/image/v2/datastore/store/mocks/store.go
  central/cve/image/v2/datastore/store/postgres/gen.go
  central/cve/image/v2/datastore/store/postgres/store.go
  central/cve/image/v2/datastore/store/store.go
  central/cve/node/datastore/datastore.go
  central/cve/node/datastore/datastore_impl.go
  central/cve/node/datastore/datastore_impl_test.go
  central/cve/node/datastore/search/mocks/searcher.go
  central/cve/node/datastore/search/searcher.go
  central/cve/node/datastore/search/searcher_impl.go
  central/cve/node/datastore/singleton.go
  central/cve/node/datastore/store/mocks/store.go
  central/cve/node/datastore/store/postgres/gen.go
  central/cve/node/datastore/store/postgres/store.go
  central/cve/node/datastore/store/store.go
  central/cve/search/mocks/searcher.go
  central/cve/search/searcher.go
  central/cve/suppress/reprocessor_postgres_test.go
  central/graphql/resolvers/test_setup_utils.go
  central/image/datastore/datastore_impl_flat_postgres_test.go
  central/image/datastore/datastore_impl_postgres_test.go
  central/imagev2/datastore/datastore_impl_test.go
  central/node/datastore/datastore_impl_postgres_test.go
Labels: area/central, ai-review

#16315 ROX-30446: Upgrade TypeScript 5.9.2
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
Labels: area/ui

#16385 ROX-30503: Replace find, text, and wrap methods in namespaceView test
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/WorkloadCves.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/namespaceView.test.js
Labels: area/ui

#16158 ROX-30281: remove remaining image component searchers
  central/graphql/resolvers/test_setup_utils.go
  central/image/datastore/datastore_impl_flat_postgres_test.go
  central/image/datastore/datastore_impl_postgres_test.go
  central/imagecomponent/datastore/datastore.go
  central/imagecomponent/datastore/datastore_impl.go
  central/imagecomponent/datastore/singleton.go
  central/imagecomponent/datastore/store/postgres/gen.go
  central/imagecomponent/datastore/store/postgres/store.go
  central/imagecomponent/search/mocks/searcher.go
  central/imagecomponent/search/searcher.go
  central/imagecomponent/search/searcher_impl_v2.go
  central/imagecomponent/store/mocks/store.go
  central/imagecomponent/store/store.go
  central/imagecomponent/v2/datastore/datastore.go
  central/imagecomponent/v2/datastore/datastore_impl.go
  central/imagecomponent/v2/datastore/search/mocks/searcher.go
  central/imagecomponent/v2/datastore/search/searcher.go
  central/imagecomponent/v2/datastore/search/searcher_impl_v2.go
  central/imagecomponent/v2/datastore/singleton.go
  central/imagecomponentedge/datastore/datastore.go
  central/imagecomponentedge/datastore/datastore_impl.go
  central/imagecomponentedge/datastore/datastore_test_constructors.go
  central/imagecomponentedge/datastore/internal/store/postgres/gen.go
  central/imagecomponentedge/datastore/internal/store/postgres/store.go
  central/imagecomponentedge/datastore/singleton.go
  central/imagecomponentedge/search/mocks/searcher.go
  central/imagecomponentedge/search/searcher.go
  central/imagecomponentedge/search/searcher_impl_v2.go
  central/imagecomponentedge/store/mocks/store.go
  central/imagecomponentedge/store/store.go
  central/imagev2/datastore/datastore_impl_test.go
Labels: area/central, ai-review

#16207 ROX-24956: Set default adm controller timeout value to 0 in roxctl
  CHANGELOG.md
  roxctl/sensor/generate/generate.go
Labels: area/roxctl

#16413 ROX-30277: fix some search tests
  central/cve/image/datastore/datastore_impl_test.go
  central/cve/node/datastore/datastore_impl_test.go
Labels: area/central, ai-review, ai-assisted

#16358 ROX-29938, ROX-29939: remove search and count funcs
  central/cve/edgefields/transform.go
  pkg/search/paginated/paginated.go
  pkg/search/paginated/paginated_test.go
  pkg/search/scoped/postgres/searcher.go
  pkg/search/searcher.go
  pkg/search/sorted/searcher.go
  pkg/search/sorted/searcher_test.go
  pkg/search/sortfields/searcher.go
Labels: area/central, ai-review

#16460 ROX-18298: cleanup cluster health on delete
  central/cluster/datastore/datastore_impl.go
  central/cluster/datastore/datastore_impl_postgres_test.go
Labels: area/central, ai-review

#16356 ROX-30362: Extend column mgmt for general conditional columns
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.ts
  ui/apps/platform/src/Components/ColumnManagementButton.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Deployment/DeploymentPageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Image/ImagePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/ImageCve/ImageCvePage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/CVEsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/DeploymentsTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ImagesTableContainer.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedDeploymentsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/WorkloadCVEOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/CVESelectionTd.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/CVESelectionTh.tsx
  ui/apps/platform/src/hooks/useManagedColumns.ts
Labels: area/central, area/ui, area/sensor

#16380 feat(eventual): `pkg/eventual`
  pkg/eventual/format.go
  pkg/eventual/format_test.go
  pkg/eventual/options.go
  pkg/eventual/options_test.go
  pkg/eventual/value.go
  pkg/eventual/value_test.go
Labels: area/central

#15761 ROX-29160: Add built-in signature integration for Red Hat signature
  CHANGELOG.md
  central/imageintegration/datastore/singleton.go
  central/signatureintegration/datastore/datastore.go
  central/signatureintegration/datastore/singleton.go
  central/signatureintegration/service/service_impl.go
  pkg/images/enricher/enricher_impl.go
  pkg/images/enricher/enricher_impl_test.go
  pkg/images/utils/utils.go
  pkg/images/utils/utils_test.go
  pkg/signatures/release-key-3.pub.txt
  pkg/signatures/types.go
Labels: area/central, auto-retest, ai-review

#16493 chore(ai): enable AI for sensor & ecosystem
  .github/labeler.yml
Labels: area/ci, ai-review

#15489 build(Makefile): Add quay.io tag to Scanner V4 images
  Makefile
  make/env.mk
  scanner/Makefile
Labels: area/scanner, auto-retest

#16494 fix: Propagate Admission Controller failure Policy to Central
  image/templates/helm/stackrox-secured-cluster/internal/cluster-config.yaml.tpl
  image/templates/helm/stackrox-secured-cluster/templates/_init.tpl.htpl
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/admission-control.test.yaml
Labels: area/helm

#16491 test: CI Preparations for enabling new Admission Controller Config
  pkg/helm/charts/tests/securedclusterservices/feature-flags/feature_flags_test.go
  pkg/helm/charts/tests/securedclusterservices/feature-flags/testdata/helmtest/admission-controller-config-disabled/admission-control.test.yaml
  pkg/helm/charts/tests/securedclusterservices/testdata/helmtest/admission-control.test.yaml
  pkg/helm/config/testdata/helm-chart-configurations/simple.yaml
Labels: area/helm

#16521 fix(nil-handling): Handle nil message in the eventHandlers
  sensor/kubernetes/listener/resource_event_handler_impl.go
  sensor/kubernetes/listener/resource_event_handler_impl_test.go
Labels: area/sensor, ai-review

#16441 ROX-30524: Virtual machines overview header and description
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/Overview/VirtualMachineCvesOverviewPage.tsx
Labels: area/ui

#15988 ROX-30050: Delete ROX_PLATFORM_CVE_SPLIT feature flag
  pkg/features/list.go
  ui/apps/platform/src/Components/ContainerImageInfo.tsx
  ui/apps/platform/src/Components/FilteredWorkflowViewSelector/FilteredWorkflowViewSelector.tsx
  ui/apps/platform/src/Components/FilteredWorkflowViewSelector/useFilteredWorkflowViewURLState.ts
  ui/apps/platform/src/Containers/Dashboard/SummaryCounts.tsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/HorizontalSubnav.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/Risk/ContainerConfigurations.jsx
  ui/apps/platform/src/Containers/Risk/KeyValuePairs.jsx
  ui/apps/platform/src/Containers/Search/searchCategories.ts
  ui/apps/platform/src/Containers/Violations/Details/Deployment/ContainerConfiguration.tsx
  ui/apps/platform/src/Containers/Violations/Details/Deployment/DeploymentOverview.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Image/VulnMgmtImageOverview.jsx
  ui/apps/platform/src/Containers/Vulnerabilities/ExceptionManagement/components/RequestCVEsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/ObservedCveModeSelect.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/string.utils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/ExceptionRequestModal/CveSelections.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/types.ts
  ui/apps/platform/src/routePaths.ts
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#16545 ROX-29969: Remove bundle tag from Snapshot / 4.6
  .tekton/operator-bundle-pipeline.yaml
Labels: backport

#16547 ROX-29969: Remove bundle tag from Snapshot / 4.8
  .tekton/operator-bundle-pipeline.yaml
Labels: backport, konflux-build

#16537 ROX-30566: Generalize PendingExceptionLabelLayout for multiple labels
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/AffectedImagesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentComponentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/DeploymentVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/ImageVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Tables/WorkloadCVEOverviewTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/PendingExceptionLabelLayout.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/KnownExploitLabel.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/PendingExceptionLabel.tsx
Labels: area/ui

#16501 ROX-30130: Update classic form to PatternFly for Cluster config
  ui/apps/platform/cypress/integration/clusters/Clusters.selectors.js
  ui/apps/platform/cypress/integration/clusters/clustersHealthStatus.test.js
  ui/apps/platform/cypress/integration/clusters/clustersManager.test.js
  ui/apps/platform/src/Containers/Clusters/ClusterEditFormLegacy.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterPage.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterStatusGrid.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterSummaryLabelsConfiguration.tsx
  ui/apps/platform/src/Containers/Clusters/Components/ClusterSummaryLegacy.jsx
  ui/apps/platform/src/Containers/Clusters/Components/HelmValueWarning.tsx
  ui/apps/platform/src/Containers/Clusters/DynamicConfigurationForm.tsx
  ui/apps/platform/src/Containers/Clusters/DynamicConfigurationSectionLegacy.jsx
  ui/apps/platform/src/Containers/Clusters/StaticConfigurationForm.tsx
  ui/apps/platform/src/Containers/Clusters/StaticConfigurationSectionLegacy.jsx
  ui/apps/platform/src/Containers/Clusters/cluster.helpers.tsx
  ui/apps/platform/src/types/cluster.proto.ts
Labels: area/ui

#16555 ROX-30664: Fix space and comment KnownExploitLabel in CvePageHeader
  ui/apps/platform/src/Containers/Vulnerabilities/components/CvePageHeader.tsx
Labels: area/ui

#16551 chore: add initial CLAUDE.md
  CLAUDE.md
Labels: ai-assisted

#16552 ROX-30658: On-demand to View-based terminology migration
  pkg/features/list.go
  tests/e2e/lib.sh
  ui/apps/platform/cypress/integration/vulnerabilities/VulnerabilityReporting/VulnerabilityReporting.helpers.js
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReportingPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/ViewBasedReportJobDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/ViewBasedReportsTab.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/ViewBasedReportsTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/VulnReportingLayout.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/CreateReportDropdown.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/CreateViewBasedReportModal.tsx
  ui/apps/platform/src/routePaths.ts
  ui/apps/platform/src/services/ReportsService.ts
  ui/apps/platform/src/services/ReportsService.types.ts
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/ui

#16528 refactor(ui): migrate PolicyScopeForm Select to PatternFly v5
  ui/apps/platform/src/Containers/Policies/Wizard/Step4/PolicyScopeForm.tsx
Labels: area/ui

#16525 ROX-30654: New email integration field
  central/graphql/resolvers/generated.go
  central/notifiers/email/email.go
  generated/api/v1/notifier_service.swagger.json
  generated/storage/notifier.pb.go
  generated/storage/notifier_vtproto.pb.go
  proto/storage/notifier.proto
  proto/storage/proto.lock
  ui/apps/platform/cypress/integration/integrations/notifiers.test.js
  ui/apps/platform/src/Components/EmailNotifier/EmailNotifierForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/EmailIntegrationForm.tsx
Labels: area/central, area/ui

#16577 ROX-30685: Add a release note about Konflux changes
  CHANGELOG.md
Labels: backport

#16582 ROX-30685: Bump Collector and Scanner versions for 4.8.3
  COLLECTOR_VERSION
  SCANNER_VERSION
Labels: ci-all-qa-tests, backport

#16455 refactor(ui): migrate PolicyCriteriaFieldInput to PatternFly v5
  ui/apps/platform/cypress/constants/PoliciesPage.js
  ui/apps/platform/cypress/integration/policies/policyWizardStep3-dnd.test.js
  ui/apps/platform/cypress/integration/policies/policyWizardStep3.test.js
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/PolicyCriteriaFieldInput.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/Step3/policyCriteriaDescriptors.tsx
  ui/apps/platform/src/Containers/Policies/Wizard/policyValidationSchemas.ts
  ui/apps/platform/src/messages/common.ts
Labels: area/ui

#16536 fix(ui): Add Cypress commands and test to verify telemetry
  ui/apps/platform/cypress.d.ts
  ui/apps/platform/cypress/integration/telemetry.test.ts
  ui/apps/platform/cypress/integration/vulnerabilities/workloadCves/workloadCveOverviewPage.test.ts
  ui/apps/platform/cypress/support/commands.js
  ui/apps/platform/cypress/tsconfig.json
  ui/apps/platform/src/Containers/SystemConfig/Details/SystemConfigDetails.tsx
  ui/apps/platform/src/Containers/SystemConfig/Form/SystemConfigForm.tsx
  ui/apps/platform/src/hooks/useTelemetryConfig.ts
  ui/apps/platform/src/index.tsx
  ui/apps/platform/src/providers/TelemetryConfigProvider.tsx
  ui/apps/platform/src/reducers/index.js
  ui/apps/platform/src/reducers/telemetryConfig.js
  ui/apps/platform/src/services/TelemetryConfigService.ts
Labels: area/ui, ai-review, ai-assisted
