Repository stackrox/stackrox, pull requests merged in 2025-04, with the labels that each got.

#14496 ROX-24362: Central scan if no default cluster for delegated scaning
  central/delegatedregistryconfig/delegator/delegator.go
  pkg/delegatedregistry/delegator.go
  pkg/images/enricher/enricher_impl.go
  tests/delegated_scanning_test.go
Labels: area/central

#14826 ROX-28656: Update upgrade test versions
  tests/upgrade/postgres_run.sh
Labels: auto-retest

#14818 ROX-28758: Update redoc
  ui/apps/platform/config-overrides.js
  ui/apps/platform/package.json
  ui/package.json
  ui/yarn.lock
Labels: area/ui, backport

#14800 ROX-26884: do not delete ca file
  roxctl/central/initbundles/fetch_ca.go
  tests/roxctl/bats-tests/cluster/central-init-bundles.bats
Labels: area/roxctl

#14783 fix(img-integrations): use single DB call
  central/imageintegration/datastore/singleton.go
  central/imageintegration/datastore/singleton_test.go
  central/imageintegration/store/mocks/store.go
  central/imageintegration/store/store.go
Labels: area/central

#14724 fix(migrator): use RunCursorQueryForSchemaFn in Walk
  migrator/migrations/m_168_to_m_169_postgres_remove_clustercve_permission/permissionsetpostgresstore/postgres_plugin.go
  migrator/migrations/m_169_to_m_170_collections_sac_resource_migration/permissionsetpostgresstore/postgres_plugin.go
  migrator/migrations/m_170_to_m_171_create_policy_categories_and_edges/policycategoryedgepostgresstore/store.go
  migrator/migrations/m_170_to_m_171_create_policy_categories_and_edges/policycategorypostgresstore/store.go
  migrator/migrations/m_170_to_m_171_create_policy_categories_and_edges/policypostgresstore/store.go
  migrator/migrations/m_171_to_m_172_move_scope_to_collection_in_report_configurations/collectionPostgresStore/postgres_plugin.go
  migrator/migrations/m_171_to_m_172_move_scope_to_collection_in_report_configurations/reportConfigurationPostgresStore/postgres_plugin.go
  migrator/migrations/m_173_to_m_174_group_unique_constraint/stores/previous/postgres_plugin.go
  migrator/migrations/m_173_to_m_174_group_unique_constraint/stores/updated/postgres_plugin.go
  migrator/migrations/m_174_to_m_175_enable_search_on_api_tokens/newapitokenpostgresstore/postgres_plugin.go
  migrator/migrations/m_174_to_m_175_enable_search_on_api_tokens/oldapitokenpostgresstore/postgres_plugin.go
  migrator/migrations/m_176_to_m_177_network_baselines_cidr/networkbaselinestore/postgres_plugin.go
  migrator/migrations/m_176_to_m_177_network_baselines_cidr/networkentitystore/postgres_plugin.go
  migrator/migrations/m_177_to_m_178_group_permissions/permissionsetpostgresstore/postgres_plugin.go
  migrator/migrations/m_178_to_m_179_embedded_collections_search_label/reportconfigstore/postgres_plugin.go
  migrator/migrations/m_178_to_m_179_embedded_collections_search_label/test/postgres_plugin.go
  migrator/migrations/m_179_to_m_180_openshift_policy_exclusions/postgres/store.go
  migrator/migrations/m_181_to_m_182_group_role_permission_with_access_one/permissionsetstore/store.go
  migrator/migrations/m_182_to_m_183_remove_default_scope_manager_role/apitokenstore/postgres_plugin.go
  migrator/migrations/m_182_to_m_183_remove_default_scope_manager_role/groupstore/postgres_plugin.go
  migrator/migrations/m_182_to_m_183_remove_default_scope_manager_role/permissionsetstore/postgres_plugin.go
  migrator/migrations/m_182_to_m_183_remove_default_scope_manager_role/rolestore/postgres_plugin.go
  migrator/migrations/m_183_to_m_184_move_declarative_config_health/declarativeconfig/store/postgres_plugin.go
  migrator/migrations/m_183_to_m_184_move_declarative_config_health/integrationhealth/store/postgres_plugin.go
  migrator/migrations/m_184_to_m_185_remove_policy_vulnerability_report_resources/permissionsetstore/postgres_plugin.go
  migrator/migrations/m_185_to_m_186_more_policy_migrations/policypostgresstore/postgres_plugin.go
  migrator/migrations/policymigrationhelper/categorypostgresstorefortest/postgres_policy_category_plugin.go
  migrator/migrations/policymigrationhelper/policypostgresstorefortest/postgres_policy_plugin.go
  pkg/search/postgres/common.go
Labels: area/postgres

#14715 ROX-26692: Update http-proxy-middleware
  ui/yarn.lock
Labels: area/ui, backport

#14416 ROX-28296: add OpenShift reencrypt route
  CHANGELOG.md
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/internal/defaults.yaml.htpl
  image/templates/helm/stackrox-central/templates/01-central-15-exposure.yaml
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-central/values-public.yaml.example.htpl
Labels: area/helm

#14651 chore(ci): Update p/z index images to 4.7.1
  operator/midstream/iib.json
Labels: area/operator

#14802 ROX-8333: use enum instead of string
  roxctl/image/scan/cve.go
  roxctl/image/scan/cve_test.go
Labels: area/roxctl

#12969 ROX-25912: Make Kube SA token m2m auth config dynamic
  central/auth/datastore/datastore_impl.go
  central/auth/datastore/datastore_impl_test.go
Labels: area/central

#13600 ROX-26973: CRS Support in ACS UI
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/ClusterRegistrationSecretDescription.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/ClusterRegistrationSecretForm.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/ClusterRegistrationSecretForm.utils.ts
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/ClusterRegistrationSecretPage.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/ClusterRegistrationSecretsHeader.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/ClusterRegistrationSecretsPage.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/ClusterRegistrationSecretsRoute.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/ClusterRegistrationSecretsTable.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/RevokeClusterRegistrationSecretModal.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/SecureClusterPage.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/SecureClusterUsingHelmChart.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/SecureClusterUsingOperator.tsx
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/AuthenticationTokensSection.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationTiles/ClusterRegistrationSecretsTile.tsx
  ui/apps/platform/src/Containers/Integrations/utils/integrationsList.ts
  ui/apps/platform/src/Containers/Integrations/utils/tableColumnDescriptor.ts
  ui/apps/platform/src/Containers/MainPage/Body.tsx
  ui/apps/platform/src/hooks/useAnalytics.ts
  ui/apps/platform/src/routePaths.ts
  ui/apps/platform/src/services/ClustersService.ts
  ui/apps/platform/src/types/integration.ts
Labels: area/ui

#14623 ROX-27885: Align data in old Compliance across tables and widgets
  CHANGELOG.md
  ui/apps/platform/cypress/integration/compliance/Compliance.selectors.js
  ui/apps/platform/cypress/integration/compliance/complianceList.test.js
  ui/apps/platform/src/queries/table.js
Labels: documentation, area/ui

#14839 ROX-28795: Delete unreachable code in classic compliance
  ui/apps/platform/src/Containers/Compliance/widgets/ControlRelatedResourceList.js
  ui/apps/platform/src/Containers/Compliance/widgets/ResourceCount.js
  ui/apps/platform/src/queries/image.js
  ui/apps/platform/src/queries/policy.js
  ui/apps/platform/src/queries/role.js
  ui/apps/platform/src/queries/secret.js
  ui/apps/platform/src/queries/serviceAccount.js
  ui/apps/platform/src/queries/subject.js
  ui/apps/platform/src/utils/queryMap.js
Labels: area/ui

#14845 ROX-28788: fix bats test
  roxctl/central/initbundles/fetch_ca.go
  tests/roxctl/bats-tests/cluster/central-init-bundles.bats
Labels: area/roxctl, auto-retest

#14540 feat(sac): add helpers for resource global and namespace access
  pkg/sac/for_resource_helpers.go
  pkg/sac/for_resource_helpers_test.go
  pkg/sac/query_helper_test.go
Labels: area/auth

#14766 ROX-28698: Fix wrong default value of node index mapping URL
  compliance/cmd/compliance/main.go
  compliance/node/index/indexer.go
  compliance/node/index/indexer_test.go
  pkg/env/node_index.go
  pkg/env/sensor.go
  sensor/common/sensor/sensor.go
Labels: ci-all-qa-tests, area/sensor

#14785 fix(pg): cleanup store generators
  pkg/postgres/walker/schema.go
  tools/generate-helpers/pg-table-bindings/main.go
  tools/generate-helpers/pg-table-bindings/singleton.go.tpl
  tools/generate-helpers/pg-table-bindings/store.go.tpl
  tools/generate-helpers/pg-table-bindings/store_test.go.tpl
Labels: area/postgres, auto-retest

#14860 ROX-28699: fix verification of multiple cosign signatures (#14782)
  pkg/signatures/cosign_sig_verifier.go
  pkg/signatures/cosign_sig_verifier_test.go
Labels: backport

#14861 ROX-28699: fix verification of multiple cosign signatures (#14782)
  pkg/signatures/cosign_sig_verifier.go
  pkg/signatures/cosign_sig_verifier_test.go
Labels: backport

#14805 ROX-23851: sort scan by severity in component
  roxctl/image/scan/cve.go
  roxctl/image/scan/testdata/color_testComponents.csv
  roxctl/image/scan/testdata/color_testComponents.json
  roxctl/image/scan/testdata/color_testComponents.txt
  roxctl/image/scan/testdata/testComponents.csv
  roxctl/image/scan/testdata/testComponents.json
  roxctl/image/scan/testdata/testComponents.txt
Labels: area/roxctl

#14850 ROX-28778: Conditionally render classic compliance dashboard
  ui/apps/platform/src/Containers/Compliance/Dashboard/ComplianceDashboardPage.tsx
  ui/apps/platform/src/Containers/Compliance/complianceRBAC.ts
Labels: area/ui

#14809 ROX-28574: Fix race condition breaking delegated scanning
  CHANGELOG.md
  central/sensor/service/connection/connection_impl.go
  central/sensor/service/connection/connection_test.go
  generated/internalapi/central/image.pb.go
  generated/internalapi/central/image_vtproto.pb.go
  proto/internalapi/central/image.proto
  sensor/common/delegatedregistry/delegated_registry_handler.go
  sensor/common/registry/registry_store.go
  sensor/common/registry/registry_store_test.go
Labels: area/central, area/sensor

#14869 chore(pg): cleanup storeWrapper
  central/auth/store/store.go
  central/policy/store/store.go
Labels: area/central

#14742 ROX-28697: use Walk instead of GetAll in logimbue and policycategory
  central/debug/service/service.go
  central/debug/service/service_test.go
  central/logimbue/store/mocks/store.go
  central/logimbue/store/postgres/gen.go
  central/logimbue/store/postgres/store.go
  central/logimbue/store/postgres/store_test.go
  central/logimbue/store/store.go
  central/logimbue/writer/writer.go
  central/logimbue/writer/writer_test.go
  central/policycategory/datastore/singleton.go
  central/policycategory/store/mocks/store.go
  central/policycategory/store/postgres/gen.go
  central/policycategory/store/postgres/store.go
  central/policycategory/store/postgres/store_test.go
  central/policycategory/store/store.go
  central/policycategoryedge/store/postgres/gen.go
  central/policycategoryedge/store/postgres/store.go
  central/policycategoryedge/store/store.go
  central/pruning/pruning_test.go
Labels: area/central, auto-retest

#14755 ROX-28692: Collector vuln fixes 4.5
  COLLECTOR_VERSION
Labels: ci-all-qa-tests, backport

#14756 ROX-28692: Collector vuln fixes 4.6
  COLLECTOR_VERSION
Labels: ci-all-qa-tests, backport

#14780 ROX-28692: Collector vuln fixes 4.7
  COLLECTOR_VERSION
Labels: ci-all-qa-tests, backport

#14815 fix(ui): Fix for navigation links active state
  ui/apps/platform/src/Containers/MainPage/Navigation/NavigationSidebar.tsx
  ui/apps/platform/src/Containers/MainPage/Navigation/utils.ts
Labels: area/ui

#14862 ROX-28680: Re-enable top nav tests
  .openshift-ci/get_compatibility_test_tuples.py
  qa-tests-backend/src/test/groovy/SummaryTest.groovy
Labels: area/ci, backport

#14750 ROX-28472: Add create report dropdown in VM
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/Overview/WorkloadCvesOverviewPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCveViewContext.ts
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/WorkloadCvesPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/CreateOnDemandReportModal.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/WorkloadCves/components/CreateReportDropdown.tsx
Labels: area/ui, auto-retest

#14832 ROX-28320: add IDs option to context scope
  central/graphql/resolvers/image_components_v2_postgres_test.go
  central/graphql/resolvers/images.go
  pkg/search/scoped/context.go
  pkg/search/scoped/postgres/searcher.go
  pkg/search/scoped/postgres/searcher_test.go
Labels: area/central

#14728 build: Remove rocksdb dependencies from Konflux builder stage
  image/rhel/konflux.Dockerfile
Labels: area/helm, konflux-build, backport-for-4.6-konflux-release, backport-for-4.7-konflux-release

#14874 ROX-28832: Remove unneeded data from classic compliance queries
  ui/apps/platform/cypress/integration/compliance/Compliance.helpers.js
  ui/apps/platform/src/Containers/Compliance/Entity/Cluster.js
  ui/apps/platform/src/Containers/Compliance/Entity/Deployment.js
  ui/apps/platform/src/Containers/Compliance/Entity/Namespace.js
  ui/apps/platform/src/queries/cluster.js
  ui/apps/platform/src/queries/deployment.js
  ui/apps/platform/src/queries/namespace.js
Labels: area/ui

#14836 ROX-28779: Fix incorrect cluster items in delegated image scanning
  ui/apps/platform/cypress/integration/clusters/delegatedScanning.test.js
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/Components/DelegatedRegistriesTable.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/Components/DelegatedScanningSettings.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/DelegateScanningPage.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/cluster.ts
Labels: area/ui

#14882 Update merge of configureConfigController
  central/auth/datastore/datastore_impl.go
  central/auth/datastore/datastore_impl_test.go
Labels: area/central

#14781 ROX-28697: use Walk instead of GetAll in cloud sources
  central/cloudsources/datastore/datastore.go
  central/cloudsources/datastore/datastore_impl.go
  central/cloudsources/datastore/datastore_impl_postgres_test.go
  central/cloudsources/datastore/internal/store/mocks/store.go
  central/cloudsources/datastore/internal/store/postgres/gen.go
  central/cloudsources/datastore/internal/store/postgres/store.go
  central/cloudsources/datastore/internal/store/postgres/store_test.go
  central/cloudsources/datastore/internal/store/store.go
  central/cloudsources/manager/manager.go
Labels: area/central, auto-retest

#14778 ROX-28697: use Walk instead of GetAll in group
  central/authprovider/telemetry/telemetry.go
  central/debug/service/service.go
  central/debug/service/service_test.go
  central/graphql/resolvers/groups.go
  central/group/datastore/datastore.go
  central/group/datastore/datastore_impl.go
  central/group/datastore/datastore_impl_test.go
  central/group/datastore/internal/store/mocks/store.go
  central/group/datastore/internal/store/postgres/gen.go
  central/group/datastore/internal/store/postgres/store.go
  central/group/datastore/internal/store/postgres/store_test.go
  central/group/datastore/internal/store/store.go
  central/group/datastore/mocks/datastore.go
Labels: area/central, auto-retest

#14833 ROX-28320: Create flat CVE view
  central/image/datastore/store/v2/postgres/store.go
  central/views/imagecveflat/db_response.go
  central/views/imagecveflat/mocks/types.go
  central/views/imagecveflat/singleton.go
  central/views/imagecveflat/types.go
  central/views/imagecveflat/view_impl.go
  central/views/imagecveflat/view_test.go
  pkg/search/options.go
Labels: area/central

#14626 ROX-28742: Fix deduplication of connections for external IPs
  central/networkgraph/aggregator/aggregator_impl.go
  central/networkgraph/aggregator/aggregator_test.go
  central/networkgraph/entity/datastore/datastore_impl_test.go
  central/networkgraph/service/service_impl_postgres_test.go
  central/networkgraph/service/service_impl_test.go
  pkg/networkgraph/testutils/utils.go
  pkg/networkgraph/tree/multitree_test.go
  pkg/networkgraph/tree/radix_test.go
  pkg/networkgraph/tree/wrapper_test.go
Labels: ci-all-qa-tests, area/roxctl, area/central, area/ui, area/helm, area/operator, area/sensor, area/admission-controller, area/postgres, area/scanner, area/ci, konflux-build

#14848 chore(ui): Use e2e and Chrome browser as default local Cypress options
  ui/apps/platform/package.json
Labels: area/ui

#14834 ROX-28320: Update graphQL to use flat CVE view
  central/graphql/resolvers/gen/main.go
  central/graphql/resolvers/generated.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_components_v2_postgres_test.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/image_vulnerabilities_utilities.go
  central/graphql/resolvers/image_vulnerabilities_v2_test.go
  central/graphql/resolvers/resolver.go
  central/graphql/resolvers/test_setup_utils.go
Labels: area/central

#14885 ROX-27959: Add retries in the binding fetcher
  sensor/kubernetes/listener/resources/rbac/binding_fetcher.go
  sensor/kubernetes/listener/resources/rbac/binding_fetcher_test.go
Labels: area/sensor, auto-retest

#14908 ROX-28863: Fix inconsistent names in VulnMgmt
  ui/apps/platform/src/Containers/VulnMgmt/Dashboard/VulnMgmtDashboardPage.jsx
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cluster/VulnMgmtEntityCluster.jsx
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Cve/VulnMgmtEntityCve.jsx
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Deployment/VulnMgmtEntityDeployment.jsx
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Image/VulnMgmtEntityImage.jsx
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Namespace/VulnMgmtEntityNamespace.jsx
  ui/apps/platform/src/Containers/VulnMgmt/Entity/Node/VulnMgmtEntityNode.jsx
  ui/apps/platform/src/Containers/VulnMgmt/List/Clusters/VulnMgmtListClusters.jsx
  ui/apps/platform/src/Containers/VulnMgmt/List/Components/VulnMgmtListComponents.jsx
  ui/apps/platform/src/Containers/VulnMgmt/List/Deployments/VulnMgmtListDeployments.jsx
  ui/apps/platform/src/Containers/VulnMgmt/List/ImageComponents/VulnMgmtListImageComponents.jsx
  ui/apps/platform/src/Containers/VulnMgmt/List/Images/VulnMgmtListImages.jsx
  ui/apps/platform/src/Containers/VulnMgmt/List/Namespaces/VulnMgmtListNamespaces.jsx
  ui/apps/platform/src/Containers/VulnMgmt/List/NodeComponents/VulnMgmtListNodeComponents.jsx
  ui/apps/platform/src/Containers/VulnMgmt/List/Nodes/VulnMgmtListNodes.jsx
  ui/apps/platform/src/Containers/VulnMgmt/List/VulnMgmtList.jsx
Labels: area/ui

#14837 ROX-28250: Setting InsecureSkipVerify in tlsConfig for email notifier
  central/graphql/resolvers/generated.go
  central/notifiers/email/email.go
  generated/api/v1/notifier_service.swagger.json
  generated/storage/notifier.pb.go
  generated/storage/notifier_vtproto.pb.go
  proto/storage/notifier.proto
  proto/storage/proto.lock
  ui/apps/platform/cypress/integration/integrations/notifiers.test.js
  ui/apps/platform/src/Components/EmailNotifier/EmailNotifierForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/EmailIntegrationForm.tsx
Labels: area/central, area/ui

#14846 ROX-28793: Add Cypress e2e test for cluster reg secrets
  ui/apps/platform/cypress/helpers/file.ts
  ui/apps/platform/cypress/integration/clusters/cluster-registration-secrets/ClusterRegistrationSecrets.helpers.ts
  ui/apps/platform/cypress/integration/clusters/cluster-registration-secrets/ClusterRegistrationSecrets.test.ts
Labels: area/ui

#14798 ROX-27856: Post Konflux metrics to BigQuery
  .tekton/basic-component-pipeline.yaml
  .tekton/main-pipeline.yaml
  .tekton/operator-bundle-pipeline.yaml
  .tekton/retag-pipeline.yaml
  .tekton/scanner-v4-pipeline.yaml
Labels: konflux-build, backport-for-4.6-konflux-release, backport-for-4.7-konflux-release

#14889 fix(ui): Fix compliance filter chips
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/ClusterDetailsTable.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CoveragesPage.tsx
  ui/apps/platform/src/Containers/ComplianceEnhanced/searchFilterConfig.ts
Labels: area/ui

#14489 chore(deps): remove lz4 and bzip2
  image/rhel/Dockerfile
Labels: ci-all-qa-tests, area/helm

#14906 fix(pg): do not read rows on context error
  pkg/search/postgres/common.go
  pkg/search/postgres/common_pg_test.go
Labels: area/postgres

#14747 ROX-28697: use Walk instead of GetAll in policy
  central/policy/datastore/datastore_impl.go
  central/policy/datastore/datastore_impl_test.go
  central/policy/datastore/singleton.go
  central/policy/store/mocks/store.go
  central/policy/store/postgres/gen.go
  central/policy/store/postgres/store.go
  central/policy/store/postgres/store_test.go
  central/policy/store/store.go
Labels: area/central

#14451 ROX-28297: adds benchmarks for flow store queries
  central/networkgraph/entity/datastore/datastore.go
  central/networkgraph/entity/datastore/datastore_bench_test.go
  central/networkgraph/entity/datastore/datastore_impl.go
  central/networkgraph/entity/datastore/mocks/datastore.go
  central/networkgraph/entity/gatherer/common.go
  central/networkgraph/entity/gatherer/load_bundled.go
  central/networkgraph/entity/gatherer/online_gatherer.go
  central/networkgraph/flow/datastore/internal/store/postgres/flow_impl_benchmark_test.go
  central/networkgraph/service/service_impl_postgres_benchmark_test.go
  central/networkgraph/service/service_impl_test.go
  pkg/networkgraph/testutils/utils.go
  tools/gorm-snapshot/main.go
Labels: area/central

#14827 ROX-28879: Update ScannerV2&Collector Konflux image checks
  .github/workflows/build.yaml
  .github/workflows/style.yaml
Labels: area/ci, backport-for-4.6-konflux-release, backport-for-4.7-konflux-release

#14757 ROX-15902: Use Walk instead of GetAll in authprovider
  central/authprovider/datastore/datastore_impl.go
  central/authprovider/datastore/datastore_impl_test.go
  central/authprovider/datastore/internal/store/mocks/store.go
  central/authprovider/datastore/internal/store/store.go
  central/authprovider/telemetry/telemetry.go
  pkg/auth/authproviders/mocks/store.go
  pkg/auth/authproviders/provider_commands_test.go
  pkg/auth/authproviders/registry_httphandler_test.go
  pkg/auth/authproviders/registry_impl.go
  pkg/auth/authproviders/store.go
Labels: area/auth, area/central, area/operator, auto-retest

#14624 ROX-28100: retry grpc call
  qa-tests-backend/src/main/groovy/services/NotifierService.groovy
  qa-tests-backend/src/main/groovy/util/Helpers.groovy
  qa-tests-backend/src/main/groovy/util/Retry.groovy
  qa-tests-backend/src/test/groovy/RetryTest.groovy
Labels: auto-retest

#14638 ROX-23975: Remove filtering of search options on risk page
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.tsx
  ui/apps/platform/src/Containers/Risk/RiskPage.jsx
  ui/apps/platform/src/Containers/Risk/RiskTablePanel.jsx
  ui/apps/platform/src/services/searchOptionsToQuery.ts
  ui/apps/platform/src/utils/searchUtils.test.ts
  ui/apps/platform/src/utils/searchUtils.ts
Labels: area/ui

#14904 feat(fake-workload): Add bool option for generating unclosed endpoints
  scale/workloads/10-sensors.yaml
  scale/workloads/active-vulnmgmt.yaml
  scale/workloads/default.yaml
  scale/workloads/high-alert.yaml
  scale/workloads/long-running.yaml
  scale/workloads/np-load.yaml
  scale/workloads/okr-single-load.yaml
  scale/workloads/rbac.yaml
  scale/workloads/sample.yaml
  scale/workloads/scale-test.yaml
  scale/workloads/small.yaml
  scale/workloads/vulnmgmt.yaml
  scale/workloads/xlarge.yaml
  sensor/kubernetes/fake/flows.go
  sensor/kubernetes/fake/workload.go
Labels: area/sensor

#14922 chore: Move jobs from `lint.yml` to `style.yml`
  .github/workflows/lint.yml
  .github/workflows/style.yaml
Labels: area/ci

#14763 ROX-28697: use Walk instead of GetAll in notifier
  central/compliance/data/repository.go
  central/debug/service/service.go
  central/debug/service/service_test.go
  central/graphql/resolvers/notifiers.go
  central/notifier/datastore/datastore.go
  central/notifier/datastore/datastore_impl.go
  central/notifier/datastore/datastsore_test.go
  central/notifier/datastore/internal/store/mocks/store.go
  central/notifier/datastore/internal/store/postgres/gen.go
  central/notifier/datastore/internal/store/postgres/store.go
  central/notifier/datastore/internal/store/postgres/store_test.go
  central/notifier/datastore/internal/store/store.go
  central/notifier/datastore/mocks/datastore.go
  central/notifier/datastore/telemetry.go
  central/notifier/processor/singleton.go
  central/notifier/service/service_impl.go
  central/policy/handlers/handler.go
  central/policy/handlers/handler_test.go
  qa-tests-backend/src/main/groovy/services/NotifierService.groovy
  qa-tests-backend/src/test/groovy/IntegrationsTest.groovy
Labels: area/central, auto-retest

#14907 ROX-28813: Remove scope.ID in favor of using scope.IDs
  central/cluster/datastore/datastore_impl_postgres_test.go
  central/cve/common/csv/handler.go
  central/cve/common/csv/handler_test.go
  central/cve/edgefields/searcher_impl_test.go
  central/deployment/datastore/datastore_impl_postgres_test.go
  central/graphql/resolvers/cluster_vulnerabilities.go
  central/graphql/resolvers/clusters.go
  central/graphql/resolvers/deployments.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_vulnerabilities.go
  central/graphql/resolvers/image_vulnerabilities_test.go
  central/graphql/resolvers/image_vulnerabilities_v2_test.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/namespaces.go
  central/graphql/resolvers/node_components.go
  central/graphql/resolvers/node_components_postgres_test.go
  central/graphql/resolvers/node_vulnerabilities.go
  central/graphql/resolvers/node_vulnerabilities_postgres_test.go
  central/graphql/resolvers/nodes.go
  central/graphql/resolvers/policies.go
  central/graphql/resolvers/service_accounts.go
  central/graphql/resolvers/vulnerabilities_v1.go
  central/graphql/resolvers/vulnerability_requests.go
  central/image/datastore/datastore_impl_postgres_test.go
  central/node/datastore/datastore_impl_postgres_test.go
  central/views/imagecve/view_test.go
  central/views/imagecveflat/view_test.go
  central/views/nodecve/view_test.go
  central/views/platformcve/view_test.go
  pkg/search/postgres/common_test.go
  pkg/search/scoped/context.go
  pkg/search/scoped/context_test.go
  pkg/search/scoped/postgres/searcher.go
  pkg/search/scoped/postgres/searcher_test.go
Labels: area/central, area/postgres

#14786 chore: Improve BigQuery metrics
  .github/actions/job-preamble/action.yaml
  .openshift-ci/begin.sh
  scripts/ci/lib.sh
  scripts/ci/metrics.sh
Labels: area/ci

#14656 ROX-28028: anonymise external IPs in network baselines
  central/networkbaseline/manager/manager_impl.go
  central/networkbaseline/manager/manager_impl_test.go
Labels: area/central

#14923 ROX-28862: Fix discovered time is null
  central/graphql/resolvers/image_vulnerabilities_v2_test.go
  central/views/imagecveflat/db_response.go
  central/views/imagecveflat/view_test.go
Labels: area/central, area/postgres

#14947 ROX-28697: remove GetAll generator
  central/authprovider/datastore/internal/store/postgres/gen.go
  central/authprovider/datastore/internal/store/postgres/store.go
  central/authprovider/datastore/internal/store/postgres/store_test.go
  migrator/migrations/postgreshelper/schema/gen.go
  pkg/search/postgres/store.go
  pkg/search/postgres/store_cache.go
  pkg/search/postgres/store_cache_test.go
  pkg/search/postgres/store_test.go
  tools/generate-helpers/pg-table-bindings/main.go
  tools/generate-helpers/pg-table-bindings/store.go.tpl
  tools/generate-helpers/pg-table-bindings/store_test.go.tpl
  tools/generate-helpers/pg-table-bindings/test/postgres/gen.go
  tools/generate-helpers/pg-table-bindings/test/postgres/store.go
  tools/generate-helpers/pg-table-bindings/test/postgres/store_test.go
  tools/generate-helpers/pg-table-bindings/testuuidkey/postgres/gen.go
  tools/generate-helpers/pg-table-bindings/testuuidkey/postgres/store.go
  tools/generate-helpers/pg-table-bindings/testuuidkey/postgres/store_test.go
Labels: area/central, area/postgres

#14938 fix(sensor): optimize YAML loading by reading directly from reader
  sensor/upgrader/bundle/instantiator.go
Labels: area/sensor, auto-retest

#14919 ROX-28867: Fix inconsistent names in assorted folders
  ui/apps/platform/src/Components/ContainerResourcesInfo.tsx
  ui/apps/platform/src/Components/ContainerSecretsInfo.tsx
  ui/apps/platform/src/Components/ContainerVolumesInfo.tsx
  ui/apps/platform/src/Components/DeploymentContainerConfig.tsx
  ui/apps/platform/src/Components/PatternFly/SearchFilterResults.tsx
  ui/apps/platform/src/Components/TimelineGraph/Minimap/Minimap.jsx
  ui/apps/platform/src/Components/visuals/Sunburst.jsx
  ui/apps/platform/src/Containers/Collections/CollectionsFormModal.tsx
  ui/apps/platform/src/Containers/Collections/CollectionsFormPage.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationsPage.tsx
  ui/apps/platform/src/Containers/Policies/Modal/ImportPolicyJSONModalError.tsx
  ui/apps/platform/src/Containers/Risk/Process/DiscoveryCard.jsx
  ui/apps/platform/src/Containers/Risk/Process/DiscoveryCardHeader.jsx
  ui/apps/platform/src/Containers/SystemHealth/ClustersHealth/ClusterStatusCard.tsx
  ui/apps/platform/src/Containers/Violations/ViolationsTablePage.tsx
  ui/apps/platform/src/Containers/Violations/violationsTableColumnDescriptors.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/VulnReportsPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/forms/CollectionSelection.tsx
Labels: area/ui

#14955 ROX-28777: Conditionally disable Save button
  ui/apps/platform/cypress/integration/clusters/delegatedScanning.test.js
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/Components/DelegatedRegistriesList.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/Components/DelegatedRegistriesTable.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/Components/DelegatedScanningSettings.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/Components/ToggleDelegatedScanning.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/DelegateScanningPage.tsx
  ui/apps/platform/src/Containers/Clusters/DelegateScanning/DelegatedImageScanningForm.tsx
Labels: area/ui

#14952 chore: Add `job-preamble` to jobs in `style.yml` where missing
  .github/workflows/style.yaml
Labels: area/ci

#14689 fix: collector CPU profiler
  COLLECTOR_VERSION
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml.htpl
Labels: ci-all-qa-tests, area/helm

#14749 chore(tests): remove SkipIfPostgresEnabled
  central/policy/datastore/datastore_impl.go
  central/policy/datastore/datastore_impl_test.go
  central/processindicator/search/searcher_impl_test.go
  pkg/postgres/pgtest/postgres.go
  pkg/scanners/clairify/convert_test.go
Labels: area/central, area/postgres

#14794 fix(ui): Fix vulnerability reporting edit page route
  ui/apps/platform/cypress/fixtures/vulnerabilities/vulnerabilityReporting/vulnerabilityReports.json
  ui/apps/platform/cypress/helpers/visit.js
  ui/apps/platform/cypress/integration/vulnerabilities/VulnerabilityReporting/VulnerabilityReporting.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/VulnerabilityReporting/vulnerabilityReportingNav.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReportingPage.tsx
Labels: area/ui

#14960 ROX-28895: backend changes to account for unknown CVE severity
  central/graphql/resolvers/node_cve_core_test.go
  central/graphql/resolvers/resource_count_by_severity.go
  central/views/common/db_response.go
  central/views/common/empty.go
  central/views/common/queries.go
  central/views/common/types.go
  central/views/imagecve/db_response.go
  central/views/imagecve/view_impl.go
  central/views/imagecve/view_test.go
  central/views/nodecve/db_response.go
  pkg/search/options.go
Labels: area/central

#14964 ROX-28946: Add lint rule for version of PatternFly variable or class
  ui/apps/platform/eslint-plugins/pluginPatternFly.js
Labels: area/ui

#14954 fix(pac): Fix issue with policy metric decrement
  central/policy/datastore/datastore_impl.go
Labels: area/central

#14709 ROX-27122: Expand Security Policy Status Using Conditions
  config-controller/api/v1alpha1/policy_types.go
  config-controller/api/v1alpha1/policy_types_test.go
  config-controller/api/v1alpha1/zz_generated.deepcopy.go
  config-controller/config/crd/bases/config.stackrox.io_securitypolicies.yaml
  config-controller/internal/controller/policy_controller.go
  config-controller/pkg/client/client.go
  config-controller/pkg/client/client_test.go
  image/templates/helm/stackrox-central/crds/config.stackrox.io_securitypolicies.yaml
  tests/policy_as_code_test.go
Labels: area/helm, auto-retest

#14939 ROX-28253: Change run query for schema
  pkg/search/postgres/common.go
Labels: area/central, area/postgres

#14966 ROX-28876: Add button to Clusters page to manage CRS
  ui/apps/platform/cypress/integration/clusters/cluster-registration-secrets/ClusterRegistrationSecrets.test.ts
  ui/apps/platform/src/Containers/Clusters/ClustersTablePanel.tsx
Labels: area/ui

#14951 ROX-28900: Remove monaco and swap to plain codeblock for code viewer
  ui/apps/platform/config-overrides.js
  ui/apps/platform/cypress/integration/violations/violations.test.js
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
  ui/apps/platform/src/Components/CodeViewer.cy.jsx
  ui/apps/platform/src/Components/CodeViewer.tsx
  ui/apps/platform/src/Components/PatternFly/CodeEditorDarkModeControl.tsx
  ui/apps/platform/src/Containers/NetworkGraph/NetworkGraphPage.tsx
  ui/apps/platform/src/Containers/NetworkGraph/common/NetworkPolicies.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/CompareYAMLModal.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPoliciesYAML.css
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPoliciesYAML.tsx
  ui/apps/platform/src/Containers/NetworkGraph/simulation/NetworkPolicySimulatorSidePanel.tsx
  ui/apps/platform/src/Containers/Violations/Details/NetworkPolicies/NetworkPolicyModal.tsx
  ui/apps/platform/src/hooks/useClipboardCopy.ts
  ui/apps/platform/src/index.tsx
Labels: area/ui

#14930 fix(Aggregator): Fix network flow deduplication again
  central/networkgraph/aggregator/aggregator.go
  central/networkgraph/aggregator/aggregator_impl.go
  central/networkgraph/aggregator/aggregator_test.go
  central/networkgraph/service/service_impl.go
  central/networkgraph/service/service_impl_postgres_test.go
Labels: area/central

#14819 ROX-24170: include delegated scanning config in diagnostics
  central/debug/service/service.go
  central/debug/service/service_test.go
  central/debug/service/singleton.go
Labels: area/central, area/ui, area/sensor, area/ci

#14982 ROX-28877: Add Tech Preview alerts in CRS pages
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/ClusterRegistrationSecretTechPreviewAlert.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/ClusterRegistrationSecretsPage.tsx
  ui/apps/platform/src/Containers/Clusters/ClusterRegistrationSecrets/SecureClusterPage.tsx
Labels: area/central, area/ui, area/helm, area/postgres

#14873 ROX-28473: Add tabs within VM Reporting
  ui/apps/platform/cypress/integration/vulnerabilities/VulnerabilityReporting/VulnerabilityReporting.helpers.js
  ui/apps/platform/cypress/integration/vulnerabilities/VulnerabilityReporting/vulnerabilityReportingNav.test.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/CloneVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/CreateVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ModifyVulnReport/EditVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/ViewVulnReport/ViewVulnReportPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReportingPage.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/ConfigReportsTab.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/OnDemandReportsTab.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/VulnReportingLayout.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/pathsForVulnerabilityReporting.ts
  ui/apps/platform/src/routePaths.ts
Labels: area/ui

#14771 ROX-28296: reencrypt route operator integration
  operator/api/v1alpha1/central_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/bundle/manifests/platform.stackrox.io_centrals.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_centrals.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/internal/central/extensions/reconcile_tls.go
  operator/internal/central/reconciler/reconciler.go
  operator/internal/central/values/translation/translation.go
  operator/internal/central/values/translation/translation_test.go
  operator/internal/common/tls.go
  operator/internal/route/translation.go
  operator/internal/route/translation_test.go
  operator/tests/central/central-misc/050-assert.yaml
  operator/tests/central/central-misc/050-set-exposure-route.yaml
Labels: area/operator

#15019 ROX-29007: Add lint rule for version of PatternFly utility class
  ui/apps/platform/eslint-plugins/pluginPatternFly.js
  ui/apps/platform/src/Containers/ComplianceEnhanced/Coverage/CheckDetailsHeader.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/NodeCves/Node/NodePageHeader.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/PlatformCves/Cluster/ClusterPageDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/HeaderLoadingSkeleton.tsx
Labels: area/ui

#14974 ROX-28953: GetByIDs in image
  central/image/datastore/datastore_impl.go
  central/image/datastore/search/searcher_impl_v2.go
  central/image/datastore/store/mocks/store.go
  central/image/datastore/store/postgres/store.go
  central/image/datastore/store/postgres/store_test.go
  central/image/datastore/store/store.go
  central/image/datastore/store/v2/postgres/store.go
  central/image/datastore/store/v2/postgres/store_test.go
Labels: ci-all-qa-tests, area/auth, area/central, area/ui, area/operator, area/sensor, area/postgres, area/ci, auto-retest

#14961 ROX-27399: cdm component ID using hash
  central/cve/converter/utils/convert_utils_v2_test.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_components_v2_postgres_test.go
  central/image/datastore/store/common/v2/merge_v2.go
  central/image/datastore/store/common/v2/parts_test.go
  central/image/datastore/store/common/v2/split.go
  central/image/datastore/store/common/v2/split_v2.go
  central/image/datastore/store/postgres/store.go
  central/image/datastore/store/v2/postgres/store.go
  central/views/imagecveflat/view_test.go
  generated/storage/image.pb.go
  pkg/images/enricher/enricher_impl.go
  pkg/scancomponent/component_id.go
  proto/storage/image.proto
Labels: area/central

#14968 ROX-28419: Persist indexer/matcher endpoints to DB
  central/imageintegration/store/defaults.go
Labels: area/central

#15035 chore: Delegated scanning remove duplicate log
  sensor/common/scan/scan.go
Labels: area/sensor

#13928 ROX-27814: match all registries with the same hostname
  sensor/common/image/interfaces.go
  sensor/common/image/mocks/interfaces.go
  sensor/common/registry/registry_store.go
  sensor/common/registry/registry_store_test.go
  sensor/common/scan/scan.go
  sensor/common/scan/scan_test.go
Labels: area/sensor

#14910 chore(scanner): alleviate not found log spam
  scanner/services/indexer.go
Labels: area/scanner

#14447 ROX-20769: Use pg_upgrade in init-entrypoint
  image/postgres/Dockerfile
  image/postgres/scripts/init-entrypoint.sh
Labels: area/helm, area/postgres

#14981 ROX-27399: adding hash to CVE ID
  central/cve/converter/utils/convert_utils_v2.go
  central/cve/converter/utils/convert_utils_v2_test.go
  central/graphql/resolvers/image_components.go
  central/graphql/resolvers/image_components_v2_postgres_test.go
  central/graphql/resolvers/image_vulnerabilities_v2_test.go
  central/graphql/resolvers/test_utils.go
  central/image/datastore/datastore_test_constructors.go
  central/image/datastore/store/common/v2/parts_test.go
  central/image/datastore/store/common/v2/split_v2.go
  central/views/imagecveflat/view_test.go
  generated/storage/vulnerability.pb.go
  pkg/cve/cve.go
  proto/storage/vulnerability.proto
Labels: area/central

#14905 ROX-28854: add qa-e2e for cosign keyless verification
  qa-tests-backend/scripts/images-to-prefetch.txt
  qa-tests-backend/src/main/groovy/services/SignatureIntegrationService.groovy
  qa-tests-backend/src/test/groovy/ImageSignatureVerificationTest.groovy
Labels: area/central

#14865 ROX-28577: rekor log integration UI
  CHANGELOG.md
  ui/apps/platform/cypress/integration/integrations/signatureIntegrations.test.js
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/SignatureIntegrationForm.tsx
  ui/apps/platform/src/types/signatureIntegration.proto.ts
Labels: area/central, area/ui

#14975 chore: drop unused patches
  operator/config/default/kustomization.yaml
  operator/config/default/manager_auth_proxy_patch.yaml
  operator/config/default/manager_config_patch.yaml
Labels: area/operator, auto-retest

#14900 chore: add helm tests for routes
  pkg/helm/charts/tests/centralservices/testdata/helmtest/openshift-routes.test.yaml
Labels: area/helm

#13781 ROX-27622: Move SecurityPolicy CRD to template dir in Helm chart
  CHANGELOG.md
  Makefile
  deploy/common/k8sbased.sh
  image/templates/helm/stackrox-central/README.md.htpl
  image/templates/helm/stackrox-central/internal/config-shape.yaml
  image/templates/helm/stackrox-central/internal/config.stackrox.io_securitypolicies.yaml
  image/templates/helm/stackrox-central/templates/00-securitypolicy-crd.yaml
  image/templates/helm/stackrox-central/templates/_init.tpl.htpl
  image/templates/helm/stackrox-central/values.yaml.htpl
  operator/internal/central/values/translation/base-values.yaml
  tests/e2e/lib.sh
  tests/e2e/run-scanner-v4-install.bats
Labels: area/helm, area/operator

#15053 chore(scanner): more Scanner V4 DB logging
  image/templates/helm/shared/config-templates/scanner-v4-db/postgresql.conf.default
Labels: area/helm

#14775 ROX-28744: Update known/safe differences in functional tests
  scanner/e2etests/testdata/image_tests.json
Labels: area/scanner, scanner-functional-tests

#15046 ROX-28934: Avoid sensor restarts on central upgrade
  tests/upgrade/postgres_run.sh
Labels: auto-retest

#15060 ROX-29050: cdm CVE view faster
  central/graphql/resolvers/image_cve_core.go
  central/views/imagecve/singleton.go
  central/views/imagecve/view_impl.go
Labels: area/central

#14920 feat(sensor): Enable the detector buffer and the buffered stream
  pkg/env/sensor.go
  sensor/common/sensor/buffered_stream.go
  sensor/common/sensor/buffered_stream_test.go
  sensor/common/sensor/central_sender_impl.go
Labels: area/sensor, auto-retest

#15052 ROX-28994,ROX-28972: Fix @Retry in qa test
  qa-tests-backend/.idea/codeStyles/Project.xml
  qa-tests-backend/annotations/build.gradle
  qa-tests-backend/annotations/src/main/groovy/io/stackrox/annotations/Retry.groovy
  qa-tests-backend/build.gradle
  qa-tests-backend/gradle/wrapper/gradle-wrapper.jar
  qa-tests-backend/gradle/wrapper/gradle-wrapper.properties
  qa-tests-backend/gradlew.bat
  qa-tests-backend/settings.gradle
  qa-tests-backend/src/main/groovy/services/NotifierService.groovy
  qa-tests-backend/src/main/groovy/services/SecretService.groovy
  qa-tests-backend/src/test/groovy/RetryTest.groovy
Labels: auto-retest

#14384 chore(sac): Create resource for Vulnerability Request store access
  central/vulnmgmt/vulnerabilityrequest/datastore/datastore_impl.go
  central/vulnmgmt/vulnerabilityrequest/datastore/datastore_impl_postgres_test.go
  central/vulnmgmt/vulnerabilityrequest/datastore/internal/searcher/searcher_impl.go
  central/vulnmgmt/vulnerabilityrequest/datastore/internal/store/postgres/gen.go
  central/vulnmgmt/vulnerabilityrequest/datastore/internal/store/postgres/store.go
  pkg/postgres/schema/vulnerability_requests.go
  pkg/sac/resources/list.go
Labels: area/auth, area/central, area/postgres

#14989 refactor: abstract net entity datastore communication to sensor
  central/networkgraph/entity/datastore/datastore_bench_test.go
  central/networkgraph/entity/datastore/datastore_impl.go
  central/networkgraph/entity/datastore/datastore_impl_test.go
  central/networkgraph/entity/datastore/mocks/datastore_impl.go
  central/networkgraph/entity/datastore/singleton.go
Labels: area/central

#14903 ROX-20769: Use PG15 to run CI
  image/postgres/Dockerfile
  image/postgres/download.sh
  image/postgres/konflux.Dockerfile
  image/rhel/download.sh
  image/rhel/konflux.Dockerfile
  tests/upgrade/postgres_run.sh
Labels: area/helm, area/postgres, konflux-build

#15081 refactor(glob): `pkg/glob` moved out of `pkg/telemetry/phonehome`
  central/telemetry/centralclient/interceptors.go
  central/telemetry/centralclient/interceptors_test.go
  central/telemetry/centralclient/runtime_config_test.go
  pkg/glob/pattern.go
  pkg/glob/pattern_test.go
  pkg/telemetry/phonehome/campaign.go
  pkg/telemetry/phonehome/campaign_test.go
  pkg/telemetry/phonehome/glob_pattern.go
  pkg/telemetry/phonehome/request_params.go
  pkg/telemetry/phonehome/request_params_test.go
Labels: area/central

#15049 ROX-28941: use RunQueryForSchemaFn in GetMany
  pkg/search/postgres/store.go
Labels: area/postgres, auto-retest

#15069 ROX-28314: Replace InitBundles permissionChecker w/ internal resource
  central/clusterinit/backend/backend_impl.go
  central/clusterinit/store/postgres/gen.go
  central/clusterinit/store/postgres/store.go
  pkg/postgres/schema/cluster_init_bundles.go
  pkg/sac/resources/list.go
  tools/generate-helpers/pg-table-bindings/resource_type_test.go
Labels: area/auth, area/central, area/postgres

#15017 ROX-28878: Fix incorrect violations count in ConfigMgmt
  ui/apps/platform/cypress/integration/configmanagement/deployments.test.js
  ui/apps/platform/src/Containers/ConfigManagement/Entity/Deployment/DeploymentFindings.tsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/widgets/FailedPoliciesAcrossDeployment.tsx
  ui/apps/platform/src/Containers/Workflow/widgets/ViolationsAcrossThisDeployment.jsx
Labels: area/ui, backport release-4.6, backport release-4.7

#14926 ROX-28864: Fix inconsistent names in ConfigManagement
  ui/apps/platform/src/Containers/ConfigManagement/ConfigManagementRoutes.jsx
  ui/apps/platform/src/Containers/ConfigManagement/ConfigMgmt.utils.ts
  ui/apps/platform/src/Containers/ConfigManagement/Dashboard/ConfigManagementDashboardPage.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntityCluster.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntityControl.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntityImage.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntityNamespace.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntityNode.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntityRole.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntitySecret.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntityServiceAccount.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntitySubject.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/Deployment/ConfigManagementEntityDeployment.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/EntityPage.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/Policy/ConfigManagementEntityPolicy.jsx
  ui/apps/platform/src/Containers/ConfigManagement/List/ConfigManagementListClusters.jsx
  ui/apps/platform/src/Containers/ConfigManagement/List/ConfigManagementListControls.jsx
  ui/apps/platform/src/Containers/ConfigManagement/List/ConfigManagementListDeployments.jsx
  ui/apps/platform/src/Containers/ConfigManagement/List/ConfigManagementListImages.jsx
  ui/apps/platform/src/Containers/ConfigManagement/List/ConfigManagementListNamespaces.jsx
  ui/apps/platform/src/Containers/ConfigManagement/List/ConfigManagementListNodes.jsx
  ui/apps/platform/src/Containers/ConfigManagement/List/ConfigManagementListPolicies.jsx
  ui/apps/platform/src/Containers/ConfigManagement/List/ConfigManagementListRoles.jsx
  ui/apps/platform/src/Containers/ConfigManagement/List/ConfigManagementListSecrets.jsx
  ui/apps/platform/src/Containers/ConfigManagement/List/ConfigManagementListServiceAccounts.jsx
  ui/apps/platform/src/Containers/ConfigManagement/List/ConfigManagementListSubjects.jsx
  ui/apps/platform/src/Containers/ConfigManagement/List/EntityList.jsx
  ui/apps/platform/src/Containers/ConfigManagement/List/ListPage.jsx
  ui/apps/platform/src/Containers/MainPage/Body.tsx
Labels: area/ui

#14941 ROX-28879: Update ScannerV2&Collector Konflux image checks/4.7
  .github/workflows/build.yaml
  .github/workflows/style.yaml
Labels: area/ci, backport

#15012 ROX-27669 : backport fix in #14474 and #14540 to 4.7 branch
  CHANGELOG.md
  central/graphql/resolvers/image_vulnerabilities_test.go
  central/graphql/resolvers/test_setup_utils.go
  central/graphql/resolvers/vulnerability_requests_test.go
  central/namespace/datastore/datastore_test_constructors.go
  central/pruning/pruning_vuln_req_test.go
  central/vulnmgmt/vulnerabilityrequest/datastore/datastore.go
  central/vulnmgmt/vulnerabilityrequest/datastore/datastore_impl.go
  central/vulnmgmt/vulnerabilityrequest/datastore/datastore_impl_test.go
  central/vulnmgmt/vulnerabilityrequest/datastore/singleton.go
  central/vulnmgmt/vulnerabilityrequest/manager/querymgr/query_manager_impl_test.go
  central/vulnmgmt/vulnerabilityrequest/manager/requestmgr/manager_impl_benchmark_test.go
  central/vulnmgmt/vulnerabilityrequest/manager/requestmgr/manager_impl_create_req_test.go
  central/vulnmgmt/vulnerabilityrequest/manager/requestmgr/manager_impl_reobserve_test.go
  central/vulnmgmt/vulnerabilityrequest/manager/requestmgr/manager_impl_test.go
  pkg/sac/for_resource_helpers.go
  pkg/sac/for_resource_helpers_test.go
  pkg/sac/query_helper_test.go
Labels: area/auth, area/central, backport, backport release-4.7

#14965 ROX-28313: Replace NetworkEntity permissionChecker w/ intern resource
  central/networkgraph/entity/datastore/datastore_impl.go
  central/networkgraph/entity/datastore/internal/store/postgres/gen.go
  central/networkgraph/entity/datastore/internal/store/postgres/store.go
  pkg/postgres/schema/network_entities.go
  pkg/sac/resources/list.go
  tools/generate-helpers/pg-table-bindings/list.go
  tools/generate-helpers/pg-table-bindings/resource_type_test.go
Labels: area/auth, area/central, area/postgres

#14949 ROX-28941: use RunQueryForSchemaFn in GetByQuery
  pkg/search/postgres/store.go
Labels: ci-all-qa-tests, area/roxctl, area/central, area/ui, area/helm, area/operator, area/sensor, area/postgres, area/scanner, area/ci, ci-performance-tests, auto-retest

#15050 ROX-28371: Reduce sensor CPU request in tests
  deploy/common/k8sbased.sh
  deploy/common/sensor-local-patch.yaml
Labels: ci-build-race-condition-debug

#15032 ROX-28954: Increase gql client timeout from 60s -> 180s
  ui/apps/platform/src/configureApolloClient.js
Labels: pls-merge, area/ui, backport release-4.6, backport release-4.7

#15079 ROX-29057: Update ESLint 9.25.1
  ui/apps/platform/cypress/integration/violations/violations.test.js
  ui/apps/platform/eslint.config.js
  ui/apps/platform/package-lock.json
  ui/apps/platform/package.json
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/SignatureIntegrationForm.tsx
Labels: area/ui

#15087 ROX-28921: retry in ProcessService
  qa-tests-backend/src/main/groovy/services/ProcessService.groovy
Labels: auto-retest

#15083 chore(roxctl): wrap sensor errors
  .golangci.yml
  config-controller/pkg/client/client.go
  roxctl/sensor/generate/generate.go
  roxctl/sensor/generate/openshift.go
  roxctl/sensor/generatecerts/gen_certs.go
  roxctl/sensor/getbundle/get_bundle.go
  roxctl/sensor/util/get_bundle.go
  roxctl/sensor/util/resolve_id_or_name.go
Labels: area/roxctl

#15106 fix(ui): Backport 15017 to release 4.7
  ui/apps/platform/cypress/integration/configmanagement/deployments.test.js
  ui/apps/platform/src/Containers/ConfigManagement/Entity/Deployment/DeploymentFindings.tsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/widgets/FailedPoliciesAcrossDeployment.tsx
  ui/apps/platform/src/Containers/Workflow/widgets/ViolationsAcrossThisDeployment.js
Labels: area/ui, backport

#15110 chore: better readability in netentity datastore context management
  central/networkgraph/entity/datastore/datastore_impl.go
Labels: area/central

#15031 ROX-28188: cve and component datastore tests
  central/cve/image/v2/datastore/datastore.go
  central/cve/image/v2/datastore/datastore_sac_test.go
  central/graphdb/testutils/datastore.go
  central/graphdb/testutils/graphdump.go
  central/imagecomponent/v2/datastore/datastore_sac_test.go
Labels: area/central, area/postgres

#15089 ROX-29053: fix CVE View test after updates to the ids
  central/views/imagecve/view_test.go
Labels: area/central

#14538 ROX-28259: Reenable entities store history & add enrichment purger
  pkg/env/sensor.go
  sensor/common/clusterentities/store.go
  sensor/common/clusterentities/store_container_id_test.go
  sensor/common/networkflow/manager/interfaces.go
  sensor/common/networkflow/manager/manager_impl.go
  sensor/common/networkflow/manager/manager_impl_test.go
  sensor/common/networkflow/manager/mocks/interfaces.go
  sensor/common/networkflow/manager/purger.go
  sensor/common/networkflow/manager/purger_test.go
  sensor/common/networkflow/manager/testing_test.go
  sensor/common/networkflow/metrics/metrics.go
  sensor/common/processsignal/enricher.go
  sensor/common/processsignal/pipeline.go
  sensor/kubernetes/listener/resources/env.go
  sensor/kubernetes/listener/resources/store_provider.go
  tools/allowed-large-files
Labels: area/sensor, turbo-build

#15120 chore: Update vuln bundle version to 4.7.3
  scanner/updater/version/VULNERABILITY_BUNDLE_VERSION
Labels: area/scanner

#13098 ROX-26347: e2e tests for collector runtime config
  deploy/common/k8sbased.sh
  qa-tests-backend/src/main/groovy/orchestratormanager/Kubernetes.groovy
  qa-tests-backend/src/main/groovy/util/CollectorUtil.groovy
  qa-tests-backend/src/test/groovy/NetworkFlowTest.groovy
  tests/e2e/lib.sh
Labels: ci-all-qa-tests

#15121 chore(roxctl): ensure --format json is not removed until replaced
  roxctl/image/scan/scan.go
Labels: area/roxctl

#15134 ROX-28250: Setting InsecureSkipVerify in tlsConfig for email notifier (#14837)
  central/graphql/resolvers/generated.go
  central/notifiers/email/email.go
  generated/api/v1/notifier_service.swagger.json
  generated/storage/notifier.pb.go
  generated/storage/notifier_vtproto.pb.go
  proto/storage/notifier.proto
  proto/storage/proto.lock
  ui/apps/platform/cypress/integration/integrations/notifiers.test.js
  ui/apps/platform/src/Components/EmailNotifier/EmailNotifierForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/EmailIntegrationForm.tsx
Labels: area/central, area/ui, backport
