Repository stackrox/stackrox, pull requests merged in 2025-10, with the labels that each got.

#16915 ROX-31023: arm64 support for operator images
  .github/workflows/build.yaml
  operator/Dockerfile
  operator/Makefile
  scripts/ci/lib.sh
Labels: area/operator, area/ci, ai-review

#17077 ROX-31088: Fix compliance-operator version reporting in telemetry
  CHANGELOG.md
  sensor/common/metrics/init.go
  sensor/common/metrics/metrics.go
  sensor/kubernetes/complianceoperator/info.go
Labels: area/sensor, auto-retest, backport release-4.8, ai-review

#16462 ROX-30578: Configure process baseline auto locking via helm
  central/detection/lifecycle/manager_impl.go
  central/detection/lifecycle/manager_impl_test.go
  deploy/common/k8sbased.sh
  image/templates/helm/stackrox-secured-cluster/internal/cluster-config.yaml.tpl.htpl
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/internal/defaults/30-base-config.yaml.htpl
  pkg/features/list.go
  pkg/helm/charts/tests/securedclusterservices/feature-flags/feature_flags_test.go
  pkg/helm/charts/tests/securedclusterservices/feature-flags/testdata/helmtest/auto-lock-process-baselines-disabled/process-baseline-auto-locking.test.yaml
  pkg/helm/charts/tests/securedclusterservices/feature-flags/testdata/helmtest/auto-lock-process-baselines/process-baseline-auto-locking.test.yaml
  ui/apps/platform/src/Containers/Clusters/DynamicConfigurationForm.tsx
  ui/apps/platform/src/types/featureFlag.ts
Labels: area/central, area/ui, area/helm

#16965 ROX-30963: Only query indicator fields needed for evalution
  central/pod/datastore/datastore_impl_real_test.go
  central/processbaseline/baselineutils.go
  central/processbaseline/evaluator/evaluator.go
  central/processbaseline/evaluator/evaluator_impl.go
  central/processbaseline/evaluator/evaluator_integration_test.go
  central/processbaseline/evaluator/evaluator_test.go
  central/processbaseline/evaluator/mocks/evaluator.go
  central/processindicator/datastore/bench_test.go
  central/processindicator/datastore/datastore.go
  central/processindicator/datastore/datastore_impl.go
  central/processindicator/datastore/datastore_impl_test.go
  central/processindicator/datastore/mocks/datastore.go
  central/processindicator/datastore/singleton.go
  central/processindicator/views/risk_evaluation_view.go
  central/processlisteningonport/datastore/datastore_impl_test.go
  central/processlisteningonport/service/service_impl_test.go
  central/risk/multipliers/deployment/process_baseline_violations.go
  central/risk/multipliers/deployment/process_baseline_violations_test.go
  pkg/processbaseline/processbaseline.go
Labels: area/central, ai-review

#16697 ROX-30579: Configure process baseline auto locking via operator
  operator/api/v1alpha1/securedcluster_types.go
  operator/api/v1alpha1/zz_generated.deepcopy.go
  operator/bundle/manifests/platform.stackrox.io_securedclusters.yaml
  operator/bundle/manifests/rhacs-operator.clusterserviceversion.yaml
  operator/config/crd/bases/platform.stackrox.io_securedclusters.yaml
  operator/config/manifests/bases/rhacs-operator.clusterserviceversion.yaml
  operator/internal/securedcluster/defaults/static.go
  operator/internal/securedcluster/values/translation/translation.go
  operator/internal/securedcluster/values/translation/translation_test.go
Labels: area/central, area/operator

#17010 ROX-30704: Add implementation for Workload Security tab
  ui/apps/platform/src/ConsolePlugin/WorkloadSecurityTab/WorkloadSecurityTab.tsx
  ui/apps/platform/src/ConsolePlugin/hooks/useWorkloadId.ts
Labels: area/ui

#17106 fix(build): Revert "ROX-31023: arm64 support for operator images"
  .github/workflows/build.yaml
  operator/Dockerfile
  operator/Makefile
  scripts/ci/lib.sh
Labels: area/operator, area/ci, ai-review

#16955 ROX-30826: Rename imagev2 sha to digest + Move CVE counts by severity to a nullable struct
  central/graphql/resolvers/gen/main.go
  central/graphql/resolvers/generated.go
  central/graphql/resolvers/images.go
  central/graphql/resolvers/images_v2.go
  central/graphql/resolvers/loaders/images_v2.go
  central/graphql/resolvers/loaders/images_v2_test.go
  central/imagev2/datastore/datastore_impl.go
  central/imagev2/datastore/datastore_impl_test.go
  central/imagev2/datastore/datastore_sac_test.go
  central/imagev2/datastore/fixable_test.go
  central/imagev2/datastore/store/common/parts_test.go
  central/imagev2/datastore/store/postgres/store.go
  central/imagev2/datastore/store/postgres/store_test.go
  central/views/images/view_test.go
  generated/storage/image_v2.pb.go
  generated/storage/image_v2_vtproto.pb.go
  pkg/fixtures/graph.go
  pkg/fixtures/image_v2.go
  pkg/images/enricher/enricher_v2_impl.go
  pkg/images/enricher/enricher_v2_impl_test.go
  pkg/images/utils/convert_utils.go
  pkg/images/utils/test/convert_utils_test.go
  pkg/images/utils/test/utils_test.go
  pkg/images/utils/utils.go
  pkg/postgres/schema/images_v2.go
  proto/storage/image_v2.proto
  proto/storage/proto.lock
Labels: area/central, area/postgres

#17080 chore(ui): Update policy lifecycle descriptions
  ui/apps/platform/src/Containers/Policies/Wizard/Step2/PolicyBehaviorForm.tsx
Labels: area/ui

#17032 ROX-31079: Reduce OOM kills in Konflux pipelines
  .tekton/central-db-build.yaml
  .tekton/main-build.yaml
  .tekton/operator-build.yaml
  .tekton/operator-bundle-build.yaml
  .tekton/roxctl-build.yaml
  .tekton/scanner-v4-build.yaml
  .tekton/scanner-v4-db-build.yaml
Labels: konflux-build, backport release-4.6, backport release-4.7, backport release-4.8

#17101 ROX-31100: Replace absolute path to same Containers subfolder
  ui/apps/platform/eslint-plugins/pluginLimited.js
  ui/apps/platform/eslint.config.js
  ui/apps/platform/src/Containers/ConfigManagement/ConfigMgmt.utils.ts
  ui/apps/platform/src/Containers/ConfigManagement/Entity.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntityCluster.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntityImage.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntityNamespace.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntityNode.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntityRole.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntitySecret.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntityServiceAccount.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/ConfigManagementEntitySubject.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/Deployment/ConfigManagementEntityDeployment.jsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/Deployment/DeploymentFindings.tsx
  ui/apps/platform/src/Containers/ConfigManagement/Entity/Policy/DeploymentViolations.jsx
  ui/apps/platform/src/Containers/ConfigManagement/SidePanel/SidePanel.jsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ApiTokenIntegrationForm/ApiTokenIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ArtifactRegistryIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ArtifactoryIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/AwsSecurityHubIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/AzureIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/CloudSourceIntegrations/OcmIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/CloudSourceIntegrations/PaladinCloudIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/DockerIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/EcrIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/EmailIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ExternalBackupIntegrations/GcsIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ExternalBackupIntegrations/S3CompatibleIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/ExternalBackupIntegrations/S3IntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GenericWebhookIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GhcrIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GoogleCloudSccIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/GoogleIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/IbmIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/JiraIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/MachineAccessIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/MicrosoftSentinelIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/NexusIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/QuayIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/RhelIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/IntegrationForm/Forms/SplunkIntegrationForm.tsx
  ui/apps/platform/src/Containers/Integrations/hooks/useIntegrationActions.ts
Labels: area/ui

#17071 fix(processbaseline): evaluator bench test
  central/processbaseline/evaluator/bench_test.go
Labels: area/central

#17008 ROX-30878: Fix compliance test race condition
  qa-tests-backend/src/test/groovy/ComplianceTest.groovy
Labels: auto-retest, ai-review

#17100 add feature flag check for view based report api
  central/reports/service/v2/service_impl.go
  central/reports/service/v2/service_impl_test.go
Labels: area/central

#16969 feat(vm4vm): Restore Virtual Machine Scan data
  central/convert/helpers/conversion_helpers.go
  central/convert/storagetov2/scan.go
  central/convert/storagetov2/scan_test.go
  central/convert/storagetov2/virtual_machine.go
  central/convert/storagetov2/virtual_machine_test.go
  central/convert/storagetov2/vulnerability.go
  central/convert/storagetov2/vulnerability_test.go
  central/convert/v2tostorage/scan.go
  central/convert/v2tostorage/scan_test.go
  central/convert/v2tostorage/vulnerability.go
  central/convert/v2tostorage/vulnerability_test.go
  generated/api/v2/scan_component.pb.go
  generated/api/v2/scan_component_vtproto.pb.go
  generated/api/v2/virtual_machine_service.pb.go
  generated/api/v2/virtual_machine_service.swagger.json
  generated/api/v2/virtual_machine_service_vtproto.pb.go
  generated/api/v2/vulnerability.pb.go
  generated/api/v2/vulnerability_vtproto.pb.go
  generated/storage/virtual_machine.pb.go
  generated/storage/virtual_machine_vtproto.pb.go
  proto/api/v2/scan_component.proto
  proto/api/v2/virtual_machine_service.proto
  proto/api/v2/vulnerability.proto
  proto/storage/proto.lock
  proto/storage/virtual_machine.proto
Labels: area/central, ai-review

#17054 ROX-30527: Virtual Machine CVEs Sorting
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/VirtualMachine/VirtualMachinePageVulnerabilities.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/VirtualMachine/VirtualMachineVulnerabilitiesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/aggregateUtils.ts
  ui/apps/platform/src/Containers/Vulnerabilities/utils/sortFields.ts
Labels: area/ui

#17055 ROX-30526: Virtual Machines Filtering and Pagination
  ui/apps/platform/src/Components/CompoundSearchFilter/attributes/virtualMachine.ts
  ui/apps/platform/src/Containers/Vulnerabilities/VirtualMachineCves/Overview/VirtualMachinesCvesTable.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/searchFilterConfig.ts
  ui/apps/platform/src/services/SearchService.ts
Labels: area/ui

#17126 fix(risk): improve reprocess deployment risk
  central/processbaseline/evaluator/bench_test.go
  central/processbaseline/evaluator/evaluator_impl.go
  central/processbaseline/evaluator/evaluator_integration_test.go
  central/processbaseline/evaluator/evaluator_test.go
  central/processindicator/datastore/datastore.go
  central/processindicator/datastore/datastore_impl.go
  central/processindicator/datastore/mocks/datastore.go
  pkg/search/postgres/select.go
Labels: area/central, area/postgres, auto-retest

#16627 ROX-30729: Add Fact behind a feature flag
  CHANGELOG.md
  FACT_VERSION
  Makefile
  central/clusters/deployer.go
  image/templates/helm/stackrox-secured-cluster/internal/config-shape.yaml
  image/templates/helm/stackrox-secured-cluster/internal/defaults/30-base-config.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/internal/defaults/40-resources.yaml
  image/templates/helm/stackrox-secured-cluster/internal/defaults/50-images.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/internal/expandables.yaml
  image/templates/helm/stackrox-secured-cluster/templates/collector-netpol.yaml.htpl
  image/templates/helm/stackrox-secured-cluster/templates/collector.yaml.htpl
  operator/internal/images/env.go
  operator/internal/securedcluster/values/translation/image_overrides.go
  pkg/env/fact.go
  pkg/features/list.go
  pkg/helm/charts/meta.go
  pkg/images/defaults/flavor.go
  pkg/images/defaults/testutils/flavor.go
  pkg/renderer/kubernetes_helm_test.go
  pkg/version/internal/version_data.go
  pkg/version/testutils/set_version.go
  pkg/version/version.go
  sensor/upgrader/common/bundle_resources_completeness_test.go
  status.sh
Labels: area/central, area/helm, area/operator, area/sensor, ai-review

#17007 fix: buildIndicatorFilter query for deployments
  central/detection/lifecycle/manager_impl.go
  central/pod/datastore/datastore_impl_real_test.go
  central/processindicator/datastore/datastore.go
  central/processindicator/datastore/datastore_impl.go
  central/processindicator/datastore/mocks/datastore.go
  central/processindicator/store/mocks/store.go
  central/processindicator/store/store.go
  central/processlisteningonport/datastore/datastore_impl_test.go
Labels: area/central, auto-retest

#17133 Fix view based report path in api response
  central/reports/service/v2/convert.go
  central/reports/service/v2/download.go
Labels: area/central

#17051 chore(lint): enable exptostd
  .golangci.yml
  central/administration/events/datastore/internal/writer/writer_impl.go
  central/compliance/data/repository_test.go
  central/declarativeconfig/manager_impl.go
  central/declarativeconfig/watch_handler.go
  central/declarativeconfig/watch_handler_test.go
  central/detection/service/service_impl.go
  central/networkgraph/service/service_impl.go
  central/policy/handlers/handler_test.go
  go.mod
  pkg/declarativeconfig/access_scope.go
  pkg/declarativeconfig/auth_machine_to_machine.go
  pkg/declarativeconfig/permission_set.go
  pkg/gjson/modifiers.go
  pkg/printers/sarif.go
  pkg/protoassert/assert.go
  pkg/registrymirror/store.go
  pkg/sliceutils/sort.go
  roxctl/declarativeconfig/create/access_scope.go
  roxctl/declarativeconfig/create/auth_provider.go
  roxctl/declarativeconfig/create/notifier.go
  roxctl/declarativeconfig/create/permission_set.go
  sensor/common/clusterentities/store_container_id.go
  sensor/common/clusterentities/store_endpoints_test.go
  sensor/common/clusterentities/store_ips_test.go
  sensor/common/clusterentities/testing_test.go
  sensor/upgrader/preflight/access.go
Labels: area/roxctl, area/central, area/sensor, auto-retest, ai-review

#17072 ROX-31158: Fix empty Hostname in RequestInfo
  pkg/grpc/requestinfo/requestinfo.go
Labels: area/auth, auto-retest, ai-review

#17108 ROX-30941: Correct 'getDeduperAction' details
  sensor/common/networkflow/updatecomputer/transition_based.go
Labels: area/sensor, ai-review

#17159 chore(declarativeconfig): do not log files names
  central/declarativeconfig/manager_impl.go
Labels: area/central, auto-retest

#17114 ROX-31118: Consistent filter chip display in Vuln Reporting
  ui/apps/platform/src/Containers/Vulnerabilities/VulnerablityReporting/VulnReports/ViewBasedReportJobDetails.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/components/AdvancedFiltersToolbar.tsx
  ui/apps/platform/src/Containers/Vulnerabilities/filterChipDescriptor.ts
  ui/apps/platform/src/Containers/Vulnerabilities/searchFilterConfig.ts
Labels: area/ui, ai-assisted

#17050 ROX-29575: add virtual machine agent
  .github/CODEOWNERS
  .golangci.yml
  compliance/node/index/indexer.go
  compliance/node/index/indexer_test.go
  compliance/virtualmachines/agent/README.md
  compliance/virtualmachines/agent/cmd/cmd.go
  compliance/virtualmachines/agent/common/config.go
  compliance/virtualmachines/agent/index/index.go
  compliance/virtualmachines/agent/main.go
  compliance/virtualmachines/agent/vsock/client.go
  compliance/virtualmachines/agent/vsock/client_test.go
Labels: area/central, area/sensor, area/scanner, area/ci, ai-review
